get_clients.cfg

[comments]
descr=
input=
output=
parents=command.cfg
childs=
testURL=
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=
LOG=ON
tableCfg=table_no
[end]


[report header]
[end]


[item]
$SET_PARAMETERS_GLOBAL encoding_#id#=#encoding#; URL_#id#=#URL#; parameters_#id#=#parameters#; name_#id#=#name#; ip_#id#=#client_ip#; method_#id#=#method#;
#id#: name_#id#=#name#; ip_#id#=#client_ip#; URL_#id#=#URL#; parameters_#id#=#parameters#; encoding_#id#=#encoding#; method_#id#=#method#; <br> ??show=y
$LOG3 #id#: name_#id#=#name#; ip_#id#=#client_ip#; URL_#id#=#URL#; parameters_#id#=#parameters#; encoding_#id#=#encoding#; method_#id#=#method#; <br>
[end]


[report footer]
$CALL_SERVICE c=svs/get_sources;
$CALL_SERVICE c=svs/get_receivers;
$SET_PARAMETERS debug=on; ??show=y
[end]




***************************** Шаблон SQL запроса ***************************
[SQL]
select id, name, client_ip, encoding, URL, parameters, method
from clients
order by id
[end]
