[comments]
descr=S: Получить данные юзера по его ID
input=requested_user_id - ID пользователя, [role_id_only] - только указанная роль, [refresh=y] - брать обновлённые данные из vieq #table_users_full#_v (медленнее)
output=запросы в базу и установка параметров: u_F, u_I, u_O, u_FIO, u_IOF, u_lab_code, u_email, u_phone, u_posts, u_sex, u_login, u_is_deleted, u_roles
parents=
childs=
testURL=?c=svs/get_user_info&requested_user_id=2309;
call=$CALL_SERVICE c=svs/get_user_info; requested_user_id=2309
author=Куняев
[end]

[parameters]
request_name=A:информация о пользователе
tableCfg=table_no
LOG=ON
[end]


[report]
$GET_DATA [get user info]
$SET_PARAMETERS u_roles=;
$LOG2 u_roles=#u_roles#;<br>
[end]

[get user info]
select F as u_F, I as u_I, O as u_O, FIO as u_FIO
, concat(LEFT(I,1),'.',LEFT(O,1),'.',F) as "u_IOF"
, login as u_login, phone as u_phone
from 
#table_users_full# ??!refresh=y
#table_users_full#_v ??refresh=y
where id=#requested_user_id#
;
[end]
