free/main_js_noDB.cfg

[comments]
descr=Собирает общий JavaScript из отдельных js_xxx.dat файлов
[end]

[js]
<script type="text/javascript">
$INCLUDE free/main_js_noDB.cfg[report]
</script>
[end]

http://refresh-sf.com/ - COMPRESSOR!

[js]
<script type="text/javascript">
$INCLUDE free/main_js_noDB.cfg[report]
</script>
[end]


[report]
    var frm;
    var dialogOn = false;
    var infoOn = false;
    var atab="t_myDocs";
    var module="tab_myDocs";
    var timeout_id=false;

    if ($.browser.msie && $.browser.version < 10) ??
    alert($.browser.msie + " : " + $.browser.mozilla + " : " + $.browser.webkit + " : " + $.browser.opera + " : " + $.browser.version); ??

    $INCLUDE free/js_service.dat[log function] 
    $INCLUDE free/js_tabs.dat[report]
    $INCLUDE free/js_forms.dat[report]
    $INCLUDE free/js_jQuery.dat[report]
    $INCLUDE free/js_popup.dat[report]
    $INCLUDE free/js_service.dat[report]
    $INCLUDE free/js_CallModule.dat[report]
[end]


[startup script]
/*=============================== Startup скрипт ============================*/ ??
    $SET_PARAMETERS atab=t_myDocs; module=tab_myDocs;  ??sid|c=main&!AR_ADMIN=1&!AR_LAB_SECR=1

    $SET_PARAMETERS atab=t_audit; module=sys/audit/tab_audit;  ??!sid&AR_ADMIN=1&c=admin/admin
    $SET_PARAMETERS atab=t_monitor; module=admin/tab_monitor;  ??!sid&!c=admin/admin&AR_ADMIN=1|AR_LAB_SECR=1

    $SET_PARAMETERS atab=t_myDocs; ??

    $SET_PARAMETERS atab=t_settings; module=tab_settings; ??chspwd&!AR_ADMIN=1&!AR_LAB_SECR=1
    $SET_PARAMETERS atab=t_settings; module=tab_settings; ??chspwd&AR_ADMIN=1|AR_LAB_SECR=1

    <script type="text/javascript">
        $INCLUDE free/js_service.dat[log function] 

        module="#module#"; 

https://habr.com/company/ruvds/blog/413173/ ??
https://habr.com/company/ruvds/blog/335758/ ??
https://ru.wikipedia.org/wiki/React ??

https://blog.sentry.io/2016/01/04/client-javascript-reporting-window-onerror ??
http://helephant.com/2007/05/12/diy-javascript-stack-trace/  ??


var ErrorHandler=function(message, file, line, col, error){
    try{
        var msg = message + ";\n file=" + file + + "; ajaxRunning=" + ajaxRunning + ";\n line=" + line + "; col=" + col + "; error=" + error;
        if(error) msg = msg + "\n\r" + error.stack; 
        log(1, "ERROR:" + error);
        log(4, msg);
        if(!ajaxRunning) ??
        {
            AjaxCall("", "c=sys/logJSError&message=" + msg, true, "", false); ??
            var data = []; 
            data.push({name:"c", value:"sys/logJSError"}); 
            data.push({name:"message", value:msg}); 
            data.push({name:"ajax", value:"Y"}); 
            var request = $.ajax({ url: "#ServletPath#", type: "POST", data:data, dataType: "html" }); 
        }
        jAlert("ОШИБКА JavaScript!\n\rЕсли ошибка повторяется, нажмите клавишу F5 для сброса."
            + "\n\r" + msg ??USER_ID=2309
        );
    }
    catch(ex){
        log(1, "ERROR:" + ex);   ??USER_ID=2309
        ;
    }

log(2,"console.trace():");
console.trace();

    return true;
}


var ZZZstacktrace=function() { 
  function st2(f) {
    return !f ? [] : 
        st2(f.caller).concat([f.toString().split('(')[0].substring(9) + '(' + f.arguments.join(',') + ')']);
  }
  return st2(arguments.callee.caller);
}


$(function(){ 
    window.onerror = ErrorHandler;

    frm=document.theForm;
    ---------- установка и открытие начальной активной закладки и модуля по умолчанию ------ ??
    atab="#atab#"; 

    alert(atab); ??
    log(1, "atab=" + atab + "; module=" + module + "; chspwd=#chspwd#; key=#key#");  
    ---------- Подготовка и отображение закладок ------ ??
    var t_settings_sav = t_settings;    t_settings = function() {}  ??chspwd
    setTabsClicks("tabs", 0); 
    $("##tabs").show("fold", {}, 200); 

    ----- загрузить контент таба (вызвать нужный модуль) ??
    openTabById(atab);  ??

    AjaxCall('c_settings', 'c=tab_settings&chspwd=#chspwd#&key=#key#');  ??chspwd
    AjaxCall('doc_content', 'c=docs/view_doc&doc_id=#sid#&et=#et#&mode=popup&sid=#sid#');  ??sid

    debugger; ??
 ---- если активный таб 1-й (индекс=0), то вызываем его функцию ??
    if($('##ltabs li').index($('###atab#')) == 0) {
        eval(atab + "();");  ??
        #atab#();
    }
 ---- иначе - делаем клик на anchor таба  ??
    else {
        $("###atab# a").click();  
        $("###atab# a:first-child").click();  ??
    }

    $('##tabs').tabs( "option", "active", $('##ltabs li').index($('##'+atab)) ); ??
  	??!sid&!chspwd
    $("##t_myDocs a:first-child").click();   ??!chspwd&ZZZ
    $("##ui-id-1").click();   ??!chspwd&ZZZ


    t_settings = function() {AjaxCall("c_settings", "c=tab_settings",true,"",true);} ??
    t_settings=t_settings_sav;  ??chspwd

------ Перехват submit формы -------------- ??    
    http://www.sivers.su/perekhvat-submit-a-formy-i-otpravka-dannyh-cherez-ajax.html ??
    $('form').unbind();

    $('form').submit(function(e){
        e.preventDefault();
        var form = jQuery(this);
        form.find("input[type=submit]").attr('disabled', true); ??
        alert("here"); ??
        submitForm(true);
    });

------ Инициализация progressbar-a -------------- ??    
    $( "#progressbar" ).progressbar({  ??
        value: 1  ??
    }); ??

checkSession();
}) 

var LogoutTimeoutId;
var AutosaveTimeoutId;

var checkSession = function(){
    AjaxCall('user_info', 'c=free/checkSession_noDB', true);
    window.setTimeout(checkSession, 5000); ??
    window.setTimeout(checkSession, 300000); //5min.
}

var logout = function() {
AjaxCall('user_info', 'c=free/logout_noDB', true);
}

var autosave = function() {
    log(4, $("##SaveButton").attr("autoSave") == "Y"); ??
    if($("##SaveButton").attr("autoSave") == "Y")
    $("##SaveButton").click();
    LogoutTimeoutId = window.setTimeout(logout, 60000); 
    log(4, "***** SET LogoutTimeoutId = " + LogoutTimeoutId); ??
}

var clearLogoutTimeout = function(){   
    if(AutosaveTimeoutId || LogoutTimeoutId) {
        if(AutosaveTimeoutId) 
            window.clearTimeout(LogoutTimeoutId);
        if(LogoutTimeoutId) 
            window.clearTimeout(LogoutTimeoutId);
//        jAlert("get_user_info! LogoutTimeoutId=" + LogoutTimeoutId,"OK") 
        LogoutTimeoutId = null;
        AutosaveTimeoutId = null;
        AjaxCall('user_info', 'c=svs/get_user_info&show=Y&requested_user_id=#USER_ID#', true);        
    }
}
</script>
[end]


================================================================================
================================================================================
================================================================================
================================================================================
