[parameters]
[end]


[report]
</center>
Копируем бюджетные коды.<br>
Создаем таблицы и вьюхи...
$GET_DATA [dropViews]
$SET_PARAMETERS ERROR=;
$GET_DATA [copyBC]
$GET_DATA [copyPrikaz]
OK ??!ERROR
<b>ERROR:</b> #ERROR# ??ERROR
<p>
[end]



[dropViews]
try: drop view BC_#LY#_#NY#;
try: drop view tree_all_#NY#;
try: drop table budgetcodes_#NY#; ??
try: drop table tree_#NY#; ??
[end]



[copyBC]
try: create table budgetcodes_#NY# as select * from budgetcodes_#LY#
where PRIKAZ_ID is null and  status='A'
;
create unique index ix_bc_code_#NY# on budgetcodes_#NY#(code)
;

create table tree_#NY# as select * from tree_#LY#
where status='A'
;
====== Inactivate folders ========== ??
update tree_#NY# set status='I' where type is null and id>1000
;
create view BC_#LY#_#NY# as
SELECT "ID", "CODE", "PID", "NAME", "NAME_SHORT", "DES", "POSITION", "ROOT_ID", "LAB_CODE", "DIR_CODE", "SBJ_CODE", "DEV_CODE", "STATUS", "MODIFIER_ID", "MODIF_DATE", "RAZD_NR", "PRIKAZ_ID", "PRIKAZ_SN"
from budgetcodes_#NY#
union
SELECT "ID", "CODE", "PID", "NAME", "NAME_SHORT", "DES", "POSITION", "ROOT_ID", "LAB_CODE", "DIR_CODE", "SBJ_CODE", "DEV_CODE", "STATUS", "MODIFIER_ID", "MODIF_DATE", "RAZD_NR", "PRIKAZ_ID", "PRIKAZ_SN"
from budgetcodes_#LY#
where prikaz_id is not null
;

create view tree_all_#NY# as
SELECT ID, CODE, TYPE, PID, LAB_CODE, '' as SBJ_CODE, NAME, NAME_SHORT, DES, POSITION, 0 as ROOT_ID, RAZD_NR, null as PRIKAZ_ID, null as PRIKAZ_SN, STATUS
FROM tree_#NY# union
SELECT ID, CODE, 'BC' as TYPE, PID, LAB_CODE, SBJ_CODE, '' as NAME, NAME_SHORT, DES, POSITION, ROOT_ID, RAZD_NR, PRIKAZ_ID, PRIKAZ_SN, STATUS
FROM budgetcodes_#NY#
;
[end]

[copyPrikaz]
[end]

