[parameters]
service=dubna.walt.service.TableServiceSpecial
[end]


[report header]
--->
Копируем темы...
<table bgcolor=white>
[end]

[report footer]
</table>
>===
[end]


[item]
<tr  bgcolor=white>
<td  bgcolor=white>#KEY#</td>
<td>#CODE1#</td>
<td>#CODE_FULL#</td>
<td>#DIR#</td>
<td>#DES#</td>
<td>#BOSS#</td>
</tr>
$GET_DATA [storeSbj]
$EXECUTE_LOOP lab; #LABS#; [storeLab]
[end]


[preSQLs]
delete from i_subject where YEAR=#f_year#;
delete from i_subj_lab where YEAR=#f_year#;
delete from i_dir where YEAR=#f_year#;
insert into i_dir (CODE, NAME, NAME_FULL, YEAR)
(select CODE, NAME, NAME_FULL, #f_year# 
from i_dir 
where YEAR=#LYEAR#)
[end]


[storeSbj]
select max(key)+1 as "NEW_KEY" from i_subject
;
insert into i_subject (key, CODE1, CODE_FULL, DIR, DES, BOSS
	,YEAR, CLS, MODIFIER_ID, MODIF_DATE)
values (#NEW_KEY#, #CODE1#, '#CODE_FULL#','#DIR#','#DES#','#BOSS#'
 ,#f_year#, 0, 0, SYSDATE)
;
select ','||LAB_CODE as "LABS"
from i_subj_lab
where key=#KEY#
[end]


[storeLab]
$GET_DATA [storeLabSQL]
[end]


[storeLabSQL]
insert into i_subj_lab (KEY, SBJ_CODE, LAB_CODE, YEAR, FINANCE)
( select #NEW_KEY#, SBJ_CODE, #lab#, #f_year#, FINANCE
from i_subj_lab
where LAB_CODE=#lab#
and key=#KEY#)
[end]


[SQL]
select KEY, CODE1, CODE_FULL, DIR, DES, BOSS
from i_subject
where 
CLS=0
and year=#LYEAR#
and key=217 ??
[end]