[parameters]
title=Справочник персонала
debug=off
$INCLUDE common.dat[colors]
[end]

[report]
$INCLUDE common.dat[head]

<body bgcolor=f0f8ff style="margin: 6px;">
<blockquote style="margin-left:50;">
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<input type=hidden name="tab_n" value="#tab_n#">

<TABLE id="mainTable" border=1  width=600 cellSpacing=0 cellPadding=0>
<tr><td>
<TABLE border=0  width=100% cellSpacing=1 cellPadding=5>
<tr><th colspan=2 bgcolor=white>Редактирование справочника персонала</th></tr>

<tr><td nowrap=true class=l2>
Табельный номер:</td><td width=380 class=d_big>
#tab_n#</td></tr>

<tr><td class=l2 nowrap=true>
Фамилия, имя, отчество:</td><td nowrap=true class=d_big>
#F# #IO#</td></tr>

<tr><td class=l2 nowrap=true>
Должность:</td><td class=d_big>
#POST#</td></tr>

<tr><td class=l2 nowrap=true>
Руководитель тем №№:</td><td>
<input size=55 class=xp name="sbj" value='#SBJS#'>
<br><small>(введите список 4-х значных кодов тем, разделенных запятыми)
</td></tr>

<tr><td class=l2 nowrap=true>
Отвеств. за бюджетные коды №№:</td><td>
<input size=55 class=xp name="bc" value='#BCS#'>
<br><small>(введите список 3-х значных бюджетных кодов, разделенных запятыми)
</td></tr>

<tr><td colspan=2 bgcolor=white align=center>
<input type=submit class=but value="Сохранить" onClick="doIt();" > &nbsp;
<input type=button class=but value="Закрыть" onClick="window.close();">

</td></tr></TABLE>
</td></tr></TABLE>
</form>
</blockquote>

<script>

var frm=document.theForm;
window.close(); ??cop=u
window.focus();
window.moveTo(10,10); ??

function doIt()
{ 
  frm.sbj.value=checkField(frm.sbj.value);
  frm.bc.value=checkField(frm.bc.value);
  frm.cop.value="u";
//  alert (frm.cop.value);
  frm.submit();
  return true;
}

function checkField(val)
{ val = val.replace(/ /g,'');
  return val;
}

function pasteBack(tab_n, name)
{ 
  try{ window.opener.pasteResponsible(tab_n, name);
  } catch (e) {}
  window.close();
}

setWindow (document.getElementById("mainTable"), 650); ??
</script>

</body></HTML>
[end]

[preSQLs]
$INCLUDE [update SQL]	??cop=u
;
SELECT tab_n, f, io, post
, to_char(ENTRY_DAT, 'DD.MM.YYYY') as ENTRY_DAT 
 , sbjs, bcs
FROM i_persons
WHERE tab_n='#tab_n#'
[end]

[update SQL]
UPDATE i_persons
SET sbjs='#sbj#', bcs='#bc#'
WHERE tab_n='#tab_n#'
[end]
