[parameters]
title=Справочник персонала
service=dubna.walt.service.TableServiceSimple  ??!tabN&f_search|f_io|f_bc|f_resp=on|tab_n|f_div
access=free
debug=off


tableCfg=table.cfg
table=i_persons
table=dbo.works_all@asu_db ??
table=works_all@adb2_db ??
table=works_all ??

thsnDelimiter=N
$INCLUDE common.dat[colors] ??
[end]


[report]
$INCLUDE [report_] ??logged
[end]


[report_]
$INCLUDE [report header]
$CALL_SERVICE c=info/personCard ??tabN
$INCLUDE [report footer]
[end]

[report header]
$INCLUDE common.dat[head]
<body bgcolor=f0f8ff style="margin: 6px;">
<blockquote style="margin-left:50;">
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="back" value="#back#">
<input type=hidden name="tabN" value="">

<TABLE border=0 cellSpacing=0 cellPadding=0>
<tr><td>
<TABLE border=1 cellSpacing=0 cellPadding=0>
<tr><td>
<TABLE border=0 cellSpacing=1 cellPadding=5>
<tr><th colspan=4 bgcolor=white>Справочник персонала.</th></tr>

<tr><td class=l2 nowrap=true>
Фамилия:</td><td nowrap=true>
<input size=20 class=xp name="f_search" value='#f_search#'>
</td>
<td class=l2 nowrap=true>
Отвеств. за бюджетный код №: 
<input size=4 class=xp name="f_bc" value='#f_bc#'>
</td>
</tr>

<tr><td class=l2 nowrap=true>
Имя или отчество:</td><td nowrap=true>
<input size=20 class=xp name="f_io" value='#f_io#'>
</td>
<td class=l2 nowrap=true align=right>
<input type="checkbox" name="f_resp"
checked ??f_resp=on
>Искать только ответственных за Б.К.
</td></tr>

<tr><td class=l2 nowrap=true>
Подразделение:</td><td nowrap=true>
<select name=f_div>
<option>
<option value="9,10">Дир.,руководство
<option value="6">6: Бухгалтерия
<option value="32">32: УНЦ
<option value="90">90: OPPИ
<option value="100">100: ЛВЭ
<option value="200">200: ЛЯП
<option value="300">300: ЛТФ
<option value="400">400: ЛНФ
<option value="500">500: ЛЯР
<option value="600">600: ЛИТ
<option value="700">700: ЛФЧ
<option value="0">Другое


</td>

<td class=l2 nowrap=true align=right>
<input type="radio" name="uvol" value=""
checked ??!uvol
>НЕ уволенные
<input type="radio" name="uvol" value="y"
checked ??uvol=y
>Уволенные
<input type="radio" name="uvol" value="a"
checked ??uvol=a
>Все
</td></tr>


<tr><td nowrap=true class=l2>
Табельный №:</td><td nowrap=true> <input size=6 class=xp name="tab_n" value="#tab_n#">
</td>
<td class=l2 nowrap=true colspan=2>
</td></tr>

<tr><td colspan=4 bgcolor=white align=center>
<input type=submit class=button value="Искать" > &nbsp; &nbsp;
<input type=button class=button value="Сбросить фильтры" onClick="resetForm();"> &nbsp; &nbsp;
<input type=button class=button value="Закрыть" onClick="window.close();">

</td></tr></TABLE>
</td></tr></TABLE>
</td><td nowrap=true valign=top><br>
Чтобы получить<br> все данные<br>- кликните на нужной<br> <b>фамилии</b> в списке<p> ??NumTableRows&!NumTableRows=0
</td></tr></TABLE>
</form>
</blockquote>
<script>
var frm=document.theForm;
//window.focus();
window.moveTo(10,10); ??
selectOptionByVal(frm.f_div, "#f_div#"); ??f_div
frm.f_search.focus();
function resetForm()
{ frm.f_search.value="";
  frm.f_bc.value="";
  frm.f_io.value="";
  frm.tab_n.value="";
  frm.f_resp.checked=false;
  frm.f_div.options.selectedIndex=0;
  frm.uvol[0].checked=true;
}

function doIt()
{ 
  if (!checkFields()) return false;
  frm.submit();
  return false;
}


function checkFields()
{ if (frm.f_resp.checked) return true;

  var s = frm.f_search.value + frm.f_bc.value + frm.f_io.value + frm.tab_n.value;
  if (s.length > 0) return true;
  s = getSelectedVal(frm.f_div);
  if (s.length > 0) return true;
  alert ("Задайте критерий поиска!");
  return false;
}


function pasteBack(tab_n, name, io)
{ 
  try
  { window.opener.pasteResponsible(tab_n, name, io);
	window.close();
  } catch (e) 
  { frm.tabN.value=tab_n;
  	frm.submit();
  }
}

setWindow (document.getElementById("mainTable"), 650); ??
</script>

[end]

[report footer]
</body></HTML>
[end]


[colNames]
TAB_N=Таб.№
POST=Должность
DATA_START=Начало<br>работы
DATA_END=Окончание<br>работы 
FAM=Фамилия
IO=&nbsp;&nbsp;Имя,&nbsp;отчество&nbsp;&nbsp;
LAB=Подразделение
DIV=Отдел
[end]

[SQL]
$INCLUDE [SQL_]  ??logged
[end]

[SQL_]
SELECT ''''||TAB_N as TAB_N
, '<a href="javascript:pasteBack('''||TAB_N||''','''
    ||trim(initcap(F))||''','''
    ||trim(initcap(I))||' '
    ||trim(initcap(O)) ||''');">'
  || initcap(F) ||'&nbsp;'|| initcap(I)||'&nbsp;'|| initcap(O)||'</a>' as FAM
, initcap(IO) as IO ??
,LAB_CODE || ': '|| LAB as LAB
, decode (DIV, null,' ', DIV_CODE || ': '|| DIV) as DIV
, POST
, to_char(DATA_START, 'dd.mm.yyyy') as DATA_START
, to_char(DATA_END, 'dd.mm.yyyy') as DATA_END ??uvol
	
from #table#
where 
 1=1
 and upper(F) LIKE upper('#f_search#%') ??f_search
 and (upper(I) LIKE upper('%#f_io#%') or upper(O) LIKE upper('%#f_io#%')) ??f_io
 and TAB_N =#tab_n# ??xxxtab_n 
 and TAB_N like '%#tab_n#' ??tab_n

 and LAB_CODE in(#f_div#) ??f_div&!f_div=0
 and LAB_CODE not in(9,10,32,90,100,200,300,400,500,600,700) ??f_div=0

 and UVOL=2 ??!uvol
 and UVOL=1 ??uvol=y

 and TAB_N in (#F_TAB_NS#-1) ??F_TAB_NS
 and TAB_N in (select tab_n from i_resp where bc = '#f_bc#') ??xxxf_bc
 and TAB_N in (select tab_n from i_resp) ??xxxf_resp=on
ORDER BY F, I,O
[end]

[preSQLs]
 select distinct tab_n||',' as F_TAB_NS from i_resp  ??f_resp=on&!f_bc
; 
 select tab_n||',' as F_TAB_NS from i_resp where bc = '#f_bc#' ??f_bc
; 
[end]


[XXXSQL]
SELECT ТАБНОМ
, '<a href="javascript:pasteBack('''||ТАБНОМ||''','''||initcap(ФАМИЛИЯ)||''','''||initcap(ИМЯ)||' '|| initcap(ОТЧЕСТВО) ||''');">'
  || initcap(ФАМИЛИЯ) ||'</a>' as F
, initcap(ИМЯ)||' '|| initcap(ОТЧЕСТВО) as IO
,ПОДРАЗДЕЛЕНИЕ || ': '|| C7 as DIV
, decode (c8, null,' ', ОТДЕЛ || ': '|| C8) as DIV2
, C3
, to_char(НАЧАЛО, 'dd.mm.yyyy') as DATA_START
, to_char(КОНЕЦ, 'dd.mm.yyyy') as DATA_END ??uvol
	
from #table#
where 
 1=1
 and upper(ФАМИЛИЯ) LIKE upper('#f_search#%') ??f_search
 and (upper(ИМЯ) LIKE upper('%#f_io#%') or upper(ОТЧЕСТВО) LIKE upper('%#f_io#%')) ??f_io
 and ТАБНОМ =#tab_n# ??tab_n
 and ТАБНОМ like '%#tab_n#' ??xxxtab_n

 and ПОДРАЗДЕЛЕНИЕ in(#f_div#) ??f_div&!f_div=0
 and ПОДРАЗДЕЛЕНИЕ not in(9,10,32,90,100,200,300,400,500,600,700) ??f_div=0

 and ПРИЗНАК_УВ=2 ??!uvol
 and ПРИЗНАК_УВ=1 ??uvol=y

 and ТАБНОМ in (select tab_n from i_resp where bc = '#f_bc#') ??f_bc
 and ТАБНОМ in (select tab_n from i_resp) ??f_resp=on
ORDER BY ФАМИЛИЯ, ИМЯ, ОТЧЕСТВО
[end]



[preSQLs]
[end]


