[parameters]
service=dubna.walt.service.TableServiceSpecial
tableCfg=this
table_beg=none
wrapperTable=none 
[end]


[item]
<tr bgcolor=FFFFFF> ??FINANCE=0
<tr bgcolor=D8FFD0> ??FINANCE=1
<td align=center>#DIV#</td><td align=center>
<input type=checkbox name=labs value="#CODE#"
checked ??FINANCE
#dis#></td><td align=center><input type=checkbox name=fin value="#CODE#"
checked ??FINANCE=1
#dis#>
FINANCE:#FINANCE#; ??
</td></tr>
[end]


[report header]
$INCLUDE [set labs]	??cop=u&!LAB_LIST=,#labs#|!LAB_FIN=,#fin#
<TABLE border=0 cellSpacing=0 cellPadding=0 >
<tr bgcolor=whitesmoke>
<td colspan=2 align=right bgcolor=white>Участие &nbsp;</td>
<td bgcolor=D8FFD0>Финансирование</td>
</tr>
[end]

[report footer]
</center>
[end]


[preSQLs]
select ','||trim(to_char(lab_code,'000')) as LAB_LIST from i_subj_lab where key=#key# and year=#YEAR# order by lab_code desc; ??!key=0
select ','||trim(to_char(lab_code,'000')) as LAB_FIN from i_subj_lab where key=#key# and finance=1 and year=#YEAR# order by lab_code desc;  ??!key=0
[end]


[set labs]
$GET_DATA [clear labs]
$EXECUTE_LOOP lab_id; #labs#; [processLab]
$GET_DATA [set finance]
[end]

[clear labs]
delete from i_subj_lab where key=#key# 
and lab_code NOT IN('#labs#') ??
;
[end]

[processLab]
lab_id:#lab_id#; ??
$GET_DATA [insertLab]
[end]

[insertLab]
insert into i_subj_lab (KEY,SBJ_CODE,LAB_CODE,YEAR,FINANCE)
values (#key#,'#code1#', #lab_id#, #YEAR#, 0);
$PRINT (#key#,'#code1#', #lab_id#, #YEAR#, 0);
[end]

[set finance]
update i_subj_lab set finance=1 where key=#key# 
and LAB_CODE IN(#fin#)
;
[end]

[SQL]
select l.code, l.div, s.finance
from i_lab l
left ??!target=list
 join i_subj_lab s on l.code=s.lab_code and s.key=#key# 
  and s.YEAR=#YEAR#  ??
where l.budget='Y'
order by l.code
[end]

