[parameters]
title=Темы - справочник
service=dubna.walt.service.TableServiceSpecial  
 ??!tabN&f_search|f_io|f_bc|f_resp=on|tab_n|f_div
access=free
debug=on ??

tableCfg=table.cfg

table_beg=none
wrapperTable=none

thsnDelimiter=N
$INCLUDE common.dat[colors] ??
[end]

[item]
<tr
bgcolor=FFF0E0 ??CLS=1
bgcolor=white  ??!CLS=1
><td align=center>#DIR#</td><td >#CODE1#</td><td align=center><a class=small href="javascript:edit(#REC_KEY#)">#CODE_FULL#</td><td>
$CALL_SERVICE c=info/subjectsLabsList; target=list; key=#REC_KEY# 
</td><td >#DES#</td><td >#BOSS#</td></tr>
[end]



[report header]
$SET_PARAMETERS f_fin=1; f_cls=0; ??!f_fin|!f_cls
$INCLUDE common.dat[head]  ??
<HTML><HEAD><TITLE>#title#</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
<link rel="stylesheet" href="#cssPath#adb.css" type="text/css">
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
</HEAD>

<body bgcolor=f0f0f0 style="margin: 6px;">
<blockquote style="margin-left:150;">
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="back" value="#back#">
<input type=hidden name="tabN" value="">


<TABLE border=0 cellSpacing=0 cellPadding=0>
<tr><td>

<TABLE border=1 cellSpacing=0 cellPadding=5>
<tr><td bgcolor=white align=center><b>Справочник научных тем</b>
</td></tr>

<tr><td bgcolor=f0f4f8>

<TABLE border=0 cellSpacing=1 cellPadding=5 >
<tr><td class=l2 nowrap=true>
Направление:</td><td nowrap=true>
<select name=f_dir onChange="doIt()"><option value="">== ВСЕ ==</option>
#S_DIRS#</select>
</td><td align=right>
<b><i>год: </i></b>
<select name=f_year onChange="doIt()">
$INCLUDE common.dat[years_options]
</select>
</td><td class=l2 nowrap=true></td>
</tr>

<tr><td class=l2 nowrap=true>
Код темы:</td><td nowrap=true>
<input size=4 class=xp name="f_code1" value='#f_code1#'> (nnnn)
</td><td><span style="background-color:white;">
<input type="radio" name="f_cls" value="0" onClick="doIt()"
checked ??f_cls=0|!f_cls
>Открытые</span><span style="background-color:FFE0D0;">
<input type="radio" name="f_cls" value="1" onClick="doIt()"
checked ??f_cls=1
>Закрытые</span>
<input type="radio" name="f_cls" value="a" onClick="doIt()"
checked ??f_cls=a
>Все</td>
</tr>

<tr><td class=l2 nowrap=true>
Лаборатория:</td><td nowrap=true>
<select name=f_div onChange="doIt()"><option value="">== ВСЕ ==</option>#LABS#</select>
</td>
<td class=l2 nowrap=true align=right><span style="background-color:D8FFD0;">
<input type="radio" name="f_fin" value="1" onClick="doIt()"
checked ??f_fin=1|!f_fin
>С финансированием</span><span style="background-color:white">
<input type="radio" name="f_fin" value="0" onClick="doIt()"
checked ??f_fin=0
>Без</span>
<input type="radio" name="f_fin" value="a" onClick="doIt()"
checked ??f_fin=a
>Все
</td>
</tr>

<tr><td nowrap=true class=l2 >
Руководитель:</td><td nowrap=true colspan=2> <input size=36 class=xp name="f_boss" value="#f_boss#">
</td></tr>

<tr><td nowrap=true class=l2 >
Название:</td><td nowrap=true colspan=2> <input size=36 class=xp name="f_des" value="#f_des#">
</td></tr>
</TABLE></td></tr>

<tr><td bgcolor=white align=center>
<input type=submit class=button value="Искать" > &nbsp; &nbsp;
<input type=button class=button value="Сбросить фильтры" onClick="resetForm();"> &nbsp; &nbsp;
<input type=button class=button value="Закрыть" onClick="window.close();">

</td></tr></TABLE>

<td valign=bottom> &nbsp; <i><a href="javascript:edit(0)">Завести новую тему >> </a></i></td> ??USER_GROUP={{.*sys.*}}&f_year=#CURR_YEAR#|f_year=#NEXT_YEAR#
<td valign=bottom> &nbsp; <i><a href="https://adb.jinr.ru/bht3?c=info/importSbj" target=_blank>Экспорт в ВНТ >> </a></i></td>  ??USER_GROUP={{.*sys.*}}&f_year=#CURR_YEAR#|f_year=#NEXT_YEAR#
<td valign=bottom> &nbsp; <i><a href="javascript:newYear()">Happy New Year!</a></td>  ??f_year=#NEXT_YEAR#&g_sys=USER_GROUP
</tr></TABLE>

</form>
</blockquote>

<script>
var frm=document.theForm;
//window.focus();

function newYear()
{ var s="c=info/newYear&f_year=#f_year#";
	openWindow(s, "subjectsEdit", 600,650);
}

function doIt()
{ var sbj = frm.f_code1.value;
	if (sbj.length == 4)
	{ resetForm();
		frm.f_code1.value = sbj;
		frm.f_cls[2].checked=true;
	  frm.f_fin[2].checked=true;
	}
  frm.submit();
  return false;
}

function edit(key)
{ 
  var s="c=info/subjectsEdit&YEAR=#f_year#&f_year=#f_year#&key=" + escape(key);
// 	alert (s);
	openWindow(s, "subjectsEdit", 600,650);
}


selectOptionByVal(frm.f_div, "#f_div#"); ??f_div
selectOptionByVal(frm.f_dir, "#f_dir#"); ??f_dir
selectOptionByVal(frm.f_year, "#f_year#"); ??f_year

function resetForm()
{ frm.f_code1.value="";
  frm.f_boss.value="";
  frm.f_des.value="";
	
  frm.f_div.options.selectedIndex=0;
  frm.f_dir.options.selectedIndex=0;
  frm.f_cls[0].checked=true;
  frm.f_fin[0].checked=true;
}

window.moveTo(10,10); ??
setWindow (document.getElementById("mainTable"), 650); ??
window.focus();
</script>

<TABLE border=0 cellSpacing=0 cellPadding=0 bgcolor=606060>
<tr><td>
<TABLE border=0 cellSpacing=1 cellPadding=5 >
<tr bgcolor=whitesmoke>
<th>&nbsp;Направление&nbsp;</th><th>Код</th><th width=120>Полный&nbsp;шифр</th>
<th>Лаборатории</th><th>Название</th><th>Руководители</th>
</tr>
[end]

[report footer]
</table></table></body></HTML>
[end]


[SQL]
select 
s.KEY as "REC_KEY"
, to_char(s.CODE1,'0000') as CODE1, s.CODE_FULL
, s.DIR||':'||d.name as "DIR"
, s.DES, s.BOSS, s.CLS
from i_subject s 
left join i_dir d on d.code=s.dir and d.year=s.year
where
1=1
and s.year=#f_year# ??f_year
and s.CODE1=#f_code1# ??f_code1
and s.DIR='#f_dir#'	??f_dir
and s.CLS=0 ??f_cls=0
and s.CLS=1 ??f_cls=1
and s.key in (select distinct key from i_subj_lab where finance=1) ??f_fin=1&!f_div
and s.key in (select distinct key from i_subj_lab where finance=0) ??f_fin=0&!f_div
and upper(s.BOSS) like upper('%#f_boss#%') ??f_boss
and upper(s.DES) like upper('%#f_des#%') ??f_des

and s.key in (select key from i_subj_lab where LAB_CODE=#f_div# and finance=#f_fin#)	??f_div&!f_fin=a
and s.key in (select key from i_subj_lab where LAB_CODE=#f_div#)	??f_div&f_fin=a
order by s.dir, s.code1
[end]


[preSQLs]
$SET_PARAMETERS f_year=#CURR_YEAR#	??!f_year
;
select  '<option value="'||code||'">'||code||': '||NAME as S_DIRS 
from i_dir 
where year=#f_year#  ??f_year
where year=#CURR_YEAR#  ??!f_year
order by code;
[end]

