copy2db/c1_put_dog_post.cfg


[comments]
descr=S: Запись в БД 1C договора поставки
input=
output=
parents=
childs=
test_URL=
author=Куняев
[end]


[parameters]
request_name=S:Запись в БД 1C договора поставки
LOG=ON
[end]


[report]
$SET_PARAMETERS table=1C_dog_postavki; ??
$SET_PARAMETERS table=dog_postavki;
$INCLUDE copy2db/c1_get_sources.dat[getSources]
$SET_PARAMETERS COMMENT=#SOURCES#, инициатор: #dealinitiator#;
$SET_PARAMETERS COMMENT=#SOURCES#, комментарий инициатора: #INITIATOR_COMMENT# ??INITIATOR_COMMENT
$USE_DB C1 ??
$GET_DATA [put to DB]
$USE_DB ??
$GET_DATA [set result]
[end]


[set result]
use gateway
;
update queue
set
resultCode=1, result='OK'  ??!ERROR
resultCode=3, result='#ERROR#' ??ERROR
where id=#QUEUE_ID#
[end]

[put to DB]
use C1
;
select 'Y' as "EXISTS", object_id_1c from #table# where global_id=#global_id#
;
$INCLUDE [add record]  ??!EXISTS
$INCLUDE [update record] 
   ??EXISTS&!object_id_1c
[end]


[update record]
update #table# set 
nr = '#DOC_NUMBER#'
, dat=STR_TO_DATE('#DOC_DATE#', '%d.%m.%Y') ??DOC_DATE
, dat=null ??!DOC_DATE

, div_code=#divisions_id# ??divisions_id
, div_code=null  ??!divisions_id
, division='#divisions#'  

, kontragent_code=#kontragent_code#  ??kontragent_code
, kontragent_code=null  ??!kontragent_code
, kontragent_inn='#kontragent_inn#'
, kontragent='#kontragent_text#'  ??kontragent_text
, kontragent='#kontragent#' ??!kontragent_text

, summa_val=#total_sum#, val='#total_sum_curr#'
, val_code=810 ??total_sum_curr=руб.
, val_code=840 ??total_sum_curr=USD
, val_code=978 ??total_sum_curr=EUR
, summa_rub=#total_sum_rub#, summa_usd=#total_sum_usd#

, content='#TITLE#'
, contact='#dealinitiator#' ??
, contact='' 
, comment='#COMMENT#'
, link='https://sed.jinr.ru/sed/dubna?c=docs/view_doc&doc_id=#src_object_id#&mode=ext'
, object='#object#' 
, uploaded=now()
where global_id=#global_id#
[end]

, initiator_code=null
, initiator='#CREATOR#'
, ext_number='#ext_number#', 
, description='#description#'
 object_time=STR_TO_DATE('#MODIFIED#', '%d.%m.%Y %H:%i:%S') 



[add record]
insert into #table# (global_id, id)
values(#global_id#, #src_object_id#);
[end]

object_time, kontragent_code, kontragent, ext_number, title, description
, division_code, division, initiator_code, initiator, summa_val, val, summa_rub
, object, uploaded)
values(#global_id#, STR_TO_DATE('#MODIFIED#', '%d.%m.%Y %H:%i:%S'), null, '#manufacturer#', '#ext_number#', '#TITLE#', '#description#'
, #divisions_id#, '#divisions#', null, '#CREATOR#', #total_sum#, '#total_sum_curr#', #total_sum_rub#
, '#object#', now()
)
[end]

