copy2db/put_schet_ADB.cfg

[comments]
descr=S: Запись в БД приемника счета
input=
output=
parents=
childs=
test_URL=
author=Куняев
[end]


[parameters]
request_name=S:Запись счета
LOG=ON
[end]


[report]
$GET_DATA [put to DB]
[end]


[put to DB]
select 'Y' as "EXISTS", object_id_1c from sed_schet where global_id=#global_id#
;
$INCLUDE [update data]  ??EXISTS&!object_id_1c
$INCLUDE [add data]  ??!EXISTS
[end]


[update data]
update sed_schet set 
 object_time=STR_TO_DATE('#MODIFIED#', '%d.%m.%Y %H:%i:%S')
, kontragent_code=null, kontragent='#manufacturer#', ext_number='#ext_number#', title='#TITLE#', description='#description#'
, division_code=#divisions_id#, division='#divisions#', initiator_code=null, initiator='#CREATOR#'
, summa_val=#total_sum#, val='#total_sum_curr#', summa_rub=#total_sum_rub#
, object='#object#', uploaded=now()
where global_id=#global_id#
[end]


[add data]
insert into sed_schet 
(global_id, object_time, kontragent_code, kontragent, ext_number, title, description
, division_code, division, initiator_code, initiator, summa_val, val, summa_rub
, object, uploaded)
values(#global_id#, STR_TO_DATE('#MODIFIED#', '%d.%m.%Y %H:%i:%S'), null, '#manufacturer#', '#ext_number#', '#TITLE#', '#description#'
, #divisions_id#, '#divisions#', null, '#CREATOR#', #total_sum#, '#total_sum_curr#', #total_sum_rub#
, '#object#', now()
)
[end]
