[parameters]
title=Редактирование справочника мобильных телефонов ??cop=e
title=Добавление новой записи в справочник мобильных телефонов ??cop=i
title=Справочник мобильных телефонов ??!cop
table=mobile ??
table=dbo.mobile@asu_db  ??
table=dbo.mobile
[end]

[report]
$INCLUDE common.dat[head]
<body>

<table class=xp>
 <tr>
  <td>
<form name="theForm" action="" method="post" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="id" value="#id#">
<input type=hidden name="cop" value="">

<table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="FFFFE6">
<tr>
	<th bgcolor=white colspan=2 nowrap=true>
		Новая запись  ??cop=i
		Редактирование записи  ??id
		справочника мобильных телефонов
	</th>
</tr>
 <tr>
  <td width=180 align=right>Регистрационный номер:</td>
  <td>
	  <input class=xp type="text" size=6 name="REGNOM" value="#REGNOM#"> <font color=red size="+1"><b>*</b> </font>
  </td>
 </tr>
 <tr>
	<td align=right>Табельный номер:</td>
	<td>
		<input class=xp type="text"  size=6 name="TABNO" value="#TABNO#" onKeyDown="TABNOcatchKey()">
	</td>
</tr>

<tr>
	<td align=right>
		<a href="javascript:persInfo(frm.FNAME.value,frm.TABNO.value)">Фамилия:</a>
	</td>
	<td>
		<input class=xp type="text"  name="FNAME" value="#FNAME#" onKeyDown="FNAMEcatchKey()">
		<font color=red size="+1"><b>*</b> </font>
	</td>
</tr>
 <tr>
	<td align=right>Имя, отчество:</td>
	<td>
		<input class=xp size=30 type="text"  name="IO" value="#IO#" onKeyDown="TABNOcatchKey()">
	</td>
</tr>

<tr>
	<td align=right>Телефонный номер:</td>
	<td>
		<input class=xp type="text" name="TEL_NOMER" value="#TEL_NOMER#"><font color=red size="+1"> <b>*</b> </font>
	</td>
</tr>

<tr>
	<td align=right nowrap=true>Источник финансирования:</td>
	<td><input class=xp size=30 type="text"  name="IST_FIN" value="#IST_FIN#"></td>
</tr>
<tr>
	<td align=right>Дата регистрации:</td>
	<td>
$INCLUDE common.dat[dat] param: fd_name=DATA_REG; fd_val=#DATA_REG#; 
 	</td>
</tr>
<tr>
	<td align=right>Комментарий:</td>
	<td>	
		<input class=xp  size=30 type="text"  name="COMM" value="#COMM#">
	</td>
</tr>
<tr bgcolor=white align=center>
	<td colspan=2>
		<input class=button type="button" value="Сохранить" onClick="frmSubmit();">&nbsp; &nbsp;
		<input class=button type="button" value="Закрыть" onClick="window.close();">
	</td>
</tr>
</table>
</form>
<center>Поля, отмеченные звездочкой <font color="red"><b>*</b></font> обязательны для заполнения!</center>
</td>
 </tr>
</table>
<script language="JavaScript">
var frm=document.theForm;

 frm.cop.value="u"; ??cop=e
 frm.cop.value="a"; ??cop=i

frm.DATA_REG.value="#TODAY#"; ??!DATA_REG
function frmSubmit()
{
if ((frm.REGNOM.value.length<1)||(frm.FNAME.value.length<1)||(frm.TEL_NOMER.value.length<1)){
alert('Поля <РЕГИСТРАЦИОННЫЙ НОМЕР>, <ФАМИЛИЯ>, <ТЕЛЕФОН> должны быть заполнены!');
}
else
frm.submit();
}




function  TABNOcatchKey()
{
var k=event.keyCode;
if(k==13){
var p=frm.FNAME.value;
var tn=frm.TABNO.value;
persInfo(p,tn);
}
}

function  FNAMEcatchKey()
{
var k=event.keyCode;
if(k==13){
var p=frm.FNAME.value;
tn=frm.TABNO.value;
persInfo(p,tn);
}
}

function persInfo(p,tn)
{ 
//  if (pers.length > 1 || tab_n.length > 1) bc = "";
 pers =p;
  openWindow("c=info/persons&back=y&f_search=" + pers+ "&tab_n="+ tn, 'i_persons', 750, 550);
}


function pasteResponsible(tab_n, name,i_o)
{ 
  frm.FNAME.value=name;
  frm.TABNO.value=tab_n;
  frm.IO.value=i_o;
}

function theEnd()
{ try { window.opener.refr();}
  catch(e) {}
  window.close();
}
theEnd(); ??cop=u
theEnd(); ??cop=a
</script>
</body>
[end]

[preSQLs]
select max(regnom)+1 as REGNOM, to_char(SYSDATE, 'DD.MM.YYYY') as DATA_REG  FROM #table# ??cop=i
;
$INCLUDE [add SQL] ??cop=a
;
$INCLUDE [update SQL] ??cop=u
;
$INCLUDE [get SQL] ??id
[end]

[get SQL]
SELECT 
REGNOM
,FNAME
,TEL_NOMER
,IST_FIN
,to_char(DATA_REG, 'DD.MM.YYYY') as DATA_REG
,COMM
,TABNO
,IO
 FROM #table#
WHERE id=#id#
[end]

[add SQL]
select nvl(max(id),0)+1 as NEW_ID from #table#
;
insert into #table# (id, fname,regnom,tel_nomer,ist_fin,comm,data_reg,io,tabno)
values(#NEW_ID#,'#FNAME#','#REGNOM#','#TEL_NOMER#','#IST_FIN#','#COMM#'
,to_date('#DATA_REG#', 'DD.MM.YYYY')
,'#IO#'
,#TABNO#) ??TABNO
,NULL) ??!TABNO
;
[end]

[update SQL]
UPDATE #table#
SET fname='#FNAME#'
	,io='#IO#'
	, tabno='#TABNO#'
	,comm='#COMM#'
	,ist_fin='#IST_FIN#',tel_nomer='#TEL_NOMER#'
	,regnom='#REGNOM#'
	,data_reg=to_date('#DATA_REG#', 'DD.MM.YYYY')
WHERE id=#id#
[end]
