tab_personal_table.cfg

[comments]
    descr=Таб "Шкала повышения зарплаты"
    input=none
    output=HTML таблица объектов
    parents=tab_gradescale
    childs=
    testURL=?c=tab_gradescale_table
    author:Semashko
[end]

[parameters]
    service=dubna.walt.service.Service
    LOG=ON 
    tableCfg=table_no
[end]

[report]
    $INCLUDE [fill scale values]
    <table class="tlist tgreen" cellspacing=0" border=1>
    
    <tr>
        $JS_BEGIN
            cats.forEach(function(item, i, arr) {
                BT.addParameter("txt",item);
                bt.getCustomSection("","hear cell",out);
            });
        $JS_END

    </tr>
    
[end]


        <th colspawn=6>
            Стажеры и приравненные					
        </th>
        <th colspawn=6>
            МНС и приравненные					
        </th>
        <th colspawn=6>
            НС и приравненные					
        </th>
        <th colspawn=6>
            ВНС и приравненные					
        </th>
        <th colspawn=6>
            ВНС и приравненные					
        </th>
        <th colspawn=6>
            Нач. самостоятельного сектора + приравненные					
        </th>
        <th colspawn=6>
            ГНС + нач. отдела+ приравненные					
        </th>
        <th colspawn=6>
            Нач. отделения + приравненные					
        </th>
        <th colspawn=6>
            Зам. дир. по науке+ приравненные					
        </th>
        <th colspawn=6>
            Директора Лабораторий и приравненные					
        </th>


[head cell]
        <th colspawn=6>
            alert("#txt#");
            #txt#
        </th>
[end]

[fill scale values]
    $JS_BEGIN
        r = dbUtil.getResults("select select cat, base, step from grade_scale from grade_scale order by srt");
        var cats = [];
        var bases = [];
        var steps = [];
        if (r.next()) {
            cats.push(r.getString(2));
            bases.push(r.getString(2));
            steps.push(r.getString(3));
       } else {
           out.println("end")
       };
    $JS_END

[end]

[item]
[end]

[sql]
    
[end]

[report footer]
</tr>
[end]

