[parameters]
service=jinr.adb.evm.ServiceEvmJson
debug=off
KeepLog=true
method=DELETE
[end]

http://ak0211.jinr.ru/adb/adb?c=nica/evm/deleteWBS&ID=1

[report]
$SET_PARAMETERS url=#baseUrl#api/projects/#EVM_PROJECT#/wbs/#ID#;
URL='#url#'<br>
method='#method#'<br>
[end]


[report header]
<br>++++++++++++ DELETE WBS #ID# (#CODE#)  ++++++++++++<br>
[end]



[report footer]
<br>RESP_CODE="#RESP_CODE#"; RESP_MSG="#RESP_MSG#"
$SET_PARAMETERS RESP_CODE=200; ??RESP_CODE=204
$GET_DATA [unregisterEVM] ??RESP_CODE=200
[end]

[unregisterEVM]
delete from nica_evm_load 
where PROJECT='#EVM_PROJECT#' and BASELINE='#baseline#' and DATA_TYPE='WBS' and ID=#ID#
;
[end]

[preSQLs]
select CODE from nica_wbs where id=#ID#; 
 ??ID&!CODE
[end]

