[parameters]
service=jinr.adb.evm.ServiceEvmJson   
debug=off
KeepLog=true
method=PUT
[end]


√–¿‘» »:
http://evm.jinr.ru/pm2-jinr/api/projects/dmitry_test/evmMetrics/chart?periodStartDate=20140101&periodFinishDate=20150101&frequency=MONTH&currency=USD
http://evm.jinr.ru/pm2-jinr/api/projects/nica_1/evmMetrics/chart?periodStartDate=20140101&periodFinishDate=20150101&frequency=MONTH&currency=USD


http://ak0211.jinr.ru/adb/adb?c=nica/evm/putExpenditure&ID=167770 
179263 
180325  

ERROR: RESP_CODE=#RESP_CODE#; RESP_MSG=#RESP_MSG#; 	??!RESP_CODE=200


[report]
$SET_PARAMETERS SUM=0; WU_CODE=; PID=; 
$CALL_SERVICE c=nica/evm/deleteExpenditure  ??LOADED

$GET_DATA [getExpenditure] 
$SET_PARAMETERS WU=21575;  ??ID=166729_ZZZ
<br>------------- putExpenditure π #ID# WU=#WU_CODE# (#WU#, PID=#PID#) ----------- <br> 
$SET_PARAMETERS url=#baseUrl#api/projects/#EVM_PROJECT#/wbs/#PID#/workunits/#WU#/expenditures; ??PID
$SET_PARAMETERS url=Not a WU expenditure! Project ID='#WU#' ; ??!PID
$SET_PARAMETERS url=<B>Zero payment. DOC π #ID# , SUM=#SUM#</B>; ??SUM<1
URL='#url#' ??
method='#method#'<br> ??
$INCLUDE [det] ??ZZZ
[end]

[det]
<xmp>
$INCLUDE [body]
</xmp>
[end]


[body]
{ 
"id": #ID#, 
"refType": "WU", 
"refId": #WU#,
"transactionDate": "#DAT#T00:00Z",
"amount": #SUM#
}
[end]

[report header]

[end]

[report footer]
RESP_CODE=#RESP_CODE#, #RESP_MSG#;  ??SUM>0
$GET_DATA [registerEVM] ??RESP_CODE=200
<br>
[end]

===============================================================================
[ZZZcheckLoaded]
select CODE, PID, to_char(ADDED,'DD.MM.YYYY HH24:MI') as "LOADED"
from nica_evm_load 
where PROJECT='#EVM_PROJECT#' and BASELINE='#baseline#' and DATA_TYPE='EXP' and ID=#ID#
;
[end]


[getExpenditure]
select PROJECT_ID as "WU"
, trim(to_char(SUMMA_USD,'999999999D99')) as "SUM"
, to_char(PAYED,'YYYY-MM-DD') as "DAT"
from docs
where doc_id=#ID#
;
select CODE as WU_CODE, PID from nica_wu where id=#WU#
;
[end]


[registerEVM]
insert into nica_evm_load(PROJECT, BASELINE, DATA_TYPE, ID, CODE, PID, VALUE, ADDED) 
values('#EVM_PROJECT#','#baseline#', 'EXP', #ID#, '#CODE#', #WU#, #SUM#, SYSDATE );
commit;
[end]
