[parameters]
title=Приказы
service=dubna.walt.service.CrossTabService ??!num

debug=on ??

admin=y  ??USER_GROUP={{.*sys.*|.*adm.*}}|uname=puchkova
numDigits=1
wrapperTable=none
wrapperTableEnd=none
tableCfg=table.cfg
$INCLUDE menu.cfg[tables]
[end]


[report]
$INCLUDE [report header]
$CALL_SERVICE c=info/prikaz/prikaz_st_det
#CALL_SERVICE_ERROR#
$INCLUDE [report footer]
[end]


[report header]
$SET_PARAMETERS f_lab=#A_LABS#  ??!f_lab&A_LABS&tt
$GET_DATA [filters SQLs]

$INCLUDE common.dat[head]
<body bgcolor=whitesmoke style="margin: 6px;">
<body bgcolor=f0f8ff style="margin: 6px;"> ??

<form name="theForm" method="POST" enctype="multipart/form-data">
<TABLE border=0 width=95% cellSpacing=0 cellPadding=0>
<tr>
<td align=right valign=top nowrap=true>
<a class=info href="#ServletPath#">Главная</a> ??!prn
</td></tr></TABLE>

<blockquote style="margin-left:120; margin-right:0; margin-top:0;">
<input type=hidden name="c" value="#c#">
<input type=hidden name="back" value="#back#">

<TABLE border=1 bgcolor=f0f8ff cellSpacing=0 cellPadding=0>
<tr><td>
<TABLE border=0 cellSpacing=1 cellPadding=5>
<tr><th colspan=4 bgcolor=white>Приказы - сметы по статьям</th>
</tr>

<tr><td nowrap=true class=l2>
Номер приказа:</td><td>
<input size=4 class=xpc name="num" value='#num#'>
от 
$INCLUDE common.dat[dat] param: fd_name=dat; fd_val=#DAT#; 
</td></tr>

<tr><td class=l2 nowrap=true>
Подразделение:</td><td nowrap=true>
<select name=f_lab>
<option>
<option value="32">32: УНЦ
<option value="90">90: OPPИ
<option value="100">100: ЛВЭ
<option value="200">200: ЛЯП
<option value="300">300: ЛТФ
<option value="400">400: ЛНФ
<option value="500">500: ЛЯР
<option value="600">600: ЛИТ
<option value="700">700: ЛФЧ
<option value="0">Другое
</select>
 Тема: <input size=4 class=xpc name="f_sbj" value='#f_sbj#'>
</td></tr>

<tr><td bgcolor=white></td><td colspan=1 bgcolor=white align=right>
<input type=submit class=button value="Показать" > &nbsp; &nbsp;
<a href="#ServletPath#?c=info/prikaz/prikaz">Список приказов >>&nbsp;&nbsp;</a>  ??!f_lab
<a href="#ServletPath#?c=info/prikaz/prikaz&f_lab=#f_lab#&num=#num#&showBC=on">Список пунктов >>&nbsp;&nbsp;</a>  ??f_lab
</td></tr></TABLE>
</td></tr></TABLE>
</form>

</blockquote>
<script>
var frm=document.theForm;
selectOptionByVal(frm.f_lab, "#f_lab#"); ??f_lab

function showDet(num)
{ frm.num.value=num;
//  frm.c.value="info/prikaz/prikaz_st_det";
//  frm.showBC.checked=true;
  frm.submit();
}


</script>

<blockquote style="margin-left:10;">
<table border=0>
<tr><td bgcolor=white align=right><b><i>
тыс.$ ??!CURR=978
тыс.евро ??CURR=978
&nbsp; </i></b>
</td></tr>
<tr><td>
[end]


[report footer]
</td></tr></table>
</blockquote>
</body></HTML>
[end]


[getId]
SELECT ID FROM #table# WHERE num=#num#
[end]



[filters SQLs]
$INCLUDE [get_IDS_LAB] ??f_lab
$INCLUDE info/prikaz/prikaz.cfg[get_IDS_SBJ] ??f_sbj
[end]

[get_IDS_LAB]
SELECT distinct prikaz_id||',' as IDS_LAB
 , ''||id||',' as BCS_LAB ??num|f_lab

FROM bc
WHERE 
 LAB_CODE in(#f_lab#)  ??!f_lab=0
 LAB_CODE in(32,90,100,200,300,400,500,600,700) ??f_lab=0
and prikaz_id is not null
;
[end]



[SQL_Cross_Values]
select distinct nr||'.<br><small>'||descr, nr
from i_prikaz p, #nsb_table# n, #budget_table# bd,bc b
where 
 b.id=bd.tree_id
 and bd.nsb_id=n.id
 and b.prikaz_id is not null
 and b.PRIKAZ_ID(+)=p.id      
 and n.nr is not null
 and bd.summa > 0.0001
$INCLUDE [criteria] 

order by to_number(nr) 
[end]


[SQL]
SELECT 
 '<a href="javascript:showDet('''||p.num||''')"> '||
   '№'||p.NUM||', '||to_char(p.DAT, 'DD.MM.YY')
   ||'</a> '||p.DES as PRIK
 
 , nr||'.<br><small>'||descr as STATIA
 , sum(bd.summa) as SUM
FROM i_prikaz p, #budget_table# bd, bc b, #nsb_table# n

WHERE 
 n.id = bd.nsb_id
 and n.nr is not null
 and b.PRIKAZ_ID(+)=p.id      
 and bd.tree_id(+)=b.id    
$INCLUDE [criteria] 
group by p.num, p.dat,p.id, p.des, nr, descr
having sum(bd.summa) > 0.
ORDER BY p.num desc, p.DAT desc, to_number(n.nr)
[end]

[criteria]
$INCLUDE [bcs_lab]   ??num|f_lab
 and p.id in      ??f_lab&!f_lab=0
 and p.id not in  ??f_lab=0
$INCLUDE [ids_lab] ??f_lab
 and p.id in (#IDS_SBJ#0)     ??f_sbj
 and p.YR=#q_yr#
[end]

and b.id in (#BCS_LAB#0)  ??BCS_LAB

[bcs_lab]
and b.id in (SELECT distinct id FROM bc WHERE prikaz_id is not null
and LAB_CODE in(#f_lab#)  ??!f_lab=0
and LAB_CODE in(32,90,100,200,300,400,500,600,700) ??f_lab=0
)
[end]

[ids_lab]
(SELECT prikaz_id FROM bc WHERE prikaz_id is not null
and LAB_CODE in(#f_lab#)  ??!f_lab=0
and LAB_CODE in(32,90,100,200,300,400,500,600,700) ??f_lab=0
) 
[end]

[colNames]
PRIK=Приказ
STATIA=Статья
[end]


[ZZZ_criteria]
 and b.id in (#BCS_LAB#0)  ??BCS_LAB
 and p.id in (#IDS_LAB#0)     ??f_lab&!f_lab=0
 and p.id not in (#IDS_LAB#0) ??f_lab=0
 and p.id in (#IDS_SBJ#0)     ??f_sbj
 and p.YR=#q_yr#
[end]
