[parameters]
debug=on ??
$INCLUDE css/css.cfg[parameters]
KeepLog=true
[end]

isPerson=0 - folder
isPerson=1 - person

$SET_PARAMETERS POSITION=#NEW_POS#;  ??cop=c&NEW_POS

[top]
<HTML><body> ??
$INCLUDE common.dat[head]

$INCLUDE common.dat[form] ??
<form name="theForm" method="POST" enctype="multipart/form-data" style="margin:0; padding:0;">
<input type=hidden name=c value="#c#">
<input type=hidden name=v value="#v#">
<input type=hidden name=object_id value="#object_id#">
<input type=hidden name=child_id value="#child_id#">
<input type=hidden name=cop value="">

<input type=hidden name=id value="#id#">
<input type=hidden name=folder_id value="#folder_id#">
[end]

[report]
$INCLUDE [top]	??isPerson=1
$SET_PARAMETERS isPerson=0;  ??!isPerson
<META http-equiv=Content-Type content="text/html;charset=utf-8">
	<LINK REL=STYLESHEET TYPE="text/css" HREF="#ServletPath#?c=css/css_dtree2"> ??
<LINK REL=STYLESHEET TYPE="text/css" HREF="#ServletPath#?c=css/css"> ??
<style>
td.r {background-color:##66cc66}
td.w {background-color:##cc6666}
td.a {background-color:##6666cc}
</style>

<table border=0 ><tr><td><b>Права на просмотр и ввод информации</b><br>
подразделение: <b>#description# ??isPerson=0
сотрудник: <b>#name# #name1# #name2# ??isPerson=1
</b></td><td style="padding-top:10px; padding-bottom:10px; text-align:right;">
$INCLUDE common.dat[butt] param: label=Вернуться; onClick=goBack(); img=edit12.gif;  ??isPerson=1
</td></tr></table>

<input type=hidden name=description value="#description#">
<input type=hidden name=isPerson value="#isPerson#">
<input type=hidden name=name value="#name#">
<input type=hidden name=name1 value="#name1#">
<input type=hidden name=name2 value="#name2#">

<center>
<table border=0 cellpadding=0 cellspacing=0>
<tr><td align=left>
<b>Поиск пользователя ПИН:</b>
</td><td align=left>
Фамилия:</td><td><INPUT class=xp type=text name=f_u_name size=20 value='#f_u_name#'>
</tr></tr>
<tr><td></td><td>
или логин:</td><td><INPUT class=xp type=text name=f_u_login size=20 value='#f_u_login#'>

<br>
$INCLUDE common.dat[butt] param:label=Искать; onClick=doIt(); width=80; ancId=; img=;
</td></tr></table>

$GET_DATA [SelExistUser]
$GET_DATA [SelExistFolderUser]

<table border=0 cellpadding=1 cellspacing=0>
$GET_DATA [SelNewUser] ??cop=userlist&f_u_name|f_u_login
<tr><td colspan=2><b>Нет прав доступа:</b></td></tr>  ??userList
#userList#

<tr><td colspan=2><hr width=95% size=1><td><tr> ??Existname
<tr><td colspan=2><b>Прямые права:</b></td></tr> ??Existname
#Existname#

<tr><td colspan=2><hr width=95% size=1><td><tr>
<tr><td colspan=2><b>Унаследованные права:</b></td></tr>
#ExistFolderUsers#
</table> 

<hr width=95% size=1>
<img src=#imgPath#checkbox_check.jpg width=13 height=13 border=4 style="border-color: ##66cc66">
- Просмотр данных ОК; &nbsp;
<img src=#imgPath#checkbox_check.jpg width=13 height=13 border=4 style="border-color: ##cc6666">
- Занесение; &nbsp;
<img src=#imgPath#checkbox_check.jpg width=13 height=13 border=4 style="border-color: ##6666cc">
- Администрирование; &nbsp;

$INCLUDE common.dat[hidden submit]

<p><p></center>
<iframe id=wrkFrame src="#servletPath#?c=empty.cfg"  align=left width=1 height=1></iframe>
$INCLUDE [JSscript]

</form></body></html>   ??isPerson=1
[end]


[JSscript]
<script language=JavaScript type="text/javascript"><!--
var frm=document.theForm;
 function doIt()
 { 
 	frm.cop.value="userlist";
	frm.submit();
	return true;
 }
var wrkFrame=document.getElementById("wrkFrame");


function usrChanged(id)
{ var right = 0;
	var r = eval("document.theForm.ch_r" + id);
	var w = eval("document.theForm.ch_w" + id);
	var a = eval("document.theForm.ch_a" + id);
	if(r.checked) right = 1;
	if(w.checked) right += 2;
	if(a.checked) right = 7;
	alert("right="+right+",user="+id+",obj=#id#"+",isPerson=#isPerson#"); ??
	wrkFrame.src="#servletPath#?c=users/setAccRights&object_id=#id#&isPerson=#isPerson#&setRight=" + right + "&userid="+ id ;
	alert(wrkFrame.src); ??
	frm.cop.value="userlist"; ??cop=userlist
	frm.submit(); ??
	window.setTimeout("doIt();", 500);
} 

function doEdit()
{ 
	frm.c.value="persons/showPerson"; ??isPerson=1
	frm.submit();
}	

function goBack()
{ 
	frm.c.value="persons/showPerson.cfg"; frm.submit(); ??isPerson=1
}	
--></script>
[end]

================================
[preSQLs]
$INCLUDE folders/editFolder.cfg[folder info] ??!isPerson=1
[end]
description


[SelNewUser]
select 
     concat('<tr><td><table cellpadding=0 cellspacing=0><tr>'
     ,'<td class=r><input type=checkbox name=ch_r', cast(u.id as char), ' onClick="usrChanged(',cast(u.id as char), ')"></td>'
     ,'<td class=w><input type=checkbox name=ch_w', cast(u.id as char), ' onClick="usrChanged(',cast(u.id as char), ')"></td>'
     ,'<td class=a><input type=checkbox name=ch_a', cast(u.id as char), ' onClick="usrChanged(',cast(u.id as char), ')"></td>'
		 '</table></td><td>',u.fname,' ',u.name1,' ',u.name2,', <small> (',ifnull(rb_08.berth,''),' - ',ifnull(tree.name,''),')',
      '</td></tr>') 
as "userList"
$INCLUDE [tables]
where 
	u.id not in (0#DIRECT_USERS#)
	and u.fname like '#f_u_name#%' ??f_u_name
	and u.login like '#f_u_login#%' ??f_u_login
order by 
	u.fname
[end]


[SelExistUser]
select 
     concat('<tr><td><table cellpadding=0 cellspacing=0><tr>'
     ,'<td class=r><input type=checkbox name=ch_r', cast(u.id as char), ' onClick="usrChanged(',cast(u.id as char), ')" ', if(a.rights=1 OR a.rights=3 OR a.rights=5 OR a.rights=7, 'CHECKED', ''), '></td>'
     ,'<td class=w><input type=checkbox name=ch_w', cast(u.id as char), ' onClick="usrChanged(',cast(u.id as char), ')" ', if(a.rights=2 OR a.rights=3 OR a.rights=6 OR a.rights=7, 'CHECKED', ''), '></td>'
     ,'<td class=a><input type=checkbox name=ch_a', cast(u.id as char), ' onClick="usrChanged(',cast(u.id as char), ')" ', if(a.rights=4 OR a.rights=5 OR a.rights=6 OR a.rights=7, 'CHECKED', ''), '></td>'
		 ,'</table></td><td>',u.fname,' ',u.name1,' ',u.name2,', <small> (',ifnull(rb_08.berth,''),' - ',ifnull(tree.name,''),')'
		,'</td></tr>') 
as "Existname"
, concat(',',u.id) as "DIRECT_USERS"
$INCLUDE [tables]
	left join accright a on a.user_id=u.id
where 
	a.user_id is not null
	and a.object_id = #id# ??isPerson=0
	and a.object_id_person = #id# ??isPerson=1
order by a.rights desc,	u.fname
[end]


[SelExistFolderUser]
select 
	concat('<tr><td><table cellpadding=0 cellspacing=0><tr>'
     ,'<td class=r><input type=checkbox disabled ', if(getObjectAccRight(u.id,#id#)=1 , 'CHECKED', '') ,'></td>'
		 ,'<td class=w><input type=checkbox disabled ', if(getObjectAccRight(u.id,#id#)=3, 'CHECKED', '') ,'></td>'
		 ,'<td class=a><input type=checkbox disabled ', if(getObjectAccRight(u.id,#id#)=7, 'CHECKED', '') ,'></td>'
		 ,'</table></td><td>',u.fname,' ',u.name1,' ',u.name2,', <small> (',ifnull(rb_08.berth,''),' - ',ifnull(tree.name,''),')'
     ,'</td></tr>') as "ExistFolderUsers"
$INCLUDE [tables]
	left join accright a on u.id = a.user_id ??
where 
	u.id not in (0#DIRECT_USERS#,6,11065) 
	and getUserAccRight(u.id,#id#) > 0 ??isPerson=1
	and getFolderAccRight(u.id,#id#,1001) > 0 ??!isPerson=1
order by 
	getObjectAccRight(u.id,#id#) desc
	,u.fname
[end]


[tables]
from 
	a_users u
	left join p_persons_post t on (t.id=u.person_id and t.usl_rab in(1,4)) and t.is_deleted !=1
	left join t_tree tree on t.otdel=tree.id
 	left join rb_08 on rb_08.id=t.dolzhnost_1C
	left join rb_08 on rb_08.BERTHCODE=t.dolzhnost ??
[end]