[parameters]
debug=on ??
KeepLog=truef
[end]


[report]
$INCLUDE common.dat[head]
<style>
td {padding:5px;}
td.note {background-color:##FFFFE0; border:solid 1px ##606080;}
</style>
 
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name=c value="#c#">
<input type=hidden name=cop value="">
<input type=hidden name=USERID value="#USERID#">
$INCLUDE [fields]  	??!NotConnected&!USERID
$INCLUDE common.dat[NotConnectedErrMsg]	??NotConnected
$INCLUDE [confirm]  ??USERID

$INCLUDE [logout]  	??cop=logout
</form></body></html>
[end]


[fields]
<script>
var frm = document.theForm;

function doCancel()
{ frm.c.value="login";
  frm.submit();
}

function doCheck()
{ var f = frm.fg_uname.value + frm.fg_name1.value + frm.fg_email.value;
  if (f.length<2) return;
  frm.cop.value="check";
  frm.submit();
}
</script>

<br><br><b><i>Чтобы сменить Ваш пароль в ПИН,<br> Вам необходимо заполнить хотя бы одно из этих полей:</i></b>
<blockquote>

<table border=0 cellpadding=5 width=600>

<tr><td align=right class=big width=1% nowrap=true>
Имя пользователя ПИН: </td><td><input size=25 name=fg_uname value='#fg_uname#' class=xp></td></tr>
<tr><td>&nbsp;</td></tr>

<tr><td align=right class=big nowrap=true>
Или Ваши 
фамилия,<br>имя,<br>отчество  </td><td>
<input size=25 name=fg_fname value='#fg_fname#' class=xp><br>
<input size=25 name=fg_name1 value='#fg_name1#' class=xp><br>
<input size=25 name=fg_name2 value='#fg_name2#' class=xp>
</td></tr>

<tr><td>&nbsp;</td></tr>

<tr><td align=right class=big valign=top nowrap=true>
Или Ваш email,<br>введенный при регистрации в ПИН: </td><td> <br><input size=35 name=fg_email value="#fg_email#" class=xp>
</td></tr>

<tr><td colspan=2 align=center>
$INCLUDE users/forgotPw.cfg[errMsg] ??cop=check&!USERID
</td></tr>

<tr><td colspan=2 align=right><br>
$INCLUDE common.dat[butt] param: label=<< Отмена; onClick=doCancel();  width=100;
&nbsp;
$INCLUDE common.dat[butt] param: label=Продолжить >>; onClick=doCheck();  width=100;

</td></tr>

<tr><td colspan=2 align=right><br>
<a href="#ServletPath#?c=info/forgot" target=_blank>
<img src="#imgPath#question.gif" border=0 width=12 height=16> Помощь >></a>
</td></tr></table>
[end]

[errMsg]
<img src="#imgPath#alert.gif"> <b>Ошибка - пользователь не найден.</b><br> Проверьте введенные Вами данные.
[end]


[confirm]
<script>
var frm = document.theForm;

function doReset()
{ 
  frm.c.value="users/forgotPw2";
  frm.submit();
}

function doBack()
{ frm.cop.value="";
  frm.USERID.value="";
  frm.fg_uname.value="";
  frm.fg_fname.value="";
  frm.fg_name1.value="";
  frm.fg_name2.value="";
  frm.fg_email.value="";
  frm.submit();
}

</script>

<input type=hidden name=fg_uname value='#fg_uname#'>
<input type=hidden name=fg_fname value='#fg_fname#'>
<input type=hidden name=fg_name1 value='#fg_name1#'>
<input type=hidden name=fg_name2 value='#fg_name2#'>
<input type=hidden name=fg_email value="#fg_email#">

<br><br><b><i>Найден пользователь ПИН:</i></b>
<blockquote>

<table border=0 width=600>

<tr><td align=right>Имя пользователя: </td><td class=big>#fg_uname#</td></tr>
<tr><td align=right>ФИО: </td><td class=big>#fg_name1# #fg_name2# #fg_fname#</td></tr>
<tr><td align=right>email: </td><td class=big>#fg_email#</td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td colspan=2 class=note align=center><i>
Если это Вы и Вы хотите сменить Ваш пароль в ПИН -<br> нажмите "Продолжить". Вам будет выслан email  ??fg_email
Для этого пользователя email не был задан.<br>Автоматическое восстановление пароля невозможно.<br>Обратитесь к администратору ПИН ??!fg_email
</i></td></tr>

<tr><td colspan=2 align=right><br>
$INCLUDE common.dat[butt] param: label=<< Назад; onClick=doBack();  width=100;
&nbsp;
$INCLUDE common.dat[butt] param: label=Продолжить >>; onClick=doReset();  width=100;  ??fg_email

</td></tr></table>
[end]

[preSQLs]
$INCLUDE [getUserSQL] ??cop=check&UID|fg_uname|fg_email|fg_name1&fg_fname
[end]


[getUserSQL]
select vu.id as USERID
, vu.login as "fg_uname"
, vu.email as "fg_email"
, vu.name1 as "fg_name1"
, vu.name2 as "fg_name2"
, vu.fname as "fg_fname"
from a_users vu
where 
1=1
and vu.login='#fg_uname#'   ??fg_uname
and vu.email='#fg_email#'  	??fg_email
and vu.name1='#fg_name1#'   ??fg_name1
and vu.name2='#fg_name2#' 	??fg_name2
and vu.fname='#fg_fname#'  	??fg_fname
and vu.id=#UID#		??UID
limit 1
;
[end]
