[parameters]
KeepLog=truef
[end]


[report]
$INCLUDE common.dat[head]
<script>
function goBack()
{
	try {top.login(); }
	catch (e) {top.window.close();}
}
</script>
<blockquote style="margin:80px;">
<form name="theForm" method="POST" enctype="multipart/form-data" >
<input type=hidden name=c value="#c#">

$INCLUDE [sendMail] ??!ERROR
$INCLUDE [errMsg]  	??ERROR

<br><center>
$INCLUDE common.dat[butt] param: label=Закрыть; onClick=goBack();  width=80;
</center>
</form></body></blockquote></html>
[end]


[sendMail]
$SET_PARAMETERS mailTo=#fg_email#
$CALL_SERVICE c=users/forgotPw3
[end]


[errMsg]
<img src="#imgPath#alert.gif"> <b>Системная ошибка.</b><br>
Пожалуйста, обратитесь к администратору ПИН<br><br>
<br><small>
#ERROR#</small><br><br>
[end]


[preSQLs]
try: select max(id)+1 as NEW_ID from resetpassword
;
$SET_PARAMETERS NEW_ID=1	??!NEW_ID
;
try: select right(MD5('#tm#'),40) as "REQUEST_KEY"
, DATE_FORMAT(DATE_ADD(now(), interval 1 HOUR),'#dateTimeFormat#') as "VALID_TIME"
;
try: insert into resetpassword (id, user_id, date, requestor_ip, hash)
values (#NEW_ID#, #USERID#, now(), '#ClientIP#', '#REQUEST_KEY#')
;
[end]

