[parameters]
KeepLog=truef
mark=<img src="#imgPath#tree/bullet_r1.gif" width=7 height=12>
space=<tr><td align=left colspan=2>&nbsp;</td></tr> 

debug=on ??
ALLOW_SEIF_REG=
$INCLUDE css/css.cfg[parameters]
[end]

[report]
$INCLUDE common.dat[head]
</head>

<body class=persInfo_ style="margin:10">

$INCLUDE common.dat[form]
<input type=hidden name=vd value="#vd#">
<input type=hidden name=id value="#id#">  ??id
<input type=hidden name=person_id value="#person_id#">
$INCLUDE [doLogin] ??cop=s&!ERROR&NumLogins=0

<table border=0 width=95%><tr><td style="padding-top:10px; padding-bottom:10px; text-align:right;">
$INCLUDE common.dat[butt] param: label=Вернуться в список; onClick=top.showPopup(false);   img=table1.gif; ??
</td></tr></table>

<br><br><center>

<table border=0 cellspacing=10 cellpadding=10 bgcolor=white class=xp>
<tr><td align=left colspan=2 class=big>
<span class=rb style="background-color:white; "><b><i>#name# #name1# #name2#</i></b>&nbsp;</span><br>
</td></tr>

<tr><td align=right width=160><b>Дата рождения:</b> </td><td class=big>#DATA_ROZHD#</td></tr> ??

<tr><td align=right>
<b>Должности:</b> </td>
<td class=big>#DOLZHN#</td></tr>
</table>
</center>

$INCLUDE [newLogin]  		??NumExists=0|NumLogins=1
$INCLUDE [LoginExists] 	??NumExists&!NumExists=0
#ERROR# ??debug=on
</center>

<script>
var frm = document.theForm;

var d_data = document.getElementById("obj_data");
var d_head = document.getElementById("obj_head");

function resetPass()
{ top.loadFrame("popup", "#ServletPath#?c=users/forgotPw&cop=check&UID=#UID#");
}

function doSaveNewLogin()
{ if (!checkTextField(frm.newLogin, 1, " \"login\"")) return;
  if (!checkTextField(frm.newPW, 4, " \"пароль\"")) return;
  if (!checkTextField(frm.newEmail, 1, " \"Email\"")) return; ??
  if (frm.newPW.value != frm.newPW2.value)
	{ alert ("Пароль не подтвержден");
		return;
	}
	frm.cop.value="s";
  frm.submit();
  return;
}
</script>

</form>
</body></html>
[end]

??!ALLOW_SEIF_REG

[dataExist]
$GET_DATA [getAdmins]
<blockquote>
<BR><b>
С 01.04.2008 саморегистрация в ПИН прекращена</b><br>  ??!USER_ROLE={{GA|SA}}
в ПИН уже заведено #NUM_EVENTS# записей</b><BR> <BR> ??
Поэтому завести учетную запись может только администратор: <BR>
<blockquote>#ADMINS#</blockquote></blockquote>
#ADM_RIGHTS# ??debug=on
[end]

[UNameExists]
<tr><td colspan=3>
<b>Учетная запись уже существует!</b>
Выберите другое имя пользователя / пароль 
</td></tr>
[end]

[LoginExists]
<BR><b>Учетная запись уже существует!</b><BR> <BR> 
$INCLUDE [editUser] ??USER_ROLE={{GA|SA}}
$INCLUDE [resetLogin] ??!USER_ROLE={{GA|SA}}
[end]

[resetLogin]
Если вы забыли пароль - нажмите кнопку &nbsp;
$INCLUDE common.dat[butt] param: label=Сбросить пароль; onClick=resetPass(); img=del_cross.gif;
[end]

[editUser]
$INCLUDE common.dat[butt] param: label=Изменить; onClick=editUser(); img=edit12.gif;
<script>
function editUser()
{ top.loadFrame("popup", "#ServletPath#?c=users/editUser&UID=#UID#");
}
</script>
[end]


[newLogin]
$INCLUDE [newLoginForm] ??USER_ROLE=GA|USER_ROLE=SA
$INCLUDE [dataExist]  ??!USER_ROLE=GA&!USER_ROLE=SA
[end]

[newLoginForm]
<BR>
<img src="#imgPath#member_big.gif" width=24 height=24 border=0>
<span class=rbw><b>&nbsp;Заведение учетной записи пользователя ПИН:</b>&nbsp;</span>
<BR><BR>
<center>
<table border=0>
<tr><td align=right>Введите login:</td><td><input size=20 name=newLogin value="#newLogin#"></td></tr>
<tr><td align=right>Введите пароль:</td><td><input type=password size=20 name=newPW value=""></td><td>(не менее 4-х символов)</td></tr>
<tr><td align=right>Подтверждение пароля:</td><td><input type=password size=20 name=newPW2 value=""></td></tr>
<tr><td align=right>Введите email <BR>(для восстановления забытых паролей):</td><td><input size=20 name=newEmail value="#newEmail#"></td></tr>
$INCLUDE [UNameExists]	??NumLogins=1
<tr><td></td><td align=right>
$INCLUDE common.dat[butt] param: label=OK; onClick=doSaveNewLogin(); width=80;  img=checked_small.gif;
</td></tr>
</table></center>
[end]


[doLogin]
<input type=hidden name=UNAME value='#newLogin#'>
<input type=hidden name=PWU value='#newPW#'>
<script>
var frm = document.theForm;
	frm.c.value="login";
	frm.submit();
</script>
[end]

============================== SQLs ========================

[preSQLs]
$INCLUDE [getPersonInfo] ??person_id
select count(*) as "NumLogins" from a_users where login='#newLogin#' and pwu='#newPW#' ??newLogin&newPW
;
$INCLUDE [saveNewLogin]	??cop=s&NumLogins=0
$INCLUDE [checkLogin] ??!cop=s
[end]

[checkLogin]
select 0 as "NumExists" from a_users where person_id=#person_id#; ??
select count(*) as "NumExists" from a_users where person_id=#person_id#;
[end]


[saveNewLogin]
insert into a_users (person_id, fname, name1, name2, login, pwu, role, email)
 (select #person_id#, name, name1, name2, '#newLogin#', '#newPW#', 'U', '#newEmail#'
 from p_persons where id=#person_id#)
[end]

[getPersonInfo]
select p.name as "name", p.name1 as "name1", p.name2 as "name2", p.phone_wrk as "phone", p.email as "email", p.www as "www", p.building as "building", p.room as "room"
, p.comments as "comments"
, p.modifier_id, p.modified ??
, DATE_FORMAT(p.data_rozhd,'#dateFormat#') as "DATA_ROZHD"
, rb_04.NAME as "OBRAZ", rb_07.NAME as "SPEC", DATE_FORMAT(p.data_ob,'#dateFormat#') as "DATA_OB"
, rb_34.NAME as "STEPEN", rb_16.NAME as "OTRASL_N", DATE_FORMAT(p.data_zash,'#dateFormat#') as "DATA_ZASH"
, rb_36.NAME as "UCH_ZVANIE", rb_35.NAME as "UZK_SPEC", DATE_FORMAT(p.data_uch_zv,'#dateFormat#') as "DATA_UCH_ZV"
from p_persons p 
	left join rb_04 on rb_04.code=p.obrazovanie		
	left join rb_07 on rb_07.code=p.spec		
	left join rb_34 on rb_34.code=p.uch_stepen		
	left join rb_16 on rb_16.code=p.otrasl_n		
	left join rb_36 on rb_36.code=p.uch_zvanie
	left join rb_35 on rb_35.code=p.uzkaja_spec		
where p.id=#person_id#
;
select id as "UID" from a_users where person_id=#person_id#
;
select 
concat('- ',case when length(o1.description) > 1 then concat(o1.description,', ') else '' end
	,o.description,', <br><b>', rb_08.BERTH
	,'</b>, <small>',IFNULL(DATE_FORMAT(t.data_d,'#dateFormat#'),'')
	,'<br>/',lcase(rb_38.NAME),', ', rb_31.NAME,' /' ??
	,'</small><br> <br>'
	) as "DOLZHN"

, lcase(rb_38.NAME) as "TIP_D"
, concat(rb_31.NAME,', <small>'
		,IFNULL(DATE_FORMAT(t.nachalo,'#dateFormat#'),'.')
		,'-',IFNULL(DATE_FORMAT(t.konec,'#dateFormat#'),'.')) as "USL"
, usl_rab, dolzhnost ??
, nachalo, konec ??
from p_persons_post t
 left join t_tree o on t.otdel=o.id
 left join t_tree o1 on o1.id=o.pid
 	left join rb_08 on rb_08.id=t.dolzhnost_1C
	left join rb_08 on rb_08.BERTHCODE=t.dolzhnost ??
 left join rb_31 on rb_31.code=t.usl_rab
 left join rb_38 on rb_38.code=t.tip_dejat
where 
t.id=#person_id#
and t.is_deleted != 1
;
[end]

select numEvents as "NUM_EVENTS" ??xxx&!ALLOW_SEIF_REG
select null as "NUM_EVENTS" ??ALLOW_SEIF_REG
from p_persons
where id=#person_id# and numEvents>0
;


[getAdmins]
select 
concat(u.name1,' ',u.name2,' ',u.fname,
', <a href="mailto:',u.email,'">',u.email,'</a>, ',ifnull(ph.phone_work,'-'),'<br>') as "ADMINS"
, concat( getObjectAccRight(u.id,#person_id#),', ') as "ADM_RIGHTS"
 from a_users u left join p_persons_post p on p.id=u.person_id
	left join p_phone ph on ph.TabNo=p.tabnom
where 
(role='GA'  ) and
 not role='SA' and 
 not u.id=10013 and
 p.is_deleted != 1 and
getObjectAccRight(u.id,#person_id#) > 3
order by u.id desc, u.fname
;
[end]