[parameters]
service=dubna.walt.service.TableServiceSimple ??cop
td_beg=<td ??
pList=[<a class=location href="javascript:goToPage(#pageNr#)">&nbsp;#pageNr#&nbsp;</a>]  ??!currPage
pList=<b>[<span class=page>#pageNr#</span>]</b>  ??currPage
KeepLog=truef
debug=on ??
DB=MySQL
[end]


[report]
$INCLUDE [report header]
$INCLUDE [report footer]
[end]


[report header]

$INCLUDE common.dat[header]
<input type=hidden name=cop value="list">
<input type=hidden name=person_id value="">
<input type=hidden name=srn value="#srn#">

<BR><BR>

<span class=rbw><b>&nbsp;Пользователи ПИН: </b></span>

<center>
<table border=0 cellpadding="5" cellspacing="0" >

<TR><TD><TD></TR>
<TR><TD align=right nowrap=true>Фамилия:</TD>
<TD><INPUT class=xp type=text name=f_name size=32 value='#f_name#'> </TD>

<td rowspan=4>
$INCLUDE common.dat[butt] param: label=Искать; onClick=doIt();  img=checked_small.gif; width=90;
<br><br>
$INCLUDE common.dat[butt] param: label=Сбросить; onClick=resetForm(); img=del_cross.gif; width=90;
<br><br>
$INCLUDE common.dat[butt] param: label=Новый; onClick=doNew(); img=del_cross.gif; width=90;
</TR>

<TR><TD align=right nowrap=true>Имя:</TD>
<TD><INPUT class=xp type=text name=f_name1 size=32 value='#f_name1#'></TD></TR>

<TR><TD align=right>Отчество: </TD>
<TD ><INPUT class=xp type=text name="f_name2" size=32 value='#f_name2#'></TD></TR>

<TR><TD align=right>Login: </TD>
<TD ><INPUT class=xp type=text name="f_login" size=32 value='#f_login#'></TD></TR>

<TR><TD align=right>ID: </TD>
<TD ><INPUT class=xp type=text name="f_id" size=32 value='#f_id#'></TD></TR>



<TR><TD align=right>Лаборатория:</TD><TD ><select name="f_work_place"><option value=""></option>#LabNames#<option value="-1">Другое</option></select> </TD></TR> 

$GET_DATA persons/list_#DB#.dat[tip_dejat]  ??!TIP_DEJAT_LIST
	<TR><TD align=right>Вид деятельности: </B></TD><TD >
		<select name=f_tip_dejat><option value="">Любой #TIP_DEJAT_LIST#
		</select>
		</TD></TR>

<TR><TD align=right></TD><TD>
<input type=checkbox name=AR_ONLY
checked	??AR_ONLY=on
> только с доп.правами

<input type=checkbox name=showAR 
checked	??showAR=on|AR_ONLY=on
> показать права доступа</TD></TR> 
</table>
</center>
<p>

<script>
var frm=document.theForm;
var f_menu = null;

try {f_menu = top.frames["TREE"].window; } catch (e) {}

selectOptionByVal(frm.f_work_place, "#f_work_place#"); ??f_work_place
selectOptionByVal(document.theForm.f_tip_dejat, "#f_tip_dejat#"); ??f_tip_dejat
selectOptionByVal(document.theForm.f_usl_rab, "#f_usl_rab#"); ??f_usl_rab

function editUser(id)
{ top.loadFrame("popup", "#ServletPath#?c=users/editUser&UID=" + id);
}

function doNew()
{ top.loadFrame("detail", "#ServletPath#?c=users/list&admin=y");
}

function doIt()
{ 
	frm.c.value="#c#"; ??
	frm.cop.value="search";
	frm.submit();
	return true;
}

function resetForm()
{ for (var i=0; i < frm.elements.length; i++)
	{ if (frm.elements[i].name.indexOf("f_") == 0)
		{ // alert (frm.elements[i].name + ":" + frm.elements[i].type);
			if (frm.elements[i].type == "text")
				frm.elements[i].value="";
			if (frm.elements[i].type == "radio")
				eval ("frm." + frm.elements[i].name + "[0].checked=true;");
			if (frm.elements[i].type.indexOf("select") == 0)
				frm.elements[i].options[0].selected=true;
		}
	}
}

function doSearch(name, anywhere)
{ top.loadFrame("detail", "#ServletPath#?c=folders/showSubdivisions&modeSearch=Y&f_searchArea=2&f_name=" + name);
}

function gotoObject(id)
{ f_menu.reloadMenu(id, true);
}

function showPerson(id)
{ top.loadFrame("popup", "#ServletPath#?c=persons/showPerson&folder_id=0&id=" + id);
}
</script>

[end]

  
[report footer]
$INCLUDE common.dat[hidden submit]
Всего:#NumTableRows#
</form>
</body></html>
[end]


[preSQLs]
$SET_PARAMETERS rpp=3000;
$SET_PARAMETERS srn=1;

select getSubfolders(#f_work_place#) as "listOfChildren"; ??f_work_place&!f_work_place=-1
select getSubfolders(9994000) as "listOfChildren"; ??f_work_place=-1
$INCLUDE [lablist] 
$INCLUDE [countSQL] ??
[end]


[lablist]
select concat('<option value="',cast(t_tree.id as char),'">',t_tree.name,'</option>') as "LabNames" from t_tree where pid=9994000
;
[end]

Id person_id

[countSQL]
select count(*) as "TOT_NUM_RECORDS_"
$INCLUDE [criteria]
[end]

[SQL]
select 
concat( ' <a href="javascript:editUser(',cast(u.id as char),')">'
 ,case role when 'U' then '<img src="#imgPath#cb_green.gif"'
	 when 'GA' then '<img src="#imgPath#cb_red.gif"'
	 when 'SA' then '<img src="#imgPath#cb_blue.gif"'
	 else role 
 end
 , ' border=0 width=21 height=21> '
 , u.fname,' ', u.name1,' ', u.name2, '</a>') as UNAME
 , t.name ??
 ,login ??
 , getParentsChain(p.otdel,1) as "WRK" ??
 , if (getParentsChain(p.otdel,1001) ='', getParentsChain(p.otdel,1), getParentsChain(p.otdel,1001)) as "WRK" 
 , getParentsPath(p.otdel,1) ??
 , r.BERTH
 , case when u.email='' then '-' else concat('<a href="mailto:',u.email,'">',u.email,'</a>') end as "email" 
 , email ??
 , phone ??
 ,pwu  ??USER_ID=2xxx
 , getFolderAccRight(#USER_ID#, p.otdel, 1) as AR ??
 ,u.id as "UID" 	??showAR=on|AR_ONLY=on
$INCLUDE [criteria]
order by role, fname, name1, name2 
[end]

[criteria]
from a_users u 
	left join p_persons_post p on p.id=u.person_id and (p.usl_rab not in (356,357) or p.usl_rab is null)
	left join t_tree t on t.id=p.otdel
	left join rb_08 r on r.BERTHCODE=p.dolzhnost
where u.id > 1
and p.is_deleted != 1
and u.id in (select user_id from accright) ??AR_ONLY=on
	and u.fname like '#f_name#%' ??f_name
	
	and u.name1 like '#f_name1#%' ??f_name1
	and u.name2 like '#f_name2#%' ??f_name2
	and login like '#f_login#%' ??f_login
	and u.id = #f_id# ??f_id
	
	and p.otdel=#f_work_place# ??f_work_placeXXX
	and p.tip_dejat=#f_tip_dejat# ??f_tip_dejat
 	and p.otdel in (#listOfChildren#) ??listOfChildren
	and (p.otdel is null or getFolderAccRight(#USER_ID#, p.otdel, 1) > 3) ??!USER_ROLE=SA
[end]	

[colNames]
role=.
UNAME=Ф.И.О.
WRK=Место работы
login=Login
BERTH=Должность
email=e-mail
phone=тел.
UID=$CALL_SUBSERVICE c=users/showUserAr.cfg; tag=Права доступа; LIST_USER_ID=
[end]

