[parameters]
debug=off
$INCLUDE common.dat[parameters]
[end]

[report]
$SET_PARAMETERS ADMIN=Y  ??USERRIGHTS=3
$INCLUDE [admin report] ??ADMIN=Y|USERRIGHTS=2
<script> top.window.location.href="#servletPath#?tm=#tm#"; </script>  ??!ADMIN=Y&!USERRIGHTS=2&!popup
НЕТ ДОСТУПА ??popup&!ADMIN=Y&!USERRIGHTS=2
[end]

[admin report]
$SET_PARAMETERS activeNode=0; cop=g  ??!activeNode
$SET_PARAMETERS ID=#activeNode#;  ??!ID
$SET_PARAMETERS_SESSION aTab=#aTab# ??aTab
$SET_PARAMETERS aTab=editNode ??!aTab

$INCLUDE common.dat[head]
<link rel="stylesheet" href="#cssPath#bluexa.css" type="text/css">
<link rel="stylesheet" href="#ServletPath#?c=tabs_css" type="text/css">

<body BACKGROUND="#imgPath#b_ns.gif" style="margin-top:0">

$INCLUDE common.dat[top link] ??
<blockquote>
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<input type=hidden name="aTab" value="#aTab#">
<input type=hidden name="ID" value="#ID#">
<input type=hidden name="PID" value="#PID#">
<input type=hidden name="OLD_PID" value="">
<input type=hidden name="popup" value="#popup#">
<INPUT TYPE=hidden NAME="activeNode" VALUE="#activeNode#">

<table border=0 cellSpacing=0 cellPadding=0  width=30%>
<tr><th colspan=1 align=right>Редактирование раздела дерева
&nbsp;<i>id: #ID#</i> <br>&nbsp;
</th></tr>

<tr><td >
$INCLUDE [tabs] 
</td></tr><tr><td class=lr bgColor=white>&nbsp;</td></tr>
<tr><td bgColor=##666666>

$CALL_SERVICE c=tree/#aTab#;

<tr><td colspan=1 bgcolor=white class=lrb nowrap=true><br><center>
$INCLUDE common.dat[butt] param:label=Удалить раздел; onClick=delete_(); img=del_cross.gif;   ??ADMIN&aTab=editNode
$INCLUDE common.dat[butt] param:label=Создать подраздел; onClick=createNew();   ??ADMIN&aTab=editNode
<img src="#imgPath#filler.gif" width=150 height=1>   ??ADMIN&!aTab=editNode
<img src="#imgPath#filler.gif" width=150 height=1>
$INCLUDE common.dat[butt] param:label=Сохранить; onClick=save(); img=save12.gif;   ??ADMIN
<img src="#imgPath#filler.gif" width=50 height=1>
$INCLUDE common.dat[butt] param:label=Закрыть; onClick=window.close(); img=save12.gif;   ??popup=y
<br>&nbsp;</td></tr>

<tr><td align=right>
<span style=" background-color:white; text-align:right;"><small><i>изменение: #DAT#, #FIO#</i></small></span>  ??DAT
</td></tr>

</TABLE><center><br>
</form>
</blockquote></center>

<script>
var frm=document.theForm;
var recChanged=false;

function setTab(tab)
{ // alert (tab);
  frm.aTab.value=tab;
	if (recChanged)
		save();
	else
		frm.submit();
}

function delete_()
{ 
	alert ("Раздел \"#DES#\" содержит #NUM_DOCS# документ(ов)\n\rПеред удалением раздела их необходимо переместить в другой раздел"); return; ??!NUM_DOCS=0
	
	if (
   !confirm("Раздел \"#DES#\" будет удален.\n\r"
     +"\nВсе его подразделы будут отнесены к разделу \"#PARENT_NAME#\"" ??!NUM_CHILDREN=0
    ))
    return;
  frm.cop.value="d";
	frm.aTab.value="editNode";
  frm.submit();
}

function createNew()
{ frm.cop.value="c";
	frm.aTab.value="editNode";
  frm.submit();
}

function save()
{ frm.cop.value="u";
	try
	{ if (frm.new_pos.value == "#POSITION#")
    frm.new_pos.value = "";
	}
	catch (e) {}
//	alert (frm.MAINPAGE.value);
  frm.submit();
}

window.focus();    ??popup=y
try{ window.opener.refrSelf(); } catch (e) {} window.close(); ??popup=y&cop=u
</script>
</body></HTML>
[end]


[tabs] param: aTab;
<table border=0 width=100% cellpadding=0 cellspacing=0>
<tr>
<td class=b><img src="#imgPath#filler.gif" width="20" height="1" border="0"></td>

<th 
class=a   ??aTab=editNode
class=i   ??!aTab=editNode
nowrap=true onClick="setTab('editNode')">Атрибуты&nbsp;раздела</th><th 
class=a2   ??aTab=editNode
class=i2   ??!aTab=editNode
><img src="#imgPath#filler.gif" width=6 height=1></th>

<th 
class=a   ??aTab=editMainPage
class=i   ??!aTab=editMainPage
nowrap=true onClick="setTab('editMainPage')">Заглавная&nbsp;страница</th><th 
class=a2   ??aTab=editMainPage
class=i2   ??!aTab=editMainPage
><img src="#imgPath#filler.gif" width=6 height=1></th>

<th 
class=a ??aTab=editFields
class=i ??!aTab=editFields
nowrap=true onClick="setTab('editFields')">Реквизиты&nbsp;документов</th><th 
class=a2  ??aTab=editFields
class=i2  ??!aTab=editFields
width=6><img src="#imgPath#filler.gif" width=6 height=1></th> 

<th 
class=a ??aTab=editAccRights
class=i ??!aTab=editAccRights
nowrap=true onClick="setTab('editAccRights')">Права&nbsp;доступа</th><th 
class=a2  ??aTab=editAccRights
class=i2  ??!aTab=editAccRights
width=6><img src="#imgPath#filler.gif" width=6 height=1></th> 

<th 
class=a ??aTab=editDocAccess
class=i ??!aTab=editDocAccess
nowrap=true onClick="setTab('editDocAccess')">по рассылке</th><th 
class=a2  ??aTab=editDocAccess
class=i2  ??!aTab=editDocAccess
width=6><img src="#imgPath#filler.gif" width=6 height=1></th> 

<td width=80% class=b>&nbsp;</td>
</tr></table>
[end]

[preSQLs]
select checkAccRights(#activeNode#, #USER_ID#) as USERRIGHTS from dual;
SELECT PID FROM #table_tree# WHERE ID=#activeNode#; ??!cop=u
SELECT count(id) as NUM_CHILDREN FROM #table_tree# WHERE PID=#activeNode#;
SELECT count(id) as NUM_DOCS FROM #table_docs# WHERE NODE_ID=#activeNode#;
SELECT DES as PARENT_NAME, TYPE as PARENT_TYPE FROM #table_tree# WHERE id=#PID#    ??PID
;
[end]

<style> p  {font-size:9pt;} </style><p>
Проекты нормативных финансовых документов Института в основном одобрены Финансовым комитетом и КПП в марте 2003 года.<p>
В феврале-марте 2004 года Финансовый комитет и Комитет полномочных представителей утвердили редакцию документов, включающую изменения в Уставе и Финансовом протоколе, и открыли их для подписания в срок до марта 2005 года.
</p>