[parameters]
service=dubna.walt.service.TableServiceSortableSpecial 
title=Материалы и оборудование

table_docs=docs
table_limits=limits

wrapperTable=none ??prn
table_beg=<table border="0" cellspacing="0" cellpadding="1" style="border: solid 1px black"> ??prn
tableCfg=cp/lim/table.cfg 
makeTotalsForCols=SUMMA_RUB,SUMMA_USD
totRowLabel=Всего

sortCols=REG_DATE,DOC_DATE,SUMMA_RUB,SUMMA_USD,RECEIVER,BC,AGGR,INFO,DOC_STATUS
thsnDelimiter=&nbsp;
NumSpecialCols=8
year=20#q_yr#
debug=onf

$INCLUDE common.dat[colors] 
[end]

[item]
<tr valign=top 
bgcolor=
white  ??prn
#doc_del#	??DOC_STATUS=удаленный
#doc_new#	??DOC_SENT=n&DOC_PAYED=n&!DAT_BUH
#doc_sent#	??!DOC_SENT=n&DOC_PAYED=n&!DAT_BUH
#doc_buh#	??DAT_BUH&DOC_PAYED=n
#doc_payed#	??!DOC_PAYED=n
>
<td>
<img src="#imgPath#question.gif" width=12 height=16 alt="Документ требует уточнения"> ??IS_PROBLEM
<img src="#imgPath#checked_small.gif" width=12 height=15> ??IS_LOCKED
#REG_DATE#
</td>
<td nowrap=true> ??!payed=nal&!payed=dol
<i>в бух.:</i><br> #DAT_BUH# ??!payed=nal&!payed=dol&DAT_BUH&DOC_PAYED=n
<a class=sm href="javascript:getPP('#PLAT_1#')">#PLAT_1#</a><br>от #DAT_PLAT_1#  ??!payed=nal&!payed=dol&!payed=xp&PLAT_1
<br><small>#PLAT_1#	??payed=xp&PLAT_1
</td> ??!payed=nal&!payed=dol

<td>#DOC_DATE#</td>	??!payed=nal

<td>#BC#</td>
<td>#RECEIVER#</td>
<td align=right>#SUMMA_RUB#</td>
<td align=right>#SUMMA_CURR#</td>	??SUMMA_CURR
<td align=right>#SUMMA_USD#</td>  
<td align=right>#AGGR#</td> 
<td>&nbsp;&nbsp;#INFO#</td>
<td>#COMMENTS#&nbsp;</td>
<td>#APPROVED#&nbsp;</td> ??APPROVED
</tr>
[end]

[report header]
$SET_PARAMETERS f_year=#CURR_YEAR#  ??!f_year
$SET_PARAMETERS f_year= ??f_regdat1|f_paydat1|f_docdat1
$SET_PARAMETERS f_regdat1=#TODAY#  ??ClientIP=159.93.146.109&!f_regdat1&!srt
$INCLUDE [logged report header]  ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#?#queryString#";</script> ??!logged
[end]


[logged report header]

$SET_PARAMETERS f_lab=#A_LABS#  ??!f_lab&A_LABS&tt
$SET_PARAMETERS LAB=Инфраструктура ОИЯИ ??f_lab=990

$SET_PARAMETERS full_report=on ??f_docNr|f_docdat2|f_docdat1
$SET_PARAMETERS srt=6; desc=DESC; rpp=9999 ??!payed=nal&!srt|!rpp
$SET_PARAMETERS srt=4; desc=DESC; rpp=9999 ??payed=nal&!srt|!rpp
$SET_PARAMETERS showSigned=on ??f_signed

$GET_DATA [total SQL]

$INCLUDE common.dat[head]
<body 
bgcolor=F4FFFA ??!prn
>
<style> td {border-top: solid 1px ##aaaaaa;} </style> ??prn

<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="prn" value="#prn#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="payed" value="#payed#">
<input type=hidden name="f_lab" value="#f_lab#">
<input type=hidden name="id" value="#id#">
<input type=hidden name="noTable" value="">

<table border=0 cellpadding=5 bgcolor=white cellspacing=0 width=98%>
<tr><td width=90%>
<h3>#LAB#, статьи бюджета 5,6,10</h3>

</td>
<td align=right nowrap=true><a class=info href="#ServletPath#">Главная</a></td> ??!prn
</tr>
<tr><td width=90%>
<h4> 
Документы, поступившие в бухгалтерию с 01.01.#year# по #TODAY# ??xxx&!payed
Оплачено документов с 01.01.#year# по #TODAY# ??!payed
Оплачено счетов с 01.01.#year# по #TODAY#     ??payed=y
Хозрасчет+ОГЭ с 01.01.#year# по #TODAY#       ??payed=xp
Наличные платежи с 01.01.#year# по #TODAY#    ??payed=nal
НЕ оплаченые счета ??payed=none
</h4>
&nbsp;&nbsp;&nbsp;&nbsp;
<a class=small href="#ServletPath#?c=#c#&id=#id#&payed=#payed#&prn=y" target=_blank><img src="#imgPath#printer.gif" width=25 height=17 border=0>ПЕЧАТАТЬ</a> ??!prn=y

</td></tr>
</table>

<a href="javascript:showFilters();"></a> ??

<blockquote style="margin:10; margin-left:50;">
$INCLUDE doc/search.dat[searchBox] ??

<table cellpadding=5 cellspacing=0 border=1 bgcolor=white><tr><th nowrap=true>
Всего документов: #TOT_NUM_DOCS#, &nbsp;
сумма: #TOT_SUMMA_RUB# руб. &nbsp;
( #TOT_SUMMA_USD# $ )
</th></tr></table>
</blockquote>

$INCLUDE [script]
[end]

[report footer]
<table border=0><tr><td bgcolor=black> ??form=y|prn=y
$INCLUDE common.dat[rpp] ??!NumTableRows=0&!prn=y
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>

</form></center>
<script>window.print()</script> ??prn=y

</body></HTML>
[end]


================================ SQLs ================================
[preSQLs]
select des as LAB, LAB_CODE as "f_lab"
from #table_limits# where id=#id#;

select ''''||EXCL_BC||''',' as EXCL_BC
from limits_except
where id_limits=#id# and EXCL_BC is not null
;
select ''''||INCL_BC ||''',' as INCL_BC
from limits_except
where id_limits=#id# and INCL_BC is not null
;
[end]

[total SQL]
SELECT 
	count(d.doc_id) as TOT_NUM_DOCS
	, replace(to_char(sum(nvl(d.SUMMA_RUB,0)),'999,999,999,990'),',','&nbsp;') as TOT_SUMMA_RUB
	, replace(to_char(sum(nvl(d.SUMMA_USD,0)),'99,999,999,990'),',','&nbsp;') as TOT_SUMMA_USD	
FROM #table_docs# d, #budgetcodes_table# b, i_kontragent k
WHERE 
	b.code(+)=d.BC
	and k.code(+)=d.RECEIVER_C
$INCLUDE [criteria]
;
[end]

[SQL]
SELECT 
$INCLUDE doc/list.cfg[reg date]	 
	,decode(d.doc_status,1,'1',s.doc_status) as DOC_STATUS ??!payed=nal&!payed=dol 
	,'№ '||d.EXT_DOC_NR||'<br>'||to_char(d.DOC_DATE, 'DD.MM.YYYY') as DOC_DATE  ??!payed=nal
	
$INCLUDE doc/list.cfg[bc info] param: READ_ONLY=y

	, nvl(k.NAME_SHORT,d.RECEIVER) as RECEIVER
	, to_char(nvl(d.SUMMA_RUB,0),'99999999990') as SUMMA_RUB
	, decode(d.SUMMA_CURR,null,'',to_char(d.summa_curr,'999G999G999G990')||decode(d.CURR_CODE,810,'р.',840,' $',978,' €',756,' CHF',826,' GBP')) SUMMA_CURR  ??full_report=on
	, to_char(d.SUMMA_USD,'99999999990') as SUMMA_USD
	, AGGR||'<br><small>'||substr(a.DES_SHORT,1,8)||'.' as AGGR 
	, INFO
	, d.comments
	
	, nvl(to_char(d.SENT,'DD.MM HH24:MI'),'n') as DOC_SENT
	, nvl(to_char(d.DAT_BUH,'DD.MM HH24:MI'),'') as DAT_BUH
	, nvl(to_char(d.PAYED,'DD.MM.YYYY'),'n') as DOC_PAYED
	, ''''||PLAT_1 as PLAT_1, to_char(d.DAT_PLAT_1,'DD.MM.YYYY') as DAT_PLAT_1 
	, decode (plat_2, null,'', PLAT_2||'<br> от '||to_char(d.DAT_PLAT_2,'DD.MM.YYYY')) as PLAT_2 
  , d.is_locked, d.is_problem  

FROM #table_docs# d, #budgetcodes_table# b, i_kontragent k
	, i_lab l , i_prikaz ip 
	, doc_types t, doc_statuses s 
	, i_aggr a , users c 
 
WHERE 
	b.code(+)=d.BC
	and l.code(+)=d.LAB_CODE 
	and ip.id(+)=b.prikaz_id 
	and t.id(+)=d.doc_type 
	and s.id(+)=d.doc_status 
	AND c.id(+)=creator_id 
 	and a.code(+)=d.aggr 
	and k.code(+)=d.RECEIVER_C

$INCLUDE [criteria]

ORDER BY 
	d.doc_id #desc# ??srt=1
	d.PLAT_1 #desc#, d.PAYED  #desc#, d.DOC_ID  #desc# ??srt=2&payed=y
	d.PLAT_1 #desc#, decode(d.PAYED, null,0,1) #desc#, d.PAYED #desc#, decode(d.SENT, null,0,1) #desc#, d.SENT #desc#, d.DOC_ID  #desc#	??srt=2&!payed=y
	#srt# #desc# ??!srt=1&!srt=2
[end]


and (
  d.PAYED between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')
  or d.DAT_BUH between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI') ??payed=none
  or (d.DOC_SUBTYPE=1 and d.DOC_DATE between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')) ??!payed=none
  or (d.REG_DATE between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')) ??payed=nal
)

[criteria]
	and d.aggr in ('05','06','10')
    and d.doc_status <> 5

 	and not d.PAYED is null ??xxx!payed
 	and d.PAYED is null and d.doc_type not in (2,6,11) and not doc_subtype=1  ??payed=none

 and( 
		d.PAYED between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')
    or d.REG_DATE between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI') ??payed=none
    or d.DAT_BUH between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI') ??payed=none
    or (d.DOC_subTYPE=1 and VIDOPER in ('m','u') and d.DOC_DATE  between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI') ) ??!payed|payed=xp
    or (d.DOC_subTYPE=1 and VIDOPER in ('m','u') and (d.DOC_DATE  between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI') or d.REG_DATE between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI'))) ??xxx&!payed|payed=xp
    or (d.doc_type in(7,11) and d.REG_DATE  between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')) ??!payed|payed=nal|payed=dol
   )
	 and d.DOC_DATE between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')  ??для Иткиса - только документы от 2006г.
   and not d.DOC_subTYPE=1 ??payed=none
    and (bc is null or 
			(	bc not in (select code from budgetcodes_06 where root_id=2	or prikaz_id is not null)
				and bc not in (select code from budgetcodes_05 where root_id=2 or prikaz_id is not null) 
			)
		)
    and (is_total is null or summa_rub > sum_children+10)
    
	and d.doc_type=11  ??payed=dol
	and d.doc_type=7  ??payed=nal
	and d.doc_subtype=1  ??payed=xp
	and not d.doc_type=7 and not d.doc_subtype=1 ??payed=y
	
	and b.code not in (#EXCL_BC#'0') ??EXCL_BC
	and b.code in (#INCL_BC#'0')  ??INCL_BC
	and b.code like '%#f_bc#' ??f_bc&!f_bc=null
	and (b.code is null or b.code='') ??f_bc=null
	and d.LAB_CODE=#f_lab#  ??f_lab&!f_lab=null
	and b.LAB_CODE is null  ??f_lab=null
	and (d.LAB_CODE in (#A_LABS#) or d.creator_id=#USER_ID#)  ??A_LABS
	
	and b.SBJ_CODE like '%#f_sbj#'  ??f_sbj
[end]

[dat payed]
[end]

[colNames]
DOC_DATE=Внешний&nbsp;№,<br>дата
REG_DATE=&nbsp;&nbsp;&nbsp;&nbsp;Документ&nbsp;&nbsp;&nbsp;&nbsp;<br>
DOC_STATUS=Платежное<br>поручение  ??!payed=nal&!payed=none&!payed=xp&!payed=dol
DOC_STATUS=Статус<br>  ??payed=none|payed=xp
PRIX=Приход<br>
SIGNED=Инициатор
CREATOR_ID
MODIFIER_ID
MODIF_DATE
RECEIVER=Контрагент<br>
INFO=Назначение&nbsp;платежа<br>
SUMMA_RUB=Сумма<br>(руб)
SUMMA_CURR=Сумма<br>(в&nbsp;валюте)
CURR_CODE=Валюта<br>
SUMMA_USD=Эквив.<br>в $
BC=Бюджетный&nbsp;код<br>
COMMENTS=Комментарий<br>
APPROVED=Финальная<br>подпись
AGGR=Статья<br>
[end]


[script]
<script>
var frm=document.theForm;
//window.focus();
function getChildren(docId)
{ openWindow("c=doc/list&f_regnr="+ docId,"docList"+(new Date()).getTime(),1000,650);
}

function editDoc(docId)
{ openWindow("c=doc/docEdit&READ_ONLY=true&DOC_ID="+docId
	+ "&type=#payed#"  ??payed=xp|payed=nal
	,"docEdit"+docId,1000,650);
}

function XXXnewDoc()
{ openWindow("c=doc/docEdit&cop=c","docEdit"+(new Date()).getTime(),1000,650);
}

function getPayed()
{ openWindow("c=doc/getPayed","getPayed",950,600);
}

function getPP(nomPlat)
{ openWindow("c=plat/plat&docno=" + nomPlat, "plat", 800,650);
}

function doIt()
{ if (!checkFields()) return false;
  frm.srn.value="1";
  frm.submit();
  return true;
}

function checkFields()
{ if (!checkDate("f_docdat1","Дата документа")) return false;
  if (!checkDate("f_docdat2", "Дата документа")) return false;
  if (!checkDate("f_regdat1", "Дата регистрации")) return false;
  if (!checkDate("f_regdat2", "Дата регистрации")) return false;
  if (!checkFloat("f_summa",null,null,"Сумма")) return false;  
  if (!checkFloat("f_regnr",null,null,"Рег.№ документа")) return false;  
  return true;
}

function opn(nodeId,bc)
{ //alert (typeof opener);
if (typeof top.frames[1] == "object")
top.openNode(nodeId);
else if (typeof opener == "object")
{ opener.setBC (nodeId,bc);
  window.close();
}
}

function goToRow(nr){ frm.srn.value=nr;  frm.submit();}

function setDesc()
{
  frm.desc.value="DESC";  ??!desc
  frm.desc.value="";      ??desc
  frm.submit();
}

function setSort(colNr)
{
  var oldsrt = #srt#; ??srt
  var oldsrt = -1;    ??!srt
  if (oldsrt == colNr)
  {
    frm.desc.value="DESC";  ??!desc
    frm.desc.value="";      ??desc
  }
  else
    frm.desc.value="DESC";
  frm.submit();
}


function blockError(){return true;}
//window.onerror = blockError;
</script>
[end]
