[parameters]
table_beg=NONE
year=20#q_yr#
[end]

[prn_style]
H3{font-size:16pt; font-weight:normal;  font-family: Times; color: 000069; display:inline}
H4{font-size:12pt; font-weight:normal;  font-family: Times; color: 000069; display:inline}
TH { FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif}
TH.t {background-color: F0F4F4; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif} ??
A {FONT-SIZE: 12pt; font-weight: bold; color: black; text-decoration: none;}
A.p {FONT-SIZE: 12pt; font-weight: bold; color: black; text-decoration: none;}
A:link {color: black; text-decoration: none;} ??
A:visited {color: black; text-decoration: none;} ??
A:hover   {color: black; text-decoration: none } ??
[end]


[report]
$SET_PARAMETERS subt=tot 	??!subt&!A_LABS
$SET_PARAMETERS subt=div 	??!subt&A_LABS

$GET_DATA [paramsSQLs]

<html><body><SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT> ??prn=y

<style>
A.p {FONT-SIZE: 10pt; font-weight: bold}
A.p:link {color: 003800; text-decoration: none;}
A.p:visited {color: 003800; text-decoration: none;}
A.p:hover   {color: 008000; text-decoration: underline }

.reg {FONT-SIZE: 10pt; color: 0000A0; font-weight: bold; FONT-FAMILY: Arial, Helvetica, sans-serif; }
.pd  {FONT-SIZE: 10pt; color: 003800; font-weight: bold; FONT-FAMILY: Arial, Helvetica, sans-serif; }
.hd {font-size:15pt; font-weight:normal;  font-style:italic; font-family: Times; color: 000069; }
$INCLUDE [prn_style]   ??prn=y
</style>

<blockquote style="margin-top:0;margin-left:15;margin-right:15;margin-bottom:0;">

<h3>Объемы бюджетного финансирования по статьям 5,6,10,18,19 на #year# год</h3>
<br><h4>(по состоянию на
#TODAY# ??q_yr=#CURR_YR#
31.12.#year# ??!q_yr=#CURR_YR#
)</h4>
&nbsp;&nbsp;&nbsp;&nbsp;
<a class=small href="#ServletPath#?c=cp/lim/svod&prn=y&det_lim=#det_lim#&det_graph=#det_graph#&det_doc=#det_doc#" target=_blank><img src="#imgPath#printer.gif" width=25 height=17 border=0>ПЕЧАТАТЬ</a> ??!prn=y
<br>
<script>
function doIt(f)
{ 
  if (f == "f_dir" || f == "tot")
  { frm.f_lab.options.selectedIndex=0;
  }
  else if (f == "f_lab")
  { frm.f_dir.options.selectedIndex=0;
  }
  frm.submit();  
  return true;
}
</script>
$CALL_SERVICE c=cp/lim/svod_tab  ??q_yr=05
$CALL_SERVICE c=cp/lim/svod_tab_#q_yr# ??!q_yr=05
  ??subt=tot
$CALL_SERVICE c=cp/first/fList_tab ??xxxsubt&!subt=tot

</blockquote><br>&nbsp;<br>

<script>window.print()</script> ??prn=y

 </body></html>  ??prn=y
[end]

================================ SQLs ================================
[paramsSQLs]
select max(mm) as MM_BUH from reg_#yy#  
 ??!MM_BUH
;
$SET_PARAMETERS_GLOBAL MM_BUH=#MM_BUH#  ??MM_BUH
[end]


================================ НЕ ИСПОЛЬЗУЕТСЯ ====================

Фильтры - пока не используются
$SET_PARAMETERS f_lab= 		??subt=tot
$SET_PARAMETERS f_lab=#A_LABS#  ??A_LABS

<table border=1 cellpadding=4 cellspacing=0 bgcolor=white>
<tr><th nowrap=true align=left>
<div
style="display:none" ??
>

<FIELDSET>
&nbsp; &nbsp; 
<input type="radio" name="subt" value="tot" onClick="doIt('tot');"
checked ??!subt|subt=tot
>Сводная информация
&nbsp;

<input type="radio" name="subt" value="div"
checked ??subt=div
onClick="doIt('');">По темам
</FIELDSET>
</div>

</th></tr>
<tr><td>

<div
style="display:none" ??xxxsubt=tot
>
<FIELDSET><LEGEND><b><i>Отобрать:</i></b></LEGEND>

&nbsp; &nbsp; 
Лаборатория: <select class=s1 name=f_lab onChange="doIt('f_lab');"><option value="">Все #LABS#</select>&nbsp; &nbsp;
Тема: <select class=s1 name=f_sbj onChange="doIt('f_sbj');"><option value="">Все #SBJS#</select>&nbsp; ??
Бюджетный код: <select class=s1 name=f_bc onChange="doIt('f_bc');"><option value="">Все #BCS#</select>&nbsp; ??
</FIELDSET>
</td></tr>
</div>
</table>

</blockquote> ??!subt=tot

select ''''||replace(replace(bc,' ',''),',',''',''')||''',' as BC_1 from first;   ??XX надо ли? пока, вроде, нет
select distinct '<option>'||dir as DIRS from first;  ??XX надо ли? пока, вроде, нет
select distinct '<option value="'||LAB||'">'||div as LABS from first order by 1;   ??XX надо ли? пока, вроде, нет
select DIV from I_LAB where CODE=#f_lab# ??f_lab??XX надо ли? пока, вроде, нет
;

[totalSQLs]
SELECT
to_char(sum(d.SUMMA_USD) / 1000,'999990.00') as TOT_1ST
FROM docs d, bclist b
WHERE 
 b.BC_3 in (#BC_1#'0')
 and d.bc=b.bc
 and d.doc_status not in (4,5)
 and d.doc_type in (3,7)
 and d.payed is not null
 AND b.DIR='#f_dir#' ??f_dir
 AND b.LAB_CODE='#f_lab#' ??f_lab
 and to_char(d.DOC_DATE,'YYYY') = '2004'
;

$SET_PARAMETERS TOT_1ST=0 ??!TOT_1ST
;

SELECT
to_char(sum(d.SUMMA_USD) / 1000,'999990.00') as TOT_OTHER
, to_char(sum(d.SUMMA_USD) / 1000 + #TOT_1ST#,'999990.00') as TOT_ALL
FROM docs d, bclist b
WHERE 
 b.BC_3 not in (#BC_1#'0')
 and d.bc=b.bc
 and d.doc_status not in (4,5)
 and d.doc_type in (3,7)
 and d.payed is not null
 AND b.DIR='#f_dir#' ??f_dir
 AND b.LAB_CODE='#f_lab#' ??f_lab
 and to_char(d.DOC_DATE,'YYYY') = '2004'
;
select DIV from i_lab where CODE=#f_lab# ??f_lab

[end]

