[parameters]
title=Справка о текущих затратах по лабораториям
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSpecial
makeTotalsForCols=,B0,S0,B4,S4,B5,S5,B6,S6,B10,S10,B14,S14,B17,S17,B19,S19,B_TOT,S_TOT,
numDigits=1
NumSpecialCols=1
totRowLabel=Всего
wrapperTable=none
wrapperTableEnd=none
table_beg=none
debug=off
[end]

[NOTE]
<br>
<font color="red"><b>ВНИМАНИЕ!</b></font>
Данные по статьям 5 - 19 расходятся с реальностью,<br>
так как из 1С еще не выгружаются данные с необходимой степенью детализации.
[end]


[report header]
$SET_PARAMETERS s04=on; s05=on; s06=on; s10=on;   TITLE_COLSPAN=8; ??!TITLE_COLSPAN|TITLE_COLSPAN=0
$SET_PARAMETERS s05=on; s06=on; s10=on;  s14=on; s17=on; s19=on; s0=on; TITLE_COLSPAN=14; ??ZZZ&!TITLE_COLSPAN|TITLE_COLSPAN=0
<script>
var frm = document.theForm;
function set(nr, checked)
{
	if (nr == 1)
	{ frm.s04.checked=checked;
	}
	else if (nr == 2)
	{ frm.s05.checked=checked;
		frm.s06.checked=checked;
		frm.s10.checked=checked;
	}
	else if (nr == 3)
	{ frm.s14.checked=checked;
		frm.s17.checked=checked;
		frm.s19.checked=checked;
	}
	frm.submit();
}
</script>

<center> 
<div style="width:800px;">
<h3>Финансовые затраты по лабораториям на #TODAY#<br>
по данным регистрации в ADB2, в тыс.долл.</h3>
$INCLUDE [NOTE] ??
</div>

$INCLUDE [filters]
<br> 
<table class="svod" border=0  cellspacing=0 cellpadding=0>
<tr><td class=h rowspan=3>Лаборатория</td><td class=h 
colspan=#TITLE_COLSPAN#
>Статьи затрат</td><td class=h rowspan=2 colspan=2><b>Итого:
<br><small>(ст.
4, ??s04
5, ??s05
6, ??s06
10, ??s10
14, ??s14
17, ??s17
19 ??s19
другие ??s0
)</small></b>
</td><td class=h rowspan=3>%</td></tr>
<tr>
<td class=h colspan=2>04: МНТС</td> ??s04
<td class=h colspan=2>05: Материалы</td> ??s05
<td class=h colspan=2>06:&nbsp;Оборудование</td>  ??s06
<td class=h colspan=2>10: НИОКР</td>  ??s10
<td class=h colspan=2>14: Ремонт</td>  ??s14
<td class=h colspan=2>17: Содержание</td>  ??s17
<td class=h colspan=2>19: Кап.строительство</td>  ??s19
<td class=h colspan=2>Другие</td>  ??s0
</tr>
<tr>
<td class=h>План</td><td class=h>Зарегистрировано</td>  ??s04
<td class=h>План</td><td class=h>Оплачено</td>  ??s05
<td class=h>План</td><td class=h>Оплачено</td>  ??s06
<td class=h>План</td><td class=h>Оплачено</td>  ??s10
<td class=h>План</td><td class=h>Оплачено</td>  ??s14
<td class=h>План</td><td class=h>Оплачено</td>  ??s17
<td class=h>План</td><td class=h>Оплачено</td>  ??s19
<td class=h>План</td><td class=h>Оплачено</td>  ??s0

<td class=h>План</td><td class=h>Оплачено</td>

</tr>
[end]


[item]
<tr><td class=rb><center>#DIV#</center></td>
<td>#B4#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/mnts_svod&f_lab=#LAB#&f_aggr=04" target=_blank>#S4#&nbsp;</a></td>  ??s04_ZZZ
<td>#B4#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/sbjDet&f_lab=#LAB#&f_aggr=04" target=_blank>#S4#&nbsp;</a></td>  ??s04
<td>#B5#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/sbjDet&f_lab=#LAB#&f_aggr=05" target=_blank>#S5#&nbsp;</a></td>  ??s05
<td>#B6#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/sbjDet&f_lab=#LAB#&f_aggr=06" target=_blank>#S6#&nbsp;</a></td>  ??s06
<td>#B10#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/sbjDet&f_lab=#LAB#&f_aggr=10" target=_blank>#S10#&nbsp;</a></td>  ??s10
<td>#B14#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/sbjDet&f_lab=#LAB#&f_aggr=14" target=_blank>#S14#&nbsp;</a></td>   ??s14
<td>#B17#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/sbjDet&f_lab=#LAB#&f_aggr=17" target=_blank>#S17#&nbsp;</a></td>   ??s17
<td>#B19#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/sbjDet&f_lab=#LAB#&f_aggr=19" target=_blank>#S19#&nbsp;</a></td>   ??s19
<td>#B0#&nbsp;</td><td class=rb><a href="#ServletPath#?c=cp/svod/sbjDet&f_lab=#LAB#&f_aggr=07,08,09,11,12,13,15,16,18" target=_blank>#S0#&nbsp;</a></td>   ??s0
<td>
<a href="#ServletPath#?c=budget/budget_lab&labcode=#LAB#&&hideTables=Y" target=_blank>#B_TOT#</a> ??!B_TOT=0.0&!LAB=990
<a href="#ServletPath#?c=budget/list&NODEID=9&PNODEID=9&&hideTables=Y" target=_blank>#B_TOT#</a> ??!B_TOT=0.0&LAB=990
&nbsp;</td>
<td class=rb>#S_TOT#&nbsp;</td>
<td><center>
#PS#% ??!PS=-
&nbsp;</center></td>
</tr>
[end]



$GET_DATA [PS] ??!B_TOT=0.0
[PS]
select to_char(100*#S_TOT#/#B_TOT#, '999990.0') as "PS" from dual
[end]

[report footer]
</table>
</center>
<br><br>.
[end]

[filters]
$SET_PARAMETERS s_mnts=#s04#;
$SET_PARAMETERS s_mat=#s05##s06##s10#;
$SET_PARAMETERS s_sod=#s14##s17##s19#;
$SET_PARAMETERS s_other=#s0#; ??
<br>
<table class="svod" cellspacing=0 cellpadding=0><tr>
<td class="rb total">Показать статьи: </td>
<td class="rb total" style="text-align:left;"><input type=checkbox 
checked ??s_mnts
name=s_mnts onClick="set(1, this.checked);">МНТС:</td>

<td class="rb total" style="text-align:left;"><input type=checkbox 
checked ??s_mat
name=s_mat onClick="set(2, this.checked);">Материалы:</td>

$INCLUDE [OtherHead] ??USER_ID=1|USER_ID=441|USER_ID=368

</tr><tr><td class="rb">.</td>

<td class="rb" style="text-align:left;"><input type=checkbox 
checked ??s04
name=s04 onClick="frm.submit();">04: МНТС</td>

<td class="rb" style="text-align:left;"><input type=checkbox name=s05  
checked ??s05
onClick="frm.submit();">05: Материалы<br>

<input type=checkbox name=s06  
checked ??s06
onClick="frm.submit();">06: Оборудование<br>

<input type=checkbox name=s10  
checked ??s10
onClick="frm.submit();">10: НИОКР</td>

$INCLUDE [OtherStati] ??USER_ID=1|USER_ID=441|USER_ID=368|USER_ID=34|USER_ID=257|USER_ID=6

</tr></table>

[end]

[OtherHead]
<td class="rb total" style="text-align:left;"><input type=checkbox 
checked ??s_sod
name=s_sod onClick="set(3, this.checked);">Содержание:</td>

<td class="rb total" style="text-align:left;"><input type=checkbox 
checked ??s0
name=s0 onClick="set(4, this.checked);">Другие</td>
[end]

[OtherStati]
<td class="rb" style="text-align:left;"><input type=checkbox name=s14  
checked ??s14
onClick="frm.submit();">14: Ремонт<br>

<input type=checkbox name=s17 
checked ??s17
onClick="frm.submit();">17: Содержание<br>

<input type=checkbox name=s19
checked ??s19
onClick="frm.submit();">19: Кап.строительство</td>

<td class="rb" style="text-align:left;"><div style="font-size: 8pt;
display:none; ??!s0
">7: Электроэнергия<br>
8: Тепло и вода<br>
9: Пуско-наладка<br>
11: Информация<br>
12: Безопасность<br>
13: Охрана<br>
15: Связь<br>
16: Транспорт<br>
18: Проектные работы
</div></td>
[end]

[preSQLs]
select length('#s0##s04##s05##s06##s10##s14##s17##s19#') as "TITLE_COLSPAN" from dual;
[end]

[b_summ]
0
+nvl(b0.summ,0) ??s0
+nvl(b4.summ,0) ??s04
+nvl(b5.summ,0) ??s05
+nvl(b6.summ,0) ??s06
+nvl(b10.summ,0) ??s10
+nvl(b14.summ,0) ??s14
+nvl(b17.summ,0) ??s17
+nvl(b19.summ,0) ??s19
[end]

[s_summ]
0
	+nvl(s0.summ_usd,0) ??s0
	+nvl(s4.summ_usd,0) ??s04
	+nvl(s5.summ_usd,0) ??s05
	+nvl(s6.summ_usd,0) ??s06
	+nvl(s10.summ_usd,0) ??s10
	+nvl(s14.summ_usd,0) ??s14
	+nvl(s17.summ_usd,0) ??s17
	+nvl(s19.summ_usd,0) ??s19
[end]

[SQL]
select i.code as "LAB"
, to_char(b4.summ,'99990.0') as "B4", to_char(s4.summ_usd/1000,'99990.0') as "S4" ??s04
, to_char(b5.summ,'99990.0') as "B5", to_char(s5.summ_usd/1000,'99990.0') as "S5" ??s05
, to_char(b6.summ,'99990.0') as "B6", to_char(s6.summ_usd/1000,'99990.0') as "S6" ??s06
, to_char(b10.summ,'99990.0') as "B10", to_char(s10.summ_usd/1000,'99990.0') as "S10" ??s10
, to_char(b14.summ,'99990.0') as "B14", to_char(s14.summ_usd/1000,'99990.0') as "S14" ??s14
, to_char(b17.summ,'99990.0') as "B17", to_char(s17.summ_usd/1000,'99990.0') as "S17" ??s17
, to_char(b19.summ,'99990.0') as "B19", to_char(s19.summ_usd/1000,'99990.0') as "S19" ??s19
, to_char(b0.summ,'99990.0') as "B0", to_char(s0.summ_usd/1000,'99990.0') as "S0" ??s0

, to_char(
$INCLUDE [b_summ]
,'999990.0') as "B_TOT"

, to_char((
$INCLUDE [s_summ]
)/1000,'9999990.0') as "S_TOT"

, decode(
$INCLUDE [b_summ]
,0,'-',
 to_char((
$INCLUDE [s_summ]
)/(10*(
$INCLUDE [b_summ]
 )),'999990')  
 )
 as "PS"
, i.DIV
from
i_lab i
left join bud_lab_#q_yr# b0 on b0.lab_code=i.code and b0.aggr='0' ??s0
left join bud_lab_#q_yr# b4 on b4.lab_code=i.code and b4.aggr='4' ??s04
left join bud_lab_#q_yr# b5 on b5.lab_code=i.code and b5.aggr='5' ??s05
left join bud_lab_#q_yr# b6 on b6.lab_code=i.code and b6.aggr='6' ??s06
left join bud_lab_#q_yr# b10 on b10.lab_code=i.code and b10.aggr='10' ??s10
left join bud_lab_#q_yr# b14 on b14.lab_code=i.code and b14.aggr='14' ??s14
left join bud_lab_#q_yr# b17 on b17.lab_code=i.code and b17.aggr='17' ??s17
left join bud_lab_#q_yr# b19 on b19.lab_code=i.code and b19.aggr='19' ??s19

left join doc_lab_#q_yr# s0 on s0.lab_code=i.code and s0.aggr='00' ??s0
left join doc_lab_#q_yr# s4 on s4.lab_code=i.code and s4.aggr='04' ??s04
left join doc_lab_#q_yr# s5 on s5.lab_code=i.code and s5.aggr='05' ??s05
left join doc_lab_#q_yr# s6 on s6.lab_code=i.code and s6.aggr='06' ??s06
left join doc_lab_#q_yr# s10 on s10.lab_code=i.code and s10.aggr='10' ??s10
left join doc_lab_#q_yr# s14 on s14.lab_code=i.code and s14.aggr='14' ??s14
left join doc_lab_#q_yr# s17 on s17.lab_code=i.code and s17.aggr='17' ??s17
left join doc_lab_#q_yr# s19 on s19.lab_code=i.code and s19.aggr='19' ??s19

where 
 i.code in ('002','032','090','100','200','300','400','500','600','990')
and i.code in (#A_LABS#) ??A_LABS

order by i.code

[end]

'002',
