[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSpecial??
service=dubna.walt.service.TableServiceSpecial2 
debug=off
KeepLog=false
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0
makeTotalsForCols=,TOT_SUMMA_USD,
totRowLabel=Всего:
NumSpecialCols=3
numDigits=1
thsnDelimiter=&nbsp;
[end]

[numDigitsForCols]
STATIA=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
[end]


[report header]
$INCLUDE common.dat[head]
<script type="text/javascript" src="/adb/js/jquery-1.9.1.min.js"></script>
<script src="/adb/js/jquery-ui-1.10.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/adb/js/jquery-migrate-1.1.1.min.js"></script>

<style>
.r {text-align:right;}
table.tsvod  {background-color:white; margin-left:130px; border:solid 1px ##006020;}
table.tlist {background-color:white; margin:10px 0 0 30px; border:solid 1px ##006020;}
.tlist td, .tlist th, table.tsvod td, table.tsvod th {padding-left:5px; padding-right:5px; border-right: solid 1px ##006020; border-bottom:solid 1px ##006020;}
td.total, td.total_label {padding:5px; font-weight:bold;}
td.total_label {text-align:right; text-align:right;}
table.tlist th.srh {cursor: pointer;}
table.tlist th.aa {background-color:##FFFF80;}
th.sdown {background: url("/adb/images/sortDown.gif") no-repeat scroll right bottom ##F0F8FF; }
th.sup { background: url("/adb/images/sortUp.gif") no-repeat scroll right bottom ##F0F8FF; }

================== POP-UP WINDOW =====================?? 
.dialog_overlay {position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		height: 100%; width: 100%;
		margin: 0; padding: 0; background: ##000000;
		opacity: .35; filter: alpha(opacity=35);
    -moz-opacity: .35; z-index: 101;
		display: none;
}

.dialog table {width: 99.5%; background-color_:whitesmoke; margin-left:2px;} ??
.dialog table {width: 100%;}

.dialog {display: none; position: absolute; width: 80%; height_: 200px;
top: 30%; left: 20%; padding: 1px;
background-color: ##ffffff; ??
background-color:whitesmoke;
border: 1px solid #336699; 
border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;
z-index: 102; font-family: Verdana; font-size: 10pt;
}

.dialog_title { border-bottom: solid 2px ##336699; 
background: ##336699 url(/adb/images/head_bg.png) repeat-y right top ; 
padding: 2px 2px 0px 8px; color: white; font-weight:bold;
}

.align_right {text-align: right;}
##popupTree table {margin:0;} ??
##popupCont table {margin:0;}
</style>

$SET_PARAMETERS srt=d.SUMMA_USD; desc=desc; ??!srt

<form name="theForm" method="POST" target="wf" enctype="multipart/form-data">
	<input type=hidden name="c" value="cp/svod/mnts_det">
	<input type=hidden name="srt" value="#srt#">
	<input type=hidden name="desc" value="#desc#">
	<input type=hidden name="f_mnts_type" value="#f_mnts_type#">
	<input type=hidden name="f_lab" value="#f_lab#">
	<input type=hidden name="f_f" value="#f_f#">
	<input type=hidden name="f_regnr" value="#f_regnr#">

$SET_PARAMETERS DIV=инфраструктуре ОИЯИ ??f_lab=990
<table border=0 cellpadding=0 cellspacing=0 style="margin:20px; width:97%"><tr><td width=90%>
<h3>Детализация расходов на МНТС по #DIV# за 20#q_yr# год</td><td align=right nowrap=true></td><td align=right nowrap=true>
<a class=info href="/adb/adb">Главная</a></td></tr>
<tr><td><h4>(по данным регистрации ADB2)</h4></td></tr>
</table>


<table class="tsvod" border=0 cellspacing=0 cellpadding=0>
<tr>
<th class="srh" sr="w.CODE">&nbsp;</th>
<th class="srh" sr="p.SUMMA_USD">Сумма<br>(тыс. $)</th>
</tr>
[end]


[item]
<tr>
<td>#MNTS_TYPE#:&nbsp;#TYPE#&nbsp;</td> 
<td class="r">
<a href="#ServletPath#?c=cp/svod/mnts_det&f_mnts_type=#MNTS_TYPE#" target="wf"> ??
<a href="javascript:showDet(#MNTS_TYPE#);">
#TOT_SUMMA_USD#</a>
</td>
</td></tr>
[end]


[report footer]
</table>

<div id="docs_table" style="">
</div>

<div id="overlay" class="dialog_overlay" onClick="HideDialog();"></div>     
<div id="dialog" class="dialog">
<table style="" cellpadding="3" cellspacing="0">
<tr><td class="dialog_title align_right">
<img class=btn src="#imgPath#close.png" width="16" height="14" border="0"
onClick="HideDialog();"></td></tr>
<tr><td style="padding: 15px;">
<div id="popupCont"><img src="#imgPath#min.png"><img src="#imgPath#max.png"></div> ??
<div id="popupTree" style="display:none;">===</div> ??
<div id="popupCont" style="display:none;">===</div>
</td></tr></table>
</div>

</form>

======================================================== ??
<script type="text/javascript">
var frm = document.theForm;
var makeTableCfg="cp/svod/mnts_det";
var dialogOn = false;


function showDialogCont(title, content, modal)
{
	showMsg("##dialog_title", title);
	showMsg("##popupCont", content);
	ShowDialog(modal);
}

function ShowDialog(modal)
{
	$("##overlay").show(); ??
	$("##popupCont").show();
	$("##popupTree").hide(); ??
	$("##popupTree").show(); ??
	$('##overlay').height($(document).height()).fadeIn(300); ??
	$('##overlay').height($(document).height()).show();
	$("##dialog").fadeIn(300); ??
	$("##dialog").show();
	if (modal)
			$("##overlay").unbind("click");
	else
			$("##overlay").click(function (e) {HideDialog(); });
	$( "##dialog" ).draggable({
	containment:'parent', ??
	handle: '.dialog_title'});	
	dialogOn = true;
	centerDialog();
}

function HideDialog()
{
	$("##overlay").hide();
	$("##dialog").fadeOut(300);
	$("##popupCont").html("");
	dialogOn = false;
} 

function centerDialog(){
	if (!dialogOn) return;

	var h = document.body.offsetHeight-200;
	if(document.all) h = h - 40; ??
	if (h<200) h=200;
	if (h>500) h=500;
	$('##ptree').height(h);
	
//  if(document.all) t = ($("body").innerHeight() - $('.dialog').outerHeight())/2 + $(window).scrollTop(); ??
//	else t = ($("window").innerHeight() - $('.dialog').outerHeight())/2 + $(window).scrollTop(); ??
//	t=$(window).scrollTop() + 10;
	var t = window.document.body.scrollTop + 50 + (h - $('.dialog').outerHeight())/2 ;
	if (t<10) t=10;
	$('.dialog').css({
		position:'absolute',
		left: ($("body").innerWidth() - $('.dialog').outerWidth())/2,
		top: t
	});
}

$(window).resize(function(){
centerDialog();
	});


========================================================= ??

var showDet=function (type, f_lab, f_f){
if (f_f) {
		frm.srt.value="d.SUMMA_USD";
		frm.c.value="cp/svod/mnts_det";
		frm.f_lab.value=f_lab;
		frm.f_f.value=f_f;
}
else {
	setElement("docs_table","<center>LOADING...</center>");
	frm.f_mnts_type.value = type;
	if (type == 9) {
		frm.srt.value="sum(nvl(d.SUMMA_USD,0))";
		frm.c.value="cp/svod/mnts_fio";
	}
	else {
		frm.srt.value="d.SUMMA_USD";
		frm.c.value="cp/svod/mnts_det";
	}
}
	frm.desc.value="desc";
	frm.submit();
}

function editDoc(docId, prjId)
{ 
	if (prjId && prjId > 0)
		openWindow("c=nica/docEdit&type=ext&stype=#type#&DOC_ID="+docId,"docEdit"+docId,1000,700);
	else
	{
		alert("#type#"); ??
		openWindow("c=doc/docEdit&type=ext&stype=#type#&DOC_ID="+docId,"docEdit"+docId,1000,650);
	}
}

function getChildren(docId)
{ frm.f_regnr.value=docId;
	makeTableCfg=frm.c.value;
	frm.c.value="doc/list";
	frm.target="_blank";
  frm.submit();
	frm.target="wf";
	frm.c.value = makeTableCfg;
}


var showSrt = function(srt, cl) {$("th[sr='" + srt + "']").addClass(cl); }

var sel = function(ev) {
	if(ev.type == "mouseover") $(this).addClass("aa");
	else if(ev.type == "mouseout")	$(this).removeClass("aa");
	else if(ev.type == "click")
	{
		alert($('##' + $(ev.target).attr("nid")).attr("id")); ??
		alert($(ev.target).attr("nid") + " / " + $(ev.target).attr("atab")); ??
			if($(this).attr("atab")) 
			{	atab = $(this).attr("atab");	
				if(atab=="t_struct")
					$( "##tabs" ).tabs( "option", "active", 0 );
			}
		if ($('##' + $(this).attr("nid")).attr("id"))
			$('##' + $(this).attr("nid")).click();
		else if($(this).attr("nid"))
		{	getId($(this).attr("nid"));
			eval(atab+"();");
		}
	}
	return true;
}

var setSrt = function(ev) {
	var s_new = $(this).attr("sr");
	var s_old = frm.srt.value;
	if (s_new == s_old)
	{ if(frm.desc.value == 'desc') frm.desc.value = '';
		else frm.desc.value = 'desc';
	}
	else
		frm.srt.value = s_new;

	doSubmit("", makeTableCfg);
	return false;
}

var showSrt = function(srt, cl) {$("th[sr='" + srt + "']").addClass(cl); }

var doSubmit=function(cop, modul)
{
		document.theForm.c.value=modul;
		document.theForm.submit();
}


var bindEvents=function()
{
	$('.srh').mouseout(sel);
	$('.srh').mouseover(sel);
	$('.srh').click(setSrt);
}


var setElement = function(div_id, txt)
{ 
	document.getElementById(div_id).innerHTML=txt;   ??
	$("##"+div_id).html(txt);
}

function getResult(div_id, res)
{
alert(div_id); ??
	setElement(div_id,res.innerHTML);
}

</script>


<iframe width=900 height=0 name="wf" id="wf" scrolling="auto" frameborder="0" style="border:none 1px ##607080;"></iframe>  

</body></html>
[end]


========================================================

[preSQLs]
select DIV from i_lab where code=#f_lab#

[end]



[SQL]
SELECT
t.TYPE
, to_char(sum(nvl(d.SUMMA_USD,0))/1000,'99,999,999,990.0') as TOT_SUMMA_USD ??
, to_char(sum(nvl(d.SUMMA_USD,0))/1000,'99,999,999,990.0') as TOT_SUMMA_USD
, t.srt, d.mnts_type, count(d.doc_id) as TOT_NUM_DOCS
FROM docs d left join bc_12_13  b on b.code=d.BC
left join mnts_types t on t.id=d.mnts_type
WHERE
 (b.LAB_CODE in(#f_lab#) or d.LAB_CODE in(#f_lab#) )
and (
d.REG_DATE between to_date('01.01.2013','dd.mm.yyyy') and to_date('31.12.2013 23:55','dd.mm.yyyy HH24:MI')
or d.PAYED between to_date('01.01.2013','dd.mm.yyyy') and to_date('31.12.2013 23:55','dd.mm.yyyy HH24:MI')
)
and d.doc_status <> 5
and d.aggr='04'
and d.is_total is null
group by d.mnts_type, t.type, t.srt
having  sum(nvl(d.SUMMA_USD,0))>200
order by t.srt
[end]

, p.NR, p.CREATED, p.CREATOR_ID, p.MODIFIED, p.MODIFIER_ID


[criteria]
p.TASK_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#curr_id#)) 
and p.TASK_ID in(select ID from nica_wbs_wu connect by prior id=pid start with id in(#A_NICA#)) ??A_NICA	
and upper(NAZNACH) like upper('%#f_NAZNACH#%') ??f_NAZNACH
and upper(CONTRAG) like upper('%#f_CONTRAG#%') ??f_CONTRAG
and upper(DOGOVOR) like upper('%#f_DOGOVOR#%') ??f_DOGOVOR
and STATIA=#f_aggr# ??f_aggr>0
	and p.summa_usd #f_summa_op# #f_summa# ??f_curr_code=840&f_summa&!f_summa_op==
	and p.summa_rub #f_summa_op# #f_summa# ??f_curr_code=810&f_summa&!f_summa_op==
	and abs(p.summa_usd-#f_summa#) < #dsumm# ??f_curr_code=840&f_summa&f_summa_op==
	and abs(p.summa_rub-#f_summa#) < #dsumm# ??f_curr_code=810&f_summa&f_summa_op==
	
and extract(YEAR from p.DAT) = #f_year# ??f_year&!TYP=WU&!f_year={{ALL|past|future}}
and extract(YEAR from p.DAT) < #CURR_YEAR# ??f_year=past
and extract(YEAR from p.DAT) >= #CURR_YEAR# ??f_year=future
and extract(MONTH from p.DAT) >= #f_month# ??f_month&!f_month2
and extract(MONTH from p.DAT) between #f_month# and #f_month2# ??f_month&f_month2
and (upper(w.RESP) like upper('%#f_resp#%') or upper(w.RESP_E) like upper('%#f_resp#%') or upper(w.RESP_EMAIL) like upper('%#f_resp#%'))	??f_resp
[end]
