[parameters]
of=bin 
service=jinr.pin.ServiceData 
contentType=application/msword 
mimeType=application/msword 
fileName=info_card.doc
debug=on  ??
dateShortFormat=%d.%m.%Y
dateVeryShortFormat=%m.%Y
floatDecimals=4
vspace=<tr><td style='font-size:4.0pt'>&nbsp;</td></tr>
[end]

attInfoCard


[table cols]

[end]

[cols]
<tr>
<td style=width:50pt;">&nbsp;</td>
<td style=width:50pt;">&nbsp;</td>
<td style=width:50pt;">&nbsp;</td>
<td style=width:30pt;">&nbsp;</td>
<td style=width:70pt;">&nbsp;</td>
<td style=width:50pt;">&nbsp;</td>
<td style=width:50pt;">&nbsp;</td>
<td style=width:50pt;">&nbsp;</td>
<td style=width:50pt;">&nbsp;</td>
<td style=width:50pt;">&nbsp;</td>
</tr>
[end]

[report]
<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1251">
<meta name=ProgId content=Word.Document>
<title>Определение индивидуальных показателей результативности</title>
$GET_DATA attForms/attList.cfg[GET ALL DATA]
$GET_DATA attForms/bills.cfg[preSQLs]
<style>
td {font-size:12.0pt; font-family:"Times New Roman","serif"; }
td.data {padding: 10pt 0 0 5pt; border-bottom: solid 1px black;}
td.s {text-align:center;  font-size:9.0pt;}
</style>
</head>

<body>

<table border=0 cellpadding=0 cellspacing=0>
$INCLUDE [cols]
<tr><td colspan=10 valign=top style='text-align:center; font-size:13.0pt; letter-spacing:1.5pt; '>
ОБЪЕДИНЕННЫЙ ИНСТИТУТ ЯДЕРНЫХ ИССЛЕДОВАНИЙ
</td></tr>
 <tr><td colspan=10 valign=top style='text-align:center; padding: 10pt 0 0 0; font-size:14.0pt; '>
<b>Информационная карта научного работника</b>
</td> </tr>

<tr><td colspan=1></td><td colspan=8 valign=bottom class="data" style="text-align:center;">
#DIV#,&nbsp; ??DIV
#OTD#        ??!DIV
</td><td colspan=1></td></tr>
 
 <tr><td colspan=2></td><td colspan=6 valign=top class="s">
 (наименование структурного подразделения )
  </td><td colspan=2></td></tr>

<tr><td colspan=3>1. Фамилия, имя, отчество</td>
<td colspan=7 valign=bottom class="data">
#name# #name1# #name2#
</td><td colspan=1></td></tr>


<tr><td colspan=6>2. Специальность и квалификация по образованию</td>
<td colspan=4 valign=bottom class="data">
#OBRAZ#</td></tr>

<tr><td colspan=10 valign=bottom class="data">
#SPEC#</td></tr>

<tr><td colspan=4>3. Ученая степень, ученое звание</td>
<td colspan=6 valign=bottom class="data">
#STEPEN#
,&nbsp ??STEPEN&UCH_ZV
#UCH_ZV# </td></tr>

<tr><td colspan=3>4. Общий трудовой стаж</td>
<td colspan=7 valign=bottom class="data">
</td></tr>

<tr><td colspan=3>5. Занимаемая должность</td>
<td colspan=7 valign=bottom class="data">#DOLZHN#</td></tr>
<tr><td colspan=10 valign=bottom class="data" style="text-align:center;">
++++++++++++ ДАТА_НЕ_ВЕРНА! У всех 01.04.2017 (последнее повышение оклада) Нужно разобраться с Олей, как она вытаскивает правильную дату. ++++++++++++++++ ??
#POST_DATE#
&nbsp;</td></tr>
<tr><td colspan=10 valign=top class="s">(дата назначения)</td></tr>

<tr><td colspan=7>6. Информация о результатах работы за оцениваемый период</td>
<td colspan=3 valign=bottom class="data"></td></tr>
<tr><td colspan=10 valign=bottom class="data">&nbsp;</td></tr>
<tr><td colspan=10 valign=bottom class="data">&nbsp;</td></tr>
<tr><td colspan=10 valign=bottom class="data">&nbsp;</td></tr>
<tr><td colspan=10 valign=bottom class="data">&nbsp;</td></tr>


<tr><td colspan=10>7. Библиометрические параметры (по желанию) с указанием базы данных, из которой они получены</td></tr>
<tr><td colspan=10 valign=bottom class="data">&nbsp;</td></tr>
<tr><td colspan=10 valign=bottom class="data">&nbsp;</td></tr>
<tr><td colspan=10 valign=bottom class="data">&nbsp;</td></tr>
<tr><td colspan=10 valign=bottom class="data">&nbsp;</td></tr>

<tr><td colspan=10>&nbsp;</td></tr>

<tr><td></td><td style="text-align:right;">Дата «
<td colspan=1 valign=bottom class="data"></td><td>»</td>
<td colspan=2 valign=bottom class="data"></td>
<td colspan=1 valign=bottom class="data" style="text-align:right;">#CURR_YEAR# г.</td>
</tr>

<tr><td colspan=6></td><td colspan=4 valign=bottom class="data">&nbsp;</td></tr>
<tr><td colspan=6></td><td colspan=4 valign=top class="s">(подпись научного работника и дата)</td></tr>

<tr><td colspan=10>&nbsp;</td></tr>
<tr><td colspan=6></td><td colspan=4 valign=bottom class="data">&nbsp;</td></tr>
<tr><td colspan=6></td><td colspan=4 valign=top class="s">(подпись непосредственно руководителя и дата)</td></tr>

</table>
</body></html>
[end]
