[parameters]
debug=on ??
floatDecimals=4
vspace=<tr><td style='font-size:4.0pt'>&nbsp;</td></tr>
[end]


[report]
$INCLUDE common.dat[head]
<style>
input.b {font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11pt;
font-weight:bold; border: solid 1px ##BBBBBB; text-align:center; }
</style>
</head>
$SET_PARAMETERS TYPE_IDS=;
$INCLUDE [data]
$GET_DATA [data]	??cop

<body style="margin:10; background-color:white;">
<center>


<table border=0 cellspacing=0 cellpadding=0 width=643>
 <tr><td valign=top style='font-size:12pt;' nowrap><b>
<form name="theForm" 
method="POST" enctype="multipart/form-data" ??
style="margin:0; padding:0;">
<input type=hidden name=c value='#c#'>
<input type=hidden name=cop value='get'>
<input type=hidden name=folder_id value='#folder_id#'>
	Список публикаций #NAME# 
 c <input name=yr1 class=b size=5 value='#yr1#'> 
по <input name=yr2 class=b size=5 value='#yr2#'> год</b>
&nbsp;
<br><br>
$GET_DATA [get event types]
Тип: <SELECT name="F_TYPE_ID"><option value="">все</option>#OPTS_EVENT_TYPES#</SELECT>
<input type=submit value="Получить">
</form>
<script> selectOptionByVal(document.theForm.F_TYPE_ID, #F_TYPE_ID#); </script>  ??F_TYPE_ID
</td></tr>
	 	
#vspace#
 <tr><td>
<br><br><b>===== Нет данных =====</b>  ??!TYPE_IDS&cop

$EXECUTE_LOOP event_type; #TYPE_IDS#; [printType]

</td></tr></table></center>
<script>
window.focus();
</script>
</body></html>
[end]


[printType]
$GET_DATA [getTypeName]
$EXECUTE_LOOP event_subtype; #SUBTYPE_IDS#; [printSubType]  ??SUBTYPE_IDS
<b>#TYPE_NAME#:</b> ??!SUBTYPE_IDS
$CALL_SERVICE c=attForms/labTypeList  ??!SUBTYPE_IDS
$SET_PARAMETERS SUBTYPE_IDS=; TYPE_NAME=; event_subtype=;
[end]


[printSubType]
$GET_DATA [getSubTypeName]
<b>#TYPE_NAME# (#SUBTYPE_NAME#):</b><br>

$CALL_SERVICE c=attForms/labTypeList

$SET_PARAMETERS SUBTYPE_NAME=;
[end]


[getSubTypeName]
select name as "SUBTYPE_NAME" from event_subtypes where id=#event_subtype#
;
[end]

[getTypeName]
select name as "TYPE_NAME" from event_types where id=#event_type#
;
select distinct	concat(',',subtype_id) as "SUBTYPE_IDS", est.sort as estsrt_
from 
person_event pe join event_values ev on ev.id=pe.event_id
	join event_subtypes est on est.id=ev.subtype_id
where 
	pe.person_id in(0#PERS_LIST#)
	and ev.type_id=#event_type#
	and ev.date between str_to_date('01.01.#yr1#','#dateShortFormat#')	and str_to_date('31.12.#yr2#','#dateShortFormat#')
order by 
	est.sort
[end]

[preSQLs]
$SET_PARAMETERS yr1=#YEAR_NOW#	??!yr1
$SET_PARAMETERS yr2=#yr1#	??!yr2
[end]

[data]
select t.NAME, t.DESCRIPTION, t.code as "DIV_CODE"
from t_tree t
where t.id=#folder_id#
;
select getSubfolders(#folder_id#) as "listOfChildren";

select concat(',',id) as "PERS_LIST"
from p_persons_post ppp
WHERE ppp.otdel in (#folder_id#
,#listOfChildren# ??listOfChildren
)
and ppp.usl_rab in (1,2,4,5,8,9) ??
and ppp.is_deleted != 1
;
select distinct
	concat(',',type_id) as "TYPE_IDS", et.sort as etsrt_ 
    ,subtype_id as sbtpid_          ??
from 
person_event pe join event_values ev on ev.id=pe.event_id
	join event_types et on et.id=ev.type_id
where 
	pe.person_id in(0#PERS_LIST#)
	and et.tab='sc' 
	and ev.date>=str_to_date('01.01.#yr1#','#dateShortFormat#')
	and ev.date<=str_to_date('31.12.#yr2#','#dateShortFormat#')
	and type_id=#F_TYPE_ID#	??F_TYPE_ID
        and ev.dat_ch is not null
order by 
	et.sort
    ,subtype_id  ??
[end]

[get event types]
select concat('<option value=''',cast(id as char),'''>',name,'</option>') as OPTS_EVENT_TYPES
from event_types 
where tab='sc'
order by sort;
[end]
