[parameters]
debug=on ??
service=dubna.walt.service.TableServiceSpecial
sortCols=ID
floatDecimals=4
markColor=whitesmoke
selColor=lightGrey
[end]


[report header]
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT> ??
$GET_DATA persons/tab_Co.cfg[GetRecord]			??id
$INCLUDE common.dat[head]
$INCLUDE list.cfg[style] 
</head>

<body style="margin:10; background-color:white;">
<input type=hidden name="event_id" value="#event_id#">
<input type=hidden name="action" value="#action#">
<input type=hidden name="TYPE_ID" value="#TYPE_ID#">

<script language="Javascript">
var frm=document.theForm;
window.focus();
</script>

<CENTER><h3>Аттестационный лист</h3></CENTER>

<table width=100% ><tr>
<td class=big style="vertical-align:bottom"><b><i>#name# #name1# #name2#</i></b></td>
<td style="padding-top:10px; padding-bottom:10px; text-align:right;">
</td></tr></table>


<table border=0 cellspacing=0 >

<tr><td align=right>Должности: </td><td class=big>
$GET_DATA persons/tab_Co.cfg[getPosts]
#DOLZHN#
</td></tr>

<tr><td align=right width=160>Дата рождения: </td><td >#DATA_ROZHD#</td></tr> 

<tr><td align=right>
Образование: </td><td class=big>#OBRAZ#, #SPEC#, <small>#DATA_OB#</small>
</td></tr>

<tr><td align=right nowrap=true>
Ученая степень: </td><td class=big>#STEPEN#, #OTRASL_N#, <small>#DATA_ZASH#</small> ??STEPEN&!STEPEN=нет
</td></tr>

<tr><td align=right nowrap=true>Ученое звание: </td><td class=big>#UCH_ZVANIE#, #UZK_SPEC#</td></tr> ??UCH_ZVANIE
</table>
<br><br>
<table border=0 cellspacing=0>
<tr><td colspan=2>
[end]

[subtype header]
<tr><td colspan=20 >
#SUBTYPE_NAME#:
</td></tr>
[end]

[item]
$GET_DATA [get value] 
$GET_DATA [get header]				    ??!old_type_id=#TYPE_ID#

$INCLUDE [open-close tables]
<td #LIST_TD_PARAMS#
align=center  ??DATA_TYPE=int|DATA_TYPE=float|DATA_TYPE=date
>#VAL# &nbsp;</td>	
$SET_PARAMETERS old_id=#event_id#; old_type_id=#TYPE_ID#; old_subtype_id=#SUBTYPE_ID#
$SET_PARAMETERS VAL=; SUBTYPE_ID=;
[end]


[open-close tables]
</tr>									??old_id&!event_id=#old_id#
</table><br>					??old_type_id&!old_type_id=#TYPE_ID#
$PRINT --- table --- 	??old_type_id&!old_type_id=#TYPE_ID#
<table border=0  cellspacing=0 cellpadding=5 class="zz"><tr><th colspan=3>#TYPE_NAME#:</th><th colspan=200>&nbsp;</th></tr><tr><th  class=colhead >Дата</th>#VARS_HEADER#</tr>  ??!old_type_id=#TYPE_ID#
$INCLUDE [subtype header] ??SUBTYPE_ID&!old_subtype_id=#SUBTYPE_ID#&!SUBTYPE_ID=0
<tr class="row" id="u_#event_id#"><td width="1%">#DATE#&nbsp;</td>			??!event_id=#old_id#
[end]


[report footer]
</td></tr></table>
$SET_PARAMETERS TYPE_ID=
$INCLUDE [open-close tables] ??
[end]

[get value text]
CASE WHEN LENGTH(#FIELD_NAME#)>
512 ??!LIST_MAX_LEN 
#LIST_MAX_LEN# ??LIST_MAX_LEN
THEN CONCAT(SUBSTRING(#FIELD_NAME#,1,
512 ??!LIST_MAX_LEN
#LIST_MAX_LEN# ??LIST_MAX_LEN
),' ...') ELSE #FIELD_NAME# END
[end]

[get value]
SELECT 
ROUND(#FIELD_NAME#,#floatDecimals#)						 ??DATA_TYPE=float
$INCLUDE [get value text]	??DATA_TYPE=varchar|DATA_TYPE=text
#FIELD_NAME#                                   ??DATA_TYPE=int
DATE_FORMAT(#FIELD_NAME#,'#dateShortFormat#') ??DATA_TYPE=date
as VAL from event_values where 
id=#event_id#;
[end]

[get header]
SELECT CONCAT('<th class=colhead>',evrs.NAME,'</th>') as VARS_HEADER
FROM 
event_vars evrs
WHERE
evrs.type_id=#TYPE_ID#
and evrs.list=1
order by evrs.sort
[end]

[SQL]
select 
	etps.name as TYPE_NAME
	,concat(etps.id,'-',estps.id) as TYPE_ID ??
	,etps.id as TYPE_ID 
	,evrs.field_name as FIELD_NAME 
	,evrs.name as VAR_NAME
	,evls.VALUE_COMMENT as VALUE_COMMENT ??
	,evls.id as event_id
	,evrs.list_td_params as LIST_TD_PARAMS
	,isc.data_type as DATA_TYPE
	,DATE_FORMAT(evls.date,'#dateVeryShortFormat#') as DATE
	,estps.name as SUBTYPE_NAME
	,estps.id as SUBTYPE_ID
	,evrs. list_max_len as LIST_MAX_LEN
	,evls.ball as SCORE
from 
	person_event pe
	,event_values evls
	left join event_vars evrs on evrs.type_id=evls.type_id
	left join information_schema.COLUMNS isc on
		( isc.column_name=evrs.field_name
			and isc.table_name='event_values'
			and isc.table_schema='#database#'
		)
	left join event_types etps on etps.id=evrs.type_id
	left join event_subtypes estps on estps.id=evls.subtype_id
where
    pe.event_id=evls.id 
	and evrs.render=1
	and evrs.list=1
	and year(evls.date)>=#YR_BEG# ??YR_BEG
	and year(evls.date)<=#YR_END# ??YR_END
	and etps.id=#F_TYPE_ID# 					??F_TYPE_ID
	and pe.person_id=#id#          ??id
	and etps.tab in('sc','ac') 
order by 
  etps.tab desc
	,etps.sort
	,evls.type_id
	,evls.subtype_id
	,evls.id   
	, evrs.sort
;
[end]

[get today]
SELECT 
DAY(NOW()) AS DAY_TODAY
, MONTH(NOW()) AS MONTH_TODAY
, YEAR (NOW()) AS YEAR_TODAY
, DATE_FORMAT(NOW(),'#dateShortFormat#') AS DATE_TODAY;
[end]

[get ball sums]
select
round(ifnull(sum(ev.ball),0),1) as SUMM_ALL
, count(ev.id) as SUMN_ALL
from 
event_values ev
, event_types et 

where 
ev.person_id=#id#
AND et.id=ev.type_id 
and et.tab='#vd#' 
and year(ev.date)>=#YR_BEG#  ??YR_BEG
and year(ev.date)<=#YR_END#  ??YR_END
[end]