[parameters]
service=dubna.walt.service.TableServiceSpecial
table_beg=none
table_end=none

KeepLog=truef
debug=on ??
thsnDelimiter=none
$INCLUDE css/css.cfg[parameters]
[end]


[item]
<tr> ??ODD
<td class=b_top >&nbsp;</td>  ??!ODD

<td rowspan=1 style="margin:0; padding-bottom:10; padding-top:0; padding-right:0;">
<table border=0 class=division width=350
 onClick="goToFolder(#NODE_ID#)" >
<tr><td width=1 style="padding:0;">
<img src="#servletPath#?c=showIcon&id=#ICON_ID#" align=middle width=45 height=40>
</td><td ><b>#DESCRIPTION#</b>
<div style="width:100%; text-align:right;"><small>#NUM_PERSONS#&nbsp;чел.</small></div> ??NUM_PERSONS
</td></tr></table>
</td>
<td class=b_top_right>&nbsp;</td>  ??ODD
</tr> ??!ODD

$SET_PARAMETERS ODD=Y; set=Y ??!ODD
$SET_PARAMETERS ODD=; ??!set=Y
$SET_PARAMETERS set=
[end]

[report header]
$SET_PARAMETERS ODD=Y;
<style>
table.divlist {margin-left:20px;}
td.divlist {}
</style>

$INCLUDE [test substitution] ??

<table border="0" class=divlist cellspacing="0" cellpadding="0">

$INCLUDE [msg] ??NAME=ОИЯИ

<tr><td></td><td class=b_right style="width:10px;">&nbsp; </td><td class-b_top style="width:10px;"></td>

<td style="width:300;" align=right>&nbsp; 
<a href="#servletPath#?c=attForms/labScList&folder_id=#folder_id#" target=_blank>Список публикаций #NAME# >></a>  ??!NAME=ОИЯИ
<br>&nbsp;</td></tr>
[end]

[msg]

<tr><td colspan=4>


<!--div style="font-size:11pt; width: 600px; text-align:center; background-color:white; margin:5px 50px 5px 50px; padding:0; border:solid 1px red;">
<h3>Уважаемые пользователи!</h3>
<div id="msgBody"
style="display:none;" ??q_nomsg=y
>К сожалению, из-за участившихся случаев перегрузки и отказа сервера<br>
пришлось <b><font color=red>отключить доступ к сервисам PIN и ADB2 не из сети ОИЯИ.</font></b>
<br>
Планируемая дата включения прямого доступа извне - <b>08.03.2017</b>
<br><br>
Альтернативный способ доступа к PIN и ADB2 извне - использование удаленного доступа к сети ОИЯИ (<a href="http://noc.jinr.ru/inform/inform.shtml" target=_blank>VPN-подключения</a>).
VPN-подключение возможно использоать не только через Дубненских провайдеров, 
но и из любого другого места (см. <a href="http://noc.jinr.ru/inform/inf_fqvpn.shtml" target=_blank>здесь</a>).
<br><br>
Приносим извинения за неудобство и благодарим за понимание.
</div>
</div-->
</td></tr>
[end]

[report footer]
</table>

[end]

====================
[test substitution]
$SET_PARAMETERS dess=name; dess_new=Дирекция
$GET_DATA [prepare test sql]
SQL_TST:#SQL_TST#
$GET_DATA [test sql]
DESCR:#DESCR#
[end]

[prepare test sql]
select 'select ##dess## as DESCR from t_tree where id=#folder_id#' as SQL_TST
;
select 'update t_tree set ##dess##=''##dess_new##'' where id=#folder_id#' as SQL_TST_2
;
[end]

[test sql]
#SQL_TST#;
#SQL_TST_2#;
[end]
============================

[preSQLs]
[end]



[SQL]
select t.id as "NODE_ID"
 , t.description as "DESCRIPTION"
 , ifnull(i.node_id,0) as "ICON_ID"
 , t.numPersons as "NUM_PERSONS1" 
, cntPpl(t.id) as "NUM_PERSONS" 
 
from t_tree t 
left join icons i on i.node_id=t.id
left join (
select  t.id, count(distinct pp.id)as pplcnt from t_tree t 
				left join p_persons_post ppp on ppp.otdel = t.id and ppp.is_deleted!=1
				left join p_persons pp on pp.id=ppp.id
				group by t.id
)z on t.id = z.id
where t.pid=#folder_id#
 and (z.pplcnt>0 or  hasChildren(t.id)>0)
 and t.status='A'
	and extAccess=1 ??!USER_ID|USER_ID=1
order by t.position
[end]

[colNames]
[end]