[parameters]
debug=off
KeepLog=truef
thsnDelimiter=none
LOG=ON
searchLabel=<img src='#imgPath#search.gif' align=top border=0> Поиск
$INCLUDE css/css.cfg[parameters] 
[end]


[tab] param: id; label; enabled;
<td width=1% id=tab_#id# onClick="selectView('#id#');" nowrap=true class=
tab_ab ??vd=#id#&enabled
tab_i ??!vd=#id#&enabled
tab_d ??!enabled
> #label# </td>
[end]


[report]
$SET_PARAMETERS SHOW_ALL=Y ??USER_ID={{2|4|6|10014}}

$SET_PARAMETERS_SESSION lvd=#vd#	??vd
$SET_PARAMETERS_SESSION lvd= ??
$SET_PARAMETERS vd=#lvd#	??!vd
$SET_PARAMETERS vd=li	??!vd

$SET_PARAMETERS folder_id=#id#	??id&!folder_id
$SET_PARAMETERS id=#folder_id#	??!id&folder_id

$SET_PARAMETERS_SESSION USER_ID=1; USER_PERSON_ID=; USER_NAME=GUEST;  ??!USER_ID
$SET_PARAMETERS_SESSION CurrentFolderId=#folder_id#;  ??folder_id
$SET_PARAMETERS SHOW_INNOV=Y	??USER_ID=10017|USER_ID=10014|USER_ID=2|USER_ID=3|USER_ID=4|USER_ID=6
$SET_PARAMETERS SHOW_INNOV=Y	??ACC_RIGHS>1
$INCLUDE common.dat[head]
<SCRIPT language=JavaScript src="#jsPath#divList.js"></SCRIPT>

<style>
body {margin:0;}

table.otdelHeader {
width:350px; margin:0; padding:0; cursor:pointer; background-color:white; border:solid 1px #b_dark#; ??!Folder|object_id=1001
width:400px; margin:0; padding:0; border-top:solid 1px gray; border-left:solid 1px gray; border-bottom:solid 2px #b_dark#; border-right:solid 2px #b_dark#; background-color:white; cursor:pointer;  ??Folder&!object_id=1001
}

table.division {margin:0; padding:0; border-top:solid 1px gray; border-left:solid 1px gray; border-bottom:solid 2px #b_dark#; border-right:solid 2px #b_dark#; background-color:white; font-size:10pt; cursor:pointer;}

td.b_top {border-top:dotted 1px gray;} ??!object_id=1001
td.b_top_right {border-right:dotted 3px black; border-top:dotted 1px gray;} ??!object_id=1001
td.b_right {border-right:dotted 3px gray;} ??!object_id=1001

td.tab_ab { margin:0;
	border-right: solid 1px #b_dark#; 
	border-left: solid 1px #b_dark#; 
	border-top: solid 1px #b_dark#; 
        border-radius: 10px 0px 0px 0px;
        background-color:##E4F0F8;
	text-align:center; vertical-align: top;
	PADDING-LEFT: 8px; PADDING-RIGHT: 8px; 
	FONT-SIZE: 14px; HEIGHT: 19px; font-weight:bold; 
  color:black;
	/*BACKGROUND: url("#imgPath#tab_bg_ab.gif") no-repeat left bottom; */
	CURSOR: pointer; WHITE-SPACE: nowrap; 
}

</style>
</head>

$SET_PARAMETERS modeSearch=Y ??vd=score_sc_pers

<body onLoad="init();">
$INCLUDE [tabs] 
$INCLUDE common.dat[form]
<input type=hidden name=modeSearch value="#modeSearch#">
<input type=hidden name=vd value="#vd#">
<input type=hidden name=srn value="#srn#">
<input type=hidden name=srt value="#srt#">
<input type=hidden name=desc value="#desc#">
<input type=hidden name=folder_id value="#folder_id#">
<input type=hidden name=id value="">

<center><span id=loading style="margin:20px; padding:8px; font-size:12pt; display:none; text-align:center; background-color:#FFFFCC;"></span></center>
<div id=cont_div> 

$INCLUDE [divHeader]  ??vd={{score_sc_pers|li|score_sc|score_in}}

<blockquote>  ??vd={{score_sc_pers|score_sc|score_in}}
$INCLUDE [script] 

======================================================================= ??
====================== Вызов модуля-репорта =========================== ??
======================================================================= ??
$CALL_SERVICE c=folders/list 	??!gallery=Y&!modeSearch=Y&vd=score_sc_pers|vd=li
$CALL_SERVICE c=persons/list  ??vd=score_sc_pers|vd=li|vd=score_sc
$CALL_SERVICE c=persons/makeInnovTable.cfg ??vd=score_in&SHOW_INNOV
$CALL_SERVICE c=users/editAccRights.cfg ??vd=ar&R_ADMIN=1
$CALL_SERVICE c=folders/editFolder ??vd=edit&R_ADMIN=1&USER_ROLE=GA|USER_ROLE=SA
======================================================================= ??

</blockquote>

#ERROR#
<script>
document.getElementById("loading").style.display="none";
</script>

</div>
</body></html>
[end]

[setAR]
$SET_PARAMETERS vd=li  ??XXX_vd={{edit|score_sc_pers}}&!USER_ROLE=GA|!R_ADMIN=1
$SET_PARAMETERS vd=li  ??vd=ar&!R_ADMIN=1
$SET_PARAMETERS vd=li  ??vd=score_in&!SHOW_INNOV
[end]

[tabs]
<table cellpadding=0 cellspacing=0 width=100% bgcolor=white>
<tr height=20><td height=20 nowrap=true style="border-bottom: solid 1px #b_dark#;">
$SET_PARAMETERS ACC_RIGHS=7 ??USER_ROLE=SA_XXX
$INCLUDE common.dat[setAccRights] 
$INCLUDE [setAR]	??!USER_ROLE=SA
<small>#DIV_CODE# / #folder_id#</small> ??USER_ID=2_XX
&nbsp;</td>

$INCLUDE [tab] param: id=li; label=Персонал; enabled=1;
$INCLUDE [tab] param: id=score_sc; label=Наука; enabled=1; ??USER_ID=4|R_ADMIN=1&USER_ROLE=GA|USER_ROLE=SA
$INCLUDE [tab] param: id=score_in; label=Инновации; enabled=1; ??SHOW_INNOV
$INCLUDE [tab] param: id=score_sc_pers; label=ПРНД; enabled=1; ??USER_ROLE=GA|USER_ROLE=SA
$INCLUDE [tab] param: id=ar; label=Права; enabled=1;  ??R_ADMIN=1
$INCLUDE [tab] param: id=edit; label=Изменить; enabled=1; ??R_ADMIN=1&USER_ROLE=GA|USER_ROLE=SA
<td width=20 style="border-bottom: solid 1px #b_dark#;">&nbsp;</td> ??
</tr></table>

<script>
var aTab=document.getElementById("tab_#v#");
top.showPopup(false);

function showLoading()
{
	var s = document.getElementById("loading");
	s.style.display="inline";
	s.innerHTML = "Выполнение запроса...";
	document.getElementById("cont_div").innerHTML = "";
}

function selectView(view)
{ 
  frm.vd.value=view;
	selectTab("tab_" + view);
	showLoading();
	
	if (view=="score_sc_pers")
	{	
		frm.srt.value="sum(bs.ttl)"; 
		frm.desc.value="DESC";
		frm.modeSearch.value="Y"; 
	}
	else
	{
		frm.modeSearch.value=""; 
		frm.srt.value=""; 
		frm.desc.value="DESC";
	}
	frm.c.value="folders/showSubdivisions"; 
	frm.srt.value=""; 
	frm.srn.value='';
	frm.target="";
  frm.submit();
}

function selectTab(id)
{ if (aTab != null && aTab.className=="tab_ab")
    aTab.className="tab_i";
  aTab=document.getElementById(id);
  aTab.className="tab_ab";
}

function enableTab(id, enable)
{ tab=document.getElementById("tab_" + id);
  tab.className = (enable) ? "tab_i" : "tab_d";
  eval (id + "_enabled=" + enable);
}
enableTab("co", false); enableTab("ed", false); selectTab("tab_ed"); ??hide=y
</script>
[end]
 

[divHeader]
================== Logo и название ======================= ??
<table border=0 style="margin:0; padding:0; width:98%">
<tr><td style="margin:0; padding:0; ">
<table border=0 id=otdelHeader class=otdelHeader style="cursor:default;">
<tr>
$SET_PARAMETERS ICON_ID=0; ??!ICON_ID
<td style="padding:0;" width=1><img id=u_icon src="#servletPath#?c=showIcon&id=#ICON_ID#" border=0 align=baseline ??ICON_ID
width=#ICON_WIDTH# height=#ICON_HEIGHT#></td> ??ICON_ID

<td style="padding:10; font-size:12pt; text-align:left; font-weight:normal; ">
<b> ??
#O_NAME# ??!DESCRIPTION
#DESCRIPTION# ??DESCRIPTION
</b>
<div style="width:100%; text-align:right; font-size:9pt;">
<br>руководитель: #BOSS_NAME#, &nbsp; ??BOSS_NAME
<small>#NUM_PERSONS#&nbsp;чел.</small>  ??NUM_PERSONS&!object_id=1001
</div>
</td></tr></table> 
</td>

<td nowrap=true align=right>&nbsp;<br><a href="http://www.jinr.ru/careers" target=_blank><img src="#imgPath#voc_8.jpg" border=0 alt="Вакансии научных работников"></a></td>  ??vd=li&!gallery=Y&!modeSearch=Y

================== ADV. SEARCH BLOCK & GALLERY iframe ======================= ??
<td
align=right ??!modeSearch=Y|vd=score_sc_pers
>
$INCLUDE [histogramm] ??vd=score_sc_pers
<div id=searchBlock style="display:block; width:420; " > ??modeSearch=Y&!vd=score_sc_pers
$INCLUDE persons/search.dat[search block] ??modeSearch=Y&!vd=score_sc_pers
</div> ??modeSearch=Y&!vd=score_sc_pers
<iframe src="#ServletPath#?c=photos&folder_id=#folder_id#" style="width:350; height=70; border-width: 2px; border-style: outset;" frameborder="0" scrolling=no></iframe> ??xxxSHOW_ALL=Y&!modeSearch=Y&vd=li&!gallery=Y
<iframe src="#ServletPath#?c=photos&folder_id=#folder_id#" style="width:230px; height:70px; border-width: 2px; border-style: outset;" frameborder="0" scrolling=no></iframe> ??!modeSearch=Y&vd=li&!gallery=Y&USER_ID>1
<br><br>   ??gallery=Y
$INCLUDE common.dat[butt] param: label=Вернуться в список; onClick=showList(); img=edit12.gif;  ??gallery=Y
</td></tr></table> 

</td><td>

<div id=searchBlock style="display:none; width:420; position:absolute; top:50px; left:300px; ">  ??!modeSearch=Y|vd=score_sc_pers
$INCLUDE persons/search.dat[search block] ??!modeSearch=Y|vd=score_sc_pers
</div> ??!modeSearch=Y|vd=score_sc_pers
[end]

[histogramm]
<img border=0 src="#imgPath#/histo.jpg" width=290 height=197 style="border:solid 1px ##406080"> ??
<img border=0 src="#imgPath#/histo2.jpg" width=210 height=146 style="border:solid 1px ##406080"> ??
<img border=0 src="#imgPath#/histo3.png" width=302 height=154 style="border:solid 1px ##406080"> ??
[end]

[debugInfo]
USER_ID=#USER_ID#; USER_PERSON_ID=#USER_PERSON_ID#; USER_NAME=#USER_NAME#; CurrentFolderId=#CurrentFolderId#  ??debug=on
modeSearch:#modeSearch#; ??
[end]




[script]
<script>

function chYR()
{ checkYrs();
	frm.c.value="#c#";
	frm.target="";
	frm.submit();
	showLoading();
}

function showList()
{ 
	frm.c.value="#c#";
	frm.srn.value='';
	frm.srt.value="berth"; 
	frm.desc.value="";
	frm.modeSearch.value="";
	frm.gallery.value="";
  frm.target=""; 
	showLoading();
	frm.submit();
}


hideOtdelHeader(); ??modeSearch=Y&f_searchArea=2


function init()
{ setObjects();
	try 
	{	f_menu.checkUser(#USER_ID#, 0#CurrentFolderId#);
	} catch (e) {
			alert(e) ??
		;
	}
}

</script>
[end]

================================================================================
=================================== SQLs =======================================
================================================================================
[preSQLs]
$INCLUDE [getFolderDetails] ??folder_id&USER_ID
[end]


[getFolderDetails]
select t.NAME, t.DESCRIPTION
, t.COMMENTS ??
, t.STATUS, t.numPersons as "NUM_PERSONS1", cntPpl(t.id) as "NUM_PERSONS"
, t.code as "DIV_CODE"
, concat(left(p.name1,1), '.', left(p.name2,1), '.', p.name ) as "BOSS_NAME"
, ifnull(t.boss_id,-1) as "BOSS_ID"
, getFolderAccRight(#USER_ID#,#folder_id#,0) as "ACC_RIGHS"
from t_tree t left join p_persons p on p.id=t.boss_id
where t.id=#folder_id#
;
select node_id as "ICON_ID" 
, width as "ICON_WIDTH", height as "ICON_HEIGHT" 
from icons where node_id=#folder_id# 
;
[end]

================================================================================
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
================================================================================
<table border=0 cellpadding=10><tr><td class=rb><i>подразделения:</i><br>#Folder#</td></tr></table> 


function doEdit()
{ 
	top.loadFrame("popup", "#servletPath#?c=users/editAccRights.cfg&id=#folder_id#");
	top.loadFrame("popup", "#servletPath#?c=folders/editFolder&id=#folder_id#&child_id=0"); ??
}
	
function XXXopenCurrNode(action, cop)
{ // alert(frm.folder_id.value);
  openFolder(frm.folder_id.value, action, cop);
}


xxx get folders list
select concat( '<a href="javascript:openFolder('
	,CAST(o.id AS CHAR CHARACTER SET cp1251),')">' 
	, '<img border=0 src="#imgPath#tree/bullet_b1.gif" width=8 height=12>' 
	, '&nbsp;', o.name,'</a>&nbsp;&nbsp;')
   as "Folder"
from t_tree o 
where 
 o.pid=#folder_id#
 and o.status='A'
and getAccRights(o.id, #USER_ID#) > 0 ??
order by o.position
;

