[parameters]
service=jinr.arch.setRightsServiceUsers
debug=onf
[end]

[report]
$GET_DATA [newGroup]  ??addNewGroup
$GET_DATA [newRole]  ??addNewRole
[end]

[Rights Changes]
<font color=red>Права доступа изменены</font>
[end]

[getUserRightsSQL]
SELECT G_ID, R_ID FROM UserRights WHERE USER_ID=#u_id#
[end]

[add Rights SQL]
$EXEC_PROCEDURE {call addRightsForUser(#u_id#,#GR_ID#,#ROL_ID#)};
[end]

[remove Rights SQL]
DELETE FROM UserRights 
	WHERE USER_ID=#u_id# 
		AND G_ID IN (#whereConditionG#) 
		AND R_ID IN (#whereConditionR#);
[end]

[newGroup]
SELECT G_ID as GROUP_ID FROM Groups WHERE G_Name='#addNewGroup#'
;
SELECT NVL(MAX(G_ID),0)+1 as NEW_GROUP_ID FROM Groups	??!GROUP_ID
;
INSERT INTO Groups (G_ID, G_Name) VALUES (#NEW_GROUP_ID#,'#addNewGroup#') ??NEW_GROUP_ID
;
$SET_PARAMETERS GROUP_ID=#NEW_GROUP_ID#		??NEW_GROUP_ID
;
[end]

[newRole]
SELECT R_ID as ROLE_ID FROM Roles WHERE R_Name='#addNewRole#'
;
SELECT NVL(MAX(R_ID),0)+1 as NEW_ROLE_ID FROM Roles	??!ROLE_ID
;
INSERT INTO Roles (R_ID, R_Name) VALUES (#NEW_ROLE_ID#,'#addNewRole#') ??NEW_ROLE_ID
;
$SET_PARAMETERS ROLE_ID=#NEW_ROLE_ID#		??NEW_ROLE_ID
;
[end]

