[parameters]
service=jinr.adb.ServiceCopyMNTS ??!checkOnly
KeepLog=true

src_table=dbo.A1_ACC71_N 		??q_yr=#CURR_YR#
src_table=dbo.A1_ACC71_N_#q_yr# ??!q_yr=#CURR_YR#
dest_table=A1_ACC71_#q_yr#
srcCriteria=
srcCriteria=accd1 in('066','064')  and AccK2 like '№%' ??
srcCriteria=accd1 in(#ACC1#'0') ??
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=100
NUM_ROWS=3000000
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]
	- пересчет в евро
	- простановка сумм в ADB2 документах

[report]
+++++++++++++++++++++++++++++ Load MNTS проверка ++++++++++++++++++++++++++++++<br>
$INCLUDE [setTables]
$CALL_SERVICE c=c1/set1CSumm; ??!ERROR
[end]

[preSQLs]
[end]
select ''''||code||''',' as "ACC1"
from i_acc1_11
where aggr1='04'


[fields]
ID=ID
RegNo=RegNo
DocType=DocType
DocNum=DocNum
DocDate=DocDate
AccD=AccD
AccD1=AccD1
AccD2=AccD2
AccD3=AccD3
AccD4=AccD4
TabNo=TabNo
FIO=FIO
Country=Country
AccK=AccK
AccK1=AccK1
AccK2=AccK2
AccK3=AccK3
AccK4=AccK4
S=S
S_US=S_US
Costs=Costs
PeriodCode=PeriodCode
Pr_n=Pr_n
PR_crn=PR_crn
0=ADB_NR
[end]

[setTables]
$SET_PARAMETERS dest_table=A1_ACC71_#q_yr#;
$SET_PARAMETERS src_table=dbo.A1_ACC71_N 		??q_yr=#CURR_YR#
$SET_PARAMETERS src_table=A1_ACC71_N_#q_yr# ??!q_yr=#CURR_YR#
[end]
======================= STANDARD PART =================
[report header]
$SET_PARAMETERS destCriteria=;
$INCLUDE [setTables]
+++++++++++++++++++++++++++++ Load MNTS ++++++++++++++++++++++++++++++

<br>Копирование данных по <b>МНТС</b><br>
$INCLUDE c1/copyData.cfg[report header]
<br>Отбираем субстатьи: #ACC1#<br> ??
[end]

[prepare data]
$GET_DATA c1/copyData.cfg[mark old]
[end]

[srcSQL]
$USE_DB ASU
select 
top #NUM_ROWS#  ??NUM_ROWS
#srcFields# from #src_table# 
where #srcCriteria#  ??srcCriteria
[end]

[start copy]
$INCLUDE c1/copyData.cfg[start copy]
[end]

[report footer]
$INCLUDE c1/copyData.cfg[report footer]
<br>Пересчет в EUR...
$GET_DATA [setEUR]
OK<br> ??!ERROR
#ERROR#
$CALL_SERVICE c=c1/set1CSumm; mode=#mode#; dest_table=#dest_table# ??!ERROR
[end]


[setEUR]
update #dest_table# a
set s_eur=s/(
select curr_rate from I_RATE_DESC
where d_dat<=a.DocDate
and curr_code=978
and rownum=1
)
[end]
