[parameters]
service=jinr.adb.ServiceCopyPlat
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=100
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]


[fields]
CountKey=COUNTKEY
√од=YEAR
ќплачено=payed
ѕодразделение=DIV
 од=DIVCODE
 онтрагент=CONTRAGENT
ƒоговор онтрагента=DOGOVOR
ƒата¬ход€щегоƒокумента=EXT_DOC_DATE
Ќомер¬ход€щегоƒокумента=EXT_DOC_NR
—четЌаќплату—умма¬¬алюте=SCHET_SUMM_VAL
—четЌаќплату¬алюта=SCHET_VAL
—четЌаќплату—умма¬–уб=SCHET_SUMM_RUB
Ќомер—троки¬ѕлатежномѕоручении=PP_LINE_NR
ѕлатежноеѕоручение—умма¬¬алюте=PLAT_SUMM_VAL
ѕлатежноеѕоручение¬алюта=PLAT_VAL
ѕлатежноеѕоручение—умма¬–уб=PLAT_SUMM_RUB
—тать€ƒвижени€ƒенежных—редств=STATIA
“ема=SUBJECT
–егЌомер=ADB2_NUM
—четЌаќплатуƒата=SCHET_1C_DATE
—четЌаќплатуЌомер=SCHET_1C_NUMBER
—четќрганизации=ACC_BANK
—чет”чета–асчетов— онтрагентом=ACC_JINR
ѕлатежноеѕоручениеƒата=PLAT_DATE
CAST(ѕлатежноеѕоручениеЌомер AS INT)=PLAT_NR
[end]


======================= STANDARD PART =================
[report header]
$SET_PARAMETERS destCriteria=YEAR=20#q_yr# 	
$SET_PARAMETERS src_table=[1C_BHT].[—ведени€ѕоѕлатежам]; dest_table=C1_PLATLIST2
$SET_PARAMETERS srcCriteria=√од=20#q_yr# and countkey>333000 
$GET_DATA [getFields] ??
$INCLUDE c1/copyData.cfg[report header]
destCriteria=#destCriteria#; ??
[end]

[report footer]
$INCLUDE c1/copyData.cfg[report footer]
<br>ѕересчет валюты...  ??!ERROR&!GET_DATA_ERROR&!ImportDataError
$GET_DATA [setCurrency] ??!ERROR&!GET_DATA_ERROR&!ImportDataError
$GET_DATA [fixAdb2Docs] ??!ERROR&!GET_DATA_ERROR&!ImportDataError
ќ   ??!ERROR&!GET_DATA_ERROR
$CALL_SERVICE c=c1/markDocs;  ??!noMarkDocs=Y&!ERROR&!GET_DATA_ERROR
ERROR: #ERROR#	??ERROR
<p>
GET_DATA_ERROR: #GET_DATA_ERROR# ??GET_DATA_ERROR
[end]


[fixAdb2Docs]
update c1_platlist2 p
set ADB2_NUM=
(select ADB2_NUM from C1_PLAT_CORR c
where c.YEAR=p.YEAR
and c.PLAT_NR=p.PLAT_NR
and c.PP_LINE_NR=p.PP_LINE_NR
)
where exists
(select ADB2_NUM from C1_PLAT_CORR cc
where cc.YEAR=p.YEAR
and cc.PLAT_NR=p.PLAT_NR
and cc.PP_LINE_NR=p.PP_LINE_NR
)
[end]


[prepare data]
$GET_DATA c1/copyData.cfg[mark old]
[end]

[srcSQL]
$USE_DB 1C
select 	#srcFields# from #src_table#
where #srcCriteria#  ??srcCriteria
[end]

[start copy]
$INCLUDE c1/copyData.cfg[start copy]
[end]


==============================================================

[setCurrency]
update C1_PLATLIST2 p
set s_eur=PLAT_SUMM_RUB/(
select curr_rate from I_RATE_DESC r
where r.d_dat<=p.PLAT_DATE
and r.curr_code=978
and rownum=1
)
,s_us=PLAT_SUMM_RUB/(
select curr_rate from I_RATE_DESC r
where r.d_dat<=p.PLAT_DATE
and r.curr_code=840
and rownum=1
)
where p.PLAT_VAL='руб.';

update C1_PLATLIST2 p
set s_us=PLAT_SUMM_VAL
, s_eur=PLAT_SUMM_RUB/(
select curr_rate from I_RATE_DESC r
where r.d_dat<=p.PLAT_DATE
and r.curr_code=978
and rownum=1
)
where p.PLAT_VAL='USD'
;

update C1_PLATLIST2 p
set s_eur=PLAT_SUMM_VAL
, s_us=PLAT_SUMM_RUB/(
select curr_rate from I_RATE_DESC r
where r.d_dat<=p.PLAT_DATE
and r.curr_code=840
and rownum=1
)
where p.PLAT_VAL='EUR'
;
[end]