[parameters]
service=dubna.walt.service.TableServiceSortable  ??!form=y
title=1С-Платежи

debug=on  ??uname=sergZZ
debug=off 

makeTotalsForCols=SCHET_SUM,SUM,SCHET_SUMM_RUB,PLAT_SUMM_RUB ??f_curr&!f_curr=other
makeTotalsForCols=SCHET_SUMM_RUB,PLAT_SUMM_RUB ??f_curr=other|!f_curr
totRowLabel=Всего
sortCols=SUM,PLAT,PLAT_SUMM_RUB,SCHET_SUMM_RUB,SCHET_SUM
tableCfg=table.cfg 
thsnDelimiter=&nbsp;
numDigits=0
lab_codes=032,090,100,200,300,400,500,600,700
infr_codes=001,006,009,010,016,021,023,024,026,028,042,900,990,935

$INCLUDE common.dat[colors]
[end]


[report]
$INCLUDE [logged report header]
</td></tr></table>
</td></tr></table>
</form></center>
<script> var d = new Date(); var dd = d.getDate(); var mm = d.getMonth()+1; ??
frm.startdate.value ="01." + mm + "." + d.getYear(); ??
frm.enddate.value ="31.12." + d.getYear(); ??
alert (dd + "." + mm + "." + d.getYear()); ??
</script> ??
</body></HTML>
[end]


[report header]
$INCLUDE [logged report header]   ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#";</script> ??!logged
[end]


[logged report header]
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>
<style> fieldset {background-color:white;} </style>
$SET_PARAMETERS access_all=y ??USER_GROUP=sys|USER_GROUP=adm|USER_GROUP=boss|USER_GROUP=buh|USER_GROUP=developer
$SET_PARAMETERS srt=14; desc=DESC ??!srt&s_curr=s_curr
$SET_PARAMETERS srt=10; desc=DESC ??!srt&!s_curr=s_curr
$SET_PARAMETERS srt=10  ??srt>10&!s_curr=s_curr
$SET_PARAMETERS srt=14  ??srt=10&s_curr=s_curr
$SET_PARAMETERS srn=1; rpp=100  ??!rpp
$SET_PARAMETERS dsumm=1 ??!dsumm
$SET_PARAMETERS f_stat=; ??f_stat_all=all_ZZZZZZ

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="noTable" value="">

<table border=0 cellpadding=0 cellspacing=0 style="margin:20px; width:98%"><tr><td width=90%>
<h3>1C - Сведения о платежах</td><td align=right nowrap=true></td><td align=right nowrap=true>
<a class=info href="#ServerPath#/adb/adb">Главная</a></td></tr></table>

<table border=0 style="margin:0; margin-left:100px;"><tr><td nowrap=true valign=top bgcolor=white> 
<FIELDSET><LEGEND><b><i>Отобрать записи:</i></b></LEGEND>
<table bgcolor=##E8F0F8><tr><td valign=top>
<table border=0 cellpadding=1>

 <tr><td align=right>Подразделение:</td><td>
<select class=s1 name="f_lab"><option value="">ВСЕ
<option value="#lab_codes#">Все лаборатории
<option value="032">УНЦ
<option value="090">ОРРИ
<option value="100">ЛФВЭ
<option value="200">ЛЯП
<option value="300">ЛТФ
<option value="400">ЛНФ
<option value="500">ЛЯР
<option value="600">ЛИТ
<option value="700">ЛФЧ 
<option value="#infr_codes#">Инфраструктура ОИЯИ 
<option value="919">ЦБ ОМТС
<option value="011">ОКС

<option value="XXX">Другое
<option value="000">Не указано
<option value="NULL">Пусто
</select>
Тема: <input class=xp size=5 name="f_subject" value='#f_subject#'>
</td><td rowspan=5 valign=top>
$INCLUDE [f_curr]
</td><td rowspan=5 valign=top>
$INCLUDE [f_incomplete]
</td>
</tr>

<tr><td align=right nowrap=true>Контрагент:</td><td> <input class=xp size=25 name="f_contrag_" value='#f_contrag_#'>&nbsp; (* - любые символы)</td></tr>
<tr><td align=right nowrap=true>Договор / счет:</td><td> <input class=xp size=25 name="f_dog_" value='#f_dog_#'>&nbsp; (* - любые символы)</td></tr>
<tr><td align=right nowrap=true>Вид операции:</td><td><select class=s1 name="f_vidoper"><option value="">ВСЕ#OPER_LIST#</select></td></tr>
<tr><td align=right valign=top nowrap=true>Статья:</td><td valign=top align=right><select class=s1 name="f_statia"><option value="">ВСЕ#STATIA_LIST#</select><br><i><a id="a_showStat" href="javascript:showStat()">
расширенный выбор >> ??!f_stat
простой выбор <<  ??f_stat
</a></i>&nbsp;&nbsp;&nbsp;</td></tr>

<tr><td align=right nowrap=true>№ платежки: </td><td colspan=2><input class=xp size=6 name="f_platNr" value='#f_platNr#'>
ID doc: <input class=xp size=10 name="iddoc" value='#iddoc#'>  ??XXXuname=serg

Сумма:
<select name=f_summa_op onChange="setDsumm()"><option>=<option>&gt;<option>&lt;</select>
<input class=xp size=8 name="f_summa" value='#f_summa#'> руб.
<span id=s_dsumm style="display:inline"><b>+- </b><input class=xp size=1 name="dsumm" value='#dsumm#'></span>
</td></tr>

<TR><td align=right nowrap=true colspan=2></td><td>
<input type="submit" value="Выполнить" onClick="return doIt();"><br>&nbsp;
</td></tr></table>

</td><td><div id=d_f_stat 
style="display:none;" ??!f_stat
><FIELDSET><LEGEND><b><i>Статья:</i></b></LEGEND><small>
<input type=checkbox name="f_stat_all" value="all" onClick="setCbStatia(this)" ??
checked ??ZZZf_stat_all=all !f_stat
>ВСЕ<br> ??
#STATIA_CBLIST#</small></FIELDSET>

</td></tr></table>
</FIELDSET>
</td></tr></table>

$INCLUDE [script]  
<center>
$INCLUDE [totalTable] ??!form=y

<table bgcolor=808080 border=0 cellspacing=0 cellpadding=0 style="margin:10px;" width_=98%><tr><td>
[end]

[totalTable]
<table style="border: solid 1px red;">
<tr><td align=right><b>Всего записей:</b></td><td><b>#NUM_RECS#</b></td></tr>
<tr><td align=right><b>Сумма по счетам:</b></td><td><b>#SCHET_SUMM_RUB# руб.</b></td></tr>
<tr><td><b>Сумма по платежкам:</b></td><td><b>#PLAT_SUMM_RUB# руб.</b></td></tr>
</table>
SCHET_SUMM_VAL=#SCHET_SUM_VAL# SCHET_SUMM_RUB=<br> PLAT_SUMM_VAL=#PLAT_SUMM_VAL# PLAT_SUMM_RUB=#PLAT_SUMM_RUB# ??
[end]

[f_curr]
<FIELDSET><LEGEND><b><i>Валюта операции:</i></b></LEGEND>
<input type="radio" name="f_curr" value="" 
checked ??!f_curr
> любая&nbsp;<br><input type="radio" name="f_curr" value="руб." 
checked ??f_curr=руб.
> рубли&nbsp;<br><input type="radio" name="f_curr" value="EUR" 
checked ??f_curr=EUR
> EUR<br><input type="radio" name="f_curr" value="USD" 
checked ??f_curr=USD
> USD<br><input type="radio" name="f_curr" value="other" 
checked ??f_curr=other
> другая</FIELDSET>

<FIELDSET><LEGEND><b><i>Показать:</i></b></LEGEND>
<input type="radio" name="s_curr" value="" 
checked ??!s_curr
> только рубли&nbsp;<br><input type="radio" name="s_curr" value="s_curr" 
checked ??s_curr=s_curr
> рубли и валюту</FIELDSET>
[end]

[f_incomplete]
<FIELDSET><LEGEND><b><i>Отобрать:</i></b></LEGEND>
<input type="radio" name="f_incomplete" value="" 
checked ??!f_incomplete
>все&nbsp;<br><input type="radio" name="f_incomplete" value="s_all" 
checked ??f_incomplete=s_all
>со счетом и с платежкой<br><input type="radio" name="f_incomplete" value="s_schet" 
checked ??f_incomplete=s_schet
>только со счетом<br><input type="radio" name="f_incomplete" value="s_plat" 
checked ??f_incomplete=s_plat
>только с платежкой<br><input type="radio" name="f_incomplete" value="s_either" 
checked ??f_incomplete=s_either
>со счетом или с платежкой
</FIELDSET>
[end]

[time] -- NOT USED YET
<tr><td nowrap=true>
Дата оплаты:</td><td nowrap=true colspan=2>
$INCLUDE common.dat[dat] param: fd_name=startdate; fd_val=#startdate#; yr1=-4; yr2=1; class=xp;
&nbsp;&nbsp;[по: 
$INCLUDE common.dat[dat] param: fd_name=enddate; fd_val=#enddate#; yr1=-4; yr2=1; class=xp;
]&nbsp; &nbsp;
</td></tr>
[end]


[report footer]
$INCLUDE common.dat[rpp] ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>  
</form></center></body></HTML>
[end]

[script]
<script> 
var frm=document.theForm;
window.focus();
selectOptionByVal(frm.f_lab,'#f_lab#')  ??f_lab
selectOptionByVal(frm.f_lab,'#A_LABS#')  ??A_LABS
selectOptionByVal(frm.f_summa_op,'#f_summa_op#')  ??f_summa_op
selectOptionByVal(frm.f_statia,'#f_statia#')  ??f_statia&!f_stat
selectOptionByVal(frm.f_vidoper,'#f_vidoper#')  ??f_vidoper

function showStat()
{ 
	var d = document.getElementById("d_f_stat");
	var a = document.getElementById("a_showStat");
	if (d.style.display=="none")
	{
		d.style.display="block";
		selectOptionByVal(frm.f_statia,'')
		a.innerHTML="простой выбор << ";
		setCbStatiaChecked(true); ??
	}
	else
	{
		d.style.display="none"; 
		a.innerHTML="расширенный выбор >> ";
		setCbStatiaChecked(false);
	}
	setCbStatia(frm.f_stat_all); ??
	frm.f_stat_all.checked=true; ??
}

function setCbStatiaChecked(checked)
{ 
  for (i=0; i<frm.f_stat.length; i++)
		frm.f_stat[i].checked=checked;
}

function setCbStatia(cb)
{ 
  for (i=0; i<frm.f_stat.length; i++)
		frm.f_stat[i].disabled=cb.checked;
}

function setDsumm()
{ if (frm.f_summa_op.options.selectedIndex == 0)
    document.getElementById("s_dsumm").style.display="inline";
  else 
    document.getElementById("s_dsumm").style.display="none";
}
setDsumm();

function showAdb2(num)
{  openWindow("c=doc/docEdit&DOC_ID=" + num,"adb2doc",700,600);
}

function XXX_getPlat(docno)
{// alert (docno);
  openWindow("c=plat&docno=" + docno,"plat",700,600);
}

function goToRow(nr)
{ if (!checkFields()) return false;
  frm.srn.value=nr;  
//  alert (frm.srn.value);
  frm.submit();
  return true; 
}

function doIt()
{ if (!checkFields()) return false;
  frm.srn.value="1";
//  alert ("here!");
  frm.submit();  
  return true;
}

function checkFields()
{ 
	if (!checkDate("startdate","Дата оплаты")) return false; ??
  if (!checkDate("enddate", "Конечная дата оплаты")) return false; ??
  frm.f_startdate.value = make1Cdate(frm.startdate.value); ??
  frm.f_enddate.value = make1Cdate(frm.enddate.value); ??
  if (!checkFloat("f_summa",null,null,"Сумма")) return false;   ??
  return true;
}
</script> 
[end]



================================ SQLs ================================
[preSQLs]
select upper(replace('#f_contrag_#','*','%')) as "f_contrag" from dual; ??f_contrag_
select upper(replace('#f_dog_#','*','%')) as "f_dog" from dual; ??f_dog_
select to_char(SYSDATE, 'dd.mm.yyyy') as TODAY from dual; ??
$INCLUDE [getTotals] ??!form=y
select distinct '<option value="'||VID_OPER||'">'||VID_OPER as "OPER_LIST"
FROM C1_PLATLIST p
where VID_OPER is not null
;
select distinct '<option value="'||nvl(STATIA,'NULL')||'">'||nvl(STATIA,'не указана') as "STATIA_LIST"
, '<input type=checkbox name=f_stat value="'||nvl(STATIA,'NULL')||'"'
 ||case when '#f_stat#' like '%'||nvl(STATIA,'NULL')||'%' then ' checked' 
 else '' end
 ||' disabled' ??ZZZ&f_stat_all=all|!f_stat
 ||'>'||nvl(STATIA,'не указана')||'<br>' as "STATIA_CBLIST"
FROM C1_PLATLIST p
where STATIA is not null ??
;
[end]

[getTotals]
select 
count(COUNTKEY) as "NUM_RECS"
, to_char(sum(SCHET_SUMM_RUB),'999G999G999G999') as "SCHET_SUMM_RUB"
, to_char(sum(PLAT_SUMM_RUB),'999G999G999G999') as "PLAT_SUMM_RUB"
FROM C1_PLATLIST p
left join I_LAB l on l.code=p.DIVCODE
$INCLUDE [criteria]
;
[end]

YEAR COUNTKEY

[SQL]
SELECT 
''''||COUNTKEY, ??
CONTRAGENT,DOGOVOR,SCHET 
, decode(SCHET_SUMM_VAL,0,' ',SCHET_SUMM_VAL) as "SCHET_SUM", SCHET_VAL  ??s_curr=s_curr
, SCHET_SUMM_RUB 
, VID_OPER, STATIA
,nvl(l.div, ''''||p.DIV) 
 ||' /'||DIVCODE 
  ??f_lab=XXX
as "DIV"
,''''||SUBJECT as "SUBJECT"

,PLAT 
,decode(PLAT_SUMM_VAL,0,' ',PLAT_SUMM_VAL) "SUM", PLAT_VAL   ??s_curr=s_curr
,PLAT_SUMM_RUB 
, decode(nvl(ADB2_NUM,0), 0, '-', '<a href="javascript:showAdb2('||ADB2_NUM||')">'||ADB2_NUM||'</a>') as "ADB2"
, EXT_DOC ,EXT_DOC_DATE ??

FROM C1_PLATLIST p
left join I_LAB l on l.code=p.DIVCODE
$INCLUDE [criteria]
ORDER BY #srt# #desc#  ??srt
[end]



[criteria]
WHERE 
1=1
and DIVCODE IN()'#A_LABS#' ??A_LABS
and DIVCODE in(#f_lab#)  ??f_lab&!f_lab=XXX&!f_lab=NULL
and not DIVCODE in(000, #lab_codes#, #infr_codes#, 919, 011)  ??f_lab=XXX
and DIVCODE is null  ??f_lab=NULL
and (SCHET_VAL='#f_curr#' or PLAT_VAL='#f_curr#') ??f_curr&!f_curr=other
and (not SCHET_VAL in('руб.','USD','EUR') or not PLAT_VAL in('руб.','USD','EUR'))??f_curr=other
and upper(CONTRAGENT) like ('#f_contrag#') ??f_contrag
and (upper(DOGOVOR) like '#f_dog#' or upper(SCHET) like '#f_dog#')??f_dog
and upper(SUBJECT)=upper('#f_subject#')  ??f_subject
and PLAT_SUMM_RUB #f_summa_op# #f_summa# ??f_summa&!f_summa_op==
and abs(PLAT_SUMM_RUB-#f_summa#) <= #dsumm#+0.5 ??f_summa&f_summa_op==
and VID_OPER='#f_vidoper#' ??f_vidoper
and STATIA='#f_statia#' ??f_statia&!f_stat&!f_statia=NULL
and STATIA is null ??!f_stat&f_statia=NULL
and '#f_stat#' like '%'||nvl(STATIA,'NULL')||'%' ??f_stat&!f_stat_all=all

and PLAT like '%#f_platNr#%' ??f_platNr
and (length(PLAT)>1 and length(SCHET)>1) ??f_incomplete=s_all
and ((PLAT is null or length(PLAT)<1) and length(SCHET)>1) ??f_incomplete=s_schet
and (length(PLAT)>1 and (SCHET is null or length(SCHET)<1)) ??f_incomplete=s_plat
and (length(PLAT)>1 and (SCHET is null or length(SCHET)<1) or ((PLAT is null or length(PLAT)<1) and length(SCHET)>1)) ??f_incomplete=s_either
[end]

PLAT <> null and SCHET<>null and 

[colNames]
SUBJECT=Тема
CONTRAGENT=Контрагент
DOGOVOR=Договор
SCHET=Счет
SCHET_SUM=Сумма&nbsp;счета<br>в вал.
 <br>#f_curr# ??!f_curr=other
SCHET_SUM=Сумма счета ??f_curr=otherXXX
SCHET_SUMM_RUB=Сумма&nbsp;счета<br>руб.
PLAT=Платежное<br>поручение
DIV=Подразд.
SUM=Сумма<br>в&nbsp;валюте
PLAT_SUMM_RUB=Сумма<br>руб.
PLAT_VAL=Валюта
SCHET_VAL=Валюта<br>счета
VID_OPER=Вид операции
STATIA=Статья
[end]


, case when SCHET_VAL='руб.' then to_char(SCHET_SUMM_RUB,'999999999D00')
else to_char(SCHET_SUMM_VAL ,'999999999D00')
end  as "SCHET_SUM" 

, case when PLAT_VAL='руб.' then to_char(PLAT_SUMM_RUB,'999999999D00')
else to_char(PLAT_SUMM_VAL ,'999999999D00')
end
as "SUM"

