[parameters]
service=dubna.walt.service.TableServiceSortable  ??M_1C_PROV>0&!form=y
title=1С-Проводки

debug=off

makeTotalsForCols=S
totRowLabel=Всего
sortCols=ACCD,ACCD_1,ACCD_2,ACCD_3,ACCK,ACCK_1,ACCK_2,ACCK_3,S,SODER,COMMENTS,CREATOR,REG,DAT,
tableCfg=table.cfg 
thsnDelimiter=&nbsp;
numDigits=2
lab_codes=032,090,100,200,300,400,500,600,700
infr_codes=001,006,009,010,016,021,023,024,026,028,042,900,990,935
table_beg=<table border="1" cellspacing="1" cellpadding="2"> ??
wrapperTable=none
wrapperTableEnd=none
$INCLUDE common.dat[colors]
[end]


[report]
$INCLUDE [logged report header] ??M_1C_PROV>0
</td></tr></table>
</td></tr></table>
</form></center>
</body></HTML>
[end]


[report header]
$INCLUDE [logged report header]   ??M_1C_PROV>0&logged|det=y
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#";</script> ??!logged&!det=y
[end]


[logged report header]
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>
<style> fieldset {border:solid 1px ##a0a0a0;} </style> 
$SET_PARAMETERS s_acck=on ??form=y
$SET_PARAMETERS srn=1; rpp=100 ??!srn|!rpp
$SET_PARAMETERS srt=1 ??!srt
$GET_DATA [getTotals] ??!form=y

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="noTable" value="">

<table border=0 cellpadding=0 cellspacing=0 style="margin:20px; width:98%"><tr><td width=90%>
<h3>1C - Анализ проводок, 20#q_yr# год</td><td align=right nowrap=true></td><td align=right nowrap=true>
<a class=info href="/adb/adb">Главная</a></td></tr></table>

<table border=0  bgcolor=##E8F0F8 style="margin:0; margin-left:100px; border:solid 1px black;">

<tr><td nowrap=true valign=top>
<FIELDSET><LEGEND><b><i>Отобрать:</i></b></LEGEND>
<table border=0>
<tr><td colspan=3>
<table border=0>
<tr><td >-</td><td>Счет</td><td>Субконто 1</td><td>Субконто 2</td><td>Субконто 3</td></tr>

<tr><td align=right>Дебет:</td>
<td> <input class=xpc size=8 name="f_accd" value='#f_accd#'></td>
<td> <input class=xpc size=15 name="f_accd_1" value='#f_accd_1#'></td>
<td> <input class=xpc size=20 name="f_accd_2" value='#f_accd_2#'></td>
<td> <input class=xpc size=15 name="f_accd_3" value='#f_accd_3#'></td></tr>

<tr><td align=right colspan=3><b>Для сч.20,23,25,26:</b>
лаб.: <input class=xpc size=2 name="f_lab_d" value='#f_lab_d#'></td>
<td align=right> тема (дог.,грант...): <input class=xpc size=2 name="f_sbj_d" value='#f_sbj_d#'>
дог.: <input class=xpc size=2 name="f_dog_d" value='#f_dog_d#'>??
</td>
<td align=right> с/ст. <input class=xpc size=10 name="f_sst_d" value='#f_sst_d#'></td></tr>

<tr><td align=right>Кредит:</td>
<td> <input class=xpc size=8 name="f_acck" value='#f_acck#'></td>
<td> <input class=xpc size=15 name="f_acck_1" value='#f_acck_1#'></td>
<td> <input class=xpc size=20 name="f_acck_2" value='#f_acck_2#'></td>
<td> <input class=xpc size=15 name="f_acck_3" value='#f_acck_3#'></td></tr>

<tr><td align=right colspan=3><b>Для сч.20,23,25,26:</b>
лаб.: <input class=xpc size=2 name="f_lab_k" value='#f_lab_k#'></td>
<td align=right> тема (дог.,грант...): <input class=xpc size=2 name="f_sbj_k" value='#f_sbj_k#'>
дог.: <input class=xpc size=2 name="f_dog_k" value='#f_dog_k#'> ??
</td>
<td align=right> с/ст. <input class=xpc size=10 name="f_sst_k" value='#f_sst_k#'></td></tr>

</table></td></tr>

<tr><td nowrap=true align=right>Месяц:</td><td nowrap=true>
<input class=xpc size=2 name="f_mm" value='#f_mm#'>
&nbsp; или Дата с:
$INCLUDE common.dat[dat] param: fd_name=startdate; fd_val=#startdate#; yr1=-4; yr2=1; class=xp;
&nbsp;&nbsp;[по: 
$INCLUDE common.dat[dat] param: fd_name=enddate; fd_val=#enddate#; yr1=-4; yr2=1; class=xp;
]&nbsp; &nbsp;</td></tr>

<tr><td align=right nowrap=true>
Сумма:</td><td>
<select name=f_summa_op onChange="setDsumm()"><option>=<option>&gt;<option>&lt;</select>
<input class=xpc size=8 name="f_summa" value='#f_summa#'> руб.
<span id=s_dsumm style="display:inline"><b>+- </b><input class=xpc size=3 name="dsumm" value='#dsumm#'></span>
</td></tr>

<tr><td align=right>Содержание проводки:</td><td><input class=xp size=50 name="f_sod" value='#f_sod#'></td></tr>
<tr><td align=right>Комментарий:</td><td><input class=xp size=50 name="f_comment" value='#f_comment#'></td></tr>

<tr><td align=right>Кто провел:</td><td>
<select name=f_creator ><option value="">все</option><option value="empty">пусто</option>
#CREATOR_LIST#</select>
</td></tr>
<tr><td align=right>Регистр:</td><td><input class=xpc size=8 name="f_reg" value='#f_reg#'></td></tr>
</table>
</FIELDSET></td>

<td valign=top align=right>
<FIELDSET><LEGEND><b><i>Показать:</i></b></LEGEND>
<table border=0 bgcolor=##E8F0F8>

<tr><td><input type=checkbox name="s_accd" checked disabled
>Счет(д)</td><td><input type=checkbox name="s_acck"
checked ??s_acck
>Счет(к)</td></tr><tr><td><input type=checkbox name="s_accd_1"
checked ??s_accd_1
>Субконто 1(д)</td><td><input type=checkbox name="s_acck_1"
checked ??s_acck_1
>Субконто 1(к)</td></tr><tr><td><input type=checkbox name="s_accd_2"
checked ??s_accd_2
>Субконто 2(д)</td><td><input type=checkbox name="s_acck_2"
checked ??s_acck_2
>Субконто 2(к)</td></tr><tr><td><input type=checkbox name="s_accd_3"
checked ??s_accd_3
>Субконто 3(д)</td><td><input type=checkbox name="s_acck_3"
checked ??s_acck_3
>Субконто 3(к)</td></tr>

<tr>
<td><input type=checkbox name="s_mm"
checked ??s_mm
>Месяц</td><td><input type=checkbox name="s_dat"
checked ??s_dat
>Дата проводки</td></tr>

<tr><td colspan=3><input type=checkbox name="s_sod"
checked ??s_sod
>Содержание</td><tr><td colspan=3><input type=checkbox name="s_comm"
checked ??s_comm
>Комментарий</td><tr><td colspan=3><input type=checkbox name="s_cre"
checked ??s_cre
>Кто провел</td><tr><td colspan=3><input type=checkbox name="s_reg"
checked ??s_reg
>Регистр</td>

</table></fieldset>

<TR><td align=right colspan=2> ??
<br>&nbsp;<input type="submit" value="Выполнить" onClick="return doIt();">&nbsp;<br>&nbsp;
</td></tr> ??
</tr></table>

$INCLUDE [script]  
<center> 
$INCLUDE [totalTable] ??!form=y

<table bgcolor=808080 border=0 cellspacing=0 cellpadding=0 style="margin:10px;" ><tr><td> 
[end]

[totalTable]
<table style="border: solid 1px red; background-color:white;">
<tr><td align=right><b>Всего проводок:</b></td><td><b>#NUM_RECS#</b></td></tr>
<tr><td align=right><b>Сумма:</b></td><td><b>#SUMM_RUB# руб.</b></td></tr>
</table>
[end]


[report footer]
</TD></TR></TABLE>  
</center> 

<table bgcolor=808080 border=0 cellspacing=0 cellpadding=0 style="margin:10px;" ><tr><td> 
$INCLUDE common.dat[rpp] ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>  
</form></center>
srt=#srt# ??
</body></HTML>
[end]

[script]
<script> 
var frm=document.theForm;
window.focus();
selectOptionByVal(frm.f_creator,'#f_creator#')  ??f_creator
selectOptionByVal(frm.f_summa_op,'#f_summa_op#')  ??f_summa_op

function showProv(id)
{ 
	openWindow("c=c1/showProvodka&id=" + id,"provodka" +id ,700,570);
}

function showAdb2_ZZZ(num)
{  openWindow("c=doc/docEdit&DOC_ID=" + num,"adb2doc",930,670);
}

function setDsumm()
{ if (frm.f_summa_op.options.selectedIndex == 0)
    document.getElementById("s_dsumm").style.display="inline";
  else 
    document.getElementById("s_dsumm").style.display="none";
}
setDsumm();



function goToRow(nr)
{ if (!checkFields()) return false;
  frm.srn.value=nr;  
//  alert (frm.srn.value);
  frm.submit();
  return true; 
}

function doIt()
{ if (!checkFields()) return false;
  frm.srn.value="1";
//  alert ("here!");
  frm.submit();  
  return true;
}

function checkFields()
{ 
  if (!checkFloat("f_summa",null,null,"Сумма")) return false;   
  return true;
}

function showPlat(nr)
{
	openWindow("c=c1/plat2&DOCNO=" + nr, "plat", 800,650);
}
function showAll(id)
{
	openWindow("c=c1/showRecord&id=" + id, "rec", 800,650);
}

</script> 
[end]



================================ SQLs ================================


[preSQLs]
select distinct 
''''||CREATOR||''''||CREATOR as "CREATOR_LIST" ??
'<option value="'||CREATOR||'">'||CREATOR as "CREATOR_LIST" 
from C1_PROVODKI
where not CREATOR is null 
order by 1
[end]

$INCLUDE [yearCriteria]  ??!startdate&!enddate
$INCLUDE [timeCriteria]  ??startdate|enddate
;

[getTotals]
select 
count(p.ID) as "NUM_RECS"
, to_char(sum(p.S),'999G999G999G999D99') as "SUMM_RUB"
FROM C1_PROVODKI p
$INCLUDE [criteria]
[end]


,ID,VAL_D, VAL_S_D, VAL_K, VAL_S_K 
, year, mm

[SQL]
SELECT 
''''||mm as "MM", ??s_mm
to_char(DAT, 'DD.MM.YY HH24:MI') as "DAT", ??s_dat
'<center>'||ACCD||'</center>' as "ACCD",
''''||ACCD_1  as "ACCD_1", ??s_accd_1
''''||ACCD_2  as "ACCD_2", ??s_accd_2
''''||ACCD_3  as "ACCD_3", ??s_accd_3
''''||lab_d,''''||sbj_d,type_d,''''||sst_d ??
'<center>'||ACCK||'</center>' as "ACCK", 		 ??s_acck
''''||ACCK_1 as "ACCK_1",	 ??s_acck_1
''''||ACCK_2 as "ACCK_2",	 ??s_acck_2
''''||ACCK_3 as "ACCK_3",	 ??s_acck_3
''''||lab_k,''''||sbj_k,type_k,''''||sst_k ??
VAL_D, VAL_S_D, VAL_K, VAL_S_K, ??
sum(S) as "S",
SODER, 		??s_sod
COMMENTS, ??s_comm
CREATOR,	??s_cre
REG, ??s_reg
''''||count(id) as "NUM" ??
'<center>'||case when count(id)=1 then '<a href="javascript:showProv('||min(id)||')">1</a>'
else to_char(count(id),'99990') end ||'</center>'
as "NUM"
from C1_PROVODKI p
$INCLUDE [criteria]
and val_d is not null ??
group by
ACCD
,VAL_D, VAL_S_D, VAL_K, VAL_S_K ??
,mm ??s_mm
,DAT ??s_dat
,lab_d,sbj_d,type_d,sst_d,lab_k,sbj_k,type_k,sst_k ??
,ACCD_1 ??s_accd_1
,ACCD_2 ??s_accd_2
,ACCD_3 ??s_accd_3
,ACCK 		 ??s_acck
,ACCK_1	 ??s_acck_1
,ACCK_2	 ??s_acck_2
,ACCK_3	 ??s_acck_3
,SODER 		??s_sod
,COMMENTS ??s_comm
,CREATOR	??s_cre
,REG ??s_reg
order by 
#srt# ??!s_dat|srt>1
p.DAT ??s_dat&srt=1
#desc#
[end]


[criteria]
WHERE 
1=1
and p.ACCD like '#f_accd#%' ??f_accd
and p.ACCD_1 like '#f_accd_1#%' ??f_accd_1
and p.ACCD_2 like '#f_accd_2#%' ??f_accd_2
and p.ACCD_3 like '#f_accd_3#%' ??f_accd_3
and p.lab_d='#f_lab_d#' ??f_lab_d
and p.sbj_d='#f_sbj_d#' ??f_sbj_d
and p.sbj_d='#f_sbj_d#' and type_d='Тема' ??f_sbj_d_ZZZ
and p.sbj_d='#f_dog_d#' and type_d='Дог.' ??f_dog_d_ZZZ
and p.sst_d IN()'#f_sst_d#' ??f_sst_d

and p.ACCK like '#f_acck#%' ??f_acck
and p.ACCK_1 like '#f_acck_1#%' ??f_acck_1
and p.ACCK_2 like '#f_acck_2#%' ??f_acck_2
and p.ACCK_3 like '#f_acck_3#%' ??f_acck_3
and p.lab_k='#f_lab_k#' ??f_lab_k
and p.sbj_k='#f_sbj_k#' ??f_sbj_k
and p.sbj_k='#f_sbj_k#' and type_k='Тема' ??f_sbj_k_ZZZ
and p.sbj_k='#f_dog_k#' and type_k='Дог.' ??f_dog_k_ZZZ
and p.sst_k IN()'#f_sst_k#' ??f_sst_k

and p.S #f_summa_op# #f_summa# ??f_summa&!f_summa_op==
and abs(p.S-#f_summa#) <= #dsumm#+0.5 ??f_summa&f_summa_op==

and upper(p.SODER) like upper('#f_sod#%') ??f_sod
and upper(p.COMMENTS) like upper('#f_comment#%') ??f_comment
and upper(p.CREATOR) like upper('#f_creator#%') ??f_creator&!f_creator=empty
and p.CREATOR is null ??f_creator=empty
and upper(p.REG) like upper('%#f_reg#%') ??f_reg

and mm=#f_mm#  ??f_mm
$INCLUDE [yearCriteria]  ??!startdate&!enddate
$INCLUDE [timeCriteria]  ??startdate|enddate
[end]

f_summa_op f_summa    

[timeCriteria]
	and p.DAT >= to_date('#startdate#','DD.MM.YYYY') ??startdate&!enddate
	and p.DAT between to_date('#startdate#','DD.MM.YYYY') and to_date('#enddate#','DD.MM.YYYY') ??startdate&enddate
	and p.DAT <= to_date('#enddate#','DD.MM.YYYY') ??enddate&!startdate
[end]

[yearCriteria]
and EXTRACT(YEAR FROM p.DAT)=20#q_yr#
[end]


[colNames]
ACCD=Счет(д)
ACCD_1=СК-1(д)
ACCD_2=СК-2(д)
ACCD_3=СК-3(д)

ACCK=Счет(k)
ACCK_1=СК-1(k)
ACCK_2=СК-2(k)
ACCK_3=СК-3(k)

S=Сумма
SODER=Содержание
COMMENTS=Комментарий
CREATOR=Провел
REG=Регистр
DAT=Дата
MM=М-ц
NUM=к-во
[end]
