[parameters]
service=dubna.walt.service.TableServiceSpecial
KeepLog=true
tableCfg=this
table_beg=none
table_end=none
[end]


[report header]
Обновление документов ADB2... ??!mode=auto
Update ADB2 documents... ??mode=auto
$GET_DATA [checkADB2Range]
$SET_PARAMETERS log_sav=#log#
$SET_PARAMETERS_GLOBAL log=false 
$SET_PARAMETERS 1st=Y;
<style>##err td {vertical-align:top; border-top:solid 1px ##406080;}</style> ??!mode=auto
[end]

[item]
#currentRow#/#ADB_NR#  ??REC_MOD=0
ADB_NR=#ADB_NR#; RUB=#RUB#; USD=#USD#; EUR=#EUR#<br> ??
$GET_DATA [checkDocType]
$GET_DATA [setADB2] ??AGGR=04
$INCLUDE [notMNTS] ??!AGGR=04
$SET_PARAMETERS RECEIVER=; INFO=; COMMENTS=;
[end]



[report footer]
<br></table> ??!1st
Документы ADB2 обновлены<br> ??!ERROR
#ERROR#
$SET_PARAMETERS_GLOBAL log=#log_sav#
[end]

[notMNTS]
$GET_DATA [getMNTSDocs]
$INCLUDE [errMsg] ??NUM_DOCS>1&!mode=auto
$GET_DATA [setADB2] ??NUM_DOCS=1
[end]

[errMsg]
$INCLUDE [errTable] ??1st&!mode=auto
<tr><td>#MNTS_DOC#
<a href="#ServletPath#?c=c1/mnts&tm=#tm#&cacc=on&cacc1=on&f_adb2=#ADB_NR#&cadb2c=on&ccomment=on" target=_blank>#ADB_NR#</a> ??
</td>
<td>#AGGR#</td>
<td><a href="#ServletPath#?c=doc/docEdit&tm=#tm#&DOC_ID=#ADB_NR#" target=_blank>#ADB_NR#: #RECEIVER# / #INFO# / #COMMENTS#</a></td></tr>
$SET_PARAMETERS 1st=; 
[end]

[errTable]
<table id=err style="background-color:white; border:solid 1px ##408060;">
<tr><th colspan=3>Возможные ошибки в номере документа ADB2 (разные документы 1C на один номер ADB2, а статья - не 04):</th></tr>

<tr><td>Документ 1C</td><td>ADB2<br>статья</td><td>ADB2 документ:  Получатель / Назначение / Комментарий</td></tr>
[end]


================================ SQLs ================================
[SQL]
select ADB_NR, round(sum(s),3) as "RUB", round(sum(S_US),3) as "USD", round(sum(S_EUR),3) as "EUR"
from #dest_table#
where ADB_NR>105000 ??
where ADB_NR>90000
group by ADB_NR
[end]

[checkDocType]
select AGGR, RECEIVER, INFO, COMMENTS from docs where doc_id=#ADB_NR#; 
[end]

[getMNTSDocs]
select count(distinct a.DOCNUM) as "NUM_DOCS"
from #dest_table# a
where a.ADB_NR=#ADB_NR#
;
$INCLUDE [getMNTSDoc] ??NUM_DOCS>1
[end]

[getMNTSDoc]
select distinct
'<a href="#ServletPath#?c=c1/mnts&tm=#tm#&cacc1=on&f_doc_type='||a.DOCTYPE
||'&f_regnMNTS='||a.DOCNUM ??
||'&f_adb2=#ADB_NR#' 
||'&cacc=on' ??
||'&cadb2c=on&ccomment=on" target=_blank>'
||a.DOCTYPE ||'&nbsp;№'||a.DOCNUM||'&nbsp;'||to_char(a.DOCDATE,'DD.MM') 
||'</a>&nbsp;'||replace(a.FIO,' ','&nbsp;')||'<br>'
as "MNTS_DOC" 
from #dest_table# a
where a.ADB_NR=#ADB_NR#

[end]

[setADB2]
select mod(#currentRow#+1,100) as "REC_MOD" from dual
; 
update docs
set S_1C_RUB=0#RUB#, S_1C_USD=0#USD#, S_1C_EUR=0#EUR#
where doc_id=#ADB_NR#;
[end]

[checkADB2Range]
select max(doc_id) as "ADB2_MAX" from docs;
select min(doc_id) as "ADB2_MIN" from docs where extract(YEAR FROM DOC_DATE) >= 20#q_yr#-1;
update #dest_table# set ADB_NR=null where ADB_NR>#ADB2_MAX# or ADB_NR<#ADB2_MIN#
[end]