[parameters]
title=1С-Проводка
debug=off
$INCLUDE common.dat[colors]
[end]


[report]
$INCLUDE [logged report]   ??logged|det=y
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#";</script> ??!logged&!det=y
</body></HTML>
[end]


[logged report]
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>
<style>
td {font-size:13pt; vertical-align:top;}
td.lab {text-align:right;}
</style>

<h3>1C - Проводка #ID#</td><td align=right nowrap=true></h3>
<center>


<table border=0 bgcolor=white style="margin:20px;"> 
<tr><td class=lab><b>Дебет</b> счет:</td><td><b>#ACCD#</b></td></tr>
<tr><td class=lab>Субконто 1:</td><td> #ACCD_1#</td></tr>
<tr><td class=lab>Субконто 2:</td><td>#ACCD_2#</td></tr>
<tr><td class=lab>Субконто 3:</td><td>#ACCD_3#
 <br><small><i>( ??LAB_D|SBJ_D|SST_D
 подразд. #LAB_D#; ??LAB_D
 #TYPE_D# #SBJ_D#; ??SBJ_D
 субстатья #SST_D# ??SST_D
 )</i></small> ??LAB_D|SBJ_D|SST_D
</td></tr>
<tr><td class=lab>Сумма в валюте:</td><td> #VAL_S_D#, Валюта: #VAL_D#</td></tr> ??VAL_D

<tr><td class=lab><b>Кредит</b> счет:</td><td><b>#ACCK#</b></td></tr>
<tr><td class=lab>Субконто 1:</td><td> #ACCK_1#</td></tr>
<tr><td class=lab>Субконто 2:</td><td> #ACCK_2#</td></tr>
<tr><td class=lab>Субконто 3:</td><td> #ACCK_3#
 <br><small><i>( ??LAB_K|SBJ_K|SST_K
 подразд. #LAB_K#; ??LAB_K
 #TYPE_D# #SBJ_K#; ??SBJ_K
 субстатья #SST_K# ??SST_K
 )</i></small> ??LAB_K|SBJ_K|SST_K

</td></tr>
<tr><td class=lab>Сумма в валюте:</td><td> #VAL_S_K#, Валюта: #VAL_K#</td></tr> ??VAL_K

<tr><td class=lab><b>Сумма</b></td><td><b>#S# руб.</b></td></tr>
<tr><td class=lab>Содержание:</td><td> #SODER#</td></tr>
<tr><td class=lab>Комментарий:</td><td> #COMMENTS#</td></tr>
<tr><td class=lab>Провел:</td><td> #CREATOR#</td></tr>
<tr><td class=lab>Дата:</td><td> #DAT#
<small><i>(#MM# #YEAR#)</small> ??
</td></tr>
<tr><td class=lab>Регистр:</td><td> #REG#</td></tr>

<tr><td class=lab>Рег.номер ADB2:</td><td>#ADB2_NUM#<br>.</td></tr> ??
</table><br>
<input type=button value="Закрыть" onClick="window.close();">
</center>

<script>window.focus();</script>
[end]



================================ SQLs ================================
[preSQLs]
SELECT 
to_char(DAT, 'DD.MM.YY HH24:MI') as "DAT"
,ACCD, ACCD_1, ACCD_2, ACCD_3, VAL_D, VAL_S_D
,ACCK, ACCK_1, ACCK_2, ACCK_3, VAL_K, VAL_S_K
,S, SODER, COMMENTS, CREATOR,REG, ID
, year, mm, lab_d, sbj_d, type_d, sst_d
, lab_k, sbj_k, type_k, sst_k
from C1_PROVODKI p
where id=#id#
[end]

