JINR/doc_8_settings.cfg

[comments]
descr=U: Установка значений по умолчанию для договора на поставку (тип документа: 8) 
input=
output=
parents=docs/edit_doc.cfg
childs=
test_URL=
author=Куняев
[end]

================= Сервис вызывается при открытии документа в режиме редактирования в docs/edit_doc.cfg
======= При сохранении дока в docs/edit_doc.cfg вызывается снова с параметром defaults=clear

[report]
$INCLUDE [set defaults] ??!defaults=clear
$INCLUDE [clear defaults] ??defaults=clear
[end]

[set defaults]   ***** установка значений по умолчанию при открытии документа на редактирование
$GET_DATA JINR/doc_8_settings.cfg[get def div]  ??U_LAB_CODE
$SET_PARAMETERS_SESSION f_person_div_id=#U_LAB_CODE#; dealinitiator_id=#USER_ID#; dealinitiator=#user_FIO#;  
$SET_PARAMETERS divisions_id=#U_LAB_CODE#; divisions=#DEF_JINR_LAB#;
$LOG <br><b>+++++ Договор-Defaults:</b> U_LAB_CODE=#U_LAB_CODE#; dealinitiator_id=#dealinitiator_id#; dealinitiator=#dealinitiator#; divisions_id=#divisions_id#; divisions=#divisions#;<br>
[end]


[clear defaults]  ***** вызывается после сохранения документа 
$SET_PARAMETERS_SESSION f_person_div_id=; dealinitiator_id=; dealinitiator=; 
$SET_PARAMETERS divisions_id=; divisions=; prev_prj_id=;
$LOG <br><b>+++++ Договор-Defaults: CLEAR.</b>
$GET_DATA [clear curr stage]
[end]

[clear curr stage] ***** сброс информации о бумажной обработке дока
update d_data_8 set STAGE=0 where id=#DOC_DATA_RECORD_ID#;
delete from doc_paper_processing where doc_id=#doc_id#
[end]

[get def div]
select short_name as DEF_JINR_LAB from info_10 where id=#U_LAB_CODE# 
[end]


[before save] ****** Выполняется перед сохранением документа 
    $INCLUDE JINR/doc_1_settings.cfg[before save]
[end]


[set custom parameters] ****** Выполняется при открытии документа для получения специфических параметров по умолчанию
<script>alert(1)</script>  ??
$GET_DATA JINR/doc_8_settings.cfg[check has letter NDS]
[end]

[check has letter NDS]
    select 'Y' as "HAS_LETTER_NDS" 
    from doc_files
    where doc_id=#doc_id# and field_id='letter_nds' and is_deleted=0 
    limit 1
[end]


[check custom criteria]  ****** выполняется при создании рабочего маршрута документа для определения специфических критериев каждого шага
***** Кроме критериев подразделения. Они стаятся через docs/set_doc_divs.cfg ***** ??
$INCLUDE JINR/doc_1_settings.cfg[check custom criteria]

[end]



[check custom accrights] ******  Выполняется при проверке прав доступа юзера к документу (при любых действиях с документом)
$LOG <hr><b>JINR/doc_8_settings.cfg[check custom accrights]: c=#c#; cop=#cop#;</b><br>
<script>alert('JINR/doc_8_settings.cfg[check custom accrights]; c=#c#');</script>  ??
$LOG <br><b>JINR/doc_8_settings.cfg[check custom accrights] DONE!</b><hr>
[end]

==================== Проверки на этапах согласования по нажатию кнопок ==============================


[check doc data]  ***** Вызывается из doc_user_action.cfg при действии юзера на шаге (согласование, утверждение и т.п.)
<script>alert('[check doc data]');</script> ??
$SET_PARAMETERS DATA_ERROR=; DATA_ERR_CODE=;
$INCLUDE JINR/doc_8_settings.cfg[check creator data]     ??CURR_STEP_ROLE_ID=23|CURR_STEP_ROLE_ID=8|CURR_STEP_ROLE_ID=57
  ??CURR_STEP_TYPE=-1&
$INCLUDE JINR/doc_8_settings.cfg[check ekonomist data]   ??CURR_STEP_ROLE_ID=8|CURR_STEP_ROLE_ID=25|CURR_STEP_ROLE_ID=3|CURR_STEP_ROLE_ID=57
[end]

[check creator data]  ***** проверка на этапе МТС лаб. (или экономист лаб., если МТС лаб. нет)
<script>alert('CREATOR: cop=#cop#; #c#');</script> ??

$INCLUDE JINR/doc_8_settings.cfg[check reg nomer]  ??cop=1|cop=forward
$INCLUDE JINR/doc_8_settings.cfg[check 1С]  ??ZZZ&cop=1|cop=forward
$CALL_SERVICE c=docs/get_doc_data;
$SET_PARAMETERS DATA_ERR_CODE=1; DATA_ERROR=#DATA_ERROR#<br>- Необходимо указать контрагента;  ??!kontragent_text&!kontragent
$SET_PARAMETERS DATA_ERR_CODE=1; DATA_ERROR=#DATA_ERROR#<br>- Необходимо ввести контакты контрагента;  ??!kontragent_cont&ZZZ-пока не контролируется
[end]

[check ekonomist data] ****** Выполняется на этапе экономиста или ПФО
$INCLUDE JINR/doc_8_settings.cfg[check finances]  ??cop=1|cop=forward
[end]

[check reg nomer] ***** проверка, зарегистрирован ли договор
$GET_DATA JINR/doc_8_settings.cfg[get reg nomer]
$SET_PARAMETERS DATA_ERR_CODE=1; DATA_ERROR=- Необходимо зарегистрировать документ и ввести его рег.номер и дату;  ??!REG_NUMBER&SET_NUMBER_AT_STEP>1
[end]

[get reg nomer]  ****** получаем номер договора
select number as "REG_NUMBER" from d_list where id=#doc_id#
[end]

[check 1С] ****** проверить № 1С
$GET_DATA JINR/doc_8_settings.cfg[get 1C Nr]
$SET_PARAMETERS DATA_ERR_CODE=1; DATA_ERROR=#DATA_ERROR#<br>- Необходимо ввести № договора в 1С;  ??!nr_1C
[end]

[get 1C Nr] ****** получаем № 1С
select nr_1C from d_data_#DOC_TYPE_ID# where doc_id=#doc_id# order by version desc limit 1
[end]

[check finances] ****** Выполняется при нажатии кнопки "Согласовать" экономистом или ПФО - проверка, расписана ли сумма по источникам
    $GET_DATA JINR/doc_8_settings.cfg[get money]
    $LOG_ERROR IGNORED: Сумма договора total_sub=#SUMMA_DOC#; не совпадает с суммой по ист.фин.: SUMMA_SRC=#SUMMA_SRC#;   ??!SUMMA_DOC=#SUMMA_SRC#&SUMMA_DOC>0
[end]
    $SET_PARAMETERS DATA_ERR_CODE=1; DATA_ERROR=#DATA_ERROR#<br>- Сумма договора не совпадает с суммой, расписанной по источникам финансирования;  ??!SUMMA_DOC=#SUMMA_SRC#


[get money]  ***** определяем валюту, сравниваем сумму в валюте с расписанной по источникам
    select case 
            when total_sum_curr='USD' then 'usd' 
            when total_sum_curr='EUR' then 'eur' 
            when total_sum_curr='руб.' then 'rub' 
            else '' 
           end as "CURR"
        , format(total_sum,0) as "SUMMA_DOC" ??
        , replace(format(total_sum/10,0),',','') as "SUMMA_DOC"
        , version as "DOC_VERSION"
    from d_data_#DOC_TYPE_ID# where doc_id=#doc_id# 
    order by version desc limit 1
    ;
    select replace(format(sum(s.summa_#CURR#/10),0),',','') as "SUMMA_SRC" ??CURR
    from d_data_7 s join d_list dh on dh.id=s.doc_id   ??CURR
    where dh.pid=#doc_id# and is_deleted=0 and s.version=#DOC_VERSION#   ??CURR
[end]


=====================================================================================


[ZZZ check custom accrights] ****** Выполняется непосредственно после проверки прав доступа к документу
$SET_PARAMETERS IS_SMTS=Y;
$SET_PARAMETERS STEP_SMTS=Y; AR_T=Y; ??CURR_STEP_ROLES=29&AR_S=Y
[end]


[get SMTS user]  XXXXX НЕ ИСПОЛЬЗУЕТСЯ! ****** вызывается из docs/doc_user_action_process.cfg для определения чего-то
select user_id as "SMTS_USER_ID" 
from wf
where wf_id=#WF_ID# and role_id=15 
and result_code=1 ??
and not finished is null
order by step desc limit 1
[end]



[post processing]
$GET_DATA JINR/doc_8_settings.cfg[get_curr_doc_stage]
$INCLUDE JINR/doc_8_settings.cfg[paper processing] ??CURR_STEP_TYPE=2|CURR_STAGE>0
   ??CURR_STEP_TYPE=2
    ??DOC_STATUS>0&CURR_STEP_TYPE>0 
[end]

[paper processing]
<style>
.cmd {background-color:white; border: solid 1px gray; margin:4px; font-size:13pt;} ??
table.tlist td.big {font-size:10pt;}
table.tlist td.tb {border-top:solid 1px gray;}
table.tlist tr.dis {background-color:##e0e0e0;}
table.tlist tr.dis td.inact {color:##808080;}
table.tlist tr.green {background-color:##b0ff80;}
table.tlist tr.red {background-color:##ffb080;}

</style>

<tr><td class="divider" colspan="2"></td></tr>
<tr><td class="label">Прохождение бумажного варианта:</td>
<td id="paper_processing">
$CALL_SERVICE c=JINR/paper_processing 
</td></tr>
[end]

[get_curr_doc_stage]
select stage as "CURR_STAGE" from d_data_8 where doc_id=#doc_id# and version=#DOC_TYPE_VERSION#
[end]