JINR/doc_25_settings.cfg

[comments]
descr=U: Установка значений по умолчанию для счета на оплату (тип документа: 25) 
input=
output=
parents=docs/edit_doc.cfg
childs=
test_URL=
author=Куняев
[end]

================= Сервис вызывается при открытии документа в режиме редактирования в docs/edit_doc.cfg
======= При сохранении дока в docs/edit_doc.cfg вызывается снова с параметром defaults=clear
$INCLUDE docs/custom_settings.cfg[]

[report]
    $INCLUDE [set defaults] ??!defaults=clear
    $INCLUDE [clear defaults] ??defaults=clear
[end]

[set defaults]   ***** установка значений по умолчанию при открытии документа на редактирование
    $SET_PARAMETERS_SESSION f_person_div_id=#U_LAB_CODE#; dealinitiator_id=#USER_ID#; dealinitiator=#user_FIO#;  
    $LOG <br><b>+++++ Счет на оплату-Defaults:</b> <br>
[end]


[clear defaults]  ***** вызывается после сохранения документа 
    $LOG <br><b>+++++ Счет на оплату: CLEAR Defaults.</b>
[end]


[after create as child] ****** Выполняется после создания документа, как дочернего 
    $GET_DATA JINR/doc_25_settings.cfg[get dogovor info] 
    $GET_DATA JINR/doc_25_settings.cfg[set doc number] 
    $SET_PARAMETERS nr_date=#DOG_NR# от #DOG_DATE#
    $GET_DATA JINR/doc_25_settings.cfg[set source comments] 
[end]

[set source comments]
    update d_list set comment='Основной договор'
    where pid=#doc_id# and type_id=7
[end]

[set doc number]
    select p.number as "DOG_NR", DATE_FORMAT(p.doc_date,'%d.%m.%Y') as DOG_DATE
    from d_list p where p.id=#DOG_DOC_ID#
    ;
    update d_data_25 set nr_date='#DOG_NR# от #DOG_DATE#' 
        , nr_ADB=#nr_ADB# ??nr_ADB
        ,  doc_date=STR_TO_DATE('#DOG_DATE#','%d.%m.%Y') ??DOG_DATE_ZZZ
    where doc_id=#doc_id#
[end]


[set custom object data] ****** Выполняется перед посылкой документа в шлюз
    $GET_DATA JINR/doc_25_settings.cfg[get dogovor info] 
[end]

[custom object data] ****** Вставляется в JSON после общих параметров (шапка) до данных документа
    PID_ADB=#PID_ADB#
    DOG_DOC_ID=#DOG_DOC_ID#
[end]

[get dogovor info]  ****** Информация о родительском договоре
    select pid as "ACT_DOC_ID" from d_list where id=#doc_id#  /* ID акта, т.к. счет делаетая только на основе акта */
    ;
    ------ ID договора, т.к. акт делаетая только на основе договора ----- ??
    select pid as "DOG_DOC_ID" from d_list where id=#ACT_DOC_ID# ??ACT_DOC_ID 
    ;
    select type_id as "PARENT_TYPE_ID" from d_list where id=#DOG_DOC_ID#  ??DOG_DOC_ID
    ;
    select nr_ADB as PID_ADB from d_data_#PARENT_TYPE_ID# where doc_id=#DOG_DOC_ID# ??PARENT_TYPE_ID
[end]

ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ не включено docs/custom_settings.cfg  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
$INCLUDE docs/custom_settings.cfg[]
ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ

[before save] ****** Выполняется перед сохранением документа 
[end]

[set custom parameters] ****** Выполняется при открытии документа для получения специфических параметров по умолчанию
----- В договорах пока не используется ----- ??
<style>
table.object_table th, table.tgreen th {
    background-color: #0080DD;
}
</style>
[end]


[check custom criteria]  ****** выполняется при создании рабочего маршрута документа для определения специфических критериев каждого шага
***** Кроме критериев подразделения. Они стаятся через docs/set_doc_divs.cfg ***** ??
[end]



[check custom accrights] ******  Выполняется при проверке прав доступа юзера к документу (при любых действиях с документом)
[end]

==================== Проверки на этапах согласования по нажатию кнопок ==============================


[check doc data]  ***** Вызывается из doc_user_action.cfg при действии юзера на шаге (согласование, утверждение и т.п.)
[end]

[get reg nomer]  ****** получаем номер договора
select number as "REG_NUMBER" from d_list where id=#doc_id#
[end]

[check 1С] ****** проверить № 1С
$GET_DATA JINR/doc_8_settings.cfg[get 1C Nr]
$SET_PARAMETERS DATA_ERR_CODE=1; DATA_ERROR=#DATA_ERROR#<br>- Необходимо ввести № договора в 1С;  ??!nr_1C
[end]

[get 1C Nr] ****** получаем № 1С
select nr_1C from d_data_#DOC_TYPE_ID# where doc_id=#doc_id# order by version desc limit 1
[end]


=====================================================================================

[custom title]
[end]

