JINR/doc_24_settings.cfg

[comments]
descr=U: Установка значений по умолчанию для акта по договору (тип документа: 24) 
input=
output=
parents=docs/edit_doc.cfg
childs=
test_URL=
author=Куняев
[end]

================= Сервис вызывается при открытии документа в режиме редактирования в docs/edit_doc.cfg
======= При сохранении дока в docs/edit_doc.cfg вызывается снова с параметром defaults=clear

[report]
    $INCLUDE [set defaults] ??!defaults=clear
    $INCLUDE [clear defaults] ??defaults=clear
[end]

[set defaults]   ***** установка значений по умолчанию при открытии документа на редактирование
    $SET_PARAMETERS_SESSION f_person_div_id=#U_LAB_CODE#; 
    $LOG <br><b>+++++ Акт выполненных работ-Defaults:</b> <br>
[end]


[clear defaults]  ***** вызывается после сохранения документа 
    $LOG <br><b>+++++ Акт выполненных работ: CLEAR Defaults.</b>
[end]


[after create as child] ****** Выполняется после создания документа, как дочернего 
    $GET_DATA JINR/doc_24_settings.cfg[set doc number] 
    $SET_PARAMETERS nr_date=#DOG_NR# от #DOG_DATE#
    $GET_DATA JINR/doc_23_settings.cfg[set source comments] ??
[end]


[set doc number]
    select p.number as "DOG_NR", DATE_FORMAT(p.doc_date,'%d.%m.%Y') as DOG_DATE
    from d_list p where p.id=#pid#
    ;
    update d_data_24 set nr_date='#DOG_NR# от #DOG_DATE#' 
        , nr_ADB=#nr_ADB# ??nr_ADB
        ,  doc_date=STR_TO_DATE('#DOG_DATE#','%d.%m.%Y') ??DOG_DATE_ZZZ
    where doc_id=#doc_id#
[end]


