JINR/doc_13_print_opening_protocol_item.cfg


[parameters]
request_name=U:Печать протокола вскрытия конвертов
service=jinr.sed.ServiceViewDoc  ??
service=dubna.walt.service.TableServiceSpecial
tableCfg=table_no
LOG=ON
t_start=<table class="item"><tr><td class="label">
t_mid=</td><td class="cont">
t_lab=</td><td class="label">
t_end=</td></tr></table>
SYS_FIELDS=DOC_ID
SYS_FIELDS_TYPES=int
[end]


[report header]
$SET_PARAMETERS SQL_mode = #mode#;


<tr>
<td>#label#</td>
[end]


[report footer]
</tr>
[end]


[item]
<td class="c">
#VAL#
</td>
[end]


[SQL]
$INCLUDE [SQL_mode_1]  ?? SQL_mode=1
$INCLUDE [SQL_mode_2]  ?? SQL_mode=2
$INCLUDE [SQL_mode_3]  ?? SQL_mode=3
[end]


[SQL_mode_1]
    select #field# as "VAL"
    from d_data_14 TP_d_data
    where doc_id in(#doc_id_list#)
    order by doc_id
[end]

[SQL_mode_2]
    select #field#  AS "VAL"
    from i_jinr_tender_participant
    where i_jinr_tender_participant.id in
    (select provider_id
        from d_data_14 TP_d_data
        where doc_id in(#doc_id_list#)
        order by doc_id)
[end]

[SQL_mode_3]
    select "#field#" as "VAL"
    from d_data_14 TP_d_data
    where doc_id in(#doc_id_list#)
    order by doc_id
[end]