JINR/doc_15_print_fin.cfg

[comments]
descr=U:
parents=JINR/doc_15_print.cfg
author=Куняев
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=U:
LOG=OFF
tableCfg=table_no
[end]


[report header]
$SET_PARAMETERS srn=1; rpp=9999; 
<table class="list" style="width:98%" cellspacing=0>
<tr><th style="border-left:solid 1px black; width:25%">Финансовые условия:</th><th>Источник финансирования</th><th style="width:20%">Сумма в валюте</th><th style="width:20%">Сумма в рублях</th></tr>
[end]


[item]
<tr><td class="l">#destination#</td><td>#bc#
<br>  ??bc&comment
#comment#</td>
<td class="r s1">#summa#&nbsp;#summa_curr#</td>
<td class="r s1" style="border-right:solid 1px black;">#summa_rub#</td></tr>
[end]


[report footer]
$GET_DATA [get Total]

<tr><td class="r" colspan=2 style="border:none; border-top:solid 1px black; ">ИТОГО:</td>
<td colspan=2 class="r" style="border:solid 1px black; border-right:solid 1px black; border-bottom: solid 1px black;">#TOT_RUB#
<div class="c s0">(
#RUB#руб. ??!RUB=0.00
+ ??!RUB=0.00&!USD=0.00|!EUR=0.00
#USD#USD ??!USD=0.00
+ ??!USD=0.00&!EUR=0.00
#EUR#EUR ??!EUR=0.00
)</div></td></tr></table>
[end]


[SQL]
select d.destination, dh.comment
    , SUBSTRING_INDEX(d.bc, '(', 1) as "bc"
    , d.summa_curr, replace(FORMAT(d.summa,2),',',' ') as "summa"
    , replace(FORMAT(d.summa_rub,2),',',' ') as "summa_rub"
from d_list dh
    join d_data_16 d on d.doc_id=dh.id
    join i_JINR_MNTS_expancies i on i.id=d.destination_id 
where dh.TYPE_ID = 16
    and dh.is_deleted=0 
    and dh.pid=#doc_id#

order by i.sort 
[end]


[get Total]
select 
    replace(FORMAT(sum(d.summa_rub),2),',',' ') as "TOT_RUB"
    ,replace(FORMAT(sum(case when d.summa_curr='USD' then d.summa else 0 end),2),',',' ') as "USD"
    ,replace(FORMAT(sum(case when d.summa_curr='EUR' then d.summa else 0 end),2),',',' ') as "EUR"
    ,replace(FORMAT(sum(case when d.summa_curr='руб.' then d.summa else 0 end),2),',',' ') as "RUB"

from d_list dh
    join d_data_16 d on d.doc_id=dh.id
    join i_JINR_MNTS_expancies i on i.id=d.destination_id 

where dh.TYPE_ID = 16
    and dh.is_deleted=0 
    and dh.pid=#doc_id#
[end]
