[parameters]
title=Copy 1C8.2 Data
LOG=ON
debug=on   ??
[end]

AutoCopyData.cfg

[setParam]       ***** установка параметров для режима auto
    $INCLUDE common.dat[head]
    $GET_DATA [getYears]
    $SET_PARAMETERS q_yr=17; ??!q_yr
    $SET_PARAMETERS q_yr=#CURR_YR#; ??!q_yr
    $GET_DATA [getLastYr]  ??
    $SET_PARAMETERS_SESSION LAST_YR=#LAST_YR_#;

    $GET_DATA menu.cfg[common parameters]  ??NEED_TO_SET|!CURR_YEAR|!MODIFIERS|!DOC_TYPES|!TODAY|!DOC_STATUSES|!RAZDS|!CONSS|!AGGRS|!DIRS|!LABS|!AGGR_TO_CONS
    $SET_PARAMETERS_GLOBAL MODIFIERS=#MODIFIERS#; LABS=#LABS#; DIRS=#DIRS#; AGGRS=#AGGRS#; CONSS=#CONSS#; AGGR_TO_CONS=#AGGR_TO_CONS#; RAZDS=#RAZDS#; DOC_TYPES=#DOC_TYPES#; EXT_DOC_TYPES=#EXT_DOC_TYPES#; DOC_STATUSES=#DOC_STATUSES#; 
    $SET_PARAMETERS_GLOBAL CURR_YEAR=#CURR_YEAR_#; CURR_YR=#CURR_YR_#; TODAY=#TODAY#; NEXT_YEAR=#NEXT_YEAR#; NEXT_YR=#NEXT_YR#;  


    $SET_PARAMETERS startDate=01.01.20#q_yr#; endDate=31.12.20#q_yr#;
    === q_yr=#q_yr#; CURR_YEAR=#CURR_YEAR#; CURR_YR=#CURR_YR#; LAST_YR=#LAST_YR#; ??!q_yr=#CURR_YR#

    $SET_PARAMETERS sbj=on; grants=on; div=on; stati=on; fizlitsa=on; sotrud=on;  ??q_yr=#CURR_YR#
    $SET_PARAMETERS prj=on; kontrag=on; persons=on; prik=on;   ??q_yr=#CURR_YR#

    $SET_PARAMETERS plat=on; registr_fact=on; requests=on; AO=on; RKO=on;  ??q_yr=#CURR_YR#
    $SET_PARAMETERS requests=;     ??     

    $SET_PARAMETERS Limits=on  ??q_yr=#CURR_YR#
    $SET_PARAMETERS prov=on;   ??q_yr=#CURR_YR#
$SET_PARAMETERS prov=; ??
[end]


mnts=on; SetNomenklatura=on;



[report]
    $SET_PARAMETERS_GLOBAL INFR_CODES=3,4,6,9,10,11,12,13,14,16,19,21,22,23,24,26,28,33,35,36,38,42,43,44,47,55,60,75,81,82,85,87,88,94,900,910,919,930,935,990,999;  
    *** auto=#auto#; WDAY=#WDAY#; (#DAY#, #DAT_#) *** INFR_CODES=#INFR_CODES#<br>

    $INCLUDE [doIt] ??!auto=y
    $INCLUDE [doIt] ??auto=y
            ??&WDAY>0&WDAY<6
[end]

<hr><b>***Статьи Движения Денежных Средств *** </b><br>  ??densrv=on
$CALL_SERVICE c=c2/loadStDvDenSredstv  ??densrv=on


[doIt]
    $INCLUDE [setParam] ??auto=y
    $SET_PARAMETERS OK=Y;
    <hr><b>*** Лимиты *** </b><br> ??Limits=on
    $CALL_SERVICE c=c2/copyLimits  ??Limits=on
    $INCLUDE [INFO]
    $INCLUDE [DATA]  ??OK=Y
[end]

[INFO]
    <hr><b>*** Подразделения, Сотрудники *** </b><br>  ??div=on
    $CALL_SERVICE c=c2/loadDiv  ??div=on
    <br><b>*** Сотрудники *** </b><br> ??div=on&!ERROR
    $CALL_SERVICE c=c2/loadSotrudniki  ??div=on&!ERROR
    $CALL_SERVICE c=c2/loadObraz  ??div=on&!ERROR


    <hr><b>*** Темы, договоры *** </b><br>  ??sbj=on
    $CALL_SERVICE c=c2/loadSbj  ??sbj=on

    <hr><b>*** Приказы *** </b><br>  ??prik=on
    $CALL_SERVICE c=c2/loadPrikaz  ??prik=on

    <hr><b>*** Проекты *** </b><br> ??prj=on
    $CALL_SERVICE c=c2/loadProjects  ??prj=on

    <hr><b>*** Гранты, конференции *** </b><br> ??grants=on
    $CALL_SERVICE c=c2/loadGrants  ??grants=on

    <hr><b>*** Статьи *** </b><br> ??stati=on
    $CALL_SERVICE c=c2/loadStati  ??stati=on

    <hr><b>*** Дв. Целевых Средств *** </b><br> ??celsrv=on
    $CALL_SERVICE c=c2/loadDvCelSredstv  ??celsrv=on

    <hr><b>***Контрагенты *** </b><br>  ??kontrag=on
    $CALL_SERVICE c=c2/loadKontrag  ??kontrag=on

    <hr><b>*** Физлица *** </b><br> ??fizlitsa=on
    $CALL_SERVICE c=c2/loadFizLitsa  ??fizlitsa=on

    <hr><b>*** Персонал *** </b><br> ??persons=on
    $CALL_SERVICE c=c2/loadPersonal  ??persons=on
    .
    <hr>
    OK=#OK# <br>
[end]


[DATA]
    $INCLUDE [plat] ??!ERROR&plat=on|platMarkOnly
    .
    <hr><b>*** Регистры накопления (план и факт) *** </b><br> ??registr_fact=on
    $CALL_SERVICE c=c2/loadBudgetPlan  ??registr_fact=on
    $CALL_SERVICE c=c2/loadBudgetFact  ??registr_fact=on
    .
    $INCLUDE [requests] ??requests=on

    <hr> #ERROR#
    $GET_DATA [fix docs] ??!ERROR&requests=on|registr_fact=on
    <small>
    +++++++++++++++++++ убрал при автозагрузке 13.09.2017 ++++++++++++++++ ?? 
    $CALL_SERVICE c=nica/e_EVM_prepare_data  ??ZZZ&!ERROR&requests=on&!GET_DATA_ERROR&!auto=y
    $CALL_SERVICE c=nica/svs/setReqMega;  ??requests=on
    $SET_PARAMETERS ERROR=; GET_DATA_ERROR=;

    </small>
    .
    $INCLUDE [AO] ??AO=on
    .
    $INCLUDE [RKO] ??RKO=on
    .
    $INCLUDE [MNTS] ??mnts=on
    .
    $INCLUDE [prov] ??prov=on

    .<hr>
[end]


04,05,06,

[prov]
    <hr><b>*** Проводки *** </b><br>
        07,08,09, ??
    $SET_PARAMETERS mm=; MMM=10,11,12; ??auto=y
    $CALL_SERVICE c=c2/loadProvodki 
    $INCLUDE [PROV-2017] ??!ERROR&auto=y&ZZZ
[end]



[PROV-2017]
    $SET_PARAMETERS mm=; MMM=10,11,12; q_yr=17;
    <hr><b>*** Проводки - 20#q_yr# *** </b><br>
    $CALL_SERVICE c=c2/loadProvodki 
    .<hr>
[end]


[fix docs]
    update docs set payed=fact_dat
    where payed is null and not fact_dat is null
[end]


[requests]
<hr><b>*** Заявки на оплату *** </b><br>
    $SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
    $CALL_SERVICE c=c2/loadRequestsDocs
    $CALL_SERVICE c=c2/loadRequestsTabl   ??!ERROR
    $CALL_SERVICE c=c2/loadRequestsCorr   ??!ERROR   
    $SET_PARAMETERS noMarkDocs=Y  ??q_yr<#CURR_YR#&auto=y
    $CALL_SERVICE c=c2/loadRequests   ??!ERROR
[end]


[plat]
    <hr><b>*** Платежки *** </b><br>
    $SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
    $CALL_SERVICE c=c2/markDocs  ??platMarkOnly
    $CALL_SERVICE c=c2/loadPlatList  ??plat=on&!platMarkOnly
[end]

[AO]
    <hr><b>*** AO *** </b><br>
    $SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
    $CALL_SERVICE c=c2/loadAO ??AO=on
[end]

[RKO]
    <hr><b>*** РКО *** </b><br>
    $SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
    $CALL_SERVICE c=c2/loadRKO ??RKO=on
[end]


[ZZZMNTS]
    <hr><b>*** МНТС *** </b><br>
    $SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
    $CALL_SERVICE c=c2/loadMNTS ??mnts=on
[end]


<hr><b>*** Счета *** </b><br>
$CALL_SERVICE c=c2/loadScheta  ??scheta=on
$SET_PARAMETERS ERROR=;

<hr><b>*** ПТУ *** </b><br>
$CALL_SERVICE c=c2/loadPTU  ??PTU=on
$SET_PARAMETERS ERROR=;

===============================================================================
[getYears]
    select to_char(SYSDATE, 'yyyy') as CURR_YEAR
        , to_char(SYSDATE, 'yy') as CURR_YR
        , to_char(SYSDATE, 'yy') as "q_yr"  ??!q_yr
        from dual;
    select #q_yr#-1 as "LAST_YR_" from dual;
[end]


[zzz getLastYr]
    select #q_yr#-1 as "LAST_YR_" from dual;
[end]

[preSQLs]
    select to_char(sysdate-1, 'd') as WDAY
    , to_char(sysdate,'DD.MM.YY') as DAT_, to_char(sysdate,'Dy') as DAY 
    , to_char(sysdate,'YY') as CURR_YR_, to_char(sysdate,'YYYY') as CURR_YEAR_
    from dual
[end]

select 1 as WDAY ??WDAY>7
;