[parameters]
title=Copy Budget 2 SQL
KeepLog=truef
debug=on   ??
[end]

AutoCopyBudget.cfg

http://ak0211.jinr.ru/adb/adb?c=c2/AutoCopyBudget
https://adb2.jinr.ru/adb/adb?c=c2/AutoCopyBudget

[setParam]
$INCLUDE common.dat[head]

$GET_DATA menu.cfg[common parameters]  ??NEED_TO_SET|!CURR_YEAR|!MODIFIERS|!DOC_TYPES|!TODAY|!DOC_STATUSES|!RAZDS|!CONSS|!AGGRS|!DIRS|!LABS|!AGGR_TO_CONS
$SET_PARAMETERS_GLOBAL MODIFIERS=#MODIFIERS#; LABS=#LABS#; DIRS=#DIRS#; AGGRS=#AGGRS#; CONSS=#CONSS#; AGGR_TO_CONS=#AGGR_TO_CONS#; RAZDS=#RAZDS#; DOC_TYPES=#DOC_TYPES#; EXT_DOC_TYPES=#EXT_DOC_TYPES#; DOC_STATUSES=#DOC_STATUSES#; 
$SET_PARAMETERS_GLOBAL CURR_YEAR=#CURR_YEAR#; CURR_YR=#CURR_YR#; TODAY=#TODAY#; NEXT_YEAR=#NEXT_YEAR#; NEXT_YR=#NEXT_YR#;  

$SET_PARAMETERS q_yr=14; ??!q_yr
$SET_PARAMETERS q_yr=#CURR_YR#; ??!q_yr
$GET_DATA [getLastYr] 

[end]

[report]
$INCLUDE [setParam]
.
<hr><b>*** Лимиты *** </b><br>
$CALL_SERVICE c=c2/copyLimits 
<hr>
#ERROR#
[end]