[parameters]
service=jinr.adb.ServiceCopyRecordset
LOG=ON
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=1000
SHOW_DET=
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]


[fields]
STATIA=STATIA
SHAU_2=SHAU_2
P=P
S_YEAR=S_YEAR
PRIKAZNUM=PRIKAZNUM
PRIKAZPUNKT=PRIKAZPUNKT
PRIKAZDATE=PRIKAZDATE
[end]


======================= STANDARD PART =================
[setCriteria]
$SET_PARAMETERS destCriteria=; srcCriteria=; 
$SET_PARAMETERS src_table=LIMITS_#q_yr#; dest_table=[DBO].[ADB_LIMITS_#q_yr#]; 
$GET_DATA c2/copyLimits.cfg[getSrcSumm]
$GET_DATA c2/copyLimits.cfg[getDestSumm]
[end]

[getSrcSumm]
$USE_DB
select to_char(sum(s_year),'99999999990') as "SRC_SUM" from #src_table#
[end]

[getDestSumm]
$USE_DB ASU
select cast(sum(s_year) AS NUMERIC(10, 0)) as "DEST_SUM" 
, cast(#SRC_SUM# -  sum(s_year)  AS NUMERIC(10, 0)) as "DIFF"
from #dest_table#
[end]
 CAST(5.0000 AS NUMERIC(10, 2))

[report header]
$SET_PARAMETERS destCriteria=;
$SET_PARAMETERS srcCriteria=;
$SET_PARAMETERS src_table=LIMITS_#q_yr#; dest_table=[DBO].[ADB_LIMITS_#q_yr#]; 
copyLimits.cfg:
<b>#src_table# ==> #dest_table#</b><br>
Удаление старых записей...
$USE_DB ASU
$GET_DATA [delete old]
OK. ??!ERROR&!GET_DATA_ERROR
#GET_DATA_ERROR# <br> ??GET_DATA_ERROR
#ERROR#<br>
[end]

[delete old]
delete from #dest_table# 
where #destCriteria#  ??destCriteria
;
commit
;
[end]

[report footer]
$INCLUDE c2/copyData.cfg[report footer]
ERROR: #ERROR#	??ERROR
<p>
$USE_DB 
[end]


[prepare data]
[end]

[srcSQL]
$USE_DB
select 	#srcFields# from #src_table#
[end]

[start copy]
Копирование данных...
$USE_DB ASU
[end]

==============================================================
