c2/copy_NICA_WBS.cfg

[parameters]
service=jinr.adb.ServiceCopyRecordset
LOG=ON
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=100
SHOW_DET=
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]


[fields]
ID=ID
PID=PID
CODE=CODE
TITLE=TITLE
RESP=RESP
[end]


======================= STANDARD PART =================
[setCriteria]
$SET_PARAMETERS destCriteria=; srcCriteria=ID>-1; 
$SET_PARAMETERS src_table=NICA_WBS; dest_table=[DB_1C_2].[DBO].[NICA_WBS]; 
[end]


[report header]
$INCLUDE [setCriteria]
copy_RF_Vedomost.cfg: <b>#src_table# ==> #dest_table#</b><br>
Удаление старых записей...
$USE_DB ASU
$GET_DATA [delete old]
OK. ??!ERROR&!GET_DATA_ERROR
#GET_DATA_ERROR# <br> ??GET_DATA_ERROR
#ERROR#<br>
[end]

[delete old]
delete from #dest_table#;
commit;
[end]

[report footer]
$INCLUDE c2/copyData.cfg[report footer]
ERROR: #ERROR#	??ERROR
<p>
$USE_DB 
[end]


[prepare data]
[end]

[srcSQL]
$USE_DB
select 	#srcFields# from #src_table#
where #srcCriteria#  ??srcCriteria
[end]

[start copy]
Копирование данных...
$USE_DB ASU
[end]

