[parameters]
title=1С-Заявка

debug=off
debug=on  ??uname=sergZZZ

KeepLog=false


$INCLUDE common.dat[colors]
[end]

[report]
<HTML><HEAD><TITLE>#title#</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
$INCLUDE c2/i_head.dat[head]

$GET_DATA [getRequest]

<body>
<table border=0 cellpadding=0 cellspacing=0 style="margin:20px; margin-bottom:2px; width:98%"><tr><td width=90%>
<h4>1C - Заявка на расход ДС №#f_req# от 
#f_dat#
#REQ_DAT# ??!f_dat
и связанные документы</td><td align=right nowrap=true></td><td align=right nowrap=true>
<a class=info href="/adb/adb">Главная</a></td></tr></table>

<table border=0 cellspacing=2 cellpadding=2 style="margin:0px;">
<tr><td style="width:45%">

<table class="tlist" border=0 cellspacing=2 cellpadding=2 style="margin:20px;">
<tr><th colspan=2 class="align_left">Заявка #REQUEST_NR# от #REQ_DAT# (#RESP#)</th></tr>

<tr><td>Операция:</td><td class="align_left">#VID_OPER# (#SCENARII#)</td></tr>
<tr><td>Документ основание:</td><td class="align_left">#RD_TYPE# #DOC_NR# 
от #DOC_DAT# ??DOC_DAT
</td></tr>
<tr><td>Контрагент:</td><td class="align_left">#CONTRAGENT#</td></tr> ??CONTRAGENT
<tr><td>Договор:</td><td class="align_left">#DOGOVOR#</td></tr> ??DOGOVOR
<tr><td>Получатель:</td><td class="align_left">#RECEIVER#</td></tr> ??RECEIVER
<tr><td>Подразделение:</td><td class="align_left">#DIV_CODE#</td></tr>
<tr><td>Источник&nbsp;финансирования:</td><td><div class="align_left
SRC_V ??IS_BUDGET=0
SRC_P ??PRIKAZ&IS_BUDGET=1
">#SBJ#
,<br><small>пр.#PRIKAZ#&nbsp;от&nbsp;#PRIKAZ_DAT#&nbsp;п.#PUNKT#</small> ??PRIKAZ
</div>
</td></tr>
<tr><td>Проект НИКА:</td><td class="align_left">#NICA_CODE# <small>(#NICA_ID#)</small></td></tr> ??NICA_CODE|NICA_ID
<tr><td>Статья бюджета:</td><td class="align_left">#AGGR#</td></tr>
<tr><td>Сумма:</td><td class="align_left"><b>
#SUMM_RUB#руб.  ??CURR_CODE=810
#SUMM_USD#USD   ??CURR_CODE=840
#SUMM_EUR#EUR   ??CURR_CODE=978
</b>(
#SUMM_RUB#руб.  	??!CURR_CODE=810
#SUMM_USD#USD  	??!CURR_CODE=840
#SUMM_EUR#EUR	  ??!CURR_CODE=978
)
</td></tr>
$INCLUDE [FACT] ??SUMM_RUB_FACT
<tr><td>Комментарий</td><td class="align_left">#COMMENTS#</td></tr> ??COMMENTS

<tr><td>Документ ADB2</td><td class="align_left">#ADB_NR#</td></tr> ??ADB_NR>1
</table>
</td>
<td style="width:55%">
$CALL_SERVICE c=c2/reqDoc ??ADB_NR>1
</td>
</tr></table>

REQ_LINK=#REQ_LINK#; DOC_OSN=#DOC_OSN#; ??

$CALL_SERVICE c=c2/reqCorrList 

$INCLUDE [DOC_OSN] ??DOC_OSN

$CALL_SERVICE c=c2/reqFactList  ??REQ_LINK|RD_LINK

<script>
function getPP(num,dat)
{ 
	openWindow("c=c2/plat&DOCNO=" + num + "&dat=" + dat, "plat", 800,650); 
}
</script>
</body></html>
[end]


[FACT]
<tr><td>Факт. сумма:</td><td class="align_left"><b>
#SUMM_RUB_FACT#руб.  ??CURR_CODE=810
#SUMM_USD_FACT#USD   ??CURR_CODE=840
#SUMM_EUR_FACT#EUR   ??CURR_CODE=978
</b>(
#SUMM_RUB_FACT#руб.  	??!CURR_CODE=810
#SUMM_USD_FACT#USD  	??!CURR_CODE=840
#SUMM_EUR_FACT#EUR	  ??!CURR_CODE=978
)
</td></tr>
[end]


[DOC_OSN]
$GET_DATA [getDocOsn]
<table class="tlist" border=0 cellspacing=0 cellpadding=0 style="margin:20px;">
<tr><th colspan=2 class="align_left">Документ Основание:<br>
#RD_TYPE# #DOC_NR# от #DOC_DAT# (#RD_RESP#)
</th></tr>
<tr><td>Документ:</td><td>#DOC_TYPE# #DOC_NR# от #DOC_DAT#</td></tr> ??

<tr><td>Контрагент:</td><td class="align_left">#RD_CONTRAGENT#</td></tr>
<tr><td>Договор:</td><td class="align_left">#RD_DOGOVOR#</td></tr> ??RD_DOGOVOR
<tr><td>Подразделение:</td><td class="align_left">#RD_DIV_CODE#</td></tr>
<tr><td>Сумма:</td><td class="align_left"><b>
#RD_SUMM_RUB#руб.  ??RD_CURR_CODE=810
#RD_SUMM_USD#USD   ??RD_CURR_CODE=840
#RD_SUMM_EUR#EUR   ??RD_CURR_CODE=978
</b>(
#RD_SUMM_RUB#руб.  	??!RD_CURR_CODE=810
#RD_SUMM_USD#USD  	??!RD_CURR_CODE=840
#RD_SUMM_EUR#EUR	  ??!RD_CURR_CODE=978
)
</td></tr>
<tr><td>Номенклатура:</td><td>
$CALL_SERVICE c=c2/reqNomenList;

</td></tr>
</table>
[end]
$CALL_SERVICE c=c2/reqListByDoc; ??NUM_DOC_RECS>1

$SET_PARAMETERS RD_LINK=#DOC_OSN#; ??!RD_LINK
$CALL_SERVICE c=c2/reqFactList; ??ZZZ&REQ_LINK|RD_LINK
  REQ_LINK=; ??

================================ SQLs ================================

[preSQLs]
select to_char(SYSDATE, 'dd.mm.yyyy') as TODAY from dual; ??
select to_char(to_date('#f_dat#', 'dd.mm.yyyy'),'YY') as "yr" from dual; ??f_dat
[end]


[getRequest]
select 
r.REQ_NR as REQUEST_NR, to_char(r.REQ_DATE, 'DD.MM.YYYY') as REQ_DAT, r.RESP
, r.VID_OPER, r.SCENARII
,r.DOC_OSN, r.DOC_TYPE as RD_TYPE, r.DOC_NR, to_char(r.DOC_DAT, 'DD.MM.YYYY') as DOC_DAT

, r.CURR_CODE
, to_char(r.SUMM_RUB,'999G999G999G999D00') as SUMM_RUB, to_char(r.SUMM_USD,'999G999G999G999D00') as SUMM_USD, to_char(r.SUMM_EUR,'999G999G999G999D00') as SUMM_EUR
, to_char(r.SUMM_RUB_FACT,'999G999G999G999D00') as SUMM_RUB_FACT, to_char(r.SUMM_USD_FACT,'999G999G999G999D00') as SUMM_USD_FACT, to_char(r.SUMM_EUR_FACT,'999G999G999G999D00') as SUMM_EUR_FACT

, r.SCHET_NR as SCHET_NR
, r.CONTRAGENT, r.DOGOVOR
, r.RECEIVER
, r.DIV_CODE as DIV_CODE,r.SBJ as SBJ, r.NICA_CODE as NICA_CODE
, r.PRIKAZ as PRIKAZ, to_char(r.PRIKAZ_DAT, 'DD.MM.YYYY')||'г.' as PRIKAZ_DAT, r.PUNKT as PUNKT
, r.AGGR as AGGR

, r.COMMENTS, r.NOMENKLATURA

, to_char(r.SCHET_DAT, 'DD.MM.YYYY') as SCHET_DAT
, r.NICA, r.NICA_ID 

,r.IS_BUDGET as IS_BUDGET

, r.DOGOVOR 
, r.LINK

,r.ADB_NR as ADB_NR
,r.LINK as REQ_LINK

,d.AGGR as ADB_AGGR
,bc.SBJ_CODE as D_SBJ   ??adbCheck=sbjcheck
,d.LAB_CODE as D_LAB_CODE   ??adbCheck=labcheck|adbCheck=sbjcheck
,d.AGGR as D_AGGR   ??adbCheck=aggrcheck
,bc.DES as D_DES  ??adbCheck=budcheck

, c.MARK,c.OLD_ADB2_NUM as C_OLD_ADB2_NUM
, c.ADB2_NUM as NEW_ADB2_NUM
, c.COMMENTS as "C_COMMENTS"


from C2_Requests r
from C2_Requests_#yr# r ??
C2_Requests_13_14 r ??
left join docs d on d.doc_id=r.ADB_NR
left join bc_14_15 bc on bc.code=d.bc ??adbCheck
left join c2_fact_corr_#yr# c on (c.REQ=r.REQ_NR )

where 1=1
and r.REQ_NR=#f_req#  ??f_req
and r.REQ_YR=20#yr# ??yr
and r.REQ_DATE=to_date('#f_dat#','DD.MM.YYYY') ??f_dat
[end]

[getDocOsn]
select rd.DIV_CODE as RD_DIV_CODE, rd.CONTRAGENT as RD_CONTRAGENT, rd.DOGOVOR as RD_DOGOVOR
, rd.CURR_CODE as RD_CURR_CODE
, to_char(rd.SUMM_RUB,'999G999G999G999D00') as RD_SUMM_RUB, to_char(rd.SUMM_USD,'999G999G999G999D00') as RD_SUMM_USD, to_char(rd.SUMM_EUR,'999G999G999G999D00') as RD_SUMM_EUR
, rd.RESP as RD_RESP
, rd.LINK as RD_LINK
from C2_Requests_Docs rd 
where rd.link='#DOC_OSN#'
;
select count(*) as "NUM_DOC_RECS"
from C2_Requests_#yr#
where
DOC_OSN='#RD_LINK#'
;
[end]

