[parameters]
service=jinr.adb.ServiceCopyPlat ??
service=jinr.adb.ServiceCopyRecordset
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=500
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]


[fields]
ДокументОснованиеСсылка=link
ДокументОснованиеНомер=DOC_NR
ДокументОснованиеДата=DOC_DATE
ПодразделениеКод=DIV_1C_CODE
Контрагент=CONTRAGENT
Договор=DOGOVOR
Валюта=CURR
Курс=RATE
СуммаВалютная=SUMM_VAL
СуммаПлатежа=SUMM_RUB
Ответственный=RESP
[end]

id=ID



======================= STANDARD PART =================

[report header]
$INCLUDE [setCriteria]
<br>loadRequestsDocs.cfg:
$INCLUDE c2/copyData.cfg[report header]
destCriteria=#destCriteria#; ??
[end]


[setCriteria]
$SET_PARAMETERS destCriteria=; srcCriteria=; 
$SET_PARAMETERS destCriteria=1=0; srcCriteria=1=0;  ??
$SET_PARAMETERS src_table=[1c8_2].[ЗаявкаДокументОснование20#q_yr#]; dest_table=C2_Requests_Docs_#q_yr#
[end]

[report footer]
$INCLUDE c2/copyData.cfg[report footer]
ERROR: #ERROR#	??ERROR

Простановка кодов...  ??!ERROR&!GET_DATA_ERROR&!ImportDataError
$GET_DATA [setFields] ??!ERROR&!GET_DATA_ERROR&!ImportDataError
ОК  ??!ERROR&!GET_DATA_ERROR

Пересчет валюты...  ??!ERROR&!GET_DATA_ERROR&!ImportDataError
$GET_DATA [setCurrency] ??!ERROR&!GET_DATA_ERROR&!ImportDataError
ОК  ??!ERROR&!GET_DATA_ERROR

<p>
GET_DATA_ERROR: #GET_DATA_ERROR# ??GET_DATA_ERROR
[end]

[prepare data]
[end]

[srcSQL]
$USE_DB 1C
select 	#srcFields# from #src_table#
where #srcCriteria#  ??srcCriteria
[end]

[start copy]
$INCLUDE c2/copyData.cfg[start copy]
[end]


==============================================================


[setFields]
update #dest_table# p set DIV_CODE=(select to_number(LAB_CODE) from C2_DIV d where to_number(d.id)=to_number(p.DIV_1C_CODE))
;
update #dest_table# p set DIV_CODE=990 where DIV_CODE in (3,4,6,9,10,11,12,13,14,16,19,21,22,23,26,28,35,38,42,43,44,55,60,75,81,82,85,87,88,94,910,919,930,935)
;
update #dest_table# p set DIV_CODE=100 where DIV_CODE in (111)
;
update #dest_table# p set DIV_CODE=200 where DIV_CODE in (208,209)
;
update #dest_table# p set DIV_CODE=400 where DIV_CODE in (431,432,441,442)
;
update #dest_table# p set DIV_CODE=500 where DIV_CODE in (801)
;
update #dest_table# set DOGOVOR=null where DOGOVOR like '%Основной договор%'
;
[end]


[setCurrency]
update #dest_table# set curr_code=decode(curr, 'руб.', 810, 'USD', 840, 'EUR', 978, 0)
;
update #dest_table# set SUMM_USD=SUMM_VAL where curr_code=840;
;
update #dest_table# set SUMM_EUR=SUMM_VAL where curr_code=978;
;
update #dest_table# p
set SUMM_USD=SUMM_RUB/(select curr_rate from I_RATE_DESC where d_dat<=p.DOC_DATE and curr_code=840 and rownum=1)
where curr_code <> 840
and #destCriteria# ??destCriteria
;

update #dest_table# p
set SUMM_EUR=SUMM_RUB/(select curr_rate from I_RATE_DESC where d_dat<=p.DOC_DATE and curr_code=978 and rownum=1)
where curr_code <> 978
and #destCriteria# ??destCriteria
;
[end]

