[parameters]
service=jinr.adb.ServiceCopyRecordset
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=500
SHOW_DET=
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]


[fields]
 Ó‰=id
‘»Œ=FIO
[end]


======================= STANDARD PART =================
[report header]
$SET_PARAMETERS destCriteria=;
$SET_PARAMETERS srcCriteria=;
$SET_PARAMETERS src_table=[dbo].[PPU_FizLitsa]; dest_table=C2_PPU_FizLitsa; 
$SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
loadFizLitsa.cfg:
$INCLUDE c2/copyData.cfg[report header]
$INCLUDE c2/copyData.cfg[details] ??
[end]


[report footer]
$INCLUDE c2/copyData.cfg[report footer]
ERROR: #ERROR#	??ERROR
GET_DATA_ERROR: #GET_DATA_ERROR# ??GET_DATA_ERROR
<p>
$INCLUDE [protokol] ??
$GET_DATA [protokol]
<br>#ERROR#<br>#GET_DATA_ERROR#
$SET_PARAMETERS OK=#ERROR# #GET_DATA_ERROR#;  ??GET_DATA_ERROR|ERROR
$SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
[end]


[prepare data]
[end]

[srcSQL]
$USE_DB ASU
select 	#srcFields# from #src_table#
[end]

[start copy]
$INCLUDE c2/copyData.cfg[start copy]
[end]

[protokol]
$USE_DB
;
select to_char(count(*)) as COUNTER from #dest_table#
;
insert into c2_protokol (dat, tab, err, COUNTER)
values(SYSDATE,'#dest_table#', substr('#ERROR#',1,1023), #COUNTER#)
;
[end]

==============================================================
