[parameters]
service=jinr.adb.ServiceCopyRecordset
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=100
SHOW_DET=
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]


[fields]
Код=id
РодительКод=pid
ЭтоГруппа=is_group
Наименование=des
[end]


cast(Код as int)=id
cast(РодительКод as int)=pid
cast(ЭтоГруппа as int)=is_group

code


CAST(ПлатежноеПоручениеНомер AS INT)=PLAT_NR


======================= STANDARD PART =================
[report header]
$SET_PARAMETERS destCriteria=YEAR=20#q_yr# 	 ??
$SET_PARAMETERS destCriteria=;
$SET_PARAMETERS srcCriteria=;
 Год=20#q_yr# and countkey>333000 ??
$SET_PARAMETERS src_table=[1c8_2].[СтатьиЗатрат]; dest_table=C2_STATI
$SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
loadStati.cfg:
$INCLUDE c2/copyData.cfg[report header]
$INCLUDE c2/copyData.cfg[details] ??
[end]


[report footer]
$INCLUDE c2/copyData.cfg[report footer]
$GET_DATA [setCode] 	??!ERROR
ERROR: #ERROR#	??ERROR
<p>
GET_DATA_ERROR: #GET_DATA_ERROR# ??GET_DATA_ERROR
$SET_PARAMETERS OK=#ERROR# #GET_DATA_ERROR#;  ??GET_DATA_ERROR|ERROR
$SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
[end]


[setCode]
update C2_STATI set code=substr(des,1,3) where is_group=0 and REGEXP_INSTR(substr(des,1,3),'\d\d\d')=1;
update C2_STATI set aggr=substr(des,1,2) where is_group=1 and REGEXP_INSTR(substr(des,1,2),'\d\d')=1;
update C2_STATI set id=trim(TO_CHAR(TO_NUMBER(ID),'000000000')),  pid=trim(TO_CHAR(TO_NUMBER(PID),'000000000')); 
update C2_STATI s set aggr=(select aggr from C2_STATI p where p.id=s.pid)
where id in(select id from C2_STATI connect by prior id=pid) and is_group=0
;
update C2_STATI set mark=null;
update C2_STATI set mark=1 where id not in (select min(id) as id from c2_stati group by code);
[end]

update C2_STATI s set aggr=(select aggr from C2_STATI p where to_number(p.id)=to_number(s.pid))
where id in(select id from C2_STATI connect by prior to_number(id)=to_number(pid))


update c2_stati s
set aggr=
(select aggr
from c2_stati p
where to_number(p.id)=to_number(s.pid))
where id in(
select id
from c2_stati
connect by prior to_number(id)=to_number(pid)
start with id=3
)



[prepare data]
[end]

[srcSQL]
$USE_DB 1C
select 	#srcFields# from #src_table#
where #srcCriteria#  ??srcCriteria
[end]

[start copy]
$INCLUDE c1/copyData.cfg[start copy]
[end]


==============================================================
