[parameters]
service=jinr.adb.ServiceCopyPlat ??
service=jinr.adb.ServiceCopyRecordset
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=500
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]


[fields]
КорректировкаЗаявкиНаРасходованиеСсылка=kzr_link
КорректировкаЗаявкиНаРасходованиеНомер=NR
КорректировкаЗаявкиНаРасходованиеДата=DAT
ЗаявкаНаРасходованиеСсылка=REQ_link
ЗаявкаНаРасходованиеНомер=REQ_NR
ЗаявкаНаРасходованиеДата=REQ_DATE
Сценарий=SCENARII
ВидОперации=VID_OPER
Получатель=RECEIVER
Контрагент=CONTRAGENT
Договор=DOGOVOR
ПодразделениеКод=DIV_1C_CODE
ПроектКод=PROJECT_CODE
СтатьяОборотовКод=ST_OBOROTOV_CODE
СтДвижДенСредствКод=ST_DV_DEN_CODE
НИКА=NICA
NADB2=ADB_NR
ПриказКод=PRIKAZ_CODE
Валюта=CURR
Курс=RATE
НомерСтроки=LINE_NR
СуммаВалютная=SUMM_VAL
СуммаПлатежа=SUMM_RUB
Ответственный=RESP
Комментарий=COMMENTS
[end]


CAST(Приказ AS INT)=Prikaz_ID
ОтчетныйПериод=ReportDat
CAST(АДБ AS INT)=ADB_NR

case when ВидДвижения='Расход' then 0 else 1 end=isPrihod


CAST(Номер AS INT)=NR


======================= STANDARD PART =================

[report header]
$INCLUDE [setCriteria]
<br>loadRequestsCorr.cfg:
$INCLUDE c2/copyData.cfg[report header]
destCriteria=#destCriteria#; ??
[end]


[setCriteria]
$SET_PARAMETERS destCriteria=; srcCriteria=; 
$SET_PARAMETERS destCriteria=1=0; srcCriteria=1=0;  ??
$SET_PARAMETERS src_table=[1c8_2].[КорректировкаЗаявкиНаРасходование20#q_yr#]; dest_table=C2_Requests_Corr_#q_yr#
[end]

[report footer]
$INCLUDE c2/copyData.cfg[report footer]
ERROR: #ERROR#	??ERROR

<p>
GET_DATA_ERROR: #GET_DATA_ERROR# ??GET_DATA_ERROR


Простановка кодов...  ??!ERROR&!GET_DATA_ERROR&!ImportDataError
$GET_DATA [setRequestsData] ??!ERROR&!GET_DATA_ERROR&!ImportDataError
$GET_DATA c2/loadRequests.cfg[setFields] ??!ERROR&!GET_DATA_ERROR&!ImportDataError
ОК  ??!ERROR&!GET_DATA_ERROR

Пересчет валюты...  ??!ERROR&!GET_DATA_ERROR&!ImportDataError
$GET_DATA [setCurrency] ??!ERROR&!GET_DATA_ERROR&!ImportDataError
ОК  ??!ERROR&!GET_DATA_ERROR
<br>
[end]



[prepare data]
[end]

[srcSQL]
$USE_DB 1C
select 	#srcFields# from #src_table#
where #srcCriteria#  ??srcCriteria
[end]

[start copy]
$INCLUDE c2/copyData.cfg[start copy]
[end]


==============================================================

[setRequestsData]
	update #dest_table# c	
	set		
 	REQ_YR	=(select REQ_YR from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR)
,	DOC_OSN	=(select DOC_OSN from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR)
,	DOC_TYPE	=(select DOC_TYPE from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR)
,	DOC_NR	=(select DOC_NR from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR)
,	DOC_DAT	=(select DOC_DAT from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR)
,	SCHET_NR	=(select SCHET_NR from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR)
,	SCHET_DAT	=(select SCHET_DAT from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR)
,	FACT_YR	=(select FACT_YR from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR) ??
,	SUMM_RUB_FACT	 =SUMM_RUB ??
,	SUMM_USD_FACT	 =SUMM_USD ??
,	SUMM_EUR_FACT	 =SUMM_EUR ??
,	NOMENKLATURA	=(select NOMENKLATURA from c2_requests_#q_yr# r where r.REQ_NR=c.REQ_NR)
;
update #dest_table# c	 set 
 c.FACT_YR=(select max(extract(year from f.REG_DAT)) from C2_BudgetFact f where f.REGISTRATOR=c.kzr_link)
,c.SUMM_RUB_FACT=c.SUMM_RUB
,c.SUMM_USD_FACT=(select sum(s_usd) from C2_BudgetFact_#q_yr# f where f.REGISTRATOR=c.kzr_link and f.STOBOROTOV=c.ST_OBOROTOV_CODE and f.CFO=c.DIV_1C_CODE and f.PROJECT=c.PROJECT_CODE and f.s_rub=c.SUMM_RUB)
,c.SUMM_EUR_FACT=(select sum(s_eur) from C2_BudgetFact_#q_yr# f where f.REGISTRATOR=c.kzr_link and f.STOBOROTOV=c.ST_OBOROTOV_CODE and f.CFO=c.DIV_1C_CODE and f.PROJECT=c.PROJECT_CODE and f.s_rub=c.SUMM_RUB)
;

[end]
,c.SUMM_RUB_FACT=(select sum(s_rub) from C2_BudgetFact_#q_yr# f where f.REGISTRATOR=c.kzr_link and f.STOBOROTOV=c.ST_OBOROTOV_CODE and f.CFO=c.DIV_1C_CODE and f.PROJECT=c.PROJECT_CODE)



[setCurrency]
update #dest_table# set curr_code=decode(curr, 'руб.',810, 'USD',840, 'EUR',978, 'CHF',756, 'GBP',826, 'JPY',392, 0)
;
update #dest_table# set SUMM_RUB=SUMM_VAL where curr_code=810;
;
update #dest_table# p set SUMM_RUB=SUMM_VAL*RATE where curr_code<>810;
;
update #dest_table# set SUMM_USD=SUMM_VAL where curr_code=840;
;
update #dest_table# set SUMM_EUR=SUMM_VAL where curr_code=978;
;

update #dest_table# p
set SUMM_USD=SUMM_RUB/(select curr_rate from I_RATE_DESC where d_dat<=p.REQ_DATE and curr_code=840 and rownum=1)
where curr_code <> 840
and #destCriteria# ??destCriteria
;

update #dest_table# p
set SUMM_EUR=SUMM_RUB/(select curr_rate from I_RATE_DESC where d_dat<=p.REQ_DATE and curr_code=978 and rownum=1)
where curr_code <> 978
and #destCriteria# ??destCriteria
;
[end]

