[parameters]
service=jinr.adb.ServiceCopyProvodki  ??
service=jinr.adb.ServiceCopyRecordset
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=1000
SHOW_DET=
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer] :
 [parseFields] - простановка даты, месяца, квартала, №ADB2, приказ, и т.п.
 [setScontos] - простановка значений для субконто вместо кодов, тем подразд, субстатей
 [setNHP] - корректировка подразделения для 20.01.1 и НХП
 
c2/copy2BHT - копирование данных из reg#q_yr#_v в таблицу для ВНТ 
 - вызывается из AutoCopyData.cfg[report] по флажку

======================= STANDARD PART =================
[report header]
$SET_PARAMETERS q_yr=16; ??
$SET_PARAMETERS src_table=[1c8_2].[Проводки20#q_yr#]; dest_table=C2_PROVODKI_#q_yr#
$INCLUDE [setCriteria]
$SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
<br>================ loadProvodki.cfg: 
$INCLUDE c2/copyData.cfg[report header] 
$INCLUDE c2/copyData.cfg[details] ??
<br>srcCriteria: where #srcCriteria#; ??srcCriteria
<br>destCriteria: where #destCriteria#; ??destCriteria
 <br>
[end]

[setCriteria]
$SET_PARAMETERS srcCriteria=not Сумма is null; destCriteria=; ??!mm&!MMM
$SET_PARAMETERS destCriteria=mm=#mm#; srcCriteria=not Сумма is null and YEAR(Период)=20#q_yr# and MONTH(Период)=#mm#; ??mm&!MMM
$SET_PARAMETERS destCriteria=mm in(#MMM#); srcCriteria=not Сумма is null and YEAR(Период)=20#q_yr# and MONTH(Период) in(#MMM#); ??MMM
[end]

[report footer]
#ImportDataError#<br> ??ImportDataError
$INCLUDE c2/copyData.cfg[errMsg]	??ERROR

<br>Ставим даты, пересчет валюты...	??!ERROR&!GET_DATA_ERROR
$WAIT 500
$GET_DATA [parseFields]		??!ERROR&!GET_DATA_ERROR

OK.<br> Ставим фамилии, страны, номера и т.п...	??!ERROR&!GET_DATA_ERROR&!f_quick
$GET_DATA [parseFields2]	??!ERROR&!GET_DATA_ERROR&!f_quick

OK.<br> Ставим основные субконто... 	??!ERROR&!GET_DATA_ERROR
$GET_DATA [setScontos] 	??!ERROR&!GET_DATA_ERROR

OK.<br> Ставим дополнительные субконто... 	??!ERROR&!GET_DATA_ERROR&!f_quick
$GET_DATA [setScontos2] 	??!ERROR&!GET_DATA_ERROR&!f_quick

OK.<br> Корректировка подразделения для 20.01.1 и НХП...  ??!ERROR&!GET_DATA_ERROR
$GET_DATA [setNHP] 	??!ERROR&!GET_DATA_ERROR

ОК<br>  ??!ERROR&!GET_DATA_ERROR
<br>#ERROR#
<br><b>ЗАКОНЧЕНО!</b><br>
$INCLUDE [protokol] ??
$GET_DATA [protokol]
<br>#ERROR#<p>#GET_DATA_ERROR#
$SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
<p>
[end]


!!!!!!! SUMMA_S - !!!!!

[1c8_2].[Проводки2013] - не исп.
Активность , КоличествоДт, КоличествоКт, СписаниеПартий, ВидРегламентнойОперации, НДСПродукции, МоментВремени 


[fields]
Период=DAT
Регистратор=REGISTRATOR
НомерСтроки=LINENR 
СчетДт=ACCD
СубконтоДт1=ACC1D_CODE
ВидСубконтоДт1=ACC1D_TYPE
СубконтоДт2=ACC2D_CODE
ВидСубконтоДт2=ACC2D_TYPE
СубконтоДт3=ACC3D_CODE
ВидСубконтоДт3=ACC3D_TYPE
СчетКт=ACCK
СубконтоКт1=ACC1K_CODE
ВидСубконтоКт1=ACC1K_TYPE
СубконтоКт2=ACC2K_CODE
ВидСубконтоКт2=ACC2K_TYPE
СубконтоКт3=ACC3K_CODE
ВидСубконтоКт3=ACC3K_TYPE
Организация=ORG
ВалютаДт=VAL_D
ВалютаКт=VAL_K
Сумма=SUMMA
ВалютнаяСуммаДт=SUMMA_VAL_D
ВалютнаяСуммаКт=SUMMA_VAL_K
Содержание=COMMENTS
[end]


[prepare data]
[end]

[deleteOld]
$USE_DB default
delete from #dest_table#
where #destCriteria# ??destCriteria
;
[end]

[srcSQL]
$USE_DB 1C
select 	#srcFields# from #src_table#
where #srcCriteria#  ??srcCriteria
and СчетДт='25.03' and СчетКт='10.02' ??
[end]

[start copy]
$INCLUDE c2/copyData.cfg[start copy]
[end]

==============================================================

[parseFields]
$LOG +++ parseFields: WAIT 0.5 +++<br>
$WAIT 500

------------ val, mm, quart -------------- ??
update c2_provodki_#q_yr# set val=to_number(to_char(dat,'yyyymm'))
, mm=extract(month from dat), quart=FLOOR((extract(month from dat)+2)/3)
where #destCriteria# ??destCriteria_ZZZ
where mm is null  ??destCriteria
;
commit;

------------ Пересчет в валюту -------------- ??
update c2_provodki_#q_yr# p
set s_us=summa/(select curr_rate from I_RATE_DESC where d_dat<=p.dat and curr_code=840 and rownum=1)
where #destCriteria# ??destCriteria
;
update c2_provodki_#q_yr# p
set s_eur=summa/(select curr_rate from I_RATE_DESC where d_dat<=p.dat and curr_code=978 and rownum=1)
where #destCriteria# ??destCriteria
;
commit;

------------ Проставить рубли в вал.сумму -------------- ??
update c2_provodki_14 set val_d='руб', SUMMA_VAL_d=summa where val_d is null
and #destCriteria# ??destCriteria
;
update c2_provodki_14 set val_k='руб', SUMMA_VAL_K=summa where val_k is null
and #destCriteria# ??destCriteria
;
commit;

------------ 86.02 - Гранты, конф -------------- ??
update c2_provodki_#q_yr# p set lab_d=(select lab_code from C2_GRANTS g where g.id=to_number(p.ACC1D_CODE))
where p.accd='86.02' 
and #destCriteria# ??destCriteria
;
update c2_provodki_#q_yr# p set lab_k=(select lab_code from C2_GRANTS g where g.id=to_number(p.ACC1K_CODE))
where p.acck='86.02' 
and #destCriteria# ??destCriteria
;
commit;
[end]



[parseFields2]
$LOG +++ parseFields2: WAIT 1.5 +++<br>
$WAIT 1500
------------ Документ (сокр.) -------------- ??
select ' when registrator like ''%'||name||'%'' then '''||name_short||''' ' as CASES
from C2_doc_types
;
update c2_provodki_#q_yr#
set doc_type=case #CASES# else regexp_substr(registrator,'^[[:alpha:][:space:]]+',1) end
, doc_num=to_number(trim(regexp_substr(registrator,'[[:space:]][[:digit:]]+[[:space:]]',7)))
, doc_date=to_date(regexp_substr(registrator,'[[:digit:]]{2}(\.)[[:digit:]]{2}(\.)[[:digit:]]{4}',20),'dd.mm.yyyy')
where #destCriteria# ??destCriteria
;
commit;

update c2_provodki_#q_yr#
set REGISTRATOR=regexp_replace(replace(replace(replace(REGISTRATOR,'Платежное поручение','ПП'),'исходящее','исх.'),'входящее','вх.'),'[[:space:]][0]{4,10}',' №') 
where REGISTRATOR like 'Платежное поручение%'
and #destCriteria# ??destCriteria
;
commit;

------------ PRIK_NR, PRIK_PUNKT -------------- ??
update c2_provodki_#q_yr# set 
prik_nr=to_number(REGEXP_SUBSTR(comments,'^[[:digit:]]{1,3}'))
, prik_punkt=trim(replace(REGEXP_SUBSTR(comments,'(/)[[:digit:]]{1,3}(\.)?[[:digit:]]{0,3}(\.)?[[:digit:]]{0,3}( )+'),'/',''))
where 
REGEXP_INSTR(comments,'^[[:digit:]]{1,3}[/][[:digit:]]{1,3}(\.)?[[:digit:]]{0,3}(\.)?[[:digit:]]{0,3}( )+')=1
and #destCriteria# ??destCriteria
;
commit;

------------ ADB_NR -------------- ??
update c2_provodki_#q_yr# 
set adb_nr=to_number(substr(REGEXP_SUBSTR(comments,'[№][[:digit:]]{6}( )+'),2,6))
where REGEXP_INSTR(comments,'(№)[[:digit:]]{6}( )+')>0
and #destCriteria# ??destCriteria
;
commit;

------------ Страны-сроки -------------- ??
---- для АО --- ??
update c2_provodki_#q_yr# p  set
p.COUNTRY=(select max(a.country||', '||a.sroki) from c2_AO_#q_yr# a where a.ref=p.REGISTRATOR)
where p.DOC_TYPE='АО'
and #destCriteria# ??destCriteria
;
commit;

---- из комментария --- ??
update c2_provodki_#q_yr#
set country=trim(substr(REGEXP_SUBSTR(comments,'(\*)( )?[[:alpha:], -]{2,200}[[:digit:]\. -]{0,30}'),2,106))
where REGEXP_INSTR(comments,'(\*)( )?[[:alpha:], -]{2,200}[[:digit:]\. -]{0,30}')>0
and #destCriteria# ??destCriteria
;
commit;

------------ Физлица -------------- ??
update c2_provodki_#q_yr# p 
set p.acc1k=(select fio from C2_PPU_FizLitsa i where i.id=p.acc1k_code ) 
, p.FIZLICO=(select fio from C2_PPU_FizLitsa i where i.id=p.acc1k_code ) 
where p.ACC1k_TYPE='Работники организации'
and #destCriteria# ??destCriteria
;

update c2_provodki_#q_yr# p 
set p.acc1d=(select fio from C2_PPU_FizLitsa i where i.id=p.acc1d_code ) 
where p.ACC1d_TYPE='Работники организации'
and #destCriteria# ??destCriteria
;

update c2_provodki_#q_yr# p 
set p.FIZLICO=p.acc1d
where p.ACC1d_TYPE='Работники организации'
and p.fizlico is null
and #destCriteria# ??destCriteria
;

------------ Физлица-из комментария с № (подстрока от №123456 до звездочки )-------------- ??
update c2_provodki_#q_yr#
set FIZLICO=substr(REGEXP_SUBSTR(comments,'[№][[:digit:]]{6}( )+[^*]+'),9,50)
where REGISTRATOR like 'Поступление товаров и услуг%'
and REGEXP_INSTR(comments,'(№1)[[:digit:]]{5}( )+')>0
and #destCriteria# ??destCriteria
;

------------ Физлица-из комментария без № (буквы и пробелы с начала строки до 'И.[О.] ')-------------- ??
update c2_provodki_#q_yr#
set FIZLICO=REGEXP_SUBSTR(comments,'^([[:alpha:]])+[ ]+(([[:alpha:]][\.])){1,2}')
where REGISTRATOR like 'Поступление товаров и услуг%'
and fizlico is null
and REGEXP_INSTR(comments,'^([[:alpha:]])+[ ]+(([[:alpha:]][\.])){1,2}')>0
and #destCriteria# ??destCriteria
;
commit;
[end]


more=and i.pid=#SBJ_ROOT#; - взять только темы

[setScontos]
$LOG +++ setScontos: WAIT 1.0 +++<br>
$WAIT 1000

update c2_provodki_#q_yr# set 
acc1d_code=trim(acc1d_code), acc2d_code=trim(acc2d_code), acc3d_code=trim(acc3d_code),
acc1k_code=trim(acc1k_code), acc2k_code=trim(acc2k_code), acc3k_code=trim(acc3k_code)
where #destCriteria# ??destCriteria
;
commit;

$INCLUDE [setSconto] param: skn=1; dk=d; typ=Подразделения; f1=lab; tbl=c2_div; field=lab_code; 
$INCLUDE [setSconto] param: skn=1; dk=k; typ=Подразделения; f1=lab; tbl=c2_div;	field=lab_code; 

$INCLUDE [getSbjRootId] 
$INCLUDE [setSconto] param: skn=2; dk=d; typ=Номенклатурные группы; f1=sbj; tbl=c2_sbj; field=code; more=and i.pid=#SBJ_ROOT#; ??
$INCLUDE [setSconto] param: skn=2; dk=k; typ=Номенклатурные группы; f1=sbj; tbl=c2_sbj; field=code; more=and i.pid=#SBJ_ROOT#; ??

$INCLUDE [setSconto] param: skn=2; dk=d; typ=Номенклатурные группы; f1=sbj; tbl=c2_sbj; field=code1;
$INCLUDE [setSconto] param: skn=2; dk=k; typ=Номенклатурные группы; f1=sbj; tbl=c2_sbj; field=code1;
$INCLUDE [setSbjTyp]

$INCLUDE [setSconto] param: skn=2; dk=d; typ=Статьи затрат; f1=sst; tbl=c2_stati; field=code;
$INCLUDE [setSconto] param: skn=2; dk=k; typ=Статьи затрат; f1=sst; tbl=c2_stati; field=code;
$INCLUDE [setSconto] param: skn=3; dk=d; typ=Статьи затрат; f1=sst; tbl=c2_stati; field=code;
$INCLUDE [setSconto] param: skn=3; dk=k; typ=Статьи затрат; f1=sst; tbl=c2_stati; field=code;
[end]


[setScontos2]
$LOG +++ setScontos2: WAIT 2.0 +++<br>
$WAIT 2000

$INCLUDE [setScontoValue] param: skn=1; dk=d; typ=Банковские счета; f1=; tbl=c2_banks; field=name; 
$INCLUDE [setScontoValue] param: skn=1; dk=k; typ=Банковские счета; f1=; tbl=c2_banks; field=name; 

$INCLUDE [setScontoValue] param: skn=1; dk=d; typ=Контрагенты; f1=; tbl=C2_kontrag; field=name; 
$INCLUDE [setScontoValue] param: skn=1; dk=k; typ=Контрагенты; f1=; tbl=C2_kontrag; field=name; 
$INCLUDE [setScontoValue] param: skn=2; dk=d; typ=Контрагенты; f1=; tbl=C2_kontrag; field=name; 
$INCLUDE [setScontoValue] param: skn=2; dk=k; typ=Контрагенты; f1=; tbl=C2_kontrag; field=name; 

$INCLUDE [setScontoValue] param: skn=1; dk=d; typ=Статьи движения денежных средств; f1=; tbl=c2_st_dv_den_sredstv; field=des; 
$INCLUDE [setScontoValue] param: skn=1; dk=k; typ=Статьи движения денежных средств; f1=; tbl=c2_st_dv_den_sredstv; field=des; 
$INCLUDE [setScontoValue] param: skn=2; dk=d; typ=Статьи движения денежных средств; f1=; tbl=c2_st_dv_den_sredstv; field=des; 
$INCLUDE [setScontoValue] param: skn=2; dk=k; typ=Статьи движения денежных средств; f1=; tbl=c2_st_dv_den_sredstv; field=des; 
[end]


[setSconto] param: skn=1; dk=d; typ=Подразделения; f1=lab; tbl=div; field=lab_code;  more; 
update c2_provodki_#q_yr# p set 
acc#skn##dk#=(select #field# from #tbl# i where i.id=p.acc#skn##dk#_code #more#)
 , #f1#_#dk#=(select #field# from #tbl# i where i.id=p.acc#skn##dk#_code #more#) ??f1
where ACC#skn##dk#_TYPE='#typ#'
and #destCriteria# ??destCriteria
;
commit;
[end]


ТАКОЕ ЖЕ, как [setSconto] - ЗАМЕНИТЬ ???
[setScontoValue] param: skn=1; dk=d; typ=Банковские счета; f1=; tbl=div; field=name;  more; 
update c2_provodki_#q_yr# p set 
ACC#skn##dk#=(select #field# from #tbl# i where i.id=p.acc#skn##dk#_code #more#)
 , #f1#_#dk#=(select #field# from #tbl# i where i.id=p.acc#skn##dk#_code #more#) ??f1_ZZZ
where ACC#skn##dk#_TYPE='#typ#'
and #destCriteria# ??destCriteria
;
commit;
[end]


[setSbjTyp]
update c2_provodki_#q_yr# set sbj_d_typ='т.'
where ACC2d_TYPE='Номенклатурные группы' and acc2d_code in (select id from c2_sbj where pid=#SBJ_ROOT#)
and #destCriteria# ??destCriteria
;
update c2_provodki_#q_yr# set sbj_d_typ='дог.'
where ACC2d_TYPE='Номенклатурные группы' and acc2d_code in (select id from c2_sbj where pid=#DOG_ROOT#)
and #destCriteria# ??destCriteria
;
update c2_provodki_#q_yr# set sbj_k_typ='т.'
where ACC2k_TYPE='Номенклатурные группы' and acc2k_code in (select id from c2_sbj where pid=#SBJ_ROOT#)
and #destCriteria# ??destCriteria
;
update c2_provodki_#q_yr# set sbj_k_typ='дог.'
where ACC2k_TYPE='Номенклатурные группы' and acc2k_code in (select id from c2_sbj where pid=#DOG_ROOT#)
and #destCriteria# ??destCriteria
;
commit;
[end]


[getSbjRootId]
select id as SBJ_ROOT from c2_sbj where des like '%Темы%'
;
select id as DOG_ROOT from c2_sbj where des like '%Договоры%'
;
[end]

[setNHP]
update c2_provodki_#q_yr# set lab_d='500' where accd='20.01.1' and lab_d in('540','801') and acc2d_code in
(select id from c2_sbj where des like '%Тема(500)%')
and #destCriteria# ??destCriteria
;
('000000292', '000000272', '000000293');  ??
commit;
update c2_provodki_#q_yr# set lab_d='200' where accd='20.01.1' and lab_d='827' and acc2d_code in
(select id from c2_sbj where des like '%Тема(200)%')
and #destCriteria# ??destCriteria
;
commit;
('000000302'); ??
[end]

update c2_provodki_#q_yr# set lab_d='500' where accd='20.01.1' and lab_d='801' and acc2d_code in('000000292', '000000272');

==============================================================
[protokol]
$USE_DB
;
select to_char(max(DAT), 'DD.MM.YYYY') as LAST
, to_char(count(*)) as COUNTER 
, to_char(SUM(SUMMA)) as S_RUB 
from #dest_table#
;
insert into c2_protokol (dat, tab, err, last, COUNTER, S_RUB)
values(SYSDATE,'#dest_table#', substr('#ERROR#',1,1023), to_date('#LAST#','DD.MM.YYYY'), #COUNTER#, #S_RUB#)
;
[end]


