[parameters]
service=jinr.adb.ServiceCopyRecordset
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=500
SHOW_DET=
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]



FIO


[fields]
‘‡ÏËÎËˇ=F
»Ïˇ=I
ŒÚ˜ÂÒÚ‚Ó=O
“¿¡ÕŒÃ=TAB_N
C3=POST
œŒƒ–¿«ƒ≈À≈Õ»≈=LAB_CODE
Œ“ƒ≈À=DIV_CODE
C7=LAB
C8=DIV
Õ¿◊¿ÀŒ=DATA_START
 ŒÕ≈÷=DATA_END
œ–»«Õ¿ _”¬=UVOL
[end]




======================= STANDARD PART =================
[setCriteria]
$SET_PARAMETERS destCriteria=;
$SET_PARAMETERS srcCriteria=;
$SET_PARAMETERS src_table=[dbo].[PPU_WORKS_FIO]; dest_table=i_persons; 
[end]

[report header]
$INCLUDE c2/loadPersonal.cfg[setCriteria] 
$SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
loadPersonal.cfg:
$INCLUDE c2/copyData.cfg[report header]
[end]


[report footer]
$INCLUDE c2/copyData.cfg[report footer]
$GET_DATA [set FIO] 	??!ERROR
ERROR: #ERROR#	??ERROR
<p>
GET_DATA_ERROR: #GET_DATA_ERROR# ??GET_DATA_ERROR
$GET_DATA [protokol]
$SET_PARAMETERS OK=#ERROR# #GET_DATA_ERROR#;  ??GET_DATA_ERROR|ERROR
$SET_PARAMETERS ERROR=; GET_DATA_ERROR=;
[end]

[set FIO]
update #dest_table# set FIO=F||' '||I||' '||O
, tab_n=trim(to_char(to_number(tab_n),'000000'))
;
[end]

insert into i_persons p 
(select * from i_persons_new op where op.tab_n not in(select tab_n from i_persons))
;

[prepare data]
[end]

[srcSQL]
$USE_DB ASU
select 	#srcFields# from #src_table#
[end]

[start copy]
$INCLUDE c2/copyData.cfg[start copy]
[end]

==============================================================

[protokol]
$USE_DB
;
try: select to_char(count(*)) as COUNTER from #dest_table#
;
try: insert into c2_protokol (dat, tab, COUNTER, err)
values(SYSDATE,'#dest_table#', #COUNTER#, substr('#ERROR#',1,1023));
[end]
