[parameters]
service=jinr.adb.ServiceCopyRecordset
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=1000
SHOW_DET=
[end]


PROCESSING:
1. out [report header]
2. out [prepare data]
3. parse [fields] => srcFields, destFields, qList
4. doCopy: srcSQL => InsertSQL
5. out [report footer]


[fields]
јвансовыйќтчет—сылка=ref
јвансовыйќтчетЌомер=num
јвансовыйќтчетƒата=dat
‘изическоеЋицо=fizlico
—роки=sroki
—траны=country
[end]


======================= STANDARD PART =================
[setCriteria]
$SET_PARAMETERS destCriteria=; 
$SET_PARAMETERS srcCriteria=јвансовыйќтчетЌомер not like '%/%' ;
[end]

[report header]
$INCLUDE [setCriteria]
$SET_PARAMETERS src_table=[1c8_2].[јвансовыеќтчеты20#q_yr#]; dest_table=C2_AO_#q_yr#; 
loadAO.cfg:
$INCLUDE c2/copyData.cfg[report header]
[end]


[report footer]
$INCLUDE c2/copyData.cfg[report footer]
ERROR: #ERROR#	??ERROR
$GET_DATA [protokol]
<p>
[end]


[prepare data]
[end]

[srcSQL]
$USE_DB 1C
select 	#srcFields# from #src_table# 
where #srcCriteria# ??srcCriteria
[end]

[start copy]
$INCLUDE c2/copyData.cfg[start copy]
[end]


==============================================================
[protokol]
$USE_DB
;
select to_char(max(DAT), 'DD.MM.YYYY') as LAST, to_char(count(*)) as COUNTER from #dest_table#
;
insert into c2_protokol (dat, tab, err, last, COUNTER)
values(SYSDATE,'#dest_table#', substr('#ERROR#',1,1023), to_date('#LAST#','DD.MM.YYYY'), #COUNTER#);
[end]
