[parameters]
service=dubna.walt.service.TableServiceSpecial 
service=jinr.adb.ServiceMarkDocs ??
KeepLog=true
table_beg=none
wrapperTable=none
table_end=none
$INCLUDE menu.cfg[tables]
[end]


======================= STANDARD =================
[report header]
$SET_PARAMETERS currentRow=0;
<br>Помечаем оплаченные документы в ADB2... ??!mode=auto
mark ADB2 documents ... ??mode=auto
$GET_DATA [fixPlatAdb2Docs] ??!ERROR&!GET_DATA_ERROR&!ImportDataError
$GET_DATA [resetDocs] 
+
[end]


[fixPlatAdb2Docs]
update C2_PLATLIST_#q_yr# p
set ADB2_NUM=
(select nvl(ADB2_NUM,OLD_ADB2_NUM)  from C2_PLAT_CORR_#q_yr# c
where c.PLAT_NR=p.PLAT_NR and c.PP_LINE_NR=p.PP_LINE_NR 
)
where exists
(select cc.PLAT_NR from C2_PLAT_CORR_#q_yr# cc
where cc.PLAT_NR=p.PLAT_NR and cc.PP_LINE_NR=p.PP_LINE_NR
)
[end]


[item]
$SET_PARAMETERS next_doc=#ADB2_NUM#; IS_TOTAL=; DOC_LIST=;
$INCLUDE [updateDoc]
$INCLUDE [setChildren] ??IS_TOTAL=Y
#currentRow# ??BATCH=0&!mode=auto
$GET_DATA [commit] ??BATCH=0
[end]

[updateDoc]
+++ обработка документа - ставим новую платежку и сумму 1С  ??
$SET_PARAMETERS PNR=1; PLAT_1=; PLAT_SUMM_RUB=; S_US=; S_EUR=; 
$GET_DATA c2/markDocs.cfg[getDocPlat]
$SET_PARAMETERS PNR=2; ??PLAT_1
$GET_DATA c2/markDocs.cfg[get1Csum]   
$GET_DATA c2/markDocs.cfg[setDocPlat]
[end]

[getDocPlat]
+++ получаем прежний номер 1-й платежки (если другой) и сводный ли из документов ??
select PLAT_1 from docs where doc_id=#next_doc# and PLAT_1<>#PLAT_NR#;
select IS_TOTAL, mod(0#currentRow#,100) as "BATCH" from docs where doc_id=#next_doc#
[end]

[get1Csum]
+++ берем сумму по оплаченным платежкам по конкретному документу ??
select sum(PLAT_SUMM_RUB) as PLAT_SUMM_RUB, sum(S_US) as S_US, sum(S_EUR) as S_EUR
 , max(PAYED) as "PAYED" ??
from C2_PLATLIST_#q_yr#
where ADB2_NUM=#ADB2_NUM# and PLAT_NR>0 
 and PAYED=1 
[end]

[setDocPlat]
+++ Проставляем документу суммы 1С и платежку ??
update docs set PLAT_#PNR#='#PLAT_NR#', DAT_PLAT_#PNR#=to_date('#PLAT_DATE#','DD.MM.YYYY')
, DAT_OPL#PNR#=to_date('#PLAT_DATE#','DD.MM.YYYY'), PAYED=to_date('#PLAT_DATE#','DD.MM.YYYY')  ??PAYED=1
, DAT_OPL#PNR#=null  ??!PAYED=1
, S_1C_RUB=#PLAT_SUMM_RUB#, S_1C_USD=#S_US#, S_1C_EUR=#S_EUR#  ??PAYED=1
, S_1C_RUB=0, S_1C_USD=0, S_1C_EUR=0  ??!PAYED=1&PNR=1
where doc_id=#next_doc#
[end]



[setChildren]
$SET_PARAMETERS PLAT_1=; PLAT_2=; DAT_PLAT_2=;
$GET_DATA [getChildren]
ADB2_NUM=#ADB2_NUM#; DOC_LIST=#DOC_LIST#<br> ??
$EXECUTE_LOOP next_doc; #DOC_LIST#; [setChild];
[end]

[getChildren]
=== выбираем потомков, их сумму, номера платежек и суммы по ним по родителю === ??
select ','||doc_id as "DOC_LIST" from docs where pid=#ADB2_NUM#;
select to_char(sum(SUMMA_RUB),'999999999.00') as "TOTAL_CHILDS" from docs where pid=#ADB2_NUM#; ??
select to_char(sum(SUMMA_CURR),'999999999.00') as "TOTAL_CHILDS" from docs where pid=#ADB2_NUM#;
select 
	 PLAT_1, to_char(DAT_PLAT_1,'DD.MM.YYYY') as "PLAT1_DATE", to_char(DAT_OPL1,'DD.MM.YYYY') as "DAT_OPL1"
 , PLAT_2, to_char(DAT_PLAT_2,'DD.MM.YYYY') as "PLAT2_DATE", to_char(DAT_OPL2,'DD.MM.YYYY') as "DAT_OPL2"
 , to_char(S_1C_RUB+0.0001,'999999999.0000') as "S_1C_RUB" , S_1C_USD, S_1C_EUR 
from docs where doc_id=#ADB2_NUM#
[end]


[setChild]
$SET_PARAMETERS OTHER_PLAT_NR=;
$GET_DATA [setChildPlat]
$GET_DATA [getOtherPlat]
$GET_DATA [setOtherPlat] ??OTHER_PLAT_NR
[end]


select to_char(SUMMA_RUB*(#S_1C_RUB#/#TOTAL_CHILDS#),'999999999.0000') as "S_1C_RUB_", (#S_1C_RUB#/#TOTAL_CHILDS#) as "RATE"
from docs
where doc_id=#next_doc#
;

[setChildPlat]
update docs set 
	PLAT_1=#PLAT_1#, DAT_PLAT_1=to_date('#PLAT1_DATE#','DD.MM.YYYY')
	, DAT_OPL1=to_date('#DAT_OPL1#','DD.MM.YYYY') ??DAT_OPL1
	, DAT_OPL1=null ??!DAT_OPL1
,	PLAT_2=#PLAT_2#, DAT_PLAT_2=to_date('#PLAT2_DATE#','DD.MM.YYYY')  ??PLAT_2&PLAT2_DATE
,	PLAT_2=null, DAT_PLAT_2=null, DAT_OPL2=null  ??!PLAT_2|!PLAT2_DATE
, DAT_OPL2=to_date('#DAT_OPL2#','DD.MM.YYYY') ??PLAT_2&DAT_OPL2
, PAYED=to_date('#DAT_OPL1#','DD.MM.YYYY')  ??DAT_OPL1
, PAYED=to_date('#DAT_OPL2#','DD.MM.YYYY')  ??DAT_OPL2&!DAT_OPL1
, PAYED=null  ??!DAT_OPL2&!DAT_OPL1
, S_1C_RUB=#S_1C_RUB#*(SUMMA_CURR/(#TOTAL_CHILDS#+0.001))
, S_1C_USD=#S_1C_USD#*(SUMMA_CURR/(#TOTAL_CHILDS#+0.001))
, S_1C_EUR=#S_1C_EUR#*(SUMMA_CURR/(#TOTAL_CHILDS#+0.001))
where doc_id=#next_doc#
;
[end]
select S_1C_RUB as "CHECK" from docs where doc_id=#next_doc#
;
commit;

[getOtherPlat]
select max(PLAT_NR) as OTHER_PLAT_NR,  to_char(max(PLAT_DATE),'DD.MM.YYYY') as "OTHER_PLAT_DATE"
 , sum(PLAT_SUMM_RUB) as OTHER_PLAT_SUMM_RUB, sum(S_US) as OTHER_S_US, sum(S_EUR) as OTHER_S_EUR
from C2_PLATLIST_#q_yr#
where ADB2_NUM=#next_doc# and PLAT_NR>0 and PAYED=1 
and PLAT_NR not in(0#PLAT_1#, 0#PLAT_2#)
[end]

[setOtherPlat]
update docs set 
	PLAT_2=#OTHER_PLAT_NR#, DAT_PLAT_2=to_date('#OTHER_PLAT_DATE#','DD.MM.YYYY') 
, DAT_OPL2=to_date('#OTHER_PLAT_DATE#','DD.MM.YYYY'), PAYED=to_date('#OTHER_PLAT_DATE#','DD.MM.YYYY')
, S_1C_RUB=S_1C_RUB+#OTHER_PLAT_SUMM_RUB#, S_1C_USD=S_1C_USD+#OTHER_S_US#, S_1C_EUR=S_1C_EUR+#OTHER_S_EUR#
where doc_id=#next_doc#
;
update docs set 
 S_1C_RUB=S_1C_RUB+#OTHER_PLAT_SUMM_RUB#, S_1C_USD=S_1C_USD+#OTHER_S_US#, S_1C_EUR=S_1C_EUR+#OTHER_S_EUR#
where doc_id=#ADB2_NUM#;
[end]


[report footer] 
$GET_DATA [setCorrectSums] ??
$GET_DATA [fixCurrency]
ОК  ??!ERROR&!GET_DATA_ERROR
$CALL_SERVICE c=c2/markChildren.cfg  ??ZZZ&!ERROR&!GET_DATA_ERROR
<br>#ERROR#<br> #GET_DATA_ERROR#   ??ERROR|GET_DATA_ERROR
[end]

=======================================================================
[resetDocs]
+++ Сброс платежек и признака оплаты для всех документов, у кого есть платежки ??
+++ МНТС - не трогаем, т.к. у них нет платежки ??
update docs set PAYED=null
, PLAT_1=null, DAT_PLAT_1=null, DAT_OPL1=null
, PLAT_2=null, DAT_PLAT_2=null, DAT_OPL2=null
, S_1C_RUB=0, S_1C_USD=0, S_1C_EUR=0
where PAYED between to_date('01.01.20#q_yr#','dd.mm.yyyy') and to_date('31.12.20#q_yr#','dd.mm.yyyy')
and not doc_type=5 ?? 
and (not PLAT_1 is null or not PLAT_2 is null)
[end]



[SQL]
=== выгребаем все документы и номера их платежек из таблицы платежек === ??
select ADB2_NUM
, PLAT_NR,  to_char(PLAT_DATE,'DD.MM.YYYY') as "PLAT_DATE", PAYED
, to_char(SCHET_1C_DATE,'DD.MM.YYYY') as "SCHET_1C_DATE"
, ROWNUM
 , mod(ROWNUM,100) as "BATCH" ??
from C2_PLATLIST_#q_yr#
where 
ADB2_NUM>130000
and PLAT_NR>0 
and not PLAT_SUMM_RUB is null
and PLAT_DATE>SYSDATE-10 ??
and PAYED=1

and ADB2_NUM in(130279,132938) ??
and ADB2_NUM in(132938) ??
and ADB2_NUM in(123072) ??
and ADB2_NUM in(116991) ??
and ADB2_NUM in(117554) ??
and ADB2_NUM in(132303, 116991) ??
and ADB2_NUM between 116000 and 120000  ??
order by PLAT_NR
[end]

------------------------------------------------------


[commit]
commit;
[end]



========= В конце всего импорта для всех доков =========
ZZZZZZZZZZZZZZ с 13.11.2012 - используется только для ЛФВЭ, 1065, кроме приказов ZZZZZZZZZZ
ZZZZZZZZZZZZZZ с 16.07.2013 - используется для всех, кроме приказов ZZZZZZZZZZ

[fixCurrency]
=== Уточнение курсов === ??
--- для валютных доков с хорошо совпадающими с 1С суммой - копируем суммы из 1С ?? 
update docs set SUMMA_RUB=S_1C_RUB, SUMMA_USD=S_1C_USD, SUMMA_EUR=S_1C_EUR
where  
extract(year from PAYED)=20#q_yr#
and (BC is null 
	or BC IN(select code from bc)
	or BC IN(select code from bc where PRIKAZ_ID is null)
)
and (
     (abs(SUMMA_RUB-S_1C_RUB)/SUMMA_RUB<0.04 and CURR_CODE=810 and SUMMA_RUB>0)
	or (abs(SUMMA_USD-S_1C_USD)/SUMMA_USD<0.04 and CURR_CODE=840 and SUMMA_USD>0)
  or (abs(SUMMA_EUR-S_1C_EUR)/SUMMA_EUR<0.04 and CURR_CODE=978 and SUMMA_EUR>0)
	or (abs(SUMMA_USD-S_1C_USD)/SUMMA_USD<0.04 and CURR_CODE=756 and SUMMA_USD>0)
 )
[end]

[setCorrectSums]

1) ставим суммы 1С = суммы документа потомкам тех сводных, ??
	 у которых сумма потомков в рублях сходится с 1С ??	 
update docs set S_1C_RUB=SUMMA_RUB, S_1C_USD=SUMMA_USD, S_1C_EUR=SUMMA_EUR
where pid in
( select doc_id from docs
where IS_TOTAL='Y'
and abs(SUM_CHILDREN-S_1C_RUB)/SUM_CHILDREN<0.02
and SUM_CHILDREN>0
)
and BC IN(select code from bc where lab_code=100)
;

[end]


2) для рублевых с хорошо совпадающими с 1С рублями - копируем суммы из 1С ?? 
update docs set SUMMA_RUB=S_1C_RUB, SUMMA_EUR=S_1C_EUR, SUMMA_USD=S_1C_USD
where  abs(SUMMA_RUB-S_1C_RUB)/SUMMA_RUB<0.01
and CURR_CODE=810
and SUMMA_RUB>0
;
3) для долларов с хорошо совпадающими с 1С долларами - копируем суммы из 1С ?? 
update docs set SUMMA_USD=S_1C_USD, SUMMA_RUB=S_1C_RUB, SUMMA_EUR=S_1C_EUR
where  abs(SUMMA_USD-S_1C_USD)/SUMMA_USD<0.01
and CURR_CODE=840
and SUMMA_USD>0
;
4) для евро с хорошо совпадающими с 1С еврами - копируем суммы из 1С ?? 
update docs set SUMMA_EUR=S_1C_EUR, SUMMA_RUB=S_1C_RUB, SUMMA_USD=S_1C_USD
where  abs(SUMMA_EUR-S_1C_EUR)/SUMMA_EUR<0.01
and CURR_CODE=978
and SUMMA_EUR>0
[end]

