[parameters]
service=dubna.walt.service.TableServiceSimple ??M_1C_PROV>0&piv=Y
service=dubna.walt.service.CrossTabService  ??M_1C_PROV>0&!form=y&!piv=Y
service=dubna.walt.service.CrossTabSubtotService ??
title=1С-Сводная таблица проводок

debug=on ??

makeTotalsForCols=S,N
makeSubtotals=y ??
totRowLabel=Всего
keepLog=false

tableCfg=table.cfg 
thsnDelimiter=&nbsp;
numDigits=2
NumSpecialCols=0

table_beg=<table border="1" cellspacing="1" cellpadding="2"> ??
wrapperTable=none
wrapperTableEnd=none
labs=032,090,100,200,300,400,500,600,700
labs=002,032,090,100,200,300,400,500,600,700,832 ??
labs='002','032','090','100','200','300','400','500','600','700','832' ??
ust=111,431,432,513,514,650,655
$INCLUDE common.dat[colors]
[end]

[numDigitsForCols]
S=2
N=0
[end]

[report]
$SET_PARAMETERS f_acc=20; f1=acc; f2=lab; f3=sbj; piv=Y;
$INCLUDE [logged report header] ??M_1C_PROV>0
</td></tr></table>
</td></tr></table>
</form></center>
</body></HTML>
[end]


[report header]
$INCLUDE [logged report header]   ??M_1C_PROV>0&logged|det=y
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#";</script> ??!logged&!det=y
[end]


[logged report header]
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>
<style> fieldset {border:solid 1px ##a0a0a0;} 
td {vertical-align:top;}
.r {text-align:right;}
.m30 {padding-left:40px;}
.tb {border-top:solid 1px ##808080;}
.rb {border-right:solid 1px ##808080;}
</style>
<style> fieldset {border:solid 1px ##a0a0a0;} .control {cursor:pointer;}</style> 
$SET_PARAMETERS s_acck=on ??form=y
$SET_PARAMETERS srn=1; rpp=100 ??!srn|!rpp
$SET_PARAMETERS srt=1 ??!srt
$SET_PARAMETERS f2=; ??f2=#f1#
$SET_PARAMETERS f3=; ??f3=#f1#|f3=#f2#
$SET_PARAMETERS f4=; ??f4=#f1#|f4=#f2#|f4=#f3#
$SET_PARAMETERS f5=; ??f5=#f1#|f5=#f2#|f5=#f3#|f5=#f4#
$SET_PARAMETERS bud=Y ??f1=bud|f2=bud|f3=bud|f4=bud|f5=bud

<center>

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="0">
<input type=hidden name="rpp" value="9999">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="noTable" value="">

<table border=0 cellpadding=0 cellspacing=0 style="margin:20px; width:98%"><tr><td width=90%>
<h3>1C - Проводки - сводная таблица (сч.08,20,25,26), 20#q_yr# год</td><td align=right nowrap=true></td><td align=right nowrap=true>
<a class=info href="/adb/adb">Главная</a></td></tr></table>

<table border=0  bgcolor=##E8F0F8 style="border:solid 1px black;">

<tr><td nowrap=true colspan=2 valign=top>
<FIELDSET><LEGEND><b><i>Отобрать:</i></b></LEGEND>
<table border=0>

<tr><td>Счета: <input class=xpc size=15 name="f_acc" value='#f_acc#'> &nbsp;
<input type=radio name=f_typ value=''
checked ??!f_typ
>все <input type=radio name=f_typ value='d'
checked ??f_typ=d
>дебет <input type=radio name=f_typ value='k'
checked ??f_typ=k
>кредит 
f_typ=#f_typ#; ??
<br><small>#A_d#</small><br> ??A_d
<table border=0>

<tr><td class=r width=115>Подразделения:</td><td width=300><input class=xpc size=15 name="f_lab" value='#f_lab#'>
 <SELECT NAME="opt2"><OPTION VALUE=""> Все <OPTION VALUE="labs" 
SELECTED	??opt2=labs
> Лаборатории<OPTION VALUE="pr"
SELECTED	??opt2=pr
> Кроме лабораторий<OPTION VALUE="ust"
SELECTED	??opt2=ust
> - Установки
<OPTION VALUE="kb"
SELECTED	??opt2=kb
> - КБ-ОЭП
<OPTION VALUE="other"
SELECTED	??opt2=other
> - прочие
</SELECT>
</td></tr>
<tr><td colspan=2 class=r><small>
кроме ??opt2=pr
#labs# ??opt2=labs|opt2=pr
#ust# ??opt2=ust
#KB-OEP# ??opt2=kb
#LAB_OTHER# ??opt2=other
</small></td></tr>
<tr><td class=r>Темы:</td><td><input class=xpc size=15 name="f_sbj" value='#f_sbj#'>
 (договоры) ??
<SELECT NAME="sk2type" onChange="showCheck(this);"><OPTION VALUE=""> Все 
<OPTION VALUE="#SBJ_ROOT#"> Темы
<OPTION VALUE="#DOG_ROOT#"> Договоры ??
</SELECT>
</td></tr>
<tr><td colspan=2 class=r><div id="d_check" 
style="border-bottom:solid 1px gray;
display:none; ??!sk2type=#SBJ_ROOT#
"><input type=radio name=chekSbj value=""
checked ??!chekSbj
>все <input type=radio name=chekSbj value="ok"
checked ??chekSbj=ok
>соотв. лаборатории <input type=radio name=chekSbj value="bad"
checked ??chekSbj=bad
>НЕ соотв.
<div style="text-align:left; padding:0 0 5px 35px;">
Направления: <input class=xpc size=15 name="f_dir" value='#f_dir#'> (только для тем)
</div>
</div></td></tr>

<tr><td class=r>Статьи бюджета:</td><td><input class=xpc size=15 name="f_aggr" value='#f_aggr#'>
<SELECT NAME="ssttype"><OPTION VALUE=""> Все <OPTION VALUE="bud"> Все бюджетные<OPTION VALUE="not"> Не бюджетные</SELECT>
</td></tr>
<tr><td colspan=2 class=r><small>#S_d#<small></td></tr> ??S_d

<tr><td class=r>Субстатьи:</td><td><input class=xpc size=15 name="f_sst" value='#f_sst#'>
<input type=checkbox name=f_sst_not value="not"
checked ??f_sst_not
>искл.
<input type=checkbox name=close
checked ??close
>закрытие</td></tr>


<tr><td align=right>Документ:</td><td colspan=3><input class=xp size=35 name="f_registr" value='#f_registr#'></td></tr>
<tr><td align=right>Комментарий:</td><td colspan=3><input class=xp size=35 name="f_comments" value='#f_comments#'></td></tr>
</table>
</td></tr>

<tr><td colspan=2>
$INCLUDE filters.dat[tp]
</td></tr>

</table>
</FIELDSET></td>

<td valign=top>
<FIELDSET><LEGEND><b><i>Показать:</i></b></LEGEND>
<table border=1 bgcolor=##E8F0F8> ??

1: <SELECT NAME="f1" >
$INCLUDE [fields]
</SELECT>

<br>2: <SELECT NAME="f2" ><OPTION VALUE="">-
$INCLUDE [fields]
</SELECT><IMG SRC="#imgPath#arrow-double-2.gif" class=control HEIGHT=28 WIDTH=12 onClick="swap(1);">

<br>3: <SELECT NAME="f3" ><OPTION VALUE="">-
$INCLUDE [fields]
</SELECT>
<IMG SRC="#imgPath#arrow-double-2.gif" class=control HEIGHT=28 WIDTH=12 onClick="swap(2);">

<br>4: <SELECT NAME="f4" ><OPTION VALUE="">-
$INCLUDE [fields]
</SELECT>
<IMG SRC="#imgPath#arrow-double-2.gif" class=control HEIGHT=28 WIDTH=12 onClick="swap(3);">

<br>5: <SELECT NAME="f5" ><OPTION VALUE="">-
$INCLUDE [fields]
</SELECT>
<IMG SRC="#imgPath#arrow-double-2.gif" class=control HEIGHT=28 WIDTH=12 onClick="swap(4);">

<br><br>
<B>Вид таблицы:</B><INPUT TYPE="radio" NAME="piv" VALUE="Y"
CHECKED ??piv=Y
><IMG ALIGN="CENTER" VALIGN="TOP" SRC="#imgPath#YYY.gif" class=control BORDER=0 ALT="Таблица с тремя полями вниз" HEIGHT=32 WIDTH=32 onClick="document.theForm.piv[0].checked=true;">

<INPUT TYPE="radio" NAME="piv" VALUE="X" 
CHECKED ??!piv=Y
><IMG ALIGN="CENTER" VALIGN="TOP" SRC="#imgPath#YYX.gif" class=control BORDER=0 ALT="Два поля вниз и одно - вправо" HEIGHT=32 WIDTH=32 onClick="document.theForm.piv[1].checked=true;">

</fieldset>

<center><br><input type="submit" value="Выполнить"><br>&nbsp;</center>
</tr></table>

$INCLUDE [script]  

<table bgcolor=808080 border=0 cellspacing=0 cellpadding=0 style="margin:10px;" ><tr><td> 
[end]

[fields]
<OPTION VALUE="acc"> Счет
<OPTION VALUE="lab"> Подразделение (уст.)
<OPTION VALUE="sbj"> Тема 
 (дог.,грант) ??
<OPTION VALUE="dir"> Направление (для тем)
<OPTION VALUE=""> 
<OPTION VALUE="bud"> Бюдж. статья
<OPTION VALUE="sst"> Субстатья
<OPTION VALUE="sstd"> Субстатья с расшифровкой
<OPTION VALUE="ACC1"> Субконто 1
<OPTION VALUE="ACC2"> Субконто 2
<OPTION VALUE="ACC3"> Субконто 3
<OPTION VALUE=""> 
<OPTION VALUE="typ"> Тип (д/к)
<OPTION VALUE="sod"> Документ
<OPTION VALUE="comm"> Комментарий

<OPTION VALUE="qua"> Квартал 
<OPTION VALUE="mm"> Месяц
<OPTION VALUE="dat"> Дата
[end]

[checkSubkonto] --- не используется
<tr><td class=r>Субконто:</td><td>
<input type=radio name=f_checkSK value=''
checked ??!f_checkSK
>любые <input type=radio name=f_checkSK value='a'
checked ??f_checkSK=a
>все есть<input type=radio name=f_checkSK value='n'
checked ??f_checkSK=n
>не все есть
[end]

[report footer]
</TD></TR></TABLE>  
</form></center>
</body></HTML>
[end]

[script]
<script> 
var frm=document.theForm;
window.focus();
selectOptionByVal(frm.f_creator,'#f_creator#')  ??f_creator
selectOptionByVal(frm.f_summa_op,'#f_summa_op#')  ??f_summa_op
selectOptionByVal(frm.f1,'#f1#')  ??f1
selectOptionByVal(frm.f2,'#f2#')  ??f2
selectOptionByVal(frm.f3,'#f3#')  ??f3
selectOptionByVal(frm.f4,'#f4#')  ??f4
selectOptionByVal(frm.f5,'#f5#')  ??f5
selectOptionByVal(frm.tp,'#tp#')  ??tp
selectOptionByVal(frm.sk2type,'#sk2type#')  ??sk2type
selectOptionByVal(frm.ssttype,'#ssttype#')  ??ssttype

function showCheck(sel)
{
	if(sel.selectedIndex == 1)
		document.getElementById("d_check").style.display="block";
	else
		document.getElementById("d_check").style.display="none";
}

function swap(nr)
{
	var s1 = eval("document.theForm.f" + nr);
	var n = nr + 1;
	var s2 = eval("document.theForm.f" + n);
	v1 = getSelectedVal(s1);
	selectOptionByVal(s1, getSelectedVal(s2));
	selectOptionByVal(s2, v1);
}

</script> 
[end]



================================ SQLs ================================

[preSQLs]
$INCLUDE [checkAccs] param: f_ac=#f_acc#;  col=A_d; ??f_acc
$INCLUDE [checkSst]  param: f_ss=#f_g#; col=S_d; ??f_aggrZZZ
$INCLUDE [getSst] ??f_aggr
select id as SBJ_ROOT from c2_sbj_#q_yr# where des like '%Темы%';
select id as DOG_ROOT from c2_sbj_#q_yr# where des like '%Договоры%';
select id as BAZ_ROOT from c2_div_#q_yr# where des like '%Базовые установки%';

select ','||lab_code AS "KB-OEP", lab_code
from c2_div_13 
where pid='#BAZ_ROOT#' and lab_code not IN()'#ust#'
order by lab_code
;

select distinct ', '||lab_code AS "LAB_OTHER", lab_code
from c2_div_13 
where lab_code not IN()'#labs#' 
and lab_code not in(select lab_code from c2_div_13 where pid='999999' )
order by lab_code
;
select substr('#KB-OEP#',2) as "KB-OEP", substr('#LAB_OTHER#',2) as "LAB_OTHER" from dual;

[end]

[checkAccs]  param: f_ac=; col=;
select code||', ' as "#col#"
from c2_plan where code in
$INCLUDE [getAccs] param: f_acc=#f_ac#;
;
[end]

[getAccs] param: f_acc=;
(select code from c2_plan where is_group=0
connect by prior cod=pcod
start with cod in(select cod from c2_plan
where cod IN()'#f_acc#'
or code IN()'#f_acc#'))
[end]

[getSst]
select code||', ' as "S_d"
from c2_stati_#q_yr#  where code in
(select code from c2_stati_#q_yr# 
where is_group=0
connect by prior id=pid
start with id in
( select id from c2_stati_#q_yr# 
where to_number(aggr) IN()#f_aggr#))
order by code;
[end]

[checkSst]  param: f_ag=; col=;
select code||', ' as "#col#"
from c2_stati_#q_yr#  where code in
$INCLUDE [getSst] param: f_aggr_=#f_ag#;
order by code;
[end]

[getSst_] param: f_aggr_=;
(select code from c2_stati_#q_yr# 
where is_group=0
connect by prior id=pid
start with id in
( select id from c2_stati_#q_yr# 
where to_number(aggr) IN()#f_aggr_#))
[end]


[SQL_Cross_Values]
SELECT distinct 
$INCLUDE [f] param: key=#f1#; comma=N ??!f2&!f3&!f4&!f5
$INCLUDE [f] param: key=#f2#; comma=N ??f2&!f3&!f4&!f5
$INCLUDE [f] param: key=#f3#; comma=N ??f3&!f4&!f5
$INCLUDE [f] param: key=#f4#; comma=N ??f4&!f5
$INCLUDE [f] param: key=#f5#; comma=N ??f5
$INCLUDE [from_tables]
$INCLUDE [criteria]
order by 
$INCLUDE [fn] param: key=#f1#; comma=N ??!f2&!f3&!f4&!f5
$INCLUDE [fn] param: key=#f2#; comma=N ??f2&!f3&!f4&!f5
$INCLUDE [fn] param: key=#f3#; comma=N ??f3&!f4&!f5
$INCLUDE [fn] param: key=#f4#; comma=N ??f4&!f5
$INCLUDE [fn] param: key=#f5#; comma=N ??f5
[end]


[numDigitsForCols]
S=2
[end]

KEY,CODE1,CODE_FULL,DIR,DES,BOSS,YEAR,CLS,MODIFIER_ID,MODIF_DATE,PRI

[SQL]
SELECT 
$INCLUDE [ff]
 ,sum(summa) as "S"
,'<center>--'||count(acc)||'--</center>' as "N"  ??piv=Y
$INCLUDE [from_tables]
$INCLUDE [criteria]
 and sb.CODE0=p.sbj ??
group by 
$INCLUDE [ffg]
order by 
$INCLUDE [ffn] 
[end]

[from_tables]
FROM reg13_v p 
left join c2_stati_#q_yr#  a on (a.code=p.sst and a.mark is null) ??f_bud|bud=Y|ssttype|f1=sstd|f2=sstd|f3=sstd|f4=sstd|f5=sstd
left join i_sbj_lab l on (l.lab=p.lab and l.sbj=p.sbj) ??chekSbj=ok&sk2type=#SBJ_ROOT#
left join i_subject_#q_yr# sb on sb.CODE0=p.sbj ??f_dir|f1=dir|f2=dir|f3=dir|f4=dir|f5=dir
[end]

[criteria]
WHERE 
1=1
#tpq#
and p.summa<>0
and p.ACC IN()'#A_d#xxx' ??f_acc
and p.typ='#f_typ#' ??f_typ
and to_number(p.lab) IN()#f_lab# ??f_lab&!f_lab=-
and p.lab is null ??f_lab=-
and p.lab 	??opt2
not	??opt2=pr|opt2=other
IN()'#labs#' ??opt2=labs|opt2=pr|opt2=other
in(select lab_code from c2_div_#q_yr# where pid='#BAZ_ROOT#') ??opt2=ustZZZ
IN()'#ust#' ??opt2=ust
IN()'#KB-OEP#' ??opt2=kb
in(select lab_code from c2_div_#q_yr# where pid='#BAZ_ROOT#' ) and p.LAB not in(111,431,432,513,514,650,655) ??opt2=kb_ZZZ
and p.lab not in(select lab_code from c2_div_#q_yr# where pid='#BAZ_ROOT#' ) ??opt2=other_ZZZ
and p.lab IN()'#LAB_OTHER#'  ??opt2=other

and to_number(p.sbj) IN()#f_sbj#	??f_sbj&!f_sbj=-
and p.sbj is null ??f_sbj=-
and p.sbj not in(select l.sbj from i_sbj_lab l where l.lab=p.lab) ??chekSbj=bad&sk2type=#SBJ_ROOT#
and p.acc2_code in(select id from c2_sbj_#q_yr# connect by prior id=pid start with id='#sk2type#') and ACC2_TYPE like '%Номенклатурные группы%' ??sk2type
and to_number(sb.DDD) IN()#f_dir# ??f_dir&sk2type=#SBJ_ROOT#

and to_number(p.sst) #f_sst_not# IN()#f_sst# ??f_sst&!f_sst=-
and p.sst is null ??f_sst=-
and p.sst IN()'#S_d#xxx'	??f_aggr

and p.sst in (select code from c2_stati_#q_yr# where is_group=0 and to_number(aggr) IN()#f_aggr# )	??f_aggrZZZ

and (p.sst is null or p.sst not in('120','121','236','237','238'))	??!close
and a.aggr is not null ??ssttype=bud
and a.aggr is null ??ssttype=not
and upper(p.REGISTRATOR) like upper('%#f_registr#%') ??f_registr
and upper(p.comments) like upper('%#f_comments#%') ??f_comments
[end]


[ffg]
$INCLUDE [fg] param: key=#f1#; comma=N
$INCLUDE [fg] param: key=#f2#; ??f2
$INCLUDE [fg] param: key=#f3#; ??f3
$INCLUDE [fg] param: key=#f4#; ??f4
$INCLUDE [fg] param: key=#f5#; ??f5
[end]

[ffn]
$INCLUDE [fn] param: key=#f1#; comma=N
$INCLUDE [fn] param: key=#f2#; ??f2
$INCLUDE [fn] param: key=#f3#; ??f3
$INCLUDE [fn] param: key=#f4#; ??f4
$INCLUDE [fn] param: key=#f5#; ??f5
[end]

[ff]
$INCLUDE [f] param: key=#f1#; comma=N
$INCLUDE [f] param: key=#f2#; ??f2
$INCLUDE [f] param: key=#f3#; ??f3
$INCLUDE [f] param: key=#f4#; ??f4
$INCLUDE [f] param: key=#f5#; ??f5
[end]

[f] param: key=f1; comma=Y
, ??comma=Y
''''||acc as "ACC" ??key=acc
''''||ACC1_VAL||'<br><a class="asprav"><small>'||acc1_type||' / '||trim(acc1_code)||'</small></a>' as "ACC1" ??key=ACC1
''''||ACC2_VAL||'<br><a class="asprav"><small>'||acc2_type||' / '||trim(acc2_code)||'</small></a>' as "ACC2" ??key=ACC2
''''||ACC3_VAL||'<br><a class="asprav"><small>'||acc3_type||' / '||trim(acc3_code)||'</small></a>' as "ACC3"  ??key=ACC3
'<center>'||p.lab||'</center>' as "LAB"	 ??key=lab
'<center>'||p.sbj||'</center>' as "SBJ"	??key=sbj
'<center>'||p.sbj||':'||sb.DDD||'</center>' as "SBJ"	??key=sbjZZZ
'<center>'||sb.DDD||'</center>' as "DIR"	??key=dir

'<center>'||SST||'</center>' as SST	??key=sst
a.DES as SSTD	??key=sstd
'<center>'||aggr||'</center>' as "AGGR" ??key=bud
REGISTRATOR||', стр.'||LINENR as REGISTRATOR ??key=sod
COMMENTS ??key=comm
'<center>'||quart||'</center>' as "QUART"		??key=qua
'<center>'||mm||'</center>' as "MM"	??key=mm
'<center>'||TYP||'</center>' as TYP	??key=typ
to_char(dat,'DD.MM.YYYY')	as "DAT"	??key=dat
[end]

[fn] param: key=f1; comma=Y
, ??comma=Y
ACC ??key=acc
ACC1 ??key=ACC1
ACC2 ??key=ACC2
ACC3  ??key=ACC3
LAB	 ??key=lab
SBJ	??key=sbj
DIR	??key=dir
sb.DDD	??key=dirZZ
SST	??key=sst
SSTD	??key=sstd
AGGR ??key=bud
REGISTRATOR, LINENR ??key=sod
COMMENTS ??key=comm
QUART		??key=qua
MM	??key=mm
TYP 		??key=typ
DAT	??key=dat
[end]

[fg] param: key=f1; comma=Y
, ??comma=Y
ACC ??key=acc
ACC1_VAL,ACC1_TYPE,ACC1_CODE  ??key=ACC1
ACC2_VAL,ACC2_TYPE,ACC2_CODE  ??key=ACC2
ACC3_VAL,ACC3_TYPE,ACC3_CODE  ??key=ACC3
p.LAB	 ??key=lab
p.sbj,sb.DDD	??key=sbjZZZ
p.SBJ				??key=sbj
sb.DDD	??key=dir
SST	??key=sst
a.DES	??key=sstd
AGGR ??key=bud
REGISTRATOR, LINENR ??key=sod
COMMENTS ??key=comm
QUART		??key=qua
MM	??key=mm
TYP 		??key=typ
DAT	??key=dat
[end]


[colNames]
ACC=Счет
ACC1=Субконто 1
ACC2=Субконто 2
ACC3=Субконто 3
LAB=Лаборатория  ??opt2=labs
LAB=Установка  ??opt2=ust
LAB=Подразделение 
SBJ=Тема  ??!sk2type|sk2type=#SBJ_ROOT#
DIR=Направление
SBJ=Договор  ??sk2type=#DOG_ROOT#
SST=Субстатья
SSTD=Субстатья
AGGR=Бюдж.статья
REGISTRATOR=Документ
COMMENTS=Комментарий
QUART=к-л
MM=м-ц
TYP=тип
DAT=Дата
S=Сумма
N=кол-во
[end]
