[parameters]
service=dubna.walt.service.TableServiceSimple ??piv=Y
service=dubna.walt.service.CrossTabService  ??!piv=Y
title=1С-Сводная таблица проводок

makeTotalsForCols=S,N
makeSubtotals=y ??
totRowLabel=Всего
keepLog=false

tableCfg=table.cfg 
thsnDelimiter=NONE
numDigits=2
NumSpecialCols=0

table_beg=<table border="1" cellspacing="1" cellpadding="2"> ??
wrapperTable=none
wrapperTableEnd=none
labs=032,090,100,200,300,400,500,600,700
labs+=002,032,090,100,200,300,400,500,600,700,832 
ust=111,431,432,513,514,650,655
$INCLUDE common.dat[colors]
[end]

[numDigitsForCols]
S=2
N=0
[end]

$INCLUDE common.dat[head]

[report header]
<html><body>
<style>
td {vertical-align:top;}
.r {text-align:right;}
.m30 {padding-left:40px;}
.tb {border-top:solid 1px ##808080;}
.rb {border-right:solid 1px ##808080;}
</style>

$SET_PARAMETERS srn=1; rpp=9999
$SET_PARAMETERS srt=1 ??!srt
$SET_PARAMETERS f2=; ??f2=#f1#
$SET_PARAMETERS f3=; ??f3=#f1#|f3=#f2#
$SET_PARAMETERS f4=; ??f4=#f1#|f4=#f2#|f4=#f3#
$SET_PARAMETERS f5=; ??f5=#f1#|f5=#f2#|f5=#f3#|f5=#f4#
$SET_PARAMETERS bud=Y ??f1=bud|f2=bud|f3=bud|f4=bud|f5=bud

<table border=0 cellspacing=0 cellpadding=0 ><tr><td> 
[end]



[report footer]
</TD></TR> ??
</TABLE>  
</body></HTML>
[end]




================================ SQLs ================================

[preSQLs]
$INCLUDE c2/provSvod.cfg[preSQLs]
[end]


[SQL_Cross_Values]
$INCLUDE c2/provSvod.cfg[SQL_Cross_Values]
[end]


[numDigitsForCols]
S=2
[end]



[SQL]
SELECT 
$INCLUDE [ff]
 ,sum(summa)#DIV_VAL# as "S"
,'<center>--'||count(acc)||'--</center>' as "N"  ??piv=Y
$INCLUDE [from_tables]
$INCLUDE [criteria]
 and sb.CODE0=p.sbj ??
group by 
$INCLUDE [ffg]
order by 
$INCLUDE [ffn] 
[end]

[from_tables]
FROM reg#q_yr#_v p 
FROM c2_reg#q_yr# p ?? 
left join C2_STATI  a on (a.code=to_number(p.sst) and a.mark is null) ??f_bud|bud=Y|ssttype|f1=sstd|f2=sstd|f3=sstd|f4=sstd|f5=sstd
left join i_sbj_lab l on (l.lab=p.lab and l.sbj=p.sbj and l.YEAR=20#q_yr#) ??chekSbj=ok&sk2type=#SBJ_ROOT#
left join i_subject_#q_yr# sb on sb.CODE0=p.sbj ??f_dir|f1=dir|f2=dir|f3=dir|f4=dir|f5=dir
[end]

[criteria]
WHERE 
1=1
#tpq#
and l.lab is not null ??chekSbj=ok&sk2type=#SBJ_ROOT#
and p.summa<>0
and p.ACC IN()'#A_d#xxx' ??f_acc
and p.typ='#f_typ#' ??f_typ
and to_number(p.lab) IN()#f_lab# ??f_lab&!f_lab=-
and p.lab is null ??f_lab=-
and p.lab 	??opt2
not	??opt2=pr|opt2=other|opt2=pr+
IN()'#labs#' ??opt2=labs|opt2=pr|opt2=other
IN()'#labs+#' ??opt2=labs+|opt2=pr+|opt2=other
in(select lab_code from C2_DIV where pid='#BAZ_ROOT#') ??opt2=ustZZZ
IN()'#ust#' ??opt2=ust
IN()'#KB-OEP#' ??opt2=kb
in(select lab_code from C2_DIV where pid='#BAZ_ROOT#' ) and p.LAB not in(111,431,432,513,514,650,655) ??opt2=kb_ZZZ
and p.lab not in(select lab_code from C2_DIV where pid='#BAZ_ROOT#' ) ??opt2=other_ZZZ
and p.lab IN()'#LAB_OTHER#'  ??opt2=other

and (to_number(p.sbj) IN()#f_sbj# 	??f_sbj&!f_sbj=-
or 1000+to_number(p.sbj) IN()#f_sbj#)	??f_sbj&!f_sbj=-
and p.sbj is null ??f_sbj=-
and p.sbj not in(select l.sbj from i_sbj_lab l where l.lab=p.lab) ??chekSbj=bad&sk2type=#SBJ_ROOT#
and p.acc2_code in(select id from c2_sbj connect by prior id=pid start with id='#sk2type#') and ACC2_TYPE like '%Номенклатурные группы%' ??sk2type
and to_number(sb.DDD) IN()#f_dir# ??f_dir&sk2type=#SBJ_ROOT#

and to_number(p.sst) #f_sst_not# IN()#f_sst# ??f_sst&!f_sst=-
and p.sst is null ??f_sst=-
and to_number(p.sst) IN(#S_d#0)	??f_aggr

and to_number(p.sst) in (select code from C2_STATI where is_group=0 and to_number(aggr) IN()#f_aggr# )	??f_aggrZZZ

and (p.sst is null or to_number(p.sst) not in(120,121,236,237,238))	??close
and a.aggr is not null ??ssttype=bud
and a.aggr is null ??ssttype=not
and upper(p.REGISTRATOR) like upper('%#f_registr#%') ??f_registr
and upper(p.comments) like upper('%#f_comments#%') ??f_comments
[end]


[ffg]
$INCLUDE [fg] param: key=#f1#; comma=N
$INCLUDE [fg] param: key=#f2#; ??f2
$INCLUDE [fg] param: key=#f3#; ??f3
$INCLUDE [fg] param: key=#f4#; ??f4
$INCLUDE [fg] param: key=#f5#; ??f5
[end]

[ffn]
$INCLUDE [fn] param: key=#f1#; comma=N
$INCLUDE [fn] param: key=#f2#; ??f2
$INCLUDE [fn] param: key=#f3#; ??f3
$INCLUDE [fn] param: key=#f4#; ??f4
$INCLUDE [fn] param: key=#f5#; ??f5
[end]

[ff]
$INCLUDE [f] param: key=#f1#; comma=N
$INCLUDE [f] param: key=#f2#; ??f2
$INCLUDE [f] param: key=#f3#; ??f3
$INCLUDE [f] param: key=#f4#; ??f4
$INCLUDE [f] param: key=#f5#; ??f5
[end]

[f] param: key=f1; comma=Y
, ??comma=Y
''''||acc as "ACC" ??key=acc
''''||ACC1_VAL||' '||ACC1||'<br><a class="asprav"><small>'||acc1_type||' / '||trim(acc1_code)||'</small></a>' as "ACC1" ??key=ACC1
''''||ACC2_VAL||' '||ACC2||'<br><a class="asprav"><small>'||acc2_type||' / '||trim(acc2_code)||'</small></a>' as "ACC2" ??key=ACC2
''''||ACC3_VAL||'<br><a class="asprav"><small>'||acc3_type||' / '||trim(acc3_code)||'</small></a>' as "ACC3"  ??key=ACC3
'<center>'||p.lab||'</center>' as "LAB"	 ??key=lab
'<center>'||p.sbj||'</center>' as "SBJ"	??key=sbj
'<center>'||p.sbj||':'||sb.DDD||'</center>' as "SBJ"	??key=sbjZZZ
'<center>'||sb.DDD||'</center>' as "DIR"	??key=dir

'<center>'||SST||'</center>' as SST	??key=sst
a.DES as SSTD	??key=sstd
'<center>'||aggr||'</center>' as "AGGR" ??key=bud
REGISTRATOR||', стр.'||LINENR as REGISTRATOR ??key=sod
COMMENTS ??key=comm
'<center>'||quart||'</center>' as "QUART"		??key=qua
'<center>'||mm||'</center>' as "MM"	??key=mm
'<center>'||TYP||'</center>' as TYP	??key=typ
to_char(dat,'DD.MM.YYYY')	as "DAT"	??key=dat
[end]

[fn] param: key=f1; comma=Y
, ??comma=Y
ACC ??key=acc
ACC1 ??key=ACC1
ACC2 ??key=ACC2
ACC3  ??key=ACC3
LAB	 ??key=lab
SBJ	??key=sbj
DIR	??key=dir
sb.DDD	??key=dirZZ
SST	??key=sst
SSTD	??key=sstd
AGGR ??key=bud
REGISTRATOR, LINENR ??key=sod
COMMENTS ??key=comm
QUART		??key=qua
MM	??key=mm
TYP 		??key=typ
DAT	??key=dat
[end]

[fg] param: key=f1; comma=Y
, ??comma=Y
ACC ??key=acc
ACC1_VAL,ACC1,ACC1_TYPE,ACC1_CODE  ??key=ACC1
ACC2_VAL,ACC2,ACC2_TYPE,ACC2_CODE  ??key=ACC2
ACC3_VAL,ACC3_TYPE,ACC3_CODE  ??key=ACC3
p.LAB	 ??key=lab
p.sbj,sb.DDD	??key=sbjZZZ
p.SBJ				??key=sbj
sb.DDD	??key=dir
SST	??key=sst
a.DES	??key=sstd
AGGR ??key=bud
REGISTRATOR, LINENR ??key=sod
COMMENTS ??key=comm
QUART		??key=qua
MM	??key=mm
TYP 		??key=typ
DAT	??key=dat
[end]


[colNames]
ACC=Счет
ACC1=Субконто 1
ACC2=Субконто 2
ACC3=Субконто 3
LAB=Лаборатория  ??opt2=labs
LAB=Установка  ??opt2=ust
LAB=Подразделение 
SBJ=Тема  ??!sk2type|sk2type=#SBJ_ROOT#
DIR=Направление
SBJ=Договор  ??sk2type=#DOG_ROOT#
SST=Субстатья
SSTD=Субстатья
AGGR=Бюдж.статья
REGISTRATOR=Документ
COMMENTS=Комментарий
QUART=к-л
MM=м-ц
TYP=тип
DAT=Дата
S=Сумма
N=кол-во
[end]
