[parameters]

debug=off
debug=on  ??uname=sergZZZ
KeepLog=true

[end]

[report]
$SET_PARAMETERS RECEIVER=; INFO=; RESP=; AGGR=; COMMENTS=; NICA_CODE=;
$GET_DATA [getDoc]
<table class="tlist" border=0 cellspacing=2 cellpadding=2 style="margin:20px;">
<tr><th colspan=2 class="align_left">
ADB2- документ: <a href="#ServletPath#?c=doc/docEdit&doc_id=#ADB_NR#&key=#SESS_ID#" target=_blank>#ADB_NR# от #REG_DATE# </a>
<small>(#CREATOR#)</small>
<br>Сводный, потомков: #NUM_CHILDREN# ??IS_TOTAL=Y
<br>родительский документ: <a href="#ServletPath#?c=doc/docEdit&doc_id=#PID#&key=#SESS_ID#" target=_blank>#PID#</a> ??PID>0
</th>
</tr>

<tr><td>Внешний документ:</td><td class="align_left">№#EXT_DOC_NR# от #DOC_DATE#</td></tr>

<tr><td>Контрагент:</td><td class="align_left">#RECEIVER#</td></tr>
<tr><td>Назначение&nbsp;платежа:</td><td class="align_left">#INFO#</td></tr> 
<tr><td>Подразделение:</td><td class="align_left">#LAB_CODE#</td></tr> ??
<tr><td>Бюджетный код:</td><td><div class="align_left
SRC_V ??IS_BUDGET=0
SRC_P ??SRC=P
">#DIV#, 
т.#SBJ_CODE#, ??SBJ_CODE
#RAZD#, ??RAZD
<br><small>#DES#
(#BC#)</small>
#RESP#
</div></td></tr>

<tr><td>Подпись:</td><td class="align_left">#CHIEF_SGN#</td></tr> ??CHIEF_SGN
<tr><td>Инициатор:</td><td class="align_left">#SIGNED#</td></tr> ??SIGNED
<tr><td>Проект НИКА:</td><td class="align_left">#NICA_CODE#</td></tr> ??NICA_CODE
 ??PROJECT_ID
<tr><td>Статья бюджета:</td><td class="align_left">#AGGR#</td></tr>
<tr><td>Сумма:</td><td class="align_left"><b>
#SUMMA_RUB#руб.  ??CURR_CODE=810
#SUMMA_USD#USD   ??CURR_CODE=840
#SUMMA_EUR#EUR   ??CURR_CODE=978
</b>(
#SUMMA_RUB#руб.  	??!CURR_CODE=810
#SUMMA_USD#USD  	??!CURR_CODE=840
#SUMMA_EUR#EUR	  ??!CURR_CODE=978
)
<br>расписано: #SUM_CHILDREN#руб. ??IS_TOTAL=Y
</td></tr>
<tr><td>Факт. сумма:</td><td class="align_left">
$INCLUDE [fact]  ??FACT_RUB
<b>заявка:</b> <a href="#ServletPath#?c=c2/request&f_req=#REQ1#&yr=#REQ1_YR#">№ #REQ1# от #REQ1_DAT# </a> ??REQ1
, <b>заявка 2:</b> <a href="#ServletPath#?c=c2/request&f_req=#REQ2#&yr=#REQ2_YR#">№ #REQ2# от #REQ2_DAT# </a> ??REQ2

</td></tr>
<tr><td>Комментарий</td><td class="align_left">#COMMENTS#</td></tr>

<tr><td></td></tr>
</table>

[end]

[fact]
<b>
#FACT_RUB#руб.  ??CURR_CODE=810
#FACT_USD#USD   ??CURR_CODE=840
#FACT_EUR#EUR   ??CURR_CODE=978
</b>(
#FACT_RUB#руб.  	??!CURR_CODE=810
#FACT_USD#USD  	??!CURR_CODE=840
#FACT_EUR#EUR	  ??!CURR_CODE=978
) <br>
[end]

 , REQ1, to_char(d.REQ1_DAT,'DD.MM.YYYY') as REQ1_DAT, to_char(d.REQ1_DAT,'YY') as REQ1_YR
 , REQ2, to_char(d.REQ2_DAT,'DD.MM.YYYY') as REQ2_DAT, to_char(d.REQ2_DAT,'YY') as REQ2_YR


================================ SQLs ================================


[getDoc]
SELECT
to_char(DOC_DATE, 'DD.MM.YYYY') DOC_DATE, EXT_DOC_NR
,to_char(REG_DATE, 'DD.MM.YYYY HH24:MI') REG_DATE
,DOC_ID,PID,doc_type,doc_status
,BC, LAB_CODE, IS_TOTAL, PAYER,RECEIVER,INN_RECEIVER,RECEIVER_C,INFO
,SUMMA_CURR,CURR_CODE
,to_char(SUMMA_RUB,'99999999990D00') as SUMMA_RUB
,to_char(SUMMA_USD,'999999990D00') as SUMMA_USD
,to_char(SUMMA_EUR,'999999990D00') as SUMMA_EUR
, d.signed, d.comments, d.chief_sgn
, d.aggr, d.cons
,to_char(d.PAYED,'DD.MM.YYYY') as PAYED
,PLAT_1, to_char(d.DAT_PLAT_1,'DD.MM.YYYY') as DAT_PLAT_1, to_char(d.DAT_OPL1,'DD.MM.YYYY') as DAT_OPL1
,PLAT_2, to_char(d.DAT_PLAT_2,'DD.MM.YYYY') as DAT_PLAT_2,to_char(d.DAT_OPL2,'DD.MM.YYYY') as DAT_OPL2
, NUM_CHILDREN, to_char(SUM_CHILDREN, '99999999990D00') as SUM_CHILDREN
, VIDOPER, IS_KREDIT, PROJECT_ID
,c.fio as CREATOR
, to_char(d.REG_DATE,'YY') as DOC_YR
	,to_char(FACT_RUB,'99999999990D00') as FACT_RUB
	,to_char(FACT_USD,'99999999990D00') as FACT_USD
	,to_char(FACT_EUR,'99999999990D00') as FACT_EUR
 , FACT_DAT	??
 , REQ1, to_char(d.REQ1_DAT,'DD.MM.YYYY') as REQ1_DAT, to_char(d.REQ1_DAT,'YY') as REQ1_YR
 , REQ2, to_char(d.REQ2_DAT,'DD.MM.YYYY') as REQ2_DAT, to_char(d.REQ2_DAT,'YY') as REQ2_YR

FROM docs d 
 left join users c on c.id=d.creator_id
WHERE doc_id=#ADB_NR#
;
select NAME_SHORT as RECEIVER from i_kontragent where code=#RECEIVER_C# ??RECEIVER_C&!RECEIVER
;
SELECT b.CODE as BC, b.name_short
,decode (b.prikaz_id, null,'', 'пр.'||z.num||' от '||to_char(z.dat,'DD.MM.YYYY')||', п.'||b.prikaz_sn||', '||z.des||', ')
||nvl(b.DES,'')
as DES
, r.NAME_SHORT as DIR
, b.LAB_CODE, l.DIV, b.SBJ_CODE, b.DEV_CODE, b.status
,decode (b.prikaz_id, null,'', z.num||'/'||b.prikaz_sn) as "PRIKAZ"
, decode(b.RAZD_NR,1,'',2,'БУ',3,'инфр',4,'ИНФР',5,'ВНЕБ.') as "RAZD"
,	case when not b.PRIKAZ_ID is null and z.ISBUDGET=1 then 'P'
when not b.PRIKAZ_ID is null and z.ISBUDGET=0 then 'V'
else '' end as SRC
FROM bc b
 left join i_lab l on l.code=b.LAB_CODE
 left join tree_#DOC_YR# r on r.id = b.root_id
 left join i_prikaz z on z.id=b.prikaz_id
WHERE b.code='#BC#'
;
select tab_n||',' as RESPS from i_resp where bc=#BC# ??BC
;
select '<br>'||trim(initcap(FIO)) as RESP
from i_persons
where tab_n IN()'#RESPS#''-1'
order by FIO
[end]

