[parameters]
debug=on ??
keepLog=true

tableCfg=this
thsnDelimiter=&nbsp;
numDigits=1
NumSpecialCols=1

table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
$INCLUDE common.dat[colors]
[end]


[report]
$SET_PARAMETERS r=51.01; d=52.05; e=52.06; ??bg=ћƒћ&div=ќ»я»
$SET_PARAMETERS r=51.03; d=52.03; e=52.14; ??bg=»нтеркоммерц, г.ƒубна&div=ќ»я»
$SET_PARAMETERS r=51.02; d=52.01; e=52.27; ??bg=¬“Ѕ, г.ћосква&div=ќ»я»

$SET_PARAMETERS r=51.16; d=52.13; e=52.12; ??bg=ћƒћ&div=ЋЌ‘

$SET_PARAMETERS r=51.08; d=; e=52.24; ??bg=ћƒћ&div=Ћ‘¬Ё

$SET_PARAMETERS r=51.26; d=; e=52.25; ??bg=ћƒћ&div=Ћ‘¬Ё-2&n=1
$SET_PARAMETERS r=51.18; d=; e=; ??bg=ћƒћ&div=Ћ‘¬Ё-2&n=2
$SET_PARAMETERS r=51.21; d=; e=52.22; ??bg=ћƒћ&div=Ћ‘¬Ё-2&n=3
$SET_PARAMETERS r=51.14; d=; e=52.23; ??bg=ћƒћ&div=Ћ‘¬Ё-2&!n

$SET_PARAMETERS r=51.07; d=52.15; e=; ??bg=ћƒћ&div=Ќ÷еѕ»

$SET_PARAMETERS r=51.10; d=; e=; ??div=ќ —&n=1
$SET_PARAMETERS r=51.09; d=; e=; ??div=ќ —&n=2
$SET_PARAMETERS r=51.11; d=; e=; ??div=ќ —&!n

$SET_PARAMETERS r=51.13; d=52.10; e=52.02; ??div=Ћя–, Ќ’ѕ ÷ѕ‘&n=1
$SET_PARAMETERS r=51.12; d=52.08; e=52.09; ??div=Ћя–, Ќ’ѕ ÷ѕ‘&n=2
$SET_PARAMETERS r=51.22; d=52.16; e=52.18; ??div=Ћя–, Ќ’ѕ ÷ѕ‘&n=3
$SET_PARAMETERS r=51.19; d=52.19; e=52.20; ??div=Ћя–, Ќ’ѕ ÷ѕ‘&!n

$SET_PARAMETERS r=; ??f_curr&!f_curr=rub
$SET_PARAMETERS d=; ??f_curr&!f_curr=USD&!f_curr=val
$SET_PARAMETERS e=; ??f_curr&!f_curr=EUR&!f_curr=val
<tr class="det_#div_det#">
<td rowspan=3 class="a_left"><b>#bg#</b><br>Ѕюджетные, внебюджетные средства:&nbsp;</td> ??div=ќ»я»

$INCLUDE [line] param: acc=#r#; ??r
</tr>

<tr class="det_#div_det#">
$INCLUDE [line] param: acc=#d#; ??d
</tr>

<tr class="det_#div_det#">
$INCLUDE [line] param: acc=#e#;  ??e
</tr>
$SET_PARAMETERS cl=tb; ??!div=ќ»я»
<tr class="det_#div_det#"><td colspan=7 class="#cl#" style="font-size:2px;">&nbsp;</td></tr> ??!n
$SET_PARAMETERS n=;
[end]


[line] param: acc; 
$SET_PARAMETERS VH_SAL=; POST=; RASH=; ISH_SAL=;
$GET_DATA [SQL line]
DEST ??
<td class="a_left"><b>#bg#</b>, #DEST#</td> ??!div=ќ»я»

<td class="align_center">#acc#: #VAL#</td> ??showAcc
<td class="align_center">#VAL#</td> ??s_curr=rub&!showAcc
<td class="align_center">#DEST#&nbsp;</td> ??
<td class="align_center">
тыс.руб. ??s_curr=rub
тыс.#VAL# ??!s_curr=rub
</td>
<td>#VH_SAL#&nbsp;</td>
<td>
<a href="javascript:getDet('#acc#','d');">#POST#</a> ??!POST=0.00
&nbsp;</td>
<td>
<a href="javascript:getDet('#acc#','k');">#RASH#</a> ??!RASH=0.00
&nbsp;</td>
<td>#ISH_SAL#&nbsp;</td> ??ISH_SAL
<td>#VH_SAL#&nbsp;</td> ??!ISH_SAL
[end]

================================ SQLs ================================

[preSQLs]
[end]


[SQL line]
select id as "BANK_ID", VAL, DEST, ACC 
from c2_banks where acc='#acc#'
;
SELECT 
sum(s.sum_rub)  ??s_curr=rub
sum(s.SUM_VAL) ??!s_curr=rub
/ #scale# as "SAL_D"
, replace(to_char(
sum(s.sum_rub) ??s_curr=rub
sum(s.SUM_VAL) ??!s_curr=rub
/ #scale#, '999,999,999,990.00'),',','&nbsp;') as "VH_SAL" 
FROM C2_banks_saldo s 
WHERE s.id=#BANK_ID#
and dat=to_date('01.01.20#q_yr#','DD.MM.YYYY')
;

select 
 #SAL_D# + ( 
	sum(summa) ??s_curr=rub
	sum(SUMMA_VAL) ??!s_curr=rub
 ) / #scale# as "SAL_D" 
 
, replace(to_char( #SAL_D# + (
sum(summa) ??s_curr=rub
sum(SUMMA_VAL)  ??!s_curr=rub
) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "VH_SAL" 

from prov_bank_#q_yr# p  
where p.ACC1_CODE=#BANK_ID#
and p.ACC='51' ??VAL=руб.
and p.ACC='52' ??!VAL=руб.
and p.ACC='#ACC#' ??
and p.DAT >= to_date('01.01.20#q_yr#','DD.MM.YYYY') and  p.DAT < to_date('#startdate#','DD.MM.YYYY')
;


select 
 replace(to_char(sum(decode(typ, 'd', 
 summa ??s_curr=rub
 SUMMA_VAL ??!s_curr=rub
 , 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "POST" 
 
, replace(to_char(sum(decode(typ, 'k', 
-summa ??s_curr=rub
-SUMMA_VAL  ??!s_curr=rub
, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "RASH"

, replace(to_char(( #SAL_D# + 
sum(summa) ??s_curr=rub
sum(SUMMA_VAL) ??!s_curr=rub
 / #scale#),'999,999,999,990.00'),',','&nbsp;') as "ISH_SAL" 

from prov_bank_#q_yr# p  

where p.ACC1_CODE=#BANK_ID#
and p.ACC='51' ??VAL=руб.
and p.ACC='52' ??!VAL=руб.
and p.DAT between to_date('#startdate#','DD.MM.YYYY') and to_date('#enddate#','DD.MM.YYYY')
[end]

