[parameters]
debug=on ??
keepLog=true

tableCfg=this
thsnDelimiter=&nbsp;
numDigits=1
NumSpecialCols=1

table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
$INCLUDE common.dat[colors]
[end]


[report]
$SET_PARAMETERS r=Y; d=Y; e=Y; 
$SET_PARAMETERS r=; ??f_curr&!f_curr=rub
$SET_PARAMETERS d=; ??f_curr&!f_curr=USD&!f_curr=val
$SET_PARAMETERS e=; ??f_curr&!f_curr=EUR&!f_curr=val

$SET_PARAMETERS det_id=JINR ??div=ќ»я»
$SET_PARAMETERS det_id=LABS ??!div=ќ»я»

<tr>
<td rowspan=3 class="div_head a_left">
¬сего по счетам 
ќ»я»: ??div=ќ»я»
подразделений: ??div=DIV|!div
#div#: ??div&!div=DIV&!div=ќ»я»

<div id="d_showdet_#det_id#" style="margin:10px 40px 0 140px; padding:10px; width:40px; cursor:pointer;" onClick="showAccs('#det_id#')">
<img src="#imgPath#b_more.gif">
</div>
<div id="d_hidedet_#det_id#" style="display:none; margin:10px 40px 0 140px; padding:10px; width:40px; cursor:pointer;" onClick="hideAccs('#det_id#')">
<img src="#imgPath#b_less.gif">
</div>

</td> 

$INCLUDE [line] param: val=руб.; ??r
</tr>

<tr>
$INCLUDE [line] param: val=USD; ??d
</tr>

<tr>
$INCLUDE [line] param: val=EUR;  ??e
</tr>
<tr><td colspan=7 id="det_#det_id#" 
class="tb" style="font-size:1px;">&nbsp;</td></tr>
 ??!div=DIV
[end]


[line] param: val; 
$SET_PARAMETERS VH_SAL=; POST=; RASH=; ISH_SAL=; BANK_ID=;
$GET_DATA [SQL line]
DEST ??
<td class="align_center">#val#</td> ??s_curr=rub|showAcc
<td class="align_center">#DEST#&nbsp;</td> ??
<td class="align_center">
тыс.руб. ??s_curr=rub
тыс.#val# ??!s_curr=rub
&nbsp;</td>
<td class=tot_>#VH_SAL#&nbsp;</td>
<td class=tot_>#POST#&nbsp;</td>
<td class=tot_>#RASH#&nbsp;</td>
<td class=tot>#ISH_SAL#&nbsp;</td> ??ISH_SAL
<td class=tot>#VH_SAL#&nbsp;</td> ??!ISH_SAL
[end]

================================ SQLs ================================

[preSQLs]
[end]


[SQL line]
select ','||id as "BANK_ID", VAL, DEST from c2_banks 
where 
div like '#div#%' ??!div=DIV
div<>'ќ»я»' ??div=DIV
and val='#val#'
and grp like '#f_bank#%' ??f_bank
;
select 
'51' ??val=руб.
'52' ??!val=руб.
as ACC 
, 'SUMMA'  ??s_curr=rub
, 'SUMMA_VAL'  ??!s_curr=rub
as "SUM_FIELD"
from dual
;

SELECT 
sum(s.sum_rub)  ??s_curr=rub
sum(s.SUM_VAL) ??!s_curr=rub
/ #scale# as "SAL_D"
, replace(to_char(
sum(s.sum_rub) ??s_curr=rub
sum(s.SUM_VAL) ??!s_curr=rub
/ #scale#, '999,999,999,990.00'),',','&nbsp;') as "VH_SAL" 
FROM C2_banks_saldo s 
WHERE s.id in(0#BANK_ID#)
and dat=to_date('01.01.2014','DD.MM.YYYY')
;

select  #SAL_D# + sum(#SUM_FIELD#) / #scale# as "SAL_D" 
, replace(to_char( #SAL_D# + sum(#SUM_FIELD#) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "VH_SAL" 
from prov_bank_#q_yr# p  
where p.ACC1_CODE in(0#BANK_ID#)
and p.ACC='#ACC#' 
and p.DAT >= to_date('01.01.20#q_yr#','DD.MM.YYYY') and  p.DAT < to_date('#startdate#','DD.MM.YYYY')
;


select 
  replace(to_char(sum(decode(typ, 'd',  #SUM_FIELD#, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "POST" 
, replace(to_char(sum(decode(typ, 'k', -#SUM_FIELD#, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "RASH"
, replace(to_char( #SAL_D# + sum(#SUM_FIELD#) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "ISH_SAL" 
from prov_bank_#q_yr# p  
where p.ACC1_CODE in(0#BANK_ID#)
and p.ACC='#ACC#' 
and p.DAT between to_date('#startdate#','DD.MM.YYYY') and to_date('#enddate#','DD.MM.YYYY')
[end]

