[parameters]
debug=on ??
keepLog=true

tableCfg=this
thsnDelimiter=&nbsp;
numDigits=1
NumSpecialCols=1

table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
$INCLUDE common.dat[colors]
[end]


[report]
+++++ какие строки выводим +++++++ ??
$SET_PARAMETERS r=Y; d=; e=; 
$SET_PARAMETERS r=; ??f_curr&!f_curr=rub
$SET_PARAMETERS d=; ??f_curr&!f_curr=USD&!f_curr=val
$SET_PARAMETERS e=; ??f_curr&!f_curr=EUR&!f_curr=val

<tr>
<td rowspan=3 class="div_head a_left">
Депозиты: 
</td> 

$INCLUDE [line] param: val=руб.; ??r
</tr>

<tr>
$INCLUDE [line] param: val=USD; ??d
</tr>

<tr>
$INCLUDE [line] param: val=EUR;  ??e
</tr>
<tr><td colspan=7 class="tb" style="font-size:1px;">&nbsp;</td></tr> ??!div=OTHER
[end]


[line] param: val; 
$SET_PARAMETERS VH_SAL=; POST=; RASH=; ISH_SAL=;
$GET_DATA [SQL line]
<td class="align_center">#val#</td> ??s_curr=rub|showAcc
<td class="align_center">#DEST#&nbsp;</td> ??
<td class="align_center">
тыс.руб. ??s_curr=rub
тыс.#val# ??!s_curr=rub
&nbsp;</td>
<td class=tot_>#VH_SAL#&nbsp;</td>
<td class=tot_><a href="javascript:getDet('#ACC#','d');">#POST#</a>&nbsp;</td>
<td class=tot_>
<a href="javascript:getDet('#ACC#','k');"> ??!RASH=0.00
#RASH#
</a> ??!RASH=0.00
&nbsp;</td>
<td class=tot>#ISH_SAL#&nbsp;</td> ??ISH_SAL
<td class=tot>#VH_SAL#&nbsp;</td> ??!ISH_SAL
[end]

================================ SQLs ================================

[preSQLs]
[end]


'66.21' ??!val=руб.

[SQL line]
select '55.03' as "ACC" from dual ;

+++++++++ САЛЬДО на нач. года +++++++ ??
SELECT 
s.sum_rub  ??s_curr=rub
s.SUM_VAL ??!s_curr=rub
/ #scale#as "SAL_D"
, replace(to_char(
s.sum_rub ??s_curr=rub
s.SUM_VAL ??!s_curr=rub
/ #scale#, '999,999,999,990.00'),',','&nbsp;') as "VH_SAL" 
FROM C2_saldo s 
WHERE ACC='#ACC#'
and s.dat=to_date('01.01.20#q_yr#','DD.MM.YYYY')
;

+++++++++ САЛЬДО на нач. периода +++++++ ??

select 
 #SAL_D# + 
	sum(summa) ??s_curr=rub
	sum(SUMMA_VAL) ??!s_curr=rub
  / #scale# as "SAL_D" 
, replace(to_char( #SAL_D# + 
sum(summa) ??
sum(SUMMA_VAL) 
 / #scale#,'999,999,999,990.00'),',','&nbsp;') as "VH_SAL" 

from prov_bank_#q_yr# p  
WHERE ACC='#ACC#'
and p.DAT >= to_date('01.01.20#q_yr#','DD.MM.YYYY') and  p.DAT < to_date('#startdate#','DD.MM.YYYY')
;


select 
 replace(to_char(sum(decode(typ, 'd', 
 summa ??s_curr=rub
 SUMMA_VAL  ??!s_curr=rub
 , 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "POST" 
 
, replace(to_char(sum(decode(typ, 'k', 
-summa ??s_curr=rub
-SUMMA_VAL  ??!s_curr=rub
, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "RASH"

, replace(to_char( #SAL_D# +
sum(summa) ??s_curr=rub
sum(SUMMA_VAL) ??!s_curr=rub
 / #scale#,'999,999,999,990.00'),',','&nbsp;') as "ISH_SAL" 

from prov_bank_#q_yr# p  

WHERE ACC='#ACC#'
and p.DAT between to_date('#startdate#','DD.MM.YYYY') and to_date('#enddate#','DD.MM.YYYY')
[end]
