[parameters]
service=dubna.walt.service.TableServiceSpecial 
service=dubna.walt.service.CrossTabService  ??M_1C_PROV>0&!form=y&!piv=Y
service=dubna.walt.service.CrossTabSubtotService ??

debug=on ??

makeSubtotals=y ??
keepLog=false

tableCfg=this
thsnDelimiter=&nbsp;
numDigits=1
NumSpecialCols=1

table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
$INCLUDE common.dat[colors]
[end]



[report header]
[end]


[item]
$GET_DATA [SQL_SUMMA]
<tr><td class="align_left">#DET#&nbsp;</td>
<td>
#SUM#&nbsp;
</td>
</tr>
$CALL_SERVICE c=cp/cf_sts_14; PID=#ST_PID#; 
[end]

[report footer]
[end]

================================ SQLs ================================

[preSQLs]
select ','''||id||'''' as "ST" from c2_st_dv_den_sredstv 
where 
pid='#PID#'
[end]

[SQL]
SELECT  std.DES as DET, std.id as ST_PID
FROM c2_st_dv_den_sredstv std
WHERE 
std.id in ('0'#ST#)
[end]


[SQL_SUMMA]
SELECT 
sum(#m#summa) as SUM ??
 replace(to_char(sum(#m#summa) / #scale#,'999,999,999,990.00'),',','&nbsp;') as SUM 
FROM prov2_#q_yr# p 

where
(p.acc like '51%' or p.acc like '52%')
and p.ACC2_CODE in(select id from c2_st_dv_den_sredstv connect by prior id=pid start with id='#ST_PID#')
[end]
