[parameters]
service=dubna.walt.service.TableServiceSpecial 

debug=on ??
keepLog=true

tableCfg=this
thsnDelimiter=&nbsp;
numDigits=1
NumSpecialCols=1

table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
$INCLUDE common.dat[colors]
[end]


[report header]
[end]



[item]
<tr><td class="align_left lb">#DET#&nbsp;</td>
<td>#VH_SAL#&nbsp;</td>
$SET_PARAMETERS POST=; RASH=; ISH_SAL=;
$GET_DATA [getDvSQL]
<td><a href="javascript:getDet('#B#','d');">#POST#</a>&nbsp;</td> ??!POST=0.00
<td>#POST#&nbsp;</td> ??POST=0.00
<td><a href="javascript:getDet('#B#','k');">#RASH#</a>&nbsp;</td> ??!RASH=0.00
<td>#RASH#&nbsp;</td> ??RASH=0.00
<td>
#ISH_SAL#  ??ISH_SAL
#VH_SAL#  ??!ISH_SAL
&nbsp;</td>
</tr>
[end]



[report footer]
[end]



================================ SQLs ================================

[preSQLs]
[end]

[SQL]
$INCLUDE [bank SQL] ??!f_det
[end]

[bank SQL]
SELECT b.name as DET
, replace(to_char(s.sum_rub / #scale#, '999,999,990.00'),',','&nbsp;') as "VH_SAL" 
, b.id as "B", s.sum_rub as "SAL"

FROM c2_banks b
left join C2_banks_saldo s on s.id=b.id

WHERE 1=1
and b.VAL='руб.' ??f_val=rub
and b.VAL<>'руб.' ??f_val=val
and not s.sum_rub is null ??!f_no_ds=on

order by b.name 
[end]


[getDvSQL]
select 
 replace(to_char(sum(decode(typ, 'd', summa, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "POST" 
, replace(to_char(sum(decode(typ, 'k', -summa, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "RASH"
, replace(to_char(( #SAL# + sum(summa) ) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "ISH_SAL" 

from prov2_#q_yr# p  

where p.ACC1_CODE=#B#

and (
p.acc like '51%'  ??f_val=rub|!f_val
or ??!f_val
p.acc like '52%'   ??f_val=val|!f_val
or p.acc like '55%' ??
) 
#tpq#

[end]

[TotalSQL]
select replace(to_char(sum(sum_rub) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "TOT_VH_SAL" 
, sum(sum_rub) as TOT_VH_SAL_
from C2_banks_saldo 
where
id in(select id from c2_banks b
WHERE 1=1
and b.VAL='руб.' ??f_val=rub
and b.VAL<>'руб.' ??f_val=val
)
;

select 
 replace(to_char(sum(decode(typ, 'd', summa, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "POST" 
, replace(to_char(sum(decode(typ, 'k', -summa, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "RASH"
, replace(to_char( ( #TOT_VH_SAL_# + sum(summa)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "ISH_SAL" 

from 
prov2_#q_yr# p  

where 
(
p.acc like '51%'  ??f_val=rub|!f_val
or ??!f_val
p.acc like '52%'   ??f_val=val|!f_val
or p.acc like '55%' ??
) 
#tpq#

[end]
