[parameters]
debug=on ??
keepLog=true

tableCfg=this
thsnDelimiter=&nbsp;
numDigits=1
NumSpecialCols=1

table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
$INCLUDE common.dat[colors]
[end]


[report]
<tr>
<td class="b_title" rowspan=3>#bg#

<div id="d_showdet_#bg#" style="margin:20px 40px 0 30px; width:40px; cursor:pointer;" onClick="showAccs('#bg#')">
<img src="#imgPath#b_more.gif">
</div>
<div id="d_hidedet_#bg#" style="display:none; margin:20px 40px 0 40px; width:40px; cursor:pointer;" onClick="hideAccs('#bg#')">
<img src="#imgPath#b_less.gif">
</div>
</td> 
$INCLUDE [line] param: val=руб.; 
</tr>

<tr>
$INCLUDE [line] param: val=USD; ??!bg=Депозиты
</tr>

<tr>
$INCLUDE [line] param: val=EUR; ??!bg=Депозиты
</tr>

<tr id="b_#bg#_det">
$CALL_SERVICE c=cp/b/cfbb; grp=#bg#; ??
<td colspan=6 class="tb">&nbsp;</td></tr>

[end]


[line] param: val=руб.; 
$SET_PARAMETERS VH_SAL=; POST=; RASH=; ISH_SAL=;
$GET_DATA [SQL line]
<td class="align_center">#val#&nbsp;</td>
<td>#VH_SAL#&nbsp;</td>
<td><a href="javascript:getDet('#bg#','d', true,'#val#');">#POST#</a>&nbsp;
</td>
<td><a href="javascript:getDet('#bg#','k', true,'#val#');">#RASH#</a>&nbsp;</td>
<td>#ISH_SAL#&nbsp;</td> ??ISH_SAL
<td>#VH_SAL#&nbsp;</td> ??!ISH_SAL
[end]

================================ SQLs ================================

[preSQLs]
[end]


[SQL line]
select ','||id as "BANKS" from c2_banks where grp='#bg#' and VAL='#val#'
;
SELECT sum(s.sum_rub) as "SAL_D"
, replace(to_char(sum(s.sum_rub) / #scale#, '999,999,999,990.00'),',','&nbsp;') as "VH_SAL" 
FROM C2_banks_saldo s 
WHERE s.id IN()'0#BANKS#' ??
where to_number(s.id) IN(0#BANKS#)
and dat=to_date('01.01.2014','DD.MM.YYYY')
;

select 
 ( #SAL_D# + sum(summa) ) / #scale# as "SAL_D" 
, replace(to_char(( #SAL_D# + sum(summa) ) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "VH_SAL" 

from prov2_#q_yr# p  

where to_number(p.ACC1_CODE) IN(0#BANKS#)
and (
p.acc like '51%'  ??val=руб.
p.acc like '52%' ??!val=руб.
or p.acc like '55%' ) 
and p.DAT between to_date('01.01.2014','DD.MM.YYYY') and to_date('#startdate#','DD.MM.YYYY')
;


select 
 replace(to_char(sum(decode(typ, 'd', summa, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "POST" 
, replace(to_char(sum(decode(typ, 'k', -summa, 0)) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "RASH"
, replace(to_char(( #SAL_D# + sum(summa) ) / #scale#,'999,999,999,990.00'),',','&nbsp;') as "ISH_SAL" 

from prov2_#q_yr# p  

where to_number(p.ACC1_CODE) IN(0#BANKS#)
and (
p.acc like '51%'  ??val=руб.
p.acc like '52%' ??!val=руб.
or p.acc like '55%' ) 

and p.DAT between to_date('#startdate#','DD.MM.YYYY') and to_date('#enddate#','DD.MM.YYYY')

[end]

