[parameters]
service=dubna.walt.service.TableServiceSimple

tableCfg=table.cfg 
thsnDelimiter=&nbsp;
numDigits=2

$INCLUDE plat/platList_v.cfg[parameters]
[end]


[report header]
$SET_PARAMETERS srn_sav=#srn#; rpp_sav=#rpp#; srn=1; rpp=99999;
[end]

[report footer]
<br>
$SET_PARAMETERS srn=#srn_sav#; rpp=#rpp_sav#; rowLinks=
[end]



================================ SQLs ================================
[SQL]
SELECT
''''||count(PB.SP16413) as TOT_NUM_DOCS
, sum(PB.SP16413) as TOT_SUM
, P.SP16402 as TOT_CURRENCY
FROM
  #t_plat_body# PB
  ,#t_plat_head# P
  ,#t_1c_journ# J
  ,#t_i_Kontragent# K
  ,#t_i_Kontragent# K2
  ,#t_val_racsh_schet# VRS
  ,#t_i_bank_val# BVAL
  
$INCLUDE plat/platListTable_v.cfg[criteria]

group by P.SP16402

order by count(PB.SP16413) desc
[end]


[colNames]
TOT_NUM_DOCS=Кол-во<br>документов
TOT_SUM=Сумма
TOT_CURRENCY=Валюта 
[end]

