[parameters]
title=Валютная платежка № #DOC_NO#
debug=off

t_plat_body=C1.DT16417@asu_db
t_plat_head=C1.DH16417@asu_db
t_1c_journ=A_1SJOURN
t_i_Kontragent=i_Kontragent
t_val_racsh_schet=C1.SC16395@asu_db
t_i_bank_val=C1.SC16388@asu_db

$INCLUDE plat/platList_v.cfg[parameters] ??
$INCLUDE common.dat[colors]
[end]


[report]
$INCLUDE [logged report]  ??
$INCLUDE [rep]
 ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#?c=doc/list";</script> ??xxx!logged
[end]

[rep]
$INCLUDE common.dat[head]
<link href="#imgPath#bord.css" rel="stylesheet" type="text/css">
<body>
<span class="basictextbold">ЗАЯВЛЕНИЕ НА ПЕРЕВОД </span>
<br>
<br>
<span class="smallhint">Дата:</span>
<span class="basictextbold"><u>#DAT#</u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;№ <u>#DOC_NO#</u></span><br>
<br>
<table  width="500" border="0" cellpadding="2" cellspacing="0" class="senw">
  <tr> 
    <td class="en"><span class="basictext">Наименование валюты, сумма</span></td>
    <td class="north"><span class="basictextbold">#CURRENCY#<br>
      #SUM#</span></td>
  </tr>
  <tr> 
    <td class="en"><span class="basictext">Получатель, номер счета получателя</span></td>
    <td class="north"><span class="basictext">#POLUCH#<br>
        #POLUCH_ACC#</span><br>
      </td>
  </tr>
  <tr> 
    <td class="en"><span class="basictext">Банк получателя, город, страна, отделение</span></td>
    <td class="north"><span class="basictext">#BNAME#<br>
        						#BADDR#<br>
        						#BTOWN#<br> 
        						#BCOUNTRY#<br>
        						#BBRANCH#</span></td>
  </tr>
  <tr> 
    <td class="east"><span class="basictext">Детали платежа</span></td>
    <td><span class="basictextbold">#DEST#</span></td>
  </tr>
</table>
</body>
</html>
[end]


================================ SQLs ================================
[preSQLs]
$SET_PARAMETERS srn=1; rpp=10  ??!rpp
;
SELECT 
''||J.DOCNO as DOC_NO 
, J.iddoc ??
, substr(J.DATE_TIME_IDDOC,7,2)||'.'||substr(J.DATE_TIME_IDDOC,5,2)||'.'||substr(J.DATE_TIME_IDDOC,1,4) AS DAT 
, K.DESCR ??
, K.NAME_SHORT as KONTRAG ??
, VRS.SP16389 as POLUCH_ACC
, K2.NAME_SHORT as POLUCH
, PB.SP16413 as SUM
, P.SP16402 as CURRENCY
, P.SP16401||'' AS DEST 
,BVAL.DESCR AS BNAME
,BVAL.SP16377 AS BADDR
,BVAL.SP16383 AS BBRANCH
,BVAL.SP16380 AS BCOUNTRY
,BVAL.SP16382 AS BTOWN
FROM 
  #t_plat_body# PB
  ,#t_plat_head# P
  ,#t_1c_journ# J
  ,#t_i_Kontragent# K
  ,#t_i_Kontragent# K2
  ,#t_val_racsh_schet# VRS
,c1.A_SC174@asu_db RS 
  ,#t_i_bank_val# BVAL


where

	trim(PB.IDDOC)=trim(P.IDDOC (+)) 
	and  trim(J.IDDOC)=trim(P.IDDOC)
	and  trim(P.SP16409)=trim(K.ID(+))  
	and trim(PB.SP16410)=trim(K2.ID)
	and trim(pb.sp16412)=trim(VRS.id)
	and trim(p.sp16405)=trim(RS.id)
	and trim(VRS.SP16390)=trim(BVAL.ID)
	and trim(J.DOCNO) like '#docno#'
	and trim(PB.Lineno_) like '#lineno#'

[end]

A_DT16417 PB,
A_DH16417 P
, c1.A_1SJOURN@asu_db J 
, i_Kontragent K 
, i_Kontragent K2  
, SC16395 VRS
, c1.A_SC174@asu_db RS ??
,SC16388 BVAL




