[parameters]
title=Синхронизация данных
debug=on
[end]


[preSQLs]
select to_char(d_dat, 'DD.MM.YYYY') as CURR_DAT from i_rate_desc where rownum < 2;

try: select 'Y' as PPO from dual@adb2_db;
try: select 'Y' as ADB2 from dual@ppo_db;
$SET_PARAMETERS getPreDataError=
;
[end]



[report]
$INCLUDE common.dat[head]

<body bgcolor=f0f8ff>
<blockquote>
<h4>Обновить справочники:</h4><p>
<form name=theForm method=post enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">

$CALL_SERVICE c=sync/syncRate.cfg 		??rate
$CALL_SERVICE c=sync/syncContrag.cfg 	??contrag

<input type="checkbox" name="rate" 
checked ??rate
>Курсы валют (есть данные на #CURR_DAT#)<p>
<input type="checkbox" name="contrag" 
checked ??contrag
>Контрагенты 
(дата обновления: ) ??
<p>

<input class=but type="submit" value="OK">
<input class=but type="button" value="Закрыть" onClick="window.close();">
</form>
</blockquote>
<hr>
</body></html>
[end]
