[parameters]
service=jinr.adb.ServiceSyncInfo
debug=on
[end]

==============================================================
===== Обновление справочника контрагентов 

ЧТО ДЕЛАЕМ:

1) коннектимся к ASU-LINK.MDB - в нем прицеплены таблицы ADB_I_KONTRAGENT (ORACLE-PPO)
  и dbo_A_Kontragent ( admnt )
  
2) метим все записи в adb_i_kontragent - ставим stat=-1;

3) копируем данные из dbo_A_Kontragent в adb_i_kontragent

4) удаляем помеченные (старые) записи из adb_i_kontragent
   и ставим для новых stat=0;

5) ===== коннектимся к ORACLE (PPO)

6) копируем данные через database link в другую БД 

[preSQLs]
update adb_i_kontragent set stat=-1;

INSERT into adb_i_kontragent (CODE, INN, NAME_SHORT, NAME, ADDR
 , ID, PARENTID, ISFOLDER, SP121,SP124, SP125, stat)	
SELECT CODE, SP126, DESCR, SP122, SP123
 , ID, PARENTID, ISFOLDER, SP121,SP124, SP125, 1 as stat
FROM dbo_a_kontragent	
;
delete from adb_i_kontragent where stat=-1;
update adb_i_kontragent set stat=0;

[end]


[report]
<b><i>
Обновление справочника контрагентов...
ОШИБКА! #CALL_SERVICE_ERROR# ??CALL_SERVICE_ERROR
</i></b>

$SET_PARAMETERS CALL_SERVICE_ERROR=

$GET_DATA [SyncContragSQL]

<br>Ошибка синхронизации данных с резервной копией! #GET_DATA_ERROR# ??GET_DATA_ERROR
OK<p>
[end]


[SyncContragSQL]
update i_kontragent@#otherDB# set stat=-1;

INSERT INTO i_kontragent@#otherDB# (CODE, INN, NAME_SHORT, NAME, ADDR
 , ID, PARENTID, ISFOLDER, SP121, SP124, SP125, stat)	

SELECT CODE, INN, NAME_SHORT, NAME, ADDR
 , ID, PARENTID, ISFOLDER, SP121, SP124, SP125, stat from i_kontragent;

delete from i_kontragent@#otherDB# where stat=-1;

update i_kontragent@#otherDB# set stat=0;

commit;

[end]

