[parameters]
service=dubna.ids.ServiceViewDoc ??
a1=<a class=s href="javascript:opn(
a2=</a>
title=#name#
true=1  ??MYSQL
true=true
false=0  ??MYSQL
false=false
$INCLUDE common.dat[colors]
[end]

[report]
$INCLUDE [theForm]  ??!cop=d&!cop=p
$INCLUDE [quit] ??cop=d|cop=p
[end]

[quit]
<html><body><script>
try
{ window.opener.refrSelf();} catch(e){} 
window.close();
</script></body></html>
[end]

[theForm]
$INCLUDE common.dat[head]
<SCRIPT language=JavaScript src="#imgPath#lib.js"></SCRIPT>
<STYLE type=text/css>
A.toc:link, A.toc:visited {color: #darkBlueColor#; text-decoration: underline }
A.toc:hover   { color: red; text-decoration: underline }
</STYLE>
<body BACKGROUND="#imgPath#b_n.gif">

<center>
<form name="theForm" method="POST">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<input type=hidden name="node_id" value="#node_id#">
<input type=hidden name="doc_id" value="#doc_id#">
<input type="hidden" name="allNodes" value="#allNodes#">

<p><center>
<table cellSpacing=0 cellPadding=0 border=1 width="95%">
<TR><TD width="100%" bgColor=#darkColor#>
<TABLE cellSpacing=1 cellPadding=6 width="100%" border=0>

<TR><td colspan=2 bgcolor=white align=left>
<i>#node_des#: </i><strong>#name#&nbsp;
(#des1#)  ??des1
</strong></td></tr>
<TR bgcolor=white><td width=20%></td><td width=80%></td>

#LabelTD# Раздел (сфера<br>деятельности): #DataTD# #paths#</TD>
#LabelTD# Описание: #DataTD##des2#</TD> ??des2
#LabelTD# Адрес: #DataTD##addr#</td>  ??addr
#LabelTD# Телефоны: </td><td class=d nowrap=true><div class=ff>#phone#</div></td>  ??phone

#LabelTD# Часы работы: #DataTD##times#</td>  ??times

<tr><td colspan=2 class=l nowrap=true>
Электронная почта: #mail#  ??mail
&nbsp;&nbsp;Адрес в Интернете: #web#    ??web
</td>

$INCLUDE [admin row] ??user_group=sys
<tr><td bgcolor=white colspan=2 width=100% align=center>
$INCLUDE common.dat[menu item] param: text=Изменить; nam=modif; href=javascript:modify(); ??user_group=sys|owner
$INCLUDE common.dat[menu item] param: text=Восстановить; nam=undel; href=javascript:undel();  ??user_group=sys&deleted=1
$INCLUDE common.dat[menu item] param: text=Удалить; nam=del; href=javascript:del();       ??user_group=sys|owner
$INCLUDE common.dat[menu item] param: text=Закрыть; nam=list; href=javascript:window.close(); ??user_group=sys|owner
<input type=button value="Закрыть" onClick="window.close();"> ??!user_group=sys&!owner
</TD></TR></TABLE>
</TD></TR></TABLE>
<p><center><table bgcolor=white width=90%><tr><th>Ваше "послание администратору":</th></tr><tr><td>#user_notes#</td></tr></table> ??user_notes&owner
<p><center><table bgcolor=white width=90%><tr><th>Замечания администратора:</th></tr><tr><td>#admin_notes#</td></tr></table> ??admin_notes&owner
$INCLUDE [owner msg] ??owner&!verified=1
</form>

<script>
var frm=document.theForm;
function userInfo(id)
{ openWindow("c=userInfo&id=" + id, "UserInfo", 450, 350);
}

function verify()
{ frm.cop.value="ver";
  frm.submit();
}

function opn(nodeId)
{ try{
    window.opener.top.openNode(nodeId);
    window.close();
  } catch (e) {}
}

function modify()
{ frm.c.value="docEdit";
  frm.submit();
}

function del()
{ if (! confirm (
  'Запись будет удалена!  '   ??!deleted=1
  'Запись #name# будет ОКОНЧАТЕЛЬНО удалена из базы данных !  '   ??deleted=1
      +'\n Вы действительно хотите ее удалить?'))
    return;

  frm.cop.value="d" ??!deleted=1
  frm.cop.value="p" ??deleted=1
  frm.submit();
}

function undel()
{ frm.cop.value="ud"
  frm.submit();
}

window.focus();
</script></center></body></html>
[end]

[admin row]
<tr bgcolor=white><td colspan=2></td> ??user_notes|admin_notes
#LabelTD#Пожелания,<br>замечания<br>пользователя: #DataTD##user_notes#</td> ??user_notes&c=docView
#LabelTD#Замечания<br>администратора:#DataTD##admin_notes#</td> ??admin_notes&c=docView

#LabelTD#Запись создана:<br>изменена:
<br>удалена:  ??deleted=1
#DataTD##cre#<br>#mod#
<br>#deleter#     ??deleted=1
</td>
#LabelTD#<input type=checkbox name=verified
onClick=verify(); ??c=docView
CHECKED ??verified=1
>проверена:#DataTD##ver#</td></tr>
<tr bgcolor=white><td colspan=2></td></tr>
[end]

[owner msg]

<p><center><table border=1 width=80% bgcolor=white cellpadding=6 cellspacing=0><tr><td align=center>
<b>Так будет выглядеть ваша запись на нашем сайте<br>
после проверки администратором (1-2 рабочих дня).</b><p>

До этого момента запись сможете видеть только Вы.<br><br>
В любое время Вы можете <b>изменить или удалить <i>свои</i></b> записи.<br>
Для этого Вам необходимо войти в систему, 
указав имя пользователя и пароль, заданные Вами при регистрации,
найти запись и нажать ссылку "Изменить" (или "Удалить") в этом окне
</th></tr></table></center>
[end]

[preSQLs]
$INCLUDE [verify SQL]     ??doc_id&cop=ver
$INCLUDE [delete SQL]     ??doc_id&cop=d
$INCLUDE [undel SQL]      ??doc_id&cop=ud
$INCLUDE [purge script]   ??doc_id&cop=p&user_group=sys

$INCLUDE [doc info script]   ??doc_id&!cop=d&!cop=p
[end]

[verify SQL]
UPDATE docs SET
verified=#true#, ver_timestamp=Now(), verifier_id=#user_id#   ??verified=on
verified=#false#  ??!verified=on
WHERE id=#doc_id#;
[end]

[delete SQL]
UPDATE docs set deleted=#true#, del_timestamp=Now(), deleter_id=#user_id# WHERE id=#doc_id#;
[end]

[undel SQL]
UPDATE docs set deleted=#false# WHERE id=#doc_id#;
[end]

[purge script]
DELETE FROM doc_containers WHERE doc_id=#doc_id#;
DELETE FROM docs WHERE id=#doc_id#;
[end]

[doc info script]
SELECT
name,des1,des2,times,user_notes,admin_notes,deleted,verified

,d.phone
,IIF(d.email <> '','<A href="mailto:'&d.email&'">'&d.email&'</a> ','') as mail
,IIF(www <> '','<A href="'&www&'">'&www&'</a>','') as web
,FORMAT(creation_timestamp,'dd.mm.yyyy')& ', <a href=javascript:userInfo('& d.creator_id& ')>'& cr.contact& '</a>' as cre ??user_group=sys
,FORMAT(modification_timestamp,'dd.mm.yyyy')& ', <a href=javascript:userInfo('& d.modifier_id& ')>'& mo.contact& '</a>' as mod ??user_group=sys
,FORMAT(ver_timestamp,'dd.mm.yyyy')& ', <a href=javascript:userInfo('& d.verifier_id& ')>'& ve.contact& '</a>' as ver ??user_group=sys
,FORMAT(del_timestamp,'dd.mm.yyyy')& ', <a href=javascript:userInfo('& d.deleter_id& ')>'& de.contact& '</a>' as deleter ??user_group=sys

FROM
  ((( ??user_group=sys
  docs d
  LEFT JOIN users cr ON cr.id=d.creator_id)  ??user_group=sys
  LEFT JOIN users mo ON mo.id=d.modifier_id) ??user_group=sys
  LEFT JOIN users ve ON ve.id=d.verifier_id) ??user_group=sys
  LEFT JOIN users de ON de.id=d.deleter_id   ??user_group=sys

WHERE d.id=#doc_id#;

SELECT '<IMG SRC="#imgPath#blues1.gif" border=0> '&path&des_link&'<br>' as paths
FROM parents p INNER JOIN doc_containers c ON p.node_id=c.node_id
WHERE  c.doc_id=#doc_id#;

select des as node_des from tree where id=#node_id#; ??node_id&!allNodes

SELECT 'y' as owner FROM docs WHERE id=#doc_id# AND creator_id=#user_id#;   ??user_id
[end]


