[parameters]
ADMIN=Y  ??g_sys=USER_GROUP|g_adm=USER_GROUP
KeepLog=true
$INCLUDE info/bc/common.dat[parameters]
[end]


[report]
$INCLUDE info/bc/common.dat[head]
<link rel="stylesheet" href="#cssPath#bluexa.css" type="text/css">
<STYLE type=text/css>
A.toc:link, A.toc:visited {color: #darkBlueColor#; text-decoration: none }
A.toc:hover   { color: red; text-decoration: underline }
body {margin-left: 0px;}
</STYLE>
<body BACKGROUND="#imgPath#b_ns.gif" style="margin-top:0">


$INCLUDE common.dat[top link]
<script> alert("#NODE_TYPE#/#activeNode#"); </script> ??
$SET_PARAMETERS NODE_TYPE=T; activeNode=#PID#;  ??cop=cbc&NODE_TYPE=BC
<blockquote>
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">

<table border=0 cellSpacing=0 cellPadding=0  width=30%>
<tr><td bgColor=#darkColor#>

$CALL_SERVICE c=info/bc/editCode; ??NODE_TYPE=BC|cop=cbc
$CALL_SERVICE c=info/bc/editNode; ??!NODE_TYPE=BC&!cop=cbc

<input type=hidden name="ID" value="#ID#">
<input type=hidden name="PID" value="#PID#">
<input type=hidden name="OLD_PID" value="">
<INPUT TYPE=hidden NAME="activeNode" VALUE="#activeNode#">

<span style="width:100%; background-color:white; text-align:right;"><small><i>изменение: #DAT#, #FIO#</i></small></span>  ??DAT
</td> ??

<td><img src="#imgPath#filler.gif" width="20" height="1" border="0"></td>

<td valign=top align=center width=10% nowrap=true>
<div style="background-color:white;">
<FIELDSET><LEGEND><b><i>Поиск:</i></b></LEGEND>
&nbsp;<br>&nbsp;<input type="text" class=xp size=15 name="f_search">&nbsp;<br>&nbsp;<br>
<input type="button" class=but value="Искать" onClick="doSearch();"><br>&nbsp;
</FIELDSET>
</div>
</td><td valign=top width=20%>.</td></tr></TABLE><center><br>
</form>
$GET_DATA [rollup budget] ??OLD_PID
</blockquote></center></body></HTML>
[end]


[rollup budget]
$EXEC_PROCEDURE {call rollup_budget (#OLD_PID#)}  ??
;
$EXEC_PROCEDURE {call rollup_budget (#PID#, '#q_yr#')} ??
;
[end]

$PRINT --------------cop=#cop#------------

[preSQLs]
$SET_PARAMETERS cop=g  ??!ADMIN
$SET_PARAMETERS activeNode=0; cop=g  ??!activeNode
;
SELECT TYPE as NODE_TYPE
 ,PID  ??!cop=u
FROM #table_tree_all# WHERE id=#activeNode#
[end]

