[parameters]
service=jinr.adb.ServiceTree
anchorColor=darkblue
anchorHoverColor=blue
KeepLog=true
$INCLUDE info/bc/common.dat[parameters]
[end]

[item]
tr[i++]=[#ID#,#PID#,'#DES#','#TYPE#','#INACTIVE#'];
$SET_PARAMETERS ID=; PID=; DES=; TYPE=; INACTIVE=;
[end]


[before tree]
$SET_PARAMETERS frame=TREE  ??!frame
<HTML><head>
<META http-equiv=Content-Type content='text/html; charset=windows-1251'>
<link rel='stylesheet' href='#cssPath#tree.css' type='text/css'>
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="cache-control" content="no-cache"> 
<meta http-equiv="cache-control" content="no-store"> 
<meta http-equiv="expires" content="0">
<SCRIPT>
var tr = new Array(); var i = 0;
top.beforeTree["#frame#"]="<HTML><HEAD><META http-equiv=Content-Type content='text/html; charset=windows-1251'>"
	+ "<link rel='stylesheet' href='#cssPath#tree.css' type='text/css'></HEAD>" 
  + "<BODY class=#frame#>"
	+ "<table cellpadding=0 cellspacing=0 width=100%><tr><td nowrap=true>"
	+ "<h4>&nbsp;&nbsp;Бюджетные коды</h4><p>";      ??!frame=TREE_PARENT
  + "<h4>Новый родительский раздел:</h4><p>";   ??xxxframe=TREE_PARENT
$INCLUDE [top parent]   ??frame=TREE_PARENT
[end]

[top parent]
  + "<h4>Новый родительский раздел:</h4>"
+ "<form name=theForm><input type=hidden name=newPID value='#activeNode#'>"
+ "<input type=button class=but value='ОК' onClick='top.setParent(document.theForm.newPID.value);'>&nbsp;"
+ "<input type=button class=but value='Отмена' onClick='top.showP();'><br>";
[end]

[after tree]
top.tr1=tr; ??frame=TREE
top.tr2=tr; ??!frame=TREE
top.afterTree["#frame#"]="#MORE_LINKS#";
top.outTree("#frame#");    ??!activeNode|frame=TREE_PARENT
top.keepCont = false;
top.openNode(#activeNode#,"#frame#");  ??activeNode&frame=TREE
top.excludeNode["#frame#"] = #exclude# ??XXXexclude
</SCRIPT></small></head></HTML>
[end]
top.openCont(#activeNode#,"#frame#");  ??xxxactiveNode

[more_links]
<hr>
$INCLUDE [tree_form]   ??frame=TREE
$INCLUDE [parent_form] ??frame=TREE_PARENT
<br><br><input type=submit class=button value="Обновить"> ??frame=TREE_PARENT

$INCLUDE [admin_controls]    ??frame=TREE&g_sys=USER_GROUP|USER_ID=268
</form></body></html>
[end]

[parent_form]
<form name=theForm> 
<input type=hidden name="c" value="#c#">
<input type=hidden name="frame" value="#frame#">
<input type=hidden name="activeNode" value="#activeNode#">

<input type=hidden name=newPID value="#activeNode#"> ??
<input type=button class=but value="ОК" onClick="top.setParent(document.theForm.newPID.value);">
<input type=button class=but value="Отмена" onClick="top.showP();">
[end]

[tree_form]
<form name=theForm>
<input type=hidden name="c" value="#c#">
<input type=hidden name="activeNode" value="#activeNode#">
<input type=hidden name=tm value="#tm#">

[end]


[admin_controls]

<input type=button name="create" class=but1 value="Создать подраздел" onClick='top.frames["CONT"].createNew();'><p>
<input type=button name="createBC" class=but1 value="Создать бюжетный код" onClick="top.frames['CONT'].createBC();"> <p>
<input type=button name="delete_" class=but1 value="Удалить раздел" onClick="top.frames['CONT'].delete_();"><p>
&nbsp;<p>
<input type=submit class=button value="Обновить">
<hr>
[end]


[preSQLs]
select count(*) as NUM_NODES from #table_tree_all#
[end]


[tree SQL]
select t.ID, t.PID
 ,decode (t.TYPE,'BC',t.code||': '
   ||decode (t.root_id,7, decode(t.sbj_code, null, t.name_short, t.name_short||'; Тема '||t.sbj_code) ,77, t.DES|| ' ('||t.name_short||')', name_short) ??xxx&!frame=TREE_PARENT
   ||decode(t.prikaz_id,null,'','пр.'||p.num||' п.'||t.prikaz_sn||', ')||decode (t.root_id,7, decode(t.sbj_code, null, t.name_short, t.name_short||'; Тема '||t.sbj_code) ,77, t.DES|| ' ('||r.resp||')', r.resp) ??!frame=TREE_PARENT
   ,t.name_short) as name_short 
 ,nvl(t.TYPE,'-'), decode(t.STATUS,'I','I','') as INACTIVE
from 
#table_tree_all# t ??!frame=TREE_PARENT
#table_tree# t 	  ??frame=TREE_PARENT
left join i_bc_resp r on r.bc=t.code
left join i_prikaz p on p.id=t.prikaz_id   ??!frame=TREE_PARENT
where  ??
ORDER BY t.pid,t.status, t.position,t.name_short
[end]
