[parameters]
title=*ЛОГ=>архив
debug=off

[end]

[report]
<html><head><TITLE>#title#</TITLE>
$INCLUDE adm/i_head.dat[head]
</head>

$GET_DATA [getArchTables]
$GET_DATA [move to achive] ??cop=Y&!TABLE_EXISTS

<body bgcolor=F4FFFA style="padding:20px;">
<table border=0 cellpadding=0 cellspacing=0 width=98%>
<tr><td width=90%><h3>База - лог запросов - сброс в архив</h3></td>
<td align=right nowrap=true>
</td><td align=right nowrap=true>
<a class=info href="/adb/adb">
Главная</a>
</td></tr></table>
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="Y">

<table border=0 cellpadding=8 style="border:solid 1px gray; margin:10px 0 0 200px; background-color:white;">
<tr><td style="text-align:right;">Записей в ACC_STORY: </td><td>#TOT_NUM_RECS#</td></tr>
<tr><td style="text-align:right;">Таблицы:</td><td>#TNAMES#</select></td></tr>
<tr><td colspan=2 align=center>
<input type="submit" value=" Сбросить в архив #ARCH_TABLE#"
disabled ??TABLE_EXISTS
></td></tr>
</table>
#ERROR#
</body>
</html>
[end]




****************************************************************************
****************************************************************************
****************************************************************************

[getArchTables]
select tname||'<br>' as TNAMES
from tab
where tname like 'ACC_STORY%'
order by tname
;
select count(*) as TOT_NUM_RECS from ACC_STORY
;
select 'ACC_STORY_'||to_char(SYSDATE,'YYYY_MM_DD') as ARCH_TABLE from dual
;
select tname as TABLE_EXISTS from tab
where tname='#ARCH_TABLE#'
[end]

[move to achive]
create table #ARCH_TABLE# as select * from ACC_STORY
;
truncate table ACC_STORY ??!ERROR
;
CREATE INDEX IDX_#ARCH_TABLE#_DAT ON #ARCH_TABLE# (DAT)
;
CREATE INDEX IDX_#ARCH_TABLE#_USER ON #ARCH_TABLE# (USER_ID)
;
[end]