[parameters]
debug=off
[end]

[report]
$PRINT getAR: USER_ID=#USER_ID#; ??
$SET_PARAMETERS_SESSION FIO=-; USER_GROUP=; logged=NO; ADMIN=;   ??!USER_ID|USER_ID=0

$GET_DATA [getAR] ??USER_ID>0|USER_ID<-1
$SET_PARAMETERS_SESSION FIO=#FIO_#; USR_LAB_CODE=#LAB_CODE#; ADMIN=#ADMIN_#; ??FIO_
$PRINT ARCH.getAR: USER_ID=#USER_ID#; FIO=#FIO#; USR_LAB_CODE=#LAB_CODE#; ADMIN=#ADMIN#; ??

[end]

[getAR]
select 'Y' as ADMIN_  
from USERRIGHTSONTREE 
where user_id=#USER_ID# and rights=3 and ROWNUM<2
;
select a.FIO as FIO_, l.LAB_CODE
from users a left join USER_LAB l on l.user_id=a.id 
where a.id=#USER_ID#
[end]
