[parameters]
service=dubna.walt.service.TableServiceSortableSpecial 

title=Материалы и оборудование

table_docs=docs_tst ??
table_docs=docs

wrapperTable=none ??prn
table_beg=<table border="0" cellspacing="0" cellpadding="1" style="border: solid 1px black"> ??prn
tableCfg=cp/lim/table.cfg 
makeTotalsForCols=SUMMA_RUB,SUMMA_USD
totRowLabel=Всего

sortCols=VIEW_NAME,TEXT_LENGTH,STATUS ??
thsnDelimiter=&nbsp;
NumSpecialCols=6
year = 20#q_yr#

$INCLUDE common.dat[colors] 
[end]


[item]
<tr valign=top 
bgcolor=
white  ??prn
#doc_del#	??DOC_STATUS=удаленный
#doc_new#	??DOC_SENT=n&DOC_PAYED=n&!DAT_BUH
#doc_sent#	??!DOC_SENT=n&DOC_PAYED=n&!DAT_BUH
#doc_buh#	??DAT_BUH&DOC_PAYED=n
#doc_payed#	??!DOC_PAYED=n
>
<td>
#REG_DATE#
</td>

<td nowrap=true> ??!payed=nal
<i>в бух.:</i><br> #DAT_BUH# ??!payed=nal&DAT_BUH&DOC_PAYED=n
<a class=sm href="javascript:getPP('#PLAT_1#')">#PLAT_1#</a><br>от #DAT_PLAT_1#  ??!payed=nal&PLAT_1
</td><td>#DOC_DATE#</td>	??!payed=nal

<td>#BC#</td>
<td>#RECEIVER#</td>
<td align=right>#SUMMA_RUB#</td>
<td align=right>#SUMMA_CURR#</td>	??SUMMA_CURR
<td align=right>#SUMMA_USD#</td>  ??
<td>&nbsp;&nbsp;#INFO#</td>
<td>#COMMENTS#&nbsp;</td>
<td>#APPROVED#&nbsp;</td> ??APPROVED
</tr>
[end]


[report header]
$SET_PARAMETERS f_year=#CURR_YEAR#  ??!f_year
$SET_PARAMETERS f_year= ??f_regdat1|f_paydat1|f_docdat1
$INCLUDE [logged report header]  ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#?#queryString#";</script> ??!logged
[end]


[logged report header]

$SET_PARAMETERS f_lab=#A_LABS#  ??!f_lab&A_LABS&tt
$SET_PARAMETERS LAB=Инфраструктура ОИЯИ ??f_lab=990

$SET_PARAMETERS full_report=on ??f_docNr|f_docdat2|f_docdat1
$SET_PARAMETERS srn=1; rpp=9999  ??!rpp
$SET_PARAMETERS srt=1; desc=DESC ??!srt
$SET_PARAMETERS showSigned=on ??f_signed

$GET_DATA [total SQL]

$INCLUDE common.dat[head]
<body 
bgcolor=F4FFFA ??!prn
>
<style> td {border-top: solid 1px ##aaaaaa;} </style> ??prn

<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="prn" value="#prn#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="payed" value="#payed#">
<input type=hidden name="f_lab" value="#f_lab#">
<input type=hidden name="id" value="#id#">
<input type=hidden name="noTable" value="">

<table border=0 cellpadding=5 bgcolor=white cellspacing=0 width=98%>
<tr><td width=90%>
<h3>#LAB#, статьи бюджета 5,6,10</h3>

</td>
<td align=right nowrap=true><a class=info href="#ServletPath#">Главная</a></td> ??!prn
</tr>
<tr><td width=90%>
<h4> 
Документы, поступившие в бухгалтерию с 01.01.#year# по #TODAY# ??xxx&!payed
Оплачено документов с 01.01.#year# по #TODAY# ??!payed
Оплачено счетов с 01.01.#year# по #TODAY#     ??payed=y
Хозрасчет+ОГЭ с 01.01.#year# по #TODAY#       ??payed=x
Наличные платежи с 01.01.#year# по #TODAY#    ??payed=nal
НЕ оплаченые счета ??payed=none
</h4>
&nbsp;&nbsp;&nbsp;&nbsp;
<a class=small href="#ServletPath#?c=cp/lim/det&id=#id#&payed=#payed#&prn=y" target=_blank><img src="#imgPath#printer.gif" width=25 height=17 border=0>ПЕЧАТАТЬ</a> ??!prn=y

</td></tr>
</table>

<a href="javascript:showFilters();"></a> ??

<blockquote style="margin:10; margin-left:50;">
$INCLUDE doc/search.dat[searchBox] ??

<table cellpadding=5 cellspacing=0 border=1 bgcolor=white><tr><th nowrap=true>
Всего документов: #TOT_NUM_DOCS#, &nbsp;
сумма: #TOT_SUMMA_RUB# руб. &nbsp;
( #TOT_SUMMA_USD# $ )
</th></tr></table>
</blockquote>

$INCLUDE [script]
[end]

[report footer]
<table border=0><tr><td bgcolor=black> ??form=y|prn=y
$INCLUDE common.dat[rpp] ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>

</form></center>
<script>window.print()</script> ??prn=y

</body></HTML>
[end]


================================ SQLs ================================
[preSQLs]
select des as LAB, LAB_CODE as "f_lab"
from limits where id=#id#;

select ''''||EXCL_BC||''',' as EXCL_BC
from limits_except
where id_limits=#id# and EXCL_BC is not null
;
select ''''||INCL_BC ||''',' as INCL_BC
from limits_except
where id_limits=#id# and INCL_BC is not null
;
[end]

[total SQL]
SELECT 
	count(d.doc_id) as TOT_NUM_DOCS
	, replace(to_char(sum(nvl(d.SUMMA_RUB,0)),'999,999,999,990'),',','&nbsp;') as TOT_SUMMA_RUB
	, replace(to_char(sum(nvl(d.SUMMA_USD,0)),'99,999,999,990'),',','&nbsp;') as TOT_SUMMA_USD	
FROM #table_docs# d, #budgetcodes_table# b, i_kontragent k
 , prixod p ??showPrix
WHERE 
	b.code(+)=d.BC
	and k.code(+)=d.RECEIVER_C
	and p.doc_id(+) = d.doc_id  ??showPrix
$INCLUDE [criteria]
;
[end]



[SQL]
SELECT 
	'<a class=info href="javascript:editDoc('''||d.doc_id||''')">№ '||d.DOC_ID
	||'</a><br><small>'||to_char(REG_DATE, 'DD.MM.YYYY')
	||decode(d.pid, 0,'',null,'','<br>(<a class=info href="javascript:editDoc('||d.pid||')"><small><i>род.&nbsp;док.№'||d.pid||'</a>) ')  ??xxx&!prn=y
	||'<br>('||t.doc_type||')'
	 REG_DATE
	
	,decode(d.doc_status,1,'1',s.doc_status) as DOC_STATUS ??!payed=nal 
	,'№ '||d.EXT_DOC_NR||'<br>'||to_char(d.DOC_DATE, 'DD.MM.YYYY') as DOC_DATE  ??!payed=nal
	
	,'<a class=info href="#ServletPath#?c=info/bc/top_tree&cop=g&activeNode='||b.id||'" target="codes">'
	||d.BC||'</a><br><small>'||r.NAME_SHORT||', '||l.DIV
	||decode(b.SBJ_CODE, null,'',', тема '||b.SBJ_CODE)
	||decode(b.DEV_CODE, null,'',', уст. '||b.DEV_CODE)||'</small>' BC
	
	, nvl(k.NAME_SHORT,d.RECEIVER) as RECEIVER
	, to_char(nvl(d.SUMMA_RUB,0),'99999999990') as SUMMA_RUB
	, decode(d.SUMMA_CURR,null,'',to_char(d.summa_curr,'999G999G999G990')||decode(d.CURR_CODE,810,'р.',840,' $',978,' €',756,' CHF',826,' GBP')) SUMMA_CURR  ??full_report=on
	, to_char(d.SUMMA_USD,'99999999990') as SUMMA_USD ??
	, INFO
	, comments
	, approval||'<br>'||to_char(approval_date, 'DD.MM.YYYY') as APPROVED ??full_report=on|f_approval|f_doc_status=2,3|f_doc_status=2|f_doc_status=3
	
	, nvl(to_char(d.SENT,'DD.MM HH24:MI'),'n') as DOC_SENT
	, nvl(to_char(d.DAT_BUH,'DD.MM HH24:MI'),'') as DAT_BUH
	, nvl(to_char(d.PAYED,'DD.MM.YYYY'),'n') as DOC_PAYED
	, decode (plat_1, null,'', PLAT_1||'<br> от '||to_char(d.DAT_PLAT_1,'DD.MM.YYYY')) as PLAT_1 ??
	, decode (plat_2, null,'', PLAT_2||'<br> от '||to_char(d.DAT_PLAT_2,'DD.MM.YYYY')) as PLAT_2 ??
	, ''''||PLAT_1 as PLAT_1, to_char(d.DAT_PLAT_1,'DD.MM.YYYY') as DAT_PLAT_1
	, decode (plat_2, null,'', PLAT_2||'<br> от '||to_char(d.DAT_PLAT_2,'DD.MM.YYYY')) as PLAT_2

FROM #table_docs# d, #budgetcodes_table# b, i_lab l, #tree_table# r, doc_types t, doc_statuses s
 , i_kontragent k
 , prixod p ??showPrix
WHERE 
	b.code(+)=d.BC
	and l.code(+)=b.LAB_CODE
	and r.id(+) = b.root_id
	and t.id(+)=d.doc_type
	and s.id(+)=d.doc_status
	and k.code(+)=d.RECEIVER_C
	and p.doc_id(+) = d.doc_id  ??showPrix

$INCLUDE [criteria]

ORDER BY 
	d.doc_id #desc# ??srt=1
	d.PAYED  #desc#, d.DOC_ID  #desc# ??srt=2&payed=y
	decode(d.PAYED, null,0,1) #desc#, d.PAYED #desc#, decode(d.SENT, null,0,1) #desc#, d.SENT #desc#, d.DOC_ID  #desc#	??srt=2&!payed=y
	#srt# #desc# ??!srt=1&!srt=2
[end]


[criteria]
	and (d.CONS='3' or d.aggr='10')
    and d.doc_status <> 5

 	and not d.PAYED is null ??xxx!payed
 	and d.PAYED is null and d.doc_type not in (2,6) ??payed=none

and (
  d.PAYED between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')
  or d.DAT_BUH between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI') ??payed=none
  or (d.DOC_SUBTYPE=1 and d.DOC_DATE between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')) ??!payed=none
  or (d.REG_DATE between to_date('01.01.#year#','dd.mm.yyyy') and to_date('31.12.#year# 23:55','dd.mm.yyyy HH24:MI')) ??payed=nal
)
	and d.doc_type=7  ??payed=nal
	and d.doc_subtype=1  ??payed=x
	and not d.doc_type=7 and not d.doc_subtype=1 ??payed=y
	
	and b.code not in (#EXCL_BC#'0') ??EXCL_BC
	and b.code in (#INCL_BC#'0')  ??INCL_BC
	and b.code like '%#f_bc#' ??f_bc&!f_bc=null
	and (b.code is null or b.code='') ??f_bc=null
	and b.LAB_CODE=#f_lab#  ??f_lab&!f_lab=null
	and b.LAB_CODE is null  ??f_lab=null
	and (b.LAB_CODE in (#A_LABS#) or d.creator_id=#USER_ID#)  ??A_LABS
	
	and b.SBJ_CODE like '%#f_sbj#'  ??f_sbj
[end]

[dat payed]
[end]

[colNames]
DOC_DATE=Внешний&nbsp;№,<br>дата
REG_DATE=&nbsp;&nbsp;&nbsp;&nbsp;Документ&nbsp;&nbsp;&nbsp;&nbsp;<br>
DOC_STATUS=Платежное<br>поручение  ??!payed=nal&!payed=none
DOC_STATUS=Статус  ??payed=none
PRIX=Приход<br>
SIGNED=Инициатор
CREATOR_ID
MODIFIER_ID
MODIF_DATE
RECEIVER=Контрагент<br>
INFO=Назначение&nbsp;платежа<br>
SUMMA_RUB=Сумма<br>(руб)
SUMMA_CURR=Сумма<br>(в&nbsp;валюте)
CURR_CODE=Валюта<br>
SUMMA_USD=Эквив.<br>в $
BC=Бюджетный&nbsp;код<br>
COMMENTS=Комментарий<br>
APPROVED=Финальная<br>подпись
[end]


[script]
<script>
var frm=document.theForm;
//window.focus();
function editDoc(docId)
{ openWindow("c=doc/docEdit&DOC_ID="+docId,"docEdit"+docId,1000,650);
}

function newDoc()
{ openWindow("c=doc/docEdit&cop=c","docEdit"+(new Date()).getTime(),1000,650);
}

function getPayed()
{ openWindow("c=doc/getPayed","getPayed",950,600);
}

function getPP(nomPlat)
{ openWindow("c=plat/plat&docno=" + nomPlat, "plat", 800,650);
}

function doIt()
{ if (!checkFields()) return false;
  frm.srn.value="1";
  frm.submit();
  return true;
}

function checkFields()
{ if (!checkDate("f_docdat1","Дата документа")) return false;
  if (!checkDate("f_docdat2", "Дата документа")) return false;
  if (!checkDate("f_regdat1", "Дата регистрации")) return false;
  if (!checkDate("f_regdat2", "Дата регистрации")) return false;
  if (!checkFloat("f_summa",null,null,"Сумма")) return false;  
  if (!checkFloat("f_regnr",null,null,"Рег.№ документа")) return false;  
  return true;
}

function opn(nodeId,bc)
{ //alert (typeof opener);
if (typeof top.frames[1] == "object")
top.openNode(nodeId);
else if (typeof opener == "object")
{ opener.setBC (nodeId,bc);
  window.close();
}
}

function goToRow(nr){ frm.srn.value=nr;  frm.submit();}

function setDesc()
{
  frm.desc.value="DESC";  ??!desc
  frm.desc.value="";      ??desc
  frm.submit();
}

function setSort(colNr)
{
  var oldsrt = #srt#; ??srt
  var oldsrt = -1;    ??!srt
  if (oldsrt == colNr)
  {
    frm.desc.value="DESC";  ??!desc
    frm.desc.value="";      ??desc
  }
  else
    frm.desc.value="DESC";
  frm.submit();
}


function blockError(){return true;}
//window.onerror = blockError;
</script>
[end]
