get_new_object.cfg

[comments]
descr=S: Запрос нового объекта из gateway (для отладки)
input=
output=
parents=
childs=
test_URL=?c=gateway/get_new_object
author=Куняев
[end]


[parameters]
request_name=S:Запрос объекта
service=jinr.adb.gateway.ServiceGetNewObject
LOG=ON
GatewayHost=http://ak0211.jinr.ru:8084/gateway/a
encoding=Cp1251 ??
encoding=utf-8
[end]


[request]
Command=GetNewObject
Ver=1
ClientID=2
ObjectType=5 ??
[end]

Time=

[report]
$INCLUDE [print data]
$CALL_SERVICE c=gateway/register_object.cfg; ??!ERROR&GateObjectID>0
#ERROR#
</body></html>
[end]



[print data]
<html><HEAD><TITLE>ADB2</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
<meta name="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta http-equiv="pragma" content="no-cache">
</head><body>
REQUEST:<xmp>
$INCLUDE [request]
</xmp><br><br>
RESPONCE:<br>
#responce#
<hr>
Object=#Object#
<hr>
[end]