gateway/post_ALL_WU.cfg


[comments]
descr=S: Посылка всех WU в gateway
input=object_id - ID WU
output=
parents=gateway/post_object.cfg
childs=
test_URL=?c=gateway/post_ALL_WU&currId=147&VER=11&f_CURR_YR=2017
author=Куняев
[end]
f_CURR_YR=2017&VER=11&currId

[parameters]
request_name=S:Посылка всех WU
service=dubna.walt.service.TableServiceSpecial
title=*** NICA - структура проекта ***
debug=off
LOG=ON
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
[end]

[report header]
$SET_PARAMETERS VER=11; ??!VER
$CALL_SERVICE c=nica/e_updateAllParents; 
$SET_PARAMETERS mode=all;
[end]

[item]
#TYP#: #object_id# (LEV=#LEV#)<br>
$CALL_SERVICE c=gateway/post_object
[end]

[report footer]
DONE!
<hr>
[end]

[SQL]
select vd.W_ID as "object_id", w.TYP as "object_type",  w.LEV
from nica_ver_data vd
left join nica_wbs_wu w on w.id=vd.W_ID
where  vd.version=#VER# 
    and w.LEV > 1
    and (extract(year from vd.date_start)=#f_CURR_YR# or extract(year from vd.date_finish)=#f_CURR_YR#)
and vd.W_ID=22582 ??
and vd.W_ID in( select id from nica_wbs_wu connect by prior id=pid start with id=#currId#) ??currId

order by w.LEV desc, vd.W_ID desc
[end]