post_WBS.cfg


[comments]
descr=S: Посылка WBS в gateway
input=object_id - ID WBS
output=
parents=gateway/post_object.cfg
childs=
test_URL=?c=gateway/post_WBS&object_id=168
author=Куняев
[end]

22168

[parameters]
request_name=S:Посылка WBS
service=jinr.adb.gateway.ServicePostObject
LOG=ON
encoding=utf-8
[end]

[getObject]
$LOG <b>============== post_WBS: wbs_id=#object_id#; ==================</b><br>
$SET_PARAMETERS wbs_id=#object_id#;
$SET_PARAMETERS VER=11; ??!VER
$GET_DATA [getWBS]
$SET_PARAMETERS SEND_PARENT=Y; object_type=WBS; object_id=#PID#;  ??LEV>1
[end]

nica/i_getWU.cfg

[request]
Ver=1
ClientID=#GatewayClientId#
Command=PutObject
ObjectType=4
ClientObjectID=WBS#wbs_id#
Time=#MODIFIED#
[end]


DOC_TYPE=4
LINK=#ServerPath##ServletPath#?sid=#wbs_id#"

[object]
ID=#ID#
PID=#PID#
ROOT_ID=#ROOT_ID#
TYP=WBS
LEV=#LEV#
ORDER_IN_LEVEL=#ORDER_IN_LEVEL#
CODE=#CODE#
TITLE=#TITLE#
TITLE_E=#TITLE_E#
DES=#DES#
DES_E=#DES_E#
RESP=#RESP#
RESP_E=#RESP_E#
RESP_EMAIL=#RESP_EMAIL#
DEPUTY=#DEPUTY#
DEPUTY_E=#DEPUTY_E#
DEPUTY_EMAIL=#DEPUTY_EMAIL#
MOL=#MOL#
DIV=#DIV#
DATE_START=#DATE_START#
DATE_FINISH=#DATE_FINISH#
CRITICAL=#CRITICAL#
REPORTING=#REPORTING#
MILESTONE=#MILESTONE#
VER=#VER#
PRICETOTALPLAN=#PRICETOTALPLAN#
FIN_SRC=#FIN_SRC#
PRICEDISTR=#PRICEDISTR#
EV=#EV#
ACTIVE=#ACTIVE#
CREATED=#CREATED#
CREATOR_ID=#CREATOR_ID#
MODIFIED=#MODIFIED#
MODIFIER_ID=#MODIFIER_ID#
DELETED=#DELETED#
[end]


NUM_CHILDREN=#NUM_CHILDREN#
NUM_WBS=#NUM_WBS#
NUM_WU=#NUM_WU#



[report]
$INCLUDE [print request]    ??mode=print
$LOG <b>Encoded Data:</b>#encodedData#<br> ??
[end]

[print request]
USER_ID=#USER_ID#; ??
<hr>
Request:<xmp>
$INCLUDE [request]
Object={#JSON#} ??
</xmp>
Object:
$INCLUDE [object]
<hr>
Responce:<br><xmp>
#responce#</xmp>
<hr>
<b>Encoded Data:</b>#encodedData#<br> ??
[end]


[getWBS]
select ID, PID, ROOT_ID, NUM_CHILDREN, LEV
, ORDER_IN_LEVEL, CODE, TITLE, TITLE_E, DES, DES_E
, RESP, RESP_E, RESP_EMAIL, DEPUTY, DEPUTY_E, DEPUTY_EMAIL
, MOL, DIV
, to_char(DATE_START,'DD.MM.YYYY') as DATE_START
, to_char(DATE_FINISH,'DD.MM.YYYY') as DATE_FINISH
, CRITICAL, REPORTING
, MILESTONE, VER, PRICETOTALPLAN, FIN_SRC, PRICEDISTR
, EV, ACTIVE
, to_char(CREATED,'DD.MM.YYYY HH24:MI:SS') as CREATED
, to_char(MODIFIED,'DD.MM.YYYY HH24:MI:SS') as MODIFIED
, CREATOR_ID, MODIFIER_ID, NUM_WBS, NUM_WU, DELETED 
from nica_wbs where id=#object_id#
[end]

select ID, PID, CODE, ROOT_ID, LEV, ORDER_IN_LEVEL
, TITLE, TITLE_E, DES, DES_E, RESP, RESP_E, RESP_EMAIL
, DEPUTY, DEPUTY_E, DEPUTY_EMAIL, MOL
, DURATION
, to_char(DATE_START,'DD.MM.YYYY') as DATE_START
, to_char(DATE_FINISH,'DD.MM.YYYY') as DATE_FINISH
, CRITICAL, REPORTING, MILESTONE, VER, PRICETOTALPLAN, PRICEDISTR, EV, ACTIVE
, to_char(CREATED,'DD.MM.YYYY HH24:MI:SS') as CREATED
, CREATOR_ID
, to_char(MODIFIED,'DD.MM.YYYY HH24:MI:SS') as MODIFIED
, MODIFIER_ID, PRI, DELETED 
from nica_wu where id=#object_id#
