gateway/receive_24_zajavka.cfg

НЕ СДЕЛАНО: 
 - вытаскивание факта из "бюджет факт" - отдельно, при импорте "бюджет факт" по утрам
 - определение приказа и пункта
 - подстраховка (сверка) с № АДБ

[parameters]
request_name=S:Прием заказа поставщику
LOG=ON
[end]


[report]
$LOG1 <hr><b>===>>> receive_24_zajavka.cfg</b><br>
$LOG5 object=#Object#;<br> 
$SET_PARAMETERS ERR_CODE=0; ERROR=; 
$SET_PARAMETERS ERROR=Отсутствует Элемент; ??!Элемент
$SET_PARAMETERS ERROR=#ERROR# Отсутствует Элемент Ref; ??!Элемент_Ref
$SET_PARAMETERS ERROR=#ERROR# Отсутствует СуммаДокумента; ??!СуммаДокумента
$SET_PARAMETERS ERROR=#ERROR# Отсутствует РасшифровкаПлатежа; ??!РасшифровкаПлатежа&ZZZ


$GET_DATA [check existing record] ??!ERROR
$GET_DATA [create record]   ??!DOC_EXISTS
$GET_DATA [get fields]      ??!ERROR
$SET_PARAMETERS NICA_ID=null;   ??!NICA_ID
$GET_DATA [update record]   ??!ERROR
$GET_DATA [set fields]      ??!ERROR
$GET_DATA [setSums]         ??!ERROR

$CALL_SERVICE c=gateway/receive_24_zajavka_tabl; ??ZZZ&!ERROR&РасшифровкаПлатежа.count>0

$SET_PARAMETERS DOC_ID=#Элемент_Ref#
$SET_PARAMETERS ResultCode=3; ERR_CODE=3; Result=#ERROR#; ??ERROR
[end]

============================================================================
============================================================================
============================================================================

[check existing record]
select 'Y' as DOC_EXISTS from C3_REQUESTS
where REF='#Элемент_Ref#'
[end]


[create record]
insert into C3_REQUESTS (doc, ref, DOC_TYPE, REQUEST, REQUEST_REF)
values ('#Элемент#', '#Элемент_Ref#', 'Заявка', '#Элемент#', '#Элемент_Ref#')
[end]
 

[get fields]
    select regexp_substr('#ОИЯИ_НИКА#', '[[:digit:],\.]+[[:space:]]') as "NICA_CODE" from dual ??ОИЯИ_НИКА
;
    select id as "NICA_ID" from nica_wbs_wu where code='#NICA_CODE#' ??NICA_CODE
[end]

[update record]
    update C3_REQUESTS set 
        SCENARII='#Сценарий#'
        , VID_OPER='#ВидОперации#'
        , DATA_RASH=to_date('#ДатаРасхода#', 'DD.MM.YYYY HH24:MI:SS') ??ДатаРасхода
        , CONTRAGENT='#Контрагент#'         ??Контрагент
        , CONTRAGENT_REF='#Контрагент_Ref#' ??Контрагент
        , CONTRAGENT='#Получатель#'         ??!Контрагент
        , CONTRAGENT_REF='#Получатель_Ref#' ??!Контрагент

        , RESP='#Ответственный#'
        , RESP_REF='#Ответственный_Ref#'
        , COMMENTS='#Комментарий#'
        , PRIKAZI='#Приказы#'
        , STATUS='#Состояние#'
        , DIV='#ЦФО#'
        , DIV_REF='#ЦФО_Ref#'
        , STATIA='#СтатьяОборотов#'
        , STATIA_REF='#СтатьяОборотов_Ref#'
        , CURR='#ВалютаДокумента#'
        , SUMM_VAL=#СуммаДокумента#  ??СуммаДокумента
        , RATE=#КурсДокумента# ??КурсДокумента

        , FORMA_OPL='#ФормаОплаты#'
        , VID_VIDACHI='#ВидВыдачиДенежныхСредств#'
        , KRATNOST='#КратностьДокумента#'
        , DOC_OSN='#ДокументОснование#'
        , DOC_OSN_REF='#ДокументОснование_Ref#'
        
        , NICA_CODE='#NICA_CODE#'
        , NICA_ID=#NICA_ID#
        , ADB_NR=#№_ADB#  ??№_ADB
        , DATE_UPD=SYSDATE
    where ref='#Элемент_Ref#'
[end]

[set fields]
    update C3_REQUESTS p set 
        p.is_Budget=case when p.Scenarii='Бюджет' then 1 else 0 end
        , REQ_NR=to_number(trim(regexp_substr(REQUEST,'[[:space:]][[:digit:]]+[[:space:]]',5)))
        , REQ_DATE=to_date(regexp_substr(REQUEST,'[[:space:]]([[:digit:]]{2}\.){2}[[:digit:]]{4}',20),'DD.MM.YYYY')
        , DIV_1C_CODE=(select code from c3_CFO c where c.ref=p.DIV_REF)
        , p.AGGR=(select AGGR from C3_STATI s where s.ref=p.STATIA_REF) 
        , DOC_OSN_TYPE=case 
            when DOC_OSN like 'Заказ поставщику%' then 'Заказ'
            when DOC_OSN like 'Счет на оплату поставщика%' then 'Счет' 
            when DOC_OSN like 'ПТУ%' then 'ПТУ'
            when DOC_OSN like 'Поступление%' then 'ПТУ'
            when DOC_OSN like 'Авансовый отчет%' then 'АО'
            when DOC_OSN is null and VID_OPER like '%выдача подотчетному лицу%' then 'Аванс'
            else null end
        , DOC_OSN_NR=to_number(trim(regexp_substr(DOC_OSN,'[[:space:]][[:digit:]]+[[:space:]]',5)))
        , DOC_OSN_DAT=to_date(regexp_substr(DOC_OSN,'[[:space:]]([[:digit:]]{2}\.){2}[[:digit:]]{4}',20),'DD.MM.YYYY')
    where ref='#Элемент_Ref#'
;
    select des as "FIN_SRC", id as "PROJECT_CODE"
    from c3_projects where 
        ref='#ДоговорКонтрагента_Ref.1.Проект_Ref#'  ??ДоговорКонтрагента_Ref.1.Проект_Ref
        ref='#СтатьяДвиженияДенежныхСредств_Ref.1.Проект_Ref#'  ??!ДоговорКонтрагента_Ref.1.Проект_Ref
;
    update C3_REQUESTS p set 
        p.REQ_YR = extract(year from p.REQ_DATE)
        , DIV_CODE=DIV_1C_CODE/1000
        , sbj='#FIN_SRC#'
        , PROJECT_CODE='#PROJECT_CODE#'
    where ref='#Элемент_Ref#'
[end]



[end]


[setSums]
    $GET_DATA [setSums1] ??СуммаДокумента&ВалютаДокумента
    $GET_DATA [setSums1-1] ??ВалютаДокумента=USD|ВалютаДокумента=EUR
    $GET_DATA [setSums2]  
    $GET_DATA [setSums3]  
    $GET_DATA [setSums4]  ??
[end]


[setSums1]
    update C3_REQUESTS set curr_code=decode(curr, 'руб.', 810, 'USD', 840, 'EUR', 978, 0)
        , SUMM_RUB=SUMM_VAL  ??ВалютаДокумента=руб.
            , SUMM_USD=SUMM_VAL/(select curr_rate from I_RATE_DESC r where r.d_dat<=REQ_DATE and r.curr_code=840 and rownum=1)  ??ВалютаДокумента=руб.
            , SUMM_EUR=SUMM_VAL/(select curr_rate from I_RATE_DESC r where r.d_dat<=REQ_DATE and r.curr_code=978 and rownum=1)  ??ВалютаДокумента=руб.       
        , SUMM_USD=SUMM_VAL ??ВалютаДокумента=USD
            ,SUMM_RUB=SUMM_VAL*(select curr_rate from I_RATE_DESC r where r.d_dat<=REQ_DATE and r.curr_code=840 and rownum=1)   ??ВалютаДокумента=USD
        , SUMM_EUR=SUMM_VAL ??ВалютаДокумента=EUR
            , SUMM_RUB=SUMM_VAL*(select curr_rate from I_RATE_DESC r where r.d_dat<=REQ_DATE and r.curr_code=978 and rownum=1)  ??ВалютаДокумента=EUR
    where ref='#Элемент_Ref#'
[end]

[setSums1-1]
    update C3_REQUESTS set       
            SUMM_EUR=SUMM_RUB/(select curr_rate from I_RATE_DESC r where r.d_dat<=REQ_DATE and r.curr_code=978 and rownum=1) ??ВалютаДокумента=USD
            SUMM_USD=SUMM_RUB/(select curr_rate from I_RATE_DESC r where r.d_dat<=REQ_DATE and r.curr_code=840 and rownum=1) ??ВалютаДокумента=EUR
    where ref='#Элемент_Ref#'
[end]

[setSums2]
    update C3_REQUESTS r set
     r.SUMM_RUB_FACT=(select sum(p.S_RUB) from c2_BudgetPlan p where p.REQUEST=r.REQUEST and p.SCENARII=r.SCENARII and (p.DIV_CODE=r.DIV_CODE or p.div_code is null) and p.PROJECT=r.PROJECT_CODE and (p.STORNO is null or p.STORNO=0) )
    ,r.SUMM_USD_FACT=(select sum(p.S_USD) from c2_BudgetPlan p where p.REQUEST=r.REQUEST and p.SCENARII=r.SCENARII and (p.DIV_CODE=r.DIV_CODE or p.div_code is null) and p.PROJECT=r.PROJECT_CODE and (p.STORNO is null or p.STORNO=0) )
    ,r.SUMM_EUR_FACT=(select sum(p.S_EUR) from c2_BudgetPlan p where p.REQUEST=r.REQUEST and p.SCENARII=r.SCENARII and (p.DIV_CODE=r.DIV_CODE or p.div_code is null) and p.PROJECT=r.PROJECT_CODE and (p.STORNO is null or p.STORNO=0) )
    where r.ref='#Элемент_Ref#'
[end]

[setSums3]
    update C3_REQUESTS r set
     r.FACT_YR=(select max(extract(year from f.PLANDAT)) from c2_BudgetFact f where f.REQUEST=r.REQUEST and (f.STORNO is null or f.STORNO=0) )
    ,r.SUMM_RUB_FACT=(select sum(f.S_RUB) from c2_BudgetFact f where f.REQUEST=r.REQUEST and f.SCENARII=r.SCENARII and (f.DIV_CODE=r.DIV_CODE or f.div_code is null) and f.PROJECT=r.PROJECT_CODE and (f.STORNO is null or f.STORNO=0) )
    ,r.SUMM_USD_FACT=(select sum(f.S_USD) from c2_BudgetFact f where f.REQUEST=r.REQUEST and f.SCENARII=r.SCENARII and (f.DIV_CODE=r.DIV_CODE or f.div_code is null) and f.PROJECT=r.PROJECT_CODE and (f.STORNO is null or f.STORNO=0) )
    ,r.SUMM_EUR_FACT=(select sum(f.S_EUR) from c2_BudgetFact f where f.REQUEST=r.REQUEST and f.SCENARII=r.SCENARII and (f.DIV_CODE=r.DIV_CODE or f.div_code is null) and f.PROJECT=r.PROJECT_CODE and (f.STORNO is null or f.STORNO=0) )
    where r.ref='#Элемент_Ref#'
[end]

[setSums4]
    update C3_REQUESTS r set
     r.SUMM_RUB=r.SUMM_RUB_FACT
    ,r.SUMM_USD=r.SUMM_USD_FACT
    ,r.SUMM_EUR=r.SUMM_EUR_FACT
    where not r.SUMM_RUB_FACT is null
    and r.ref='#Элемент_Ref#'
[end]



==================== ВОПРОСЫ ==========================

1. Организовать выгрузку справочников:
  1: Контрагент (добавить ИНН или выгружать универсальным запросом)
  9: Проект
  10: Статья затрат
  11: Номенклатурная группа (не ясно, чем отличается от "Проектов")
  12: Статья движения Денежных средств
  13: Назначение Целевых Средств
  14: Приказ Полномочного Представителя
  15: Статья Оборотов По Бюджетам

Запрос в 1С на перевыгрузку забирается, но не обрабатывается

В справочниках есть пометки на удаление?


-------------------------------------------------------
4. КЗР - ЗаявкаНаРасходованиеСредств_Ref - повторяется в документе и в табл.части.
Могут ли они быть разными?



2. КурсДокумента и КурсВзаиморасчетов - разные
ДатаРасхода и дата заявки - одинаковые (Заявка на расход денежных средств 00000034548 от 28.11.2016 14:59:15)
