gateway/receive_23_rate.cfg

[parameters]
request_name=S:Прием курса валюты
LOG=ON
[end]


[report]
$LOG <hr><b>===>>> receive_23_rate.cfg</b><br>
$LOG object=#Object#;<br> 
$SET_PARAMETERS ERR_CODE=0; ERROR=; 
$SET_PARAMETERS ERROR=Отсутствует Дата (Date); ??!Date
$SET_PARAMETERS ERROR=Отсутствует код валюты (code); ??!code
$SET_PARAMETERS ERROR=Отсутствует название валюты (charCode); ??!charCode
$SET_PARAMETERS ERROR=Отсутствует номинал (nominal); ??!nominal
$SET_PARAMETERS ERROR=Отсутствует курс (rate); ??!rate

$GET_DATA [check existing record] ??!ERROR
$GET_DATA [create record] ??!DOC_EXISTS
$GET_DATA [update record] ??!ERROR&DOC_EXISTS

$SET_PARAMETERS DOC_ID=rate_#DAT#_#code#
$SET_PARAMETERS ResultCode=3; Result=#ERROR#; ??ERROR
$INCLUDE [send2BHT]  ??!ERROR
[end]

[send2BHT]
$SET_PARAMETERS val=DOLL; ??code=840
$SET_PARAMETERS val=EUR; ??code=978
$SET_PARAMETERS val=CHF; ??code=756
$SET_PARAMETERS URL_RESPONCE_PARAM=RESPONCE;
$GET_URL https://adb.jinr.ru/bht3?c=valuta/getKurs&YYYY=#YEAR#&mm=#MM#&dd=#DD#&#val#=#RATE#
$SET_PARAMETERS RESULT_COMMENT=, #RESPONCE##URL_ERROR#;
$LOG3 <b>===>>> RESULT_COMMENT=#RESULT_COMMENT#</b><br>
[end]

#URL# ??

http://adb.jinr.ru/bht3?c=valuta/getKurs&year=2016&mm=12&dd=09&DOLL=66.6666&CHF=55.5555&EUR=77.7777
============================================================================
============================================================================
============================================================================

[check existing record]
select to_char(TO_DATE('#Date#', 'DD/MM/YYYY'), 'YYYYMMDD') as "DAT" 
, to_char(TO_DATE('#Date#', 'DD/MM/YYYY'), 'YYYY') as "YEAR" 
, to_char(TO_DATE('#Date#', 'DD/MM/YYYY'), 'MM') as "MM" 
, to_char(TO_DATE('#Date#', 'DD/MM/YYYY'), 'DD') as "DD" 
, #rate# / #nominal# as RATE
from dual
;
select 'Y' as DOC_EXISTS from i_rate
where dat=#DAT# and curr_code=#code#
[end]


[create record]
insert into i_rate (dat, d_dat, curr_code, curr_rate, changed)
values (#DAT#, TO_DATE('#Date#', 'DD/MM/YYYY'), #code#, #RATE#, SYSDATE)
[end]
 

[update record]
update i_rate set curr_rate=#RATE#, changed=SYSDATE
where dat=#DAT# and curr_code=#code#
[end]




