gateway/receive_21_zakaz_postav.cfg


[parameters]
request_name=S:Прием заказа поставщику
LOG=ON
[end]


[report]
$LOG1 <hr><b>===>>> receive_21_zakaz_postav.cfg</b><br>
$LOG5 object=#Object#;<br> 
$SET_PARAMETERS ERR_CODE=0; ERROR=; 
$SET_PARAMETERS ERROR=Отсутствует Элемент; ??!Элемент
$SET_PARAMETERS ERROR=#ERROR# Отсутствует Элемент Ref; ??!Элемент_Ref
$SET_PARAMETERS ERROR=#ERROR# Отсутствует КурсВзаиморасчетов; ??!КурсВзаиморасчетов

$GET_DATA [check existing record] ??!ERROR
$GET_DATA [create record]   ??!DOC_EXISTS&!ERROR
$GET_DATA [get fields]      ??!ERROR    
$SET_PARAMETERS NICA_ID=null;   ??!NICA_ID
$GET_DATA [update record]   ??!ERROR
$GET_DATA [set fields]      ??!ERROR
$GET_DATA [setSums]         ??!ERROR

$CALL_SERVICE c=gateway/receive_21_zakaz_nomenklatura; ??!ERROR&Номенклатура_Ref.count>0
$CALL_SERVICE c=gateway/receive_21_zakaz_tabl; ??!ERROR&Товары.count>0
$CALL_SERVICE c=gateway/receive_21_zakaz_tabl_u; ??!ERROR&Услуги.count>0

$SET_PARAMETERS DOC_ID=#Элемент_Ref#
$SET_PARAMETERS ResultCode=3; ERR_CODE=3; Result=#ERROR#; ??ERROR
[end]

============================================================================
============================================================================
============================================================================

[check existing record]
    select 'Y' as DOC_EXISTS from C3_ZAKAZ_POSTAV
    where REF='#Элемент_Ref#'
[end]


[create record]
    insert into C3_ZAKAZ_POSTAV (doc, ref)
    values ('#Элемент#', '#Элемент_Ref#')
[end]
 
[get fields]
    select regexp_substr('#ОИЯИ_НИКА#', '[[:digit:],\.]+[[:space:]]') as "NICA_CODE" from dual ??ОИЯИ_НИКА
;
    select id as "NICA_ID" from nica_wbs_wu where code='#NICA_CODE#' ??NICA_CODE
[end]

[update record]
    update C3_ZAKAZ_POSTAV set 
        KONTRAGENT='#Контрагент#'
        ,KONTRAGENT_REF='#Контрагент_Ref#'
        ,DOG='#ДоговорКонтрагента#'
        ,DOG_REF='#ДоговорКонтрагента_Ref#'
        ,SCHET_NR='#НомерВходящегоСчета#'

        ,SCHET_DAT=to_date('#ДатаВходящегоСчета#', 'DD.MM.YYYY HH24:MI:SS') ??ДатаВходящегоСчета
        ,SCHET_DAT=null ??!ДатаВходящегоСчета
        ,CURRENCY='#ВалютаДокумента#'
        ,SUMMA=#СуммаДокумента#  ??СуммаДокумента
        ,SUMMA=null  ??!СуммаДокумента
        ,KRATNOST=#КратностьВзаиморасчетов#
        ,KURS=#КурсВзаиморасчетов#
        ,DAT_OPL=to_date('#ДатаОплаты#', 'DD.MM.YYYY HH24:MI:SS') ??ДатаОплаты
        ,DAT_OPL=null  ??!ДатаОплаты
        ,NDS='#СуммаВключаетНДС#'
        ,NDS_UCHET='#УчитыватьНДС#'
        ,DIV='#Подразделение#'
        ,DIV_REF='#Подразделение_Ref#'
        ,COMMENTS='#Комментарий#'

        ,RESP='#Ответственный#'
        ,RESP_REF='#Ответственный_Ref#'
        ,SKLAD='#Склад#'
        ,SKLAD_REF='#Склад_Ref#'
        ,ORG='#Организация#'
        ,BANK_SCHET='#СтруктурнаяЕдиница#'
        ,BANK_SCHET_REF='#СтруктурнаяЕдиница_Ref#'

        ,JINR_INITIATOR='#ОИЯИ_ИнициаторЗакупки#'
        ,JINR_INITIATOR_REF='#ОИЯИ_ИнициаторЗакупки_Ref#'
        ,JINR_SOURCE='#ОИЯИ_ИсточникФинансирования#'
        ,JINR_SOURCE_REF='#ОИЯИ_ИсточникФинансирования_Ref#'
        ,JINR_DEST='#ОИЯИ_НазначениеСчета#'
        ,JINR_NICA='#ОИЯИ_НИКА#'
        ,JINR_NICA_REF='#ОИЯИ_НИКА_Ref#'
        , NICA_CODE='#NICA_CODE#'
        , NICA_ID=#NICA_ID#

        ,N_ADB='#№_ADB#'
        ,DATE_UPD=SYSDATE
    where REF='#Элемент_Ref#'
[end]


НапомнитьОСобытии=Нет
ТипЦен=Закупочная (руб)
ТипЦен_Ref=64c78fe7-576d-11e3-9402-0025907d24fa
ИспользоватьПлановуюСебестоимость=Нет
Организация_Ref=35e7627d-d7be-11e1-bad5-e0cb4eda5b1f
ВалютаДокумента_Ref=f95eef35-d7bd-11e1-bad5-e0cb4eda5b1f

Тип=Заказ поставщику

[set fields]
    update C3_ZAKAZ_POSTAV set 
         DOC_NR=trim(regexp_substr(DOC,'[[:space:]][[:digit:]/]+[[:space:]]',5))
        , DOC_DATE=to_date(regexp_substr(DOC,'[[:space:]]([[:digit:]]{2}\.){2}[[:digit:]]{4}',20),'DD.MM.YYYY')
    where ref='#Элемент_Ref#'
[end]


        , DIV_1C_CODE=(select code from c3_CFO c where c.ref=p.DIV_REF)
        , p.AGGR=(select AGGR from C3_STATI s where s.ref=p.STATIA_REF) 
        , DOC_OSN_TYPE=case 
            when DOC_OSN like 'Заказ поставщику%' then 'Заказ'
            when DOC_OSN like 'Счет на оплату поставщика%' then 'Счет' 
            when DOC_OSN like 'ПТУ%' then 'ПТУ'
            when DOC_OSN like 'Поступление%' then 'ПТУ'
            when DOC_OSN like 'Авансовый отчет%' then 'АО'
            when DOC_OSN is null and VID_OPER like '%выдача подотчетному лицу%' then 'Аванс'
            else null end
        , DOC_OSN_NR=to_number(trim(regexp_substr(DOC_OSN,'[[:space:]][[:digit:]]+[[:space:]]',5)))
        , DOC_OSN_DAT=to_date(regexp_substr(DOC_OSN,'[[:space:]]([[:digit:]]{2}\.){2}[[:digit:]]{4}',20),'DD.MM.YYYY')


;
    select des as "FIN_SRC", id as "PROJECT_CODE"
    from c3_projects where 
        ref='#ДоговорКонтрагента_Ref.1.Проект_Ref#'  ??ДоговорКонтрагента_Ref.1.Проект_Ref
        ref='#СтатьяДвиженияДенежныхСредств_Ref.1.Проект_Ref#'  ??!ДоговорКонтрагента_Ref.1.Проект_Ref
;
    update C3_ZAKAZ_POSTAV p set 
        p.REQ_YR = extract(year from p.DOC_DATE)
        , DIV_CODE=DIV_1C_CODE/1000
        , sbj='#FIN_SRC#'
        , PROJECT_CODE='#PROJECT_CODE#'
    where ref='#Элемент_Ref#'



[setSums]
    $GET_DATA [setSums1] ??СуммаДокумента&ВалютаДокумента
    $GET_DATA [setSums1-1] ??ВалютаДокумента=USD|ВалютаДокумента=EUR
    $GET_DATA [setSums2]  ??
    $GET_DATA [setSums3]  ??
    $GET_DATA [setSums4]  ??
[end]


[setSums1]
    update C3_ZAKAZ_POSTAV set curr_code=decode(CURRENCY, 'руб.', 810, 'USD', 840, 'EUR', 978, 0)
        , SUMM_RUB=SUMMA  ??ВалютаДокумента=руб.
            , SUMM_USD=SUMMA/(select curr_rate from I_RATE_DESC r where r.d_dat<=DOC_DATE and r.curr_code=840 and rownum=1)  ??ВалютаДокумента=руб.
            , SUMM_EUR=SUMMA/(select curr_rate from I_RATE_DESC r where r.d_dat<=DOC_DATE and r.curr_code=978 and rownum=1)  ??ВалютаДокумента=руб.       
        , SUMM_USD=SUMMA ??ВалютаДокумента=USD
            ,SUMM_RUB=SUMMA*(select curr_rate from I_RATE_DESC r where r.d_dat<=DOC_DATE and r.curr_code=840 and rownum=1)   ??ВалютаДокумента=USD
        , SUMM_EUR=SUMMA ??ВалютаДокумента=EUR
            , SUMM_RUB=SUMMA*(select curr_rate from I_RATE_DESC r where r.d_dat<=DOC_DATE and r.curr_code=978 and rownum=1)  ??ВалютаДокумента=EUR
    where ref='#Элемент_Ref#'
[end]

[setSums1-1]
    update C3_ZAKAZ_POSTAV set       
            SUMM_EUR=SUMM_RUB/(select curr_rate from I_RATE_DESC r where r.d_dat<=DOC_DATE and r.curr_code=978 and rownum=1) ??ВалютаДокумента=USD
            SUMM_USD=SUMM_RUB/(select curr_rate from I_RATE_DESC r where r.d_dat<=DOC_DATE and r.curr_code=840 and rownum=1) ??ВалютаДокумента=EUR
    where ref='#Элемент_Ref#'
[end]


[ZZZZZ setSums2]
    update C3_ZAKAZ_POSTAV r set
     r.SUMM_RUB_FACT=(select sum(p.S_RUB) from c2_BudgetPlan p where p.REQUEST=r.REQUEST and p.SCENARII=r.SCENARII and (p.DIV_CODE=r.DIV_CODE or p.div_code is null) and p.PROJECT=r.PROJECT_CODE and (p.STORNO is null or p.STORNO=0) )
    ,r.SUMM_USD_FACT=(select sum(p.S_USD) from c2_BudgetPlan p where p.REQUEST=r.REQUEST and p.SCENARII=r.SCENARII and (p.DIV_CODE=r.DIV_CODE or p.div_code is null) and p.PROJECT=r.PROJECT_CODE and (p.STORNO is null or p.STORNO=0) )
    ,r.SUMM_EUR_FACT=(select sum(p.S_EUR) from c2_BudgetPlan p where p.REQUEST=r.REQUEST and p.SCENARII=r.SCENARII and (p.DIV_CODE=r.DIV_CODE or p.div_code is null) and p.PROJECT=r.PROJECT_CODE and (p.STORNO is null or p.STORNO=0) )
    where r.ref='#Элемент_Ref#'
[end]

[setSums3]
    update C3_ZAKAZ_POSTAV r set
     r.FACT_YR=(select max(extract(year from f.PLANDAT)) from c2_BudgetFact f where f.REQUEST=r.REQUEST and (f.STORNO is null or f.STORNO=0) )
    ,r.SUMM_RUB_FACT=(select sum(f.S_RUB) from c2_BudgetFact f where f.REQUEST=r.REQUEST and f.SCENARII=r.SCENARII and (f.DIV_CODE=r.DIV_CODE or f.div_code is null) and f.PROJECT=r.PROJECT_CODE and (f.STORNO is null or f.STORNO=0) )
    ,r.SUMM_USD_FACT=(select sum(f.S_USD) from c2_BudgetFact f where f.REQUEST=r.REQUEST and f.SCENARII=r.SCENARII and (f.DIV_CODE=r.DIV_CODE or f.div_code is null) and f.PROJECT=r.PROJECT_CODE and (f.STORNO is null or f.STORNO=0) )
    ,r.SUMM_EUR_FACT=(select sum(f.S_EUR) from c2_BudgetFact f where f.REQUEST=r.REQUEST and f.SCENARII=r.SCENARII and (f.DIV_CODE=r.DIV_CODE or f.div_code is null) and f.PROJECT=r.PROJECT_CODE and (f.STORNO is null or f.STORNO=0) )
    where r.ref='#Элемент_Ref#'
[end]

[setSums4]
    update C3_ZAKAZ_POSTAV r set
     r.SUMM_RUB=r.SUMM_RUB_FACT
    ,r.SUMM_USD=r.SUMM_USD_FACT
    ,r.SUMM_EUR=r.SUMM_EUR_FACT
    where not r.SUMM_RUB_FACT is null
    and r.ref='#Элемент_Ref#'
[end]

