register_object.cfg

[comments]
descr=S: Регистрация объекта в gateway
input=object_type (WU, WBS); object_id=(wu_id, wbs_id);
output=
parents=docs/view_doc.cfg
childs=
test_URL=?c=gateway/post_doc&doc_id=1
author=Куняев
[end]


[parameters]
request_name=S:Регистрация объекта
service=jinr.adb.gateway.ServicePostObject
LOG=ON
GatewayHost=http://ak0211.jinr.ru:8084/gateway/a 
encoding=utf-8
[end]

[getObject]
$LOG <b>============== register_object: GateObjectID=#GateObjectID#; ==================</b><br>
$SET_PARAMETERS ResultCode=; Result=;
[end]


[request]
Ver=1
ClientID=2
Command=RegisterObject
ObjectType=#ObjectType#
GateObjectID=#GateObjectID#
ClientObjectID=ADB_#GateObjectID#
Time=#MODIFIED#
[end]


[report]
$INCLUDE [print request]    
  ??mode=print
<script>
alert('Объект зарегистрирован в шлюзе.\n\rОтвет: #ResultCode#: #Result#;'); ??ResultCode=0
  ??&USER_ID=1
alert('Ошибка регистрации объекта в шлюзе!\n\rКод ошибки: #ResultCode# #Result#'); ??!ResultCode=0&responce
alert('Ошибка регистрации объекта в шлюзе!\n\rНе получен ответ из шлюза!'); ??!ResultCode=0&!responce
</script>
$LOG <b>Encoded Data:</b>#encodedData#<br> ??
[end]


[print request]
USER_ID=#USER_ID#;
<hr>
Request:<br><xmp>
$INCLUDE [request]
Object={#JSON#}
</xmp>
<hr>
Responce:<br><xmp>
#responce#</xmp>
<hr>
<b>Encoded Data:</b>
#encodedData#<br>
[end]
