[comments]
descr=S: Посылка одного email-уведомления для подшага
input=event_id - ID события, по которому надо послать мэйл
output=Посылается уведомление для "подшага" шага WF
parents=wf/start_wf_step.cfg
childs=
testURL=?c=wf/send_notif_mail&event_id=1
author=Куняев
[end]

[parameters]
request_name=S:посылка мэйла по док.#doc_id#/
service=jinr.dms.ServiceSendMail
subject=ЭДО ОИЯИ - документ: #DOC_TYPE# (инициатор: #u_FIO#) ??!event_type
subject=ЭДО ОИЯИ - Ваш документ #DOC_TYPE# отклонён ??event_type=0
subject=ЭДО ОИЯИ - Ваш документ #DOC_TYPE# подписан ??event_type=1
subject=ЭДО ОИЯИ - документ #DOC_TYPE# для ознакомления ??event_type=4
subject=ЭДО ОИЯИ - подготовка документа #DOC_TYPE# ??event_type=5
mailHTML=Y 
mailCharset=windows-1251
mailDebug=false
debug=on ??
[end]

[report header]
$CALL_SERVICE c=svs/get_user_info; requested_user_id=#notify_user_id#
$SET_PARAMETERS mailTo=#u_email#; a_IO=#u_I# #u_O#; a_FIO=#u_FIO#;
$CALL_SERVICE c=svs/get_user_info; requested_user_id=#creator_id#
[end]

[report footer]
$LOG email был послан: #a_FIO# (адрес: #mailTo#). ??!ERROR
$LOG ОШИБКА отсылки email : #a_FIO# (адрес: #mailTo#).<br>#ERROR# ??ERROR

$GET_DATA [register processing]
$INCLUDE [confirm msg] ??event_type=4_ZZZ
$INCLUDE [ERROR msg] ??ERROR
---- сбрасываем ошибку отсылки - её нужно обрабатывать off-line ---- ??
$SET_PARAMETERS ERROR=;
[end]

[confirm msg]
<script>
window.parent.jAlert("Уведомление пользователю #a_FIO# послано.", "ОК"); ??!ERROR&!event_type={{4|5}}
</script>
[end]

[ERROR msg]
<script>
window.parent.jAlert("Ошибка посылки уведомления пользователю #a_FIO# (email: #mailTo#)","ОШИБКА!"); 
</script>
[end]


[msgBody]
$INCLUDE [title]
$INCLUDE [normalBody]  ??!event_type
$INCLUDE [body_#event_type#]  ??event_type
$INCLUDE [bottom link]
[end]

[body_0]
Ваш документ <b>"#DOC_TYPE#: #title#"</b><br>
отклонён.<br>
[end]

[body_1]
Ваш документ <b>"#DOC_TYPE#: #title#"</b><br>
полностью подписан.<br>
[end]

[body_4]
в системе документооборота ЭДО ОИЯИ <br>
Вам для ознакомления послан документ: <br>
<b>"#DOC_TYPE#: #title#"</b><br>
[end]

[body_5]
в системе документооборота ЭДО ОИЯИ <br>
Вам для подготовки послан документ: <br>
<b>"#DOC_TYPE#: #title#"</b><br>
[end]

[normalBody]
 в системе документооборота ЭДО ОИЯИ на Ваше имя поступил документ:<br>
#DOC_TYPE#: <b>"#title#"</b><br>
инициатор: #u_FIO#
[end]

[title]
<html><HEAD>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
</HEAD>
<body>
Уважаемый #a_IO#,<br><br>
[end]

, comment as "USER_COMMENT" - нужно взять из предыдущего шага!

[bottom link]
<br><br>Комментарий: #USER_COMMENT# ??USER_COMMENT
<br><br>Чтобы войти в ЭДО ОИЯИ 
и ознакомиться с документом ??event_type=4
и открыть документ ??event_type=5
и принять решение по этому документу ??!event_type={{4|5}}
<a href="#ServerPath##ServletPath#?sid=#doc_id#&et=#event_type#">КЛИКНИТЕ ЗДЕСЬ</a>
&nbsp; <br>
<br>Если ссылка не активна, скопируйте в адресную строку браузера URL:<br>
#ServerPath##ServletPath#?sid=#doc_id#&et=#event_type# 
<br>
<br>
</body></html>
[end]


===========================================================================
===========================================================================
===========================================================================

[preSQLs]
select /* user ID & step ID */ event_type, notify_user_id, doc_id, wf_step_id 
from wf_events where id=#event_id#
;
select dt.name as "DOC_TYPE", dh.title, dh.creator_id
from d_list dh 
	left join d_types dt on dt.id=dh.type_id
where dh.id=#doc_id#
;
[end]


select wf_id from wf where id=#wf_step_id# ??wf_step_id
;
select doc_id from wf_list where id=#wf_id#
;


[register processing]
update wf_events set processed=now() where id=#event_id# ??!ERROR
;
insert into wf_events_notifications (event_id, event_user_id, notif_type, notif_address, processed, err_msg)
values (#event_id#, #notify_user_id#, 1, '#mailTo#', now(), '#ERROR#')
;
[end]

