[comments]
descr=S: ѕоказать статус workflow. 
input=[doc_id] - ID документа, [wf_id] - ID workflow (можно задать любой из этих параметров или оба), [show_persons=Y] - показывать, кого ждЄм
output=ѕоказывает историю workflow документа (создание, удаление WF и действи€ пользователей).
parents=
childs=
testURL=?c=wf/show_wf_status&doc_id=NN&wf_id=NNN
call=$CALL_SERVICE c=wf/show_wf_status; wf_id=NNN
author= ун€ев
[end]

[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=A:WF статус дл€ док.#doc_id#
tableCfg=table_no
KeepLog=false
ClearLog=true
[end]


[report header]
$SET_PARAMETERS STARTED=; result_code=; W_USERS=;
$GET_DATA [get waiting users SQL]  ??wf_id
#W_USERS#</td><td class="pt" onClick="showLoading('monitor_content'); loadFrame('c=wf/show_wf_for_doc_adm&doc_id=#ID#');">  ??show_persons=Y
<table cellpadding=0 cellspacing=0><tr style="height:10px;">  ??wf_id
[end]


[item]
<td onmouseover="showToolTip(event, $(this));" tt_cfg="svs/showWfStepTooltip" tt_id="#STEP_ID#" tt_width="400" shiftX="-100"
onmouseout="hideToolTip();" 
class="wf_status
bg_gray ??!STARTED
current ??STARTED&!result_code
bg_green ??result_code=1|result_code=2
bg_light_blue ??result_code=3
bg_red ??result_code=0
">ї</td> ??ACCESS&!result_code
">&nbsp;</td> ??!ACCESS|result_code
$SET_PARAMETERS STARTED=; result_code=; 
[end]

[report footer]
</tr></table>  ??wf_id
документ не запущен ??!wf_id
$SET_PARAMETERS wf_id=;
#ERROR#
[end]

==============================================================
==============================================================
==============================================================
[preSQLs]
select id as wf_id from wf_list where doc_id=#doc_id# ??doc_id&!wf_id
;
select doc_id from wf_list where id=#wf_id# ??wf_id
;
select version from d_list where id=#doc_id#
[end]

[get waiting users SQL]
select concat(LEFT(u.I,1), '.', LEFT(u.O,1) ,'.', u.F,' ') as W_USERS 
from wf left join #table_users_full# u on u.id=wf.user_id
where wf.wf_id=#wf_id# and not wf.started is null and wf.finished is null
[end]

[SQL]
$INCLUDE [SQL_] ??wf_id
[end]

[SQL_]
select wf.ID as STEP_ID, wf.STARTED, wf.result_code
, max(a.access_type) as ACCESS
from wf 
left join d_access_log a on(a.user_id=wf.user_id and a.doc_id=#doc_id# and a.doc_version=#version#) 
where wf.wf_id=#wf_id#
group by wf.ID, wf.STARTED, wf.result_code
order by wf.step, wf.id
[end]

