[comments]
descr=S: Показать рабочее workflow для документа (для отладки и админов). 

input=[doc_id] - ID документа, [wf_id] - ID workflow
output=Показывает шапку документа, шаблон workflow, рабочее workflow документа.
parents=
childs=
testURL=?c=wf/show_wf_for_doc_adm&doc_id=1&wf_id=7
author=Куняев
[end]

[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=A:отображение wf для док. #doc_id#
tableCfg=table_no
KeepLog=false
ClearLog=true
[end]


[report header]
$INCLUDE dat/common.dat[head]
<style type="text/css">
$INCLUDE free/main_css_noDB.cfg[report]
</style>
<script>window.parent.showPageTop(false); </script>

$GET_DATA [get doc header]
$CALL_SERVICE c=svs/get_user_info; requested_user_id=#creator_id#

<div id="result">
<br>
<input type=button class="butt1 pt" value="В список" onClick="doSubmit('','admin/tab_monitor');">
<input type=button class="butt1 pt" value="Обновить" onClick="doSubmit('', 'wf/show_wf_for_doc_adm');">
<input type=hidden name="doc_id" value="#doc_id#">
<br><br>
<fieldset class="normal_text bg_white"><legend class="btn bg_yellow" onClick="$('##doc_header_div').toggle();">Шапка документа #doc_id#:</legend>
<div id="doc_header_div" >
#doc_id#: тип: <b>#DOC_TYPE_NAME#,</b> 
№: <b>#number#</b>, ??number
заголовок: <b>#title#</b>, ??title
дата: <b>#DOC_DATE#</b> ??DOC_DATE
<br>
Инициатор: <b>#u_FIO#</b>,<br><small>#u_posts#</small>
<br>Комментарий инициатора: <b>#initiator_comment#</b> ??initiator_comment
</div>
</fieldset>

$GET_DATA [get wf template id]
---------------- Показать шаблон workflow ----------------??
<fieldset class="normal_text bg_white"><legend class="btn bg_yellow" 
onClick="
  $('##wf_template_div').toggle(); 
  if ($('##wf_template_div').css('display') == 'block' ) ??
    AjaxCall('wf_template_div', 'c=wf/show_wf_template_adm&wf_template_id=#wf_template_id#&doc_id=#doc_id#');   ??wf_template_id
">Шаблон workflow #wf_template_id#:</legend>
<div id="wf_template_div" style="display:none;">
<b>Шаблон workflow не найден!</b>  ??!wf_template_id
</div>
</fieldset>

$GET_DATA [get wf step] 

---------------- Показать рабочее workflow ----------------??
<b>Workflow #WF_ID# 
не создана! ??!WF_ID
</b> 

$CALL_SERVICE c=wf/show_wf_status; wf_id=#WF_ID#;

$INCLUDE [table headers] ??WF_ID
[end]

[table headers]
<table border=0 class=tlist  cellpadding=0 cellspacing=0>
<tr><th>шаг</th><th>роль</th>
<th>пользователи</th> ??
<th>пользователь</th><th>старт&nbsp;шага</th><th>завершено</th><th>статус</th><th>комментарий</th></tr>
[end]

[item]
$CALL_SERVICE c=svs/get_user_info; requested_user_id=#user_id#; ??user_id
<tr class="
pt ??STARTED&step>0
bg_gray ??!STARTED
current ??STARTED&!result_code
"
onClick="$('##row_#step_id#').toggle(); $('##step_#step_id#').toggle(); AjaxCall('step_#step_id#', 'c=wf/show_wf_step_history&step_id=#step_id#');" ??STARTED&step>0
>
<td>#step# (#step_id#)</td>
<td>
#ROLE_NAME# ??role_id
, #TARGET_TYPE# ??TARGET_TYPE
$GET_DATA [get target name] ??role_target_id&INFO_ID
#TARGET_NAME#
</td>
<td>#u_FIO#</td><td>#STARTED#</td><td>#FINISHED#</td>
<td
class="bg_green" ??result_code=1|result_code=2
class="bg_light_blue" ??result_code=3
class="bg_red" ??result_code=0
>#result#
Ожидание ??STARTED&!result_code
</td>

<td>#comment#</td>
</tr>

<tr id="row_#step_id#" style="display:none;"><td class="bg_gray"></td><td colspan=6 id="step_#step_id#" style="display:none; padding:0;"></td></tr> ??STARTED
$SET_PARAMETERS NEXT_STEP_ID=#step_id#;  ??!NEXT_STEP_ID&STARTED&!result_code
$SET_PARAMETERS role_id=; ROLE_NAME=; INFO_ID=; role_target_id=; user_id=; u_FIO=; result_code=; result=; STARTED=; TARGET_NAME=;
[end]

[report footer]
</table> ??WF_ID
$INCLUDE [finish step form] ??WF_ID
(текущий шаг: #curr_step#) ??

$CALL_SERVICE c=wf/show_wf_history; wf_id=#WF_ID# ??WF_ID_
#ERROR#
</div>
<script>
window.parent.getResult("c_monitor", document.getElementById("result"));
window.parent.oldCmd=".";
window.parent.showPageTop(false);
</script>

[end]


[finish step form]
<fieldset><legend class="btn" onClick="$('##form_div').toggle();">Текущий шаг: #curr_step#</legend>
<div id="form_div" style="display:block;">
<form name="finishStepForm" target="_blank" method="POST" enctype="multipart/form-data" >
<input type=hidden name=c value="wf/user_action">
<input type_=hidden name=step_id class=xp size=5 value="#NEXT_STEP_ID#">
Результат:
<select name="result_code" onChange="showNextUser(this);">
<option value='0'>отказ</option>
<option value='1'>подписано</option>
<option value='2'>делегировать подпись</option>
<option value='3'>переслать с возвратом</option>
</select><br>
<div id="forward" style="display:none;"> кому:
<input class=xp id=forward_user_id name="forward_user_id" size=5>
<span class="info_input" id="forward_user" info_id="5" searchFor='none' info_view="1">поиск пользователя</span> 
</div>
комментарий: <input name=user_comment class=xp size=50>
<input type=submit value="Завершить шаг #curr_step#!">
</form></div></fieldset>

<script>
var showNextUser = function(dd) {
  var result_code=dd.options[dd.selectedIndex].value;
if(result_code > 1){
  $("##forward").show();
  $("##forward_user_id").focus();
}
else
$("##forward").hide();
  alert(result_code); ??
}
</script>
[end]

==============================================================
==============================================================
==============================================================

[get doc header]
select doc_id from wf_list where id=#wf_id# ??wf_id&!doc_id
;
select dh.type_id as "DOC_TYPE_ID", dt.name as "DOC_TYPE_NAME" 
 , dh.number, dh.title, date_format(dh.doc_date, '#dateTimeFormat#') as "DOC_DATE"
, comment as "initiator_comment"
, dh.creator_id
from d_list dh 
left join d_types dt on dt.id=dh.type_id
where dh.id=#doc_id#;
[end]


[get wf template id]
select id as "wf_template_id" from wf_templates_list 
where doc_type_id=#DOC_TYPE_ID# and is_active=1 
order by modified desc limit 1
[end]

[get wf step]
select id as "WF_ID", curr_step, curr_step+1 as NEXT_STEP from wf_list where doc_id=#doc_id#;
[end]

[SQL]
$INCLUDE [SQL_] ??WF_ID
[end]

[SQL_]
select wf.id as step_id, wf.step, wf.role_id, wf.role_target_type_id, wf.role_target_id
, r.name as "ROLE_NAME", tt.type as "TARGET_TYPE"
 ,i.name as "INFO_NAME", i.id as "INFO_ID", i.table_name as "INFO_TABLE"
,wf.user_ids, wf.user_id
,u.FIO as "USER_NAME"   
, result_code, result
, if(wf.started is null, '', DATE_FORMAT(wf.started,'#dateTimeFormat#')) as "STARTED"
, if(wf.finished is null, '', DATE_FORMAT(wf.finished,'#dateTimeFormat#')) as "FINISHED"
, wf.comment
from wf wf
left join a_roles r on r.id=wf.role_id
left join a_target_types tt on tt.id=wf.role_target_type_id
left join i_infos i on i.id = tt.info_id
left join #table_users_full# u on u.id=wf.user_id
left join cwl.users u on u.id=wf.user_id ??
left join info_11 pers on pers.person_id=u.person_id ??
where wf.wf_id=#WF_ID#
order by wf.step, started desc
[end]

[get target name]
select field_db_name as "INFO_FIELD_NAME" from i_fields where info_id=#INFO_ID# and view1=1
;
select #INFO_FIELD_NAME# as "TARGET_NAME" from #INFO_TABLE# where id=#role_target_id#
[end]