[comments]
descr=S: Стартовать очередной шаг рабочего workflow документа.

input=doc_id - ID документа
output=Активируется очередной шаг workflow, создаётся 1 или несколько events, рассылаются уведомления
parents=wf/start_wf_for_doc.cfg; wf/user_action.cfg
childs=wf/send_notif_mail.cfg
testURL=?c=wf/start_wf_step&doc_id=1
call=$CALL_SERVICE c=wf/start_wf_step; doc_id=NNN;
author=Куняев
[end]

[parameters]
request_name=S:старт шага wf для док.#doc_id#
service=dubna.walt.service.TableServiceSpecial
tableCfg=table_no
KeepLog=false
ClearLog=true
[end]


[report header]
$SET_PARAMETERS role_id=; role_target_type_id=; info_id=; field_db_name=; TARGET_ID=; FIRST_USER=;
$GET_DATA [get wf data]
$LOG doc_id=#doc_id#, doc_type_id=#doc_type_id#; стартуем шаг #NEXT_STEP#; 

$GET_DATA [check prev steps]  ??NEXT_STEP>1
$LOG <b>Шаг не может быть стартован, т.к. #NUM_NOTFINISHED_STEPS# шаг(ов) не завершено!</b> ??NUM_NOTFINISHED_STEPS>0
$SET_PARAMETERS WF_LOCKED=Y;    ??NUM_NOTFINISHED_STEPS>0
[end]

[item]
$LOG STEP_ID=#STEP_ID#;<br>
$CALL_SERVICE c=svs/get_user_info; requested_user_id=#USER_ID#;
$GET_DATA [set history] ??!ERROR
$GET_DATA [create event] ??!ERROR&WF_HISTORY_ID
$CALL_SERVICE wf/send_notif_mail ??!ERROR
[end]

[report footer]
$LOG <b>ERROR:</b> #ERROR# ??ERROR
[end]

==============================================================
==============================================================
==============================================================

[get wf data]
select /* ID workflow, номер след.шага */ 
id as "WF_ID", curr_step+1 as "NEXT_STEP" from wf_list where doc_id=#doc_id#;
[end]

[check prev steps]
select /* проверка "есть ли не завершенные подшаги на текущем шаге?" */ 
count(*) as "NUM_NOTFINISHED_STEPS"
from wf
where wf_id=#WF_ID# and (result_code is null or result_code=0) and step<#NEXT_STEP#
[end]

[SQL]
$INCLUDE [SQL_] ??!WF_LOCKED
[end]

[SQL_]
select /* ID под-шага WF и данные выбранного юзера */
wf.id as "STEP_ID"
, wf.role_id, wf.role_target_type_id, wf.role_target_id
, wf.user_id 
, tt.info_id as "INFO_ID"
from wf wf 
    left join a_target_types tt on tt.id=wf.role_target_type_id
where wf.wf_id=#WF_ID# and step=#NEXT_STEP#
[end]


[create event]
insert into wf_events (doc_id, wf_step_id, wf_history_id, event_type, event_date, processed, notify_user_id)
values (#doc_id#, #STEP_ID#, #WF_HISTORY_ID#, null, now(), null, #user_id#)
;
select LAST_INSERT_ID() as "event_id"
;
update wf set started=now() where id=#STEP_ID#
;
update wf_list set curr_step=#NEXT_STEP# where id=#WF_ID#
;
[end]


[set history]
insert into wf_history (dat, wf_id, doc_id, step_id, step
, role_id, role_target_type_id, role_target_id
, user_id, user_fio, user_posts, user_role, user_email
, result)

values (now(), #WF_ID#, #doc_id#, #STEP_ID#, #NEXT_STEP#
, #role_id#  ??role_id
, null  ??!role_id
, #role_target_type_id#  ??role_target_type_id
, null  ??!role_target_type_id
, #role_target_id# ??role_target_id
, null ??!role_target_id
---- Заносим данные ЗАЛОГИНЕНОГО юзера - не из workflow! ??
, #USER_ID#, '#u_FIO#', '#u_posts#', '#u_roles#', '#email#'
, 'Старт шага')
;
select LAST_INSERT_ID() as "WF_HISTORY_ID"
;
update d_list set modified=now(), modifier_id=#USER_ID#
where id=#doc_id#
;
[end]
