[parameters]
title=Бюджет материальных затрат
tableCfg=cp/table.cfg 
w0=350
w1=85
w2=125
padding=3
$INCLUDE common.dat[colors]
[end]


[report]
$INCLUDE [logged report]  ??logged
<script>window.location.href="#loginURL#?r=#ServerPath##ServletPath#?c=doc/list";</script> ??!logged
[end]

<td align=right nowrap=true><a class=info href="#ServletPath#">Главная</a> ??

[logged report]
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>
<style>
td.data {FONT-SIZE: 10pt; background-color:white; FONT-FAMILY: Arial, Helvetica, sans-serif}
td.data2 {FONT-SIZE: 11pt; background-color:white; FONT-FAMILY: FONT-FAMILY: Arial, Helvetica, sans-serif}
td.datab {FONT-SIZE: 12pt; background-color:white; font-weight:bold; FONT-FAMILY: Times}
td.head {FONT-SIZE: 10pt; background-color:white; FONT-FAMILY: Arial, Helvetica, sans-serif}
th.h1 {FONT-SIZE: 14pt; background-color:white; FONT-FAMILY: Times; font-weight:normal}
.h2 {FONT-SIZE: 10pt; background-color:white; FONT-FAMILY: Arial, Helvetica, sans-serif}
.h3 {FONT-SIZE: 10pt; background-color:white; border: solid 1px; FONT-FAMILY: Arial, Helvetica, sans-serif}
.red {color:red;}
.right {width:100%; text-align:right;}
</style>

<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<center>

<table border=0 bgcolor=gray cellpadding=0 cellspacing=0>
<tr><td>

<table border=0 cellpadding=#padding# cellspacing=1>

<tr><td bgcolor=white class=data2 width=#w0# rowspan=2>&nbsp;&nbsp;<i><b>Дата: #TODAY#</b><center>&nbsp;&nbsp;&nbsp;&nbsp;</i><h4> CASH-FLOW<br> (ДЕНЕЖНЫЕ СРЕДСТВА)
</h4>
</td>
<th class=h1 colspan=2 nowrap=true>За текущую неделю</th>
<th class=h1 colspan=2 nowrap=true>С начала месяца</th>
<th class=h1 colspan=2 nowrap=true>С начала года</th>
</tr>

<tr>
<th class=h2 width=#w1#>Сумма <br>(руб)</th>
<th class=h2 width=#w2#>Эквив. в $<br>(число док-ов)</th>

<th class=h2 width=#w1#>Сумма<br>(руб)</th>
<th class=h2 width=#w2#>Эквив. в $<br>(число док-ов)</th>

<th class=h2 width=#w1#>Сумма<br>(руб)</th>
<th class=h2 width=#w2#>Эквив. в $<br>(число док-ов)</th>
</tr>

<tr><td colspan=7 bgcolor=white><img src="#imgPath#filler.gif" width=#TOTAL_WIDTH# height=1></td></tr>

</table>

</td></tr>
<tr><td>
$CALL_SERVICE c=cp/cp_signed; total=y
</td></tr>
<tr><td colspan=7 class=data2><img src="#imgPath#filler.gif" width=30 height=1>
В том числе: <br><img src="#imgPath#filler.gif" width=60 height=1>
 <a href="javascript:showDet('det_lab','det_st');">по лабораториям<img id=i_det_lab src="#imgPath#show.gif" border=0></a>&nbsp;&nbsp;
 <a href="javascript:showDet('det_st','det_lab');">по статьям<img id=i_det_st src="#imgPath#show.gif" border=0></a>
</td></tr>

<tr><td>
<div id=det_lab style="display:none">
$CALL_SERVICE c=cp/cp_signed; total=; det_stat=;
</div>
<div id=det_st style="display:none">
$CALL_SERVICE c=cp/cp_signed; total=; det_stat=Y;
</div>
</td></tr>

<tr><td colspan=7 bgcolor=white>&nbsp;</td></tr>

<tr><td>
$CALL_SERVICE c=cp/cp_signed; total=y; small=y;  det_stat=;
</td></tr>
<tr><td colspan=7 bgcolor=white>&nbsp;</td></tr>

<tr><td>
$CALL_SERVICE c=cp/cp_signed; total=y; small=; postponed=y;
</td></tr>
<tr><td colspan=7 bgcolor=white>&nbsp;</td></tr>

<tr><td>
$CALL_SERVICE c=cp/cp_signed; total=y; small=; postponed=; urgent=y;
</td></tr>
<tr><td colspan=7 bgcolor=white>&nbsp;</td></tr>

<tr><td>
$CALL_SERVICE c=cp/cp_signed; total=y; payed=y;
</td></tr>
<tr><td colspan=7 class=data2><img src="#imgPath#filler.gif" width=30 height=1>
В том числе: <br><img src="#imgPath#filler.gif" width=60 height=1>
 <a href="javascript:showDet('payed_lab','payed_st');">по лабораториям<img id=i_payed_lab src="#imgPath#show.gif" border=0></a>&nbsp;&nbsp;
<a href="javascript:showDet('payed_st','payed_lab');">по статьям<img id=i_payed_st src="#imgPath#show.gif" border=0></a>
</td></tr>

<tr><td>
<div id=payed_lab style="display:none">
$CALL_SERVICE c=cp/cp_signed; total=; payed=y;
</div>
<div id=payed_st style="display:none">
$CALL_SERVICE c=cp/cp_signed; total=; payed=y; det_stat=Y;
</div>
</td></tr>

</table>
</td></tr></table>

$INCLUDE [script]

</TD></TR></TABLE>

</form></center>
</body></HTML>
[end]


================================ SQLs ================================
[preSQLs]
$SET_PARAMETERS TODAY=26.12.2003; BEG_YEAR=2003; BEG_MONTH=12.2003; BEG_WEEK=49.2003; TOTAL_WIDTH=986;
[end]

select to_char(SYSDATE, 'dd.mm.yyyy') as TODAY
, to_char(SYSDATE, 'yyyy') as BEG_YEAR
, to_char(SYSDATE, 'mm.yyyy') as BEG_MONTH
, to_char(SYSDATE, 'iw.yyyy') as BEG_WEEK
, #w0#+3*(#w1#+#w2#)+ 12*#padding# as TOTAL_WIDTH
 from dual;
[end]

;
select distinct '<option value="'||code||'">'||NAME_SHORT as LABS from tree where type='L' order by 1;
select distinct '<option value="'||code||'">'||NAME_SHORT as DIRS from tree where type='DIR' order by 1;
select '<option value="'||code||'">'||code||': '||des_short||'</option>' aggrs from i_aggr order by code;
select '<option value="'||code||'">'||code||': '||des||'</option>' CONSS from i_cons order by code;

select '<option value="'||id||'">'||doc_status||'</option>' doc_statuses from doc_statuses;
select '<option value="'||id||'">'||doc_type||'</option>' doc_types from doc_types order by id;

[end]


[script]
<script>
function getList(dat_form,dat_val,stat,maxVal,payed,div,aggr)
{ if (!maxVal) maxVal = "";
  if (!div) div = "";
  if (!aggr) aggr = "";
  if (!payed) payed = "";
  openWindow("c=doc/list&srn=1&rpp=9999&f_doc_status="+stat + "&dat_form="+dat_form + "&dat_val="+dat_val
   +"&maxVal="+maxVal + "&f_lab=" + div + "&aggr="+aggr + "&payed="+payed, 950,950);
}

function showDet(divId, hideDiv)
{ var div = document.getElementById(divId);
  var im =  document.getElementById("i_" + divId);
  if (div.style.display == "none")
  { div.style.display = "block";
    im.src="#imgPath#hide.gif";
  }
  else
  { div.style.display = "none";
    im.src="#imgPath#show.gif";
  }
  div = document.getElementById(hideDiv);
  div.style.display = "none";
  im =  document.getElementById("i_" + hideDiv);
  im.src="#imgPath#show.gif";
}

function doIt()
{ 
  frm.submit();
  return true;
}



function blockError(){return true;}
//window.onerror = blockError;
</script>
[end]