[parameters]
service=dubna.walt.service.TableServiceSortable  

title=Свод по поставщикам

makeTotalsForCols=SUM,NDS,SUM0
totRowLabel=Всего
sortCols=SUM,RECEIVER
tableCfg=table.cfg 
thsnDelimiter=&nbsp;
numDigits=2

jinr=(K.DESCR like '%ОГЭ%' or K.DESCR like '%РСУ%' or K.DESCR like '%ГРК%' or K.DESCR like '%СИМЭКС%' or K.DESCR like '%АТХ%')

$INCLUDE common.dat[colors]
[end]


[report]
$SET_PARAMETERS f_year=#CURR_YEAR#  ??!f_year

$INCLUDE [logged report header]
</td></tr></table>
</td></tr></table>
</form></center>
<script>
var d = new Date();
var dd = d.getDate();
var mm = d.getMonth() + 1;
frm.startdate.value = dd + "." + mm + "." + d.getYear(); ??

// alert (dd + "." + mm + "." + d.getYear());
doIt();
</script>
</body></HTML>
[end]


[report header]
$INCLUDE [logged report header]   ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#?c=plat/platList";</script> ??!logged
[end]


[logged report header]
$SET_PARAMETERS f_year=#CURR_YEAR#  ??!f_year
$SET_PARAMETERS srt=3; desc=; ??!srt
$SET_PARAMETERS srn=1; rpp=100  ??!rpp|!srn
$SET_PARAMETERS access_all=y ??g_sys=USER_GROUP|g_adm=USER_GROUP|g_boss=USER_GROUP|g_buh=USER_GROUP=buh
$SET_PARAMETERS f_jinr=on; f_out=on  ??!f_out&!f_jinr
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>

<form name="theForm" method="POST"  enctype="multipart/form-data" >
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="noTable" value="">

<table border=0 cellpadding=0 cellspacing=0 width=98%>
<tr><td width=90%><h3>Свод по контрагентам</td>
<td align=right nowrap=true>
</td><td align=right nowrap=true>
<a class=info href="#ServerPath##ServletPath#">
Главная</a>
</td></tr></table>

<blockquote style="margin:10; margin-left:50;">

<table border=1><tr><td nowrap=true valign=top bgcolor=white>
<FIELDSET><LEGEND><b><i>Отобрать документы:</i></b></LEGEND>

<table border=0 cellpadding=4 bgcolor=whitesmoke width=100%>
<tr><td nowrap=true colspan=4>
<b><i>Год регистрации:</i></b> <select name=f_year><option>2005<option>2004</select>

Дата регистрации:
$INCLUDE common.dat[dat between] param: fd_name1=f_regdat1; fd_val1=#f_regdat1#; fd_name2=f_regdat2; fd_val2=#f_regdat2#; yr1=-1; yr2=0; 

</td>

</tr><tr>

<td rowspan=3 nowrap=true valign=top>
<FIELDSET><LEGEND><b><i>Контрагент:</i></b></LEGEND>
<input type="checkbox" name="f_jinr" 
checked ??f_jinr=on
> ОИЯИ&nbsp;<br>
<input type="checkbox" name="f_out" 
checked ??f_out=on
> Внешние<br>
</FIELDSET>
</td>

</tr><tr>
<td align=right nowrap=true>
Контрагент:</td><td> <input class=xp size=25 name="f_contrag" value='#f_contrag#'>
</td>

</tr>
<tr>
<td align=center colspan=3>
№ платежки: <input class=xp size=10 name="f_platNr" value='#f_platNr#'>
ID doc: <input class=xp size=10 name="iddoc" value='#iddoc#'>  ??XXXuname=serg
<br><input type="checkbox" name="f_regcheck" 
checked 		??f_regcheck=on
>Только контроль регистрации 

</td>


<td align=center>
<input type="submit" value="Выполнить" onClick="return doIt();">

</td></tr></table>

</FIELDSET></td></tr></table>

$GET_DATA [Total SQL] ??

<!-- table cellpadding=5 cellspacing=0 border=1 bgcolor=white><tr><th nowrap=true>
Всего записей: #TOT_NUM_RECS#, &nbsp;
сумма: #TOT_SUMMA_RUB# руб. &nbsp;
( ~ #TOT_SUMMA_USD# $)
</th></tr></table -->


</blockquote>
$INCLUDE [script]  

<table bgcolor=808080 border=0 cellspacing=0 cellpadding=0><tr><td>
[end]

[report footer]
$INCLUDE common.dat[rpp] ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>  

</form></center><p><hr>
</body></HTML>
[end]

[script]
<script> 
var frm=document.theForm;

window.focus();

function setDsumm()
{ if (frm.f_summa_op.options.selectedIndex == 0)
    document.getElementById("s_dsumm").style.display="inline";
  else 
    document.getElementById("s_dsumm").style.display="none";
}

setDsumm();

function getPlat(docno)
{ 
  openWindow("c=plat/plat&docno=" + docno,"_blank",750,600);
//  alert (docno);
}

function goToRow(nr)
{ if (!checkFields()) return false;
  frm.srn.value=nr;  
//  alert (frm.srn.value);
  frm.submit();
  return true; 
}

function doIt()
{ if (!checkFields()) return false;
  frm.srn.value="1";
//  alert ("here!");
  frm.submit();  
  return false;
}

function checkFields()
{ if (!checkDate("startdate","Дата оплаты")) return false;
  if (!checkDate("enddate", "Конечная дата оплаты")) return false;
  frm.f_startdate.value = make1Cdate(frm.startdate.value);
  frm.f_enddate.value = make1Cdate(frm.enddate.value);
  if (!checkFloat("f_summa",null,null,"Сумма")) return false;   ??
  return true;
}

function make1Cdate(d)
{ 
  var s = d.substring(6,10) + d.substring(3,5) + d.substring(0,2);
//  alert (s);
  return s;
}

function getReceiverCode(name)
{ 
}

function getDocs(code, inn, name, numDocs)
{ openWindow('c=doc/list&f_receiver=' + name + '&f_receiver_c=' + code 
  +'&f_receiver_inn=' + inn
    ,'docList',1000,650);
}

</script> 
[end]

================================ SQLs ================================
[preSQLs]
select '01.01.'||to_char(SYSDATE, 'yyyy') as "startdate", to_char(SYSDATE, 'yyyy')||'0101' as "f_startdate", '31.12.'||to_char(SYSDATE-1, 'yyyy') as "enddate", to_char(SYSDATE-1, 'yyyy')||'3112' as "f_enddate"  from dual ??!startdate&!enddate
;
[end]
select to_char(SYSDATE-7, 'dd.mm.yyyy') as "startdate", to_char(SYSDATE-7, 'yyyymmdd') as "f_startdate", '31.12.'||to_char(SYSDATE-1, 'yyyy') as "enddate", to_char(SYSDATE-1, 'yyyy')||'3112' as "f_enddate"  from dual ??!startdate&!enddate




[SQL]
select 
  ''''||receiver_c  as receiver_c
  ,''''|| INN_RECEIVER as "ИНН"
  , '<a href="javascript:getReceiverCode('''||RECEIVER||''')">'|| RECEIVER||'</a>' as RECEIVER
  , '<a href="javascript:getDocs('''||receiver_c||''','''
      ||INN_RECEIVER||''','''||RECEIVER||''','||count(doc_id)||')">--'
      || sum(summa_rub) ||'--</a>' as SUM
  , '<center>'||count(doc_id)  as NUM_DOCS
from docs d
where
DOC_TYPE in (1,2,3,4,6,99)
	and d.REG_DATE between to_date('#f_regdat1#','dd.mm.yyyy') and to_date('#f_regdat2# 23:55','dd.mm.yyyy HH24:MI') ??f_regdat2&f_regdat1
	and d.REG_DATE between to_date('#f_regdat1#','dd.mm.yyyy') and to_date('#f_regdat1# 23:55','dd.mm.yyyy HH24:MI') ??f_regdat1&!f_regdat2
	and d.REG_DATE <= to_date('#f_regdat2# 23:59','dd.mm.yyyy HH24:MI')  ??f_regdat2&!f_regdat1
	and d.REG_DATE between to_date('01.01.#f_year#','dd.mm.yyyy') and to_date('31.12.#f_year# 23:55','dd.mm.yyyy HH24:MI') 	??f_year&!f_regdat1&!f_paydat1&!f_docdat1
GROUP BY receiver, RECEIVER_C, INN_RECEIVER
order by #srt# #desc#
[end]

$INCLUDE [criteria]
	


[criteria]
FROM 
c1.A_DH12070@asu_db P, c1.A_1SJOURN@asu_db J, c1.A_Kontragent@asu_db K

where

trim(J.IDDOC)=trim(P.IDDOC)
and  trim(P.SP12058)=trim(K.ID(+))

 and trim(K.DESCR) not in ('Ингосстрах','Мин.фин.Моск.обл.','Рос.агентство по патентам','НИОС-Авиа','СК-Партнер', 'УФК', 'Центр развития образования', 'Центр Научных Поездок', 'Карачарово', 'Моск.обл.рег.палата') ??f_regcheck=on

	and substr(J.DATE_TIME_IDDOC,1,8) = '#f_startdate#' ??f_startdate&!f_enddate
	and substr(J.DATE_TIME_IDDOC,1,8) between '#f_startdate#' and '#f_enddate#' ??f_startdate&f_enddate
	and substr(J.DATE_TIME_IDDOC,1,8) <= #f_enddate# ??f_enddate&!f_startdate
	and P.SP12059 #f_summa_op# #f_summa# ??f_summa&!f_summa_op==
	and abs(P.SP12059-#f_summa#) <= #dsumm#+0.5 ??f_summa&f_summa_op==
	and upper(K.DESCR) like upper('%#f_contrag#%') ??f_contrag
	and P.SP12066 like '%#f_nazn#%' ??f_nazn
	and p.iddoc like '%#iddoc#%' 	??iddoc
	and trim(J.DOCNO) like '%#f_platNr#' 	??f_platNr
$INCLUDE [reg check]  ??f_regcheck=on
	
	and not #nalog# ??!f_nalog=on&f_other=on
	and #nalog# ??f_nalog=on&!f_other=on&!f_perevod=on
	and not #perevod# ??!f_perevod=on&f_other=on
	and #perevod# ??f_perevod=on&!f_other=on&!f_nalog=on
	and (#nalog# or #perevod#) ??f_nalog=on&f_perevod=on&!f_other=on
	
	and #jinr# ??f_jinr&!f_out
	and not #jinr# ??!f_jinr&f_out
[end]

[reg check]
	and trim(J.DOCNO) in 
	(SELECT distinct trim(v.docno) FROM mv_vypiska v, DOC_VYPISKA_LINK l
	  WHERE l.iddoc(+)=v.iddoc and l.LINENO(+)=v.LINENO
       and v.docno is not null
       and v.DOC_REG_NR is null and l.DOC_REG_NR is null
       AND v.is_prixod=0 AND v.is_curr=0
       AND trim(v.acc_debet) IN('79.15.','79.10.','79. 9.','79. 8.','79. 7.','79. 6.','60. 9.','60. 6.','60. 5.','60. 4.','60. 2.')
       AND v.acc_kredit not like('%76.33%') AND v.acc_kredit not like('%76.77%')
       AND trim(v.ist_fin_id) IN('1','2','3','7','8')
  )
[end]

[colNames]
SUM=Сумма
RECEIVER=Контрагент
RECEIVER_C=Код
NUM_DOCS=кол-во<br>доков
DEST=Назначение платежа<br>&nbsp;
[end]

