[parameters]
debug=off
service=dubna.walt.service.CrossTabService
KeepLog=false
numDigits=1
NumSpecialCols=0
td_beg=<td nowrap=true
link=#servletPath#?c=budget/budget_lab_prn
table_beg=<table border="0" cellspacing="0" cellpadding="2" class="ws"> ??!XL
table_beg=none ??XL
table_end=none ??!XL
table_end=</table> ??XL
td_beg=<td class="en"
wrapperTable=&nbsp;
totColLabel=<br>Всего
noTotals=Y
prn=y
$INCLUDE budget/tablenames.dat[tables]
[end]


[report header]
$SET_PARAMETERS b_table=#budget_table# ??!q_curr_budget_table
$SET_PARAMETERS b_table=#q_curr_budget_table# ??q_curr_budget_table
$GET_DATA [get_lab] ??labcode

$INCLUDE [header_prn] ??!XL
$INCLUDE [header_XL] ??XL
[end]

[header_XL]
<b>Бюджет #DIV#</b>
<br>
<b><i>в тыс.$</i>
, Кроме приказов ??eliminate_prik=noprik
, Только приказы ??eliminate_prik=prik
</b>
<br>
<table border=1>
[end]

[header_prn]
<style>
td {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
}
th {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
}
</style>
$INCLUDE common.dat[head]
<link rel="stylesheet" href="#jsPath#bord.css" type="text/css">


<body bgcolor=white style="margin:0;">
<table width=100% border=0 cellpadding=6 cellspacing=0 >
<tr  bgcolor=whitesmoke>
<td align="left" valign="top" style="border:0px;">
<h3 style="color:black;">
Бюджет #DIV# 
</h3>


<td align=right nowrap width="1%" align="right" valign="top" style="border:0px;">
<img src="#imgPath#or_dot.gif">&nbsp;&nbsp;<a href="#" onclick="window.close();" class="s" target=_parent>закрыть</a>
</td></tr></table>

<br><b>БД:</b> #q_curr_budget_table# ??!q_curr_budget_table=#budget_table#
<br><b>Дата печати: </b>
$GET_DATA [get_prn_time]
#PRN_DAT#   ??PRN_DAT
<br><br><b><i>тыс.$</i>
, Кроме приказов ??eliminate_prik=noprik
, Только приказы ??eliminate_prik=prik
</b>
[end]


[SQL_Cross_Values]
select name_short from #tree_table# where type='RAZD' and code in (1
,2 ??TREE_ID_2
,3  ??TREE_ID_3
) order by code
[end]


[SQL]
select 
$INCLUDE budget/budget_labs.cfg[field statia]
 , t.name_short
 ,  
  $INCLUDE [Not hl] 
  as summa
from 
	#b_table# b
	join bc bc on (bc.id=b.tree_id and bc.status in('A','I') and bc.ROOT_ID<>2)
	join #tree_table# t on (t.code=bc.razd_nr and t.type='RAZD')
	join #nsb_table# n on (n.id=b.nsb_id and n.position < 6700)
$INCLUDE budget/budget_lab.cfg[criteria]
group by n.nr, n.POSITION, n.id, b.nsb_id,bc.razd_nr,  t.name_short, n.descr, n.descr_full
order by n.POSITION, b.nsb_id,bc.razd_nr
[end]

БЫЛО:
from #b_table# b
    join bc bc on (bc.id=b.tree_id and bc.status in('A','I')) 
    join #tree_table# t on (t.code=bc.razd_nr and t.type='RAZD' and t.RAZD_NR<5)
    join #nsb_table# n on (n.id=b.nsb_id and n.r1 like '%1%' and n.position < 6700)

where 
  bc.lab_code='#labcode#'


[Not hl]
   case when n.id in(#PARENTS#0)
   then '<div class=bold>--'|| to_char(sum(b.summa) ,'999990.0')||'--</div>'
   else
     to_char(sum(b.summa) ,'999990.0')
   end
[end]


[get_lab]
select div from i_lab where code='#labcode#'
[end]

[colNames]
str_bud=+++
NAME_SHORT=План <i>#DIV#</i> по разделам бюджета
[end]

[report footer]
</blockquote></body></html>
[end]


[get_prn_time]
select to_char(SYSDATE,'DD.MM.YYYY HH24:MI') as PRN_DAT from dual
[end]

[preSQLs]
select id||',' as PARENTS from #nsb_table# n1
where exists (select pid from #nsb_table# n2 where n2.pid=n1.id and n2.id > 0 and n2.r1 like '%1%');
select id as TREE_ID_2 from #tree_table# where type='L' and razd_nr=2 and lab_code=#labcode#;
select id as TREE_ID_3 from #tree_table# where type='L' and razd_nr=3 and lab_code=#labcode#;
[end]