[parameters]
debug=off
service=dubna.walt.service.CrossTabService
KeepLog=false
numDigits=1
NumSpecialCols=0
link=#servletPath#?c=budget/budget_labs
table_beg=<table border="0" cellspacing="0" cellpadding="2" class="ws"> ??!XL
table_beg=none ??XL
table_end=none ??!XL
table_end=</table> ??XL
td_beg=<td class="en"
wrapperTable=&nbsp;
totColLabel=<br>Всего
noTotals=Y
prn=y

$INCLUDE budget/tablenames.dat[tables]
[end]


[report header]
$SET_PARAMETERS b_table=#budget_table# ??!q_curr_budget_table
$SET_PARAMETERS b_table=#q_curr_budget_table# ??q_curr_budget_table

$INCLUDE [header_prn] ??!XL
$INCLUDE [header_XL] ??XL
[end]

[header_XL]
<b>Бюджет - свод по лабораториям</b>
<br>

<b><i>в тыс.$</i>
, Кроме приказов ??eliminate_prik=noprik
, Только приказы ??eliminate_prik=prik
</b>
<br>
<table border=1>
[end]

[header_prn]
<style>
td {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
}
th {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
}
</style>

$INCLUDE common.dat[head]
<link rel="stylesheet" href="#jsPath#bord.css" type="text/css">
<script language="JavaScript">
function openprn(){
openWindow4Print('c=budget/budget_labs_prn'	,'prnwin',900,1000);
}
</script>
<body bgcolor=white style="margin:0;">
<table width=100% border=0 cellpadding=6 cellspacing=0>
<tr  bgcolor=whitesmoke>
<td align="left" valign="top" style="border 0px;">
<h3 style="color:black;">
Свод по лабораториям
</h3>

</td>


<td align=right nowrap width="1%" align="right" valign="top" style="border 0px;">
<img src="#imgPath#or_dot.gif">&nbsp;&nbsp;<a href="#" onclick="window.close();"class="s" target=_parent>закрыть</a>
</td></tr>
</table>
<br><b>БД:</b> #q_curr_budget_table# ??!q_curr_budget_table=#budget_table#
<br>
<b>Дата печати: </b>
$GET_DATA [get_prn_time]
#PRN_DAT#   ??PRN_DAT
<br>
<br>

<b><i>в тыс.$</i>
, Кроме приказов ??eliminate_prik=noprik
, Только приказы ??eliminate_prik=prik
</b>
[end]

[SQL_Cross_Values]
$INCLUDE [labListSQL]
order by CODE
[end]

[labListSQL]
select 
 '<b>'||div||'</b>' as div
 '<a href="#servletPath#?c=budget/budget_lab&labcode='||code||'">'||div||'</a>' as div ??
 , code 
from i_lab 
where budget='Y'
union select 'Инфр.', '990' as CODE from dual ??
[end]


[SQL]
select  
$INCLUDE budget/budget_labs.cfg[field statia]
, i.div
, 
$INCLUDE [Not hl]
  as s	
$INCLUDE budget/budget_labs.cfg[FROM] 
order by n.POSITION,lab_code 
[end]

from 

(select NSB_ID, sum(SUMMA) as SUMMA, max(dat) as MD, t.lab_code, n.position  
from #b_table# b
 join bc t on (t.id=b.tree_id and t.status in('A','I')) ??
 join tree_all_#q_yr# t on (t.id=b.tree_id and t.status in('A','I') and t.type='BC' and t.ROOT_ID<>2)
 join #nsb_table# n on (n.id=b.nsb_id and n.position < 6700)
where ??
  
group by NSB_ID, t.lab_code, n.position
order by t.lab_code
) bl

join #nsb_table# n on n.id=bl.nsb_id
join (
$INCLUDE [labListSQL]
) i on i.code=bl.lab_code

where 
(bl.lab_code in (select code from i_lab where budget='Y') or lab_code='990')
and bl.nsb_id IN (select ID from #nsb_table# where r1 like '%0%')
group by ??
lab_code,i.div,n.descr,n.nr,n.POSITION,nsb_id ??
order by n.POSITION,lab_code

[end]


[Not hl]
   case when n.id in(#PARENTS#0)
   then '<div class=bold>--'|| to_char(summa ,'999990.0')||'--</div>'  	
   else
     to_char(summa ,'999990.0')  
   end
[end]
[colNames]
str_bud=+++
DIV=План по лабораториям
[end]

[report footer]
</blockquote></body></html>
[end]

[get_prn_time]
select to_char(SYSDATE,'DD.MM.YYYY HH24:MI') as PRN_DAT from dual
[end]

[preSQLs]
select id||',' as PARENTS from #nsb_table# n1
where exists (select pid from #nsb_table# n2 where n2.pid=n1.id and n2.id > 0 and n2.r1 like '%1%');
[end]