[parameters]
debug=on ??
service=dubna.walt.service.CrossTabService
KeepLog=false
numDigits=1
NumSpecialCols=0
totColLabel=<br>Всего
link=#servletPath#?c=budget/budget_labs
noTotals=Y 
$INCLUDE budget/tablenames.dat[tables]

[end]

[field statia]
  decode(n.descr,'ИТОГО','<b> ИТОГО:','ВСЕГО','<b> ВСЕГО:'
	 ,decode(n.nr,null,'&nbsp;&nbsp;&nbsp;','<b>'||n.nr||'. ')||
   n.descr ??!prn
   n.DESCR_FULL  ??prn
  )
  as "Статья"
[end]  
 

[report header]
$SET_PARAMETERS b_table=#budget_table# ??!q_curr_budget_table
$SET_PARAMETERS b_table=#q_curr_budget_table# ??q_curr_budget_table

$SET_PARAMETERS eliminate_prik=#eliminate_prik_#; ??!eliminate_prik
$SET_PARAMETERS eliminate_prik=all; ??!eliminate_prik|eliminate_prik=check
$SET_PARAMETERS_SESSION eliminate_prik_=#eliminate_prik#;

$INCLUDE common.dat[head]

<script language="JavaScript">
function openprn(XL)
{ 
	if(XL)
		openWindow4Print('c=budget/export_XL&cc=budget_labs_prn&eliminate_prik=#eliminate_prik#','prnwin',1000,1000);
	else
		openWindow4Print('c=budget/budget_labs_prn&eliminate_prik=#eliminate_prik#','prnwin',900,1000);
}
function go(labcode)
{
  hl_trigger=frm.hl_trigger.value;
  HL=frm.HL.value;
  
  window.location.href="#ServletPath#?c=budget/budget_lab&labcode="
   +labcode + "&HL="+HL+ "&hl_trigger=#hl_trigger#"+"&tm=" + (new Date()).getTime();
}
</script>
<link rel="stylesheet" href="#cssPath#bluexa.css" type="text/css">

<body bgcolor=f4f4ff style="margin:0;">
$INCLUDE common.dat[top link]


<table width=100% border=0 cellpadding=6 cellspacing=0>
<form name="theForm" method="POST" enctype="multipart/form-data">
<tr  bgcolor=#C0E0FF>
<td align="left" valign="top">
<h3>
Свод по лабораториям
</h3>

</td>
<td align="right" valign="top">

<input type="hidden" name="c" value="#c#">
	$CALL_SERVICE c=budget/tab_sel_ctrl.cfg 
</td>

<td align=right nowrap width="1%" align="right" valign="top">
<img src="#imgPath#or_dot.gif">&nbsp;&nbsp;<a href="#ServletPath#" class="s" target=_parent>На главную </a> ??
</td></tr>
</table>

<table style="background-color:white; border:solid 1px ##708090">
<tr><td nowrap=true>
===========для подсветки изменений= ===============================??
<SCRIPT language=JavaScript src="#jsPath#budget.js"></SCRIPT>
<input name=hl_trigger type=checkbox onclick="hl_trigger_changed();"
 checked ??hl_trigger=on
>
Подсвечивать измененные с 
$INCLUDE common.dat[dat] param: fd_name=HL; fd_val=#HL#;yr1=-4; yr2=0; class=xp;
===================================================================??

</td>
<td>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="javascript:openprn(1);">
<img src="#imgPath#xl.gif" border="0"> Excel &nbsp;</a>

<a href="javascript:openprn();"><img src="#imgPath#printer.gif" border="0">страница для печати</a>
</td>
</tr>

<tr><td>
<input name=eliminate_prik value="all" type=radio onclick="hl_trigger_changed();"
 checked ??!eliminate_prik|eliminate_prik=all
>Весь бюджет &nbsp;

<input name=eliminate_prik value="noprik" type=radio onclick="hl_trigger_changed();"
 checked ??eliminate_prik=noprik
>Исключить приказы &nbsp;

<input name=eliminate_prik value="prik" type=radio onclick="hl_trigger_changed();"
 checked ??eliminate_prik=prik
>Только приказы 
</table>


<blockquote style="margin-left:10px;">
<b><i>в тыс.$</i></b>
[end]

$GET_DATA [prepare base sql] ??eliminate_prik&!eliminate_prik=all
[prepare base sql]
select ' union select bud#NODEID#.nsb_id, '|| id ||' as TREE_ID, sum(bud#NODEID#.summa) as SUMMA from #b_table# bud#NODEID# '
 ||' where bud#NODEID#.tree_id in ( select id from #tree_all_table# tr where tr.type=`BC` '
 ||' and not tr.PRIKAZ_ID is null' ??eliminate_prik=prik
 ||' and tr.PRIKAZ_ID is null'  ??eliminate_prik=noprik
 ||' connect by prior tr.id=tr.pid start with tr.pid=' || id 
 ||' union select id from #tree_all_table# where id=' ||id ||' and type=`BC` and '
 ||'not ' ??eliminate_prik=prik
 ||'PRIKAZ_ID is null' 

 ||') group by bud#NODEID#.NSB_ID'
as "BUDGET_DATA_TABLE"
from #tree_all_table#
where pid=#NODEID#
  and (status in('A') or (type='BC' and status in('A','I')))
;
select replace(substr('#BUDGET_DATA_TABLE#', 6),'`','''') as BUDGET_DATA_TABLE from dual
;
[end]


[report footer]
</blockquote></form></body></html>
[end]

=========================================================================
=========================================================================
=========================================================================
[preSQLs]
select id||',' as PARENTS from #nsb_table# n1
where exists (select pid from #nsb_table# n2 where n2.pid=n1.id and n2.id > 0 and n2.r1 like '%1%');
[end]

[SQL_Cross_Values]
$INCLUDE [labListSQL]
order by CODE
[end]

[labListSQL]
select 
 '<a href="javascript:go('''||code||''');">'||div||'</a>' as div
 , code 
from i_lab 
where budget='Y'
union select 'Инфр.', '990' as CODE from dual ??
[end]


[SQL]
select  
 nvl(n.nr,'&nbsp;&nbsp;&nbsp;&nbsp;')||'  '||n.descr as "Статья" ??
$INCLUDE [field statia]
,i.div
, 
$INCLUDE [hl] ??hl_trigger&HL
$INCLUDE [Not hl] ??!hl_trigger|!HL 
  as s	
,sum(summa) as s	??


$INCLUDE budget/budget_labs.cfg[FROM]

group by ??
lab_code,i.div,n.descr,n.nr,n.POSITION,nsb_id ??
order by n.POSITION,lab_code
[end]

[FROM]
FROM
(select NSB_ID, sum(SUMMA) as SUMMA, max(dat) as MD, t.lab_code, n.position  
from #b_table# b
 join tree_all_#q_yr# t on (t.id=b.tree_id and t.status in('A','I') and t.type='BC' and t.ROOT_ID<>2)
 join #nsb_table# n on (n.id=b.nsb_id and n.position < 6700)
where ??!eliminate_prik=all
 not  ??eliminate_prik=prik
 t.PRIKAZ_ID is null ??!eliminate_prik=all

group by NSB_ID, t.lab_code, n.position
order by t.lab_code
) bl

join #nsb_table# n on n.id=bl.nsb_id
join (
$INCLUDE [labListSQL]
) i on i.code=bl.lab_code
where 
(bl.lab_code in (select code from i_lab where budget='Y') or lab_code='990')
and bl.nsb_id IN (select ID from #nsb_table# where r1 like '%0%')
[end]


$INCLUDE [SQL_BASE] ??eliminate_prik&!eliminate_prik=all
$INCLUDE [SQL_ALL] 	??!eliminate_prik|eliminate_prik=all
[end]

[SQL_BASE]

[SQL_ALL]
select  
 nvl(n.nr,'&nbsp;&nbsp;&nbsp;&nbsp;')||'  '||n.descr as "Статья" ??
$INCLUDE [field statia]
,i.div
, 
$INCLUDE [hl] ??hl_trigger&HL
$INCLUDE [Not hl] ??!hl_trigger|!HL 
  as s	
,sum(summa) as s	??

FROM

(select NSB_ID, sum(SUMMA) as SUMMA, max(dat) as MD, t.lab_code, n.position  
from #b_table# b
 join bc t on (t.id=b.tree_id and t.status in('A','I')) ??
 join tree_all_#q_yr# t on (t.id=b.tree_id and t.status in('A','I') and t.type='BC' and t.ROOT_ID<>2)
 join #nsb_table# n on (n.id=b.nsb_id and n.position < 6700)
where ??
  
group by NSB_ID, t.lab_code, n.position
order by t.lab_code
) bl

join #nsb_table# n on n.id=bl.nsb_id
join (
$INCLUDE [labListSQL]
) i on i.code=bl.lab_code

where 
(bl.lab_code in (select code from i_lab where budget='Y') or lab_code='990')
and bl.nsb_id IN (select ID from #nsb_table# where r1 like '%0%')
group by ??
lab_code,i.div,n.descr,n.nr,n.POSITION,nsb_id ??
order by n.POSITION,lab_code

[end]



[Not hl]
   case when n.id in(#PARENTS#0)
   then '<div class=bold>--'|| to_char(summa ,'999990.0')||'--</div>'  	
   else
     to_char(summa ,'999990.0')  
   end
[end]

[hl]
   case when MD > to_date('#HL#','DD.MM.YYYY')
   then 
     case when n.id in(#PARENTS#0)
     then '<div class=mark_bold>--'|| to_char(summa ,'999990.0')||'--</div>'  
     else
      '<div class=mark>--'|| to_char(summa ,'999990.0')||'--</div>'  	
     end
   else (
$INCLUDE [Not hl]   
     )
   end 	
[end]


[colNames]
str_bud=+++
DIV=План по лабораториям
[end]
