[parameters] 
title=Бюджет : контрольные цифры.
service=dubna.walt.service.TableServiceSpecial
tableCfg=this
table_beg=none
table_end=none
$INCLUDE budget/tablenames.dat[tables]

debug=off
[end]
[report]

$INCLUDE [report footer]
[end]

[report header]
$SET_PARAMETERS is_header=y; old_id=-1; old_thema=-1; 
$INCLUDE common.dat[head]
<SCRIPT language=JavaScript src="#imgPath#lib.js"></SCRIPT>
<link rel="stylesheet" href="#cssPath#bluexa.css" type="text/css">
<body bgcolor=f0f8ff style="margin: 0px;" onload="updatesums();">
$INCLUDE common.dat[top link]
<table width=100% border=0 cellpadding=6 cellspacing=0>
<tr  bgcolor=#C0E0FF>
<td valign=top>
			<h3>
			Распределение контрольных цифр по лабораториям и научным направлениям.
			</h3>

</td>

<td align=right valign=top nowrap width="1%">
<img src="#imgPath#or_dot.gif">&nbsp;&nbsp;<a href="#ServletPath#" class="s" target=_parent>На главную </a> ??
</td></tr>
</table>
<blockquote style="margin-left:5;">
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="back" value="#back#">
<input type=hidden name="tabN" value="">


<SCRIPT Language="JavaScript">
var frm=document.theForm;
function check(field)
{
if (field.value=='0') field.value="0.";
  if ((window.event.keyCode >= 48 && 
       window.event.keyCode <= 57) || 
      (window.event.keyCode == 46)) 
  { 
    if (window.event.keyCode != 46) {
      return true;
    }
    else 
    {  
      if (field.value.search(/\./) == -1 && 
          field.value.length > 0) 
        return true;
      else 
        return false;
    }       
  }
  else
  {   
     return false;
  }
}
function saveIt()
{
	var pat='^c\\d+_\\d+$';
	for(i=0; i<=theForm.elements.length-1;i++)
		{
			if (testName(theForm.elements[i].name,pat)==true)
			{
				var s= new String(theForm.elements[i].name);
				var paramStr=s.substring(1,s.length);
				var mn="m"+paramStr;
				var m=document.getElementById(mn);
				var z=new String(m.innerHTML);
				if (z!="")
				{
					var paramArr=paramStr.split("_");
					var to = document.frames.save.document.saveForm;
					to.dircode.value=paramArr[0];
					to.labcode.value=paramArr[1];
					to.summa.value=theForm.elements[i].value;
					m.innerHTML="";
					to.submit();
					break;
				}
			}
			
		}
}

function updatesums()
{
var pat="^c\\d+_\\d+$";
for(i=0; i<=theForm.elements.length-1;i++)
	{
		if (testName(theForm.elements[i].name,pat)==true){
		var found=theForm.elements[i].name;
		break;
		}
	
	}
Arr = theForm.elements[i].name.split("_");
Arr[0]=Arr[0].substring(1,Arr[0].length);

pat="^c"+Arr[0]+"_\\d+$";
for (ii=0;ii<theForm.elements.length-1;ii++)
	{
		if (testName(theForm.elements[ii].name,pat)==true)
		{
		Arr1 = theForm.elements[ii].name.split("_");
		sumit(Arr[0],Arr1[1]);
		}
		
	}

pat="^c\\d+_"+Arr[1]+"$";
for (j=0;j<theForm.elements.length-1;j++)
	{
		if (testName(theForm.elements[j].name,pat)==true)
		{
		Arr1 = theForm.elements[j].name.split("_");
		Arr1[0]=Arr1[0].substring(1,Arr1[0].length);
		sumit(Arr1[0],Arr[1]);
		
		}
		
	}
sum_all();
}


function sumit(dircode,labcode)
{
var vsum=0.;
sender=document.getElementById("c"+dircode+"_"+labcode);
var vpat="^c\\d+_"+labcode+"$";
for(i=0; i<=theForm.elements.length-1;i++)
{
	if (testName(theForm.elements[i].name,vpat)==true)
	{
		if (theForm.elements[i].value.length > 0)
		vsum=vsum+eval(theForm.elements[i].value);
	}
}
var vn="vs"+labcode;
var m=document.getElementById(vn);
m.value=formatNumber(vsum,1);
sumRow(dircode);
}

function sumRow(dircode)
{
var hsum=0.;
var hpat="^c"+dircode+"_\\d+$";
var hn="hs"+dircode;
for(i=0; i<=theForm.elements.length-1;i++)
	{
		if (testName(theForm.elements[i].name,hpat)==true)
		{
		if (theForm.elements[i].value.length > 0)
		hsum=hsum+eval(theForm.elements[i].value);
		}
	}

var m=document.getElementById(hn);
m.value=formatNumber(hsum,1);
}

function sum_all()
{
var suma=0.;
var pat="^vs\\d+";
for (j=0;j<theForm.elements.length-1;j++)
	{
		if (testName(theForm.elements[j].name,pat)==true) 
		{
		if (theForm.elements[j].value.length>0) 
		suma=suma+eval(theForm.elements[j].value);
		}
	}
theForm.sall.value=formatNumber(suma,1);
}

function recChanged(dircode,labcode)
{
 var mn="m"+dircode+"_"  +labcode;
 var m=document.getElementById(mn);
 m.innerHTML="<font color=red>*</font>";
}

function testName(iname,ipattern)
{ 
var re = new RegExp(ipattern);
var res = re.test (iname);
return res;
}
</script>

<table border=0>
<tr>
<td>
<table border="1" cellspacing="0" cellpadding="1" bgcolor=whitesmoke>  
<tr bgcolor=white>
$GET_DATA [get header]
<th align="left">Научные<br>направления</th>#HEDER#<th>Итого по <br>направл.</th>
</tr>
$SET_PARAMETERS ID=-1

[end]

[report footer]
<td><input type=text size=3 class="xpsum" readonly name="hs#ID#"></td>
</tr>
<tr align=left>
$GET_DATA [get footinputs]
<th> ИТОГО по  <br>лабораториям</th>
#FOOTINPUTS#
<th><input type=text size=4 readonly name="sall" class="xpsum"></th>
</tr>
</table>
</table>
<iframe  frameborder="no" src="adb?c=budget/save_cs" width="0" height="0" scrolling="no" name="save" id = "save"></iframe>
<table border=0 width="80%">
<tr><td>
			<div align=right>
				<input type="button" class="xp" value="сохранить" onClick="saveIt();">
			</div>
</td></tr>			
</table>
</form>

</blockqote>
</body></HTML>
[end]

[item]
$SET_PARAMETERS NEWID=#DIRCODE#
<td><input type=text size=3 readonly class="xpsum" name="hs#ID#"></td> ??!ID=#NEWID#&!ID=-1
</tr><tr><td>#DIRNAME#</TD> ??!ID=#NEWID#
<td nowrap>
<input type=text class="xpbud" name="c#DIRCODE#_#LABCODE#" value="#DATA#" size=3 onkeypress="return check(this);" onChange="recChanged('#DIRCODE#','#LABCODE#');sumit('#DIRCODE#','#LABCODE#');sum_all();"
readonly ??!USER_GROUP={{.*sys.*}}
>
<span id="m#DIRCODE#_#LABCODE#"> </span>
</td>
$SET_PARAMETERS ID=#DIRCODE#

[end]


[get header]
select '<th>'||div||'</th>' as HEDER from i_lab where budget='Y' order by code;
[end]

[get footinputs]
select '<th><input type=text class="xpsum" readonly  size=3 name="vs'||code||'"></th>' as FOOTINPUTS
from i_lab where budget='Y' order by code
[end]

[SQL]
select a.dircode,a.dirname, a.labcode,a.labname, to_char(nvl(cs.checksum,0),'999990.9') as data from
(
select ta.code as dircode, ta.name_short as dirname, il.code as labcode ,il.div as labname
from #tree_all_table# ta, i_lab il
where type='DIR' and il.budget='Y'    order by dircode,labcode
) a, #checksums_table# cs 
where 
  a.labcode=cs.lab_code(+)
  and a.dircode=cs.dir_code(+)
order by dircode,labcode

[end]


