[parameters]
service=dubna.walt.service.CrossTabService
KeepLog=true
numDigits=1
NumSpecialCols=1
link=#servletPath#?c=budget/infra-1&LABCODE=#LABCODE#&b_table=#b_table#&RAZDEL=#RAZDEL#&det=y
$INCLUDE budget/tablenames.dat[tables]
[end]

на инфраструктуру ??RAZDEL=3&!nsb_id
#DET_DES# ??RAZDEL=3&nsb_id
по базовым установкам ??RAZDEL=2
#LAB_NAME_SHORT# ??LABCODE

[report header]
<br><br><b>
Распределение затрат 
на I раздел: ??!dir_code
на научное направление #DIR_DES#: ??dir_code
</b>
[end]

[SQL_Cross_Values]
select distinct 
  n.descr  ??RAZDEL=3
  'Сумма' as descr  ??RAZDEL=2
  , n.POSITION
$INCLUDE [criteria]
order by n.POSITION
[end]

[SQL]
select 
 '<center>'||t.NAME_SHORT as DIR_NAME, ??!dir_code
  ''''||b.SBJ_CODE as SBJ, ??det
  n.descr  ??RAZDEL=3
  'Сумма' as descr  ??RAZDEL=2
 , sum(bud.summa)
 , n.POSITION
$INCLUDE [criteria]
group by 
 t.name_short, ??!dir_code
  b.SBJ_CODE, ??det
  n.descr, ??RAZDEL=3
  n.POSITION
 , n.id,t.code  ??!det
order by 
 t.NAME_SHORT, ??!dir_code
 b.SBJ_CODE, ??det
 n.POSITION

[end]

[criteria]
from bc b left join #tree_table# t on (t.code=b.dir_code)
 left join #b_table# bud on (bud.tree_id=b.id
	)
 left join #nsb_table# n on n.id=bud.nsb_id
where 1=1
 and b.lab_code=#LABCODE# ??LABCODE
 and b.YR<=#q_yr# and b.LY>=#q_yr#
	and t.type='DIR'
	and t.code=#dir_code#  ??dir_code
 and bud.nsb_id 
  in(27,28,29,30) ??RAZDEL=3
  =26 ??RAZDEL=2
	and bud.nsb_id=#nsb_id# ??nsb_id

[end]

[colNames]
DIR_NAME=Направление
SBJ=Тема
[end]

[report footer]
 &nbsp; <a href="#link#" target=_blank>Детализация по темам >></a> ??!det
[end]

[xxxpreSQLs]
select distinct NAME as LAB_NAME, NAME_SHORT as LAB_NAME_SHORT
from #tree_table# t
where t.type='L'
  and t.code=#LABCODE#  ??LABCODE
;
select descr as DET_DES from #nsb_table# where id=#nsb_id# ??nsb_id
;
select t.NAME_SHORT as DIR_DES from #tree_table# t where t.code=#dir_code# and t.type='DIR' ??dir_code
[end]