[parameters]
debug=off ??
service=dubna.walt.service.CrossTab2SubtotService
service=dubna.walt.service.CrossTab2Service

KeepLog=false
numDigits=1
NumSpecialCols=0 ??
totRowLabel=Всего:
totColLabel=<br>ВСЕГО:
noTotals=Y 
td_beg=<td nowrap=true 
 align=right ??
link=#servletPath#?c=budget/lab_theme
$INCLUDE budget/tablenames.dat[tables]

[end]


[report header]
$SET_PARAMETERS b_table=#budget_table# ??!q_curr_budget_table
$SET_PARAMETERS b_table=#q_curr_budget_table# ??q_curr_budget_table

$INCLUDE common.dat[head]
$GET_DATA [get_lab] ??labcode

<style>
.mark {background-color : FFCCCC;}
.mark_bold {background-color : FFCCCC; font-weight:bold;}
.bold {font-weight:bold;}
.rowSubtotal {background-color : FFFFDD; font-weight:bold;}
</style>

<script language="JavaScript">
function openprn(labcode, XL){
	if(XL)
		openWindow4Print('c=budget/export_XL&cc=lab_R1_prn&labcode='+labcode,'prnwin',100,100);
	else
		openWindow4Print('c=budget/lab_R1_prn&labcode='+labcode,'prnwin',900,1000);
}
function go(labcode,nsbid){

}
</script>
<link rel="stylesheet" href="#cssPath#bluexa.css" type="text/css">
<body bgcolor=f4f4ff style="margin:0;">
$INCLUDE common.dat[top link]
<table width=100% border=0 cellpadding=6 cellspacing=0>
<form name="theForm" method="POST" enctype="multipart/form-data">
<tr  bgcolor=#C0E0FF>
<td align="left" valign="top">
<h3>
Бюджет #DIV#, раздел 1
</h3>

</td>

<td align="right" valign="top">
<input type="hidden" name="labcode" value="#labcode#">
<input type="hidden" name="c" value="#c#">
	$CALL_SERVICE c=budget/tab_sel_ctrl.cfg 
</td>

<td align=right nowrap width="1%" align="right" valign="top">
<img src="#imgPath#or_dot.gif">&nbsp;&nbsp;<a href="#ServletPath#" class="s" target=_parent>На главную </a> ??
</td>
</tr>
</table>
===========для подсветки изменений= ===============================??
<SCRIPT language=JavaScript src="#jsPath#budget.js"></SCRIPT>
<input name=hl_trigger type=checkbox onclick="hl_trigger_changed();"
 checked ??hl_trigger=on
>
Подсвечивать измененные с 
$INCLUDE common.dat[dat] param: fd_name=HL; fd_val=#HL#;yr1=-4; yr2=0; class=xp;
===================================================================??
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="javascript:openprn('#labcode#',1);"><img src="#imgPath#xl.gif" border="0"> Excel &nbsp;</a>

<a href="##" onclick="openprn('#labcode#');"><img src="#imgPath#printer.gif" border="0">страница для печати</a>

<blockquote style="margin-left:20px;">
<b><i>тыс.$</i></b>
[end]


[SQL_Cross_Values]
SELECT 
$INCLUDE [Cross_Value]
FROM 
	#tree_table# t 
WHERE 
	t.type='T' 
	and t.lab_code=#labcode#
	and t.status='A'   
	and t.ROOT_ID<>2
ORDER BY t.dir, t.position, t.code
[end]



[Cross_Value]
'<a href="javascript:top.openNode('||t.pid||');">'||substr(t.dir,4)||'</a>'
 ||'|/|'||
 '<a href="javascript:top.openNode('||t.id||');">'||substr(t.name_short,6,4)||'</a>'

 as SBJ
[end]


[SQL]
SELECT 
$INCLUDE budget/budget_labs.cfg[field statia]
,
$INCLUDE [Cross_Value]
,
  $INCLUDE [hl] ??hl_trigger&HL
  $INCLUDE [Not hl] ??!hl_trigger|!HL
  as SUMMA
FROM #tree_table# t
	join #b_table# b on b.tree_id=t.id 
	join #nsb_table# n on n.id=b.nsb_id
WHERE
	t.lab_code=#labcode# 
	and t.type='T'  
	and t.status='A' 
	and t.ROOT_ID<>2
ORDER BY  
n.position,t.dir,t.position,t.code

[end]

[Not hl]
   case when n.id in(#PARENTS#0)
   then '<div class=bold>--'|| to_char(b.summa ,'999990.0')||'--</div>'
   else
     to_char(b.summa ,'999990.0')
   end
[end]

[hl]
   case when dat > to_date('#HL#','DD.MM.YYYY')
   then 
     case when n.id in(#PARENTS#0)
     then '<div class=mark_bold>--'|| to_char(b.summa ,'999990.0')||'--</div>'
     else
      '<div class=mark>--'|| to_char(b.summa ,'999990.0')||'--</div>'
     end
   else (
$INCLUDE [Not hl]   
     )
   end 	
[end]

[get_lab]
select div from i_lab where code='#labcode#'
[end]

[colNames]
str_bud=+++
NAME_SHORT=План <i>#DIV#</i> по разделам бюджета
SBJ=Направление / Тема
[end]

[report footer]
</blockquote>
</form>

</body>
</html>
[end]

[preSQLs]
select id||',' as PARENTS from #nsb_table# n1
where exists (select pid from #nsb_table# n2 where n2.pid=n1.id and n2.id > 0 and n2.r1 like '%1%');
[end]