[parameters]
title=Бюджет: версия для печати
service=dubna.walt.service.CrossTabService ??logged
tableCfg=this
table_beg=<table style="border-left:solid 1px black; border-top:solid 1px black;"> ??!XL
table_beg=none ??XL
table_end=none ??!XL
table_end=</table> ??XL
tbl=budget	
debug=off
noTotals=y
numDigits=1 ??!XL
numDigits=3 ??XL
$INCLUDE menu.cfg[tables]
[end]


[report]
<h1>Нет доступа. Пройдите авторизацию.</h1>
<script language="JavaScript">
top.window.location.href="#ServletPath#";
</script>
[end]


[report header]
$SET_PARAMETERS prn=yes

$SET_PARAMETERS b_table=#budget_table# ??!q_curr_budget_table
$SET_PARAMETERS b_table=#q_curr_budget_table# ??q_curr_budget_table

$GET_DATA budget\tree.cfg[Access SQL] ??A_LABS
$GET_DATA [get_path] ??NODEID
$SET_PARAMETERS RAZDEL=0 ??!RAZDEL
$GET_DATA [get_mod_date] ??NODEID
$SET_PARAMETERS is_header=y; old_id=-1; old_thema=-1; 

$INCLUDE [header_prn] ??!XL
$INCLUDE [header_XL] ??XL


[end]

[header_XL]
#PATHTONODE# ??PATHTONODE
<br>
$CALL_SERVICE c=budget/list_bc_XL.cfg ??BCODE&XL
<br>
<table border=1>
[end]


[header_prn]
$INCLUDE common.dat[head]
<link rel="stylesheet" href="#jsPath#bord.css" type="text/css">  ??!XL
<style>
td {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
}
th {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
}
</style>

<body bgcolor="white" style="margin:0;" 
onLoad="update_right_sums1();" ??
>
<table width=100% border=0 cellpadding=6 cellspacing=0>
<form name="theForm" method="POST" enctype="multipart/form-data">
<tr  bgcolor=whitesmoke>
<td valign=top>
<h3 style="{font-size :18px; color: black;}">#PATHTONODE#</h3> ??PATHTONODE
</td>
<td align=right valign=top nowrap width="1%">
<img src="#imgPath#or_dot.gif">&nbsp;&nbsp;<a href="javascript:window.close()" class="s">закрыть</a>
</td></tr>
</table>
<blockquote style="margin:8">
: #RAZDEL#  ??
b_table=#b_table# ??
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>

<input type=hidden name="c" value="#c#">
<input type=hidden name="NODEID" value="#NODEID#">
<input type=hidden name="back" value="#back#">
<input type=hidden name="tabN" value="">
<SCRIPT Language="JavaScript">
var frm=document.theForm;
</script>

<b>БД:</b> #b_table# ??!b_table=#budget_table#
<br><b>Дата печати: </b>
$GET_DATA [get_prn_time]
#PRN_DAT#   ??PRN_DAT
<br><b>Дата последней модификации: </b> #LASTMOD_DAT#   ??LASTMOD_DAT

<br>
<br>
$CALL_SERVICE c=budget/list_bc.cfg ??BCODE
[end]

[report footer]
$CALL_SERVICE c=budget/infra.cfg ??xxx RAZDEL=3|RAZDEL=2

</form></blockqote>  ??!XL
</body></HTML>
[end]

[colNames]
NAME_SHORT=..
 Лаборатория
[end]

[SQL_Cross_Values]
select 
decode(t.TYPE,'T',substr(t.name_short,6,4)
  ,decode(t.TYPE,'BC', to_char(t.code,'9990')
    ,t.name_short)) as name_short
from #tree_all_table# t
where t.pid=#NODEID#
  and (t.status in('A') or (t.type='BC' and t.status in('A','I')))

order by position
[end]

nvl(nr,' ') || descr as descr



[SQL]
select 
$INCLUDE budget/budget_labs.cfg[field statia]
,nvl(name_short,' ') as name_short

,pos1||':'||pos2||'/ '|| ??
, to_char(b.summa,'9999990.000') as data

from 
(	select s.id as id,s.pid as pid,s.nr,s.descr, s.descr_full
	,decode(t.TYPE,'T',substr(t.name_short,6,4)
	,decode(t.TYPE,'BC', to_char(t.code,'9990')
	,t.name_short)) as name_short
	, t.id as tid
	,S.POSITION as pos1, t.POSITION as pos2
	from #nsb_table# s, #tree_all_table# t
	WHERE t.pid=#NODEID# and s.r1 like '%#RAZDEL#%'
		and t.id in (#TREE_IDS#0)  ??TREE_IDS
		and t.id=#f_bc#  ??f_bc
                and (t.status in('A') or (t.type='BC' and t.status in('A','I')))
    
	ORDER BY  s.POSITION ??
) n
,#b_table# b

where
  n.tid=b.tree_id(+)
  and n.id=b.nsb_id(+) ??show_zeros
  and n.id=b.nsb_id
  and n.id > 0
  and b.summa != 0.
ORDER BY 
 n.pos1, n.pos2
[end]


from #nsb_table# s, #tree_all_table# t
WHERE t.pid=#NODEID# and s.r1 like '%#RAZDEL#%'
  and t.id in (#TREE_IDS#0)  ??TREE_IDS
  and (t.status in('A') or (t.type='BC' and t.status in('A','I')))
  and t.id=#f_bc#  ??f_bc
) n

,#b_table# b
where 
  n.tid=b.tree_id(+)
  and n.id=b.nsb_id(+)

ORDER BY pos1,pos2
[end]

[get_mod_date]

SELECT 
u.fio as LASTMOD_FIO, to_char(dat,'HH24:MI DD.MM.YYYY') as LASTMOD_DAT 
FROM 
#b_table# b, #tree_all_table# t, users u 
WHERE dat=(select max(b.dat) from #b_table# b, #tree_all_table# t where t.pid=#NODEID# and b.tree_id=t.id)
and t.pid=#NODEID# 
and b.tree_id=t.id 
and b.modifier=u.id
and rownum=1

[end]

[get_path]
select decode(rownum,1,name_short,name_short||'&nbsp;&gt;&gt;&nbsp') as PATHTONODE, ??!XL
select decode(rownum,1,name_short,name_short||' &gt;&gt; ') as PATHTONODE, ??XL
decode(type,'RAZD',code,'')as RAZDEL,
decode(type,'DIR',code,'') as DIRCODE,
decode(type,'L',lab_code,'') as LABCODE,
decode(type,'T',NAME_SHORT,'') as THEMACODE
from #tree_table# where id not In(0,3) 
connect by prior pid=id START WITH id=#NODEID# 
order by rownum desc
;
select code as BCODE from #tree_all_table# where pid=#NODEID# and type='BC';
[end]



[get_prn_time]
select to_char(SYSDATE,'DD.MM.YYYY HH24:MI') as PRN_DAT from dual
[end]


