[parameters]
title=Бюджет: версия для печати
service=dubna.walt.service.TableServiceSpecial ??logged
tableCfg=this
table_beg=none
table_end=none
tbl=budget	
debug=off

$INCLUDE menu.cfg[tables]
[end]

[item]
$SET_PARAMETERS is_header= ??!ID=-1
$INCLUDE [head]  ??is_header&ID
$INCLUDE [row]  ??!is_header
[end]


[head]
</tr><tr bgcolor=white>  ??!old_id=-1&!old_id=#ID#
<th class=en>#NAME_SHORT#</th>
$SET_PARAMETERS old_id=#ID#

[end]

[row]
<th class=en>ВСЕГО</th>??!old_id=#ID#&old_id=-1
<td id="c#old_id#" class=en></td> ??!old_id=#ID#&!old_id=-1

</tr><tr bgcolor=white><TD align=right class=en> #NR#</TD> <TD nowrap class=en> #DESCR#</TD> ??!old_id=#ID#&!IS_SUM=1
</tr><tr bgcolor=whitesmoke><TD align=right class=en> #NR#</TD> <TD nowrap class=en> #DESCR#</TD> ??!old_id=#ID#&IS_SUM=1

<TD nowrap id="c#ID#_#TID#" class=en align=right>&nbsp;#DATA#</td>  

$SET_PARAMETERS old_id=#ID#
[end]

[report]
<h1>Нет доступа. Пройдите авторизацию.</h1>
<script language="JavaScript">
top.window.location.href="#ServletPath#";
</script>
[end]

[report header]
$SET_PARAMETERS prn=yes

$SET_PARAMETERS b_table=#budget_table# ??!q_curr_budget_table
$SET_PARAMETERS b_table=#q_curr_budget_table# ??q_curr_budget_table


$GET_DATA budget\tree.cfg[Access SQL] ??A_LABS
$GET_DATA [get_path] ??NODEID
$SET_PARAMETERS RAZDEL=0 ??!RAZDEL
$GET_DATA [get_arrays]??NODEID
$GET_DATA [get_mod_date] ??NODEID
$SET_PARAMETERS is_header=y; old_id=-1; old_thema=-1; 


$INCLUDE common.dat[head]
<link rel="stylesheet" href="#jsPath#bord.css" type="text/css">
<script language="JavaScript">
function formatNumber1 (num, decplaces) {
    num = parseFloat(num);
    if (!isNaN(num)) {
         var str = "" + Math.round (eval(num) * Math.pow(10,decplaces));
        if (str.indexOf("e") != -1) {
            return "Out of Range";
        }
        while (str.length <= decplaces) {
            str = "0" + str;
        }
        var decpoint = str.length - decplaces;
        return str.substring(0,decpoint) + "." + str.substring(decpoint,str.length);
    } else {
        return "NaN";
    }
}

function update_right_sums1(){
var p="^c\\d+$";
var z=0;
for (z=0; z<=nodeIDs.length-2;z++){
	sumRow1(nodeIDs[z]);
}

}
function sumRow1(ID)
{
var sum=0.;
for(i=0; i<=colIDs.length-2;i++){ 
	try{
  		elem=document.getElementById("c"+ID+"_"+colIDs[i]);
  		if (elem.innerText.length > 1){
    		sum=sum+eval(elem.innerText.substring(1,elem.innerText.length));
    	}
       }
    catch (e)
    { 
    	// alert ("c"+ID+"_"+colIDs[i]);
    	// alert(e);
    }
}

var m=document.getElementById("c" + ID);
m.innerText=formatNumber1(sum,1);

}


</script>
<body bgcolor="white" style="margin:0;" onLoad="update_right_sums1();">
<table width=100% border=0 cellpadding=6 cellspacing=0>
<form name="theForm" method="POST" enctype="multipart/form-data">
<tr  bgcolor=whitesmoke>
<td valign=top>
<h3 style="{font-size :18px; color: black;}">#PATHTONODE#</h3> ??PATHTONODE
</td>
<td align=right valign=top nowrap width="1%">
<img src="#imgPath#or_dot.gif">&nbsp;&nbsp;<a href="javascript:window.close()" class="s">закрыть</a>
</td></tr>
</table>
<blockquote style="margin:8">
: #RAZDEL#  ??
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
<SCRIPT Language="JavaScript">
*********************************************** ??
Объявляем массивы, содержащие древовидную струк- ??
туру таблицы.									??
*********************************************** ??

var nodeIDs= new Array (#NODEIDS#-1);
var parentIDs= new Array(#PARENTIDS#-1);
var colIDs= new Array (#COLIDS#-1);

</SCRIPT>

<input type=hidden name="c" value="#c#">
<input type=hidden name="NODEID" value="#NODEID#">
<input type=hidden name="back" value="#back#">
<input type=hidden name="tabN" value="">
<SCRIPT Language="JavaScript">
var frm=document.theForm;
</script>

<b>БД:</b> #q_curr_budget_table# ??!q_curr_budget_table=#budget_table#
<br><b>Дата печати: </b>
$GET_DATA [get_prn_time]
#PRN_DAT#   ??PRN_DAT
<br><b>Дата последней модификации: </b> #LASTMOD_DAT#   ??LASTMOD_DAT

<br>
<br>

$CALL_SERVICE c=budget/list_bc.cfg ??BCODE
<br>

<table border="0"  cellspacing="0" cellpadding="2" class=ws> 
<tr bgcolor=whitesmoke><td class=en><b>+++</b></td><td class=en><b>Статьи</b></td>
[end]




[report footer]
<td id="c#old_id#" class=en></td>
</tr></table>
$CALL_SERVICE c=budget/infra.cfg ??RAZDEL=3|RAZDEL=2

</form>

</blockqote>
</body></HTML>
[end]



[SQL]
select id,pid,nvl(nr,'&nbsp;') as nr, descr 
,is_sum
,CASE WHEN b.dat>=to_date('#HL#','dd.mm.yyyy') THEN 1 ELSE 0 END as IS_HL    ??HL&hl_trigger=on
  ,nvl(name_short,'&nbsp;') as name_short, tid
  ,CELL_TYPE
 ,to_char(b.summa,'99990.9') as data 

from (select s.id as id,s.pid as pid,s.nr,s.descr, s.descr_full
  , get_is_sum(s.id,'#RAZDEL#','#q_yr#') as is_sum
  ,decode(t.TYPE,'T',substr(t.name_short,6,4)
  ,decode(t.TYPE,'BC',
   t.des||'<br>'|| ??RAZDEL=3
   substr(t.code,3,10)
  ,t.name_short)) as name_short
  , t.id as tid
  ,t.type as CELL_TYPE
  ,S.POSITION as pos1, t.POSITION as pos2
from #nsb_table# s, #tree_all_table# t
WHERE t.pid=#NODEID# and s.r1 like '%#RAZDEL#%'
  and t.id in (#TREE_IDS#0)  ??TREE_IDS
  and (t.status in('A') or (t.type='BC' and t.status in('A','I')))
  and t.id=#f_bc#  ??f_bc
) n

,#b_table# b
where 
  n.tid=b.tree_id(+)
  and n.id=b.nsb_id(+)

ORDER BY pos1,pos2
[end]

[get_mod_date]

SELECT 
u.fio as LASTMOD_FIO, to_char(dat,'HH24:MI DD.MM.YYYY') as LASTMOD_DAT 
FROM 
#b_table# b, #tree_all_table# t, users u 
WHERE dat=(select max(b.dat) from #b_table# b, #tree_all_table# t where t.pid=#NODEID# and b.tree_id=t.id)
and t.pid=#NODEID# 
and b.tree_id=t.id 
and b.modifier=u.id
and rownum=1

[end]

[get_path]
select decode(rownum,1,name_short,name_short||'&nbsp;&gt;&gt;&nbsp') as PATHTONODE,
decode(type,'RAZD',code,'')as RAZDEL,
decode(type,'DIR',code,'') as DIRCODE,
decode(type,'L',lab_code,'') as LABCODE,
decode(type,'T',NAME_SHORT,'') as THEMACODE
from #tree_table# where id not In(0,3) 
connect by prior pid=id START WITH id=#NODEID# 
order by rownum desc;
select code as BCODE from #tree_all_table# where pid=#NODEID# and type='BC';
[end]


[get_arrays]
select id||',' as NODEIDS,pid||',' as PARENTIDS 
from #nsb_table# 
where id<>-1 
 and r1 like '%#RAZDEL#%'
order by id ;

SELECT t.id||',' as COLIDS, t.POSITION as pos 
FROM #tree_all_table# t 
WHERE t.pid=#NODEID# 
  and (t.status in('A') or (t.type='BC' and t.status in('A','I')))
  and t.id in (#TREE_IDS#0) ??TREE_IDS
  and t.id=#f_bc#  ??f_bc
ORDER BY pos;
[end]


[get_prn_time]
select to_char(SYSDATE,'DD.MM.YYYY HH24:MI') as PRN_DAT from dual
[end]


