[parameters]
title=Бюджет-пересчет
KeepLog=true
debug=off
$INCLUDE budget/tablenames.dat[tables]
[end]

8<------------имена-таблиц-определяются-здесь---------------------??
budgetcodes_table =BUDGETCODES_#q_yr#
budget_table =BUDGET_#q_yr#
nsb_table =NSB_#q_yr#
tree_table =TREE_#q_yr#
tree_all_table =TREE_ALL_#q_yr#
8<----------------------------------------------------------------??



[report]
$INCLUDE common.dat[report header]
<center>
<h3>Пересчет всего бюджета</h3>

$GET_DATA [RollUpFull]  ??cop=d

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">

<input type=button class=but value="Делать!" onClick="doIt();"> &nbsp; ??g_sys=USER_GROUP&!cop=d
<input type=button class=but value="Закрыть" onClick="window.close();"> &nbsp;  ??g_sys=USER_GROUP

</form>
<script>
function doIt()
{ document.theForm.cop.value="d";
  document.theForm.submit();
}
</script>
</body></html>
[end]

[RollUpFull]
delete from #budget_table# where tree_id in(select id from #tree_table#)
;
delete from #budget_table# where abs(summa) < 0.01
;
$EXEC_PROCEDURE {call UPDATE_ALL_SUMS('41', '#q_yr#')}
;
$EXEC_PROCEDURE {call UPDATE_ALL_SUMS('1', '#q_yr#')}
;
$EXEC_PROCEDURE {call ROLLUP_WHOLE_BUDGET ('#q_yr#')}
[end]

NSB_ID,TREE_ID,SUMMA,MODIFIER,DAT,LOCKED
