[parameters]
service=dubna.walt.service.TableServiceSimple ??
title=ֱ‏הזוע ־ָßָ
KeepLog=true
debug=off

$INCLUDE budget/tablenames.dat[tables]
[end]

[report]
$INCLUDE [header]
$INCLUDE [footer]
[end]

[header]
$GET_DATA [existz] ??nsb_id
EXISTZ='#EXISTZ#'
$GET_DATA [insert_SQLz] ??nsb_id&EXISTZ=0
$GET_DATA [update_SQLz] ??nsb_id&!EXISTZ=0
$GET_DATA [update_sums] ??nsb_id&tree_id

$INCLUDE common.dat[report header]

<form name="saveForm" method="POST" enctype="multipart/form-data" id = "saveForm">
<input type="hidden" name="c" value="#c#">
<input type="text" name="nsb_id"><br>
<input type="text" name="tree_id"><br>
<input type="text" name="summa"><br>
</form>
[end]

[update_sums]
$EXEC_PROCEDURE {call update_sums (#nsb_id#, #tree_id#,'#q_yr#')}
[end]
 
[existz]
select count(summa) as EXISTZ
from #budget_table#
where
nsb_id=#nsb_id#
and tree_id=#tree_id#
[end]
 

[insert_SQLz]
insert into #budget_table# (nsb_id,tree_id,summa,modifier,dat,locked) 
VALUES (#nsb_id#,#tree_id#,#summa#,'#USER_ID#',sysdate,0);
[end]


[update_SQLz]
update #budget_table#
SET summa=#summa#
,modifier='#USER_ID#' 
,dat=SYSDATE 
where 
nsb_id=#nsb_id#
and tree_id=#tree_id#
and not locked=1
;
[end]

[footer]

<script>
parent.saveIt();	
</script>	
</html>
[end]

