[parameters]
service=dubna.walt.service.CrossTabService ??TC
numDigits=1
NumSpecialCols=0
debug=off
$INCLUDE budget/tablenames.dat[tables]
[end]

8<------------имена-таблиц-определяются-здесь---------------------??
budgetcodes_table =BUDGETCODES_#q_yr#
budget_table =BUDGET_#q_yr#
nsb_table =NSB_#q_yr#
tree_table =TREE_#q_yr#
tree_all_table =TREE_ALL_#q_yr#
8<----------------------------------------------------------------??



[SQL_Cross_Values]
SELECT 
	l.div 
FROM 
	#tree_table# t,
	i_lab l 
WHERE 
	type='T' 
	and  t.code=#TC#
	and  t.lab_code=l.code 
ORDER BY t.lab_code
[end]


[SQL] 
SELECT 
	n.descr as "Статья",
	l.div,
	b.summa 
FROM 
	#tree_table# t,
	#budget_table# b,
	#nsb_table# n, 
	i_lab l 
WHERE 
	t.type='T'  
	and t.code=#TC# 
	and t.id=b.tree_id 
	and n.id=b.nsb_id 
	and t.lab_code=l.code
	and n.id != 31
ORDER BY  
	b.nsb_id,
	t.lab_code

[end]

