[parameters]
service=jinr.adb.ServiceTree
anchorColor=darkblue
anchorHoverColor=blue
debug=off ??!uname=serg
KeepLog=true
$INCLUDE budget/tablenames.dat[tables]

[end]

[item]
tr[i++]=[#ID#,#PID#,'#DES#','#TYPE#'];
[end]


[before tree]
$SET_PARAMETERS frame=TREE
<HTML><head>
<META http-equiv=Content-Type content='text/html; charset=windows-1251'>
<link rel='stylesheet' href='#cssPath#tree.css' type='text/css'>
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="cache-control" content="no-cache"> 
<meta http-equiv="cache-control" content="no-store"> 
<meta http-equiv="expires" content="0">
<SCRIPT>
var tr = new Array(); var i = 0;
top.beforeTree["#frame#"]="<HTML><HEAD><META http-equiv=Content-Type content='text/html; charset=windows-1251'>"
	+ "<link rel='stylesheet' href='#cssPath#tree.css' type='text/css'></HEAD>" 
  + "<BODY class=#frame#>"
	+ "<table cellpadding=0 cellspacing=0 width=100%><tr><td nowrap=true>"
[end]

[after tree]
top.tr1=tr;
top.afterTree["#frame#"]="#MORE_LINKS#";
top.outTree("#frame#");     ??!activeNode
top.openNode(#activeNode#,"#frame#");  ??activeNode
top.keepCont = false;
</SCRIPT></small></head></HTML>
[end]

[more_links]
<hr><br>
<A class=toc 
 HREF="javascript:top.showSvod('#servletPath#?c=budget/budget_labs')"  ??!NUM_LABS=1
 HREF="javascript:top.showSvod('#servletPath#?c=budget/budget_lab&labcode=#A_LABS#')"  ??NUM_LABS=1
  onMouseOver="top.img_act('imSL', 'TREE');"  onMouseout="top.img_inact('imSL', 'TREE');">
<IMG class=toc1 SRC='#imgPath#blue1.gif' NAME='imSL'> 
 Свод по лабораториям ??!NUM_LABS=1
 Свод по #LAB_NAME#   ??NUM_LABS=1
 </a>
<br><br>
<A class=toc 
  HREF="javascript:top.showSvod('#servletPath#?c=budget/budget_theme')"
  onMouseOver="top.img_act('imSBJ', 'TREE');" onMouseout="top.img_inact('imSBJ', 'TREE');">
<IMG class=toc1 SRC='#imgPath#blue1.gif' NAME='imSBJ'> 
 Свод по теме</a>

$INCLUDE [checkSums]  ??USER_GROUP={{.*sys.*|.*adm.*|.*buh.*|.*boss.*}}|uname=usova

<br><br><A class=toc HREF="#servletPath#?c=budget/rollUpFull" target=_blank>Пересчитать весь бюджет</a>  ??g_sys=USER_GROUP

[end]

[checkSums]
<br><br>
<A class=toc 
 HREF="#servletPath#?c=budget/checksums" 
 onMouseOver="top.img_act('imCS', 'TREE');"  
 onMouseout="top.img_inact('imCS', 'TREE');"
 target="CONT">
 <IMG class=toc1 SRC='#imgPath#blue1.gif' NAME='imCS'> 
 Контрольные цифры
 </a>
[end]


[preSQLs]
$INCLUDE [Access SQL] ??A_LABS
;
select count(*) as NUM_NODES from #tree_all_table#
where id in (#TREE_IDS#0) ??TREE_IDS
[end]


[tree SQL]
select ID,PID
   ,decode (t.id,0, ' <<< ', 
    name_short) as name_short 
 ,nvl(TYPE,'-'), decode(t.STATUS,'I','I','') as INACTIVE
from #tree_table# t
where 
  (t.pid>0 or t.id=3  or t.id=0 
or t.id=2  ??M_NICA_VNEB>0
)
  and id in (#TREE_IDS#0)  ??TREE_IDS
  and t.status='A'

ORDER BY pid,position,name_short
[end]
'

[Access SQL]
select distinct id||',' as TREE_IDS from #tree_all_table#
connect by prior pid=id 
START WITH id in
( select id from #tree_all_table#
  where LAB_CODE in (#A_LABS#)
  and status='A'
)
;
select count(code) as NUM_LABS, max(DIV) as LAB_NAME
from i_lab 
where code in (#A_LABS#)
[end]