
[comments]
descr=U: Вывод списка "Архив документов" - вывод фильтров и вызов docs/arch_docs_table.cfg для вывода самой таблицы

input=none
output=HTML форма списка документов
parents=main.cfg
childs=docs/arch_docs_table.cfg
testURL=?c=docs/arch_docs
author=Куняев
[end]


[parameters]
request_name=U:Архив документов
KeepLog=false
debug=off
[end]

[report]
<body>
<div id="result">
<small>#c#</small> ??debug=on
<center>
<input type=hidden name="atab" value="t_myDocs"> 
<input type=hidden name="module" value="docs/my_docs">

<br>
<h4>Здесь собраны все документы, которые я имею право смотреть.</h4> 
<br>
<small>(Пока показываются только документы, созданные или рассмотренные мной, а также посланные мне для ознакомления.)</small>
<br><br>
$INCLUDE [filters] 


+++++ Контейнер таблицы +++++ ??
<div id="docs_list_table">=====</div>
</div>

+++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("c_archDocs", document.getElementById("result"));
window.parent.doSubmit("", "docs/arch_docs_table");
window.parent.setModule("docs/arch_docs_table");
</script>

</body></html>
[end]


[filters]
+++++ Фильтры +++++ ??
<fieldset class=ba style="width:70%; white-space:nowrap;"><legend>Фильтры:</legend>
<div class=norm>
#^doc_type#:
<select name=f_doc_type_id class=norm onChange="doSubmit('', 'docs/arch_docs_table');">
<option value="">все</option>
#DOC_TYPES_NAME#
</select>
Инициатор: 
<select name=f_initiator_id class=norm onChange="doSubmit('', 'docs/arch_docs_table');"><option value="">все</option>#INITIATORS#</select>

Искать: <input size=10 name="f_doc_cr_name" value="#f_doc_cr_name#"> &nbsp; 

<input type="submit" class="butt1 pt" style="width:130;" value="Фильтровать" >
</div>
</fieldset>

[end]


[preSQLs]
select concat('<option value=', cast(id as char), '>', name, '</option>') as DOC_TYPES_NAME
from d_types where is_active = 1 order by name
;
select distinct concat('<option value=', cast(h.creator_id as char), '>', u.fio, '</option>') as INITIATORS
from d_list h
left join #table_users_full# u on u.id=h.creator_id
where h.is_deleted=0
and (h.creator_id=#USER_ID#
or h.id in(select distinct doc_id from wf_history where user_id=#USER_ID#
union select doc_id from d_sent_FYI where user_id=#USER_ID# 
))

order by u.fio
;
[end]
