[comments]
descr=U: Выбор типа документа при создании документа

input=
output=HTML страница с перечнем имеющихся типов документов 
parents=docs/my_docs.cfg
childs=docs/edit_doc
test_URL=?c=docs/choose_doc_type
author=Куняев
[end]

[parameters]
request_name=U:Создание документа
service=dubna.walt.service.TableServiceSpecial
tableCfg=table_no
KeepLog=false
ClearLog=true
[end]

[report header]

<div id="result">
<small>#c#</small> ??debug=on
<input type=hidden name=doc_id value='#doc_id#'> ??
<input type="button" class="butt1 pt" style="width:120;" value="В список" onClick="doSubmit('','docs/my_docs');"> 
<br>
<div class="big" style="padding:20px 0 0 100px;">Выберите тип нового документа:</div>
<center><br>

<table width_="50%" cellpadding=10 cellspacing=10 style_="background-color:gray;">
<tr>
[end]


============== Вывод одного поля  ======= ??
[item]
<td class="pt bg_white big gray_border" onClick="loadFrame('c=docs/create_doc&type_id=#type_id#')">
#doc_type#
</td>
[end]


[report footer]
</tr></table>

+++++++++ Возврат результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("c_myDocs", document.getElementById("result"));
</script>
[end]


***************************** Шаблоны SQL запросов ***************************

[preSQLs]
[end]

[SQL]
select id as "type_id", name as "doc_type"
from d_types
where is_active=1
order by id
[end]

