[comments]
descr=Поле документа типа "file" для вызова с помощью CALL_SERVICE или Ajax
author=Устенко
input=FILE_EXISTS = содержит id файла, если есть, FIELD_DB_NAME = имя поля из таблицы D_DATA_X, куда будет записан id файла при загрузке, doc_id = на всякий случай, can_control=y показывать форму загрузки или кнопку удаления
output=В зависимости от того, загружен файл, или нет, возвращает либо ссылку на скачивание/удаление, либо форму загрузки.
parents=docs/edit_doc.cfg
childs=none
[end]

[parameters]
keepLog=true
[end]

[report]
$GET_DATA [get file info] ??FIELD_DB_NAME&FILE_EXISTS&doc_id
<a title = "Размер: #human_bytes#                                                                                                       ??Id&FILE_EXISTS
Загружен:#upload_date_fmtd#" href = "?c=docs/doc_files_dnld&id=#Id#" target="_blank">#file_name#</a>                              ??Id&FILE_EXISTS
<a  title = "Удалить файл" onclick = "operFileField(#Id#,'delete','#FIELD_DB_NAME#');">&##10006;</a>                                                    ??Id&FILE_EXISTS&can_control=y

<input type = "file" for = "#FIELD_DB_NAME#" id = "#FIELD_DB_NAME#-file"/>                                                                              ??!FILE_EXISTS&can_control=y
<button id = "#FIELD_DB_NAME#-button" for="#FIELD_DB_NAME#" type="button" class="field-upload-button butt1"  style="width:120;" >Загрузить</button>     ??!FILE_EXISTS&can_control=y
[end]

[get file info]
SELECT * 
, date_format(upload_date,'%d.%m.%y %H:%i') as upload_date_fmtd, format_filesize(file_size) as human_bytes 
FROM doc_files 
where doc_id = #doc_id# and field_id = '#FIELD_DB_NAME#' and Id = #FILE_EXISTS#
;
[end]