[comments]
USER: Превью документа в списке документов

parents=tab_docs.cfg, tab_archDocs.cfg, tab_myDocs.cfg 
childs=
[end]

[parameters]
request_name=User: Превью документа
[end]

[report]
<html><body>
$INCLUDE [result]

<script>
alert(document.getElementById("result").innerHTML); ??
window.parent.getResult("edit_field_prop", document.getElementById("result")); ?? 
</script>

</body></html>
[end]

[result]
<div id="result">
#c# ??debug=on
<center>
<table border=1 width=100%><tr><th colspan=2>
<h3>Здесь будет preview документа #id#</h3></th></tr>

<tr><td>№</td><td>#id#</td></tr>
<tr><td>Тип документа</td><td>#id#</td></tr>
<tr><td>дата создания</td><td>#id#</td></tr>
<tr><td>кто создал</td><td>#id#</td></tr>
<td>Шапка документа</td><td>#id#</td></tr>
<tr><td>кто уже подписал</td><td>#id#</td></tr>
</tr>
</table>
</center>

</td><td style="width:30%">
</td>
</tr>
</table>
</div>
[end]