[comments]
descr=U: Операции с файлами
author=Устенко
input=file_id = id файла из таблицы doc_files, cop - код операции: "delete"-удаление, "moveup":перемещение файла на 1 позицию вверх в списке, "movedn": на 1 позицию вниз
output=none
parents=docs/doc_files_list.cfg
[end]

[parameters]
debug=off
[end]


[preSQLs]
$INCLUDE [get neighbours] ??file_id
$INCLUDE [get norder] ??file_id
$INCLUDE [delete file] ??file_id&cop=delete
$INCLUDE [moveup file] ??file_id&cop=moveup&upper_file_id&file_norder&upper_norder
$INCLUDE [movedn file] ??file_id&cop=movedn&below_file_id&file_norder&below_norder
[end]

[moveup file]
update doc_files 
set norder = #upper_norder#
where id = #file_id#
;
update doc_files 
set norder = #file_norder# 
where id = #upper_file_id#
;
[end]


[movedn file]
update doc_files 
set norder = #below_norder# 
where id = #file_id#
;
update doc_files 
set norder = #file_norder# 
where id = #below_file_id#
;
[end]

[update doc field]
update d_data_#TYPE_ID#
set #FIELD_ID# = null
where 
doc_id = #DOC_ID#
;
[end]

[delete file]
   ??проверяем, вдруг это файл из поля?
SELECT dl.type_Id as TYPE_ID , doc_id as DOC_ID, field_id as FIELD_ID FROM 
doc_files  df 
inner join d_list dl on dl.id = df.doc_id
where 
df.id = #file_id#
and field_id is not null
;
$INCLUDE [update doc field] ??TYPE_ID&DOC_ID&FIELD_ID
delete from doc_files where id=#file_id#
;
[end]

[get norder]
select norder as file_norder from doc_files where id = #file_id#
;
[end]

[get neighbours]
SELECT id as below_file_id, norder as below_norder FROM doc_files
WHERE 
doc_id = (select doc_id from doc_files where id  = #file_id#)
and norder > (select norder from doc_files where id  = #file_id#)
and field_id is null
ORDER BY norder
limit 1
;
SELECT id as upper_file_id, norder as upper_norder FROM doc_files
WHERE 
doc_id = (select doc_id from doc_files where id  = #file_id#)
and norder < (select norder from doc_files where id  = #file_id#)
and field_id is null
ORDER BY norder desc
limit 1
;
[end]

