[comments]
descr=U: Редактирование документа из списка моих документов

input=doc_id - ID документа
output=HTML форма редактирования документа, 
parents=docs/my_docs.cfg
childs=
test_URL=?c=docs/edit_doc&doc_id=1
author=Яковлев, Куняев, Устенко
[end]


[parameters]
request_name=U:Редактирование документа
service=jinr.dms.ServiceEditDocData
service=dubna.walt.service.TableServiceSpecial  ??
tableCfg=table_no
KeepLog=false
ClearLog=true
SYS_FIELDS=IS_ACTIVE
SYS_FIELDS_TYPES=int
SYS_FIELDS_UPDATE=doc_id,is_active, modified, modifier_id
SYS_FIELDS_UPDATE_TYPES=int,int,sysdate,int
is_active=1
modifier_id=#USER_ID#
divider=<tr><td colspan=2 class="bg_white" style="height:10px; border-top:solid 1px gray;"></td></tr>
[end]


[report header]
$CALL_SERVICE c=sys/getARUD;   ??!AR_W=Y
$CALL_SERVICE c=sys/log_doc_access; doc_id=#doc_id#; access_type=2; rejected=1;   ??!AR_W=Y

$GET_DATA [getDocInfo] ??AR_W=Y
$INCLUDE [process]  ??AR_W=Y&cop&!ERROR
$SET_PARAMETERS cop=; ??ERROR

[end]


[start form]
--------------------------------------------- ??
------------ возвращаемые результаты --------- ??
--------------------------------------------- ??

<div id="result">
<small>#c#</small> ??debug=on
<small>R=#AR_R#; S=#AR_S#; W=#AR_W#; E=#AR_E#; T=#AR_T#; A=#AR_A#; active=#DOC_IS_ACTIVE#, deleted=#DOC_IS_DELETED#, WF cancelled=#WF_CANCELLED#, doc rejected=#DOC_IS_REJECTED#<br></small> ??!cache_cfg=true
<input type=hidden name=doc_id value='#doc_id#'>
<input type=hidden name=returnToModule value='#returnToModule#'>
<input type="button" class="butt1 pt" style="width:120;" value="В список" onClick="showPageTop(true); loadFrame('c=#returnToModule#','wf2');">  
<center>

++++++++++++++++++ Шапка таблицы  +++++++++++++++++++++ ??
<table width_="80%" class_="tlist" cellpadding=3 cellspacing=0 style="background-color:whitesmoke; ">
<tr><td class="center bg_white big" colspan=2>
<b>#DOC_TYPE#</b>
</td></tr>

<tr><td class=label>Заголовок: </td>
<td class="big"><input size=50 name=title value="#TITLE#"></td></tr>

<tr><td class=label>№, Дата: </td>
<td class="big"><input size=10 name=number value="#NUMBER#">, 

<input class="fe hasDatepick" type="text" mand="Дата документа" 
size=10 name=doc_date value="#DOC_DATE#">
</td></tr>
#divider#
[end]

============== Вывод одного поля для редактирования ======= ??
[item]
$SET_PARAMETERS mand=;  ??NULLS=1
$SET_PARAMETERS mand=Y;  ??!NULLS=1
<tr class="pt"><td class="label bottom_dotted" 
id="#FIELD_DB_NAME#_descr" ??mand
>
(*) ??mand
#NAME#: </td>
<td class="big bottom_dotted">
$INCLUDE [input field] ??FORM_FIELD_TYPE=2
$INCLUDE [info] ??FORM_FIELD_TYPE=4
$INCLUDE [date field] ??FORM_FIELD_TYPE=5
$INCLUDE [file field]  ??FORM_FIELD_TYPE=6
$INCLUDE [currency field] ??FORM_FIELD_TYPE=7
</td></tr>
[end]

[input field_]
<div style="border:solid 2px gray; height:25pt; width:#SIZE#*20pt;">.</div> ??TYPE=int|SIZE<64
<div style="border:solid 2px gray; height:45pt; width:400pt;">.</div> ??TYPE=varchar&SIZE>63
[end]

[input field]
$INCLUDE [input] ??TYPE=int|SIZE<71
$INCLUDE [textarea]  ??TYPE=varchar&SIZE>70
[end]

[input]
<input size=#SIZE# name=#FIELD_DB_NAME# value="^#FIELD_DB_NAME#" mand="#mand#" >  
[end]

[textarea]
<textarea name=#FIELD_DB_NAME# rows=2 style="width:400pt; height:30pt;" mand="#mand#">^#FIELD_DB_NAME#</textarea>
[end]

[info]
$SET_PARAMETERS fn=#FIELD_DB_NAME#_id;
<input type=hidden name="#FIELD_DB_NAME#_id" size=5 value="^#fn#">
<input class="info_input" id=#FIELD_DB_NAME# name=#FIELD_DB_NAME# size=#SIZE#
	info_id="#INFO_ID#" info_view="#INFO_VIEW#" info_type="#INFO_TYPE#" 
searchFor='^#FIELD_DB_NAME#' ??
value="^#FIELD_DB_NAME#" mand="#mand#"> 
[end]

[date field]
$GET_DATA [convert date]
<input class="fe hasDatepick" type="text" mand="#mand#" 
size=10 name=#FIELD_DB_NAME#  value="^#FIELD_DB_NAME#"> ??
size=10 name=#FIELD_DB_NAME#  value="#DATE_VALUE#">
[end]

[convert date]
select DATE_FORMAT('^#FIELD_DB_NAME#','#dateFormat#') AS DATE_VALUE
;
[end]

[file field]
$SET_PARAMETERS FILE_EXISTS = ^#FIELD_DB_NAME#
<input type="hidden" name = "#FIELD_DB_NAME#" id = "#FIELD_DB_NAME#" value = "^#FIELD_DB_NAME#"/>
<div id = "#FIELD_DB_NAME#-cont" class="file-field-cont">
$CALL_SERVICE c=docs/doc_field_file;FILE_EXISTS=#FILE_EXISTS#;FIELD_DB_NAME=#FIELD_DB_NAME#;can_control=y  
</div>
[end]

[file row]

[end]



[currency field]
$GET_DATA [get currency]
<input size=#SIZE# name=#FIELD_DB_NAME# value="^#FIELD_DB_NAME#" class="right" mand="#mand#">  
<select name=#FIELD_DB_NAME#_curr><option value='руб.'
selected ??CURR=руб.
>руб.</option><option value='USD'
selected ??CURR=USD
>USD</option><option value='EUR'
selected ??CURR=EUR
>EUR</option><option value='дуб.'
selected ??CURR=дуб.
>дуб.</option></select>
[end]

[get currency]
select #FIELD_DB_NAME#_curr as "CURR" from #TABLE_NAME#
where id=#DOC_DATA_RECORD_ID#
[end]

[report footer]
$INCLUDE [process footer]  ??cop
$INCLUDE [form footer]  ??!cop|ERROR
[end]

[form footer]
$INCLUDE [file] 
#divider#
<tr><td class=label> Можете ввести Ваш комментарий:</td><td><textarea name=comment rows=2 cols=60>#COMMENT#</textarea></td></tr> 

++++++++++++ Конец формы редактирования записи ++++++++++ ??
<tr><td colspan=2 class="right small">Обновление документа: #MODIFIED#, #MODIFIER#</td></tr>
<tr><td class="center  bg_white" colspan=2 style="padding:15px 0 15px 0;">
<input type="button" class="butt1 pt" style="width:120; margin-right:40px;" value="Отмена"  onClick="loadFrame('c=docs/view_doc&doc_id=#doc_id#&returnToModule=#returnToModule#')">  
<input type="button" class="butt1 pt" style="width:120;" value="Удалить" 
onClick="if(confirm('Удалить этот документ?'))doSubmit('delete', 'docs/edit_doc.cfg');">  
<input type="button" class="butt1 pt" style="width:120;" value="Сохранить" onClick="doSubmit('save', 'docs/edit_doc.cfg');">  
</td></tr></table>
#ERROR#
<script type="text/javascript">
if(window.jQuery){
    $(function(){
        //doc.ready
    });
    $('.file-field-cont').delegate('.field-upload-button','click',function(evt){
        var file_upload_button = $(evt.target);
        var target_field_id = file_upload_button.attr("for");
        var file_field = $('#'+target_field_id+"-file");
        var file_id_input = $('#'+target_field_id);
        
        if(!file_field.val()) return;
    var formData = new FormData();
    formData.append('new_file',file_field.prop("files")[0]);
    formData.append('c','docs/doc_files_upld');    
    formData.append('doc_id', '#doc_id#');
    formData.append('field_id', target_field_id);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '?c=docs/doc_files_upld', true); 
    xhr.setRequestHeader("X-Requested-With","XMLHttpRequest");  
    xhr.onload = function () {
     if (xhr.status === 200) {
        if(/^\d+$/.test(xhr.responseText.trim())){
            file_upload_button.innerHTML = 'Файл загружен';
            file_field.val('');
            getFieldFileOnTheFly(xhr.responseText.trim(), target_field_id, '#doc_id#');
        }else{
            alert(xhr.responseText);
        }
        refreshFileList(); 
    } else {
        alert(xhr.status+   'Ошибка соединения!');
    }   
    }
    xhr.send(formData);
    });


function getFieldFileOnTheFly(fileExists, fieldDbName, docId){
    //alert('getFieldFileOnTheFly');
    var request = $.ajax({
        url: "/dms/dubna",
        method: "POST",
        data: { 'FILE_EXISTS' : fileExists, 'FIELD_DB_NAME' : fieldDbName, 'c': 'docs/doc_field_file', 'doc_id' : docId, 'can_control' : 'y' },
        dataType: "html"
        }).done(function( data ) {
            $('#'+fieldDbName+'-cont').html(data);
  });
  }


function operFileField(id, cop, el){
if(cop == 'delete'){
      if(!confirm ('Удалить файл?')) {
        return;
      }
}
var request = $.ajax({
    url: "/dms/dubna",
    type: "POST",
    data: { c : "docs/doc_files_oper", file_id : id, cop : cop },
    dataType: "html"
    });
    request.done(function( msg ) {
        $("#"+el).val("");
        getFieldFileOnTheFly('', el, '#doc_id#');
    });
    request.fail(function( jqXHR, textStatus ) {
        alert( "Ошибка: " + textStatus );
    });
}


}
</script>
</div>
<script type="text/javascript">
+++++++++ Возврат результатов в вызывавшую страницу ++++ ??
window.parent.getResult("c_docs,c_myDocs,c_archDocs", document.getElementById("result"), true);
window.parent.setModule("docs/edit_doc");
window.parent.showPageTop(false);
</script>
$CALL_SERVICE c=sys/log_doc_access; doc_id=#doc_id#; 
[end]


[process]
$LOG ======= начало транзакции для всего этого запроса ======
$GET_DATA [start transaction]

$GET_DATA [update header SQL] ??cop=save
$GET_DATA [delete SQL] ??cop=delete
[end]


[process footer]
$LOG ======= конец транзакции ======??
$GET_DATA [commit]
$CALL_SERVICE c=sys/log_doc_access; doc_id=#doc_id#; access_type=2; ??!ERROR
$SET_PARAMETERS cop=; ??ERROR

<script>
alert("Документ сохранён.")  ??!ERROR&cop=save
alert("Документ удалён!")  ??!ERROR&cop=delete
window.parent.loadFrame("c=docs/view_doc&doc_id=#doc_id#&returnToModule=#returnToModule#", "wf2"); ??!ERROR&cop=save
window.parent.showPageTop(true); window.parent.loadFrame("c=#returnToModule#", "wf2"); ??!ERROR&cop=delete
alert('#ERROR#'); ??ERROR
</script>
[end]

==============================================================================
======================  Блок загрузки файлов-приложений ======================
==============================================================================
[file]
<script>
if(window.jQuery){
$(function(){
refreshFileList();
var form = document.getElementById('theForm');
var fileSelect = document.getElementById('file-select');
var uploadButton = document.getElementById('upload-button');
var doc_id = document.getElementsByName('doc_id')[0].value; ??

uploadButton.onclick = 
function(event) {
    if (fileSelect.value.length==0) return;
    event.preventDefault();
    uploadButton.innerHTML = 'Загрузка...';
    var files = fileSelect.files;
    var formData = new FormData();
    for (var i = 0; i < files.length; i++) {
        var file = files[i];
        formData.append('new_file', file, file.name);
        formData.append('c','docs/doc_files_upld');    
        formData.append('doc_id', '#doc_id#');
    }

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '?c=docs/doc_files_upld', true); 
    xhr.setRequestHeader("X-Requested-With","XMLHttpRequest");
    xhr.onload = function () {
    if (xhr.status === 200) {
        if(xhr.responseText.trim()!='Файл загружен'){
            alert(xhr.responseText);
        }else{
            uploadButton.innerHTML = xhr.responseText;
            resetFileInputs();  
        }
        refreshFileList(); 
    } else {
        alert('Ошибка соединения!');
    }
    };
    xhr.send(formData);
}
});
}
function resetFileInputs(){
    
    $('##file-select').val("");
    $('##upload-button').show().delay(3000).show().html("Загрузить");
    

}
function refreshFileList(){

var request = $.ajax({
    url: "/dms/dubna",
    type: "POST",
    data: { c : "docs/doc_files_list", doc_id : #doc_id#, can_control : "y" },
    dataType: "html"
    });
    request.done(function( msg ) {
        $( "#doc_files_list" ).html( msg );
    });
    request.fail(function( jqXHR, textStatus ) {
        alert( "Ошибка: " + textStatus );
    });
}

</script>

#divider#
<tr><td class="label">Загрузка приложения:</td><td class=""><input type = "file" name = "file-select" id = "file-select"/> 
<button id = "upload-button" type="button" class="butt1 pt" style="width:120px;font-size:9pt;" >Загрузить</button>
</td></tr>
<tr><td class="label" style="padding:10px 0 0 0;">Приложения:</td><td><div id = "doc_files_list"></div></td></tr>
[end]

==============================================================================
***************************** Шаблоны SQL запросов ***************************
    Запрос на выборку и обновление собственно данных документа 
    формируется в сервисе ServiceEditDocData
==============================================================================
[start transaction]
lock tables d_list write, #TABLE_NAME# write;
START TRANSACTION;
[end]

[commit]
COMMIT;   ??!ERROR
ROLLBACK;  ??ERROR
unlock tables; 
[end]


[getDocInfo]
select /* doc type, doc data table and header */ 
 dtp.name as DOC_TYPE
 , concat('d_data_', cast(dtp.id as char)) as TABLE_NAME
 , dh.TITLE, dh.NUMBER, ifnull(DATE_FORMAT(dh.doc_date,'#dateFormat#'),'') as DOC_DATE, dh.COMMENT
 , u.FIO as CREATOR, uu.FIO as MODIFIER
 , ifnull(DATE_FORMAT(dh.created,'#dateTimeFormat#'),'') as CREATED
 , ifnull(DATE_FORMAT(dh.modified,'#dateTimeFormat#'),'') as MODIFIED
from d_types dtp
left join d_list dh on dh.type_id=dtp.Id
left join #table_users_full# u on u.Id = dh.creator_id
left join #table_users_full# uu on uu.Id = dh.modifier_id
where dh.Id = #doc_id#
;

select /* doc data fields and types */ 
   concat(dtf.field_db_name, ',') as FIELDS
 , concat(dtf.type, ',') as FIELDS_TYPES
 , concat(dtf.form_field_type, ',') as FORM_FIELDS_TYPES
from d_fields dtf
left join d_list dh on dtf.type_id = dh.type_id
where dh.Id = #doc_id#
order by nr
;

select /* LAST doc data record ID */ 
id as DOC_DATA_RECORD_ID 
from #TABLE_NAME# 
where doc_id = #doc_id# and is_active=1
order by modified desc
limit 0,1
;
[end]


[SQL]
select /* doc data fields description */
  dtf.NR, dtf.NAME, dtf.TYPE, dtf.SIZE, dtf.FORM_FIELD_TYPE, dtf.FIELD_DB_NAME, dtf.NULLS
, dtf.INFO_ID, dtf.info_view_nr as INFO_VIEW, iv.type as INFO_TYPE
from d_fields dtf
left join d_list dh on dtf.type_id = dh.type_id
left join i_infos_views iv on iv.info_id=dtf.INFO_ID and iv.view=dtf.info_view_nr
where dh.Id = #doc_id#
order by nr
[end]


[update header SQL]
update d_list set title='#title#', number='#number#', comment='#comment#'
, doc_date=now() ??
, doc_date=STR_TO_DATE('#doc_date#', '#dateFormat#') 
, modified=now(), modifier_id=#USER_ID#
where id=#doc_id#
[end]

[delete SQL]
update d_list set is_deleted=1 where id=#doc_id#
[end]