[comments]
descr=S: Показать историю рассылки документа. 

input=doc_id - ID документа
output=Показывает историю рассылки документа FYI.
parent=docs/view_doc.cfg
childs=
testURL=?c=wf/show_sent_history&doc_id=1
author=Куняев
[end]

[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=A:FYI history для док.#doc_id#
tableCfg=table_no
KeepLog=false
ClearLog=true
[end]


[report header]
<table border=0 class=tlist style="margin:0;">
<tr><td colspan=3><b>История рассылки FYI:</b></td></tr>
<tr>
<th width=30%>Послал</th>
<th  width=70%>Кому послано</th>
</tr>
[end]


[item]
<tr>
<td>#DAT#, #from_user#,
ознакомл. ??result_code=4
<b>подготовка</b> ??result_code=5
<br>комментарий: #comments# ??comments
</td>
<td><b>#FIO#</b><br>
<small>(#user_posts#, #user_id#)</small> </td>
</tr>
$SET_PARAMETERS DAT=; ROLE_NAME=; role_target_type_id=; user_fio=; user_posts=; user_email=; user_id=; result=; result_code=; comment=;
[end]

[report footer]
</table>
#ERROR#
[end]

==============================================================
==============================================================
==============================================================

[SQL]
select DATE_FORMAT(s.dat,'#dateTimeFormat#') as DAT
, s.user_id, u.FIO, u.posts as user_posts
, concat(LEFT(uu.I,1),'.',LEFT(uu.O,1),'.',uu.F) as "from_user"
, result_code, comments
from d_sent_FYI s
left join #table_users_full# u on u.Id = s.user_id
left join #table_users_full# uu on uu.Id = s.from_id
where s.doc_id=#doc_id#
order by s.dat desc
[end]

