[comments]
descr=U: Просмотр документа

input=doc_id - ID документа (из таблицы d_list)
output=HTML форма просмотра документа, 
parents=docs/my_docs_table.cfg
childs=
test_URL=?c=docs/view_doc&doc_id=1
author=Яковлев, Куняев
[end]

[parameters]
request_name=U:Просмотр документа
service=jinr.dms.ServiceViewDoc
tableCfg=table_no
KeepLog=false
ClearLog=true
SYS_FIELDS=DOC_ID, IS_ACTIVE, DATE_FORMAT(modified,'#dateTimeFormat#') as DOC_MODIFIED, VERSION
SYS_FIELDS_TYPES=int,int,varchar,int
divider=<tr><td colspan=2 class="bg_white" style="height:5px; border-bottom:solid 1px gray;"></td></tr>
[end]

[report header]
$CALL_SERVICE c=sys/getARUD; ??!AR_R=Y
$INCLUDE [OK report header]  ??AR_R=Y
$CALL_SERVICE c=sys/log_doc_access; doc_id=#doc_id#; rejected=1;   ??!AR_R=Y
[end]


[OK report header]
$GET_DATA [getDocInfo]
<div id="result">
<small>#c#</small> ??debug=on
<small>R=#AR_R#; S=#AR_S#; W=#AR_W#; E=#AR_E#; T=#AR_T#; A=#AR_A#; active=#DOC_IS_ACTIVE#, deleted=#DOC_IS_DELETED#, WF cancelled=#WF_CANCELLED#, doc rejected=#DOC_IS_REJECTED#;  ??!cache_cfg=true
returnToModule=#returnToModule#<br></small> ??!cache_cfg=true
<input type=hidden name=doc_id value='#doc_id#'>
<input type="button" class="butt1 pt" style="width:120;" value="В список" onClick="showPageTop(true); doSubmit('','#returnToModule#');"> 
<center><br>

++++++++++++++++++ Шапка таблицы  +++++++++++++++++++++ ??
<table width_="80%" class_="tlist" cellpadding=3 cellspacing=0 style="background-color:whitesmoke; ">
<tr><th class="center bg_white big" colspan=2>
#DOC_TYPE#<br>
№ #number# ??number
от #DOC_DATE# ??DOC_DATE
<br>
#title#
<br><small>создан: #CREATOR# #CREATED#
</th></tr>
#divider#
[end]


============== Вывод одного поля  ======= ??
[item]
<tr><td class="label bottom_dotted" width="40%" nowrap>#NAME#:</td> 
<td width="60%" class="big bg_white bottom_dotted">
^#FIELD_DB_NAME# ??FORM_FIELD_TYPE=2|FORM_FIELD_TYPE=4|FORM_FIELD_TYPE=7
$INCLUDE [date field] ??FORM_FIELD_TYPE=5
$INCLUDE [file field] ??FORM_FIELD_TYPE=6
$INCLUDE [currency field] ??FORM_FIELD_TYPE=7
</td></tr>
[end]

[date field]
$GET_DATA [convert date]
#DATE_VALUE#
[end]

[convert date]
select DATE_FORMAT('^#FIELD_DB_NAME#','#dateFormat#') AS DATE_VALUE
;
[end]


[file field]
$CALL_SERVICE c=docs/doc_field_file;FILE_EXISTS=^#FIELD_DB_NAME#;FIELD_DB_NAME=#FIELD_DB_NAME#
[end]

[currency field]
$GET_DATA [get currency]
#CURR#
[end]

[get currency]
select #FIELD_DB_NAME#_curr as "CURR" from #TABLE_NAME#
where id=#DOC_DATA_RECORD_ID#
[end]

[report footer]
#divider#
<tr><td class="label" style="padding:10px 0 0 0;">Приложения:</td><td>
$CALL_SERVICE c=docs/doc_files_list
</td></tr>

#divider#
$GET_DATA [check sent FYI]
$GET_DATA [get FYI comments] ??NUM_SENT_FYI>0
$GET_DATA [get added comments] ??WF_ID
$INCLUDE [added comments] ??ADDED_COMMENTS|FYI_COMMENTS

#divider#
<tr><td class="center bg_white nowrap" colspan=2 style="padding:15px 0 15px 0;">
<input type="button" class="butt1 pt" style="width:120; margin-right:40px;" value="В список" onClick="showPageTop(true); doSubmit('','#returnToModule#');"> 
$INCLUDE [sign buttons]   ??AR_S=Y
<input type="button" class="butt1 pt" style="width:120;" value="Переслать" onClick="loadFrame('c=docs/doc_user_action&doc_id=#doc_id#&cop=forward&returnToModule=#returnToModule#', 'wf');">  ??WF_ID&AR_A=Y&!AR_S=Y
<input type="button" class="butt1 pt" style="width:120;" value="Изменить" onClick="loadFrame('c=docs/edit_doc&doc_id=#doc_id#&returnToModule=#returnToModule#', 'wf');"> ??AR_W=Y
<input type="button" class="butt1 pt" style="width:220;" value="Отправить на подпись" onClick="loadFrame('c=wf/start_wf_for_doc&doc_id=#doc_id#&returnToModule=#returnToModule#');">  ??AR_E=Y
<input type="button" class="butt1 pt" style="width:120;" value="Отозвать" onClick="loadFrame('c=docs/doc_user_action&doc_id=#doc_id#&cop=terminate&returnToModule=#returnToModule#', 'wf');"> ??AR_T=Y
<input type="button" class="butt1 pt" style="width:120;" value="Послать FYI" onClick="loadFrame('c=docs/doc_user_action&doc_id=#doc_id#&cop=sendFYI&returnToModule=#returnToModule#', 'wf');"> ??!DOC_IS_REJECTED
<input type="button" class="butt1 pt" style="width:120;" value="Удалить" onClick="if(confirm('Удалить этот документ?'))doSubmit('delete', 'docs/edit_doc.cfg');">    ??DOC_IS_REJECTED
<input type="button" class="butt1 pt" style="width:120;" value="Алерт" onClick="jAlert('Example of a basic alert box in jquery', 'jquery basic alert box');">  ??
<br>

<div class="pt" onClick="$('##doc_send_div').toggle(); AjaxCall('doc_send_div', 'c=docs/show_sent_history&doc_id=#doc_id#');"  style="border:solid 1px gray; float:right; margin-top:10pt; padding:2px;"> история рассылки для ознакомления >></div> ??NUM_SENT_FYI>0
</td></tr>
#divider#
</table>
</center>
<div id="doc_send_div" style="float:right; display:none; margin:0 50px 0 100px;"></div>
<div style="clear:both;"></div>
<div id="doc_wf_template_div" style="float:right; margin:0 50px 0 100px;">
$CALL_SERVICE c=wf/show_wf_template; doc_type_id=#DOC_TYPE_ID#; ??!WF_ID&AR_E=Y
</div>
<div style="clear:both;"></div>

<center> ??
<div id="doc_wf" style="float:right; margin:0 50px 0 100px;">загрузка...</div>
<div style="clear:both;"></div>
</center> ??
</div>

$CALL_SERVICE c=sys/log_doc_access; doc_id=#doc_id#; version=#VERSION#;

+++++++++ Возврат результатов в вызывавшую страницу ++++ ??
<script>
window.parent.showPageTop(false); ??!ERROR
window.parent.getResult("c_docs,c_myDocs,c_archDocs", document.getElementById("result"), true); 
window.parent.AjaxCall("doc_wf", "c=wf/show_wf_for_doc&doc_id=#doc_id#"); 
</script>
[end]

<input type="button" class="butt1 pt" style="width:120;" value="Удалить" onClick="loadFrame('c=docs/doc_user_action&doc_id=#doc_id#&cop=terminate&returnToModule=#returnToModule#', 'wf');"> ??AR_T=Y

[sign buttons]
<input type="button" class="butt1 pt" style="width:120;" value="Отклонить" onClick="loadFrame('c=docs/doc_user_action&doc_id=#doc_id#&cop=reject&returnToModule=#returnToModule#', 'wf');"> 
<input type="button" class="butt1 pt" style="width:120;" value="Подписать" onClick="loadFrame('c=docs/doc_user_action&doc_id=#doc_id#&cop=sign&returnToModule=#returnToModule#', 'wf');">
<input type="button" class="butt1 pt" style="width:120;" value="Переслать" onClick="loadFrame('c=docs/doc_user_action&doc_id=#doc_id#&cop=forward&returnToModule=#returnToModule#', 'wf');">
[end]


[added comments]
<tr><td colspan=2></td></tr><tr><td colspan=2><center><table class="noborder" cellpadding=3 cellspacing=0 style="margin:0 50px 0 100px;"> 
<tr><td colspan=2 class="bg_white">Комментарии:</td></tr>#FYI_COMMENTS##ADDED_COMMENTS#</table><center></td></tr>
[end]

***************************** Шаблоны SQL запросов ***************************
[get added comments]
select concat('<tr><td class="small nowrap">'
 , DATE_FORMAT(wf.finished,'#dateTimeFormat#'),', <b>'
 ,u.FIO ??
 , LEFT(u.I,1),'.',LEFT(u.O,1),'.',u.F
 ,':</b></td><td class="bg_white">',wf.comment,'</td></tr>') as ADDED_COMMENTS
from wf left join #table_users_full# u on u.id=wf.user_id
where wf.wf_id=#WF_ID# and not wf.comment is null and not wf.comment=''
order by wf.finished
;
[end]

[get FYI comments]
select concat('<tr><td class="small nowrap">'
  , DATE_FORMAT(s.dat,'#shortDateTimeFormat#')
  ,', <b>',u.FIO,':</b></td><td class="bg_white">',s.comments,'</td></tr>') as FYI_COMMENTS
from d_sent_FYI s left join #table_users_full# u on u.id=s.from_id
where s.doc_id=#doc_id# and not s.comments is null and not s.comments=''
order by s.dat
;
[end]

[check sent FYI]
select /* Was FYI send? */ count(*) as "NUM_SENT_FYI" from d_sent_FYI s where s.doc_id=#doc_id#;
[end]


[getDocInfo]
select concat('d_data_', cast(dtp.id as char)) as TABLE_NAME
, dtp.NAME as "DOC_TYPE"
 , dh.number, dh.title
, u.FIO as CREATOR 
, DATE_FORMAT(dh.doc_date,'#dateFormat#') as DOC_DATE
, DATE_FORMAT(dh.created,'#dateTimeFormat#') as CREATED

from d_types dtp
left join d_list dh on dtp.Id = dh.type_id
left join #table_users_full# u on u.Id = dh.creator_id
where dh.Id = #doc_id#
; 
select id as DOC_DATA_RECORD_ID from #TABLE_NAME# where doc_id = #doc_id# and version=#DOC_VERSION#
;

select concat(dtf.field_db_name, ',') as FIELDS
 , concat(dtf.name, ',') as FIELDS_NAMES 
 , concat(dtf.type, ',') as FIELDS_TYPES
 , concat(dtf.form_field_type, ',') as FORM_FIELDS_TYPES
from d_fields dtf
left join d_list dh on (dtf.type_id = dh.type_id)
where dh.Id = #doc_id#
order by nr
;
[end]

[SQL]
select dtf.NR, dtf.NAME, dtf.TYPE, dtf.FORM_FIELD_TYPE, dtf.SIZE, dtf.FIELD_DB_NAME
from d_fields dtf
left join d_list dh on (dtf.type_id = dh.type_id)
where dh.Id = #doc_id#
order by nr
[end]

