[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSpecial2 ??logged
title=1C-Персонал
debug=off
KeepLog=false
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 

rowLink=|<a class=r href="javascript:goToRow(#srn_i#);">#srn_i#-#ern_i#</a> ??!currentPage
rowLink=|<font color=FFFF00><b>#srn_i#-#ern_i#</b></font> ??currentPage
prevSetLink=<a class=r href="javascript:goToRow(#srn_i#);"> <<< предыд. </a> 
nextSetLink=| <a class=r href="javascript:goToRow(#srn_i#);"> следующие >>> </a>

[end]


[person popup css]
table.tpers td {font-size: 10pt; text-align:left; border:none; padding:3px; } 
table.tpers td.data {background-color:white;} 
.line {margin:5px 0 5px 0;  border-bottom:solid 1px ##808080; font-size: 1pt;}
.b {font-weight:bold;}
[end]


[report header]
<HTML><HEAD><TITLE>#title#</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">

$INCLUDE c2/i_head.dat[head] 
<style type="text/css">
table.tlist td {text-align:left;} 
table.tlist tr.parent {font-weight:bold; background-color:##FFFFA0}
table.tlist td.p {cursor:pointer; color:##000080;}
table.tlist td.td_0 {padding:2px 5px 2px 0px; font-size: 11pt;}
table.tlist td.td_1 {padding:2px 5px 2px 0px; font-size: 11pt;}
table.tlist td.td_2 {padding:2px 5px 2px 5px; font-size: 10pt;}
table.tlist td.td_3 {padding:2px 5px 2px 15px;}
table.tlist td.td_4 {padding:2px 0 2px 25px;}
table.tlist td.td_5 {padding:2px 0 2px 35px;}
table.tlist td.fio {padding-left:40px;}

table.tlist td.label, table.tpers td.label  {text-align:right; border:none;}
table.tlist td.data {font-size: 10pt; border:none; font-weight:bold;}

$INCLUDE c2/info/i_persons.cfg[person popup css]

</style>
</head>

<body>
$SET_PARAMETERS srn=1; rpp=50;  ??!rpp
$SET_PARAMETERS all=; ??
$SET_PARAMETERS f_code=0; ??f_fam&!f_code

<table border=0 cellpadding=0 cellspacing=0 style="margin:20px; width:98%"><tr><td width=90%>
<h3>1C - Справочник персонала</td><td align=right nowrap=true></td><td align=right nowrap=true>
<a class=info href="/adb/adb">Главная</a></td></tr></table>

<form name="theForm" method="POST" onSubmit="return doSubmit();" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="all" value="#all#">

<table class=tfiltr_wrapper border=0 cellpadding=0 cellspacing=0 style="margin-left:200px;">
<tr><td width=400 class=title onClick="toggleIt('.tfiltr');">
<img class=btn src="#imgPath#max.png" width="16" height="14" align=right border="0" ??
onClick_="showIt('.tfiltr');"><img class=btn src="#imgPath#min.png" width="16" height="14" align=right border="0" ??
onClick_="hideIt('.tfiltr');"> ??
Фильтровать:<img src="#imgPath#filler.gif" width="150" height="1" border="0"></td>
</tr>
<tr><td colspan=1>
<table border=0 cellpadding=0 cellspacing=6 class=tfiltr>
<tr><td class="l">Код подразделения:</td><td><input size=10 name="f_code" class=xp value="#f_code#"></td></tr>
<tr><td class="l">Фамилия:</td><td><input size=20 name="f_fam" class=xp value="#f_fam#"></td></tr>


<tr><td></td><td class=align_right>
<input class="b_nica bok" type=submit value="Искать">
</td></tr></table>
</td></tr></table>

<div id=cont>
<table class="tlist" border=0 cellspacing=0 cellpadding=0 style="margin:25px 0 25px 100px;">

$SET_PARAMETERS OLD_DIV=#DIV_CODE#;
<tr class=parent><td colspan=2 class="td_#P_LEV#">#P_CODE#: #P_DES#</td></tr> ??srn=1&P_DES
<tr class=parent><td colspan=2 class="td_#LEV#">#DIV_CODE#: #DES#</td></tr> ??srn=1
[end]

, DES as P_DES, LEV as P_LEV

<tr><th>&nbsp;</th>
<th>ФИО</th>
<th>Подразделение</th> ??
<th>Должность</th>
</tr>

[item]
<tr class=parent><td colspan=2 class="td_#LEV#"><a href="##" onClick="setId('#DIV_CODE#');">#DIV_CODE#:</a> #DES#</td></tr>	??!DIV_CODE=#OLD_DIV#
<tr>
<td>&nbsp;</td> ??

<td class="fio p" onClick="showPerson('#KODFIZLICA#');"> 
<a href="#KODFIZLICA#" onClick="showPerson('#KODFIZLICA#');"> ??
#FIO#
</a> ??
</td>

<td>#DOLZHNOST# #SOVM#
<small>(#TABNOM#, #DOLZHNOST_DATE# ??
- #KONEC# ??KONEC_ZZ
)</small> ??
<br>#USL_RABOTI# ??
</td>

<td><small>#DIV_CODE#: #DIV#:  <br>#D_ID#: #DES# </small></td> ??
</tr>
$SET_PARAMETERS OLD_DIV=#DIV_CODE#;

[end]

 
[report footer]
<tr class=blue><td colspan=15 class="align_left">
rpp=#rpp#; srn=#srn#; NumTableRows=#NumTableRows#; <br> ??
$INCLUDE common.dat[rpp]  param: noTR=Y; ??!NumTableRows=0
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0

</TD></TR>
</table> 
</div>
</form>


<div id="loadingMsg" class="hid">
<div id="loadingCont" style="margin:10px; margin-left:150px; background-color:white; width:300px; border:solid 1px ##808080;">
<center><h4>Загрузка</h4><br><img src="#imgPath#wait.gif" width="48" height="48" border="0"></center>
</div></div>

$INCLUDE c2/info/i_persons.cfg[pop-up divs]

<script type="text/javascript">
bindEvents(); ??
selectOptionByVal(document.theForm.rpp,#rpp#); ??rpp
goToRow = function(srn) {
document.theForm.srn.value=srn;
document.theForm.submit();
}

setId = function (id) {
	document.theForm.f_code.value=id;
	document.theForm.f_des.value=""; ??
	document.theForm.submit();
}

$INCLUDE c2/info/i_persons.cfg[pop-up script]
</script>
</body>
</html>
[end]


[pop-up divs]
============================= POP-UP DIVs =============================== ??
<div id="overlay" class="dialog_overlay"></div>     

<div id="dialog" class="dialog">
<table style="" border=0 cellpadding="3" cellspacing="0">
<tr><td class="dialog_title align_right"><div id="dialog_title" style="float:left;"></div>
<img class=btn src="#imgPath#close.png" width="16" height="14" border="0"
onClick="HideDialog();"><div style="clear:both;"></td></tr>
<tr><td style="padding: 15px;">
<div id="popupCont">
<center><h4>Загрузка</h4><br><img src="#imgPath#wait.gif" width="48" height="48" border="0"></center>
</div>
</td></tr></table>
</div>
[end]


[pop-up script]
showPerson = function(kodfizlica) {
 $( "##popupCont").html( "<center><h4>Загрузка</h4><br><img src='#imgPath#wait.gif' width='48' height='48' border='0'></center>" );
 $( "##dialog_title").html("кфл: " + kodfizlica);
 ShowDialog(false); 
 var request = $.ajax({
    url: "#ServletPath#",
    type: "POST",
    data: { c : "c2/info/i_person", f_code : kodfizlica },
    dataType: "html"
    });
    request.done(function( msg ) {
        $( "##popupCont").html( msg );
    });
    request.fail(function( jqXHR, textStatus ) {
        alert( "Ошибка: " + textStatus );
    });

	centerDialog();
}
 
============================= POP-UP Dialog =============================== ??
function ShowDialog(modal)
{
	$("##popupCont").show();
	$('##overlay').height($(document).height()).show();
	$("##dialog").fadeIn(300); ??
	$("##dialog").show();
	if (modal)
			$("##overlay").unbind("click");
	else
			$("##overlay").click(function (e) {HideDialog(); });
	$( "##dialog" ).draggable({
	containment:'parent', ??
	handle: '.dialog_title'});	
	dialogOn = true;
	centerDialog();
}

function HideDialog()
{
	$("##overlay").hide();
	$("##dialog").fadeOut(300);
	$("##popupCont").html("");
	dialogOn = false; ??
} 

function centerDialog(){
	if (!dialogOn) return;

	var h = document.body.offsetHeight-200;
	if(document.all) h = h - 40; ??
	if (h<200) h=200;
	if (h>500) h=500;
	$('##ptree').height(h);
	
//  if(document.all) t = ($("body").innerHeight() - $('.dialog').outerHeight())/2 + $(window).scrollTop(); ??
//	else t = ($("window").innerHeight() - $('.dialog').outerHeight())/2 + $(window).scrollTop(); ??
//	t=$(window).scrollTop() + 10;
	var t = window.document.body.scrollTop + 50 + (h - $('.dialog').outerHeight())/2 ;
	if (t<10) t=10;
	$('.dialog').css({
		position:'absolute',
		left: ($("body").innerWidth() - $('.dialog').outerWidth())/2,
		top: t
	});
}

[end]
========================================================

[preSQLs]
select ID as DIV_CODE, DES, LEV, PID	from C2_DIV	where id='#f_code#';
select ID as P_CODE, DES as P_DES, LEV as P_LEV	from C2_DIV	where id='#PID#' ??LEV>1
[end]


[SQL]
select 
s.ID, ''''||s.KODFIZLICA as KODFIZLICA, s.F||' '||s.I||' '||s.O as FIO

, ''''||p.TABNOM as TABNOM
, to_char(p.DOLZHNOST_DATE, 'DD.MM.YYYY') as DOLZHNOST_DATE , to_char(p.KONEC, 'DD.MM.YYYY') as KONEC
, ip.DES as DOLZHNOST
, case p.USL_RABOTI_CODE when 356 then '(совм.)' when 357 then '(совм.*)' else '' end  as SOVM
, iu.DES as USL_RABOTI ??

, d.SRT, ''''||d.ID as DIV_CODE, d.DES, d.LEV
from 
	(select ROWNUM as SRT, ID, DES, LEV
		from C2_DIV	
		where id='#f_code#' ??!all
		TOT_NUM_PERSONS>0 ??
		connect by prior id=pid start with id='#f_code#' ORDER SIBLINGS BY ID  ??all
)	d 
left join c2_persons_post p on p.DIV_CODE=d.id
left join c2_persons s on s.KODFIZLICA=p.KODFIZLICA
left join i_posts ip on ip.id=p.DOLZHNOST_CODE
left join i_usl_rab iu on iu.id=p.USL_RABOTI_CODE ??
where upper(s.F) like upper('#f_fam#%') ??f_fam
order by d.SRT, FIO
[end]

, s.POL, DATA_ROZHD, GRAZHDANSTVO_CODE, INN, PENS_NOMER, STRANA_CODE  ??


, to_char(p.DIV_DATE, 'DD.MM.YYYY') as DIV_DATE
,''''||DIV_CODE as DIV_CODE, p.DIV ??
, DOLZHNOST_CODE, USL_RABOTI_CODE, USL_RABOTI_DATE, TIP_DEJAT, STATE_CODE ??
, IST_COMPLEKT_CODE, USL_TRUDA_CODE, USL_TRUDA_DATE, NACHALO , DATA_UVOL, PRICHINA_UVOL ??
