[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSpecial2 ??!aggr&logged
title=Начисления
debug=off
KeepLog=false
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
canEdit=Y ??USER_ID=1|USER_ID=130
[end]

[report]
$GET_DATA [setAggr] ??id&canEdit=Y
[end]

[setAggr]
update [dbo].[_ТипыНачислений]
set 
Код_аггр=#aggr# ??!aggr=NOT
Код_аггр=null ??aggr=NOT
where id=#id#
[end]

[report header]
<HTML><HEAD><TITLE>#title#</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
$GET_DATA [getFilters]
$INCLUDE c2/i_head.dat[head]
<style type="text/css">
tr.group {font-weight:bold; background-color:##F0F8FF;}
table.tlist td {text-align:left; font-size:9pt; }
select {font-size:10pt; border:solid 1px black;}
table.tlist td select {font-size:9pt; border:none;  border-bottom:solid 1px ##a0a0a0;}
</style>
</head>

<body>
<table border=0 cellpadding=0 cellspacing=0 style="margin:20px; width:98%"><tr><td width=90%>
<h3>1C - Виды начислений</td><td align=right nowrap=true></td><td align=right nowrap=true>
<a class=info href="/adb/adb">Главная</a></td></tr></table>

<form name="theForm" method="POST" onSubmit="return doSubmit();" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
$SET_PARAMETERS srt=id; desc=;  ??!srt
<input type=hidden name=srt value="#srt#">
<input type=hidden name=desc value="#desc#">

<table class=tfiltr_wrapper border=0 cellpadding=0 cellspacing=0 style="margin-left:200px;">
<tr><td width=400 class=title onClick="toggleIt('.tfiltr');">
<img class=btn src="#imgPath#max.png" width="16" height="14" align=right border="0" ??
onClick_="showIt('.tfiltr');"><img class=btn src="#imgPath#min.png" width="16" height="14" align=right border="0" ??
onClick_="hideIt('.tfiltr');"> ??
Фильтровать:<img src="#imgPath#filler.gif" width="150" height="1" border="0"></td>
</tr>
<tr><td colspan=1>
<table border=0 cellpadding=0 cellspacing=6 class=tfiltr>
$INCLUDE [field_e] param: title=id; name=f_id; val=#f_id#; size=10;  break=; ??
$INCLUDE [field_e] param: title=Начисление; name=f_nach; val=#f_nach#; size=40;  break=;

<tr><td class="l">Вид начисления:</td><td><select name="f_vid"><option value="">все</option>#VIDS#</select></td></tr>

<tr><td class="l">Тип начисления:</td><td><select name="f_type"><option value="">все</option>#TYPES#
<option value="UD">Удержания</option><option value="NOT"> не опр.</option></select></td></tr>

<tr><td class="l">Агрегирование:</td><td><select name="f_aggr"><option value="">все</option>#AGGRS#<option value="NOT">- : не опр.</option></select></td></tr>

$INCLUDE [field_e] param: title=Подразделение; name=f_div; val=#f_div#; size=10;  break=; ??

<tr><td></td><td class=align_right>
<input class="b_nica bok" type=submit value="Применить фильтры">
</td></tr></table>
</td></tr></table>

<div id=cont>
<table class="tlist" border=0 cellspacing=0 cellpadding=0 style="margin:5px 10px 25px 10px;">
<tr>
<th class="srh" sr="c.Начисление">Начисление</th>
<th class="srh" sr="c.ВидНачисления">Вид начисления</th>
<th class="srh" sr="c.ТипНачисления">Тип начисления</th>
<th class="srh" sr="c.КодПодразделенияОрганизации">Подразд.</th>
<th class="srh" sr="c.Код_аггр">Агрегирование</th>
</tr>
[end]


[field_e] param: title; name; val; size=25; break=; cont=;
<tr><td 
class="l tb">#title#:</td><td class="tb" ??break
class="l">#title#:</td><td  ??!break
><input size=#size# name="#name#" class=xp value="#val#">
</td></tr> ??!cont
[end]



[item]
<tr>
<td>&nbsp;#NACH#</td>
<td>&nbsp;#VID#</td>
<td>&nbsp;#TYPE#</td>
<td>&nbsp;#DIV#</td>

<td>
$INCLUDE [editAggr] ??canEdit=Y
&nbsp;#AGGR#  ??!canEdit=Y
</td></tr>
[end]

[editAggr]
<select name="f_aggr_#ID#" onChange="setAggr(#ID#)">
<option value="NOT"></option>
#AGGRS#
</select>
<script type="text/javascript">
selectOptionByVal(document.theForm.f_aggr_#ID#,'#AGGR_CODE#'); ??AGGR_CODE
</script>
[end]

[report footer]
</table>
</div>
</form>
<script type="text/javascript">
selectOptionByVal(document.theForm.f_aggr,'#f_aggr#'); ??f_aggr
selectOptionByVal(document.theForm.f_vid,'#f_vid#'); ??f_vid
selectOptionByVal(document.theForm.f_type,'#f_type#'); ??f_type
bindEvents();
showSrt("#srt#","sup"); ??!desc
showSrt("#srt#","sdown"); ??desc

function setAggr(id) {
var dd = eval("document.theForm.f_aggr_" + id);
var aggr = getSelectedVal(dd);
frames["wf"].window.location.replace("#ServletPath#?c=c2/info/i_zp_codes&id=" + id + "&aggr=" + aggr + "&tm=#tm#");
}
</script>

<div id="loadingMsg" class="hid">
<div id="loadingCont" style="margin:10px; margin-left:150px; background-color:white; width:300px; border:solid 1px ##808080;">
<center><h4>Загрузка</h4><br><img src="#imgPath#wait.gif" width="48" height="48" border="0"></center>
</div></div>

<iframe width=900 height=0 name="wf" id="wf" scrolling="auto" frameborder="0" style="border:none 1px ##607080;"></iframe>  

</body>
</html>
[end]
========================================================

[preSQLs]
$USE_DB ASU
[end]


[getFilters]
select '<option value="' +  CAST ( Code AS varchar) + '">' 
+ CAST ( Code AS varchar) + ': '
+ Name + '</option>' as "AGGRS"
from [dbo].[_ТипыНачислений_аггр]
order by Code
;
select distinct '<option value="' +  ВидНачисления + '">' 
+ ВидНачисления + '</option>' as "VIDS", ВидНачисления
from [dbo].[_ТипыНачислений]
order by ВидНачисления 
;
select distinct '<option value="' +  ТипНачисления + '">' 
+ ТипНачисления + '</option>' as "TYPES", ТипНачисления
from [dbo].[_ТипыНачислений]
where ТипНачисления<>''
order by ТипНачисления 
[end]



[SQL]
select CAST (c.ID AS varchar) + ': ' + c.Начисление as "NACH"
, c.ВидНачисления as "VID" ??
, case 
when (c.ВидНачисления='Основные начисления') then 'Осн.' 
when (c.ВидНачисления='Дополнительные начисления') then 'Доп.' 
else c.ВидНачисления end as "VID"

, c.ТипНачисления as "TYPE"
, '''' + c.КодПодразделенияОрганизации as "DIV"
, c.Код_аггр as "AGGR_CODE"
,CAST (c.Код_аггр AS varchar) + ': ' + a.name as "AGGR"
, c.ID as "ID" 
from [dbo].[_ТипыНачислений] c left join [dbo].[_ТипыНачислений_аггр] a on a.code=c.Код_аггр
where 1=1
and c.Код_аггр=#f_aggr# ??f_aggr&!f_aggr=NOT
and c.Код_аггр is null ??f_aggr=NOT
and c.ВидНачисления='#f_vid#' ??f_vid
and c.ТипНачисления='#f_type#' ??f_type&!f_type=NOT&!f_type=UD
and c.ТипНачисления='' and c.ВидНачисления='Основные начисления' ??f_type=UD
and c.ТипНачисления='' and c.ВидНачисления<>'Основные начисления' ??f_type=NOT
and c.Начисление like '%#f_nach#%' ??f_nach
order by 
c.id ??!srt
#srt# #desc# ??srt
[end]


where 1=1
and pid='#F_PID#' ??F_PID
and upper(DES) like upper('%#f_des#%') ??f_des
and (upper(DES) like upper('%#f_div#%') or upper(DES) like '%(#f_div#)%')  ??f_div
and to_number(ID)=to_number('#f_id#') ??f_id
and to_number(CODE)=to_number('#f_code#') ??f_code
and not IS_GROUP=1

