[parameters]
dateShortFormat=%d.%m.%Y
service=dubna.walt.service.TableServiceSpecial
debug=on ??
tab=sc
table_beg=none
table_end=none
[end]


[tab select]
<select name="tab" onchange="doChangeTab()">
	<option value="sc">Публикации</option>
	<option value="ac">Деятельность</option>
	<option value="in">Инновации</option>
</select>
[end]

[report header]
$GET_DATA [moveUp] ??action=moveUp
$GET_DATA [moveDown] ??action=moveDown
$GET_DATA [set render] ??action=set_render
$GET_DATA [set list] ??action=set_list
$GET_DATA [get some var]
$SET_PARAMETERS TYPE_ID=#SOME_ID# ??!TYPE_ID|action=change_tab
$PRINT ===================#TYPE_ID#
<html>
<head>
$INCLUDE list_Top.cfg [style]
<style>
table.search{ border: solid ##ADADAD 1px; padding:0px; margin:0px; font: 10pt Arial; background-color:whitesmoke;}
table.list{font: 10pt Arial;}
table.output{	border-bottom:1px solid ##ADADAD;	border-left:1px solid ##ADADAD;	font: 10pt Arial;}
.output th {	text-align: center;	border-top:1px solid ##ADADAD;	border-right:1px solid ##ADADAD;	font-weight:bold;}
.output td { border-top:1px  solid ADADAD; border-right:1px solid ADADAD; background-color: white; }
.output td.headrow2{border: 0px; none;}

.output span.head { float: left; border: none; width: 100%; heigth: 100%; }
.output td.norender{
background-color:lightgrey;
}
</style>

<LINK REL=STYLESHEET TYPE="text/css" HREF="#ServletPath#?c=css/css">  
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#form.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#cal2.js"></SCRIPT>
</head>
<body >
<blockquote style="padding-left:80px;">
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doSearch();">
<input name="c" type="hidden" value="#c#">
<input name="action" type="hidden" value="">
<input name="ID" type="hidden" value="">
<input name="SET_RENDER" type="hidden" value="">
<input name="SET_LIST" type="hidden" value="">
<input name="FORM_HAS_ERROR" type="hidden" value="">
<table>
<tr>
<td>
<table  border="0" cellpadding="5" cellspacing="0" class="output">
<tr><td class=headrow2 align=center><b>Переменные</b></td></tr>
<tr>
<td>
<span style="width:150px; text-align:right;">
Раздел:&nbsp;
</span>
$INCLUDE [tab select]
</td></tr>
<tr><td>
<span style="width:150px; text-align:right;">
Тип:&nbsp;
</span>
$INCLUDE [type select]
</td>
</tr>
<tr>
<td align=right>
$INCLUDE common.dat[butt] param: label=Обновить; onClick=doSearch();   img=refresh.gif; width=90;
</td>

</tr>
</table>
</td>
<td>
<table  border="0" cellpadding="5" cellspacing="0" class="output" >
<tr>
<td class=headrow2 align=center>
<b>Новая переменная:</b>
</td>
</tr>
<tr>
<td>
$INCLUDE [var type]
</td>
</tr>
<tr>
<td align="right"> 
$INCLUDE common.dat[butt] param: label=Создать; onClick=doNew();   img=refresh.gif; width=90;
</td>

</tr>
</table>
</td>
</tr>
</table>
<br>
<table class="output"  border="0" cellpadding="5" cellspacing="0">
<tr>
<th><small>порядок</small></th>
<th >
<small>обработка</small>
</th>
<th>Имя</th><th>Поле</th><th>Тип</th>
<th><small>отобр.<br>в списке</small></th>
</tr>

[end]



[var type]

	<SELECT name="DATA_TYPE" >
		<option value="varchar">Текст</option>
		<option value="int">Целое число</option>
		<option value="float">Дробное число</option>
		<option value="date">Дата</option>
		<option value="name">Название</option>
		<option value="annotation">Аннотация</option>
		<option value="authors">Авторы</option>
		<option value="conference">Мероприятие</option>
		<option value="izdanie">Издание</option>
		<option value="lang">Язык публикации</option>
	</SELECT>
[end]

[report footer]
</table>
</blockquote>
<script>

var frm=document.theForm;

function moveDown(id)
{
	frm.action.value="moveDown";
	frm.ID.value=id;
	frm.submit();
}
function moveUp(id)
{
	frm.action.value="moveUp";
	frm.ID.value=id;
	frm.submit();
}
function doChangeType(){
	frm.action.value="change_type";
	frm.submit();
}
function doSearch(){
	frm.action.value="search";
	frm.submit();
}

function doNew(){
top.newVar_top(frm.DATA_TYPE.value, frm.TYPE_ID.value);

}
function openVar(id,type){
top.openVar_top(id,type);
}

function chRender(id, el){
frm.ID.value=id;
frm.action.value='set_render';
	if (el.checked){
		frm.SET_RENDER.value=1;
	}
frm.submit();
}

function chList(id, el, param){
frm.ID.value=id;
frm.action.value='set_list';
	if (el.checked){
		frm.SET_LIST.value=1;
	}else{
		if (param){
			frm.SET_LIST.value=0;
	   }
	
	}
frm.submit();
}
function doChangeTab(){
	frm.action.value="change_tab";
	frm.submit();
}
selectOptionByVal(frm.TYPE_ID,'#TYPE_ID#');
selectOptionByVal(frm.tab,'#tab#');
</script>
</form>
</body>
</html>
[end]



[item]
<tr>
<td>
<a href="javascript:moveUp('#ID#');">&uarr;</a>
<a href="javascript:moveDown('#ID#');">&darr;</a>
</td>
<td align=center>
<input name="render#ID#" type="checkbox"
title="Обрабатывать" ??RENDER=1
title="Игнорировать" ??!RENDER
checked ??RENDER=1
onclick="chRender('#ID#', this)" 
disabled ??FIELD_NAME=connected_to	
>
</td>
<td>	
<a href="javascript:openVar(#ID#,'#TYPE#')"> ??!FIELD_NAME=connected_to
#NAME#
&nbsp; ??!NAME
</a>  ??!FIELD_NAME=connected_to
</td>
<td>
#FIELD_NAME#
/ #VIEW_FIELD_NAME# ??!FIELD_NAME=#VIEW_FIELD_NAME#
</td>
<td>
#DATA_TYPE#
</td>

<td align=center>
<input name="list#ID#" type="checkbox"
title="показывать в списке" ??LIST=1
title="скрывать из списка" ??!LIST=1
checked ??LIST=1
onclick="chList('#ID#', this)"	

>
</td>
</tr>

[end]





[type select]
<select name="TYPE_ID" onchange="doChangeType()">
$GET_DATA [get types sql]
#OPTS_TYPE#
</select>
[end]

[get types sql]
select concat('<option value="',cast(id as char),'">',name,' [type_id:',cast(id as char),']</option>') as OPTS_TYPE from event_types 
where 
tab='#tab#' order by sort;
[end]

[get some var]
select id as SOME_ID from event_types where tab='#tab#'
order by sort limit 1
[end]

[SQL]
SELECT 
id as ID
, RENDER as RENDER
, field_name as FIELD_NAME
, view_field_name as VIEW_FIELD_NAME
,name as NAME
,sort as SORT
,list as LIST
, CASE 
	WHEN FIELD_NAME='annotation' THEN 'Аннотация'
	WHEN CFG='info/name.cfg' THEN 'Название'
	WHEN CFG='info/lang.cfg' THEN 'Язык публикации'
	WHEN CFG='info/doklad.cfg' THEN 'Комментарий с копированием' ??
	WHEN CFG='info/connected_to.cfg' THEN 'Авторы'
	WHEN CFG='info/conference.cfg' THEN 'Мероприятие'
	WHEN CFG='info/izdanie.cfg' THEN 'Издание'	
	
	WHEN DATA_TYPE='varchar' THEN 'Строка'
	WHEN DATA_TYPE='text' THEN 'Текст'
	WHEN DATA_TYPE='int' THEN 'Целое число'
	WHEN DATA_TYPE='float' THEN 'Дробное число'
	WHEN DATA_TYPE='date' THEN 'Дата'
END AS DATA_TYPE
, CASE 
	WHEN FIELD_NAME='annotation' THEN 'annotation'
	WHEN CFG='info/name.cfg' THEN 'name'
	WHEN CFG='info/lang.cfg' THEN 'lang'
	WHEN CFG='info/doklad.cfg' THEN 'doklad' ??
	WHEN CFG='info/connected_to.cfg' THEN 'authors'
	WHEN CFG='info/conference.cfg' THEN 'conference'
	WHEN CFG='info/izdanie.cfg' THEN 'izdanie'
	WHEN DATA_TYPE='varchar' THEN 'varchar'
	WHEN DATA_TYPE='text' THEN 'varchar'
	WHEN DATA_TYPE='int' THEN 'int'
	WHEN DATA_TYPE='float' THEN 'float'
	WHEN DATA_TYPE='date' THEN 'date'
END AS TYPE
	
FROM
event_vars 
where type_id=#TYPE_ID# ??!action=change_tab
where type_id=#SOME_ID# ??action=change_tab
order by sort
[end]

[moveDown]
select id as LOWER_ID,sort as LOWER_SORT from event_vars where type_id=#TYPE_ID#
and sort > (select sort from event_vars where id=#ID#)
order by sort limit 1;
SELECT SORT as THIS_SORT from event_vars where id=#ID#; ??LOWER_SORT
UPDATE event_vars set sort=#THIS_SORT# where id=#LOWER_ID#; ??LOWER_ID&THIS_SORT
UPDATE event_vars set sort=#LOWER_SORT# where id=#ID#; ??LOWER_SORT&ID
[end]

[moveUp]
select id as HIGHER_ID,sort as HIGHER_SORT from event_vars where type_id=#TYPE_ID#
and sort < (select sort from event_vars where id=#ID#)
order by sort desc limit 1;
SELECT SORT as THIS_SORT from event_vars where id=#ID#; ??HIGHER_SORT
UPDATE event_vars set sort=#THIS_SORT# where id=#HIGHER_ID#; ??HIGHER_ID&THIS_SORT
UPDATE event_vars set sort=#HIGHER_SORT# where id=#ID#; ??HIGHER_SORT&ID
[end]

[set render]
update event_vars set 
render=1 ??SET_RENDER
render=null ??!SET_RENDER
where id=#ID#
[end]

[set list]
update event_vars set 
list=#SET_LIST# ??SET_LIST
list=null ??!SET_LIST
where id=#ID#
[end]
