[parameters]
title=Валюта
debug=off
$INCLUDE common.dat[colors]
[end]

[report]
$INCLUDE common.dat[head]
<body bgcolor=f0f8ff style="margin: 0px;"><center>
$SET_PARAMETERS CURRS=<option value="810">руб</option><option value="840">$</option><option value="978">€</option>

<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="rate_fixed" value="">

<TABLE id="mainTable" border=0 cellSpacing=1 cellPadding=5>
<tr><th colspan=3> Пересчет валюты</th></tr>

<tr><td nowrap=true class=l2>
Исходная сумма:</td><td nowrap=true> <input size=12 class=xp name="val" value="#val#">
</td><td nowrap=true class=l2>
Валюта: <select name=curr_code>#CURRS#</select>
</td></tr>
<tr><td class=l2 nowrap=true>

Пересчитать в:</td><td nowrap=true><select name=dest_curr_code>#CURRS#</select>
</td></tr>

<tr><td class=l2 nowrap=true>
Взять курс на дату:</td><td nowrap=true colspan=2><input size=12 class=xp name="RATE_DAT" value="#RATE_DAT#">
(дд.мм.гггг)</td>

</tr>

<tr><td colspan=3 style="border-bottom: 2px solid A00000;"></td></tr>

<tr><td class=l2 nowrap=true>
<b>Результат</b>:</td><td nowrap=true valign=top>
<input size=12 class=xp name="summa_curr" value="#SUMMA_CURR#">
</td><td nowrap=true class=l2>
курс:
<input size=12 class=xp name="RATE" onChange="fixRate();" value="#RATE#">

<br><font color=red>
на #RATE_DAT_1#	??RATE_DAT_1&!RATE_DAT_1=#RATE_DAT#&RATE
на #RATE_DAT_2#	??RATE_DAT_2&!RATE_DAT_2=#RATE_DAT_1#&!RATE_DAT_2=#RATE_DAT#&RATE
курс не найден! 		??!RATE
&nbsp;
</td>

<tr><td class=d colspan=5 class=d nowrap=true><center>
$INCLUDE common.dat[butt] param: label=<font color=Blue>Пересчитать</font>; onClick=frm.submit(); img=blue2.gif; width=100; 
 &nbsp;

$SET_PARAMETERS c_dis=gray;i_dis=blue1.gif ??!SUMMA_CURR
$SET_PARAMETERS c_dis=blue; i_dis=blue2.gif ??SUMMA_CURR
$INCLUDE common.dat[butt] param: label=<font color=Blue>Вставить</font>; onClick=pasteBack(); img=#i_dis#; width=100; ??SUMMA_CURR
$INCLUDE common.dat[butt] param: label=<font color=#c_dis#>Вставить</font>; onClick=; img=#i_dis#; width=100; ??!SUMMA_CURR
 &nbsp;
$INCLUDE common.dat[butt] param: label=<font color=blue>Закрыть</font>; onClick=window.close(); img=del12.gif; width=100; 
&nbsp;

</td></tr></TABLE>
</form>

<script>
var frm=document.theForm;
window.focus();

selectOptionByVal(frm.curr_code,'#curr_code#')  ??curr_code
selectOptionByVal(frm.dest_curr_code,'#dest_curr_code#')  ??dest_curr_code

function doIt()
{ 
  if (!checkFields()) return false;
  frm.submit();
  return true;
}

function checkFields()
{ 
  if (!checkFloat("val",null,null,"Исходная сумма")) return false;
  if (!checkDate("RATE_DAT")) return false;
  return true;
}

function pasteBack()
{ 
  try{ window.opener.#prefix#pasteCurrency(frm.summa_curr.value, getSelectedVal(frm.dest_curr_code),frm.RATE_DAT.value);} catch (e) {} ??SUMMA_CURR
  window.close();
}

function fixRate()
{ frm.rate_fixed.value='Y';
  frm.RATE_DAT.value="";
}
setWindow (document.getElementById("mainTable"), 650);
</script>


</center></body></HTML>
[end]


[preSQLs]
$SET_PARAMETERS dest_curr_code=840 ??!dest_curr_code&!curr_code=840
$SET_PARAMETERS dest_curr_code=978 ??!dest_curr_code&curr_code=840

select '<option value="'||CURR_CODE||'">'||ABBR||' ('||CURR_CODE||')</option>' CURRS from adb.i_curr_code;

$INCLUDE [get rate]	??!rate_fixed&!curr_code=#dest_curr_code#
$SET_PARAMETERS RATE=1 ??curr_code=#dest_curr_code#

$INCLUDE [get val] ??RATE&val
[end]


[get val]
try: select to_char(#val#*#RATE#,'99999990.00') as SUMMA_CURR
, to_char(#RATE#,'99999990.0000') as RATE  ??!rate_fixed
from dual;
[end]


[get rate]
try: select to_char(SYSDATE,'DD.MM.YYYY') as RATE_DAT from dual	??!RATE_DAT
;
$INCLUDE [rate1] 			??!curr_code=810
$SET_PARAMETERS RATE_1=1 	??curr_code=810

$INCLUDE [rate2] 			??!dest_curr_code=810
$SET_PARAMETERS RATE_2=1 	??dest_curr_code=810

try: select to_char(#RATE_1#/#RATE_2#,'99999990.0000') as RATE from dual; ??RATE_1&RATE_2

$SET_PARAMETERS RATE=; 	??!RATE_1|!RATE_2
;
[end]

[rate1]
try: select to_char(curr_rate,'999990.0000') as RATE_1, to_char(d_dat, 'DD.MM.YYYY') as RATE_DAT_1 from adb.i_rate_desc
where curr_code=#curr_code# 
and d_dat <= to_date('#RATE_DAT#', 'DD.MM.YYYY')
and rownum=1;
[end]


[rate2]
try: select to_char(curr_rate,'999990.0000') as RATE_2, to_char(d_dat, 'DD.MM.YYYY') as RATE_DAT_2 from adb.i_rate_desc
where curr_code=#dest_curr_code# 
and d_dat <= to_date('#RATE_DAT#', 'DD.MM.YYYY')
and rownum=1;
[end]
