[parameters]
debug=off
service=dubna.walt.service.TableServiceSpecial
table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
[end]
[report header]
<div style="overflow: auto; height: 400px;">
<table >
[end]

[report footer]
</table>
</div>
[end]

[item]
<tr>
<td nowrap>
$INCLUDE [person] ??!IS_GROUP
$INCLUDE [group]  ??IS_GROUP
</td>
</tr>
[end]

[person]
<img src='#imgPath#small/user.gif' border=0>
#LASTNAME# 
#FN1L#. ??FN1L 
#OT1L#. ??OT1L
[end]

[group]
<img src='#imgPath#small/user_group.gif' border=0>
<b>#LASTNAME#</b>
[end]

[SQL]
SELECT  LASTNAME
,SUBSTR(FIRSTNAME,1,1)as FN1L
,SUBSTR(OTCHESTVO,1,1)as OT1L 
, IS_GROUP as IS_GROUP
from persons   
where id in (#PersonsToAdd#) order by IS_GROUP, LASTNAME
[end]


