[paramenters]
LOG=OFF
[end]

[report]
$GET_DATA [get evnt cnt] ??USER_ID
#EVENT_COUNT#
[end]

[get evnt cnt]
SELECT COUNT(DA.ID) AS EVENT_COUNT
FROM DOC_ACCEPT DA 
INNER JOIN ARCH_DOC AD ON DA.DOCID = AD.ID
WHERE  DA.ACCEPTED IS NULL
AND DA.PERSONID IN (
SELECT PERSON_ID 
FROM PERSON_USER PU 
WHERE PU.USER_ID=#USER_ID#
)
[end]