[parameters]
service=dubna.walt.service.TableServiceSpecial
KeepLog=true 
wrapperTable=none
table_beg=none 
table_end=none
wrapperTableEnd=none
debug=ond
[end]

[report header]
<html>
    <head>
    <link rel='stylesheet' href='#cssPath#arch.css' type='text/css'> 
    <link rel='stylesheet' href='#cssPath#archlist.css' type='text/css'> 
    <SCRIPT language=JavaScript src="/arch/js/jquery-1.9.1.min.js"></SCRIPT>

<style type="text/css">
.mp {
    background-color: white;
    border: 1px solid #406080;
    font-size: 10pt;
    padding: 5px;
}

##evtable{
    border: 1px solid ##BBBBBB;
}
##evtable th{
    background:white;
    padding:3px;
    
}
##evtable td{
    background:##EEEEEE;
    padding:3px;
}
.docname{
width:600px;
}
.cent{
text-align:center;
}
</style>
        <script type="text/javascript" language="javascript">
        </script>
    </head>
<body style="background-color: #F0F0F0;">
<div class="mp">
<b>Документы, ожидающие согласования</b>
</div><br/>
    <table id="evtable">
        <tr>
            <th>№:</th>    
            <th>Дата события:</th>    
            <th>Документ</th>
        </tr>
[end]
[item]
<tr>
    <td>#ROWNUM#</td>
    <td>#EVENT_DATE#<br/><small>#EVENT_TIME#</small></td>
    <td class="docname"><a href="#schema#://#h_host##ServletPath#?c=doc/acceptDoc&ID=#DOCID#&mode=accept&is_initiator=#IS_INITIATOR#&key=#KEY#&p_key=#P_KEY#" target="_blank">#CONTENT#</a></td>
    
<tr>
[end]

[report footer]
</table>
$CALL_SERVICE c=doc/old_events;
</body>
</html>
[end]




[SQL]
SELECT ROWNUM, T.* FROM (
SELECT DA.*, MD5HASH(DA.ID) AS P_KEY
, D.CONTENT, MD5HASH(to_char(D.NODE_ID)||'_'||D.ID) AS KEY 
, to_char(DA.MAILED,'DD.MM.YYYY') AS EVENT_DATE
, to_char(DA.MAILED,'HH24:MI') AS EVENT_TIME
FROM DOC_ACCEPT DA 
INNER JOIN ARCH_DOC D ON D.ID = DA.DOCID
WHERE  DA.ACCEPTED IS NULL
AND DA.PERSONID IN (
SELECT PERSON_ID 
FROM PERSON_USER PU 
WHERE PU.USER_ID=#USER_ID#
)
ORDER BY MAILED DESC
) T
[end]
