[parameters]
service=dubna.walt.service.TableServiceSpecial
debug=onf
KeepLog=true
wrapperTable=<!---->
wrapperTableEnd=<!---->
table_beg=<!---->
table_end=<!---->
dbDriverADB2=oracle.jdbc.driver.OracleDriver
connStringADB2=jdbc:oracle:thin:@addb.jinr.ru:1522:ADM
usrADB2=ADB2
pwADB2=Mx59HNQ6

[end]

[preSQLs]
SELECT LISTAGG(ADB_DOC_ID,',') WITHIN GROUP (ORDER BY ADB_DOC_ID) AS ADB_DOC_IDS FROM DOC_FACT WHERE DOC_ID = #ID#
[end]

[report header]
<style type="text/css">
##factlist{
}
##tcont{
max-width: 1024px;
margin-left:24px;
}
##link_to_adb{
    margin-top:10px;
    float:right;

}
##factlist td,th{
    padding:10px;
}
##factlist tbody{
    background-color:white;
}
##factlist a{
text-decoration: underline;
}
##factlist tbody tr:hover{
    background-color:##C9FCAB;
}
.odd{
   
}
.noadbdocs{
    text-align: center;
}
</style>
<script type="text/javascript">
$(function(){
    $("##factlist tbody tr:odd").addClass("odd");
    $("##link_to_adb").button();
    $("##factlist tbody tr").on('click',function(event){
        //console.log(event);
        //event.preventDefault();
        //event.stopPropagation();
        if($(this).children().find(".adblink").length!=0){
            $(this).children().find(".adblink")[0].click();
        }
    });
    
});
function  unlinkAdbDoc(docId, ev){
    ev.stopImmediatePropagation();
    markrowtodel(docId);
    if(confirm("Отвязать документ?")){
        frm.cop.value="unlinkAdbDoc";
        frm.UNLINKDOCID.value=docId;
        frm.submit();
    }else{
        unmarkrowtodel(docId);
        return false;
    }   
}
function markrowtodel(id){
    $('##row'+id).css("background-color", "##FF9999");
}
function unmarkrowtodel(id){
    $('##row'+id).css("background-color", "");
}
</script>
<div id = "tcont">
<INPUT type = "hidden" name = "UNLINKDOCID">
<table id="factlist" class="ui-widget">
<thead class="ui-widget-header">
<tr>
<th>Документ</th>
<th>Внешний №,дата</th>
<th>Контрагент</th>
<th>Сумма (руб)</th>
<th>Факт 1C (руб)</th>
<th>Назначение платежа</th>
<th>Комментарий</th>
<th><img src="/arch/images/small/delete.gif"/></th>
</tr>
</thead>
<tbody class="ui-widget-content">
$USE_DB ADB2 ??
[end]

[report footer]
$USE_DB ??
<tr><td colspan="8" class = "noadbdocs">Документы ADB не привязаны.</td></tr> ??NumTableRows=0
</tbody>
</table>
<a  id = "link_to_adb" target="_blank" href = "https://adb2.jinr.ru/adb/adb?c=doc/list&f_regnr=#ADB_DOC_IDS#">Список документов в системе ADB &gt;&gt;</a> ??ADB_DOC_IDS
</div>
[end]





[item]
<tr id= "row#DOC_ID#">
    <td><a class="adblink" target = "_blank" href="https://adb2.jinr.ru/adb/adb?c=doc/docEdit&type=ext&stype=ext&DOC_ID=#DOC_ID#"></a>#DOC#
<noscript>
<a target = "_blank" href="https://adb2.jinr.ru/adb/adb?c=doc/docEdit&type=ext&stype=ext&DOC_ID=#DOC_ID#">#DOC#</a>
</noscript>
</td>
    <td>#EXT_DOC_DATE#</td>
    <td>#RECEIVER#</td>
    <td nowrap = "nowrap">#SUMMA_RUB#</td>
    <td nowrap = "nowrap">#FACT_RUB#</td>
<td>#INFO#</td>
<td>#COMMENTS#</td>
<td><a href="##" onclick = "unlinkAdbDoc('#DOC_ID#', event);"><img src="/arch/images/remove.png"></a></td>
</tr>
[end]



==================================== SQLs =================================

[SQL]
SELECT
'№ '||d.DOC_ID
||' ('||t.doc_type||')<br><small>'||to_char(REG_DATE, 'DD.MM.YYYY')
||', '||c.fio
||')' as DOC
,'№ '||d.EXT_DOC_NR||'<br>'||to_char(d.DOC_DATE, 'DD.MM.YYYY') as EXT_DOC_DATE
, nvl(k.NAME_SHORT,d.RECEIVER) as RECEIVER
, to_char(nvl(d.SUMMA_RUB,0),'9G999G999G9990D00')  as SUMMA_RUB
, decode(NVL(d.FACT_RUB,0),0,'-',to_char(d.FACT_RUB,'99G999G999G990D00')) as FACT_RUB
, INFO
, d.comments
, d.DOC_ID

FROM
ADB.docs d
  left join ADB.doc_types t on t.id=d.doc_type
left join ADB.doc_statuses s on s.id=d.doc_status
left join WL.wu c on c.id=d.creator_id
left join ADB.i_kontragent k on k.code=d.RECEIVER_C
WHERE 
ADB.d.DOC_ID in (
#ADB_DOC_IDS#   ??ADB_DOC_IDS
-1              ??!ADB_DOC_IDS
)
ORDER BY 
ADB.d.doc_id DESC
[end]

