[parameters]
service=dubna.walt.service.TableServiceSpecial 
debug=off
KeepLog=false
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
ROOT_ID=0
thsnDelimiter=&nbsp;
[end]

//------------- pop-up справочник ---------------??

[report header]
<div id="result">
<table class=brothers_ border=0 cellspacing=0>
<tr><td style="text-align:right;">X</td></tr> ??
[end]


[item]
<tr class="spr_item"><td>
#LASTNAME# #FIRSTNAME##OTCHESTVO#
</td></tr>
[end]


[report footer]
</table></div>
<script type="text/javascript">
window.parent.getResult("d_sprav", document.getElementById("result"));
</script>
[end]

========================================================

[preSQLs]
[end]

[SQL]
select LASTNAME
, decode(FIRSTNAME,'','', substr(FIRSTNAME,1,1)||'.') as FIRSTNAME
, decode(OTCHESTVO,'','', substr(OTCHESTVO,1,1)||'.') as OTCHESTVO
from persons
where LIST_ID=#USER_LIST_ID#
and IS_GROUP is null
order by LASTNAME,	FIRSTNAME,	OTCHESTVO
[end]


[PopupDiv]
<style>
##d_sprav_window {width:190px; height: 432px; 
position:absolute; top:10px; left:800px;  display:none;  
border:solid 1px gray; background-color:white; z-index=999; 
box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
}

##d_sprav {padding:5px; width:180px; height: 400px;  overflow:auto;} 
##d_close {text-align:right; cursor:pointer; background-color:##485588; padding:4px;}

.spr_item {cursor:pointer; border-bottom: solid 1px ##a0a0a0;}
.act {background-color: ##FFFF80;}
</style>

<div id="d_sprav_window"><div id="d_close" onClick="hidePopup();"><img align=absmiddle src="#imgPath#close.png" width=16 height=14 border=0 alt="Закрыть">
</div><div id="d_sprav">ЗАГРУЗКА...</div></div>
<iframe width=900 height=0 name="wf" id="wf" scrolling="auto" frameborder="0" style="border:none 1px ##607080;"></iframe>  

<script type="text/javascript">
hidePopup = function() {
$('##d_sprav_window').hide();
}

var inp;

function selectPersons(el)
{	
	 inp = $('##' + el);
		var t = parseInt(inp.offset().top) - 100;
		var l = inp.offset().left + inp.width();
		$('##d_sprav_window').css({'top': t, 'left': l}); 
		$('##d_sprav_window').show();
		if($('##d_sprav').html().length < 30)
			frames["wf"].window.location.href="?c=doc/i_getPersList";
}


function getResult(targetDiv, srcDiv)
{
	document.getElementById(targetDiv).innerHTML = srcDiv.innerHTML;
	bindEvents();
}

var setSpravItem=function(ev)
{
	var o = $(this).find(':first-child');
	var s = inp.val();
	if (s.length > 1) s = s + ", ";
	inp.val(s + $.trim(o.html()));
	hidePopup();
	docChanged();
	return false; 
}

var sel = function(ev) {
	if(ev.type == "mouseover") $(ev.target).addClass("act");
	else if(ev.type == "mouseout") $(ev.target).removeClass("act");
	return false;
}

var bindEvents=function()
{
	$('tr.spr_item').click(setSpravItem);
	$('tr.spr_item').mouseover(sel);
	$('tr.spr_item').mouseout(sel);
}

</script>
[end]
