[parameters]
title=
debug=ond
service=jinr.arch.TableServiceSpecial
KeepLog=true
makeSubtotals=y
hide_totals=y
makeTotalsForCols=SUMMA_RUB1
 ,SUMMA_USD1,SUMMA_EUR1
NumSpecialCols=6
SumFormat=9999999990
wrapperTable=<!---->
table_beg=<table border="0" cellspacing="0" cellpadding="3"  style="margin:10px;" class=list bgcolor=white>
wrapperTableEnd=<!---->
altBgColorAttr=class=subtot
[end]



[report header]
$INCLUDE common.dat[head]
<link rel='stylesheet' href='#cssPath#archlist.css' type='text/css'> 
<body bgcolor=f0f8ff style="margin: 6px;">

<style>
.subtot {border-top:solid 1px black; background-color:##FFFFF0;}
.dl{
    width: 12px;
    height:12px;
}
.dl3{
    background: url("/arch/images/deadline3.gif") no-repeat scroll 0 0;
}
.dl2{
    background: rgba(0, 0, 0, 0) url("/arch/images/deadline2.gif") no-repeat scroll 0 0;
}
.dl1{
    background: rgba(0, 0, 0, 0) url("/arch/images/deadline1.gif") no-repeat scroll 0 0;
}
</style>

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<input type=hidden name="ID" value="#ID#">
<input type=hidden name="ROW_TO_DELETE" value="">
[end]

[table header]
$SET_PARAMETERS C_C=840 ??!C_C
<tr valign='top'>
<th class=list1st>+</th>
<th class=list>Дата</th>
<th class=list nowrap>Сумма (руб.)</th>
<th class=list>Сумма (валюта)</th>
<th class=list nowrap>&sum; <select name="C_C" class=xp style="font-size: 9px; font-weight:bold;" onchange="chCurr();">	
				<option value="840">$</option>
				<option value="978">€</option>
	</select></th>
<th class=list>Назначение</th>
<th class=list>Контрагент</th>
<th class='list'>Бюдж. код</th> ??
<th class='list'>Статья</th>
<th class=list>Комментарии</th>
<th class=list><img src="#imgPath#small/delete.gif" border=0></th>
</tr>
[end]

[all_currs]
#SUMMA1#
&nbsp; ??!CURR_CODE
р. ??CURR_CODE=810
$	??CURR_CODE=840
€	??CURR_CODE=978
chf ??CURR_CODE=756
[end]

[rub]
#SUMMA_RUB1# руб.
[end]

[usd]
#SUMMA_USD1# $
[end]

[eur]
#SUMMA_EUR1# €
[end]


[item]
<tr name='#ROWID1#' ID='#ROWID1#'>
<td class='list' nowrap align=right>
<img src="#imgPath#small/checked_small.gif" border=0> ??CLOSED=1
<img src="#imgPath#alert.gif" border=0 >  ??
    ??!CLOSED=1&IS_PAST=1 
<div class = "dl dl#ICON_STYLE#"></div> ??!CLOSED=1
</td>
<td class='list'>#DAT#&nbsp;</td>

<td class='list' align=right>#SUMMA_RUB1#</td>

<td class='list' align=right>
$INCLUDE[all_currs]
</td>

<td class='list' nowrap  align=right>
$INCLUDE [all_currs] ??!C_C
$INCLUDE [rub] ??C_C=810
$INCLUDE [usd] ??C_C=840
$INCLUDE [eur] ??C_C=978
</td>

<td class='list'>
																1             2             3            4                  5                 6               7        8                9             10            11          12          13          14         15       16         17      18     ??
<a href="javascript:mark('#ROWID1#');window.parent.paste_ps('#ROWID1#','#CURR_CODE#','#CURR_DATE#','#CONTRAGENT#','#CONTRAGENT_CODE#','#CONTRAGENT_INN#','#SUMMA2#','#SUMMA_RUB2#','#SUMMA_USD2#','#SUMMA_EUR2#','#SUMMA_CHF2#','#CLOSED#','#PURPOSE#','#COMMENTS#','#DAT#','#IS_PRIX#','#AGGR#','#BC#'); window.parent.openEditPSDialog();">
#PURPOSE# 
- ??!PURPOSE
</a></td>

<td class='list'>#CONTRAGENT#&nbsp;</td>
<td class='list'>#BC#&nbsp;</td> ??
<td class='list'>#AGGR_STR#&nbsp;</td>
<td class='list'>#COMMENTS#&nbsp;</td>
<td class='list'><a href="javascript:del('#ROWID1#');"><img src="#imgPath#small/delete.gif" border=0></a></td>

</tr>
[end]


[report footer]

<script language="JavaScript">
var frm = document.theForm;
var marked='none';


function chCurr(){
frm.submit();
}
function mark(nm){
if (marked!='none'){
	x=document.getElementById(marked);
	x.style.backgroundColor='';
}
z=document.getElementById(nm);
z.style.backgroundColor='#FFD0D0';
marked=nm;
}

function del(r){
	mark(r);
	if (confirm('удалить?')){
		frm.ROW_TO_DELETE.value=r;
		frm.cop.value='del_p';
		frm.submit();
	} 
	else{
		x=document.getElementById(marked);
		x.style.backgroundColor='';
	}
}


//function paste_ps(rowid,curr_code,curr_date,contragent,contragent_code,contragent_inn,summa,summa_rub,summa_usd,summa_eur,summa_chf,closed,purpose,comments,dat,is_prix)
						1  2   3  4  5  6  7  8  9 10 11 1213 14 15 1617 18 ??
window.parent.paste_ps('',810,'','','','','','','','','',0,'','','',1,'',''); ??cop=edt_p|cop=add_p
//window.parent.disable_save();
selectOptionByVal(frm.C_C,'#C_C#');
</script>

</form>
</body>
</HTML>
[end]

[report]

[end]

[SQL]
select 
 decode(ps.IS_PRIX, 0, '<img src="#imgPath#small/rasx1.gif" border=0> Расход: #SUM_RASX# (руб.)', decode(ps.IS_PRIX,1,'<img src="#imgPath#small/prix1.gif" border=0> Поступление: #SUM_PRIX# (руб.)',decode(ps.IS_PRIX,2,'<img src="#imgPath#small/to_jinr1.gif" border=0> Поставки в ОИЯИ: #SUM_PJ# (руб.)','<img src="#imgPath#small/to_contr1.gif" border=0> Поставки контрагенту: #SUM_PC# (руб.)'))) 
, ps.IS_PRIX as IS_PRIX
, case when ps.DAT<trunc(SYSDATE)then 1 else 0 end as IS_PAST
, case when ps.DAT-sysdate < 2 then 3
       when ps.DAT-sysdate < 5 then 2
       when ps.DAT-sysdate < 15 then 1
       else 0 
  end as ICON_STYLE
, to_char (ps.DAT,'dd.mm.yyyy') as DAT
, to_char(ps.SUMMA_RUB,'#SumFormat#') as SUMMA_RUB1
, to_char(ps.SUMMA,'#SumFormat#') as SUMMA1
, to_char(ps.SUMMA_USD,'#SumFormat#') as SUMMA_USD1 
, to_char(ps.SUMMA_EUR,'#SumFormat#') as SUMMA_EUR1 
, to_char(ps.SUMMA_CHF,'#SumFormat#') as SUMMA_CHF1 


, to_char(ps.SUMMA_RUB,'99999999.99') as SUMMA_RUB2
, to_char(ps.SUMMA,'99999999.99') as SUMMA2
, to_char(ps.SUMMA_USD,'99999999.99') as SUMMA_USD2
, to_char(ps.SUMMA_EUR,'99999999.99') as SUMMA_EUR2 
, to_char(ps.SUMMA_CHF,'99999999.99') as SUMMA_CHF2 

 

, REPLACE(ps.CONTRAGENT,'"','&quot;') as CONTRAGENT
, ps.CONTRAGENT_CODE as CONTRAGENT_CODE
, ps.CONTRAGENT_INN as CONTRAGENT_INN

,  ps.CURR_CODE as CURR_CODE
, to_char (ps.CURR_DATE,'dd.mm.yyyy') as CURR_DATE
, ps.CLOSED as CLOSED
, REPLACE(ps.PURPOSE,'"','&quot;') as PURPOSE
, REPLACE(ps.COMMENTS,'"','&quot;') as COMMENTS
, ps.dat as dat1
, ps.ROWID AS ROWID1
, ps.BC as BC
, ps.AGGR as AGGR
, i.des_short as AGGR_STR
 from
payment_stages ps
left join adb.i_aggr i on ps.aggr=i.code
where
ps.doc_id=#ID#
order by ps.IS_PRIX desc, dat1
[end]

[add sql]
insert into payment_stages
(DOC_ID
, DAT
, CURR_CODE
, CURR_DATE
, CONTRAGENT
, CONTRAGENT_CODE
, CONTRAGENT_INN
, SUMMA
, SUMMA_RUB
, SUMMA_USD
, SUMMA_EUR
, SUMMA_CHF
, CLOSED
, PURPOSE
, COMMENTS
, IS_PRIX
, AGGR
, BC
)
values(
#ID#
, to_date('#PS_DATE#','dd.mm.yyyy')
, '#PS_CURR_CODE#'
, to_date('#PS_CURR_DATE#','dd.mm.yyyy')
, '#PS_CONTRAGENT#'
, '#PS_CONTRAGENT_CODE#'
, '#PS_CONTRAGENT_INN#'
, nvl('#PS_SUMMA#',0)
, nvl('#PS_SUMMA_RUB#',0)
, nvl('#PS_SUMMA_USD#',0)
, nvl('#PS_SUMMA_EUR#',0)
, nvl('#PS_SUMMA_CHF#',0)
, 1 ??PS_CLOSED
, 0 ??!PS_CLOSED
, '#PS_PURPOSE#'
, '#PS_COMMENTS#'
, 0 ??PS_IS_PRIX=0 
, 1 ??PS_IS_PRIX=1
, 2 ??PS_IS_PRIX=2
, 3 ??PS_IS_PRIX=3
, null ??!PS_IS_PRIX
, '#AGGR#'
, '#BC#'
)
[end]


[edt sql]
update payment_stages
set DAT = to_date('#PS_DATE#','dd.mm.yyyy')
	, CURR_CODE = '#PS_CURR_CODE#'
	, CURR_DATE = to_date('#PS_CURR_DATE#','dd.mm.yyyy')
	, CONTRAGENT = '#PS_CONTRAGENT#'
	, CONTRAGENT_CODE = '#PS_CONTRAGENT_CODE#'
, CONTRAGENT_INN = '#PS_CONTRAGENT_INN#'
, SUMMA = nvl('#PS_SUMMA#',0)
, SUMMA_RUB = nvl('#PS_SUMMA_RUB#',0)
, SUMMA_USD = nvl('#PS_SUMMA_USD#',0)
, SUMMA_EUR = nvl('#PS_SUMMA_EUR#',0)
, SUMMA_CHF = nvl('#PS_SUMMA_CHF#',0)
, CLOSED = 1				??PS_CLOSED
, CLOSED = 0				??!PS_CLOSED
, PURPOSE = '#PS_PURPOSE#'
, COMMENTS = '#PS_COMMENTS#'
, IS_PRIX = #PS_IS_PRIX# 				??PS_IS_PRIX
, AGGR='#AGGR#'
, BC='#BC#'
 where
ROWID='#PS_ROWID#'
[end]

[del sql]
delete 
from payment_stages 
where 
ROWID='#ROW_TO_DELETE#'
[end]

[get sums]
select 
to_char(sum(summa_rub),'#SumFormat#') as SUM_PRIX
from 
payment_stages 
where 
doc_id=#ID#
and is_prix=1;

select 
to_char(sum(summa_rub),'#SumFormat#') as SUM_RASX
from 
payment_stages 
where 
doc_id=#ID#
and is_prix=0;

select 
to_char(sum(summa_rub),'#SumFormat#') as SUM_PJ
from 
payment_stages 
where 
doc_id=#ID#
and is_prix=2;

select 
to_char(sum(summa_rub),'#SumFormat#') as SUM_PC
from 
payment_stages 
where 
doc_id=#ID#
and is_prix=3;

[end]

[preSQLs]
$SET_PARAMETERS C_C=840	??!C_C
$GET_DATA[add sql] ??cop=add_p
$GET_DATA[edt sql] ??cop=edt_p&PS_ROWID
$GET_DATA[del sql] ??cop=del_p&ROW_TO_DELETE
$GET_DATA[get sums]
[end]