[parameters]
of=bin ??ЗАЧЕМ БЫЛО
service=jinr.arch.ServiceSendMail
mailDebug=true ??

subject=#DOCTYPE# #REGNUM# от #DAT# ??REGNUM|DAT
subject=#DOCTYPE# #NUM# от #DAT_DOC#
mailHTML=Y 
mailCharset=windows-1251
sendFiles=false
tmpPath=c:/tmp/
debug=on ??
[end]

[report]
<html>
<HEAD><META http-equiv=Content-Type content="text/html; charset=#mailCharset#">
$PRINT ======== docID: #ID# was sent to: #mailTo#
<script>
alert ("Мэйлы успешно посланы"); ??!ERROR
alert ("Ошибка отсылки мэйлов:\n\r#ERROR#"); ??ERROR
</script>
</head>
<body>
$PRINT ======== MARK DOC Sent =======

$GET_DATA	[update sent]	??!ERROR&ID
</body></html>
[end]


[msgBody]
<html><body>
База документов - обновление:
<br>&nbsp; <hr>
<table border="0" cellspacing="0" cellspadding="10">
<tr><td width=1%></td><td></td></tr>

<tr>
<th colspan=2 nowrap=true valign="top" align=left>#DOCTYPE#
№ ??!DOC_INDEX
#DOC_INDEX# / ??DOC_INDEX
#REGNUM#  ??REGNUM
от #DAT#	??DAT
<font color="red">на контроле</font> ??CONTROL=1
, #CONTROL_DAT# ??CONTROL_DAT
</td></tr>

$INCLUDE [num dat row]  ??NUM|DAT_DOC
$INCLUDE [subject row] ??SUBJECT
$INCLUDE [content row] ??CONTENT
$INCLUDE [result row]  ??RESULT
$INCLUDE [correspondent row] ??CORRESPONDENT
$INCLUDE [resolution row] ??RESOLUTION
$INCLUDE [numpages row] ??NP
$INCLUDE [comments row] ??COMMENTS
$INCLUDE [duration row] ??DAT_B|DAT_E

$INCLUDE [link row] ??!sendFiles=true&MD5_KEY

</table>
</body></html>
[end]

[link row]
<tr><td  nowrap=true align="right" >Чтобы посмотреть прикрепленные файлы<br> кликните ЗДЕСЬ >> </td><td>
<a href="#ServerPath##ServletPath#?c=doc/viewDoc&ID=#ID#&key=#MD5_KEY#">#ServerPath##ServletPath#?c=doc/viewDoc&ID=#ID#&key=#MD5_KEY#</a>
</td></tr>
[end]

[num dat row]
<tr><td  nowrap=true align="right" ><i>№ документа:</td><td>#NUM# 
от #DAT_DOC# ??DAT_DOC
</td></tr>
[end]

[subject row]
<tr><td  nowrap=true valign="top" align="right"><i>Краткое содержание:</td>
<td>#SUBJECT#</td></tr>
[end]

[content row]
<tr valign="top"><td nowrap=true valign="top" align="right"><i>Содержание:</td>
<td>#CONTENT#</td></tr>
[end]

[result row]
<tr><td  nowrap=true valign="top" align="right"><i>Результат:</td> ??RESULT
<td>#RESULT#</td></tr> ??RESULT
[end]

[correspondent row]
<tr><td nowrap=true valign="top" align="right" ><i>Корреспондент:</td>
<td >#CORRESPONDENT# </td></tr>
[end]

[resolution row]
<tr><td nowrap=true valign="top" align="right"><i>Резолюции:</td>
<td>#RESOLUTION# </td></tr>
[end]

[numpages row]
<tr><td nowrap=true valign="top" align="right"><i>Страниц:</td>
<td>#NP# </td></tr>
[end]

[comments row]
<tr><td nowrap=true valign="top" align="right" ><i>Комментарии:</td><td>#COMMENTS#</td></tr>
[end]

[duration row]
<tr><td nowrap=true valign="top" align="right" ><i>Срок действия:</td><td> 
с #DAT_B# ??DAT_B
по #DAT_E# ??DAT_E
</td></tr> 
[end]

[preSQLs]
SELECT 
	to_char(ad.DAT,'dd.mm.yyyy') as DAT
	,to_char(ad.DAT_DOC,'dd.mm.yyyy') as DAT_DOC
	,to_char(ad.DAT_B,'dd.mm.yyyy') as DAT_B
	,to_char(ad.DAT_E,'dd.mm.yyyy') as DAT_E
	,to_char(ad.DAT_CH,'dd.mm.yyyy - HH24:MI:SS')as DAT_CH
	,ad.LAB_CODE as LAB_CODE
	,ad.COMMENTS as COMMENTS
	,nvl(ad.SUBJECT,'-') as SUBJECT ??
	,nvl(ad.CONTENT,'-') as CONTENT ??
	,ad.SUBJECT as SUBJECT
	,ad.NEED_CHECK as NEED_CHECK
	,ad.NUM as NUM
	, ad.CONTENT as CONTENT
	,dt.name as DOCTYPE
	, REGNUM as REGNUM
	,to_char(DAT_REG,'dd.mm.yyyy')as DAT_REG
	, CONTROL as CONTROL
	, RESULT as RESULT
	, to_char(CONTROL_DAT,'dd.mm.yyyy')as CONTROL_DAT
	, CORRESPONDENT as CORRESPONDENT
	, REPLACE(RESOLUTION,CHR(10),'<br>') as RESOLUTION
	, NP as NP
	, DOC_INDEX as DOC_INDEX
	, to_char(ad.NODE_ID)||'_#ID#' as "MD5_SRC"
FROM arch_doc ad, doc_type dt
WHERE ad.id=#ID# and ad.doctype=dt.id
;
$INCLUDE [select emails]
[end]

[update sent]
commit;
$EXEC_PROCEDURE {call DOC_MAIL(#ID#,'#SENTIDS#')};
commit;
select  ', '||name as NMS from doc_mailed_to where doc_id=#ID# group by name;
select SUBSTR('#NMS#',3) as NMS from dual;
UPDATE arch_doc set SENT='#NMS#', SENTIDS='#SENTIDS#' where id=#ID#;
$INCLUDE [update send history]
[end]

[preSQLs]
$SET_PARAMETERS mailTo=#EMAILSTRING#
[end]

[select emails]
select email||';' as "mailTo", lastname||';' as lstnm
from persons 
where id in (#SENTIDS#) 
	and is_group is null
union
select p.email||';' as "mailTo", lastname||';' as lstnm
from persons p, person_group pg 
where 
	pg.group_id in (#SENTIDS#) 
	and p.id=pg.person_id;
[end]


[update send history]
try: update arch_doc set send_hist='<li>'||to_char(DATE_SENT,'dd.mm.yyyy HH24:MI')||' <b>#LSTNM#</b> (#mailTo#)</li></b> '||send_hist
,DATE_SENT=SYSDATE
where id=#ID#;
$SET_PARAMETERS ERROR=
[end]


[SQL]
select file_name
, page_data   ??ЗАТЫЧКА БЕЗ БЛОБОВ
from doc_data 
where doc_id=#ID# 
and page_nr=#page# ??
[end]

