[parameters]    
debug=onf
KeepLog=true
service=dubna.walt.service.TableServiceSpecial
table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
[end]

[report header]
<link rel='stylesheet' href='#cssPath#chosen.min.css' type='text/css'>  
<SCRIPT language=JavaScript src="/arch/js/jquery-1.9.1.min.js"></SCRIPT>
<SCRIPT language=JavaScript src="/arch/js/chosen.jquery.min.js"></SCRIPT>
<script type="text/javascript">
$(document).ready(function(){
    var data='#ARCH_USER_IDS1#';
    var dataarray=data.split(",");
    $("#multiselectbox").val(dataarray)
    //$("#multiselectbox").multiselect("refresh");
    $('.chosen').chosen();
});
</script>
<p>Привязка контакта к пользователю(-ям):</p>
<select name="ARCH_USER_IDS" id="multiselectbox" class="chosen"  style="max-width:250px;" multiple="multiple" onchange='docCh();' data-placeholder="Добавьте пользователя...">
[end]

[report footer]
</select>
[end]


[item]
<option value="#ID#">#FIO# - 
<strong>#USERNAME#</strong> ??
#EMAIL#</option>

[end]


[SQL]
SELECT ID, USERNAME, FIO, EMAIL FROM USERS
ORDER BY FIO
[end]