[parameters]
title=Просмотр документа
debug=on ??
KeepLog=true
[end]


[report]

$GET_DATA [get count files]
$GET_DATA [get do preview]
$GET_DATA [select SQL] ??ID
$GET_DATA [select labs] ??ID
$SET_PARAMETERS THIS_DOC_ID=#ID#; debug=off;
<html><head><title>#DOCTYPE#№ 
#NUM# ??NUM
</title>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
<link rel='stylesheet' href='#cssPath#arch.css' type='text/css'> 
<link rel='stylesheet' href='#cssPath#archlist.css' type='text/css'> 
<SCRIPT language=JavaScript src="/arch/js/jquery-1.9.1.min.js"></SCRIPT>
<style>
td.inact {cursor:hand; color: ##0000FF; text-decoration: none; border-bottom: solid 1px black;}
td.act {cursor:hand; color: ##FF0000; text-decoration: underline; border-bottom: solid 1px black;}
H3{font-size:16pt; font-weight:normal;  font-family: Times; color: FFFFD0; display:inline}
A.t {  color: ##FFFFE0; text-decoration: none; cursor: hand;}
A.t:link {color: ##FFFFE0; text-decoration: none; cursor: hand;}
A.t:visited {color: ##FFFFE0; text-decoration: none;}
A.t:hover   {color: ##FFFF80; text-decoration: underline }
</style>

</head><body style="margin:0; background-color: #F0F0F0;">

<table border=0 width=100% cellpadding=0 cellspacing=0>
<tr height=30><td bgcolor=##405070>
$INCLUDE head.cfg[title]
</td>

<td align=right bgcolor=##405070>
<a class=t href="#ServletPath#"><i>На главную >></i></a>&nbsp;</td>
</tr>
<tr height=22 bgcolor=E8F0FF><td colspan=2 align=left valign=top style="color:black;"
background="#imgPath#bg_top.gif"><img src="#imgPath#corner-nw.gif" width=19 height=22
border=0 align=absmiddle> 
</td></tr></table>

<blockquote> 
#DOC_PATH# 

<table border="0" cellspacing="0" cellspadding="2"  id="cont-table">
<tr><td id=td_head background="#imgPath#tab_a1.gif" height="24" style="border-right: solid 1px black;">&nbsp;
<strong>#DOCTYPE#
№ #NUM# ??NUM
от #DAT_DOC# ??DAT_DOC
</strong></td>
</tr>

<tr><td valign=top align=right style="border: solid 1px black">

<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor=##FAFEFF>
$INCLUDE [need check row] ??!AID&NEED_CHECK=1
$INCLUDE [regnum dat row] ??!AID&REGNUM|DAT
$INCLUDE [link row] ??!AID&LINK|LINK_DAT
$INCLUDE [correspondent row] ??!AID&CORRESPONDENT
$INCLUDE [content row] ??CONTENT
$INCLUDE [resolution row] ??!AID&RESOLUTION
$INCLUDE [ispolnitel row] ??!AID&ISPOLNITEL
$INCLUDE [result row] 	??!AID&RESULT
$INCLUDE [comments row] ??!AID&COMMENTS
$INCLUDE [numpages row] ??!AID&NP
$INCLUDE [tom row] ??!AID&TOM
$INCLUDE [control row]  ??!AID&CONTROL=1|CONTROL_DAT
$INCLUDE [subject row] ??!AID&SUBJECT
$INCLUDE [duration row] ??!AID&DAT_B|DAT_E
$INCLUDE [noFiles row] ??NUMFILES=0
$INCLUDE [sent row] ??!AID&SENT
$INCLUDE [acceptors row] ??AID
$INCLUDE [fileList row] ??!AID&!NUMFILES=0
$INCLUDE [fileListPreview] ??AID&!NUMFILES=0&DO_PREVIEW=1
$INCLUDE [fileList row] ??AID&!NUMFILES=0&DO_PREVIEW=0
$INCLUDE [accept row] ??AID


</table>

</td></tr>
</table>


</blockquote>

<script>
window.focus(); 
</script>
[end]

[fileListPreview]
<tr class="row">
<th align="left" colspan="2">
  <img src="#imgPath#small/attached_doc.gif" width=26 height=26><h4>Файлы:</h4>
</th>
</tr>
<tr class="row">
<td colspan = "2">
$CALL_SERVICE c=doc/viewfiles; DOC_ID=#THIS_DOC_ID# ; ARCH=#ARCH# ; key=#key#
<iframe name="listfiles" id="listfiles" frameborder="yes" height="700" width="1000" src="arch?c=getDocData&page=1&ARCH=#ARCH#&inline=true
&doc_id=#DOC_ID#&key=#key#"  scrolling="auto" name="listfiles"></iframe>
</td>
</tr>
[end]

[fileList row]
<tr class="row" >
<th align="right" valign="top">
  <img src="#imgPath#small/attached_doc.gif" width=26 height=26>Файлы:
</th><td valign="top" >	<br>  						
  $CALL_SERVICE c=doc/viewFileList; DOC_ID=#ID#; ARCH=#ARCH#; key=#key# ??!NUMFILES=0&key=#MD5_KEY#
<br><br><b>ОШИБКА - НЕВЕРЕН КЛЮЧ ДОСТУПА</b><br><br>	??!key=#MD5_KEY#
</td></tr>
[end]

[acceptors row]
<tr valign="top">
    <th width="200" nowrap valign="top" align="right">Инициатор:</th>
    <td>    
        #INIT_FIO#
    </td>
</tr> 

<tr valign="top">
    <th width="200" nowrap valign="top" align="right">Согласующие:</th>
    <td>    
        #ACC_FIOS#
    </td>
</tr> 
[end]

[accept row]


<tr>
<th width="200" nowrap=true  align="right" rowspan = "2" valign="top">
Согласование: 

</th>
<td>

<input type="hidden" name = "IS_ACCEPTED" id = "IS_ACCEPTED" value="#IS_ACCEPTED#"/>

userid: #USER_ID# userip: #ClientIP# <a href="javascript:sendAcceptData()"> save</a><br/> ??

<div id ="acceptButtonsHolder">
<button id = "accepted" onclick = "buttclick(this)"><span>Согласовано</span></button><button id = "rejected" onclick = "buttclick(this)"><span>Не согласовано</span></button> 
</div>
<div id = "msg_doc_accepted">
Документ согласован
</div>
<div id = "msg_doc_rejected">
Документ не согласован
</div>
<div id="commentsHolder">
    Комментарий:<br/>
    <textarea name = "acomments" id = "acomments">#ACOMMENTS#</textarea>
</div>

</td>
</tr>
<tr>
<td>
<span id = "saveResult"></span>
</td>
</tr>

<tr >
<th align="right" valign="top">
История согласования:
</th>
<td>
<div id = "acceptlistplace">
</div>
<td>
</tr>

<style type="text/css">
.log{
color: gray;
}
##cont-table{
max-width:1000px;
}
.acc{
color:green;
}
.rej{
color:red;
}
##msg_doc_rejected{
color:red;
font-weight:bold;
}
##msg_doc_accepted{
color:green;
font-weight:bold;
}

button.pressed{
    border-style:inset;
}
##accepted{
width:150px;
margin-right:50px;
    
}
##rejected{
width:150px;
margin:0px;
}
##accepted span{
    color: green;
}
##rejected span{
    color: red;
}
##acomments{
    width: 400px;
    min-height:100px;
}

##commentsHolder{
    
}

##saveResult{
    color:red;
    
}

##acceptlisttable{
    width:100%;
    border: 1px black solid;
    border-collapse: collapse;
    border-spacing: 0;
}
##acceptlisttable th{
    background: #eaeaea;
    border: 1px #bbbbbb solid;
    vertical-align:top;

}
##acceptlisttable td{
    background: #F8F8F8;
    border: 1px #bbbbbb solid;
    vertical-align:top;
}
.initiator{
    font-weight:bold;
}
.allowWrite{
    margin-left:200px;
}
.status{
color:black;
}
.status1{
color:green;
}
.status0{
color:red;
}
</style>
<script type="text/javascript" language = "javascript">

$( document ).ready(function() {
//docready
});

function buttclick(el){
    $( "##saveResult" ).hide();
    if(el.id=='accepted'){
        $('##IS_ACCEPTED').val(1);
        sendAcceptData();
    }
    if(el.id=='rejected'){
        if($('##acomments').val().length<5){
            alert ("Вы должны написать комментарий!");
            return;
        }
        $('##IS_ACCEPTED').val(0);
        sendAcceptData();
    }
}

function setCookie(x){
//avoid js error
}
function sendAcceptData(){
    
    var is_accepted = $('##IS_ACCEPTED').val();
    var msg_confirm='';
    if(is_accepted==''||is_accepted==undefined) msg_confirm='Документу будет установлен статус ОЖИДАЕТ СОГЛАСОВАНИЯ.\nПродолжить?';
    if(is_accepted=='1') msg_confirm='Документу будет установлен статус СОГЛАСОВАН.\nПродолжить?';
    if(is_accepted=='0') msg_confirm='Документу будет установлен статус НЕ СОГЛАСОВАН.\nПродолжить?';
    if(!confirm(msg_confirm)) return;
    if(is_accepted=='1') $('##acomments').val('');
    var comments = $('##acomments').val();
        
    var request = $.ajax({
    url: "/arch/arch",
    type: "POST",    
    data: { c : "doc/acceptDocSave", DOCID : "#DOCID#", IS_ACCEPTED: is_accepted, P_KEY: "#p_key#", COMMENTS: comments, IS_INITIATOR: "#is_initiator#", UID: "#USER_ID#"},
    dataType: "html"
    });
    request.done(function( msg ) {
        
        $( "##saveResult" ).html( msg );
        $( "##saveResult" ).show().delay(3000).hide(0);
        getAcceptList(#THIS_DOC_ID#)
    });
    request.fail(function( jqXHR, textStatus ) {
        alert( "Ошибка: " + textStatus );
    });
}
function setAcceptControls(){
    
    if($('##IS_ACCEPTED').val()==undefined||$('##IS_ACCEPTED').val()==''){
        $('##acceptButtonsHolder').show();
        $('##msg_doc_accepted').hide();
        $('##msg_doc_rejected').hide();
        $('##acomments').prop("readonly",false);
        $('##commentsHolder').addClass('allowWrite');
        $('##commentsHolder').show();
    }
    if($('##IS_ACCEPTED').val()=='1'){
        $('##acceptButtonsHolder').hide();
        $('##msg_doc_accepted').show();
        $('##msg_doc_rejected').hide();
        $('##commentsHolder').removeClass('allowWrite');
        $('##acomments').prop("readonly",true);
        $('##commentsHolder').hide();
    }

    if($('##IS_ACCEPTED').val()=='0'){
        $('##acceptButtonsHolder').hide();
        $('##msg_doc_accepted').hide();
        $('##msg_doc_rejected').show();
        $('##commentsHolder').removeClass('allowWrite');
        $('##acomments').prop("readonly",true);
        $('##commentsHolder').show();
    }
}
function getAcceptList(id){
var request = $.ajax({
    url: "/arch/arch",
    type: "POST",
    data: { c : "doc/acceptList", DOCID : id },
    dataType: "html"
    });
    request.done(function( msg ) {
        $( "#acceptlistplace" ).html( msg );
        setAcceptControls();
    });
    request.fail(function( jqXHR, textStatus ) {
        alert( "Ошибка: " + textStatus );
    });
}
setAcceptControls();
getAcceptList(#THIS_DOC_ID#)
</script>
[end]

[tom row]
<tr valign="top" class="row">
<th width="200" nowrap=true  align="right">
том:</th><td>#TOM#&nbsp;</td></tr>
[end]

[noFiles row]
<tr valign="top" class="row"><th width="200" nowrap  align="right">
</th><td><i>Прикрепленных файлов нет</i></td></tr>
[end]

[ispolnitel row]
<tr valign="top" class="row"><th width="200" nowrap=true align="right">
исполнитель:</th><td>#ISPOLNITEL#&nbsp;</td></tr>
[end]

[link row]
<tr valign="top" class="row"><th width="200" nowrap=true align="right">
ссылка:</th><td>
#LINK_DAT# ??LINK_DAT
#LINK# ??LINK
&nbsp;</td></tr>
[end]

[num dat row]
<tr valign="top" class="row"><th width="200" nowrap  align="right">
№ документа:</th><td>
#NUM# ??NUM
-   ??!NUM
от #DAT_DOC# ??DAT_DOC
&nbsp;</td></tr>
[end]

[regnum dat row]
<tr valign="top" class="row"><th width="200" nowrap  align="right">
рег.№</th><td>
#DOC_INDEX# / ??DOC_INDEX
#REGNUM##LITERA#
от #DAT#    ??DAT
&nbsp;</td></tr>
[end]

[subject row]
<tr valign="top" class="row"><th width="200" nowrap valign="top" align="right">
краткое содержание:</th><td>#SUBJECT#&nbsp;</td></tr>
[end]

[content row]
<tr valign="top" class="row"><th width="200" nowrap valign="top" align="right">
содержание:</th><td>#CONTENT#&nbsp;</td></tr>
[end]

[control row]
<tr valign="top" class="row"><th width="200" nowrap valign="top" align="right"  >
контроль:</th><td>
<font color="red">на контроле</font><br> ??CONTROL=1
#CONTROL_DAT#</td></tr>
[end]

[result row]
<tr valign="top" class="row"><th width="200" nowrap valign="top" align="right">
результат: </th><td>#RESULT#
</td></tr>
[end]

[correspondent row]
<tr valign="top" class="row"><th width="200" nowrap valign="top" align="right">
корреспондент:</th><td>#CORRESPONDENT#&nbsp;</td></tr>
[end]

[resolution row]
<tr valign="top" class="row"><th width="200" nowrap valign="top" align="right">
резолюция</th><td>#RESOLUTION#&nbsp;</td></tr>
[end]

[numpages row]
<tr valign="top" class="row" ><th width="200" nowrap valign="top" align="right">
количество страниц:</th><td>#NP# &nbsp;</td></tr>
[end]

[comments row]
<tr valign="top" class="row" ><th width="200" nowrap valign="top" align="right">
комментарии:</th><td>#COMMENTS# &nbsp;</td></tr>
[end]

[duration row]
<tr valign="top" class="row"><th width="200" nowrap valign="top" align="right">
срок действия:</th><td> 
                с #DAT_B# ??DAT_B
                по #DAT_E# ??DAT_E
</td></tr> 
[end]

[sent row]
<tr valign="top" class="row"><th width="200" nowrap valign="top" align="right">
Разослано:</th><td><small>
#DATE_SENT# ??DATE_SENT
#SENT# ??SENT
</td></tr> 
[end]


[need check row]
<tr  class="row" ><td  align="right" colspan="2" ><font color="red" size="-1"><i>документ требует уточнения</i></font></td></tr>
[end]


===================================== SQLs ==================================
[select SQL]
SELECT
	to_char(ad.DAT,'dd.mm.yyyy') as DAT
	,to_char(ad.DAT_DOC,'dd.mm.yyyy') as DAT_DOC
	, tom as TOM
	, ISPOLNITEL as ISPOLNITEL
	,to_char(ad.DAT_B,'dd.mm.yyyy') as DAT_B
	,to_char(ad.DAT_E,'dd.mm.yyyy') as DAT_E
	,to_char(ad.DAT_CH,'dd.mm.yyyy - HH24:MI:SS')as DAT_CH
	,ad.LAB_CODE as LAB_CODE
	,ad.LITERA as LITERA
	,to_char(ad.LINK_DAT,'dd.mm.yyyy') as LINK_DAT
	,ad.LINK as LINK
	,ad.COMMENTS as COMMENTS
	,nvl(ad.SUBJECT,'-') as SUBJECT ??
	,nvl(ad.CONTENT,'-') as CONTENT ??
	,ad.SUBJECT as SUBJECT
	,ad.NEED_CHECK as NEED_CHECK
	,ad.NUM as NUM
	, ad.CONTENT as CONTENT
	,dt.name as DOCTYPE
	, REGNUM as REGNUM
	,to_char(DAT_REG,'dd.mm.yyyy')as DAT_REG
	, CONTROL as CONTROL
	, RESULT as RESULT
	, to_char(CONTROL_DAT,'dd.mm.yyyy')as CONTROL_DAT
	, CORRESPONDENT as CORRESPONDENT
	, REPLACE(RESOLUTION,CHR(10),'<br>') as RESOLUTION
	, NP as NP
	, DOC_INDEX as DOC_INDEX
	, to_char(DATE_SENT,'dd.mm.yyyy') as DATE_SENT
	, REPLACE (REPLACE(SENT,' ','&nbsp;'), CHR(13)||CHR(10), '; ') as SENT 
FROM
	arch_doc ad, ??!ARCH
	arch_doc_old ad, ??ARCH
	doc_type dt
WHERE ad.id=#ID#
	and ad.doctype=dt.id
	and '#key#'='#MD5_KEY#'
;
[end]

[select labs]
SELECT l.div||', ' as LABZ FROM doc_lab dl , labs l where doc_id=#ID# and l.code=dl.lab_code
[end]


[get count files]
select count (*) as NUMFILES from
doc_data ??!UMODE=old
doc_data_old ??UMODE=old
where doc_id=#ID#;
[end]

[get do preview]
select case when lower(ext)='pdf' then 1 else 0 end as DO_PREVIEW
FROM DOC_DATA WHERE
DOC_ID =  #ID# 
AND PAGE_NR= (SELECT MIN (PAGE_NR) FROM DOC_DATA WHERE DOC_ID = #ID#)
[end]

[preSQLs]
select 0 as "ID" from dual ??!ID
;
select to_char(NODE_ID)||'_#ID#' as "MD5_SRC", node_id as DOC_NODE_ID
, INITIATOR_ID
, ACCEPTORS_ID
, LEGAL_DEPT
FROM arch_doc
WHERE id=#ID#
;
select get_path(#DOC_NODE_ID#, '/', '' , '','_ID_') as doc_path from dual ??ID>0
;
$INCLUDE [get accept data] ??mode=accept&p_key&is_initiator
[end]

[get accept data]
SELECT id as AID, IS_ACCEPTED, COMMENTS as ACOMMENTS, DOCID FROM DOC_ACCEPT A 
WHERE 
md5Hash(A.id)='#p_key#'
and IS_INITIATOR = #is_initiator#
and DOCID = #ID#
;
$GET_DATA [get acc fio] ??ACCEPTORS_ID
$GET_DATA [get init fio] ??INITIATOR_ID
$SET_PARAMETERS INIT_FIO=#INIT_FIO# Юр.отдел; ??LEGAL_DEPT=1
[end]

[get init fio]
SELECT FIO(P.LASTNAME, P.FIRSTNAME, P.OTCHESTVO)||', ' AS INIT_FIO
FROM PERSONS P WHERE P.ID = #INITIATOR_ID#
[end]

[get acc fio]
SELECT FIO(P.LASTNAME, P.FIRSTNAME, P.OTCHESTVO)||', ' AS ACC_FIOS
FROM PERSONS P WHERE P.ID IN (#ACCEPTORS_ID#)
[end]


--SELECT FIO(P.LASTNAME, P.FIRSTNAME, P.OTCHESTVO)||'; ' AS ACC_FIOS
--FROM DOC_ACCEPT A 
--INNER JOIN PERSONS P ON A.PERSONID = P.ID
--WHERE 
--DOCID = #ID#
--and IS_INITIATOR = 0
--;
--SELECT FIO(P.LASTNAME, P.FIRSTNAME, P.OTCHESTVO) AS INIT_FIO
--FROM DOC_ACCEPT A 
--INNER JOIN PERSONS P ON A.PERSONID = P.ID
--WHERE 
--DOCID = #ID#
--and IS_INITIATOR IN (1,2) 
--ORDER BY IS_INITIATOR
--;





[temp]
<!--input type = "hidden" name = "IS_ACCEPTED" id = "IS_ACCEPTED" value = "#IS_ACCEPTED#"/><button id = "accepted" onclick = "buttclick(this)"
class="pressed"                    ??IS_ACCEPTED=1
readonly="readonly"                ??IS_ACCEPTED=1|IS_ACCEPTED=0
><span>Согласовано</span></button> 
<button id = "rejected" onclick = "buttclick(this)"
class="pressed"                     ??IS_ACCEPTED=0
readonly="readonly"                 ??IS_ACCEPTED=1|IS_ACCEPTED=0
><span>Не согласовано</span></button--> 

<!--button id = "accepted" onclick = "buttclick(this)"
class="pressed"                    ??IS_ACCEPTED=1
readonly="readonly"                ??IS_ACCEPTED=1|IS_ACCEPTED=0
><span>Согласовано</span></button> 
<button id = "rejected" onclick = "buttclick(this)"
class="pressed"                     ??IS_ACCEPTED=0
readonly="readonly"                 ??IS_ACCEPTED=1|IS_ACCEPTED=0
><span>Не согласовано</span></button--> 








<!--input type="radio" name = "IS_ACCEPTED" id = "accepted" value = "1"
checked ??IS_ACCEPTED=1
readonly ??IS_ACCEPTED
><label for="accepted" class="acc">Согласовано</label>
<input type="radio" 
checked ??IS_ACCEPTED=0
readonly ??IS_ACCEPTED
name = "IS_ACCEPTED" id = "rejected" value = "0" ><label for="rejected" class="rej">Не согласовано</label-->




[end]