[parameters]
service=dubna.walt.service.TableServiceSpecial
debug=off
KeepLog=on
wrapperTable=<!---->
table_beg=<table border="0" cellspacing="0" cellpadding="3" class="list">
wrapperTableEnd=<!---->
DATA_TABLE=doc_data ??!ARCH
DATA_TABLE=doc_data_old ??ARCH

[end]


[table header]
<th class=list>
№ 
</th>
<th class=list >
Имя файла
</th>
<th class=list>
Размер
</th>
<th class=list >
Дата загрузки
</th>

[end]

[report header]
<script language="javascript">
function show_named_panel(nm,a_nm,a_text){
    
    z=document.getElementById(nm);
    y=document.getElementById(a_nm);
    if (z.style.display=='inline'){
        z.style.display='none';
        y.innerText=a_text+' >>';
        setCookie(nm+'_show',"0"); ??!FROM_LIST_FILES=Y
    }else{
        z.style.display='inline';
        y.innerText=a_text+' <<';
        setCookie(nm+'_show',"1"); ??!FROM_LIST_FILES=Y
}

}
</script>
$GET_DATA [get files as string]
#FILEZZZ#
<a href="javascript: show_named_panel('other_fields','a_other_fields', 'Подробно');" id="a_other_fields"> Подробно >> </a>
<div id="other_fields" style="display:none; margin:0px; padding:0px;">
<br><br>
[end]

[report footer]
</div>
<br>
<script language="JavaScript">
function showPage(nr){
z=document.getElementById("listfiles");
z.src='arch?c=getDocData&page='+nr+'&ARCH=#ARCH#&inline=true&doc_id=#DOC_ID#&key=#key#';
var links = document.getElementsByTagName("a");
for (i=0;i<links.length;i++){

   if ( links[i].id.substr(0,3)=='a__')   {
   links[i].style.color='';
   links[i].style.backgroundColor='';
   links[i].style.fontWeight='';

   }
}
   document.getElementById('a__'+nr).style.color='white';
   document.getElementById('a__'+nr).style.backgroundColor='red';
   document.getElementById('a__'+nr).style.fontWeight='bold';
}
function flipFlopH(ta,min_,max_){
    flipH=min_;
    flopH=max_;

   if(typeof(min_)=='undefined'){
    flipH=200;
   }
   if(typeof(max_)=='undefined'){
    flopH=500;
   }
   z=document.getElementById('arrow');
   c=document.getElementById(ta);
   if (c.height==flipH){
      c.height=flopH;
       z.innerHTML='<font size=6>&uarr;</font>';
      //       document.getElementById("docAttr").style.height=1;

   }else{
      c.height=flipH;
       z.innerHTML='<font size=6>&darr;</font>';
      // document.getElementById("docAttr").style.height="";
   }
}
try{
   document.getElementById('a__1').style.color='white';
   document.getElementById('a__1').style.backgroundColor='red';
   document.getElementById('a__1').style.fontWeight='bold';
   }
catch (e){}
</script>
[end]


[SQL]
select d.ID,d.PAGE_NR, d.FILE_NAME
, case when FILE_SIZE < 1024 then FILE_SIZE||' B&nbsp;&nbsp;'               
    when FILE_SIZE < 1024*1024 then to_char(FILE_SIZE/1024,'9990.0')||' KB' 
    else to_char(FILE_SIZE/(1024*1024),'0.0')||' MB'                                 
    end as FILE_SIZE                                                                       
, NVL(t.icon,'etc.gif')  as gifname
, to_char (uploaded,'DD.MM.YYYY') as UPLOADED
from #DATA_TABLE# d left join file_types t on t.ext=d.ext
where doc_id=#DOC_ID#
order by PAGE_NR
[end]

[get files as string]
SELECT
' <a id="a__'||d.PAGE_NR||'" href="javascript:showPage('||d.PAGE_NR||');"  title="'||d.FILE_NAME
||'"><img  border="0" width="16" height="16" src="#imgPath#doc_types/'||NVL(t.icon,'etc.gif')||'">&nbsp;'
||d.PAGE_NR ||case when d.PAGE_NR<10 then ('&nbsp;&nbsp;') else '' end
||'&nbsp;</a> &nbsp;' as FILEZZZ
from #DATA_TABLE# d left join file_types t on t.ext=d.ext
where d.doc_id=#DOC_ID# order by d.PAGE_NR
[end]

[get files as string_]
SELECT
' <a href="?c=getDocData&doc_id=#DOC_ID#&page='||d.PAGE_NR||'&ARCH=#ARCH#" target="_blank"  title="'||d.FILE_NAME
||'"><img  border="0" width="16" height="16" src="#imgPath#doc_types/'||NVL(t.icon,'etc.gif')||'">&nbsp;'
||d.PAGE_NR ||case when d.PAGE_NR<10 then ('&nbsp;&nbsp;') else '' end
||'&nbsp;</a> &nbsp;' as FILEZZZ
from #DATA_TABLE# d left join file_types t on t.ext=d.ext
where d.doc_id=#DOC_ID# order by d.PAGE_NR
[end]


[item]
<tr>
<td align=center class=list width="10%">
#PAGE_NR#
</td>
<td class=list align=justify>
<a href="?c=getDocData&doc_id=#DOC_ID#&page=#PAGE_NR#&key=#key#" target="_blank">
<image border="0" width="16" height="16" src="#imgPath#doc_types/#GIFNAME#">
&nbsp;&nbsp;#FILE_NAME#</a>
</td>
<td class=list align=right nowrap>
#FILE_SIZE#&nbsp;&nbsp;
</td>
<td class=list align=center>
#UPLOADED#
</td>
</tr>
[end]

[item_old]
<tr>
<td align=center class=list width="10%">
#PAGE_NR#
</td>
<td class=list align=justify>
<a href="?c=getDocData&doc_id=#DOC_ID#&page=#PAGE_NR#&key=#key#" target="_blank">
<image border="0" width="16" height="16" src="#imgPath#doc_types/#GIFNAME#.gif">
&nbsp;&nbsp;#FILE_NAME#</a>
</td>
<td class=list align=center nowrap>
#FILE_SIZE#
</td>
<td class=list align=center>
#UPLOADED#
</td>
</tr>
[end]







[SQL_old]
select ID
,PAGE_NR
, FILE_NAME
,'~'||CASE WHEN LENGTH(PAGE_DATA)/1024/1024<1 THEN CASE WHEN LENGTH(PAGE_DATA)/1024<1 THEN to_char(LENGTH(PAGE_DATA)/1024,'0.9')||' КБ' ELSE to_char(LENGTH(PAGE_DATA)/1024,'999990')||' КБ' END ELSE to_char(LENGTH(PAGE_DATA)/1024/1024,'999990.9')||' МБ' END as FILE_SIZE
, lower(substr(file_name,length(file_name)-2,3)) as gifname
, to_char (uploaded,'DD.MM.YYYY') as UPLOADED
from doc_data
where doc_id=#DOC_ID#
order by PAGE_NR
[end]



[get files as string_old]
SELECT 
'<a id="a_'||PAGE_NR||'" href="?c=getDocData&doc_id=#DOC_ID#&page='||PAGE_NR||'" target="_blank"  title="'||FILE_NAME||'"><img  border="0" width="26" height="26" src="#imgPath#small/attached_doc.gif">&nbsp;'||PAGE_NR||'&nbsp;стр.</a> ' as FILEZZZ
from doc_data 
where doc_id=#DOC_ID# order by PAGE_NR
[end]
