svs/info_show_ms.cfg

[comments]
descr=Модуль вывода данных drop-down мультиселект справочника
input=requesterId - ID элемента для результата, info_id - ID справочника; view - № представления. По умолчанию - 1; searchFor - строка поиска.
output=html-таблица заданного представления справочника. По клику возвращает 1-е (код записи или ID) и 2-е (текст) поля представления. 
parents=svs/info_show_plain
childs=
author=Куняев
[end]

[parameters]
request_name=U:вывод данных к справочника
service=jinr.sed.ServiceShowInfoData
irpp=9999
orderByField=sort ??info_id=10
LOG=ON
SYS_FIELDS=id as "RECORD_ID" 
CRITERIA=where IS_DELETED=0 and view#view#=1
[end]


[report header]
    $LOG <b>svs/info_show_ms.cfg: requesterId=#requesterId#; info_id=#info_id#; view=#view#; selVals=#selVals#;</b><br>
    ============ Начало таблицы =============== ??
    <div style="width:350pt; diplay:inline-block; float:left;">
        <select id = "#requesterId#_chosen" class="field_chosen" for="#requesterId#" multiple="multiple" style="width:350pt;" data-placeholder="Выбрать...">
[end]


[item]
    <option value="#returnId#">#returnValue#</option>
[end]

[record]
[end]


[report footer]
        </select>
    </div>
    <button class="butt1" id="#requesterId#_plus" type="button" title="Добавить"><strong>+</strong></button>

    <script type="text/javascript">
        $(function(){
            var values = '#selVals#';
            $.each(values.split(","), function(i,e){
                $("###requesterId#_chosen option[value='" + e + "']").prop("selected", true);
            });

            $('###requesterId#_plus').click(function(){
                $('###requesterId#_chosen').trigger('chosen:open');
            });
        });
    </script>
    <b>ОШИБКА:</b> #ERROR# ??ERROR_ZZZ

[end]


==============================================================
==============================================================
==============================================================

[preSQLs]
    $INCLUDE admin/infos/info_data.mod[getInfoSQL]
    ;
    select concat(field_db_name, ',') as FIELDS
        , concat(name, ',') as FIELDS_NAMES 
        , concat(type, ',') as FIELDS_TYPES
        , concat(view#view#, ',') as FIELDS_ORDER
    from i_fields
    where info_id=#info_id#
        and view#view# > -1
    order by view#view#, nr
    ;
    select concat(field_db_name, ',') as ALL_FIELDS, concat(type, ',') as ALL_FIELDS_TYPES ??searchFor
    from i_fields where info_id=#info_id# ??searchFor
    ;
    select count(field_db_name) as NUM_FIELDS, count(field_db_name)+ 1 as NUM_COLUMNS
    from i_fields where info_id=#info_id# and view#view# >-1
[end]


