svs/info_show_plain

[comments]
descr=Модуль вывода данных плоского справочника и выбора пункта. Выводит форму поиска и вызывает модуль вывода таблицы.
input=requesterId - ID элемента для результата, info_id - ID стравочника; view - № представления. По умолчанию - 1 (все поля по порядку); searchFor - строка поиска.
output=Pup-up окно с данными справочника с фильрами по колонкам представления и с выбором записи
parents=svs/info_show
childs=svs/info_show_plain_data
testURL=?c=&info_id=11&view=1&standalone=yes
author=Куняев
[end]

[parameters]
request_name=U:обращение к справочнику
LOG=ON
irpp=10
[end]


[report]

    $SET_PARAMETERS START_REC=1; ??!START_REC
    $SET_PARAMETERS searchFor=; ??searchFor=none|searchFor=undefined
    $GET_DATA [check favorites] ??do_favorites=1

    <div id="result">
    <style>table.tlist td, table.tlist th{font-size:8pt;}</style>
    <small>c=svs/info_show_plain</small> ??debug=on

    <div style="border:solid 1px red;"> ??
    ============ SEARCH FORM =============== ??
    <form name="infoForm" method="POST" enctype="multipart/form-data" 
        onSubmit="return false;" 
        onSubmit="return doSearch();" ??
        target="wf2"    
        >
        <input type=hidden name=c value="svs/info_show_plain_data">
        <input type=hidden name=requesterId value="#requesterId#"> 
        <input type=hidden name=info_id value="#info_id#"> 
        <input type=hidden name=multi id = "multi" value="#multi#"/> 
        <input type=hidden name=view value="#view#"> 
        <input type=hidden name=TABLE_NAME value="#TABLE_NAME#"> 
        <input type=hidden name=START_REC value="#START_REC#"> 
        <input type=hidden name=irpp value="#irpp#"> 
        <input type=hidden name=standalone value="yes">    ??standalone=yes

        <table border=0><tr><td class=nowrap>
        <span class="mark">Поиск:</span>
        <input name="searchFor" id="searchFor" onkeyup="searchKeyPressed(this, event); "size=25 
        value=""
        value="#searchFor#"  ??
        ><img src="#imgPath#search.gif" style="vertical-align: bottom;" onClick="doSearch();">

        $INCLUDE svs/info_show_plain.cfg[FAVORITES]  

        </td></tr>
        $INCLUDE [jinr div filter] ??info_id=11&ZZZZZ
        </table>
    </form>

    $INCLUDE svs/info_show_plain_script.dat[css]  ??!INFO_CSS_LOADED
    $INCLUDE svs/info_show_plain_script.dat[script] 

    ============ Контейнер для данных =============== ??
    <div id="info_result_data" style="overflow:auto;"></div>

    <b>ОШИБКА:</b> #ERROR# ??ERROR

    <script type="text/javascript" language="javascript">
        var infoForm = document.infoForm;
        infoForm.searchFor.focus();
    </script>
    </div>

    <script type="text/javascript" language="javascript">
        doSearch();
    </script>
[end]


[FAVORITES]
    $SET_PARAMETERS info_src=false; ??!do_favorites=1
    <div style="display:none;"> ??!do_favorites=1
    <input type=radio name=info_src value='true' onClick="doSearch();"
    checked ??!info_src=false
    >в&nbsp;избранном&nbsp;<input type=radio name=info_src value='false' onClick="doSearch();"
    checked ??info_src=false
    >во&nbsp;всём&nbsp;справочнике
    </div>??!do_favorites=1
[end]


[check favorites]
    select 'false' as info_src
    ;
    select count(*) as NUM_FAVORITES 
    from u_info_favorites where user_id=#USER_ID# and info_id=#info_id#
    ;
    select 'true' as info_src ??NUM_FAVORITES>3
[end]

[zzz jinr div filter]
    $GET_DATA [get jinr div filter] ??f_person_div_id
    <tr><td>Подразделение:
    <div class="info_input pt big bg_white" id="f_person_div" callback="setJinrDivFilter" info_id="10" info_view="3" info_type="3" searchFor='none' 
    style="display: inline-block; width:100px; border:solid 1px gray; ">
    любое  ??!DIV_FILTER
    #DIV_FILTER#
    </div>
    <input name="f_person_div_id" id="f_person_div_id" size=5 readonly value="#f_person_div_id#" style="border:none; color:white; font-size:9px;">
    </td></tr>
[end]

[zzz get jinr div filter]
    select short_name as "DIV_FILTER" from info_10 where id=#f_person_div_id#;
[end]
