[comments]
descr=А: Модуль вывода списка пользователей (вывод самой таблицы)

input=f_nam: фильтр по фамилии или логину; f_role: фильтр по ID роли
output=HTML таблица пользователей
parents=admin/users/users_list
childs=admin/users/user_roles
testURL=?c=admin/users/users_list_table
author=Куняев
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=A:Таблица юзеров
tableCfg=table_no
$INCLUDE dat/common.dat[rowLinks] 
[end]


[report header]
+++++++ временно - открыто всем. Потом - проверить R и RW права пользователя +++ ??
$SET_PARAMETERS RWACC=Y; RACC=Y;
$INCLUDE [OK report header]  ??RACC
[end]


[OK report header]
+++++++ сортировка таблицы по умолчанию ++++ ??
$SET_PARAMETERS execute=document.theForm.c.value='admin/users/users_list_table'; 
$SET_PARAMETERS srt=u.F; desc=; ??!srt
+++++++ начальная строка и кол-во строк на странице по умолчанию ++++ ??
$SET_PARAMETERS srn=1;  ??!srn|srn<1
$SET_PARAMETERS rpp=20; ??!rpp

<div id="result_table">
#c# / srn=#srn#; rpp=#rpp#;  ??debug=on

<center>
<input type=hidden name="srn" value="#srn#"> 
<input type=hidden name="srt" value="#srt#">
<input type=hidden name="desc" value="#desc#">

++++++++++++++++++ Шапка таблицы пользователей +++++++++++++++++++++ ??
<table class=tlist cellspacing=0>
<tr>
<th class="srh" sr="u.ID">id</th>
<th class="srh" sr="u.OLD_ID">стар.id</th>
<th class="srh" sr="u.F">ФИО</th>
<th class="srh" sr="u.roles">Роли</th>
<th>Должности</th>
<th class="srh" sr="u.DIV_CODE">Лаб.</th> ??
<th class="srh" sr="u.LOGIN">Логин</th>
<th>email, тел.</th>
<th class="srh" sr="u.changed">Изменено</th>
</tr>
[end]


pt" onClick="AjaxCall('popupCont', 'c=admin/users/user_edit&id=#ID#')"> ??ID
pt" onClick="AjaxCall('popupCont', 'c=admin/users/user_edit&old_id=#OLD_ID#')"> ??!ID

[item]
++++++++++++++++++ Строка таблицы - 1 пользователь +++++++++++++++++++++ ??
<tr class="docrow
oddRow ??oddRow=1
" cmd="c=admin/users/user_edit&id=#ID#"> ??ID
" cmd="c=admin/users/user_edit&old_id=#OLD_ID#"> ??!ID
<td class=small>#ID#</td>
<td class=small>#OLD_ID#</td>

<td>#USER_FIO#</td>
<td>#roles#
- ??!ID
$SET_PARAMETERS srn_sav=#srn#; srn=1; ??
$CALL_SERVICE c=admin/users/user_roles ??ID_ZZZ
$SET_PARAMETERS srn=#srn_sav#; ??
</td>
<td class=small>#POSTS#</td>
<td class=small>#DIV_CODE#</td> ??
<td class=small>#LOGIN#</td>
<td class=small>#email#<br>#phone#</td>
<td class=small><small>#MODIFIER#, #MODIFIED#</small></td> 
</tr>
[end]


[report footer]
<tr><td colspan=7 class="pager">
$INCLUDE dat/common.dat[rpp] param: execute=document.theForm.c.value='admin/users/users_list_table'; ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0
</td></tr>
</table>
</div>

+++++++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("content_table", document.getElementById("result_table"));
window.parent.makeTableCfg="admin/users/users_list_table";
--------- Отображение сортировки в заголовке таблицы ----- ??
window.parent.showSrt("#srt#","sup"); ??!desc
window.parent.showSrt("#srt#","sdown"); ??desc
</script>
[end]


***************************** Шаблон SQL запроса ***************************
[SQL]
select u.ID, u.OLD_ID
, concat( u.F, ' ', ifnull(u.I,''), ' ', ifnull(u.O,'')) as USER_FIO
, u.POSTS, initcap(u.roles) as roles, u.LOGIN, u.email, u.phone

, DATE_FORMAT(u.changed,'#dateTimeFormat#') as MODIFIED 
, concat(uu.F, ' ', left(IFNULL(uu.I,''),1), '.', left(IFNULL(uu.O,''),1),'.') as MODIFIER
, u.modifier_id 
from #table_users_full# u
left join info_11 i on i.person_id=u.PERSON_ID  ??
left join #table_users_full# uu on uu.id=u.modifier_id 
where 1=1
(u.ID is null or u.ID>0) ??
and u.F like '#f_nam#%' ??f_nam
and u.id in (select user_id from a_user_role where role_id=#f_role# and active=1) ??f_role&!f_role=Y&!f_role=N
and u.id in (select user_id from a_user_role where active=1) ??f_role=Y
and u.id not in (select user_id from a_user_role where active=1) ??f_role=N
order by #srt# #desc#, u.F
[end]
