[comments]
descr=А: Модуль вывода списка пользователей - вывод фильтров и вызов admin/users/users_list_table.cfg для вывода самой таблицы
input=none
output=HTML таблица пользователей
parents=admin/admin_js_noDB.cfg
childs=admin/users/users_list_table.cfg
testURL=?c=admin/users/users_list
author=Куняев
[end]

[parameters]
request_name=A:Список пользователей
KeepLog=false
debug=off
[end]

[report]
++++ временно - открыто всем. Потом - проверить R и RW права пользователя +++ ??
$SET_PARAMETERS RWACC=Y; RACC=Y;
$INCLUDE [report_]  ??RACC
[end]


[report_]
<body>
<div id="result">
#c# ??debug=on
<center>
<input type=hidden name="atab" value="t_users"> 
<input type=hidden name="module" value="admin/users/users_list"> 

+++++ Фильтры +++++ ??
<table border=0 bgcolor=white cellpadding=4 style="border:solid 1px gray;">
<tr><td class=label>Подразделение:</td><td> <select name=f_lab><option value=''></option>
  <option value='ALL'>без ограничения</option>#F_LABS#</select></td></tr>
<tr><td class=label>Роль:</td><td>
<select name=f_role style="font-size:9pt;"><option></option>
<option value="Y">&nbsp;+ любая</option>
<option value="N">&nbsp;- нет роли</option>
#ROLES#</select>
</td></tr>
<tr><td class=label>Фамилия или логин:</td><td> <input size=20 name="f_nam" value="#f_nam#"> &nbsp; 
<td><input type="submit" class="butt1 pt" style="width:100;" value="Искать" 
	onClick="document.theForm.c.value='admin/users/users_list_table'; document.theForm.srn.value='1'"></td>
</tr></table>

+++++ Контейнер таблицы +++++ ??
<div id="content_table">=====</div>

<input type="button" class="butt1" style="width:220;" value="Добавить пользователя" onClick="doSubmit('new', 'admin/users/user_edit', false);">  ??RWACC
</div>

+++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("c_users", document.getElementById("result"));
window.parent.setModule("admin/users/users_list_table");
</script>

+++++ Вывод таблицы пользователей (первоначальный вызов) ++++ ??
$CALL_SERVICE c=admin/users/users_list_table; 

</body></html>
[end]

[preSQLs]
select concat('<option value=', cast(id as char), '>', initcap(name), '</option>') as ROLES 
from a_roles where id>0 order by sort
;
[end]