[parameters]
service=dubna.walt.service.TableServiceSpecial 
 ??!cop=form
debug=off
KeepLog=true
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
thsnDelimiter=&nbsp;
[end]


======================================  ===================================
[report header]
[end]

[item]
$GET_DATA [setWuDates]
[end]

[report footer]
$GET_DATA [setDuration]
$GET_DATA [setWbsDates]
$GET_DATA [createEvmViews]
[end]
==================================== SQLs ===================================

[preSQLs]
update nica_wu w set VER=#ID#
, DATE_START=(select vd.DATE_START from nica_ver_data vd where vd.VERSION=#ID# and vd.W_ID=w.ID)
, DATE_FINISH=(select vd.DATE_FINISH from nica_ver_data vd where vd.VERSION=#ID# and vd.W_ID=w.ID)
, PRICETOTALPLAN=(select vd.PRICETOTALPLAN from nica_ver_data vd where vd.VERSION=#ID# and vd.W_ID=w.ID)
where id in (select w_id from nica_ver_data where VERSION=#ID#)
;
select count(id) as NUM_WU_ID from nica_wu 
where (DATE_START is null or DATE_FINISH is null)
and id in(select w_id from nica_ver_data where VERSION<>#ID#
and not DATE_START is null and not DATE_FINISH is null)
[end]


[SQL]
select id as WU_ID from nica_wu 
where (DATE_START is null or DATE_FINISH is null)
and id in(select w_id from nica_ver_data where VERSION<>#ID#
and not DATE_START is null and not DATE_FINISH is null)
[end]


[setWuDates]
update nica_wu set 
  DATE_START=(select DATE_START from (select DATE_START from nica_ver_data vd where vd.W_ID=#WU_ID# order by vd.VERSION desc) where ROWNUM=1)
, DATE_FINISH=(select DATE_FINISH from (select DATE_FINISH from nica_ver_data vd where vd.W_ID=#WU_ID# order by vd.VERSION desc) where ROWNUM=1)
, VER=(select max(vdd.VERSION) from nica_ver_data vdd where vdd.W_ID=#WU_ID# )
where ID=#WU_ID#
[end]


[setDuration]
update nica_wu w set DURATION = DATE_FINISH - DATE_START;
[end]

[setWbsDates]
update nica_wbs wbs set 
wbs.DATE_START=(select min(wu.DATE_START) from nica_wu wu where wu.pid=wbs.id and not wu.DATE_START is null)
, wbs.DATE_FINISH=(select max(wu.DATE_FINISH) from nica_wu wu where wu.pid=wbs.id and not wu.DATE_FINISH is null)
;
update nica_wbs wbs set 
wbs.DATE_START=(select min(ch.DATE_START) from nica_wbs ch where ch.pid=wbs.id and not ch.DATE_START is null)
, wbs.DATE_FINISH=(select max(ch.DATE_FINISH) from nica_wbs ch where ch.pid=wbs.id and not ch.DATE_FINISH is null)
where wbs.id in(select pid from nica_wbs ch where not ch.DATE_START is null and not ch.DATE_FINISH is null)
;
update nica_wbs wbs set 
wbs.DATE_START=(select min(ch.DATE_START) from nica_wbs ch where ch.pid=wbs.id and not ch.DATE_START is null)
, wbs.DATE_FINISH=(select max(ch.DATE_FINISH) from nica_wbs ch where ch.pid=wbs.id and not ch.DATE_FINISH is null)
where wbs.id in(select pid from nica_wbs ch where not ch.DATE_START is null and not ch.DATE_FINISH is null)
;
update nica_wbs wbs set 
wbs.DATE_START=(select min(ch.DATE_START) from nica_wbs ch where ch.pid=wbs.id and not ch.DATE_START is null)
, wbs.DATE_FINISH=(select max(ch.DATE_FINISH) from nica_wbs ch where ch.pid=wbs.id and not ch.DATE_FINISH is null)
where wbs.id in(select pid from nica_wbs ch where not ch.DATE_START is null and not ch.DATE_FINISH is null)
;
[end]


[createEvmViews]
create or replace view nica_evm_PV
as select TASK_ID, TASK_ID as ID, DAT, sum(SUMMA_USD)/1000 as PV
from nica_pplan_#ID#
group by TASK_ID, DAT
;
create or replace view nica_evm_structure as
select ID, PID, TYP, CODE
,  nvl(TITLE_E,TITLE) as TITLE, RESP, RESP_E, RESP_EMAIL, DEPUTY, DEPUTY_E, DEPUTY_EMAIL, DATE_START, DATE_FINISH
 from nica_wbs_wu_#ID#
where active=1
;
[end]

AC: - постоянный VIEW (перестроить на заявки)

create or replace view nica_evm_ac
as
SELECT d.PROJECT_ID, d.PAYED as DAT, nvl(d.SUMMA_USD,0)/1000 as SUMMA_USD
FROM docs d
join bc b on b.code=d.BC

WHERE
b.SBJ_CODE = '1065'
and (d.is_total is null or d.is_total<>'Y')
and b.PRIKAZ_ID is null
and not payed is null
and d.PROJECT_ID>1000
