[parameters]
debug=off
KeepLog=true
[end]


[report]
$GET_DATA [doIt] ??!DOCS
<script>
alert("К работе привязаны документы:\n\r #DOCS#"); ??DOCS
alert(window.parent.$("##r_#id#").html()); ??
window.parent.$("##r_#id#").addClass("yellow"); ??del=y&!DOCS
window.parent.$("##r_#id#").removeClass("pink"); ??restore=y
window.parent.$("##r_#id#").hide();  ??purge=y
</script>
[end]


[preSQLs]
select d.doc_id||', ' as "DOCS" from docs d where d.PROJECT_ID=#id# and d.doc_status<>5
;
update nica_wu set active=1 where id=#id#; ??restore=y
[end]


select count(d.doc_id) as "NUM_DOCS" 
from docs d 
left join bc b on b.code=d.BC ??
where d.PROJECT_ID=#id#
	and (b.SBJ_CODE like '%1065' ??
	or (d.is_total='Y' and exists(select dd.doc_id from docs dd join bc bb on bb.code=dd.BC where dd.pid=d.doc_id	and bb.SBJ_CODE like '%1065')) ??Добавка сводных без темы - надо ли
	or d.PROJECT_ID is not null	or exists(select dd.doc_id from docs dd where dd.pid=d.doc_id	and dd.PROJECT_ID is not null) ??
	) ??
;

[doIt]
update nica_wu set active=0 where id=#id#; ??del=y
delete from nica_wu where id=#id#; ??purge=y
[end]
