[parameters]
title=Док.#DOC_ID#

BC=0-0571
debug=off

$INCLUDE common.dat[colors]
[end]


[report]
$INCLUDE [logged report]  ??logged
<script>window.location.href="#ServerPath##ServletPath#";</script> ??!logged
[end]


[logged report]
$SET_PARAMETERS ACC_OK=Y ??M_DOC_NICA>0|M_DOC>0
$SET_PARAMETERS IS_ADMIN=Y ??g_sys=USER_GROUP|g_reg=USER_GROUP
$INCLUDE doc/docEdit.cfg[checkAccRights]  ??M_DOC_NICA>0&DOC_ID&A_BCS|A_LABS|A_SBJS
$SET_PARAMETERS W_ACC=Y; READ_ONLY=;  ??!W_ACC=Y&M_DOC_NICA=2|g_reg=USER_GROUP|g_mnts=USER_GROUP|g_nica=USER_GROUP
$SET_PARAMETERS READ_ONLY=true ??!W_ACC
$SET_PARAMETERS DOC_DATE=01.#f_mm#.20#q_yr#  ??!DOC_DATE&type=xp&f_mm
$SET_PARAMETERS summa_rub=#summa_curr#; ??curr_code=810
$SET_PARAMETERS_GLOBAL NICA_AGGRS=#NICA_AGGRS_#;  ??!NICA_AGGRS

$SET_PARAMETERS cop=c ??DOC_ID=0&!cop
$SET_PARAMETERS doc_type=3 ??cop=c&!STIM=Y
$SET_PARAMETERS doc_type=99 ??cop=c&STIM=Y
$SET_PARAMETERS aggr=01 ??STIM=Y

$SET_PARAMETERS PROJECT_ID=; PROJECT_DES=;  ??cop=clone|cop=child
$GET_DATA nica/e_docEditSQL.dat[insert script]  ??W_ACC&cop=c|cop=child|cop=clone
$PRINT =====> CREATE DOC Nr.#NEW_ID#; cop=#cop#		  ??cop=c|cop=child|cop=clone

$SET_PARAMETERS DOC_ID=#NEW_ID#;	??NEW_ID
$SET_PARAMETERS IS_LOCKED=; PLAT_1=; PLAT_2=; DAT_PLAT_1=; DAT_PLAT_2=;  ??cop=clone|cop=child

$PRINT =====> UPDATE DOC Nr.#DOC_ID#;  cop=#cop#  ??!READ_ONLY&cop=u|cop=s|cop=up|cop=uprix
$GET_DATA nica/e_docEditSQL.dat[update script]  ??!READ_ONLY&cop=u|cop=s|cop=up|cop=uprix

$PRINT =====> DELETE DOC Nr.#DOC_ID#;  cop=#cop#    ??!READ_ONLY&!IS_LOCKED&cop=p|cop=d
$GET_DATA nica/e_docEditSQL.dat[delete script]  ??!READ_ONLY&!IS_LOCKED&cop=p|cop=d

$GET_DATA nica/e_docEditSQL.dat[update Children] ??setChildren=Y

$INCLUDE common.dat[head]
<script type="text/javascript" src="/adb/js/jquery-1.9.1.min.js"></script>

<style media=print>
input.but {display: none;}
input.button {display: none;} 
a.info:link {text-decoration: none;}
a.info:visited {text-decoration: none;}
a.info:hover {text-decoration: none;}
</style>

<STYLE type=text/css>
  body {margin: 0px;}
	td {vertical-align:top;font-family: Verdana; font-size: 14px;}
.typ7, .typ5 {display:none;}
</STYLE>

<SCRIPT language=JavaScript src="#jsPath#docEdit.js"></SCRIPT> 

<body bgcolor=f0f8ff>
$GET_DATA nica/e_docEditSQL.dat[get doc script] ??DOC_ID&!cop=clone
$SET_PARAMETERS W_ACC=; READ_ONLY=true; ??NEED_TO_CHECK=N&!cop=c&!g_reg=USER_GROUP&!g_mnts=USER_GROUP&!g_sys=USER_GROUP

$SET_PARAMETERS type=mnts	??DOC_TYPE=5
$SET_PARAMETERS type=nal ??DOC_TYPE=7

$SET_PARAMETERS SUMMA_CURR=; ??xxxSUMMA_CURR=0
$SET_PARAMETERS DOC_DATE=#TODAY# ??XXX&!DOC_DATE
$SET_PARAMETERS DAT_PLAT_1=#DOC_DATE#  ??xxx&!DAT_PLAT_1

<center>
<b>type=#type#; DOC_TYPE=#DOC_TYPE#</b> ??
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<input type=hidden name="setChildren" value="">
<input type=hidden name="doc_changed" value="#doc_changed#">
<input type=hidden name="DOC_ID" value="#DOC_ID#">
<input type=hidden name="type" value="#type#">

W_ACC=#W_ACC#; READ_ONLY=#READ_ONLY#; USER_GROUP=#USER_GROUP#; g_nica=#g_nica#; ??
<table bgcolor=gray cellSpacing=1 cellPadding=1><tr><td> ??
<TABLE border=0 bgcolor=whitesmoke cellSpacing=1 cellPadding=5 style="width:100%">

$INCLUDE [block top]
$INCLUDE nica/getProjectList.cfg[script] ??Надо ли

<tr><td class=l style="border-bottom:solid 1px gray;">Работа:</td>
<td colspan=4 id="prjPath" style="border-bottom:solid 1px gray;">
<input type=hidden name="PROJECT_ID" value="#PROJECT_ID#">
#PROJECT_DES#
; STIM=#STIM#; ??
</td></tr>
$SET_PARAMETERS INFO=Стимулирование ??STIM=Y&cop=c
$INCLUDE [block summa]
$INCLUDE [block body] 
$INCLUDE [block bottom] 
$INCLUDE [block buttons]

</TABLE>
</td></tr></TABLE> ??
<span class=small style='background-color:white; padding:4px; border:solid 1px black;'>
Документ зарегистрирован: #CREATOR#, #REG_DATE# 
, изменен: #MODIFIER#, #MODIF_DATE#     ??MODIFIER
<font color=red>Отослан: #SENT_DATE#</font>  ??SENT_DATE
</span>
</form>
$SET_PARAMETERS CAN_SEND=
$SET_PARAMETERS CAN_SEND=Y ??!STIM=Y&IS_ADMIN=Y&DOC_STATUS=2|DOC_STATUS=6|DOC_STATUS=3|DOC_STATUS=1
$CALL_SERVICE c=doc/docSend.cfg; doc_id=#DOC_ID#; ??CAN_SEND&cop=s|cop=u

$INCLUDE [script]
[end]


======= Блок от начала до "Бюдж.код" и "Сводный док" ====
[block top]
<tr><td bgcolor=white align=center><font color=red><small>
<div id="docStat">
<b><i>ОПЛАЧЕН!</i></b>  ??PLAT_1&DAT_PLAT_1
<b><i>Выписано п/п</i></b>  ??PLAT_1&!DAT_PLAT_1
сохранен: #SAVED_AT#  	 ??SAVED_AT
</div></font></td>
<td colspan=4 bgcolor=white align=left nowrap=true>&nbsp; &nbsp;<b>
Документ № #DOC_ID# от #REG_DATE#
 &nbsp; 

</td></tr>
<tr bgcolor=gray><td width=15%></td><td width=10%></td><td width=20%></td><td width=10%></td><td width=35%></td></tr> ??MSIE=YES

<tr style="border-bottom:solid 1px gray;"><td class=l nowrap=true>
Внешний №<br>Дата: ??!STIM=Y
</td><td>
<input size=12 class=xp id="EXT_DOC_NR" name="ext_doc_nr" onChange="docChanged();" value="#EXT_DOC_NR#"><br>  ??!STIM=Y
$INCLUDE common.dat[dat] param: fd_name=doc_date; fd_val=#DOC_DATE#; onChange=docChanged(); yr1=-3;  ??!STIM=Y
</td>

<td nowrap=true align=center>
Тип: &nbsp;&nbsp
 <select name=doc_type onChange="docTypeChanged();">
<option value="3">Внешний счет</option>
<option value="1">Договор</option>
<option value="7">Наличный платеж</option>
<option value="5">МНТС</option>
<option value="99">прочее</option>
</select>
<br>

<iframe name=svsFrame id=svsFrame width=20 height=5 frameborder=no scrolling=no
 src="#ServletPath#?c=doc/getBcInfo&BC=#BC#"></iframe>
  
</td><td colspan=2 nowrap>
<a class=info href="javascript:getCode();">
Бюджетный&nbsp;код:</a>&nbsp;<input type=text size=6 class=xpc name="bc" value="#BC#" onChange="docChanged();"
readonly ??!LOGINNAME={{serg|puchkova|tania|test}}
>
<div class=small id='bcodeDescr'>
#DIR#, ??DIR
#DIV# (#LAB_CODE#),  ??LAB_CODE
<br>Тема: #SBJ_CODE#, #DES# ??SBJ_CODE
#RESP#  ??RESP
</div>

</td></tr>
[end]


======= Блок от "Сумма (руб)" до "Консолидир. статья" ====
[block summa]
<tr><td nowrap=true class=l>
Сумма: ??
<a class=info href="javascript:currConvert()">Сумма:</a> 
</td><td colspan=3 class=small nowrap=true> 
<input size=8 class=xpc name="summa_curr" value="#SUMMA_CURR#" onChange="docChanged();">

<select name=curr_code onChange="docChanged();">
	<option value="810">руб</option>
	<option value="840">$</option>
	<option value="978">€</option>
	<option value="756">CHF</option>
  	<option value="826">GBP</option>  ??
  </select>

<span id=sum_curr>(
#SUMMA_RUB# руб. &nbsp;   ??!CURR_CODE=810&SUMMA_RUB
#SUMMA_USD# USD  &nbsp;   ??!CURR_CODE=840&SUMMA_USD
#SUMMA_EUR# EUR          ??!CURR_CODE=978&SUMMA_EUR
)</span>
</td><td nowrap=true> 
Статья бюджета: <select name=aggr onChange="setCons();" ??!STIM=Y
disabled ??USER_GROUP=mnts&!STIM=Y
><option value=""></option>#NICA_AGGRS#</select> ??!STIM=Y
$INCLUDE [months] ??STIM=Y
</td>

</tr>
[end]

[months]
Месяц: <select name=month>
<option value="01">январь</option>
<option value="02"
selected ??P_MONTH=02
>февраль</option>
<option value="03"
selected ??P_MONTH=03
>март</option>
<option value="04"
selected ??P_MONTH=04
>апрель</option>
<option value="05"
selected ??P_MONTH=05
>май</option>
<option value="06"
selected ??P_MONTH=06
>июнь</option>
<option value="07"
selected ??P_MONTH=07
>июль</option>
<option value="08"
selected ??P_MONTH=08
>август</option>
<option value="09"
selected ??P_MONTH=09
>сентябрь</option>
<option value="10"
selected ??P_MONTH=10
>октябрь</option>
<option value="11"
selected ??P_MONTH=11
>ноябрь</option>
<option value="12"
selected ??P_MONTH=12
>декабрь</option>
</select>
[end]

======= Блок от "Плательщик" до "Комментарий" - общий ====
[block body]

<tr><td class=l nowrap=true>

<div class="typ typ3 typ1 typ99">
<a class=info href="javascript:kontrInfo()"> ??
Контрагент:
</a> ??
</div>
<div class="typ typ7">Кому:</div>
<div class="typ typ5">Командируется:</div>

</td><td colspan=3>
<textarea class=xp name=receiver rows=2 cols=50 style="overflow:auto;" onChange="document.theForm.receiver_c.value=''; docChanged();"
>#RECEIVER#</textarea></td>

<td rowspan=3 nowrap=true>
Комментарий:<br><textarea class=xp name=comments rows=7 cols=45 style="overflow:auto;" onChange="docChanged();"
>#COMMENTS#</textarea><br>
<a href="javascript:showActions();">история:</a>
<div id=actions style="text-align:left; display:none; margin-left:30;"><small>
#ACTION_HISTORY#</small>
<input type="hidden" name="action_history" value="#ACTION_HISTORY#">
</div>
</td></tr>
$INCLUDE doc/docEdit.cfg[inn] ??

<tr><td class=l nowrap=true>

<div class="typ typ3 typ1">Назнач<a href="javascript:setInfo();">е</a>ние<br>платежа:</div>
<div class="typ typ7 typ99">Назначение<br>платежа:</div>
<div class="typ typ5">Место и сроки<br> командировки: </div>


</td><td colspan=3>
<textarea class=xp name=info rows=3 cols=50 style="overflow:auto;" onChange="docChanged();"
>#INFO#</textarea></td>
</tr>
[end]

================= Блок от "Подпись" до "история" ===============
[block bottom]
<tr><td class=l nowrap=true>
<a class=info href="javascript:respInfo();"> ??
Подпись:
<span class=small><br> (Ответств. за бюдж.код)<br><br></span>
</a> ??
Инициатор:</td><td colspan=2>

<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr><td>
<input size=27 class=xp name=chief_sgn value="#CHIEF_SGN#" onChange="setRespDate('#REG_DATE#');"></td>
<td nowrap=true valign=top>дата: 
$INCLUDE common.dat[dat] param: fd_name=chief_date; fd_val=#CHIEF_DATE#; onChange=docChanged();
</td>
</tr>

<tr><td><br>
 <input size=27 class=xp name=signed value="#SIGNED#" onChange="docChanged();">
 <input type=hidden name="approval" value='#APPROVAL#'>
</td>
<td align_=right nowrap=true>
<img src="#imgPath#checked_small.gif" width=0 height=15> ??!IS_LOCKED
<img src="#imgPath#checked_small.gif" width=12 height=15> <small>заблокирован от изменений</small> ??IS_LOCKED
<br>
<img src="#imgPath#question.gif" width=12 height=16> ??IS_PROBLEM
 <input type="checkbox" name="is_problem" onClick="docChanged();"  ??!IS_LOCKED
 checked  ??IS_PROBLEM&!IS_LOCKED
> ??!IS_LOCKED
требует уточнения &nbsp;  ??IS_PROBLEM|!IS_LOCKED
<br><small>
<img src="#imgPath#red_star_14.gif" width=14 height=14>ждет подтверждения экономистом ??NEED_TO_CHECK=Y&!cop=c
<img src="#imgPath#checked_ok.gif" width=12 height=16>подтвержден экономистом ??!NEED_TO_CHECK=Y
</small>
<br><input type=checkbox name=VERIFIED value='Y'>подтвердить ??NEED_TO_CHECK=Y&g_sys=USER_GROUP|reg=USER_GROUP

</td>
<td align=right>

</td></tr><tr><td></td><td colspan=2>

</td></tr></table>
</td></tr>
[end]


================= Блок кнопок ===============
[block buttons]
<tr><td class=d colspan=5 nowrap=true align=center>
<input type=button class=but value="Сохранить" onClick="save();"> &nbsp; ??!IS_LOCKED&!READ_ONLY
<input type=button class=but value="Удалить" onClick="delete_();"> &nbsp; ??!IS_LOCKED&!READ_ONLY&W_ACC
<input type=button class=but name=cls value="Закрыть" onClick="finita();"> &nbsp;
</td></tr>
[end]

===============================================================


[script]
<script>

window.moveTo(10,10);  ??!h_user-agent=Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1; MyIE2)
frm=document.theForm;

var mX = 0;
var mY=0;

function setMouse(e) {
if (document.all)
	{ mX = event.x;	mY = event.y;
	}
	else
	{ mX = e.pageX;	mY = e.pageY;
	}
}

if (!document.all) 
  window.captureEvents(Event.CLICK);
document.onclick=setMouse;

function getCode()
{ 
  openWindow('c=info/bc/list&thisYearOnly=y&f_status=A&f_sbj=1065&f_lab=100', 'bc_info', 700, 600);
}

function pasteBcInfo(txt, labcode)
{ 
	alert(txt + "=>" + txt.replace(/[`]/g,'"')); ??
	document.getElementById("bcodeDescr").innerHTML = txt.replace(/[`]/g,'"'); 
  selectOptionByVal(frm.lab_code, labcode);
}


frm.doc_changed.value="y";	??cop=u|cop=clone|cop=child|cop=c

selectOptionByVal(frm.doc_type,'#DOC_TYPE#')   ??DOC_TYPE
selectOptionByVal(frm.aggr,'#AGGR#')  ??AGGR
selectOptionByVal(frm.curr_code,'#CURR_CODE#') ??CURR_CODE

setReadOnly(true); ??READ_ONLY|IS_LOCKED

function docTypeChanged()
{ 
	var typ = getSelectedVal(frm.doc_type);
	$(".typ").hide();
	$(".typ" + typ).show();
  docChanged(); ??
}

docTypeChanged(); ??DOC_TYPE&!DOC_TYPE=3

function receiverChanged()
{ 
	frm.inn_receiver.value=""; ??
  frm.receiver_c.value=getSelectedVal(frm.dd_receiver); ??
  docChanged();
}


function setBC (nodeId,bc)
{ frm.bc.value=bc;
  document.getElementById("bcodeDescr").innerHTML = "...";
  a = document.getElementById("svsFrame");
  a.src="#ServletPath#?c=doc/getBcInfo&tm=#tm#&BC=" + bc;
  docChanged();
}

function pasteResponsible(chief_code, name)
{ frm.chief_sgn.value=name;
  frm.chief_code.value=chief_code;
  setRespDate('#REG_DATE#');
}

function delete_()
{ if (!confirm("Документ будет удален.")) return;
  frm.cop.value="d";
  frm.action.value="удален";
  frm.submit();
}

try {window.opener.refrSelf();} catch (e) {} window.close();  ??cop=d|cop=s

function checkFields()
{ 
	if(frm.PROJECT_ID.value<1)	{ alert("Выберите проект");		return false;	} ??!type={{mnts|xp}}
// if (!checkFloat("summa_rub",null,null,"сумма в рублях")) return false;
// alert ("here-1");
  if (!checkFloat("summa_curr",null,null,"сумма")) return false;
  if (!checkDate("doc_date", "документа", false)) return false;
  if (!checkDate("chief_date")) return false;

// alert ("here-2");
  try
  { if (getSelectedVal(frm.doc_type) == "0")
    { alert ("Задайте тип документа."); 
      return false;	
    } 
    if (!checkDate("approval_date")) return false;
    frm.approval.value=getSelectedText(frm.approval_c);
  }
  catch (e) {}
  
// alert ("here-3");

  return true;
}
window.focus();
</script>
</center></body></HTML>
[end]

=============================================================================

[preSQLs]
select to_char(sysdate,'dd.mm.yy hh24:mi') as NOW from dual
;
select CODE||':'||TITLE as "PROJECT_DES", pid as "WBS_ID" from nica_wbs_wu where id=#PROJECT_ID#
;
select 'Y' as "STIM" from nica_wbs where id=#WBS_ID# and (upper (title) like 'СТИМУЛИРОВАНИЕ%' or upper (title_e) like '%STIMULATION%')
;
select '<option value="'||trim(to_char(STATIA,'00'))||'">'||to_char(STATIA,'00')||': '||DES||'</option>' as "NICA_AGGRS_" from nica_plan_stat where STATIA>0 order by STATIA;  ??!NICA_AGGRS

[end]

select '<option value="'||code||'">'||code||': '||des_short||'</option>' as "AGGRS_MIN" 
from i_aggr where code in('04','05','06','10','14','18','19')
order by code;
;

