e_EVM_enter_data.cfg


[parameters]
service=dubna.walt.service.TableServiceSpecial ??g_adm=USER_GROUP
debug=off
KeepLog=false
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
[end]

[report]
[end]

[report header]
<html><head>
<title>EVM DATA</title>
$SET_PARAMETERS curr_id=#curr_id_#; ??!curr_id
$SET_PARAMETERS f_year=#f_year_#; ??!f_year
$SET_PARAMETERS f_year=2013; ??!f_year
$GET_DATA [getWBSparam]

$INCLUDE nica/i_head.dat[head]
<style type="text/css">
table.tlist td {text-align:right; font-size:13pt; font-weight:bold; padding:1px;}
table.tlist  td.pv, th.pv{border: solid 1px blue;}
table.tlist td.ac, th.ac{border: solid 1px red;}
table.tlist td.ev, th.ev {border: solid 1px green;}
input {text-align:right; font-size:13pt;}
</style>
$INCLUDE nica/i_js.dat[js]  ??

<script type="text/javascript">
var doSubmit=function(cop, modul)
{
if (confirm(module + ":" + cop + ":" + mode))  ??
    document.theForm.c.value="nica/" + modul;
    document.theForm.cop.value=cop;
    document.theForm.submit();
}
</script>

</head><body>
$INCLUDE [store data] ??cop=save

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<input type=hidden name="curr_id" value="#curr_id#">

<br><br> <center>

<b>#TITLE#,</b>
$SET_PARAMETERS WORK_YEAR=#f_year#;
год:
<select name=f_year  onChange="doSubmit('', 'e_EVM_enter_data')">
$INCLUDE nica/common.dat[years-past] 
$INCLUDE nica/common.dat[years-future] 
</select>

<table class=tlist border=0 cellspacing=1 cellpadding=0>
<tr><td colspan=5 style="text-align:right;">
(тыс.$)</td></tr>
<tr><th></th>
<th class="srh" >Дата</th>
<th class="pv">PV</th>
<th class="ac">AC</th>
<th class="">EV</th> ??REPORTING=1
</tr>
[end]

[store data]
$SET_PARAMETERS PV_0=0; AC_0=0; EV_0=0;
$EXECUTE_LOOP CURR_DAT_ID; #DAT_IDS#; [store month Data]
$SET_PARAMETERS lev=0; wbs_id=0; f_CURR_YR=#f_year#;
$CALL_SERVICE c=nica/e_EVM_prepare_WBS_data; ??LEV=1
[end]

[store month Data]
$SET_PARAMETERS pvf=pv_#CURR_DAT_ID#; acf=ac_#CURR_DAT_ID#; evf=ev_#CURR_DAT_ID#
$SET_PARAMETERS pv=^#pvf#; ac=^#acf#; ev=^#evf#;
CURR_DAT_ID=#CURR_DAT_ID#; pv=#pv#; ac=#ac#; ev=#ev#;<br> ??
$GET_DATA [store item]
[end]

[store item]
try: delete from nica_evm where id_dat=#CURR_DAT_ID# and node_id=#curr_id#
;
insert into nica_evm (id_dat, node_id, pv,ac,ev)
values (#CURR_DAT_ID#, #curr_id#
,#pv# ??pv
,null ??!pv
,#ac# ??ac
,null ??!ac
,#ev# ??ev
,null ??!ev
)
[end]

[item]
<tr><td>
#DAT_ID# ??
</td><td>#DAT#</td>
<td class="pv"
style="background-color:e0e0e0;"  ??!QUART
>
<input name=pv_#DAT_ID# value="#PV#" size=6 > ??QUART
</td>
<td class="ac"><input name=ac_#DAT_ID# value="#AC#" size=6 ></td> ??f_year<#CURR_YEAR#
<td class="ev"><input name=ev_#DAT_ID# value="#EV#" size=6 ></td> ??f_year<#CURR_YEAR#
</tr>
[end]


[report footer]
<tr><td colspan=5>
<input class="b_nica bok" style="margin:10px 20px 10px 0;" type=button value="Сохранить" onClick="doSubmit('save', 'e_EVM_enter_data'); return false;">
</td></tr></table>
</form></center></body></html>
[end]


=========================================================================
=========================================================================
=========================================================================
[getWBSparam]
select REPORTING, decode(code,'0','',code||': ')||TITLE as TITLE, LEV from nica_wbs_wu where id=#curr_id#
;
select ','||id as DAT_IDS from nica_evm_dates where extract(year from dat)=#f_year#
;
[end]


[SQL]
select d.ID as DAT_ID, to_char(d.DAT,'DD.MM.YYYY') as DAT
, case when MOD(extract(month from d.DAT), 3) = 0 then 'Y' else '' end as QUART
, nvl(to_char(e.PV, '99990.0'),'')  as PV
, nvl(to_char(e.AC, '99990.0'),'') as AC
, nvl(to_char(e.EV, '99990.0'),'') as EV
from nica_evm_dates d
left join nica_evm e on (e.id_dat=d.id and e.node_id=#curr_id#)
where extract(year from dat)=#f_year#
order by d.ID
[end]
