[comments]
descr=S: 
input=f_CURR_YR, [wu_id] - для пересчета конкретной WU. Если не задано - то по всем
parents=
author=Куняев
[end]

[description]
[end]

[parameters]
service=dubna.walt.service.TableServiceSpecial
debug=off
KeepLog=false
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
[end]

c=nica/e_EVM_prepare_WU_data&wu_id=21830&f_CURR_YR=2016&mon=3 
http://ak0211.jinr.ru:8084/adb/adb?c=nica/e_EVM_prepare_WU_data&wu_id=22649&f_CURR_YR=2017
22514
22299

[report header]
<br><b>========================= e_EVM_prepare_WU_data; ======</b><br>
EXECUTE_LOOP dat_id; #DAT_IDS#; [set month data] ??
[end]

[item]
<br>#WU_ID#:  ??
#CODE# 
#f_CURR_YR# ??
$GET_DATA [drop records]
$EXECUTE_LOOP dat_id; #DAT_IDS#; [set month data]
$INCLUDE [interpolate EV]  ??!REPORTING=1
;
[end]

[report footer]
<br>DONE!
[end]


[set month data]
<br>--- dat_id=#dat_id#; ??
$GET_DATA [get PvAcEv]
+++ PV=#PV#; AC=#AC#; EV=#EV#; 
$GET_DATA [add record]
$LOG -------------- #dat_id#: EV=#EV# --------------<br>

$SET_PARAMETERS PV=0; AC=0; EV=0; 
[end]


=========================================================================
=========================================================================
=========================================================================

[preSQLs]
select id||',' as DAT_IDS from NICA_EVM_DATES
where extract(year from dat)=#f_CURR_YR# 
and extract(month from dat)=#mon# ??mon
order by dat
;
select max(id) as CURR_DAT_ID from NICA_EVM_DATES where dat<SYSDATE
[end]



[SQL]
select w.id as WU_ID, w.CODE, w.REPORTING 
from nica_wu w
where DELETED=0 
and typ='WU' ??
and (
	(extract(year from DATE_START)=#f_CURR_YR# or extract(year from DATE_FINISH)=#f_CURR_YR# )
or exists (select ac.project_id as WU_ID  from nica_evm_ac ac ??
 where extract(year from ac.DAT)=#f_CURR_YR# and ac.project_id=w.id) ??
)
and id in(#wu_id#) ??wu_id
and id in ( select ID from nica_wbs_wu where id>0 and active>0 and typ='WU' connect by prior id=pid start with id=1 ) ??
order by code
[end]


[drop records] 
select CODE, REPORTING from nica_wu
where id=#WU_ID#
;
delete from nica_evm where NODE_ID=#WU_ID# and id_dat in(#DAT_IDS#-1)
[end]

[get PvAcEv]
update nica_ev ev ??REPORTING=1
set ev.ev_sum=ev_ps * (select nvl(sum(PV),0) from nica_evm_pv_#f_CURR_YR# pv where pv.task_id=ev.wu_id) / 100 ??REPORTING=1
where wu_id=#WU_ID# and extract(year from DAT)=#f_CURR_YR# ??REPORTING=1
;
select MOD(extract(month from DAT), 3) as IS_QUART  from NICA_EVM_DATES where id=#dat_id#
;
select nvl(sum(PV),0) as PV from nica_evm_pv_#f_CURR_YR#
where task_id=#WU_ID# and dat<(select dat+1 from NICA_EVM_DATES where id=#dat_id#)
;
select nvl(sum(SUMMA_USD),0) as AC from nica_evm_ac
where project_id=#WU_ID# and dat<(select dat+1 from NICA_EVM_DATES where id=#dat_id#) and extract(year from DAT)=#f_CURR_YR#
;
select nvl(max(ev_sum),0) as EV from nica_ev  ??REPORTING=1
where WU_ID=#WU_ID# and dat<(select dat+1 from NICA_EVM_DATES where id=#dat_id#) and extract(year from DAT)=#f_CURR_YR#  ??REPORTING=1
;
$SET_PARAMETERS EV=#PV# ??!REPORTING=1
[end]

&dat_id<#CURR_DAT_ID#

[add record]
insert into nica_evm (ID_DAT, NODE_ID, PV, AC, EV)
values (#dat_id#, #WU_ID#, #PV#, #AC#
, #EV# ??REPORTING=1|IS_QUART=0
, null ??!REPORTING=1&IS_QUART>0
)
;
[end]


.......................................................................
[interpolate EV] 
$LOG ===================================== [interpolate EV] ====================<br>
interpolate EV 
$GET_DATA [get missing]
$EXECUTE_LOOP next_dat_id; #MISSING_IDS#; [set missing data]
[end]

[set missing data]
$LOG5 -------------- #next_dat_id# --------------<br>
$GET_DATA [set missing]
[end]


[get missing]
select id_dat||',' as MISSING_IDS
from nica_evm where node_id=#WU_ID# and ev is null
order by id_dat
[end]

[set missing]
select nvl(max(id_dat), #next_dat_id#-1) as ID_L, nvl(max(EV),0) as EV_L
from nica_evm where node_id=#WU_ID# and not ev is null
and id_dat < #next_dat_id#
;
select min(id_dat) as ID_H , min(EV) as EV_H
from nica_evm where node_id=#WU_ID# and not ev is null
and id_dat > #next_dat_id#
;
select (#EV_H# * (#next_dat_id# - #ID_L#) + #EV_L# * (#ID_H# - #next_dat_id#)) / (#ID_H# - #ID_L#) from dual ??

update nica_evm 
set EV=(#EV_H# * (#next_dat_id# - #ID_L#) + #EV_L# * (#ID_H# - #next_dat_id#)) / (#ID_H# - #ID_L#)
where node_id=#WU_ID# and id_dat = #next_dat_id#
[end]
.........................................................................

