[parameters]
debug=off
KeepLog=false
[end]

e_pplan_EV_set_EV
============  УСТАНОВКА ПЛАНИРУЕМОГО ПРОГРЕССА ПО РАБОТЕ ПО УМОЛЧАНИЮ ===========
и установка взвешенных EV - значений 


[report]
$SET_PARAMETERS id=#curr_id#;
$GET_DATA [check_EV_Plan]
$SET_PARAMETERS SCENARII=1; ??!PLAN_EXISTS&TYP=WU
$GET_DATA [get_DEF_EV_Plan] ??!PLAN_EXISTS&TYP=WU
$GET_DATA [save_EV_Plan]  	??!PLAN_EXISTS&TYP=WU
$GET_DATA [set_EV_Plan_Values] ??TYP=WU
$GET_DATA [set_EV_Plan_Dates]		??!DATES_NOT_CHANGED
$GET_DATA [deleteRecord]  ??!TYP
$GET_DATA [commit]  ??!ERROR
[end]



[preSQLs]
select ACT as "VER_RW" from nica_versions where id=#VER#;
select TYP, PID as PARENT_ID from nica_wbs_wu_#VER# where id=#curr_id#;
[end]

select to_char(DATE_START,'DD.MM.YYYY') as DATE_START, to_char(DATE_FINISH,'DD.MM.YYYY') as DATE_FINISH
from nica_ver_data where w_id=#curr_id# and version=#VER#
; 


[check_EV_Plan]
select 'Y' as PLAN_EXISTS from nica_ev_plan where W_ID=#curr_id# and version=#VER#
;
select 'Y' as DATES_NOT_CHANGED 
from nica_ev_plan e join nica_ver_data v on (v.w_id=e.w_id and v.version=e.version
and v.DATE_START=e.DAT_0 and v.DATE_FINISH=e.DAT_4)
where e.W_ID=#curr_id# and e.version=#VER#;
[end]


[get_DEF_EV_Plan]
select PS_0, PS_1, PS_2, PS_3, PS_4
from nica_ev_plan 
where W_ID=-1 and SCENARII=#SCENARII#
;
[end]


[save_EV_Plan]
insert into nica_ev_plan (W_ID, version, SCENARII, PS_0, PS_1, PS_2, PS_3, PS_4, MODIFIER, MODIFIED)
values (#curr_id#, #VER#, #SCENARII# , 0, #PS_1#, #PS_2#, #PS_3#, 100, #USER_ID#, SYSDATE)
[end]



[set_EV_Plan_Values]
select TRIM(TO_CHAR(nvl(v.PRICETOTALPLAN,0),'999999999')) as PRICETOTALPLAN
 , trim(TO_CHAR(nvl(v.PRICETOTALPLAN,0)/1000,'999G999G999D0')) as NODE_PLAN ??
from nica_ver_data v where v.w_id=#curr_id# and v.version=#VER#
;
update nica_ev_plan
set EV_0=0
  , EV_1=PS_1 * #PRICETOTALPLAN# / 100
  , EV_2=PS_2 * #PRICETOTALPLAN# / 100
  , EV_3=PS_3 * #PRICETOTALPLAN# / 100
  , EV_4=#PRICETOTALPLAN#
	, MODIFIER=#USER_ID#, MODIFIED=SYSDATE
where w_id=#curr_id# and version=#VER#
;
try: call setWBSPlannedEV(#VER#, #PARENT_ID#, #f_nica_year#);
++++++++++++ Разобраться, почему валится процедура для WBS: call setWBSPlannedEV(8, 159, 2015) ??ZZZZZZZZZZZZZ
$SET_PARAMETERS ERROR=;
[end]

[set_EV_Plan_Dates]
update nica_ev_plan
set DAT_0=(select DATE_START from nica_ver_data where w_id=#curr_id# and version=#VER#)
 , DAT_4=(select DATE_FINISH from nica_ver_data where w_id=#curr_id# and version=#VER#)
where w_id=#curr_id# and version=#VER#
;
update nica_ev_plan
set DAT_1 = DAT_0 + (DAT_4 - DAT_0)/4
	, DAT_2 = DAT_0 + (DAT_4 - DAT_0)/2
	, DAT_3 = DAT_0 + 3*((DAT_4 - DAT_0)/4)
	, MODIFIER=#USER_ID#, MODIFIED=SYSDATE
where w_id=#curr_id# and version=#VER#;
[end]

[deleteRecord]
delete from nica_ev_plan
where w_id=#curr_id# and version=#VER#
[end]

[commit]
commit;
[end]