[parameters]
debug=off
KeepLog=true
mark=<sup>*</sup>
[end]

=========== Редактирование записи плана платежей ====================
nica/e_pplan

[report]
$INCLUDE [form] ??!cop
$INCLUDE [process] ??cop
[end]

statia=0;

[process]
$SET_PARAMETERS NAZNACH_=плановая стоимость работы ??auto
$GET_DATA [addRecord] ??cop=n
$GET_DATA [update record] ??cop=u
$GET_DATA [set aggr] ??cop=u|cop=n
$GET_DATA [deleteRecord] ??cop=d
$GET_DATA [calculate equiv$] ??cop=n|cop=u
$INCLUDE [manualOper] ??!auto
[end]

[manualOper]
------- Пересчет планов родителей ----- ??
$CALL_SERVICE c=nica/e_setPlanTotal ??cop=u|cop=d|cop=n
<script>window.parent.HideDialog();</script>
$CALL_SERVICE c=nica/r_pplan_table
[end]

[form]
$GET_DATA [getRecord] ??REC_ID
<div id="planForm">
<center>
<table border=0 cellpadding=5 cellspacing=0 style="margin:0 0 10px 0; background-color:white; ">
<tr><td colspan=2><b>
Запланировать платеж: ??!REC_ID
Редактирование запланированного платежа: ??REC_ID
</b></td></tr>
$SET_PARAMETERS NAZNACH=#TITLE#; ??!NAZNACH
$INCLUDE [field_e] param: title=Назначение; name=NAZNACH_; val=#NAZNACH#; size=50;  break=Y; ??
<tr><td class="l tb">Назначение:</td><td class="tb"> 
<textarea rows=2 cols=60 name="NAZNACH_" class="xp">#NAZNACH#</textarea>
</td></tr>  

$INCLUDE [field_e] param: title=Контрагент; name=CONTRAG_; val=#CONTRAG#; size=50;
$INCLUDE [field_e] param: title=Договор; name=DOGOVOR_; val=#DOGOVOR#; size=50;

<tr><td nowrap=true class="l mand_label tb"><a class=info href="javascript:currConvert()">Сумма:</a> 
</td><td class=tb><input size=10 class="xpc" mand="сумму" id="summa_curr" name="summa_curr" value="#SUMMA_CURR#">
<input type=radio name=curr_code value="810"
checked ??CURR_CODE=810|!CURR_CODE
>руб.&nbsp;
<input type=radio name=curr_code value="978"
checked ??CURR_CODE=978
>€&nbsp;
<input type=radio name=curr_code value="840"
checked ??CURR_CODE=840
>$
<select name=curr_code>	<option value="840">$</option>	<option value="810">руб</option>	<option value="978">€</option> </select> ??
&nbsp;
<span id=sum_curr>(
#SUMMA_RUB# руб. &nbsp;   ??!CURR_CODE=810&SUMMA_RUB
#SUMMA_USD# $  &nbsp;   ??!CURR_CODE=840&SUMMA_USD
#SUMMA_EUR# €          ??!CURR_CODE=978&SUMMA_EUR
)</span>
<tr><td nowrap=true class="l mand_label tb">
Статья затрат: 
</td><td class=tb>
<select name=statia><option value="0">Выберите статью затрат</option>#NICA_AGGRS#</select>  ??
<table style="width:350;"><tr><td><input type=radio name=statia value="05"
checked ??STATIA=05|!STATIA
>5:Материалы&nbsp;<br>
<input type=radio name=statia value="06"
checked ??STATIA=06
>6:оборудование&nbsp;<br>
<input type=radio name=statia value="10"
checked ??STATIA=10
>10:НИР</td><td>
<input type=radio name=statia value="14"
checked ??STATIA=14
>14:Ремонт&nbsp;<br>
<input type=radio name=statia value="18"
checked ??STATIA=18
>18:Проектные работы&nbsp;<br>
<input type=radio name=statia value="19"
checked ??STATIA=19
>19:Строительство&nbsp;</td></tr></table>
</td></tr>

<tr><td class="l mand_label tb">Планируемое время:</td><td class=tb>
<b>#p_year#г.,</b>
<input type=radio name=p_month value="03"
checked ??P_MONTH=03
>I квартал
<input type=radio name=p_month value="06"
checked ??P_MONTH=06
>II квартал
<input type=radio name=p_month value="09"
checked ??P_MONTH=09
>III квартал
<input type=radio name=p_month value="12"
checked ??P_MONTH=12
>IV квартал
<input type=text class="xpc" mand="дату платежа" size=10 id=DATE_PLAT_ name=DATE_PLAT_ value="#DATE_PLAT#"> ??
</td></tr> 
<tr><td class="l tb" colspan=2>
<input class="b_nica bok" type=button value="Сохранить" 
onClick="doSubmit('u','e_pplan');">  ??REC_ID
onClick="doSubmit('n','e_pplan');">  ??!REC_ID
&nbsp;&nbsp;

<input class="b_nica badd" type=button value="Сохранить как новую" onClick="doSubmit('n','e_pplan');">  ??REC_ID
&nbsp;&nbsp;

<input class="b_nica bdel" type=button value="Удалить" onClick="doSubmit('d','e_pplan');">&nbsp;&nbsp; ??REC_ID
<input class="b_nica bcancel" type=button value="Отмена" onClick="HideDialog();"> 
</td></tr>

</table></center></div>
<script>
window.parent.showDialogCont("Запланированный платеж", document.getElementById("planForm").innerHTML); 
document.getElementById("planForm").innerHTML="";
window.parent.selectOptionByVal(window.parent.document.theForm.curr_code,"#CURR_CODE#"); ??CURR_CODE_ZZZ
window.parent.selectOptionByVal(window.parent.document.theForm.statia,"#STATIA#");		??STATIA_ZZZ
window.parent.selectOptionByVal(window.parent.document.theForm.p_year,"#P_YEAR#");	??P_YEAR
window.parent.selectOptionByVal(window.parent.document.theForm.p_month,"#P_MONTH#");	??P_MONTH
</script>
[end]


[field_e] param: title; name; val; size=25; break=; cont=;
<tr><td 
class="l tb">#title#:</td><td class="tb" ??break
class="l">#title#:</td><td  ??!break
><input size=#size# name="#name#" class=xp value="#val#">
</td></tr> ??!cont
[end]


========================================================

[preSQLs]
select TASK_ID as "WU_ID" from nica_pplan_#VER# where ID=#REC_ID# ??REC_ID
;
select to_char(date_start,'YYYY') as "p_year" from nica_ver_data where w_id=#curr_id# and version=#VER#
;
select to_char(date_start,'YYYY') as "p_year" from nica_ver_data where w_id=#WU_ID# and version=#VER# ??!p_year&WU_ID
;
[end]


[getRecord]
select   ID, TASK_ID, NR, NAZNACH, CONTRAG, DOGOVOR
, to_char(DAT, 'dd.mm.yyyy') as "DATE_PLAT", to_char(DAT, 'yyyy') as "P_YEAR"
, to_char(DAT, 'mm') as "P_MONTH" ??
, to_char(QUA*3,'00') as "P_MONTH"
, to_char(STATIA,'00') as "STATIA"
, SUMMA_CURR, CURR_CODE
, to_char(SUMMA_RUB,'999G999G999G990') as SUMMA_RUB
, to_char(SUMMA_USD,'999G999G999G990') as SUMMA_USD
, to_char(SUMMA_EUR,'999G999G999G990') as SUMMA_EUR
, RATE_USD, RATE_EUR ??
,	to_char(CREATED, 'dd.mm.yyyy') as "CRE",	CREATOR_ID
, to_char(MODIFIED, 'dd.mm.yyyy') as "MOD", MODIFIER_ID
from nica_pplan_#VER#
where ID=#REC_ID#
[end]


[addRecord]
select nvl(max(id),0) + 1 as REC_ID, to_char(SYSDATE, 'dd.mm.yyyy') as "MODIFIED" from nica_pplan_#VER#
;
select nvl(max(nr),0) + 1 as NEW_NR from nica_pplan_#VER# where TASK_ID=#curr_id#
;
insert into nica_pplan_#VER# ( ID, TASK_ID, NR, NAZNACH, CONTRAG, DOGOVOR
, DAT, YR, QUA
, STATIA, SUMMA_CURR, CURR_CODE
,	CREATED,	CREATOR_ID, MODIFIED, MODIFIER_ID
)
values (#REC_ID#, #curr_id#, #NEW_NR#, '#NAZNACH_#', '#CONTRAG_#', '#DOGOVOR_#'
, to_date('30.#p_month#.#p_year#', 'dd.mm.yyyy')
, #p_year#, floor((#p_month# + 1) / 3)
, #statia#, #summa_curr#, #curr_code#
, SYSDATE, #USER_ID#
, SYSDATE, #USER_ID# ??!auto
, null, null ??auto
);
[end]


[update record]
select to_char(SYSDATE, 'dd.mm.yyyy') as "MODIFIED" from dual
;
update nica_pplan_#VER#
set NAZNACH='#NAZNACH_#', CONTRAG='#CONTRAG_#', DOGOVOR='#DOGOVOR_#'
, DAT=to_date('30.#p_month#.#p_year#', 'dd.mm.yyyy')
, YR=#p_year#, qua=floor((#p_month# + 1) / 3)
, STATIA=#statia#
, SUMMA_CURR=#summa_curr#, CURR_CODE=#curr_code#
,MODIFIED=SYSDATE, MODIFIER_ID=#USER_ID#
where id=#REC_ID#
[end]

[set aggr]
update nica_pplan_#VER# p
set p.aggr=(select i.aggr from nica_plan_stat I where i.statia=p.statia)
where id=#REC_ID#
[end]


[deleteRecord]
delete from nica_pplan_#VER# where id=#REC_ID#
[end]

[calculate equiv$]
$INCLUDE [getRates]
$INCLUDE [calc usd]   ??curr_code=840
$INCLUDE [calc rub]   ??curr_code=810
$INCLUDE [calc eur] 	??curr_code=978
$INCLUDE [calc chf] 	??curr_code=756_ZZZ
where id=#REC_ID#;
[end]

[getRates]
select USD_RUB as "R_USD", EUR_RUB as "R_EUR", EUR_USD as "R_USD_EUR"
from BUDGET_RATES r where year=#f_nica_year#;
select curr_rate as "R_CHF" from i_rate_desc r  where r.curr_code=756 and r.d_dat <= to_date('#MODIFIED#','dd.mm.yyyy') and rownum=1; ??
[end]	

[calc rub]
update nica_pplan_#VER# set 
	summa_rub=round(summa_curr,2) 
,	summa_usd=round(summa_curr/#R_USD#,2)
, summa_eur=round(summa_curr/#R_EUR#,2)
[end]

[calc usd]
update nica_pplan_#VER# set 
	summa_usd=round(summa_curr,2) 
, summa_rub=round(summa_curr*#R_USD#,2) 
, summa_eur=round(summa_curr/#R_USD_EUR#,2)  
[end]

[calc eur]
update nica_pplan_#VER# set 
	summa_rub=round(summa_curr*#R_EUR#,2)
,	summa_usd=round(summa_curr*#R_USD_EUR#,2)
, summa_eur=summa_curr
[end]

[calc chf]
update nica_pplan_#VER# set 
	summa_rub=round(summa_curr*#R_CHF#,2)
,	summa_usd=round(summa_curr*#R_CHF#/#R_USD#,2)
, summa_eur=round(summa_curr*#R_CHF#/#R_EUR#,2)
[end]

