[parameters]
service=dubna.walt.service.TableServiceSpecial
debug=off
KeepLog=false
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0
makeTotalsForCols=SUMMA_RUB,SUMMA_USD
totRowLabel=Всего:
NumSpecialCols=2  ??VER_RW=1
NumSpecialCols=3  ??!VER_RW=1
numDigits=0
thsnDelimiter=&nbsp;
[end]

[numDigitsForCols]
STATIA=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
[end]


=================  ГРАФИК ПЛАТЕЖЕЙ - ПЕРЕСЧЕТ КУРСОВ ===============
Берет бюджетные курсы из ADB
-----------------  Используется в ручную - ПОСТАВИТЬ ПАРАМЕТРЫ! ------

c=nica/e_recalc_plan

[report header]
$SET_PARAMETERS VER=10; f_nica_year=2017; p_year=2017;
[end]


[item]
#REC_ID#; #curr_code#;<br>
$GET_DATA [calculate equiv$]
$GET_DATA nica/e_pplan_process.cfg[update parents]
[end]



[report footer]
[end]

[calculate equiv$]
$INCLUDE nica/e_pplan_process.cfg[getRates]  ??!R_USD
;
$INCLUDE nica/e_pplan_process.cfg[calc usd]   ??curr_code=840
$INCLUDE nica/e_pplan_process.cfg[calc rub]   ??curr_code=810
$INCLUDE nica/e_pplan_process.cfg[calc eur] 	??curr_code=978
where id=#REC_ID#;
[end]

========================================================

[preSQLs]
[end]


[SQL]
select id as REC_ID, curr_code as "curr_code", TASK_ID as WU_ID
from nica_pplan_#VER#
where extract(year from DAT)=#p_year#
and TASK_ID in(22106, 22064) ??
[end]

