[parameters]
debug=off
KeepLog=false
mark=<sup>*</sup>
[end]

===== ѕроставить дл€ родителей данной WU (wu_id) общий план и план тек.года =======
----- Ќова€ верси€ - без вывода клиенту, с обновлением плана на тек.год

c=nica/e_setPlanTotal&wu_id=22004&VER=9


[report]
+++++ ќбновление общего плана +++++
<xmp>
$INCLUDE [doIt]
</xmp>
$GET_DATA [doIt]
<div id=totpaln>
#PRICETOTALPLAN_# $  ??PRICETOTALPLAN_>0
</div>

$SET_PARAMETERS WU_ID=#wu_id#; p_year=#CURR_YEAR#;

+++++ ќбновление плана на год +++++

<xmp>
$INCLUDE nica/e_pplan_process.cfg[update parents] ??!ERROR
</xmp>
$GET_DATA nica/e_pplan_process.cfg[update parents]  ??!ERROR

#ERROR#
[end]


========================================================
[doIt]
select nvl(sum(SUMMA_USD),0) as "PRICETOTALPLAN_" from nica_pplan_#VER# where TASK_ID=#wu_id# 
;
update nica_ver_data set PriceTotalPlan=#PRICETOTALPLAN_# where w_id=#wu_id# and version=#VER# ??PRICETOTALPLAN_
;
select pid as "P1" from nica_wu where id=#wu_id#
;
select ','||id as "PARENTS" from nica_wbs connect by prior pid=id start with id=#P1#
;
update nica_ver_data w set w.PriceTotalPlan=(select sum(c.PriceTotalPlan) from NICA_WBS_WU_#VER# c where c.pid=w.w_id) where w.w_id in(0#PARENTS#) and version=#VER#;
update nica_ver_data w set w.PriceTotalPlan=(select sum(c.PriceTotalPlan) from NICA_WBS_WU_#VER# c where c.pid=w.w_id) where w.w_id in(0#PARENTS#) and version=#VER#;
update nica_ver_data w set w.PriceTotalPlan=(select sum(c.PriceTotalPlan) from NICA_WBS_WU_#VER# c where c.pid=w.w_id) where w.w_id in(0#PARENTS#) and version=#VER#;
[end]

