
Проставить всем WBS кол-во потомков, даты и план платежей (сумму)

c=nica/e_updateAllParents

[report]
$SET_PARAMETERS VER=10;  ??!VER
UPDATE ALL WBS-WU structure: set num.children, dates as WU's levels<br>
Plan nersion=#VER#;<br>
<xmp>
$INCLUDE [updateWUs]
</xmp>
$GET_DATA [updateWUs]
<hr>

<xmp>
$INCLUDE [update num children]
</xmp>
$GET_DATA [update num children]
<hr>

<xmp>
$INCLUDE [updateParents] ??!ERROR
</xmp>
$GET_DATA [updateParents]  ??!ERROR
<hr>

<xmp>
$INCLUDE [update parents plan] ??!ERROR
</xmp>
$GET_DATA [update parents plan]  ??!ERROR
<hr>

#ERROR#
[end]

[update num children]
update nica_wbs p set num_wu=(select count(*) from nica_wu c where c.pid=p.id and c.active=1);
update nica_wbs p set num_wbs=(select count(*) from nica_wbs c where c.pid=p.id and c.active=1); 
update nica_wbs set num_children=num_wbs + num_wu;
[end]



[updateWUs]
update nica_wu w set lev=(select lev+1 from nica_wbs p where p.id=w.pid); 

update nica_ver_data w  /* UPDATE DATES FOR THE WUs */ 
set w.date_start=(select c.date_start from NICA_WU c where c.id=w.w_id)
 , w.date_finish=(select c.date_finish from NICA_WU c where c.id=w.w_id)
  where w.version=#VER# and w.w_id in (select id from nica_wu)
;
[end]


[updateParents]
update nica_ver_data w  /* UPDATE DATES FOR THE LOWEST WBS LEVEL*/ 
set w.date_start=(select min(c.date_start) from NICA_WU c where c.pid=w.w_id and c.ACTIVE=1 and not c.date_start is null)
 , w.date_finish=(select max(c.date_finish) from NICA_WU c where c.pid=w.w_id and c.ACTIVE=1 and not c.date_finish is null)
  where version=#VER# and w_id in (select id from nica_wbs)
;
update nica_ver_data w /* UPDATE DATES FOR NEXT PARENTS */ 
set w.date_start=(select min(c.date_start) from NICA_WBS_WU_#VER# c where c.pid=w.w_id and c.ACTIVE=1 and not c.date_start is null)
 , w.date_finish=(select max(c.date_finish) from NICA_WBS_WU_#VER# c where c.pid=w.w_id and c.ACTIVE=1 and not c.date_finish is null)
  where version=#VER# and w_id in (select id from nica_wbs)
;
update nica_ver_data w set 
   w.date_start=(select min(c.date_start) from NICA_WBS_WU_#VER# c where c.pid=w.w_id and c.ACTIVE=1 and not c.date_start is null)
 , w.date_finish=(select max(c.date_finish) from NICA_WBS_WU_#VER# c where c.pid=w.w_id and c.ACTIVE=1 and not c.date_finish is null)
  where version=#VER# and w_id in (select id from nica_wbs)
;

update nica_wbs w /* COPY DATES TO WBS table */
set w.date_start=(select vd.date_start from NICA_VER_DATA vd where vd.w_id=w.id and vd.version=#VER# and not vd.date_start is null)
 , w.date_finish=(select vd.date_finish from NICA_VER_DATA vd where vd.w_id=w.id and vd.version=#VER# and not vd.date_finish is null)
  where active=1
;
[end]


[update parents plan]
update nica_ver_data w /* UPDATE PRICEYEARPLAN 4 LEVELS 3  */
set w.PriceYearPlan=(select sum(c.PriceYearPlan) from nica_wbs_wu_#VER# c where c.pid=w.w_id)
where  w.version=#VER# and w.w_id in(select id from nica_wbs where lev=3 and active=1) 
;
update nica_ver_data w /* UPDATE PRICEYEARPLAN 4 LEVEL 2 */
set w.PriceYearPlan=(select sum(c.PriceYearPlan) from nica_wbs_wu_#VER# c where c.pid=w.w_id)
where  w.version=#VER# and w.w_id in(select id from nica_wbs where lev=2 and active=1) 
;
update nica_ver_data w /* UPDATE PRICEYEARPLAN 4 LEVEL 1 */
set w.PriceYearPlan=(select sum(c.PriceYearPlan) from nica_wbs_wu_#VER# c where c.pid=w.w_id)
where  w.version=#VER# and w.w_id in(select id from nica_wbs where lev=1 and active=1) 
;
update nica_ver_data w /* UPDATE PRICEYEARPLAN 4 ROOT */
set w.PriceYearPlan=(select sum(c.PriceYearPlan) from nica_wbs_wu_#VER# c where c.pid=w.w_id)
where  w.version=#VER# and w.w_id=0
;
[end]
