[parameters]
service=dubna.walt.service.TableServiceSpecial  ??!form=y
of=xlh ??
defHeader=Y
table_docs=docs

tableCfg=this
makeTotalsForCols=
hide_totals=y
numDigits=2 
thsnDelimiter=
show_eur=

READ_ONLY=true ??!type
NumSpecialCols=0

wrapperTable=none
table_beg=none 

$INCLUDE common.dat[colors]
[end]



[report header]
<HTML><HEAD><TITLE>NICA MPD => EVM</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
<style>
td {FONT-SIZE: 8pt; vertical-align:top;}
</style>
</head>
$INCLUDE [logged report header]  ??logged
[end]


[logged report header]
$SET_PARAMETERS f_docdat2=; f_docdat1=; f_regdat1=; f_regdat2=; f_sbj=; f_search=; f_receiver=; f_paydat1=; f_paydat2  ??f_regnr
$SET_PARAMETERS f_doc_type=;payed=; curr=; sent=;  ??f_regnr

$SET_PARAMETERS f_regdat2=#TODAY#; 	??dat_form
$SET_PARAMETERS cb_des=y; ??f_search
$SET_PARAMETERS srn=1; rpp=9999

$SET_PARAMETERS srt=1; desc=DESC ??!srt
$SET_PARAMETERS dsumm=1  ??!dsumm

$INCLUDE common.dat[head] ??!of=xlh

<body >
$INCLUDE [theForm] ??!of=xlh
<table 
border=1 ??of=xlh
class=n cellspacing=0 style="margin:10px; border:solid 1px black; background-color:white;" ??!of=xlh
>
$INCLUDE [topRow] ??of=xlh
[end]

[topRow]
<tr  bgcolor="F0F4F4">
<th style="width:60px;"> </th>
<th style="width:60px;">Version:</th>
<th style="width:100px;">0.1-SNAPSHOT</th>
<th style="width:80px;"> </th>
<th style="width:80px;">Generated:</th>
<th style="width:600px;">#NOW#</th>
<th style="width:80px;"> </th>
<th style="width:80px;"> </th>
</tr>
[end]

[theForm]
<link rel="stylesheet" href="#ServletPath#?c=tabs_css" type="text/css"> ??debug=on
<link rel="stylesheet" href="#cssPath#tabs.css" type="text/css"> ??!debug=on
<style>
table.n td, th {border-right:dotted 1px grey; border-bottom:solid 1px grey;}
.mark {color:##F0a000;} ??
</style>

<script>
function doIt()
{ document.theForm.submit();
}
function editDoc(docId, prjId)
{ 
	if (prjId && prjId > 0) ??
		openWindow("c=nica/docEdit&type=ext&type=ext&DOC_ID="+docId,"docEdit"+docId,1000,650); ??
	else ??
	{
		alert("#type#"); ??
		openWindow("c=nica/docEdit&stype=#type#&DOC_ID="+docId,"docEdit"+docId,1000,650);
	}
}

function getXL()
{
	if(exp)
		frm.c.value="nica/list_export_XL";
	else
		frm.c.value="nica/list_XL";
 frm.submit();
 frm.c.value="nica/list_1";
}

</script>

<table border=0 cellpadding=0 cellspacing=0 width=98%>
<tr><td width=90%><h3> &nbsp; NICA-MPD: экспорт в EVM</h3></td>
<td align=right nowrap=true></td><td align=right nowrap=true>
<a class=info href="#ServletPath#">Главная</a></td></tr></table>

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<table border=0 cellspacing=5 style="padding:10px; margin:20px 0 20px 100px; border:solid 1px black;  background-color:white;">
<tr><td><b>Отобрать записи:</b></td><td>

<input type=radio name=evm_check value="NM" onClick="doIt()"
checked ??evm_check=NM
>Только новые и измененные<br>
<input type=radio name=evm_check value="N" onClick="doIt()"
checked ??evm_check=N
>Только новые<br>
<input type=radio name=evm_check value="O" onClick="doIt()"
checked ??evm_check=O
>Только старые<br>
<input type=radio name=evm_check value="E" onClick="doIt()"
checked ??evm_check=E
>Только ошибки (проверяется сумма и для неразнесенных - BC_CODE)<br>
<input type=radio name=evm_check value="M" onClick="doIt()"
checked ??evm_check=M
>Только разнесенные<br>
<input type=radio name=evm_check value="" onClick="doIt()"
checked ??!evm_check
>Все</td>
<td>
<a href="#ServletPath#?c=#c#&evm_check=#evm_check#&of=xlh&tm=#tm#" alt="Загрузить в Excel"><img 
src="#imgPath#XL.png" border=0 width=29 height=31 alt="Загрузить в Excel" 
style="margin:0 0 0 30px; border:solid 1px ##40aa60;"></a>
</td>
</tr>

<tr><td align=right><b>Дата оплаты:&nbsp;</b><br>(Valid Date)</td><td>&nbsp; с&nbsp;
$INCLUDE common.dat[dat] param: fd_name=f_paydat1; fd_val=#f_paydat1#;
 [по: 
$INCLUDE common.dat[dat] param: fd_name=f_paydat2; fd_val=#f_paydat2#;
 ]
 <input type=submit class=but style="margin:0 0 0 20px;" value="Получить">&nbsp;&nbsp;
</td></tr>

</table>
</form>
$INCLUDE [total table] ??!evm_check=NM&!evm_check=E&!evm_check=M
[end]


[total table]
$GET_DATA [SQL_Total]
<center>
<table cellpadding=5 cellspacing=0 border=0 bgcolor=white><tr><th nowrap=true>
Всего документов: #NUM_DOCS#, </th><th style="text-align:right;">
сумма: #TOT_SUMMA_USD# $
</th></tr></table>
</center>
[end]


<input type=radio name=evm_check value="A"
checked ??evm_check=A
>Все (без ошибок и разнесенных)<br>

[report footer]
</body></HTML>
[end]


[item]
$GET_DATA [getEVMData] ??EVM_ID
$SET_PARAMETERS show=Y; ERROR=BC Code=#BC_CODE#(#N_CODE#=>#E_CODE#); ??!BC_CODE=#PROJECT_ID#&NUM_RECS=1
$SET_PARAMETERS show=Y ??!evm_check
$SET_PARAMETERS show=Y ??evm_check=A&DIFF=0
$SET_PARAMETERS show=Y ??evm_check=E&DIFF>0
$SET_PARAMETERS show=Y ??evm_check={{M|O|N}}
$SET_PARAMETERS show=Y ??evm_check=NM&!EVM_ID
$SET_PARAMETERS show=Y ??evm_check=NM&NUM_RECS=1&DIFF>0|!BC_CODE=#PROJECT_ID#
$INCLUDE [record]  ??show
$SET_PARAMETERS show=; EVM_ID=; N_CODE=; E_CODE=; ERROR=; NUM_RECS=; PROJECT_ID=; 
$SET_PARAMETERS ERROR=; ACTUAL_COST=; DIFF=;
[end]

[record]
<tr>
<td>#EVM_ID#</td> ??EVM_ID|of=xlh
<td>&nbsp;</td> ??!EVM_ID&!of=xlh
<td>N</td>  ??!EVM_ID
<td>M</td>  ??EVM_ID

<td>
#PROJECT_ID#  ??of=xlh
#PROJECT_ID#(#N_CODE#)   ??!of=xlh
</td><td>USD</td>

<td>
<a href="javascript:editDoc('#DOC_ID#','#d.PROJECT_ID#')">   ??!of=xlh
#DOC_ID#
</a>   ??!of=xlh
</td><td>
<small> ??!of=xlh
#Description#
</small> ??!of=xlh
</td><td 
style="text-align:right;"  ??!of=xlh
>#SUMMA_USD#</td>
<td>#Valid Date#</td>

<td>
Разнесено! Записей:#NUM_RECS#  ??NUM_RECS>1
, #BC_CODE# ??
<span class=mark>СУММА:#ACTUAL_COST#</span>, #VALID_DATE# ??DIFF>0
<span class=mark>#ERROR#</span>  ??ERROR
OK ??NUM_RECS&DIFF=0&!ERROR
</td></tr>
[end]

$GET_DATA [setExpDate] ??of=xlh


================================ SQLs ================================
[preSQLs]
select nvl(to_char(max(evm_expdat),'dd.mm.yyyy'),'01.01.2012') as "f_expdat" from docs ??!f_expdat
;
select to_char(SYSDATE,'DD.MM.YYYY') as "NOW" from dual
[end]

[getEVMData]
select e.id as "EVM_ID"
,e.NUM_RECS, e.BC_CODE, e.ACTUAL_COST, n.CODE as "E_CODE"
,to_char(e.VALID_DATE,'DD.MM.YYYY') as "VALID_DATE"
, to_char(abs(e.ACTUAL_COST-0#SUMMA_USD#),'9999990') as DIFF
from nica_evm_v e left join nica n on n.ID=e.BC_CODE
where ORDER_CODE=#DOC_ID# ??
where e.id=#EVM_ID#
[end]


[setExpDate]
update #table_docs# set evm_expdat=SYSDATE
where DOC_ID=#DOC_ID#
[end]

[SQL_Total]
SELECT count(d.DOC_ID) as "NUM_DOCS"
,	to_char(sum( d.SUMMA_USD ),'999999999990D00') as "TOT_SUMMA_USD" ??
,	
 to_char( 
	sum( 
	 decode(d.doc_type, 5, d.S_1C_USD ??
		  decode(d.is_total,'Y', 0, d.SUMMA_USD)
		 ) 
	,'999999999990D00') 
	as "TOT_SUMMA_USD" 
FROM #table_docs# d left join bc b on b.code=d.BC
, i_kontragent k 
, nica_evm_v e 
, nica p 
$INCLUDE [criteria]
[end]

[SQL]
SELECT 
 e.id as EVM_ID
, 'N' as "cmd"
, d.PROJECT_ID

, 'USD' as "Currency"
, d.DOC_ID
	 
, case when d.doc_type=5 then
  'МНТС: '||nvl(k.NAME_SHORT,d.RECEIVER)||' / '||INFO||' / '||d.comments 
  else
  '№ '||d.EXT_DOC_NR||' '||to_char(d.DOC_DATE, 'DD.MM.YYYY')||'; '||nvl(k.NAME_SHORT,d.RECEIVER)||' / '||INFO||' / '||d.comments 
	end
	as "Description"

, case when d.doc_type=5 then	to_char(d.S_1C_USD,'999999999990D00') ??
  else decode(d.is_total,'Y', '&nbsp;','')||to_char(d.SUMMA_USD,'999999999990D00') end	??
,decode(d.is_total,'Y', '&nbsp;','')||to_char(d.SUMMA_USD,'999999999990D00') 
	as "SUMMA_USD"
	
    , to_char(d.DAT_PLAT_1,'DD.MM.YYYY') as "Valid Date"
    , to_char(d.DAT_PLAT_2,'DD.MM.YYYY') as DAT_PLAT_2  ??ZZZ
,p.code as "N_CODE"
FROM #table_docs# d left join bc b on b.code=d.BC
, i_kontragent k 
, nica_evm_v e
, nica p
$INCLUDE [criteria]

ORDER BY 
	d.DAT_PLAT_1 desc
	d.DOC_ID #desc# ??
[end]

[criteria]
WHERE d.IS_TOTAL is null
and d.doc_id=120886 ??
	and d.doc_type<>5 ??
	
	and b.PRIKAZ_ID is null
	and k.code(+)=d.RECEIVER_C
	and e.ORDER_CODE=d.DOC_ID ??evm_check=O|evm_check=E
	and e.ORDER_CODE(+)=d.DOC_ID ??!evm_check=O&!evm_check=E
	and p.id(+)=d.PROJECT_ID 
	and not d.PROJECT_ID is null
	and d.PROJECT_ID>0 
	and not d.payed is null
	and e.NUM_RECS is null ??evm_check=N
	and e.NUM_RECS>1 ??evm_check=M
	and (e.NUM_RECS is null or e.NUM_RECS=1) ??evm_check=A

	and extract(year from d.PAYED)=20#q_yr#
	and d.PAYED >= to_date('#f_paydat1#','dd.mm.yyyy')  ??f_paydat1&!f_paydat2
	and d.PAYED <= to_date('#f_paydat2# 23:59','dd.mm.yyyy HH24:MI')  ??f_paydat2&!f_paydat1

	and (evm_expdat is null ??
	or evm_expdat > to_date('#f_expdat#','dd.mm.yyyy') ??f_expdat_ZZZ
	) ??

[end]


[colNames]
EVM_ID=Id
PROJECT_ID=BC code
DOC_ID=Order Code
SUMMA_USD=Actual Cost
N_CODE=Данные EVM
[end]
