[parameters]
table_persons=i_persons

debug=off
KeepLog=true
$INCLUDE menu.cfg[tables] 
[end]


[BcInfoSQL]
SELECT b.CODE as BC, b.name_short
  ,decode (b.prikaz_id, null,'', 'пр.'||z.num||' от '||to_char(z.dat,'DD.MM.YYYY')||', '||z.des||', ')
   ||nvl(b.DES,'') 
  as DES
   , b.des ??
   , r.NAME_SHORT as DIR
   , b.LAB_CODE, l.DIV, b.SBJ_CODE, b.DEV_CODE, b.status
FROM 
 #table_budgetcodes# b ??
  BC_10_11 b ??q_yrc=11
  BC_09_10 b ??q_yrc=10
  BC_08_09 b ??q_yrc=09
  BC_07_08 b ??q_yrc=08
  BC_06_07 b ??q_yrc=07
  BC_05_06 b ??q_yrc=06
 , i_lab l, #table_tree# r, i_prikaz z
WHERE b.code like '%#BC#'
	and l.code(+)=b.LAB_CODE
	and r.id(+) = b.root_id
  and b.prikaz_id=z.id(+)
;

select tab_n||',' as RESPS from i_resp where bc=substr('#BC#',3,4)
;

select 
 '<br>&nbsp; * <a class=sm href=javascript:pasteResponsible('''
 ||tab_n||''','''||initcap(F)||''')>'
 ||trim(initcap(FIO))||'</a>' as RESP 
from #table_persons#
where tab_n IN()'#RESPS#''-21'
order by FIO
;
[end]



[report]
<html><body bgcolor=whitesmoke>
budgetcodes_table=#budgetcodes_table#
$GET_DATA [BcInfoSQL] ??BC
#DIR#, ??DIR
#DIV# (#LAB_CODE#),  ??LAB_CODE
Тема: #SBJ_CODE#,<br> ??SBJ_CODE
#DES# ??DES
#RESP#  ??RESP
<script>
try{ 
var txt= " "
 + "#DIR#," ??DIR
 + " #DIV# (#LAB_CODE#),"   ??LAB_CODE
 + " Тема: #SBJ_CODE#," ??SBJ_CODE
 + "<br><b>#DES#</b>"   ??DES
 + "#RESP#"   ??RESP
;
alert ('#BC# /' + txt + ': #LAB_CODE#'); ??
window.parent.pasteBcInfo(txt, '#LAB_CODE#'); ??BC
} catch (e) 
{ 
 alert (e);  ??
} 
</script>
</body></html>
[end]