[parameters]
debug=off
KeepLog=true
rootId=1
prj_id=#rootId# ??!prj_id
$INCLUDE menu.cfg[tables] 
[end]

[preSQLs]

[end]

[report]
<html><body bgcolor=whitesmoke>
budgetcodes_table=#budgetcodes_table#
$GET_DATA [BcInfoSQL] ??BC
#DIR#, ??DIR
#DIV# (#LAB_CODE#),  ??LAB_CODE
Тема: #SBJ_CODE#,<br> ??SBJ_CODE
#DES# ??DES
#RESP#  ??RESP
<script>
try{ 
var txt= " "
 + "#DIR#," ??DIR
 + " #DIV# (#LAB_CODE#),"   ??LAB_CODE
 + " Тема: #SBJ_CODE#," ??SBJ_CODE
 + "<br><b>#DES#</b>"   ??DES
 + "#RESP#"   ??RESP
;
alert ('#BC# /' + txt + ': #LAB_CODE#'); ??
window.parent.pasteBcInfo(txt, '#LAB_CODE#'); ??BC
} catch (e) 
{ 
 alert (e);  ??
} 
</script>
</body></html>
[end]