[parameters]
service=dubna.walt.service.TableServiceSpecial
debug=off
KeepLog=false
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
ROOT_ID=0
thsnDelimiter=&nbsp;
$INCLUDE menu.cfg[tables] 
[end]

 
[script]
<style>
##selDiv {border:solid 1px gray; color: ##000080; cursor:pointer; margin:10px 0 0 0;}
##currSelection {background-color: whitesmoke; border:solid 1px ##808080; margin:1px; padding:3px;} 
fieldset.selectedProject {border:solid 1px black; background-color:white;}
##prjPath {margin:0 20px 0 20px;}
.ppath { cursor:pointer;  color: ##000080; FONT-SIZE: 10pt; color: #0000B0; FONT-FAMILY: Verdana, Arial, sans-serif; }
.ppath_a {cursor:pointer; color: ##FF0000; text-decoration: underline; background-color: ##FFFFA0; FONT-SIZE: 10pt; color: #0000B0; FONT-FAMILY: Verdana, Arial, sans-serif;}
.selector {padding: 1px 0 1px 20px; border-top:solid 1px gray; }
.selector_a {padding: 1px 0 1px 20px; background-color: ##FFFFA0; text-decoration: underline; border-top:solid 1px gray;}
.pp0 {display:inline;}
.pp1 {margin:0 0 0 20px;}
.pp2 {margin:0 0 0 40px;}
.pp3 {margin:0 0 0 60px;}
.pp4 {margin:0 0 0 80px;}
.pp_a {color: ##FF0000; text-decoration: underline; background-color: ##FFFFA0; }
.PAST {background-color: ##e8e8e8;}
.CURRENT {background-color: ##c8FFc0;}
.FUTURE  {background-color: ##d8f0FF;}
table.tmoney td {text-align:right; FONT-SIZE: 11pt;}
table.tmoney tr.neg {color:red; }
table.tmoney tr.pos {color:green; }

</style>
<script>
function setAct(id, act)
{
	var d = document.getElementById(id);
	var c = d.className.split("_");
	alert(c) ??
	if (act)
		d.className=c[0] + "_a";
	else
		d.className=c[0];
}
function addClass(id, className, add)
{
	var d = document.getElementById(id);
	var c = d.className;
	if (add)
		d.className=c + " " + className;
	else
	{
		var i = c.indexOf(className);
		if (i >=0)
			d.className=c.substring(0, i) + c.substring(i + className.length + 1);
	}
}
</script>
[end]

$SET_PARAMETERS CAN_EDIT=Y ??USER_ID=34|USER_ID=318|USER_ID=368|USER_ID=369|g_sys=USER_GROUP

[report header]
    <html><head>
    <title>Выбор проекта</title>
    $CALL_SERVICE c=nica/i_getCurrVersion
    $SET_PARAMETERS prj_id=#ROOT_ID# ??!prj_id
    $GET_DATA [getParent] ??
    $INCLUDE nica/getProjectList.cfg[script]
    <link rel="stylesheet" href="/adb/js/adb.css" type="text/css">
    </head><body>
    $SET_PARAMETERS f_yr=#q_yr#; ??!done
    <form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return setRoot(#prj_id#);">
    <input type=hidden name="c" value="#c#">
    <input type=hidden name="prj_id" value="#prj_id#">
    <input type=hidden name="LIST" value="#LIST#">
    <input type=hidden name="tm" value="#tm#">
    <input type=hidden name="done" value="y">

    <div id=currSelection>
    <b>Выбрано:</b> ??
    <div style="clear:both;"></div> ??
    $CALL_SERVICE c=nica/getProjectPath; 
    <br><center>

    $SET_PARAMETERS NODE_PLAN=0.01; ??NODE_PLAN=0.0&prj_id=22565&ZZZZZ-заглушка, обход пустого плана
    TYP=#TYP#; DAT_STATUS=#DAT_STATUS#; LIST=#LIST#; ??
    <input class=button type=button value="Выбрать" 
    disabled ??ZZZ&!LIST=Y&!DAT_STATUS=FUTURE&NODE_PLAN=0.0|!TYP=WU
    disabled ??!LIST=Y&!TYP=WU|DAT_STATUS=FUTURE
    onClick="setProject();">
    TYP=#TYP#; LIST=#LIST#; ??
    &nbsp;&nbsp;
    <input class=button type=button value="Закрыть окно" onClick="window.close();">
    </center>
    </div>

    <div id=selDiv> 
    <div 
    style="visibility:hidden;"  ??!TYP=WBS
    ><b>Дочерние элементы:</b> &nbsp;
    (<input type=radio name=f_yr value="#q_yr#" onClick="setRoot(#prj_id#);"
    checked ??f_yr=#q_yr#
    >20#q_yr#г.
    <input type=radio name=f_yr value="" onClick="setRoot(#prj_id#);"
    checked ??!f_yr=#q_yr#
    disabled ??!showAll&ZZZ
    >все)
    </div>
[end]

[item]
<div id='d_#ID#' class="selector #DAT_STATUS#" onClick="setRoot(#ID#)" onMouseOver="setAct('d_#ID#', true)" onMouseOut="setAct('d_#ID#', false)">
<img width="12" height="12" border="0" src="#imgPath#task1_12.gif"> ??TYP=WU
#SORT#; ??
#CODE# <small>(#START# - #FINISH#)</small> #TITLE#
&nbsp; <small>(#RESP# #DEPUTY#)</small> ??RESP|DEPUTY
'#TYP#' ??
</div>
[end]

[report footer]
</div>
</form>


<script>
window.focus();
	
function setProject()
{
	window.opener.document.theForm.PROJECT_ID.value = "#prj_id#";
	window.opener.pasteResults(document.getElementById("path_result").innerHTML, "prjPath");
	window.opener.document.theForm.submit(); ??LIST=Y
	alert("4"); ??
	window.close();
}

function clearProject()
{ if (confirm("Этот документ не относится к проекту NICA?\n\rУдалить привязку к проекту?"))
	{
		window.opener.document.theForm.PROJECT_ID.value = "";
		window.opener.document.theForm.c.value = "doc/docEdit";
		window.opener.save();
		window.close();
	}
}

function setRoot(id)
{
//alert(id);
	if(id || id==0)
		document.theForm.prj_id.value=id;
	document.theForm.submit();
	return false;
	window.location.href="#ServletPath#?c=nica/getProjectList&tm=#tm#&LIST=#LIST#&&showAll=#showAll#&prj_id=" + id; ??
}
</script>
</body></html>
[end]

========================================================
[preSQLs]
$INCLUDE [getNode] ??
[end]

[SQL]
select id, title, resp, deputy, code as "CODE", ACTIVE, TYP
, to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"
, to_char(date_start,'DD.MM.YY') as "START"
, to_char(date_finish,'DD.MM.YYYY') as "FINISH"
, case 
	when (date_start<sysdate and date_finish<sysdate) then 'PAST'
	when (sysdate between date_start and date_finish) then 'CURRENT'
	else 'FUTURE'
	end as "DAT_STATUS"
from nica_wbs_wu_#VER# 
where pid=#prj_id#
and active>0 ??
	??!showAll
and (id in(select ID from nica_wbs_wu connect by prior id=pid start with id in(#A_NICA#)) or id in(select ID from nica_wbs_wu connect by prior pid=id start with id in(#A_NICA#)) )??NICA_ONLY&A_NICA	

and (TYP='WBS' or (extract(year from date_start) <= 20#f_yr# and extract(year from date_finish) >= 20#f_yr# )) ??f_yr

and (milestone is null or not milestone=1)
order by SORT
[end]

[getNode]
select n.CODE, n.TITLE, n.DES, n.RESP, n.DEPUTY, n.LEV, n.ACTIVE, n.TYP as "N_TYP"
, to_char(n.CREATED,'DD.MM.YYYY HH:MI') as CREATED, u.FIO as CREATOR
, to_char(n.MODIFIED,'DD.MM.YYYY HH:MI') as MODIFIED, uu.FIO as MODIFIER
from nica_wbs_wu n left join USERS u on u.id=n.CREATOR_ID
left join USERS uu on uu.id=n.MODIFIER_ID
where n.id=#prj_id#
[end]


[ZZZZZZZ setRootId] ***** не сипользуется
select id as "R_ID", LEV from nica_wbs_wu where id=#prj_id#;
select pid as "R_ID" from nica_wbs_wu where id=#prj_id#; ??LEV>1
select pid as "R_ID" from nica_wbs_wu where id=#R_ID#; ??LEV>2
update nica set root_id=#R_ID# where id=#prj_id#;
[end]


[ZZZZZZZZgetNumDocs] ***** не сипользуется
select count(*) as "NUM_DOCS" from docs
where PROJECT_ID in(select ID from nica_wbs_wu connect by prior id=pid start with id=#prj_id#);
select count(id) as "NUM_CHILDS" from nica_wbs_wu where pid=#prj_id#;
[end]