[parameters]
service=dubna.walt.service.TableServiceSpecial
debug=off
KeepLog=true
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
tr_beg=none
prj_id=-1
thsnDelimiter=&nbsp;
$INCLUDE menu.cfg[tables] 
[end]

[report header]
$INCLUDE nica/getProjectPath.cfg[html report header] ??!XL
[end]

[html report header]
    $INCLUDE nica/getProjectList.cfg[script]
    <div id=path_result>
        <b>Выбрано:</b> ??!LIST=F
        $INCLUDE nica/getProjectPath.cfg[root]
[end]

[item]
    $INCLUDE nica/getProjectPath.cfg[html item] ??!XL
    $INCLUDE nica/getProjectPath.cfg[XL item] ??XL
[end]

[html item]
    <div id='dp_#ID#' class="ppath pp#LEV#" 
        onClick="setRoot(#ID#)" onMouseOver="addClass('dp_#ID#', 'pp_a', true)" onMouseOut="addClass('dp_#ID#', 'pp_a', false)" 
    >
        <img width="12" height="12" border="0" src="/adb/images/task1_12.gif">	??TYP=WU
        <b>  ??ID=#prj_id#
        #ID#:#LEV# ??
        #COD#: #TITLE#
        </b>  ??ID=#prj_id#
        <small>(#RESP# #DEPUTY#)</small> ??RESP|DEPUTY
    </div>
[end]

[XL item]
    <h4>#COD#: #TITLE#
    <small>(#RESP# #DEPUTY#)</small> ??RESP|DEPUTY
    </h4>
[end]


[root]
    <fieldset class=selectedProject>
        <legend class="ppath" style="background-color:white; border:solid 1px ##4060e0;"
            onClick="setRoot(0)" 
                onMouseOver="setAct('dp_0', true)" onMouseOut="setAct('dp_0', false)" ??
            >
            <i>NICA: Выбрать проект</i> >> ??prj_id<0
            <i>NICA:</i> ??prj_id>-1
        </legend>
        <div id=prjPathTxt>
[end]

[money]
    <div id=path_money style="position:absolute;  top:0px; left:70%; width:30%;">
        $SET_PARAMETERS item_id=#prj_id#; 
        $SET_PARAMETERS f_nica_year=20#q_yr#;
        $GET_DATA nica/r_plan_fact_node.cfg[getPlanFactNode]
        $SET_PARAMETERS NODE_PLAN=0.0;  ??!NODE_PLAN
        <table class="tmoney" cellpadding=0; cellspacing=0 style="border:solid 1px red; margin:2px; background-color:white; float:right;">
            <tr><td>Запланировано:</td><td>#NODE_PLAN# тыс.$</td></tr>
            <tr><td>Оплачено:</td><td>#NODE_PAYED# тыс.$</td></tr>
            <tr><td>Ожидает:</td><td>#NODE_WAIT# тыс.$</td></tr>
            <tr
                class="#CLASS#" ??CLASS
            ><td
                class="#CLASS#" ??CLASS_ZZ
            ><b>Остаток:</b></td><td
                class="#CLASS#" ??CLASS
            ><b>#NODE_REST# тыс.$</b></td></tr>
        </table>
    </div>
[end]


[report footer]
    &nbsp; ??!COD&!LIST=F
    <a href="javascript:resetProject();">сбросить</a> ??COD&LIST=F
    <div style="text-align:left; margin-top:-17px; padding-left:170px;"><input class=xpc size=7 name="f_nica_code" value='#f_nica_code#'></div> ??!COD&LIST=F
    $INCLUDE nica/getProjectPath.cfg[money]  ??!LIST=F&!LIST=Y
    </div>
    </fieldset></div>


    <div style="border:solid 1px green; clear:both;">xxx</div> ??

    <script>
        function pastePath()
        {
                try{
                        window.parent.pasteResults(document.getElementById("path_result").innerHTML, "prjPath");

                } catch (e) 
                { 
                 alert (e);  
                }
        }
        alert("DOC_ID=#DOC_ID#"); ??
        pastePath(); ??DOC_ID
    </script>
[end]



[SQL]
select ID, PID, TITLE, DES, LEV, TYP, RESP, DEPUTY, CODE, CODE as "COD"
, case 
	when (date_start<sysdate and date_finish<sysdate) then 'PAST'
	when (sysdate between date_start and date_finish) then 'CURRENT'
	else 'FUTURE'
	end as "DAT_STATUS"
	
from nica_wbs_wu
where id in
( select ID from nica_wbs_wu where id>0 and active>0
  connect by prior pid=id start with id=#prj_id#
)
order by lev
[end]

