[parameters]
debug=off
KeepLog=true
mark=<sup>*</sup>
[end]


[report]
$INCLUDE [form] ??!cop
$INCLUDE [process] ??cop
[end]

[process]
$GET_DATA [addRecord] ??cop=n
$GET_DATA [update record] ??cop=u
$GET_DATA [deleteRecord] ??cop=d
$GET_DATA [calculate equiv$] ??cop=n|cop=u
<script>
window.parent.HideDialog();
</script>
$CALL_SERVICE c=nica/r_pplan_table
[end]


[form]
$GET_DATA [getRecord] ??REC_ID
<div id="planForm">
<center>
<table border=0 cellpadding=5 cellspacing=0 style="margin:0 0 10px 0; background-color:white; ">
<tr><td colspan=2><b>
Запланировать платеж: ??!REC_ID
Редактирование запланированного платежа: ??REC_ID
</b></td></tr>
$SET_PARAMETERS NAZNACH=#TITLE#; ??!NAZNACH
$INCLUDE [field_e] param: title=Назначение; name=NAZNACH_; val=#NAZNACH#; size=50;  break=Y;
$INCLUDE [field_e] param: title=Контрагент; name=CONTRAG_; val=#CONTRAG#; size=50;
$INCLUDE [field_e] param: title=Договор; name=DOGOVOR_; val=#DOGOVOR#; size=50;

<tr><td nowrap=true class=l>#mark# <a class=info href="javascript:currConvert()">Сумма:</a> 
</td><td><input size=10 class="xpc" mand="сумму" id="summa_curr" name="summa_curr" value="#SUMMA_CURR#">
<select name=curr_code>
	<option value="810">руб</option>
	<option value="840">$</option>
	<option value="978">€</option>
	<option value="756">CHF</option>
  	<option value="826">GBP</option>  ??
</select>

<span id=sum_curr>(
#SUMMA_RUB# руб. &nbsp;   ??!CURR_CODE=810&SUMMA_RUB
#SUMMA_USD# USD  &nbsp;   ??!CURR_CODE=840&SUMMA_USD
#SUMMA_EUR# EUR          ??!CURR_CODE=978&SUMMA_EUR
)</span>
<tr><td nowrap=true class=l>
Статья бюджета: 
</td><td><select name=aggr><option value="0"></option>#AGGRS#</select>
</td></tr>

<tr><td class=l>#mark# Планируемая дата: </td><td>
$INCLUDE filters.dat[f_year] param:f_name=p_year;
$INCLUDE filters.dat[f_month] param:f_name=p_month; mand=y;
<input type=text class="xpc" mand="дату платежа" size=10 id=DATE_PLAT_ name=DATE_PLAT_ value="#DATE_PLAT#"> ??
</td></tr> 
<tr><td class=l></td>
<td class=l>
<input class="b_nica bok" type=button value="Сохранить" 
onClick="doSubmit('u','i_pplan');">  ??REC_ID
onClick="doSubmit('n','i_pplan');">  ??!REC_ID
&nbsp;&nbsp;
<input class="b_nica bdel" type=button value="Удалить" onClick="doSubmit('d','i_pplan');">&nbsp;&nbsp; ??REC_ID
<input class="b_nica bcancel" type=button value="Отмена" onClick="HideDialog();"> 
</td></tr>

</table></center></div>
<script>
window.parent.showDialogCont("Запланированный платеж", document.getElementById("planForm").innerHTML); 
document.getElementById("planForm").innerHTML="";
window.parent.selectOptionByVal(window.parent.document.theForm.curr_code,"#CURR_CODE#"); ??CURR_CODE
window.parent.selectOptionByVal(window.parent.document.theForm.aggr,"#STATIA#");		??STATIA
window.parent.selectOptionByVal(window.parent.document.theForm.p_year,"#P_YEAR#");	??P_YEAR
window.parent.selectOptionByVal(window.parent.document.theForm.p_month,"#P_MONTH#");	??P_MONTH
</script>
[end]


[field_e] param: title; name; val; size=25; break=; cont=;
<tr><td 
class="l tb">#title#:</td><td class="tb" ??break
class="l">#title#:</td><td  ??!break
><input size=#size# name="#name#" class=xp value="#val#">
</td></tr> ??!cont
[end]


========================================================

[preSQLs]
[end]

[getRecord]
select   ID, TASK_ID, NR, NAZNACH, CONTRAG, DOGOVOR
, to_char(DAT, 'dd.mm.yyyy') as "DATE_PLAT"
, to_char(DAT, 'yyyy') as "P_YEAR"
, to_char(DAT, 'mm') as "P_MONTH"
, to_char(STATIA,'00') as "STATIA"
, SUMMA_CURR, CURR_CODE
, SUMMA_RUB 
, SUMMA_USD 
, SUMMA_EUR 
, RATE_USD, RATE_EUR ??
,	to_char(CREATED, 'dd.mm.yyyy') as "CRE",	CREATOR_ID
, to_char(MODIFIED, 'dd.mm.yyyy') as "MOD", MODIFIER_ID
from nica_pplan
where ID=#REC_ID#
[end]


[addRecord]
select nvl(max(id),0) + 1 as REC_ID, to_char(SYSDATE, 'dd.mm.yyyy') as "MODIFIED" from nica_pplan
;
select nvl(max(id),0) + 1 as NEW_NR from nica_pplan where TASK_ID=#curr_id#
;
insert into nica_pplan ( ID, TASK_ID, NR, NAZNACH, CONTRAG, DOGOVOR
, DAT 
 ??DATE_PLAT_
, STATIA
, SUMMA_CURR, CURR_CODE
,	CREATED,	CREATOR_ID, MODIFIED, MODIFIER_ID

)
values (#REC_ID#, #curr_id#, #NEW_NR#, '#NAZNACH_#', '#CONTRAG_#', '#DOGOVOR_#'
, to_date('#DATE_PLAT_#', 'dd.mm.yyyy') ??DATE_PLAT_ZZZ
, to_date('01.#p_month#.#p_year#', 'dd.mm.yyyy') 
, #aggr#, #summa_curr#, #curr_code#
, SYSDATE, #USER_ID#, SYSDATE, #USER_ID#)
;
[end]

, SUMMA_RUB ??curr_code=810
, SUMMA_USD ??curr_code=840
, SUMMA_EUR ??curr_code=978
, RATE_USD, RATE_EUR ??

, #summa_curr#

[update record]
select to_char(SYSDATE, 'dd.mm.yyyy') as "MODIFIED" from dual
;
update nica_pplan
set NAZNACH='#NAZNACH_#', CONTRAG='#CONTRAG_#', DOGOVOR='#DOGOVOR_#'
, DAT=to_date('01.#p_month#.#p_year#', 'dd.mm.yyyy')
, STATIA=#aggr#
, SUMMA_CURR=#summa_curr#, CURR_CODE=#curr_code#
,MODIFIED=SYSDATE, MODIFIER_ID=#USER_ID#
where id=#REC_ID#
[end]

, SUMMA_RUB=#summa_curr# ??curr_code=810
, SUMMA_USD=#summa_curr# ??curr_code=840
, SUMMA_EUR=#summa_curr# ??curr_code=97

[deleteRecord]
delete from nica_pplan where id=#REC_ID#
[end]

[calculate equiv$]
$INCLUDE [getRates]
$INCLUDE [calc usd]   ??curr_code=840
$INCLUDE [calc rub]   ??curr_code=810
$INCLUDE [calc eur] 	??curr_code=978
$INCLUDE [calc chf] 	??curr_code=756
where id=#REC_ID#;
[end]

[getRates]
select USD_RUB as "R_USD", EUR_RUB as "R_EUR", EUR_USD as "R_USD_EUR"
from BUDGET_RATES r where year=20#q_yr#;
select curr_rate as "R_CHF" from i_rate_desc r  where r.curr_code=756 and r.d_dat <= to_date('#MODIFIED#','dd.mm.yyyy') and rownum=1;
[end]	

[calc rub]
update nica_pplan set 
	summa_rub=round(summa_curr,2) 
,	summa_usd=round(summa_curr/#R_USD#,2)
, summa_eur=round(summa_curr/#R_EUR#,2)
[end]

[calc usd]
update nica_pplan set 
	summa_usd=round(summa_curr,2) 
, summa_rub=round(summa_curr*#R_USD#,2) 
, summa_eur=round(summa_curr/#R_USD_EUR#,2)  
[end]

[calc eur]
update nica_pplan set 
	summa_rub=round(summa_curr*#R_EUR#,2)
,	summa_usd=round(summa_curr*#R_USD_EUR#,2)
, summa_eur=summa_curr
[end]

[calc chf]
update nica_pplan set 
	summa_rub=round(summa_curr*#R_CHF#,2)
,	summa_usd=round(summa_curr*#R_CHF#/#R_USD#,2)
, summa_eur=round(summa_curr*#R_CHF#/#R_EUR#,2)
[end]

..............................................
[getRates_ZZZ] CURRENT
select curr_rate as "R_EUR" from i_rate_desc r  where r.curr_code=978 and r.d_dat <= to_date('#MODIFIED#','dd.mm.yyyy') and rownum=1;
select curr_rate as "R_USD" from i_rate_desc r  where r.curr_code=840 and r.d_dat <= to_date('#MODIFIED#','dd.mm.yyyy') and rownum=1;
select curr_rate as "R_CHF" from i_rate_desc r  where r.curr_code=756 and r.d_dat <= to_date('#MODIFIED#','dd.mm.yyyy') and rownum=1;
[end]	

[calc other_ZZZZ]
update nica_pplan d
set summa_rub=round(d.summa_curr*(select curr_rate from i_rate_desc r
where r.curr_code=d.curr_code and r.d_dat <= d.MODIFIED and rownum=1),2) 
and id=#REC_ID#;
;
$INCLUDE [calc rub]
[end]
