[parameters]
debug=off
KeepLog=true
[end]

[report]
$SET_PARAMETERS_SESSION f_nica_year=#yr#;
<div id=result>
Версия плана:&nbsp;
<select name="VER" 
onChange="refreshTree(0);"
>
#VERSIONS#</select>
</div>

<script>
window.parent.getResult("d_versions", document.getElementById("result"));
window.parent.refreshTree(0); 
</script>
[end]

[preSQLs]

select '<option value="'||id||'">'||title||'</option>' as "VERSIONS"
from  nica_versions 
where SHOW=1 and YEAR=#yr#
order by id desc
;
[end]

<script>
alert("f_year=#def_year#");
</script>
