[parameters]
service=dubna.walt.service.TableServiceSpecial 
 ??!cop=form
debug=off
KeepLog=false
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
thsnDelimiter=&nbsp;
[end]


[report]
$INCLUDE [form] 
 ??cop=form
[end]

$INCLUDE [doIt] ??cop


[report header]
$GET_DATA [getDates]
$SET_PARAMETERS_SESSION CURR_DATE=#CURR_DATE_#; 
$CALL_SERVICE c=nica/evm/deleteProgress; ID=#EV_ID#;  ??cop=d&ZZZ
$GET_DATA [delEV] ??cop=d
$INCLUDE [saveEV] ??cop=SAVE_EV
<div id="result">  ??!INLINE=Y
$GET_DATA [getTitle] ??cop=form|INLINE=Y
$INCLUDE [form] ??cop=form
<table border=0 cellspacing=0> 
[end]

[item]
$INCLUDE [item_show] ??!cop=form
$INCLUDE [item_edit] ??cop=form
[end]

[item_show]
<tr><td>#EV_DAT#:</td><td><b>#EV_PS#% </b> (
расчетная ??EV_PS<99.9
<b> ??EV_PS>99.8
дата завершения: #PLANNED_FINISH#)
</b> ??EV_PS>99.8
<br><small>#COMMENTS#</small> ??COMMENTS
</td></tr>
[end]

[item_edit]
<tr><td>#EV_DAT#:</td><td class="r"><b>#EV_PS#% </b></td><td>
<u>(осталось #REST_DAYS# дней)</u> ??SRC_VAL=2
<u>(завершение #PLANNED_FINISH#)</u> ??SRC_VAL=3
<br>
расчетная  ??EV_PS<99.8
<b> ??EV_PS>99.8
дата завершения: #PLANNED_FINISH#
</b> ??EV_PS>99.8
<br><small>#COMMENTS#</small> ??COMMENTS
</td></tr>
[end]

[report footer]
$INCLUDE [form_end] ??cop=form
</table>
</div>  ??!INLINE=Y

<script type="text/javascript">alert("Ошибка ввода данных. #ERR_MSG#"); </script> ??ERROR
$INCLUDE [return script]  ??!cop=form&!INLINE=Y
$INCLUDE [editScript]  ??cop=form
[end]

[return script]
</div>
<script type="text/javascript">
window.parent.getResult("d_EV", document.getElementById("result")); ??!ERROR
window.parent.HideDialog();  ??!ERROR
</script>
[end]

====================================== FORM ===================================
[form]
<input type=hidden name="id" value="#id#">
<table border=0 cellspacing=5>
<tr><td colspan=3 class="b align_center" style="background-color:white;">
<img src="#imgPath#task1_16.gif"> Работа #CODE#: #TITLE#,<br>
сегодня:#DAT#
</td></tr>

<tr><td class="r"><b>Дата:</b></td><td><input type=text size=8 id=DATE_FINISH_ name=DATE_FINISH_ class="fe" value='#CURR_DATE#'></td></tr>  ??USER_ID={{34|369|1|471}}


<tr><td class="r" style="width:180pt;">
<b>Процент завершения:</b></td><td>
<input size=4 name="EV"
value='#EV#' ??SRC_VAL=1
> <b>%</b></td></tr>

<tr><td class="r">
<b>ИЛИ</b> оставшееся до завершения время:</td><td>
<input size=4 name="REST_DAYS_"
value='#REST_DAYS_#' ??SRC_VAL=2
> <select name="T_UNIT"><option value=1>дней</option><option value=7>недель</option><option value=30>месяцев</option></select>
</td></tr>

<tr><td class="r"><b>ИЛИ</b> планируемая дата завершения:</td><td>
<input type=text size=8 id=PLANNED_FINISH_ name=PLANNED_FINISH_ class="fe"
value='#PLANNED_FINISH_#' ??SRC_VAL=3
></td></tr>

<tr><td class="r">Комментарий</td><td>
<textarea name="comments" rows=2 cols=40>#COMMENTS_#</textarea>
</td></tr>

<tr><td class="r">
Введено ранее: </td><td style="background-color:white;"> ??NUM_OLD>0
[end]

[form_end]
</table></td></tr></table>

<div id="pts_buttons" style="text-align:center; margin:20px;">
<input class="b_nica bok short" type=button value="Сохранить" onClick="doSubmit('SAVE_EV','i_WuEv', true, true);">
<input class="b_nica bok short" type=button value="Сохранить" onClick="saveEV(#id#);">  ??
&nbsp;&nbsp;
<input class="b_nica bdel short" type=button value="Удалить" onClick="doSubmit('d','i_WuEv', false, true);">  ??EV
&nbsp;&nbsp;
<input class="b_nica bcancel short" type=button value="Отмена" onClick="HideDialog();">
</div>
[end]

[editScript]
<script type="text/javascript">
window.parent.getResult("popupCont", document.getElementById("result"));
window.parent.centerDialog(); 
</script>
[end]

$SET_PARAMETERS SRC_VAL=1; ??EV

[saveEV]
$GET_DATA [src_EV]	??EV
$GET_DATA [src_DAYS] ??REST_DAYS_&!EV
$GET_DATA [src_DATE] ??PLANNED_FINISH_&!REST_DAYS_&!EV
$GET_DATA [delEV] ??EV
$SET_PARAMETERS EV=100; ??EV>100
$GET_DATA [saveEV_SQL] ??EV&!ERROR
$CALL_SERVICE c=nica/evm/putProgress; ID=#EV_ID#;  ??EV&!ERROR&ZZZZZ
$CALL_SERVICE c=nica/e_EVM_rollup_data; wu_id=#id#; mon=#MON#; ??EV&!ERROR
[end]
==================================== SQLs ===================================


[getDates]
select id as VER from nica_versions where RW=1 ??!VER
;
select 
  '#DATE_FINISH_#' ??DATE_FINISH_
  '#CURR_DATE#' ??CURR_DATE&!DATE_FINISH_
  to_char(SYSDATE, 'DD.MM.YYYY') ??!CURR_DATE&!DATE_FINISH_
	 as "CURR_DATE_"
 from dual
 ; 
 select v.DATE_FINISH-v.DATE_START as "DUR"
 , to_char(
		to_date('#CURR_DATE_#','DD.MM.YYYY')
		SYSDATE ??ZZZ
		-v.DATE_START,'999990') as PASSED
 , extract(month from to_date('#CURR_DATE_#','DD.MM.YYYY')) as MON
 from nica_wu w left join nica_ver_data v on v.w_id=w.ID and v.version=#VER#
 where w.id=#id#
 ; 
select id as  EV_ID from nica_ev where wu_id=#id# 
and to_char(dat, 'DD.MM.YYYY')='#CURR_DATE_#';
and to_char(dat, 'DD.MM.YYYY')=to_char(SYSDATE, 'DD.MM.YYYY'); ??
[end]

CURR_DATE

[src_EV]
select to_char((#PASSED#*100)/#EV#,'999990') as CALC_DUR, 1 as "SRC_VAL" from dual;
select to_char(DATE_START + #CALC_DUR#,'DD.MM.YYYY') as PLANNED_FINISH_ from nica_wu where id=#id#; 
select '#CURR_DATE#' as PLANNED_FINISH_ from dual; ??EV>99.9
[end]

[src_DAYS]
select to_char(100-100*#REST_DAYS_#*#T_UNIT# / #DUR#,'9990.0') as "EV", 2 as "SRC_VAL" from dual;
select to_char(	to_date('#CURR_DATE#','DD.MM.YYYY')
 + #REST_DAYS_#*#T_UNIT# + 1,'DD.MM.YYYY') as PLANNED_FINISH_ from nica_wu where id=#id#; 
[end]

[src_DATE]
select to_date('#PLANNED_FINISH_#', 'DD.MM.YYYY')-DATE_START as "DUR" from nica_wu where id=#id#; 
select to_char(100*(to_date('#CURR_DATE#','DD.MM.YYYY')	- DATE_START) / #DUR#,'9990') as "EV"
 , 3 as "SRC_VAL" from nica_wu where id=#id#; 
$SET_PARAMETERS ERROR=Y; ERR_MSG=Дата завершения не может быть раньше даты начала работы;  ??DUR<0
[end]


[getTitle]
select CODE, TITLE, 
	to_char(SYSDATE, 'DD.MM.YYYY') ??
	'#CURR_DATE#'
 as "DAT" 
from nica_wu where id=#id#
;
select to_char(EV_PS,'9990.9') as "EV" 
, REST_DAYS as REST_DAYS_, to_char(PLANNED_FINISH, 'DD.MM.YYYY') as PLANNED_FINISH_, SRC_VAL
, COMMENTS as COMMENTS_
from nica_ev where wu_id=#id# and to_char(dat, 'DD.MM.YYYY')='#CURR_DATE#'
 to_char(SYSDATE, 'DD.MM.YYYY') ??ZZZ
;
select count(*) as NUM_OLD from nica_ev where wu_id=#id# 
;
[end]

[delEV]
delete from nica_ev where wu_id=#id# and to_char(dat, 'DD.MM.YYYY')='#CURR_DATE#'
 to_char(SYSDATE, 'DD.MM.YYYY'); ??ZZZ
[end]

[saveEV_SQL]
select nvl(max(id),0) + 1 as "EV_ID" from nica_ev
;
insert into nica_ev (id, wu_id, dat, ev_ps, REST_DAYS, PLANNED_FINISH, SRC_VAL, comments, creator_id)
values (#EV_ID#, #id#
, to_date('#CURR_DATE#','DD.MM.YYYY') ??CURR_DATE
, SYSDATE ??!CURR_DATE
, #EV#
, #REST_DAYS_#*#T_UNIT# ??REST_DAYS_
, null ??!REST_DAYS_
, to_date('#PLANNED_FINISH_#','DD.MM.YYYY') ??PLANNED_FINISH_
, null ??!PLANNED_FINISH_
, #SRC_VAL#, '#comments#', #USER_ID#)
[end]

[SQL]
select to_char(dat, 'DD.MM.YYYY') as "EV_DAT"
, case when EV_PS<90 then to_char(EV_PS,'9990') else  to_char(EV_PS,'9990.9') end as "EV_PS" 
, REST_DAYS, to_char(PLANNED_FINISH, 'DD.MM.YYYY') as PLANNED_FINISH, SRC_VAL
, comments AS "COMMENTS"
from nica_ev where wu_id=#id# 
order by dat 
desc ??!FORWARD
[end]