[parameters]
service=dubna.walt.service.TableServiceSpecial 
table_docs=docs

tableCfg=this
makeTotalsForCols=SUMMA_RUB,FACT_RUB,FACT_USD,SUMMA_USD,SUMMA_EUR,S_1C_RUB,S_1C_USD,S_1C_DIFF

totRowLabel=Всего
numDigits=2 
thsnDelimiter=
show_eur=

READ_ONLY=true ??!type
makeSubtotals=y  ??svod&f_regnr
makeSubtotals=y  ??type=xp
NumSpecialCols=12

wrapperTable=none
table_beg=none 
table_beg=<table border="1"> ??
$INCLUDE common.dat[colors]
[end]


[report header]
<HTML><HEAD><TITLE>NICA MPD: регистрация документов</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
<style>
body { font-family: Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; }
td, th {FONT-SIZE: 9pt; vertical-align:top;}
h3 {FONT-SIZE: 9pt;}
h4 {FONT-SIZE: 8pt;}
.sm {FONT-SIZE: 7pt;}
</style>
</head>
$SET_PARAMETERS f_year=20#q_yr#  ??!f_year&q_yr
$SET_PARAMETERS f_year=#CURR_YEAR#  ??!f_year&!q_yr
$SET_PARAMETERS f_year= ??f_year=0|f_regdat1|f_paydat1|f_docdat1
$INCLUDE [logged report header]  ??logged
[end]


[logged report header]
$SET_PARAMETERS f_sbj=#A_SBJS# ??A_SBJS&!f_sbj
$SET_PARAMETERS f_lab=#A_LABS#  ??!f_lab&A_LABS&tt
$SET_PARAMETERS A_LABS=       ??uname=usova
$SET_PARAMETERS VIDOPER=u,m,r  ??type=xp&!VIDOPER

$SET_PARAMETERS f_doc_type=1,3,4,6,7,99 ??USER_GROUP=boss&!f_doc_type
$SET_PARAMETERS f_doc_type=0 ??!USER_GROUP=boss&!f_doc_type
$SET_PARAMETERS f_doc_type=5; type=mnts ??USER_GROUP=mnts
$SET_PARAMETERS f_doc_type=0,99; ??type=other

$SET_PARAMETERS f_bc=; f_dir=; f_doc_status=; aggr=; cons=; f_approval=; f_razd=; f_modif=; f_prix=; f_signed=; ??f_regnr
$SET_PARAMETERS f_docdat2=; f_docdat1=; f_regdat1=; f_regdat2=; f_sbj=; f_search=; f_receiver=; f_paydat1=; f_paydat2  ??f_regnr
$SET_PARAMETERS f_doc_type=;payed=; curr=; sent=;  ??f_regnr

$SET_PARAMETERS full_report=on ??f_docNr|f_docdat2|f_docdat1
$SET_PARAMETERS f_regdat2=#TODAY#; 	??dat_form
$SET_PARAMETERS cb_des=y; ??f_search
$SET_PARAMETERS srn=1; rpp=9999

$SET_PARAMETERS srt=1; desc=DESC ??!srt
$SET_PARAMETERS dsumm=1  ??!dsumm

<body >
<table border=1>

<tr><th style="width:100px;">Документ ADB2
</th><th style="width:100px;">Дата
</th><th style="width:80px;">Тип документа
</th><th style="width:200px;">Внешний №, дата
</th><th style="width:80px;">Проект
</th><th style="width:260px;">Контрагент
</th><th style="width:80px;">Сумма (руб)
</th><th style="width:70px;">Эквив. в $

</tr>
[end]



[item]
<tr valign=top>
<td>#DOC_ID#</td><td>#REG_DATE#</td>
<td>
#DOC_TYPE# ??
договор  ??DOC_TYPE=1
договор подряда  ??DOC_TYPE=2
счет    ??DOC_TYPE=3
письмо  ??DOC_TYPE=4
контракт  ??DOC_TYPE=9
</td>	

<td>#DOC_DATE#</td>	
<td>#DIV#</td>
<td>#RECEIVER#</td>
<td align=right>#SUMMA_RUB#</td>
<td align=right>#SUMMA_USD#</td> 
</tr>
[end]


[report footer]
</table></body></HTML>
[end]

================================ SQLs ================================
[preSQLs]
$INCLUDE nica/list_1.cfg[preSQLs]
select  TITLE, DES, RESP, DEPUTY, CODE from nica_wbs_wu where id=#PROJECT_ID# ??PROJECT_ID
[end]


[SQL]
SELECT 
d.DOC_ID, to_char(REG_DATE, 'DD.MM.YYYY') as REG_DATE
  , to_char(d.DOC_TYPE,'0') as DOC_TYPE
	 
	,'№ '||d.EXT_DOC_NR||' '||to_char(d.DOC_DATE, 'DD.MM.YYYY') as DOC_DATE 

	,p.CODE  as DIV
	
	, nvl(k.NAME_SHORT,d.RECEIVER) as RECEIVER

	, to_char(nvl(d.SUMMA_RUB,0),'99999999990D00') as SUMMA_RUB

	,to_char(d.SUMMA_USD,'999999999990D00') as SUMMA_USD 


FROM 
	#table_docs# d
 left join bc b on b.code=d.BC
 left join i_prikaz ip on ip.id=b.prikaz_id
 left join i_lab ll on ll.code=d.LAB_CODE
 left join i_lab l on l.code=b.LAB_CODE
 left join #tree_table# r on r.id = b.root_id
 left join doc_types t on t.id=d.doc_type
 left join doc_statuses s on s.id=d.doc_status
 left join users c on c.id=d.creator_id
 left join i_kontragent k on k.code=d.RECEIVER_C
 left join i_aggr a on a.code=d.aggr
 left join nica_wbs_wu p on p.id=d.PROJECT_ID
WHERE 1=1
$INCLUDE nica/list_1.cfg[criteria]

ORDER BY d.NEED_TO_CHECK desc,
  1 desc,  ??svod&f_regnr
	d.doc_id #desc# ??srt=1
	d.PAYED  #desc#, d.DOC_ID  #desc# ??srt=2&payed=y|type=mnts
	decode(d.PAYED, null,0,1) #desc#, d.PAYED #desc#, decode(d.SENT, null,0,1) #desc#, d.SENT #desc#, d.DOC_ID  #desc#	??srt=2&!payed=y|type=mnts
	#srt# #desc# ??!srt=1&!srt=2
[end]
