[parameters]
service=dubna.walt.service.TableServiceSpecial 
debug=off
KeepLog=true
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
[end]


[report header]
$SET_PARAMETERS showInerited=on; ??cop=start
$SET_PARAMETERS srt=ID; desc=desc; 
  ??!srt
$SET_PARAMETERS cop=; ??curr_id>0
$SET_PARAMETERS_SESSION AdminModule=r_Admin_Versions
$SET_PARAMETERS f_year=#f_nica_year#; ??!f_year&ZZZZZ

<div id=title>
<h4>Версии финансовых планов:</h3><br>

<table>
<tr>
<td nowrap style="white-space:nowrap; padding-top:10px;">
Год:&nbsp;<select name="f_year" onChange="doSubmit('','r_Admin_Versions', false);">
<option value="ALL">Все
<option value="2017"
selected ??f_year=2017
>2017
<option value="2016"
selected ??f_year=2016
>2016
<option value="2015"
selected ??f_year=2015
>2015
<option value="2014"
selected ??f_year=2014
>2014
</select>
</td>

<td colspan=2>

<input class="b_nica bok" type=button value=" ОК" onClick="doSubmit('','r_Admin_Versions', false);">  ??
<input class="b_nica bok" type=button value=" Обновить " onClick="doSubmit('','r_Admin_Versions', false);">  

cop=#cop#; curr_id=#curr_id#; ??
</td></tr>
</table>
f_nica_year=#f_nica_year#; f_year=#f_year#;
</div>

<script type="text/javascript">
window.parent.getResult("admin_title", document.getElementById("title"));
window.parent.document.theForm.cop.value="";
</script>

<div id="admin_report_table">
<table class="tlist " border=0 cellspacing=0 cellpadding=0>
$INCLUDE [table_title] ??!cop=start
[end]


[table_title]
<tr>
<th class="srh" sr="v.ID">ID</th>
<th class="srh" sr="year" sr="v.year">Год</th>
<th width=120 sr="v.title">Название</th>
<th width=250>Описание</th>
<th width=50 class="srh" sr="v.PID" >Исходная версия</th> ??
<th width_=100>Бюджет</th>
<th width_=100>План</th>
<th width=100>Данные</th>  ??USER_ID=11
<br><small>(WU/Limits/Plan)</small></th> 
<th width=75 class="srh" sr="CREATED" >Создана</th> 
</tr>
[end]

[item]
$GET_DATA [get NUM_DATA]  ??USER_ID=11
$GET_DATA [get BUDGET]
<tr class="c pcmd #DAT_STATUS#" 
style="color:##606060" ??!SHOW=1
style="background-color:##FFFFA0" ??ACT=1
par="c=nica/e_Admin_Version&ID=#ID#"><td>#ID# <small>(от #PID#)</small></td><td>#YEAR#</td>
<td>#TITLE#</td>
<td>#DES#</td>
<td class="align-right">#BUDGET#</td>
<td class="align-right">#PLAN#</td>
<td>#PID#</td> ??
<td>#NUM_DATA#/#NUM_LIMITS#/#NUM_PLAN#</td> ??USER_ID=11
<td><small>#WHO# 
/#SHOW#,#ACT# ??
</small></td>
</tr>
$SET_PARAMETERS BUDGET=-;
[end]


[get BUDGET]
select  trim(to_char(nvl(SUMMA_USD,0),'999G999G990')) as BUDGET from nica_limits_#ID# where WBS_ID=0 and YR=#YR#
;
[end]


[get NUM_DATA]
select count(*) as "NUM_DATA" from nica_ver_data where version=#ID#
;
try: select count(*) as "NUM_LIMITS" from NICA_LIMITS_#ID# where YR=#YR#
;
try: select count(*) as "NUM_PLAN" from NICA_PPLAN_#ID# where YR=#YEAR#
;

[end]

[report footer]
</table>
</div>

<script type="text/javascript">
window.parent.getResult("admin_table", document.getElementById("admin_report_table"));
window.parent.showSrt("#srt#","sup"); ??!desc
window.parent.showSrt("#srt#","sdown"); ??desc
window.parent.setNode("r_Admin");
window.parent.makeTableCfg="r_Admin_Versions";

</script>
[end]


========================================================

[preSQLs]
[end]


[SQL]
select v.ID, v.PID, v.title, v.DES, v.year, v.year-2000 as "YR"
, trim(to_char(nvl(d.PRICEYEARPLAN,0),'999G999G990')) as PLAN
, ACT, SHOW
, to_char(v.CREATED,'DD.MM.YY HH24:MI')  || ' (' || v.CREATOR_ID|| ')' as "WHO"
from nica_versions v 
left join nica_ver_data d on (d.version=v.id and d.w_id=0)
where v.year=#f_year# ??f_year&!f_year=ALL
order by #srt# #desc#
[end]
