[parameters]
debug=off
KeepLog=false
[end]

рудимент:
table.compact {padding:0; margin:0; border:none;}
table.compact td {padding:0; margin:0; border:none;}

$SET_PARAMETERS_SESSION f_nica_year=; CURR_YR_ONLY=; f_CURR_YR=; ??RESET-DEBUG

[report]
$SET_PARAMETERS id=#curr_id#;
$SET_PARAMETERS_SESSION AdminModule=r_Admin_Structure;  ??!AdminModule
<div id=result>

<style>
##report_content a {color:##0000a0; text-decoration:underline;}
##admin_tabs {display:block; background: none; border:none 1px red; margin:-25px 4px 0 0px;}
##dt_Admin_report {padding:20px; border-top:solid 1px gray;}
##admin_struct td.p0 {padding:0; font-weight:bold;}
##admin_struct td.p1 {padding:0 0 0 5px; font-size:13px;; font-weight:bold;}
##admin_struct td.p2 {padding:0 0 0 20px; font-weight:bold;}
##admin_struct td.p3 {padding:0 0 0 35px;}
##admin_struct td.p4 {padding:0 0 0 45px;}
</style>

$CALL_SERVICE c=nica/i_projectParents; ??curr_id>0&ZZZ
$CALL_SERVICE c=nica/i_expandPath  ??curr_id>0
<br> 
 ??!curr_id>0
<input type=hidden name=srt class="local" value="#srt#">
<input type=hidden name=desc class="local" value="#desc#">
<input type=hidden name=REC_ID value="">
<br>

<div id="admin_tabs">
  <ul id="ltabs">
    <li id="t_Admin_struct"><a href="##dt_Admin_report"><span>Структура</span></a></li>
    <li id="t_Admin_users"><a href="##dt_Admin_report"><span>Пользователи ADB2</span></a></li>
    <li id="t_Admin_vers"><a href="##dt_Admin_report"><span>Версии плана</span></a></li>
  </ul>
	<div style="clear:both;"></div>
	
	<div id="dt_Admin_report">
		<div id=admin_title></div>
		<div id=admin_table><center><h3><br><br><br>Загрузка...<br><br><br><br></h3></div>
	</div>
</div>


</div>

<script type="text/javascript">
window.parent.getResult("с_Admin", document.getElementById("result"));
var act=0;
act=1; ??AdminModule=r_Admin_Users
act=2; ??AdminModule=r_Admin_Versions
window.parent.setTabsClicks("admin_tabs", act);  
window.parent.doSubmit("start", "#AdminModule#"); 
</script>

<small>prj_id=#prj_id#; wu_id=#wu_id#; curr_id=#curr_id#; cop=#cop#;</small> ??

[end]


========================================================

[preSQLs]
select typ from nica_wbs_wu where id=#curr_id#;
[end]
