[parameters]
service=dubna.walt.service.TableServiceSpecial 
debug=off
KeepLog=false
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
ROOT_ID=0
thsnDelimiter=&nbsp;
$INCLUDE menu.cfg[tables] 
[end]

r_chart_test
[report header]
$SET_PARAMETERS curr_id=132; ??!curr_id|curr_id=0
<html>
<head>
<link rel="stylesheet" type="text/css" href="/adb/js/jsgantt.css"/>
<script language="javascript" src="/adb/js/jsgantt.js"></script>
 </head>
<body>
<div id="result">
$INCLUDE [legend]
<div style="position:relative; margin:10px 20px 0 20px; padding:5px; border:solid 1px gray; width:850px; background-color:white;" class="gantt" id="GanttChartDIV"></div>
 style="position:relative" ??
</div>

<script>
  // here's all the html code neccessary to display the chart object ??
  // Future idea would be to allow XML file name to be passed in and chart tasks built from file. ??

  g = new JSGantt.GanttChart('g',document.getElementById('GanttChartDIV'), 'day'); ??
  g = new JSGantt.GanttChart('g',document.getElementById('GanttChartDIV'), 'month');
	window.parent.g = g;

	g.setShowRes(1); // Show/Hide Responsible (0/1)
	g.setShowDur(0); // Show/Hide Duration (0/1)
	g.setShowComp(0); // Show/Hide % Complete(0/1)
	g.setShowStartDate(0);
	g.setShowEndDate(0);
	
   g.setCaptionType('Resource');  // Set to Show Caption (None,Caption,Resource,Duration,Complete)

		JSGantt.changeFormat("month",g); ??

  //var gr = new Graphics();

  if( g ) {
[end]

[report footer]
    g.AddTaskItem(new JSGantt.TaskItem(35,  ' ',  '01/01/2015','2/03/2016','ffffff', '', #curr_id#, '',    0, 0, 3,  1));

    g.Draw();	
    g.DrawDependencies();
		JSGantt.changeFormat("month",g); ??
  }

  else

  {
    alert("not defined");

  }

</script>
</body></html> ??
[end]


========================================================

[preSQLs_]

[end]

TaskItem(pID, pName, pStart, pEnd, pColor, pLink, pMile, pRes, pComp, pGroup, pParent, pOpen, pDepend)
pID: (required) is a unique ID used to identify each row for parent functions and for setting dom id for hiding/showing
pName: (required) is the task Label
pStart: (required) the task start date, can enter empty date ('') for groups. You can also enter specific time (2/10/2008 12:00) for additional percision or half days.
pEnd: (required) the task end date, can enter empty date ('') for groups
pColor: (required) the html color for this task; e.g. '00ff00'
pLink: (optional) any http link navigated to when task bar is clicked.

pMile:(optional) represent a milestone
pRes: (optional) resource name
pComp: (required) completion percent

pGroup: (optional) indicates whether this is a group(parent) - 0=NOT Parent; 1=IS Parent
pParent: (required) identifies a parent pID, this causes this task to be a child of identified task
pOpen: can be initially set to close folder when chart is first drawn
pDepend: optional list of id's this task is dependent on ... line drawn from dependent to this item
pCaption: optional caption that will be added after task bar if CaptionType set to "Caption"

[legend]
<table style="margin:20px 0 0 20px;"><tr>
<td><div style="background-color:##80c000; width:30px; height:12px;">&nbsp;</div></td><td>- работа идет по плану</td>
<td><div style="background-color:##70a0FF; width:30px; height:12px;">&nbsp;</div></td><td>- опережение плана</td>
<td><div style="background-color:##a0f0d0; width:30px; height:12px;">&nbsp;</div></td><td>- работа не началась</td>
</tr><tr>
<td><div style="background-color:##f0c000; width:30px; height:12px;">&nbsp;</div></td><td>- отставание от плана</td>
<td><div style="background-color:##f00000; width:30px; height:12px;">&nbsp;</div></td><td>- критическое отставание</td>
<td><div style="background-color:##b0b0b0; width:30px; height:12px;">&nbsp;</div></td><td>- нет данных</td>
</tr></table>
[end]

[item]
$GET_DATA [getLinks] ??TYP=WU
$GET_DATA [get WBS money]  ??!TYP=WU&ZZZ
g.AddTaskItem(new JSGantt.TaskItem(#ID#,  '#CODE#</small>',  '#DATE_START#', '#DATE_FINISH#'
, 'b0b0b0' ??STATUS=0
, '80c000' ??STATUS=1
, '70a0FF' ??STATUS=2
, 'f0c000' ??STATUS=3
, 'f00000' ??STATUS=4
, 'a0f0d0' ??STATUS=5
, 'http://help.com'
, 0
, '#AC# / #PV# (#PV_TOT#) K$ #BEFORE_DATE#' ??PV
, ' ' ??!PV
,  #EV_PS#
, 0 ??TYP=WU
, 1 ??!TYP=WU
, 0 ??ID=#curr_id#
, #PID# ??!ID=#curr_id#
, 1
, '#PREV_ID#'
,'z#OUT_OF_DATE#'));
$SET_PARAMETERS PREV_ID=; BEFORE_DATE=;
[end]

[getLinks]
select ','||PREV_ID as PREV_ID from nica_links where id=#ID#;
select substr('#PREV_ID#',2) as PREV_ID from dual ??PREV_ID
[end]

[get WBS money]
select 
 to_char(sum(nvl(ac.SUMMA_USD,0)), '999G999G990D9') as AC
, to_char((sum(pv.PV) * #DAY_OF_YEAR#) / 365, '999G999G990D9') as PV
, to_char(sum(pv.PV), '999G999G990D9') as PV_TOT
from nica_wbs_wu_#VER# w
left join NICA_EVM_PV_total pv on pv.TASK_ID=w.id
left join NICA_EVM_AC_TOTAL ac on ac.PROJECT_ID=w.id
where w.id in (select id from nica_wbs_wu_#VER# ww
where ww.ACTIVE=1 and ww.REPORTING=1
and ww.typ='WU' 
and (extract (year from ww.DATE_START)=2015 or extract (year from ww.DATE_FINISH)=2015)
connect by prior ww.id=ww.pid start with ww.id=#ID#
)
[end]

[SQL]
select 
w.ID, w.PID, w.CODE||':<small>'|| w.TITLE as CODE, w.TITLE, w.TYP, W.RESP
, to_char(w.DATE_START + 7,'DD/MM/YYYY')
 as DATE_START
, to_char(w.DATE_FINISH 
+ (w.DATE_FINISH - w.DATE_START) / 9 
,'DD/MM/YYYY') as DATE_FINISH
, nvl(e.EV_PS,0) as EV_PS
, case 
		when (e.EV_PS is null and SYSDATE > w.DATE_START+6) then 0 	/* NO DATA */
		when (nvl(e.PLANNED_FINISH, to_date('2020','YYYY')) < (w.DATE_FINISH - 60)) then 2  /* FORWARD */ 
		when (SYSDATE > w.DATE_START+7 and nvl(e.PLANNED_FINISH, to_date('2020','YYYY')) > w.DATE_FINISH + 10) then 3 /* OUT OF DATE */
		when (nvl(e.EV_PS,0)<100 and SYSDATE > w.DATE_FINISH + 15) then 4 	/* FAILED */
		when (SYSDATE < w.DATE_START+6) then 5 /* NOT STARTED */
		else 1 /* NORMAL FLOW */
	end as STATUS
, to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"
, to_char(nvl(ac.SUMMA_USD,0), '999G999G990D9') as AC
, to_char((pv.PV * #DAY_OF_YEAR#) / 365, '999G999G990D9') as PV
, to_char(pv.PV, '999G999G990D9') as PV_TOT
from nica_wbs_wu_#VER# w
left join nica_ev_v e on e.WU_ID=w.ID
left join NICA_EVM_PV_total pv on pv.TASK_ID=w.id
left join NICA_EVM_AC_TOTAL ac on ac.PROJECT_ID=w.id

where w.ACTIVE=1 and w.REPORTING=1
and w.typ='WU' ??
and (w.typ='WBS' or (extract (year from w.DATE_START)=#f_nica_year# or extract (year from w.DATE_FINISH)=#f_nica_year#))
connect by prior w.id=w.pid start with w.id=#curr_id#
ORDER SIBLINGS BY SORT
[end]

[preSQLs]
select to_number(to_char(sysdate, 'DDD')) as DAY_OF_YEAR from dual
;
update nica_ev e set e.old='Y'
where e.old is null
and exists (select o.wu_id from nica_ev o where o.wu_id=e.wu_id and o.id>e.id)
[end]

