[parameters]
debug=off
KeepLog=true
ClearLog=false
node_id=21619 ??
node_id=148
[end]

=================    ===============

[head]
<html>
<head>
<title>NICA EVM Chart</title>
$INCLUDE nica/i_head.dat[head]
<script type="text/javascript" src="#jsPath#canvasjs.min.js"></script>
</head>
<body>
<div id="chart" style="width:90%; height:90%; border:solid 1px gray; border-radius:4px; padding:2px; margin:20px;"></div><div id=empty></div> 
[end]


[report]
$SET_PARAMETERS PV_0=0; AC_0=0; EV_0=0;
$SET_PARAMETERS f_year_2=#f_year_1#; ??f_year_2<#f_year_1#
$SET_PARAMETERS_SESSION f_year_1_=#f_year_1#; f_year_2_=#f_year_2#;
$SET_PARAMETERS CURR_YEAR_ONLY=Y; ??NUM_YEARS=0&f_year_1=#CURR_YEAR#
$EXECUTE_LOOP f_CURR_YR; #YEARS#; [getYearData]


$INCLUDE [head] ??!ajax
<style type="text/css">
table.tt tr td {text-align:right; font-weight:bold;}
table.tt tr.pv td{color:blue;}
table.tt tr.ac td{color:red;}
table.tt tr.ev td{color:green;}
</style>

<a class="ppath" style="color: ##000080; font-size: 10pt;" href="#ServletPath#?c=nica/r_EVM&node_id=#node_id#&f_year_1=#f_year_1#&f_year_2=#f_year_2#" target=_blank><img alt="Страница для печати" src="/adb/images/printer.gif"> Открыть в новом окне</a> 	 ??ajax
<a class="ppath" style="color: ##000080; font-size: 10pt; margin-left:100px;" href="#ServletPath#?c=nica/e_EVM_enter_data&curr_id_=#node_id#&f_year_=#f_year_1#" target=_blank>Ввод данных >></a> 	 ??node_id>0&ajax&g_adm=USER_GROUP

<script type="text/javascript">
alert("#f_year_1#"); ??
//    chart.render();
//		alert( $('##chart').height() );
//		alert( document.body.clientHeight );
//		alert( $('##chart').position().top);
var h = document.body.clientHeight - $('##chart').position().top - 80;
if(h < 250) h = 250;
// alert (h);
		$('##chart').height(h);
//		$('.canvasjs-chart-container').height(h);
//		$('.canvasjs-chart-canvas').height(h);

drawChart = function () { ??
    var chart = new CanvasJS.Chart( 
			"chart", 
		{
		animationEnabled: false, 
		animationDuration: 400, ??
      title:{ text: '#TITLE#', fontSize: 16 }, 
			axisX:{
				minimum: new Date(#f_year_1#, 0, 1), 
				maximum: new Date(#f_year_2#, 11, 31), 
						lineThickness: 1,
						lineColor: "black",
					  labelFontColor: "black",
						labelFontSize: 13
			},
			axisY:{ 
			 title: "Amount USD",
			 titleFontFamily: "arial",
			 titleFontSize: 14,
			 titleFontColor: "##505050",
			lineThickness: 1,
			lineColor: "black",
			gridDashType: "dash",
			 gridThickness: 1,
			  labelFontColor: "black",
				 suffix: "k",  
			 labelFontSize: 13
			},			
			
			legend:{ fontSize:14, fontColor:"black", fontFamily: "arial" },
 			
			toolTip:{	enabled: "true",  
			shared: "true" ??
			
			}, 
 
			data: [
				{ type: "line", 
				toolTipContent: " x: {x}, y: {y[0]}, {y[1]}, {y[2]}} ",  ??
				color:"blue",	showInLegend: true, name: "Planned Value", legendText: "Planned value"
                                    , dataPoints: [{ x: new Date(#f_year_1#, 0, 1), y: 0 }#DATA_PV# ]}
				, { type: "line",	 color:"red",	showInLegend: true, name: "Actual Cost", legendText: "Actual cost"
                                    , dataPoints: [{ x: new Date(#f_year_1#, 0, 1), y: 0 }#DATA_AC# ]}
				, { type: "line", color:"green",	showInLegend: true, name: "Earned Value", legendText: "Earned Value" ??REPORTING=1
                                    , dataPoints: [{ x: new Date(#f_year_1#, 0, 1), y: 0 }#DATA_EV# ]} ??REPORTING=1

      ]
   });
		
		 chart.render();
		 window.resizeTo(800,700); ??
		 alert($('.canvasjs-chart-canvas').width()); ??
		 $('.canvasjs-chart-canvas').width($('.canvasjs-chart-canvas').width()-20); ??
//		 $('##chart').css("width", "55%");
//		$( window ).resize();
		 chart.render();
</script>
</body></html>
[end]

[getYearData]
$INCLUDE [includeData] ??!f_CURR_YR<#f_year_1#&!f_CURR_YR>#f_year_2#
[end]

[includeData]
$SET_PARAMETERS DATA_PV_CURR=;  DATA_AC_CURR=; DATA_EV_CURR=;
$GET_DATA [get Start Values] ??f_CURR_YR>#f_year_1#
$GET_DATA [getPV]
$GET_DATA [getAC]  ??!f_CURR_YR>#CURR_YEAR#
$GET_DATA [get EV]  ??REPORTING=1&!f_CURR_YR>#CURR_YEAR#
$SET_PARAMETERS DATA_PV=#DATA_PV##DATA_PV_CURR#;  DATA_AC=#DATA_AC##DATA_AC_CURR#; DATA_EV=#DATA_EV##DATA_EV_CURR#;
$LOG +++++ CHART DATA:<br> 
$LOG <xmp>+++++ PV: #DATA_PV#;</xmp><br>
$LOG <xmp>+++++ AC: #DATA_AC#;</xmp><br>
$LOG <xmp>+++++ EV: #DATA_EV#;</xmp><br><br>
[end]

=========================================================================
=========================================================================
=========================================================================
[preSQLs]
select ','||YYYY as YEARS from nica_years_all where yyyy>=#f_year_1# and yyyy<=#f_year_2# order by YYYY
;

select REPORTING, decode(code,'0','',code||': ')||TITLE as TITLE 
, #f_year_2#-#f_year_1# as NUM_YEARS
from nica_wbs_wu where id=#node_id#
;
[end]


[get Start Values]
select to_char(nvl(max(e.PV),0)+#PV_0#,'99999990D0') as PV_0
, to_char(nvl(max(e.AC),0)+#AC_0#,'99999990D0') as AC_0 
, to_char(nvl(max(e.EV),0)+#EV_0#,'99999990D0') as EV_0  
from nica_evm e
join NICA_EVM_DATES d on d.id=e.id_dat
where e.node_id=#node_id# and extract(year from d.dat)=#f_CURR_YR#-1
;
[end]

[getPV]
select /* PV */
 ', {x: new Date('||extract(year from d.dat) ||', '|| to_char(to_number(to_char(d.dat,'MM'))-1) ||', '|| extract(day from d.dat) ||'), y: '||trim(to_char(e.PV + #PV_0#,'99999990D0'))
 ||', label: "alpha" }' ??
 ||', toolTipContent: "'|| to_char(d.dat,'DD Mon YYYY')
 ||'<br><table class=tt><tr class=pv><td>Planned:</td><td>'||trim(to_char(e.PV+ #PV_0#,'99999990D0'))||'k$</td></tr>'
|| case when d.DAT<SYSDATE then
   '<tr class=ac><td>Actual:</td><td>'||trim(to_char(e.AC+ #AC_0#,'99999990D0'))||'k$</td></tr>'
   ||'<tr class=ev><td>Earned:</td><td>'||trim(to_char(e.EV+ #EV_0#,'99999990D0'))||'k$</td></tr>' ??REPORTING=1
else '' end
 ||'</table>" }' 
 as DATA_PV_CURR
from nica_evm e
join NICA_EVM_DATES d on d.id=e.id_dat
where e.node_id=#node_id# and MOD(extract(month from d.DAT), 3) = 0
	and extract(year from d.dat)=#f_CURR_YR# 
    and not e.PV is null
order by d.dat;
[end]

[getAC]
select /* AC */
case when d.dat<=SYSDATE then
 ', {x: new Date('||extract(year from d.dat) ||', '|| to_char(to_number(to_char(d.dat,'MM'))-1) ||', '|| extract(day from d.dat) ||'), y: '||trim(to_char(e.AC+ #AC_0#,'99999990D0'))
 ||', toolTipContent: "'|| to_char(d.dat,'DD Mon YYYY')
 else 
 ', {x: new Date('||extract(year from SYSDATE) ||', '|| to_char(to_number(to_char(SYSDATE-1,'MM'))-1) ||', '|| extract(day from SYSDATE) ||'), y: '||trim(to_char(e.AC,'99999990D0'))
 ||', toolTipContent: "'|| to_char(SYSDATE-1,'DD Mon YYYY')
 end 
 ||'<br><table class=tt>'
 ||case when MOD(extract(month from d.DAT), 3) = 0 then '<tr class=pv><td>Planned:</td><td>'||trim(to_char(e.PV+ #PV_0#,'99999990D0'))||'k$</td></tr>' else '' end
 ||'<tr class=ac><td>Actual:</td><td>'||trim(to_char(e.AC+ #AC_0#,'99999990D0'))||'k$</td></tr>'
 ||'<tr class=ev><td>Earned:</td><td>'||trim(to_char(e.EV+ #EV_0#,'99999990D0'))||'k$</td></tr>'  ??REPORTING=1
 ||'</table>" }' 
 as DATA_AC_CURR
from nica_evm e
join NICA_EVM_DATES d on d.id=e.id_dat
where e.node_id=#node_id# 
	and extract(year from d.dat)=#f_CURR_YR# 
and MOD(extract(month from d.DAT), 3) = 0 ??NUM_YEARS>5&!f_CURR_YR=#CURR_YEAR#&ZZZ
        and d.dat<=SYSDATE ??!CURR_YEAR_ONLY
    and extract(month from d.DAT) <= extract(month from SYSDATE) ??CURR_YEAR_ONLY

    and not e.AC is null
order by d.dat;
[end]


[get EV]
select /* EV */
case when d.dat<=SYSDATE then
 ', {x: new Date('||extract(year from d.dat) ||', '|| to_char(to_number(to_char(d.dat,'MM'))-1) ||', '|| extract(day from d.dat) ||'), y: '||trim(to_char(e.EV+#EV_0#,'99999990D0'))
 ||', toolTipContent: "'|| to_char(d.dat,'DD Mon YYYY')
 else 
 ', {x: new Date('||extract(year from SYSDATE) ||', '|| to_char(to_number(to_char(SYSDATE,'MM'))-1) ||', '|| extract(day from SYSDATE) ||'), y: '||trim(to_char(e.EV,'99999990D0'))
 ||', toolTipContent: "'|| to_char(SYSDATE-1,'DD Mon YYYY')
 end 
 ||'<br><table class=tt>'
 ||case when MOD(extract(month from d.DAT), 3) = 0 then '<tr class=pv><td>Planned:</td><td>'||trim(to_char(e.PV+ #PV_0#,'99999990D0'))||'k$</td></tr>' else '' end
 ||'<tr class=ac><td>Actual:</td><td>'||trim(to_char(e.AC+ #AC_0#,'99999990D0'))||'k$</td></tr>'
 ||'<tr class=ev><td>Earned:</td><td>'||trim(to_char(e.EV+ #EV_0#,'99999990D0'))||'k$</td></tr>'
 ||'</table>" }' 
 as DATA_EV_CURR
from nica_evm e
join NICA_EVM_DATES d on d.id=e.id_dat
where e.node_id=#node_id# and not e.EV is null
	and extract(year from d.dat)=#f_CURR_YR# 
and MOD(extract(month from d.DAT), 3) = 0 ??NUM_YEARS>5&!f_CURR_YR=#CURR_YEAR#&ZZZ
    and d.dat<=SYSDATE ??!CURR_YEAR_ONLY
    and extract(month from d.DAT) <= extract(month from SYSDATE) ??CURR_YEAR_ONLY
    and not e.EV is null
order by d.dat;
[end]

 c=nica/r_pplan_list&mode=edit&cop=start&curr_id=147&prj_id=147&wu_id=147&f_nica_year=#f_CURR_YR#&VER=8