[parameters]
f_prik=n ??
[end]

----------------------------------------------------------------------------------

=============================================================================

[report]
$SET_PARAMETERS READ_ONLY=Y ??!f_nica_year=20#CURR_YR#
$SET_PARAMETERS f_contr= ??f_contr=ALL
$SET_PARAMETERS_SESSION f_contr=#f_contr#
$INCLUDE [logged report]  ??M_DOC_NICA>0&logged
[end]


[logged report]
$SET_PARAMETERS data_src=ADB;
$SET_PARAMETERS filtered=y; ??f_aggr|f_doc_type|f_receiver|f_regnr|f_search

$SET_PARAMETERS f_regdat2=#TODAY#; 	??dat_form

$SET_PARAMETERS srt=r.REQ_NR; desc=desc; ??!srt&!data_src
$SET_PARAMETERS srt=d.doc_id; desc=desc; ??!srt&data_src=ADB
$SET_PARAMETERS showSigned=on ??f_signed
$SET_PARAMETERS dsumm=100  ??!dsumm


<div id="result">
<input type=hidden name="type" value="#type#">
<input type=hidden name=srt class="local" value="#srt#">
<input type=hidden name=desc class="local" value="#desc#">

$SET_PARAMETERS id=#curr_id#;
$CALL_SERVICE c=nica/i_projectParents; ??!curr_id=0

<table border=0><tr><td style="width:150px;">Год: <b><input type=radio name=f_year_apply value="N" onClick="showLoading('docs_table'); doSubmit();"
checked ??f_year_apply=N
>ВСЕ
 <input type=radio name=f_year_apply value="" onClick="showLoading('docs_table'); doSubmit('','r_listDocs_table');"
checked ??!f_year_apply
>#f_nica_year#</b>
</td><td>
$INCLUDE [filtersBlock]
$INCLUDE [script] 
</td></tr>
<tr><td colspan=2>Данные: 
<input type=radio name=data_src onClick="setDataSource('r_listReq_table');"
checked ??!data_src
><b>Заявки 1С
<input type=radio name=data_src value="ADB" onClick="setDataSource('r_listDocs_table');" 
checked ??data_src=ADB
>Регистрация ADB2
</b></td>

<td><img src="#imgPath#filler.gif" width="150" height="1" border="0"> 

<input class="b_nica badd long" type=button value="Создать документ!" onClick="editDoc(0,#curr_id#);">  ??!READ_ONLY&curr_id&TYP=WU
<input class="b_nica badd long" type=button value="Создать документ" onClick="showDlg('dlg_NotImpl');">  ??!READ_ONLY&ZZZ
<input class="b_nica long" type=button value="Перенести все док-и" onClick="loadFrame('c=nica/e_MoveDocs&curr_id=#curr_id#');">  ??!READ_ONLY&curr_id&TYP=WU&g_adm=USER_GROUP|g_sys=USER_GROUP
</td></tr></table>

<div id="totalTable" style="margin:5px;"></div>
<div id="docs_table"></div>
<div class="hid"><div id="dlg_NotImpl" class="dlg" title="Не реализовано"><br>Извините, эта функция еще не реализована.</div></div> 

</div>

<small>PROJECT_ID=#PROJECT_ID#; prj_id=#prj_id#; curr_id=#curr_id#; CAN_EDIT=#CAN_EDIT#; CAN_DETAIL=#CAN_DETAIL#; USER_ID=#USER_ID#; USER_GROUP=#USER_GROUP#; A_NICA=#A_NICA#;</small>  ??ClientIP=159.93.40.211
</div>
$CALL_SERVICE c=nica/i_expandPath; prj_id=#curr_id#   ??curr_id>0

<script type="text/javascript">
window.parent.getResult("c_listDocs", document.getElementById("result")); 
window.parent.toggleIt('.tfiltr'); 
 ??!curr_id>0
window.parent.showLoading('docs_table'); 
window.parent.doSubmit("","r_listDocs_table");  ??data_src=ADB
window.parent.doSubmit("","r_listReq_table");  ??!data_src

window.parent.loadFrame("c=nica/i_expandPath&prj_id=#curr_id#", "wf2");  ??curr_id>0&ZZZ
</script>
</body></HTML>
[end]


[script]
<style type="text/css">
, ##docs_table th ??
</style>

<script type="text/javascript">
var frm = document.theForm;

setDataSource=function(src) {
	showLoading('docs_table'); 
	if(src=="r_listDocs_table") {
		frm.srt.value="d.doc_id"; 
	}
	else {
		frm.srt.value="r.REQ_NR"; 
	}
	frm.desc.value="desc";
	doSubmit('',src);
}

clearFilters = function()
{
//	frm.f_regnr.value="";
	$(".fltr").val('');
	frm.payed[0].checked=true;
	frm.f_prik[0].checked=true;
}

function newDoc()
{ 
	alert("Yes");
	openWindow("c=nica/docEdit&cop=c&type=#type#","docEdit"+(new Date()).getTime(),1000,650); ??
}

function getPP(nomPlat, yr)
{
	if(yr < 13)
		openWindow("c=c1/platList3&f_platNr=" + nomPlat, "plat", 1000,800);
	else
		openWindow("c=c2/platList&f_platNr=" + nomPlat, "plat", 1000,800); 
}

</script>
[end]


++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
<tr><td class=l nowrap=true width=180>  
Тип документа:</td><td width=330>&nbsp;<select name=f_doc_type class="fltr"> 
<option value=''></option><option value="1,2,3,10,9">Внешние счета</option> 
<option value="7">Наличный платеж</option><option value="5">МНТС</option> 
<option value="99">прочее</option></select> 
</td></tr>

[filtersBlock]
<table class=tfiltr_wrapper border=0 cellpadding=0 cellspacing=0>
<tr><td class=title onClick="toggleIt('.tfiltr');"><img class=btn src="#imgPath#max.png" width="16" height="14" align=right border="0"
onClick_="showIt('.tfiltr');"><img class=btn src="#imgPath#min.png" width="16" height="14" align=right border="0"
onClick_="hideIt('.tfiltr');">Фильтровать:<img src="#imgPath#filler.gif" width="130" height="1" border="0"></td>
</tr><tr><td colspan=1>

<table border=0 cellpadding=3 cellspacing=1 class=tfiltr>

<tr><td class=l>Рег. № документа:</td><td><input size=6 class="xp fltr" name="f_regnr" value='#f_regnr#'></td></tr> ??
$INCLUDE nica/i_getWU.cfg[field_e] param: title=Рег. № документа; name=f_regnr; val=#f_regnr#; size=6;  break=;

<tr><td class=l>Дата: с</td><td>&nbsp;
<input type=text size=10 id=DATE_START_ name=f_regdat1 class="xpc fltr" value="#f_regdat1#">
[ по <input type=text size=10 id=DATE_FINISH_  name=f_regdat2 class="xpc fltr" value="#f_regdat2#"> ]
</td></tr> 

$INCLUDE nica/i_getWU.cfg[field_e] param: title=Назначение/комментарий; name=f_search; val=#f_search#; size=40;  break=;
$INCLUDE nica/i_getWU_edit.dat[field_e] param: title=Контрагент; name=f_receiver; val=#f_CONTRAG#; size=30;
$INCLUDE nica/i_getWU.cfg[field_e] param: title=Договор; name=f_DOGOVOR; val=#f_DOGOVOR#; size=40; ??

<tr><td class="l">Статья бюджета:</td><td>&nbsp;<select name=f_aggr class="fltr">
<option value=""></option><option value="null">пусто</option>
<option value="05,06,10">5,6,10 - материалы и оборуд.</option>
<option value="18,19">18,19 - строительство</option>
#AGGRS#</select><input type=checkbox name=aggr_excl
checked  ??aggr_excl=on
>искл.</td></tr>

<tr><td class="l">Сумма:</td><td> 
$INCLUDE filters.dat[f_summa] param: name=f_summa; value=#f_summa#; name_op=f_summa_op; onChange=;
</td></tr>

<tr><td class="l">Оплата:</td><td> <input type="radio" name="payed" value=""
checked ??!payed
>Все <input type="radio" name="payed" value="y" 
checked ??payed=y
>Оплаченные <input type="radio" name="payed" value="n" 
checked ??payed=n
>Не оплаченные</td></tr>

$INCLUDE nica/search.dat[storeSrcOptions] ??
$INCLUDE nica/search.dat[srcCheck]  ??


<tr><td><input class="b_nica bcancel" type=button value="Сбросить фильтры" 
onClick="clearFilters();">
</td><td style="text-align:center;"><input class="b_nica bok" type=submit value="Применить фильтры" 
onClick="showLoading('docs_table'); doSubmit(); return false;">
</td></tr></table></td></tr></table>
<div style="clear:both;"></div> ??
[end]


<tr><td class="l">Источник финансирования:</td><td><input type=radio name=f_prik value="" 
checked ??!f_prik
>Все <input type=radio name=f_prik value="n" 
checked ??f_prik=n
><span class=SRC_> Кроме приказов и внебюджета</span><br><input type=radio name=f_prik value="y" 
checked ??f_prik=y
><span class=SRC_P> Только приказы</span> 
<input type=radio name=f_prik value="v" 
checked ??f_prik=v
><span class=SRC_V> Внебюджет
</span></td></tr>


<tr><td class="l">&nbsp;</td><td><input type="checkbox" name="is_problem" 
 checked  ??is_problem=on
>Только требующие визы экономиста</td></tr>



================================ SQLs ================================
[preSQLs]
select TYP from nica_wbs_wu where id=#curr_id# ??curr_id
;
select 'y' as "svod" from docs where doc_id=#f_regnr# and is_total='Y' ??f_regnr&!svod
;
[end]

select nvl(to_char(max(evm_expdat),'dd.mm.yyyy'),'01.01.2012') as "f_expdat" from docs ??!f_expdat
;
