[parameters]
service=dubna.walt.service.TableServiceSpecial 
debug=off
KeepLog=true
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
makeTotalsForCols=,TOT_LIMIT, ??
ROOT_ID=1
thsnDelimiter=&nbsp;
$INCLUDE menu.cfg[tables] 
[end]


[report header]
$PRINT ===== WBS: cop=#cop#; prj_id=#prj_id#;  wu_id=#wu_id#; ??
<script type="text/javascript"> window.parent.window.location.replace("#ServerPath##ServletPath#");</script> ??!logged

$SET_PARAMETERS prj_id=#ROOT_ID# ??!prj_id
$SET_PARAMETERS id=#prj_id#

<div id=result>
<br><br>  ??prj_id=0

$GET_DATA [getTotals] ??
$SET_PARAMETERS item_id=#curr_id#;

TYP=#TYP#; ??
<table border=0 style="margin:5px;"><tr><td colspan=2>
Год: 
<b>#TASK_YEAR#</b> ??TYP=WU
<b>#f_nica_year#</b> ??!TYP=WU
</td></tr>

$SET_PARAMETERS f_src_bud=on; ??!f_src_ms1&!f_src_prik&!f_src_bud
$INCLUDE nica/search.dat[storeSrcOptions]
$INCLUDE nica/search.dat[srcCheck]

$GET_DATA nica/r_plan_fact_node.cfg[getPlanFactNode]
$GET_DATA nica/r_plan_fact_node.cfg[getNodeBudget]
$SET_PARAMETERS TOTAL_BUDGET=#NODE_BUDGET#; TOTAL_PLAN=#NODE_PLAN#; TOTAL_PAYED=#NODE_PAYED#; TOTAL_WAIT=#NODE_WAIT#

$GET_DATA [getWBSData] ??TYP=WBS
$CALL_SERVICE c=nica/i_projectParents; ??!prj_id=0
$GET_DATA [getNode] ??


<tr><td></td><td colspan=2 align=right>
<input class="b_nica bok" type=submit value="Применить" 
onClick="doSubmit(); showLoading('theTable'); return false;">
showLoading('docs_table');  ??
</td></tr></table>

<div id="theTable">
<center>
$SET_PARAMETERS id=#prj_id#;
TOT_CURR_USD=#TOT_CURR_USD# ??
</center>
<b>тыс.$</b>
<table class="tlist" border=0 cellspacing=0>
<tr>
<th>WBS</th>
<th>Бюджет<br></th>  ??f_src_bud&!f_src_ms1&!f_src_prik
<th>План</th>  		??f_src_bud&!f_src_ms1&!f_src_prik
<th>Оплачено</th>
<th>Не оплачено</th>
</tr>

$CALL_SERVICE c=nica/i_expandPath 
[end]


[item]
$SET_PARAMETERS CURRPLAN=-; ITEM_SUMMA_USD=-; ITEM_PAYED_USD=-;
$SET_PARAMETERS item_id=#CID#; NODE_PLAN=-; NODE_PAYED=-; NODE_WAIT=-;
$GET_DATA nica/r_plan_fact_node.cfg[getPlanFactNode]

$GET_DATA [getPlan] ??
$GET_DATA [getFact] ??
<tr>
<td class="ppath pp1" nid="n#CID#">#CODE#: #ITEM_TITLE#</td>
<td class="r">&nbsp;#TOT_LIMIT#</td>  ??f_src_bud&!f_src_ms1&!f_src_prik
<td class="r">#NODE_PLAN#</td>  ??f_src_bud&!f_src_ms1&!f_src_prik

<td class="ppath r">
<a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#CID#&payed=y&f_src_bud=#f_src_bud#&f_src_ms1=#f_src_ms1#&f_src_prik=#f_src_prik#" target=_blank>
#ITEM_PAYED_USD# ??
#NODE_PAYED#
</a>
</td>
<td class="ppath r">
<a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#CID#&payed=w&f_prik=n" target=_blank>
#NODE_WAIT#
#ITEM_SUMMA_USD# ??
</a>
</td>
</tr>
[end]


[report footer]
$INCLUDE [WBS_DATA] ??TOT_CURR_USD_WBS

<tr bgcolor="F0F4F4"><td class="r"><b>Всего:</b></td>
<td class="r"><b>#TOTAL_BUDGET#</b></td> ??f_src_bud&!f_src_ms1&!f_src_prik
<td class="r"><b>#TOTAL_PLAN#</b></td> ??f_src_bud&!f_src_ms1&!f_src_prik
<td class="r"><b>#TOTAL_PAYED#</b></td>
<td class="r"><b>#TOTAL_WAIT#</b></td>
<td>&nbsp;</td> ??
</tr>
</table>
</div>

<small>curr_id=#curr_id#; prj_id=#prj_id#; wu_id=#wu_id#; CAN_EDIT=#CAN_EDIT#; CAN_DETAIL=#CAN_DETAIL#; USER_ID=#USER_ID#; USER_GROUP=#USER_GROUP#; A_NICA=#A_NICA#;</small>  ??ClientIP=159.93.40.211
</div>

<script type="text/javascript">
window.parent.getResult("c_planfact", document.getElementById("result")); 
window.parent.setNode("r_planfact", "#mode#", #prj_id#); 
</script>
</body></html>
[end]


[WBS_DATA]
<tr><td class="r"><b>WBS #ROOT_TITLE#</b> <i>(не детализировано)</i></td>
<td class="r">&nbsp;</td><td class="r">&nbsp;</td> ??f_src_bud&!f_src_ms1&!f_src_prik
<td class="ppath r">
<a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#curr_id#&payed=y&f_src_bud=#f_src_bud#&f_src_ms1=#f_src_ms1#&f_src_prik=#f_src_prik#&direct=Y" 
target=_blank><b>#TOT_CURR_USD_WBS#</b></a></td>
<td>&nbsp;</td>
</tr>
[end]

=============================================================================
=============================================================================
=============================================================================
[preSQLs]
select TYP, CODE||': '||TITLE as ROOT_TITLE  from NICA_WBS_WU where id=#curr_id#
;
select substr('#f_nica_year#',3,2) as "YR" from dual; ??
[end]


[SQL]
select w.id as "CID", w.title as "ITEM_TITLE", w.code as "CODE", w.ACTIVE
, l.summa_usd/1000  as "TOT_LIMIT" ??
, TO_CHAR(l.summa_usd/1000,'999G999G999D0')  as "TOT_LIMIT"
, to_number(replace(replace(w.code ,'.','') ,'X','')) as "SORT"
from nica_wbs_wu w 
  ??Разобраться с годом
 left join nica_limits_#VER# l on (l.wbs_id=w.id and 2000+l.yr=#f_nica_year#)
where 
	(pid=#curr_id# or (id=#curr_id# and typ='WU'))
 id in(select ID from nica_wbs_wu connect by prior id=pid start with pid=#curr_id#)  ??
 pid=#prj_id# ??
and active>0 ??!showAll
and id in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#)) ??NICA_ONLY&A_NICA	
and (l.yr is null or 2000+l.yr=#f_nica_year#) ??f_nica_year&!f_nica_year=ALL
and #f_nica_year# between extract(year from w.DATE_START) and extract(year from w.DATE_FINISH)  ??f_nica_year&!f_nica_year=ALL

order by SORT
[end]

====================== доделать! посчитать то, что не попало в WU! ============
[getWBSData]
SELECT /* считаем ФАКТ, не детализированный до WU */
	trim(to_char(sum(nvl(d.FACT_USD,0))/1000,'99G999G999G990D0')) as TOT_CURR_USD_WBS 
FROM docs d 
	join bc b on b.code=d.BC
	left join i_prikaz ip on ip.id=b.prikaz_id
WHERE d.doc_status <> 5
$INCLUDE nica/r_planfact.cfg[ProjectFilter]	??!f_src_ms1

and extract(year from d.FACT_DAT)=#f_nica_year#
and b.PRIKAZ_ID is null ??
$INCLUDE nica/list_1.cfg[checkSrc] 
;
[end]

[ProjectFilter]
	and nvl(d.PROJECT_ID,0)=#curr_id#
	and (b.SBJ_CODE like '%1065' 
	or (d.is_total='Y' and exists(select dd.doc_id from docs dd join bc bb on bb.code=dd.BC where dd.pid=d.doc_id	and bb.SBJ_CODE like '%1065')) 
	 ??Добавка сводных без темы - надо ли - НАДО!
	or d.PROJECT_ID is not null	or exists(select dd.doc_id from docs dd where dd.pid=d.doc_id	and dd.PROJECT_ID is not null) ??
	) 
[end]

ЧТО ЭТО БЫЛО ???
SELECT  
 trim(to_char(sum(decode(d.is_total,'Y', 0,nvl(d.SUMMA_USD,0))),'99G999G999G990D0')) as TOT_SUMMA_USD_WBS
FROM docs d, bc b
WHERE b.code(+)=d.BC
	and d.PROJECT_ID=#curr_id#
	and (b.SBJ_CODE like '%1065' 
	or (d.is_total='Y' and exists(select dd.doc_id from docs dd join bc bb on bb.code=dd.BC where dd.pid=d.doc_id	and bb.SBJ_CODE like '%1065')) 
	 ??Добавка сводных без темы - надо ли - НАДО!
	or d.PROJECT_ID is not null	or exists(select dd.doc_id from docs dd where dd.pid=d.doc_id	and dd.PROJECT_ID is not null) ??
	) 
and (not payed is null or d.doc_type=7) 
and d.doc_status <> 5
;




ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ

[ZZZgetNode]
select n.ID, n.PID, n.ROOT_ID, n.NUM_CHILDREN, n.LEV, n.ORDER_IN_LEVEL
, n.CODE, case when n.CODE like '%.XX' then 'Y' else '' end as "NEW"
, n.TITLE, n.TITLE_E, n.DES, n.DES_E, n.RESP, n.RESP_E, n.RESP_EMAIL
, n.DEPUTY, n.DEPUTY_E, n.DEPUTY_EMAIL, n.MOL
, n.DIV
, n.CRITICAL, n.REPORTING, n.MILESTONE, n.VER, n.ACTIVE
, TO_CHAR(v.PRICETOTALPLAN,'999G999G999') as PRICETOTALPLAN
, n.PRICEDISTR, n.REPORTING

, to_char(v.DATE_START,'DD.MM.YY') as "DATE_START"
, to_char(v.DATE_FINISH,'DD.MM.YY') as "DATE_FINISH"

, to_char(n.CREATED,'DD.MM.YYYY HH24:MI') as CREATED, u.FIO as CREATOR
, to_char(n.MODIFIED,'DD.MM.YYYY HH24:MI') as MODIFIED, uu.FIO as MODIFIER
from nica_wbs n 
left join nica_ver_data v on v.w_id=n.ID and v.version=#VER#
left join USERS u on u.id=n.CREATOR_ID
left join USERS uu on uu.id=n.MODIFIER_ID
where n.id=#prj_id#
;
select count(id) as "NUM_WU" from nica_wu where pid=#prj_id# and active=1 ??NUM_CHILDREN=0&LEV<3
;
select SUMMA_USD as CURR_LIM from nica_limits_#VER# where WBS_ID=#curr_id# and YR=#YR#;
select sum(SUMMA_USD) as TOT_LIM from nica_limits_#VER# where WBS_ID=#curr_id#;

[end]



[ZZZgetFact]
select ','||ID as WU_IDS from nica_wbs_wu connect by prior id=pid start with id=#CID#;

SELECT to_char(sum(decode(d.is_total,'Y', 0,nvl(d.SUMMA_USD,0)))/1000,'99G999G999G990D0') as ITEM_SUMMA_USD 
FROM docs d 
 join bc b on b.code=d.BC
 join nica_wu wu on (wu.id=d.PROJECT_ID and wu.id in(0#WU_IDS#))
WHERE 1=1
d.PROJECT_ID in(0#WU_IDS#) ??
(select ID from nica_wbs_wu connect by prior id=pid start with id=#CID#) ??
(21447,18459,21829,20941,183,21830,21572,20945,20947) ??

and b.SBJ_CODE = '1065' 
and b.PRIKAZ_ID is null

and (not payed is null or d.doc_type=7) 
and d.doc_status <> 5 ??
and (1=1 
and d.REG_DATE between to_date('01.01.#f_nica_year#','dd.mm.yyyy') and to_date('31.12.#f_nica_year# 23:55','dd.mm.yyyy HH24:MI') ??f_nica_year&!f_nica_year=ALL
or d.PAYED between to_date('01.01.#f_nica_year#','dd.mm.yyyy') and to_date('31.12.#f_nica_year# 23:55','dd.mm.yyyy HH24:MI') ??f_nica_year&!f_nica_year=ALL
)
[end]



[ZZZZZgetTotals]
SELECT /* Суммируем ФАКТ по оплаченным в этом году документам */
replace(to_char(sum(nvl(d.FACT_USD,0))/1000,'99G999G999G990D0'),',','&nbsp;') as TOT_PAYED_USD
FROM docs d
 join nica_wu wu on wu.id=d.PROJECT_ID ??curr_id=0
  join bc b on b.code=d.BC
WHERE 1=1
and d.PROJECT_ID in(select ID from nica_wbs_wu connect by prior id=pid start with id=#curr_id#)  ??curr_id>0
and (not payed is null or d.doc_type=7) ??
and d.doc_status <> 5
and extract(year from d.FACT_DAT)=#f_nica_year#
and b.SBJ_CODE = '1065' 
and b.PRIKAZ_ID is null
;

SELECT /* Суммируем ПЛАН по не оплаченным и не сводным документам этого года */
replace(to_char(
	sum(
		case when (d.is_total='Y' or d.FACT_USD>0) then 0
		else nvl(d.SUMMA_USD,0) end
		)/1000
	,'99G999G999G990D0'),',','&nbsp;') as TOT_CURR_USD 
FROM docs d
 join nica_wu wu on wu.id=d.PROJECT_ID ??curr_id=0
  join bc b on b.code=d.BC
WHERE 1=1
and d.PROJECT_ID in(select ID from nica_wbs_wu connect by prior id=pid start with id=#curr_id#)  ??curr_id>0
and d.doc_status <> 5
and extract (year from d.REG_DATE)=#f_nica_year#
and b.SBJ_CODE = '1065' 
and b.PRIKAZ_ID is null
;

select /* Суммируем план платежей по WU */ 
TO_CHAR(sum(SUMMA_USD)/1000,'999G999G999D0') as TOT_CURR_PLAN 
from nica_pplan_#VER# 
where TASK_ID in 
(select ID from nica_wbs_wu where typ='WU' and active=1 
connect by prior id=pid start with id in(#prj_id#)) 
and extract(year from dat)=#f_nica_year# ??f_nica_year&!f_nica_year=ALL
;

select /* выбираем БЮДЖЕТ - ограничение сверху по WBS */
TO_CHAR(sum(SUMMA_USD)/1000,'999G999G999D0')  ??prj_id=0
TO_CHAR(SUMMA_USD/1000,'999G999G999D0')  ??prj_id>0
as TOT_CURR_LIM 
from nica_limits_#VER# l where 
WBS_ID=#prj_id# ??prj_id>0
WBS_ID in (select ID from nica_wbs w where w.active=1 and pid=#prj_id#)  ??prj_id=0
and 2000+yr=#f_nica_year# ??f_nica_year&!f_nica_year=ALL
;
[end]


[ZZZ_getFact]
select ','||ID as WU_IDS from nica_wbs_wu connect by prior id=pid start with id=#CID#
;
SELECT 
replace(to_char(sum(nvl(d.FACT_USD,0))/1000,'99G999G999G990D0'),',','&nbsp;') as ITEM_PAYED_USD
to_char(sum(decode(d.is_total,'Y', 0,nvl(d.SUMMA_USD,0)))/1000,'99G999G999G990D0') as ITEM_SUMMA_USD ??
FROM docs d 
 join bc b on b.code=d.BC
 join nica_wu wu on (wu.id=d.PROJECT_ID and wu.id in(0#WU_IDS#))
WHERE 1=1
and b.SBJ_CODE = '1065' 
and b.PRIKAZ_ID is null
and d.doc_status <> 5
and extract(year from d.FACT_DAT)=#f_nica_year#
;

SELECT /* Суммируем ПЛАН по не оплаченным и не сводным документам этого года */
replace(to_char(
	sum(
		case when (d.is_total='Y' or d.FACT_USD>0) then 0
		else nvl(d.SUMMA_USD,0) end
		)/1000
	,'99G999G999G990D0'),',','&nbsp;') as ITEM_SUMMA_USD 
FROM docs d 
 join bc b on b.code=d.BC
 join nica_wu wu on (wu.id=d.PROJECT_ID and wu.id in(0#WU_IDS#))
WHERE 1=1
and b.SBJ_CODE = '1065' 
and b.PRIKAZ_ID is null
and d.doc_status <> 5
and extract (year from d.REG_DATE)=#f_nica_year#
;
[end]



[ZZZ_getPlan_NEW]
select TO_CHAR(PriceYearPlan/1000,'999G999G999D0') as CURRPLAN 
from nica_ver_data  
where 
W_ID=#CID#
and VERSION=#VER# 
[end]

[ZZZ_getPlan]
select TO_CHAR(sum(SUMMA_USD)/1000,'999G999G999D0') as CURRPLAN 
from nica_pplan_#VER# 
where TASK_ID in 
(select ID from nica_wbs_wu where typ='WU' and active=1 
connect by prior id=pid start with id in(#CID#)
) 
and extract(year from dat)=#f_nica_year# ??f_nica_year&!f_nica_year=ALL
;
[end]
