[parameters]
service=dubna.walt.service.TableServiceSpecial2 ??
service=jinr.adb.ServiceMimeData
of=bin  
contentType=application/vnd.ms-excel  
saveAsFile=NICA-Plan.xls 


of=xlt  ??
mimeType=application/vnd.ms-excel  ??
fileName=plan.xls ??

debug=off
KeepLog=false
ROOT_ID=0
thsnDelimiter=N
title=Поквартальный план

subtitle_colspan=18  ??!det=stat
subtitle_colspan=7  ??det=stat
qua_colspan=3 ??!det=stat
qua_colspan=1 ??det=stat
[end]

fileName=Поквартальный_план.xls


$INCLUDE nica/r_pplan.cfg[style]  ??cop=print


[report]
<HTML>
$SET_PARAMETERS fileName=NICA_PLAN_v.#VER#_#PLAN_DAT#.xls;
<HEAD><TITLE>#fileName#</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">

$SET_PARAMETERS YRO=#f_nica_year#;

<style>
table.tlist th, table.tlist td {
font-size: 10pt;
 border: solid 1px ##B0B0B0;
}
tr.total td {font-weight: bold;}
</style>
</head><body>

<table class="tlist" border=0 cellspacing=0 cellpadding=2 style="margin:0;">
<tr><td colspan=#subtitle_colspan#> </td>
<td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td> ??
<td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td> ??
</tr>
<tr><th rowspan=2> </th>
<th rowspan=2>Наименование статьи расходов</th>
<th colspan=#qua_colspan#>I квартал</th>
<th colspan=#qua_colspan#>II квартал</th>
<th colspan=#qua_colspan#>III квартал</th>
<th colspan=#qua_colspan#>IV квартал</th>

<th colspan=3>ВСЕГО</th>	??!det=stat
<th rowspan=2>ВСЕГО<br>$</th>
</tr>

<tr>
<th>руб.</th><th>€</th> ??!det=stat
<th>$</th> 
<th>руб.</th><th>€</th>	??!det=stat
<th>$</th>
<th>руб.</th><th>€</th>	??!det=stat
<th>$</th>
<th>руб.</th><th>€</th>	??!det=stat
<th>$</th>

<th>руб.</th><th>€</th><th>$</th>	??!det=stat
</tr>

<tr><td colspan=#subtitle_colspan# style="background-color:##FFFF80"><b>
п.#CODE#, #TITLE#, #RESP# ??!CODE=0
NICA-MPD, т.1065 ??CODE=0
</b></td></tr>

$CALL_SERVICE c=nica/r_pplan_stat_tablebody_xl;

<tr><td colspan=#subtitle_colspan# style_="background-color:##FFFF80"><b>В ТОМ ЧИСЛЕ:</b></td></tr>??CH
$EXECUTE_LOOP next_id; #CH#; [showChild] ??CH
</table>
[end]


[showChild]
$GET_DATA [checkChild]
<tr><td colspan=#subtitle_colspan# style="background-color:##FFFF80"><b>п.#CODE# (#TITLE#, #RESP#)</b></td></tr>??NUM_RECORDS>0
$CALL_SERVICE c=nica/r_pplan_stat_tablebody_xl; curr_id=#next_id#; ??NUM_RECORDS>0
[end]

========================================================

[checkChild]
select count(*) as "NUM_RECORDS" 
from nica_pplan_#VER# p
where p.TASK_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#next_id#)) 
and extract(YEAR from p.DAT) = #f_nica_year# ??f_nica_year&!TYP=WU&!f_nica_year={{ALL|past|future}}
and extract(YEAR from p.DAT) < #CURR_YEAR# ??f_nica_year=past
and extract(YEAR from p.DAT) >= #CURR_YEAR# ??f_nica_year=future
;
select CODE, nvl(TITLE,title_e) as TITLE, nvl(resp, resp_e) as RESP
from nica_wbs where id=#next_id#
[end]

[preSQLs]
$SET_PARAMETERS curr_id=0; ??!curr_id
select to_char(SYSDATE,'DD.MM.YYYY') as PLAN_DAT from dual
;
select CODE, nvl(TITLE,title_e) as TITLE, nvl(resp, resp_e) as RESP
from nica_wbs where id=#curr_id#
;
select ','||id as CH 
, to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"
from nica_wbs 
where pid=#curr_id#
order by SORT
;
select USD_RUB, EUR_RUB from budget_rates where YEAR=#f_nica_year#
[end]

