[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSpecial2 
debug=off
KeepLog=false
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0
makeTotalsForCols=SUMMA_RUB,SUMMA_USD,SUMMA_EUR,TOT_SUMMA_USD,S_USD,S_RUB
totRowLabel=¬—≈√Œ:
NumSpecialCols=2 
numDigits=2
thsnDelimiter=&nbsp;
[end]

[numDigitsForCols]
STATIA=0
QUA=0 
PRI=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
[end]

=================  √–¿‘»  œÀ¿“≈∆≈… - ¬€¬Œƒ “¿¡À»÷€ «¿œÀ¿Õ»–Œ¬¿ÕÕ€’ œÀ¿“≈∆≈… ===============


[report header]
$SET_PARAMETERS AR=2 ??!A_NICA&!A_NICA_RO

$SET_PARAMETERS TOT_USD=0; TOT_RUB=0; ??TOT_NUM_REC=0

[end]


[item]
<tr><td class=c>&nbsp;1065</td><td>'#CODE#</td><td>#TITLE#</td><td>#PRI#</td>

<td>&nbsp;#NAZNACH#</td>
<td class=c>&nbsp;#QUA#&nbsp;</td>

<td class=c>&nbsp;#STATIA#</td>

<td class="r">
&nbsp; ??!SUMMA_USD
#SUMMA_USD#</td>
<td class="r">
&nbsp; ??!SUMMA_RUB
#SUMMA_RUB#</td>
<td class="r">
&nbsp; ??!SUMMA_EUR
#SUMMA_EUR#</td> 	
<td class="r">
&nbsp; ??!S_USD
#S_USD#</td>
<td class="r">
&nbsp; ??!S_RUB
#S_RUB#</td>
<td class="r">#TOT_SUMMA_USD#</td>
<td style="font-size:7pt;">#CHANGED#</td>
</tr>
[end]

	
[report footer]
[end]


========================================================

[preSQLs]
select ACT as "VER_RW"
, getNicaRights(#curr_id#, '#A_NICA#', '#A_NICA_RO#') as "AR" ??A_NICA|A_NICA_RO
 from nica_versions where id=#VER#
;
[end]

, p.SUMMA_EUR ??
, to_char(p.SUMMA_RUB,'99G999G990') as SUMMA_RUB, to_char(p.SUMMA_USD,'99G999G990') as SUMMA_USD, to_char(p.SUMMA_EUR,'99G999G990') as SUMMA_EUR ??
, p.RATE_USD, p.RATE_EUR ??


[SQL]
select  
''''||w.CODE as CODE
, nvl(w.TITLE, w.TITLE_E) as "TITLE"
, w.PRI
, p.NAZNACH
, QUA
, to_char(p.STATIA,'00') as "STATIA"

, ''''||p.CURR_CODE as CURR_CODE
, decode(CURR_CODE, 840, p.SUMMA_USD, null) as SUMMA_USD
, decode(CURR_CODE, 810, p.SUMMA_RUB, null) as SUMMA_RUB
, decode(CURR_CODE, 978, p.SUMMA_EUR, null) as SUMMA_EUR
, decode(CURR_CODE, 840, p.SUMMA_USD, null) as S_USD
, decode(CURR_CODE, 810, p.SUMMA_RUB, null) as S_RUB
, p.SUMMA_USD as TOT_SUMMA_USD


, to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"
, to_char(p.MODIFIED,'DD.MM.YY HH24:MI') || ', '||u.FIO as CHANGED
from nica_pplan_#VER# p 
 left join nica_wbs_wu w on w.id=p.TASK_ID 
 left join users u on u.id=p.MODIFIER_ID

where 
$INCLUDE nica/r_pplan_table.cfg[criteria]
order by 
SORT, p.DAT ??!srt_plan
#srt_plan# #desc_plan# ??srt_plan
[end]

p.TASK_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#curr_id#)) 
and p.TASK_ID in(select ID from nica_wbs_wu connect by prior id=pid start with id in(#A_NICA#)) ??A_NICA&!A_NICA_RO
and p.TASK_ID in(select ID from nica_wbs_wu connect by prior id=pid start with id in(#A_NICA#,#A_NICA_RO#)) ??A_NICA&A_NICA_RO

and extract(YEAR from p.DAT) = #f_nica_year# ??f_nica_year


