[parameters]
prj_id=7
[end]

[preSQLs]
select name as "path", pid as "PPID"
from projects
where id=#prj_id#
;
select id||',' as "PIDS"
from projects
where id>0
connect by prior pid=id
start with id=#PPID#
;
[end]

[report]
$SET_PARAMETERS path=; ??
$EXECUTE_LOOP PID; #PIDS#; addParent
<br>
#prj_id#: #path#
$GET_DATA [set path]
[end]

[addParent]
<br>PID:#PID# ??
$GET_DATA [add path]
[end]

[add path]
select name||' / #path#' as "path"
from projects
where id=#PID#
[end]

[set path]
update projects set path='#path#' where id=#prj_id#
[end]