[parameters]
title=NICA-свод
service=jinr.adb.ServiceNicaSvod ??logged=YES
service=dubna.walt.service.TableServiceSpecial ??logged=YES_ZZZ
PS_TOTAL=ps_total
makeTotalsForCols=,W0,P0,T0,W4,P4,P5,W5,P19,W19,PW,P_TOT,W_TOT,S_TOT,PLAN,
numDigits=1
NumSpecialCols=6
totRowLabel=Всего
wrapperTable=none
wrapperTableEnd=none
table_beg=none
table_end=none
table_svod=nica_svod_#q_yr#
debug=off
[end]

TITLE_COLSPAN=6; 
??!TITLE_COLSPAN|TITLE_COLSPAN=0

[report header]
<HTML><HEAD><TITLE>#title#</TITLE>
$SET_PARAMETERS s04=on; s05=on; s19=on; s0=on; ??!s04&!s05&!s19&!s0
$GET_DATA [getTableParams]	
$SET_PARAMETERS MAX_PLAN=100; ??!MAX_PLAN
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
<meta name="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta http-equiv="pragma" content="no-cache">
<link rel="stylesheet" href="#cssPath#adb.css" type="text/css">
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
<script language="JavaScript" src="#jsPath#calendar.js"></script>
<SCRIPT language=JavaScript src="#jsPath#cal2.js"></SCRIPT>

$INCLUDE common.dat[head]
<link rel="stylesheet" href="#ServletPath#?c=tabs_css" type="text/css"> ??debug=onZZZ
<link rel="stylesheet" href="#cssPath#tabs.css" type="text/css"> ??!debug=on&ZZZ
$INCLUDE cp/main12.cfg[style]
<style>
.bd {height:13px; margin-top:2px; border:solid 1px black;}
.bd td {padding:0; margin:0; border:none;}
td.z {color:##a0a0a0}
img {height:12px; margin:0px; border:none 1px black;}
img.b {border-right:solid 1px black;}
img.w {height:12px; margin:0px; border:none 1px black; border-left:none;}
</style>

<body style="margin:0 20px 20px 20px;">
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="type" value="#type#">
<input type=hidden name="s06" value="on"> ??s05
<input type=hidden name="s10" value="on"> ??s05
<input type=hidden name="s14" value="on"> ??s19
<input type=hidden name="s18" value="on"> ??s19
<input type=hidden name="s_other" value="on"> ??

<table border=0 cellpadding=0 cellspacing=0 width=98%>
<tr><td width=90%>
<div style="padding-top: 10px;">
<h3>Финансовые затраты по подсистемам NICA MPD (т.1065) за 20#q_yr# год на #TODAY#<br></h3>
<h3>по данным регистрации в ADB2, в тыс.долл. <sup>1</sup>)</h3></div>
</td><td align=right><a class=info href="#ServletPath#">Главная</a>
</td></tr></table>

<script>
var frm = document.theForm;
function showDet()
{
	frm.c.value="nica/svod_det";
	frm.submit();
}
</script>

<center>

$INCLUDE [filters]
<br> 
<table class=svod border=0  cellspacing=0 cellpadding=0>
<tr><td class=h rowspan=3><b>Подсистема</b></td><td class=h colspan=#TITLE_COLSPAN#
><b>Статьи затрат</b></td><td class=h rowspan=2 colspan=3><b>Итого:</b></td>
<td class=h rowspan=3><b>План:&nbsp;<sup>2</sup>)</b></td>
<td class=h colspan=3 rowspan=1><b>Всего - % от плана:</b></td>
</tr>
<tr>
<td class=h colspan=2>4:&nbsp;МНТС</td> ??s04
<td class=h colspan=2>5,6,10:&nbsp;Оборудование</td> ??s05
<td class=h colspan=2>14,18,19:&nbsp;Строительство</td>  ??s19
<td class=h rowspan=1>&nbsp;Другие</td>  ??s0
<td class=h rowspan=2>Опла-<br>чено</td><td class=h rowspan=2>+ожи-<br>дает</td><td class=h rowspan=2>&nbsp;</td>
</tr>
<tr>
<td class=h>Оплачено</td><td class=h>Ожидает</td>  ??s04
<td class=h>Оплачено</td><td class=h>Ожидает</td>  ??s05
<td class=h>Оплачено</td><td class=h>Ожидает</td>  ??s19
<td class=h>Всего</td>  ??s0
<td class=h>Оплачено</td><td class=h>Ожидает</td><td class=h>Всего</td>
</tr>
[end]


[item]
<tr><td class=rb style="text-align:left;">#PRJ#</td>
<td class="rb"><a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#PRJ_ID#&payed=y&svod=d&rpp=9999&aggr=04&f_prik=n" target=_blank>#P4#&nbsp;</a></td>  ??s04&!P4=0.0
<td class="rb z">0.0</td>  ??s04&P4=0.0

<td class="rb"><a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#PRJ_ID#&payed=n&rpp=9999&svod=d&aggr=04&f_prik=n" target=_blank>#W4#&nbsp;</a></td>  ??s04&!W4=0.0
<td class="rb z">0.0&nbsp;</td>  ??s04&W4=0.0


<td><a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#PRJ_ID#&payed=y&svod=d&rpp=9999&aggr=05,06,10&f_prik=n" target=_blank>#P5#&nbsp;</a></td>  ??s05&!P5=0.0
<td class=z>0.0</td>  ??s05&P5=0.0

<td class=rb><a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#PRJ_ID#&payed=bn&rpp=9999&svod=d&aggr=05,06,10&f_prik=n" target=_blank>#W5#&nbsp;</a></td>  ??s05&!W5=0.0
<td class="rb z">0.0&nbsp;</td>  ??s05&W5=0.0

<td><a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#PRJ_ID#&payed=y&&svod=d&rpp=9999&aggr=14,18,19&f_prik=n" target=_blank>#P19#&nbsp;</a></td>   ??s19&!P19=0.0
<td class=z>0.0&nbsp;</td>   ??s19&P19=0.0

<td class=rb><a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#PRJ_ID#&payed=bn&rpp=9999&svod=d&aggr=14,18,19&f_prik=n" target=_blank>#W19#&nbsp;</a></td>  ??s19&!W19=0.0
<td class="rb z">0.0&nbsp;</td>  ??s19&W19=0.0

<td><a href="#ServletPath#?c=nica/list_1&PROJECT_ID=#PRJ_ID#&svod=d&rpp=9999&aggr=04,05,06,10,14,18,19&aggr_excl=on&f_prik=n" target=_blank>#T0#&nbsp;</a></td>   ??s0&!T0=0.0
<td class=z>0.0&nbsp;</td>   ??s0&T0=0.0

$GET_DATA [correctTotal] ??PRJ_ID=168_ZZZ-было для 4-й статьи
<td class=z>
$INCLUDE nica/svod.cfg[link] param: p_key=y; ??!P_TOT=0.0
#P_TOT#
</a> ??!P_TOT=0.0
&nbsp;</td>

<td class="z">
$INCLUDE nica/svod.cfg[link] param: p_key=bn; ??!W_TOT=0.0
#W_TOT#
</a> ??!W_TOT=0.0
&nbsp;</td>

<td class="rb z">
$INCLUDE nica/svod.cfg[link] ??!S_TOT=0.0
#S_TOT#
</a> ??!S_TOT=0.0
&nbsp;</td>

<td class=rb>#PLAN#&nbsp;</td>
$INCLUDE [PS] ??PLAN
<td class=rb colspan=3>&nbsp;</td> ??!PLAN
</tr>
$SET_PARAMETERS TOT_SIZE=;
[end]

[link] param: p_key;
<a target=_blank href="#ServletPath#?c=nica/list_1&PROJECT_ID=#PRJ_ID#&payed=#p_key#&f_prik=n&svod=d&rpp=9999&aggr=
04  ??s04
,05,06,10  ??s05
,14,18,19  ??s19
,07,08,09,11,12,13,14,15,16,17  ??s0
">
[end]


[PS]
<td style="border-right:none; background-color:##D0E8FF">#PS#%</td><td style="border-right:none;  background-color:##D0FFE8">#PS2#%</td>
<td class=rb style="text-align:left;">
$INCLUDE [less] ??W_SIZE>-1
$INCLUDE [more] ??W_SIZE<0
#P_SIZE#:#TOT_SIZE#:#W_SIZE#/#B_SIZE#:#R_SIZE#:#Y_SIZE#/#G_SIZE#:#G2_SIZE# ??
</td>
[end]

[less]
<table class=bd cellpadding=0 cellspacing=0 border=0 style="width:#P_SIZE#px;"><tr>
<td><img src="#imgPath#bluedot.gif" width=#B_SIZE#><img src="#imgPath#greendot.gif" width=#G_SIZE#><img src="#imgPath#whitedot.gif" width=#W_SIZE#></td> ??G_SIZE>0&W_SIZE>0
<td><img src="#imgPath#bluedot.gif" width=#B_SIZE#><img src="#imgPath#whitedot.gif" width=#W_SIZE#></td> ??G_SIZE=0&W_SIZE>0
<td><img src="#imgPath#bluedot.gif" width=#B_SIZE#><img src="#imgPath#greendot.gif" width=#G_SIZE#></td>  ??G_SIZE>0&W_SIZE<1
<td><img src="#imgPath#bluedot.gif" width=#B_SIZE#></td>   ??G_SIZE=0&W_SIZE<1
</tr></table>
#P_SIZE#:#W_SIZE#/#B_SIZE#/#G_SIZE#:#G2_SIZE# ??
[end]

[more]
$GET_DATA [getRedSizez]
$SET_PARAMETERS R_SIZE=1; ??R_SIZE=0
$SET_PARAMETERS Y_SIZE=1; ??Y_SIZE=0&R_SIZE<1
<table class=bd cellpadding=0 cellspacing=0 border=0 style="width:#TOT_SIZE#px;"><tr>
<td><img src="#imgPath#bluedot.gif" class=b width=#B_SIZE#><img src="#imgPath#reddot.gif" width=#R_SIZE#><img src="#imgPath#orangedot.gif" width=#Y_SIZE#></td> ??R_SIZE>0&Y_SIZE>0
<td><img src="#imgPath#bluedot.gif" class=b width=#B_SIZE#><img src="#imgPath#reddot.gif" width=#R_SIZE#></td> ??R_SIZE>0&Y_SIZE<1
<td><img src="#imgPath#bluedot.gif" width=#B_SIZE#><img src="#imgPath#greendot.gif" class=b width=#G2_SIZE#><img src="#imgPath#orangedot.gif" width=#Y_SIZE#></td> ??R_SIZE<1&Y_SIZE>0
</tr></table>
#TOT_SIZE#/#R_SIZE#:#Y_SIZE# ??
[end]

P_SIZE - план
B_SIZE - оплачены в пределах плана
G_SIZE - зеленый - всего ожидает 
G2_SIZE - зеленый - ожидает в пределах плана
R_SIZE - красный - оплачено сверх плана
Y_SIZE - желтый - ожидает сверх плана
TOT_SIZE - общий размер

[report footer]
</table></form></center>
<sup>1</sup>) Представлены данные, зарегистрированные на тему 1065, исключая дополнительное финансирование по грантам ПП и программам сотрудничества.
</body></html>
[end]

<br><sup>2</sup>) Суммарный бюджет темы 1065 на 20#q_yr# год с учетом стимуляционных выплат ($1 200 тыс.) составляет  
<a target=_blank href="#ServletPath#?c=budget/list&NODEID=1010&PNODEID=1010&f_bc=873">
$16 200 тыс. </a>


[filters]
$SET_PARAMETERS s_mnts=#s04#;
$SET_PARAMETERS s_mat=#s05##s06##s10#;
$SET_PARAMETERS s_sod=#s18##s19#;
<br>
<table border=0 class=svod cellspacing=0 cellpadding=0><tr>
<td class="rb total">Показать статьи: </td>
<td class="rb total" style="text-align:left;"><input type=checkbox onClick="frm.submit();"
checked ??s04
name=s04 >МНТС (4)</td>

<td class="rb total" style="text-align:left;"><input type=checkbox onClick="frm.submit();"
checked ??s05
name=s05>Оборудование (5,6,10)</td>

<td class="rb total" style="text-align:left;"><input type=checkbox onClick="frm.submit();"
checked ??s19
name=s19>Стоительство (14,18,19)</td>

<td class="rb total" style="text-align:left;"><input type=checkbox onClick="frm.submit();"
checked ??s0
name=s0>Другие</td>

</tr>
<tr><td colspan=5><a href="javascript:showDet();">детализировать статьи >></a>&nbsp;</td></tr>
</table>
[end]

============================================================================
====================================== SQLs ================================

[getTableParams]
select length('#s0##s04##s05##s19#') as "TITLE_COLSPAN" from dual;
select #TITLE_COLSPAN#-1 as "TITLE_COLSPAN" from dual; ??s0
select 1000*max(s) as "MAX_PLAN" from nica_plan where YR=#q_yr#;
select decode(S_0_USD+S_0W_USD+S_4_USD+S_4W_USD+S_5_USD+S_5W_USD+S_19_USD+S_19W_USD,0,'','Y') as "SHOW_0" 
from #table_svod# where ROOT_ID=-1;
[end]

[p_summ]
0
+nvl(s.S_0T_USD,0) ??s0
+nvl(s.S_4_USD,0) ??s04
+nvl(s.S_5_USD,0) ??s05
+nvl(s.S_19_USD,0) ??s19
[end]

[w_summ]
0
+nvl(s.S_0W_USD,0) ??s0_ZZZ
+nvl(s.S_4W_USD,0) ??s04
+nvl(s.S_5W_USD,0) ??s05
+nvl(s.S_19W_USD,0) ??s19
[end]

[SQL]
select i.code||': '||i.title as "PRJ"
, to_char(s.S_4_USD/1000,'9999990.0') as "P4", to_char(s.S_4W_USD/1000,'9999990.0') as "W4"  ??s04
, to_char(s.S_5_USD/1000,'9999990.0') as "P5", to_char(s.S_5W_USD/1000,'9999990.0') as "W5" ??s05
, to_char(s.S_19_USD/1000,'9999990.0') as "P19", to_char(s.S_19W_USD/1000,'9999990.0') as "W19" ??s19
, to_char(s.S_0T_USD/1000,'9999990.0') as "T0"  ??s0
, to_char(s.S_0_USD/1000,'9999990.0') as "P0", to_char(s.S_0W_USD/1000,'9999990.0') as "W0"  ??s0_ZZZ

, to_char((
$INCLUDE [p_summ]
)/1000,'999990.0') as "P_TOT"

, to_char((
$INCLUDE [w_summ]
)/1000,'9999990.0') as "W_TOT"

, to_char((
$INCLUDE [p_summ]
+
$INCLUDE [w_summ]
)/1000,'9999990.0') as "S_TOT"

, to_char(p.S,'9999990.0') as "PLAN" 
, to_char((nvl(s.S_0T_USD,0)+nvl(s.S_4_USD,0)+nvl(s.S_5_USD,0)+nvl(s.S_19_USD,0))/(10*p.S),'9999990.0') as "PS"
, to_char((nvl(s.S_0T_USD,0)+nvl(s.S_4_USD,0)+nvl(s.S_4W_USD,0)+nvl(s.S_5_USD,0)+nvl(s.S_19_USD,0)+nvl(s.S_5W_USD,0)+nvl(s.S_19W_USD,0))/(10*p.S),'9999990.0') as "PS2"

, to_char(100*(nvl(s.S_0T_USD,0)+nvl(s.S_4_USD,0)+nvl(s.S_5_USD,0)+nvl(s.S_19_USD,0))/#MAX_PLAN# + 1,'9999990') as "B_SIZE"
, to_char(100*(nvl(s.S_4W_USD,0)+nvl(s.S_5W_USD,0)+nvl(s.S_19W_USD,0))/#MAX_PLAN#,'9999990') as "G_SIZE"
, to_char(100*(p.S*1000-nvl(s.S_0T_USD,0)-nvl(s.S_4_USD,0)-nvl(s.S_4W_USD,0)-nvl(s.S_5_USD,0)-nvl(s.S_5W_USD,0)-nvl(s.S_19_USD,0)-nvl(s.S_19W_USD,0))/#MAX_PLAN# - 0.5,'9999990') as "W_SIZE"
, to_char(100*1000*p.S/#MAX_PLAN#+1,'9990') as "P_SIZE"
,i.id as "PRJ_ID"

from nica i left join #table_svod#_ s on s.ROOT_ID=i.id
left join nica_plan p on (p.code=i.code and p.YR=#q_yr#)
where i.lev=1
and i.id in(select ID from nica connect by prior id=pid start with id in(#A_NICA#)) ??NICA_ONLY&A_NICA	
and s.ROOT_ID>0 ??!SHOW_0&ZZZ
and i.code=12 ??
order by to_number(i.code) 
[end]

P_SIZE - план
B_SIZE - оплачены в пределах плана
G_SIZE - зеленый - всего ожидает 
G2_SIZE - зеленый - ожидает в пределах плана
R_SIZE - красный - оплачено сверх плана
Y_SIZE - желтый - ожидает сверх плана
TOT_SIZE - общий размер

[getRedSizez]
select #B_SIZE#-#P_SIZE# as R_SIZE from dual
;
select #B_SIZE#+#G_SIZE#-#P_SIZE# as Y_SIZE from dual ??R_SIZE<1
;
select #P_SIZE#-#B_SIZE# as G2_SIZE from dual ??R_SIZE<1
;
select #G_SIZE# as Y_SIZE from dual ??R_SIZE>0
;
select #P_SIZE# as B_SIZE from dual ??B_SIZE>#P_SIZE#
;
select #P_SIZE#+#R_SIZE#+#Y_SIZE# as TOT_SIZE from dual ??R_SIZE>0
;
select #P_SIZE#+#Y_SIZE# as TOT_SIZE from dual ??R_SIZE<1
; 
[end]

[correctTotal_ZZZ]
select to_char(#S_TOT#-#P4#,'9999990.0') as "S_TOT" 
, to_char(#W_TOT#-#P4#,'9999990.0') as "W_TOT" from dual;
[end]



[getTotalPS]
select to_char(sum(p.s),'9999990.0') as  "TOT_PLAN" 
from nica_plan p where YR=#q_yr#
;
select to_char(sum(S_0T_USD+S_4_USD+S_5_USD+S_19_USD)/1000,'9999990.0') as "TOT_PAYED"
, to_char(sum(S_4W_USD+S_5W_USD+S_19W_USD)/1000,'9999990.0') as "TOT_W"
from #table_svod# 
;
select to_char(100*0#TOT_PAYED#/#TOT_PLAN#,'9999990.0') as "TOT_PS_P"
, to_char(100*(0#TOT_PAYED#+0#TOT_W#)/#TOT_PLAN#,'9999990.0') as "TOT_PS"
from dual
;
select to_char(100*(0#TOT_PAYED#)/#TOT_PLAN# + 1,'9999990') as "B_SIZE"
, to_char(100*(0#TOT_W#)/#TOT_PLAN#,'9999990') as "G_SIZE"
, to_char(100*(#TOT_PLAN#-0#TOT_PAYED#-0#TOT_W#)/#TOT_PLAN#,'9999990') as "W_SIZE"
, to_char(100,'9990') as "P_SIZE"
, to_char(100*(0#TOT_PAYED#+0#TOT_W#-#TOT_PLAN#)/#TOT_PLAN#,'9999990') as "R_SIZE"
from dual
;
[end]

[ps_total]
$SET_PARAMETERS TOT_PLAN=100; ??!TOT_PLAN
$GET_DATA [getTotalPS] 
#TOT_PS_P#%</td>
<td class=total>#TOT_PS#%</td>
<td>
$INCLUDE [less] ??W_SIZE>-1
$INCLUDE [more] ??W_SIZE<0
[end]
