wf/add_extra_steps.cfg

[comments]
descr=U: Добавить в WF шаг для обработки документа дополнительными конкретными юзерами (или ролями - не исп.)

input=[step_id - ID шага WF] ИЛИ [doc_id - ID документа, [step] - № шага WF(#CURR_STEP#)], ПОСЛЕ которого вставлять доп. шаги, [extra_users_id] - список ID, кого вставить в WF, ИЛИ [extra_role_id] - ID роли, которую вставить, [action_code](~doc_action_delegate) - позднее определение след.юзеров (по умолч.)
output=в таблицу wf вставляются записи для дополнительных шагов
parents=docs/doc_user_action.cfg
childs=
author=Куняев
[end]

[description]
Добавить в WF шаг (одиночный или параллельный) для обработки документа дополнительными конкретными юзерами<br>
<ol>
    <li>Если не задано action_code, ставим его = ##~doc_action_delegate##</li>
    <li>Получаем данные текущего шага и номер след.шага NEXT_STEP (wf/set_next_users.cfg[get wf info])</li>
    <li>Если NEXT_STEP не получен, то берем макс.номер стартованного шага + 1 [get next step]</li>
    <li>Если нет ошибок, есть WF_ID и NEXT_STEP, то запускаем [process action]</li>
    <li>Вставляем шаг с текущим юзером, если пересылка с возвратом (##~doc_action_forward##) [insert current user]</li>
    <li>Сдвигаем на 1 вниз последующие шаги [shift next steps]</li>
    <li>Цикл по юзерам из extra_users_id - [add extra user] - вставляем параллельный шаг для каждого юзера из списка.
        Если тип шага - "согласование", то критерий завершения шага все (100), если тип шага утверждение или завершение, то критерий "любой из" (1)
    </li>
    <li>ВСЁ! Дальше продолжает wf/user_action.cfg - помечает текущий шаг завершенным, ставит комментарии и history, асинхронно стартует след.шаг.</li>
</ol>
[end]

[parameters]
request_name=U:вставка шагов WF для док.#doc_id#
LOG=ON
[end]


[report]
    $SET_PARAMETERS CURR_STEP_TYPE=0; ??!CURR_STEP_TYPE
    $SET_PARAMETERS action_code=#~doc_action_delegate#; ??!action_code
    $LOG1 <b>add_extra_steps:</b> step_id=#step_id#; action_code=#action_code#; extra_users_id=#extra_users_id#; extra_role_id=#extra_role_id#; CURR_STEP_TYPE=#CURR_STEP_TYPE#<br>
    $SET_PARAMETERS USER_ALREADY_IN_WF=;
    $GET_DATA wf/set_next_users.cfg[get wf info] ??step_id>0

    $SET_PARAMETERS step=#CURR_STEP#; ??!step
    $SET_PARAMETERS step=0; ??!step
    $GET_DATA [get next step] ??!NEXT_STEP
    $INCLUDE [process action] ??WF_ID&NEXT_STEP&!ERROR
    #ERROR#
    $LOG  Добавлены: EXTRA_USERS=#EXTRA_USERS#;<br>
[end]


[process action]
    $SET_PARAMETERS CURR_STEP_ROLE_ID=null; ??!CURR_STEP_ROLE_ID
    $SET_PARAMETERS CURR_STEP_TARGET_TYPE_ID=null;  ??!CURR_STEP_TARGET_TYPE_ID
    $SET_PARAMETERS CURR_STEP_TARGET_ID=null;  ??!CURR_STEP_TARGET_ID
    $SET_PARAMETERS SET_NUMBER_AT_STEP=0;  ??!SET_NUMBER_AT_STEP
    $SET_PARAMETERS POST_DOC_AT_STEP=0;  ??!POST_DOC_AT_STEP

    $LOG2 +++ [process action]: CURR_STEP_ROLE_ID=#CURR_STEP_ROLE_ID#, CURR_STEP_TARGET_TYPE_ID=#CURR_STEP_TARGET_TYPE_ID#, CURR_STEP_TARGET_ID=#CURR_STEP_TARGET_ID#; SET_NUMBER_AT_STEP=#SET_NUMBER_AT_STEP#; POST_DOC_AT_STEP=#POST_DOC_AT_STEP#;<br>

    $SET_PARAMETERS NEXT_STEP_SET_NUMBER=0; NEXT_STEP_POST_DOC=0;
    $SET_PARAMETERS NEXT_STEP_ROLE_ID=#CURR_STEP_ROLE_ID#; NEXT_STEP_TARGET_TYPE_ID=#CURR_STEP_TARGET_TYPE_ID#; NEXT_STEP_TARGET_ID=#CURR_STEP_TARGET_ID#;   ??result_code=#~doc_action_delegate#
    $SET_PARAMETERS NEXT_STEP_SET_NUMBER=#SET_NUMBER_AT_STEP#; NEXT_STEP_POST_DOC=#POST_DOC_AT_STEP#;  ??result_code=#~doc_action_delegate#

    $LOG2 ==> NEXT_STEP_ROLE_ID=#NEXT_STEP_ROLE_ID#, TARGET_TYPE_ID=#NEXT_STEP_TARGET_TYPE_ID#, TARGET_ID=#NEXT_STEP_TARGET_ID#; SET_NUMBER=#SET_NUMBER_AT_STEP#; POST_DOC=#POST_DOC_AT_STEP#;<br>

    $GET_DATA [insert current user] ??action_code=#~doc_action_forward#

    $INCLUDE [add extra users]  ??extra_users_id
    $INCLUDE [add extra role]  ??!extra_users_id&extra_role_id-НЕ ИСПОЛЬЗУЕТСЯ!
    $LOG0 <br><b>ERROR! extra_users_id&extra_role_id NOT DEFINED!</b><br>  ??!extra_users_id&!extra_role_id
[end]


[add extra users] ******* Вставить параллельный шаг со всеми заданными юзерами
    $GET_DATA [check extra users already here] ??ZZZZZ баг при нескольких юзерах - лучше кого-то добавим повторно
    $GET_DATA [shift next steps] ??!ERROR
      ??&!USERS_ALREADY_IN_WF
    $SET_PARAMETERS CURR_STEP_TYPE=0;  ??!result_code=#~doc_action_delegate#
    $SET_PARAMETERS EXTRA_USERS=;
    $EXECUTE_LOOP next_user_id; #extra_users_id#; [add extra user]  ??!ERROR
[end]


[add extra user]  ******* Вставить шаг с заданным юзером
    $GET_DATA [get extra step role]  
        ??!NEXT_STEP_ROLE_ID|NEXT_STEP_ROLE_ID=null|NEXT_STEP_ROLE_ID=0

    $SET_PARAMETERS NEXT_STEP_TYPE=#CURR_STEP_TYPE#;  ??!NEXT_STEP_TYPE
    $SET_PARAMETERS NEXT_STEP_ROLE_ID=null; ??!NEXT_STEP_ROLE_ID
      ??&NUM_NEXT_STEPS=1
    $SET_PARAMETERS NEXT_STEP_TARGET_TYPE_ID=null;  ??!NEXT_STEP_TARGET_TYPE_ID
      ??&NUM_NEXT_STEPS=1
    $SET_PARAMETERS NEXT_STEP_TARGET_ID=null;  ??!NEXT_STEP_TARGET_ID
      ??&NUM_NEXT_STEPS=1
    $SET_PARAMETERS USER_ALREADY_IN_WF=; ??ZZZ
    $LOG2 <b>wf/add_extra_steps.cfg[add extra user]</b>  next_user_id=#next_user_id#; NEXT_STEP_ROLE_ID=#NEXT_STEP_ROLE_ID#; NEXT_STEP_TARGET_TYPE_ID=#NEXT_STEP_TARGET_TYPE_ID#; NEXT_STEP_TARGET_ID=#NEXT_STEP_TARGET_ID#;<br>  

    $GET_DATA [check extra user already here] ??ZZZZZ баг при нескольких юзерах - лучше кого-то добавим повторно
    $GET_DATA [insert extra user]  
       ??!USER_ALREADY_IN_WF
    $CALL_SERVICE c=svs/get_user_info; requested_user_id=#next_user_id#;

    $SET_PARAMETERS EXTRA_USERS=#EXTRA_USERS#, #u_IOF#; ??EXTRA_USERS
    $SET_PARAMETERS EXTRA_USERS=#u_IOF#; ??!EXTRA_USERS
[end]


==============================================================
==============================================================
==============================================================

[get next step]
    select /* номер след.шага */ max(step)+1 as "NEXT_STEP"
    from wf where wf_id=#WF_ID# and not started is null and is_active=1 and step_type<>3
[end]


[insert current user]
    $INCLUDE [shift next steps]
    ;
    select #step#+1 as NEXT_STEP
    ;
    insert /* Вставить шаг возврата к текущему юзеру при пересылке с возвратом */
    into wf(wf_id, step, step_type, user_id
    , role_id, role_target_type_id, role_target_id, set_number, post_doc
    , modified, modifier_id, creator_id)
    values(#WF_ID#, #NEXT_STEP#, #CURR_STEP_TYPE#, #USER_ID#
    ,#CURR_STEP_ROLE_ID#, #CURR_STEP_TARGET_TYPE_ID#, #CURR_STEP_TARGET_ID#, #SET_NUMBER_AT_STEP#, #POST_DOC_AT_STEP#
    , now(), #USER_ID#, #USER_ID#)
[end]


[shift next steps]
    update wf /* "Раздвинуть" WF - переместить последующие шаги вниз на 1 */
    set step=step+1 where wf_id=#WF_ID# and step>#step#
[end]


[get extra step role]  ****** Ищем существует ли уже роль, цель и код цели добавочного юзера в этом маршруте
    select /* Ищем существует ли уже роль, цель и код цели добавочного юзера в этом маршруте на шагах согласования или завершения */
        role_id as "NEXT_STEP_ROLE_ID", role_target_type_id as "NEXT_STEP_TARGET_TYPE_ID", role_target_id as "NEXT_STEP_TARGET_ID"
        , set_number as "NEXT_STEP_SET_NUMBER", post_doc as "NEXT_STEP_POST_DOC"
        , step_type as "NEXT_STEP_TYPE"
    from wf
    where wf_id=#WF_ID# 
        and user_id=#next_user_id# 
        and not role_id is null and role_id>0
        and step<#NEXT_STEP#
        and step_type in(0,2)
        and step_type<>3 ??
        and step_type>-1 ??
    order by step desc
    limit 1
[end]


[insert extra user] ****** Вставить добавочный шаг WF с заданным юзером
    insert /* вставляем добавочный шаг WF с заданным юзером */
    into wf(wf_id, step, step_type
        , criteria
        , user_id,role_id, role_target_type_id, role_target_id, set_number, post_doc
        , modified, modifier_id, creator_id)
    values(#WF_ID#, #NEXT_STEP#, #NEXT_STEP_TYPE#
        , 100   ??!NEXT_STEP_TYPE>0
        , 1     ??NEXT_STEP_TYPE>0
        , #next_user_id#,#NEXT_STEP_ROLE_ID#, #NEXT_STEP_TARGET_TYPE_ID#, #NEXT_STEP_TARGET_ID#, #NEXT_STEP_SET_NUMBER#, #NEXT_STEP_POST_DOC#
        , now(), #USER_ID#, #USER_ID#)
[end]


[get extra role and step type]
select 'Y' as "USER_WAS_IN_WF" 
        , role_id as "PREV_STEP_ROLE", role_target_id as "PREV_STEP_TARGET"
    from wf 
    where wf_id=#WF_ID# 
        and step<#NEXT_STEP# 
        and step_type<>3 
[end]


ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ

[ZZZZZ add extra role]   ******* Вставить шаг с озаданной ролью -НЕ ИСПОЛЬЗУЕТСЯ!
$SET_PARAMETERS NEXT_STEP_ROLE_ID=#extra_role_id#; 
$SET_PARAMETERS NEXT_STEP_TARGET_TYPE_ID=null;  ??!NEXT_STEP_TARGET_TYPE_ID
$SET_PARAMETERS NEXT_STEP_TARGET_ID=null;  ??!NEXT_STEP_TARGET_ID
$SET_PARAMETERS USER_ALREADY_IN_WF=; ??

$GET_DATA [check extra role already here]  ??ZZZZZ лучше добавим роль повторно
$GET_DATA [shift next steps] 
  ??!ROLE_ALREADY_IN_WF
$GET_DATA [insert extra role] 
   ??!ROLE_ALREADY_IN_WF
$CALL_SERVICE c=wf/set_wf_step_users; step=#NEXT_STEP#;  ??!ROLE_ALREADY_IN_WF

$SET_PARAMETERS EXTRA_USERS=#EXTRA_USERS#, #u_IOF#; ??EXTRA_USERS
$SET_PARAMETERS EXTRA_USERS=#u_IOF#; ??!EXTRA_USERS
[end]

[ZZZZZ insert extra role] ***** Вставить добавочный шаг WF с заданной ролью
insert into wf(wf_id, step, step_type, user_id
,role_id, role_target_type_id, role_target_id, criteria 
, modified, modifier_id, creator_id)
values(#WF_ID#, #NEXT_STEP#, #CURR_STEP_TYPE#, null
,#NEXT_STEP_ROLE_ID#, #NEXT_STEP_TARGET_TYPE_ID#, #NEXT_STEP_TARGET_ID#, 1
, now(), #USER_ID#, #USER_ID#)
;
[end]

[ZZZcheck extra users already here]
update wf /* активируем следующий шаг, если в нем фигурируют добавочные пользователи */
set is_active=1 
where wf_id=#WF_ID# and step=#NEXT_STEP# and step_type<>3 and user_id in(#extra_users_id#)
;
select 'Y' as "USERS_ALREADY_IN_WF" from wf 
where wf_id=#WF_ID# and step=#NEXT_STEP# and step_type<>3 and user_id in(#extra_users_id#)
[end]


[ZZZcheck extra user already here]
select 'Y' as "USER_ALREADY_IN_WF" from wf 
where wf_id=#WF_ID# and step=#NEXT_STEP# and step_type<>3 and user_id=#next_user_id#
[end]

[ZZZ check extra role already here]
update wf /* активируем следующий шаг, если на нем такая */
set is_active=1 
where wf_id=#WF_ID# and step=#NEXT_STEP# and step_type<>3 and user_id in(#extra_users_id#)
;
select 'Y' as "ROLE_ALREADY_IN_WF" from wf 
where wf_id=#WF_ID# and step=#NEXT_STEP# and step_type<>3 and role_id=#NEXT_STEP_ROLE_ID#
[end]
