wf/check_next_step.cfg

[comments]
descr=S: Проверить, определён ли юзер(ы) для следующего шага WF

input=doc_id - ID документа
output=
parents=
childs=
testURL=?c=wf/check_next_step&doc_id=32
call=$CALL_SERVICE c=wf/check_next_step; [doc_id=NNN;]
author=Куняев
[end]

[parameters]
request_name=S:проверка юзера на след. шаге wf для док.#doc_id#
service=dubna.walt.service.TableServiceSpecial
tableCfg=table_no
KeepLog=false
ClearLog=true
[end]


[report header]
    $LOG +++++++ Проверить, определён ли юзер(ы) для следующего шага WF <br>
    $SET_PARAMETERS NEXT_STEP_ROLE_ID=; NEXT_STEP_TARGET_TYPE_ID=; info_id=; field_db_name=; TARGET_ID=; FIRST_USER=;
    $GET_DATA [get wf data]
    $LOG doc_id=#doc_id#, doc_type_id=#doc_type_id#; стартуем шаг #NEXT_STEP# ; 
    $SET_PARAMETERS UDEFINED_USERS=; user_id=0;
[end]


[item]
    $LOG +++++++++++ check_next_step ++++++++++++++
    $SET_PARAMETERS user_id=0; ??!user_id
    $LOG STEP_ID=#STEP_ID#;<br>user_id=#user_id#: NEXT_STEP_ROLE_ID=#NEXT_STEP_ROLE_ID#; NEXT_STEP_TARGET_TYPE_ID=#NEXT_STEP_TARGET_TYPE_ID#; NEXT_STEP_TARGET_ID=#NEXT_STEP_TARGET_ID#; INFO_ID=#INFO_ID#<br> 
    $GET_DATA [get target name] ??user_id=0&INFO_ID&INFO_ID>0&NEXT_STEP_TARGET_ID
    $SET_PARAMETERS UDEFINED_USERS=#UDEFINED_USERS#<br> ??user_id=0&UDEFINED_USERS
    $SET_PARAMETERS UDEFINED_USERS=#UDEFINED_USERS#- #ROLE_NAME# ??user_id=0
    $SET_PARAMETERS UDEFINED_USERS=#UDEFINED_USERS# #TARGET_NAME#  ??user_id=0&TARGET_NAME
    $SET_PARAMETERS UDEFINED_USERS=#UDEFINED_USERS# #TARGET_ID#) ??user_id=0&TARGET_ID&!TARGET_NAME
    $LOG UDEFINED_USERS=#UDEFINED_USERS#;<br>
[end]


[report footer]
    $LOG <b>ERROR:</b> #ERROR#<br> ??ERROR
[end]

==============================================================
==============================================================
==============================================================

[get wf data]
    select /* номер след.шага */ min(step) as "NEXT_STEP" from wf where wf_id=#WF_ID# and started is null and finished is null and is_active=1 and step_type<>#~wf_step_information#
    ;
    select count(*) as NUM_NEXT_STEPS from wf where wf_id=#WF_ID# and step=#NEXT_STEP# and step_type<>#~wf_step_information#  ??NEXT_STEP
    ;
    select id as "next_step_id" from wf where wf_id=#WF_ID# and step=#NEXT_STEP# and step_type<>#~wf_step_information# ??NUM_NEXT_STEPS=1
    ;
[end]


[get target name]
    select field_db_name as "INFO_FIELD_NAME" from i_fields where info_id=#INFO_ID# and view1=1
    ;
    select #INFO_FIELD_NAME# as "TARGET_NAME" from #INFO_TABLE# where id=#NEXT_STEP_TARGET_ID#  ??INFO_FIELD_NAME
[end]


[SQL]
    $INCLUDE [SQL_] ??NUM_NEXT_STEPS>0
[end]


[SQL_]
select /* ID под-шага WF и данные выбранного юзера */
    wf.id as "STEP_ID"
    , wf.role_id as "NEXT_STEP_ROLE_ID", wf.role_target_type_id as "NEXT_STEP_TARGET_TYPE_ID", wf.role_target_id  as "NEXT_STEP_TARGET_ID"
    , wf.user_id 
    , r.name as "ROLE_NAME"
    , tt.type as "TARGET_TYPE", tt.info_id as "INFO_ID"
    , i.table_name as "INFO_TABLE"
from wf wf 
    left join a_roles r on r.id=wf.role_id
    left join a_target_types tt on tt.id=wf.role_target_type_id
    left join i_infos i on i.id = tt.info_id
where wf.wf_id=#WF_ID# and step=#NEXT_STEP# and step_type<>#~wf_step_information#
[end]



