wf/create_event.cfg

[comments]
descr=S: Создать событие. 

input=doc_id - ID документа, NOTIFY_USER_ID - ID юзера, кот. нужно уведомить; [EVENT_TYPE](null) - тип события (см. [sys_const].alias like '~doc_action_%', если null - старт шага); [STEP_ID](null) - ID шага WF, на котором произожно событие, [WF_HISTORY_ID](null) - ID записи в history
output=Запись в таблице wf_events и в лог
parents=
childs=
CALL=$CALL_SERVICE c=wf/create_event; doc_id=1; NOTIFY_USER_ID=1; EVENT_TYPE=1; STEP_ID=1; WF_HISTORY_ID=1;
author=Куняев
[end]


[parameters]
request_name=U:создание события
LOG=ON
[end]

[report]
    $GET_DATA [check if event exists] ??NOTIFY_USER_ID&STEP_ID|WF_HISTORY_ID
    $GET_DATA [create event] ??!ERROR&!EVENT_EXISTS
    $LOG <b>======== Создано событие:</b> doc_id=#doc_id#; EVENT_TYPE=#EVENT_TYPE#; NOTIFY_USER_ID=#NOTIFY_USER_ID#; STEP_ID=#STEP_ID#; WF_HISTORY_ID=#WF_HISTORY_ID#;<br> ??!ERROR&!EVENT_EXISTS
    $LOG ======== Событие уже есть;<br>  ??EVENT_EXISTS
    $LOG ======== Событие НЕ создано: ERROR=#ERROR#;<br>  ??ERROR
[end]

[check if event exists]
    select 'Y' as EVENT_EXISTS from wf_events where notify_user_id=#NOTIFY_USER_ID#
    and event_type=#EVENT_TYPE# ??EVENT_TYPE
    and event_type is null ??!EVENT_TYPE
    and wf_step_id=#STEP_ID# ??STEP_ID
    and wf_history_id=#WF_HISTORY_ID#  ??WF_HISTORY_ID&!STEP_ID
    and processed is null
[end]

[create event]
insert into wf_events 
    (doc_id
    , wf_step_id
    , wf_history_id
    , event_type
    , event_date, processed
    , notify_user_id)

values (#doc_id#
    , #STEP_ID# ??STEP_ID
    , null ??!STEP_ID
    , #WF_HISTORY_ID#  ??WF_HISTORY_ID
    , null  ??!WF_HISTORY_ID
    /* тип события по умолч. - старт шага: */ ??!EVENT_TYPE
    , null ??!EVENT_TYPE
    , #EVENT_TYPE# ??EVENT_TYPE

    , now(), null
    , #NOTIFY_USER_ID#)
;
[end]

select LAST_INSERT_ID() as "event_id"
;


