wf/set_next_users.cfg

[comments]
descr=U: Задать нескольких неопределенных ранее юзеров на след.шаге

input=[step_id - ID шага WF] ИЛИ [doc_id - ID документа, [step] - № шага WF(0)], extra_users_id - список ID, кого занести в WF 
output=
parents=docs/doc_user_action.cfg
childs=
author=Куняев
[end]


[parameters]
request_name=U:позднее определение след.юзеров для док.#doc_id#
LOG=ON
[end]


[report]
    $LOG ++++++++++++++++ set undefined users ++++++++++++++
    $SET_PARAMETERS CURR_STEP_TYPE=0; ??!CURR_STEP_TYPE
    $LOG  extra_users_id=#extra_users_id#; CURR_STEP_TYPE=#CURR_STEP_TYPE#<br>

    $GET_DATA [get wf info] ??step_id>0
    $SET_PARAMETERS step=0; ??!step
    $INCLUDE [process action] ??WF_ID&!ERROR
    #ERROR#
    $LOG  EXTRA_USERS=#EXTRA_USERS#;<br>
[end]


[process action]
    $GET_DATA [inactivate undefined steps] 

    $SET_PARAMETERS CURR_STEP_ROLE_ID=null; ??!CURR_STEP_ROLE_ID
    $SET_PARAMETERS CURR_STEP_TARGET_TYPE_ID=null;  ??!CURR_STEP_TARGET_TYPE_ID
    $SET_PARAMETERS CURR_STEP_TARGET_ID=null;  ??!CURR_STEP_TARGET_ID
    $LOG +++ CURR_STEP_ROLE_ID=#CURR_STEP_ROLE_ID#, CURR_STEP_TARGET_TYPE_ID=#CURR_STEP_TARGET_TYPE_ID#, CURR_STEP_TARGET_ID=#CURR_STEP_TARGET_ID#<br>

    $SET_PARAMETERS EXTRA_USERS=;

    $EXECUTE_LOOP next_user_id; #extra_users_id#; [add next user]  ??!ERROR
[end]

[add next user]
    $SET_PARAMETERS NEXT_STEP_ROLE_ID=null; ??!NEXT_STEP_ROLE_ID&NUM_NEXT_STEPS=1
    $SET_PARAMETERS NEXT_STEP_TARGET_TYPE_ID=null;  ??!NEXT_STEP_TARGET_TYPE_ID&NUM_NEXT_STEPS=1
    $SET_PARAMETERS NEXT_STEP_TARGET_ID=null;  ??!NEXT_STEP_TARGET_ID&NUM_NEXT_STEPS=1

    $LOG  next_user_id=#next_user_id#;<br>

    $CALL_SERVICE c=svs/get_user_info; requested_user_id=#next_user_id#;
    $GET_DATA [insert next user]

    $SET_PARAMETERS EXTRA_USERS=#EXTRA_USERS#, #u_IOF#; ??EXTRA_USERS
    $SET_PARAMETERS EXTRA_USERS=#u_IOF#; ??!EXTRA_USERS
[end]


==============================================================
==============================================================
==============================================================


[insert next user]
insert /* Вставить добавочный шаг WF */
    into wf(wf_id, step, step_type, user_id
    ,role_id, role_target_type_id, role_target_id ??NUM_NEXT_STEPS=1
    , modified, modifier_id, creator_id, modifier_comment)
    values(#WF_ID#, #NEXT_STEP#, #CURR_STEP_TYPE#, #next_user_id#
    ,#NEXT_STEP_ROLE_ID#, #NEXT_STEP_TARGET_TYPE_ID#, #NEXT_STEP_TARGET_ID#  ??NUM_NEXT_STEPS=1
    , now(), 0, #USER_ID#, 'Добавлено: #user_IOF#')
    ;
[end]


[inactivate undefined steps]
    update /* деактивировать шаги с неопределенными юзерами, которые мы заменим extra-шагами */
    wf set is_active=0 
    where wf_id=#WF_ID# and step=#NEXT_STEP# and (user_id is null or user_id=0)
    ;
[end]


[get wf info]
    select /* номер текущего шага и его данные */ step, WF_ID, user_id
        , step_type as CURR_STEP_TYPE, role_id as CURR_STEP_ROLE_ID, role_target_type_id as CURR_STEP_TARGET_TYPE_ID, role_target_id as CURR_STEP_TARGET_ID
    from wf where wf.id=#step_id#
    ;
    select /* номер след.шага */ max(step)+1 as "NEXT_STEP"
    from wf 
    where wf_id=#WF_ID# 
        and not started is null and is_active=1 
        and step_type<>#~wf_step_information#
    ;
    select count(id) as NUM_NEXT_STEPS, min(id) as "NEXT_STEP_ID"
    from wf
    where wf_id=#WF_ID# and step=#NEXT_STEP#
    ;
    select doc_id from wf_list where id=#WF_ID# ??!doc_id
[end]

select /* номер след.шага */ min(step) as "NEXT_STEP"
from wf 
where wf_id=#WF_ID# 
    and started is null and is_active=1 
    and (user_id is null or user_id=0)
    and step>#step# 
    and step_type<>#~wf_step_information#
;

