wf/show_wf_status.cfg

[comments]
descr=S: Показать статус workflow. 
input=[doc_id] - ID документа, [wf_id] - ID workflow (можно задать любой из этих параметров или оба), [show_persons=Y] - показывать, кого ждём
output=Показывает текущее состояние WF документа.
parents=
childs=
call=$CALL_SERVICE c=wf/show_wf_status; wf_id=NNN
author=Куняев
[end]


[description]
    Выводит 1 (show_persons=Y) или 2 (!show_persons=Y) ячейки в таблицу документов.<br>
    В 1-й ячейке - время ожидания и ФИО юзера, кого ожидает документ (если show_persons=Y)<br>
    Во 2-й ячейке - линейка крадратов, отображающих цветом статус шагов WF.<br>
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=A:WF статус для док.#doc_id#
tableCfg=table_no
LOG=ON
[end]


[report header]
    $SET_PARAMETERS STARTED=; result_code=; W_USERS=; srn=1; LAST_PAPER_STAGE=; 
     show_persons=Y; ??
    $GET_DATA [check paper processing] ??wf_id&TYPE_ID=8
    $GET_DATA [get waiting paper users SQL]  ??LAST_PAPER_STAGE>0
    $SET_PARAMETERS W_USERS=бухгалтерия; ??LAST_PAPER_STAGE=1
    $SET_PARAMETERS W_USERS=директор; ??LAST_PAPER_STAGE=3
    $SET_PARAMETERS W_USERS=контрагент; ??LAST_PAPER_STAGE=5
    $GET_DATA [get waiting users SQL]  ??wf_id&show_persons=Y&!W_USERS
    <td class="nowrap pl
    bg_red ??WAITING_LEVEL=LONG
    ">
    #WAITING#ч, #W_USERS#</td><td>  ??show_persons=Y
[end]


[item]
    $SET_PARAMETERS status=; content=;
    $SET_PARAMETERS status=step_waiting; ??STARTED&!result_code
    $SET_PARAMETERS status=step_signed; ??result_code=#~doc_action_sign#|result_code=#~doc_action_delegate#|result_code=#~doc_action_signed#|result_code=#~doc_action_processed#
    $SET_PARAMETERS status=step_forwarded; ??result_code=#~doc_action_forward#
    $SET_PARAMETERS status=step_rejected; ??result_code=#~doc_action_reject#|result_code=#~doc_action_reject_2SMTS#
    $SET_PARAMETERS content=»; ??ACCESS&!result_code

    $INCLUDE [step div] ??STEP_CRITERIA=100|!PREV_STEP_NR=#STEP_NR#|!PREV_STEP_ROLE_ID=#STEP_ROLE_ID#
    $SET_PARAMETERS STARTED=; result_code=; 
    $SET_PARAMETERS PREV_STEP_NR=#STEP_NR#; PREV_STEP_ROLE_ID=#STEP_ROLE_ID#;
[end]

STEP_NR", wf.role_id as "STEP_ROLE_ID", wf.criteria as "STEP_CRITERIA"


[step div]
    <div onmouseover="showToolTip(event, $(this));" tt_cfg="svs/showWfStepTooltip" tt_id="#STEP_ID#" tt_width="400" shiftX="-100"
    onmouseout="hideToolTip();" class="wf_status #status#"
    >#content#</div> 
[end]



[report footer]
    -  ??!wf_id
   $CALL_SERVICE c=JINR/paper_processing_status  ??wf_id&TYPE_ID=8|TYPE_ID=9|TYPE_ID=11
   &nbsp;#WAITING#ч. ??!show_persons=Y
   <div style="clear:both;"></div></td> 
   $SET_PARAMETERS wf_id=; 
   $LOG wf/show_wf_status: #ERROR#  ??ERROR
[end]

==============================================================
==============================================================
==============================================================
[preSQLs]
    select id as wf_id from wf_list where doc_id=#doc_id# ??doc_id&!wf_id
    ;
    select doc_id from wf_list where id=#wf_id# ??wf_id
    ;
    select version from d_list where id=#doc_id#
[end]

[check paper processing]
    select max(stage) as "LAST_PAPER_STAGE" 
    from doc_paper_processing 
    where doc_id=#doc_id# and not processed is null
[end]

[get waiting paper users SQL]
    select concat(FORMAT(TIMESTAMPDIFF(day, processed, now()), 0), 'д'
       , FORMAT(TIMESTAMPDIFF(hour, processed, now())-TIMESTAMPDIFF(day, processed, now())*24,0)) AS WAITING 
    , case when TIMESTAMPDIFF(day, processed, now()) > 1 then 'LONG' else 'SHORT' end AS WAITING_LEVEL 
    from doc_paper_processing 
    where doc_id=#doc_id# and stage=#LAST_PAPER_STAGE#
[end]

;
update d_list set modified=(select processed from doc_paper_processing where doc_id=#doc_id# and stage=#LAST_PAPER_STAGE#)
, modifier_id=10473 where id=#doc_id#
[end]


[get waiting users SQL]
    select fio(u.F, u.I, u.O) as W_USERS 
    from wf left join #table_users_full# u on u.id=wf.user_id
    where wf.wf_id=#wf_id# and not wf.started is null and wf.finished is null
    limit 1
[end]

[SQL]
    $INCLUDE [SQL_] ??wf_id
[end]

[SQL_]
    select wf.ID as STEP_ID, wf.STARTED, wf.result_code
        , wf.step as "STEP_NR", wf.role_id as "STEP_ROLE_ID", wf.criteria as "STEP_CRITERIA"
        , max(a.access_type) as ACCESS
    from wf 
    left join d_access_log a on(a.user_id=wf.user_id and a.doc_id=#doc_id# and a.doc_version=#version#) 
    where wf.wf_id=#wf_id# and is_active=1 and wf.step_type<>3
    group by wf.ID, wf.STARTED, wf.result_code
    order by wf.step, wf.id
[end]

