[parameters]
service=dubna.walt.service.TableServiceSpecial2  
table_docs=docs
debug=off
KeepLog=true

tableCfg=this
wrapperTable=none
table_beg=none 
makeTotalsForCols=SUMMA_RUB,SUMMA_USD,SUMMA_EUR
hide_totals=y  ??f_regnr
totRowLabel=Всего
numDigits=2 
numDigits=0 ??xxxtype=mnts

thsnDelimiter=&nbsp;
show_eur=y ??full_report=on

makeSubtotals=y  ??svod&f_regnr
NumSpecialCols=14
doc_new=FFFFFF
doc_sent=FFFFE0
doc_buh=E0FFE0
doc_payed=E0F0FF
doc_del=FFE0E0

$INCLUDE menu.cfg[tables]
[end]

[numDigitsForCols]
S_1C_DIFF=0
[end]

----------------------------------------------------------------------------------
[item]
<tr valign=top bgcolor=
#doc_del#	??DOC_STATUS=удаленный
#doc_new#	??DOC_SENT=n&DOC_PAYED=n&!DAT_BUH
#doc_sent#	??!DOC_SENT=n&DOC_PAYED=n&!DAT_BUH
#doc_buh#	??DAT_BUH&DOC_PAYED=n
#doc_payed#	??!DOC_PAYED=n
><td
bgcolor=#doc_del#   ??DOC_TYPE=8
>
DOC_TYPE:#DOC_TYPE# ??
DOC_PAYED:#DOC_PAYED#;<br> ??
<img src="#imgPath#checked_small.gif" width=12 height=15> ??IS_LOCKED
#REG_DATE#</td>

$INCLUDE [STATUS] ??!type=mnts&!type=nal&ZZZ

<td>#DOC_DATE#</td>	??DOC_DATE_ZZZ
<td>#MO_NUMBER#</td>  ??type=mnts_ZZZ
<td>#RECEIVER#</td>
<td>#BC#</td>

<td align=right>#SUMMA_USD#&nbsp;</td>
<td align=center>&nbsp;#AGGR#</td> ??
<td>#INFO#&nbsp;</td>
<td>#COMMENTS#&nbsp;</td>
<td>#APPROVED#&nbsp;</td> ??APPROVED
</tr>
$SET_PARAMETERS SUMMA_CHILD=; PLAT=;
[end]

[STATUS]
<td> 
<img src="#imgPath#question.gif" width=12 height=16 alt="Документ требует уточнения">уточнить<br> ??IS_PROBLEM
<i>оплачен</i><br> ??!DOC_PAYED=n
#DOC_PAYED# ??DOC_PAYED&!PLAT_1&!PLAT_2
п/п&nbsp;<a class=small href="javascript:getPP('#PLAT_1#','#PLAT_1_YR#')">#PLAT_1#</a><br>от&nbsp;#DAT_PLAT_1#  ??PLAT_1&!PLAT_1='
&nbsp;</td>
[end]


=============================================================================

[report header]
$SET_PARAMETERS f_year=2013; f_regdat1=; f_regdat2=31.12.2013;
$SET_PARAMETERS f_aggr=04;
$SET_PARAMETERS aggr=#f_aggr#	??!aggr&f_aggr
$SET_PARAMETERS f_lab=#A_LABS#  ??!f_lab&A_LABS&tt
$SET_PARAMETERS srt=d.SUMMA_USD; desc=desc; ??!srt

$INCLUDE [logged report header]  ??logged
[end]


[logged report header]
<body>
$SET_PARAMETERS f_regdat2=#TODAY#; 	??dat_form
$SET_PARAMETERS srn=1; rpp=9999  ??!rpp

$INCLUDE [total table]  ??ZZZ

<div id="result">

<table class="tlist" border="0" cellspacing="0" cellpadding="0">
<tr>
<th class="srh" sr="d.doc_id">Документ<br></th>
<th class="srh" sr="RECEIVER">Контрагент<br></th>
<th>Источник<br></th>
<th class="srh" sr="d.SUMMA_USD">Сумма<br>$</th>
<th class="srh" sr="d.AGGR">Статья<br>бюдж.</th> ??
<th class="srh" sr="d.INFO">Назначение&nbsp;платежа<br></th>
<th class="srh" sr="d.comments">Комментарий<br></th></tr>
[end]


[total table]
$GET_DATA [total SQL]
<div id="totalTable">
<table cellpadding=5 cellspacing=0><tr><th nowrap=true style="vertical-align:top;">
Всего документов: #TOT_NUM_DOCS#, </th><th style="text-align:right;">
сумма: #TOT_SUMMA_RUB# руб. &nbsp;(~ #TOT_SUMMA_USD#$)
</th></tr>
</table></div>
<script>
window.parent.getResult("totalTable", document.getElementById("totalTable")); 
</script>
[end]


[report footer]
$INCLUDE common.dat[rpp] ??!NumTableRows=0&ZZZ
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>

</center><p>
</div>
<script type="text/javascript">
var showInline=true;
showInline=false; ??f_f

if (showInline) {
window.parent.getResult("docs_table", document.getElementById("result")); 
}
else {
window.parent.setElement("popupCont", "result"); ??
window.parent.ShowDialog(true);
window.parent.getResult("popupCont", document.getElementById("result")); 
alert(2); ??
window.parent.centerDialog();
}

window.parent.showSrt("#srt#","sup"); ??!desc
window.parent.showSrt("#srt#","sdown"); ??desc
window.parent.makeTableCfg="cp/svod/mnts_det";
window.parent.bindEvents();
</script>
</body></HTML>
[end]



================================ SQLs ================================
[preSQLs]
$INCLUDE menu.cfg[common parameters]  ??NEED_TO_SET|!CURR_YEAR|!MODIFIERS|!DOC_TYPES|!TODAY|!DOC_STATUSES|!RAZDS|!AGGRS|!DIRS|!LABS
;
select 'y' as "svod" from docs where doc_id=#f_regnr# and is_total='Y' ??f_regnr&!svod
;
[end]


[total SQL]
SELECT 
	count(d.doc_id) as TOT_NUM_DOCS
	, replace(to_char(sum(decode(d.is_total,'Y', 0,nvl(d.SUMMA_RUB,0))),'999,999,999,990'),',','&nbsp;') as TOT_SUMMA_RUB
	, replace(to_char(sum(decode(d.is_total,'Y', 0,nvl(d.SUMMA_USD,0))),'99,999,999,990'),',','&nbsp;') as TOT_SUMMA_USD	
	, replace(to_char(sum(nvl(d.SUMMA_EUR,0)),'99,999,999,990'),',','&nbsp;') as TOT_SUMMA_EUR	

FROM #table_docs# d
	left join #budgetcodes_table# b on b.code=d.BC
  left join i_kontragent k on k.code=d.RECEIVER_C
$INCLUDE [criteria]
;
[end]


[1stField]
d.VIDOPER|| ??
  decode(d.doc_id,#f_regnr#,
    decode(d.is_total,'Y','Сводный ','')||'Документ №'||d.doc_id||':',
      decode(d.doc_status,5,' Удаленные ','')||'Дочерние документы от №'||d.pid),
[end]

[reg date]

	decode(d.NEED_TO_CHECK,'Y','<img src="#imgPath#red_star_14.gif" width=14 height=14>','')
	||'<a class=info href="javascript:editDoc('''||d.doc_id||''',''0'||d.PROJECT_ID||''')">'
	||'№ '||d.DOC_ID
	||'</a>'
	||' ('||t.doc_type ??
	||decode(d.IS_TOTAL,'Y',', <b>сводный</b>','')
	
	||')<br><small>' 
	||to_char(REG_DATE, 'DD.MM.YYYY')
	||', '||c.fio
	||decode(d.pid, 0,'',null,'','<br>(<a class=info href="javascript:getChildren('||d.pid||')"><small><i>род.&nbsp;док.№'||d.pid||'</a>)')
	 REG_DATE
[end]

[bc info]
	, decode(d.is_total,'Y', '<b><i>Сводный '
     ||decode(d.lab_code,null,'по ОИЯИ','') ??
     ||'</i></b>'
    ||'<br><i><a href="javascript:makeChild('''||d.doc_id||''')"><small>создать&nbsp;потомка&nbsp;>></a>'  ??!READ_ONLY&g_reg=USER_GROUP|g_mnts=USER_GROUP
    ,'')
     ||'<a class=info href="#ServletPath#?c=info/bc/top_tree&cop=g&activeNode='||b.id||'" target="codes">' ??
	||d.BC
        '</a>' ??
        ||'<br><small>'||l.DIV
	||decode(b.SBJ_CODE, null,'',', тема '||b.SBJ_CODE)
	||decode(ip.DES, null,'',', пр.'||ip.num||'('||ip.DES||',п.'||b.prikaz_sn||')') 
	||decode(b.DES, null,'',', '||b.DES)
	||decode(b.DEV_CODE, null,'',', уст. '||b.DEV_CODE)||'</small>' BC

[end]


[SQL]
SELECT 
$INCLUDE cp/svod/mnts_det.cfg[1stField]  ??svod&!svod=a&f_regnr
$INCLUDE cp/svod/mnts_det.cfg[reg date]
	 
	,'№ '||d.EXT_DOC_NR||'<br>'||to_char(d.DOC_DATE, 'DD.MM.YYYY') as DOC_DATE ??
	, nvl(k.NAME_SHORT,d.RECEIVER) as RECEIVER

	, decode(d.lab_code,990,'Инфр.<br>ОИЯИ',ll.div) as DIV

	, to_char(d.SUMMA_USD,'999999999990D00')||decode(d.is_total,'Y', '*','') as SUMMA_USD

	, d.AGGR, d.INFO, d.comments
	
	, nvl(to_char(d.SENT,'DD.MM HH24:MI'),'n') as DOC_SENT
	, nvl(to_char(d.DAT_BUH,'DD.MM HH24:MI'),'') as DAT_BUH
	, nvl(to_char(d.PAYED,'DD.MM.YYYY'),'n') as DOC_PAYED
  , d.is_locked, d.is_total
  , ''''||to_char(d.DOC_TYPE,'0') as DOC_TYPE
  , d.is_kredit, 'f_adb2='||d.DOC_ID as "DOC_ID_LINK"
, '='||d.DOC_ID as "DOC_ID"

$INCLUDE [bc info]  

, d.is_problem
	, PLAT_1 as PLAT_1, to_char(d.DAT_PLAT_1,'DD.MM.YYYY') as DAT_PLAT_1, trim(to_char(d.DAT_PLAT_1,'YY')) as PLAT_1_YR
	, PLAT_2 as PLAT_2, to_char(d.DAT_PLAT_2,'DD.MM.YYYY') as DAT_PLAT_2, trim(to_char(d.DAT_PLAT_2,'YY')) as PLAT_2_YR

FROM #table_docs# d 
	left join #budgetcodes_table# b on b.code=d.BC
	left join i_prikaz ip on ip.id=b.prikaz_id
  left join i_lab ll on ll.code=d.LAB_CODE
	left join i_lab l on l.code=b.LAB_CODE
	left join #tree_table# r on r.id=b.root_id
	left join doc_types t on t.id=d.doc_type
	left join doc_statuses s on s.id=d.doc_status
	left join users c on c.id=d.creator_id
  left join i_kontragent k on k.code=d.RECEIVER_C
  
$INCLUDE cp/svod/mnts_det.cfg[criteria]

ORDER BY 
	#srt# #desc# 
[end]



[criteria]
WHERE 
++++++++++++ ПРАВА ДОСТУПА ++++++++++ ??
	and (b.LAB_CODE in (#A_LABS#) or d.LAB_CODE in (#A_LABS#) or d.creator_id=#USER_ID# or d.MODIFIER_ID=#USER_ID# or d.doc_type=8)  ??A_LABS
	and b.LAB_CODE in (#f_lab#)
	and d.is_total is null
	and d.receiver='#f_f#' ??f_f

++++++++++++ ФИЛЬТРЫ ++++++++++ ??
	and (d.aggr is null or d.aggr not IN()'#f_aggr#') ??f_aggr&!f_aggr=null&aggr_excl=on
	and d.aggr IN()'#f_aggr#'  ??f_aggr&!f_aggr=null&!aggr_excl=on
	and d.aggr is null  ??f_aggr=null
and d.mnts_type=#f_mnts_type# ??f_mnts_type

	and (upper(d.RECEIVER) like upper('%#f_receiver#%') or upper(k.NAME_SHORT)  like  upper('%#f_receiver#%') or upper(k.NAME)  like  upper('%#f_receiver#%'))  ??f_receiver

	and (upper(d.INFO) like upper('%#f_search#%') or upper(d.comments) like upper('%#f_search#%'))  ??f_search
	
	and not b.PRIKAZ_ID is null ??f_prik=y
	and b.PRIKAZ_ID is null ??f_prik=n

	and d.summa_usd #f_summa_op# #f_summa# ??f_curr_code=840&f_summa&!f_summa_op==
	and d.summa_rub #f_summa_op# #f_summa# ??f_curr_code=810&f_summa&!f_summa_op==
	and abs(d.summa_usd-#f_summa#) < #dsumm# ??f_curr_code=840&f_summa&f_summa_op==
	and abs(d.summa_rub-#f_summa#) < #dsumm# ??f_curr_code=810&f_summa&f_summa_op==
	and (1=1
		and d.REG_DATE between to_date('#f_regdat1#','dd.mm.yyyy') and to_date('#f_regdat2# 23:55','dd.mm.yyyy HH24:MI') ??f_regdat2&f_regdat1
		and d.REG_DATE > to_date('#f_regdat1#','dd.mm.yyyy') ??f_regdat1&!f_regdat2
		and d.REG_DATE <= to_date('#f_regdat2# 23:59','dd.mm.yyyy HH24:MI')  ??f_regdat2&!f_regdat1
		and d.REG_DATE between to_date('01.01.#f_year#','dd.mm.yyyy') and to_date('31.12.#f_year# 23:55','dd.mm.yyyy HH24:MI') ??f_year&!f_regdat1
			  or d.PAYED between to_date('01.01.#f_year#','dd.mm.yyyy') and to_date('31.12.#f_year# 23:55','dd.mm.yyyy HH24:MI') ??f_year&!f_regdat1
	)
	and payed is null and d.doc_type<>7  ??payed=n
	and (not payed is null or d.doc_type=7) ??payed=y
	and d.doc_status<>5
+++++++++++++++++++++++++++++++++++++++++++++++++ ??
[end]


[colNames]
DOC_DATE=Внешний&nbsp;№,<br>дата
MO_NUMBER=Рег.№<br>межд.отд.
REG_DATE=Документ<br>
DOC_STATUS=Статус<br>
CREATOR_ID
MODIFIER_ID
MODIF_DATE
RECEIVER=Контрагент<br>
INFO=Назначение&nbsp;платежа<br>
SUMMA_RUB=Сумма<br>(руб)
SUMMA_CURR=Сумма<br>(в&nbsp;валюте)
CURR_CODE=Валюта<br>
SUMMA_USD=Эквив.<br>в $
SUMMA_EUR=Эквив.<br>в EUR
COMMENTS=Комментарий<br>
AGGR=Статья<br>
[end]


