[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSortableSpecial
service=dubna.walt.service.TableServiceSortable ??

title=Список оплаченных документов ??payed=y
title=Список документов
tableCfg=doc/table.cfg 
makeTotalsForCols=SUMMA_RUB,SUMMA_USD
totRowLabel=Всего
NumTableRows=0 ??
sortCols=VIEW_NAME,TEXT_LENGTH,STATUS ??
thsnDelimiter=&nbsp;
NumSpecialCols=3

debug=off  ??!uname=serg
debug=on ??
$INCLUDE common.dat[colors]
[end]

[item]
<tr valign=top 
bgcolor=
#doc_new#	??DOC_SENT=n&DOC_PAYED=n
#doc_sent#	??!DOC_SENT=n&DOC_PAYED=n
#doc_payed#	??!DOC_PAYED=n
onmouseover="setPointer(this, 'E0FFE0')" 
onmouseout="setPointer(this, 
'#doc_new#'	??DOC_SENT=n&DOC_PAYED=n
'#doc_sent#'	??!DOC_SENT=n&DOC_PAYED=n
'#doc_payed#'	??!DOC_PAYED=n
)"
onClick="getDoc(#DOC_ID#);"
>
<td nowrap=true>#REG_DATE#</td>

<td>#BC#</td>
<td>#DOC_DATE#</td>	??DOC_DATE

<td nowrap=true>#PLAT_1#</td>	??PLAT_1


<td align=right>#SUMMA_RUB#</td>
<td align=right>#SUMMA_CURR#</td>	??SUMMA_CURR
<td align=right>#SUMMA_USD#</td>

<td>#RECEIVER#</td>
<td>#INFO#</td>
<td>#COMMENTS#&nbsp;</td>
<td>#APPROVED#&nbsp;</td> ??APPROVED
</tr>
[end]



[form]
$INCLUDE [report header]
$INCLUDE [report footer]
[end]

[report header]
$INCLUDE [logged report header]  ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#?#queryString#";</script> ??!logged
[end]


[logged report header]
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>

<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="noTable" value="">
<input type=hidden name="bcs" value="#bcs#">
<input type=hidden name="payed" value="#payed#">

<table border=0 bgcolor=white cellpadding=0 cellspacing=0 width=100%>
<tr ><td width=90%><h3>Первоочередные платежи 
<br><small>(
зарегистрировано  ??!payed=y
и не ??payed=n
оплачено  ??payed
на #TODAY#
)
</td>
<td align=right nowrap=true>

</td><td align=right nowrap=true>
<a class=info href="#ServletPath#">
Главная</a>
</td></tr></table>
<blockquote style="margin-left:80; margin-top:10; margin-bottom:10;"><input type="button" value="Закрыть" onClick="window.close();">&nbsp;
</blockquote>

$INCLUDE [script]
[end]

[report footer]
$INCLUDE common.dat[rpp] ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>

</form></center><p><hr>
<script> resetForm(); </script> ??reset=y

</body></HTML>
[end]


================================ SQLs ================================
[preSQLs]
$SET_PARAMETERS srn=1; rpp=9999  ??!rpp
;
$SET_PARAMETERS srt=1; desc=DESC ??!srt
;

$SET_PARAMETERS full_report=on ??f_docNr|f_docdat2|f_docdat1
;
$SET_PARAMETERS f_regdat2=#TODAY# 	??dat_form
;
select bc||', ' as BCS from first where LAB=#lab#  ??lab
;
[end]


[SQL]
SELECT 
	'<b>№ '||d.DOC_ID
	||'</b><br> ('||t.doc_type||')<br><small>'||to_char(REG_DATE, 'DD.MM.YYYY')
	||decode(d.pid, 0,'',null,'','<br>(<a class=info href="javascript:editDoc('||d.pid||')"><small><i>род.&nbsp;док.№'||d.pid||'</a>)') ??
	 REG_DATE
	
	,d.BC||'<br><small>'||r.NAME_SHORT||', '||l.DIV
	||decode(b.SBJ_CODE, null,'',', тема '||b.SBJ_CODE)
	||decode(b.DEV_CODE, null,'',', уст. '||b.DEV_CODE)||'</small>' BC

	,'№ '||d.EXT_DOC_NR||'<br>'||to_char(d.DOC_DATE, 'DD.MM.YYYY') as DOC_DATE
	
    ,'№ '||PLAT_1||'<br>от '||to_char(d.DAT_PLAT_1,'DD.MM.YYYY') as PLAT_1   ??payed=y

	, to_char(nvl(d.SUMMA_RUB,0),'99999999990') as SUMMA_RUB
	, decode(d.SUMMA_CURR,null,'',to_char(d.summa_curr,'999G999G999G990')||decode(d.CURR_CODE,810,'р.',840,' $',978,' €',756,' CHF',826,' GBP')) SUMMA_CURR  ??full_report=on
	, to_char(d.SUMMA_USD,'99999999990') as SUMMA_USD
	
	, nvl(k.NAME_SHORT,d.RECEIVER) as RECEIVER
	, INFO
	, COMMENTS
	, approval||'<br>'||to_char(approval_date, 'DD.MM.YYYY') as APPROVED ??full_report=on|f_approval|f_doc_status=2,3|f_doc_status=2|f_doc_status=3
	
	, nvl(to_char(d.SENT,'DD.MM HH24:MI'),'n') as DOC_SENT
	, nvl(to_char(d.PAYED,'DD.MM.YYYY'),'n') as DOC_PAYED
	, ''''||d.doc_id as DOC_ID
FROM docs d, #budgetcodes_table# b, i_lab l, #tree_table# r, doc_types t, doc_statuses s, users c
 , i_kontragent k

WHERE 
	b.code(+)=d.BC
	AND c.id(+)=creator_id
	and l.code(+)=b.LAB_CODE
	and r.id(+) = b.root_id
	and t.id(+)=d.doc_type
	and s.id(+)=d.doc_status
	and k.code(+)=d.RECEIVER_C

	and b.LAB_CODE in (#f_lab#)  ??f_lab
	and to_number(substr(d.bc,3,4)) in (#bcs#) ??bcs
	and to_number(substr(d.bc,3,4)) in (#BCS# 000) ??BCS
	and d.doc_type in (3,7)
	and d.doc_status <> 5 
	
	and not payed is null  ??payed=y
	and payed is null  ??payed=n

	and b.LAB_CODE in (#A_LABS#)  ??A_LABS
	
ORDER BY 
	d.doc_id #desc# ??srt=1
	d.PAYED  #desc#, d.DOC_ID  #desc# ??srt=2&payed=y
	decode(d.PAYED, null,0,1) #desc#, d.PAYED #desc#, decode(d.SENT, null,0,1) #desc#, d.SENT #desc#, d.DOC_ID  #desc#	??srt=2&!payed=y
	#srt# #desc# ??!srt=1&!srt=2
[end]

	and b.code like '%#f_bc#' ??f_bc
	and b.LAB_CODE=#f_lab#  ??f_lab&!f_lab=null
	and b.LAB_CODE is null  ??f_lab=null
	
	and b.DIR_CODE='#f_dir#' ??f_dir
	and b.SBJ_CODE like '%#f_sbj#'  ??f_sbj
	
	
	and d.aggr='#aggr#' ??aggr&!aggr=null
	and d.aggr is null  ??aggr=null
	and d.cons='#cons#' ??cons&!cons=null
	and d.cons is null  ??cons=null


[colNames]
DOC_DATE=Внешний&nbsp;№,<br>дата
REG_DATE=&nbsp;&nbsp;&nbsp;&nbsp;Документ&nbsp;&nbsp;&nbsp;&nbsp;<br>
DOC_STATUS=Статус<br>
CREATOR_ID
MODIFIER_ID
MODIF_DATE
RECEIVER=Контрагент<br>
INFO=Назначение&nbsp;платежа<br>
SUMMA_RUB=Сумма<br>(руб)
SUMMA_CURR=Сумма<br>(в&nbsp;валюте)
CURR_CODE=Валюта<br>
SUMMA_USD=Эквив.<br>в $
BC=Бюджетный&nbsp;код<br>
COMMENTS=Комментарий<br>
PLAT_1=Платежн.<br>поручение
[end]


[script]
<script>
window.focus();
var frm=document.theForm;

function selectRow()
{ alert ("here");
}

function setPointer(theRow, thePointerColor)
{ if (thePointerColor == '' || typeof(theRow.style) == 'undefined') 
    return false;
    
  if (typeof(document.getElementsByTagName) != 'undefined') 
  { var theCells = theRow.getElementsByTagName('td');
  }
  else if (typeof(theRow.cells) != 'undefined') 
  { var theCells = theRow.cells;
  }
  else { return false; }

  var rowCellsCnt = 8; ??!payed=y
  var rowCellsCnt = 9; ??payed=y
  for (var c = 0; c < rowCellsCnt; c++) 
  {  theCells[c].style.backgroundColor = thePointerColor;
  }

  return true;
}

function getDoc(docId)
{ openWindow("c=doc/docEdit&DOC_ID="+docId,"docEdit"+docId,950,600);
}

function doIt()
{ if (!checkFields()) return false;
  frm.srn.value="1";
  frm.submit();
  return true;
}


function goToRow(nr){ frm.srn.value=nr;  frm.submit();}

function setDesc()
{
  frm.desc.value="DESC";  ??!desc
  frm.desc.value="";      ??desc
  frm.submit();
}

function setSort(colNr)
{
  var oldsrt = #srt#; ??srt
  var oldsrt = -1;    ??!srt
  if (oldsrt == colNr)
  {
    frm.desc.value="DESC";  ??!desc
    frm.desc.value="";      ??desc
  }
  else
    frm.desc.value="DESC";
  frm.submit();
}


function blockError(){return true;}
//window.onerror = blockError;
</script>
[end]