[parameters]
title=Первоочередные проекты

debug=on   ??xxxuname=serg
debug=off

$INCLUDE common.dat[colors]
[end]


[report]
$INCLUDE [logged report]   ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#?#queryString#";</script> ??!logged
[end]


[logged report]
$SET_PARAMETERS subt=tot 	??!subt&!A_LABS
$SET_PARAMETERS subt=div 	??!subt&A_LABS
$SET_PARAMETERS f_lab= 		??subt=tot
$SET_PARAMETERS f_lab=#A_LABS#  ??A_LABS

$GET_DATA [paramsSQLs]
$GET_DATA [totalSQLs]

$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>
<style>

A {FONT-SIZE: 10pt; color: #0000A0; font-weight: bold; FONT-FAMILY: Arial, Helvetica, sans-serif; text-decoration: none;}
A:link {color: #0000A0;  text-decoration: none;}
A:visited {color: #0000A0;  text-decoration: none;}
A:hover {color: #FF0000; text-decoration: underline}

A.p {FONT-SIZE: 10pt; font-weight: bold}
A.p:link {color: 003800; text-decoration: none;}
A.p:visited {color: 003800; text-decoration: none;}
A.p:hover   {color: 008000; text-decoration: underline }

.reg {FONT-SIZE: 10pt; color: 0000A0; font-weight: bold; FONT-FAMILY: Arial, Helvetica, sans-serif; }
.pd  {FONT-SIZE: 10pt; color: 003800; font-weight: bold; FONT-FAMILY: Arial, Helvetica, sans-serif; }
.hd {font-size:15pt; font-weight:normal;  font-style:italic; font-family: Times; color: 000069; }

</style>
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">

<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr bgcolor=white><td width=90% nowrap=true>
<h3>Объемы бюджетного финансирования <br>
первоочередных проектов  ??!subt=tot
ОИЯИ на 2004 год</h3>
<br><h4>(по состоянию на #TODAY#)
</td>
<td align=right nowrap=true>
</td><td valign=top nowrap=true>
<a class=info href="#ServerPath#/adb">
Главная</a>
</td></tr></table>
<br>

<table border=0 cellpadding=4 cellspacing=0 >
<tr bgcolor=white><th nowrap=true align=left>

<FIELDSET><LEGEND>
<b><i>Группировать:</i></b> ??
</LEGEND>
&nbsp; &nbsp; Сводная информация <input type="radio" name="subt" value="tot" onClick="doIt('tot');"
checked ??!subt|subt=tot
>

<br>
&nbsp; &nbsp; Промежуточные итоги по: 

<input type="radio" name="subt" value="div"
checked ??subt=div
onClick="doIt('');">Лабораториям

<input type="radio" name="subt" value="dir"
checked ??subt=dir
onClick="doIt('');">Направлениям

<input type="radio" name="subt" value="pro"
checked ??subt=pro
onClick="doIt('');">Проектам
&nbsp; &nbsp; &nbsp; &nbsp;

</FIELDSET>
</th></tr></table><br>

<div
style="display:none" ??subt=tot
><table border=0 cellpadding=0 cellspacing=0 bgcolor=white>
<tr><td>
<FIELDSET><LEGEND><b><i>Отобрать:</i></b></LEGEND>

&nbsp; &nbsp; 
Лаборатория: <select class=s1 name=f_lab onChange="doIt('f_lab');"><option value="">Все #LABS#</select>
&nbsp; &nbsp;
Направление: <select class=s1 name=f_dir onChange="doIt('f_dir');"><option value="">Все #DIRS#</select>
Тема: <select class=s1 name=f_sbj onChange="doIt('f_sbj');"><option value="">Все #SBJS#</select>&nbsp; ??
Бюджетный код: <select class=s1 name=f_bc onChange="doIt('f_bc');"><option value="">Все #BCS#</select>&nbsp; ??
</FIELDSET>
</td></tr></table>
</div>

<script>
function doIt(f)
{ if (f == "f_dir" || f == "tot")
  { frm.f_lab.options.selectedIndex=0;
  }
  else if (f == "f_lab")
  { frm.f_dir.options.selectedIndex=0;
  }
  frm.submit();  
  return true;
}
</script>
$CALL_SERVICE c=cp/first/fList ??subt&!subt=tot
<blockquote>

$CALL_SERVICE c=cp/first/fDivList  ??subt=tot
$INCLUDE [total block] ??subt=tot

 ??uname=serg
</form>
$INCLUDE [total]
</blockquote>

</body></HTML>
[end]

[total block]
<br><br><table border=0 cellpadding=0 cellspacing=0><tr><td valign=top>
$CALL_SERVICE c=cp/first/nfDivList
</td><td width=40>&nbsp;&nbsp;</td><td valign=top>
$CALL_SERVICE c=cp/first/totDivList
</td></tr></table>
[end]

[total]
<blockquote>
<table border=0 cellpadding=0 cellspacing=0 bgcolor=black>
<tr><td>
<table border=0 cellspacing=1 cellpadding=5>
<tr bgcolor=white>
<td valign=top align=center colspan=3 class=hd>Оплачено 
по #DIV# ??DIV
по ОИЯИ  ??!DIV&!f_lab=990
(тыс.$):</td>
</tr><tr bgcolor=whitesmoke>
<td bgcolor=white align=center><h5>Первоочередные</td>
<td align=center><h5>Другие</td>
<td align=center><h5>Всего</td>
</tr><tr bgcolor=white>

<td class=hd align=center>#TOT_1ST#</td>
<td class=hd align=center>#TOT_OTHER#</td>
<td class=hd align=center>#TOT_ALL# </td>
</tr></table>
</td></tr></table>
</blockquote>
[end]

================================ SQLs ================================
[paramsSQLs]
select ''''||replace(replace(bc,' ',''),',',''',''')||''',' as BC_1 
from first;

select distinct '<option>'||dir as DIRS from first;
select distinct '<option value="'||LAB||'">'||div as LABS from first order by 1;
select DIV from I_LAB where CODE=#f_lab# ??f_lab
;
[end]

[totalSQLs]
SELECT
to_char(sum(d.SUMMA_USD) / 1000,'999990.00') as TOT_1ST
FROM docs d, bclist b
WHERE 
 b.BC_3 in (#BC_1#'0')
 and d.bc=b.bc
 and d.doc_status not in (4,5)
 and d.doc_type in (3,7)
 and d.payed is not null
 AND b.DIR='#f_dir#' ??f_dir
 AND b.LAB_CODE='#f_lab#' ??f_lab
;

$SET_PARAMETERS TOT_1ST=0 ??!TOT_1ST
;

SELECT
to_char(sum(d.SUMMA_USD) / 1000,'999990.00') as TOT_OTHER
, to_char(sum(d.SUMMA_USD) / 1000 + #TOT_1ST#,'999990.00') as TOT_ALL
FROM docs d, bclist b
WHERE 
 b.BC_3 not in (#BC_1#'0')
 and d.bc=b.bc
 and d.doc_status not in (4,5)
 and d.doc_type in (3,7)
 and d.payed is not null
 AND b.DIR='#f_dir#' ??f_dir
 AND b.LAB_CODE='#f_lab#' ??f_lab
;
select DIV from i_lab where CODE=#f_lab# ??f_lab

[end]


