[parameters]
debug=on
YR_N=0
pers_filter=ppp.tip_dejat=5 and ppp.usl_rab in (1,2,4,5,8,9)
[end]


[report]
<html><head>
<link href="#cssPath#svodka.css" rel="stylesheet" type="text/css" />
</head>
<body margin=0>

<table border="1" cellspacing="0">
	<tr valign="top">
		<td>
	</td><td width=20>&nbsp;</td>
	<td>
			<br>
	</td><td width=20>&nbsp;</td>
	<td>
	</td>
</tr>
</table>
<a href="#servletPath#?c=cp/cp_main">Назад >></a>
</body></html>
[end]

[preSQLs]
$INCLUDE [Personal]
$INCLUDE [innov]
$INCLUDE [sc]
$INCLUDE [fin] ??
[end]

[sc_events_SQL]
update cp_data 
	set value_#YR_N#=(select format(count(ev.id),0)
		from event_values ev 
			join person_event pe on pe.event_id=ev.id
			join p_persons_post ppp on ppp.id=pe.person_id
		where ev.dat_ch is not null
			and #pers_filter#
			and year(ev.date)>=#YEAR_NOW#-#YR_N# ??!YR_N=0
[end]

[sc]
----- Средний ПРНД -----??
update cp_data 
	set value_#YR_N#=(select format(sum(bs.ttl)/(#NUM_PERS_TOT#*GREATEST(1,#YR_N#)),1) AS AVG_TOTAL
		from p_persons_post ppp join ball_sum bs on ppp.id=bs.person_id
		where #pers_filter#
and bs.yr >=#YEAR_NOW#-#YR_N#  ??!YR_N=0
	)
where itemId=199
;
----- Всего публикаций -----??
$INCLUDE [sc_events_SQL]
 and ev.type_id in(1,4,6,12,13,14,15,17,21) )
where itemId=110
;	
----- Реф.журналы -----??
$INCLUDE [sc_events_SQL]
 and ev.type_id in(1)	)
where itemId=111
;	
----- Монографии -----??
$INCLUDE [sc_events_SQL]
and ev.type_id in(4))
where itemId=120
;	
----- Доклады -----??
$INCLUDE [sc_events_SQL]
and ev.type_id in(3))
where itemId=150
;	
----- Курсы, Учебники -----??
$INCLUDE [sc_events_SQL]
and ev.type_id in(6))
where itemId=151
;	
----- Соискатели, дипломники -----??
$INCLUDE [sc_events_SQL]
and ev.type_id in(27))
where itemId=152
;	
----- Диссертации -----??
$INCLUDE [sc_events_SQL]
and ev.type_id in(25))
where itemId=161
;	


----- Конференции -----??
update cp_data 
	set value_#YR_N#=( SELECT count(id)
			from i_conferences
			where (UPPER(org) like UPPER('%JINR%') or UPPER(org) like UPPER('%ОИЯИ%'))
			and ((not dat1 is null and year(dat1)>=#YEAR_NOW#-#YR_N#) or (not dat2 is null and year(dat2)>=#YEAR_NOW#-#YR_N#)) ??!YR_N=0
	)
where itemId=160
;	
[end]


[Personal]
----- Всего научных -----??
select count(*) as "NUM_PERS_TOT"
		from p_persons_post ppp 
		where #pers_filter# 
;
update cp_data set value_#YR_N#='#NUM_PERS_TOT#' where itemId=310
;
----- Молодых научных -----??
select count(*) as "NUM_PERS_YANG"
		from p_persons_post t join p_persons p on p.id=t.id
		where t.tip_dejat=5 and t.usl_rab in (1,2,4,5,8,9)
		and datediff(sysdate(),p.data_rozhd) < 40*365.25
;
update cp_data set value_#YR_N#=format(100*#NUM_PERS_YANG#/#NUM_PERS_TOT#,1)
where itemId=320
;
----- Средний возраст -----??
update cp_data 
	set value_#YR_N#=(select format(avg(datediff(sysdate(),p.data_rozhd))/365.25,1)
		from p_persons_post t join p_persons p on p.id=t.id
		where t.tip_dejat=5 and t.usl_rab in (1,2,4,5,8,9)
	)
where itemId=330
;
[end]

[innov_events_SQL]
update cp_data 
	set value_#YR_N#=(select count(user_id)
		from event_values 
		where 
			year(date)>=#YEAR_NOW#-#YR_N# and  ??!YR_N=0
[end]

[innov]
----- Патенты -----??
$INCLUDE [innov_events_SQL]
  subtype_id=61) where itemId=410
;
----- Объекты -----??
$INCLUDE [innov_events_SQL]
	subtype_id in(61,63)) where itemId=420
;
----- Структуры -----??
$INCLUDE [innov_events_SQL]
	subtype_id in(65)) where itemId=440
;
----- МалыеПредпр -----??
$INCLUDE [innov_events_SQL]
	subtype_id in(66)) where itemId=450
;
[end]


=========== не исп. ===========
[fin]
update cp_data 
	set value_#YR_N#=(select format(sum(ifnull(n_lists,0)/1000),0)
		from event_values where subtype_id in(31,32,33,34,36) 
	)
where itemId=220
;
update cp_data 
	set value_#YR_N#=(select format(sum(ifnull(n_lists,0)/1000),0)
		from event_values where subtype_id in(37) 
	)
where itemId=230
;
[end]
