[parameters]
title=Редактирование справочника мобильных телефонов ??cop=e
title=Добавление новой записи в справочник мобильных телефонов ??cop=i
title=Справочник мобильных телефонов ??!cop
[end]

[report]
$INCLUDE common.dat[head]
<body><center>
<table class=xp>
 <tr>
  <td>
<form name="theForm" action="" method="post" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" 
value="a" ??t_n=0
value="u" ??t_n<0
>

<table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="FFFFE6">
<tr>
	<th bgcolor=white colspan=2 nowrap=true>
		Новая запись  ??t_n=0
		Редактирование записи  ??t_n<0
		справочника визитеров
	</th>
</tr>

$GET_DATA [getTN] ??t_n>-1

<tr><td class=l2 nowrap=true>Табельный номер:</td><td nowrap=true><input size=4 class=xp name="t_n" value='#t_n#'></td></tr>
<tr><td class=l2 nowrap=true>Фамилия:</td><td nowrap=true><input size=20 class=xp name="fam" value='#fam#'></td></tr>
<tr><td class=l2 nowrap=true>Имя:</td><td nowrap=true><input size=20 class=xp name="im" value='#im#'></td></tr>
<tr><td class=l2 nowrap=true>Отчество:</td><td nowrap=true><input size=20 class=xp name="ot" value='#ot#'></td></tr>
<tr><td class=l2 nowrap=true>Подразделение:</td><td nowrap=true><input size=4 class=xp name="p" value='#p#'></td></tr>

<tr bgcolor=white align=center>
	<td colspan=2>
		<input class=button type="button" value="Сохранить" onClick="document.theForm.submit();">&nbsp; &nbsp;
		<input class=button type="button" value="Отмена" onClick="window.close();">
	</td>
</tr>
</table>
</form>
</td>
 </tr>
</table></center>
<script language="JavaScript">
function theEnd()
{ try { window.opener.refr();}
  catch(e) {}
  window.close();
}
theEnd(); ??cop=u|cop=a
</script>
</body>
[end]

[preSQLs]
$USE_DB ASU
;
$INCLUDE [add SQL] ??cop=a
;
$INCLUDE [update SQL] ??cop=u
;
$INCLUDE [get SQL] ??t_n<0&!cop
;
[end]

[getTN]
select min(t_n)-1 as "t_n" from dbo.vrem
[end]


[get SQL]
select fam, im, ot, p 
from dbo.vrem
WHERE t_n=#t_n#
[end]

[add SQL]
insert into dbo.vrem (t_n, fam, im, ot, p)
values(#t_n#, '#fam#', '#im#', '#ot#', '#p#')
[end]

[update SQL]
UPDATE dbo.vrem
SET fam='#fam#', im='#im#', ot='#ot#', p='#p#'
WHERE t_n=#t_n#
[end]

var frm=document.theForm;
function frmSubmit()
{
if ((frm.REGNOM.value.length<1)||(frm.FNAME.value.length<1)||(frm.TEL_NOMER.value.length<1)){
alert('Поля <РЕГИСТРАЦИОННЫЙ НОМЕР>, <ФАМИЛИЯ>, <ТЕЛЕФОН> должны быть заполнены!');
}
else
frm.submit();
}

