[parameters]
title=Справочник визитеров
service=dubna.walt.service.TableServiceSortable
wrapperTable=<table bgcolor=404040 cellspacing=0 cellpadding=0><tr><td>
table_beg=<table border="0" cellspacing="1" cellpadding="2" width=100%>
wrapperTableEnd=</td></tr><tr><td><img src="#imgPath#del.gif" border="0" width=350 height=1></td></tr></table>
debug=off
[end]


[report header]
$SET_PARAMETERS srt=1 ??!srt
$SET_PARAMETERS CAN_SEE=N ??
$SET_PARAMETERS CAN_EDIT=N
$SET_PARAMETERS CAN_SEE=Y   ??logged
$SET_PARAMETERS CAN_EDIT=Y   ??ClientIP=159.93.152.55|ClientIP=159.93.152.80|uname=serg|uname=folga|uname=uin|uname=upl
$SET_PARAMETERS CAN_SEE=Y   ??CAN_EDIT=Y
$SET_PARAMETERS FULL_REPORT=Y ??CAN_EDIT=Y|USER_GROUP={{.*sys.*}}

$INCLUDE common.dat[head]
<script>window.location.href="#loginURL#?back_url=" + escape("#ServerPath##ServletPath#?#queryString#");</script> ??!CAN_SEE=Y
<body bgcolor=f0f8ff style="margin: 6px;">
<blockquote style="margin-left:50;">
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();">
<input type=hidden name="c" value="#c#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="back" value="#back#"> ??
<input type=hidden name="tabN" value=""> ??

<TABLE border=0 cellSpacing=0 cellPadding=2>
<tr><td bgcolor=gray>
<TABLE border=0 cellSpacing=1 cellPadding=5 bgcolor="FFFFE6">
<tr><th colspan=3 bgcolor=white>Справочник визитеров.</th></tr>

<tr><td class=l2 nowrap=true>Табельный номер:</td><td nowrap=true><input size=4 class=xp name="f_bc" value='#f_bc#'></td></tr>
<tr><td class=l2 nowrap=true>Фамилия:</td><td nowrap=true><input size=20 class=xp name="f_f" value='#f_f#'></td></tr>
<tr><td class=l2 nowrap=true>Имя:</td><td nowrap=true><input size=20 class=xp name="f_i" value='#f_i#'></td></tr>
<tr><td class=l2 nowrap=true>Отчество:</td><td nowrap=true><input size=20 class=xp name="f_o" value='#f_o#'></td></tr>
<tr><td class=l2 nowrap=true>Подразделение:</td><td nowrap=true><input size=4 class=xp name="f_div" value='#f_div#'></td></tr>

<tr><td colspan=4 bgcolor=white align=center>
<input type=submit class=button value="Искать" > &nbsp; &nbsp; &nbsp;
<input type=button class=button value="Добавить" onClick="javascript:editRec(0);"> &nbsp; &nbsp; &nbsp;??CAN_EDIT=Y
<input type=button class=button value="Закрыть" onClick="window.close();">

</td></tr></TABLE>
</td></tr></TABLE>

<script>
var frm=document.theForm;
window.focus();


function resetForm()
{ frm.f_search.value="";
  frm.f_bc.value="";
  frm.f_io.value="";
  frm.tab_n.value="";
  frm.f_resp.checked=false;
}

function doIt()
{ 
// if (!checkFields()) return false;

  frm.submit();
  return false;
 
}

function checkFields()
{ if (frm.f_resp.checked) return true;
  var s = frm.f_search.value + frm.f_bc.value + frm.f_io.value + frm.tab_n.value;
  if (s.length > 0) return true;
  alert ("Задайте критерий поиска!");
  return false;
}

function editRec(id1)
{openWindow("c=tmppers/edit&t_n=" +id1, 'i_persEdit', 400, 300);
}

function deleteRec(id,nam)
{
if (confirm("Удалить "+nam+"?")==true)
{
openWindow("c=mobile/mobiledel&ID="+id, '_blank', 1, 1); ??
alert("!");
}
}


function refr()
{ frm.submit();
}

function doIt()
{ // if (!checkFields()) return false;
//  frm.srn.value="1";
//  alert ("here!");
  frm.submit();  
  return true;
}

function setSort(colNr)
{
  var oldsrt = #srt#; ??srt
  var oldsrt = -1;    ??!srt
  if (oldsrt == colNr)
  {
    frm.desc.value="DESC";  ??!desc
    frm.desc.value="";      ??desc
  }
  else
    frm.desc.value="DESC";
  doIt();
}

</script>
<br>
[end]

[report footer]
</form></blockquote><br>.<br>.</body></HTML>
[end]


'<a href=#ServletPath#?c=&'||id||'>'||fname||'</a>' as fname,tabno,tel_nomer,regnom

[preSQLs]
$USE_DB ASU
[end]

[SQL]
select 
'''' + cast(t_n as char) as "TABNOM"
, 
  '<a href="javascript:editRec(' + cast(t_n as varchar) + ');">' + ??CAN_EDIT=Y
isnull(fam,'.')+ ' ' + isnull(im,'') + ' ' + isnull(ot,'')
  + '</a>'??CAN_EDIT=Y
	 as "F"
, im AS "I", ot as "O" ??
, '''' + p as "DIV"
from dbo.vrem
where 1=1
and fam like '#f_f#%' ??f_f
and ot like '#f_o#%' ??f_o
and im like '#f_i#%' ??f_i
and p='#f_div#' ??f_div
ORDER BY 
t_n #desc# ??srt&srt=1
#srt# #desc# ??srt&!srt=1
[end]



[colNames]
TABNOM=&nbsp;Таб.&nbsp;№
F=Ф.И.О.
DIV=Подр.
[end]



