[comments]
descr=А: Редактирование внешнего справочника - тестирование запроса во внешнюю базу
input=info_id - ID выбранного справочника, SQL_TEXT - текст запроса
output=HTML-таблица данных справочника, 
parents=admin/infos/info_editExternal.cfg
childs=
test_URL=?c=admin/infos/info_TestSQL&CONN_ID=1
[end]

[parameters]
request_name=A:тест ext.SQL

service=dubna.walt.service.TableServiceSimple ??cop=test
service=dubna.walt.service.SQLExecService ??
thsnDelimiter=none

KeepLog=false
rowLink=|<a class=r href="javascript:goToRow(#srn_i#);">#srn_i#-#ern_i#</a> ??!currentPage
rowLink=|<font color=FFFF00><b>#srn_i#-#ern_i#</b></font> ??currentPage
tableCfg=this
[end]

[report]
$GET_DATA [saveSQL]
<div id="result">
<small>#c#</small> ??debug=on
<b>Saved!</b>  ??!ERROR
#ERROR#  ??ERROR
</div>

<script>
window.parent.getResult("test_result", document.getElementById("result"));
</script>
[end]

[setExtConnection]
$INCLUDE admin/infos/info_TestSQL.cfg[setOraConnection] ??DB_TYPE=1
$INCLUDE admin/infos/info_TestSQL.cfg[setMSSQLConnection]  ??DB_TYPE=2
$SET_PARAMETERS usr_INFO=#CONN_USR#
$SET_PARAMETERS pw_INFO=#CONN_PW#
$USE_DB _INFO
[end]

[setOraConnection]
$SET_PARAMETERS dbDriver_INFO=oracle.jdbc.driver.OracleDriver
$SET_PARAMETERS connString_INFO=jdbc:oracle:thin:@#SERVER#:#PORT#:#PARAM#
[end]

[setMSSQLConnection]
$SET_PARAMETERS dbDriver_INFO=com.microsoft.sqlserver.jdbc.SQLServerDriver
$SET_PARAMETERS connString_INFO=jdbc:sqlserver://#SERVER#:#PORT#;databaseName=#DB#
[end]


[report header]
$INCLUDE [setExtConnection]

$SET_PARAMETERS srn=1; ??!srn
$SET_PARAMETERS rpp=100; ??!rpp

<HTML><HEAD><TITLE>SQL tester</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
</HEAD>

<body BACKGROUND="#imgPath#b_n.gif">

<div id="executing"><b>try SQL: #SQL_TEXT#:</b></div>

<script>
window.parent.getResult("test_result", document.getElementById("executing"));
</script>

<div id="result">
<b>SQL: #SQL_TEXT#:</b><div style="height:400px; overflow: auto;"><center>
[end]


[report footer]
<br>
<table border=0 cellpadding=0 cellspacing=0 width=100%  style="border: solid 1 ##000000;"><tr><td bgcolor=203060>
<font color=white><i>&nbsp;&nbsp;
$INCLUDE dat/common.dat[rpp]  ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0
</td></tr></table>
$INCLUDE [err msg] ??ERROR
</div></center>
</div>


<script>
window.parent.getResult("test_result", document.getElementById("result"));

</script>
$USE_DB ??
[end]

[err msg]
<script>timerRunning = false; frm.timer.value = "SQL executed in #timer#"; </script>
<table bgcolor=white style="border: solid 1 ##FF0000;"><tr><td>
<img src="#imgPath#alert.gif" width=16 height=16>&nbsp;Error:  #ERROR#
[end]

[SQL]
#SQL_TEXT#
[end]

[preSQLs]
select ed.SRC_TYPE, ed.CONN_ID
, ec.DB_TYPE, ec.CONN_NAME, ec.DB as DB_SCHEMA
, i.IS_TREE, i.IS_ACTIVE
, ec.SERVER, ec.PORT, ec.PARAM, ec.USR as CONN_USR, ec.PW as CONN_PW
, i.table_name
, data_updated 
from i_infos i
left join i_external_data ed on ed.info_id=i.id
left join i_ext_connections ec on ec.id=ed.conn_id

where i.Id=#info_id#

[end]

[saveSQL]
update i_external_data
set request='#SQL_TEXT#'
where info_id=#info_id#
[end]