[comments]
descr=А: Просмотр данных справочника. 

input=info_id - ID выбранного справочника
output=HTML форма данных справочника, 
parents=admin/infos/info_data.cfg
childs=admin/infos/info_editRecord 
test_URL=?c=admin/infos/info_viewData&info_id=10&stanalone=yes
author=Куняев
[end]

[parameters]
request_name=A:просмотр данных справочника
service=jinr.dms.ServiceViewInfoData
KeepLog=false
ClearLog=true
[end]


[report header]
$INCLUDE dat/common.dat[standaloneTop]  ??stanalone=yes
info_id: <input name=info_id value="#info_id#"> stanalone: <input name=stanalone value="#stanalone#">  ??stanalone=yes

$SET_PARAMETERS RWACC=Y
$SET_PARAMETERS SYS_FIELDS=IS_DELETED, IS_MANUAL, DATE_FORMAT(changed,'#dateTimeFormat#') as MODIFIED 
$SET_PARAMETERS CRITERIA=where is_manual=1; 	??f_rec_status=MANUAL
$SET_PARAMETERS CRITERIA=where is_deleted=1; 	??f_rec_status=DELETED
$SET_PARAMETERS CRITERIA=where is_manual=0; 	??f_rec_status=AUTO

<script>
window.parent.showLoading("test_result");
</script>


<div id="result">
<style>table.tlist td, table.tlist th{font-size:8pt;}</style>
<small>#c#</small> ??debug=on
<center>

============ Начало таблицы =============== ??
<table border=0 class=tlist cellpadding=0 cellspacing=0>
<tr><th colspan=#NUM_COLUMNS#>
<div style="float:right;"> 
<input type="button" class="butt1" style="width:160;" value="Добавить запись" onClick="doSubmit('add', 'admin/infos/info_editRecord ');">  ??RWACC
</div>
Просмотр данных справочника "#INFO_NAME#"
</th></tr>

============ FILTERS =============== ??
<tr><td colspan=#NUM_COLUMNS#>
<table border=0 cellpadding=0 cellspacing=0>
<tr><td><input type=radio name=f_rec_status value="" onclick="showNext(0);"
checked ??!f_rec_status
>  Все записи
</td><td class="DELETED">
<input type=radio name=f_rec_status value="DELETED" onclick="showNext(0);"
checked ??f_rec_status=DELETED
>  Только удаленные
</td><td class="MANUAL">
<input type=radio name=f_rec_status value="MANUAL" onclick="showNext(0);"
checked ??f_rec_status=MANUAL
>  Только "ручные"
</td><td class="AUTO">
<input type=radio name=f_rec_status value="AUTO" onclick="showNext(0);"
checked ??f_rec_status=AUTO
>  Только автоимпортируемые (не ручные)
&nbsp; Поиск:
<input name="searchFor" id="searchFor" class="xp" size=20 value="#searchFor#" onChange="document.theForm.START_REC.value=1;">
<img src="#imgPath#search.gif" style="vertical-align: bottom;" onclick="showNext(0);">

$SET_PARAMETERS START_REC=1; ??!START_REC
$SET_PARAMETERS isrn=0; ??!isrn&ZZZ
$SET_PARAMETERS irpp=10;
  ??!irpp
<input type=hidden name=isrn value="#isrn#"> ??
<input type=hidden name=irpp value="#irpp#"> 

</td></tr></table></td></tr>


============ Заголовки столбцов =============== ??
<tr>#TableColsHeaders#<th>Обновлено</th></tr>
[end]


============ Строка таблицы =============== ??
[item]
<tr cmd="c=admin/infos/info_editRecord&record_id=#record_id#&info_id=#info_id#"
class="pcmd
DELETED ??IS_DELETED=1
MANUAL ??IS_MANUAL=1&!IS_DELETED=1
">#record#
<td nowrap>#MODIFIED#</td>
</tr>
[end]

[prevLink]
<span class="pt" onClick="showNext(-1);"> << </span>
[end]

[nextLink]
<span class="pt" onClick="showNext(1);"> >> </span>
[end]

[report footer]
</table>
$INCLUDE [prevLink] ??HAS_PREV=Y
строки 
<input type=hidden name=START_REC value="#START_REC#">   ??!TOT_NUM_RECS>0
с <input size=4 class="xp center" name=START_REC value="#START_REC#">   ??TOT_NUM_RECS>0
#START_REC# ??
по #END_REC# из #TOT_NUM_RECS#  ??TOT_NUM_RECS>0
#TOT_NUM_RECS#: <b>"#searchFor#" НЕ НАЙДЕНО!</b>  ??!TOT_NUM_RECS>0
$INCLUDE [nextLink] ??HAS_NEXT=Y
</center>
<b>ОШИБКА:</b> #ERROR# ??ERROR
</div>

+++++++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("test_result", document.getElementById("result"));
window.parent.document.theForm.c.value="admin/infos/info_viewData";
</script>

$INCLUDE dat/common.dat[standaloneBottom]  ??stanalone=yes
[end]


==============================================================
==============================================================
==============================================================


[preSQLs]
$INCLUDE admin/infos/info_data.cfg[getInfoSQL]
;
select concat(field_db_name, ',') as FIELDS
 , concat(name, ',') as FIELDS_NAMES 
 , concat(type, ',') as FIELDS_TYPES
 , concat(is_manual, ',') as FIELDS_MANUAL
from i_fields
where info_id=#info_id#
order by nr
;
select count(field_db_name) as NUM_FIELDS, count(field_db_name)+ 1 as NUM_COLUMNS
from i_fields where info_id=#info_id#
;
[end]
