[comments]
descr=А: для ОИЯИ - заполнение справочника персонала местами работы и должностями
input=
output=Заполненная колонка posts в таблице info_11
parents=admin/infos/info_loadData.cfg
childs=
test_URL=?c=admin/infos/jinr_setPersonPosts
author=Куняев
[end]


[parameters]
request_name=A:ОИЯИ-правка справочника персонала
service=dubna.walt.service.TableServiceSpecial 
KeepLog=true
ClearLog=false
debugPrint=true

[end]



[report header]
<div id="result">
<small>#c#</small> ??debug=on
#request_name#<br>Эта процедура займет около 2-х минут...
[end]

[item]
$GET_DATA [setPosts]
[end]

<hr>#KOD_FIZLICA#: POSTS=#POSTS#; <br>POST=#POST#; ??

[report footer]
$GET_DATA [recreate users table] ??
$CALL_SERVICE c=admin/users/refresh_JINR_usrs; 
<b>ОШИБКА:</b> #ERROR# ??ERROR
</div>
[end]

$CALL_SERVICE c=admin/users/refresh_JINR_usrs; 

==============================================================
==============================================================
==============================================================
[preSQLs]
update info_11 set posts=''
[end]

[setPosts]
select distinct posts as "POSTS"
from info_11
where person_id=#KOD_FIZLICA#
;
update info_11 set 
posts='#POSTS#<hr>#TAB_NOM#: #DIV_NAME# (#div_code#), #POST#' ??POSTS
posts='#TAB_NOM#: #DIV_NAME# (#div_code#), #POST#' ??!POSTS
where person_id=#KOD_FIZLICA#
[end]

[SQL]
select p.id as "TAB_NOM", p.person_id as "KOD_FIZLICA", p.posts as "POSTS"
, d.path as DIV_NAME, d.id as div_code
, p.post as POST
, concat(p.post, ', ', p.usl_rab) as POST ??
, concat(d.path, ',<br> ', p.post, ', ', p.usl_rab) as POST ??
from info_11 p 
	left join info_10 d on d.id=p.div_code
where p.id in(71923,201247) ??
order by p.person_id
;
[end]

[recreate users table]
drop table #table_users_full#;
create table #table_users_full# as select * from #table_users_full#_v;
CREATE INDEX ix_id ON #table_users_full# (id);
[end]