[comments]
descr=А: Список справочников - вывод фильтров и вызов admin/infos/info_list_table.cfg для вывода самой таблицы
input=none
output=Форма фильтров, HTML таблица -список справочников
parents=admin/admin_js_noDB.cfg
childs=admin/infos/infos_list_table.cfg
testURL=?c=admin/infos/tab_infos
[end]

[parameters]
request_name=A:Список справочников
KeepLog=false
[end]

[report]
++++ временно - открыто всем. Потом - проверить R и RW права пользователя +++ ??
$SET_PARAMETERS RWACC=Y; RACC=Y;
$INCLUDE [report_]  ??RACC
[end]


[report_]
<body>
<div id="result">
#c# ??debug=on
<center>
<input type=hidden name="atab" value="t_infos"> 
<input type=hidden name="module" value="admin/infos/tab_infos"> 

+++++ Фильтры +++++ ??
<table border=0 bgcolor=white cellpadding=4 style="border:solid 1px gray;">

<tr><td class=label>Название справочника:</td><td> <input size=20 name="f_nam" value="#f_nam#"> &nbsp; 
<td><input type="button" class="butt1 pt" style="width:100;" value="Искать" 
onclick="doSubmit('', 'admin/infos/infos_list_table');" 
onClick="document.theForm.c.value='admin/infos/infos_list_table'" ??
>
<input type="submit" style="display:none;" value="Submit" >
</td>
</tr></table>

+++++ Контейнер таблицы +++++ ??
<div id="content_table">=====</div>

</div>

+++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("c_infos", document.getElementById("result"));
window.parent.setModule("admin/infos/infos_list_table");
</script>

+++++ Вывод таблицы справочников (первоначальный вызов) ++++ ??
$CALL_SERVICE c=admin/infos/infos_list_table; 

</body></html>
[end]

[preSQLs]

[end]