[parameters]
table_persons=i_persons_t ??
table_persons=i_persons
ADMIN=Y  ??g_sys=USER_GROUP|g_adm=USER_GROUP

a1=<a class=s href="javascript:opn(
a2=</a>
$INCLUDE nica/tree/common.dat[parameters]
[end]
"

[code type]
Тип: <select name=CODE_TYPE onChange="frm.CODE.value = top.getSelectedVal(frm.CODE_TYPE) + frm.CODE.value.substring(1);"
disabled ??xxx!ADMIN
><option value="0">0: Все
<option value="1">1: Персонал
<option value="2">2: МНТС
<option value="3">3: Материалы
<option value="4">4: Энергия
<option value="5">5: Оперативные
</select>
[end]

[report]
$SET_PARAMETERS POSITION=#NEW_POS#;  ??cop=c&NEW_POS

$GET_DATA [get node script]

<TABLE cellSpacing=1 border=0 cellPadding=4 width=100%>
<tr><th colspan=2 bgcolor=white>
Бюджетный код  
&nbsp;<i>id: #ID#</i> ??g_sys=USER_GROUP
</th></tr>

<input type=hidden name="TYPE" value='#TYPE#'>
<tr><td  class=l nowrap=true>Код:</td><td class=d>
<input class=ro 
readonly ??!ADMIN
size=5 name="CODE" value='#CODE#'>&nbsp; &nbsp;
$INCLUDE [code type] ??
<br><font color=red><b>Код #CODE_EXISTS# уже существует! ??CODE_EXISTS
</td></tr>

<tr><td  class=l nowrap=true>
Ответственный:
</td><td class=d_big nowrap=true>
<input size=30 name="NAME_SHORT" value='#NAME_SHORT#'> ??
#RESPS#
<a href="javascript:add_resp();"><i>Добавить...</i></a> ??ADMIN

<input type=hidden name="new_tab_n" value="">
<input type=hidden name="del_tab_n" value="">
</td></tr>

<tr><td class=l>
Раздел:  ??!PID=-1&!PARENT_TYPE=T
Тема:  ??!PID=-1&PARENT_TYPE=T

</td><td class=d nowrap=true>
<input class=ro readonly size=25 name=PARENT_NAME value='#PARENT_NAME#'>  ??!PID=-1
<input type=button class=but value="Изменить" onClick="top.showP();"></td></tr>  ??ADMIN&!PID=-1

<tr><td  class=l nowrap=true>
Лаборатория:</td><td class=d>
<input size=9 name="LAB_NAME" value='#LAB_NAME#' onChange="document.theForm.LAB_CODE.value='';">&nbsp;&nbsp;
<input type=hidden name="LAB_CODE" value='#LAB_CODE#'>  ??
<input size=3 name="LAB_CODE" class=ro value='#LAB_CODE#'>
</td></tr>

<tr><td class=l nowrap=true>Код темы: </td><td class=d>
<input size=6 class=xp name="SBJ_CODE" value='#SBJ_CODE#'>
</td></tr>

<tr><td class=l nowrap=true>Код баз.уст: </td><td class=d>  ??RAZD_NR=2
<input size=6 class=xp name="DEV_CODE" value='#DEV_CODE#'></td></tr>  ??RAZD_NR=2

<tr><td  class=l nowrap=true>Приказ:</td><td class=d>
<input size=4 class=xp name="PRIKAZ_NUM" value='#PRIKAZ_NUM#' onChange="document.theForm.PRIKAZ_ID.value=''">
<input size=2
type=hidden
name="PRIKAZ_ID" value='#PRIKAZ_ID#'>
от #PRIKAZ_DAT# ??PRIKAZ_DAT
&nbsp; п. <input size=2 class=xp name="PRIKAZ_SN" value='#PRIKAZ_SN#'>
&nbsp;&nbsp;<a href="javascript:get_prikaz();"><i>Искать...</i></a> ??ADMIN
<br> <b>#PRIKAZ_DES#</b> ??PRIKAZ_DES
</td></tr>

<tr><td  class=l nowrap=true>Описание:</td><td class=d>
<textarea class=xp name=DES rows=4 cols=50>#DES#</textarea></td></tr>

<tr><td  class=l nowrap=true>Статус:</td>
<td class=d><select name=stat>
<option value="A">Активный
<option value="I">Неактивный
<option value="D">Удаленный
</select></td></tr> 

$INCLUDE nica/tree/editNode.cfg[sort cat]    ??ADMIN
</td></tr><tr><td colspan=2 class=d nowrap=true><center>

<input type=button class=but value="Сохранить" onClick="save();"> &nbsp; ??ADMIN

</td></tr></TABLE>

$INCLUDE [script]
[end]


[script]
<script>
var frm=document.theForm;
window.focus();

function doSearch()
{ window.location.href="#ServletPath#?c=nica/tree/list&f_search=" + frm.f_search.value;
}

function setType()
{ 
  setInput(frm.NAME_SHORT, "ed"); ??
  setInput(frm.DES, "xp");
  setInput(frm.CODE, "xp");
  setInput(frm.SBJ_CODE, "xp");
  setInput(frm.LAB_NAME, "xp");
  setInput(frm.PRIKAZ_NUM, "xp");
  setInput(frm.PRIKAZ_SN, "xp");
  frm.NAME_SHORT.focus(); ??
}

function setInput(inp, className, value)
{ 
  inp.className=className;  ??ADMIN
  inp.readOnly = (className == "ro");  ??ADMIN
  inp.readOnly=readOnly;  ??xxxADMIN
  inp.className="ro";     ??!ADMIN
  inp.readOnly=true;      ??!ADMIN
  if (typeof value != "undefined") inp.value = value;
}

top.selectOptionByVal(frm.CODE_TYPE, ("#CODE#").substring(0,1));  ??CODE_ZZZZ 
top.selectOptionByVal(frm.stat, '#STATUS#');  ??STATUS
top.selectOptionByVal(frm.stat, '#stat#');  ??stat&!STATUS

setType();  ??CODE

function opn(node_id)
{ frm.activeNode.value=node_id;
  top.openNode(node_id);
  frm.submit();
}

var fTREE = top.frames("TREE").document.theForm;

$SET_PARAMETERS refrTree=y ??XXXcop=u&del_tab_n
$SET_PARAMETERS refrTree=y ??XXXcop=u&new_tab_n

fTREE.activeNode.value=#activeNode#; fTREE.submit(); ??cop=u|cop=d|cop=c|cop=cbc
 |refrTree=y ??XXX
try{ top.openNode(#PID#,"TREE_PARENT"); } catch (e) {} ??cop=g

$INCLUDE [logged script]  ??ADMIN
</script>
[end]

[logged script]

function get_prikaz()
{ openWindow("c=info/prikaz/prikaz&back=y&num=" + frm.PRIKAZ_NUM.value, 'i_prikaz', 750, 550);
}

function pastePrikaz(id)
{ // alert (id);
	frm.PRIKAZ_ID.value=id;
  frm.PRIKAZ_NUM.value=id;
  save();
}

function add_resp()
{ openWindow("c=info/persons&back=y", 'i_persons', 750, 550);
}

function pasteResponsible(tab_n, name)
{ frm.new_tab_n.value=tab_n;
  save();
}

function del_resp(tab_n, name)
{ if (!confirm(name + " будет удален из списка ответственных"))
    return;
  frm.del_tab_n.value=tab_n;
  save();
}

function delete_()
{ if (!confirm("Бюджетный код \"#CODE# : #NAME_SHORT#\" будет удален."))
    return;
  frm.cop.value="d";
  frm.submit();
}

function save()
{ // alert ("save!");
  if (frm.PRIKAZ_NUM.value != "" && frm.PRIKAZ_ID.value == "") 
  { get_prikaz();  
    return;  
  }  

  frm.cop.value="u";
  if (frm.new_pos.value == "#POSITION#")
    frm.new_pos.value = "";
  frm.submit();
}

function moveIt(n)
{ var k = new Number (frm.new_pos.value) + n;
  if (k < 1) k = 1;
  frm.new_pos.value = k;
}

function setupTree()
{ try
  { fTREE = top.frames("TREE").document.theForm;
    fTREE.create.disabled=true; 
    fTREE.createBC.disabled=true;
    fTREE.delete_.value="Удалить бюжетный код";
  } catch (e){}
}

setTimeout("setupTree();",200);

top.keepCont=true;  ??cop=u|cop=d
[end]

[preSQLs]
$INCLUDE [insert script]  ??cop=cbc
$INCLUDE [update script]  ??cop=u
$INCLUDE [delete script]  ??cop=d
$INCLUDE [srt script]     ??new_pos&cop=u

[end]


[get node script]
$SET_PARAMETERS activeNode=#NEW_ID#  ??NEW_ID&NEW_POS&cop=cbc
;
SELECT b.ID, b.PID, b.CODE, b.LAB_CODE, b.SBJ_CODE, b.DEV_CODE, b.PRIKAZ_ID, b.PRIKAZ_SN
, b.NAME_SHORT, b.NAME, b.DES, b.POSITION, b.STATUS, u.FIO, b.RAZD_NR
, to_char(b.MODIF_DATE,'DD.MM.YYYY HH24:MI') as DAT
FROM #table_budgetcodes# b, users u 
WHERE b.id=#activeNode#    
  and u.id(+)=b.MODIFIER_ID
;

SELECT 
 initcap(p.fio)||'<br>' as RESPS ??!ADMIN
 '<a href="javascript:del_resp('''||p.tab_n||''','''||trim(initcap(p.fio))||''');"><img src="#imgPath#delete.gif" alt="Удалить ответственного" border=0></a> '||initcap(p.fio)||'<br>' as RESPS ??ADMIN

FROM i_resp r, #table_persons# p 
WHERE r.bc=substr('#CODE#',3,4) and p.tab_n=r.tab_n 
ORDER by p.f
;
SELECT NAME_SHORT as PARENT_NAME, TYPE as PARENT_TYPE FROM #table_tree# WHERE id=#PID#    ??PID
;
select LAB_CODE from #table_tree_all# where not LAB_CODE is null and rownum<2 connect by prior PID=id start with id=#activeNode#  ??!LAB_CODE
;
select div as LAB_NAME from i_lab where code='#LAB_CODE#' ??LAB_CODE
;
select code as SBJ_CODE from #table_tree# where type='T' connect by prior PID=id start with id=#PID#   ??!SBJ_CODE
;
select num as PRIKAZ_NUM, des as PRIKAZ_DES, to_char(dat,'DD.MM.YYYY') as PRIKAZ_DAT from #table_prikaz# where id=#PRIKAZ_ID# ??PRIKAZ_ID
;
[end]


[delete script]
$SET_PARAMETERS ID=#activeNode#; activeNode=#PID#; pidStored=Y ??!pidStored=Y
; 
delete from #table_budgetcodes# where id=#ID#;
[end]

[insert script]
SELECT max(id)+1 as NEW_ID FROM #table_tree_all#;
SELECT max(id)+1 as NEW_ID FROM TREE_ALL; ??

SELECT NVL(max(position),0) + 1 as NEW_POS FROM #table_budgetcodes# where PID=#activeNode#;

$INCLUDE [create BC]    ??NEW_ID&NEW_POS

[end]


[create BC]
select LAB_CODE from #table_tree# where not LAB_CODE is null and rownum<2 connect by prior PID=id start with id=#activeNode#;

select to_char(max(to_number(substr(code,3,4)))+1,'0000') as NEW_CODE from  #table_budgetcodes# 
bc_06_07 ??

;
INSERT INTO #table_budgetcodes# (id,PID,code,LAB_CODE,NAME_SHORT,position,status) 
values(#NEW_ID#,#activeNode#
	,'0-'||trim(to_char(bc.nextval,'0009')) ??
	,'2-00xx' ??
	,'0-#NEW_CODE#'
	, '#LAB_CODE#', 'Новый бюджетный код', #NEW_POS#,'A');
[end]


[update script]
select substr('#CODE#',3,4) as CODE_EXISTS from #table_budgetcodes# where substr(CODE,3,4)=substr('#CODE#',3,4) and id<>#activeNode#;
$INCLUDE [update fields] ??!CODE_EXISTS
;
select CODE from #table_budgetcodes# where id=#activeNode# ??CODE_EXISTS
;
[end]



[update fields]
select code as RAZD_NR, id as ROOT_ID 
from #table_tree# 
where type='RAZD' connect by prior PID=id start with id=#PID#
;
select id as ROOT_ID 
from #table_tree# 
where type='DIR' connect by prior PID=id start with id=#PID#
;

select code as LAB_CODE from i_lab where upper(div)=upper('#LAB_NAME#') ??LAB_NAME
;
select code as LAB_CODE from i_lab where code='#LAB_NAME#' ??LAB_NAME&!LAB_CODE
;

UPDATE #table_budgetcodes#
set NAME='#NAME#', PID=#PID#, NAME_SHORT='#NAME_SHORT#', DES='#DES#', CODE='#CODE#'
, LAB_CODE='#LAB_CODE#', SBJ_CODE='#SBJ_CODE#', DEV_CODE='#DEV_CODE#'
, PRIKAZ_ID=#PRIKAZ_ID# ??PRIKAZ_ID
, PRIKAZ_ID=null 		??!PRIKAZ_ID
, PRIKAZ_SN=#PRIKAZ_SN# ??PRIKAZ_SN
, PRIKAZ_SN=null 		??!PRIKAZ_SN
, ROOT_ID=#ROOT_ID# ??ROOT_ID
, RAZD_NR=#RAZD_NR#  ??RAZD_NR
, MODIFIER_ID=#USER_ID#
, MODIF_DATE=sysdate
, status='#stat#'
WHERE id=#activeNode#
;
insert into i_resp (tab_n, bc) values ('#new_tab_n#', substr('#CODE#', 3,4)) ??new_tab_n
;
delete from i_resp where tab_n='#del_tab_n#' and bc=substr('#CODE#', 3,4) ??del_tab_n
;
$EXEC_PROCEDURE {call SET_RESPS} ??new_tab_n|del_tab_n
;
[end]


[srt script]
SELECT PID, position FROM #table_budgetcodes# WHERE id=#activeNode#;
update #table_budgetcodes# set position=position+1 where position <#POSITION# and PID=#PID#;
update #table_budgetcodes# set position=position-1 where position <=#new_pos# and PID=#PID#;
update #table_budgetcodes# set position=#new_pos# where id=#activeNode#;
[end]

