[parameters]
del1=<a href="javascript:disconnect(
del2=);"><img src="#imgPath#delete.gif" border=0 alt="Удалить строку"></a>
a1=<a class=s href="javascript:opn(
a2=</a>
title=Привязка к разделам
$INCLUDE common.dat[colors]
[end]

[report]
$SET_PARAMETERS linked_cats=#linked_cats#0 ??xxx
$SET_PARAMETERS activeNode=#new_id#;  ??cop=c&new_id
$SET_PARAMETERS activeNode=#pid#;     ??cop=d&pid
$GET_DATA [doc info script]   ??doc_id

$INCLUDE common.dat[head]
<STYLE type=text/css>
A.toc:link, A.toc:visited {color: #darkBlueColor#; text-decoration: none }
A.toc:hover   { color: red; text-decoration: underline }
</STYLE>
<body BACKGROUND="#imgPath#bg/B_n.gif">

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<input type=hidden name="node_id" value="#node_id#">
<input type=hidden name="node_dis" value="">
<input type=hidden name="doc_id" value="#doc_id#">
<input type=hidden NAME="activeNode" VALUE="#activeNode#">

<center>
<table cellSpacing=0 cellPadding=0 border=0>
<tr><td bgColor=#darkColor#>
<TABLE cellSpacing=1 cellPadding=4 border=0>

<tr><th colspan=3>
Привязка к разделам
</th></tr><tr bgcolor=white><td width=20%></td><td width=10%></td><td> </td>

#LabelTD# <b><font color=red><i>#name#</i></font></b>  <br>включен в разделы:<br>
<TD colspan=2 bgcolor=#inputColor# nowrap=true>#paths#<p>
$INCLUDE common.dat[menu item] param: text=Включить<b><i> #name#</i></b><br>в раздел <font color=red><b><i>"#activeNodeName#"</i></b></font>; nam=conn; href=javascript:connect();  ??!linked&activeNodeName&!currRootID=0
<input type=button onClick="connect();" value="Выполнить">  ??!linked&activeNodeName&!currRootID=0

</TD></TR><tr bgColor=#lightColor#><th colspan=3>&nbsp;
Работа с переченем разделов: ??
</Th></TR>

<tr><td colspan=3 bgcolor=#inputColor# align=right>
Поиск раздела по названию:
<input name="cat_search" value="#cat_search#">
<input type=button value="Искать" onClick="search();">
</TD></TR>

<tr bgColor=#lightColor#><td colspan=3 bgcolor=#inputColor#><b><i>Результаты поиска:</i></b><br> #search_res#</TD></TR>  ??search_res

<tr bgColor=#lightColor#>
<td></td> ??!user_group=sys
<td valign=top colspan=2 nowrap=true>
$SET_PARAMETERS activeNode=0  ??!activeNode

$CALL_SERVICE c=editTree ??
<p></td>
$INCLUDE [change tree]  ??user_group=sys
</tr>

  <tr><th colspan=3 >
  <input type=button value="Выход" onClick="quit();">
  </th></tr></TABLE>
  </td></tr></TABLE>
</form>

$INCLUDE [script]
</center></body></HTML>
[end]

[change tree]
<td valign=top nowrap=true>
<p>
$INCLUDE common.dat[menu item] param: text= Переименовать раздел <b><font color=red><i>"#activeNodeName#"</i></font></b>; nam=ren; href=javascript:rename_cat();  ??!currRootID=0
<br>в: <input name="rn_cat" value='#activeNodeName#'><input type=button onClick="rename_cat()" value="Выполнить">  ??!currRootID=0
<p>
$INCLUDE [new cat]  ??!activeNodeLev=4
<p>
$INCLUDE common.dat[menu item] param: text=Удалить раздел <b><font color=red><i>"#activeNodeName#"</i></font></b><br>из перечня разделов; nam=del; href=javascript:del_cat();    ??!currRootID=0
<input type=button onClick="del_cat()" value="Выполнить">  ??!currRootID=0
</blockquote>
</td>
[end]

[new cat]
$INCLUDE common.dat[menu item] param: text= Создать новый раздел<br><font color=red>ВЕРХНЕГО УРОВНЯ</font>:; nam=new; href=javascript:make_new_cat();    ??currRootID=0
$INCLUDE common.dat[menu item] param: text= Создать новый подраздел внутри раздела <br><b><font color=red><i>"#activeNodeName#"</i></font></b>; nam=new; href=javascript:make_new_cat();  ??!currRootID=0
<br>название: <input name="new_cat"><input type=button onClick="make_new_cat()" value="Выполнить">
[end]


[script]
<script>
var frm=document.theForm;

function search()
{ if (frm.cat_search.value == "")
  { alert ("Введите подстроку поиска в названии раздела");
    return;
  }
  frm.cop.value="s";
  frm.submit();
}

function rename_cat()
{ frm.cop.value="rn";
  frm.submit();
}

function opn(node_id)
{ frm.activeNode.value=node_id;
  frm.cat_search.value = "";
  frm.submit();
}

function connect()
{ frm.cop.value="con";
  frm.submit();
}

function disconnect(node_id)
{ frm.cop.value="dis";
  frm.node_dis.value=node_id;
  frm.submit();
}

function del_cat()
{
  alert ("Чтобы удалить раздел '#activeNodeName#'\n необходимо сначала удалить все его подразделы"); return; ??has_children
  var num_docs = #num_docs#;  ??num_docs
  var num_docs = 0;  ??!num_docs
  if (num_docs > 0)
  { if (! confirm ("В раздел '#activeNodeName#' включено #num_docs# записей"
      +"\n Все они автоматически будут включены в родительский раздел"))
    return;
  }
  else
    if (! confirm ("Раздел '#activeNodeName#' будет удален из общего списка разделов"
      +"\n Удалить?"))
      return;

  frm.cop.value="d"; frm.submit();  ??!has_children
}

function make_new_cat()
{ if (frm.new_cat.value == "")
  { alert ("Введите название нового раздела");
    return;
  }
  frm.cop.value="c";
  frm.submit();
}

function quit()
{
  try
  { window.opener.save();
  } catch (e) {}
	self.close();
}

window.focus();
</script>
[end]

[preSQLs]
INSERT INTO doc_containers (doc_ID, node_ID) VALUES (#doc_id#,#activeNode#); ??cop=con
DELETE FROM doc_containers WHERE doc_ID=#doc_id# and node_ID=#node_dis#; ??cop=dis
UPDATE tree set des='#rn_cat#' where id=#activeNode#;  ??cop=rn

SELECT path&des_link&'<br>' as search_res from parents where des like '%#cat_search#%';  ??cop=s&!MYSQL
SELECT concat('<IMG class=toc SRC="#imgPath#blues1.gif">', path, des_link, '</a><br>') as search_res FROM parents WHERE des like '%#cat_search#%';  ??cop=s&MYSQL

$INCLUDE editTree.cfg[delete script]  ??cop=d
$INCLUDE editTree.cfg[insert script]  ??cop=c
$INCLUDE editTree.cfg[update parents] ??MYSQL&cop=c|cop=d|cop=rn
[end]


[doc info script]
SELECT IDs as openNodes, des as activeNodeName, lev as activeNodeLev FROM parents WHERE NODE_ID=#activeNode#;    ??activeNode
SELECT name FROM docs WHERE id=#doc_id#;

$INCLUDE [doc info MYSQL] ??MYSQL
$INCLUDE [doc info Access] ??!MYSQL

SELECT 'Y' as linked from tree where id=#activeNode# and id in(#linked_cats#0); ??linked_cats&activeNode
[end]

[doc info MYSQL]
SELECT concat(node_id, ',') as linked_cats FROM doc_containers WHERE doc_id=#doc_id#;

SELECT concat('##del1##', p.node_id, '##del2## ', path, des_link, '<br>') as paths
FROM parents p, doc_containers c
WHERE p.node_id=c.node_id and c.doc_id=#doc_id#;
[end]

[doc info Access]
SELECT node_id&',' as linked_cats FROM doc_containers WHERE doc_id=#doc_id#;

SELECT '##del1##'&node_id&'##del2## '&path&des_link&'<br>' as paths
FROM parents
WHERE node_id in (select node_id from doc_containers where doc_id=#doc_id#);
[end]
