[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=jinr.adb.ServiceList 

rowLink= | <a class=r href="javascript:goToRow(#srn_i#);">#srn_i#-#ern_i# </a> ??!currentPage
rowLink= | <font color=FFFF00><b>#srn_i#-#ern_i# </b></font> ??currentPage
tableCfg=nica/tree/table.cfg

makeSubtotals=y     ??!sort_date=on
hide_headers=y      ??!sort_date=on
noRepeadHeaders=y ??

a1=<a class=s href="javascript:opn( 
 ??f_search|advSearch|node_id=ALL_r
a1=<a class=rxxx href="javascript:opn(
a2=</a><br>
NumTableRows=0
debug=on ??
KeepLog=true
table_tree=tree_nica
$INCLUDE info\bc\common.dat[parameters]
[end]

[report]
$INCLUDE [report header]
$INCLUDE [report footer]
[end]

[report header]
$SET_PARAMETERS cb_des=y; ??f_search
$SET_PARAMETERS debug=on  ??
$SET_PARAMETERS is_prikaz=y ??f_prikaz
$SET_PARAMETERS_SESSION q_yrc=#q_yr# ??!q_yrc
$SET_PARAMETERS_SESSION q_yrc=#f_year# ??f_year

$INCLUDE nica/tree/common.dat[head]
<link rel="stylesheet" href="#cssPath#bluexa.css" type="text/css">
<body BACKGROUND="#imgPath#page1.gif" style="margin-top:0">

<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doIt();"> 
<form name="theForm" method="GET" onSubmit="doIt(); return false;"> ??
<input type=hidden name="c" value="#c#">
<input type=hidden name="node_id" value="#node_id#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="cop" value="">
<input type=hidden name="noTable" value="">

$INCLUDE [script]


$INCLUDE common.dat[top link] ??XXX
<table border=0 class="ztable" cellspacing="0" cellpadding="2">
<tr>
<td class="zdots" nowrap=true>&nbsp;::</td>
<td class="ztoptitle" nowrap=true>#title#</td>
<td class="ztop" nowrap=true><i>(#subtitle#),</i></td> ??subtitle
<td class="ztoptitle" nowrap=true> 
20#q_yrc# год  ??q_yrc
</td>
<td  class="ztop" width="90%" >&nbsp;</td>
<td class="ztop" nowrap=true>
<a href="#ServletPath#" class="r" target=_top>
<img src="#imgPath#or_dot.gif" width="10" height="10" border="0" class="topordot">
На главную</a>&nbsp;&nbsp;
</td></tr></table>


<blockquote style="margin-left:10px;">

$INCLUDE nica/tree/search.dat[searchBox]
<table border=0 cellSpacing=0 bgcolor=white style="border-left:solid 2px ###darkBlueColor#; border-right: solid 2px ###darkBlueColor#">
$INCLUDE [blueBar]  ??!node_id=0|f_search
$INCLUDE [no items] ??node_id=0&!f_search&!noTable
[end]


[blueBar]
<tr bgcolor="#darkBlueColor#">
<td align=center width=75% ><div class=h>
Бюджетные коды:</div></td>
<td align=center nowrap=true>&nbsp;</td>
</tr>
<tr><td colspan=2>
[end]


[no items]
<TR bgcolor=#headerColor#><td colspan=3 align=center>  ??!f_search
<strong>&nbsp;<br>"#f_search#" не найдено!<br>&nbsp;</strong> ??f_search
[end]


[report footer]
<tr><td colspan=5 bgcolor=white align=center>===   ===</td></tr>  ??!node_id=0&NumTableRows=0&!f_search&!noTable
$INCLUDE [no items] ??NumTableRows=0&f_search&!noTable

<tr bgcolor=#darkBlueColor#><td colspan=5 align=left> ??!node_id=0
$INCLUDE [rpp] ??!node_id=0&!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>
</TD></TR></TABLE>
</form></center><p><hr>
<script> resetForm(); </script> ??reset=y
$INCLUDE [sysRow]   ??g_sys=USER_GROUP

</body></HTML>
[end]

[sysRow]
<a href="#servletPath#?c=nica/tree/list_empty&tm=#tm#">Пустые узлы</a>
 | <a href="javascript:frm.cop.value='u'; frm.submit();">Обновить атрибуты</a>
 | <a href="javascript:frm.cop.value='uf'; frm.submit();">Обновить атрибуты полн.</a>
 | <a href="javascript:top.openWindow('c=nica/tree/list','Info',600,500);">Список</a>
 | <a href="javascript:top.openWindow('c=execSQL','SQL',800,600);">SQL</a>
[end]

[rpp]
<font color=white><i>Выдавать по
<SELECT NAME="rpp" onChange="goToRow(1);">
<OPTION>50 <OPTION>100
<OPTION VALUE="9999">Все  
 ??user_group=sys
</SELECT> записей &nbsp; &nbsp; &nbsp; Записи:</i> #rowLinks# |
<script>top.selectOptionByVal(frm.rpp, '#rpp#'); </script> ??rpp
[end]


================================ SQLs ================================
[preSQLs]
$SET_PARAMETERS srn=1; rpp=9999  ??!rpp
;
$INCLUDE [update attributes script] ??cop=u|cop=uf
;
select distinct '<option value="'||code||'">'||NAME_SHORT as LABS from #table_tree# where type='L' order by 1
;
select distinct '<option value="'||code||'">'||NAME_SHORT as DIRS from #table_tree# where type='DIR' order by 1
;
select '<option value="'||id||'">'||NAME_SHORT as RAZDS from #table_tree# where type='RAZD' order by NAME_SHORT
;
[end]


[update attributes script]

update #table_tree# b set b.lab_code=
nvl((select t.code from #table_tree# t where type='L' connect by prior t.PID=t.id start with t.id=b.id)
	, b.lab_code)
;

update #table_tree# t set NAME=
(select s.boss from i_sbj s where s.code1=t.code and s.lab=t.LAB_CODE and s.year=20#f_year#)
where t.type='T'
;

update #table_tree# t set NAME_SHORT=
(select s.CODE_FULL from i_sbj s where s.code1=t.code and s.lab=t.LAB_CODE and s.year=20#f_year#)
where t.type='T'
;

update #table_tree# t set t.DES=
(select s.DES from i_sbj s where s.code1=t.code and s.lab=t.LAB_CODE and s.year=20#f_year#)
where t.type='T'
;

update #table_tree# t  set t.STATUS=
decode((select s.CLS from i_sbj s where s.code1=t.code and s.lab=t.LAB_CODE and s.year=20#f_year#),0,'A','I')
where t.type='T'
;
update #table_tree# b set ROOT_ID=
(select t.id from #table_tree# t where type='RAZD' connect by prior t.PID=t.id start with t.id=b.pid)
where ROOT_ID is null or ROOT_ID=''
;
update #table_tree# b set RAZD_NR=
(select t.code from #table_tree# t where type='RAZD' connect by prior t.PID=t.id start with t.id=b.pid)
where RAZD_NR is null 
;
update #table_tree# b set DIR=
(select t.NAME_SHORT from #table_tree# t where type='DIR' connect by prior t.PID=t.id start with t.id=b.pid)
;


[end]

[colNames]
DIR=Направл.
CODE=&nbsp;Код&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
RESP=Ответственный
BC=Наименование
DES=Описание
DIV=Лаб.
DIR_CODE=Напр.
SBJ=Тема
SBJ=&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Тема,&nbsp;руководитель&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
DEV_CODE=Уст.
BOSS=Рук.темы
DAT=Изменено
[end]

[SQL]
select  
r.POSITION||':'|| 
'##a1##'||r.id||');"><i>'||r.NAME_SHORT||':##a2##' ??!sort_date=on
r.NAME_SHORT as DIR ??sort_date=on
, ''''||b.SBJ_CODE  as SBJ ??

,'<a class=s href="javascript:opn('||r.id||','''||r.code||''');">'||r.CODE||'</a>' as CODE

,replace(nvl(p.resp,''),', ','<br>') as RESP ??

,decode(r.DES, null,',<br>','')  as DES
 
,replace(to_char(r.modif_date, 'DD.MM.YY HH24:MI') || '<br><small>'||u.FIO,' ','&nbsp;') as DAT 
 ??sort_date=on

from 
 #table_tree# r
, users u

where 1=1
and r.MODIFIER_ID=u.id(+)

$INCLUDE nica/tree/search.dat[search criteria]  ??f_prikaz|is_prikaz|f_search|f_lab|f_dir|f_razd|f_resp|f_sbj|f_bc|f_status

ORDER BY 
nvl(r.modif_date,SYSDATE - 1000) desc, ??sort_date=on
r.POSITION,r.position,r.code
[end]


[script]
$INCLUDE info/bc/js.dat[dd]
<script>
var frm=document.theForm;
alert ("here"); ??
try {
if (typeof top.frames["TREE"] == "undefined" )
{ window.focus();
  window.moveTo(0,0);
}
} catch (e) {}


function doIt()
{ frm.srn.value="1";
  frm.cop.value="f";
//	alert (1);
  frm.submit();
  return false;
}


function opn(nodeId,bc)
{  // alert (typeof opener + " : " + typeof top.frames[1]);
if (typeof top.frames[1] == "object")
top.openNode(nodeId);
else if (typeof opener == "object")
{ 
//  alert (nodeId+":"+bc);
  try {
  opener.setBC (nodeId,bc);
  } catch (e) {alert (e);}
  window.close();
}
}

function goToRow(nr)
{ frm.srn.value=nr;  
//	alert ("goToRow");
	frm.submit();
}

function resetForm()
{ try
  { frm.srn.value="1";
    frm.rpp.value="20";
    frm.s_name.value="on";
    frm.s_des.value="on";
    frm.s_razd.value="on";
  } catch (e) {}
}

function setupTree()
{ try
  { fTREE = top.frames("TREE").document.theForm;
    fTREE.createBC.disabled=true;
    fTREE.delete_.disabled=true;
  } catch (e){}
}

function getSbj(cod)
{
var s = "https://adb.jinr.ru/bht?s=Info/Sbj&sort=sort_d&de=h&opt1=all&opt=3&opt=4&opt=5&opt=6&opt=7&opt=8&sbj=" + cod;
openWindow(s,'sbj_info',800,600);
}
//&srn=0&rpp=-1

setTimeout("setupTree();",200);

function blockError(){return true;} 
//window.onerror = blockError;
</script>
[end]