[parameters]
service=dubna.walt.service.TableServiceSimple

tableCfg=this

a1=<a class=s href="javascript:opn( 
 ??f_search|advSearch|node_id=ALL_r
a1=<a class=rxxx href="javascript:opn(
a2=</a><br>
NumTableRows=0

$INCLUDE info\bc\common.dat[colors]
[end]

[report header]
$INCLUDE info\bc\common.dat[head]

<body BACKGROUND="#imgPath#page1.gif">

<script>
function opn(nodeId,bc)
{ if (typeof top.frames[1] == "object")
    top.openNode(nodeId);
}


function getSbj(cod)
{
  openWindow("https://adb.jinr.ru/bht?s=Info/Sbj&sort=sort_d&de=h&opt1=all&opt=3&opt=4&opt=5&opt=6&opt=7&opt=8&sbj=" + cod
   ,'sbj_info',800,600);
}
</script>

<center>
<table border=1 cellSpacing=0 bgcolor=white width=100%>
<tr bgcolor="#darkBlueColor#"><td rowspan=2></td>
<td align=center width=75%><div class=h>
Пустые разделы дерева:
</div></td><td rowspan=2 width=1%></td></tr>
<tr><td width=100% colspan=1>
[end]



[report footer]
</TD></TR></TABLE>
</TD></TR></TABLE>
<br>
<a href="#servletPath#?c=nica/tree/list_empty&cop=del&tm=#tm#">Удалить удаленные >></a>
</center></body></HTML>
[end]

[SQL]
SELECT  
t.type, t.status
, decode(t.type,'T'
 , '<a href="javascript:getSbj(''' || trim(to_char(to_number(t.CODE),'0009')) || ''');">' || trim(to_char(to_number(t.CODE),'0009')) || '</a>'
 ,t.CODE) as CODE
,'#a1#'||t.id||');"><i>'||t.NAME_SHORT||':#a2#' as NS

, l.div,t.NAME,t.DES

FROM tree t, i_lab l
WHERE t.id not in (select pid from tree_all)
AND l.code(+)=t.lab_code

[end]

[colNames]
TYPE=тип
CODE=код
NS=наим.
NAME=наим.2
DES=описание
DIV=подр.
STATUS=статус
[end]

[preSQLs]
delete from tree where status='D' and id not in (select pid from tree_all) ??cop=del
;
[end]
