[parameters]

[end]

[report]

$INCLUDE common.dat[head]
<SCRIPT language=JavaScript src="#imgPath#lib.js"></SCRIPT>
<body BACKGROUND="#imgPath#b_n.gif">


<form name="theForm" method="POST">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<select name=rgn onChange="setStreets();"><option>#sel_rgn#</select>
<select name=str><option>#sel_street#</select>
<input size=30 name=street onKeyUp="selectStreet();">
</form>

<script>
var frm=document.theForm;

var rids = ("#rids#").split("|");
var rgns = ("#rgns#").split("|");
var rid = ("#rid#").split("|");
var strids = ("#strids#").split("|");
var streets = ("#streets#").split("|");
var strList = frm.str;

function selectStreet()
{ var s = frm.street.value.toUpperCase();
  for (i=1; i<strList.options.length; i++)
  { if (strList.options[i].text.toUpperCase().indexOf(s) == 0)
    { strList.options[i].selected=true;
      sid = getSelectedVal(strList);
      for (j=0; j<streets.length; j++)
        if (strids[j] == sid)
         selectOptionByVal (frm.rgn, rid[j]);
			return;
    }
  }
  strList.options[0].selected=true;
}

//alert (rids.length);
function setStreets()
{ var sel_rid = getSelectedVal(frm.rgn);
  var n = 1;
  for (i=0; i<streets.length-1; i++)
    if (sel_rid == 0 || rid[i] == sel_rid)
      strList.options[n++] = new Option(streets[i], strids[i], false, false);
  for (i=strList.options.length; i>=n; i--)
    strList.options[i] = null;
}

window.focus();
</script></center></body></html>
[end]


[preSQLs]


select  concat(id,'|') as rids, concat(rgn,'|') as rgns
,concat('<option value=''' , id , '''>' , rgn) as sel_rgn
from regions r
order by r.id
;

select 
concat(rgnId,'|') as rid, concat(s.id,'|') as strids, concat(street,'|') as streets
,concat('<option value=''' , s.id , '''>' , street) as sel_street
from regions r, streets s
where r.id=s.rgnId
order by r.id, street

[end]


