[parameters]
tableAR=acc_rights
tableWU=wl.wu
debug=off
[end]

[not identified]
 No Access! Please, login
[end]

[report]
$GET_DATA [process user] ??cop&id
$SET_PARAMETERS tableAR=acc_rights@#altDB# ??cop&idZZZ
$GET_DATA [process user] ??cop&idZZZ

$GET_DATA [getUserInfoSQL] ??id

<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
<meta name="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta http-equiv="pragma" content="no-cache">
<SCRIPT language=JavaScript src="#cssPath#lib.js"></SCRIPT>
<link rel="stylesheet" href="#cssPath#adb.css" type="text/css">
<style>
th {font-size:13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
td {font-size:12px; padding:2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
td.m {font-size:11px;}
td.m input {font-size:11px; font-weight:bold; border: 1px solid #000000;
    color: #000080; padding:0px; 
    text-align: center;}
</style>
</HEAD>


<BODY style="margin:0" bgcolor=whitesmoke>

 <FORM NAME="theForm" METHOD="POST" enctype="multipart/form-data" onSubmit="return doIt();">
 <INPUT TYPE="hidden" NAME="c" VALUE="#c#">
 <INPUT TYPE="hidden" NAME="cop" VALUE="">
 <INPUT TYPE="hidden" NAME="id" VALUE="#id#">

<TABLE BORDER=1 bgcolor=ivory CELLSPACING=0 CELLSPADDING=0 class=form>		<!-- THE FORM TABLE -->
<TR><TD VALIGN="TOP" ALIGN="CENTER">
<TABLE WIDTH=100% BORDER=0 CELLSPACING=0 cellpadding=0>		<!-- THE FILTERS TABLE -->

<TR><th colspan=3>Права доступа к ADB2:
<i>(нет доступа)</i> ??!USER_EXISTS
</th></TR>

<TR><td align=right>Лаборатории:</td><td><input name="U_LABS" size=15 value='#U_LABS#'></td>

<td rowspan=2 valign=top>
<input type=button class=but value="OK" onClick="doIt();"><br> <br>
<input type=button class=but value="Удалить" onClick="doDelete();">&nbsp;&nbsp; ??id&USER_EXISTS
</td>
</tr>
<TR><td align=right>Темы:</td><td><input name="SBJS" size=15 value='#SBJS#'></td></TR>
<TR><td align=right>Бюджетные коды:</td><td><input name="BCS" size=15 value='#BCS#'></td></TR>
<TR><td align=right>Коды NICA RW:</td><td><input name="NICA" size=15 value='#NICA#'></td></TR>
<TR><td align=right> NICA RO:</td><td><input name="NICA_RO" size=15 value='#NICA_RO#'></td></TR>

<TR>

<td valign=top align=right>Группы:
<br><small>'#USER_GROUP_#'</small>

</td><td colspan=2 valign=top>
<input type="checkbox" name="grp" value="adm"
checked ??USER_GROUP_={{.*adm.*}}|USER_GROUP_=adm
>адм.
<input type="checkbox" name="grp" value="boss"
checked ??USER_GROUP_={{.*boss.*}}
>босс
<input type="checkbox" name="grp" value="buh"
checked ??USER_GROUP_={{.*buh.*}}
>бух.
<input type="checkbox" name="grp" value="lab"
checked ??USER_GROUP_={{.*lab.*}}
>лаб.
<input type="checkbox" name="grp" value="reg"
checked ??USER_GROUP_={{.*reg.*}}
>рег.<br>
<input type="checkbox" name="grp" value="nica"
checked ??USER_GROUP_={{.*nica.*}}
>NICA
<input type="checkbox" name="grp" value="bud"
checked ??USER_GROUP_={{.*bud.*}}
>бюдж.
<input type="checkbox" name="grp" value="mnts"
checked ??USER_GROUP_={{.*mnts.*}}
>МНТС
<input type="checkbox" name="grp" value="min"
checked ??USER_GROUP_={{.*min.*}}
>мин
<input type="checkbox" name="grp" value="sys"
checked ??USER_GROUP_={{.*sys.*}}
>сис.
<select name=grp><option>#GRPS#</select> ??

</td></tr>

<TR><td align=right rowspan=10 valign=top>Доступ к меню:<br><br><center>
<a href="javascript:setMenu(0);"> [0] </a><br><br>
<a href="javascript:setMenu(1);"> [1] </a>
</td>
$INCLUDE [accItem] param: l=Документы; name=M_DOC; value=#M_DOC#; w=y;
$INCLUDE [accItem] param: l=Документы NICA; name=M_DOC_NICA; value=#M_DOC_NICA#; w=y;
$INCLUDE [accItem] param: l=НИКА - свод; name=M_NICA_SVOD; value=#M_NICA_SVOD#;
$INCLUDE [accItem] param: l=Приказы; name=M_PRIK; value=#M_PRIK#; w=y;
$INCLUDE [accItem] param: l=1C - платежи; name=M_1C_PLAT; value=#M_1C_PLAT#;

$INCLUDE [accItem] param: l=1C - проводки; name=M_1C_PROV; value=#M_1C_PROV#;
$INCLUDE [accItem] param: l=1С - МНТС; name=M_1C_MNTS; value=#M_1C_MNTS#;
$INCLUDE [accItem] param: l=Бюджет; name=M_BUD; value=#M_BUD#; w=y;
$INCLUDE [accItem] param: l=Панель упр.; name=M_CP; value=#M_CP#; w=y;

</table>
</td></tr></table>

$INCLUDE [errMsg] ??getPreDataError

</FORM>

<script>
var frm = document.theForm;
var id="#id#";

function setMenu(val,item)
{
	if(item)
	{
		var inp = eval("frm." + item);
		inp.value=val;
	}
	else
	{
		frm.M_DOC.value=val;
		frm.M_DOC_NICA.value=val;
		frm.M_PRIK.value=val;
		frm.M_1C_PLAT.value=val;
		frm.M_1C_PROV.value=val;
		frm.M_1C_MNTS.value=val;
		frm.M_BUD.value=val;
		frm.M_CP.value=val;
		frm.M_NICA_SVOD.value=val;
	}
}

function doDelete()
{ if (confirm("Отключить пользователя '#LOGINNAME#' от ADB2?"))
  { frm.cop.value="d";
    frm.submit();
  }
}

function doIt()
{   
  frm.cop.value="u" ??USER_EXISTS
  frm.cop.value="a" ??!USER_EXISTS
  frm.submit();
}
</script>
<iframe src="#adbServlet#?c=reload&resetAR=1" width=200 height=20 frameBorder=no scrolling=auto></iframe> ??cop

</body></html>
[end]

============================
[accItem] param: l; name; value; w=n;
<tr>
<td colspan=2 class=m><input size=1 readonly name="#name#" value="#value#">
<a href="javascript:setMenu(0,'#name#');"> [0] </a>
<a href="javascript:setMenu(1,'#name#');"> [1] </a>
<a href="javascript:setMenu(2,'#name#');"> [2] </a> ??w=y
&nbsp;&nbsp;&nbsp; ??!w=y
<b> ??value>0
 - #l#
 *  ??value=2
</b> ??value>0
</td></tr>
[end]

[errMsg]
<TABLE BORDER=1 bgcolor=ivory CELLSPACING=0 CELLSPADDING=0 class=form>
<tr><td><b>ОШИБКА:</b>
#getPreDataError#
</td></tr></table>
[end]

============================== SQLs ===================================

[getUserInfoSQL]
SELECT l.LOGINNAME, l.FIO as FIO_ FROM #tableWU# l WHERE l.id='#id#';

select 'Y' as USER_EXISTS, USER_GROUP as USER_GROUP_, LABS as U_LABS, SBJS, BCS, NICA, NICA_RO
from #tableAR# WHERE id='#id#';

select M_DOC,M_DOC_NICA,M_PRIK,M_1C_PLAT,M_1C_PROV,M_1C_MNTS,M_BUD,M_CP,M_NICA_SVOD
from acc_menu where id=#id#
[end]

[process user]
$INCLUDE [AddUserSQL] 	 ??cop=a
$INCLUDE [UpdateUserSQL] ??cop=u
select 'Y' as ACC_MENU_EXISTS from acc_menu where id=#id#;
$INCLUDE [updateAccMenu] ??ACC_MENU_EXISTS
$INCLUDE [addAccMenu] 	 ??!ACC_MENU_EXISTS
$INCLUDE [DeleteUserSQL] ??cop=d
commit;
[end]


[AddUserSQL]
try: INSERT INTO #tableAR# (ID, USER_GROUP, LABS, SBJS, BCS, NICA, NICA_RO)
     VALUES (#id#, '#grp#', '#U_LABS#', '#SBJS#', '#BCS#', '#NICA#', '#NICA_RO#')
;
[end]

[UpdateUserSQL]
try: UPDATE #tableAR#
	 SET USER_GROUP='#grp#', LABS='#U_LABS#', SBJS='#SBJS#', BCS='#BCS#', NICA='#NICA#', NICA_RO='#NICA_RO#'
     WHERE id=#id#
;
[end]


[addAccMenu]
try: INSERT INTO acc_menu (id,M_DOC,M_DOC_NICA,M_PRIK,M_1C_PLAT,M_1C_PROV,M_1C_MNTS,M_BUD,M_CP,M_NICA_SVOD)
values (#id#,#M_DOC#,#M_DOC_NICA#,#M_PRIK#,#M_1C_PLAT#,#M_1C_PROV#,#M_1C_MNTS#,#M_BUD#,#M_CP#,#M_NICA_SVOD#)
;
[end]


[updateAccMenu]
try: update acc_menu set 
M_DOC=0#M_DOC#
,M_DOC_NICA=0#M_DOC_NICA#
,M_PRIK=0#M_PRIK#
,M_1C_PLAT=0#M_1C_PLAT#
,M_1C_PROV=0#M_1C_PROV#
,M_1C_MNTS=0#M_1C_MNTS#
,M_BUD=0#M_BUD#
,M_CP=0#M_CP#
,M_NICA_SVOD=0#M_NICA_SVOD#
where id=#id#
;
[end]

[DeleteUserSQL]
try: DELETE FROM #tableAR# WHERE id=#id#;
try: DELETE FROM acc_menu WHERE id=#id#;
[end]