[parameters]
tableAR=acc_rights
tableWU=wl.wu
debug=off
adb2AccRightsTable=acc_rights
adb2MenuTable=adb.acc_menu
[end]

[not identified]
 No Access! Please, login
[end]

[report]
$SET_PARAMETERS_SESSION M_DOC=; M_DOC_NICA=; M_PRIK=; M_1C_PLAT=; M_1C_PROV=; M_1C_MNTS=; M_BUD=; M_CP=; M_NICA_SVOD=; M_NICA_VNEB=;
$SET_PARAMETERS_SESSION FIO=; LOGINNAME=; USER_GROUP=; ACCESS_ALL=; A_LABS=; A_SBJS=; A_BCS=; A_NICA=; A_NICA_RO=; g_sys=; g_adm=; g_lab=;

$GET_DATA [getAR] ??USER_ID

$SET_PARAMETERS_SESSION M_DOC=#M_DOC#; M_DOC_NICA=#M_DOC_NICA#; M_PRIK=#M_PRIK#; M_1C_PLAT=#M_1C_PLAT#; M_1C_PROV=#M_1C_PROV#; M_1C_MNTS=#M_1C_MNTS#; M_BUD=#M_BUD#; M_CP=#M_CP#; M_NICA_SVOD=#M_NICA_SVOD#; M_NICA_VNEB=#M_NICA_VNEB#;
$SET_PARAMETERS_SESSION FIO=#FIO_#; LOGINNAME=#USERNAME#; USER_GROUP=#USER_GROUP_#; A_LABS=#LABS_#; A_SBJS=#SBJS#; A_BCS=#BCS#; A_NICA=#NICA#; A_NICA_RO=#NICA_RO#; 
$SET_PARAMETERS_SESSION ACCESS_ALL=Y; ??!A_LABS

$EXECUTE_LOOP grp; #USER_GROUP#; [set grp] ??USER_GROUP

$INCLUDE [set adm] ??USER_ID=1
[end]

[set adm]
$SET_PARAMETERS_SESSION ADMIN=Y;
$INCLUDE [set VU] ??q_VU
[end]


[set VU]
$SET_PARAMETERS_SESSION UID=#USER_ID#;
$SET_PARAMETERS_SESSION USER_ID=#q_VU#;
[end]


[set grp]
$SET_PARAMETERS_SESSION g_#grp#=USER_GROUP;
[end]

[getAR]
select M_DOC,M_DOC_NICA,M_PRIK,M_1C_PLAT,M_1C_PROV,M_1C_MNTS,M_BUD,M_CP,M_NICA_SVOD,M_NICA_VNEB
from acc_menu 
where id=#USER_ID#
;
select 
FIO as FIO_, USERNAME, USER_GROUP as USER_GROUP_, LABS as LABS_, SBJS, BCS, NICA, NICA_RO
from users where id=#USER_ID#
[end]
