[parameters]
service=dubna.walt.service.TableServiceSimple 
service=dubna.walt.service.TableServiceSortable ??
thsnDelimiter=none
[end]
thsnDelimiter=S

[preSQLs]
[end]

select Q_NAME,SUB_ID from l3_submenu where id='#node_id#' ??node_id
;
select 'Y' as IS_QUERY from dual where upper('#Q_NAME#') like '%QUERY%'
;
try: select count(*) from #Q_NAME# ??Q_NAME

[end]

[report header]
<HTML><HEAD><TITLE>TableEditor</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1251">
<SCRIPT language=JavaScript src="#imgPath#lib.js"></SCRIPT>
<style>
A.sql  {FONT-SIZE: 9pt; color: #000080; text-decoration: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  }
A.sql:link {FONT-SIZE: 9pt; color: #000080; text-decoration: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  }
A.sql:visited {FONT-SIZE: 9pt; color: #222280; text-decoration: none;}
A.sql:hover   {FONT-SIZE: 9pt; color: red; text-decoration: none}

</style>
</head>
<body>
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="table" value="#table#">

<center><h2>Просмотр</h2>

Таблица: <b>#table#</b>

<input type=button value="Добавить" onClick="editRec(0,'new');">&nbsp;<br><br>
<p>
#getPreDataError#
</form>

<script>
function refrSelf()
{ document.theForm.submit();
}

function editRec(rowid, cop)
{ if (!cop) cop="";
  var win= window.open( "#ServletPath#?c=editRec&table=#table#&rowid=" + rowid + "&cop=" + cop
    , "editRec",
      "toolbar=yes,location=yes,directories=no,status=yes,menubar=yes,scrollbars=yes," +
      "resizable=yes,copyhistory=yes,width=700,height=600");

}
</script>
[end]

[SQL]
select 
'<a href="javascript:editRec('''||rowid||''');">Изм.</a>' as "--"
, t.* from #table# t
[end]

[report footer]
</table></body></html>
[end]

