[parameters]
service=dubna.walt.service.TableServiceSpecial
title=Пользователи
debug=off

tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none

usersTable=wl.wu@ppo_db ??
usersTable=wl.wu
adb2AccRightsTable=acc_rights ??server=ADB2
adb2AccRightsTable=adb.acc_rights@ppo_db ??xxxserver=ADB2
adb2AccRightsTable=acc_rights
adb2MenuTable=adb.acc_menu

thsnDelimiter=none
[end]

[report header]
$SET_PARAMETERS RWACC=; 
$SET_PARAMETERS RWACC=Y; ??USER_ID=1|USER_ID=28|g_adm=USER_GROUP
$INCLUDE [OK report header]  ??RWACC|g_boss=USER_GROUP
[end]

[OK report header]

$SET_PARAMETERS debug=on ??
$SET_PARAMETERS srt=l.FIO; desc=; s_stat=on;  s_adb=on; s_adb_only=on; ??!srt
$SET_PARAMETERS srn=1; rpp=9999;  ??!srn
$SET_PARAMETERS f_lab=#A_LABS#; ??A_LABS
$SET_PARAMETERS RWACC=; 
$SET_PARAMETERS RWACC=Y; ??USER_ID=1|USER_ID=28|g_adm=USER_GROUP
$INCLUDE common.dat[head]
$INCLUDE c2/i_head.dat[head]

<body bgcolor=F4FFFA style="padding:20px;">

<table border=0 cellpadding=0 cellspacing=0 width=98%>
<tr><td width=90%><h3>ADB2 - Пользователи</h3></td>
<td align=right nowrap=true>
</td><td align=right nowrap=true>
<a class=info href="/adb/adb">
Главная</a>
</td></tr></table>

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="#srn#"> ??
<input type=hidden name="srt" value="#srt#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="resetAR" value="">

<table border=0 bgcolor=white cellpadding=4 style="border:solid 1px gray;"><tr><td>
Логин или фамилия: <input size=20 name="nam" value="#nam#"> &nbsp; 
Подразделение: <select name=f_lab><option value=''></option><option value='ALL'>без ограничения</option>#F_LABS#</select> ??s_adb=on
<td>
<input type="submit" class="but" value=" OK ">
</td></tr><tr><td>
<fieldset><legend>Показать:</legend>

<input type="checkbox" name="s_adb" onClick="document.theForm.submit();"
checked ??s_adb=on
> Права доступа ADB2 &nbsp;

<input type="checkbox" name="s_stat" onClick="document.theForm.submit();"
checked ??s_stat=on
> Статистику&nbsp;&nbsp;

<input type="checkbox" name="s_ip" onClick="document.theForm.submit();"
checked ??s_ip=on
> IP&nbsp;&nbsp;

<input type="checkbox" name="f_adm" onClick="document.theForm.submit();"
checked ??f_adm=on
> только админов

<br>
<input type="checkbox" name="s_adb_only" onClick="document.theForm.submit();"
checked ??s_adb_only=on
> Только с правами доступа к ADB2 

$INCLUDE [sys filters]	??g_sys=USER_GROUP
</fieldset>
</td>
<td style="padding-top:32px;"><a href="#ServletPath#?c=info/news2" target=_blank 
 style="font-size:11pt; border:outset 2px ##406080; padding:4px 5px 2px; 0; background-color:##e8f0ff;">
 <img src="#imgPath#info.png" style="margin-right:4px;">Справка</a></td>
</tr></table>
<iframe src="#adbServlet#?c=adm/reload&resetAR=1" width=500 height=20 frameBorder=no scrolling=auto></iframe> ??resetAR

<script>
var frm=document.theForm;
selectOptionByVal(frm.f_lab,'#f_lab#'); ??f_lab
$INCLUDE [sys script]

function refrSelf()
{ document.theForm.submit();
}
window.focus();
</script>

<table class=tlist cellspacing=0>
<tr>
<th class="srh" sr="l.FIO">ФИО</th>
<th>Пункты меню</th><th class="srh" sr="div">Лаб.</th><th>Темы</th><th>Б.К.</th> ??s_adb=on
<th>НИКА</th> 	??s_adb=on&g_nica=USER_GROUP
<th class="srh" sr="l.NUM_LOGS">Входов</th><th class="srh" sr="l.LAST_LOGIN">Последний вход</th>  ??s_stat=on
<th class="srh" sr="l.NUM_HITS">Запросов</th><th class="srh" sr="l.LAST_HIT">Последний запрос</th>  ??s_stat=on
<th>Маска IP</th><th>Последний IP</th>  ??s_ip=on
<th>Группы</th> ??g_sys=USER_GROUP
</tr>
[end]

[sys filters]
<input type="checkbox" name="s_log" onClick="document.theForm.submit();"  
checked ??s_log=on
> Логин

<select name="f_grp">
<option value=""></option>
<option value="adm">adm</option>
<option value="boss">boss</option>
<option value="reg">reg</option>
<option value="nica">NICA</option>
<option value="bud">bud</option>
<option value="lab">lab</option>
<option value="buh">buh</option>
<option value="mnts">mnts</option>
{/select>

<a href="javascript:resetAR();">reset</a> ??g_sys=USER_GROUP
[end]

[sys script]
selectOptionByVal(frm.f_grp,'#f_grp#'); ??f_grp
function addUsr()
{ //var win= window.open( "#ISSServlet#?c=editUsrTop"
  var win= window.open( "#ServletPath#?c=adm/aradb_u"
    , "editUsr", "toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no," +
        "width=550,height=690");  ??!g_nica=USER_GROUP
        "width=550,height=800");  ??g_nica=USER_GROUP
}

function editUsr(id, cop)
{ if (!cop) cop="";
  var win= window.open( "#ServletPath#?c=adm/aradb_u&id=" + id + "&cop=" + cop
    , "editUsr", "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no," +
        "width=550,height=690");  ??!g_nica=USER_GROUP
        "width=550,height=800");  ??g_nica=USER_GROUP
}

function resetAR()
{
	document.theForm.resetAR.value="1";
	document.theForm.submit();
}

[end]

[item]
<tr
class=oddRow ??oddRow=1
>
<td class=align_left>#FIO#</td>
<td>#ADB2_MENU#</td><td>#LABS#</td> ??s_adb=on
<td>#SBJS#</td><td>#BCS#</td> ??s_adb=on
$INCLUDE [NICA]    ??s_adb=on
    ??&NICA_RO|NICA
<td>#NUM_LOGS#</td><td>#LAST_LOGIN#</td>  ??s_stat=on
<td>#NUM_HITS#</td><td>#LAST_HIT#</td>  ??s_stat=on
<td>#IP_MASK#</td><td>#IP#</td>  ??s_ip=on
<td>#USER_GROUP#</td>  ??g_sys=USER_GROUP
</tr>
[end]

[NICA]
$SET_PARAMETERS NICA_CODES=; NICA_RO_CODES=;
$GET_DATA [getNicaCodes]   ??NICA|NICA_RO
<td class=align_left>
RW: #NICA_CODES# ??NICA_CODES
<br>RO: #NICA_RO_CODES# ??NICA_RO_CODES
<br>(#NICA#) ??
</td>
[end]

[report footer]
$INCLUDE [report footer_] ??RWACC|g_boss=USER_GROUP
[end]

[report footer_]
</form>
</table>
<input type="button" class="button" style="width:180;" value="Добавить пользователя" onClick="addUsr()">  ??RWACC_ZZZ

<script>
bindEvents();
showSrt("#srt#","sup"); ??!desc
showSrt("#srt#","sdown"); ??desc
</script>

</body></html>
[end]


[getNicaCodes]
SELECT LISTAGG(n.code,' , ') WITHIN GROUP(ORDER BY n.code) as NICA_CODES from NICA_WBS n where n.id in(#NICA#); ??NICA
SELECT LISTAGG(n.code,' , ') WITHIN GROUP(ORDER BY n.code) as NICA_RO_CODES from NICA_WBS n where n.id in(#NICA_RO#); ??NICA_RO
[end]

****************************************************************************
****************************************************************************
****************************************************************************

[preSQLs]
select distinct '<option value='||a.LABS||'>'||a.LABS||': '||nvl(l.DIV,'...')||'</option>' as F_LABS
, LABS
from #adb2AccRightsTable# a 
 join i_lab l on l.code=a.LABS
where not LABS is null
and a.LABS like '%#A_LABS#%' ??A_LABS
order by F_LABS
[end]


[SQL]
$INCLUDE [SQL_] ??RWACC|g_boss=USER_GROUP
[end]

[SQL_]
select 
 '<a class=sm href="javascript:editUsr('||l.ID||')">'||l.FIO||'</a>'   ??RWACC
 l.FIO   ??!RWACC
||  decode (l.PHONE, null,'', '<br> &nbsp; &nbsp; тел.'||l.PHONE)
||decode (l.EMAIL, null,'','<br><a class=sm href="mailto:'||l.EMAIL||'" style="margin-left:10px;"><i>'||l.EMAIL||'</i></a>') 
as FIO
$INCLUDE [ADB2 rights] ??s_adb=on
$INCLUDE [stat] ??s_stat=on

, l.IP_MASK, l.IP ??s_ip=on

, '<center>'||nvl(a.USER_GROUP,'-')||'</center>' as USER_GROUP ??g_sys=USER_GROUP
, '<a class=sm href="javascript:editUsr('||l.ID||')">'||l.LOGINNAME||'</a>' as LOGINNAME ??s_log=on&g_sys=USER_GROUP
, l.ID  ??g_sys=USER_GROUP
from #usersTable# l
  left join #adb2AccRightsTable# a on a.id=l.id  
left ??!s_adb_only=on
join #adb2MenuTable# m on m.id=a.id
where 
 1=1
 and (upper(l.LOGINNAME) like upper('#nam#%') or upper(l.FIO) like upper('#nam#%')) ??nam
 and (labs like '%#f_lab#%' or l.DIV in(#f_lab#)) ??f_lab&!f_lab=ALL
 and labs is null  ??f_lab=ALL
 and a.USER_GROUP like '%#f_grp#%' ??f_grp
 and m.M_1C_PROV>0 ??s_adb=on_ZZZ
 and l.id not in(460)  ??!g_sys=USER_GROUP&ZZZ
 and (a.USER_GROUP like '%adm%' or a.USER_GROUP like '%sys%') ??f_adm=on

order by 
 #srt# #desc#, ??srt&!srt=1&!srt=8&!srt=10
 l.LAST_LOGIN  #desc#, ??srt=8
 l.LAST_HIT  #desc#, ??srt=10
 l.FIO #desc# 
  ??srt&!srt=2&!srt=3
[end]

 l.LOGINNAME #desc# ??srt=3


[stat]
, l.NUM_LOGS 
, to_char(l.LAST_LOGIN, 'dd.mm.yyyy hh24:mi') as LAST_LOGIN 
, l.NUM_HITS  
, to_char(l.LAST_HIT, 'dd.mm.yyyy hh24:mi') as LAST_HIT
, l.SESSID ???g_sys=USER_GROUP
[end]

[ADB2 rights]
, '<UL>'
||decode(m.M_DOC,null,'',decode(m.M_DOC,0,'',1,'<li>Просмотр документов','<li>Регистрация документов')
||decode(m.M_DOC_NICA,0,'',1,'<li>НИКА<br>',2,'<li>НИКА-регистрация')
||decode(m.M_NICA_SVOD,0,'','<li>НИКА-свод')
||decode(m.M_NICA_VNEB,0,'',1,'<li>НИКА-внебюджет<br>',2,'<li>НИКА--внеб.-регистрация')
||decode(m.M_PRIK,0,'','<li>Приказы')
||decode(m.M_1C_PLAT,0,'','<li>1С-Платежки, заявки')
||decode(m.M_1C_PROV,0,'','<li>1С-Проводки')
||decode(m.M_1C_MNTS,0,'','<li>1С-МНТС')
||decode(m.M_BUD,0,'',1,'<li>Бюджет (просмотр)',2,'<li>Бюджет (ввод)')
||decode(m.M_CP,0,'','<li>Панель управления'))
||'</UL>' as "ADB2_MENU"
, a.LABS, a.SBJS,a.BCS, a.NICA, a.NICA_RO
[end]
