body {margin:0; background-color: #F4F4FF;}

.ztable {font-family: Arial, Helvetica, sans-serif; background-color: #F4FFF4; border: solid 1px #000000}
.ztop {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FFFFFF; background-color: #203070}
.ztoptitle {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FFFFFF; background-color: #203070}
.ztitle {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FF9A31}
.zdots {font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: #F0FFF0; background-color: #203070 }
