[parameters]
format=999999999999999 ??
format=999G999G999G999G999
f1=replace(trim(to_char(
f2=/#scale#,'#format#')),' ','&nbsp;')
[end]

[report]
<span class="reg" style="background-color:white">
&nbsp; <b>#DES#:</b>
  <a class="info" 
	href="javascript:showContent(#prix#,#ID#,1,1);"> ??prix=0
    href="javascript:showContent(#prix#,#ID#,0,1);"> ??prix=1
#TOT_BUDGET#
  </a> 
тыс. руб. ??!units=doll
(эквив. в тыс.$) ??units=doll
&nbsp;</span>
[end]



 , #f1# nvl(r.sum_budget,0) #f2# as BUDG_RUB 
 , #f1# nvl(v.sum_budget,0) #f2# as BUDG_CURR

 , #f1# (nvl(r.sum_not_budget,0)+ nvl(v.sum_not_budget,0)) #f2# as TOT_NOT_BUDGET
 , #f1# nvl(r.sum_not_budget,0) #f2# as NOT_BUDGET_RUB
 , #f1# nvl(v.sum_not_budget,0) #f2# as NOT_BUDGET_CURR
 
 , #f1# (nvl(r.sum_total,0)+nvl(v.sum_total,0)) #f2# as TOTAL

[preSQLs]
SELECT t.group_nr, t.ind, t.des, t.id

 , #f1# (nvl(r.sum_budget,0)+ nvl(v.sum_budget,0)) #f2# as TOT_BUDGET

FROM cf_table t, 
$INCLUDE vypiska/cash-data_tab.cfg[cf_data_v]
 r,
$INCLUDE vypiska/cash-data_tab.cfg[cf_data_v]
 v, cf_table n

cf_data_v r, cf_data_v v, cf_table n ??

WHERE
  t.prix=#prix#
  and n.GROUP_NR=t.GROUP_NR
  and r.id(+) = t.id
  and v.id(+)=t.id
  and r.is_curr(+)=0
  and v.is_curr(+)=1
  and t.group_nr=11
GROUP BY 
  t.ind, t.group_nr, t.des, t.id, t.prix
  ,r.sum_budget, r.sum_total, r.sum_not_budget
  ,v.sum_budget, v.sum_total, v.sum_not_budget
ORDER BY t.group_nr, t.ind
[end]
