[parameters]
fmt1=replace(to_char(
fmt2=,'999,999,999,990'),',','&nbsp;')
[end]

[report]
<script language="JavaScript">
function vBrowse(Data1,Data2,isValuta,isBudget,isPrixod)
{
var source='';

if(isBudget==1)
{
//	alert('Áþäæåò!');
	source="1,2,3";
}
openWindow("c=vypiska/list&form=y&DAT_OPL="+Data1+"&DAT_OPL2="+Data2+"&is_curr="+isValuta+"&source="+source+"&SHOWPRIX="+isPrixod,800,600);
}
</script>
$GET_DATA [SQLs]
<blockquote style="margin:15;">
<div class="basictext">
Òûñ. ðóá. ??is_currency=0
Òûñ. äîëë. (ñð. êóðñ 1$=#cource# ðóá.) ??is_currency=1
<br>
</div>

<table border="0" cellpadding="2" cellspacing="0" class="senw" width="400" class="zmediumtextthin">
  <tr class="headrow"> 
    <td class="en"  align="center">&nbsp;</td>
    <td class="en" align="center"><div class="zmediumtext">ÏÐÈÕÎÄ</div></td>
    <td class="en" align="center"><div class="zmediumtext">ÐÀÑÕÎÄ</div></td>
    <td class="north"  align="center">
<div class="zmediumtext">ÄÅËÜÒÀ</div></td>
  </tr>
  <tr class="oddrow"> 
    <td align="right" class="en">
<div class="zmediumtext">ÐÓÁËÈ</div></td>
    <td class="en" align="center"><div class="zmediumtextthin"><a href="javascript:vBrowse(
    '#DAT1#',
    '#DAT2#',
    0,
    #is_budget#,
    1
    )">
    #PRIX_0# 
    </a>&nbsp;</div></td>
    <td class="en" align="center"><div class="zmediumtextthin"><a href="javascript:vBrowse(
    '#DAT1#',
    '#DAT2#',
    0,
    #is_budget#,
    0
    )">
    #RASX_0# </a>&nbsp;</div></td>
    <td class="north" align="center"><div class="zmediumtextthin">#DELTA_0# &nbsp;</div></td>
  </tr>
  <tr  class="evenrow"> 
    <td align="right" class="en">
<div class="zmediumtext">ÂÀËÞÒÀ</div></td>
    <td align="center" class="en"><div class="zmediumtextthin"><a href="javascript:vBrowse(
    '#DAT1#',
    '#DAT2#',
    1,
    #is_budget#,
    1
    )">
    #PRIX_1# 
    </a>
    &nbsp;</div></td>
    <td align="center" class="en"><div class="zmediumtextthin"><a href="javascript:vBrowse(
    '#DAT1#',
    '#DAT2#',
    1,
    #is_budget#,
    0
    )">
    
    #RASX_1#
    </a>
     &nbsp;</div></td>
    <td align="center" class="north"><div class="zmediumtextthin">#DELTA_1# &nbsp;</div></td>
  </tr>
  <tr  class="oddrow"> 
    <td align="right" class="en">&nbsp;</td>
    <td align="center" class="en">&nbsp;</td>
    <td align="center" class="en">&nbsp;</td>
    <td align="center" class="north">&nbsp;</td>
  </tr>
  <tr  class="headrow">
    <td align="right" class="east"><div class="zmediumtext">ÂÑÅÃÎ</div></td>
    <td align="center" class="east"><div class="zmediumtext">#PRIX_# &nbsp;</div></td>
    <td align="center" class="east"><div class="zmediumtext">#RASX_# &nbsp;</div></td>
    <td align="center"><div class="zmediumtext">#DELTA_#</div></td>
  </tr>
</table>
</blockquote>
[end]

[SQLs]
$INCLUDE [SQL tot] param: is_curr=
$INCLUDE [SQL tot] param: is_curr=0
$INCLUDE [SQL tot] param: is_curr=1
[end]


[SQL tot] param: is_curr
SELECT
#fmt1#sum(decode(v.is_prixod,1,v.SUMMA/#cource#,0))/1000.#fmt2# as PRIX_#is_curr# ??is_currency=1
,#fmt1#sum(decode(v.is_prixod,1,0,v.SUMMA/#cource#))/1000.#fmt2# as RASX_#is_curr# ??is_currency=1
,#fmt1#sum(decode(v.is_prixod,1,v.SUMMA/#cource#,-v.SUMMA/#cource#))/1000.#fmt2# as DELTA_#is_curr# ??is_currency=1

#fmt1#sum(decode(v.is_prixod,1,v.SUMMA,0))/1000.#fmt2# as PRIX_#is_curr# ??is_currency=0
,#fmt1#sum(decode(v.is_prixod,1,0,v.SUMMA))/1000.#fmt2# as RASX_#is_curr# ??is_currency=0
,#fmt1#sum(decode(v.is_prixod,1,v.SUMMA,-v.SUMMA))/1000.#fmt2# as DELTA_#is_curr# ??is_currency=0
FROM mv_vypiska v
WHERE
v.DAT_OPL between to_date('#DAT1#','dd.mm.yyyy') AND to_date('#DAT2#','dd.mm.yyyy')
AND v.is_curr=#is_curr# ??is_curr
AND v.acc_debet not like('%76.33%') AND v.acc_debet not like('%76.77%') AND v.acc_kredit not like('%76.33%') AND v.acc_kredit not like('%76.77%') 
AND trim(v.ist_fin_id) in ('1','2','3') ??is_budget=1
and v.is_prixod is not null
;
[end]
