
wf/print_wf_dog.cfg


[comments]
descr=S: Показать рабочее workflow для договора поставки. 
input=doc_id - ID документа
output=Показывает рабочее workflow документа.
parents=wf/print_wf.cfg
author=Куняев
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=A:печать wf для док. #doc_id#
tableCfg=table_no
LOG=ON
[end]


[report header]
<style type="text/css">
##acceptlisttable th{text-align:left; font-style:italic;}
td.e {height:30px;}
</style>

<div style="margin-top:100px; font-size:22px;">
Лист согласования</div>
#DOC_TYPE#
№#NUMBER# ??NUMBER
от #DOC_DATE# ??DOC_DATE

<table id="acceptlisttable" style="width:630px; margin:10px 100px 0 0;">

<tr>
<th style="width:240px;">Сотрудник</th>
<th style="width:140px;">Дата согласования</th> 
<th  style="width:270px;">Комментарий</th></tr>
[end]


[item]
$SET_PARAMETERS st=style="border-top:solid 1px gray&##59"; ??!PREV_STEP=#step#
$SET_PARAMETERS st=; ??PREV_STEP=#step#&prev_role_id=#role_id#

$SET_PARAMETERS cl=;
$SET_PARAMETERS cl=#cl# step_waiting; ??STARTED&!result_code&is_active=1
$SET_PARAMETERS cl=#cl# inactive; ??!is_active=1

<tr><td colspan=4 style="border:none;">&nbsp;</td></tr>??step_type=#~wf_step_process#

<tr class="#cl#">

$CALL_SERVICE c=svs/get_user_info; requested_user_id=#user_id#  ??!ROLE_NAME&user_id>0&ZZZ
$SET_PARAMETERS ROLE_NAME=#u_roles#; ??!ROLE_NAME&ZZZ
$SET_PARAMETERS ROLE_NAME=#u_posts#; ??!ROLE_NAME&ZZZ

$GET_DATA [get target name] ??role_target_id&INFO_ID
<td #st#><b>#ROLE_NAME# #TARGET_NAME#</b>
<br> ??ROLE_NAME|TARGET_NAME
#USER_IOF# 
<br><small><span class="bg_yellow" style="color:##000080;">#modifier_comment#</span></small> ??modifier_comment&ZZZ
</td>

<td class="center" #st#>#FINISHED#</td>

<td #st#>
#step_id#: ??
#comment# 
        ??!step_type=#~wf_step_process#
</td>

$SET_PARAMETERS NEXT_STEP_ID=#step_id#;  ??!NEXT_STEP_ID&STARTED&!result_code
$SET_PARAMETERS prev_role_id=#role_id#; prev_role_target_id=#role_target_id#; PREV_TARGET_NAME=#TARGET_NAME#; PREV_STEP=#step#;
$SET_PARAMETERS role_id=; ROLE_NAME=; INFO_ID=; role_target_id=; user_id=; u_FIO=; result_code=; result=; STARTED=; TARGET_NAME=; PREV_STEP=#step#; criteria=;
$SET_PARAMETERS u_roles=; u_posts=;
</tr>
[end]


[report footer]
<tr><td colspan=3 style="border:none;"><br><b>Бухгалтерия:</b></td></tr>
<tr><th>Сотрудник</th><th>Подпись, Дата</th><th>Комментарий</th></tr>
<tr><td class="e">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td class="e">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td class="e">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td class="e">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
</td></tr>

<tr><td colspan=3 style="border:none;"><br><b>СМТС:</b></td></tr>   ??!DOC_TYPE_ID=11
<tr><td colspan=3 style="border:none;"><br><b>УХОиКС:</b></td></tr>   ??DOC_TYPE_ID=11
<tr><th>Сотрудник</th><th>Подпись, Дата</th><th>Комментарий</th></tr>
<tr><td class="e">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
</td></tr>

</table>
[end]


==============================================================
==============================================================
==============================================================

[SQL]
    select wf.id as step_id, wf.step, wf.role_id, wf.role_target_type_id, wf.role_target_id, wf.role_comment
        , wf.step_type, wf.criteria, wf.is_active
        , r.name as "ROLE_NAME", tt.type as "TARGET_TYPE"
         ,i.name as "INFO_NAME", i.id as "INFO_ID", i.table_name as "INFO_TABLE"
        , wf.user_id, wf.modifier_id, wf.modifier_comment

        , iof(u.F, u.I, u.O) as "USER_IOF"   
        , iof(um.F, um.I, um.O) as "MODIFIER_IOF"   
        , concat(LEFT(um.I,1),'.',LEFT(um.O,1),'.',um.F) as "MODIFIER_IOF"    ??

        , wf.result_code, wf.result
        , if(wf.started is null, '', DATE_FORMAT(wf.started,'#shortDateTimeFormat#')) as "STARTED" ??
        , if(wf.finished is null, '', replace(DATE_FORMAT(wf.finished,'%d.%m.%Y'),' ','&nbsp;')) as "FINISHED"
          %H:%i ??
        , wf.comment
    from wf
        left join a_roles r on r.id=wf.role_id
        left join a_target_types tt on tt.id=wf.role_target_type_id
        left join i_infos i on i.id = tt.info_id
        left join #table_users_full# u on u.id=wf.user_id
        left join #table_users_full# um on um.id=wf.modifier_id
    where wf.wf_id=#WF_ID# 
        and wf.step_type not in(#~wf_step_process#) ??
        and not wf.started is null 
        and wf.result_code=1
        and (step=0 or (wf.step_type>-1 and not wf.user_id=#CREATOR_ID#))
        and (wf.result not like 'Уже согласовано на шаге%' or not wf.role_id is null)
    ... убираем Гусарову по просьбе Довгун  и МТС лаб. ??
        and not wf.role_id in(25, 23)
    ... убираем Леснинову, как дублирующего экономиста ??
        and not wf.user_id=2436
        and wf.is_active=1 ??
        and not wf.result='не требуется' ??
    order by wf.step, wf.is_active desc, wf.id
     , started desc ??
[end]

[get target name]
select field_db_name as "INFO_FIELD_NAME" from i_fields where info_id=#INFO_ID# and view1=1
;
select #INFO_FIELD_NAME# as "TARGET_NAME" from #INFO_TABLE# where id=#role_target_id#
[end]

