nica/plan/getSources.cfg

[parameters]
service=dubna.walt.service.TableServiceSpecial
LOG=ON
[end]

[report header]
$SET_PARAMETERS_GLOBAL F_NICA_SRCS=#F_NICA_SRCS_#;
[end]

[item]
$SET_PARAMETERS_GLOBAL SRC_DES_#ID#=#DES#; SRC_CLASS_#ID#=#CLASS#; 
[end]

[report footer]
[end]

[SQL]
select ID, DES, CLASS
from nica_src
where pid=-1
[end]


[preSQLs]
select '<option value="'||ID||'" class="'||CLASS||'">'||DES||'</option>' as "F_NICA_SRCS_" 
from nica_src where pid=-1 order by ID; 
[end]


[SOURCE DIV] param: no_close=;
$CALL_SERVICE c=nica/plan/getSources;   ??!SRC_DES_99
<div class="fr border" style="background-color:
white;      ??SOURCE=0
##A0FF80;   ??SOURCE=1
##FFB080;   ??SOURCE=2
##E0FFD0;   ??SOURCE=3
##FFD0FF;   ??SOURCE=99
 border:solid 1px white;">
#SOURCE#: ??
#SRC_DES_0# ??SOURCE=0
#SRC_DES_1# ??SOURCE=1
#SRC_DES_2# ??SOURCE=2
#SRC_DES_3# ??SOURCE=3
#SRC_DES_99#  ??SOURCE=99
#SOURCE#-?  ??!SOURCE={{0|1|2|3|99}}
(ב‏הזוע Êֿֿ)  ??SOURCE_PRIZNAK=1
</div>
<div style="clear:both;"></div>  ??!no_close
[end]

[SOURCE]
$CALL_SERVICE c=nica/plan/getSources; ??!SRC_DES_99
#SRC_DES_0# ??SOURCE=0
#SRC_DES_1# ??SOURCE=1
#SRC_DES_2#  ??SOURCE=2
#SRC_DES_3#  ??SOURCE=3
#SRC_DES_99#  ??SOURCE=99
#SOURCE#-?  ??!SOURCE={{0|1|2|3|99}}
[end]


[f_source div] param:f_source=0; filter=f_source_param; onChange=;
    <br>
    <div class="fr" style="padding:2px; background-color:
        white;  ??f_source=0
        ##A0FF80;   ??f_source=1
        ##FFB080;   ??f_source=2
        ##E0FFD0;   ??f_source=3
        ##FFD0FF;   ??f_source=99
    ">
        <select name="#filter#"
            onChange="#onChange#;" ??onChange 
        >
            $INCLUDE nica/plan/getSources.cfg[source options] 
        </select>
        $INCLUDE nica/costbook/tab_costbook.cfg[f_SOURCE_PRIZNAK] param: INPUT=Y; INP_NAME=SOURCE_PRIZNAK;
    </div><div style="clear:both;"></div> 
[end]


[source options] 
<option value='0'
selected  ??f_source=0
>ֱ‏הזוע ־ָßָ</option>

<option value=3 style="background-color:##E0FFD0;"
selected ??f_source=3
>ִמכד ׀װ (ב‏הז.־ָßָ)</option>

<option value='1' style="background-color:##A0FF80;"
selected  ??f_source=1
>׀װ </option>

<option value='2' style="background-color:##FFB080;"
selected  ??f_source=2
>װ׀ֳ</option>

<option value='99' style="background-color:##FFD0FF;"
selected  ??f_source=99
>מסעאכüםûו סענאםû</option>
[end]