docs/edit_doc_form.cfg


[comments]
descr=U: Вывод формы редактирования документа

input=doc_id - ID документа
output=HTML форма редактирования документа, 
parents=docs/edit_doc.ajm
childs=
author=Куняев
[end]


[parameters]
request_name=U: Вывод формы редактирования документа
service=jinr.sed.ServiceViewDocForm
tableCfg=table_no
LOG=ON
SYS_FIELDS=IS_ACTIVE
SYS_FIELDS_TYPES=int
SYS_FIELDS_UPDATE=is_active, modified, modifier_id
SYS_FIELDS_UPDATE_TYPES=int,sysdate,int
is_active=1
modifier_id=#USER_ID#
divider=<tr><td colspan=2 class="divider"></td></tr>
[end]


$LOG ======= ====== cop=#cop#; ERROR=#ERROR#; INPUT_ERROR = '#INPUT_ERROR#'; <br>
[end]



[report header]
    $LOG <b>======= docs/edit_doc_form.cfg - начало формы ====== cop=#cop#; child=#child#; ERROR=#ERROR#; INPUT_ERROR = '#INPUT_ERROR#'; div=#f_data_1_17#; id=#f_data_1_17_id#; </b><br>

    $CALL_SERVICE c=docs/custom_settings.cfg; ??!cop

    <form id="docEditForm" name="docEditForm" method="POST" enctype="multipart/form-data" 
        target="wf" id = "theForm"
        autocomplete="off"
    >
    <input type=hidden name="c" value="docs/edit_doc">
    <input type=hidden name=doc_id value='#doc_id#'>
    <input type=hidden name=object_type_id value='#DOC_TYPE_ID#'>
    <input type=hidden name=mode value='#mode#'>
    <center>

    ++++++++++++++++++ Шапка таблицы формы +++++++++++++++++++++ ??
    <table class="doc" border=0 cellpadding=3 cellspacing=0 >
    <tr><td class="center bg_white big" colspan=2 style="font-size:13pt;">
    #DOC_TYPE#
    №#NUMBER# от #DOC_DATE#  ??NUMBER&!is_autonumber=0
    </td></tr>

    $INCLUDE [number input]     ??is_autonumber=0

    $INCLUDE docs/view_doc.cfg[WARNING MSG]  ??ZZZ&DOC_TYPE_ID=8|DOC_TYPE_ID=9

    <tr><td class=label width="25%" >(*) Содержание: 
    $CALL_SERVICE c=svs/getParamLength; INPUT_PARAM_NAME=title; OBJECT_TYPE_ID=0;
    <br><small><i>(до #PARAM_LENGTH# симв.)</i></small>  ??PARAM_LENGTH_ZZZ
    </td>
    <td class="big" width="65%">
    <b>#TITLE#</b> ??hide_title=Y
    <input size=50 name=title value='#TITLE#' mand="Содержание"> ??!hide_title=Y
    $INCLUDE [confident] ??DOC_TYPE_ID=3
    <br>#ERROR_title# ??ERROR_title
    </td></tr>
    #divider#
[end]


[confident]
    <input type=checkbox name=is_confidential value="1"
    checked ??DOC_IS_CONFIDENTIAL=1
    ><small>конфиденциально</small>
[end]

[number input]
    <tr><td class=label>№, Дата регистрации: </td>
    <td class="big">
    <input size=10 name=number value='#NUMBER#'>, 
    <input id="doc_date" type="text" size=10 name=doc_date value="#DOC_DATE#"> 
    </td></tr>
    <script type="text/javascript">
        $("##doc_date").datepick({yearRange: 'c-3:c+0', showSpeed: 'fast'});
    </script>
[end]

============== Вывод одного поля для редактирования ======= ??
[item]
    $SET_PARAMETERS mand=;  ??NULLS=1
    $SET_PARAMETERS mand=Y;  ??!NULLS=1
    <tr id="item_#FIELD_ID#" class="doc_item">

<td 
    class="label 
    bottom_dotted    ??!FIELD_CATEGORY=3
    " 
    id="#FIELD_DB_NAME#_descr" ??mand
    >
    (*) ??mand_ZZZ
    #NAME#:
    $CALL_SERVICE c=svs/getParamLength; INPUT_PARAM_NAME=#FIELD_DB_NAME#; OBJECT_TYPE_ID=#DOC_TYPE_ID#; 
      name=#FIELD_DB_NAME#; =#DOC_TYPE_ID#; ??
    $SET_PARAMETERS PARAM_LENGTH=#SIZE#*; ??!PARAM_LENGTH
    <br><small><i>(до #PARAM_LENGTH# симв.)</i></small>  ??ZZZ
    </td><td 
    class="big bottom_dotted"   ??!FIELD_CATEGORY=3
    style="white-space:nowrap;" ??
    >
    #FIELD_SRC_FILE#[#FIELD_SECTION#] ??
    $INCLUDE #FIELD_SRC_FILE#[#FIELD_SECTION#]
    </td>
<td class="item_num" style="display:none; width:20px;">#NR#</td> 
</tr>
    $SET_PARAMETERS LX=; LY=;
[end]

[report footer]

+++++++ Блок загрузки файлов-приложений и скрипты работы с файлами ++++++++ ??
    $INCLUDE files/field_file.dat[attached files]
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ??

    #divider#
    <tr>
    <td class=label> Можете ввести Ваш комментарий:
    $CALL_SERVICE c=svs/getParamLength; INPUT_PARAM_NAME=comment; FIELD_DB_NAME=comment; OBJECT_TYPE_ID=0;
    <br><small><i>(до #PARAM_LENGTH# симв.)</i></small>  ??PARAM_LENGTH
    </td><td><textarea name=comment class="autoresize" style="width:400pt; height:40pt;">#INITIATOR_COMMENT#</textarea></td></tr> 

    <tr><td colspan=2 class="right small">Обновление документа: #MODIFIED#, #MODIFIER#</td></tr>

    #divider#
    ++++++++++++ Конец формы редактирования записи ++++++++++ ??
    <tr><td class="center  bg_white" colspan=2 style="padding:15px 0 15px 0;">
    <input type="button" class="butt1 pt" id="cancel_Button" style="width:120; margin-right:40px;" value="Отмена" onClick="AjaxCall('doc_content', 'c=docs/view_doc&doc_id=#doc_id#&mode=popup', true, '', true);">   ??MODIFIER
    <input type="button" class="butt1 pt" style="width:120;" value="Удалить" 
    disabled ??mode=ADMIN
    onClick="
    if(confirm('Удалить этот документ?')) ??MODIFIED
     AjaxCall('doc_content', 'c=docs/delete_doc&doc_id=#doc_id#', true, '', true);" >  

    <input type="button" id="SaveButton" class="butt1 pt" style="width:120;" value="Сохранить" autoSave="Y"
        onClick="saveAllObjects();
        if(checkInput($('[mand]'))) { $('.embedded_object').html('++'); AjaxCall('doc_content', 'cop=save', true, 'docEditForm', true); } ">  
    </td></tr>

    $CALL_SERVICE c=docs/show_users_comments; mode=edit; ??!mode=ADMIN

    </table>
    #ERROR# ??!saveColl

    $INCLUDE dat/doc_summ_nds.dat[script]
    </center>

    <br><input type="button" class="butt1 pt" style="width:80; margin-right:10px;" value='Наверх' onClick="window.scrollTo(0, 0);">  ??!mode=ADMIN
    </form>

    <br><br><small>R=#AR_R#; S=#AR_S#; W=#AR_W#; E=#AR_E#; T=#AR_T#; A=#AR_A#; status=#DOC_STATUS#, deleted=#DOC_IS_DELETED#, WF cancelled=#WF_CANCELLED#; <br></small> ??!cache_cfg=true&ClientIP=159.93.40.211

    <style>
        textarea.autoresize {overflow: hidden;  border: 1px solid gray; width:100%; padding: 5px; background-color: white; font-size: 10pt; }
    </style>

    <script type="text/javascript" language="javascript">

    $(function(){
        textAreaResize(); ??
        $('textarea.autoresize').keypress(delayedResize);
        $('textarea.autoresize').change(resize);
        resizeAll(); ??
    }
    )
    </script>

    $INCLUDE dat/doc_fields_info.dat[set chosens]
    $CALL_SERVICE c=sys/log_doc_access; doc_id=#doc_id#; 
[end]



***************************** Шаблоны SQL запросов ***************************
    Запрос на выборку собственно данных документа 
    формируется в сервисе ServiceEditDocData
==============================================================================

[SQL]
$INCLUDE docs/view_doc.cfg[SQL_] ??AR_W=Y
[end]

