nica/svs/setReqMega.cfg

[parameters]
service=dubna.walt.service.TableServiceSpecial  ??USER_ID=1
table_docs=docs

tableCfg=this 
[end]


[report header]
$INCLUDE [logged report header]  ??M_DOC_NICA>0&logged
<script> window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#";</script> ??!logged
[end]

[item]
$GET_DATA [get item conf] 
<b>  ??MEGA>3
#PROJECT_ID#,    ??MEGA>3&ZZZ
#LINK#: #PROJECT_ID#: #CODE# / #MEGA#<br> 
     ??MEGA>3
</b>  ??MEGA>3
$GET_DATA [get CB conf]   ??!MEGA
<b>  ??MEGA>3
- #LINK#: #PID#: #PCODE# / #MEGA#<br> 
#PID#,   ??!MEGA&ZZZ
</b>  ??MEGA>3
$GET_DATA [set doc conf]   ??MEGA&MEGA<3
$SET_PARAMETERS MEGA=; CODE=; PID=;
[end]


[report footer]
$GET_DATA [getCodes] ??
<br>
#CODES#
</body></HTML>
[end]



================================ SQLs ================================
[preSQLs]
[end]

[getCodes]
    select ', ' || code as CODES from nica_wbs_wu
    where id in
    (22639, 22639, 22613, 22702, 23084, 23084, 22702, 23084, 23084, 22639, 23084, 23061, 22702, 23084, 22639, 23084, 23084, 23084, 22639, 23084, 22639, 23061, 23156, 23084, 22613, 22613, 23084, 23156, 23156, 23156, 23156, 23156, 23156, 23156, 23156, 22613, 23156, 23156, 23156, 23156, 23156, 22613, 23156, 23156, 23156, 23156, 23156, 23156, 23156, 23156, 23156, 23084, 22639, 23156, 23061, 22613, 23156, 23156, 23084, 22613, 22639, 23156, 22613, 23156, 23156, 23084, 23156, 22970, 22613, 22970) ??
    (238)
    order by code
[end]

, 11.2.3.1, 11.2.8.78, 1.5.1.21, 2.6.7.2, 4.4.1.4, 4.5.2.1, 4.6.2.3


[get item conf]
    select distinct (MEGA+1) as MEGA
    from  nica_pplan_12
    where TASK_ID=#PROJECT_ID#
;
    select PID, CODE as PCODE from nica_wu where id=#PROJECT_ID#
;
    select CODE as PCODE from nica_wbs where id=#PID# ??PID
[end]

[get CB conf]
 select distinct (MEGA+1) as MEGA
    from  nica_costbook_12
    where WBS_ID=#PID#
    and YR in(2017)
[end]

[set doc conf]
    update c2_requests_17 set MEGA=#MEGA#-1 where LINK='#LINK#'
[end]


[SQL]
    SELECT d.LINK, d.NICA_ID as PROJECT_ID, n.CODE
    FROM c2_requests_17 d
        join nica_wbs_wu n on n.id=d.NICA_ID
    WHERE not d.NICA_ID is null and d.NICA_ID>10000
        and d.MEGA is null
        and rownum<100  ??
[end]

update docs set mega=0 where extract(year from d.REG_DATE) < 2017

