checkPlan.cfg

[parameters]
debug=off
LOG=ON
mark=<sup>*</sup>
[end]


[report]
$SET_PARAMETERS A_NICA=; A_NICA_RO=; short_report=Y; VER=12;

$GET_DATA [get Plan Data]
$GET_DATA nica/r_pplan_table.cfg[SQL]

$SET_PARAMETERS CURR_CODE=810;  ??CURR_CODE='810
$SET_PARAMETERS CURR_CODE=840;  ??CURR_CODE='840
$SET_PARAMETERS CURR_CODE=978;  ??CURR_CODE='978

$INCLUDE [plat info]  ??P_ID
$INCLUDE [not found]  ??!P_ID

[end]

[not found]
Платеж #plan_id# в Costbook <b>не найден!</b>
[end]

[plat info]
<b>Costbook:</b> запланированный платеж:
<table class="tlist" border=0 cellspacing=0 cellpadding=0 style="background-color:white; border:solid 1px ##808080;">
$INCLUDE nica/r_pplan_table.cfg[topHeader]
$INCLUDE nica/r_pplan_table.cfg[ro_item]
</table>

<script type="text/javascript">
function showProjectBlock()
{
a = document.getElementById("svsFrame");
a.src="#ServletPath#?c=nica/getProjectPath&tm=#tm#&LIST=F&DOC_ID=Y&prj_id=#curr_id#"; 
}
showProjectBlock();  ??
document.theForm.PROJECT_ID.value = "#curr_id#";
$("##prjPath").html("#CODE#: #TITLE# <small>(#RESP#)</small>");
setRoot("#curr_id#"); ??
</script>
[end]

[get Plan Data]
select P_ID, WU_ID as "curr_id"
from NICA_COSTBOOK_PPLAN_12
where C_ID||'-'||P_NR='#plan_id#'
;
select * from NICA_PPLAN_12 where id=#P_ID#
;
select DOC_ID from docs where PLAN_ID='#plan_id#'
[end]

ID=2
TASK_ID=22927
NR=1
NAZNACH=Приобретение сверхпроводящей ленты (Смирнов) (оплачен)
DAT=2017-03-30 00:00:00
STATIA=5
SUMMA_CURR=1790000
CURR_CODE=810
SUMMA_RUB=1790000
SUMMA_USD=26518.52
SUMMA_EUR=24107.74
CREATED=2017-08-08 10:00:36
CREATOR_ID=576
MODIFIED=2017-08-08 10:00:36
MODIFIER_ID=576
YR=2017
QUA=1
AGGR=2
SOURCE=0
NATURE=12
MEGA=0