[parameters]
$INCLUDE common.dat[parameters]
[end]

[notifier]
<a id = 'eventshowlink' href = '?c=doc/events' style='display:none;' target='LIST' onClick='$("##eventcounter").hide();'>Документов на согласование: 
<span id = 'eventcounter' style='display:none;'></span></a>
<SCRIPT language=JavaScript src='/arch/js/jquery-1.9.1.min.js'></SCRIPT>
<style type="text/css">
##eventshowlink{
color:white;
margin-left:50px;
font-weight:bold;
}

##eventcounter{
background-color:red;
padding:4px;
border-radius: 4px;
display: inline-block;
min-width:16px;
font-weight:bold;
text-align:center;
margin: 0;
padding: 3px;
}
</style>
<script>
$(document).ready(function(){
refreshEventCnt();
});
function refreshEventCnt(){
   $.ajax({
            url: '?c=doc/event_cnt',
           cache: false
         }).done(function(html) {
            $('##eventcounter').text(html);
            //$('##eventcounter' , $('##TREE')).text(html);
            if(html>0) {
                $('##eventcounter').show();
                $('##eventshowlink').show();								
           }else{
                $('##eventcounter').hide();
                $('##eventshowlink').hide();	
           }
        console.log($('##TREE').contents());
    });
}
window.setInterval(function(){
    refreshEventCnt();
}, 300000);
</script>
[end]

[report]
<HTML><HEAD>
<style>
BODY{font-family: Verdana, Arial, Helvetica, sans-serif; color: white; margin:0; background: ##405070;}
H3{font-size:#fs16# font-weight:normal;  font-family: Times; color: FFFFD0; display:inline}
h4 {color: ##004080; FONT-SIZE: 8pt; font-weight: normal; font-style:italic; font-family: Verdana, Arial, Helvetica;  }
TD {FONT-SIZE: #fs9# }
A {font-size:#fs7#  color: ##004080; text-decoration: none; cursor: hand;}
A:link {color: ##004080; text-decoration: none; cursor: hand;}
A:visited {color: ##004080; text-decoration: none;}
A:hover   {color: ##0040F0; text-decoration: underline }
</style>
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>

<script>

function openNode(id){ top.openNode(id); }
function setFont(small)
{ var v = (small)? "y":"";
//	alert (v);
	setLongCookie("smallFonts",v,24*30*12);
	top.window.location.href="#ServletPath#?tm=#tm#";
}
function setPath(path)
{ try { document.getElementById("nodePath").innerHTML=path;
	} catch (e) {;}
}
</script>
</HEAD><BODY>


<table border=0 width=100% cellpadding=0 cellspacing=0>
<tr height=30><td>
<img src="#imgPath#jinr.gif"> ??
<h3>&nbsp; &nbsp; &nbsp; <i>Б а з а &nbsp; д о к у м е н т о в &nbsp; О И Я И</i></h3>
$INCLUDE [notifier] ??USER_ID>0
</td>
<td nowrap=true style="width:120px; padding:0 20px 0 0; cursor:pointer; white-space:nowrap;"
onClick="top.window.location.href='https://sed.jinr.ru/sed/dubna';" ??
>
<a href="https://sed.jinr.ru/sed/dubna" target=_top style="color:white;">
СЭД->  ??
<img src="#ServerPath##imgPath#sed_wt.png" width=100 style="border:none;" noborder>
</a>
</td> 

<td width=1 nowrap=true><input type=checkbox onClick="setFont(this.checked)" ??
checked ??q_smallFonts=y&ZZZ
>мелко&nbsp;</td> ??
</tr>

<tr height=22 bgcolor=E8F0FF><td colspan=3 align=left valign=top style="color:black;"
background="#imgPath#bg_top.gif"><img src="#imgPath#corner-nw.gif" width=19 height=22
border=0 align=absmiddle>
<a href="javascript:top.showTree()"><<< </a>
$GET_DATA [getPath]
<span id=nodePath
>#CURR_PATH#</span></td></tr></table>
</body></html>
[end]

[getPath]
try: select case 
	when id=#activeNode# then ' | <img src="#imgPath#yellow2.gif" align=absmiddle border=0><i>'||nvl(des_full,des)||'</i>'
	when id>0 then ' | <a href="javascript:openNode('||id||')"><img src="#imgPath#blues1.gif" border=0>'||des ||'</a>'
	else '' 
	end as CURR_PATH
FROM tree
CONNECT BY PRIOR pid=id start with id=#activeNode#
order by rownum desc
;
[end]
