[parameters]
debug=onf
$INCLUDE common.dat[parameters]
[end]


[report]
#MAINPAGE#
$CALL_SERVICE  ??!ACTION_TYPE=URL|!ACTION
$INCLUDE [open URL] ??ACTION_TYPE=URL&ACTION
[end]

[open URL]
<HTML><HEAD>
<style>
</style>
</HEAD>
<body>

#MAINPAGE#

<script>
var tm = (new Date()).getTime();
window.location.href="#ACTION#"; ??!ACTION_WINDOW=1
window.open("#ACTION#", tm, 'toolbar=yes,scrollbars=yes,status=yes');	 ??ACTION_WINDOW=1
</script>
</body></html>
[end]

[preSQLs]
select ACTION_TYPE, ACTION, ACTION_WINDOW, MAINPAGE
FROM #table_tree# t
WHERE t.id=#activeNode# 
[end]