[comments]
descr=A: Редактирование свойств клиента

input=client_id - ID клиента (из таблицы clients);

mode - режим работы: "add" - создание нового клиента,
"edit" - редактирование свойств клиента с ID = client_id;

cop - код операции: "create" - создание нового клиента clients, 
"update" - обновление свойств клиента с ID = client_id,
"delete" - удаление клиента с ID = client_id;

output=HTML форма редактирования свойств клиента, 
parents=objects/clients.cfg, objects/clients_table.cfg
childs=
test_URL=?c=objects/edit_client&mode=edit&client_id=1
author=Яковлев, Куняев
[end]


[parameters]
request_name=A: Редактирование свойств клиента
tableCfg=table_no ??
KeepLog=false
ClearLog=true

divider=<tr><td colspan=2 class="bg_white" style="height:10px; border-top:solid 1px gray;"></td></tr>
[end]

[report]
$INCLUDE dat/common.dat[check login]
$INCLUDE [report_] ??AR_SYS_ADMIN=1
[end]

[report_]
$INCLUDE [do save]  ??cop=create|cop=update|cop=delete
$INCLUDE [form]  ??!cop=create&!cop=update&!cop=delete
[end]

[form]
<body>
#c# ??debug=on
<form name="popupForm" method="POST" enctype="multipart/form-data" target="wf">

$GET_DATA [getClientInfoSQLs]  ??mode=edit

<input type=hidden name="client_id" value="#ID#">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">

<table border=0 bgcolor=white cellpadding=4 style="border:solid 1px gray;">

<tr><td class=label right>ID:</td><td> <input size=5 name="f_client_id" value="#ID#"></td></tr>
<tr><td class=label>Название:</td><td> <input size=30 name="f_name" 
value="Новый клиент" ??mode=add
value="#CLIENT_NAME#" ??mode=edit
> &nbsp; </td></tr>

<tr><td class=label>IP:</td><td> <input size=30 name="f_ip" value="#CLIENT_IP#"> &nbsp; </td></tr>


<tr><td class=label style="white-space:nowrap;" nowrap>Способ обмена:</td><td>
<input type=radio name=f_method value="1" 
checked  ??CLIENT_METHOD=1|!CLIENT_METHOD
>http опрос<br>
<input type=radio name=f_method value="2" 
checked  ??CLIENT_METHOD=2
>двусторонний http обмен<br>
<input type=radio name=f_method value="3" 
checked  ??CLIENT_METHOD=3
>обмен через БД</td></tr>

<tr><td class=label>Кодировка клиента:</td><td>
<select name="f_encoding"><option value="utf-8">utf-8</option>
<option value="Cp1251"
selected   ??CLIENT_ENCODING=Cp1251
>Cp1251</option></select></td></tr>

<tr><td class=label>URL для http-обмена:</td><td> <input size=40 name="f_URL" value="#CLIENT_URL#"></td></tr>

<tr><td class=label>Доп.параметры <br> post-запроса к клиенту:</td><td> <input size=40 name="f_parameters" 
value="#CLIENT_PARAMETERS#"></td></tr>

</table>
<br><center>

<input type="button" class="butt1" style="width:100;" value="Закрыть" onClick="HideDialog();">

$INCLUDE [save_button_add] ??mode=add
$INCLUDE [save_button_edit] ??mode=edit
$INCLUDE [delete_button] ??mode=edit

</form>

<script>
ShowDialog(true); 
showMsg("##dialog_title", "Создать новый клиент"); ??mode=add
showMsg("##dialog_title", "Редактирование свойств клиента"); ??mode=edit
centerDialog();   ??mode=add|mode=edit

</script>

</body></html>
[end]

[save_button_add]
<input type="button" class="butt1" style="width:100;" value="Сохранить" 
onClick="document.popupForm.cop.value='create'; document.popupForm.submit(); HideDialog();">
[end]

[save_button_edit]
<input type="button" class="butt1" style="width:100;" value="Сохранить" 
onClick="document.popupForm.cop.value='update'; document.popupForm.submit(); HideDialog();">
[end]

[delete_button]
<script type="text/javascript">
function pressDeleteButton() {
    document.popupForm.cop.value='delete';
    document.popupForm.submit();
    window.parent.HideDialog();
}
</script>

<input type="button" class="butt1" style="width:100;" value="Удалить" 
onClick="if(confirm('Удалить этот клиент?')) pressDeleteButton();"> 
[end]

[do save]
$GET_DATA [create client] ??cop=create
$GET_DATA [update property] ??cop=update
$GET_DATA [delete client] ??cop=delete

<script>
+++++ Сабмит родительской формы. +++ ??
window.parent.AjaxCall("clnt_table","c=objects/clients_table"); ??!ERROR
alert(" Ошибка при создании нового клиента!\n\r #ERROR#"); ??ERROR&cop=create
alert(" Ошибка при изменении свойств клиента!\n\r #ERROR#"); ??ERROR&cop=update
alert(" Ошибка при удалении клиента!\n\r #ERROR#"); ??ERROR&cop=delete
</script>
=== Обновить кэш информации о клиентах ===??
$CALL_SERVICE c=svs/get_clients; reset=yes; ??!ERROR
[end]


***************************** Шаблоны SQL запросов ***************************

[getClientInfoSQLs]
select cln.ID, cln.name AS CLIENT_NAME, cln.CLIENT_IP
, cln.method AS CLIENT_METHOD, cln.encoding AS CLIENT_ENCODING
, cln.URL AS CLIENT_URL, cln.parameters AS CLIENT_PARAMETERS
from clients cln
where cln.Id = #client_id#
[end]


[create client]
insert into clients (id, name, CLIENT_IP, method, encoding, URL, parameters) 
values (#f_client_id#, '#f_name#', '#f_ip#', '#f_method#', '#f_encoding#', '#f_URL#', '#f_parameters#')
;
ALTER TABLE objects ADD id_client_#f_client_id# varchar(255) DEFAULT NULL COMMENT 'ID объекта у клиента #f_client_id#' 
[end]

[update property]
update clients set
id=#f_client_id#, name = '#f_name#', client_ip = '#f_ip#'
, method = '#f_method#', encoding = '#f_encoding#', URL = '#f_URL#'
, parameters = '#f_parameters#'
where clients.Id = #client_id#
[end]

[delete client]
try: ALTER TABLE objects DROP id_client_#client_id#
;
delete from object_receivers where client_id = #client_id#
;
delete from clients where clients.Id = #client_id#
[end]

