[comments]
descr=A: Редактирование свойств типа объекта

input=object_type_id - ID типа объекта, mode - режим работы, cop - код операции
output=HTML форма редактирования свойств типа объекта, 
parents=objects/object_types.cfg, objects/object_types_table.cfg
childs=
test_URL=?c=objects/edit_object_type&mode=edit&object_type_id=1
author=Яковлев, Куняев
[end]

[description]
<b>input:</b> object_type_id - ID типа объекта (из таблицы object_types);<br>

mode - режим работы: "add" - создание нового типа объекта,
"edit" - редактирование свойств типа объекта с ID = object_type_id;<br>

cop - код операции: "create" - создание нового типа объекта object_types, 
"update" - обновление свойств типа объекта с ID = object_type_id,
"delete" - удаление типа объекта с ID = object_type_id;<br>

[end]

[parameters]
request_name=A: Редактирование свойств типа объекта
tableCfg=table_no ??
LOG=ON
[end]

[report]
$INCLUDE dat/common.dat[check login]
$INCLUDE [report_] ??AR_SYS_ADMIN=1
[end]

[report_]
$INCLUDE [do save]  ??cop=create|cop=update|cop=delete
$INCLUDE [form]  ??!cop=create&!cop=update&!cop=delete
[end]

[form]
<form name="popupForm" method="POST" enctype="multipart/form-data" target="wf">

$GET_DATA [getObjectInfoSQLs]  ??mode=edit

<input type=hidden name="object_type_id" value="#ID#">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">

<table border=0 bgcolor=white cellpadding=4 style_="border:solid 1px gray;">

<tr><td class=label right>ID:</td><td><input size=5 name="f_object_type_id" value="#ID#"></td></tr>
<tr><td class=label>Имя объекта:</td><td> <input size=30 name="f_name" 
value="Новый объект" ??mode=add
value="#OBJECT_NAME#" ??mode=edit
></td></tr>

$GET_DATA [get sources]
<tr><td class=label>Источник:</td><td><select name="f_src">
<option value="0">любой</option>
#SOURCES#</select></td></tr>
</table>
<br>

<input type="button" class="butt1" style="width:100;" value="Закрыть" onClick="HideDialog();">

$INCLUDE [save_button_add] ??mode=add
$INCLUDE [save_button_edit] ??mode=edit
$INCLUDE [delete_button] ??mode=edit

</form>

+++++++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
ShowDialog(true); 
showMsg("##dialog_title", "Создать новый тип объекта"); ??mode=add
showMsg("##dialog_title", "Редактирование свойств объекта"); ??mode=edit
selectOptionByVal( document.popupForm.f_src, '#source_id#'); ??source_id
centerDialog();  
</script>
[end]


[save_button_add]
<input type="button" class="butt1" style="width:100;" value="Сохранить" 
onClick="document.popupForm.cop.value='create'; document.popupForm.submit(); HideDialog();">
[end]


[save_button_edit]
<input type="button" class="butt1" style="width:100;" value="Сохранить" 
onClick="document.popupForm.cop.value='update'; document.popupForm.submit(); HideDialog();">
[end]

[delete_button]
<script type="text/javascript">
function pressDeleteButton() {
    document.popupForm.cop.value='delete';
    document.popupForm.submit();
    window.parent.HideDialog();
}
</script>

<input type="button" class="butt1" style="width:100;" value="Удалить" 
onClick="if(confirm('Удалить этот объект?')) pressDeleteButton();"> 

[end]

[do save]
$GET_DATA [create object] ??cop=create
$GET_DATA [update property] ??cop=update
$GET_DATA [delete object] ??cop=delete
$CALL_SERVICE c=svs/get_clients; reset=yes; ??!ERROR

<script>
alert(" Ошибка при создании типа объекта ! Проверьте целостность базы !!"); ??ERROR&cop=create
alert(" Ошибка при изменении свойств типа объекта !!"); ??ERROR&cop=update
alert(" Ошибка при удалении типа объекта ! Проверьте целостность базы !!"); ??ERROR&cop=delete
+++++ Обновление родительской таблицы +++ ??
AjaxCall("obj_tp_table","c=objects/object_types"); ??!ERROR&ZZZ
window.parent.doSubmit(); ??!ERROR
</script>

[end]


***************************** Шаблоны SQL запросов ***************************
[get sources]
select concat('<option value="', cast(id as char), '">', cast(id as char), ': ', name, '</option>') as SOURCES
from clients
order by id
[end]


[getObjectInfoSQLs]
select otp.ID
, otp.name AS OBJECT_NAME
, otp.source_id
from object_types otp
where otp.Id = #object_type_id#
[end]

[create object]
insert into object_types (id, name, source_id) values (#f_object_type_id#, '#f_name#', #f_src#)
[end]

[update property]
update object_types set id=#f_object_type_id#, name = '#f_name#', source_id=#f_src#
where object_types.Id = #object_type_id#
[end]

[delete object]
delete from object_receivers
where 
  object_type = #object_type_id#
;
delete from object_types
where object_types.Id = #object_type_id#
[end]

