view_error.cfg

[report]
$INCLUDE dat/common.dat[check login]
$INCLUDE [report_]  ??logged
[end]

[report_]
$GET_DATA [getObject]

<table border=0><tr><td>тип: #ObjectType#: #OBJECT_TYPE#, </td><td>#ObjectTime#</td></tr>
<tr><td>Источник: #SRC_CLIENT#</td><td>#ClientIP#</td></tr>
<tr><td>Попытка загрузки:</td><td>#uploaded#</td></tr>
<tr><td>ID в источнике:</td><td>#ClientObjectID#</td></tr>

<tr><td id="sentMsg" colspan=2>
<b>Результат:</b><br>
#ResultCode#: #Result#
</td></tr>
</table>
<br><small>#object#</small><br><br>
<center>
<input type=button onClick="HideDialog();" value="Закрыть">
</center>
<script type="text/javascript">
window.parent.showMsg("##dialog_title", "Ошибка загрузки объекта");
centerDialog();
</script>
[end]

[getObject]
select e.ID, c.name as "SRC_CLIENT", e.SrcClientId, e.ClientIP
, e.ObjectType
, t.name as "OBJECT_TYPE" ??
, case when e.ObjectType = '' then '?' else  ifNull(t.name,'? ?') end as "OBJECT_TYPE"
, e.Command
, e.ClientObjectID 
, date_format(e.uploaded, '%d.%m.%Y %H:%i:%S') as uploaded
, e.ObjectTime, e.ResultCode, e.Result
, replace(replace(replace(e.object,',',',<br>'),'}','<br>}'),'``','\\\"') as object
from err_log e 
left join clients c on c.id=e.SrcClientId
left join object_types t on t.id=e.ObjectType
where e.ID=#record_id#
[end]
