[parameters]
OurIPs=159.93.40.211|159.93.40.21
service=dubna.walt.service.TableServiceSpecial ??!edit_cop=update
  ??ClientIP=159.93.40.21|ClientIP=159.93.40.211
sortCols=ID
table_beg=<table border=1 ??
floatDecimals=4
markColor=whitesmoke
KeepQuotes=Y
KeepLog=true
[end]

[report]
$INCLUDE [save] ??R_MODIF=1
$CALL_SERVICE c=view_event
[end]

============================= ВЫВОД ОДНОГО ПОЛЯ ==========================
[item]
$SET_PARAMETERS VAL=; isTeX=;
$SET_PARAMETERS isTeX=Y ??!VIEW_FIELD_NAME=#FIELD_NAME#&!FIELD_CFG=info/conference.cfg&!FIELD_CFG=info/izdanie.cfg
$GET_DATA [get value] 
$INCLUDE [header] ??!old_id
<tr class="row"><td align=right>
#VAR_NAME#:
<input type=hidden name="#VIEW_FIELD_NAME#" >  ??isTeX
<br><small><i><a href="javascript:showPreview('#VIEW_FIELD_NAME#', '#FIELD_NAME#')">Просмотр >></a></i></small>  ??isTeX
</td>
<td class=bot>
$INCLUDE [noInfoField] ??!FIELD_CFG
$CALL_SERVICE #FIELD_CFG# ??FIELD_CFG
FIELD_NAME:#FIELD_NAME# ??
$INCLUDE edit_fields.dat[comment] ??COMMENT
</td></tr>
$SET_PARAMETERS old_id=#event_id# 
<script>
if(document.theForm.#FIELD_NAME#.value){
document.theForm.#FIELD_NAME#.value=document.theForm.#FIELD_NAME#.value.replace(/<br>/g,"\r\n");} </script>
[end]

[header]
$SET_PARAMETERS dat_label=Год	
$SET_PARAMETERS dat_label=Дата конференции  ??type_id=
<tr><th colspan=2 class="headrow">#TYPE_NAME#</th></tr>

<tr><td class="row" align="right" >#dat_label#:</td><td class="row" >
$INCLUDE common.dat[dat] param: fd_name=DATE; fd_val=#DATE#; yr1=-60; yr2=0; class=xpg; onChange=protectDateValue(this,'Дата'); ??
$INCLUDE edit_fields.dat[date-y] param: FIELD_NAME=DATE; D_MNTH=#DATE_MNTH#;D_YR=#DATE_YR#;MUST_BE_SET=Y;
</td></tr>

$GET_DATA [get subtype options]
$INCLUDE [subtype] ??OPTS_SUBTYPES
<input type=hidden name="TYPE_ID" value="#TYPE_ID#">
<input type=hidden name="SUBTYPE_ID" value="0"> ??!OPTS_SUBTYPES
<tr><td class="row" align="right" >URL:</td><td class="row" >
<input type=text name="URL" value="#URL#" size=55>
</td></tr>
[end]

[noInfoField]
$INCLUDE edit_fields.dat[int] ??DATA_TYPE=int
$INCLUDE edit_fields.dat[float] ??DATA_TYPE=float
$INCLUDE edit_fields.dat[varchar-short] ??DATA_TYPE=varchar&!USE_TEXTAREA=1
$INCLUDE edit_fields.dat[varchar-long] ??DATA_TYPE=varchar&USE_TEXTAREA=1
$INCLUDE edit_fields.dat[text] ??DATA_TYPE=text
$INCLUDE edit_fields.dat[date] ??DATA_TYPE=date
[end]

==========================================================================

[report header]
$SET_PARAMETERS edit_cop=; action=; ??!R_MODIF=1
<style>
.row{background-color:whitesmoke;}
.headrow{background-color:4B8DCC; color:white; font-weight: bold;}
input{vertical-align:top; }
textarea{ vertical-align:top;}
td.bot { vertical-align:bottom;}
</style>
<input type="hidden" name="connected_to" value="#CONNECTED_TO_VAL#">
<input name="person_assign_this_doc_to" id="person_assign_this_doc_to" type="hidden">
SET_PARAMETERS DATE1=#S_DATE1#;DATE2=#S_DATE2#  ??action=back
$INCLUDE [save] ??edit_cop=update

$SET_PARAMETERS event_id=#assign_event_id# ??assign_event_id
$CALL_SERVICE c=info/PersonDocConnect; _cop=assign; person_id=#id#; event_id=#event_id#; ??action=copy|assign_event_id
$CALL_SERVICE c=info/PersonDocConnect; _cop=unassign; person_id=#id#; event_id=#event_id#; ??event_id&edit_cop=delete|edit_cop=deleteSovsem
$GET_DATA [delPermanently] ??action=copy&edit_cop=delete
$GET_DATA [countEvents] ??edit_cop=delete|edit_cop=update&id
$GET_DATA [get person_id count]
<iframe name="workframe" id="workframe" width=400 height=0 src="#ServletPath#?c=empty" ></iframe>


<SCRIPT language=JavaScript src="#jsPath#form.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#cal2.js"></SCRIPT>

<script language=javascript src="#jsPath#TEX/LaTeX_asc.js"></script>
<script language=javascript src="#jsPath#TEX/LaTeX_acc.js"></script>
<script language=javascript src="#jsPath#TEX/LaTeX_tok.js"></script>
<script language=javascript src="#jsPath#TEX/LaTeX_dfa_comp.js"></script>
<script language=javascript src="#jsPath#TEX/LaTeX_symbols.js"></script>
<script language=javascript src="#jsPath#TEX/LaTeX_functions.js"></script>
<script language=javascript src="#jsPath#TEX/LaTeX_aliases.js"></script>
<script language=javascript src="#jsPath#TEX/main.js"></script>
<script language=javascript src="#jsPath#TEX/TeX.js"></script>

<script>
function goBack()
{	document.theForm.action.value="list";
	document.theForm.submit();
}

function pasteResult(destDiv, res)
{ document.getElementById(destDiv).innerHTML = res;
}
</script>

<input type=hidden name="event_id" value="#event_id#">
<input type=hidden name="assign_event_id">
<input type=hidden name="edit_cop" value="">
<input type=hidden name="old_event_id" value="#event_id#">
<input type=hidden name="FORM_HAS_ERROR" value="">

==================== ГЛАВНАЯ ТАБЛИЦА ========================= ??
<table border=0 cellspacing=0>
<tr><td>
$INCLUDE common.dat[butt] param: label=Закрыть; onClick=window.close();   img=close12.gif;
</td>
<td  align=right>
$INCLUDE common.dat[butt] param: label=Сохранить; onClick=goSave();   img=save12.gif;
</td></tr>
<tr><td colspan=2>
[end]


[subtype]
$GET_DATA [get subtype options] ?? 
$SET_PARAMETERS SEL_SUBTYPES= ??OPTS_SUBTYPES
<tr><td class="row" align="right">Тип:</td><td class="row" >
<select name="SUBTYPE_ID" onChange="loadSubtypeDescription()">
<option value=0>-</option> ??SUBTYPE_ID=0_XXX
#OPTS_SUBTYPES#
</select>
</td></tr>
<tr><td class="row" align="right"></td><td class="row" >
<div id="subtypeDescr" style="width:400px; border:solid 1px ##808000; padding:6px; background-color:##FFFFD0">
$CALL_SERVICE c=info/subtypeDescription; cop=show
</div>
</td></tr>
<script language=javascript>
var f_work = document.getElementById("workframe");

selectOptionByVal(document.theForm.SUBTYPE_ID,'#SUBTYPE_ID#'); ??SUBTYPE_ID

function loadSubtypeDescription()
{ var st = getSelectedVal(document.theForm.SUBTYPE_ID);
	f_work.src="#servletPath#?c=info/subtypeDescription&SUBTYPE_ID=" + st;
}

</script>
[end]

[get subtype options]
SELECT concat("<option value='",cast(id as char),"'>",name ,"</option>") as OPTS_SUBTYPES 
from event_subtypes 
where pid=#TYPE_ID#
order by sort
[end]


[report footer]
</td></tr></table>
<blockquote>
<table cellpadding=0 cellspacing=0>
<tr><td align=left>
--- Скрываем кнопку `Удалить` , если вызов не из showperson т.е. нет id (person_id) ??
$INCLUDE common.dat[butt] param: label=Удалить; onClick=goDelete();   img=del12.gif; ??id
$INCLUDE common.dat[butt] param: label=Удалить совсем; onClick=goDeleteSovsem();   img=del12.gif; ??!id&CPI=0&USER_ROLE={{SA|GA}}
</td><td width=300>&nbsp;</td>
<td align=right>
$INCLUDE common.dat[butt] param: label=Сохранить; onClick=goSave();   img=save12.gif;
</td></tr></table>
</blockquote>


================================================================================ ??
=============================== JavaScript ===================================== ??
================================================================================ ??

<script language=javascript>
var frm=document.theForm;

onerror=handleErr;
var txt=""

selectOptionByVal(document.theForm.access,'#access#'); ??access


function IsFloat(sText)
{  var ValidChars = "0123456789.";
   var IsFloat=true;
   var Char;

   for (i = 0; i < sText.length && IsNumber == true; i++) 
   { Char = sText.charAt(i); 
     if (ValidChars.indexOf(Char) == -1) 
     { IsFloat = false;
	   }
	 }
   return IsFloat;  
}

function cropTo(el,maxlen,nm){
	if(el.value.length>maxlen){
		el.value=el.value.substring(0,maxlen);
		alert(nm+": превышен максимальный размер текста. Произведено усечение.");
	}
}

function protectDateValue(dat,labl)
{ checkDate(dat.name,labl,false);
}

function docChanged()
{
}

function getFromCalc(v,nm)
{ e=document.getElementById(nm);
  e.value=v;
}


function goSave()
{	if (document.theForm.FORM_HAS_ERROR.value!='yes')
	{	correctFields(); 
//		alert ("submit...");
		frm.action.value="edit"; 
		frm.edit_cop.value="update";
		frm.submit();
	}
	else 
	{alert('Неверный ввод. Проверьте год.')
	}
}


function doAssignSearchedEvent(id)
{
	frm.cop.value="get";
	frm.action.value="edit";
	frm.assign_event_id.value=id;
	frm.submit();
}

function connectPerson()
{ openWindow('/pin/pin?c=info/persons', 'person_info', 600, 450);
}

function correctFields()
{ 
//----- в "Авторах" меняем запятую на запятую с пробелом ??
	try
	{ frm.authors.value =frm.authors.value.replace(/,/g,", ");
	}
	catch (e) 	{ }
	
//----- Меняем ' => ` \ => \\ \r\n => <br> # => #### \s\s => " " ??
	re = /'/g;   
	for (var i=0; i < frm.elements.length; i++)
  { var name = frm.elements[i].name;
		if (name.indexOf("vc") == 0 
		 || name.indexOf("t") == 0 
		 || name=="event_name"
		 || name=="annotation"
		 || name=="authors"
		 || name.indexOf("event_comment") == 0)
		 
    { if (frm.elements[i].type == "text" || frm.elements[i].type == "textarea")
				frm.elements[i].value = (frm.elements[i].value).replace(
					/'/g, "/`/`").replace(
					/\\/g,"\\\\").replace(
					/\r\n/g," ").replace( ??
					/\r\n/g,"<br>").replace( 
					/##/g,"########").replace(
					/\s\s/g," ");
    } 
  }
}

function changeBR2CR()
{ re2 = /<br>/g;
	for (var i=0; i < frm.elements.length; i++)
  { var name = frm.elements[i].name;
		if (name.indexOf("vc") == 0 
		 || name.indexOf("t") == 0 
		 || name.indexOf("event_comment") == 0)
    { if (frm.elements[i].type == "text" || frm.elements[i].type == "textarea")
//				frm.elements[i].value = ((frm.elements[i].value).replace(re, "/`/`")).replace(re1,"\\\\").replace(re2," ");
				frm.elements[i].value = (frm.elements[i].value).replace(re2," \r\n");
    }
  }
}

changeBR2CR();

/* function changeQuotes(el)
{	re = /'/g;   
	re1=  /\\/g; 
//	el.value = el.value.replace(re, "`").replace(re1,"/");  
//	alert (el.value);
	el.value = el.value.replace(re, "/`/`").replace(re1,"\\\\");  
}
*/

function goDeleteSovsem(){
if (confirm("ВНИМАНИЕ! ЗАПИСЬ БУДЕТ УДАЛЕНА ИЗ БАЗЫ.\nВЫ НАСТАИВАЕТЕ НА УДАЛЕНИИ?"))
{  	frm.edit_cop.value="deleteSovsem";
   	frm.submit();
   }
}

function goDelete(){
if (confirm("Удалить запись из списка "
	+ "работ" 	??vd=sc
	 + "\"#name# #name1# #name2#\"?"))
{  	frm.edit_cop.value="delete";
   	frm.submit();
//   	alert("Запись удалена.");
//   	frm.action.value="list";
//   	frm.submit();
   }
}
function changeField(el){
nm=el.id;
alert('nm:'+nm);
}

alert ("#ERROR#");	??ERROR
</script>
[end]


================================================================================
================================== SQLs ========================================
================================================================================
[preSQLs]
$INCLUDE [insert]    ??action=new_event&!edit_cop=delete
$INCLUDE [copy]    ??action=copy&!edit_cop=delete
[end]

select id, creator_id, user_id, date, dat_ch, dat_cr, type_id, subtype_id, URL, event_name, authors, connected_to, event_host, ball, event_comment, n_coauthors, n_semestrs, n_lists, cit_index, vc1, vc2, vc3, vc4, vc5, i1, i2, f1, f2, d1, vc6, vc7, vc8, vc9, vc10, vc11, vc12, vc13, t1, t2, vc14, d2, t1_h, t2_h from event_values where 

[copy]
insert into event_values (creator_id, user_id, date, dat_ch, dat_cr, type_id, subtype_id, URL, event_name, authors, connected_to, event_host, ball, event_comment, n_coauthors, n_semestrs, n_lists, cit_index, vc1, vc2, vc3, vc4, vc5, i1, i2, f1, f2, d1, vc6, vc7, vc8, vc9, vc10, vc11, vc12, vc13, t1, t2, vc14, d2, t1_h, t2_h, conf_id,conf_str,izd_id, lang, annotation)
select #USER_ID#, #USER_ID#, date, dat_ch, dat_cr, type_id, subtype_id, URL, event_name, authors, connected_to, event_host, ball, event_comment, n_coauthors, n_semestrs, n_lists, cit_index, vc1, vc2, vc3, vc4, vc5, i1, i2, f1, f2, d1, vc6, vc7, vc8, vc9, vc10, vc11, vc12, vc13, t1, t2, vc14, d2, t1_h, t2_h, conf_id,conf_str,izd_id,lang,annotation
from event_values where id=#event_id#
;
select LAST_INSERT_ID() as "new_event_id"
;
[end]

[countEvents]
update p_persons p set numEvents=(select count(*) from person_event e where e.person_id=#id#) where p.id=#id#  ??id
;
[end]

[get person_id count]
SELECT count(person_id) as CPI  from person_event WHERE event_id=#event_id#;
[end]


[get value]
SELECT 
#FIELD_NAME#  							 ??DATA_TYPE=varchar|DATA_TYPE=int|DATA_TYPE=text|DATA_TYPE=float
DATE_FORMAT(#FIELD_NAME#,'#dateShortFormat#') ??DATA_TYPE=date
as VAL 
, YEAR(#FIELD_NAME#) as D_YR ??DATA_TYPE=date
, MONTH(#FIELD_NAME#) as D_MNTH ??DATA_TYPE=date
from event_values where 
id=#event_id#;
[end]

[get score SQL]
SELECT 
	ev.id as EVENT_ID
	,et.SQL as TYPE_SQL
	,est.SQL as SUBTYPE_SQL
from event_types et, event_subtypes est, event_values ev
where 
	et.id=ev.type_id
	and ev.subtype_id=est.id
	and ev.id=#event_id#
[end]


[save]
$GET_DATA [prepare SQL]
$GET_DATA [update SQL]
$GET_DATA [update TeX] ??t1_h|t2_h
$GET_DATA [get score SQL] ??!caller=search
$GET_DATA [set score]
$CALL_SERVICE c=history_store; event_id=#event_id#; ??!caller=search
[end]



[update TeX]
update event_values
set dat_ch=now()
,t1_h='#t1_h#' ??t1_h
,t2_h='#t2_h#' ??t2_h
where id=#event_id#;
commit;
[end]



[set score]
#TYPE_SQL#; ??TYPE_SQL
#SUBTYPE_SQL#; ??SUBTYPE_SQL
commit;
[end]

[update SQL]
UPDATE event_values set #FN# 
 dat_ch=now(),user_id=#USER_ID#,
 date=STR_TO_DATE('#DATE#','#dateShortFormat#'), 
 subtype_id=#SUBTYPE_ID#,URL='#URL#' 
where id=#event_id#;
commit;
[end]

[prepare SQL]
SELECT  case 
	when evrs.data_type ='varchar' then concat(evrs.FIELD_NAME,'=''##',evrs.FIELD_NAME,'##'', ') 
	when evrs.data_type ='text' then concat(evrs.FIELD_NAME,'=''##',evrs.FIELD_NAME,'##'', ') 
	when evrs.data_type ='int' or evrs.data_type ='float' then concat(evrs.FIELD_NAME,'= case when LENGTH(''##',evrs.FIELD_NAME,'##'')=0 then NULL else ##',evrs.FIELD_NAME,'##+0 end, ') 
	when evrs.data_type ='date' then concat(evrs.FIELD_NAME,'=case when LENGTH(''##',evrs.FIELD_NAME,'##'')=0 then NULL else STR_TO_DATE(''##',evrs.FIELD_NAME,'##'',''#dateShortFormat#'')end , ')
end  as FN
from event_values evls 
	join event_vars evrs on evrs.type_id=evls.type_id
where 
	evls.id=#event_id# and evrs.render=1
[end]


[insert]
insert into event_values ( creator_id
,type_id, subtype_id, dat_cr, connected_to) 
values (#USER_ID#, #F_TYPE_ID#
,#SUBTYPE_ID# ??SUBTYPE_ID		
,0			??!SUBTYPE_ID       
,now()
, (select CONCAT(IFNULL(SUBSTRING(p.name1,1,1),''),'.',IFNULL(SUBSTRING(p.name2,1,1),''),'.', p.name) from p_persons p where id=#id#)
)
; 
SELECT LAST_INSERT_ID() as event_id;
insert into person_event (event_id,person_id) values (#event_id#,#id#);

select CONCAT(field_name,'="', default_value,'",')as DEFAULT_VALUES_TO_INSERT 
from event_vars 
where type_id=#F_TYPE_ID# 
	and default_value is not null
;

update event_values set #DEFAULT_VALUES_TO_INSERT# id=#event_id#
where id=#event_id#
;
[end]



[SQL]
select 
case when isc.character_maximum_length>255 then 1 else 0 end as LONG_CHAR, ??
	etps.name as TYPE_NAME
	,etps.tab as TAB
	,etps.id as TYPE_ID
	,evrs.field_name as FIELD_NAME 
	,evrs.view_field_name as VIEW_FIELD_NAME 
	,evrs.cfg as FIELD_CFG 
	,evrs.info_table as INFO_TABLE 
	,evrs.comment as COMMENT
	,concat(ifnull(etps.comment_ball,''),ifnull(estps.comment_ball,'')) as SCORE_RULE
	,evrs.name as VAR_NAME
	,evrs.useTextArea as USE_TEXTAREA
	,evls.value_comment as VALUE_COMMENT ??
	,evls.ball as SCORE
	,evls.id as event_id
	,isc.data_type as DATA_TYPE
	,isc.CHARACTER_MAXIMUM_LENGTH as CML
	,evrs.varchar_field_size as VCFS
	,DATE_FORMAT(evls.date,'#dateShortFormat#') as DATE
	,YEAR(evls.date) as DATE_YR 
	,MONTH(evls.date) as DATE_MNTH ??!DATE_MNTH
	,evls.URL as URL
	,evls.SUBTYPE_ID as SUBTYPE_ID 
from 
event_values evls 
	left join event_vars evrs on evrs.type_id=evls.type_id
	left join information_schema.COLUMNS isc on 
		(isc.column_name=evrs.field_name and isc.table_schema='#database#' and isc.table_name='event_values')
	left join event_types etps on etps.id=evrs.type_id
	left join event_subtypes estps on estps.id=evls.subtype_id
where 
	evrs.render=1
	and evls.id=#event_id#
order by evls.id, evrs.sort
;
[end]


[delPermanently]
delete from event_values where id=#event_id#; 
delete from person_event where event_id=#event_id#;
commit;
[end]