[parameters]
[end]


[report]
<style>
table.hist-list{
	border-left: solid 1px gray;
	border-top: solid 1px gray;
}

.hist-list th{
	background-color:whitesmoke;
	border-right: solid 1px gray;
	border-bottom: solid 1px gray;
	text-align: center;
	font-weight: bold; 
}

.hist-list td{
	border-right: solid 1px gray;
	border-bottom: solid 1px gray;
}
</style>

<input type="hidden" name="hist_id_to_view" value="">

<script>
function viewHist(id)
{	frm.action.value="view_hist"
	frm.hist_id_to_view.value=id;
	frm.submit();
}

function showhideHISTdiv()
{	z=document.getElementById('hist');
	x=document.getElementById('hist_img');
	if(z.style.display=='none')
	{	x.src="#imgPath#tree/bullet_rd.gif";
		z.style.display='block';
	}
	else
	{	x.src="#imgPath#tree/bullet_r2.gif";
		z.style.display='none';
	}
}
</script>
$INCLUDE [history table] ??HISTORY_TABLE
[end]

[history table]
<br><br>
<table class=hist-list cellspacing=0>
<tr><td class="headrow" style="cursor:pointer;" onclick="javascript:showhideHISTdiv();">
	<b>История изменений:</b>
	<img src="#imgPath#tree/bullet_r2.gif" border="0" id="hist_img"> ??!display=on
	<img src="#imgPath#tree/bullet_rd.gif" border="0" id="hist_img"> ??display=on
	</a>
</td></tr>
<tr><td style="padding:0;">

<div 
style="display:none;" ??!display
style="display:block;" ??display
id="hist">

<table class=hist-list cellspacing=0>
<tr><th>Дата</th><th>Пользователь</th><th>См.</th></tr>
#HISTORY_TABLE#
</table>
</div>

</td></tr></table>
[end]

[preSQLs]
$INCLUDE [getHistoryTableSQL]
[end]

[getHistoryTableSQL]
SELECT concat('<tr><td>'
	, date_format(hv.dat_ch,'#dateTimeFormat#')
	,'</td><td>',au.name1," ",au.name2," ",au.fname
	,'</td><td> <a href="javascript: viewHist('
	,cast(hv.hist_id as char)
	,')"> >> </a></td></tr>') as "HISTORY_TABLE"
from history_values hv left join a_users au on au.id=hv.user_id
where hv.id=#event_id#
order by dat_ch
[end]