[parameters]
[end]


[report]
$GET_DATA [store hist]
[end]

[preSQLs]
[end]

[hist]
select hv.hist_id as upd_hist
from event_values ev join history_values hv 
	on ev.id=hv.id 
			and date(ev.dat_ch)=date(hv.dat_ch) 
			and ev.user_id=hv.user_id 
where  
	ev.id=#event_id#
  and hv.dat_ch=(select max(dat_ch) from history_values where id=#event_id#)
 ;
[end]

[store hist]
$INCLUDE [hist]
$INCLUDE [update] 			??upd_hist
$INCLUDE [insert] 			??!upd_hist
;
commit;
[end]

[ins fields]
id
,creator_id
,user_id
,date
,dat_ch
,dat_cr
,type_id
,subtype_id
,URL
,event_name
,authors
,connected_to
,event_host
,ball
,event_comment
,n_coauthors
,n_semestrs
,n_lists
,cit_index
,vc1
,vc2
,vc3
,vc4
,vc5
,i1
,i2
,f1
,f2
,d1
,vc6
,vc7
,vc8
,vc9
,vc10
,vc11
,vc12
,vc13
,t1
,t2
,vc14
,d2
,t1_h
,t2_h
,conf_str
,conf_id
,izd_id
,lang
,annotation
,tmp
[end]

[upd fields]
h.id	=	v.id
,h.creator_id	=	v.creator_id
,h.user_id	=	v.user_id
,h.date	=	v.date
,h.dat_ch	=	v.dat_ch
,h.dat_cr	=	v.dat_cr
,h.type_id	=	v.type_id
,h.subtype_id	=	v.subtype_id
,h.URL	=	v.URL
,h.event_name	=	v.event_name
,h.authors	=	v.authors
,h.connected_to	=	v.connected_to
,h.event_host	=	v.event_host
,h.ball	=	v.ball
,h.event_comment	=	v.event_comment
,h.n_coauthors	=	v.n_coauthors
,h.n_semestrs	=	v.n_semestrs
,h.n_lists	=	v.n_lists
,h.cit_index	=	v.cit_index
,h.vc1	=	v.vc1
,h.vc2	=	v.vc2
,h.vc3	=	v.vc3
,h.vc4	=	v.vc4
,h.vc5	=	v.vc5
,h.i1	=	v.i1
,h.i2	=	v.i2
,h.f1	=	v.f1
,h.f2	=	v.f2
,h.d1	=	v.d1
,h.vc6	=	v.vc6
,h.vc7	=	v.vc7
,h.vc8	=	v.vc8
,h.vc9	=	v.vc9
,h.vc10	=	v.vc10
,h.vc11	=	v.vc11
,h.vc12	=	v.vc12
,h.vc13	=	v.vc13
,h.t1	=	v.t1
,h.t2	=	v.t2
,h.vc14	=	v.vc14
,h.d2	=	v.d2
,h.t1_h	=	v.t1_h
,h.t2_h	=	v.t2_h
,h.conf_str	=	v.conf_str
,h.conf_id	=	v.conf_id
,h.izd_id	=	v.izd_id
,h.lang	=	v.lang
,h.annotation	=	v.annotation
,h.tmp	=	v.tmp
[end]

[insert]
insert into history_values(
$INCLUDE [ins fields]
)
select 
$INCLUDE [ins fields]
 from
 event_values 
 where id=#event_id#
[end]

[update]
UPDATE  history_values h , event_values v
    SET 
$INCLUDE [upd fields]
WHERE 
h.hist_id=#upd_hist#
and
h.id=v.id
;
[end]