[parameters]
service=dubna.walt.service.TableServiceSpecial
service=jinr.pin.ServiceListEvents ??
sortCols=ID
floatDecimals=4
markColor=whitesmoke
selColor=lightGrey
table_beg=none
table_end=none
[end]

[item]
$INCLUDE [subtype title] ??SUBTYPE_ID&!old_subtype_id=#SUBTYPE_ID#&!SUBTYPE_ID=0
<tr 
bgcolor=white  ??oddRow=0
bgcolor=##E8F4FF  ??oddRow=1
id="#ROW_ID#" onmouseover="mark_it(this)" onmouseout="unmark_it(this);" onclick="goView(#ROW_ID#);">
<td class=tde>#EVENT_DATE#</td>
<td class=tde>&nbsp;#ball#</td>  	??USER_ROLE={{SA|GA}}
#ITEM_BODY#</tr>
[end]

[subtype title]
<tr><td colspan=20 class=subtype_row>
#SUBTYPE_NAME#:
</td></tr>
$SET_PARAMETERS old_subtype_id=#SUBTYPE_ID#;
[end]

[report header]
SQL_FIELDS:#SQL_FIELDS#<br><br><xmp>ITEM_BODY:#ITEM_BODY#</xmp><hr> ??debug=onXX
<br>
<script>
function mark_it(el){
	className=el.className;
	el.className="mark";
}

function unmark_it(el){
el.className=className;
}

function goView(event_id){
	frm.action.value='view';	
	frm.event_id.value=event_id;
	frm.submit();
}

</script>

$INCLUDE [style] ??
event_type=#event_type#; TYPE_ID=#TYPE_ID# ??

<table border=0 cellpadding=0 cellspacing=0>
<tr ><th class="headrow1" colspan=3>#EVENT_TYPE_NAME#:</th><th class="headrow2" colspan=200>&nbsp;</th></tr>
<tr><th class=colhead>Год</th>
<th class=colhead>Баллы</th>  	??USER_ROLE={{SA|GA}}
#HEADER_ROW#
</tr>
[end]

 ??WITH_SCORE&!old_type_id=#TYPE_ID# ??


[report footer]
</table>
[end]


[preSQLs]
select concat('<th class=colhead>',ifnull(name,'-'),'</th>') as "HEADER_ROW"

, case data_type 
	when 'int' then  concat(', v.', view_field_name, ' as "',view_field_name,'"')
	when 'date' then  concat(', DATE_FORMAT(v.',view_field_name,', ''#dateFormat#'') as "',view_field_name,'"')
	 else concat(', SUBSTRING(v.', view_field_name,',1,', ifnull(list_max_len,512), ') as "',view_field_name,'"')
	 end

as "SQL_FIELDS"

from event_vars
where type_id=#TYPE_ID# and list=1
and render is not null
order by sort
;
select concat('<td ', ifnull(list_td_params,''),' class=tde>##',view_field_name,'##&nbsp;</td>') as "ITEM_BODY"
from event_vars
where type_id=#TYPE_ID# and list=1
and render is not null
order by sort
;
select name as "EVENT_TYPE_NAME" from event_types where id=#TYPE_ID#
[end]


SUBTYPE_ID

[SQL]
select v.id as "ROW_ID", subtype_id as "SUBTYPE_ID", st.name as "SUBTYPE_NAME"
, DATE_FORMAT(date,'#dateVeryShortFormat#') as "EVENT_DATE"
, DATE_FORMAT(date,'%Y') as "EVENT_DATE" ??
, ball 
#SQL_FIELDS#
from event_values v left join event_subtypes st on st.id=v.subtype_id
where type_id=#TYPE_ID# 
and year(v.date)>=#YR_BEG# ??!vd=ac&YR_BEG
and year(v.date)<=#YR_END# ??!vd=ac&YR_END
$INCLUDE [AccTimeCriteria]	??vd=ac&YR_BEG|YR_END

and v.dat_ch is not null 
and v.id in (select event_id from person_event where person_id=0#id#)
order by subtype_id, date desc, d2 desc
[end]

[AccTimeCriteria]
	and (v.date>=str_to_date('01.01.#YR_BEG#','#dateShortFormat#') or ( 1=1  ??YR_BEG
		and exists(select evv.field_name from event_vars evv where evv.field_name='d2' and evv.type_id=v.type_id) ??YR_END
		and v.d2 is null or v.d2>=str_to_date('01.01.#YR_BEG#','#dateShortFormat#')) ??YR_BEG
		)  ??YR_BEG
	and v.date<=str_to_date('31.12.#YR_END#','#dateShortFormat#') ??YR_END
[end]
