[parameters]
service=dubna.walt.service.TableServiceSpecial
KeepLog=true 
table_beg=none
table_end=none
debug=ond
[end]

[style]
<style>
table.sc{border-right:1px solid ##333333; border-top:1px solid ##333333;}
th.sc{font-size:10pt; padding:3px; text-align:center; font-weight:bold; border:0px none; border-bottom: 1px solid ##333333;border-left: 1px solid ##333333;background-color:whitesmoke;}
td.sc{font-size:10pt;text-align:right; padding-right:5px; border:0px none; border-bottom: 1px solid ##333333;border-left: 1px solid ##333333;background-color:white;}
h3{font-size:12pt;}
</style>
[end]

$SET_PARAMETERS folder_id=1001 ??!folder_id

[report header]
<div id="results">
<br><i>Включены только научные работники (кроме совместителей)</i>
<blockquote>
<table class=sc border=0 cellspacing=0>
<tr valign=top>
	<th class=sc rowspan=2>&nbsp;<br>Подразделение</th>
	<th class=sc rowspan=2>К-во<br>научных<br>работников</th>
	<th class=sc colspan=2>Публикации</th>
	<th class=sc colspan=2>Деятельность</th>
	<th class=sc colspan=2>Всего</th>
</tr>
<tr>
	<td class=sc>Сумма</td>
	<td class=sc>Среднее</td>
	<td class=sc>Сумма</td>
	<td class=sc>Среднее</td>
	<td class=sc>Сумма</td>
	<td class=sc>Среднее</td>
</tr>
[end]

[report footer]
<tr>
<th class=sc align=right>Всего:</th>
$SET_PARAMETERS SUMSC=;SUMAC=;AVESC=;AVEAC=;SUMTTL=;AVETTL=;N=;
$GET_DATA [getTTLs]
$INCLUDE [cols]
</tr></table>
</blockquote>
</div>

<script>
try
{
window.parent.getResults(document.getElementById("results"), "docList"); 
} catch (e) { alert (e); }
</script>
[end]

[item]
$SET_PARAMETERS SUMSC=;SUMAC=;AVESC=;AVEAC=;SUMTTL=;AVETTL=;N=;
$GET_DATA [get values]
<tr><td class=sc><center>#NAME#</td> ??N>0
$INCLUDE [cols] ??N>0
</tr> ??N>0
[end]

[cols]
<td class=sc align=right>#N#&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td class=sc align=right>#SUMSC#&nbsp;</td>
<td class=sc align=right>#AVESC#&nbsp;</td>
<td class=sc align=right>#SUMAC#&nbsp;</td>
<td class=sc align=right>#AVEAC#&nbsp;</td>
<td class=sc align=right>#SUMTTL#&nbsp;</td>
<td class=sc align=right>#AVETTL#&nbsp;</td>
[end]


================================= SQLs ====================================
[preSQLs]
delete from ball_sum;
insert into ball_sum select * from ball_sum_;
[end]

[get values]
select count(p.id)as N 
from p_persons_post p 
where 
	p.otdel in (#CHILDREN#)
        and p.is_deleted != 1
	and p.usl_rab not in (356,357)
	and p.tip_dejat in(5)
;

select round(sum(bs.sc),0) as SUMSC,round(sum(bs.sc)/#N#,1) as AVESC
	, round(sum(bs.ac),0) as SUMAC, round(sum(bs.ac)/#N#,1) as AVEAC
	, round(SUM(bs.ttl),0) as SUMTTL, round(SUM(bs.ttl)/#N#,1) AS AVETTL
from p_persons_post ppp , ball_sum bs
where 
	otdel in (#CHILDREN#)
        and ppp.is_deleted != 1
	and ppp.usl_rab not in (356,357)
	and ppp.tip_dejat in(5)
	and ppp.id=bs.person_id
	------------------------------------------------------- ?? по идее, для фильтра лет в showSubdivisions
	and bs.yr between #YR_BEG# and #YR_END# ??YR_END&YR_BEG
	and bs.yr>=#YR_BEG# ??YR_BEG&!YR_END
	and bs.yr<=#YR_END# ??YR_END&!YR_BEG
------------------------------------------------------- ??
[end]


[getTTLs]
select getSubfolders(#folder_id#) as SUBS 
;
select count(p.id)as N 
from p_persons_post p 
where 
	p.otdel in (#SUBS#)
        and p.is_deleted != 1
	and p.usl_rab not in (356,357)
	and p.tip_dejat in(5)
;
select round(sum(bs.sc),0) as SUMSC, round(sum(bs.sc)/#N#,1) as AVESC
	, round(sum(bs.ac),0) as SUMAC, round(sum(bs.ac)/#N#,1) as AVEAC
	, round(SUM(bs.ttl),0) as SUMTTL, round(SUM(bs.ttl)/#N#,1) AS AVETTL
from 
	p_persons_post ppp 
	, ball_sum bs
where 
	otdel in (#SUBS#)
        and ppp.is_deleted != 1
	and ppp.usl_rab not in (356,357)
	and ppp.tip_dejat in(5)
	and ppp.id=bs.person_id
	and bs.yr between #YR_BEG# and #YR_END# ??YR_END&YR_BEG
	and bs.yr>=#YR_BEG# ??YR_BEG&!YR_END
	and bs.yr<=#YR_END# ??YR_END&!YR_BEG
[end]



[SQL]
select t.name as NAME, t.id as SUBID, getSubfolders(t.id) as CHILDREN 
from t_tree t 
where t.pid=#folder_id# and status='A'
;
[end]
