[parameters]
of=bin
service=jinr.pin.ServiceShowFile ??
service=dubna.walt.service.ServiceBinaryData ??
KeepLog=true ??
galleryLeft=0
logoLeft=180
shiftStep=4
photoHeight=70
sleepTime=3000
[end]


===== LOGO: ??
<div id="logoDiv" style="position:absolute; left=0; top=0;"
><a href="javascript:showGallery()">
<center><br><br>
<img src="#imgPath#photogall.gif" width=152 height=1 border=0>
<img src="#imgPath#photogall.gif" width=152 height=34 border=0>
</a></div>

onLoad_="doShift();" ??!showGallery=hide


[report]
$SET_PARAMETERS_SESSION showGallery=#cop#	??cop
<html><body 
style="margin:0; background-color:##e4f0f8; cursor:hand;" ??!showGallery=hide
style="margin:0; background-color:##e4f0f8;" ??showGallery=hide
>
$INCLUDE [gallery]  ??!showGallery=hide
$INCLUDE [logo]   	??showGallery=hide

</body></html>
[end]

[logo]
<center>
<a href="#ServletPath#?c=photos&folder_id=#folder_id#&cop=show">
<br><br><img src="#imgPath#photogall.gif" border=0>
</a>
</center>
[end]

[gallery]
$GET_DATA [getPhotos]
<a href="#ServletPath#?c=photogall&folder_id=#folder_id#" target=detail>
<div id="imgDiv" style="position:absolute; left=#galleryLeft#; top=0; border:solid red 1px;">
<img id=img0 height=#photoHeight# border=1 src="#imgPath#bg_blue.gif">
<img id=img1 height=#photoHeight# border=1 src="#imgPath#bg_blue.gif">
<img id=img2 height=#photoHeight# border=1 src="#imgPath#bg_blue.gif">
<img id=img3 height=#photoHeight# border=1 src="#imgPath#bg_blue.gif">
<img id=img4 height=#photoHeight# border=1 src="#imgPath#bg_blue.gif">
<img id=img5 height=#photoHeight# border=1 src="#imgPath#bg_blue.gif">
<img id=img6 height=#photoHeight# border=1 src="#imgPath#bg_blue.gif">
<img id=img7 height=#photoHeight# border=1 src="#imgPath#bg_blue.gif">
</div>

<div id="rDiv" style="position:absolute; left=0; top=0; border: solid 1px pink;">
<img src="#imgPath#photogall.gif" width=#logoLeft# height=10 border=0>
<img id=img_ width=135 height=70 border=0 src="#imgPath#gallery_70.gif" style="border-right:solid 2px gray;"
></a><img valign=top width=16 height=70 border=0 src="#imgPath#close_70.gif" alt="Убрать" onClick="hideGallery();"
></div>

function showGallery()
{ window.parent.showGallery();
}
</script>

[script]
<script>
var imgDiv = document.getElementById("imgDiv"); 
var imgList = new Array(#IDS#0);
var numPhotos = imgList.length-1;
numPhotos = 20;  //DEBUG ??
var numImages = (numPhotos>7) ? 7: numPhotos;
var imgSrc = new Array();

var nextShift = 10;
alert (numPhotos  + ":" +  numImages + ":" + imgList); ??

var currShift=0;

function setPhotos()
{ for (i=0; i<numImages; i++)
	{ img = document.getElementById("img" + i);
		j = (currShift + i) % numPhotos;
		if (j >= imgSrc.length)
		{
			alert (j);  ??
			imgSrc[j] = new Image();
			imgSrc[j].src = "#ServletPath#?c=showPhoto&thumb=Y&id=" + imgList[j];
			alert (j + ":" + imgSrc[j].src);  ??
		}
		img.src=imgSrc[j].src;
	}
}

function shiftDiv()
{ x = parseInt(imgDiv.style.left);
	if (x > #galleryLeft# - nextShift)
	{	imgDiv.style.left=x	- #shiftStep#;
		setTimeout("shiftDiv()", 5);
	}
	else
	{ 
		img = document.getElementById("img1");
		nextShift = img.width;
		shiftPhotos();
		imgDiv.style.left=#galleryLeft#;
		setTimeout("shiftDiv()", #sleepTime#);
	}
}

function shiftPhotos()
{ currShift++;
	if (currShift >= numPhotos+3) currShift=3;
	setPhotos();
	setTimeout("shiftPhotos()", 3000);	??
}


function hideGallery()
{	cop="hide";
	alert ("hide"); ??
	window.location.href = "#servletPath#?c=photos&folder_id=#folder_id#&cop=hide"; 
}

function initialLoad()
{
	for (i=0; i<3; i++)
	{ imgSrc[i] = new Image();
		imgSrc[i].src = src="#imgPath#bg_blue.gif";
	}
	if (numImages > 3)	
	{	for (i=3; i<numImages; i++)
		{ imgSrc[i] = new Image();
			imgSrc[i].src = "#ServletPath#?c=showPhoto&thumb=Y&id=" + imgList[i];
		}
	}
	setPhotos();
	setTimeout("shiftDiv()", 5000);	
}

initialLoad(); ??!showGallery=hide

</script>
[end]


[getPhotos]
select name as "DIV_NAME", getSubfolders(#folder_id#) as "listOfChildren" from t_tree where id=#folder_id#;	??folder_id
;
select concat(id,',') as IDS 
from p_photos 
where id >0 
and person_id in (select id from p_persons_post where otdel in(#listOfChildren#) and is_deleted != 1 ) ??listOfChildren
ORDER BY RAND() ??
;
select count(*) as "NUM_PHOTOS"
from p_photos 
where id >0 
and person_id in (select id from p_persons_post where otdel in(#listOfChildren#) and is_deleted != 1 ) ??listOfChildren
;
[end]



