[parameters]
of=bin
service=jinr.pin.ServiceShowFile ??
service=dubna.walt.service.ServiceBinaryData ??
KeepLog=true 
galleryLeft=0
logoLeft=150
shiftStep=4
photoHeight=70
sleepTime=3000
[end]

onClick="showGallery();"  ??!showGallery=hide

[report]
$SET_PARAMETERS_SESSION showGallery=#cop#	??cop
<html><body 
style="margin:0; background-color:##e4f0f8; cursor:hand;" ??!showGallery=hide
style="margin:0; background-color:##e4f0f8;" ??showGallery=hide
onLoad="doShift();" ??!showGallery=hide
>

$INCLUDE [galImgs]  ??!showGallery=hide

<a href="#ServletPath#?c=photogall&folder_id=#folder_id#" target=detail> ??showGallery=hide_XXX


<div id="logoDiv" style="position:absolute; z-index:3; left=#logoLeft#; top=0;  height=#photoHeight#;"
>
<a href="javascript:showGallery()">
<center><br><br>
<img src="#imgPath#photogall.gif" width=152 height=34 border=0>
<font color=80D0FF><br><br><b>Фотогалерея </b></font><br> ??
</a>
</div>

$INCLUDE [script]   ??!showGallery=hide
<script>
function showGallery()
{ window.parent.showGallery();
//	window.location.href = "#ServletPath#?c=photos&folder_id=#folder_id#&cop=show&tm=#tm#";
}

</script>
</body></html>
[end]

[galImgs]
$GET_DATA [getPhotos]

<a href="#ServletPath#?c=photogall&folder_id=#folder_id#" target=detail>
<div id="imgDiv" style="position:absolute; z-index:1; left=#galleryLeft#; top=0;">
<img id=img1 height=#photoHeight# border=0 src="#imgPath#bg_blue.gif">
<img id=img2 height=#photoHeight# border=0 src="#imgPath#bg_blue.gif">
<img id=img3 height=#photoHeight# border=0 src="#imgPath#bg_blue.gif">
<img id=img4 height=#photoHeight# border=0 src="#imgPath#bg_blue.gif">
<img id=img5 height=#photoHeight# border=0 src="#imgPath#bg_blue.gif">
<img id=img6 height=#photoHeight# border=0 src="#imgPath#bg_blue.gif">
<img id=img7 height=#photoHeight# border=0 src="#imgPath#bg_blue.gif">
</div>

<div id="rDiv" style="position:absolute; z-index:2; left=196; top=0; border-left: solid 2px white;">
<img id=img0 width=135 height=70 border=0 src="#imgPath#gallery_70.gif" style="border-right:solid 2px gray;">
</div>
[end]


[script]
<div style="position:absolute; z-index:2; left=335; top=0; height:70; background-color:##e4f0f8; border:none 1px gray;" onClick="hideGallery();">
<img width=16 height=16 border=0 src="#imgPath#close.gif" alt="Убрать">
</div>


<script>
var imgDiv = document.getElementById("imgDiv");
var imgList = new Array(#IDS#0);
var numPhotos = imgList.length-1;
var numImages = (numPhotos>7) ? 7: numPhotos;
var nextShift=0;
var cop="";

alert ("#cop#"); ??
alert (numPhotos  + ":" +  numImages + ":" + imgList); ??

function hideGallery()
{	cop="hide";
	window.location.href = "#servletPath#?c=photos&folder_id=#folder_id#&cop=hide&tm=#tm#";
}

function doShift()
{ x = parseInt(imgDiv.style.left);
	if (x > #galleryLeft# - nextShift)
	{	imgDiv.style.left=x	- #shiftStep#;
		setTimeout("doShift()", 5);
	}
	else
	{ 
		img = document.getElementById("img2");
		nextShift = img.width;
		shiftPhotos();
		imgDiv.style.left=#galleryLeft#;
		showPhoto(7,imgList[startIndex++]);
		if (startIndex >= numPhotos)
			startIndex = 0;
		setTimeout("doShift()", #sleepTime#);
	}
}

function showPhoto(imgId, id)
{ // alert (id);
	img = document.getElementById("img" + imgId);
	var tm = (new Date()).getTime();
	img.src = "#ServletPath#?c=showPhoto&thumb=Y&id=" + id;
}

function shiftPhotos()
{	k = 5-numImages; 
	k = (k<1) ? 1: k;
	for (n=k; n<7; n++)
	{ n2 = n + 1;
		im1 = document.getElementById("img" + n);
		im2 = document.getElementById("img" + n2);
		im1.width=im2.width;
		im1.src=im2.src;
	}
}

startIndex=0;
showPhoto(7,imgList[startIndex++]);    ??!showGallery=hide
shiftPhotos(); showPhoto(7,imgList[startIndex++]); ??
</script>
[end]


[getPhotos]
select name as "DIV_NAME", getSubfolders(#folder_id#) as "listOfChildren" from t_tree where id=#folder_id#;	??folder_id
;
select concat(id,',') as IDS 
from p_photos 
where id >0 
and person_id in (select id from p_persons_post where otdel in(#listOfChildren#) and is_deleted != 1 ) ??listOfChildren
ORDER BY RAND()
;
select count(*) as "NUM_PHOTOS"
from p_photos 
where id >0 
and person_id in (select id from p_persons_post where otdel in(#listOfChildren#) and is_deleted != 1 ) ??listOfChildren
;
[end]



============= XXXXXXXXXXxx =============

function XXXshowPhotos()
{	
	for (i=1; i<7; i++)
	{ if (i + startIndex > numPhotos)
			startIndex = 1-i;
		if (i + startIndex < 1)
			startIndex = 1+i;
		showPhoto(i,imgList[i + startIndex]);
	}
	startIndex++;
}

showPhotos(); ??


select concat(' &nbsp; <a href="javascript:showPhoto(',id,')">',id,'</a> ') as "PHOTO_LIST"
from p_photos
where id in(SELECT photo_id from p_persons where photo_id is not null)
and id>0
order by id
;

select concat(' &nbsp; <a href="javascript:showPhoto(',id,')">',id,'</a> ') as "X_PHOTO_LIST"
from p_photos
where 
id not in(SELECT photo_id from p_persons where photo_id is not null)
order by id
;
select concat(' &nbsp; <img src="#ServletPath#?c=showPhoto&id=', cast(ph.id as char)
,'" border=1 width=100 alt="',
p.name, ' ', p.name1, ' ', p.name2 ,'">',' ') as "PHOTO_GAL"
from p_photos ph join p_persons p on p.id=ph.person_id
where ph.id>0
order by p.name, p.name1 
ph.id ??
;

