[parameters]
[end]


[report]
$GET_DATA [data]
$SET_PARAMETERS_SESSION showGallery=show
<style>
.lab {padding-left:5px; padding-bottom:5px; padding-right:2px; margin-left:5px; margin-right:5px; 
margin-bottom:15px;  border-width: 2px; border-style: outset; background-color:white;}
.desc {_border-width: 3px; border-left: solid 2px gray; border-style: outset;} ??
.desc {margin-bottom:5px; border-left: solid 2px whitesmoke; border-top: solid 2px whitesmoke; border-right: solid 2px ##808080; border-bottom: solid 2px ##808080; }
table.tabl {display:inline; margin:0;}
a.p {color:000090; cursor:pointer; padding:3px;}
a.p {color:000090; cursor:pointer; margin:15px; padding-top:15px; } ??
a.p:link {color:000090; }
A.p:unknown {COLOR: 000090; }
A.p:visited {color: 000090; }
A.p:active {	COLOR: 000090;}
A.p:hover {  color: C00000; background-color:FFFFC0;}
</style>
<br><br><center>
#PHOTO_GAL#
</center>
<script>
function showPerson(id)
{ //	alert(id);
	top.loadFrame("popup", "#ServletPath#?c=persons/showPerson&folder_id=#folder_id#&id=" + id);
}
</script>
[end]

[SQL]



[end]

[data]
$INCLUDE persons/list_#DB#.dat[preSQLs]
;

select distinct t.* from (
select 
concat('<a class=p href="javascript:showPerson(',cast(ph.person_id as char)
	,')"><img src="#ServletPath#?c=showPhoto&thumb=Y&id=', cast(max(ph.id) as char)
	,'" _width=100 _height=140 border=0 alt="',
	p.name1, ' ', p.name2, ' ', p.name
	,'" class=desc></a> ') 
	as "PHOTO_GAL"
from p_photos ph join p_persons p on p.id=ph.person_id
where ph.id>0
	and person_id in (select id from p_persons_post where otdel in(#listOfChildren#) and is_deleted != 1) ??listOfChildren
group by ph.person_id,p.name1,p.name2,p.name
order by p.name, p.name1 
) t
ph.id ??
;

[end]

[x_preSQLs]
select 
concat('<a class=p href="" onClick="javascript:showPerson(',cast(ph.person_id as char)
	,')"><table border=0 cellpadding=0 cellspacing=0 class=tabl><tr><td><center><img src="#ServletPath#?c=showPhoto&thumb=Y&id=', cast(ph.id as char)
	,'" _width=100 _height=140 alt="',
	p.name, ' ', p.name1, ' ', p.name2 
	,'" class=desc>'
	,'</td></tr><tr><td><div class=lab>', p.name1, '<br>', p.name2, if(length(p.name2) > 1,'<br>',''),'<b>',p.name, if(length(p.name2) < 2,'<br>&nbsp;','')
	,'</div></td></tr></table></a> ') 
	as "PHOTO_GAL"
from p_photos ph join p_persons p on p.id=ph.person_id
where ph.id>0
	and person_id in (select id from p_persons_post where otdel in(#listOfChildren#) and is_deleted != 1 ) ??listOfChildren
order by p.name, p.name1 
ph.id ??
;

[end]