[parameters]
debug=on ??
[end]


[report]
$SET_PARAMETERS UID=; oper=reset
$GET_DATA [get Request]
$PRINT =====>>> RESET PASSWORD  ??UID&!PROCESSED&!OLD=1&!cancel=1
$CALL_SERVICE c=users/setPW; cop=g; ??UID&!PROCESSED&!OLD=1&!cancel=1
$INCLUDE [errMsg] ??!UID|PROCESSED|OLD=1|cancel=1
[end]


[errMsg]
$INCLUDE common.dat[head]
$GET_DATA [cancelSQL] ??cancel=1
<body><blockquote style="padding:80px;">
<i>Запрос на сброс пароля ПИН</i>
<form name="theForm">
<input type=hidden name=c value="#c#">
</form>
<table><tr><td class=big>
<br>
<img src="#imgPath#alert.gif"> <b>ОШИБКА:</b> ??!cancel=1
<b>Запрос
не найден! ??!UID
уже обработан!</b><small><br><br>#PROCESSED_DATE#, #IP# ??PROCESSED&!cancel=1
уже отменен!</b><small><br><br>#PROCESSED_DATE#, #IP# ??PROCESSED&cancel=1
просрочен!</b> ??OLD=1&!PROCESSED
отменен пользователем ??cancel=1&!PROCESSED&!OLD=1
</b><br><br>
</td></tr></table>
$INCLUDE common.dat[butt] param: label=Закрыть; onClick=window.location.href="/pin/pin";  width=80;
</blockquote>
</body></html>
[end]


[get Request]
try: select user_id as "UID"
, reset_processed as "PROCESSED"
, (date < DATE_SUB(now(), interval 1 HOUR)) as "OLD"
, DATE_FORMAT(date,'#dateTimeFormat#') as "PROCESSED_DATE"
, client_ip as "IP", 'reset' as "oper", '1' as "R_ADMIN"

from resetpassword 
where id=#id# and hash='#key#'
;
[end]

[cancelSQL]
update resetpassword
set cancelled=1, reset_processed=now(), client_ip='#ClientIP#'
where id=#id# and hash='#key#'
[end]