[parameters]
thsnDelimiter=N
service=dubna.walt.service.TableServiceSimple	
sortCols=ID
makeSubtotals=y
noRepeatHeaders=y ??
hide_headers=y 
numDigits=1
markColor=whitesmoke
selColor=lightGrey
keepLog=true
unicodeHeaders=y
makeTotalsForCols=Баллы
totRowLabel=Итого баллов
table_beg=<table border=0 cellspacing=0 cellpadding=5 width=100% style="border-bottom: 1px solid black">
table_end=</table>
[end]

[report header]

[end]


[item]

[end]




[report footer]
$INCLUDE [SQL] ??
<br>
<br>

[end]


[SQL]
SELECT 
concat('<b>',event_subtypes.name,'</b>')
,date_format(date,'#dateVeryShortFormat#') as `Дата`,
concat('<a href=''javascript:goView(',event_values.id,')''>&gt;&gt;&gt;&gt;&gt;&gt;</a>') as `Просмотр`
ball as `Баллы`, 
#SQLPART#
'1'
FROM
event_values,
event_subtypes
where
event_values.type_id=#TYPE_ID#
and event_values.subtype_id=event_subtypes.id
and person_id1=#PERSON_ID#
order by 
event_subtypes.id
[end]