[parameters]
dateShortFormat=%d.%m.%Y
service=dubna.walt.service.TableServiceSpecial
debug=ons
table_beg=none
table_end=none
[end]

[date-m-y]
<style>
.good{padding:0px; border: 2px solid green;}
.bad{padding:0px;border: 2px solid red;}
.spn{padding:0px;border: 2px none;}
</style>

<select name="#FIELD_NAME#_M" onchange="#FIELD_NAME#_ch()">
<option value='0'>-</option> ??!MUST_BE_SET
<option value='1'>январь</option>
<option value='2'>февраль</option>
<option value='3'>март</option>
<option value='4'>апрель</option>
<option value='5'>май</option>
<option value='6'>июнь</option>
<option value='7'>июль</option>
<option value='8'>август</option>
<option value='9'>сентябрь</option>
<option value='10'>октябрь</option>
<option value='11'>ноябрь</option>
<option value='12'>декабрь</option>
</select>
&nbsp;
<input name="#FIELD_NAME#_Y"  type="text" size="4" MAXLENGTH="4" onchange="#FIELD_NAME#_ch()">&nbsp;г.
$SET_PARAMETERS VAL=
$GET_DATA [get entered value]

<input name="#FIELD_NAME#"  type="hidden" value="">
<script>
function #FIELD_NAME#_ch(){
dt='01.';
	if(document.theForm.#FIELD_NAME#_M.value.length>0){
		dt+=document.theForm.#FIELD_NAME#_M.value;
	}
	if(document.theForm.#FIELD_NAME#_Y.value.length==4){
		dt+='.'+document.theForm.#FIELD_NAME#_Y.value;
	}
	if ((document.theForm.#FIELD_NAME#_M.value.length>0)&&(document.theForm.#FIELD_NAME#_Y.value.length==4)){
	document.theForm.#FIELD_NAME#.value=dt;
	}else{
		document.theForm.#FIELD_NAME#.value='';
	}

}

function set_#FIELD_NAME#_value(){
	val1="#VAL#";
	arr=val1.split('.');

	if(arr.length==3){
//		alert(arr[1]);
		selectOptionByVal(document.theForm.#FIELD_NAME#_M,arr[1]); 
//		alert(arr[2]);		
		document.theForm.#FIELD_NAME#_Y.value=arr[2];
		document.theForm.#FIELD_NAME#.value=val1;
	}
}
set_#FIELD_NAME#_value();
</script>
[end]

[dat_val]
SELECT concat('##',#FIELD_NAME#,'##')
[end]

[kill empty]
delete from event_values 
where dat_ch IS null 
	AND dat_cr < date_sub(now(), INTERVAL 1 day)
;
delete from person_event 
where event_id not in (select id from event_values);
commit;
[end]

[report header]
<html>
<title>Справочник публикаций</title>
<head>
<style>
table.search{ border: solid ##ADADAD 1px; padding:0px; margin:0px; font: 10pt Arial; background-color:whitesmoke;}
table.list{font: 10pt Arial;}
table.output{	border-bottom:1px solid ##ADADAD;	border-left:1px solid ##ADADAD;	font: 10pt Arial;}
.output th {	text-align: center;	border-top:1px solid ##ADADAD;	border-right:1px solid ##ADADAD;	text-decoration: none;}
.output td { border-top:1px  solid ADADAD; border-right:1px solid ADADAD; background-color: white; }
.output span.head { float: left; border: none; width: 100%; heigth: 100%; }
</style>

<LINK REL=STYLESHEET TYPE="text/css" HREF="#ServletPath#?c=css/css">  
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#form.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#cal2.js"></SCRIPT>
</head>

<body >
<center> <br>
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="return doSearch();">
<input name="c" type="hidden" value="#c#">
<input name="FORM_HAS_ERROR" type="hidden" value="">
<input type="hidden" name="backCFG" value="#c#">
<input name="action" type="hidden" value="">
<input name="assigned" type="hidden" value="">
<input name="event_id" type="hidden" value="">

<div id=ResultTable style="display:block">

<table class="search" border="0" cellpadding="5" cellspacing="0">
<tr><td colspan3 class=headrow2 align=center><b>Поиск</b></td></tr>
$INCLUDE [type select]
<tr>
<td align=right>Дата:</td>
<td>с
$INCLUDE [date-m-y] param: FIELD_NAME=DATE1
[по
$INCLUDE [date-m-y] param: FIELD_NAME=DATE2
]
$INCLUDE common.dat[dat between] param: fd_name1=DATE1; fd_val1=#DATE1#; fd_name2=DATE2; fd_val2=#DATE2#; class=xp; yr1=-50; yr2=0; onChange=protectDateValue(this,'#DATE1#');   ??
$INCLUDE common.dat[date-m-y] param: FIELD_NAME=DATE; D_MNTH=#DATE_MNTH#;D_YR=#DATE_YR#;MUST_BE_SET=Y;
</td>

[end]

[report footer]

$SET_PARAMETERS_SESSION S_DATE1=#DATE1#; S_DATE2=#DATE2#
<tr>
<td colspan=2 align=right>
$INCLUDE common.dat[butt] param: label=Искать; onClick=doSearch();   img=table1.gif; width=90;
&nbsp;&nbsp;
$INCLUDE common.dat[butt] param: label=Закрыть; onClick=top.window.close();   img=del_cross.gif; width=90;

<br>&nbsp;
</td>

</tr></table>
<br>
<script>

var frm=document.theForm;

function doSearch()
{	document.getElementById("ResultTable").style.display="none";
	frm.action.value="search";
	frm.submit();
	return false;
}

function doChangeType(){
	frm.action.value="change_type";
	frm.submit();
}

function doAssign(id)
{	// if (confirm("Привязать публикацию?"))
	{	top.window.opener.doAssignSearchedEvent(id);
		top.window.close();
	}
}

function protectDateValue(dat,labl)
{ checkDate(dat.name,labl,false);
}

selectOptionByVal(frm.TYPE_ID,'#TYPE_ID#');
</script>


$GET_DATA [prepare SQL]

$CALL_SERVICE c=typeSearchList; ??action=search
</div>
</form>
</body>
</html>
$GET_DATA [kill empty] ??action=search
[end]



[debug]
thisSQL: ??
$INCLUDE [SQL]  ??
<br>-- ??

<br> ??
F_EXPRESSION: #F_EXPRESSION#  
<br>   <br>   <br>   <br>		<br>						
F_CRITERIA: #F_CRITERIA#   
<br>   				
SQL: ??
<br>			??
<pre>			??
$INCLUDE typeSearchList[SQL] ??
</pre> ??
[end]


[prepare SQL]
SELECT  
case 
	when isc.data_type ='varchar' or isc.data_type ='text' then concat(', evrs.VIEW_FIELD_NAME,' as `',UPPER(evrs.NAME),'` ') ??
	when isc.data_type ='varchar' or isc.data_type ='text' then concat(', SUBSTRING(',evrs.VIEW_FIELD_NAME,',1,',ifnull(evrs.list_max_len,512000),') as `',UPPER(evrs.NAME),'` ')  
	when isc.data_type ='date' then concat(', DATE_FORMAT(',evrs.VIEW_FIELD_NAME,',''#dateShortFormat#'') as `',UPPER(evrs.NAME),'` ')  ??
end as F_EXPRESSION
from event_vars evrs 
	join information_schema.columns isc 
		on (isc.column_name=evrs.VIEW_FIELD_NAME 
				and isc.table_name='event_values'
				and isc.table_schema='#database#'
			)
where 
evrs.type_id=#TYPE_ID# 
and 
	(isc.data_type='varchar' or isc.data_type='text' or isc.data_type='date')  
and
	evrs.list=1
and 
	evrs.render is not null

order by 
evrs.sort
;

SELECT
case 
	when isc.data_type ='varchar' or isc.data_type ='text' 
		then concat('UPPER(IFNULL(',evrs.VIEW_FIELD_NAME,','''')) LIKE UPPER(''%##F_',evrs.VIEW_FIELD_NAME,'##%'') and ') 
	when isc.data_type ='date' 
		then concat(evrs.VIEW_FIELD_NAME,'=
			case when LENGTH(''##F_',evrs.VIEW_FIELD_NAME,'##'')=0 
				then #FIELD_NAME# else STR_TO_DATE(''##F_',evrs.FIELD_NAME,'##'',''#dateShortFormat#'')end and ')

end  as F_CRITERIA	



from event_vars evrs 
	join information_schema.columns isc 
		on (isc.column_name=evrs.VIEW_FIELD_NAME 
				and isc.table_name='event_values'
				and isc.table_schema='#database#'
			)
where 
evrs.type_id=#TYPE_ID# 
and 
	(isc.data_type='varchar' or isc.data_type='text' or isc.data_type='date')  
and
	evrs.searchable=1
and 
	evrs.render is not null
order by 
evrs.sort
;

[end]

[item]
$GET_DATA [get entered value] 
<tr>
<td align=right>	
#VAR_NAME#:
</td>
<td>
$INCLUDE [int] ??DATA_TYPE=int
$INCLUDE [float] ??DATA_TYPE=float
$INCLUDE [varchar] ??DATA_TYPE=varchar|DATA_TYPE=text
$INCLUDE [date] ??DATA_TYPE=date
</td>
[end]



[date]
$INCLUDE common.dat[dat] param: fd_name=#FIELD_NAME#; fd_val=#VAL#; yr1=-60; yr2=10; class=xpg; onChange=protectDateValue(this,'#VAR_NAME#'); ??!action=change_type
$INCLUDE common.dat[dat] param: fd_name=#FIELD_NAME#; fd_val=; yr1=-60; yr2=10; class=xpg; onChange=protectDateValue(this,'#VAR_NAME#'); ??action=change_type
[end]

[int]
<input type="text" id="#FIELD_NAME#"  name="#FIELD_NAME#" value="#VAL#" 
onKeyPress="return mustBeInt(this);">
[end]

[float]
<input type="text" id="#FIELD_NAME#"  name="#FIELD_NAME#" value="#VAL#" size=15
onKeyPress="return mustBeNumeric(this);">
[end]

[varchar]
$SET_PARAMETERS_SESSION S_#FIELD_NAME#=#VAL# ??!action=change_type
$SET_PARAMETERS_SESSION S_#FIELD_NAME#=	   ??action=change_type
<input type="text" class=xp id="#FIELD_NAME#" name="#FIELD_NAME#" 
value="#VAL#" ??!action=change_type
size=55 ??!VCFS
size=#VCFS# ??VCFS
MAXLENGTH="#CML#">
[end]


[get entered value]
select concat('##','#FIELD_NAME#','##') as VAL; ??!action=back
select concat('##','S_#FIELD_NAME#','##') as VAL; ??action=back
[end]


[type select]
<tr><td align="right">Тип:</td>
<td><select name="TYPE_ID" onchange="doChangeType()">
$GET_DATA [get types sql]
#OPTS_TYPE#
</select>
</td>
<td rowspan=5 bgcolor=white>
Задайте критерий поиска<br>(заполните любые поля)<br> и нажмите кнопку "Искать"<br><br>
Рекомендуется задавать<br>фрагмент названия<br>и / или фамилию<br>одного из авторов.
$INCLUDE common.dat[hidden submit]
</td>
[end]

[get types sql]
select concat('<option value="',cast(id as char),'">',name,'</option>') as OPTS_TYPE from event_types where tab='sc' order by sort;
[end]


[SQL]
select 
evrs.name as VAR_NAME
, concat('F_',evrs.VIEW_FIELD_NAME) as FIELD_NAME
, isc.data_type as DATA_TYPE
, concat('##','#FIELD_NAME#','##') as VAL1
from 
event_vars evrs 
, information_schema.columns isc
where 
isc.table_name='event_values'
and isc.TABLE_SCHEMA='#database#'
and evrs.type_id=#TYPE_ID# ??TYPE_ID
and evrs.type_id=1 ??!TYPE_ID
and evrs.searchable=1
and evrs.render=1
and isc.column_name=evrs.VIEW_FIELD_NAME
and 
	(isc.data_type='varchar' or isc.data_type='text' 
	or isc.data_type='date' ??
	)
order by 
evrs.sort 
[end]


















































































[get sql part]
select 
evrs.VIEW_FIELD_NAME
, evrs.list_max_len
,CONCAT( CASE 
WHEN data_type='float' THEN 
     CONCAT('ROUND(',evrs.field_name,',2)')
WHEN data_type='int' THEN
     evrs.field_name
WHEN data_type='varchar' OR data_type='text' THEN
     CONCAT('CASE WHEN LENGTH(',VIEW_FIELD_NAME,') > ',ifnull(list_max_len,512),' THEN concat(substring(',VIEW_FIELD_NAME,',1,',ifnull(list_max_len,512),'),'' ...'') ELSE ',VIEW_FIELD_NAME,' END')
WHEN data_type='date' THEN
     CONCAT('DATE_FORMAT(',field_name,',''%d.%m.%Y'')')
     
ELSE 
     NULL
END,' as ',QUOTE(name),', ')
AS SQLPART
, CONCAT('<th>',evrs.name,'</th>') as type_headers
, isc.data_type  
from 
pin.event_vars evrs
, information_schema.columns isc 
where 
type_id=1
and isc.table_name='event_values'
and isc.COLUMN_NAME=evrs.VIEW_FIELD_NAME
and list=1
and render=1
order by 
evrs.sort
;
[end]