[comments]
descr=A: Вывод списка документов, ожидающих визтирования (вывод самой таблицы)

input=
output=HTML таблица документов
parents=admin/tab_monitor
childs=
testURL=?c=admin/monitor/docs_list_table
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial
request_name=A:Монитор
tableCfg=table_no
$INCLUDE dat/common.dat[rowLinks]
[end]


[report header]
+++++++ временно - открыто всем. Потом - проверить R и RW права пользователя +++ ??
$SET_PARAMETERS RWACC=Y; RACC=Y;
$INCLUDE [OK report header]  ??RACC
[end]


[OK report header]
+++++++ сортировка таблицы по умолчанию ++++ ??
$SET_PARAMETERS srt=-dh.modified; desc=desc; ??!srt
+++++++ начальная строка и кол-во строк на странице по умолчанию ++++ ??
$SET_PARAMETERS srn=1; rpp=20;  ??!srn

<div id="result_table">
admin/monitor/docs_list_table ??debug=on                                                 	
<center>
<input type=hidden name="srn" value="#srn#"> 
<input type=hidden name="srt" value="#srt#">
<input type=hidden name="desc" value="#desc#">

++++++++++++++++++ Шапка таблицы пользователей +++++++++++++++++++++ ??
<table class=tlist cellspacing=0>
<tr>
<th class="srh" sr="dh.ID">id</th>
<th class="srh" sr="dh.TYPE_ID">Тип</th>
<th class="srh" sr="dh.NUMBER">№</th>
<th class="srh" sr="dh.TITLE">Заголовок</th>
<th class="srh" sr="dh.created">Создан</th>
<th class="srh" sr="dh.modified">Изменён</th>
<th class="srh" sr="-dh.modified">Ожидает</th>
<th >Визирование</th>
</tr>
[end]


[item]
++++++++++++++++++ Строка таблицы - 1 документ +++++++++++++++++++++ ??
<tr class="
oddRow ??oddRow=1
pcmd ??
bg_red ??is_deleted=1
" 
cmd="c=docs/docs_edit&doc_id=#ID#" ??
>
<td class=small>#ID#</td> 
<td>#DOC_TYPE#</td>
<td>#NUMBER#</td>
<td class=pt>#TITLE#</td>
<td>#CREATED#, #CREATOR#</td>
<td>#MODIFIED#, #MODIFIER#</td>
<td class="pt
bg_red ??WAITING_LEVEL=LONG
" onClick="showLoading('monitor_content'); loadFrame('c=wf/show_wf_for_doc_adm&doc_id=#ID#');">
#WAITING#ч,

$CALL_SERVICE c=wf/show_wf_status; doc_id=#ID#; show_persons=Y;
</td> </tr>
[end]


[report footer]
<tr><td colspan=8 class="pager">
$INCLUDE dat/common.dat[rpp]  ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0
</td></tr>
</table>
</div>

+++++++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("content_table", document.getElementById("result_table"));
window.parent.makeTableCfg="admin/monitor/docs_list_table";
--------- Отображение сортировки в заголовке таблицы ----- ??
window.parent.showSrt("#srt#","sup"); ??!desc
window.parent.showSrt("#srt#","sdown"); ??desc
</script>
[end]


***************************** Шаблон SQL запроса ***************************
[SQL]
select
dh.ID, dh.TYPE_ID, dtp.NAME AS DOC_TYPE, dh.is_deleted
, dh.NUMBER, dh.TITLE
, DATE_FORMAT(dh.created,'#dateTimeFormat#') as CREATED 
, DATE_FORMAT(dh.MODIFIED,'#dateTimeFormat#') as MODIFIED
, dh.creator_id
, concat(LEFT(ucr.I,1), '.', LEFT(ucr.O,1) ,'.', ucr.F) as CREATOR
, concat(LEFT(um.I,1), '.', LEFT(um.O,1) ,'.', um.F) as MODIFIER
, TIMESTAMPDIFF(hour, dh.modified, now()) AS WAITING 
, case when TIMESTAMPDIFF(hour, dh.modified, now()) > 24 then 'LONG'
else 'SHORT'
end
AS WAITING_LEVEL 
from d_list dh
left join d_types dtp on dtp.Id = dh.type_id
left join #table_users_full# ucr on ucr.id=dh.creator_id 
left join #table_users_full# um on um.id=dh.modifier_id 
where dh.ID>0
and dh.NUMBER like '#f_doc_number#%' ??f_doc_number
and dh.TITLE like '#f_doc_title#%' ??f_doc_title
and dh.TYPE_ID = #f_type_id# ??f_type_id
and dh.creator_id=#f_initiator_id# ??f_initiator_id
order by #srt# #desc#
[end]