[parameters]
debug=off
service=dubna.walt.service.TableServiceSpecial
table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
[end]

[report header]

<div 
style="overflow: auto; height: 400px;" ??!show_full_size
>
          <table cellspacing=0 cellpadding=0 border=0>
<input type=hidden name=PersonsToAdd>
[end]

[report footer]
</table>
</div>


[end]

[item]
<tr>
<td >
<input type=checkbox name=PersonsToAdd value='#ID#' 
onclick="try{docCh();}catch(e){}" style="margin:0px; padding:0px;"
>
</td>
$INCLUDE [person]  ??!IS_GROUP
$INCLUDE [group]   ??IS_GROUP

</tr>
[end]

[person]

<td nowrap>

<a title="Ф.И.О. : #LASTNAME# #FIRSTNAME# #OTCHESTVO# 
Должность: #POST# 		??POST
Лаборатория : #DIV# 	??DIV
Почта: #EMAIL# 			??EMAIL
">
<img src='#imgPath#/small/user.gif' border='0' >
#LASTNAME# 
#FN1L#. ??FN1L 
#OT1L#. ??OT1L
</a>
</td>
[end]

[group]
$SET_PARAMETERS MEMBERS=; 
$GET_DATA [get members]

<td class=group nowrap>
<a 
title='Члены группы:  ??MEMBERS
#MEMBERS#' 			  ??MEMBERS
title='пустая группа' ??!MEMBERS
>
<img src='#imgPath#/small/user_group.gif' border=0>
#LASTNAME#
</a>
</td>
[end]

[SQL]
SELECT 
p.ID as ID
, p.LASTNAME as LASTNAME
, P.IS_GROUP AS IS_GROUP
, p.FIRSTNAME as FIRSTNAME
, p.OTCHESTVO as OTCHESTVO
, p.POST as POST
,SUBSTR(p.FIRSTNAME,1,1)as FN1L
,SUBSTR(p.OTCHESTVO,1,1)as OT1L
, p.EMAIL  as EMAIL
,l.div as DIV
from 
persons p,
labs l  
where
to_number(p.labcode)=to_number(l.code(+))
and p.id not in (0,#PersonsToAdd#)  ??xxxPersonsToAdd
and p.is_group is null ??NoGroups
and p.is_group is not null ??NoPersons
order by 
is_GROUP, 
p.LASTNAME||' '||FN1L||'. '||OT1L||'. '
[end]

[get members]
SELECT 
p.LASTNAME||' '||p.FIRSTNAME||' '||p.OTCHESTVO||CHR(13) as MEMBERS
from 
 persons p
, person_group pg
where 
pg.person_id=p.id
and pg.group_id=#ID#
[end]

