[parameters]
service=dubna.walt.service.TableServiceSpecial
table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
[end]


[item]
<input type="checkbox" name="CHECKBOX_L" value="#CHECKBOXES_L#=1" 
checked ??#CHECKBOXES_L#=1
disabled ??!ENABLED_L=1
>#LABELS_L#<br>
[end]


[report footer] param: wrap=true
$SET_PARAMETERS srt=REGNUM; desc=DESC ??!srt
$INCLUDE doc/search_fields.dat[sort field]
<script>
function setParam(){
}
selectOptionByVal(document.theForm.srt, "#srt#"); ??srt
</script>
[end]

======================== SQLs =========================
[preSQLs]
$INCLUDE [update script]  ??cop=u
select * from NODELIST_FIELDS where node_id=#activeNode#;
select srt as "srt", des as "desc" from list_srt where node_id=#activeNode#
[end]

[SQL]
select 
FIELD  as CHECKBOXES_L, fd.descr as LABELS_L, list as "ENABLED_L"
from  fields_descr fd
where position is not null and position>0 
 and list>0 ??
order by position
[end]

[update script]
select count(*) as NUM_NODE_RECORDS from NODELIST_FIELDS where node_id=#activeNode#;
delete from NODELIST_FIELDS where node_id=#activeNode#; ??!NODELIST_FIELDS=1&!NODELIST_FIELDS=0
;
insert into NODELIST_FIELDS (node_id) values (#activeNode#) ??!NODELIST_FIELDS=1
;
select ','||field||'=0' as S  from FIELDS_DESCR 
where position is not null and position>0 
 and list>0
;
select SUBSTR ('#S#',2) as S from dual
;
UPDATE NODELIST_FIELDS set #S# WHERE node_id=#activeNode#
;
UPDATE NODELIST_FIELDS set #CHECKBOX_L# WHERE node_id=#activeNode# ??CHECKBOX_L
;
delete from list_srt where node_id=#activeNode#;
insert into list_srt (node_id, srt,des) values (#activeNode#,'#srt#','#desc#')
;
[end]

select column_name||'=0,' as SL  from user_tab_columns where table_name='NODELIST_FIELDS' and column_name like 'SHOW_L_%';
select SUBSTR ('#SL#',1,LENGTH('#SL#')-1) as SL from dual;
UPDATE NODELIST_FIELDS set #SL#
WHERE id=#activeNode#;

UPDATE NODELIST_FIELDS set #CHECKBOXL#
WHERE id=#activeNode#;


