[parameters]
service=dubna.walt.service.TableServiceSpecial
table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
a1=<a class=s href="javascript:opn(
a2=</a>
$INCLUDE common.dat[parameters] 
[end]

[report header]
<TABLE cellSpacing=1 border=1 cellPadding=4 width=100%>
<td class=d width="34%" nowrap=true>
<h4>В карточке:</h4> <br>
[end]

[report footer]
</td><td class=d width="33%" nowrap=true> 

<h4>В списке:</h4> <br>
$GET_DATA [reset fields]
$CALL_SERVICE c=/tree/editListFields.cfg
<br>
$GET_DATA [get SHOW_ALL_ICONS]
<font color=red><input type="checkbox" name="SAI" id="SAI"
checked ??!SHOW_ALL_ICONS
checked ??SHOW_ALL_ICONS=0
> только первый файл </font>
$GET_DATA [get FILTER_BY_USER_LAB]
<br/><input type="checkbox" 
checked ??FILTER_BY_USER_LAB=1
name="FBUL" value = "1"/>Фильтр документов по лаборатории пользователя
</td><td class=d width="33%" nowrap=true>

<h4>В форме поиска:</h4> <br>
$GET_DATA [reset fields]
$CALL_SERVICE c=/tree/editSearchFields.cfg
</td></tr></TABLE> 
[end]


[item]
<input type="checkbox" name="CHECKBOX1" value="#CHECKBOXES#=1"
checked ??#CHECKBOXES#=1
>#LABELS#
$INCLUDE [autoNumber]		??CHECKBOXES=SHOW_REGNUM_DAT
<br>
[end]

[autoNumber]
&nbsp;&nbsp;<input type="checkbox" name="AUTONUMBER" value="Y"
checked ??AUTONUMBER=Y
>Автонумерация
[end]
======================== SQLs =========================

[preSQLs]
$INCLUDE [update script]  ??cop=u
select * from node_fields where node_id=#activeNode#
;
select autonumber as "AUTONUMBER"
from tree
where id=#activeNode#
;
[end]


[SQL]
select ROWID, FIELD as CHECKBOXES, descr as LABELS
from fields_descr
where position is not null and position>0
order by position
[end]



[update script]
select count(*) as NUM_NODE_RECORDS from NODE_FIELDS where node_id=#activeNode#;

update tree set autonumber='#AUTONUMBER#' where id = #activeNode#;

update tree set show_all_icons=1 where id = #activeNode#; 	 ??!SAI
update tree set show_all_icons=0 where id = #activeNode#;  ??SAI

update tree set FILTER_BY_USER_LAB = 1 where id = #activeNode#; 	 ??FBUL=1
update tree set FILTER_BY_USER_LAB = 0 where id = #activeNode#;  ??!FBUL=1



delete from NODE_FIELDS where node_id=#activeNode#; ??!NUM_NODE_RECORDS=1&!NUM_NODE_RECORDS=0

insert into NODE_FIELDS (node_id) values (#activeNode#); ??!NUM_NODE_RECORDS=1

select ','||field||'=0' as S  from FIELDS_DESCR;

select SUBSTR ('#S#',2) as S from dual;

UPDATE NODE_FIELDS set #S# WHERE node_id=#activeNode#; ??S

UPDATE NODE_FIELDS set #CHECKBOX1# WHERE node_id=#activeNode#; ??CHECKBOX1
[end]


[reset fields]
select field||'=; ' as S from FIELDS_DESCR
;
$PRINT $SET_PARAMETERS #S# ??
$SET_PARAMETERS #S#
[end]


[get SHOW_ALL_ICONS]
select SHOW_ALL_ICONS 
from tree 
where id=#activeNode#
[end]

[get FILTER_BY_USER_LAB]
select FILTER_BY_USER_LAB 
from tree 
where id=#activeNode#
[end]
