[parameters]
service=dubna.walt.service.TableServiceSpecial
table_beg=none
table_end=none
wrapperTable=none
wrapperTableEnd=none
[end]

[item]
<input type="checkbox" name="CHECKBOX_S" value="#CHECKBOXES_S#=1" 
checked ??#CHECKBOXES_S#=1
disabled ??!ENABLED_S=1
>#LABELS_S#<br>
[end]

======================== SQLs =========================
[preSQLs]
$INCLUDE [update script]  ??cop=u
select * from NODESEARCH_FIELDS where node_id=#activeNode#
[end]

[SQL]
select FIELD  as CHECKBOXES_S, fd.descr as LABELS_S, search as "ENABLED_S"
from  fields_descr fd
where position is not null and position>0 
order by position
[end]

[update script]
select count(*) as NUM_NODE_RECORDS from NODESEARCH_FIELDS where node_id=#activeNode#;
delete from NODESEARCH_FIELDS where node_id=#activeNode#; ??!NODELIST_FIELDS=1&!NODELIST_FIELDS=0
;
insert into NODESEARCH_FIELDS (node_id) values (#activeNode#) ??!NODELIST_FIELDS=1
;
select ','||field||'=0' as S  from FIELDS_DESCR 
where position is not null and position>0 
 and search>0;

select SUBSTR ('#S#',2) as S from dual;

UPDATE NODESEARCH_FIELDS set #S# WHERE node_id=#activeNode#;

UPDATE NODESEARCH_FIELDS set #CHECKBOX_S# WHERE node_id=#activeNode#; ??CHECKBOX_S
[end]
