[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSortable  
title=Пользователи
#loginServlet=https://adb2.jinr.ru/iss
loginServlet=https://adb2.jinr.ru/iss/iss


usersTable=wl.wu@ppo_db ??
usersTable=wl.wu ??
usersTable=users
adb2AccRightsTable=adb2.acc_rights ??server=ADB2
adb2AccRightsTable=adb.acc_rights@ppo_db ??xxxserver=ADB2
adb2AccRightsTable=adb.acc_rights

thsnDelimiter=none
sortCols=ID,LOGINNAME,FIO,IP_MASK,NUM_LOGS,SESSID,LAST_LOGIN,IP,LAST_HIT,NUM_HITS,USER_GROUP,LABS,BCS

[end]

[report NOhead]
==============
<b><center>У Вас нет прав доступа к этому разделу</center>
[end]

[report header]
$SET_PARAMETERS debug=on ??
$SET_PARAMETERS srt=3; desc=; ??!srt
$INCLUDE common.dat[head]

$INCLUDE [report head] ??ACC_RIGHTS&!ACC_RIGHTS=0 
$INCLUDE [report NOhead] ??!ACC_RIGHTS|ACC_RIGHTS=0 
[end]

[report head]
<body bgcolor=F4FFFA>
ACC_RIGHTS:#ACC_RIGHTS# ??
<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="main">
<input type=hidden name="activeNode" value="#activeNode#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="desc" value="#desc#">

<table border=0 bgcolor=white cellpadding=5 style="border:solid 1px ##406080">
<tr><td>
логин или фамилия: <input size=20 name="nam" value="#nam#">
<td>
<input type="submit" class="but" value=" Искать ">
</td></tr>

<tr><td bgcolor=white>Доступ к документам:
<select name=f_utype onChange="document.theForm.submit();">
<option value="">Все зарегистрированные
<option value="A">Все, имеющие доступ
<option value="3">Администраторы
<option value="2">Доступ на ввод
<option value="1">Доступ на просмотр
</select>

<td>
<input type="button" class="but" value="Добавить..." onClick="editUsr(0)"> ??ZZZ&ACC_RIGHTS=2|ACC_RIGHTS=3
</td></tr>


<tr><td>Показать права доступа
<input type=checkbox name=showAccRighs onClick="document.theForm.submit();"
checked ??showAccRighs|f_utype
>
</td></tr>
</table>

<script>
var frm=document.theForm;

$INCLUDE [editScript]	??ACC_RIGHTS=2|ACC_RIGHTS=3

selectOptionByVal(frm.f_utype, "#f_utype#");	??f_utype

function openNodeAdm(nodeId)
{ 
//	alert (nodeId);
	var tm = (new Date()).getTime();
  var win= window.open( "#ServletPath#?c=tree/editTree&activeNode=" + nodeId + "&cop=g&popup=y&aTab=editAccRights&tm=" + tm
    , "editNode" + nodeId
		, "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes," +
        "resizable=yes,copyhistory=yes,width=800,height=600");
}

function openFolder(folder_id)
{ 	
	openNodeAdm(folder_id); ??ACC_RIGHTS=2|ACC_RIGHTS=3
	top.openCont(folder_id); ??ACC_RIGHTS=1
}

function setDesc()
{
  frm.desc.value="DESC";  ??!desc
  frm.desc.value="";      ??desc
  frm.submit();
}

function setSort(colNr)
{
  var oldsrt = #srt#; ??srt
  var oldsrt = -1;    ??!srt
  if (oldsrt == colNr)
  {
    frm.desc.value="DESC";  ??!desc
    frm.desc.value="";      ??desc
  }
  else
    frm.desc.value="DESC";
  frm.submit();
}

window.focus();

</script>
[end]



[editScript]
function refrSelf(name)
{ // alert("Yes! " + name);
	if(name) document.theForm.nam.value=name;
	document.theForm.submit();
}

function editUsr(id)
{ if(id==0 && document.theForm.nam.value.length < 1)
		alert("Перед добавлением нового пользователя убедитесь,\n\r что для него ранее не был заведен логин!\n\r(поищите по фамилии)");
	else
	  var win= window.open( "#loginURL#?c=editUsrCommon&popup=y&id=" + id 
		  , "editUsr" + id, "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes," +
        "resizable=yes,copyhistory=yes,width=500,height=400");
}

[end]



[preSQLs]
$SET_PARAMETERS f_utype=  ??nam
$INCLUDE [usersSQL]	??f_utype
select checkAccRights(#activeNode#, #USER_ID#) as ACC_RIGHTS from dual;
[end]

[usersSQL]
select distinct ','||user_id as U_IDS
from USERRIGHTSONTREE
where rights=#f_utype#	??!f_utype=A
;
[end]

[SQL]
$INCLUDE [real SQL] ??ACC_RIGHTS&!ACC_RIGHTS=0 
[end]
 
[real SQL]
select 
l.ID
, l.TAB_N ??
, '<a class=sm href="javascript:editUsr('||l.ID||')">'||l.USERNAME||'</a>' as LOGINNAME  ??ZZZ&ACC_RIGHTS=2|ACC_RIGHTS=3
, l.USERNAME as LOGINNAME  
   ??ACC_RIGHTS=1
 ??s_log=on
,'<a target="_blank" href ="?c=doc/doc_audit_byuser&USRID='||l.ID||'">'||l.FIO||'</a>' AS FIO
,decode (l.EMAIL, null,'-','<a class=sm href="mailto:'||l.EMAIL||'">'||l.EMAIL||'</a>') as EMAIL

, l.PHONE
, '' as SP
, ' u_id='||l.id as RIGHTS ??showAccRighs|f_utype

from #usersTable# l
where 
 1=1
 and (upper(l.USERNAME) like upper('#nam#%') or upper(l.FIO) like upper('#nam#%')) ??nam
 and l.id in (-1#U_IDS#)	??U_IDS
order by 
 l.USERNAME #desc# ??srt=2
 l.FIO #desc# ??srt=3
 #srt# #desc# ??srt&!srt=2&!srt=3
[end]


[colNames]
RIGHTS=$CALL_SUBSERVICE  c=Rights/ShowUserRights; f_utype=#f_utype#; tag=Права доступа к архиву;
TAB_N=Таб.№
LOGINNAME=Логин
EMAIL=email
FIO=Ф.И.О.
PHONE=тел.

SP=&nbsp;
[end]

IP_MASK=Маска IP<br>
NUM_LOGS=Входов<br>
SESSID=sess.<br>ID
LAST_LOGIN=Последний<br>вход
IP=IP<br>
LAST_HIT=Последний<br>запрос
NUM_HITS=Запросов<br>


[report footer]
</form></table>
</body></html>
[end]
