[parameters]
title=Платежка
debug=off
$INCLUDE common.dat[colors]
[end]


[report]
$INCLUDE [logged report]  
 ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#?c=doc/list";</script> ??xxx!logged
[end]


[logged report]
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>

<style>
	td {vertical-align:top;font-family: Verdana; font-size: 14px;}
	td.rb {vertical-align:top;border: 1px solid #AAAAAA; border-left: none; border-top: none;} 
	td.b {vertical-align:top;border-bottom: 1px solid #AAAAAA;}
	td.r {vertical-align:top;border-right: 1px solid #AAAAAA;}
</style>

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="docno" value="#docno#">

<table border=1 cellpadding=0 bgcolor=whitesmoke cellspacing=0>
<tr><td><h4>Платежное поручение № #DOC_NO# от #DAT#</td></tr><tr>
<td nowrap=true>

<table border=0 cellspacing=0 cellpadding=1>
<tr>
	<td class=rb style="height: 0.25in; width: 1.96in;">
	ИНН <input type=text size=15 class=xp id=fromInn name=fromInn value="#frominn#">
	</td>
	
	<td class=rb style="height: 0.25in; width: 1.96in;">
	КПП <input type=text size=15 class=xp id=fromKpp name=fromKpp value="#fromkpp#">
	</td>
	
	<td class=rb style="width: 0.6in; height:0.6in;" rowspan=2 align=right>
	Сумма:<br>НДС:
	</td>
	
	<td class=b style="width: 2.56in;" rowspan=2 colspan=3>
	#SUM# руб.<br>
	#NDS# руб. (#NDS_DES#)<br>
	</td>
</tr>
<tr>
	<td colspan=2 rowspan=2 class=r>
	<textarea class=xp style="width:98%;" rows=3 id=fromFirm name=fromFirm>#fromfirm#</textarea>
	</td>
</tr>
<tr>
	<td class=rb style="width: 0.6in; height:0.6in;" rowspan=2>
	Сч. N
	</td>
	<td rowspan=2 colspan=3>
	<input type=text size=25 class=xp id=fromAccountAccount name=fromAccountAccount value="#fromaccountaccount#">
	</td>
</tr>
<tr>
	<td class=rb style="vertical-align:bottom;" colspan=2>
	Плательщик
	</td>
</tr>
<tr>
	<td class=r style="height:0.3in;" colspan=2 rowspan=2>
	<textarea class=xp style="width:98%;" rows=2 id=fromBankName name=fromBankName>#frombankname#</textarea>
	</td>
	<td class=rb>
	БИК
	</td>
	<td colspan=3>
	<input type=text size=15 class=xp id=fromBankBic name=fromBankBic value="#frombankbic#">
	</td>
</tr>
<tr>
	<td class=rb rowspan=2>
	Сч. N
	</td>
	<td rowspan=2 class=b colspan=3>
	<input type=text size=15 class=xp id=fromBankAccount name=fromBankAccount value="#frombankaccount#">
	</td>
</tr>
<tr>
	<td class=rb style="vertical-align:bottom;" colspan=2>
	Банк плательщика
	</td>
</tr>
<tr>
	<td colspan=6 height=3 bgcolor=#aaaaaa></td>
</tr>
<tr>
	<td class=r style="height:0.3in;" colspan=2 rowspan=2>
	<textarea class=xp style="width:98%;" rows=2 id=toBankName name=toBankName>#tobankname#</textarea>
	</td>
	<td class=rb>
	БИК
	</td>
	<td colspan=3>
	<input type=text size=15 class=xp id=toBankBic name=toBankBic value="#tobankbic#">
	</td>
</tr>
<tr>
	<td class=rb rowspan=2>
	Сч. N
	</td>
	<td rowspan=2 colspan=3>
	<input type=text size=15 class=xp id=toBankAccount name=toBankAccount value="#tobankaccount#">
	</td>
</tr>
<tr>
	<td class=rb style="vertical-align:bottom;" colspan=2>
	Банк получателя
	</td>
</tr>
<tr>
	<td class=rb style="height: 0.2in; width: 1.96in;">
	ИНН <input type=text size=15 class=xp id=toInn name=toInn value="#toinn#">
	</td>
	
	<td class=rb style="height: 0.2in; width: 1.96in;">
	КПП <input type=text size=15 class=xp id=toKpp name=toKpp value="#tokpp#">
	</td>
	
	<td class=rb style="width: 0.6in; height:0.6in;" rowspan=2>
	Сч. N
	</td>
	
	<td class=b style="width: 2.56in;" rowspan=2 colspan=3>
	<input type=text size=25 class=xp id=toAccountAccount name=toAccountAccount value="#toaccountaccount#">
	</td>
</tr>
<tr>
	<td colspan=2 rowspan=3 class=r>
	#KONTRAG#
	</td>
</tr>
<tr>
	<td class=rb>
	Вид оп.
	</td>
	<td class=r style="width: 0.787in;">
	&nbsp;
	</td>
	<td class=rb>Срок плат.</td>
	<td style="width: 0.9in;">&nbsp;</td>
</tr>
<tr>
	<td class=rb>Наз. пл.</td>
	<td class=r>&nbsp;</td>
	<td class=rb>Очер.плат.</td>
	<td></td>
</tr>
<tr>
	<td class=rb style="vertical-align:bottom;" colspan=2>
	Получатель
	</td>
	<td class=rb>Код</td>
	<td class=rb>&nbsp;</td>
	<td class=rb>Рез.поле</td>
	<td class=b>&nbsp;</td>
</tr>
<tr>
	<td colspan=6> Назначение платежа<br>
	#DEST#
	</td>
</tr>
</table>

</td></tr></table>


<input type="submit" value="Обновить"> ??


</body></HTML>
[end]


================================ SQLs ================================
[preSQLs]
$SET_PARAMETERS srn=1; rpp=10  ??!rpp
;

SELECT 
p.iddoc, J.DOCNO as DOC_NO
, 

mid(J.DATE_TIME_IDDOC,7,2)&'.' 
&mid(J.DATE_TIME_IDDOC,5,2)&'.'
&mid(J.DATE_TIME_IDDOC,1,4) 
AS DAT  
,K.DESCR as KONTRAG
, P.SP12059 as SUM 
, P.SP12061 as NDS
, P.SP12060 as NDSPS ??
, N.DESCR as NDS_DES
, P.SP12067 as DOG
, mid(P.SP12066,7,250) AS DEST ??
, mid(P.SP12066,7,250) AS DEST
FROM 
((dbo_A_DH12070 P LEFT JOIN dbo_A_Kontragent K ON P.SP12058=K.ID )
LEFT JOIN dbo_A_1SJOURN J ON J.IDDOC=P.IDDOC)
LEFT JOIN dbo_SC211 N ON N.id=P.SP12060

WHERE 
J.DOCNO='#docno#'

[end]


