[parameters]
service=dubna.walt.service.TableServiceSortable 
title=Платежки

makeTotalsForCols=SUM,NDS,SUM0
totRowLabel=Всего
sortCols=SUM0,NDS,SUM,DESCR,DAT,DOC_NO
tableCfg=table.cfg 
thsnDelimiter=&nbsp;
numDigits=2

$INCLUDE common.dat[colors]
[end]


[report header]
$INCLUDE [logged report header]  
 ??logged
<script>window.location.href="#loginURL#?back_url=#ServerPath##ServletPath#?c=doc/list";</script> ??xxx!logged
[end]


[logged report header]
$INCLUDE common.dat[head]
<body bgcolor=F4FFFA>

<form name="theForm" method="POST" enctype="multipart/form-data">
<input type=hidden name="c" value="#c#">
<input type=hidden name="srn" value="#srn#">
<input type=hidden name="desc" value="#desc#">
<input type=hidden name="noTable" value="">

<table border=0 cellpadding=0 cellspacing=0 width=98%>
<tr><td width=90%><h3>Список платежных поручений</td>
<td align=right nowrap=true>
</td><td align=right nowrap=true>
<a class=info href="#ServerPath#/adb">
Главная</a>
</td></tr></table>

<blockquote style="margin:10; margin-left:50;">

<table border=0><tr><td nowrap=true valign=top bgcolor=white>
<FIELDSET><LEGEND><b><i>Отобрать документы:</i></b></LEGEND>

<table border=0 bgcolor=whitesmoke width=100%>
<tr>
<td>
Дата платежа:</td><td>
$INCLUDE common.dat[dat] param: fd_name=startdate; fd_val=#startdate#; yr1=-4; yr2=1; 
[по: 
$INCLUDE common.dat[dat] param: fd_name=enddate; fd_val=#enddate#; yr1=-4; yr2=1; 
]

</td>
</tr><tr>
<td align=right nowrap=true>
Сумма:</td><td> <select name=f_summa_op><option>=<option>&gt;<option>&lt;</select>
<input class=xp size=10 name="f_summa" value='#f_summa#'>
</td>

</tr><tr>
<td align=right nowrap=true>
Контрагент:</td><td> <input class=xp size=30 name="f_contrag" value='#f_contrag#'>
</td>

</tr><tr>
<td align=right nowrap=true>
Назначение:</td><td> <input class=xp size=30 name="f_nazn" value='#f_nazn#'>

<input type="submit" value="Выполнить" onClick="return doIt();">

</td></tr></table>

</FIELDSET></td></tr></table>
</blockquote>
$INCLUDE [script]  

<table bgcolor=808080 border=0 cellspacing=0 cellpadding=0><tr><td>
[end]

[report footer]
$INCLUDE common.dat[rpp] ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0|node_id=0
</TD></TR></TABLE>

</form></center><p><hr>
</body></HTML>
[end]

[script]
<script> 
var frm=document.theForm;

window.focus();

selectOptionByVal(frm.f_summa_op,'#f_summa_op#')  ??f_summa_op

function getPlat(docno)
{// alert (docno);
  openWindow("c=plat&docno=" + docno,"plat",700,600);
}

function goToRow(nr)
{ if (!checkFields()) return false;
  frm.srn.value=nr;  
//  alert (frm.srn.value);
  frm.submit();
  return true; 
}

function doIt()
{ if (!checkFields()) return false;
  frm.srn.value="1";
//  alert ("here!");
  frm.submit();  
  return true;
}

function checkFields()
{ if (!checkDate("startdate","Дата оплаты")) return false;
  if (!checkDate("enddate", "Конечная дата оплаты")) return false;
  frm.f_startdate.value = make1Cdate(frm.startdate.value);
  frm.f_enddate.value = make1Cdate(frm.enddate.value);
  if (!checkFloat("f_summa",null,null,"Сумма")) return false;   ??
  return true;
}

function make1Cdate(d)
{ 
  var s = d.substring(6,10) + d.substring(3,5) + d.substring(0,2);
//  alert (s);
  return s;
}

</script> 
[end]

================================ SQLs ================================
[preSQLs]
$SET_PARAMETERS srn=1; rpp=20  ??!rpp
;
$SET_PARAMETERS srt=1; desc=DESC ??!srt
;

[end]

IDDOC,LINENO_,SP15706,SP15710,SP15714,SP15715,SP15716,SP15717,SP15718,SP15719,SP15720,SP15721,SP15722,SP15723,SP16397,SP16398,SP16399,SP41212


[SQL]
SELECT 
p.iddoc, ??
''''&J.DOCNO as DOC_NO
, 

mid(J.DATE_TIME_IDDOC,7,2)&'.' 
&mid(J.DATE_TIME_IDDOC,5,2)&'.'
&mid(J.DATE_TIME_IDDOC,1,4) 
AS DAT  
,K.DESCR
, P.SP12059 as SUM 
, P.SP12061 as NDS
, mid(P.SP12066,7,250) AS DEST ??
, '<a class=sm href="javascript:getPlat('''&J.DOCNO&''')">'&mid(P.SP12066,7,250)&'</a>' AS DEST
FROM 
(dbo_A_DH12070 P LEFT JOIN dbo_A_Kontragent K ON P.SP12058=K.ID )
LEFT JOIN dbo_A_1SJOURN J ON J.IDDOC=P.IDDOC

WHERE 
1=1
	and mid(J.DATE_TIME_IDDOC,1,8) = '#f_startdate#' ??f_startdate&!f_enddate
	and mid(J.DATE_TIME_IDDOC,1,8) between '#f_startdate#' and '#f_enddate#' ??f_startdate&f_enddate
	and P.SP12059 #f_summa_op# #f_summa# ??f_summa&!f_summa_op==
	and abs(P.SP12059-#f_summa#) < 2 ??f_summa&f_summa_op==
	and K.DESCR like '%#f_contrag#%' ??f_contrag
	and P.SP12066 like '%#f_nazn#%' ??f_nazn

ORDER BY 
	#srt# #desc#  ??!srt=2
	J.DATE_TIME_IDDOC #desc#, J.DOCNO #desc#  ??srt=2

[end]


[colNames]
SUM=Сумма
NDS=НДС
DESCR=Контрагент
DAT=Дата оплаты
DOC_NO=п/п №
DEST=Назначение платежа
[end]

