[parameters]
service=dubna.walt.service.ServiceWLogin 
ifr=<iframe style="width:20; height:10;" frameBorder=NO scrolling=no
[end]


[not identified]
$INCLUDE [report]
[end]

[report] 
$SET_PARAMETERS debug=on ??

<HTML><HEAD><TITLE>Вход</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
<meta name="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta http-equiv="pragma" content="no-cache">
<link rel="stylesheet" href="#imgPath#adb.css" type="text/css">
<style>
th {font-size:15; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
td {font-size:14; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
</style>
</HEAD>

$INCLUDE [login report]   ??!NEW_SESS_ID&!cop=u
$INCLUDE wlogin_dms.cfg[confirm report] ??NEW_SESS_ID|cop=u
*********************************** ??
</body></html>
[end]

[login report]
<BODY>
<CENTER>
$INCLUDE wlogin_dms.cfg[form top]

<TABLE BORDER=1 bgcolor=ivory CELLSPACING=0 CELLSPADDING=0 class=form>		<!-- THE FORM TABLE -->
<TR><TD VALIGN="TOP" ALIGN="CENTER">
<TABLE WIDTH=100% BORDER=0 CELLSPACING=6 cellpadding=4>		<!-- THE FILTERS TABLE -->
 
<TR><th colspan=2>
Для просмотра и визирования документа Вам необходимо войти в систему  ??!logged
Регистрация действительна ??logged
$SET_PARAMETERS loginName=#uname# ??uname
</th></TR>
 
<TR>
<td align=right>Логин:</td><td><input name="uname" size=15 value='#uname#'></td>
</TR>
<TR><td align=right>Пароль:</td><td><input type=password name="upass" size=15></td>

</TR><tr><td colspan=2>
$INCLUDE wlogin_dms.cfg[err msg]  ??uname&upass&!logged=YES
</td>
</TR><TR>
<td colspan=2 align=center>
<input type=submit class=but value="OK">&nbsp;&nbsp;
<input type=button class=but value="Отмена" onClick="doCancel();"> ??

</td></tr></table>
</td></tr></table>
</FORM>

$INCLUDE wlogin_dms.cfg[login form script]

<script>
function doCancel()
{ window.history.go(-2);
}
</script>
[end]


[preSQLs]
$SET_PARAMETERS local=y ??ClientIP=159.93.25.199
;
select sysdate from dual; ??

$INCLUDE wlogin_dms.cfg[get user] ??uname&upass
$INCLUDE wlogin_dms.cfg[registerUserSQL] ??USER_ID&uname&upass
[end]

