[parameters]
service=dubna.walt.service.TableServiceSpecial
KeepLog=true
table_beg=<table border=0 cellspacing=7>
[end]


[head]
<style> select {FONT-SIZE: 12px;}</style>

<script>
function getOtdel(table_name, form_name, field_name, code)
{
	  var win= window.open("/pin/pin?c=info/tree&form_name=" + form_name +"&field=" + field_name 
		+ "&CurrentFolderId=" + code
		,	"tree_info"
		, "toolbar=no,location=no,directories=no,status=no,statusbar=no,menubar=no,scrollbars=auto," +
  "resizable=yes,copyhistory=no,height=500,width=400" );
}

function setOtdel(code, form, field)
{ // alert (code+"/"+form+"/"+field);
	var f = eval("document." + form);
	eval("f." + field + "_new").value = code;
	f.c.value="info/getOtdel";
	f.cop.value=field;
	f.target="workframe";
	f.submit();
}

</script>
[end]

[report header]
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>  ??cop=new|cop=del
<div id=p_result>
<table border=0 class=part cellspacing=7>#SPACE#<tr><td>
[end]

[ajax script]
<script>
try
{ window.parent.getResults(document.getElementById("p_result"), "d_posts"); 
} catch (e) { alert (e); }
</script>
[end]


[item]
<form name="p_#TABNOM#"  method="POST" enctype="multipart/form-data" target="f_p_#TABNOM#">
<input type=hidden name=c value="">
<input type=hidden name=cop value="">
<input type=hidden name=form_name value="p_#TABNOM#">
<input type=hidden name=data_changed value="">

<tr><td colspan=2 class=b><small>&nbsp;</td></tr><tr><td colspan=2></td></tr> ??next_post

<tr><td class=p10 align=right width=150>
Подразделение:</td><td>
<input type=hidden name=otdel_new value="#OTDEL#">
<span class_=xpr id="p_#TABNOM#_otdel_td">#OTDEL_DES#</span> 
<a href="javascript:getOtdel('t_tree', 'p_#TABNOM#', 'otdel', '#OTDEL#')">>></a></td>
</tr>

$INCLUDE persons/tab_OKe.cfg[item_info] param: form_name=p_#TABNOM#; name=dolzhnost; label=Должность; value=#POST#; code=#POST_CODE#; tab=rb_08; width=400; padding=10;  ??
<tr><td align=right>Должность: </td><td><span class=xpr id=p_#TABNOM#_dolzhnost_td>#POST#</span>
<input type=hidden name=dolzhnost_new value="#POST_CODE#">
<a href="javascript:getPost('#tab#', 'p_#TABNOM#', 'dolzhnost', '', 600, 10)"> >></td></tr> 

<tr><td class=p10 align=right>Табельный №:</td><td>
<input size=8 class=xpc name=tabnom_new value="#TABNOM#" onChange="setChanged(document.p_#TABNOM#)">
<input type=hidden name=tabnom value="#TABNOM#">
&nbsp; Дата должности:&nbsp; <input size=12 class=xpc name=data_d_new value="#DATA_D#" onChange="setChanged(document.p_#TABNOM#)">

<iframe name="f_p_#TABNOM#" width=150 height=0 src="#ServletPath#?c=empty" scrolling="no" frameborder="0"></iframe>
$INCLUDE common.dat[butt] param: label=Удалить; onClick=doDeletePost("#TABNOM#","#POST#"); width=80; img=del_cross.gif;

</td></tr>

$INCLUDE persons/tab_OKe.cfg[item_dd] param: form_name=p_#TABNOM#; name=usl_rab; label=Условия работы; value=#USL_RAB_ID#; list=#USL_RABS#;
$INCLUDE persons/tab_OKe.cfg[item_dd] param: form_name=p_#TABNOM#; name=tip_dejat; label=Тип деятельности; value=#TYPES_DEJAT_ID#; list=#TYPES_DEJAT#;

<tr><td class=p10 align=right>Начало работы:</td>
<td><input size=12 class=xpc name=nachalo_new value="#NACHALO#" onChange="setChanged(document.p_#TABNOM#)">
&nbsp; &nbsp; Окончание контракта: <input size=12 class=xpc name=konec_new value="#KONEC#" onChange="setChanged(document.p_#TABNOM#)">
</td></tr>

</form>
$SET_PARAMETERS next_post=Y
[end]

[report footer]
</td></tr>#SPACE#</table>
<center><br>
$INCLUDE common.dat[butt] param: label=Добавить должность; onClick=doAddPost(); width=80; img=checked_small.gif;
</center>
</div>
$INCLUDE [ajax script] ??cop=new|cop=del
[end]



============================== SQLs ========================
[preSQLs]
select concat('<option value=''',cast(code as char),'''>',name,'</option>') as "USL_RABS"
from rb_31 order by code
;
select concat('<option value=''',cast(code as char),'''>',lcase(name),'</option>') as "TYPES_DEJAT"
from rb_38 order by code
;
$INCLUDE [Add Post] ??cop=new
$INCLUDE [Delete Post] ??cop=del
commit;
[end]

[Delete Post]
delete from p_persons_post where tabnom=#child_id#
;
[end]

[Add Post]
select max(tabnom) + 1 as "NEW_TABNOM" from p_persons_post
;
insert into p_persons_post (id, tabnom, usl_rab, tip_dejat, data_d, nachalo, creator_id, created)
values (#id#, #NEW_TABNOM#, 0, 0, now(), now(), #USER_ID#, now());
[end]

[SQL]
select 
	concat(case when length(o1.description) > 1 then concat(o1.description,',<br> ') else '' end
		,o.description) as "OTDEL_DES"
	, t.otdel as "OTDEL"
	, ifnull(rb_08.BERTH, cast(t.dolzhnost as char)) as "POST", t.dolzhnost as "POST_CODE"
	,cast(t.tabnom as char) as "TABNOM"
	, t.tip_dejat as "TYPES_DEJAT_ID"

	, DATE_FORMAT(t.data_d,'#dateFormat#') as "DATA_D"
	, t.usl_rab as "USL_RAB_ID"
	, DATE_FORMAT(t.nachalo,'#dateFormat#') as "NACHALO"
	, DATE_FORMAT(t.konec,'#dateFormat#') as "KONEC"
	,'-',IFNULL(DATE_FORMAT(t.konec,'#dateFormat#'),'.')) as "SROK" ??

from p_persons_post t
 left join t_tree o on t.otdel=o.id
 left join t_tree o1 on o1.id=o.pid
 	left join rb_08 on rb_08.id=t.dolzhnost_1C
	left join rb_08 on rb_08.BERTHCODE=t.dolzhnost ??
where t.id=#id#
and t.is_deleted != 1
[end]