[parameters]
service=dubna.walt.service.TableServiceSpecial 
td_beg=<td 
pList=[<a class=location href="javascript:goToPage(#pageNr#)">&nbsp;#pageNr#&nbsp;</a>]  ??!currPage
pList=<b>[<span class=page>#pageNr#</span>]</b>  ??currPage
KeepLog=false
altBgColorAttr=none
unicodeHeaders=y 
thsnDelimiter=none
table_beg=&nbsp;
debug=on ??
DB=MySQL
of=bin 
contentType=application/msword 
f_searchArea=1
modeSearch=Y
f_tip_dejat=5 ??
f_tip_dejat=2,3,4,5,7
f_usl_rab=1,2,4,5,8,9 ??
[end]

[desript]
SELECT description  as DESCRIPT from t_tree where id=#folder_id#;  ??folder_id
[end]

[report header]
$SET_PARAMETERS rpp=9999; srn=1
;
$GET_DATA [desript]
<html>
<head>
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<title>Утверждено</title>
<style>
.utv{
	width:250px;
	text-align:left;

}
td{
	font-size:10pt;
	padding:3pt;
}
.descr{
	font-size:9pt;
	font-weight:bold;
}

.line{
	border-bottom:solid black 1.0pt;
	text-align:center;
	font-size:11pt;

}
.doctitle{
	font-size:14pt;
	font-weight:bold;
	padding:30px;
}
.podpis{
	border:none;
	border-bottom:solid black 1.0pt; 
	width:170pt;
}

.hcell1{
	border:solid black 1.0pt;
	padding:3pt;
}
.hcell{
border:solid black 1.0pt;border-left:none;
	padding:3pt;
}

.cell1{
border:solid black 1.0pt;
border-top:none;
	padding:3pt;
}
.cell{
	border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  	padding:3pt;
}
</style>
</head>
<body>
<div>  
  <table  border=0 cellspacing=0 cellpadding=0 >
 <tr>
 <td colspan=5>&nbsp;
 
 </td>
 <td colspan="2" align="right">Приложение № 1
 
 </td>
 </tr> 
 <tr>
 <td colspan=5>
 &nbsp;
 </td>
   <td colspan=2 align="left" >УТВЕРЖДЕН <br>
     приказом ОИЯИ <br>
     от
     _______________ <br>№ _______ <br></div></td>
   </tr>
 <tr>
 <td colspan=7 align="center" class="doctitle">График
проведения  аттестации работников</td>
 </tr>
 
    <tr>
      <td colspan=7 valign=top class="line">#DESCRIPT#&nbsp;</td>
    </tr>
    <tr>
      <td colspan=7 valign=top class="line" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan=7 align="center" valign=top><span class="descr">(наименование
          структурного подразделения ОИЯИ)</span>
</td>
    </tr>
    <tr >
      <td colspan=7 valign=top>&nbsp;</td>
    </tr>
    <tr>
      <th width=21 CLASS="hcell1">№ п/п </th>
      <th width=118 class="hcell">Ф.И.О.</th>
      <th width=101 class="hcell">Занимаемая должность</th>
      <th width=119 class="hcell">Отдел, сектор, группа и&nbsp;т.д.</th>
      <th width=98 class="hcell">Дата аттестации</th>
      <th width=102 class="hcell">Подпись</th>
      <th width=148 class="hcell">Дата ознакомления с&nbsp;графиком </th>
    </tr>
    <tr align="center">
      <td class="cell1">1</td>
      <td class="cell" >2</td>
      <td class="cell">3</td>
      <td class="cell">4</td>
      <td class="cell">5</td>
      <td width=102 valign=top class="cell">6</td>
      <td width=148 class="cell">7</td>
    </tr>
[end]


[report footer]
  </table>
  <br>  
  <br>  <br>
  <table border=0 cellspacing=0 cellpadding=0>
      <td width=221 valign=top >Руководитель структурного подразделения
        </td>
      <td width="227" valign=top class="podpis">&nbsp;</td>
      <td width="1">&nbsp;</td>
      <td valign=top class="podpis">&nbsp;</td>
    
    </tr>
    <tr>
      <td  valign=top>&nbsp;</td>
      <td align="center"  valign=top><span class="descr">(подпись)</span></td> <td >&nbsp;</td><td width=327 colspan=3 align="center" valign=top><span class="descr">(расшифровка подписи)</span></td>
    </tr>
  </table>
  
</div>
</body>
</html>

[end]


[preSQLs]
$GET_DATA persons/list_#DB#.dat[countRecordsSQL] 
$INCLUDE [setSrt#vd#]	
[end]

[setSrtli]
$PRINT 1: srt_list:#srt_list#; srt:#srt#; desc_list:#desc_list#; desc:#desc#; vd:#vd#   ??debug=on
$SET_PARAMETERS_SESSION srt_list=; desc_list=; ??
$SET_PARAMETERS_SESSION srt_list=berth; desc_list= ??!srt&!srt_list
$SET_PARAMETERS srt=#srt_list#; desc=#desc_list#; ??srt_list&!srt
$PRINT 2: srt_list:#srt_list#; srt:#srt#; desc_list:#desc_list#; desc:#desc#; vd:#vd#  ??debug=on
$SET_PARAMETERS srt=berth; desc=; ??!srt
$SET_PARAMETERS_SESSION srt_list=#srt#; desc_list=#desc#; 
$PRINT 3: srt_list:#srt_list#; srt:#srt#; desc_list:#desc_list#; desc:#desc#; vd:#vd#  ??debug=on
[end]

[item]
 <tr>
      <td width=21 valign=top class="cell1">#N#
          
      </td>
      <td  class="cell">#full_name#&nbsp;</td>
      <td class="cell" >#berth#&nbsp;</td>
      <td   class="cell" >#tr_name#&nbsp;</td>
      <td  class="cell">&nbsp;</td>
      <td class="cell">&nbsp;</td>
      <td class="cell">&nbsp;</td>
    </tr>
[end]


[SQL]
select 
	concat(p.name, ' ', p.name1, ' ', p.name2) as "full_name", tr.name as "tr_name"
	, concat(rb_08.berth, if (t.usl_rab in(356,357),' <i><small>(совм.)</small></i>','')) as "berth"
$INCLUDE persons/list_#DB#.dat[criteria]	
order by 
	tr.name,
	case when p.id=tr.boss_id then 0 else ifnull(r.range,999) end #desc#, ??
	p.name 
	 ??!srt
[end]

[colNames]
full_name=Ф.И.О.
berth=Должность
[end]

[SortBy]
$INCLUDE persons/list_#DB#.dat[SortBy]
[end]

