[parameters]
service=jinr.pin.TableServiceSortable
td_beg=<td 
pList=[<a class=location href="javascript:goToPage(#pageNr#)">&nbsp;#pageNr#&nbsp;</a>]  ??!currPage
pList=<b>[<span class=page>#pageNr#</span>]</b>  ??currPage
KeepLog=true
noTot=Y ??srt=sum(bs.ttl)|srt=p.name|srt=sum(ifnull(bs.sc,0))|srt=sum(ifnull(bs.ac,0))
makeSubtotals=y ??f_searchArea&!noTot
unicodeHeaders=y 
thsnDelimiter=none
sortCols=,fio,berth,s,ac,total,
debug=on ??
DB=MySQL
NumSpecialCols=2 ??
[end]


[report header]
$SET_PARAMETERS_SESSION f_dat1_list=#f_dat1#; f_dat2_list=#f_dat2#  ??f_dat1|f_dat2
;

<div id="results">
$SET_PARAMETERS YR_END=#YEAR_1#; YR_BEG=#YEAR_2#
Данные на #YEAR_NOW# год <i>(учитываются результаты работы за предыдущие два года: #YR_BEG#-#YR_END#)</i>
<br>

<br><i>Включены только научные работники (кроме совместителей)</i>
rpp:#rpp#; srt:#srt#; desc:#desc# f_searchArea:#f_searchArea# ??debug=on
<br> #queryString# ??
#FileIds#: #FileNames#: #FileDescrs# ??
[end]

[total table] НЕ ИСПОЛЬЗУЕТСЯ
<div style="margin-bottom:15px;">
<table border=0 class=list cellspacing="0" cellpadding="3">
<tr>
<th class=head>&mdash;</th>
<th class=head>Публикации<br><small>Баллы(к-во записей)</small></th>
<th class=head>Деятельность<br><small>Баллы(к-во записей)</th>
<th class=head>Всего<br><small>Баллы(к-во записей)</th>
</tr>
<tr  valign=top bgcolor=white>
<th  bgcolor="whitesmoke" width="100"><b>Среднее&nbsp;значение:</b></th>
<td>#aSCb#<sub>(#aSCn#)</sub></td>
<td>#aACb#<sub>(#aACn#)</sub></td>
<td>#aTTLb#<sub>(#aTTLn#)</sub></td>
</tr>
</table>
</div>


[report footer]
<br> <br> ??TotNumRecords=0
</td></tr><tr><td>
<table border=0 cellpadding="0" width=100% cellspacing="0">
<tr><td>Всего: <font color=red>#currPageSize#/#TotNumRecords#</font> записей  ??!TotNumRecords=0
rpp:#rpp#; totNumPages:#totNumPages#; currPageNr:#currPageNr# ??debug=on
</td>
<td width="20">&nbsp;</td>

<td align=right valign=top nowrap=true style="padding-bottom:8px;">
$INCLUDE common.dat[pages_top]  ??!TotNumRecords=0
</td></tr>
</td></tr></table>
</div>

<script>
var f_menu = top.frames["TREE"].window;  ??folder_idXXX

f_menu.selectItem("#folder_id#"); ??folder_idXXX
// alert ("#folder_id#"); ??folder_id

try
{
window.parent.getResults(document.getElementById("results"), "docList"); 
window.parent.setRppTable(#TotNumRecords#); 
} catch (e) { alert (e); }

function markTableHeader(h_id, on) { }
</script>
$SET_PARAMETERS_SESSION rpp=#rpp#;
</body></html>
[end]


================================= SQLs ====================================

[preSQLs]
$SET_PARAMETERS rpp=100; srn=1;  ??!rpp
$SET_PARAMETERS srn=1;  	??!srn
$SET_PARAMETERS srt=sum(bs.ttl); desc=DESC; ??!srt
delete from ball_sum;
insert into ball_sum select * from ball_sum_;
$INCLUDE [countRecordsSQL] 
[end]
$INCLUDE [get average values] ??TotNumRecords&!TotNumRecords=0


[countRecordsSQL] 
select count(*) as "TotNumRecords"
from p_persons_post t
left join p_persons p on p.id=t.id
 	left join rb_08 on rb_08.id=t.dolzhnost_1C
	left join rb_08 on rb_08.BERTHCODE=t.dolzhnost ??
left join i_postrange r on r.post_id=t.dolzhnost
where
$INCLUDE [where]
;
[end]


[get average values]
select 
ROUND(sum(ifnull(bs.sc,0))/#TotNumRecords#,1) as aSCb
,ROUND(sum(ifnull(bs.ac,0))/#TotNumRecords#,1) as aACb
,ROUND(sum(ifnull(bs.ttl,0))/#TotNumRecords#,1) as aTTLb
,ROUND(sum(ifnull(bs.nsc,0))/#TotNumRecords#) as aSCn
,ROUND(sum(ifnull(bs.nac,0))/#TotNumRecords#) as aACn
,ROUND(sum(ifnull(bs.n,0))/#TotNumRecords#) as aTTLn
from p_persons_post t
left join p_persons p on p.id=t.id
left join ball_sum bs on (t.id=bs.person_id
and bs.yr between #YR_BEG# and #YR_END# ??YR_END&YR_BEG
and bs.yr>=#YR_BEG# ??YR_BEG&!YR_END
and bs.yr<=#YR_END# ??YR_END&!YR_BEG
)
where
$INCLUDE [where]
;
[end]

[where]
t.is_deleted != 1
t.tip_dejat in(7,5) ??
t.tip_dejat in(5)
and p.name like '#f_name#%' ??f_name
and p.name1 like '#f_name1#%' ??f_name1
and p.name2 like '#f_name2#%' ??f_name2
and t.otdel=#folder_id# ??!modeSearch=Y
and t.otdel=#folder_id# ??f_searchArea=1&!listOfChildren
and t.otdel in(#listOfChildren#) ??f_searchArea=1&listOfChildren
and t.usl_rab not in (356,357)
[end]


[SQL]
select 
getParentsChain(t.otdel, 1) as "PARENT", ??f_searchArea&!noTot
 concat(
	case when p.numEvents=0 then '<img src="#imgPath#filler.gif width=10 height=1>' else '<img src="#imgPath#yellows2.gif width=10 height=10>' end  ??
	case when p.numEvents=0 then '&nbsp;&nbsp;' else '+' end
		,'<a href="javascript:doEditRec(',cast(p.id as char),')">',p.name,' ', p.name1,' ', p.name2,'</a>') as fio
		
		, concat(rb_08.berth, if (t.usl_rab in(356,357),' <i><small>(совм.)</small></i>','')) as "berth"
		 
,concat('<a href="javascript:doEditRecTab(',cast(p.id as char),',\'sc\');">',round(sum(ifnull(bs.sc,0)),1),'</a><sub>(',sum(ifnull(bs.nsc,0)),')</sub>') as sc
,concat('<a href="javascript:doEditRecTab(',cast(p.id as char),',\'ac\');">',round(sum(ifnull(bs.ac,0)),1),'</a><sub>(',sum(ifnull(bs.nac,0)),')</sub>') as ac
, concat(round(sum(ifnull(bs.ttl,0)),1),'<sub>(',sum(ifnull(bs.n,0)),')</sub>') as total

from p_persons_post t
left join p_persons p on p.id=t.id
left join rb_08 on rb_08.berthcode=t.dolzhnost
left join i_postrange r on r.post_id=t.dolzhnost
left join ball_sum bs on (t.id=bs.person_id
and bs.yr between #YR_BEG# and #YR_END# ??YR_END&YR_BEG
and bs.yr>=#YR_BEG# ??YR_BEG&!YR_END
and bs.yr<=#YR_END# ??YR_END&!YR_BEG
)
left join event_types etps on (evls.type_id=etps.id and etps.tab in ('ac','sc')) ??
where

$INCLUDE [where] 
GROUP BY p.id

order by 
	PARENT, ??f_searchArea&!noTot
	ifnull(r.range,999) #desc#, ??srt=berth
	#srt# #desc#  ??srt
	p.name desc  ??!srt
[end]


[colNames]
total=Всего<br><small>Баллы(записи)</small>
sc=Публикации<br><small>Баллы(записи)</small>
ac=Деятельность<br><small>Баллы(записи)</small>
berth=Должность
fio=Ф.И.О.
ssc=-
sac=-
[end]

[SortBy]
fio=p.name
berth=berth
sc=sum(ifnull(bs.sc,0))
ac=sum(ifnull(bs.ac,0))
total=sum(bs.ttl)
[end]

name=p.name
