[parameters]
service=jinr.pin.ServiceUploadFile ??FILE_1
KeepLog=true
mark=<img src="#imgPath#tree/bullet_r1.gif" width=7 height=12>
space=<tr><td align=left colspan=2>&nbsp;</td></tr> 
photoHeight=300
photoWidth=300
$INCLUDE css/css.cfg[parameters]
[end]


Resize Image: 
!	http://rsdn.ru/Forum/Message.aspx?mid=2277129&only=1
	http://java.sun.com/products/java-media/2D/reference/faqs/index.html#Q_How_do_I_create_a_resized_copy
!	http://greatwebguy.com/programming/java/java-image-resizer-servlet/  (gallery)
! http://sql-ru.corp.parking.ru/forum/actualthread.aspx?tid=411741

Java 2D home page: http://java.sun.com/javase/technologies/desktop/media/2D/

Processing Image Pixels, Understanding Image Convolution in Java:
http://www.developer.com/java/other/article.php/3579206


Java & C# code snippets: http://jcsnippets.atspace.com/java/gui-graphics.html

[report]
$CALL_SERVICE c=makeThumbnail.cfg;maxHeight=150;maxWidth=150;photo_id_=#PHOTO_ID#;blob_field_=photo_thumb ??FILE_1
$CALL_SERVICE c=makeThumbnail.cfg;maxHeight=#photoHeight#;maxWidth=#photoWidth#;photo_id_=#PHOTO_ID#;blob_field_=photo ??FILE_1
$SET_PARAMETERS cop=g ??!R_MODIF
$SET_PARAMETERS folder_id=#object_id#;  ??!folder_id
$SET_PARAMETERS PHOTO_EXISTS=Y; ??FILE_1
$SET_PARAMETERS PHOTO_EXISTS=; ??cop=df
$GET_DATA [UpdateRecord]  ??cop=u&id&!ERROR
$EXECUTE_LOOP tabn; #TAB_NOMS#; [updatePhones]  ??cop=u&id&!ERROR
$GET_DATA [GetRecord]			??id&cop
<br>
$INCLUDE [pers info]
$INCLUDE [editBlock]  ??R_MODIF=1
$INCLUDE [script]

#ERROR#
</div>
</form>
</body></html>
[end]

[pers info]
$SET_PARAMETERS PHOTO_ID=0; 	??!PHOTO_ID
<table border=0 cellspacing=0 >
<tr><td width=1%> </td><td width=1%> </td><td> </td>
</tr>

<tr><td rowspan=10 width=100>
<img id=u_photo 
src="#servletPath#?c=showPhoto&id=#PHOTO_ID#" ??!cop=u
src="#servletPath#?c=showPhoto&id=#PHOTO_ID#&tm=#tm#" ??cop=u
border=1 align=left> 
</td>

<td align=left colspan=2 class=big>
<span class=rb style="background-color:white; "><b><i>#name# #name1# #name2#</i></b>&nbsp;</span><br>  ??
</td></tr>

<tr><td align=right width=160>Дата рождения: </td><td class=big>#DATA_ROZHD#</td></tr> ??

<tr><td align=right>Имя (англ.): </td><td class=big>#fio_e#</td></tr> ??fio_e

<tr><td align=right>#obrazovanie#: </td><td class=big>#OBRAZOVANIE_STR# </td></tr> ??OBRAZOVANIE_STR

<tr><td align=right nowrap=true>#uchenaja_stepen#: </td><td class=big>#UCH_STEPEN_STR#</td></tr> ??UCH_STEPEN_STR

<tr><td align=right nowrap=true>#uchenoe_zvanie#: </td><td class=big>#UCH_ZVANIE_STR#</td></tr> ??UCH_ZVANIE_STR

<tr><td align=right>&nbsp;<br>
#doljnosti#: </td><td class=big 
style="border-bottom:solid 1px #b_dark#;" ??
>
$GET_DATA [getPosts]
#DOLZHN#
<center><span id=b_expert><br>
$INCLUDE common.dat[butt] param: label=Изменить; onClick=showEditContacts(); width=100; img=edit12.gif; ??R_MODIF
&nbsp;&nbsp;
$INCLUDE common.dat[butt] param: label=Добавить экспертную оценку; onClick=showEditExpert();  width=65; img=plus12.gif; ??XXX
</span>
</td></tr>

<tr><td colspan=3
class=b ??comments
>&nbsp;</td></tr> 

<tr><td colspan=3 align=center>
$INCLUDE [expertBlock]
</td></tr>

<tr><td colspan=3 class=b >
<div id=pers_details>
#comments#
<small><br>
 <a href="mailto:#email#"><img src="#imgPath#mail.gif" width=16 height=16 border=0> #email#</a> ??email&USER_ID&!USER_ID=1
&nbsp;  <a href="#www#" target=_blank><img src="#imgPath#ie.gif" width=16 height=16 border=0> #www#</a> ??www
</div></td></tr></table>
[end]

&nbsp; <img src="#imgPath#phone.gif" width=17 height=13 border=0> #phone#;  ??phone
<img src="#imgPath#home.gif" width=16 height=16 border=0> корп.#building#, комн.#room# ??building|room


[expertBlock]
<div id=editExpert style="display:none;">
<table border=0 cellspacing=5 style="border:solid 0px #b_dark#; background-color:##F8FFF0;">

<tr><td align=right>
#mark# Ваши Ф.И.О:</td><td><input name="e_fio" size="90" value="#e_fio#" class=xp>
</td></tr>

<tr><td align=right>
Место работы: </td><td><input name="e_emp" size="90" value="#e_emp#" class=xp>
</td></tr>
<tr><td align=right>
Должность: </td><td><input name="e_post" size="90" value="#e_post#" class=xp>
</td></tr>

<tr><td align=right>
#mark# <img src="#imgPath#mail.gif" width=16 height=16 border=0> email: </td><td><input name="e_email" size="30" value="#e_email#" class=xp>
&nbsp;&nbsp;
<img src="#imgPath#phone.gif" width=17 height=13 border=0> Телефон(ы): <input name="e_phone" size="30" value="#e_phone#" class=xp>
</td></tr>

<tr><td colspan=2>#mark# <b>Ваша оценка:</b></td></tr> 
<tr><td colspan=2><textarea name=e_comments rows=16 cols=120 class=xp>#e_comments#</textarea></td></tr> 
<tr><td colspan=2>
<i>Поля, помеченные #mark# обязательны для заполнения</i>
</td></tr> 
<tr><td colspan=2 align=center>
$INCLUDE common.dat[butt] param: label=Занести; onClick=doSave("e");   width=65; img=checked_small.gif; 
&nbsp;&nbsp;
$INCLUDE common.dat[butt] param: label=Отмена; onClick=showEditExpert();   width=65;  img=close12.gif;
</td></tr></table>
</div>
[end]


[editBlock]
<div id=editContacts style="display:none;">
<table border=0 cellspacing=5 class=rt>
<tr><td align=right>
<img src="#imgPath#mail.gif" width=16 height=16 border=0> email: </td>
<td colspan=2><input name="email" size="40" value="#email#" class=xp>
<br><small><i>email доступен только зарегистрированным пользователям ОИЯИ<br>и только из сети ОИЯИ<br>Роботы, собирающие email-адреса для рассылки спама,<br> не смогут его получить из базы ПИН.
</i></small>
</td><td width=90 align=right>
$INCLUDE common.dat[butt] param: label=Занести; onClick=doSave("c");   width=65; img=checked_small.gif;  ??!id
$INCLUDE common.dat[butt] param: label=Сохранить; onClick=doSave("u");   width=100; img=checked_small.gif;  ??id
<br>
$INCLUDE common.dat[butt] param: label=Отмена; onClick=showEditContacts();   width=100;  img=close12.gif;
</td></tr>

<tr><td align=right nowrap=true>
Имя (англ): </td><td colspan=2><input name="fio_e" size="40" value="#fio_e#" class=xp>

<tr><td align=right nowrap=true>
<img src="#imgPath#ie.gif" width=16 height=16 border=0> Домашняя страница: </td><td colspan=2><input name="www" size="40" value="#www#" class=xp>
</td><td width=90 align=right>
</td>
</tr>

<tr><td align=right>
Фото: </td><td colspan=3><input type=file name="FILE_1" size="60" onChange="setPhoto()" class=xp>
$INCLUDE common.dat[butt] param: label=Удалить; onClick=removePhoto();  img=close12.gif; 	??PHOTO_EXISTS
</td></tr>

<tr><td align=right class=big valign=top> Как назвать? ? : </td></tr> ??
<tr><td colspan=4><textarea name=comments rows=16 cols=120 class=xp>#comments#</textarea></td></tr> 

</table>
</div>
[end]


[OLD PHONE - NOT USED]
<tr><td align=right>
<img src="#imgPath#phone.gif" width=17 height=13 border=0> Телефон(ы): </td><td colspan=2><input name="phone" size="40" value="#phone#" class=xp>
</td></tr>

<tr><td align=right>
<img src="#imgPath#home.gif" width=16 height=16 border=0> 
Офис: </td><td colspan=2>корп. <input name="building" value="#building#" size="15" class=xp>
комн.: <input name="room" value="#room#" size="5" class=xp>
</td></tr>
[end]

[script]
<script>
var frm = document.theForm;
try { var f_menu = top.frames["TREE"].window; } catch (e) {}
var d_details = document.getElementById("pers_details");
var d_cont = document.getElementById("editContacts");
var d_exp = document.getElementById("editExpert");
var b_exp = document.getElementById("b_expert");

frm.comments.value = frm.comments.value.replace(/<br>/g, "\r\n"); ??R_MODIF=1&!cop=u

function removePhoto()
{
	if (confirm("Удалить фото?"))
	{
		frm.cop.value="df";
		frm.submit();
	}
}


function showEditContacts()
{	if (d_cont.style.display == "block")
	{	d_cont.style.display = "none";
		d_details.style.display = "block";
		b_exp.style.display = "block";
		#HIDE_PHONES# 
	}
	else
	{	d_cont.style.display = "block"
		d_details.style.display = "none";
		b_exp.style.display = "none";
		#SHOW_PHONES# 
	}
}

function showEditExpert()
{ if (d_exp.style.display == "block")
	{ b_exp.style.display = "block";
		d_exp.style.display = "none";
	}
	else
	{ b_exp.style.display = "none";
		d_exp.style.display = "block";
	}
}

function doSave(cop)
{ if (checkFields(cop))
  { frm.cop.value=cop; 
    frm.target="";
    frm.submit();
  }
}

function checkFields(cop)
{ if (cop == "e")
	{ if (!checkTextField(frm.e_fio, 5, "Ваши фамилию, имя, отчество")) return false; 
		if (!checkTextField(frm.e_email, 6, "Ваш email")) return false; 
		if (!checkTextField(frm.e_comments, 10, "Вашу оценку")) return false; 
		frm.e_comments.value = frm.e_comments.value.replace(/\r\n/g, "<br>").replace(/\"/g, "'"); 
	}
	else
		frm.comments.value = frm.comments.value.replace(/\r\n/g, "<br>").replace(/\"/g, "'"); 
  return true;
}

function refreshList()
{ 
	f_menu.openMenuItem(#folder_id#, true); ??folder_id
}

function setPhoto()
{ // alert (frm.FILE_1.value);
  var im = document.getElementById("u_photo");
	if (frm.FILE_1.value.length>3){
		im.clearAttributes();
		im.src = frm.FILE_1.value;
		setTimeout("resizeIm();",1500);
		}
	else{
		im.src = "#servletPath#?c=showPhoto&id=#PHOTO_ID#";
	}
}
function resizeIm(){
var im = document.getElementById("u_photo");
			if ((im.width>#photoWidth#)||(im.height>#photoHeight#)){
				if (im.width/im.height>1){
					w=#photoWidth#;
					h=im.height*(w/im.width);				
					im.width=w;
				}else{
					h=#photoHeight#;
					w=im.width*(h/im.height)
					im.height=h;
					im.width=w;
				}
			}
}

showEditContacts();	??cop=df

</script>
[end]


============================== SQLs ========================
[preSQLs]
$SET_PARAMETERS CURR_REC_ID=#id#; ??id
$INCLUDE [getPhotoId]
$INCLUDE [deletePhoto]	??cop=df&PHOTO_EXISTS
[end]

[deletePhoto]
delete from p_photos where ID=#PHOTO_ID# or Person_ID=#CURR_REC_ID#
;
update p_persons set photo_id=null where id=#id#;
;
[end]

[getPhotoId]
select photo_id as "PHOTO_ID", photo_id as "PHOTO_EXISTS" from p_persons where id=#id# 		??id
;
select max(id)+1 as "PHOTO_ID" from p_photos ??!PHOTO_EXISTS&FILE_1
;
delete from p_photos where ID=#PHOTO_ID# or Person_ID=#CURR_REC_ID# ??FILE_1&cop=u
;
select concat(',',t.tabnom) as "TAB_NOMS" 
 ,concat('document.getElementById("editPhone_',t.tabnom,'").style.display = "none"; ') as "HIDE_PHONES"
 ,concat('document.getElementById("editPhone_',t.tabnom,'").style.display = "block"; ') as "SHOW_PHONES"
from p_persons_post t 
where 
t.is_deleted != 1
and id=#id# ??id
;
[end]

[StoreFile]
INSERT INTO p_photos (PHOTO, ID, Person_ID, FILENAME, EXT, CONTENT_TYPE) 
 VALUES(?, 0#PHOTO_ID#, #CURR_REC_ID#, '#FILE_1#', '#FILE_1_TYPE#', '#FILE_1_CONTENT_TYPE#' )
 ;
[end]


[UpdateRecord]
update p_persons 
set 
name='#name#', name1='#name1#', name2='#name2#', ??
fio_e='#fio_e#', email='#email#', www='#www#', comments='#comments#'

phone_wrk='#phone#', building='#building#', room='#room#' ??

 , photo_id=#PHOTO_ID#  ??PHOTO_ID
 , photo_id=null  ??!PHOTO_ID
		, modifier_id=0#USER_ID#, modified=now()
where id=#id#;
[end]


[GetRecord]
select p.name as "name", p.name1 as "name1", p.name2 as "name2", p.fio_e, p.email as "email", p.www as "www"
, p.phone_wrk as "phone", p.building as "building", p.room as "room" ??
, p.comments as "comments"
, p.modifier_id, p.modified ??
, DATE_FORMAT(p.data_rozhd,'#dateFormat#') as "DATA_ROZHD"
, p.OBRAZOVANIE_STR
, p.UCH_STEPEN_STR
, p.UCH_ZVANIE_STR
from p_persons p 
where p.id=#id#;
[end]


[updatePhones]
$GET_DATA [updatePhonesSQL]
PHONE_VAL: #PHONE_VAL# ??
[end]

[updatePhonesSQL]
select concat('##','phone_#tabn#','##') as "PHONE_VAL"
 ,concat('##','building_#tabn#','##') as "BLD_VAL"
 ,concat('##','room_#tabn#','##') as "ROOM_VAL"
;
replace into p_phone set 
 TabNo=#tabn#
	,Phone_Work='#PHONE_VAL#' ??PHONE_VAL
	,Phone_Work=null 			??!PHONE_VAL
	,Bilding='#BLD_VAL#'  ??BLD_VAL
	,Bilding=null  				??!BLD_VAL
	,office='#ROOM_VAL#' 	??ROOM_VAL
	,office=null					??!ROOM_VAL
;
[end]



[editPhones]
,'<div id="editPhone_',cast(t.tabnom as char),'" style="display:none;"><small>тел.:&nbsp;<input name="phone_',cast(t.tabnom as char),'" size="25" value="',ifnull(ph.Phone_Work,''),'" class=xp>'
,' корп.:&nbsp;<input name="building_',cast(t.tabnom as char),'" value="',ifnull(ph.Bilding,''),'" size="10" class=xp>'
,' комн.:&nbsp;<input name="room_',cast(t.tabnom as char),'" value="',ifnull(ph.office,''),'" size="10" class=xp></small></div>'
[end]

[getPosts]
select 
concat('<hr>',case when length(o1.description) > 1 then concat(o1.description,', ') else '' end
	,o.description,', <br><b>', t.BERTH
	,'</b><small>',if (t.usl_rab in(356,357),' <i>(совм.)</i>','')
	 ,', ',IFNULL(DATE_FORMAT(t.data_d,'#dateFormat#'),'') ??
	,'<br>&nbsp;&nbsp;&nbsp;',if(ph.Phone_Work is null,'', concat('<img src="#imgPath#phone.gif" width=17 height=13 border=0> ',ph.Phone_Work))
	,if(ph.Bilding is null,'', concat(', <img src="#imgPath#home.gif" width=16 height=16 border=0> корп.',ph.Bilding))
	,if(ph.office is null,'', concat(', каб.',ph.office))
	,'</small><br>'
$INCLUDE [editPhones]
	,'<hr>' ??
	) as "DOLZHN"

, lcase(t.TIP_DEJAT_NAME) as "TIP_D"
, concat(t.USL_RAB_NAME,', <small>'
		,IFNULL(DATE_FORMAT(t.nachalo,'#dateFormat#'),'.')
		,'-',IFNULL(DATE_FORMAT(t.konec,'#dateFormat#'),'.')) as "USL"
, usl_rab, dolzhnost ??
, nachalo, konec ??
from p_persons_post t
 left join t_tree o on t.otdel=o.id
 left join p_phone ph on ph.TabNo=t.tabnom
 left join t_tree o1 on o1.id=o.pid
 where t.id=0#id#
 and t.usl_rab in (1,2,4,5,8,9) ??
 and t.is_deleted != 1
order by t.usl_rab
[end]