[parameters]
KeepLog=true
mark=<img src="#imgPath#tree/bullet_r1.gif" width=7 height=12>
space=<tr><td align=left colspan=2>&nbsp;</td></tr> 
SPACE=<tr><td colspan=2>&nbsp;</td></tr>
SPACE=<tr><td colspan=2 class=b><small>&nbsp;</td></tr><tr><td colspan=2></td></tr> ??
data_help=<i>(дд.мм.гггг)</i>
$INCLUDE css/css.cfg[parameters]
[end]

[item] param: form_name=theForm; name; label; value; size=60; help;
<tr><td class=p10 align=right>#label#:</td>
<td><input size=#size# class=xpc name=#name#_new value="#value#" onChange="setChanged(document.#form_name#)">
#help#
</td></tr>
[end]

[item_dd] param: form_name=theForm; name; label; value; list;
<tr><td class=p10 align=right>#label#:</td>
<td class=p10><select name=#name#_new onChange="setChanged(document.#form_name#)"><option></option>#list#</select>
<script>selectOptionByVal(document.#form_name#.#name#_new,"#value#");</script> ??value
[end]

[item_info] param: form_name=theForm; name; label; value; code; tab; width, padding; cop;
<tr><td align=right>#label#: </td><td><span class=xpr id=#form_name#_#name#_td>#value#</span>
<input type=hidden name=#name#_new value="#code#">
<a href="javascript:getCode('#tab#', '#form_name#', '#name#', '#cop#', #width#, #padding#)"> >></td></tr> 
[end]


[report] 
<style>
.yr_i {padding:3px; margin:0px; background-color:whitesmoke; color:#204080; cursor:pointer; text-align:center;
border: solid 1px gray;
}
.yr_act {background-color:white; font-weight:bold; cursor:pointer; text-align:center;
border-top: solid 1px gray;
border-left: solid 1px gray;
border-right: solid 1px gray;
}
table.part {background-color:white; margin:0; padding:0; width:95%;
border-bottom: solid 1px gray;
border-left: solid 1px gray;
border-right: solid 1px gray;
}
</style>

<div style="margin:0px; padding-left:30px; padding-bottom:30px; padding-top:30px; background-color:whitesmoke; border:none 1px red;">
<input type=hidden name=data_changed value="">

$SET_PARAMETERS folder_id=#object_id#;  ??!folder_id
$GET_DATA [GetRecord]

<table border=0 width=95% style="padding:0; margin:0; border:none;" cellpadding=0 cellspacing=0><tr>
<td id=s_common onClick="selPart('common');" class=yr_act nowrap=true>Общие данные
</td><td id=s_edu onClick="selPart('edu');" class=yr_i>Образование
</td><td id=s_posts onClick="selPart('posts');" class=yr_i>Должности</td> 
</td><td class=b width=50% align=center>
$INCLUDE common.dat[butt] param: label=Сохранить; onClick=doSave(); width=80; img=edit12.gif;  ??USER_ROLE=SA
&nbsp;
$INCLUDE common.dat[butt] param: label=Удалить; onClick=doDelete(); width=80; img=del_cross.gif;  ??USER_ROLE=SA
</td></tr></table>

<div id=d_common style="display:block; padding:0; margin:0;">
<table border=0 class=part cellspacing=7>#SPACE#
$INCLUDE [item] param: name=name; label=Фамилия; value=#name#; size=30;
$INCLUDE [item] param: name=name1; label=Имя; value=#name1#; size=30;
$INCLUDE [item] param: name=name2; label=Отчество; value=#name2#; size=30;
$INCLUDE [item] param: name=data_rozhd; label=Дата рождения; value=#DATA_ROZHD#; size=12; help=#data_help#;
$INCLUDE [item_info] param: name=grazhdanstvo; label=Гражданство; value=#GRAZHDANSTVO#; code=#GRAZHDANSTVO_CODE#; tab=rb_22; width=300; padding=100; cop=search;
$INCLUDE [item_dd] param: name=pension; label=Пенсионер; value=#PENS_CODE#; list=#PENSII#;
</td></tr>#SPACE#</table>
</div>

<div id=d_edu style="display:none;">
<table border=0 class=part cellspacing=7>#SPACE#
$INCLUDE [item_dd] param: name=obrazovanie; label=Образование; value=#OBRAZ_CODE#; list=#OBRAZOVANIJA#;
 Дата: <input size=12 class=xpc name=data_ob_new value="#DATA_OB#" onChange="setChanged(document.theForm)">
 #data_help#
</td></tr>
$INCLUDE [item_info] param: name=spec; label=Специальность по образованию; value=#SPEC#; code=#SPEC_CODE#; tab=rb_07; width=500; padding=0;
$INCLUDE [item_dd] param: name=uch_stepen; label=Ученая степень; value=#STEPEN_CODE#; list=#STEPENI#;
отрасль науки: <select name=otrasl_n_new onChange="setChanged(document.theForm)"><option></option>#NAUKI#</select>
<script>selectOptionByVal(document.theForm.otrasl_n_new,"#OTRASL_CODE#");</script> ??OTRASL_CODE
</td></tr>
<tr><td class=p10 align=right>
 Дата защиты:</td><td class=p10><input size=12 class=xpc name=data_zash_new value="#DATA_ZASH#" onChange="setChanged(document.theForm)">
 &nbsp; Дата документа: <input size=12 class=xpc name=data_doc_new value="#DATA_DOC#" onChange="setChanged(document.theForm)">
 #data_help#
</td></tr>
$INCLUDE [item_dd] param: name=uch_zvanie; label=Ученое звание; value=#ZVANIE_CODE#; list=#ZVANIJA#;
&nbsp;Дата: <input size=12 class=xpc name=data_uch_zv_new value="#DATA_UCH_ZV#" onChange="setChanged(document.theForm)">
 #data_help#
</td></tr>

$INCLUDE [item_info] param: name=uzkaja_spec; label=Узкая специальность; value=#UZK_SPEC#; code=#UZK_SPEC_CODE#; tab=rb_35; width=500; padding=0;
</td></tr>#SPACE#</table></div>
</form>

$INCLUDE persons/edit_posts.cfg[head] 

<div id=d_posts style="display:none;">
$CALL_SERVICE c=persons/edit_posts
</div>

$INCLUDE [script]

<center> <br>
<br>&nbsp;
<iframe width=750 
height=0 ??!debug=on
height=600 ??debug=on
name="workframe" id="workframe" src="#ServletPath#?c=empty" scrolling="NO" frameborder="0">
</iframe>
</div>

</body></html>
[end]

[script]
<script>
var frm = document.theForm;
var f_menu = top.frames["TREE"].window;
var formList = new Array();

var currPart="common";

function doDelete()
{ if (!confirm("Удалить полностью информацию о сотруднике \n\r #name# #name1# #name2# ? \n\r(восстановление невозможно!)")) return;
	frm.c.value="persons/new_person";
	frm.cop.value="del";
	frm.target="";
	frm.submit();
}

function doAddPost()
{	frm.c.value="persons/edit_posts";
	frm.cop.value="new";
	frm.target="workframe";
	frm.submit();
}

function doDeletePost(tabnom, post)
{	if (!confirm("Удалить должность \"" + post +"\" \n\r ")) return;
	frm.c.value="persons/edit_posts";
	frm.cop.value="del";
	frm.child_id.value=tabnom;
	frm.target="workframe";
	frm.submit();
}

function getResults(srcDiv, resDivName)
{ document.getElementById(resDivName).innerHTML=srcDiv.innerHTML;
}


function selPart(id)
{ if (frm.data_changed.value=="Y")
		if (!checkDates()) return;
	document.getElementById("d_" + currPart).style.display="none";
	document.getElementById("s_" + currPart).className="yr_i";
	document.getElementById("d_" + id).style.display="block";
	document.getElementById("s_" + id).className="yr_act";
	currPart = id;
}

function setChanged(f)
{ f.data_changed.value="Y";
}

function checkDates(formName)
{	if (formName)
	{	if (!checkDate("data_d_new","Дата должности", false, formName)) return false;
		if (!checkDate("nachalo_new","Начало работы", false, formName)) return false;
		if (!checkDate("konec_new","Окончание контракта", false, formName)) return false;
	}
	else
	{	if (!checkDate("data_rozhd_new","Дата рождения", false)) return false;
		if (!checkDate("data_ob_new","Дата образования", false)) return false;
		if (!checkDate("data_zash_new","Дата защиты", false)) return false;
		if (!checkDate("data_doc_new","Дата документа", false)) return false;
		if (!checkDate("data_uch_zv_new","Дата ученого звания", false)) return false;
	}
	return true;
}

function doSave()
{ result = "";
 ===== Сначала обрабатываем формы должностей ===== ??
	for (i=1; i<document.forms.length; i++)
	{ var frm2 = document.forms[i];
		if (frm2.data_changed.value == "Y")
		{ formList[formList.length] = frm2.name;
			if (!checkDates(frm2.name)) return;
			frm2.c.value="persons/tab_OKe_posts_save";
			frm2.cop.value="u";			
			frm2.submit();
		}
		else ??
			formList[i-1] = ""; ??
	}

 ===== Потом - форму личных данных ===== ??
	if (frm.data_changed.value == "Y")
	{	formList[formList.length]="theForm";
		if (!checkDates()) return;
		if (!checkText(frm.name_new.value, 2, "фамилию")) return;
		frm.c.value="persons/tab_OKe_save";
		frm.cop.value="u";
		frm.target="workframe";		
		frm.submit();
	}
	alert (formList); ??
	if (formList.length == 0) selectView("ok");
}

var result = "";

function formSubmitResult(formName, res)
{ 
//	alert (formName+":"+res);
	var numForms=0;
	result += res;
	for (i=0; i<formList.length; i++)
	{ if (formList[i] == formName)
		{ formList[i] = "";
			if (res=="")
				eval(formName + ".data_changed.value=''");
		}
		else if (formList[i] != "")
			numForms++;
	}
	if (numForms == 0)
	{ if (result == "")
		{ alert("Изменения сохранены");
			selectView("ok");
		}
		else
			alert(result);
		formList = new Array();
	}
}

function getCode(table_name, form_name, field_name, cop, width, padding)
{ // openWindow('/pin/pin?c=info/countries&tab=' + table_name + "&field=" + field_name + "&cop=" + cop,	'common_info', 400, 400);
	  var win= window.open('/pin/pin?c=info/generalInfo&tab=' + table_name + "&form_name=" + form_name +"&field=" + field_name 
		+ "&cop=" + cop + "&padding=" + padding
		,	'common_info'
		, "toolbar=no,location=no,directories=no,status=no,statusbar=no,menubar=no,scrollbars=no," +
  "resizable=yes,copyhistory=no,height=400,width=" + width);
}

function getPost(table_name, form_name, field_name, cop, width, padding)
{ // openWindow('/pin/pin?c=info/countries&tab=' + table_name + "&field=" + field_name + "&cop=" + cop,	'common_info', 400, 400);
	  var win= window.open('/pin/pin?c=info/posts&tab=' + table_name + "&form_name=" + form_name +"&field=" + field_name 
		+ "&cop=" + cop + "&padding=" + padding
		,	'common_info'
		, "toolbar=no,location=no,directories=no,status=no,statusbar=no,menubar=no,scrollbars=no," +
  "resizable=yes,copyhistory=no,height=480,width=" + width);
}

function setInfo(code, v, form, field)
{  // alert (code+":"+v+":"+form+":"+field);
	// alert (typeof document.getElementById(field + "_td"));
	document.getElementById(form + "_" + field + "_td").innerHTML=v + " <small> (" + code + ")</small>";
	eval("document." + form + "." + field + "_new").value = code;
	eval("document." + form + ".data_changed").value = "Y";
}
</script>
[end]

============================== SQLs ========================
[preSQLs]
$SET_PARAMETERS CURR_REC_ID=#id#; ??id
select concat('<option value=''',cast(code as char),'''>',lcase(name),'</option>') as "OBRAZOVANIJA"
from rb_04 order by code;
select concat('<option value=''',cast(code as char),'''>',lcase(name),'</option>') as "NAUKI"
from rb_16 order by code;
select concat('<option value=''',cast(code as char),'''>',lcase(name),'</option>') as "PENSII"
from rb_20 order by code;
select concat('<option value=''',cast(code as char),'''>',lcase(name),'</option>') as "STEPENI"
from rb_34 order by code;
select concat('<option value=''',cast(code as char),'''>',lcase(name),'</option>') as "ZVANIJA"
from rb_36 order by code;
[end]


[GetRecord]
select p.name as "name", p.name1 as "name1", p.name2 as "name2"
, DATE_FORMAT(p.data_rozhd,'#dateFormat#') as "DATA_ROZHD"

, rb_22.name as "GRAZHDANSTVO"
, p.grazhdanstvo as "GRAZHDANSTVO_CODE"
, rb_07.NAME as "SPEC", p.spec as "SPEC_CODE"
, DATE_FORMAT(p.data_ob,'#dateFormat#') as "DATA_OB"

, p.uch_stepen as "STEPEN_CODE", p.otrasl_n	as "OTRASL_CODE"
, DATE_FORMAT(p.data_zash,'#dateFormat#') as "DATA_ZASH", DATE_FORMAT(p.data_doc,'#dateFormat#') as "DATA_DOC"


, p.uch_zvanie as "ZVANIE_CODE"
, DATE_FORMAT(p.data_uch_zv,'#dateFormat#') as "DATA_UCH_ZV"

, rb_36.NAME as "UCH_ZVANIE" ??
, rb_35.NAME as "UZK_SPEC", p.uzkaja_spec	as "UZK_SPEC_CODE"
, p.pensioner as "PENS_CODE", p.obrazovanie as "OBRAZ_CODE"
from p_persons p 
	left join rb_07 on rb_07.code=p.spec		
	left join rb_36 on rb_36.code=p.uch_zvanie ??
	left join rb_35 on rb_35.code=p.uzkaja_spec		
	left join rb_22 on rb_22.code=p.grazhdanstvo
	
where p.id=#id#;
[end]
