[parameters]
service=jinr.pin.ServiceUploadFile ??FILE_1
KeepLog=true
mark=<img src="#imgPath#tree/bullet_r1.gif" width=7 height=12>
space=<tr><td align=left colspan=2>&nbsp;</td></tr> 
dbDriverASU_ORA=oracle.jdbc.driver.OracleDriver
connStringASU_ORA=connString=jdbc:oracle:thin:@oracle01.jinr.ru:1521:ADM
usrASU_ORA=viewdb
pwASU_ORA=version20
$INCLUDE css/css.cfg[parameters]
[end]


[report]
$SET_PARAMETERS folder_id=#object_id#;  ??!folder_id

$GET_DATA [GetRecord] ??R_VIEW=1
<br>
$INCLUDE [pers info]  ??R_VIEW=1
$INCLUDE [script]  ??R_VIEW=1
</div>
</form></body></html>
[end]

[pers info]
$SET_PARAMETERS PHOTO_ID=0; 	??!PHOTO_ID
<table border=0 cellspacing=0 >
<tr><td width=1%> </td><td width=1%> </td><td> </td></tr>

<tr><td rowspan=15 class=b width=100>
<img id=u_photo src="#servletPath#?c=showPhoto&id=#PHOTO_ID#" border=1 align=left> 
</td>

<td align=left colspan=2 class=big>
<span class=rb style="background-color:white; "><b><i>#dannie_otdela_kadrov#</i></b>&nbsp;</span><br>  
</td></tr>

<tr><td align=right>#data_rojdenija#: </td><td class=big>#DATA_ROZHD#</td></tr> 
<tr><td align=right>#pensioner#: </td><td class=big>#PENSIONEER_NAME#</td></tr>  ??PENSIONEER_NAME
<tr><td align=right>#grajdanstvo#: </td><td>#GRAZHDANSTVO_NAME#</td></tr>  ??GRAZHDANSTVO_NAME
<tr><td align=right>#obrazovanie#: </td><td class=big>#OBRAZOVANIE_STR#</td></tr> ??OBRAZOVANIE_STR
<tr><td align=right nowrap=true>#uchenaja_stepen#: </td><td class=big>#UCH_STEPEN_STR#</td></tr> ??UCH_STEPEN_STR
<tr><td align=right nowrap=true>#uchenoe_zvanie#: </td><td class=big>#UCH_ZVANIE_STR#</td></tr> ??UCH_ZVANIE_STR
<tr><td align=right class=b>
#doljnosti#: </td><td class=big style="border-bottom:solid 1px #b_dark#;">
$GET_DATA [getPosts]
#DOLZHN#
$GET_DATA [getElection] ??
Последние выборы на должность: #EL_DAT#, <small>#EL_TEXT#</small>	??EL_DAT
</td></tr>
<tr><td colspan=2 align=center nowrap=true> <br>
$INCLUDE common.dat[butt] param: label=Изменить; onClick=doEdit(); width=80; img=edit12.gif;   ??USER_ROLE=SA
$INCLUDE common.dat[butt] param: label=Печатать; onClick=doPrint(); width=80; img=edit12.gif;  ??
<br>&nbsp;
</td></tr>

<tr><td colspan=3 class=b align=center>
</td></tr>

</table>
[end]



[script]
<script>
var frm = document.theForm;
var f_menu = top.frames["TREE"].window;

function doPrint()
{
}

function refreshList()
{ 
	f_menu.openMenuItem(#folder_id#, true); ??folder_id
}
$INCLUDE [admScript]  ??USER_ROLE=SA
</script>
[end]

[admScript]

function doEdit()
{ selectView("oke");
}
[end]
============================== SQLs ========================
[preSQLs]
$SET_PARAMETERS CURR_REC_ID=#id#; ??id
$INCLUDE [getPhotoId]
[end]

[getPhotoId]
select photo_id as "PHOTO_ID", photo_id as "PHOTO_EXISTS" from p_persons where id=#id#; 		??id
$INCLUDE [NewPhotoId]	??!PHOTO_EXISTS&FILE_1
delete from p_PHOTOS where ID=#PHOTO_ID# or Person_ID=#CURR_REC_ID#; ??FILE_1&cop=u
[end]


[GetRecord]
select p.name as "name", p.name1 as "name1", p.name2 as "name2"
, DATE_FORMAT(p.data_rozhd,'#dateFormat#') as "DATA_ROZHD"
, p.GRAZHDANSTVO_NAME
, p.OBRAZOVANIE_STR 
, p.UCH_STEPEN_STR
, p.UCH_ZVANIE_STR
, p.PENSIONEER_NAME, p.pensioner as "PENS_CODE"
from p_persons p 
	
where p.id=#id#;
[end]



[getPosts]
select 
concat('',case when length(o1.description) > 1 then concat(o1.description,', ') else '' end
	,o.description,', <br><b>', t.BERTH
	,'</b>, <small><i>#tab_N#',cast(t.tabnom as char),'</i><br>/',lcase(t.TIP_DEJAT_NAME),', ', ifnull(t.USL_RAB_NAME,''),' /' 
	,' <br> '
	, case when t.data_d is null or t.data_d=STR_TO_DATE('00.00.0000', '%d.%m.%Y') then '' else concat('#data_doljnosti#: ',DATE_FORMAT(t.data_d,'#dateFormat#'),',') end ??
	, case when t.nachalo is null or t.nachalo=STR_TO_DATE('00.00.0000', '%d.%m.%Y') then '' else concat(' #srok_raboty_s# ', DATE_FORMAT(t.nachalo,'#dateFormat#')) end 
	, case when t.konec is null or t.konec=STR_TO_DATE('00.00.0000', '%d.%m.%Y') then '' else concat(' #po# ', DATE_FORMAT(t.konec,'#dateFormat#')) end	

	,'</small><br> <br>'
	) as "DOLZHN"

, t.TIP_DEJAT_NAME as "TIP_D"
, concat(t.USL_RAB_NAME,', <small>'
		,IFNULL(DATE_FORMAT(t.nachalo,'#dateFormat#'),'.')
		,'-',IFNULL(DATE_FORMAT(t.konec,'#dateFormat#'),'.')) as "USL"
from p_persons_post t
 left join t_tree o on t.otdel=o.id
 left join t_tree o1 on o1.id=o.pid
where 
t.is_deleted != 1
and t.id=#id#
;
select concat(',',tabnom) as "TAB_NOMS" from p_persons_post where id=#id# and is_deleted != 1
;
[end]

[getElection]
$USE_DB ASU_ORA
select to_char(date_elections, 'DD.MM.YYYY') as "EL_DAT", berth_text as "EL_TEXT"
from (select * from (
select * from kadr.in_elections 
union select * from kadr.ps_elections 
) order by id desc)
where tabno in (0#TAB_NOMS#)
and rownum=1
[end]