[parameters]
tthPath=c:/tth/
[end]

[report]
$SET_PARAMETERS DataStartPath=#tthPath#;
$SET_PARAMETERS debug=on ??
type_id:#type_id#; field_name:#field_name#; SRC_FIELD_LIST:#SRC_FIELD_LIST#    ??debug=on
$EXECUTE_LOOP src_field; #SRC_FIELD_LIST#; processField ??SRC_FIELD_LIST
[end]

[processField]
$SET_PARAMETERS SRC=; DEST_FIELD=;
$GET_DATA [getSrcData]
<hr>src_field:#src_field#; DEST_FIELD:#DEST_FIELD#<br>   ??debug=on
SRC:#SRC# ??
$CALL_SERVICE c=persons\execTTH  ??SRC
[end]


[getSrcData]
select view_field_name as "DEST_FIELD" 
from event_vars 
where type_id=#type_id# and field_name='#src_field#'
;
select #src_field# as "SRC" from event_values where id=#event_id#
;
write file:SRC=>data/#src_field#_#event_id#_#tm#.tex  ??SRC
;
update event_values set #DEST_FIELD#='' where id=#event_id# ??!SRC
[end]

[preSQLs]
select type_id from event_values where id=#event_id#
;
select concat(',',field_name) as "SRC_FIELD_LIST"
 ,concat(',',view_field_name) as "DEST_FIELD_LIST" 
from event_vars 
where type_id=#type_id#
and not field_name=view_field_name
[end]


