[parameters]
service=jinr.pin.ServiceUploadBFile ??BFILE_1
KeepLog=true
uploadPath=c:/aaa
filePath=/bbb/
StoreFilesToDB=Y
PieceLength=100000
[end]

[report]
$INCLUDE [report header]
[end]

[report header]
<table>
<tr><td align=right>Доступ: </td><td>
<select name=access>
<option value=0>Открыт для всех</option>
<option value=1>Открыт только для зарегистрированных</option>
<option value=2>Открыт только для меня</option>
</select>
</td></tr>
<tr><td align=right>Загрузить файл:</td><td>
<input name=BFILE_1 size=40 type=file>
</td></tr></table>
[end]

[report footer]
event_id:#event_id#
---
$GET_DATA [setSizeSQL]
[end]

[StoreBFileSQL]
INSERT INTO event_filebodies (file_id, pageNr, body, creator_id, date) 
 VALUES(#nextFileId#, ?, ?, #USER_ID#, now());
[end]

[preSQLs]
select ifnull(max(fileNr),0)+1 as "nextFileNr" 
from event_files
where event_id=#event_id#
;
select ifnull(max(file_Id),0)+1 as "nextFileId" 
from event_filebodies
;
insert into event_files (event_id, fileNr, file_Id, fileName, fileType, contentType, creator_id, date) 
 VALUES(#event_id#, #nextFileNr#, #nextFileId#, '#BFILE_1#','#BFILE_1_TYPE#','#BFILE_1_CONTENT_TYPE#', #USER_ID#, now());
[end]

[setSizeSQL]
update event_files set size=#FILE_SIZE# where file_Id=#nextFileId#
[end]