nica/costbook/copyCostbook2plan.cfg


[report]
$GET_DATA [get_costbook_record]

<div class="cb_mark" id="cb_mark_#rec_id#">
</div>

<script type="text/javascript">
document.theForm.CB_LINK_.value='#rec_id#'; 
$("##CB_ID").html('#rec_id#'); 
try {
document.theForm.NAZNACH_.value='#NAZNACH#'; 
}
catch (e) {alert("Ошибка копирования назначения платежа!");}

$("##NATURE").html("<i>"
+ "?"  ??!NATURE
+ "A: Материалы и оборудование РФ"  ??NATURE=1
+ "B: Материалы и оборудование зарубежные"  ??NATURE=2
+ "C: НИОКР и прочее" ??NATURE=3
+ "D: Стоительство" ??NATURE=4
+ "</i>"
);

$("##MEGA").show(); ??MEGA=1

document.theForm.summa_curr.value='#CB_REST#';

$('##st_#STATIA#').attr('checked', 'checked'); 
$('##curr_#CURR_CODE#').attr('checked', 'checked'); 
$('.cb_mark').html('-'); 
$('##cb_mark_#rec_id#').html('<i class="fa fa-star" aria-hidden="true"></i>V'); 
$(".tr_input_block").show(300);
</script>

[end]


[get_costbook_record]
select 
, replace(replace(cb.NAZNACH, chr(10), ' '), chr(13), ' ') as NAZNACH, cb.NATURE, cb.MEGA
, to_char(cb.STATIA,'00') as "STATIA"
, trim(to_char(cb.SUMMA_CURR,'999999999990')) as SUMMA_CURR
, cb.CURR_CODE
, cb.SUMMA_RUB, cb.SUMMA_USD, cb.SUMMA_EUR
, cb.SOURCE
from nica_costbook_#VER# cb
where
cb.id=#rec_id#
and YR = 2017
;
select 
#SUMMA_RUB# - nvl(sum(pp.SUMMA_RUB),0) ??CURR_CODE=810
#SUMMA_USD# - nvl(sum(pp.SUMMA_USD),0) ??CURR_CODE=840
#SUMMA_EUR# - nvl(sum(pp.SUMMA_EUR),0) ??CURR_CODE=978
as CB_REST
from nica_pplan_#VER# pp
join nica_costbook_pplan_#VER# cp on cp.c_id=#rec_id# and cp.p_id=pp.id

[end]