nica/costbook/getYearPlan.cfg

[parameters]
service=dubna.walt.service.TableServiceSpecial2 
debug=off
LOG=ON
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
numDigits=0
thsnDelimiter=&nbsp;
[end]


=============  ÂÛÂÎÄ ÒÀÁËÈÖÛ ÇÀÏËÀÍÈĞÎÂÀÍÍÛÕ ÏËÀÒÅÆÅÉ ïî èñòî÷íèêàì ===============


[report header]
<table border=0 >
[end]

 
[item]
<tr><td class="align_right"
 style="background-color:
white;  ??SOURCE=0
##A0FF80;   ??SOURCE=1
##FFB080;   ??SOURCE=2
">#DES#:</td> 
<td class="align_right" style="width:50px;">&nbsp;#SUMMA_USD#&nbsp;$</td></tr>
[end]


[report footer]
<tr><td class="l tb" style=""
><b>ÂÑÅÃÎ:</b></td> 
<td class="l tb" style="width:50px;"><b>&nbsp;#TOT_SUMMA_USD#&nbsp;$</b></td></tr>
</table>
[end]

========================================================

[preSQLs]
select replace(trim(to_char(sum(p.SUMMA_USD),'999G999G999G990')),' ','&nbsp;') as TOT_SUMMA_USD 
from nica_pplan_#VER# p
where extract(YEAR from p.DAT) = #f_nica_year#
and p.TASK_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#curr_id#) ) ??curr_id>0
[end]


[SQL]
select s.DES
, replace(trim(to_char(sum(p.SUMMA_USD),'999G999G999G990')),' ','&nbsp;') as SUMMA_USD 
, p.SOURCE
from nica_pplan_#VER# p
left join nica_src s on s.id=p.source

where extract(YEAR from p.DAT) = #f_nica_year#
and p.TASK_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#curr_id#) ) 
  ??curr_id>0
group by p.source, s.DES
 order by p.SOURCE

[end]

