nica/costbook/process_plan.cfg


[parameters]
debug=off
KeepLog=true
[end]


[report]
    $SET_PARAMETERS WBS_ID=#curr_id# ??!WBS_ID
    $GET_DATA [getAR] ??A_NICA
    $SET_PARAMETERS AR=2  ??!A_NICA
    $INCLUDE nica/costbook/process_plan.cfg[doIt] ??AR=2
[end]

[doIt]
    $SET_PARAMETERS f_source_sav=#f_source#; f_source=#f_source_param#;  ??f_source_param
    $SET_PARAMETERS WORK_YEAR=#f_costbook_year#;  ??!WORK_YEAR&f_costbook_year 
    $SET_PARAMETERS f_fact=0;  ??f_fact=2

    $SET_PARAMETERS MEGA=0; ??!MEGA
    $SET_PARAMETERS SOURCE_PRIZNAK=null; ??!SOURCE_PRIZNAK
    $SET_PARAMETERS CONTRACT_PRIZNAK=null;  ??!CONTRACT_PRIZNAK
    $SET_PARAMETERS nature=null; ??!nature
    $SET_PARAMETERS PRIZNAK=null; ??!PRIZNAK

    $GET_DATA [define chain] ??PLAN_ROOT_ID
    $SET_PARAMETERS PLAN_ROOT_ID=null; ??!PLAN_ROOT_ID

    $GET_DATA [calculate equiv$] ??!ERROR&!edit_src&cop=n|cop=u
    $GET_DATA [addRecord] ??cop=n

    $INCLUDE [check children]
    $GET_DATA [update record]   ??cop=u&!edit_src
    $GET_DATA [set source]      ??cop=u
    $GET_DATA [set aggr]        ??!edit_src&cop=u|cop=n
    $GET_DATA [deleteRecord]    ??!edit_src&cop=d
    $GET_DATA [calculate_13]    ??!cop=n|cop=u

    $SET_PARAMETERS  WU_ID=#curr_id#; ??curr_id&!WU_ID
    $GET_DATA [update parents] ??TMP-not done!
    $SET_PARAMETERS REC_ID=;
    $SET_PARAMETERS f_source=#f_source_sav#; ??f_source_sav
    <script>alert('#ERROR#'); </script> ??ERROR
[end]

[check children]
    $GET_DATA [check has children]
    $GET_DATA [check pplan overdraft]  ??NUM_CHILDREN>0
    $SET_PARAMETERS ERROR=Превышение суммы запланированных платежей на #OVERDRAFT_VALUE# USD.\n\rСохранена прежняя сумма.\n\r; ??OVERDRAFT
    $SET_PARAMETERS WORK_YEAR=#OLD_YEAR#; ERROR=#ERROR#Есть связанные платежи, запланированные на #OLD_YR#г. Для изменения года на #WORK_YEAR# необходимо их удалить.\n\rСохранен прежний год; ??NUM_CHILDREN>0&!OLD_YR=#WORK_YEAR#
[end]


========================================================

[preSQLs]
    select WBS_ID as "curr_id", YR as "OLD_YR" from nica_costbook_#VER# where ID=#REC_ID# ??REC_ID
    ;
    select YR as "WORK_YEAR" from nica_costbook_#VER# where ID=#REC_ID# ??REC_ID&!WORK_YEAR
    ;
    select replace('#summa_curr#',' ','') as "summa_curr" from dual
[end]

[getAR]
    select getNicaRights(#curr_id#, '#A_NICA#', '#A_NICA_RO#') as "AR" from dual;
[end]

[define chain]
    select root_id as "PREV_ROOT" from nica_costbook_#VER# where id=#PLAN_ROOT_ID#
    ;
    update nica_costbook_#VER# set root_id=0 where id=#PLAN_ROOT_ID# ??!PREV_ROOT
    ;
    select #PREV_ROOT# as "PLAN_ROOT_ID" from dual ??PREV_ROOT>0
[end]


[addRecord]
    select nvl(max(id),0) + 1 as REC_ID, to_char(SYSDATE, 'dd.mm.yyyy') as "MODIFIED" from nica_costbook_#VER#
    ;
    select nvl(max(nr),0) + 1 as NEW_NR from nica_costbook_#VER# where WBS_ID=#curr_id#
    ;
    insert into nica_costbook_#VER# 
            ( ID, ROOT_ID, WBS_ID, NR, NAZNACH
            , NATURE, MEGA, SOURCE, SOURCE_PRIZNAK, CONTRACT_PRIZNAK, YR, STATIA
            , SUMMA_CURR, CURR_CODE, summa_rub, summa_usd, summa_eur
            , IS_FACT, CREATED, CREATOR_ID, MODIFIED, MODIFIER_ID
        )
        values (#REC_ID#, #PLAN_ROOT_ID#, #curr_id#, #NEW_NR#, '#NAZNACH_#'
            , #nature#, #MEGA#, #f_source#, #SOURCE_PRIZNAK#, #CONTRACT_PRIZNAK#, #WORK_YEAR#, #statia#
            , #summa_curr#, #curr_code#, #summa_rub#, #summa_usd#, #summa_eur#
            , #f_fact#, SYSDATE, #USER_ID#, SYSDATE, #USER_ID#
        );
[end]


[check has children]
    select count(*) as "NUM_CHILDREN" from NICA_COSTBOOK_PPLAN_#VER#
    where c_id=#REC_ID#
[end]


[check pplan overdraft] ***** Проверка превышения существующего графика платежей новой сумме при обновлении записи
    select /* Существующая общая сумма по плану платежей */
      nvl(sum(nvl(SUMMA_USD,0)) , 0) as PPLAN_TOTAL_USD
    from  NICA_PPLAN_#VER#
    where id in (select p_id from nica_costbook_pplan_#VER#
        where c_id=#REC_ID#
    )
    ;
    select /* сравнение новой суммы с суммой по плану платежей */
     case when #summa_usd#<#PPLAN_TOTAL_USD#-0.9 then 'Y' else '' end as OVERDRAFT
     , round(#PPLAN_TOTAL_USD#-#summa_usd#+0.9, 0) as OVERDRAFT_VALUE
    from dual
[end]


[update record]
    select to_char(SYSDATE, 'dd.mm.yyyy') as "MODIFIED" from dual
    ;
    update nica_costbook_#VER#
        set ROOT_ID=#PLAN_ROOT_ID#
        , NAZNACH='#NAZNACH_#', NATURE=#nature#
        , YR=#WORK_YEAR#  ??WORK_YEAR
        , STATIA=#statia#
        , SUMMA_CURR=#summa_curr#, CURR_CODE=#curr_code# ??!OVERDRAFT
        , summa_rub=#summa_rub#, summa_usd=#summa_usd#, summa_eur=#summa_eur#  ??!OVERDRAFT
        , PRIZNAK=#PRIZNAK# 
        , SOURCE_PRIZNAK=#SOURCE_PRIZNAK#
        , CONTRACT_PRIZNAK=#CONTRACT_PRIZNAK#
        , MODIFIED=SYSDATE, MODIFIER_ID=#USER_ID# 
    where id=#REC_ID#
    ;
    update nica_pplan_#VER# set STATIA=#statia#, NATURE=#nature#, PRIZNAK=#PRIZNAK#
    where id in(select cp.p_id from nica_costbook_pplan_#VER# cp where c_id=#REC_ID#)
[end]

[calculate_13]
    update nica_costbook_12 cb
    set cb.summa_rub_13=cb.summa_rub/
    (select koef_13 from nica_koef_13 k where k.year=cb.yr and k.nature=cb.nature)
    where cb.id=#REC_ID# and not cb.nature is null
[end]


[set source]
    update nica_costbook_#VER#
    set MEGA=#MEGA#, SOURCE=#f_source#, SOURCE_PRIZNAK=#SOURCE_PRIZNAK#, CONTRACT_PRIZNAK=#CONTRACT_PRIZNAK#
        , PRIZNAK=#PRIZNAK#, ROOT_ID=#PLAN_ROOT_ID#, SRC_MODIFIED=SYSDATE, SRC_MODIFIER_ID=#USER_ID# 
    where id=#REC_ID#
    ;
    update nica_pplan_#VER# set SOURCE=#f_source#, MEGA=#MEGA# 
    where id in(select cp.p_id from nica_costbook_pplan_#VER# cp where c_id=#REC_ID#)
[end]

[update childs]

[end]


[set aggr]
    update nica_costbook_#VER# p
    set p.aggr=(select i.aggr from nica_plan_stat i where i.statia=p.statia)
    where id=#REC_ID#
[end]


[calculate equiv$]
    select USD_RUB as "R_USD", EUR_RUB as "R_EUR", EUR_USD as "R_USD_EUR"
    from NICA_BUDGET_RATES r where year=#WORK_YEAR#
    ;
    $INCLUDE [calc usd]   ??curr_code=840
    $INCLUDE [calc rub]   ??curr_code=810
    $INCLUDE [calc eur]   ??curr_code=978
from dual
[end]


[calc rub]
select round(#summa_curr#,2) as "summa_rub"
     , round(#summa_curr#/#R_USD#,2) as "summa_usd"
     , round(#summa_curr#/#R_EUR#,2) as "summa_eur"
[end]

[calc usd]
select round(#summa_curr#,2) as "summa_usd"
     , round(#summa_curr#*#R_USD#,2) as "summa_rub"
     , round(#summa_curr#/#R_USD_EUR#,2) as "summa_eur"
[end]

[calc eur]
select round(#summa_curr#*#R_EUR#,2) as "summa_rub"
     , round(#summa_curr#*#R_USD_EUR#,2) as "summa_usd"
     , round(#summa_curr#,2) as "summa_eur"
[end]


[deleteRecord]
    delete from nica_costbook_#VER# where id=#REC_ID#
[end]

ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ

    $INCLUDE [calc chf]   ??curr_code=756_ZZZ
    where id=#REC_ID#;

[zzzcalc rub]
update nica_costbook_#VER# set 
	summa_rub=round(summa_curr,2) 
,	summa_usd=round(summa_curr/#R_USD#,2)
, summa_eur=round(summa_curr/#R_EUR#,2)
[end]

[zzzcalc usd]
update nica_costbook_#VER# set 
	summa_usd=round(summa_curr,2) 
, summa_rub=round(summa_curr*#R_USD#,2) 
, summa_eur=round(summa_curr/#R_USD_EUR#,2)  
[end]

[zzzcalc eur]
update nica_costbook_#VER# set 
	summa_rub=round(summa_curr*#R_EUR#,2)
,	summa_usd=round(summa_curr*#R_USD_EUR#,2)
, summa_eur=summa_curr
[end]

[zzzcalc chf]
update nica_costbook_#VER# set 
	summa_rub=round(summa_curr*#R_CHF#,2)
,	summa_usd=round(summa_curr*#R_CHF#/#R_USD#,2)
, summa_eur=round(summa_curr*#R_CHF#/#R_EUR#,2)
[end]


[ZZZupdate parents]
select nvl(sum(SUMMA_USD),0) as "PRICETOTALPLAN_" from nica_costbook_#VER# where WBS_ID=#WU_ID# ; ??

update nica_ver_data /* UPDATE THIS WU PLAN */
set PriceYearPlan=(select nvl(sum(SUMMA_USD),0) from nica_costbook_#VER# where WBS_ID=#WU_ID# and YR=#p_year#)
, PriceTotalPlan=(select nvl(sum(SUMMA_USD),0) from nica_costbook_#VER# where WBS_ID=#WU_ID#)
where w_id=#WU_ID# and version=#VER# 
;
select pid as "P1" from nica_wu where id=#WU_ID#
;
select ','||id as "PARENTS" from nica_wbs connect by prior pid=id start with id=#P1#
;
update nica_ver_data vd  /* UPDATE PRICEYEARPLAN 4 DIRECT WU PARENT */
set vd.PRICEYEARPLAN=(select sum(c.PRICEYEARPLAN) from nica_wbs_wu_#VER# c where c.pid=#P1# and c.active=1)
where vd.w_id=#P1# and vd.version=#VER# 
;
update nica_ver_data w /* UPDATE PRICEYEARPLAN 4 LEVELS 2 - 0 */
set w.PriceYearPlan=(select sum(c.PriceYearPlan) from nica_wbs_wu_#VER# c where c.pid=w.w_id)
where  w.version=#VER# and w.w_id in(0#PARENTS#) 
;
update nica_ver_data w set w.PriceYearPlan=(select sum(c.PriceYearPlan) from nica_wbs_wu_#VER# c where c.pid=w.w_id)
where  w.version=#VER# and w.w_id in(0#PARENTS#) 
;
update nica_ver_data w set w.PriceYearPlan=(select sum(c.PriceYearPlan) from nica_wbs_wu_#VER# c where c.pid=w.w_id)
where  w.version=#VER# and w.w_id=0
;
[end]

+++++++++++++++++ PriceTotalPlan - в e_setPlanTotal !!! ++++++++++++++++++++++++++++
update nica_ver_data w set w.PriceTotalPlan=(select sum(c.PriceTotalPlan) from NICA_WBS_WU_#VER# c where c.pid=w.w_id) where w_id in(0#PARENTS#) and version=#VER#;
update nica_ver_data w set w.PriceTotalPlan=(select sum(c.PriceTotalPlan) from NICA_WBS_WU_#VER# c where c.pid=w.w_id) where w_id in(0#PARENTS#) and version=#VER#;
update nica_ver_data w set w.PriceTotalPlan=(select sum(c.PriceTotalPlan) from NICA_WBS_WU_#VER# c where c.pid=w.w_id) where w_id in(0#PARENTS#) and version=#VER#;

