nica/costbook/r_check_table.cfg

[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSpecial2 
LOG=ON
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0
makeTotalsForCols=SUMMA_USD,TOTAL_LIMIT_2,TOTAL_REST_2,TOTAL_PLAN_3,TOTAL_REST_3
totRowLabel=Всего:
NumSpecialCols=2
numDigits=0
thsnDelimiter=&nbsp; ??
thsnDelimiter=S
[end]

[numDigitsForCols]
STATIA=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
[end]

=================  ЛИМИТЫ - ВЫВОД ТАБЛИЦЫ ===============


[report header]
$CALL_SERVICE c=nica/costbook/process_limit ??cop&!cop=start&ZZZZZ
$SET_PARAMETERS AR=2 ??!A_NICA&!A_NICA_RO

$SET_PARAMETERS_SESSION f_costbook_year_=#f_costbook_year#;
$SET_PARAMETERS f_costbook_year=; ??f_costbook_year=ALL
$SET_PARAMETERS WORK_YEAR=#f_costbook_year#;
$SET_PARAMETERS WORK_YEAR=#f_nica_year#; ??!WORK_YEAR

$SET_PARAMETERS f_source=; ??f_source=ALL
$SET_PARAMETERS f_fact=0;
$SET_PARAMETERS srn=1; rpp=9999;  

curr_id=#curr_id#; prj_id=#prj_id#; WBS_ID=#WBS_ID#; ??
f_nica_year:#f_nica_year#; TYP=#TYP#; ??

<table class="tlist" border=0 cellspacing=0 cellpadding=0 style="width:100%; background-color:white;">
<tr><th colspan=6 style="text-align: left; background-color:white;">
п.#CODE# - ??NODE_LEVEL>0
Распределение лимитов  ??NODE_LEVEL<2
Запланированные закупки  ??NODE_LEVEL=2
на #f_costbook_year#г. ??f_costbook_year
на 2010-23гг. ??!f_costbook_year
$INCLUDE [src text]
</th></tr>

<tr>
<th rowspan=2 class="srh" sr="SORT">Объект</th>  
<th rowspan=2 class="srh" sr="YR">Год</tр>  ??!f_costbook_year

<th>1-й уровень</th>   ??NODE_LEVEL=0
<th 
colspan=2   ??NODE_LEVEL=0
>2-й уровень</th>  
<th colspan=2>3-й уровень</th> 
</th></tr>

<tr>
<th>Лимит</th>  
<th>Лимит</th><th>Остаток</th>      ??NODE_LEVEL=0
<th>План закупок</th><th>Остаток</th> 
</tr>
[end]
 
[src text]
(
финансирование из бюджета ОИЯИ ??f_source=0
долг РФ (финансирование из бюджета ОИЯИ) ??f_source=3
бюджет ОИЯИ + долг РФ ??f_source=0,3
финансирование РФ       ??f_source=1
финансирование ФРГ      ??f_source=2
финансирование из всех источников ??!f_source
) :
[end]

[item]
<tr>
<td nid='n#WUID#' class="ppath l" > #TITLE#</td> 
<td> #YR#</td>  ??!f_costbook_year
<td>&nbsp;#SUMMA_USD#</td>
<td>#TOTAL_LIMIT_2#</td><td>#TOTAL_REST_2#</td>    ??NODE_LEVEL=0
<td class="nowrap">#TOTAL_PLAN_3#</td><td>#TOTAL_REST_3#</td>
</tr>
[end]


[report footer]
</table>

<script type="text/javascript">
try {
makeTableCfg="costbook/r_check_table";
setNode("costbook/r_check", "", #curr_id#); 

selectOptionByVal(window.parent.document.theForm.f_source, "#f_source#"); ??f_source
AjaxCall("TotalTable", "theForm", "nica/costbook/getNodeTotalLimit");  ??!f_source=0,3

}catch (e)
{ alert(e);
}
</script>
[end]


========================================================

[preSQLs]
select ACT as "VER_RW"
, getNicaRights(#curr_id#, '#A_NICA#', '#A_NICA_RO#') as "AR" ??A_NICA|A_NICA_RO
 from nica_versions where id=#VER#
;
select CODE, TITLE, LEV as NODE_LEVEL
from nica_wbs where id=#prj_id#
[end]


[SQL]
select  
''''||w.CODE||' '|| substr(nvl(w.TITLE, w.TITLE_E), 1,40) ||' <small>('||w.RESP||')</small>' as "TITLE"
$INCLUDE [SQL_0]  ??NODE_LEVEL=0
$INCLUDE [SQL_1]  ??NODE_LEVEL=1
[end]

[SQL_0] ******* запрос по 0-му уровню (вся НИКА)
, ''''||nvl(l1.YR, nvl(l2.YR, l3.YR)) as YR ??!f_costbook_year

, nvl(l1.TOTAL_LIMIT,0) as SUMMA_USD

, nvl(l2.TOTAL_LIMIT,0) as TOTAL_LIMIT_2, nvl(l1.TOTAL_LIMIT,0) - nvl(l2.TOTAL_LIMIT,0) as TOTAL_REST_2

, nvl(l3.TOTAL_PLAN,0) as TOTAL_PLAN_3, nvl(l2.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) as TOTAL_REST_3
, ''''||w.ID as "WUID"

, to_number(replace(replace(w.code ,'.','') ,'X','')) as "SORT"

from nica_wbs_wu w 

left join (select sum(p.SUMMA_USD) as TOTAL_LIMIT, w.id, p.YR as YR 
    from nica_costbook_#VER# p join nica_wbs w on w.id=p.wbs_id  
        where 1=1
$INCLUDE [criteria]
    group by w.id, p.YR 
) l1 on l1.ID=w.id 

left join (select sum(p.SUMMA_USD) as TOTAL_LIMIT, w.pid, p.YR as YR 
    from nica_costbook_#VER# p join nica_wbs w on w.id=p.wbs_id  
        where 1=1
$INCLUDE nica/costbook/r_limits.cfg[criteria]
    group by w.pid, p.YR 
) l2 on l2.PID=w.id 
 and (l2.YR=l1.YR or l1.YR is null) ??!f_costbook_year

left join (select sum(SUMMA_USD) as TOTAL_PLAN
, case when w.LEV=3 then ww.pid else w.pid end as PPID
, ww.pid ??
, p.YR as YR
    from nica_costbook_#VER# p
     join nica_wbs w on w.id=p.wbs_id  
     join nica_wbs ww on ww.id=w.pid  
        where p.STATIA>0
$INCLUDE [criteria]
    group by case when w.LEV=3 then ww.pid else w.pid end, p.YR
) l3 on l3.PPID=w.id 
 and (l3.YR=l1.YR  or l1.YR is null) ??!f_costbook_year

$INCLUDE [common bottom]
  , nvl(l1.YR, nvl(l2.YR, l3.YR)) ??!f_costbook_year
[end]



[SQL_1]  ******* запрос по 1-му уровню
, ''''||nvl(l2.YR, l3.YR) as YR ??!f_costbook_year

, nvl(l2.TOTAL_LIMIT,0) as SUMMA_USD

, nvl(l3.TOTAL_PLAN,0) as TOTAL_PLAN_3, nvl(l2.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) as TOTAL_REST_3 

, ''''||w.ID as "WUID", to_number(replace(replace(w.code ,'.','') ,'X','')) as "SORT"

from nica_wbs_wu w 
left join nica_costbook_#VER# p on w.id=p.WBS_ID  ??

left join (select sum(p.SUMMA_USD) as TOTAL_LIMIT, w.id, p.YR as YR 
    from nica_costbook_#VER# p join nica_wbs w on w.id=p.wbs_id  
        where 1=1
$INCLUDE [criteria]
    group by w.id, p.YR 
) l2 on l2.ID=w.id 

left join (select sum(SUMMA_USD) as TOTAL_PLAN
, case when w.LEV=3 then w.pid else w.id end
 as PID
, p.YR as YR
    from nica_costbook_#VER# p
     join nica_wbs w on w.id=p.wbs_id  
    where p.STATIA>0
$INCLUDE [criteria]
    group by 
case when w.LEV=3 then w.pid else w.id end
, p.YR
) l3 on l3.PID=w.id 
 and (l3.YR=l1.YR  or l1.YR is null) ??!f_costbook_year

$INCLUDE [common bottom]

  , nvl(l1.YR, l2.YR) ??!f_costbook_year
[end]


[criteria]
and (p.is_fact=0 or p.is_fact is null) 
and (p.YR is null or p.YR = #f_costbook_year#) ??f_costbook_year
and (p.SOURCE in(#f_source#) or p.SOURCE is null) ??f_source
[end]


[common bottom]
where w.id in (select ID from nica_wbs where pid=#prj_id#) 
and w.ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#)) ??A_NICA&!A_NICA_RO
and w.ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#,#A_NICA_RO#)) ??A_NICA&A_NICA_RO
order by 
     p.YR, ??sort=YR&!f_costbook_year
    SORT
[end]


[level1]
left join (select sum(p.SUMMA_USD) as TOTAL_LIMIT, w.id, p.YR as YR 
    from nica_costbook_#VER# p join nica_wbs w on w.id=p.wbs_id  
        where 1=1
$INCLUDE [criteria]
    group by w.id, p.YR 
) l1 on l1.ID=w.id 
[end]

[ZZZ level2]
left join (select sum(p.SUMMA_USD) as TOTAL_LIMIT
    , case when w.LEV=2 then w.id else w.pid end 
        as PID
    , p.YR as YR 
from nica_costbook_#VER# p join nica_wbs w on w.id=p.wbs_id  
where 1=1
$INCLUDE nica/costbook/r_limits.cfg[criteria]
    group by 
case when w.LEV=2 then w.id else w.pid end 
    , p.YR 
) l2 on l2.PID=w.id 
 and (l2.YR=l1.YR or l1.YR is null) ??!f_costbook_year
[end]


[level3]
left join (select sum(SUMMA_USD) as TOTAL_PLAN
, case when w.LEV=3 then ww.pid else w.pid end as PPID
, ww.pid ??
, p.YR as YR
    from nica_costbook_#VER# p
     join nica_wbs w on w.id=p.wbs_id  
     join nica_wbs ww on ww.id=w.pid  
        where p.STATIA>0
$INCLUDE [criteria]
    group by case when w.LEV=3 then ww.pid else w.pid end, p.YR
) l3 on l3.PPID=w.id 
 and (l3.YR=l1.YR  or l1.YR is null) ??!f_costbook_year
[end]



[level2]
left join (select sum(p.SUMMA_USD) as TOTAL_LIMIT, w.pid, p.YR as YR 
    from nica_costbook_#VER# p join nica_wbs w on w.id=p.wbs_id  
        where 1=1
$INCLUDE nica/costbook/r_limits.cfg[criteria]
    group by w.pid, p.YR 
) l2 on l2.PID=w.id 
 and (l2.YR=l1.YR or l1.YR is null) ??!f_costbook_year
[end]

[ZZZ level3]
left join (select sum(SUMMA_USD) as TOTAL_PLAN, ww.pid, p.YR as YR
    from nica_costbook_#VER# p
     join nica_wbs w on w.id=p.wbs_id  
     join nica_wbs ww on ww.id=w.pid  
        where 1=1
$INCLUDE [criteria]
    group by ww.pid, p.YR
) l3 on l3.PID=w.id 
 and (l3.YR=l1.YR  or l1.YR is null) ??!f_costbook_year
[end]


[SQL_ZZZ]
select  
''''||w.CODE||' '|| substr(nvl(w.TITLE, w.TITLE_E), 1,40) ||' <small>('||w.RESP||')</small>' as "TITLE"
, l1.YR as YR ??!f_costbook_year&NODE_LEVEL>1
, ''''||nvl(l1.YR, l2.YR) as YR ??!f_costbook_year&NODE_LEVEL=1
, ''''||nvl(l1.YR, nvl(l2.YR, l3.YR)) as YR ??!f_costbook_year&NODE_LEVEL=0

, nvl(l1.TOTAL_LIMIT,0) as SUMMA_USD

, nvl(l2.TOTAL_LIMIT,0) as TOTAL_LIMIT_2, nvl(l1.TOTAL_LIMIT,0) - nvl(l2.TOTAL_LIMIT,0) as TOTAL_REST_2  ??NODE_LEVEL<2

, nvl(l3.TOTAL_PLAN,0) as TOTAL_PLAN_3, nvl(l2.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) as TOTAL_REST_3  ??NODE_LEVEL=0

, ''''||w.ID as "WUID"

, to_number(replace(replace(w.code ,'.','') ,'X','')) as "SORT"


from nica_wbs_wu w 
left join nica_costbook_#VER# p on w.id=p.WBS_ID  ??

$INCLUDE [level1] 
$INCLUDE [level2] ??NODE_LEVEL<2
$INCLUDE [level3] ??NODE_LEVEL=0

where w.id in (select ID from nica_wbs where pid=#prj_id#) 

and w.ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#)) ??A_NICA&!A_NICA_RO
and w.ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#,#A_NICA_RO#)) ??A_NICA&A_NICA_RO

order by 
     p.YR, ??sort=YR&!f_costbook_year
    SORT
  , nvl(l1.YR, 0)  ??!f_costbook_year&NODE_LEVEL>1
  , nvl(l1.YR, l2.YR) ??!f_costbook_year&NODE_LEVEL=1
  , nvl(l1.YR, nvl(l2.YR, l3.YR)) ??!f_costbook_year&NODE_LEVEL=0

[end]
