r_fact.cfg

[parameters]
service=dubna.walt.service.TableServiceSpecial2 
LOG=ON
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0WORK_YEAR
makeTotalsForCols=SUMMA_RUB,SUMMA_USD
totRowLabel=Всего:
NumSpecialCols=2  ??VER_RW=1
NumSpecialCols=3  ??!VER_RW=1
numDigits=0
thsnDelimiter=&nbsp;
[end]

[numDigitsForCols]
STATIA=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
[end]

===========  COSTBOOK - ВЫВОД ТАБЛИЦЫ ЗАПЛАНИРОВАННЫХ ПЛАТЕЖЕЙ И ЕЁ РЕДАКТИРОВАНИЕ ===============


[report header]
$CALL_SERVICE c=nica/costbook/process_plan; ??cop&!cop=start
$SET_PARAMETERS AR=1;
$SET_PARAMETERS AR=2; ??!A_NICA&!A_NICA_RO
$SET_PARAMETERS srn=1; rpp=9999; 

<table class="tlist" border=0 cellspacing=0 cellpadding=0 style="width:100%; background-color:white;">
<tr><th colspan=8 style="text-align: left; background-color:white;">
Фактические платежи по п.#CODE#   
за #f_costbook_year#г.: ??f_costbook_year
за 2010-23гг.: ??!f_costbook_year
</th></tr>
<tr>
<th class="srh" sr="w.CODE">Объект</th>  
<th class="srh" sr="p.YR">Год</th> 
<th class="srh" sr="p.NAZNACH">Закупка</th>
<th class="srh" sr="p.STATIA">Статья</th>
<th>Сумма<br>(вал.)</th>
<th class="srh" sr="p.SUMMA_USD">Сумма<br>(USD)</th>
<th class="srh" sr="p.SUMMA_RUB">Сумма<br>(руб.)</th>
<th class="srh" sr="p.MODIFIED">
Изменить  ??VER_RW=1&AR=2
Изменено  ??!VER_RW=1|!AR=2
</th></tr>
[end]
 

[item]
$INCLUDE [ro_item] ??AR<2|!ID=#REC_ID#|!REC_ID
$INCLUDE [input block] ??AR=2&ID=#REC_ID#&REC_ID
[end]


[ro_item]
<tr class="#DAT_STATUS#" >
<td nid='n#WUID#' class="ppath left" ><span class="pri_#PRI#">#CODE#:</span> #TITLE# <small>(#RESP#)</small>
$INCLUDE nica/plan/getSources.cfg[SOURCE DIV]
</td> 

<td class="align_center">&nbsp;#YEAR#</td>

<td class="left">#NAZNACH#
ID:#ID#; REC_ID=#REC_ID#; ??
</td>

<td class="left">&nbsp;#STATIA#:#S_DES#</td>
<td>#SUMMA_CURR#&nbsp;р.</td>  ??CURR_CODE=810
<td>#SUMMA_CURR#&nbsp;$</td>  ??CURR_CODE=840
<td>#SUMMA_CURR#&nbsp;€</td>  ??CURR_CODE=978
<td>&nbsp;#SUMMA_USD#</td>
<td>&nbsp;#SUMMA_RUB#</td>
<td class="align_center c" onClick="editPlan('#ID#');"><img src="#imgPath#edit_16.gif" width="16" height="16" border="0"></td> ??VER_RW=1&AR=2&ZZZ
<td class="nowrap left" style="font-size:7pt;" nowrap>
<img class="btn" src="#imgPath#edit_16.gif" width="16" height="16" border="0" onClick="editPlan('#ID#');">  ??VER_RW=1&AR=2
#CHANGED#</td>
</tr>
[end]


[input block]
<tr style="background-color:##ffffc0;">
<td class="left"><b>#CODE#: #TITLE# </b><br>(#RESP#)

$INCLUDE nica/plan/getSources.cfg[f_source div]

</td>  

<td class="left">
$INCLUDE nica/costbook/tab_costbook.cfg[work year select]  ??!f_costbook_year
<input type=hidden name=WORK_YEAR value="#f_costbook_year#"> ??f_costbook_year
#f_costbook_year#
</td>

<td class="left"><textarea rows=4 name="NAZNACH_" class="xp fe" style="width:100%">#NAZNACH#</textarea></td>

<td class="left" style="white-space:nowrap;">
<input type=radio name=statia value="04"
checked ??STATIA=04
>4:МНТС<br>
<input type=radio name=statia value="05"
checked ??STATIA=05|!STATIA
>5:Материалы<br>
<input type=radio name=statia value="06"
checked ??STATIA=06
>6:Оборудование<br>
<input type=radio name=statia value="09"
checked ??STATIA=09
>9:Пусконаладка<br>
<input type=radio name=statia value="10"
checked ??STATIA=10
>10:НИР<br>
<input type=radio name=statia value="11" 
checked ??STATIA=11
>11:Информация<br> 
<input type=radio name=statia value="18"
checked ??STATIA=18
>18:Проектные раб.<br>
<input type=radio name=statia value="19"
checked ??STATIA=19
>19:Строительство</td>

<td class=bb style="text-align:center;"><input size=12 class="xpc fe" mand="Сумма в валюте" id="summa_curr" name="summa_curr" value="#SUMMA_CURR_#"></td>

<td class="left">
<input type=radio name=curr_code value="810"
checked ??CURR_CODE=810|!CURR_CODE
>руб.<br><input type=radio name=curr_code value="840"
checked ??CURR_CODE=840
>$<br><input type=radio name=curr_code value="978"
checked ??CURR_CODE=978
>€</td>

<td class="left" colspan=2><br><br>
<input class="b_nica bok short" type=button value="Сохранить" 
onClick="callCostbookModule('r_table', 'r_plan', 'u');">  ??REC_ID
onClick="callCostbookModule('r_table', 'r_plan', 'n');">  ??!REC_ID

<br>REC_ID=#REC_ID# ??
<br><br><br><input class="b_nica bdel short" type=button value="Удалить" onClick="callCostbookModule('r_table', 'r_plan', 'd');">  ??REC_ID
</td></tr>

[end]


[report footer]
$SET_PARAMETERS STATIA=; CURR_CODE=; SUMMA_CURR_=; NAZNACH=; 
$INCLUDE [inputHeader]  ??!REC_ID&VER_RW=1&AR=2
$INCLUDE [input block]  ??!REC_ID&VER_RW=1&AR=2
</table>
TYP=#TYP#; REC_ID=#REC_ID#; VER_RW=#VER_RW#; AR=#AR#; ??

<script type="text/javascript">
try {

alert("#WORK_YEAR#"); ??
window.parent.selectOptionByVal(document.theForm.WORK_YEAR,"#WORK_YEAR#"); ??WORK_YEAR
makeTableCfg="costbook/r_fact"; 

AjaxCall("TotalTable", "theForm", "nica/costbook/getNodeTotalLimit", "", "bottom=Y"); ??

showSrt("#srt#","sup"); ??!desc&ZZZ
showSrt("#srt#","sdown"); ??desc_ZZZ
}catch (e)
{ alert(e);
}
</script>
[end]



[inputHeader]
<tr><th colspan=8 class_="b f12" style="text-align: left; background-color:white;">Добавить строку закупки:</th></tr>
<tr>
<th >Объект</th>
<th >Год</th>
<th >Закупка</th>
<th >Статья</th>
<th>Сумма (вал.)</th>
<th >Валюта</th>
<th colspan=2>&nbsp;</th>
</tr>
[end]


========================================================


[preSQLs]
select ACT as "VER_RW"
, getNicaRights(#curr_id#, '#A_NICA#', '#A_NICA_RO#') as "AR" ??A_NICA|A_NICA_RO
 from nica_versions where id=#VER#
;
select WBS_ID, WBS_ID as "curr_id" from nica_costbook_#VER# where ID=#REC_ID# ??REC_ID
;
select YR as WORK_YEAR from nica_costbook_#VER# where ID=#REC_ID# ??REC_ID&!cop
;
select CODE, TITLE from nica_wbs where id=#curr_id#
;
[end]


[SQL]
select  
''''||w.CODE as CODE
, ''''||p.YR as YEAR
, p.NAZNACH
, ''''||to_char(p.STATIA,'00') as "STATIA"
, replace(to_char(p.SUMMA_CURR,'999G999G999G990'),' ','&nbsp;') as SUMMA_CURR
, nvl(p.SUMMA_USD,0) as SUMMA_USD
, p.SUMMA_RUB 
, ''''||p.CURR_CODE as CURR_CODE
, p.MODIFIER_ID, p.SOURCE
, nvl(w.TITLE, w.TITLE_E) as "TITLE"
, ''''||w.ID as "WUID", ''''||p.ID as ID, p.WBS_ID
, case when p.YR<#CURR_YEAR# then 'PAST' when p.YR>#CURR_YEAR# then 'FUTURE' else 'CURRENT' end as DAT_STATUS 

, to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"
, s.DES as "S_DES"
, ''''||to_char(p.SUMMA_CURR,'999999999990') as SUMMA_CURR_
, w.RESP, w.PRI
, to_char(p.MODIFIED,'DD.MM.YY HH24:MI') || ',<br><small>'||u.FIO||'</small>' as CHANGED
, getNicaRights(p.WBS_ID, '#A_NICA#', '#A_NICA_RO#') as "AR" ??!cop=details&A_NICA
from nica_costbook_#VER# p 
 left join nica_wbs_wu w on w.id=p.WBS_ID 
 left join nica_plan_stat s on s.STATIA=p.STATIA
 left join users u on u.id=p.MODIFIER_ID
where 
$INCLUDE nica/costbook/r_fact.cfg[criteria]
order by YR, SORT
[end]


[criteria]
is_fact=#f_fact#
and p.WBS_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#prj_id#)) ??ALL_AP
and p.WBS_ID=#prj_id# ??!details_by_childs
and p.WBS_ID in (select ID from nica_wbs where pid=#prj_id#)  ??details_by_childs

and p.WBS_ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#)) ??A_NICA&!A_NICA_RO
and p.WBS_ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#,#A_NICA_RO#)) ??A_NICA&A_NICA_RO

and YR = #f_costbook_year# ??f_costbook_year&!f_costbook_year=ALL
and p.CURR_CODE=#f_curr# ??f_curr

and upper(NAZNACH) like upper('%#f_NAZNACH#%') ??f_NAZNACH
and p.STATIA=#f_aggr# ??f_aggr>0
[end]
