nica/costbook/r_list_plan_table.cfg

[parameters]
service=dubna.walt.service.TableServiceSpecial2 
debug=off
LOG=ON
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0
makeTotalsForCols=
makeTotalsForCols=SUMMA_RUB,SUMMA_USD ??
totRowLabel=Всего:
numDigits=0
thsnDelimiter=&nbsp;
[end]

[numDigitsForCols]
STATIA=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
[end]

=============  COSTBOOK - ВЫВОД ТАБЛИЦЫ ЗАПЛАНИРОВАННЫХ ПЛАТЕЖЕЙ по дереву вниз ===============
=============  Для копирование из Cost Book в график платежей


[report header]
$SET_PARAMETERS AR=2 ??!A_NICA&!A_NICA_RO
$SET_PARAMETERS f_mega=;  ??f_mega=ALL

$SET_PARAMETERS f_costbook_year=#f_nica_year#;
$SET_PARAMETERS f_costbook_year=2017 ??
$SET_PARAMETERS NumSpecialCols=2  ??TYP=WU
$SET_PARAMETERS NumSpecialCols=3  ??!TYP=WU

$SET_PARAMETERS costbook_node_id=#curr_id#;
$GET_DATA [getCostbookNode]

$GET_DATA [getNumRecs]

$INCLUDE [CostBookData] 
  
[end]

[CostBookData]
<tr><td colspan=8 style="margin:0;">
<div class="msg_ b align_center_"> 
Перечень закупок, занесенных в Cost Book  ??TOT_NUM_REC>0
В Cost Book не запланировано закупок  ??!TOT_NUM_REC>0
на #f_costbook_year#г. по пункту: #CODE#: #TITLE#
! ??!TOT_NUM_REC>0
</div> 
<i>Для копирования данных в график платежей кликните в нужную строку:</i><small><br>* копирование разрешено только для тех строк, где есть остаток</small> ??TYP=WU&TOT_NUM_REC>0
</td></tr>

$INCLUDE [table headers] ??TOT_NUM_REC>0
[end]


[table headers]
<tr><td colspan=9 style="margin:0; padding:0;">
<table class="tlist" style="width:100%;" cellspacing="0" cellpadding="0" border="0">

<tr>
<th>ID</th> 
<th>Объект</th>  ??TYP=WBS
<th></th> 
<th>Закупка</th>
<th>Статья</th> 
<th style="padding:3px 0 3px 0;">Сумма<br>(вал.)</th>
<th>Сумма<br>($)</th>
<th>Сумма<br>(руб.)</th>  ??
<th>Расписано<br>по&nbsp;работам</th> 
<th>Остаток<br>($)</th> 
<th>Занесено</th></tr>
[end] 


[item]
<tr 
class="pt" onClick="copyCostbook2plan('#ID#');" ??TYP=WU&CAN_COPY
>
<td>#ID#</td>
<td nid='w#WUID#' ><span class="pri_#PRI#">#CODE#:</span> #TITLE# <small>(#RESP#)</small>#ID#</td>   ??TYP=WBS

<td class="align_center" id="cb_record_#ID#">.</td>
<td class="align_center"><div id="cb_record_#ID#">.</div> &nbsp;#YEAR#</td> ??

<td>#NAZNACH#<br>
$INCLUDE nica/common.dat[nature]
ID:#ID#; REC_ID=#REC_ID#;ZZZ <br> ??
<div class="pt" style="float:left;" ><i>(скопировано в работы: #LINKED_WUS#)</i></div>  ??LINKED_WUS_ZZZ

$INCLUDE nica/plan/getSources.cfg[SOURCE DIV]
<div style="background-color: white; border:solid 1px black; float:right;"> ??

</div><div class="clr"></div> ??
$INCLUDE nica/costbook/r_list_all_table.cfg[block mega]  
</td>

<td>&nbsp;#STATIA#:#S_DES#
</td>
<td class="align-right">#SUMMA_CURR#р.</td>  ??CURR_CODE=810
<td class="align-right">#SUMMA_CURR#$&nbsp;</td>  ??CURR_CODE=840
<td class="align-right">#SUMMA_CURR#€&nbsp;</td>  ??CURR_CODE=978
<td class="align-right">&nbsp;#SUMMA_USD#$</td>
<td>&nbsp;#SUMMA_RUB#</td>  ??
<td class="align-right">&nbsp;#PP_USD#$
<br>(#LINKED_WUS#)  ??LINKED_WUS
</td>

<td class="align-right">&nbsp;#REST_USD#$</td>

<td style="font-size:7pt;" nowrap>#CHANGED#</td>
</tr>
[end]


[report footer]
</td></tr></table>  ??TOT_NUM_REC>0
$SET_PARAMETERS STATIA=; CURR_CODE=; SUMMA_CURR_=; NAZNACH=;  ??
[end]

========================================================

[getCostbookNode]
select pid as "costbook_node_id" from nica_wbs_wu where id=#curr_id# ??TYP=WU
;
select CODE, TITLE from nica_wbs where id=#costbook_node_id#
[end]


[getNumRecs]
select count(*) as "TOT_NUM_REC"
from nica_costbook_#VER# cb 
 left join nica_wbs_wu w on w.id=cb.WBS_ID ??f_resp|f_WU_NAME
where 
$INCLUDE nica/costbook/r_list_plan_table.cfg[criteria]
[end]


[SQL]
select 
 cb.NAZNACH, cb.SOURCE, cb.NATURE, cb.MEGA
, ''''||cb.YR as YEAR ??
, ''''||to_char(cb.STATIA,'00') as "STATIA",  s.DES as "S_DES"


, replace(trim(to_char(cb.SUMMA_CURR,'999G999G999G990')),' ','&nbsp;') as SUMMA_CURR 
, ''''||trim(to_char(cb.SUMMA_CURR,'999999999990')) as SUMMA_CURR_
, ''''||cb.CURR_CODE as CURR_CODE 
, cb.SUMMA_RUB, nvl(cb.SUMMA_USD,0) as SUMMA_USD
, nvl(cbr.PP_USD, 0) as PP_USD
, nvl(cbr.REST_USD, cb.SUMMA_USD) as "REST_USD"
, case when cbr.REST_USD is null then 'Y' when cbr.REST_USD>0 then 'Y' else '' end as "CAN_COPY"

, cb.MODIFIER_ID, to_char(cb.MODIFIED,'DD.MM.YY HH24:MI') || ',<br><small>'||u.FIO||'</small>' as CHANGED

, ''''||cb.ID as ID, cb.WBS_ID
, ''''||w.ID as "WUID", w.RESP
, ''''||w.CODE as CODE, substr(nvl(w.TITLE, w.TITLE_E),1,40) as "TITLE"

, l.LINKED_WUS

from nica_costbook_#VER# cb 
left join cb_rest_#VER# cbr on cbr.c_id=cb.id
 left join nica_wbs_wu w on w.id=cb.WBS_ID 
 left join nica_plan_stat s on s.STATIA=cb.STATIA
 left join users u on u.id=cb.MODIFIER_ID
left join (SELECT  cp.c_id, LISTAGG(w.code, ', ') WITHIN GROUP (ORDER BY wu_id) as "LINKED_WUS"
    FROM nica_costbook_pplan_#VER# cp
    left join nica_wu w on w.id=cp.wu_id
    GROUP BY cp.c_id
) l on l.c_id=cb.id
where 
$INCLUDE nica/costbook/r_list_plan_table.cfg[criteria]
order by w.ORDER_IN_LEVEL
[end]


[criteria]
cb.is_fact=0
and cb.WBS_ID=#costbook_node_id#   ??
and cb.WBS_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#costbook_node_id#) ) 
and not cb.aggr is null
and cb.SOURCE=#F_FIN_SRC# ??F_FIN_SRC
and cb.mega=#f_mega#  ??f_mega&!f_mega=null
and cb.mega is null ??f_mega=null


and cb.YR = #f_costbook_year# ??f_costbook_year
[end]
