nica/costbook/r_overdraft_table.cfg


[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=dubna.walt.service.TableServiceSpecial2 
LOG=ON
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0
NumSpecialCols=2  ??VER_RW=1
NumSpecialCols=3  ??!VER_RW=1
numDigits=0
thsnDelimiter=&nbsp; ??
thsnDelimiter=S
[end]

[numDigitsForCols]
STATIA=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
[end]

makeTotalsForCols=SUMMA_USD,TOTAL_LIMIT_2,TOTAL_REST_2,TOTAL_PLAN_3,TOTAL_REST_3
totRowLabel=Всего:

=================  КОНТРОЛЬ ПРЕВЫШЕНИЯ - ВЫВОД ТАБЛИЦЫ ===============


[report header]
$INCLUDE [main header]   ??!recurse
[end]

[main header]
$SET_PARAMETERS AR=2 ??!A_NICA&!A_NICA_RO

$SET_PARAMETERS_SESSION f_costbook_year_=#f_costbook_year#;
$SET_PARAMETERS f_costbook_year=#f_nica_year#; ??f_costbook_year=ALL|!f_costbook_year
$SET_PARAMETERS WORK_YEAR=#f_costbook_year#;
$SET_PARAMETERS WORK_YEAR=#f_nica_year#; ??!WORK_YEAR

$SET_PARAMETERS_SESSION f_fact_=#f_fact#; ??f_fact
$SET_PARAMETERS f_source=; ??f_source=ALL

curr_id=#curr_id#; prj_id=#prj_id#; WBS_ID=#WBS_ID#; ??
f_nica_year:#f_nica_year#; TYP=#TYP#; ??

<table class="tlist" border=0 cellspacing=0 cellpadding=0 style="width:100%; background-color:white;">
<tr><th colspan=6 style="text-align: left; background-color:white;">
п.#CODE# - ??NODE_LEVEL>0
Контроль превышения лимитов 
на #f_costbook_year#г.
$INCLUDE nica/costbook/r_check_table.cfg[src text]
</th></tr>

<tr><th rowspan=2 class="srh" sr="SORT">Объект</th><th>1-й уровень</th><th colspan=2>2-й уровень</th><th colspan=2>3-й уровень</th></th></tr>
<tr><th>Лимит</th><th>Лимит</th><th>Остаток</th><th>План закупок</th><th>Остаток</th></tr>
[end] 


[item]
$INCLUDE [item_]    ??REST_2_OVERDRAFT|REST_3_OVERDRAFT
[end]
 

[item_]
<tr><td nid='n#WUID#' class="ppath l" 
style="font-weight:bold;" ??!recurse&NODE_LEVEL=0
style="padding-left:20px;" ??recurse
> #TITLE#</td> 
<td>&nbsp;#SUMMA_USD#</td><td>#TOTAL_LIMIT_2#</td><td>#TOTAL_REST_2#</td>  
<td class="nowrap">#TOTAL_PLAN_3#</td><td>#TOTAL_REST_3#</td>  
</tr>

$INCLUDE [recurse call] ??NODE_LEVEL<3&!recurse
$SET_PARAMETERS REST_2_OVERDRAFT=; REST_3_OVERDRAFT=; TOTAL_REST_2=; TOTAL_REST_3=; SUMMA_USD=; TOTAL_LIMIT_2=;
[end]

[recurse call]
$STORE_PARAMETERS
$SET_PARAMETERS curr_id=#WUID#; prj_id=#WUID#; recurse=Y; 
$SET_PARAMETERS REST_2_OVERDRAFT=; REST_3_OVERDRAFT=; TOTAL_REST_2=; TOTAL_REST_3=; SUMMA_USD=; TOTAL_LIMIT_2=; 
$CALL_SERVICE c=nica/costbook/r_overdraft_table; 
$RESTORE_PARAMETERS
[end]


[report footer]
$INCLUDE [main footer]  ??!recurse
[end]


[main footer]
</table>

<script type="text/javascript">
try {
makeTableCfg="costbook/r_overdraft_table";
setNode("costbook/r_check", "", #curr_id#); 

selectOptionByVal(window.parent.document.theForm.f_source, "#f_source#"); ??f_source
AjaxCall("TotalTable", "theForm", "nica/costbook/getNodeTotalLimit");  ??

}catch (e)
{ alert(e);
}
</script>
[end]


========================================================

[preSQLs]
select ACT as "VER_RW"
, getNicaRights(#curr_id#, '#A_NICA#', '#A_NICA_RO#') as "AR" ??A_NICA|A_NICA_RO
 from nica_versions where id=#VER#
;
select CODE, TITLE, LEV as NODE_LEVEL, LEV + 1 as LEV1, LEV + 2 as LEV2, LEV + 3 as LEV3 
from nica_wbs where id=#prj_id#
;
[end]


[SQL]
$INCLUDE [SQL0] ??NODE_LEVEL=0
$INCLUDE [SQL1] ??NODE_LEVEL=1
[end]


[SQL0]
select  
''''||w.CODE||' '|| substr(nvl(w.TITLE, w.TITLE_E), 1,40) ||' <small>('||w.RESP||')</small>' as "TITLE"

, nvl(l1.TOTAL_LIMIT,0) as SUMMA_USD 
, nvl(l2.TOTAL_LIMIT,0) as TOTAL_LIMIT_2, nvl(l1.TOTAL_LIMIT,0) - nvl(l2.TOTAL_LIMIT,0) as TOTAL_REST_2 
, nvl(l3.TOTAL_PLAN,0) as TOTAL_PLAN_3, nvl(l2.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) as TOTAL_REST_3  

, case when nvl(l1.TOTAL_LIMIT,0) - nvl(l2.TOTAL_LIMIT,0) < 0 then 'Y' else '' end as REST_2_OVERDRAFT  
, case when nvl(l2.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) < 0 then 'Y' else '' end as REST_3_OVERDRAFT 

, ''''||w.ID as "WUID"

, to_number(replace(replace(w.code ,'.','') ,'X','')) as "SORT"

from nica_wbs_wu w 
$INCLUDE [level1]  
$INCLUDE [level2]
$INCLUDE [level3]
where w.id in (select ID from nica_wbs where pid=#prj_id#) 
order by SORT
[end]


[SQL1]
select  
''''||w.CODE||' '|| substr(nvl(w.TITLE, w.TITLE_E), 1,40) ||' <small>('||w.RESP||')</small>' as "TITLE"

, nvl(l1.TOTAL_LIMIT,0) as TOTAL_LIMIT_2 
, nvl(l3.TOTAL_PLAN,0) as TOTAL_PLAN_3
, nvl(l1.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) as TOTAL_REST_3  

, case when nvl(l1.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) < 0 then 'Y' else '' end as REST_3_OVERDRAFT 

, ''''||w.ID as "WUID"

, to_number(replace(replace(w.code ,'.','') ,'X','')) as "SORT"

from nica_wbs_wu w 
$INCLUDE [level1]  
left join (select sum(SUMMA_USD) as TOTAL_PLAN, w.pid
    from nica_costbook_#VER# p
     join nica_wbs w on w.id=p.wbs_id  
$INCLUDE [criteria]
    group by w.pid, p.YR
) l3 on l3.PID=w.id 
where w.id in (select ID from nica_wbs where pid=#prj_id#) 
order by SORT
[end]


[SQLZ]
select  
''''||w.CODE||' '|| substr(nvl(w.TITLE, w.TITLE_E), 1,40) ||' <small>('||w.RESP||')</small>' as "TITLE"

, nvl(l1.TOTAL_LIMIT,0) as SUMMA_USD 

, nvl(l2.TOTAL_LIMIT,0) as TOTAL_LIMIT_2, nvl(l1.TOTAL_LIMIT,0) - nvl(l2.TOTAL_LIMIT,0) as TOTAL_REST_2  ??NODE_LEVEL=0

, nvl(l3.TOTAL_PLAN,0) as TOTAL_PLAN_3, nvl(l2.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) as TOTAL_REST_3  

, case when nvl(l1.TOTAL_LIMIT,0) - nvl(l2.TOTAL_LIMIT,0) < 0 then 'Y' else '' end as REST_2_OVERDRAFT   ??NODE_LEVEL=0
, case when nvl(l2.TOTAL_LIMIT,0) - nvl(l3.TOTAL_PLAN,0) < 0 then 'Y' else '' end as REST_3_OVERDRAFT 

, ''''||w.ID as "WUID"

, to_number(replace(replace(w.code ,'.','') ,'X','')) as "SORT"


from nica_wbs_wu w 

$INCLUDE [level1]  
$INCLUDE [level2]
$INCLUDE [level3]

where w.id in (select ID from nica_wbs where pid=#prj_id#) 

order by SORT
[end]



[level1]
left join (select sum(p.SUMMA_USD) as TOTAL_LIMIT, w.id
    from nica_costbook_#VER# p join nica_wbs w on w.id=p.wbs_id  
$INCLUDE [criteria]
    group by w.id, p.YR 
) l1 on l1.ID=w.id 
[end]


[criteria]
where (p.is_fact=#f_fact# or p.is_fact is null) and p.YR = #f_costbook_year#
and (p.SOURCE in(#f_source#) or p.SOURCE is null) ??f_source
[end]


[level2]
left join (select sum(p.SUMMA_USD) as TOTAL_LIMIT, w.pid
    from nica_costbook_#VER# p join nica_wbs w on w.id=p.wbs_id  
        where 1=1
$INCLUDE nica/costbook/r_limits.cfg[criteria]
    group by w.pid, p.YR 
) l2 on l2.PID=w.id 
[end]


[level3]
left join (select sum(SUMMA_USD) as TOTAL_PLAN, ww.pid
    from nica_costbook_#VER# p
     join nica_wbs w on w.id=p.wbs_id  
     join nica_wbs ww on ww.id=w.pid  
$INCLUDE [criteria]
    group by ww.pid, p.YR
) l3 on l3.PID=w.id 
[end]


