nica/costbook/r_plan.cfg

r_data_table.cfg

[description]
===========  COSTBOOK - ВЫВОД ТАБЛИЦЫ ЗАПЛАНИРОВАННЫХ PFREGJR И ЕЁ РЕДАКТИРОВАНИЕ ===============
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial2 
LOG=ON
tableCfg=nica/table.cfg 
tableCfg=this ??
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0WORK_YEAR
makeTotalsForCols=SUMMA_RUB,SUMMA_USD,PP_USD
totRowLabel=Всего:
NumSpecialCols=2  ??VER_RW=1
NumSpecialCols=3  ??!VER_RW=1
numDigits=0
thsnDelimiter=&nbsp;
[end]

[numDigitsForCols]
STATIA=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
[end]

34 - Потребеников
471 - Морозов
645 - Слесаренко
502 - Борисов
821 - Бабкин

[report header]
    $CALL_SERVICE c=nica/costbook/process_plan; ??cop&!cop=start&!cop=details
    $SET_PARAMETERS f_source=ALL; ??!f_source=#f_source_param#&cop=u|cop=n
    <script>selectOptionByVal(document.theForm.f_source,'#f_source#'); </script> ??!f_source=#f_source_param#&cop=u|cop=n

    $SET_PARAMETERS AR=1;  
    $SET_PARAMETERS AR=2;   ??!A_NICA&costBookMode=RW-ALL
    $GET_DATA [check adm user]  ??costBookMode=RW-ADM
    $SET_PARAMETERS AR=2;   ??costBookMode=RW-ADM&ADM_USER
    $SET_PARAMETERS AR=1;   ??cop=details|costBookMode=RO

    $SET_PARAMETERS f_costbook_year=; ??f_costbook_year=ALL
    $SET_PARAMETERS f_mega=;  ??f_mega=ALL
    $SET_PARAMETERS SOURCE_PRIZNAK=; ??

    $SET_PARAMETERS WORK_YEAR=#f_costbook_year#; ??!REC_ID
    $SET_PARAMETERS WORK_YEAR=#f_nica_year#; ??!WORK_YEAR|WORK_YEAR=ALL
    $SET_PARAMETERS srn=1; rpp=9999; 
    $SET_PARAMETERS CAN_EDIT_SRC=Y;  ??VER_RW=1&AR=2&g_adm=USER_GROUP

    curr_id=#curr_id#; prj_id=#prj_id#; WBS_ID=#WBS_ID#; ??
    f_nica_year:#f_nica_year#; TYP=#TYP#; ??

    <br><br>  ??cop=details
    <table class="tlist" border=0 cellspacing=0 cellpadding=0 style="width:100%; background-color:white;">
    <tr><th colspan=8 style="text-align: left; background-color:white;">
    Запланированные закупки по п.#CODE#     ??!cop=details
    Запланированные закупки по подпунктам     ??cop=details
    на #f_costbook_year#г.: ??f_costbook_year
    на 2010-23гг.: ??!f_costbook_year
    AR=#AR#; A_NICA=#A_NICA#; USER_GROUP=#USER_GROUP#;  ??
    </th></tr>
    <tr>
    <th>ID</th> 
    <th>Объект</th>  
    <th class="srh" sr="p.YR">Год</th> 
    <th>Закупка</th>
    <th class="srh_" sr="p.STATIA">Статья</th>
    <th>Сумма<br>(вал.)</th>
    <th class="srh" sr="p.SUMMA_USD">Сумма<br>($)</th>
    <th class="srh" sr="p.SUMMA_RUB">Сумма<br>(руб.)</th> ??
    <th>Расписано<br>на&nbsp;работы ($)</th> 
    <th class="srh" sr="p.MODIFIED">
    Изменить  ??VER_RW=1&AR=2
    Изменено  ??!VER_RW=1|!AR=2
    </th></tr>
[end]
 

[item]
    $INCLUDE [ro_item] ??AR<2|!ID=#REC_ID#|!REC_ID
    $INCLUDE [input block] ??AR=2&ID=#REC_ID#&REC_ID
    $SET_PARAMETERS SOURCE_PRIZNAK=; f_SOURCE_PRIZNAK=; PRIZNAK=; ID=; PLAN_ROOT_ID=;
[end]


[ro_item]
    <tr class="#DAT_STATUS#" >
    <td>#ID#</td>
    <td nid='n#WUID#' class="ppath_ left" ><span class="pri_#PRI#">#CODE#:</span> #TITLE# <small>(#RESP#)</small>
<div class="fr pt"
           style="border:none 1px red;" onClick="editPlan('#ID#','src');"  ??CAN_EDIT_SRC=Y
>
        $INCLUDE nica/plan/getSources.cfg[SOURCE DIV]
        <div class="bg_white
        ">
            Базовая конфигурация  ??MEGA=0
            Расширенная конфигурация  ??MEGA=1
            конфигурация не указана  ??!MEGA
        </div>
        <div class="clr"></div> ??
        $INCLUDE nica/costbook/r_list_all_table.cfg[block contract]
        признак: #PRIZNAK#<br> ??PRIZNAK
</div><div class="clr"></div>
        <div style="text-align:right;">#SRC_CHANGED#</div>
    </td> 

    <td class="align_center">&nbsp;#YEAR#</td>

    <td class="left">#NAZNACH#
        ID:#ID#; REC_ID=#REC_ID#; ??
        <br>
        $INCLUDE nica/common.dat[nature]
        <br>'#PLAN_ROOT_ID#' ??
        <br><div class="pt fr border" onClick="if($('##chain_#ID#').html()==='') AjaxCall('chain_#ID#','','','','c=nica/costbook/i_chainShow&ID=#ID#&VER=#VER#'); else $('##chain_#ID#').html('');">цепочка >></div><div id="chain_#ID#"></div>  ??PLAN_ROOT_ID
        $CALL_SERVICE c=nica/costbook/i_chainShow; ??PLAN_ROOT_ID_ZZZ
    </td>

    <td class="left">&nbsp;#STATIA#:#S_DES#</td>
    <td>#SUMMA_CURR#&nbsp;р.</td>  ??CURR_CODE=810
    <td>#SUMMA_CURR#&nbsp;$</td>  ??CURR_CODE=840
    <td>#SUMMA_CURR#&nbsp;€</td>  ??CURR_CODE=978
    <td>&nbsp;#SUMMA_USD#</td>
    <td>&nbsp;#SUMMA_RUB#</td> ??
    <td>&nbsp;#PP_USD#
    <br>(#LINKED_WUS#) ??LINKED_WUS
    </td>
    <td class="align_center c" onClick="editPlan('#ID#');"><img src="#imgPath#edit_16.gif" width="16" height="16" border="0"></td> ??VER_RW=1&AR=2&ZZZ
    <td class="nowrap left" style="font-size:7pt;" nowrap>
    <img class="btn" src="#imgPath#edit_16.gif" width="16" height="16" border="0" onClick="editPlan('#ID#');">  ??VER_RW=1&AR=2
    #CHANGED#</td>
    </tr>
[end]


[input block]
    $SET_PARAMETERS dis=disabled;  ??edit_src
    <tr style="background-color:##ffffc0;">
    <td>#ID#</td>
    <td class="left"><b>#CODE#: #TITLE# </b><br>(#RESP#)
        $INCLUDE nica/plan/getSources.cfg[f_source div] param:f_source=#SOURCE#;
        <br>
        <input type=radio name=MEGA value="0" 
            checked ??!MEGA=1
        >Базовая конфигурация<br>
        <input type=radio name=MEGA value="1"
           checked ??MEGA=1
        >Расширенная конфигурация

        <div style="width:350px; margin-top:10px; white-space:nowrap;">
            $INCLUDE nica/costbook/r_plan.cfg[priznak]
            &nbsp; контракт: 
            $INCLUDE nica/costbook/tab_costbook.cfg[f_CONTRACT_PRIZNAK]  param: INPUT=Y; INP_NAME=CONTRACT_PRIZNAK;
        </div>
    </td>  

    <td class="left">
     $INCLUDE nica/costbook/r_plan.cfg[WORK_YEAR] 
    </td>

    <td class="left" style="white-space:nowrap;"><textarea rows=5 name="NAZNACH_" #dis# class="xp fe" style="width:100%">#NAZNACH#</textarea>
        $INCLUDE nica/common.dat[nature_input]
        <br><br><span class="pt border_ bg_white" onClick="selectRootPlanRecord(#REC_ID#);"> ??
        Указать первоначальную закупку >> </span> ??!PLAN_ROOT_ID>0&ZZZ
        Первоначальная закупка <span id="PLAN_ROOT_ID_TXT">#PLAN_ROOT_ID#</span>. изменить >> ??PLAN_ROOT_ID>0&ZZZ
        <input type=hidden name="PLAN_ROOT_ID" value="#PLAN_ROOT_ID#">  ??
    </td>

    <td class="left" style="white-space:nowrap;">
    <input type=radio name=statia value="04" #dis# 
           checked ??STATIA=04
        >4:МНТС<br>
        <input type=radio name=statia value="05" #dis# 
           checked ??STATIA=05|!STATIA
        >5:Материалы<br>
        <input type=radio name=statia value="06" #dis# 
          checked ??STATIA=06
        >6:Оборудование<br>
        <input type=radio name=statia value="09" #dis# 
         checked ??STATIA=09
        >9:Пусконаладка<br>
        <input type=radio name=statia value="10" #dis# 
           checked ??STATIA=10
        >10:НИР<br>
        <input type=radio name=statia value="11" #dis# 
           checked ??STATIA=11
        >11:Информация<br> 
        <input type=radio name=statia value="18" #dis# 
           checked ??STATIA=18
        >18:Проектные раб.<br>
        <input type=radio name=statia value="19" #dis# 
           checked ??STATIA=19
        >19:Строительство
    </td>

    <td class=bb style="text-align:center;"><input size=12 class="xpc fe" #dis# mand="Сумма в валюте" id="summa_curr" name="summa_curr" value="#SUMMA_CURR_#"></td>

    <td class="left">
        <input type=radio name=curr_code value="810" #dis#
         checked ??CURR_CODE=810|!CURR_CODE
        >руб.<br><input type=radio name=curr_code value="840" #dis#
            checked ??CURR_CODE=840
        >$<br><input type=radio name=curr_code value="978" #dis#
            checked ??CURR_CODE=978
        >€
    </td>

    <td class="left" colspan=2><br><br>
    <input class="b_nica bok short" type=button value="Сохранить" 
    onClick="if(checkCostbookInput()) callCostbookModule('r_table', 'r_plan', 
    'u');">  ??REC_ID
    'n');">  ??!REC_ID

    <br>REC_ID=#REC_ID# ??
    $INCLUDE [delete button]  ??REC_ID&!dis
    <br><br><br><input class="b_nica bcancel short" type=button value="Отмена" onClick="document.theForm.REC_ID.value=''; callCostbookModule('r_table', 'r_plan', 'd');">  ??REC_ID
    </td></tr>
[end]


#dis#
[priznak] param: filter;
    Признак:<input type=radio name=PRIZNAK value="" 
      checked ??!PRIZNAK
    >нет<input type=radio name=PRIZNAK value="1" 
      checked ??PRIZNAK=1
    >1<input type=radio name=PRIZNAK value="2" 
        checked ??PRIZNAK=2
       onClick="refreshTable();"  ??filter
    >2<input type=radio name=PRIZNAK value="3" 
       checked ??PRIZNAK=3
      onClick="refreshTable();"  ??filter
    >3<input type=radio name=PRIZNAK value="4" 
      checked ??PRIZNAK=4
      onClick="refreshTable();"  ??filter
    >4
[end]

[f_PRIZNAK]
    Признак: <select name="f_PRIZNAK" onChange="refreshTable();">
        <option value="">все</option>
        <option value="null"
           selected  ??f_PRIZNAK=null
        >нет</option>
        <option value="1"
            selected  ??f_PRIZNAK=1
        >1</option>
        <option value="2"
            selected  ??f_PRIZNAK=2
        >2</option>
        <option value="3"
            selected  ??f_PRIZNAK=3
        >3</option>
        <option value="4"
            selected  ??f_PRIZNAK=4
        >4</option>
    </select>
[end]

[delete button]
    <br><br><br>
    <input class="b_nica bdel short" type=button value="Удалить" onClick="
        if(confirm('Удалить запись?')) callCostbookModule('r_table', 'r_plan', 'd');  ??!LINKED_WUS&!PLAN_ROOT_ID=0
        alert('Сначала необходимо удалить из графика платежей платежи, запланированные по этой закупке!'); ??LINKED_WUS
        alert('Запись начинает цепочку закупок. Сначала необходимо удалить последующие закупки!'); ??PLAN_ROOT_ID=0
        "> 
[end]

[WORK_YEAR]
    $SET_PARAMETERS WORK_YEAR=2017; ??!WORK_YEAR
    <select name=WORK_YEAR
        readonly ??dis
         #dis# ??
    >
        $INCLUDE nica/common.dat[years-past] ??
        $INCLUDE nica/common.dat[year-current]
        $INCLUDE nica/common.dat[years-future]
    </select>
[end]

[report footer]
    $SET_PARAMETERS STATIA=; CURR_CODE=; SUMMA_CURR_=; NAZNACH=; MEGA=; NATURE=; f_SOURCE_PRIZNAK=; CONTRACT_PRIZNAK=;
    REC_ID=#REC_ID#; VER_RW=#VER_RW#;AR=#AR# ??
    $INCLUDE [inputHeader]   ??!REC_ID&VER_RW=1&AR=2
    $INCLUDE [input block]  ??!REC_ID&VER_RW=1&AR=2
    </table>
    TYP=#TYP#; REC_ID=#REC_ID#; VER_RW=#VER_RW#; AR=#AR#; ??

    <script type="text/javascript">
        var checkCostbookInput=function(){
            if(document.theForm.NAZNACH_.value.length < 10) {
                alert("Введите описание закупки");
                return false;
            }
            var summa=parseFloat(document.theForm.summa_curr.value);
            if(isNaN(summa)) {
                alert("Введите сумму");
                return false;
            }
            document.theForm.summa_curr.value=summa;

            return true;
        }

        try {
            alert("#WORK_YEAR#"); ??
            window.parent.selectOptionByVal(document.theForm.WORK_YEAR,"#WORK_YEAR#"); ??WORK_YEAR&!cop=details
            makeTableCfg="costbook/r_plan"; ??!cop=details
            document.theForm.REC_ID.value='#REC_ID#'; ??cop
            AjaxCall("TotalTable", "theForm", "nica/costbook/getNodeTotalLimit", "", "bottom=Y"); ??!cop=details&ZZZ

            showSrt("#srt#","sup"); ??!desc&ZZZ
            showSrt("#srt#","sdown"); ??desc_ZZZ
        }catch (e)
        { alert(e);
        }
    </script>
[end]

[inputHeader]
    <tr><th colspan=8 class_="b f12" style="text-align: left; background-color:white;">Добавить закупку:</th></tr>
    <tr>
        <th>ID</th> 
        <th >Объект</th>
        <th >Год</th>
        <th >Закупка</th>
        <th >Статья</th>
        <th>Сумма (вал.)</th>
        <th >Валюта</th>
        <th colspan=2>&nbsp;</th>
    </tr>
[end]

========================================================

select ACT as "VER_RW" from nica_versions where id=#VER#

[preSQLs]
    $INCLUDE nica/costbook/tab_costbook.cfg[preSQLs] ??!TYP=WBS
    ;
    select WBS_ID, WBS_ID as "curr_id" from nica_costbook_#VER# where ID=#REC_ID# ??REC_ID
    ;
    select YR as WORK_YEAR from nica_costbook_#VER# where ID=#REC_ID# ??REC_ID&!cop
    ;
    select CODE, TITLE from nica_wbs where id=#curr_id#
    ;
    select '2' as "AR" from dual where #USER_ID# in(#ADM-USERS#) ??VER_RW=1&ADM-USERS&costBookMode=RW-ADM
[end]

, getNicaRights(#curr_id#, '#A_NICA#', '#A_NICA_RO#') as "AR" ??A_NICA|A_NICA_RO

[check adm user]
    select 'Y' as "ADM_USER" from dual where #USER_ID# in(#ADM-USERS#)
[end]


[SQL]
    select  
        p.ID
        ,''''||w.CODE as CODE
        , ''''||p.YR as YEAR
        , p.NAZNACH
        , ''''||to_char(p.STATIA,'00') as "STATIA"
        , replace(to_char(p.SUMMA_CURR,'999G999G999G990'),' ','&nbsp;') as SUMMA_CURR
        , nvl(p.SUMMA_USD,0) as SUMMA_USD
        , cbr.PP_USD
        , p.SUMMA_RUB ??
        , ''''||p.CURR_CODE as CURR_CODE
        , p.NATURE, p.MEGA, p.PRIZNAK

        , p.MODIFIER_ID, p.SOURCE, p.SOURCE_PRIZNAK, p.CONTRACT_PRIZNAK
        , nvl(w.TITLE, w.TITLE_E) as "TITLE"
        , ''''||w.ID as "WUID", ''''||p.ID as ID, p.WBS_ID
        , case when p.YR<#CURR_YEAR# then 'PAST' when p.YR>#CURR_YEAR# then 'FUTURE' else 'CURRENT' end as DAT_STATUS 

        , to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"
        , s.DES as "S_DES"
        , ''''||to_char(p.SUMMA_CURR,'999999999990') as SUMMA_CURR_
        , l.LINKED_WUS
        , w.RESP, w.PRI, p.ROOT_ID as "PLAN_ROOT_ID"
        , to_char(p.MODIFIED,'DD.MM.YY HH24:MI') || ',<br><small>'||u.FIO||'</small>' as CHANGED
        , '<small>'||to_char(p.SRC_MODIFIED,'DD.MM.YY HH24:MI') || ', '||us.FIO||'</small>' as SRC_CHANGED
        , getNicaRights(p.WBS_ID, '#A_NICA#', '#A_NICA_RO#') as "AR" ??!cop=details&A_NICA&costBookMode=RW-ALL
    from nica_costbook_#VER# p 
        left join cb_rest_#VER# cbr on cbr.c_id=p.id
        left join nica_wbs_wu w on w.id=p.WBS_ID 
        left join nica_plan_stat s on s.STATIA=p.STATIA
        left join users u on u.id=p.MODIFIER_ID
        left join users us on us.id=p.SRC_MODIFIER_ID
        left join (SELECT  cp.c_id, LISTAGG(w.code, ', ') WITHIN GROUP (ORDER BY wu_id) as "LINKED_WUS"
           FROM nica_costbook_pplan_#VER# cp
           left join nica_wu w on w.id=cp.wu_id
           GROUP BY cp.c_id
        ) l on l.c_id=p.id
    where 
       $INCLUDE nica/costbook/r_plan.cfg[criteria]
    order by YR, SORT, p.MODIFIED
[end]


[criteria]
    is_fact=#f_fact#  ??!f_fact=2
    is_fact=0  ??f_fact=2
    and p.SOURCE in(#f_source#) ??f_source&!f_source=ALL
    and p.SOURCE_PRIZNAK=#f_SOURCE_PRIZNAK#  ??f_SOURCE_PRIZNAK&!f_SOURCE_PRIZNAK=null
    and p.SOURCE_PRIZNAK is null      ??f_SOURCE_PRIZNAK=null
    and p.NATURE in(#f_nature#)  ??f_nature&f_fact=2
    and p.mega=#f_mega#  ??f_mega&!f_mega=null
    and p.mega is null ??f_mega=null
    and p.PRIZNAK=#f_PRIZNAK#  ??f_PRIZNAK&!f_PRIZNAK=null
    and p.PRIZNAK is null      ??f_PRIZNAK=null

    and p.WBS_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#prj_id#)) ??ALL_AP
    and p.WBS_ID=#prj_id# ??!cop=details&!ALL_AP
    and p.WBS_ID in (select ID from nica_wbs where pid=#prj_id#)  ??cop=details

    and p.WBS_ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#)) ??A_NICA&!A_NICA_RO
    and p.WBS_ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#,#A_NICA_RO#)) ??A_NICA&A_NICA_RO

    and YR = #f_costbook_year# ??f_costbook_year&!f_costbook_year=ALL&!f_year=PAST
    and YR < #f_costbook_year# ??f_year=PAST
    and p.CURR_CODE=#f_curr# ??f_curr

    and upper(NAZNACH) like upper('%#f_NAZNACH#%') ??f_NAZNACH
    and p.STATIA=#f_aggr# ??f_aggr>0
    and p.STATIA>0 ??!f_aggr>0
[end]
