nica/costbook/r_RF_Agreement_Plan.cfg


[parameters]
service=dubna.walt.service.TableServiceSpecial2 
debug=off
LOG=ON
tableCfg=nica/table.cfg 
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0
makeTotalsForCols=SUMMA_RUB_13 ??
totRowLabel=Всего: ??
NumSpecialCols=2  ??VER_RW=1
NumSpecialCols=3  ??!VER_RW=1
numDigits=0
thsnDelimiter=none
$INCLUDE common.dat[colors]
[end]

[numDigitsForCols]
STATIA=0
SUMMA_RUB=1 ??
SUMMA_USD=2 ??
SUMMA_RUB_13=2
[end]

=============  COSTBOOK - РФ - ВЫВОД ТАБЛИЦЫ ЗАПЛАНИРОВАННЫХ ПЛАТЕЖЕЙ с детализацией по типу закупки ===============


[report header]
$SET_PARAMETERS f_costbook_year=;  ??f_costbook_year=ALL
$SET_PARAMETERS f_source=;  ??f_source=ALL
$SET_PARAMETERS f_mega=;  ??f_mega=ALL
$SET_PARAMETERS srn=1; rpp=9999; 

<table 
class="tlist" cellspacing=0 cellpadding=0 style="background-color:white;"  ??!XL=Y
>
$INCLUDE [XL header] ??XL=Y

[end]


[XL header]
<tr>
<td>
Базовая ??f_mega=0
Расширенная ??f_mega=1
Все конфигурации ??!f_mega
</td>  
<td>
Бюджет ОИЯИ  ??f_source=0
РФ  ??f_source=1
ФРГ ??f_source=2
Все источники ??!f_source
</td>  
<td>#f_costbook_year#</td> 
<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
</tr>
<tr><td></td></tr>
[end]

[table header]
<tr>
<th>Система</th>  
<th>Подсистема проекта</th>  
<th>WBS код</th> 
<th>Закупка</th>

<th class="sra" sr="p.STATIA">Статья</th>
<th>A1</th><th>A2</th> <th>A3</th> <th>A4</th> <th>A5</th> 
<th>B</th><th>C1</th> <th>C2</th> <th>D</th>
<th>Прочее</th>   ??!XL=Y
<th>в ценах 2013г.</th>   
</tr>
[end]



[item]
$SET_PARAMETERS A1=; A2=; A3=; A4=; A5=; B=; C1=; C2=; D=; O=#SUMMA_RUB#;
$SET_PARAMETERS A1=#SUMMA_RUB#; O=; ??NATURE=11
$SET_PARAMETERS A2=#SUMMA_RUB#; O=; ??NATURE=12
$SET_PARAMETERS A3=#SUMMA_RUB#; O=; ??NATURE=13
$SET_PARAMETERS A4=#SUMMA_RUB#; O=; ??NATURE=14
$SET_PARAMETERS A5=#SUMMA_RUB#; O=; ??NATURE=15
$SET_PARAMETERS B=#SUMMA_RUB#; O=;  ??NATURE=2
$SET_PARAMETERS C1=#SUMMA_RUB#; O=; ??NATURE=31
$SET_PARAMETERS C2=#SUMMA_RUB#; O=; ??NATURE=32
$SET_PARAMETERS D=#SUMMA_RUB#; O=;  ??NATURE=4
<tr>
<td class="left" style="width:300px;">&nbsp;#AGREEMENT_ITEM# #AGGR_ITEM#</td>

<td class="left" style="width:300px;">#TITLE#</td> 
<td class="left">
_   ??XL=Y
#CODE#</td> 
<td class="left" style="width:400px;">#NAZNACH#</td>
<td class="align_center">&nbsp;#STATIA#</td>

<td class="nowrap">#A1#</td>
<td class="nowrap">#A2#</td>
<td class="nowrap">#A3#</td>
<td class="nowrap">#A4#</td>
<td class="nowrap">#A5#</td>
<td class="nowrap">#B#</td>
<td class="nowrap">#C1#</td>
<td class="nowrap">#C2#</td>
<td class="nowrap">#D#</td>
<td class="nowrap">#O#</td>  ??!XL=Y
<td class="nowrap">#SUMMA_RUB_13#</td>
</tr>

[end]

<i class="fa fa-exclamation-triangle red" aria-hidden="true"></i> A: Материалы и оборудование РФ  ??NATURE=1
A1: ОП.Производство машин,оборудования,электрооборудования и транспортных средств  ??NATURE=11
A2: ОП.Производство готовых металлических изделий(кроме машин и оборудования)  ??NATURE=12
A3: ОП.Химическая промышленность и производство резиновых и пластмассовых изделий  ??NATURE=13
A4: ОП.Прочие (все что не вошло в категории A1,A2,A3)   ??NATURE=14
A5: Нет возможности определить категорию отрасли.  ??NATURE=15
B: Материалы и оборудование зарубежные  ??NATURE=2
<i class="fa fa-exclamation-triangle red" aria-hidden="true"></i> C: НИОКР и прочее ??NATURE=3
С1: НИОКР ??NATURE=31
С2: Другие услуги ??NATURE=32
D: Строительство ??NATURE=4


[report footer]
</table>

$SET_PARAMETERS STATIA=; CURR_CODE=; SUMMA_CURR_=; NAZNACH=; 

TYP=#TYP#; REC_ID=#REC_ID#; VER_RW=#VER_RW#; AR=#AR#; ??

[end]


========================================================

[preSQLs]
select ACT as "VER_RW"
, getNicaRights(#curr_id#, '#A_NICA#', '#A_NICA_RO#') as "AR" ??A_NICA|A_NICA_RO
 from nica_versions where id=#VER#
;
select CODE, TITLE from nica_wbs where id=#curr_id#
[end]



[SQL]
select  
''''||w.CODE as CODE
, ''''||w.AGREEMENT_ITEM as AGREEMENT_ITEM
, a.NAME as "AGGR_ITEM"
, substr(nvl(w.TITLE, w.TITLE_E),1,40) as "TITLE"
, p.NAZNACH
, ''''||to_char(p.STATIA,'00') as "STATIA" 

, p.NATURE

, nvl(p.SUMMA_USD,0) as SUMMA_USD ??
, p.SUMMA_RUB
, replace(to_char(p.SUMMA_RUB_13,'999G999G999G990'),' ','&nbsp;') as SUMMA_RUB_13  ??!XL
, to_char(p.SUMMA_RUB_13,'999999999990') as SUMMA_RUB_13  ??XL
, p.SUMMA_RUB_13 ??
, ''''||w.ID as "WUID", ''''||p.ID as ID, p.WBS_ID


, to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"

from nica_costbook_#VER# p 
    left join nica_wbs_wu w on w.id=p.WBS_ID 
    left join nica_plan_stat s on s.STATIA=p.STATIA ??
    left join NICA_RF_AGREEMENT a on a.item=w.AGREEMENT_ITEM
where 
$INCLUDE nica/costbook/r_RF_Agreement_Plan.cfg[criteria]
order by w.AGREEMENT_ITEM, SORT
[end]

, ''''||p.YR as YEAR, p.SOURCE, p.MEGA, p.PRIZNAK

[criteria]
p.is_fact=0 and p.STATIA>0 

and p.source in(#f_source#) ??f_source
and p.mega=#f_mega#  ??f_mega&!f_mega=null
and p.mega is null ??f_mega=null
and p.PRIZNAK=#f_PRIZNAK#  ??f_PRIZNAK&!f_PRIZNAK=null
and p.PRIZNAK is null      ??f_PRIZNAK=null

and p.WBS_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#prj_id#)
) 
and p.WBS_ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#)) ??A_NICA&!A_NICA_RO
and p.WBS_ID in(select ID from nica_wbs connect by prior id=pid start with id in(#A_NICA#,#A_NICA_RO#)) ??A_NICA&A_NICA_RO

and YR = #f_costbook_year# ??f_costbook_year

and p.NATURE in(#f_nature#)  ??f_nature
and w.AGREEMENT_ITEM='#f_item#' ??f_item
[end]



