nica/costbook/r_RF_Svod.cfg

[parameters]
LOG=ON
$INCLUDE common.dat[colors]  ??
[end]


=============  COSTBOOK - ВЫВОД СВОДНОЙ ТАБЛИЦЫ соглашения с РФ ===============


[report]
r_RF_Svod 1:#f_source_RF#; p13=#p13#; year_details=#year_details#; ??
$SET_PARAMETERS f_source_RF=ALL; ??p13=RF|!SVOD
$SET_PARAMETERS_SESSION  f_source_RF_=ALL; ??zzz&p13=RF|!SVOD
$INCLUDE [report_]  ??!year_details
    ??!f_source_RF|f_source_RF=ALL
r_RF_Svod 2:#f_source_RF#; p13=#p13#;  ??
$CALL_SERVICE c=nica/costbook/r_RF_Svod_Src;  ??year_details  
    ??f_source_RF&!f_source_RF=ALL
[end]

$SET_PARAMETERS f_source_RF=;  ??f_source_RF=ALL

=============  COSTBOOK - ВЫВОД СВОДНОЙ ТАБЛИЦЫ соглашения с РФ ===============


[report_]
$INCLUDE [top]

<table class="tlist" 
    style="margin:30px; border: solid 3px ##A04000" cellpadding=3  ??!mode=print
    style="border: solid 1px ##808080" cellpadding=1  ??mode=print
    cellspacing=0 border=0>

    <tr><th class="nb" colspan=5>&nbsp;</th></tr>   ??!mode=print
    <tr><th class="nb title" colspan=5> ОСНОВНЫЕ ФИНАНСОВЫЕ РАСХОДЫ</th></tr>
    <tr><th class="nb" colspan=5>&nbsp;</th></tr>    ??!mode=print
    <tr><th class="nb subtitle" colspan=5>на реализацию базовой конфигурации проекта комплекса</th></tr>
    <tr><th class="nb subtitle" colspan=5>сверхпроводящих колец на встречных пучках тяжелых ионов NICA</th></tr>
    <tr><th class="nb" colspan=5>&nbsp;</th></tr>   ??!mode=print

    <tr><td colspan=5 class="align-right nb"
        align=right  ??XL=Y
    >
    цены 2013г. (млн.руб.)  ??p13=_13
    текущие цены  (млн.руб.) ??!p13
    соглашение с РФ (млн.руб.)  ??p13=RF
    </td></tr>

    <tr>
        <th style="width:400px;" class="bt">&nbsp;</th>
        <th style="width:100px;" class="bt">Российская#br# Федерация</th>
        <th style="width:120px;" class="bt">Объединенный#br# институт ядерных#br# исследований</th>
        <th style="width:100px;" class="bt">Страны-участники</th>
        <th style="width:90px;" class="bt">Итого</th>
    </tr>

    $GET_DATA [get Items]
    $EXECUTE_LOOP ITEM; #ITEMS#;  [show item]

    $GET_DATA [getTotals]

    <tr><td class="bt" colspan=5> </td></tr>
    <tr style="background-color:whitesmoke;">
        <td class="bt total_label"><b>Всего:</b></td>
        <td class="total align-right">&nbsp;#SUMMA_RF_TOT#</td>
        <td class="total align-right">#SUMMA_JINR_TOT#</td>
        <td class="total">#SUMMA_OS_TOT#</td>
        <td class="total">#SUMMA_ALL_TOT#</td>
    </tr>

    $INCLUDE [including_total] ??!p13=RF

</table>

<script>document.theForm.CostbookModule.value="r_RF";</script>  ??!XL=Y
<script>window.print();</script>  ??mode=print
[end]

[top] ***** Начало (до таблицы данных)
    $SET_PARAMETERS br=<br>;  ??!XL=Y

    <style type="text/css">
        table.tlist td.nb {border-bottom:none;}
        table.tlist td, table.tlist th  { border-right: dotted 1px ##d0d0d0; border-bottom: dotted 1px ##d0d0d0;
            text-align:left;  ??!XL=Y
        }
        table.tlist th {padding:3px 0 0 0; background-color:white; color:black; text-align:center;}
        table.tlist td.total {text-align:right;}
        table.tlist td.total, table.tlist td.total_label {border-bottom:none; border-top:solid 1px grey;}
        table.tlist td.bt, table.tlist th.bt  {border-top: solid 1px black;}
        table.tlist td.pl {padding-left:50px;}

        table.tlist th.title {
            font-size:16pt;    ??!mode=print
            border:none;}
        table.tlist th.subtitle {
            font-size:12pt;   ??!mode=print
            border:none;} 
        table.tlist td.subtitle {font-weight:bold; 
            font-size:10pt;   ??!mode=print
            background-color:white;}
        table.tlist td.data_lab {padding-left:30px;}
        table.tlist td.data, table.tlist td.align-right {text-align:right; white-space:nowrap;}
        body, table.tlist td, table.tlist th {font-size:8pt;}  ??mode=print
    </style>
    </head><body>  ??XL=Y

    $SET_PARAMETERS p13=_13; ??!SVOD
    $SET_PARAMETERS NUMBER_FORMAT=99G999G999G990D0;  ??!XL=Y
    $SET_PARAMETERS NUMBER_FORMAT=999999999990D0;  ??XL=Y

    $INCLUDE nica/costbook/r_RF_Svod[filters]  ??!XL=Y&!mode=print
    <table><tr><td></td></tr></table>  ??XL=Y&!mode=print
[end]


[including_total]
    <tr><td class="pl" colspan=5>в том числе:</td></tr>
    <tr>
        <td class="pl">опытно-конструкторские работы</td>
        <td class="align-right">&nbsp;#SUMMA_RF_C1_TOT#</td>
        <td  class="align-right">#SUMMA_JINR_C1_TOT#</td>
        <td  class="align-right">#SUMMA_OS_C1_TOT#</td>
        <td  class="align-right">#SUMMA_ALL_C1_TOT#</td>
    </tr>

    <tr>
    <td class="pl">капитальные затраты на создание</td>
        <td class="align-right">&nbsp;#SUMMA_RF_KAP_TOT#</td>
        <td  class="align-right">#SUMMA_JINR_KAP_TOT#</td>
        <td  class="align-right">#SUMMA_OS_KAP_TOT#</td>
        <td  class="align-right">#SUMMA_ALL_KAP_TOT#</td>
    </tr>
[end]
	
[filters]
    <br>
    <input type=hidden name="SVOD" value="Y">

    <input type="radio" name="p13" value="_13" onClick="refreshTable();"
        checked ??p13=_13
    >Cost Book, цены 2013г.
    <input type="radio" name="p13" value="" onClick="refreshTable();"
        checked ??!p13
    >Cost Book, текущие цены

    <input type="radio" name="p13" value="RF" onClick="refreshTable();"
        checked ??p13=RF
    >Соглашение с РФ

    &nbsp; <span class="pt" onClick="getXL('nica/costbook/r_RF_Svod');"><img src="/adb/images/XL.png" alt="Загрузить в Excel" width="18" height="20" border="0"></span>
    &nbsp; <a href="#ServletPath#?c=nica/costbook/r_RF_Svod&p13=#p13#&f_source_RF=#f_source_RF#&mode=print&VER=#VER#&SVOD=Y&SHOW_SUBTOTALS=#SHOW_SUBTOTALS#&scale=#scale#&src_details=Y" target="_blank"><img src="/adb/images/printer.gif" alt="Распечатать"  border="0"></a>
        
    <br><br>
    <input type=checkbox name="year_details" value="Y" onClick="if(this.checked) $('##f_src').show(); else $('##f_src').hide(); refreshTable();"
        checked ??year_details
    > детализация по годам ??!p13=RF
    <br>
    <table id="f_src" border=0 
            style="display:none;"  ??!year_details
        ><tr><td>Источник финансирования:</td><td>
        все  ??p13=RF
        $INCLUDE nica/costbook/r_RF_Svod.cfg[sources RF] ??!p13=RF
        </td><td> &nbsp; <b>Базовая конфигурация</b></td></tr>
    </table>
[end]

[sources RF]
    $SET_PARAMETERS_SESSION f_source_RF_=#f_source_RF#; ??zzz&f_source_RF
    $SET_PARAMETERS f_source_RF=#f_source_RF_#; ??!f_source_RF
    $SET_PARAMETERS f_source_RF=; f_source_RF_=; ??f_source_RF=ALL
    $SET_PARAMETERS_SESSION f_source_RF_=; ??zzz&f_source_RF=ALL

    <select name=f_source_RF onChange='refreshTable();'>
    <option value="ALL"> Все</option>  ??!NOT_ALL

    <option value="0,3" style="background-color:white;"
        selected ??f_source_RF=0,3
    >Бюджет ОИЯИ + долг РФ</option>

    <option value=1 style="background-color:##A0FF80;"
        selected ??f_source_RF=1
    >РФ</option>

    <option value="OS" style="background-color:##FFB080;"
        selected ??f_source_RF=OS
    >Остальные страны</option></select>
[end]

[show item]
    $GET_DATA [get num children]
    $CALL_SERVICE c=nica/costbook/r_RF_Svod_Item ??!p13=RF
    $CALL_SERVICE c=nica/costbook/r_RF_Svod_Item_RF ??p13=RF
[end]
	

=================================================================================

[get Items]
    select ','||ITEM as "ITEMS" from NICA_RF_AGREEMENT
    where PARENT_ITEM is null
        and ITEM like '1%' ??
    order by item
;
ALTER SESSION SET NLS_NUMERIC_CHARACTERS = '.,'
[end]			




[get num children]
    select count(item) as "NUM_SUBITEMS" from NICA_RF_AGREEMENT where PARENT_ITEM='#ITEM#'
[end]


[getTotals]
    $INCLUDE [getTotals_CB]  ??!p13=RF
    $INCLUDE [getTotals_RF]  ??p13=RF
[end]

[getTotals_RF]
    select 
     to_char(sum(a.AMOUNT_RF/1000000), '#NUMBER_FORMAT#') as "SUMMA_RF_TOT"
    , to_char(sum(a.AMOUNT_JINR/1000000), '#NUMBER_FORMAT#') as "SUMMA_JINR_TOT"
    , to_char(sum(a.AMOUNT_OTHER/1000000), '#NUMBER_FORMAT#') as "SUMMA_OS_TOT"
    , to_char(sum((a.AMOUNT_RF + a.AMOUNT_JINR + a.AMOUNT_OTHER))/1000000, '#NUMBER_FORMAT#') as "SUMMA_ALL_TOT"
    from NICA_RF_AGREEMENT a
    where not a.PARENT_ITEM is null
[end]

[getTotals_CB]
select 
    to_char(sum(case when source=1 then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_RF_TOT"
    ,to_char(sum(case when source in(0,3) then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_JINR_TOT"
    ,to_char(sum(case when source not in(0,1,3) then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_OS_TOT"
    ,to_char(sum(SUMMA_RUB) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_ALL_TOT"
from (
    select cb.source
        , cb.SUMMA_RUB#p13# as "SUMMA_RUB"
        from nica_costbook_#VER# cb	
            join nica_wbs_wu w on w.id=cb.WBS_ID	
            join NICA_RF_AGREEMENT a on a.item=w.AGREEMENT_ITEM
        where 	
            cb.is_fact=0 and cb.STATIA>0	
            and cb.mega=0
    union all
    select  d.source
        , nvl(d.S_A1#p13#,0) + nvl(d.S_A2#p13#,0) + nvl(d.S_A3#p13#,0) + nvl(d.S_A4#p13#,0) + nvl(d.S_A5#p13#,0) 
        + nvl(d.S_B#p13#,0) + nvl(d.S_C1#p13#,0) + nvl(d.S_C2#p13#,0) + nvl(d.S_D#p13#,0) as "SUMMA_RUB"	
        from NICA_RF_DATA d
)
;
select 
    to_char(sum(case when source=1 then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_RF_C1_TOT"
    ,to_char(sum(case when source in(0,3) then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_JINR_C1_TOT"
    ,to_char(sum(case when source not in(0,1,3) then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_OS_C1_TOT"
    ,to_char(sum(SUMMA_RUB) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_ALL_C1_TOT"
from (
    select cb.source, cb.SUMMA_RUB#p13#  as "SUMMA_RUB"	
        from nica_costbook_#VER# cb	
            join nica_wbs_wu w on w.id=cb.WBS_ID	
            join NICA_RF_AGREEMENT a on a.item=w.AGREEMENT_ITEM
        where 	
            cb.is_fact=0 and cb.STATIA>0	
            and cb.mega=0
            and cb.NATURE=31
    union all
    select  d.source
        , nvl(d.S_C1#p13#,0) as "SUMMA_RUB"		
        from NICA_RF_DATA d
)
;
select 
    to_char(sum(case when source=1 then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_RF_KAP_TOT"
    ,to_char(sum(case when source in(0,3) then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_JINR_KAP_TOT"
    ,to_char(sum(case when source not in(0,1,3) then SUMMA_RUB else 0 end) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_OS_KAP_TOT"
    ,to_char(sum(SUMMA_RUB) / 1000000, '#NUMBER_FORMAT#') as "SUMMA_ALL_KAP_TOT"
from (
    select cb.source, cb.SUMMA_RUB#p13#	 as "SUMMA_RUB"
        from nica_costbook_#VER# cb	
            join nica_wbs_wu w on w.id=cb.WBS_ID	
            join NICA_RF_AGREEMENT a on a.item=w.AGREEMENT_ITEM
        where 	
            cb.is_fact=0 and cb.STATIA>0	
            and cb.mega=0
            and cb.NATURE<>31
    union all
    select  d.source
        , nvl(d.S_A1#p13#,0) + nvl(d.S_A2#p13#,0) + nvl(d.S_A3#p13#,0) + nvl(d.S_A4#p13#,0) + nvl(d.S_A5#p13#,0)
        + nvl(d.S_B#p13#,0) + nvl(d.S_C2#p13#,0) + nvl(d.S_D#p13#,0) as "SUMMA_RUB"	
        from NICA_RF_DATA d
)
[end]
