nica/costbook/r_RF_Vedomost.cfg

[parameters]
service=dubna.walt.service.TableServiceSpecial2
debug=off
LOG=ON
tableCfg=nica/table.cfg 
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
ROOT_ID=0
makeTotalsForCols=,AMOUNT_16,AMOUNT_17,AMOUNT_18,AMOUNT_19,AMOUNT_20,AMOUNT_TOTAL,AMOUNT_ALL,
totRowLabel=<b>Всего:</b>
numDigits=0
thsnDelimiter=&nbsp;
$INCLUDE common.dat[colors]
[end]


=============  COSTBOOK - ВЫВОД ТАБЛИЦЫ соглашения с РФ ===============

=============  Права в MS SQL => c2/copy_RF_Vedomost.cfg

[report header]
$SET_PARAMETERS AR=1;
$SET_PARAMETERS AR=2; ??!A_NICA&!A_NICA_RO
866 - Науменко ??
$SET_PARAMETERS AR=2; ??USER_ID=866

$SET_PARAMETERS srn=1; rpp=9999; 
$SET_PARAMETERS thsnDelimiter=s; ??REC_ID
$SET_PARAMETERS f_appr=null; ??op=mark
$INCLUDE [process item] ??op&!op=mark

$SET_PARAMETERS f_id=; ??f_des
$GET_DATA [get filters]

<div style="margin:0 0 15px 0;">
AR=#AR#; ??
<span class="pt" onClick="printDoc();"><img src="/adb/images/XL.png" alt="Загрузить в Excel" width="18" height="20" border="0"> Печать дополнения к ведомости </span>
<span class="pt" onClick="setOp('mark');"><i class="fa fa-check green" aria-hidden="true"></i> Отметить утвержденные </span>  ??NUM_NEW>0&f_appr=null|!f_appr
<span style="color:grey;"><i class="fa fa-check" aria-hidden="true"></i> Отметить утвержденные </span>  ??NUM_NEW=0|f_appr&!f_appr=null
<span class="pt" onClick="setOp('unMark');"><i class="fa fa-times red" aria-hidden="true"></i> Сбросить дату утверждения </span>  ??f_appr&!f_appr=null
<span class="pt" style="color:grey;" onClick="alert('Выберите дату утверждения в колонке <Утверждено>');"><i class="fa fa-times grey" aria-hidden="true"></i> Сбросить дату утверждения </span>  ??!f_appr|f_appr=null
&nbsp; 
<span class="pt" onClick="getXL('nica/costbook/r_RF');"><img src="/adb/images/XL.png" alt="Загрузить в Excel" width="18" height="20" border="0"> Выгрузка в EXEL </span>
&nbsp; 
<span class="pt" onClick="setOp('add');"> <i class="fa fa-plus green" aria-hidden="true"></i> Добавить пункт</span>
<br><br>
<span class="pt"><a href="#ServletPath#?c=c2/exportNICA" target="_blank"> <i class="fa fa-arrow-circle-o-right" style="font-size:12pt;" aria-hidden="true"></i> Выгрузить в MS SQL</a></span>    ??!op&!f_appr

<i class="fa fa-exclamation-triangle red" aria-hidden="true"></i> #ERROR#  ??ERROR
<b>Установить для отмеченных дату утверждения:</b> <input size=9 class="xpc" name="APP_DATE" value="#APP_DATE#"><input class="b_nica bok short" type=button value="OK" onClick="setOp('setMark');">    ??op=mark
<b>Сбросить для отмеченных дату утверждения</b> <input class="b_nica bok short" type=button value="OK" onClick="setOp('resetMark');">   ??f_appr&op=unMark
<input class="b_nica bcancel short" type=button value="Отмена" onClick="setOp('');">   ??op
</div>

<table class="tlist" border=0 cellspacing=0 cellpadding=0 style="width_:100%; background-color:white;">
<tr>
<th class="nb">ID</th>
<th class="nb">Наименование</th>
<th class="nb">Пункт<br>EVM</th>
<th class="nb">Пункт<br>согл.&nbsp;РФ</th>
<th class="nb">Направление<br>финансирования</th>
<th rowspan=2>Сумма&nbsp;закупки<br>(руб)<br><br></th>
<th class="nb"></th>
<th colspan=6>Разбивка по годам</th>
 
<th class="nb">Утверждено</th>
   ??!REC_ID
<th rowspan=2>Примечание</th>
<th rowspan=2>Изменено</th></tr>

<tr><th><select name="f_id" onChange="refreshTable();" style="width:30px;"><option value=""></option>#IDs#</select></th>
<th><select name="f_des" onChange="refreshTable();" style="width:100%; max-width:600px;"><option value=""></option>#DESs#</select></th>
<th><select name="f_wbs" onChange="refreshTable();"><option value=""></option><option value="null">нет</option>#WBSs#</select></th>
<th><select name="f_item" onChange="refreshTable();"><option value=""></option><option value="null">нет</option>#ITEMs#</select></th>
<th><select name="f_dir" style="max-width:110px;" onChange="refreshTable();"><option value=""></option><option>опытно-конструкторские работы</option><option>затраты на создание</option></select></th>

<th></th>
<th>2016</th><th>2017</th><th style="width:70px;">2018</th><th style="width:70px;">2019</th><th style="width:70px;">2020</th>
<th>Итого</th>
<th><select name="f_appr" onChange="refreshTable();"><option value=""></option><option value="null">не утв.</option>#APPRs#</select></th>
</tr>
[end]
					

[item]
$INCLUDE [ro_item] ??AR<2|!ID=#REC_ID#|!REC_ID|APPROVED
$INCLUDE [input block] ??AR=2&ID=#REC_ID#&REC_ID&!APPROVED
[end]


[input block]
<tr style="background-color:##ffffc0;"><td>#ID#</td>
<td class="align_left">
<textarea name="DES" style="width:100%; min-width:400px; height:77px;">#DES#</textarea></td>
<td class="align_center"><input size=7 class="xpc" name="NICA_WBS" value="#NICA_WBS#"></td>
<td class="align_center"><input size=7 class="xpc" disabled name="AGREEMENT_ITEM" value="#AGREEMENT_ITEM#"></td>

<td class="align_left"><select name="DIRECTION"><option value="опытно-конструкторские работы">ОКР</option>
<option value="затраты на создание"
selected  ??DIRECTION=затраты на создание
>создание</option></select>
<br><br><b>ВНИМАНИЕ!</b><br>Строка утверждена #APPROVED#!<br>Можно только ввести недостающие данные!  ??APPROVED
</td>

<td><input size=11 class="xpc" name="AMOUNT_TOTAL" value="#AMOUNT_TOTAL#"></td><td></td>
<td><input size=11 class="xpc" name="AMOUNT_16" value="#AMOUNT_16#"></td>
<td><input size=11 class="xpc" name="AMOUNT_17" value="#AMOUNT_17#"></td>
<td><input size=11 class="xpc" name="AMOUNT_18" value="#AMOUNT_18#"></td>
<td><input size=11 class="xpc" name="AMOUNT_19" value="#AMOUNT_19#"></td>
<td><input size=11 class="xpc" name="AMOUNT_20" value="#AMOUNT_20#"></td>

<td><input size=11 class="xpc" disabled value="#AMOUNT_ALL#"></td>
<td colspan=2><textarea name="COMMENTS" style="width:100%; min-width:200px; height:77px;">#COMMENTS#</textarea></td>

<td class="align_left">
        <input class="b_nica bok short" type=button value="Сохранить" onClick="setOp('save');">  
<br><br><input class="b_nica bdel short" type=button value="Удалить" onClick="if(confirm('Удалить строку?')) setOp('del');">  ??!APPROVED
<br><br><input class="b_nica bcancel short" type=button value="Отмена" onClick="document.theForm.REC_ID.value=''; refreshTable();">  ??!op=add
</td></tr>
[end]


[ro_item]
<tr><td class="nowrap" style="padding-left:0;">
<input type=checkbox name="marked" value="#ID#" checked> ??op=mark
<input type=checkbox name="marked" value="#ID#"> ??op=unMark
#ID#</td>
<td class="align_left"><div style="max-width:600px;">#DES#</div></td>
<td class="align_center">#NICA_WBS#</td>
<td class="align_center">#AGREEMENT_ITEM#</td>
<td class="align_left">
#DIRECTION#  ??
создание ??DIRECTION=затраты на создание
ОКР ??DIRECTION=опытно-конструкторские работы
</td>
<td>#AMOUNT_TOTAL#</td><td></td><td>#AMOUNT_16#</td><td>#AMOUNT_17#</td><td>#AMOUNT_18#</td><td>#AMOUNT_19#</td><td>#AMOUNT_20#</td>
<td>#AMOUNT_ALL#</td> 
  ??!REC_ID

<td class="align_center">#APPROVED#</td> 
   ??!REC_ID
<td>#COMMENTS#</td>
<td class="nowrap align_left pt" style="font-size:8pt;" 
onClick="editItem('#ID#');" 
  ??!APPROVED
>
<img class="btn" src="#imgPath#edit_16.gif" width="16" height="16" border="0">  ??AR=2&!APPROVED
#UPDATED#</td>
</tr>
[end]


[report footer]
</table>

<script type="text/javascript">
selectOptionByVal(document.theForm.f_id, "#f_id#");
selectOptionByVal(document.theForm.f_des, "#f_des#");
selectOptionByVal(document.theForm.f_wbs, "#f_wbs#");
selectOptionByVal(document.theForm.f_item, "#f_item#");
selectOptionByVal(document.theForm.f_dir, "#f_dir#");
selectOptionByVal(document.theForm.f_appr, "#f_appr#"); ??f_appr
</script>
[end]

[process item]
$GET_DATA [add item] ??op=add
$GET_DATA [update item] ??op=save
$GET_DATA [delete item] ??op=del
$GET_DATA [mark approved]  ??op=setMark&marked&APP_DATE
$GET_DATA [unmark approved]  ??op=resetMark&marked

$SET_PARAMETERS REC_ID=; thsnDelimiter=&nbsp; f_id=; ??!op=add
$SET_PARAMETERS f_appr=;  ??!ERROR&op=setMark|op=resetMark
<script type="text/javascript">alert("ОШИБКА: WBS #NICA_WBS# нет! #WBS_ID#"); </script>  ??NICA_WBS&!WBS_ID&op=save
[end]

========================================================
[mark approved]
update NICA_RF_VEDOMOST set approved=to_date('#APP_DATE#','DD.MM.YYYY') where ID in(#marked#)
[end]

[unmark approved]
update NICA_RF_VEDOMOST set approved=null where ID in(#marked#)
[end]

[delete item]
delete from NICA_RF_VEDOMOST where ID=#REC_ID#
[end]

[add item]
select max(id)+1 as REC_ID from NICA_RF_VEDOMOST;
insert into NICA_RF_VEDOMOST(id, updated, modifier_id)
values(#REC_ID#, SYSDATE, #USER_ID#)
;
select #REC_ID# as "f_id" from dual
[end]

[update item]
select 1 as "OK"
,replace('#AMOUNT_TOTAL#',' ','') as AMOUNT_TOTAL  ??AMOUNT_TOTAL
,replace('#AMOUNT_16#',' ','') as AMOUNT_16  ??AMOUNT_16
,replace('#AMOUNT_17#',' ','') as AMOUNT_17  ??AMOUNT_17
,replace('#AMOUNT_18#',' ','') as AMOUNT_18  ??AMOUNT_18
,replace('#AMOUNT_19#',' ','') as AMOUNT_19  ??AMOUNT_19
,replace('#AMOUNT_20#',' ','') as AMOUNT_20  ??AMOUNT_20
from dual
;
select id as WBS_ID, AGREEMENT_ITEM from nica_wbs where code='#NICA_WBS#'
;
update NICA_RF_VEDOMOST set DES='#DES#', AGREEMENT_ITEM='#AGREEMENT_ITEM#', DIRECTION='#DIRECTION#'
, WBS_ID=#WBS_ID# ??WBS_ID
, WBS_ID=null ??!WBS_ID
, AMOUNT_TOTAL=#AMOUNT_TOTAL# ??AMOUNT_TOTAL
, AMOUNT_TOTAL=null ??!AMOUNT_TOTAL
, AMOUNT_16=#AMOUNT_16# ??AMOUNT_16
, AMOUNT_16=null        ??!AMOUNT_16
, AMOUNT_17=#AMOUNT_17# ??AMOUNT_17
, AMOUNT_17=null        ??!AMOUNT_17
, AMOUNT_18=#AMOUNT_18# ??AMOUNT_18
, AMOUNT_18=null        ??!AMOUNT_18
, AMOUNT_19=#AMOUNT_19# ??AMOUNT_19
, AMOUNT_19=null        ??!AMOUNT_19
, AMOUNT_20=#AMOUNT_20# ??AMOUNT_20
, AMOUNT_20=null        ??!AMOUNT_20
, COMMENTS='#COMMENTS#'
, updated=SYSDATE, modifier_id=#USER_ID#
where ID=#REC_ID#
[end]



[SQL]
select v.ID, v.DES, v.WBS_ID, ''''||v.AGREEMENT_ITEM as "AGREEMENT_ITEM", v.DIRECTION
,v.AMOUNT_TOTAL, '.'
, v.AMOUNT_16, v.AMOUNT_17, v.AMOUNT_18, v.AMOUNT_19, v.AMOUNT_20
, nvl(v.AMOUNT_16,0)+nvl(v.AMOUNT_17,0)+nvl(v.AMOUNT_18,0)+nvl(v.AMOUNT_19,0)+nvl(v.AMOUNT_20,0) as "AMOUNT_ALL"
, ''''||w.code as "NICA_WBS"
, to_char(v.APPROVED,'DD.MM.YYYY') as APPROVED, COMMENTS
, to_char(v.UPDATED,'DD.MM.YYYY HH24:MI') || ',<br><small>'||u.FIO||'</small>'  as UPDATED
from NICA_RF_VEDOMOST v
 left join nica_wbs w on w.id=v.WBS_ID 
left join NICA_RF_AGREEMENT a on a.item=v.AGREEMENT_ITEM
left join users u on u.id=v.MODIFIER_ID
$INCLUDE [criteria]
order by 
v.ID
[end]


[criteria]
where 1=1
and v.ID=#f_id#??f_id
and v.ID=#f_des#??f_des
and v.WBS_ID=#f_wbs#  ??f_wbs&!f_wbs=null
and v.WBS_ID is null ??f_wbs=null
and v.DIRECTION='#f_dir#'  ??f_dir&!f_dir=null
and to_char(v.APPROVED,'DD.MM.YYYY')='#f_appr#' ??f_appr&!f_appr=null
and v.APPROVED is null ??f_appr=null
[end]

and v.AGREEMENT_ITEM=#f_item# ??f_item&!f_item=null
and v.AGREEMENT_ITEM is null ??f_item=null


[get filters]
select '<option value="'||ID||'">'||ID||'</option>' as "IDs" 
, '<option value="'||ID||'">'||substr(DES,1,150)||'</option>' as "DESs" 
from NICA_RF_VEDOMOST order by id
;

select distinct w.code, '<option value="'||v.WBS_ID||'">'||w.code||'</option>' as "WBSs" 
from NICA_RF_VEDOMOST v left join nica_wbs w on w.id=v.WBS_ID where not v.WBS_ID is null
order by w.code
;

select distinct AGREEMENT_ITEM, '<option value="'||AGREEMENT_ITEM ||'">'||AGREEMENT_ITEM ||'</option>' as "ITEMs" 
from NICA_RF_VEDOMOST order by AGREEMENT_ITEM 
;
select distinct APPROVED, '<option value="'||to_char(APPROVED,'DD.MM.YYYY') ||'">'||to_char(APPROVED,'DD.MM.YYYY') ||'</option>' as "APPRs" 
from NICA_RF_VEDOMOST where not APPROVED is null order by APPROVED 
;
select count(*) as "NUM_NEW" from NICA_RF_VEDOMOST where APPROVED is null
;
select to_char(SYSDATE,'DD.MM.YYYY') as APP_DATE from dual ??op=mark
[end]
