r_svod_table.cfg

r_costbook_svod_table.cfg

[parameters]
service=dubna.walt.service.TableServiceSpecial2 ??
debug=off
KeepLog=true
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
ROOT_ID=0
thsnDelimiter=&nbsp
totRowLabel=¬сего
NumSpecialCols=1
numDigits=0
subtitle_colspan=31
[end]


[caption]
<table class_="tlist" border=0><tr><td>"—ќ√Ћј—ќ¬јЌќ"<br></td></tr></table>
[end]

[report]
$SET_PARAMETERS YRO=#f_nica_year#;
$INCLUDE nica/r_pplan.cfg[style]  ??cop=print
$INCLUDE nica/r_pplan.cfg[style_prn]  ??cop=print

$INCLUDE [caption] ??cop=print
<table class="tlist" border=0 cellspacing=0 cellpadding=2 style="margin:0;">

<tr><td class="left" colspan=#subtitle_colspan# style="background-color:##FFFF80"><b>
п.#CODE#, #TITLE#, #RESP# ??!CODE=0
NICA-MPD, т.1065 ??CODE=0
(k$)
</b></td></tr>


<tr><th rowspan=2> </th>#YEARS#<th colspan=2>¬—≈√ќ</th>  </tr>
<tr> #PF#
<th>лимит</th> ??f_data=0
<th>план</th> ??f_data=1
<th>факт</th></tr>

$INCLUDE [data row] param: CURR_CODE=840; 
$INCLUDE [data row] param: CURR_CODE=978; 
$INCLUDE [data row] param: CURR_CODE=810; 
$INCLUDE [data row] param: CURR_CODE=; cl=total; 

$INCLUDE [details table] ??curr_id=0
$INCLUDE [currency] 

</table>

<script type="text/javascript">
hideDetails();  
drawChart();  ??
</script>
[end]

[details table]
$SET_PARAMETERS details=Y; cl=;
$SET_PARAMETERS cl=det_row; 
<tr><td colspan=#subtitle_colspan# class="left c" onClick="$('.det_row').toggle(300);"><b>¬ том числе (k$):</b>
<img src="#imgPath#b_more.gif" id="det_show" class="det_row">
<img src="#imgPath#b_less.gif"  id="det_hide" class="det_row">
</td></tr>
$EXECUTE_LOOP curr_id; #CHILDS#; [child row]
$SET_PARAMETERS cl=; 
[end]

[child row]
$GET_DATA [get child]
$INCLUDE [data row] param: CURR_CODE=; details=Y;
[end]


[data row] param: CURR_CODE; details; cl;
<tr class="#cl#"><th
nid="n#curr_id#" class="ppath pp1" ??details=Y
>
руб. ??CURR_CODE=810
$ ??CURR_CODE=840
И ??CURR_CODE=978
»того&nbsp;в&nbsp;$ ??!CURR_CODE&!details=Y
п.#CODE# ??!CURR_CODE&details=Y
</th>
$GET_DATA [rowSQL]
#DATA_ROW##TOTAL_CELLS#
</tr>
[end]

[currency]
$SET_PARAMETERS curr=Y;
<tr><td colspan=29 class="left" style="border-top:solid 1px black;"><b>ѕлановые курсы валют:</b></td><td colspan=2 rowspan=3 style="border-top:solid 1px black;"> </td></tr>
$INCLUDE [curr row] param: CURR_CODE=840; 
$INCLUDE [curr row] param: CURR_CODE=978; 
<tr><td colspan=#subtitle_colspan# class="left" style="border-top:solid 1px black;"> </td></tr>
[end]

[curr row]
$GET_DATA [RatesRowSQL]
<tr><th>
руб / $: ??CURR_CODE=840
И / $:      ??CURR_CODE=978
</th>
#RATE_ROW#
</tr>
[end]

========================================================
[get child]
select CODE, nvl(TITLE,title_e) as TITLE, nvl(resp, resp_e) as RESP
from nica_wbs where id=#curr_id#
;
[end]

[RatesRowSQL]
select 
y.YYYY, '<td>'||nvl(decode(r.USD_RUB,0,null,to_char(
r.USD_RUB ??CURR_CODE=840
r.EUR_USD ??CURR_CODE=978
,'FM9990.0999')),' ') ||'</td><td> </td>' as RATE_ROW

from nica_years y

left join nica_budget_rates r on r.year=y.yyyy

order by y.YYYY
;

[end]


[rowSQL]
$INCLUDE [rowSQL_limits] ??f_data=0
[end]


[rowSQL_limits]
select 
y.YYYY, '<td class=dot>'||nvl(decode(cc.PLAN,0,null,to_char(cc.PLAN,'999999990.0')),' ')
 ||'</td><td>'||nvl(decode(cc.FACT,0,null,to_char(cc.FACT,'999999990.0')),' ')||'</td>' as DATA_ROW

from nica_years y

left join ( /* view on data */
select c.YR as YYYY
, sum(decode(c.IS_FACT,0, nvl(c.SUMMA_USD,0), 0 ) )/1000 as PLAN

, sum(decode(c.IS_FACT,1, nvl(c.SUMMA_USD,0), 0 ) )/1000 as FACT

from nica_costbook_#VER# c 
where
c.WBS_ID=#curr_id#  ??f_data=0
c.WBS_ID in (select ID from nica_wbs connect by prior id=pid start with id in(#curr_id#)) ??f_data=1
c.WBS_ID in (-1#CHILDS#) ??curr_id=0_ZZZ
c.WBS_ID=#curr_id# ??curr_id>0&ZZZ
group by c.YR
) cc on cc.YYYY=y.YYYY

order by y.YYYY
;

select /* TOTAL CELLS */ '<td>'||nvl(to_char(sum(decode(c.IS_FACT,0,
c.SUMMA_RUB  ??CURR_CODE=810
c.SUMMA_USD  ??CURR_CODE=840|!CURR_CODE
c.SUMMA_EUR  ??CURR_CODE=978
,null) )/1000,'9999999990.0'),'-')||'</td>' 

|| '<td>'||nvl(to_char(sum(decode(c.IS_FACT,1,
c.SUMMA_RUB  ??CURR_CODE=810
c.SUMMA_USD  ??CURR_CODE=840|!CURR_CODE
c.SUMMA_EUR  ??CURR_CODE=978
,null) )/1000,'9999999990.0'),'-')||'</td>' 

as TOTAL_CELLS

from nica_costbook_#VER# c 
where 
c.WBS_ID=#curr_id#  ??f_data=0
c.WBS_ID in (select ID from nica_wbs connect by prior id=pid start with id in(#curr_id#)) ??f_data=1
and c.curr_code=#CURR_CODE# ??CURR_CODE
;

[end]


[rowSQL_curr]
select 
y.YYYY, '<td class=dot>'||nvl(decode(cc.PLAN,0,null,to_char(cc.PLAN,'999999990.0')),' ')
 ||'</td><td>'||nvl(decode(cc.FACT,0,null,to_char(cc.FACT,'999999990.0')),' ')||'</td>' as DATA_ROW

from nica_years y

left join ( /* view on data */
select c.YR as YYYY
, sum(nvl( decode(c.IS_FACT,0,
case when c.CURR_CODE=#CURR_CODE# then  ??CURR_CODE
c.SUMMA_RUB  ??CURR_CODE=810
c.SUMMA_USD  ??CURR_CODE=840|!CURR_CODE
c.SUMMA_EUR  ??CURR_CODE=978
else 0 end   ??CURR_CODE
,0) ,0))/1000 as PLAN
, sum(nvl(decode(c.IS_FACT,1,
case when c.CURR_CODE=#CURR_CODE# then  ??CURR_CODE
c.SUMMA_RUB  ??CURR_CODE=810
c.SUMMA_USD  ??CURR_CODE=840|!CURR_CODE
c.SUMMA_EUR  ??CURR_CODE=978
else 0 end   ??CURR_CODE
,0), 0))/1000 as FACT
from nica_costbook_#VER# c 
where
c.WBS_ID=#curr_id#  ??f_data=0
c.WBS_ID in (select ID from nica_wbs connect by prior id=pid start with id in(#curr_id#)) ??f_data=1
c.WBS_ID in (-1#CHILDS#) ??curr_id=0_ZZZ
c.WBS_ID=#curr_id# ??curr_id>0&ZZZ
group by c.YR
) cc on cc.YYYY=y.YYYY

order by y.YYYY
;

select /* TOTAL CELLS */ '<td>'||nvl(to_char(sum(decode(c.IS_FACT,0,
c.SUMMA_RUB  ??CURR_CODE=810
c.SUMMA_USD  ??CURR_CODE=840|!CURR_CODE
c.SUMMA_EUR  ??CURR_CODE=978
,null) )/1000,'9999999990.0'),'-')||'</td>' 

|| '<td>'||nvl(to_char(sum(decode(c.IS_FACT,1,
c.SUMMA_RUB  ??CURR_CODE=810
c.SUMMA_USD  ??CURR_CODE=840|!CURR_CODE
c.SUMMA_EUR  ??CURR_CODE=978
,null) )/1000,'9999999990.0'),'-')||'</td>' 

as TOTAL_CELLS

from nica_costbook_#VER# c 
where 
c.WBS_ID=#curr_id#  ??f_data=0
c.WBS_ID in (select ID from nica_wbs connect by prior id=pid start with id in(#curr_id#)) ??f_data=1
and c.curr_code=#CURR_CODE# ??CURR_CODE
;

[end]


[preSQLs]
$SET_PARAMETERS curr_id=0; ??!curr_id

select CODE, nvl(TITLE,title_e) as TITLE, nvl(resp, resp_e) as RESP
from nica_wbs where id=#curr_id#
;
select ','||id as CHILDS 
, to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"
from nica_wbs 
where pid=#curr_id#
order by SORT
;

select '<th colspan=2>'||YYYY||'</th>' as YEARS
, '<th>лимит</th><th>факт</th>' ??f_data=0
, '<th>план</th><th>факт</th>' ??f_data=1
as PF

from nica_years
where YYYY>2013 ??
order by YYYY
[end]



