nica/costbook/showYearPlan.cfg

[parameters]
service=dubna.walt.service.TableServiceSpecial2 
debug=off
LOG=ON
tableCfg=nica/table.cfg 
wrapperTable=none 
table_beg=none
table_end=none
wrapperTableEnd=none 
numDigits=0
thsnDelimiter=&nbsp;
makeTotalsForCols=LIMIT,PLAN,PPLAN
[end]


=============  ВЫВОД ТАБЛИЦЫ ФИНАНСИРОВАНИЯ по источникам ===============

[report header]
<style>
table.thinHead th {font-weight:normal;}
table.thinHead td.l {font-weight:bold; text-align:right;}
table.thinHead td.tb {border-top: 1px solid ##606060;} ??
table.thinHead td.total_label, table.thinHead td.total {font-weight:bold; text-align:right; border-top: 1px solid ##606060; border-bottom: 1px solid ##606060;}
</style>
$SET_PARAMETERS f_nica_year=#CURR_YEAR#;  ??!f_nica_year|f_nica_year=ALL
Финансирование на #f_nica_year# год (<b>$</b>):
<center>
<table class="tlist thinHead" style="margin-left:20px;" cellspacing=0>
<tr>
<th><br>Источник:</th>
<th>Лимит<br>на&nbsp;год:</th>
<th>Запланировано закупок:</th>
<th>Запланировано платежей:</th>
<th>Оплачено<br>с&nbsp;начала&nbsp;года:</th>
</tr>
[end]

 
[item]
<tr><td class="align_right">
<span
 style="background-color:
white;  ??SOURCE=0
##A0FF80;   ??SOURCE=1
##FFB080;   ??SOURCE=2
">
#DES#
</span></td> 
<td class="align_right" style="width:50px;">#LIMIT#</td>
<td class="align_right" style="width:50px;">#PLAN#</td>
<td class="align_right" style="width:50px;">#PPLAN#</td>
<td class="align_right" style="width:50px;">#FACT_USD#</td>
</tr>
[end]


[report footer]
</table></center>
[end]

========================================================

[preSQLs]
[end]
select replace(trim(to_char(sum(p.SUMMA_USD),'999G999G999G990')),' ','&nbsp;') as TOT_SUMMA_USD 
from nica_pplan_#VER# p
where extract(YEAR from p.DAT) = #f_nica_year#
and p.TASK_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id in(#curr_id#) ) ??curr_id>0
[end]


[SQL]
select s.DES
, nvl(cbl.summa_usd, 0) as "LIMIT"
, nvl(cbp.PLAN, 0) as "PLAN"
, nvl(p.PPLAN,0) as "PPLAN"
, s.id as SOURCE

from nica_src s

left join nica_costbook_#VER# cbl on (
    cbl.source=s.id 
    and cbl.wbs_id=#curr_id# and cbl.yr=#f_nica_year# and cbl.is_fact=0 and cbl.STATIA=0
)

left join (
select sum(summa_usd) as "PLAN", source
from nica_costbook_#VER# 
where 
    WBS_ID in (select ID from nica_wbs connect by prior id=pid start with id=#curr_id#) 
    and yr=#f_nica_year# and is_fact=0 and STATIA>0 
group by source
) cbp on cbp.source=s.id 

left join ( 
select sum(SUMMA_USD) as "PPLAN", SOURCE
    from nica_pplan_#VER# 
    where YR = #f_nica_year#
    and TASK_ID in (select ID from nica_wbs_wu connect by prior id=pid start with id=#curr_id#)
group by source
) p on p.SOURCE=s.id

where s.id in(0,1,2)
 order by s.id
[end]

