data_table.cfg

[comments]
descr=A: Вывод списка объектов (вывод самой таблицы)
input=
output=HTML список объектов
parents=tab_Data
childs=
testURL=
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial ??logged
request_name=A:Data list
LOG=ON
tableCfg=table_no
$INCLUDE dat/common.dat[rowLinks]
[end]


[report header] 
$INCLUDE dat/common.dat[check login]
$INCLUDE [OK report header]  ??logged
[end]


[OK report header] Заголовок таблицы
$LOG3 +++ data_table.cfg; srn=#srn#; rpp=#rpp#;<br>
+++++++ сортировка таблицы по умолчанию ++++ ??
$SET_PARAMETERS srt=o.uploaded; desc=desc; ??!srt  
$SET_PARAMETERS f_type_id=; ??f_type_id=ALL
<div id="result_table"> ??

<center>
<input type=hidden name="srt" value="#srt#">
<input type=hidden name="desc" value="#desc#">

++++++++++++++++++ Шапка таблицы объектов +++++++++++++++++++++ ??
<table class="tlist tblue" cellspacing=0>
<tr>
<th class="srh" sr="o.ID">id</th>  
<th class="srh" sr="o.src_client_id">Источник</th>
<th class="srh" sr="o.ObjectType">Тип&nbsp;объекта</th>
<th class="srh" sr="o.ObjectType">ID&nbsp;в&nbsp;источнике</th>  ??f_src_id
<th class="srh pl" sr="o.ObjectTime">Измененен</th>
<th>Содержимое объекта</th>
<th class="srh pl" sr="o.uploaded">Загружен</th>
<th class="srh" sr="o.Command">Команда</th>
</tr>
[end]


[item]
++++++++++++++++++ Строка таблицы - 1 объект +++++++++++++++++++++ ??
<tr class="pt
oddRow ??oddRow=1
" onClick="ShowDialog(true); AjaxCall('popupCont', 'c=objects/view_object&object_id=#ID#');">
<td class=small>#ID#</td> 
<td>#Ver#</td> ??
<td>#src_client_id#: #SRC_CLIENT#</td>
<td class=nowrap>#ObjectType#: #OBJECT_TYPE#</td>
<td class=nowrap>#SRC_OBJECT_ID#</td> ??f_src_id
<td class=nowrap>#ObjectTime#</td> 
<td>
<div id="cont_#ID#" style="font-size:7pt; height:30px; max-width:600px; overflow:hidden;" 
onClick="toggleDiv('cont_#ID#');" ??
>
#object#
</div></td> 
<td class=nowrap>#uploaded#</td> 
<td
class=bg_red ??is_deleted=1
>#Command#</td>
</tr>
[end]


[report footer]
$GET_DATA [countRecords]
<tr><td colspan=7 class="pager last">
Всего: <b>#TOT_NUM_ROWS#</b> строк. &nbsp;
$INCLUDE dat/common.dat[rpp]  ??!NumTableRows=0
<input type=hidden name="rpp" value="#rpp#"> ??NumTableRows=0
</td><td class="pager last"></tr>
</table>
NumTableRows=#NumTableRows#; ??
</div> ??

<script>
var toggleDiv=function(div_id){
    if($("##" + div_id).height() == 30) 
        $("##" + div_id).height("");
    else
        $("##" + div_id).height(30);
}

--------- Отображение сортировки в заголовке таблицы ----- ??
showSrt("#srt#","sup"); ??!desc
showSrt("#srt#","sdown"); ??desc
</script>
[end]


[SQL]  Шаблон SQL запроса 
select o.ID, c.name as "SRC_CLIENT", o.src_client_id
, o.ObjectType, t.name as "OBJECT_TYPE"
, o.id_client_#f_src_id# as SRC_OBJECT_ID ??f_src_id
, o.Command
, o.ObjectID ??
, date_format(o.uploaded, '%d.%m.%Y %H:%i:%S') as uploaded
, date_format(o.ObjectTime, '%d.%m.%Y %H:%i') as ObjectTime
, o.object
, o.is_deleted
$INCLUDE [criteria]

order by #srt# #desc#
limit  
#srn#, ??
 200 ??rpp=20
 500 ??rpp=50
 1000 ??rpp=100
, #rpp#  ??
[end]

[criteria] Таблицы и критерий отбора
from objects o 
left join clients c on c.id=o.src_client_id
left join object_types t on t.id=o.ObjectType
where 1=1
and ObjectType=#f_type_id# ??f_type_id
and ObjectType in(select object_type from object_receivers where client_id=#f_receiver_id#) ??f_receiver_id&!f_receiver_id=ALL
and src_client_id=#f_src_id# ??f_src_id
and o.object like '%#f_search#%' ??f_search
and o.id_client_#f_src_id#='#f_src_object_id#' ??f_src_id&f_src_object_id
and o.Command='#f_command#' ??f_command
and date_format(o.uploaded, '%d.%m.%Y')=date_format(now(), '%d.%m.%Y') ??f_loaded=today
and o.uploaded > date_sub(now(), INTERVAL #f_loaded# HOUR) ??f_loaded={{1|2|3|24}}
[end]

[countRecords] подсчет общего кол-ва записей
select count(o.ID) as TOT_NUM_ROWS
$INCLUDE [criteria]
[end]
