errors_id_queue.cfg

НЕ СДЕЛАНО!!!

errors_id.cfg

[comments]
descr=A: Вывод списка ошибок присваивания ID приемника
input=
output=HTML список объектов
parents=tab_erors
childs=
testURL=
[end]


[parameters]
service=dubna.walt.service.TableServiceSpecial ??logged
request_name=A:Error list
LOG=ON
tableCfg=table_no
$INCLUDE dat/common.dat[rowLinks]
[end]


[report header] 
    $INCLUDE dat/common.dat[check login]
    $INCLUDE [OK report header]  ??logged
[end]


[OK report header] Заголовок таблицы
    $LOG2 +++ errors_table.cfg; srn=#srn#; rpp=#rpp#;<br>
    $SET_PARAMETERS f_src_id=3;  ??!f_src_id
    $SET_PARAMETERS f_receiver_id=2;  ??!f_receiver_id

    $SET_PARAMETERS f_type_id=; ??f_type_id=ALL
    $SET_PARAMETERS OBJECT_TYPE=; ObjectType=; ClientObjectId=; ObjectTime=;

    <center>
    <br><br>Ошибки присвоения receiver_ID

    ++++++++++++++++++ Шапка таблицы объектов +++++++++++++++++++++ ??
    <table class="tlist tblue" cellspacing=0>
        <tr>
            <th class="srh" sr="e.ID">id</th>  ??
            <th class="srh" sr="e.SrcClientId">Источник</th>
            <th class="srh" sr="e.ObjectType">Тип&nbsp;объекта</th>
            <th class="srh" sr="e.ObjectType">ID&nbsp;в&nbsp;источнике</th> 
            <th class="srh" sr="e.ObjectType">ID&nbsp;в&nbsp;приемнике</th> 
            <th class="srh pl" sr="e.ObjectTime">Дата&nbsp;изменения</th>
            <th class="srh pl" sr="e.uploaded">Загружен</th>
            <th class="srh" sr="e.Command">Команда</th>
            <th class="srh" sr="e.Command">Результат</th>
            <th>Содержимое объекта</th>
        </tr>
[end]


[item]
    <tr class="pt
        oddRow ??oddRow=1
        " onClick="ShowDialog(true); AjaxCall('popupCont', 'c=objects/view_error&record_id=#ID#');">
        <td class=small>#ID#</td> ??
        <td>#Ver#</td> ??
        <td>#SrcClientId#: #SRC_CLIENT#<br>#ClientIP#</td>
        <td class=nowrap>#ObjectType#: #OBJECT_TYPE#</td>
        <td class=nowrap>#ClientObjectId#</td> 
        <td class=nowrap>#DestObjectId#</td> 
        <td class=nowrap>#ObjectTime#</td> 
        <td class=nowrap>#uploaded#</td> 
        <td>#Command#</td>
        <td>#ResultCode#: #Result#</td>
        <td><div id="cont_#ID#" style="font-size:7pt; height:30px; max-width:600px; overflow:hidden;">#object#</div></td> 
    </tr>
    $SET_PARAMETERS OBJECT_TYPE=; ObjectType=; ClientObjectId=; ObjectTime=;
[end]


[report footer]
    </table>

    <script>
        var toggleDiv=function(div_id){
            if($("##" + div_id).height() == 30) 
                $("##" + div_id).height("");
            else
                $("##" + div_id).height(30);
        }

        --------- Отображение сортировки в заголовке таблицы ----- ??
        showSrt("#srt#","sup"); ??!desc
        showSrt("#srt#","sdown"); ??desc
    </script>
[end]




***************************** Шаблон SQL запроса ***************************
[SQL]
    select q.ID, c.name as "SRC_CLIENT", q.Src_Client_Id
        , q.Object_Type
        , case when q.Object_Type = '' then '?' else  ifNull(t.name,'? ?') end as "OBJECT_TYPE"
        , q.Command
        , q.src_object_id as "ClientObjectId"
        , q.dest_object_id as "DestObjectId"
        , date_format(q.uploaded, '%d.%m.%Y %H:%i:%S') as uploaded
        , q.Object_Time as "ObjectTime"
        , q.object
    from queue q 
        left join clients c on c.id=q.Src_Client_Id
        left join object_types t on t.id=q.Object_Type
    where 1=1
        and q.Object_Type=#f_type_id# ??f_type_id
        and q.Src_Client_Id=#f_src_id# ??f_src_id
        and q.object like '%#f_search#%' ??f_search
        and q.src_object_id='#f_src_object_id#' ??f_src_object_id
        and q.Command='#f_command#' ??f_command
        and date_format(q.uploaded, '%d.%m.%Y')=date_format(now(), '%d.%m.%Y') ??f_loaded=today
        and q.uploaded > date_sub(now(), INTERVAL #f_loaded# HOUR) ??f_loaded={{1|2|3|24}}
        and q.dest_object_id
        in (
            select dest_object_id
            from queue  
            where not dest_object_id is null
                and object_Type=#f_type_id# ??f_type_id
                and Src_Client_Id=#f_src_id# ??f_src_id
            group by dest_object_id
            having count(src_object_id)>1 
        )
    order by 
        q.dest_object_id
        #srt# #desc# ??
    limit  #srn#, #rpp# ??
[end]


