process_client.cfg

[comments]
descr=S: Посылка по http объектов из очереди одному приемнику
input=RECEIVER_ID - ID клиента-приемника
output=нет
parents=process_queue.cfg
childs=send_object.cfg
test_URL=?c=process_client&RECEIVER_ID=3
author=Куняев
[end]

[description]
<ol>
    <li>Модуль вызывается из process_queue.cfg в цикле.</li>
    <li>Селект из БД списка объектов, на которых не пришло подтверждение от клиента и кол-во попыток посылки < MAX_ATTEMPTS (секция [get object ids]).</li>
    <li>Выставляются параметры клиента (URL, параметры запроса, кодировка клиента) (секция [get receiver]).</li>
    <li>В цикле вызывается модуль send_object.cfg</li>
</ol>
[end]

[parameters]
request_name=S:Прием и рассылка объекта
service=dubna.walt.service.TableServiceSpecial
tableCfg=table_no
LOG=ON
MAX_ATTEMPTS=5
[end]


[report header]
    $GET_DATA [get object ids]
    $INCLUDE [get receiver]  ??NUM_QUEUE_IDS>0
[end]



[item]
    #QUEUE_ID#: ??print=Y
    $CALL_SERVICE c=send_object;
    #ResultCode#: #Result#<br> ??print=Y
[end]

[report footer]
    $LOG1 +++<b>process_client FINISHED</b>;<hr>
[end]

[get receiver]
    $SET_PARAMETERS tmp=encoding_#RECEIVER_ID#;
    $SET_PARAMETERS encoding=^#tmp#;
    $CALL_SERVICE c=svs/get_clients; ??!encoding
    $SET_PARAMETERS encoding=^#tmp#; ??!encoding
    $SET_PARAMETERS tmp=URL_#RECEIVER_ID#;
    $SET_PARAMETERS URL=^#tmp#;
    $SET_PARAMETERS tmp=parameters_#RECEIVER_ID#;
    $SET_PARAMETERS parameters=^#tmp#;

    $LOG0 +++ RECEIVER_ID=#RECEIVER_ID#; URL=#URL#; parameters=#parameters#; encoding=#encoding#;<br>
[end]


[get object ids]
    select count(id) as "NUM_QUEUE_IDS"
    from queue
    where receiver_id=#RECEIVER_ID# 
        and resultCode is null
        and sent_count<#MAX_ATTEMPTS#
        and object_type=45 ??
[end]

[SQL]
    select id as "QUEUE_ID"
    from queue
    where receiver_id=#RECEIVER_ID# 
        and resultCode is null
        and sent_count<#MAX_ATTEMPTS#
        and object_type=45 ??
        and sent is null ??
        (sent is null or resultCode>0) ??
    order by uploaded
[end]

