process_client3.cfg

[comments]
descr=S: Запись в базу приемника объектов из очереди
input=
output=
parents=
childs=
test_URL=
author=Куняев
[end]


[parameters]
request_name=S:Запись в базу приемника
LOG=OFF
[end]


[report]
$GET_DATA [get object ids]
$INCLUDE [get receiver]  ??QUEUE_IDS
$EXECUTE_LOOP QUEUE_ID; #QUEUE_IDS#; [send object] ??QUEUE_IDS
[end]


[send object]
$CALL_SERVICE c=copy2db/#modul#;
[end]


[get receiver]
$SET_PARAMETERS tmp=parameters_#RECEIVER_ID#;
$SET_PARAMETERS modul=^#tmp#;
$SET_PARAMETERS tmp=encoding_#RECEIVER_ID#;
$SET_PARAMETERS encoding=^#tmp#;

$LOG1 modul=#modul#; encoding=#encoding#;
[end]


[get object ids]
lock tables queue write, objects write, clients write, object_receivers write
; 
select GROUP_CONCAT(id) as "QUEUE_IDS"
from queue
where receiver_id=#RECEIVER_ID# and sent is null 
(sent is null or resultCode>0) ??
order by object_time
;
update queue set sent=now() where id in(#QUEUE_IDS#) ??QUEUE_IDS
where receiver_id=#RECEIVER_ID# and (sent is null or resultCode>0) ??
;
unlock tables
[end]

