undelete_object.cfg

[comments]
descr=S: Снятие пометки объекта на удаление
input=
output=
parents=
childs=
test_URL=?Command=UnDeleteObject&GateObjectID=199164&ClientID=3&ObjectType=6
author=Куняев
[end]


[parameters]
request_name=S:Снятие пометки на удаление
service=jinr.gateway.ServiceReceiveDoc 
tableCfg=table_no
LOG=ON
[end]

[preSQLs]
$SET_PARAMETERS ResultCode=; ERROR=; 
[end]

===== Помечаем объект в базе шлюза ===== ??
[process object]
$SET_PARAMETERS ERROR=Отсутствует параметры GateObjectID и ClientObjectID; ERR_CODE=1; ??!ClientObjectID&!GateObjectID
$SET_PARAMETERS ERROR=Отсутствует параметр ObjectType; ERR_CODE=1; ??!ObjectType
$GET_DATA [check object exists]  ??!ERROR
$SET_PARAMETERS ERROR=Объект не найден; ERR_CODE=2; ??!GW_ID
$GET_DATA [unmark object]   ??!ERROR
[end]


===== Посылаем ответ источнику ===== ??
[report]
{"ResultCode":"0", "Result":"OK" } ??!ERROR
[end]



===== Запускаем рассылку запроса подписчикам на объект ===== ??
[send object]
$GET_DATA [get receivers]
$EXECUTE_LOOP RECEIVER_ID; #RECEIVERS#; [send to client]
$SET_PARAMETERS_GLOBAL dataUpdateTime=#tm#;
[end]

[send to client]
$LOG1 ===> RECEIVER_ID=#RECEIVER_ID#;<br>
------- проверка, есть ли этот объект в очереди ----- ??
$GET_DATA [check queue]
------- добавляем или обновляем объект в очереди ----- ??
$GET_DATA [add to queue]  ??!QUEUE_ID
$GET_DATA [update in queue]  ??QUEUE_ID
------- вызов модуля посылки одному клиенту ----- ??
$CALL_SERVICE c=process_client; ??ZZZZZ
[end]

=====================================================================================
=====================================================================================
=====================================================================================

[check object exists]
select id as "GW_ID"
from objects
where src_client_id=#ClientID# 
and id=#GateObjectID#  ??GateObjectID
and id_client_#ClientID#='#ClientObjectID#' ??ClientObjectID
and ObjectType=#ObjectType# 
;
[end]

[unmark object]
update objects set is_deleted=0
, Command='#Command#'
, uploaded=now()
, ClientIP='#ClientIP#'
where id=#GW_ID#
;
[end]

=====================================================================================
=====================================================================================


[get receivers]
select concat(client_id,',') as RECEIVERS from object_receivers where object_type=#ObjectType#
[end]

[check queue]
select id as "QUEUE_ID"
from queue
where receiver_id=#RECEIVER_ID# and global_id=#GW_ID#
and object_time=STR_TO_DATE('#Time#', '%d.%m.%Y %H:%i:%S')
and Command='#Command#'
;
select id_client_#ClientID# as "src_object_id", id_client_#RECEIVER_ID# as "dest_object_id"
from objects where id=#GW_ID#
[end]


[add to queue]
insert into queue (ver, src_client_id, object_type, command
, src_object_id     ??src_object_id
, dest_object_id     ??dest_object_id
, global_id, object_time, uploaded
 , receiver_id)
values (#Ver#, #ClientID#, #ObjectType#, '#Command#'
, '#src_object_id#'  ??src_object_id
, '#dest_object_id#' ??dest_object_id
, #GW_ID#, STR_TO_DATE('#Time#', '%d.%m.%Y %H:%i:%S'), now()
 , '#RECEIVER_ID#')
;
[end]


[update in queue]
update queue set ver=#Ver#
, src_client_id=#ClientID#
, object_type=#ObjectType#
, command='#Command#'
, global_id=#GW_ID#
, uploaded=now()
, receiver_id='#RECEIVER_ID#'
, src_object_id='#src_object_id#'  ??src_object_id
, dest_object_id='#client_object_id#'  ??dest_object_id

, sent=null, result=null

where id=#QUEUE_ID#
;
[end]


