[comments]
descr=A: Форма (бланк) документа из списка типов документа

input=type_id - ID типа документа (из таблицы d_types), 
init_type_field_id - ID поля типа документа (из таблицы d_fields), на которое будет 
поставлен фокус в форме. Если значение отсутствует или не верное, фокус ставится на 
первое по порядку поле в форме.
output=HTML форма редактирования формы (бланка) документа, 
parents=admin/doctypes/doctype_form_editor.cfg
childs=
test_URL=?c=admin/doctypes/doctype_form&type_id=1
author=Яковлев, Куняев
[end]


[parameters]
request_name=A: Редактирование полей формы (бланка) документа (Тип документа)
service=dubna.walt.service.TableServiceSpecial
tableCfg=table_no
KeepLog=false
ClearLog=true

[end]


[report header]
+++++++ временно - открыто всем. Потом - проверить R и RW права пользователя +++ ??
$SET_PARAMETERS RWACC=Y; RACC=Y;
$INCLUDE [OK report header]  ??RACC

[end]

[OK report header]


<div id="result">
<small>#c#</small> ??debug=on
<input type=hidden name=type_id value='#type_id#'>

$GET_DATA [init first field] ??!init_type_field_id
$INCLUDE [init field] ??init_type_field_id

<center>


++++++++++++++++++ Шапка таблицы  +++++++++++++++++++++ ??
<table width_="80%" class_="tlist" cellpadding=3 cellspacing=0 style="background-color:whitesmoke; ">
<tr><td class="center bg_white big" colspan=2>
<b>#DOC_TYPE#</b>
</td></tr>

<tr><td class=label>Заголовок: </td>
<td class="big"><input size=50 name=title value="#TITLE#"></td></tr>

<tr><td class=label>№, Дата: </td>
<td class="big"><input size=10 name=number value="#NUMBER#">, 

<input class="fe hasDatepick" type="text"
size=10 name=doc_date value="#DOC_DATE#">
</td></tr>
#divider#

[end]


============== Вывод одного поля для редактирования ======= ??
[item]
<tr class="" >

<td class="pt
oddRow ??oddRow=1
" onClick="loadFrame('c=admin/doctypes/doctype_field_property&type_field_id=#ID#','wf2');">
#NAME#: </td>

<td class="big bg_white bottom_dotted">
$INCLUDE [input field] ??FORM_FIELD_TYPE=2
$INCLUDE [info] ??FORM_FIELD_TYPE=4
$INCLUDE [date field]  ??FORM_FIELD_TYPE=5
$INCLUDE [file field]  ??FORM_FIELD_TYPE=6
$INCLUDE [currency field] ??FORM_FIELD_TYPE=7
</td>

<td class="center  bg_white" >
<input type="button" class="butt1 pt" style="width:25;" value="&##9660;" onClick="loadFrame('c=admin/doctypes/doctype_field_operations&cop=movedn&type_field_id=#ID#','wf')"> 
</td>

<td class="center  bg_white" >
<input type="button" class="butt1 pt" style="width:25;" value="&##9650;" onClick="loadFrame('c=admin/doctypes/doctype_field_operations&cop=moveup&type_field_id=#ID#','wf')"> 
</td>


</tr>
[end]

[input field_]
<div style="border:solid 2px gray; height:25pt; width:#SIZE#*20pt;">.</div> ??TYPE=int|SIZE<64
<div style="border:solid 2px gray; height:45pt; width:400pt;">.</div> ??TYPE=varchar&SIZE>63
[end]

[input field]
<input size=#SIZE# name=#FIELD_DB_NAME# value="">  ??TYPE=int|SIZE<64
<textarea cols=60 name=#FIELD_DB_NAME# rows=2 style="width:300pt; height:30pt;"></textarea> ??TYPE=varchar&SIZE>63
[end]

[info]
$SET_PARAMETERS fn=#FIELD_DB_NAME#_id;
<input type=hidden name="#FIELD_DB_NAME#_id" size=5 value="^#fn#">
<input class="info_input" id=#FIELD_DB_NAME# name=#FIELD_DB_NAME# size=#SIZE#
	info_id="#INFO_ID#" info_view="#INFO_VIEW#" info_type="#INFO_TYPE#" 
searchFor='' ??
value=""> 
[end]

[date field]
<input class="fe hasDatepick" type="text" mand="#mand#" 
size=10 name=#FIELD_DB_NAME#  value="">
[end]

[file field]
<input type = "file" name = "file-select_XX" id = "file-select_XX"/> 
<input id = "upload-button_XX" type="button" class="butt1 pt" style="width:120;" value="Загрузить">  
[end]


[currency field]
<input size=#SIZE# name=#FIELD_DB_NAME# value="" class="right">  
<select name=#FIELD_DB_NAME#_curr><option value='руб.'
selected ??CURR=руб.
>руб.</option><option value='USD'
selected ??CURR=USD
>USD</option><option value='EUR'
selected ??CURR=EUR
>EUR</option><option value='дуб.'
selected ??CURR=дуб.
>дуб.</option></select>
[end]

[get currency]
select #FIELD_DB_NAME#_curr as "CURR" from #TABLE_NAME#
where id=#DOC_DATA_RECORD_ID#
[end]





[init field]
$GET_DATA [try init field]
$GET_DATA [init first field] ??COUNT_FIELD_ID<1
[end]


[report footer]
#divider#

++++++++++++ Конец формы редактирования записи ++++++++++ ??
<tr><td class="center  bg_white" colspan=2 style="padding:15px 0 15px 0;">
</td></tr></table>

</div>

<script>
+++++++++ Возврат результатов в вызывавшую страницу ++++ ??
window.parent.getResult("doctype_form_panel", document.getElementById("result"));
window.parent.loadFrame('c=admin/doctypes/doctype_field_property&type_field_id=#INITIAL_TYPE_FIELD_ID#','wf2');
</script>
[end]


***************************** Шаблоны SQL запросов ***************************
[try init field]
select dtf.ID as INITIAL_TYPE_FIELD_ID
, count(dtf.ID) as COUNT_FIELD_ID
from d_fields dtf
where dtf.Id = #init_type_field_id#
and dtf.type_id = #type_id#
;
[end]

[init first field]
select dtf.ID as INITIAL_TYPE_FIELD_ID 
from d_fields dtf
where dtf.type_id = #type_id#
group by dtf.nr
limit 1
;
[end]


[preSQLs]
select dtp.ID
, dtp.name as DOC_TYPES_NAME 
, dtp.IS_ACTIVE
, dgr.GROUP_NAME
, ifnull(DATE_FORMAT(dtp.start_date,'#dateFormat#'),'') as START_DATE
, u.FIO as CREATOR
, uu.FIO as MODIFIER 
, ifnull(DATE_FORMAT(dtp.created,'#dateTimeFormat#'),'') as CREATED
, ifnull(DATE_FORMAT(dtp.changed,'#dateTimeFormat#'),'') as MODIFIED
from d_types dtp
left join doc_groups dgr on dtp.group_id = dgr.Id
left join #table_users_full# u on u.Id = dtp.creator_id
left join #table_users_full# uu on uu.Id = dtp.modifier_id
where dtp.Id = #type_id#
;
[end]


[SQL]
select /* doc data fields description */
 dtf.ID
, dtf.TYPE_ID
, dtf.FIELD_CATEGORY
, dtf.NR
, dtf.NAME
, dtf.TYPE
, dtf.FORM_FIELD_TYPE
, dtf.SIZE
, dtf.NULLS
, dtf.INFO_ID
, dtf.info_view_nr as INFO_VIEW
, iv.type as INFO_TYPE
, dtf.FIELD_DB_NAME
, dtf.IS_VISIBLE
, dtf.X
, dtf.Y
, ifnull(DATE_FORMAT(dtf.created,'#dateTimeFormat#'),'') as CREATED
, ifnull(DATE_FORMAT(dtf.modified,'#dateTimeFormat#'),'') as MODIFIED
, dtf.creator_id
, dtf.modifier_id
, u.FIO as CREATOR
, uu.FIO as MODIFIER
, iv.type as INFO_TYPE
from d_fields dtf
left join i_infos_views iv on iv.info_id=dtf.INFO_ID and iv.view=dtf.info_view_nr
left join #table_users_full# u on u.Id = dtf.creator_id
left join #table_users_full# uu on uu.Id = dtf.modifier_id
where dtf.type_id = #type_id#
order by nr
[end]

