[comments]
descr=U: Корневой модуль. 
output=Загружает скрипты, CSS, форму, выводит закладки, загружает закладку по умолчанию
parents=edo.properties
childs=dat/common.dat,admin/admin.cfg
author=Фуряева М.Т.
[end]


[parameters]
title=HR LHEP
request_name=User:test
LOG=ON
[end]


[report]
$SET_PARAMETERS_SESSION USER_ID=2309;  logged=y; ??!UserValidatorClassName=jinr.hrlhep.UserValidator
$SET_PARAMETERS_SESSION  logged=y;  ??USER_ID
$SET_PARAMETERS_SESSION  logged=;  ??!USER_ID
$LOG ====== main.cfg; <br>
$INCLUDE main.cfg[top]
$INCLUDE main.cfg[tabs] ??USER_ID
$INCLUDE main.cfg[bottom]
[end]
[login-logout link]
<a href="http://login.jinr.ru/cgi-bin/authorize?client_id=#OAUTH_APPLICATION_ID#&backurl=#ServerPath#/hrlhep/hrlhep" target="_top" title="Войти с помощью JINR Single Sign-On">Войти</a> ??!USER_ID
#USER_NAME# <a href="?doLogout=now" target="_top">Выйти</a>                                                                                                                              ??USER_ID
[end]

[top]
    $INCLUDE dat/common.dat[head]
    <style>
        body {
            background:url(#imgPath#wait.gif); ??
            background-color: ##F5F5F5;
        }
    </style>
    </head>

    <body id="body">
    $INCLUDE dat/common.dat[scripts]

    $INCLUDE dat/common.dat[form]
    <center>
    <table border=0 cellspacing=3 cellpadding=3 width=94% >
        <tr><td valign="top" width=10><br>
            <img src="#imgPath#LHEP.jpg" style="width:100px; height:60px;"> 
            </td><td valign="top" width=350><br><h3>Кадрово - финансовая система лаборатории физики высоких энергий ОИЯИ (HR LHEP)</h3>
            </td><td></td>
            <td class="big" width="400" align="right">

$INCLUDE [login-logout link]                                ??UserValidatorClassName=jinr.hrlhep.UserValidator


            <!--table border=0><tr><td class="label nowrap" nowrap style="background-color:#F5F5F5">Логин: <input type="text" size=10 name="login" value=""></td></tr>
            <tr><td class="label nowrap" nowrap style="background-color:#F5F5F5">Пароль: <input type="text" size=10 name="password" value=""></td>
            <td><input type="submit" style="width:80; height:30" value="Вход"></td></tr>
        </table-->
</td>
        </tr>
    </table>
    </center>
[end]


[tabs]
============================= ЗАКЛАДКИ ================================= ??
<div id="tabs" style="display:none; width:100%; margin: 0 auto; margin-top:20px;">

  <ul id="ltabs">
    <li id="t_personal" class="tabGreen"><a href="##dt_personal"><span>Персонал</span></a></li>
    <li id="t_salary" class="tabBlue"><a href="##dt_salary"><span>Заработная плата</span></a></li>
    <li id="t_premii" class="tabGreen"><a href="##dt_premii"><span>Премии</span></a></li>    
    <li id="t_fte" class="tabBlue"><a href="##dt_fte"><span>FTE</span></a></li>     
    <li id="t_povysh" class="tabGreen"><a href="##dt_povysh"><span>Повышение оклада</span></a></li>
    <li id="t_reports" class="tabRed"><a href="##dt_reports"><span>Сводные отчеты</span></a></li> 
    <li id="t_stavki" class="tabRed"><a href="##dt_stavki"><span>Ставки</span></a></li>
  </ul>
	<div style="clear:both;"></div>

====================== Контейнеры содержимого закладок ============================ ??
	<div id="dt_personal"><div id="c_personal" class="cont topGreen" >...</div></div>
        <div id="dt_salary"><div id="c_salary" class="cont topBlue" >...</div></div>	
        <div id="dt_premii"><div id="c_premii" class="cont topGreen" >...</div></div>
        <div id="dt_fte"><div id="c_fte" class="cont topBlue" >...</div></div>	
        <div id="dt_povysh"><div id="c_povysh" class="cont topGreen" >...</div></div>        
        <div id="dt_reports"><div id="c_reports" class="cont topRed">...</div></div> 
        <div id="dt_stavki"><div id="c_stavki" class="cont topRed">...</div></div>
</div>
[end]


[bottom]

----------------- Вспомогательное - сообщение о загрузке --------------- ??
<div id="loadingMsg" class="hid">
    <div id="loadingCont" style="margin:10px; margin-left:150px; 
        background-color_:white; width:300px; border_:solid 1px ##808080;">
        <center><h4>Загрузка</h4><br><img src="#imgPath#wait.gif" width="48" height="48" border="0"></center>
    </div>
</div>

<input type=submit value="S" obClick="doSubmit(); return false;" style="display:none;">
</form>
$INCLUDE main.cfg[logged bottom] ??logged
</body></html>
[end]


[logged bottom]
$INCLUDE dat/common.dat[popup divs]
$SET_PARAMETERS showFrames=on;
    <iframe width=800 
    height=0 frameborder="0" ??!showFrames=on
    height=200 scrolling="auto" frameborder="1" style="border:dotted 1px ##a0e0a0;" ??showFrames=on
    name="wf" id="wf"></iframe>  

$INCLUDE dat/debugTools.dat[debug links]

======================== STARTUP SCRIPT =========================================== ??

$INCLUDE free/main_js_noDB.cfg[startup script] 

[end]

