[comments]
descr=S: Получить данные юзера по его ID
input=requested_user_id - ID пользователя, [role_id_only] - только указанная роль, [refresh=y] - брать обновлённые данные из vieq #table_users_full#_v (медленнее)
output=запросы в базу и установка параметров: u_F, u_I, u_O, u_FIO, u_IOF, u_email, u_phone, u_posts, u_sex, u_login, u_is_deleted, u_roles
parents=
childs=
testURL=?c=svs/get_user_info&requested_user_id=2309;
call=$CALL_SERVICE c=svs/get_user_info; requested_user_id=2309
author=Куняев
[end]

[parameters]
request_name=A:информация о пользователе
service=dubna.walt.service.TableServiceSpecial
tableCfg=table_no
[end]


[report header]
$SET_PARAMETERS srn_sav=#srn#; srn=0;
$GET_DATA [get user info]
$SET_PARAMETERS u_roles=;
[end]

[item]
$SET_PARAMETERS u_roles=#u_roles# / #ROLE_NAME# (#TARGET#) ??u_roles&TARGET
$SET_PARAMETERS u_roles=#u_roles# / #ROLE_NAME#  ??u_roles&!TARGET
$SET_PARAMETERS u_roles=#ROLE_NAME# (#TARGET#) ??!u_roles&TARGET
$SET_PARAMETERS u_roles=#ROLE_NAME# ??!u_roles&!TARGET
[end]

[report footer]
$SET_PARAMETERS srn=#srn_sav#;
[end]


[get user info]
select F as u_F, I as u_I, O as u_O, FIO as u_FIO
, concat(LEFT(I,1),'.',LEFT(O,1),'.',F) as "u_IOF"
, email as u_email, posts as u_posts
, sex as u_sex 
, login as u_login, phone as u_phone
, is_deleted as u_is_deleted
from 
#table_users_full# ??!refresh=y
#table_users_full#_v ??refresh=y
where id=#requested_user_id#;
[end]

[SQL]
select /* get user roles */ r.NAME as ROLE_NAME
, concat(t.type, ': ', cast(ur.target_code as char), ' / ', cast(ur.priority as char)) as TARGET
from a_user_role ur 
left join a_roles r on r.id=ur.role_id
left join a_target_types t on t.id=ur.target_type_id
where
ur.user_id=#requested_user_id#
and ur.role_id=#role_id_only# ??role_id_only
and ur.active=1
[end]

