[comments]
descr=Модуль вывода данных плоского справочника и выбора пункта. Выводит форму поиска и вызывает модуль вывода таблицы.
input=fieldName - имя поля для результата, info_id - ID стравочника; view - № представления. По умолчанию - 1 (все поля по порядку); searchFor - строка поиска.
output=Pup-up окно с данными справочника с фильрами по колонкам представления и с выбором записи
parents=svs/info_show
childs=svs/info_show_plain_data
testURL=?c=svs/showInfoTooltip&info_id=11&view=1&recordId=
author=Куняев
[end]

[parameters]
request_name=U:обращение к справочнику
service=jinr.dms.ServiceShowInfoRecord 
KeepLog=true
ClearLog=false
CRITERIA=where id=#recordId#
SYS_FIELDS=id
[end]


[report]
$SET_PARAMETERS srn=0; ??!srn
<div id="result">
<small>c=svs/showInfoTooltip</small> ??debug=on
<center>
#info_id#&view=#view#&recordId=#recordId#;
</div>
+++++++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("d_tooltip", document.getElementById("result")); ??!stanalone=yes
</script>

[end]

[report header]
<div id="result_table">
<small>c=svs/showInfoTooltip</small> ??debug=on
<center>
#info_id#&view=#view#&recordId=#recordId#; ??
============ Начало таблицы =============== ??
<table class=tooltip border=0 cellpadding=0 cellspacing=0>
<tr>#TableColsHeaders#</tr> ??
[end]

[item]
#record#
[end]

[report footer]
</table>
</center>
<b>ОШИБКА:</b> #ERROR# ??ERROR
</div>

+++++++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script>
window.parent.getResult("d_tooltip", document.getElementById("result_table")); ??!stanalone=yes
</script>

[end]

[preSQLs]
$INCLUDE admin/infos/info_data.cfg[getInfoSQL]
;
$INCLUDE svs/info_show_plain_data.cfg[preSQLs]
[end]
==============================================================
==============================================================
==============================================================
