[parameters]
service=jinr.pin.ServiceCopyRecordset 
KeepLog=true
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
numBatch=500
[end]

!!!!! Роганов - 131259 <=> 132159 !!!!!!

PROCESSING:
1. out [report header]
2. parse [fields] => srcFields, destFields, qList
3. doCopy: srcSQL => InsertSQL
4. out [report footer]


[fields]
Фамилия=name
Имя=name1
Отчество=name2
КОД_ФИЗЛ=kodfizlica
ТАБНОМ=tabnom
УСЛ_РАБОТЫ=usl_rab_cod
C1=usl_rab
ДАТА_УСЛ_Р=usl_rab_dat
ИК=ik_cod
C2=ik
ДОЛЖНОСТЬ=dolzhnost_cod
C3=dolzhnost
ДАТА_Д=data_d
ТИП_ДЕЯТ=tip_dejat_cod
C4=tip_dejat
ПОДРАЗДЕЛЕНИЕ1С=div_1C_cod
ОТДЕЛ=otdel_id
C7=div_name
C8=otdel_name
ДАТА_П=div_dat
НАЧАЛО=nachalo
КОНЕЦ=konec
ПОЛ=pol
ДАТА_РОЖД=data_rozhd
ГРАЖДАНСТВО=grazhdanstvo_cod
C11=grazhdanstvo
ОБРАЗОВАНИЕ=obrazovanie_cod
C12=obrazovanie
ДАТА_ОБ=data_ob
СПЕЦ=spec_cod
C13=spec
УЧ_ЗАВ=uch_zav
УЧ_СТЕПЕНЬ=uch_stepen_cod
C14=uch_stepen
ОТРАСЛЬ_Н=otrasl_n_cod
C15=otrasl_n
ДАТА_ЗАЩ=data_zash
ДАТА_ДОК=data_doc
УЧ_ЗВАНИЕ=uch_zvanie_cod
C16=uch_zvanie
ДАТА_УЧЗВ=data_uch_zv
УЗКАЯ_СПЕЦ=uzkaja_spec_cod
C17=uzkaja_spec
ПРИЗНАК_УВ=priznak_uv
ДАТА_УВ=data_uv
ПРИЧИНА=prichina_uv
C20=prichina_uv_des
ТИП_РАБ=tip_rab_cod
Штат=tip_rab
СТР_ОТПРАВИТЕЛЬ=strana_cod
C21=strana
ПФР=pens_nomer
ПЕНСИОНЕР=pensioner_cod 
C19=pensioner
DATE_UPD=updated_sql_dat 
[end]


ПОДРАЗДЕЛЕНИЕ, C7, C8, ГРСЕК, C9, СТ_НОМ, МЕСТО_СТЕП, ЗВ_НОМ, ЗВ_КЕМ, 
ОКЛАД, ДАТА_ОР, РАЗРЯД, УТ, C5, ДАТА_УТ_Н, ТАРИФ, C6, ПРОД_РД, ГРАФИК, ДАТА_ПРД, 
ИНН=inn
DATE_POLN, СЕМЬЯ, C18, АДРЕС, ТЕЛЕФОН, ДЕТИ, 
ПАСП_С, ПАСП_Н, ПАСП_ДАТА, ПАСП_КЕМ, 
УЧ_ВОЙН, СУДИМ, МЕСТО_ОК_АСП, ГОД_ОК_АСПИРАН, 


CAST(КодСотрудника AS int)=tabnom
CAST(ВидОбразованияКод AS int)=obrazovanie_cod


======================= STANDARD PART =================
[report header]
$SET_PARAMETERS_GLOBAL log=true;
$SET_PARAMETERS destCriteria=;
$SET_PARAMETERS srcCriteria=ПРИЗНАК_УВ=2;
$SET_PARAMETERS src_table=[dbo].[PPU_WORKS_FIO]; dest_table=PPU_WORKS_FIO; 
$INCLUDE c2/copyData.cfg[report header]
$INCLUDE c2/copyData.cfg[details] ??
[end]


[report footer]
$INCLUDE c2/copyData.cfg[report footer]
<p>
Простановка PIN ID... 
$GET_DATA [setPinID]
#ERROR#
OK ??!ERROR
[end]

[setPinID]
commit;
update  PPU_WORKS_FIO o, p_persons p
set o.pin_id=p.id 
where o.kodfizlica=p.kodfizlica 
and o.pin_id is null
;
commit;

[end]




update PPU_WORKS_FIO o
set o.pin_id=(select id from p_persons_post pp where pp.tabnom=o.tabnom)

[srcSQL]
$USE_DB ASU
select 	#srcFields# from #src_table#
where #srcCriteria# ??srcCriteria
[end]

[start copy]
$INCLUDE c2/copyData.cfg[start copy]
[end]


