[parameters]
service=dubna.walt.service.TableServiceSpecial
KeepLog=false
NOT_DEFINED=6874
debug=ons
[end]

[report header]
$SET_PARAMETERS_GLOBAL log=true  ?? 
$SET_PARAMETERS_GLOBAL log=false
---==================================================================---
<br><b>Загрузка должностей</b> (loadPosts)<br>
<small>
[end]


[item]
$GET_DATA [getOtdel] ??otdel_id
<hr>#currentRow#: НЕТ ОТДЕЛА #div_1C_cod#: #name# #name1# #name2#/ PersonID=#PersonID#, kodfizlica=#kodfizlica#;<br> ??!otdel_id
<br>#currentRow#: #RN#:  #PersonID# / #kodfizlica#: #name# #name1# #name2#/ #otdel_id# : #NEW_DIV_ID#; ??
$SET_PARAMETERS otdel_pin_id=#NOT_DEFINED#; otdel_id=0; ??!otdel_pin_id&!NEW_DIV_ID
$GET_DATA [insert post]  
#currentRow# ??RN=0
<hr>#currentRow#: #RN#:  #PersonID# / #kodfizlica#: #name# #name1# #name2#/ #otdel_id# ??ERROR
#ERROR#<hr> ??ERROR
$GET_DATA [commit]  ??RN=0
$PRINT #currentRow#  ??RN=0
$SET_PARAMETERS ERROR=; ??ERROR
$SET_PARAMETERS otdel_pin_id=; otdel_id=; NEW_DIV_ID=;
$INCLUDE [setLog] 
[end]



[preSQLs]
$USE_DB default
delete from p_persons_post;
select now() as "DATETIME";
[end]

[SQL]
select kodfizlica, pin_id, name, name1, name2
, tabnom, usl_rab_cod, usl_rab_dat, ik_cod, dolzhnost_cod, data_d, tip_dejat_cod
, div_1C_cod, otdel_id, div_dat, nachalo, konec
, priznak_uv, data_uv, prichina_uv, prichina_uv_des
, tip_rab_cod, tip_rab
from PPU_WORKS_FIO 
where priznak_uv=2
and div_1C_cod in(602042,602022) ??
and name like 'Баш%' ??
limit 300 ??
[end]

[getOtdel]
select id as "otdel_pin_id" from t_tree where code=#otdel_id#
;
select max(id)+1 as "NEW_DIV_ID" from t_tree   ??!otdel_id
;
[end]

[insert post]
try: insert into p_persons_post
 (id, tabnom
 , otdel
 , otdel_id
 , nachalo  	??nachalo
 , konec  		??konec
 , usl_rab  	??usl_rab_cod
 , dolzhnost_1C  ??dolzhnost_cod
 , data_d  		??data_d
 , tip_dejat  ??tip_dejat_cod
 , creator_id, created, modified
 )
values (#pin_id#,#tabnom#
	, #otdel_pin_id#   		??otdel_pin_id
	, 0#NEW_DIV_ID# 	??!otdel_pin_id
	, #otdel_id#
 , '#nachalo#'  		??nachalo
 , '#konec#'  			??konec
 , #usl_rab_cod#  	??usl_rab_cod
 , #dolzhnost_cod#  ??dolzhnost_cod
 , '#data_d#'  			??data_d
 , #tip_dejat_cod#  ??tip_dejat_cod
, 0 , '#DATETIME#', '#DATETIME#'
)
;
select #currentRow# % 100 as "RN"
[end]


[report footer]
</small>
#ERROR#<hr> 
$SET_PARAMETERS_GLOBAL log=true
Проставляем коды...
$GET_DATA c2/loadPosts.cfg[setPostsCodes]
ОК ??!ERROR
#ERROR#
<hr> 
[end]

[setPostsCodes]
update p_persons_post p, rb_08 r
set p.dolzhnost=r.berthcode
where r.id=p.dolzhnost_1C;
commit;
[end]


[addOtdel]
$SET_PARAMETERS NEW_PARENT_ID=1001;
$GET_DATA [getNewOtdel]
$SET_PARAMETERS NEW_DIV_PARENT=0; ??!NEW_DIV_PARENT
;
$GET_DATA [addNewOtdel]
<br></small><b>Новый отдел:</b>
#otdel# / #NEW_DIV_NAME# / #NEW_DIVISION# / #NEW_DIV_PARENT# (#NEW_PARENT_ID#): #NEW_DIV_PARENT_NAME#)
</small><br>
[end]


[getNewOtdel]
$USE_DB ASU
select 
 DIV as "NEW_DIV_PARENT"
 ,DIVNAME	as "NEW_DIV_NAME"
 ,DIVISION as "NEW_DIVISION"
from dbo.DIVISIONS
where 
 DIVCODE=#otdel#
;
select DIVISION as "NEW_DIV_PARENT_NAME" from dbo.DIVISIONS where  DIVCODE=#NEW_DIV_PARENT# ??NEW_DIV_PARENT
;
[end]


[addNewOtdel]
$USE_DB default
select id as "NEW_PARENT_ID" from t_tree where code=#NEW_DIV_PARENT#;
;
insert into t_tree (id,pid,code,numPersons, name, description, position, creator_id, created, status)
values(#NEW_DIV_ID#,#NEW_PARENT_ID#,#otdel#,1,'#NEW_DIV_NAME#','#NEW_DIVISION# (#otdel#) </b><br>/ #NEW_DIV_PARENT# (#NEW_PARENT_ID#): #NEW_DIV_PARENT_NAME#',99,0,now(),'A')
;
[end]



[commit]
commit;
[end]


[setLog]
$SET_PARAMETERS_GLOBAL log=false; ??currentRow=3
$SET_PARAMETERS_GLOBAL log=true; ??currentRow=1000
$SET_PARAMETERS_GLOBAL log=false; ??currentRow=1001
$SET_PARAMETERS_GLOBAL log=true; ??currentRow=1500
$SET_PARAMETERS_GLOBAL log=false; ??currentRow=1502
$SET_PARAMETERS_GLOBAL log=true; ??currentRow=2000
$SET_PARAMETERS_GLOBAL log=false; ??currentRow=2001
$SET_PARAMETERS_GLOBAL log=true; ??currentRow=3000
$SET_PARAMETERS_GLOBAL log=false; ??currentRow=3003
$SET_PARAMETERS_GLOBAL log=true; ??currentRow=4000
$SET_PARAMETERS_GLOBAL log=false; ??currentRow=4003
$SET_PARAMETERS_GLOBAL log=true; ??currentRow=5000
$SET_PARAMETERS_GLOBAL log=false; ??currentRow=5003
$SET_PARAMETERS_GLOBAL log=true; ??
[end]
