[parameters]
service=jinr.pin.ServiceCopyRecordset 
service=jinr.pin.ServiceImportData ??
KeepLog=true
numBatch=100
InsertSQL=insert into #dest_table# (#destFields#) values (#qList#)
debug=ons
[end]

[setCriteria]
$SET_PARAMETERS destCriteria=; srcCriteria=;
$SET_PARAMETERS SRC_DB=SQL; src_table=[VBorisov].[Topic_Works]; dest_table=topic_works; 
[end]

[fields]
id=id
AccN=AccN
Topic=Topic
cast(Topic as int)=iTopic
Project=Project
Per_Coll=Per_Coll
type_dell=type_dell
[end]


[report header]
$SET_PARAMETERS_GLOBAL log=true
$INCLUDE [setCriteria]
==================================================================<br>
$INCLUDE c2/copyData.cfg[report header]
<br>load_Topic_Works: #src_table# => #dest_table#<br>
<small>
[end]


[report footer]
$INCLUDE c2/copyData.cfg[report footer]
#ERROR#
$SET_PARAMETERS ERROR=;
<p>
[end]

[srcSQL]
$USE_DB #SRC_DB#
select 	#srcFields# from #src_table# 
where #srcCriteria# ??srcCriteria
order by CODE1 ??
[end]

[start copy]
$LOG <br>++++++++++++ Start COPY +++++++++++++++++++<br>
$INCLUDE c2/copyData.cfg[start copy]
[end]

ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ

[report header]
$SET_PARAMETERS_GLOBAL log=false ??
$INCLUDE [setCriteria]

==================================================================
<br>импорт таблицы <b>Topic_Works</b> из MS SQL (admnt.jinr.ru)<br>
<small>
[end]

[preSQLs]
delete from topic_works 
[end]

[SQL]
$USE_DB #SRC_DB#
select id, AccN, Topic, Project, Per_Coll, type_dell
from #src_table#
[end]


[report footer]
</small>
#ERROR#
[end]

[start loop]
---------------------------
$USE_DB default
[end]


[record]
#id#, #AccN#, '#Topic#', #iTopic#, '#Project#', #Per_Coll#, #type_dell#<br> ??debug=on
$GET_DATA [insert record]
[end]

[insert record]
insert into #dest_table# (id, AccN, Topic, iTopic, Project, Per_Coll, type_dell)
values (#id#, #AccN#, '#Topic#', #Topic#, '#Project#', #Per_Coll#, '#type_dell#')
[end]


[error]
<br>
[end]

