[parameters]
service=jinr.pin.ServiceImportData 
KeepLog=true
numBatch=100
debug=ons
[end]


[setCriteria]
$SET_PARAMETERS destCriteria=; srcCriteria=;
$SET_PARAMETERS SRC_DB=SQL; src_table=[VBorisov].[Topic_P]; dest_table=i_topic_p; 
[end]

[report header]
$SET_PARAMETERS_GLOBAL log=false ??
$INCLUDE [setCriteria]
==================================================================
<br>импорт таблицы <b>Topic_P</b> из MS SQL (admnt.jinr.ru)<br>
<small>
[end]

[preSQLs]
delete from i_topic_p 
[end]

[SQL]
$USE_DB #SRC_DB#
select id, PCode, PName, PNameF, TCode
from #src_table#
[end]


[report footer]
</small>
#ERROR#
[end]

[start loop]
---------------------------
$USE_DB default
[end]


[record]
#id#, #PCode#, #PName#, #PNameF#, #TCode#<br> ??debug=on
$GET_DATA [insert record]
[end]

[insert record]
insert into i_topic_p (id, PCode, PName, PNameF, TCode)
values (#id#, '#PCode#', '#PName#', '#PNameF#', '#TCode#')
[end]


[error]
<br>
[end]

