[parameters]
service=dubna.walt.service.TableServiceSpecial
KeepLog=false
debug=on ??
[end]

[report header]
$SET_PARAMETERS_GLOBAL log=true 
==================================================================
<br> <b>импорт новых сотрудников...</b><br>
<small> ??
[end]


[item]
$GET_DATA [insert person]
<br>#PersonID# / #kodfizlica#: #name# #name1# #name2# #data_rozhd# #pens_nomer#'
#ERROR#<hr> ??ERROR
$SET_PARAMETERS ERROR=; ??ERROR
[end]


[insert person]
select max(id)+1 as "PersonID" from p_persons
;
try: insert into p_persons (Id, kodfizlica, name, name1, name2, pens_nomer	
, creator_id, created, modified
, pol						??pol
, data_rozhd  	??data_rozhd
, nacionalnost  ??strana_cod
, grazhdanstvo  ??grazhdanstvo_cod
, obrazovanie  	??obrazovanie_cod
, data_ob  			??data_ob
, spec  				??spec_cod
, uch_stepen  	??uch_stepen_cod
, otrasl_n  		??otrasl_n_cod
, data_zash  		??data_zash
, data_doc  		??data_doc
, uch_zvanie  	??uch_zvanie_cod
, data_uch_zv  	??data_uch_zv
, uzkaja_spec  	??uzkaja_spec_cod
, pensioner  		??pensioner_cod
)
values (#PersonID#, #kodfizlica#, '#name#','#name1#','#name2#','#pens_nomer#' 
, 0 ,  '#DATETIME#', '#DATETIME#'
,#pol#					??pol
,'#data_rozhd#' ??data_rozhd
,#strana_cod# 	??strana_cod
,#grazhdanstvo_cod# ??grazhdanstvo_cod
,#obrazovanie_cod# 	??obrazovanie_cod
,'#data_ob#' 		??data_ob

,#spec_cod# 				??spec_cod
,#uch_stepen_cod#  	??uch_stepen_cod
,#otrasl_n_cod#  		??otrasl_n_cod
,'#data_zash#'  		??data_zash
,'#data_doc#'  			??data_doc
,#uch_zvanie_cod#  	??uch_zvanie_cod
,'#data_uch_zv#'		??data_uch_zv
,#uzkaja_spec_cod#  ??uzkaja_spec_cod
,#pensioner_cod#  	??pensioner_cod
)
;
update  PPU_WORKS_FIO o set o.pin_id=#PersonID#
where kodfizlica=#kodfizlica#
;
commit;
[end]



[preSQLs]
$USE_DB
select now() as "DATETIME"
[end]

[SQL]
select kodfizlica, name, name1, name2, pens_nomer
, pol, data_rozhd, grazhdanstvo_cod, obrazovanie_cod, data_ob, spec_cod, uch_zav
, uch_stepen_cod, otrasl_n_cod, data_zash, data_doc, uch_zvanie_cod, data_uch_zv, uzkaja_spec_cod
, priznak_uv, data_uv, prichina_uv, prichina_uv_des ??
, strana_cod, pensioner_cod
from PPU_WORKS_FIO 
where pin_id is null
order by name, name1, name2
[end]

[report footer]
$SET_PARAMETERS ERROR=;
<hr>
[end]


Ставим код Ф.Л... ??
$GET_DATA [setPinID] ??
OK ??!ERROR ??
#ERROR# ??

[ZZZsetPinID]
update  PPU_WORKS_FIO o set o.pin_id=
(select id from p_persons p where p.kodfizlica=o.kodfizlica)
where o.pin_id is null;
commit;
[end]
