[parameters]
KeepLog=truef
debug=on ??
[end]

[report]
$EXECUTE_LOOP folder_id; #FOLDERS#; [calcFolder]
[end]

[preSQLs]
select concat(',',id) as "FOLDERS"
from t_tree
where pid=1001; ??
[end]

[calcFolder]
folder_id=#folder_id#
$GET_DATA [getNumPersons]
NUM_DIRECT=#NUM_DIRECT#;  ??
№=#NUM_ALL#; SUBFOLDERS:#SUBFOLDERS#<br>
====<br>
[end]

[getNumPersons]
select count(*) as "NUM_DIRECT" from p_persons_post where otdel=#folder_id#; ??
select getSubfolders(#folder_id#) as "SUBFOLDERS";
select count(*) as "NUM_ALL" from p_persons_post 
where otdel in (#SUBFOLDERS#) 
 and usl_rab not in (356,357) 
;
update t_tree set numPersons=0#NUM_ALL# where id=#folder_id#;
update p_persons_post set konec=null where konec<'1900-01-01'
[end]

