[parameters]
service=dubna.walt.service.TableServiceSimple  ??FNAME|NAME|CODE_FL|TAB_NOM|PIN_ID|div_1C
title=Кадры-PPU_WORKS_FIO
KeepLog=false
numBatch=100
debug=on ??
[end]

[report]
$INCLUDE [report header]
$INCLUDE [report footer]
[end]

[report header]
$INCLUDE common.dat[head]
</head>
<body class=persInfo_ style="margin:10">
$INCLUDE common.dat[form]
$SET_PARAMETERS FNAME=; NAME=; ??CODE_FL|TAB_NOM|PIN_ID
$SET_PARAMETERS_GLOBAL log=true;
<center>
<table border=0 style="border:solid 1px gray; background-color:whitesmoke;">
<tr><th colspan=2> Кадровая база:</th></tr>

<tr><td>Фамилия:</td><td><input name=FNAME value="#FNAME#"></td></tr>
<tr><td>Имя:</td><td><input name=NAME value="#NAME#"></td></tr>
<tr><td>Отчество:</td><td><input name=NAME2 value="#NAME2#"></td></tr>
<tr><td>Код физ.л:</td><td><input name=CODE_FL value="#CODE_FL#"></td></tr>
<tr><td>Таб.№:</td><td><input name=TAB_NOM value="#TAB_NOM#"></td></tr>
<tr><td>PIN ID:</td><td><input name=PIN_ID value="#PIN_ID#"></td></tr>
<tr><td>div 1C:</td><td><input name=div_1C value="#div_1C#"></td></tr>
<tr><td></td><td><input type=checkbox name=show_all onClick="document.theForm.submit()"
checked ??show_all
>показать все поля</td></tr>
<tr><td></td><td><input type=submit value="Выполнить">
</tr>
</table>
[end]

[preSQLs]
[end]


[SQL]
select kodfizlica as "kod FL"
, pin_id, tabnom, name, name1, name2
, pens_nomer   ??show_all
, data_rozhd
, concat(usl_rab_cod, ':',usl_rab, '<br>', ifnull(usl_rab_dat,'')) as "usl_rab"

, concat(dolzhnost_cod, ':',dolzhnost, '<br>', ifnull(data_d,'')) as "dolzhnost"
, concat(tip_dejat_cod, ':',tip_dejat) as "tip_dejat"

, div_name as "div"
, concat(otdel_id, ':',otdel_name) as "otdel_name"
, div_1C_cod as "div_1C"
, div_dat  ??show_all

, concat(ifnull(nachalo,'-'), '<br>', ifnull(konec,'-')) as "nachalo-konec"
, concat(obrazovanie_cod, ':',obrazovanie, '<br>', ifnull(data_ob,'')) as "obrazovanie"
, concat(spec_cod, ':',spec) as "spec"  ??show_all
, uch_zav  ??show_all

, concat(uch_stepen_cod, ':',uch_stepen 
, '<br>', ifnull(data_zash,''), '<br>', ifnull(data_doc,'')  ??show_all
) as "uch_stepen"
, concat(otrasl_n_cod, ':',otrasl_n) as "otrasl_n"  ??show_all

, concat(uch_zvanie_cod, ':',uch_zvanie, '<br>', ifnull(data_uch_zv,'')) as "uch_zvanie"  ??show_all
, concat(uzkaja_spec_cod, ':',uzkaja_spec) as "uzkaja_spec"  ??show_all

, concat(tip_rab_cod, ':',tip_rab) as "tip_rab"
, concat(grazhdanstvo_cod, ':',grazhdanstvo) as "grazhdanstvo"  ??show_all
, concat(strana_cod, ':',strana) as "strana"   ??show_all
, concat(pensioner_cod, ':',pensioner) as "pensioner"   ??show_all

, concat(ik_cod, ':',ik) as "ik"  ??show_all
, pol ??show_all
, concat(priznak_uv, ':',prichina_uv,'<br>',prichina_uv_des,'<br>', ifnull(data_uv,'-')) as "prichina_uv"   ??show_all

 from PPU_WORKS_FIO
 
where 1=1
 and priznak_uv<>1 ??!show_all
 and name like '#FNAME#%' ??FNAME&!CODE_FL&!TAB_NOM&!PIN_ID
 and name1 like '#NAME#%' ??NAME&!CODE_FL&!TAB_NOM&!PIN_ID
 and name2 like '#NAME2#%' ??NAME2&!CODE_FL&!TAB_NOM&!PIN_ID
 and kodfizlica=#CODE_FL# ??CODE_FL
 and tabnom=#TAB_NOM# ??TAB_NOM
 and pin_id=#PIN_ID# ??PIN_ID
 and div_1C_cod=#div_1C# ??div_1C
order by name, name1, name2
[end]

[report footer]
</small>
#ERROR#
[end]
