[parameters]
service=dubna.walt.service.TableServiceSimple  ??FNAME|NAME|PIN_ID|COD_FL
title=p_persons
KeepLog=false
numBatch=100
debug=on ??
[end]

[report]
$INCLUDE [report header]
$INCLUDE [report footer]
[end]

[doMove]
$GET_DATA [set kodFL] ??do_kod
$GET_DATA [set Posts] ??do_posts
$GET_DATA [set Events] ??do_events
[end]


[set kodFL]
select kodfizlica as "KFL" from p_persons where id=#OLD_ID#;
update p_persons set kodfizlica=null where  id=#OLD_ID#; ??KFL
update p_persons set kodfizlica=#KFL# where id=#NEW_ID#; ??KFL
[end]

[set Posts]
update p_persons_post set id=#NEW_ID# where id=#OLD_ID#;
[end]

[set Events]
try: update person_event set person_id=#NEW_ID# where person_id=#OLD_ID#;
update p_persons p set numEvents=(select count(event_id) from person_event e where e.person_id=#NEW_ID#) where id=#NEW_ID#;
update p_persons p set numEvents=(select count(event_id) from person_event e where e.person_id=#OLD_ID#) where id=#OLD_ID#;
[end]

[delOld]
delete from p_persons where id=#OLD_ID#; 
[end]

[report header]
$INCLUDE common.dat[head]
$INCLUDE [doMove]  ??NEW_ID&OLD_ID&cop=move&!NEW_ID=#OLD_ID#
$GET_DATA [delOld]  ??OLD_ID&cop=del&!NEW_ID=#OLD_ID#
$SET_PARAMETERS OLD_ID=; NEW_ID=; ??OLD_ID&cop=del&!NEW_ID=#OLD_ID#
</head>
<body class=persInfo_ style="margin:10">
<center>
$INCLUDE common.dat[form]

<table border=0 style="margin:20px 0 0 100px; border:solid 1px gray; background-color:whitesmoke;">
<tr><td colspan=2> P_PERSONS:</td>
<td rowspan=6  width=400>
<table border=0 style="margin-left:50px; border:solid 1px red; background-color:white;">
<tr><td width=400>
#cop# <b>Перенесено с #OLD_ID# на #NEW_ID#</b><br> ??NEW_ID&OLD_ID&cop=move
с ID <input name=OLD_ID size=6 value="#OLD_ID#"> => на верный ID: <input size=6 name=NEW_ID value="#NEW_ID#">
</td></tr>
<tr><td>
<input type=checkbox name=do_kod
checked ??NEW_ID
> Код ф.л.<br>
<input type=checkbox name=do_posts
checked ??NEW_ID
> Таб.№.<br>
<input type=checkbox name=do_events
checked ??
> Записи<br>
</td></tr>
<tr><td><input type=button onClick="document.theForm.cop.value='move'; document.theForm.submit()" value="Перенести">
<input type=button onClick="document.theForm.cop.value='del'; document.theForm.submit()" value="Удалить старый ID"> 
 ??OLD_ID
</td></tr>
</table>

</td></tr>

<tr><td>Фамилия:</td><td><input name=FNAME value="#FNAME#"></td></tr>
<tr><td>Имя:</td><td><input name=NAME value="#NAME#"></td></tr>
<tr><td>Отчество:</td><td><input name=NAME2 value="#NAME2#"></td></tr>
<tr><td>PIN ID:</td><td><input name=PIN_ID value="#PIN_ID#"></td></tr>
<tr><td>Код Ф.Л.:</td><td><input name=COD_FL value="#COD_FL#"></td></tr>

<tr><td></td><td><input type=submit onClick="document.theForm.submit()" value="Искать">
</tr>
</table>
<script>
function setId(id) {
	if (document.theForm.OLD_ID.value == "")
		document.theForm.OLD_ID.value = id;
	else
		document.theForm.NEW_ID.value = id;
}
</script>
[end]

[preSQLs]
[end]


[SQL]
select concat('<a href="javascript:setId(',p.Id,')">',cast(p.Id as integer),'</a>') as Id
, p.kodfizlica, pp.tabnom, pp.otdel_id, p.name, p.name1, p.name2, p.data_rozhd, p.pens_nomer
, p.numEvents  
, pp.dolzhnost
, u.login

, p.pol, p.pensioner

, nacionalnost, grazhdanstvo, obrazovanie, data_ob, spec, uch_stepen, otrasl_n, data_zash, data_doc, uch_zvanie, data_uch_zv, uzkaja_spec ??
, photo_id, phone, phone_wrk, fio_e, email, www, building, room, comments ??
, creator_id, created, modifier_id, modified ??

 from p_persons p 
 left join p_persons_post pp on pp.id=p.id
 left join a_users u on u.person_id=p.id
 
where 1=1
 and p.id=#PIN_ID# ??PIN_ID
 and p.kodfizlica=#COD_FL# ??COD_FL&!PIN_ID
 and p.name like '#FNAME#%' ??FNAME&!COD_FL&!PIN_ID
 and p.name1 like '#NAME#%' ??NAME&!COD_FL&!PIN_ID
 and p.name2 like '#NAME2#%' ??NAME2&!COD_FL&!PIN_ID
 
order by p.id, p.name, p.name1, p.name2
[end]

[report footer]
</small>
#ERROR#
<hr>
ДУБЛИ (полные тезки):
$CALL_SERVICE c=c2/showDuobles
</center>
<a href="#ServletPath#?c=c2/searchPersonDemo">DEMO</a>
[end]


select count(id) as "NUM_PERSONS", name, name1, name2
from p_persons
group by name, name1, name2
having count(id)>1
