docs/view_doc_wf.cfg

[comments]
descr=U: Просмотр документа

input=doc_id - ID документа (из таблицы d_list)
output=HTML форма просмотра документа, 
parents=docs/docs_in_progress_table.cfg
childs=docs/doc_user_action.cfg, docs/doc_final_action.cfg
test_URL=?c=docs/view_doc_wf&doc_id=1
author=Куняев
[end]

[parameters]
request_name=U:Просмотр документа
service=jinr.sed.ServiceViewDoc
tableCfg=table_no
LOG=ON
SYS_FIELDS=DOC_ID, IS_ACTIVE, DATE_FORMAT(modified,'#dateTimeFormat#') as DOC_MODIFIED, VERSION
SYS_FIELDS_TYPES=int,int,varchar,int
divider=<tr><td colspan=2 class="divider"></td></tr> 
but120=input type="button" class="butt1 pt" style="width:120;"
[end]


[report header]
$SET_PARAMETERS  divider=;
    <style>
        .button-note {border:none 1px grey; background-color:##FFFFA0; margin:5px; padding:3px; text-align:center;}
    </style>

    <script type="text/javascript" language="javascript">
        var updateField=function(field_id) {
            AjaxCall("field_" + field_id, "c=docs/edit_doc_field&doc_id=#doc_id#&field_id=" + field_id);
        }
        var editField=function(field_id) {
            alert("##field_" + field_id + " / c=docs/edit_doc_field&doc_id=#doc_id#&field_id=" + field_id); ??
            AjaxCall("field_" + field_id, "c=docs/edit_doc_field&doc_id=#doc_id#&field_id=" + field_id);
        }
$(document).ready(function() {   
    $('tr:contains("Сумма")').addClass('hrTabl');
    $('tr:contains("Бюджетный")').addClass('hrTabl1');
    $('tr:contains("Место")').addClass('hrTabl');
    $('tr:contains("П/п")').addClass('hrTabl1');
});
 
    </script>
[end]


============== Вывод одного поля  ======= ??
[item]
    $SET_PARAMETERS FIELD_RW=;
    $GET_DATA docs/view_doc_wf[check editable]  ??rw_4_roles&CURR_STEP_ROLES
    <div class="row" id="item_#FIELD_ID#" >
        <div class="col-xs-12 col-sm-4 col-md-4 label 
                bottom_dotted    ??!FIELD_CATEGORY=3
            " 
            style="width:20%;" ??
            >
            #NAME#:
        </div> 
</tr><tr> ??
        <div class="col-xs-12 col-sm-8 col-md-8
                docPole bg_white  ??!FIELD_CATEGORY=3&!FORM_FIELD_TYPE=9&!FORM_FIELD_TYPE=22&!FORM_FIELD_TYPE=1004&!FORM_FIELD_TYPE=1006&!FORM_FIELD_TYPE=1016
                bottom_dotted ??!FIELD_CATEGORY=3
            ">
            <div class="mw1000" >
                <div id="field_#FIELD_ID#"> ??FIELD_RW
                    $INCLUDE #FIELD_SRC_FILE#[#FIELD_SECTION#] 
                    <input type="button" class="butt1 pt" style="width:100px; margin-left:10px;" onClick="editField('#FIELD_ID#'); " value='Изменить'> ??FIELD_RW                
                </div> ??FIELD_RW
            </div>
        </div>
        <div class="colRek item_num" style="display:none; width:20px;">#NR#</div> ??
    </div>
[end]
style="border: solid 1px red"
 
[check editable]
    select case when #CURR_STEP_ROLES# IN (#rw_4_roles#)
    then 'Y' else '' end as "FIELD_RW"
[end]

[report footer]
    $INCLUDE [report footer_] ??AR_R=Y
[end]


[report footer_]
    +++++++ Блок загрузки файлов-приложений и скрипты работы с файлами ++++++++ ??
    $INCLUDE files/field_file.dat[attached files]
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ??

    $INCLUDE docs/view_doc.cfg[print forms] ??!mode=print

    #divider#    
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 label">Документ создан:</div>
        <div class="col-xs-12 col-sm-8 col-md-8 docPole bg_white"><b>#CREATOR#</b>, #CREATED#, 
            <i class="fa fa-phone" aria-hidden="true" style="margin:0 3px 0 10px;"></i>#CRE_PHONE#  ??CRE_PHONE
                &nbsp;  <a href="mailto:#CRE_MAIL#?subject=Ваш документ #DOC_TYPE# в СЭД"><i class="fa fa-envelope-o" aria-hidden="true"></i> #CRE_MAIL#</a> ??CRE_MAIL
    </div></div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 label">Комментарий:</div>
        <div class="col-xs-12 col-sm-8 col-md-8 docPole bg_white">
            <div class="mw800">#INITIATOR_COMMENT#</div>
        </div>
    </div> ??INITIATOR_COMMENT
    #divider#

    $CALL_SERVICE c=docs/show_users_comments 

    #divider#     ??DOC_STATUS>#~doc_status_in_progress#
    $INCLUDE docs/custom_settings.cfg[post processing]
   
</div>
</div>
</div>
<div>
$INCLUDE [buttons bar] ??!mode=print&ZZZ
</div>
    <div id="doc_send_div" style="float:right; display:none; margin:0 50px 0 100px; border-bottom:solid 1px gray;"></div>
    <div id="doc_history_div" style="float:right; display:none; margin:0 50px 0 100px; border-bottom:solid 1px gray;"></div>
    <div style="clear:both;"></div>

    <center>
    <div id="graph_doc_wf" class="mw1000" style="text-align:left; margin:10px 5px 15px 10px;">...</div>
    </center>

    <script type="text/javascript">
        AjaxCall("graph_doc_wf", "c=wf/graph_show_wf_for_doc&doc_id=#doc_id#&mode=#mode#");  ??zzz&WF_ID|WF_ID_INACT
    </script>
[end]


[buttons bar]
    #divider#
    <tr>
        <td class="center bg_white" colspan=2 style="padding:15px 0 0px 0; border-bottom:solid 1px gray;">
            $INCLUDE [buttons row] 
            $GET_DATA docs/view_doc.cfg[check sent FYI] 
            <br>&nbsp; ??!NUM_SENT_FYI>0
            <div class="pt" onClick="$('##doc_history_div').toggle(); AjaxCall('doc_history_div', 'c=wf/show_doc_history&doc_id=#doc_id#');"  style="border-bottom:solid 1px gray; float:right; margin-top:10pt; padding:2px;"> 
                история документа >>
            </div> 
            <div class="pt" onClick="$('##doc_send_div').toggle(); AjaxCall('doc_send_div', 'c=docs/show_sent_history&doc_id=#doc_id#');"  style="border-bottom:solid 1px gray; float:right; margin-top:10pt; padding:2px;">  ??NUM_SENT_FYI>0
                история рассылки для ознакомления >></div> ??NUM_SENT_FYI>0
            <div style="clear:both;"></div>
        </td>
    </tr>
[end]


[buttons row]
 <div class="wrapper">
        <div class="row2">
        <div class="col2" style="text-align: center;">
            <input type="button" class="butt1 pt" style="width:170px; height:45px" onClick="showDoc(false); " value='Вернуться на ГЛАВНУЮ'>
        </div>
        $INCLUDE [admin buttons]  ??WF_ID&AR_A=Y&DOC_STATUS>#~doc_status_draft#
        
        $INCLUDE [sign buttons]   ??AR_S=Y
        <div class="col2" style="text-align: center;">
            <input type="button" #dis# class="butt1 pt" style="width:170px;" value="Отправить на согласование" onClick="AjaxCall('popupCont', 'c=docs/doc_user_action&doc_id=#doc_id#&cop=#~doc_action_startWF#', true);">  ??!DOC_TYPE_ID=13&AR_E=Y|AR_W=Y&CURR_STEP=0
            <div class="button-note1">Начать согласование<br>документа по маршруту (см.ниже)</div>   ??!DOC_TYPE_ID=13&AR_E=Y|AR_W=Y&CURR_STEP=0
            <#but120# style="width:170px;" value="Отозвать" onClick="AjaxCall('popupCont', 'c=docs/doc_user_action&doc_id=#doc_id#&cop=#~doc_action_terminate#');"> ??AR_T=Y
            <div class="button-note1">Прекратить процесс<br>согласования документа</div> ??AR_T=Y
        </div>        
        <div class="col2" style="text-align: center;">
            <#but120# value="Ознакомить" style="width:170px;" onClick="AjaxCall('popupCont', 'c=docs/sendFYI&doc_id=#doc_id#');"> 
            <div class="button-note1">Послать документ<br>ТОЛЬКО для ознакомления</div>
        </div>        
    </div>
    </div>
    

[end]

[sign buttons]
    <div class="col2" style="text-align: center;">
        <input type="button" class="butt1 pt" style="width:170px;" value="Отправить на согласование" onClick="AjaxCall('popupCont', 'c=docs/doc_user_action&doc_id=#doc_id#&cop=#~doc_action_sign#', true);"> ??CURR_STEP_TYPE=#~wf_step_preparation#
        <#but120# style="width:170px;" value="СОГЛАСОВАТЬ" onClick="AjaxCall('popupCont', 'c=docs/doc_user_action&doc_id=#doc_id#&cop=#~doc_action_sign#', true);"> ??CURR_STEP_TYPE=#~wf_step_in_progress#
        <#but120# style="width:170px;" value="УТВЕРДИТЬ" onClick="AjaxCall('popupCont', 'c=docs/doc_final_action&doc_id=#doc_id#&cop=#~doc_action_sign#', true);"> ??CURR_STEP_TYPE>#~wf_step_in_progress#
        <div class="button-note1">Отправить документ<br>далее по маршруту</div>
    </div>

    $INCLUDE docs/view_doc_wf[redirect button]
            ??!CURR_STEP_TYPE=-1

    $INCLUDE docs/view_doc_wf[reject button] ??!USER_ID=#CREATOR_ID#&!STEP_SMTS=Y
      ??CURR_STEP_TYPE=#~wf_step_in_progress#
[end]


[redirect button]
    <div class="col2" style="text-align: center;">
        <#but120# style="width:170px;" value="Переслать" onClick="AjaxCall('popupCont', 
            'c=docs/doc_final_forward&doc_id=#doc_id#&cop=forward', true); ??CURR_STEP_TYPE=#~wf_step_signed#
            'c=docs/doc_user_action&doc_id=#doc_id#&cop=forward', true);   ??CURR_STEP_TYPE=#~wf_step_process#
            'c=docs/doc_user_action&doc_id=#doc_id#&cop=forward', true);   ??CURR_STEP_TYPE=#~wf_step_in_progress#|CURR_STEP_TYPE=#~wf_step_preparation#
        ">
        <div class="button-note1">Вставить в маршрут<br><b>дополнительный шаг</b></div>
    </div>
[end]

[reject button]
    <div class="col2" style="text-align: center;">
        <input type="button" class="butt1 pt" style="width:170px;"> 
            value="Вернуть инициатору" onClick="AjaxCall('popupCont', 'c=docs/doc_user_action&doc_id=#doc_id#&cop=#~doc_action_reject#', true);"> ??!IS_SMTS
            value="Вернуть в СМТС" onClick="AjaxCall('popupCont', 'c=docs/doc_user_action&doc_id=#doc_id#&cop=#~doc_action_reject_2SMTS#', true);"> ??IS_SMTS
            <div class="button-note1">Вернуть документ<br>инициатору<br>на доработку</div>
    </div>
[end]

[admin buttons]
    <div class="col2" style="text-align: center;">
        <input type="button" class="butt1 pt adm_button" style="width:170px; height:45px" value="Переслать" ??!AR_S=Y
            onClick="AjaxCall('popupCont', 'c=docs/doc_user_action&doc_id=#doc_id#&cop=forward', true);">  ??!AR_S=Y
        <input type="button" class="butt1 pt adm_button" style="width:170px;" value="Отозвать"  ??!AR_T=Y&AR_SYS_ADMIN=1
            onClick="AjaxCall('popupCont', 'c=docs/doc_user_action&doc_id=#doc_id#&cop=#~doc_action_terminate#', true);">  ??!AR_T=Y&AR_SYS_ADMIN=1
    </div>
[end]

==============================================================================
***************************** Шаблоны SQL запросов ***************************
==============================================================================

[SQL]
    $INCLUDE mob/view_doc.mod[SQL_] ??AR_R=Y
[end]


[set doc number]
    select ifnull(max(CONVERT(ifnull(number,0),UNSIGNED INTEGER))+1,1) as number, DATE_FORMAT(now(), '#dateFormat#') as DOC_DATE
         ,'Y' as REFRESH_PRINT_FORM
    from d_list where type_id=#DOC_TYPE_ID# and id<>#doc_id# and extract(year from now())=extract(year from doc_date)
    ;
    update d_list set number=#number#, doc_date=now() where id=#doc_id#;
[end]

