[parameters]
service=dubna.walt.service.TableServiceSpecial  ??cop=search
service=dubna.walt.service.TableServiceSimple  ??cop=search_ZZ
hide_headers=Y
altBgColorAttr=bgcolor=white
table_beg=<table border=0 width=100% cellspacing=1 cellpadding=0>
debug=on ??
[end]


[report]
$INCLUDE [report header]
<br>
Введите фрагмент названия и нажмите кнопку "Искать"<br><br>
( '*' или '%' - любые символы)
$INCLUDE [report footer]
[end]

select  concat('<a class=location href="javascript:selectCode(',cast(code as char),')">',name,'</a>') as "REC"

<td><img src="#imgPath#filler.gif" width=#padding# height=1></td>	??padding

[item]
<tr>
<td class=in id="td_#code#" onClick="selectCode(#code#)" onMouseOver="this.className='over'" onMouseOut="this.className='in'">
<img width=#padding# height=1 src="#imgPath#filler.gif"> 	??padding&!padding=0
#name#
</td></tr>
[end]

[report header]
<HTML><HEAD><TITLE>#title#</TITLE>
<META http-equiv=Content-Type content="text/html;charset=utf-8">
<LINK REL=STYLESHEET TYPE="text/css" HREF="#ServletPath#?c=css/css"> 
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
<style>
TD.in {padding-left: 4; padding-right: 4; padding-top: 2; padding-bottom: 2;
	border:solid 1px ##eeeeee;
	font-size: 10pt;  color:black; vertical-align:top; cursor:hand;} 
TD.over {padding-left: 4; padding-right: 4; padding-top: 2; padding-bottom: 2;  
	border:outset 1px  ##eeeeee;
	font-size: 10pt;  color:black; background-color:white; vertical-align:top; cursor:hand;} 

</style>
</HEAD>

<body style="margin:0; padding:0;">
<div style="height:54; overflow:hidden; border-bottom:solid 1px ##808080;">
$INCLUDE common.dat[form]

<input type=hidden name=srn value="#srn#">
<input type=hidden name=padding value="#padding#">
<input type=hidden name=field value="#field#">
<input type=hidden name=tab value="#tab#">
&nbsp;<br><center>
<INPUT class=xp type=text name=filter size=20 value='#filter#'>
$INCLUDE common.dat[butt] param: label=Искать; onClick=doIt(); 
&nbsp;&nbsp;
$INCLUDE common.dat[butt] param: label=Закрыть; onClick=window.close(); img=del_cross.gif; ??

$GET_DATA [setWC]
<br>
</td></TR></TABLE>
</div>
<div style="height:344; overflow:auto; border-top:solid 1px white; background-color:##eeeeee;">
[end]


[report footer]
</div>
$INCLUDE common.dat[hidden submit]
</center>

</form>

<script>
var frm=document.theForm;
window.focus();


function selectCode(code)
{	var v = document.getElementById("td_" + code).innerHTML;
	if (v.toUpperCase().indexOf("<IMG") >= 0)
		v = v.substring(v.indexOf(">")+1);
//	alert (code + "; " + v);
	
	try {window.opener.setInfo(code, v, "#field#");} catch (e) {;}
	window.close();
}

function doIt()
{
	frm.cop.value="search";
//  frm.target="";
	frm.submit();
	return true;
}

</script>

</body></html>
[end]

=============================== SQLs ==========================================

[preSQLs]
$SET_PARAMETERS rpp=9999; srn=1;
[end]

[setWC]
select replace('#filter#','*','%') as "filter"
[end]

[SQL]
select  
 code,name ??!tab=rb_08
 berthcode as "code", berth as "name" ??tab=rb_08
from #tab#
where name like '#filter#%' ??filter&!tab=rb_08
where berth like '#filter#%' ??filter&tab=rb_08
order by 
name	??!tab=rb_08
berth	??tab=rb_08
[end]


[colNames]
name=Ф.И.О.
DIV=Подразделение
POST=Должность
[end]

