[parameters]
dateFormat=%d.%m.%Y %k:%i
dateShortFormat=%d.%m.%Y
[end]

[report] 
$GET_DATA [copyToPublications] ??XXXcopyToPublications
$INCLUDE edit_fields.dat[varchar-long]
$INCLUDE [chkbox3] ??id&TYPE_ID=3
$INCLUDE [chkbox13] ??id&TYPE_ID=13
[end]

[chkbox3]
<br>			
<input type=checkbox
name="copyToPublications"
> <small><b>скопировать данные в раздел<br>`Публикации`-&gt;`Материалы научных мероприятий`<b></small>
[end]

[chkbox13]
<br>			
<input type=checkbox
name="copyToActivities"
> <small><b>скопировать данные в раздел<br>`Деятельность`-&gt;`Участие в научных мероприятиях `<b></small>
[end]



[copyToPublications]
select conf_str as conf_str_copy, t1_h as t1_h_copy from event_values where id=#event_id#
;
INSERT into event_values (
creator_id
,user_id
,date
, dat_ch
,dat_cr
, type_id
,subtype_id
, url
, conf_id
,event_name
,authors
,n_coauthors
,t1_h
,conf_str
,event_comment) 
values(
#USER_ID#
,#USER_ID#
,STR_TO_DATE('#DATE#','#dateShortFormat#')
,now()
,now()
,13
,(SELECT id from event_subtypes where name in(select name from event_subtypes where id=#SUBTYPE_ID#) AND pid=13)
,'#URL#'
,#conf_id# ??conf_id
,null ??!conf_id
,'#event_name#'
,'#authors#'
, #n_coauthors# ??n_coauthors
, null ??!n_coauthors
,'#t1_h_copy#'
,'#conf_str_copy#'
,'#event_comment#'
)
;

SELECT LAST_INSERT_ID() as copy_event_id;
insert into person_event (event_id,person_id) values (#copy_event_id#,#id#);
[end]

[copyToActivities]
select t1_h as t1_h_copy, conf_id as conf_id_copy, conf_str as conf_str_copy from event_values where id=#event_id#
;

INSERT into event_values (
creator_id
,user_id
,date
, dat_ch
,dat_cr
, type_id
,subtype_id
, url
,conf_id
,event_name
,authors
,n_coauthors
,t1_h
,conf_str
,event_comment
) 
values(
#USER_ID#
,#USER_ID#
,STR_TO_DATE('#DATE#','#dateShortFormat#')
,now()
,now()
,3
,(SELECT id from event_subtypes where name in(select name from event_subtypes where id=#SUBTYPE_ID#) AND pid=3)
,'#URL#'
,#conf_id# ??conf_id
,null ??!conf_id
,'#event_name#'
,'#authors#'
, #n_coauthors# ??n_coauthors
, null ??!n_coauthors
,'#t1_h_copy#'
,'#conf_str_copy#'
,'#event_comment#'
)
;
SELECT LAST_INSERT_ID() as copy_event_id;
insert into person_event (event_id,person_id) values (#copy_event_id#,#id#);
[end]

