[parameters]
dateShortFormat=%d.%m.%Y
service=dubna.walt.service.TableServiceSpecial
debug=onF
table_beg=none
table_end=none
[end]


[report header]
$GET_DATA [AddQ] ??cop=AddQ&Question
$GET_DATA [KillQ] ??cop=kill&ID
$GET_DATA [moveUp] ??cop=moveUp
$GET_DATA [moveDown] ??cop=moveDown
<html>
<title>PIN-FAQ</title>
<head>
<style>
table.search{ border: solid ##ADADAD 1px; padding:0px; margin:0px; font: 10pt Arial; background-color:whitesmoke;}
table.list{font: 10pt Arial;}
table.output{	border-bottom:1px solid ##ADADAD;	border-left:1px solid ##ADADAD;	font: 10pt Arial;}
.output td { border-top:1px  solid ADADAD; border-right:1px solid ADADAD; background-color: white; }
.output span.head { float: left; border: none; width: 100%; heigth: 100%; }
##Qmark {
background-color:##EF9A9A;
color:white;
float: left;
font-size: 20px;
margin-top:2px;
padding:2px;
margin-right: 4px;
}

##Amark {
background-color:##9AAF9A;
color:white;
float: left;
font-size: 20px;
margin-top:2px;
padding:2px;
margin-right: 4px;
}

##user_name{
background-color:##FFFFF0;
border: solid ##EFEFE0  1px;
text-align:center;
margin-top:5px;
}

.FAQ{
background-color:##4B8DCC;
color: white;
font-size:20px;
border: 1px solid ##4B8DCC;
}
##buttplace.FAQ{
text-align:right;
}
</style>
<LINK REL=STYLESHEET TYPE="text/css" HREF="#ServletPath#?c=css/css">  
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#form.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#cal2.js"></SCRIPT>
</head>

<body style="margin:1;">
<center> <br>
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="">
<input name="c" type="hidden" value="#c#">
<input name="cop" type="hidden" value="">
<input name="ID" type="hidden" value="">
$INCLUDE [admin filter] ??USER_ROLE=SA

<table border=0 cellspacing=0 cellpadding=3 class=output  width=100%>
<tr><th colspan=2 class="FAQ"><STRONG>Часто задаваемые вопросы</STRONG></th>
<th class="FAQ" id="buttplace">
$INCLUDE common.dat[butt] param: label=Обновить; onClick=doSendQuestion();  img=refresh.gif; width=90;
</th></tr>
[end]

[admin filter]
<input type="checkbox" 
checked ??TO_ANSWER
name="TO_ANSWER" onclick="doSearch()">без ответа
<br><br>
[end]

[send form]
<fieldset title="" style="width:700px;"><legend>Задайте свой вопрос:</legend>
<textarea name="Question" cols="110" rows="8">
</textarea>
<div style="text-align: right; width: 100%; margin-top:20px;">
$INCLUDE common.dat[butt] param: label=Послать; onClick=doSendQuestion();   img=save12.gif; width=90;
</fieldset>
[end]

[pleaselogin]
<br><br>
<fieldset title="" style="width:700px;"><legend>Задать свой вопрос:</legend>
Чтобы задать вопрос Вам необходимо зарегистрироваться.<br>
Нажмите кнопку "Вход"
</fieldset>
[end]

[report footer]
</table>
$INCLUDE [send form] ??USER_ID&!USER_ID=1
$INCLUDE [pleaselogin] ??!USER_ID|USER_ID=1
</form>

<script language="JavaScript">
var frm=document.theForm;
function doSearch(){
frm.cop.value='search';
frm.submit();
}
function moveDown(id)
{
	frm.cop.value="moveDown";
	frm.ID.value=id;
	frm.submit();
}
function moveUp(id)
{
	frm.cop.value="moveUp";
	frm.ID.value=id;
	frm.submit();
}

function doSendQuestion(){
	frm.cop.value="AddQ";
	frm.submit();
}
function openAnswerForm(id){
frm.ID.value=id;
frm.c.value="/info/FAQ_a";
frm.cop.value="edit";
frm.submit();
}

function kill(id){
if (confirm('Удалить?')){
frm.ID.value=id;
frm.cop.value="kill";
frm.submit();}
}
alert('Спасибо, ваш вопрос отослан в службу поддержки.'); ??cop=AddQ&Question
</script>

</body></html>
[end]


[item]
<tr>
<td align="center" width=1>
$INCLUDE [user name] ??USER_ROLE=SA
</td>
<td >
<div id="Qmark">Вопрос:</div>
#Question_#</td>

<td >
<div id="Amark">Ответ:</div>
#Answer_# ??Answer_
... ??!Answer_
$INCLUDE [edit control] ??USER_ROLE=SA 
</td></tr>
[end]

[user name]
#Date#
<div id=user_name><small>#FNAME# #NAME1# #NAME2#</small></div>
[end]

[edit control]
<span style="float:right; display:inline; text-align:right;">
<a href="javascript:moveUp('#ID#');">&uarr;</a><a href="javascript:moveDown('#ID#');">&darr;</a>  ??!TO_ANSWER
<a href="##" onclick="openAnswerForm(#ID#)"   style="background-color:##FFFFAA;">Ответить</a> ??!Answer_
<a href="##" onclick="openAnswerForm(#ID#)">Изменить</a> ??Answer_
&nbsp;&nbsp;<a href="##" onclick="kill(#ID#)"><img border="0" src="#imgPath#del12.gif" ></a> 
</span>
[end]


[AddQ]
select ifnull(max(sort),0)+1 as newSort from faq;
INSERT INTO faq (date,Question,requestor_id,sort) VALUES (date(now()),'#Question#',#USER_ID#,#newSort#);
[end]

[KillQ]
DELETE FROM faq where id=#ID#
[end]

[moveDown]
select id as LOWER_ID,sort as LOWER_SORT from faq 
where 
sort > (select sort from faq where id=#ID#)
order by sort limit 1;
SELECT SORT as THIS_SORT from faq where id=#ID#; ??LOWER_SORT
UPDATE faq set sort=#THIS_SORT# where id=#LOWER_ID#; ??LOWER_ID&THIS_SORT
UPDATE faq set sort=#LOWER_SORT# where id=#ID#; ??LOWER_SORT&ID
[end]

[moveUp]
select id as HIGHER_ID,sort as HIGHER_SORT from faq 
where 
sort < (select sort from faq where id=#ID#)
order by sort desc limit 1;
SELECT SORT as THIS_SORT from faq where id=#ID#; ??HIGHER_SORT
UPDATE faq set sort=#THIS_SORT# where id=#HIGHER_ID#; ??HIGHER_ID&THIS_SORT
UPDATE faq set sort=#HIGHER_SORT# where id=#ID#; ??HIGHER_SORT&ID
[end]

[SQL]
SELECT
f.Id as ID, u.name1 as NAME1, u.name2 as NAME2, u.fname as FNAME
,DATE_FORMAT(f.Date,'#dateShortFormat#')as Date
,f.Question as Question_
,f.Answer as Answer_
,f.faq_razdel as faq_razdel
FROM faq f left join a_users u on f.requestor_id=u.id
WHERE 
1=1
AND f.Answer IS NOT NULL ??!USER_ID|USER_ID=1
AND f.Answer IS NULL ??TO_ANSWER
OR f.requestor_id=#USER_ID# ??USER_ID&!USER_ID=1&!TO_ANSWER
ORDER BY f.sort
[end]


 ??!USER_ROLE=SA
