[parameters]
dateShortFormat=%d.%m.%Y
debug=on ??
table_beg=none
table_end=none
[end]



[report]
$GET_DATA [SaveQA] ??ID&cop=save
$GET_DATA [GetQ] ??ID

<html>
<title>PIN-FAQ</title>
<head>
<style>
table.search{ border: solid ##ADADAD 1px; padding:0px; margin:0px; font: 10pt Arial; background-color:whitesmoke;}
table.list{font: 10pt Arial;}
table.output{	border-bottom:1px solid ##ADADAD;	border-left:1px solid ##ADADAD;	font: 10pt Arial;}
.output th {	text-align: center;	border-top:1px solid ##ADADAD;	border-right:1px solid ##ADADAD;	text-decoration: none;}
.output td { border-top:1px  solid ADADAD; border-right:1px solid ADADAD; background-color: white; }
.output span.head { float: left; border: none; width: 100%; heigth: 100%; }
#Qmark {
background-color:##EF9A9A;
color:white;
float: center;
font-size: 20px;
margin-top:2px;
padding:2px;
margin-right: 4px;
}

#Amark {
background-color:##9AAF9A;
color:white;
float: center;
font-size: 20px;
margin-top:2px;
padding:2px;
margin-right: 4px;
}
</style>
<LINK REL=STYLESHEET TYPE="text/css" HREF="#ServletPath#?c=css/css">  
<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#form.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#cal2.js"></SCRIPT>
</head>

<body >
<center> <br>
<form name="theForm" method="POST" enctype="multipart/form-data" onSubmit="">
<input name="c" type="hidden" value="#c#">
<input name="cop" type="hidden" value="">
<input name="ID" type="hidden" value="#ID#">
<fieldset title="" style="width:700px;"><legend>FAQ:</legend>
<div id="Qmark">
Вопрос:
</div><textarea name="Question" cols="80" rows="18">#Question#</textarea>
<div id="Amark">
Ответ:
</div>
<textarea name="Answer" cols="80" rows="18">#Answer#</textarea>
<div style="float: left; width: 50%; display:inline; margin-top:20px;">
$INCLUDE common.dat[butt] param: label=Отмена; onClick=doCancel();   img=del12.gif; width=90;
</div>
<div style="f: right; width: 50%; margin-top:20px;">
$INCLUDE common.dat[butt] param: label=ОК; onClick=doSave();   img=save12.gif; width=90;
</div>
</fieldset>
</form>

<script language="JavaScript">
var frm=document.theForm;
function doCancel(){
frm.c.value='info/FAQ';
frm.cop.value='search';
frm.submit();
}

function doCancel(){
frm.c.value='info/FAQ';
frm.cop.value='search';
frm.submit();
}
function doSave(){
frm.cop.value='save';
frm.submit();
}
doCancel(); ??cop=save
</script>

</body>
</html>
[end]

[GetQ]
SELECT Question, Answer,DATE_FORMAT(date,'#dateShortFormat#')as Date  from faq where id=#ID#
[end]

[AddA]
INSERT INTO faq (date,Question,requestor_id) VALUES (date(now()),'#Question#',0#USER_ID#);
[end]

[SaveQA]
UPDATE faq SET 
Question='#Question#'
,Answer='#Answer#' ??Answer
,Answer=Null 	   ??!Answer
where id=#ID#
[end]