[parameters]
debug=ond
dateShortFormat=%d.%m.%Y
service=dubna.walt.service.TableServiceSimple ??ID|cop&!cop=new&!cop=edit
[end]

[report]
$INCLUDE [report header]
$INCLUDE [report footer]
[end]

[report header]
$GET_DATA [test SQL] ??cop=insert
$GET_DATA[insert SQL] ??cop=insert&!ERROR
$GET_DATA [update SQL]	??cop=update&ID

$SET_PARAMETERS desc=on ??!cop

$SET_PARAMETERS f_name=#f_name_s#;f_country=#f_country_s#;f_town=#f_town_s#; f_name1=#f_name1_s#;	f_vak=#f_vak_s#; f_imp_factor=#f_imp_factor_s#; f_is_foreign=#f_is_foreign_s#; ??cop=backToSearch|cop=update
$SET_PARAMETERS_SESSION f_name_s=#f_name#; f_country_s=#f_country#; f_town_s=#f_town#; f_name1_s=#f_name1#;	f_vak_s=#f_vak#;  f_imp_factor=#f_imp_factor#; f_is_foreign_s=#f_is_foreign#;??cop=search

$SET_PARAMETERS cop=search ??!ERROR&cop=insert|cop=update|cop=backToSearch
$SET_PARAMETERS cop=new 	??ERROR&cop=insert

<html><head>
<title>Справочник издательств</title>
<style>
table.search{font: 10pt Arial; background-color:white; border: solid ##ADADAD 1px; padding:0px; margin:0px;}
table.list{ font: 10pt Arial;}
table.output{	border-bottom:1px solid ##ADADAD;	border-left:1px solid ##ADADAD;	font: 10pt Arial;}
.output th{	text-align: center;	border-top:1px solid ##ADADAD;	border-right:1px solid ##ADADAD;	text-decoration: none;}
.output td{border-top:1px  solid ADADAD;border-right:1px solid ADADAD;background-color: white;}
.output span.head{float: left;border: none;width: 100%;heigth: 100%;}
.mred{
background-color:red;
}
</style>

<LINK REL=STYLESHEET TYPE="text/css" HREF="#ServletPath#?c=css/css">  

<SCRIPT language=JavaScript src="#jsPath#lib.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#form.js"></SCRIPT>
<SCRIPT language=JavaScript src="#jsPath#cal2.js"></SCRIPT>
</head>

<body>
<center> <br>
$SET_PARAMETERS cop=search ??!cop
<form name="theForm" method="POST" enctype="multipart/form-data" 
onSubmit="return doIt('search')"   ??cop=search
>
<input name="c" type="hidden" value="#c#">
<input name="opener" type="hidden" value="#opener#">
<input name="cop" type="hidden" value="">
$GET_DATA [merge] ??cop=accept_merge
$SET_PARAMETERS cop=edit;ID=#main_izd_sel# ??cop=accept_merge

$SET_PARAMETERS cop=search;  ??cop=merge&!izd_sel

<input name="ID" type="hidden" value=""> ??!cop=edit
<input name="ID" type="hidden" value="#ID#"> ??cop=edit

$INCLUDE [search form]  ??cop=search
$INCLUDE [new form] 	??cop=new
$GET_DATA [edit SQL]	??cop=edit&ID
$INCLUDE [edit form]  ??cop=edit
$INCLUDE [merge form]  ??cop=merge&izd_sel

<br><br>
[end]

[commonFields]


[end]


[merge form]
<input type="hidden" name=izd_sel value="#izd_sel#"> ??izd_sel
<table class="search" border="0" cellspacing="6">
<tr>
<td class=headrow2 bgcolor="FFFF80">
<img src="#imgPath#small/forecast.gif" border="0" style="float: left;" ><b>Назначьте главную запись</b>
</td>
<td align=right>
$INCLUDE common.dat[butt] param: label=Ок; onClick=doIt("accept_merge");   img=plus12.gif; width=100; ??cop
$INCLUDE common.dat[butt] param: label=Отмена; onClick=doIt("search");   img=plus12.gif; width=100; ??cop

</tr>
</table>
[end]

[search form]
<div
style="display: none" ??!cop=search
>
<table class="search" border="0" cellspacing="6">
<tr>
<td class=headrow2 bgcolor="FFFF80">
<img src="#imgPath#small/forecast.gif" border="0" style="float: left;" ><b>Поиск издательства</b>
</td>
<td align=right>
$INCLUDE common.dat[butt] param: label=Добавить; onClick=doIt("new");   img=plus12.gif; width=100; ??cop

</tr>





<tr>
	<td align=right>Название содержит:</td><td>
<input type="text" name="f_name"  size="50" value='#f_name#'> 
	<br><img src="#imgPath#alert.gif" width=16 height=16 border=0> #ERROR#   ??ERROR_XXX
	</td>
</tr>

$INCLUDE [logic] ??USER_ROLE=SA
<tr>
	<td align=right>Список ВАК:</td><td>
	<select name="f_vak">
	<option value="">не важно</option> ??cop=search
	<option value="0">не входит</option>
	<option value="1">входит в кандидатские</option>
	<option value="2">входит в докторские</option>

	</select>
	</td>
</tr>
<tr>
	<td align=right>Страна или город:</td><td>
	<input type=text name="f_place" size="30" value="#f_place#">
$INCLUDE [is_foreign]	??XXX
	</td>
</tr>

<tr><td> 
<input type="checkbox" name="only_new"
checked ??only_new
> только&nbsp;<img src="#imgPath#alert.gif">&nbsp;"новые"

</td><td align=right>
$INCLUDE common.dat[butt] param: label=Искать; onClick=doIt("search");   img=small/forecast.gif; width=100;

</td></tr>

$INCLUDE [merge row] ??USER_ROLE=SA
</table>
$INCLUDE common.dat[hidden submit]
</div>
[end]

[logic]
<tr>
<td align=right><select name="logic"><option value="">или</opton><option value="and">и</option><option value="andnot">кроме</option></select></td><td>
<input type="text" name="f_name1"  size="50" value='#f_name1#'> 
</td>
</tr>
<script>
selectOptionByVal(document.theForm.logic,"#logic#");
</script>
[end]

<tr>
	<td align=right>Сортировать по:</td>
	<td>
	<select name="sort">
		<option value="name">нaзванию
		<option value="country">стране
	</select>
	<input type=checkbox name=desc
	checked 				??desc
	> в порядке убывания
	</td>
</tr>



[is_foreign]
	<br>
		<input type="radio" name="f_is_foreign"
	value=""
	checked ??!f_is_foreign
	>не важно

	<input type="radio" name="f_is_foreign"
	value="0"
	checked ??f_is_foreign=0
	>РФ
		<input type="radio" name="f_is_foreign"
	checked ??f_is_foreign=1
	value="1"
	>прочие
[end]

[merge row]
<tr><td>
</td><td align=right>
$INCLUDE common.dat[butt] param: label=Объединить отмеченные; onClick=doIt("merge");   img=small/wizard.gif; width=100;
</td></tr>

[end]

[new form]
<table class="search" border="0" cellspacing="5">
<tr><td colspan=2 class=headrow2 bgcolor="A0FFA0">
<img src="#imgPath#plus12.gif" border="0" style="float: left;" >
<b>Добавление нового издательства</b>
</td></tr>


<tr>
	<td align=right>Название:</td><td>
	<input type="text" name="f_name" size="50" value='#f_name#'>
	<br><img src="#imgPath#alert.gif" width=16 height=16 border=0> #ERROR#   ??ERROR_XXX
	</td>
</tr>

<tr>
	<td align=right>Список ВАК:</td><td>
	<select name="f_vak">
	<option value="">-</option>
	<option value="0">не входит</option>
	<option value="1">входит в кандидатские</option>
	<option value="2">входит в докторские</option>
	</select>
	</td>
</tr>
<tr>
	<td align=right>Импакт-фактор:</td><td>
	<input name="f_imp_factor" type="text" size="10" value="#f_imp_factor#">
	</td>
</tr>

<tr>
	<td align=right>Страна:</td><td>
	
<input type="text" name="f_country" value="#f_country#" size="20">
город:
<input type="text" name="f_town" value="#f_town#" size="20">
	</td>
</tr>


<tr> <td colspan=2 align=right>
$INCLUDE common.dat[butt] param: label=Отмена; onClick=doIt("backToSearch");   img=small/cancel.gif; width=100;
&nbsp;&nbsp;&nbsp;
$INCLUDE common.dat[butt] param: label=Сохранить; onClick=doIt("insert");   img=small/save.gif; width=100;
</td></tr>
</table>
[end]


[edit form]
<table class="search" border="0" cellspacing="6">
<tr><td colspan=2 class=headrow2 bgcolor="FFD0C0">
<img src="#imgPath#edit_.gif" border="0" style="float: left;" >
<b>Изменение параметров издательства</b>
</td></tr>

<tr>
	<td align=right>Название:</td><td>
	<input name="f_name" type="text" size="50" value='#f_name#'>
	<br><img src="#imgPath#alert.gif" width=16 height=16 border=0> #ERROR#   ??ERROR_XXX
	</td>
</tr>
<tr>
	<td align=right>Страна:</td><td>
	<input name="f_country" value="#f_country#" size=15>
город:<input name="f_town" value="#f_town#" size=15>
	</td>
</tr>

<tr>
	<td align=right>Список ВАК:</td><td>
	<select name="f_vak">
	<option value="">-</option>
	<option value="0">не входит</option>
	<option value="1">входит в кандидатские</option>
	<option value="2">входит в докторские</option>
	</select>
	</td>
</tr>
<tr>
	<td align=right>Импакт-фактор:</td><td>
	<input name="f_imp_factor" type="text" size="10" value="#f_imp_factor#">
	<br><img src="#imgPath#alert.gif" width=16 height=16 border=0> #ERROR#   ??ERROR_XXX
	</td>
</tr>


<tr><td></td>
<td align=right>
$INCLUDE common.dat[butt] param: label=Отмена; onClick=doIt("backToSearch");   img=small/cancel.gif; width=100;
&nbsp;&nbsp;&nbsp;
$INCLUDE common.dat[butt] param: label=Сохранить; onClick=doIt("update");   img=small/save.gif; width=100;
</td></tr></table>
[end]



[report footer] 
$INCLUDE common.dat[hidden submit]  ??
</form>

<script language="javascript">
var frm=document.theForm;

window.focus();

	function doIt(cop)
	{	frm.cop.value=cop;
		if (cop=="backToSearch")
			frm.ID.value=""; 
		frm.submit();
		return false;
	}

	function doEdit(id)
	{	frm.ID.value=id;
		frm.cop.value='edit';
		frm.submit();
	}
$INCLUDE [sel func] 	??!opener=ctrlPanel	
$INCLUDE [paste func] ??opener=ctrlPanel


window.focus();
selectOptionByVal(frm.sort,'#sort#');
selectOptionByVal(frm.f_vak,'#f_vak#'); ??f_vak

</script>
</body>
</html>
[end]
[sel func]
	function doSelectIzd(verbal,id)
	{	try { window.opener.pasteIzdatelstvoBack(verbal,id); } catch (e) {;}
		window.close();
	}
[end]

[paste func]
	function doSelectIzd(verbal,id)
	{	try { document.theForm.f_name.value=verbal 
				window.scrollTo(0,0);
	} catch (e) {;}
	}
[end]

===========================================================================
================================= SQLs ====================================
===========================================================================

[preSQLs]
[end]

[update SQL]
UPDATE i_izd set 
name='#f_name#'
,vak=#f_vak# ??f_vak
,vak=null ??!f_vak
,imp_factor=#f_imp_factor# ??f_imp_factor
,imp_factor=null ??!f_imp_factor
,is_foreign=#f_is_foreign# ??f_is_foreign
,is_foreign=null ??!f_is_foreign
,country='#f_country#' ??f_country
,country=null ??!f_country
,town='#f_town#' ??f_town
,town=null ??!f_town
, is_new=null ??USER_ROLE=SA
WHERE 
id=#ID#
[end]

[edit SQL]
SELECT
	name as "f_name"
	,vak as "f_vak"
	,country as "f_country"
	,town as "f_town"
	,is_foreign as "f_is_foreign"
	,imp_factor as "f_imp_factor"
from i_izd
where id=#ID# 
[end]

[test SQL]
select id as ID from i_izd where name='#f_name#' limit 1 ??ERROR
; 
[end]

[insert SQL]
INSERT into i_izd
(name
, vak	??f_vak
, imp_factor ??f_imp_factor
, is_foreign ??f_is_foreign
, country

, town
, is_new ??!USER_ROLE=SA
) 
values
(
' #f_name#'
, #f_vak# ??f_vak
, #f_imp_factor# ??f_imp_factor
, #f_is_foreign# ??f_is_foreign
, '#f_country#' ??f_country
, null ??!f_country
, '#f_town#' ??f_town
, null ??!f_town
, 1 ??!USER_ROLE=SA
)
[end]

[SQL1]
SELECT 
concat('<input type=checkbox name=izd_sel value=''',id,'''>') as CBX, ??USER_ROLE=SA
concat(if(is_new is not null,'<img src=#imgPath#alert.gif> ','&nbsp;&nbsp;'),'<a href="javascript:doSelectIzd(''',replace(name,'"','&quot;'),''',',cast(id as char),')">',NAME,'</a>') as NAME1
,concat(ifnull(country,''),ifnull(concat(', ',town),'')) as country_town
,concat('<a href=''javascript:doEdit(',cast(id as CHAR),');''><img border=''0'' src=''#imgPath#edit_.gif''></a>') as "EDIT" ??USER_ROLE=SA
,concat('<a href=''#ServletPath#?c=admin/list_events_sortable&opener=izdList&F_IZD=',REPLACE(name,'&','%26'),''' target=_blank><img src=''#imgPath#small/view12.gif'' border=0></a>') as RECORDS
from 
i_izd
where 
1=1
and id=#ID# ??ID&!ID=undefined&cop=search
and is_new=1 ??only_new
$INCLUDE [criteria]
order by  #sort#  ??sort
order by name ??!sort
desc ??desc
[end]

[SQL2]
SELECT 
concat('<input type=radio name=main_izd_sel value=''',id,'''>') as RBT
, name as NAME1
from 
i_izd
where 
1=1
and id in(#izd_sel#)
order by  name
desc
[end]

[SQL]
$INCLUDE [SQL1] ??cop=search&!izd_sel
$INCLUDE [SQL2] ??cop=merge&izd_sel
[end]

[name]
and 
( 
UPPER(name) like UPPER('%#f_name#%')  
or ??f_name1&!logic
and ??f_name1&logic=and
and not ??f_name1&logic=andnot


UPPER(name) like UPPER('%#f_name1#%')  ??f_name1
)
[end]

[criteria]
$INCLUDE [name] ??f_name|f_name1
and is_foreign=#f_is_foreign# ??f_is_foreign
and (UPPER(country) like UPPER('%#f_place#%') or UPPER(town) like UPPER('%#f_place#%'))  ??f_place
and vak=#f_vak# ??f_vak
[end]

[merge]
select id as merge_id, name merge_name from i_izd where id=#main_izd_sel#;
update event_values set izd_id=#merge_id#,izd_str='#merge_name#' where izd_id in(#izd_sel#);
delete from i_izd where id in(#izd_sel#) and id not in(#main_izd_sel#);
[end]

[colNames]
RECORDS=Записи
CBX=<img border=0 src="#imgPath#small/check.gif">
RBT=<img border=0 src="#imgPath#small/check.gif">
EDIT=Изменить
NAME1=Издательство  $ATTR:
IMP_FACTOR=Импакт-фактор
country_town=Страна, город
[end]