[parameters]
debug=on ??
[end]


[report]
<script>
window.parent.setSaved(#berthcode_old#); ??!ERROR
alert ("#ERROR#");	??ERROR
</script>
[end]


=============================== SQLs ==========================================

[preSQLs]
replace into rb_08 (berthcode, berth) values (0#berthcode_new#, '#name_new#')
where berthcode=#berthcode_old# ??
;
replace into rb_08_PKG (berthcode, pkg_code) values (0#berthcode_new#, 0#pkg_code_new#)
where  berthcode=#berthcode_old#; ??
[end]
