[parameters]
KeepLog=true
[end]


[report] 
<div id="results" name="results"> ??!cop=show
 #SubTypeDescr#
&nbsp;
</div> ??!cop=show
<script>
window.parent.pasteResult("subtypeDescr", document.getElementById("results").innerHTML); ??!cop=show
alert ("#cop#"); ??
</script>
[end]

[typeComment]
<div style="width:450px; border:solid 1px ##808000; padding:6px; background-color:##FFFFD0">
.#SubTypeDescr#
$INCLUDE [subtypeComment] ??SubTypeDescrXXX
</div>
[end]

[subtypeComment]
<br><br>
#SubTypeDescr#
[end]

[preSQLs]
select comment as "SubTypeDescr" from event_subtypes where id=#SUBTYPE_ID#;
select concat(name, ': ', comment,'<br>') as "SubTypeDescr" from event_subtypes where pid=#F_TYPE_ID#; ??
[end]
