[comments]
descr=U: Корневой модуль. 
output=Загружает скрипты, CSS, форму, выводит закладки режима "Пользователь", загружает закладку по умолчанию
parents=edo.properties
childs=dat/common.dat,admin/admin.cfg
author=Куняев
[end]


[parameters]
title=СЭД
request_name=User:Личный кабинет
debug=off
[end]


[report]
$SET_PARAMETERS AR_SYS_ADMIN=;
$GET_DATA [checkAdmin]
$PRINT ====== USER_ID=#USER_ID#; AR_SYS_ADMIN=#AR_SYS_ADMIN#;
$INCLUDE [top]
$INCLUDE [tabs] ??logged
$INCLUDE dat/common.dat[login] ??!logged
$INCLUDE main.cfg[bottom]
[end]


[top]
$INCLUDE dat/common.dat[head]
<style type="text/css">
$INCLUDE free/main_css_noDB.cfg[report]
</style>

<script type="text/javascript">
$INCLUDE free/main_js_noDB.cfg[report]
$INCLUDE admin/admin_js_noDB.cfg[report]  ??c=admin/admin&AR_SYS_ADMIN=1
</script>
</head>

$SET_PARAMETERS_SESSION lang=#lang_#;  ??lang_
$SET_PARAMETERS_SESSION lang=russian;  ??!lang
$SET_PARAMETERS_SESSION VU=; ??

<body onClick="$('##dd_info').hide(); $('##d_tooltip').hide();">
$INCLUDE dat/common.dat[form]
$CALL_SERVICE c=svs/get_user_info; requested_user_id=#USER_ID#; ??USER_ID
<table class=top border=0 width=100% cellspacing=0 cellpadding=0 background="#imgPath#top_bg1.gif" >
<tr><td width=50>&nbsp;</td><td valign=top>
----------------- Заголовок --------------- ??
<h2>#^app_name#</h2>
<h3>- #^admin_panel#</h3> ??c=admin/admin&AR_SYS_ADMIN=1

----------------- Переключатели языка интерфейса --------------- ??
<span class="pt
bg_yellow ??lang=russian
" onClick="setLang('russian');" ><img src="#imgPath#ru.png">Рус.</span>
<span class="pt 
bg_yellow ??lang=english
" onClick="setLang('english');" ><img src="#imgPath#uk.png">Eng</span>
</td><td align=right valign=top>
#u_IOF#
u_sex:#u_sex#;
$INCLUDE [VU] ??VU
</td><td align=right valign=top width=200>

----------------- Login Frame --------------- ??
<iframe width=200 height=70 frameBorder=no scrolling=no src="#loginURL#?c=wlogin_dms&amp;back_url=#back_url#"></iframe> ??logged
</td></tr></table>
[end]

[VU] 
$CALL_SERVICE c=svs/get_user_info; requested_user_id=#VU#;
<br>(#u_IOF#)
[end]

[tabs]
============================= ЗАКЛАДКИ ================================= ??
<div id="tabs" style="display:none; margin:-35px 0px 0 0px;">
  <ul id="ltabs">
    <li id="t_myDocs"><a href="##dt_myDocs"><span>#^my_docs#</span></a></li>
    <li id="t_archDocs"><a href="##dt_archDocs"><span>#^docs_archive#</span></a></li>
    <li id="t_settings"><a href="##dt_settings"><span>#^settings#</span></a></li>
    <li id="t_Admin"><a href="##dt_Admin"><span>#^admin#</span></a></li>  ??AR_SYS_ADMIN=1
		 </ul>
	<div style="clear:both;"></div>

====================== Контейнеры содержимого закладок ============================ ??
	<div class=ui-corner-all id="dt_docs"><div id="c_docs" class="cont" style="padding-bottom:200px;;">таб Документы на подпись</div></div> ??
	<div id="dt_myDocs"><div id="c_myDocs" class="cont" style="padding:10px 0;">hack!</div></div>
	<div id="dt_archDocs"><div id="c_archDocs" class="cont">таб Архив документов</div></div>
	<div id="dt_settings"><div id="c_settings" class="cont">таб Настройки</div></div>
	<div id="dt_Admin"><div id="с_Admin" class="cont">таб Админ - переход в ПА</div></div>  ??AR_SYS_ADMIN=1
</div>
[end]


[bottom]
$INCLUDE dat/debugTools.dat[info test] ??VU|AR_SYS_ADMIN=1&c=admin/admin
----------------- Вспомогательное - сообщение о загрузке --------------- ??
<div id="loadingMsg" class="hid">
<div id="loadingCont" style="margin:10px; margin-left:150px; background-color_:white; width:300px; border_:solid 1px ##808080;">
<center><h4>Загрузка</h4><br><img src="#imgPath#wait.gif" width="48" height="48" border="0"></center>
</div></div>

</form>
$INCLUDE main.cfg[logged bottom] ??logged
</body></html>
[end]

[logged bottom]
============================= POP-UP DIVs =============================== ??
----------------- Тень под диалогом --------------- ??
<div id="overlay" class="dialog_overlay"></div>   

----------------- POP-UP диалог --------------- ??
<div id="dialog" class="dialog">
<div class="dialog_title right" >
<div id="dialog_title" style="float:left;"></div>
<div class="btn" onClick="HideDialog();" style="width:20px; height:15px; float:right;">
<img src="#imgPath#close.png" width="16" height="14" border="0" >
</div>
<div style="clear:both;"></div>
</div>
<div id="popupCont"></div>
</div>

----------------- Тень под справочником --------------- ??
<div id="sprav_overlay" class="dialog_overlay" style="z-index: 105;"></div>   

----------------- POP-UP справочник ----------------- ??
<div id="d_sprav_window" class="dialog">
<div class="dialog_title right" >
<div id="sprav_title" style="float:left;">Загрузка данных справочника</div>
<div class="btn" onClick="hideSprav();" style="width:20px; height:15px; float:right;">
<img src="#imgPath#close.png" width="16" height="14" border="0" >
</div>
<div style="clear:both;"></div>
</div>
<div id="d_spravCont" style="display:block; 
height:90%; overflow:auto; ??
">....</div>
</div>

----------------- DD-справочник ----------------- ??
<div id="dd_info" style="border:solid 1px gray; position:absolute; width:10px; background-color:white;"></div>

----------------- POP-UP TOOLTIP ----------------- ??
<div id="d_tooltip" class="tooltip"></div>

======================== IFRAMEs для динамической загрузки контента =========================== ??
<iframe width=800 
height=0 frameborder="0" ??!debug=on
height=200 scrolling="auto" frameborder="1" style="border:solid 2px green;" ??debug=on
name="wf" id="wf"></iframe>  
<iframe width=800 
height=0  frameborder="0" ??!debug=on
height=200 scrolling="auto" frameborder="1" style="border:solid 2px red;" ??debug=on
name="wf2" id="wf2"></iframe>  

$INCLUDE dat/debugTools.dat[debug links]  ??AR_SYS_ADMIN=1&c=admin/admin  
$INCLUDE [check doc status]  ??sid

$INCLUDE free/main_js_noDB.cfg[startup script]

[end]

[check doc status]
$SET_PARAMETERS doc_id=#sid#;
$CALL_SERVICE c=sys/getARUD; 
$SET_PARAMETERS sid=; ??!AR_R
<script>alert("Документ был отозван пользователем\n\r#CANCEL_FIO#, #CANCEL_DAT#."); </script> ??WF_CANCELLED=Y&!AR_R=Y
[end]



[checkAdmin]
select is_admin(#USER_ID#, null, null) as AR_SYS_ADMIN from dual; ??USER_ID
[end]

set max_sp_recursion_depth=20;
