[parameters]
KeepLog=true
debug=on ??
[end]

[report]
$SET_PARAMETERS log_sav=#log#; 
$SET_PARAMETERS_GLOBAL log=false; 

$INCLUDE common.dat[head]
</head>
<body class=persInfo_ style="margin:10">
$INCLUDE common.dat[form]
<table border=1 bgcolor=white width=500>
<tr><td> Обновнение данных:</td></tr>

<tr><td>
2. временно<br>
3. по совместительству (из других организаций)<br>
5. по срочному трудовому договору, ст.58 п.2 ТК РФ.<br>
6. по совместительству (сотрудник ОИЯИ)<br>
7. по совместительству, по направлению ПП<br>
8. по срочному трудовому договору, на определенный срок<br>
9. временно до 6 мес<br>
</td><td>
<input type=radio name=selector value="u2356789"
checked ??selector=u2356789
></td></tr>

<tr><td>
4. по срочному трудовому договору, ст.58 п.2 ТК РФ (на определенный срок)
</td><td><input type=radio name=selector value="u4"
checked ??selector=u4
>
</tr>

<tr><td>1. постоянно, на неопределенный срок (ст.58 п.1 ТК РФ)
</td><td><input type=radio name=selector value="u1"
checked ??selector=u1
>
</tr>


<tr><td>Пересчитать кол-во сотрудников
</td><td><input type=radio name=selector value="num"
checked ??selector=num
>
</tr></tr>

<tr><td>Загрузить справочник должностей
</td><td><input type=radio name=selector value="rb_08"
checked ??selector=rb_08
>
</tr></tr>

<tr><td>Импортировать данные по темам
</td><td><input type=radio name=selector value="sbj"
checked ??selector=sbj
>
</tr></tr>

<tr><td>Проверка структуры
</td><td><input type=radio name=selector value="empty"
checked ??selector=empty
>
</tr></tr>
</table>

$INCLUDE common.dat[butt] param: label=Выполнить; onClick=doIt();   img=table1.gif;

$CALL_SERVICE c=load/loadPersonsOsn; usl_rab=1  ??selector=u1
$CALL_SERVICE c=load/loadPersonsOsn; usl_rab=4  ??selector=u4
$GET_DATA [delete obsolete posts]  ??selector=u2356789
$CALL_SERVICE c=load/loadPersonsOsn; usl_rab=2,3,5,6,7,8,9 ??selector=u2356789
#ERROR#
$CALL_SERVICE c=load/setNumPersons; ??selector=num
$CALL_SERVICE c=load/loadRB08; 	??selector=rb_08
$SET_PARAMETERS_GLOBAL log=#log_sav#; 
$CALL_SERVICE c=load/load_i_subject; 	??selector=sbj
$SET_PARAMETERS_GLOBAL log=false; 
$CALL_SERVICE c=load/load_Topic_P; 	??selector=sbj
$CALL_SERVICE c=load/load_Topic_Works; 	??selector=sbj
$CALL_SERVICE c=load/checkEmpty; 	??selector=empty
$SET_PARAMETERS_GLOBAL log=#log_sav#; 
<br> ===== Done =====

</form>

<script>
function doIt()
{ document.theForm.submit();
}

</script>
</small>

</body>
</html>
[end]

[preSQLs]
select DATE_FORMAT(now(),'%Y-%m-%d %H:%i') as "DATETIME";
delete from #table_persons#; ??
delete from #table_post#; ??
[end]


[delete obsolete posts]
delete FROM p_persons_post
where id not IN (select id from p_persons)
[end]