[parameters]
KeepLog=truef
debug=on ??
[end]

[report]
$SET_PARAMETERS log_sav=#log#; 
$SET_PARAMETERS_GLOBAL log=true; 

$INCLUDE common.dat[head]
</head>
<body class=persInfo_ style="margin:10">
$INCLUDE common.dat[form]
<table border=1>
<tr><td> Обновить данные:</td></tr>

<tr><td>1. постоянно, на неопределенный срок (ст.58 п.1 ТК РФ)
</td><td><input type=checkbox name=u1
checked ??u1=on
>
</tr>

<tr><td>2. временно. <br>
4. по срочному трудовому договору, ст.58 п.2 ТК РФ (на определенный срок) <br>
5. по срочному трудовому договору, ст.58 п.2 ТК РФ. <br>
8. по срочному трудовому договору, на определенный срок <br>
9. временно до 6 мес
</td><td><input type=checkbox name=u24589
checked ??u24589=on
>
</tr>

<tr><td>
3. по совместительству (из других организаций)<br>
6. по совместительству (сотрудник ОИЯИ)<br>
7. по совместительству, по направлению ПП
</td><td><input type=checkbox name=u367
checked ??u367=on
>
<tr><td>--</td><td></tr>

<tr><td>Пересчитать кол-во сотрудников
</td><td><input type=checkbox name=num>
</tr>

</tr>

</table>


$INCLUDE common.dat[butt] param: label=Выполнить; onClick=doIt();   img=table1.gif;
</form>

$CALL_SERVICE c=load/loadPersonsOsn; usl_rab=1  ??u1=on
$CALL_SERVICE c=load/loadPersonsOsn; usl_rab=2,4,5,8,9  ??u24589=on
$CALL_SERVICE c=load/loadPersonsOsn; usl_rab=3,6,7 ??u367=on
#ERROR#
$CALL_SERVICE c=load/setNumPersons; ??num=on

$SET_PARAMETERS_GLOBAL log=#log_sav#; 
<script>
function doIt()
{ document.theForm.submit();
}

</script>
</body>
</html>
[end]

[preSQLs]
select DATE_FORMAT(now(),'%Y-%m-%d %H:%i') as "DATETIME";
delete from #table_persons#; ??
delete from #table_post#; ??
[end]


