[parameters]
service=jinr.pin.ServiceImportData 
KeepLog=true
dbDriverARCH=oracle.jdbc.driver.OracleDriver
connStringARCH=jdbc:oracle:thin:@159.93.40.236:1521:ADB21 
usrARCH=ARCH
pwARCH=bU4x47YL

dbDriverASU=oracle.jdbc.driver.OracleDriver
connStringASU=connString=jdbc:oracle:thin:@oracle01.jinr.ru:1521:ADM ??
connStringASU=connString=jdbc:oracle:thin:@addb.jinr.ru:1522:ADM
usrASU=viewdb
pwASU=version20
numBatch=100
debug=on ??
table_post=p_persons_post
table_persons=p_persons
[end]

[report header]
$SET_PARAMETERS_GLOBAL log=false 
==================================================================
<br>импорт<br> <b>#USL_RAB_FILTR# (#usl_rab#)</b><br>
<small>
[end]

[preSQLs]
select concat(cast(code as char),'. ', name,': ', '<br>') as "USL_RAB_FILTR" from rb_31 where code in(#usl_rab#)
[end]

[SQL]
$USE_DB ASU
select initcap(ФАМИЛИЯ) as "name",initcap(ИМЯ) as "name1",initcap(ОТЧЕСТВО) as "name2",ТАБНОМ as "tabnom",УСЛ_РАБОТЫ as "usl_raboti"
,ДОЛЖНОСТЬ as "dolzhnost",to_char(ДАТА_Д,'YYYY-MM-DD') as "data_d",ТИП_ДЕЯТ as "tip_dejat"
,ОТДЕЛ as "otdel",to_char(НАЧАЛО,'YYYY-MM-DD') as "nachalo",to_char(КОНЕЦ,'YYYY-MM-DD') as "konec",ПОЛ as "pol"
,to_char(ДАТА_РОЖД,'YYYY-MM-DD') as "data_rozhd",НАЦИОНАЛЬНОСТЬ as "nacionalnost",ГРАЖДАНСТВО as "grazhdanstvo"
,ОБРАЗОВАНИЕ as "obrazovanie",to_char(ДАТА_ОБ,'YYYY-MM-DD') as "data_ob",СПЕЦ as "spec"
,УЧ_СТЕПЕНЬ as "uch_stepen",ОТРАСЛЬ_Н as "otrasl_n",to_char(ДАТА_ЗАЩ,'YYYY-MM-DD') as "data_zash",to_char(ДАТА_ДОК,'YYYY-MM-DD') as "data_doc"
,УЧ_ЗВАНИЕ as "uch_zvanie",to_char(ДАТА_УЧЗВ,'YYYY-MM-DD') as "data_uch_zv", УЗКАЯ_СПЕЦ as "uzkaja_spec"
,ПЕНСИОНЕР as "pensioner", СТРАХ_ПОЛИС as "pens_nomer"

 from dbo.works_all
 
where 
 ПРИЗНАК_УВ=2 
	and УСЛ_РАБОТЫ in (#usl_rab#)
 and ОТДЕЛ in(161) ??
 and ОТДЕЛ in(9,10,38,80) ??
 and ФАМИЛИЯ like 'ФИНГЕР' ??
 and ФАМИЛИЯ like 'АКСЕНОВ%' ??
 and ФАМИЛИЯ like 'АКСЕНОВ' and ИМЯ like 'НИКОЛАЙ' ??
order by 1,2,3
[end]

where name='Беляков' and name1='Александр'

[report footer]
</small>
#ERROR#<hr> ??ERROR
$GET_DATA [delete old posts] ??!ERROR
[end]

[delete old posts]
delete from #table_post#
where not modified='#DATETIME#'
and usl_rab in(#usl_rab#)
 and otdel in(6724)  ??
;
[end]

[start loop]
$USE_DB default
[end]


#name# #name1#	#name2#	#tabnom# #otdel#
usl_rab	dolzhnost	data_d	tip_dejat	otdel	nachalo	konec	pol	data_rozhd	nacionalnost	grazhdanstvo	obrazovanie	data_ob	spec	uch_stepen	otrasl_n	data_zash	data_doc	uch_zvanie	data_uch_zv	uzkaja_spec	pensioner

[record]
$SET_PARAMETERS PersonID=; POST_EXISTS=; PERSON_EXISTS=; NUM_PERSONS=0; otdel_id=;
#usl_raboti# #name# #name1#	#name2#	#tabnom# #otdel#<br>   ??debug=on
$GET_DATA [getPersonIdByTabnom]
$GET_DATA [update post] 		??POST_EXISTS=1
$GET_DATA [getPersonIdByName]  ??!POST_EXISTS=1
$GET_DATA [update person]  	??PERSON_EXISTS=1
$GET_DATA [insert person] 	??!PERSON_EXISTS=1
$GET_DATA [insert post] 		??!POST_EXISTS=1
$INCLUDE [addOtdel]  ??!otdel_id
. ??REC_10=1
#REC_NR#: #name#  	??REC_100=1
$GET_DATA [commit]	??REC_100=1
<br>*** ERROR: #PersonID#/#tabnom#: #name#/ #ERROR# ??ERROR
$INCLUDE [error] ??!NUM_PERSONS=1&!NUM_PERSONS=0
$INCLUDE [setLog] ??
[end]

[getPersonIdByTabnom]
select id as "PersonID", 1 as "POST_EXISTS" from #table_post# where tabnom=#tabnom#;
select  1 as "PERSON_EXISTS" from #table_persons# where id=#PersonID# ??PersonID 
;
[end]


[addOtdel]
$SET_PARAMETERS NEW_PARENT_ID=1001;
$GET_DATA [getNewOtdel]
$SET_PARAMETERS NEW_DIV_PARENT=0; ??!NEW_DIV_PARENT
;
$GET_DATA [addNewOtdel]
<br></small><b>Новый отдел:</b>
#otdel# / #NEW_DIV_NAME# / #NEW_DIVISION# / #NEW_DIV_PARENT# (#NEW_PARENT_ID#): #NEW_DIV_PARENT_NAME#)
</small><br>
[end]


[getNewOtdel]
$USE_DB ASU
select 
 DIV as "NEW_DIV_PARENT"
 ,DIVNAME	as "NEW_DIV_NAME"
 ,DIVISION as "NEW_DIVISION"
from dbo.DIVISIONS
where 
 DIVCODE=#otdel#
;
select DIVISION as "NEW_DIV_PARENT_NAME" from dbo.DIVISIONS where  DIVCODE=#NEW_DIV_PARENT# ??NEW_DIV_PARENT
;
[end]

[addNewOtdel]
$USE_DB default
select id as "NEW_PARENT_ID" from t_tree where code=#NEW_DIV_PARENT#;
;
insert into t_tree (id,pid,code,numPersons, name, description, position, creator_id, created, status)
values(#NEW_DIV_ID#,#NEW_PARENT_ID#,#otdel#,1,'#NEW_DIV_NAME#','#NEW_DIVISION# (#otdel#) </b><br>/ #NEW_DIV_PARENT# (#NEW_PARENT_ID#): #NEW_DIV_PARENT_NAME#',99,0,now(),'A')
;
[end]


[getPersonIdByName]
select count(id) as NUM_PERSONS 
from #table_persons# where name='#name#' and name1='#name1#' and name2='#name2#'
and (data_rozhd='#data_rozhd#' or data_rozhd is null or '#data_rozhd#'='')
;
select id as "PersonID", 1 as "PERSON_EXISTS" ??NUM_PERSONS=1
from #table_persons# where name='#name#' and name1='#name1#' and name2='#name2#'  ??NUM_PERSONS=1
and (data_rozhd='#data_rozhd#' or data_rozhd is null or '#data_rozhd#'='')   ??NUM_PERSONS=1
;
[end]


[insert person]
select max(id)+1 as "PersonID" from #table_persons# ??!PersonID
;
insert into #table_persons# (Id, name, name1, name2, pens_nomer	
, creator_id, created, modified
, pol						??pol
, data_rozhd  	??data_rozhd
, nacionalnost  ??nacionalnost
, grazhdanstvo  ??grazhdanstvo
, obrazovanie  	??obrazovanie
, data_ob  			??data_ob
, spec  				??spec
, uch_stepen  	??uch_stepen
, otrasl_n  		??otrasl_n
, data_zash  		??data_zash
, data_doc  		??data_doc
, uch_zvanie  	??uch_zvanie
, data_uch_zv  	??data_uch_zv
, uzkaja_spec  	??uzkaja_spec
, pensioner  		??pensioner	
)
values (#PersonID#,'#name#','#name1#','#name2#','#pens_nomer#' 
, 0 ,  '#DATETIME#', '#DATETIME#'
,#pol#					??pol
,'#data_rozhd#' ??data_rozhd
,#nacionalnost# ??nacionalnost
,#grazhdanstvo# ??grazhdanstvo
,#obrazovanie# 	??obrazovanie
,'#data_ob#' 		??data_ob
,#spec# 				??spec
,#uch_stepen#  	??uch_stepen
,#otrasl_n#  		??otrasl_n
,'#data_zash#'  ??data_zash
,'#data_doc#'  	??data_doc
,#uch_zvanie#  	??uch_zvanie
,'#data_uch_zv#'??data_uch_zv
,#uzkaja_spec#  ??uzkaja_spec
,#pensioner#  	??pensioner
)
;
[end]

[insert post]
select id as "otdel_id" from t_tree where code=#otdel#
;
select max(id)+1 as "NEW_DIV_ID" from t_tree   ??!otdel_id
;
insert into #table_post#
 (id, tabnom
 , otdel
 , otdel_id
 , nachalo  	??nachalo
 , konec  		??konec
 , usl_rab  	??usl_raboti
 , dolzhnost  ??dolzhnost
 , data_d  		??data_d
 , tip_dejat  ??tip_dejat
 , creator_id, created, modified
 )
values (#PersonID#,#tabnom#
	, #otdel_id#   ??otdel_id
	, 0#NEW_DIV_ID# ??!otdel_id
	, #otdel#
 , '#nachalo#'  ??nachalo
 , '#konec#'  	??konec
 , #usl_raboti#  	??usl_raboti
 , #dolzhnost#  ??dolzhnost
 , '#data_d#'  	??data_d
 , #tip_dejat#  ??tip_dejat
, 0 , '#DATETIME#', '#DATETIME#'
)
[end]


[update post]
select id as "otdel_id" from t_tree where code=#otdel#
;
select max(id)+1 as "NEW_DIV_ID" from t_tree   ??!otdel_id
;
update #table_post# set modifier_id=0, modified='#DATETIME#'
 , otdel=#otdel_id# ??otdel_id
 , otdel=#NEW_DIV_ID#		??!otdel_id&NEW_DIV_ID
 , otdel_id=#otdel#		
 , nachalo='#nachalo#'  	??nachalo
 , konec='#konec#'  		??konec
 , usl_rab=#usl_raboti#  	??usl_raboti
 , dolzhnost=#dolzhnost#  ??dolzhnost
 , data_d='#data_d#'  		??data_d
 , tip_dejat=#tip_dejat#  ??tip_dejat
where tabnom=#tabnom#
[end]

[update person]
update #table_persons# 
set modifier_id=0, modified='#DATETIME#'
, name='#name#', name1='#name1#', name2='#name2#'
, pens_nomer='#pens_nomer#' 	??pens_nomer
$INCLUDE [DataOsn]  ??!usl_rab=3,6,7
where id=#PersonID#
;
[end]

[DataOsn]
, data_rozhd='#data_rozhd#'  	??data_rozhd
, pol=#pol#			??pol
, nacionalnost=#nacionalnost# ??nacionalnost
, grazhdanstvo=#grazhdanstvo# ??grazhdanstvo
, obrazovanie=#obrazovanie#  	??obrazovanie
, data_ob='#data_ob#'  				??data_ob
, spec=#spec#  								??spec
, uch_stepen=#uch_stepen#  		??uch_stepen
, otrasl_n=#otrasl_n#  				??otrasl_n
, data_zash='#data_zash#'  		??data_zash
, data_doc='#data_doc#'  			??data_doc
, uch_zvanie=#uch_zvanie#  		??uch_zvanie
, data_uch_zv='#data_uch_zv#' ??data_uch_zv
, uzkaja_spec=#uzkaja_spec#  	??uzkaja_spec
, pensioner=#pensioner#  			??pensioner
[end]


[commit]
commit;
[end]

[error]
<br>
<b> 	??!NUM_PERSONS=1
*** 	??NUM_PERSONS=0
#NUM_PERSONS# записи: #PERSON_ID#/#name#/#name1#/#name2#
</b> 	??!NUM_PERSONS=1
/#pol#/#data_rozhd#/#nacionalnost#/#grazhdanstvo#/
#obrazovanie#/#data_ob#/#spec#/
#uch_stepen#/#otrasl_n#/#data_zash#/#data_doc#/
#uch_zvanie#/#data_uch_zv#/#uzkaja_spec#/#pensioner#/<br>

#tabnom#/#usl_raboti#/#dolzhnost#/#data_d#/#tip_dejat#/
#otdel#/#nachalo#/#konec#/<br>
[end]



[setLog]
$SET_PARAMETERS_GLOBAL log=false; ??REC_NR=3
$SET_PARAMETERS_GLOBAL log=true; ??REC_NR=1000
$SET_PARAMETERS_GLOBAL log=false; ??REC_NR=1001
$SET_PARAMETERS_GLOBAL log=true; ??REC_NR=1500
$SET_PARAMETERS_GLOBAL log=false; ??REC_NR=1602
$SET_PARAMETERS_GLOBAL log=true; ??REC_NR=2000
$SET_PARAMETERS_GLOBAL log=false; ??REC_NR=2001
$SET_PARAMETERS_GLOBAL log=true; ??REC_NR=3000
$SET_PARAMETERS_GLOBAL log=false; ??REC_NR=3003
$SET_PARAMETERS_GLOBAL log=true; ??REC_NR=4000
$SET_PARAMETERS_GLOBAL log=false; ??REC_NR=4003
$SET_PARAMETERS_GLOBAL log=true; ??REC_NR=5000
$SET_PARAMETERS_GLOBAL log=false; ??REC_NR=5003
$SET_PARAMETERS_GLOBAL log=true; ??
[end]
