[parameters]
service=dubna.walt.service.TableServiceSimple ??FNAME
KeepLog=true
dbDriverARCH=oracle.jdbc.driver.OracleDriver
connStringARCH=jdbc:oracle:thin:@159.93.40.236:1521:ADB21 
usrARCH=ARCH
pwARCH=bU4x47YL

dbDriverASU=oracle.jdbc.driver.OracleDriver
connStringASU=connString=jdbc:oracle:thin:@oracle01.jinr.ru:1521:ADM ??
connStringASU=connString=jdbc:oracle:thin:@addb.jinr.ru:1522:ADM
usrASU=viewdb
pwASU=version20
numBatch=100
debug=on ??
table_post=p_persons_post
table_persons=p_persons
[end]

[report]
$INCLUDE [report header]
$INCLUDE [report footer]
[end]

[report header]
$INCLUDE common.dat[head]
</head>
<body class=persInfo_ style="margin:10">
$INCLUDE common.dat[form]

<table border=1 width=500>
<tr><td> Кадровая база:</td></tr>

<tr><td>Фамилия:</td><td><input name=FNAME value="#FNAME#"></td></tr>
<tr><td>Имя:</td><td><input name=NAME value="#NAME#"></td></tr>

<tr><td></td><td><input type=button onClick="document.theForm.submit()" value="GO">
</tr>
</table>
[end]

[preSQLs]
$USE_DB ASU
[end]

ФАМИЛИЯ ИМЯ ОТЧЕСТВО ТАБНОМ УСЛ_РАБОТЫ C1 ИК C2 ДОЛЖНОСТЬ C3 ДАТА_Д ТИП_ДЕЯТ C4 ОКЛАД ДАТА_ОР РАЗРЯД УТ C5 ДАТА_УТ_Н ДАТА_УТ_К ТАРИФ C6 ПРОД_РД ДАТА_ПРД ДАТА_ПРД_К ПОДРАЗДЕЛЕНИЕ C7 ДАТА_П ОТДЕЛ C8 НАЧАЛО КОНЕЦ ПОЛ C9 ДАТА_РОЖД НАЦИОНАЛЬНОСТЬ C10 ГРАЖДАНСТВО C11 ОБРАЗОВАНИЕ C12 ДАТА_ОБ СПЕЦ C13 УЧ_СТЕПЕНЬ C14 ОТРАСЛЬ_Н C15 ДАТА_ЗАЩ ДАТА_ДОК УЧ_ЗВАНИЕ C16 ДАТА_УЧЗВ УЗКАЯ_СПЕЦ C17 СЕМЬЯ C18 ДЕТИ АДРЕС ТЕЛЕФОН ПАСП_Н ПАСП_С ПЕНСИОНЕР C19 УЧ_ВОЙН СУДИМ ПРИЗНАК_УВ ДАТА_УВ ПРИЧИНА C20 ТИП_РАБ ГР СЕК DATE_UPD ПАСП_ДАТА ПАСП_КЕМ СТРАХ_ПОЛИС 

[SQL]
select initcap(ФАМИЛИЯ) ||' '||initcap(ИМЯ)||' '||initcap(ОТЧЕСТВО) as "name",ТАБНОМ as "tabnom"
,ПРИЗНАК_УВ as "ув.", to_char(ДАТА_УВ,'YYYY-MM-DD') as "_ДАТА_УВ_", ПРИЧИНА as "прич."
,УСЛ_РАБОТЫ as "usl_rab"
,ДОЛЖНОСТЬ as "dolzhnost",to_char(ДАТА_Д,'YYYY-MM-DD') as "data_d",ТИП_ДЕЯТ as "tip_dejat"
,ПОДРАЗДЕЛЕНИЕ as "podrazd",ОТДЕЛ as "otdel",to_char(НАЧАЛО,'YYYY-MM-DD') as "nachalo",to_char(КОНЕЦ,'YYYY-MM-DD') as "konec",ПОЛ as "pol"
,to_char(ДАТА_РОЖД,'YYYY-MM-DD') as "data_rozhd"
,ОБРАЗОВАНИЕ as "obraz",to_char(ДАТА_ОБ,'YYYY-MM-DD') as "data_ob",СПЕЦ as "spec"
,УЧ_СТЕПЕНЬ as "uch_stepen",ОТРАСЛЬ_Н as "otrasl_n",to_char(ДАТА_ЗАЩ,'YYYY-MM-DD') as "data_zash",to_char(ДАТА_ДОК,'YYYY-MM-DD') as "data_doc"
,УЧ_ЗВАНИЕ as "uch_zvanie",to_char(ДАТА_УЧЗВ,'YYYY-MM-DD') as "data_uch_zv", УЗКАЯ_СПЕЦ as "uzkaja_spec"
,ПЕНСИОНЕР as "pens"

 from dbo.works_all
 
where 1=1
 and ФАМИЛИЯ like upper('#FNAME#%') ??FNAME
 and ИМЯ like upper('#NAME#%') ??NAME
order by 1,2,3
[end]

[report footer]
</small>
#ERROR#
[end]
