[parameters]
debug=onf
$INCLUDE admin.cfg[parameters]
[end]
KeepLog=true

[test SQLs]
try: insert into sqlplan (statement_id) values('#usr#');
try: select distinct 'YES' as CONNECTED from sqlplan;

try: select count (*) as NUM_PRIV from dba_sys_privs where grantee = '#usr#'
  and PRIVILEGE in ('ALTER SESSION','ALTER SYSTEM','ANALYZE ANY','BECOME USER'
  ,'EXECUTE ANY LIBRARY','EXECUTE ANY OPERATOR','EXECUTE ANY PROCEDURE'
  ,'SELECT ANY TABLE','SELECT ANY DICTIONARY')
;
[end]

[report]
$INCLUDE admin.cfg[svsframe header]
&nbsp;<br><center>
$INCLUDE [test instance]
$INCLUDE headers.dat[cbutton] param: id=inst_test; func=doCancel(); label=OK; ??
<br>OraVer1='#OraVer1#'
</center></body></html>
[end]

[test instance]
Testing user #usr# on instance "#newInst#"<br>
$GET_DATA adm_inst_test.cfg[test SQLs]

$SET_PARAMETERS  PRIV_OK=Y ??NUM_PRIV=8&OraVer1=8
$SET_PARAMETERS  PRIV_OK=Y ??NUM_PRIV=9&OraVer1=9
$SET_PARAMETERS  PRIV_OK=Y ??NUM_PRIV=9&OraVer1=1
$SET_PARAMETERS  NOT_CONNECTED=Y ??!CONNECTED|!connected_to=#newInst#
$SET_PARAMETERS  USER_OK=Y ??PRIV_OK&!NOT_CONNECTED

$SET_PARAMETERS  errMsg=User #usr# has not enougth privileges ??!PRIV_OK=Y
$SET_PARAMETERS  errMsg=SQLPLAN table not found ??!CONNECTED

 - tested - OK #okImg#  ??USER_OK
 - corrupted #alertImg# ??!USER_OK&!NOT_CONNECTED
 - could not connect #alertImg# ??NOT_CONNECTED

<p>
#errMsg#
#LOGIN_ERROR#

<p>

$INCLUDE adm_inst_test.cfg[not connected] ??LOGIN_ERROR

[end]

[not connected]
<script>
confugure(); ??not configured
alert("ViewDB could not connect the instance #newInst#:\n\r#LOGIN_ERROR#") ??!not configured

$INCLUDE js.dat[window]
function confugure()
{ //if (confirm("There is no user 'ViewDB' at #newInst#.\n\rDo you want to create it?")) 
    window.location.href="#ServletRoot##ServletPath#?c=admin_inst_add&cop=ADD&new_db=y&db~s=#newInst#~s&tm=#tm#";
}
</script>
[end]
