[parameters]
service=cern.kpi.viewdb.LoginSys
debug=off
[end]

[report]
<html><body bgcolor=whitesmoke>
<form name=theForm>
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="#cop#">
<input type=hidden name="db~s" value="#db~s#">
<input type=hidden name="new_db" value="#new_db#">

</form>
$INCLUDE [login]        ??CONNECT_ERROR|!connected_to=#db~s#
$INCLUDE [create user]  ??cop=ADD&!CONNECT_ERROR&connected_to=#db~s#
$INCLUDE [drop user]    ??cop=DEL&!CONNECT_ERROR&connected_to=#db~s#
</body></html>
[end]

[login]
Login to #db~s#...
<script>
$INCLUDE js.dat[window]
//try { 
openWindow("c=repos_login_sys&new_db=y&db~s=#db~s#", 400, 300, "admin_login_sys");
//} catch (e) {}

function sysNotLogged(db)
{ 
  alert ("Could not create ViewDB user on " + db);  ??cop=ADD
  top.processDelete();  ??cop=DEL
}

function sysLogged(db)
{ document.theForm.submit();
}
</script>
[end]

[create user]
create user...
$CALL_SERVICE c=repos_create_user;
$INCLUDE [errMsg] ??CALL_SERVICE_ERROR
ViewDB user has been created on <b>#db~s#</b> ??xxx!CALL_SERVICE_ERROR
[end]

[errMsg]
<script>
alert ('Unable to create #usr# user on #db~s#\n\r');
</script>
#CALL_SERVICE_ERROR#
[end]

[drop user]
<script>
//try { 
top.processDelete();
//} catch (e) {}
</script>
[end]


[preSQLs]
try: drop user viewdb cascade; ??cop=DEL
[end]
