[parameters]
service=cern.kpi.viewdb.UserGroups  ??doIt=Y
grpcb='<input type=checkbox name=group_ids value="'||g.GROUPID
debug=off
[end]

[report]
$INCLUDE [real report]  ??!doIt=Y
<script>top.refrSelf();</script>   ??doIt
[end]

[real report]
$INCLUDE admin.cfg[svsframe header]

<input type=hidden name="userid" value="#userid#">
<center>&nbsp;<br>
<table border=0><tr><td nowrap=true>
<b>User:</b> <input size=25 name=NAME value="#NAME#">  ??DBA=Y
User: <b>#NAME#</b>     ??!DBA=Y
<br>
<br>is member of groups:<div style="margin-left:50; margin-top:0;">
<br>  ??!DBA
#GRP#
===== NONE ===== ??!GRP
</div>
</td><td nowrap=true valign=top>
<input type=button value="Update" onClick="doUpdate();" class=but><p>     ??DBA=Y
<input type=button value="Delete" onClick="deleteUser();" class=but><p>   ??DBA=Y
<input type=button value="Cancel" onClick="doCancel();" class=but>        ??DBA=Y
</td></tr></table>

</form></div>
<script>
var frm=document.theForm;
function xxxeditUser()
{ for (j=0; j<frm.elements.length; j++)
  { if (frm.elements[j].type == "checkbox" && frm.elements[j].checked)
    { doUpdate();
      return;
    }
  }

  if (confirm("User '#NAME#' does not belog to any group.\n\rAre you sure you want to delete this user"))
  { doUpdate();
  }
}

function deleteUser()
{ if (confirm("Are you sure you want to delete user '#NAME#'"))
  { doDelete();
  }
}

function doDelete()
{ frm.cop.value="DEL";
  frm.doIt.value="Y";
  frm.submit();
}
</script>
</body></html>
[end]


[preSQLs]
update users set NAME='#NAME#' where userid='#userid#' ??doIt&!cop=DEL&!cop=ADD
;

$INCLUDE [delete script]  ??cop=DEL
$INCLUDE [add script]     ??cop=ADD
$INCLUDE [get script]     ??!doIt=Y&DBA
$INCLUDE [get RO script]  ??!doIt=Y&!DBA
[end]

[get script]
SELECT NAME from users where userid='#userid#';

SELECT '1'||g.groupname, #grpcb#||'" checked>'|| g.groupname||'<br>' as GRP
FROM USER_TO_GROUP ug, USER_GROUPS g
WHERE ug.USERID='#userid#' and g.GROUPID(+)=ug.GROUPID and g.GROUPID > 0
UNION
SELECT '2'||g.groupname, #grpcb#||'" >'|| g.groupname||'<br>' as GRP
FROM USER_GROUPS g
WHERE 
  g.GROUPID not in ( select GROUPID from USER_TO_GROUP ug where USERID='#userid#')
and g.GROUPID > 0
ORDER BY 1
[end]

[get RO script]
SELECT NAME from users where userid='#userid#';

SELECT '<b>'|| g.groupname||'</b><br>' as GRP
FROM USER_TO_GROUP ug, USER_GROUPS g
WHERE ug.USERID='#userid#' and g.GROUPID(+)=ug.GROUPID and g.GROUPID > 0
ORDER BY 1
[end]

[add script]
select 'Y' as USER_EXISTS from users where userid='#userid#';
insert into users (userid, loginname, name, email, hits) values ('#userid#','#loginname#', '#name#', '#uemail#', 0)  ??!USER_EXISTS
insert into users (userid, loginname, name, email) (select PIDCFPER, UIDCFPER, initcap(FRNCFPER)||' '|| initcap(NAMCFPER), EMACFPER from foundation.cfper@viewdb_found where PIDCFPER='#userid#')  ??xxx!USER_EXISTS
;
[end]

[delete script]
delete from USER_TO_GROUP where USERID='#userid#';
delete from USERS where USERID='#userid#';
[end]