[parameters]
service=dubna.walt.service.TableServiceSortable ??!f_orausr|!f_db
service=dubna.walt.service.TableServiceSimple   ??f_orausr&f_db

tableCfg=this
table_beg=<table border="0" cellspacing="1" cellpadding="1">
$INCLUDE table.cfg[parameters]
[end]


[report header]
<input type=hidden name=f_orausr value="">
<input type=hidden name=f_db value="">
<script>
function showUsr(loginname,db)
{ frm.f_orausr.value=loginname;
  frm.f_db.value=db;
  frm.submit();
}
</script>
<div id="ilistora" style="height:300px; border-top:solid 1px gray; border-bottom:solid 1px gray; border-right:solid 1px; overflow:auto;" align=right> 
[end]


[report footer]
</div><center>

[end]


[SQL]
$INCLUDE [SQL tot]  ??!f_orausr|!f_db
$INCLUDE [SQL det]  ??f_orausr&f_db
[end]


[SQL tot]
select 
  lower(loginname) as "Login name", DB as "Instance"
  , ORA_USER as "Oracle user"
  , '<center><a href="javascript:showUsr('''||ORA_USER||''','''||db||''');">'||count(HITS)||'</a>' as "Logins"
  , sum(HITS) as "Hits"
  ,	to_char(max(LASTHIT),'DD.MM.YY HH24:MI') as "Last hit"
from ora_users u
where ??
group by LOGINNAME, DB, ORA_USER

order by 
  #srt# #desc#, ??srt 
  u.LOGINNAME
[end]

[SQL det]
select 
  lower(loginname) as "Login name", DB as "Instance"
  , ORA_USER as "Oracle user"
  , HITS as "Hits"
  ,	to_char(LASTHIT,'DD.MM.YY HH24:MI') as "Last hit"
from ora_users u
where 
 loginname='#f_loginname#'  ??f_loginname
 ORA_USER='#f_orausr#'  ??f_orausr
 and db='#f_db#'
order by 
  LASTHIT desc
[end]

[preSQLs]
$SET_PARAMETERS srt=3; desc=DESC; ??!srt|nosrt=yes
[end]

