[parameters]
service=dubna.walt.service.CfgCompiler
cfgRootPackage=cern.kpi.viewdb.cfg
outputFolder=C:/jwork/apps/viewdb/src/cern/kpi/viewdb/cfg/
debugOut=n
[end]


[report]
<html><body>
<h3>Compiling:</h3>
[end]

[end]

[configs]
[end]

[top]
package #cfgRootPackage#;
public class #className# extends dubna.walt.util.Cfg {
[end]

[section_body]
public String[] #sectionName#={
#section#};
[end]


[final_part]
public String[][] body_={#sectionsList#};
public String[] getContent()
{ body = body_; return super.getContent();}
}
[end]

