
[parameters]
service=cern.kpi.viewdb.KillSessService
KeepLog=true
[end]

[preSQLs]
SELECT
  'SPID:'||p.spid
    ||', Oracle user: '||s.username||', Client OS user:'||s.osuser
    ||',<br> program: '||s.program
    ||', machine: '||replace(s.machine,'\','/') as SESS_DET
FROM v$session s, v$process p
WHERE p.addr=s.paddr
  AND s.sid=#sid#
  AND s.serial##=#serial#
;
SELECT sid as CHILD_SID FROM v$lock
WHERE sid!=#sid#
  AND id1 IN (SELECT id1 FROM v$lock WHERE sid=#sid# AND block!=0)
;
$INCLUDE [locks]  ??CHILD_SID

$SET_PARAMETERS subject=Request to kill session on #db#; request=true;
[end]

[locks]
try: SELECT 'Locked object: "' ||u.name||'.'||o.name
  ||'" during '||decode(vl.ctime, null, '-',
      decode(trunc(vl.ctime/3600),0,'',trunc(vl.ctime/3600)||'h ')
        ||trunc((vl.ctime - trunc(vl.ctime/3600)*3600)/60)||'m'
          ||to_char(mod(vl.ctime,60),'09')||'s') as LOCKED_OBJ
 FROM v$lock vl, sys.obj$ o, sys.user$ u
 WHERE  vl.id1 = o.obj##
   and o.owner## = u.user##
   and vl.sid=#CHILD_SID#
   and vl.block=0
;
[end]

[mail body]
  #now#, ViewDB user #userName# (login name: #loginName#, email: #email#) 
  
  requests to kill session: [#sid#,#serial#] on #db#: #SESS_DET#,
  #LOCKED_OBJ#    ??LOCKED_OBJ

  User notes: #notes#

  Visit page: #ServerPath##ServletRoot##ServletPath#?c=sess_det&db=#db#&sid=#sid#&sn=#serial#
[end]


[report]
$INCLUDE headers.dat[dd header]
<input type=hidden name="kills" value="">
<input type=hidden name="sid" value="#sid#">
<input type=hidden name="serial" value="#serial#">
<center>
<table border=1 bgcolor=white cellpadding=5 cellspacing=0>
  <tr><td class=subtitle>Request to kill session [#sid#,#serial#] on #db#</td></tr>
<tr><td valign=top class=label nowrap=true>
<b>Session details:</b><blockquote>
#SESS_DET#</blockquote>
</td></tr>

$INCLUDE [request report] ??!kills
$INCLUDE [confirmation report] ??kills=done
$INCLUDE [error report] ??kills=error
<script>
window.focus();
</script>
</body></html>
[end]

kills","done

[request report]
<tr><td class=label><b>
Your comments:</b><br><center>
<textarea name="notes" cols=45 rows=4>
</textarea>
<br>&nbsp;
</td></tr><tr><td align=center>
<input type=button value=" Send the request " onClick="doIt();">&nbsp;&nbsp;
<input type=button value=" Cancel request " onClick="window.close();">
</td></tr></table>
<script>
var frm=document.theForm;
function doIt()
{ frm.kills.value="yes";
  frm.submit();
}
</script>
[end]

[confirmation report]
<tr><td class=data><center>
Your request to kill this session<br>has been successfully sent.
</td></tr><tr><td align=center>
<input type=button value="   OK   " onClick="window.close();">
</td></tr></table>
[end]

[error report]
<tr><td class=data>
Could not sent request.<br>
#ERROR#
</td></tr><tr><td align=center>
<input type=button value="   OK   " onClick="window.close();">
</td></tr></table>
[end]
