
[parameters]
service=cern.kpi.viewdb.KillSessService
KeepLog=true
[end]

[preSQLs]
$INCLUDE [Kill Session script]  ??kills
[end]

[Kill Session script]
try: SELECT
   'SPID:'||p.spid
  ||', Oracle user: '||vs.username||', Client OS user:'||vs.osuser
  ||', program: '||vs.program
  ||', machine: '||replace(vs.machine,'\','/')
 as SESS_DET
 FROM v$session vs, v$process p
 WHERE p.addr=vs.paddr AND vs.sid=#sid#
 AND vs.serial##=#serial# ??
;
SELECT sid as CHILD_SID FROM v$lock
WHERE sid!=#sid# AND id1 IN
  (SELECT id1 FROM v$lock WHERE sid=#sid# AND block!=0)
;
$INCLUDE [locks]  ??CHILD_SID


try: ALTER SYSTEM KILL SESSION '#sid#, #serial#';

$SET_PARAMETERS subject=Session killed on #db#;
[end]

[locks]
SELECT 'Locked object: "' ||u.name||'.'||o.name
  ||'" during '||decode(vl.ctime, null, '-',
      decode(trunc(vl.ctime/3600),0,'',trunc(vl.ctime/3600)||'h ')
        ||trunc((vl.ctime - trunc(vl.ctime/3600)*3600)/60)||'m'
          ||to_char(mod(vl.ctime,60),'09')||'s') as LOCKED_OBJ
 FROM v$lock vl, sys.obj$ o, sys.user$ u
 WHERE  vl.id1 = o.obj##
   and o.owner## = u.user##
   and vl.sid=#CHILD_SID#
   and vl.block=0
;
[end]

[mail body]
  #now#, ViewDB user #userName# (login name #loginName#, email: #email#)
  has killed session: [#sid#,#serial#] on #db#: 
  #SESS_DET#,
  #LOCKED_OBJ#
[end]

[kill sess]
======= These hidden input fields are used for the "kill session" operation ??
<input type=hidden name="sid" value="">
<input type=hidden name="sn" value="#sn#">
<input type=hidden name="serial" value="">
<input type=hidden name="kills" value="">

<script>
function kill_sess(sid, serial, username, machine, osuser)
{
  make_kill_request(sid, serial);     ??!lock&!admin=ACC_RIGHTS
  perform_kill(sid, serial, username, machine, osuser);   ??lock|admin=ACC_RIGHTS
}

function make_kill_request(sid, serial)
{ openWindow("c=kill_req&db=#db#&sid=" + sid + "&serial=" + serial
    , 550, 450, "ReqWindow");
}

function perform_kill(sid, serial, username, machine, osuser)
{ var frm=document.theForm;
  if (confirm("YOU ARE ABOUT TO KILL SESSION [" + sid + ", " + serial
  + "] on #db#\n (User: " + username + ", Machine: " + machine + ", OS User: " + osuser
  + ")\n\n Are you sure you want to KILL THIS SESSION?"))
  {  frm.sid.value=sid;
    frm.serial.value=serial;
    frm.kills.value="yes";
    frm.submit();
  }
}
</script>
[end]

[report]
<center>
<table border=1 bgcolor=white cellpadding=5 cellspacing=0>
$INCLUDE [confirm report] ??!getPreDataError
$INCLUDE [error report]   ??getPreDataError
[end]

[confirm report]
<tr><td valign=top align=center class=data>
  The session has been killed
</td></tr></table><br>
[end]

[error report]
<tr><td valign=top align=center>
  <h2>Could not kill this session</h2>
#getPreDataError#
</td></tr></table><br>
[end]
