[parameters]
service=dubna.walt.service.TableServiceSortable
KeepLog=true
[end]

[report header]
$SET_PARAMETERS srt=2 ??!srt

[end]

[SQL]
SELECT
 '<center><a href="javascript:sess_details('||vs.sid||','||vs.serial##||')">['
  ||vs.sid||','||vs.serial##||']<a>' as SID
  ,vs.username, aa.name, vs.status, vs.osuser
  ,vt.status as STAT
  , vt.start_time
  , vt.LOG_IO, vt.PHY_IO ??
  , CR_GET, CR_CHANGE ??

  ,rn.name as rbname
  , vt.USED_UBLK
  , vt.USED_UREC ??
FROM sys.v_$session vs,
  sys.v_$transaction vt,
  sys.v_$rollname rn,
  sys.audit_actions aa
WHERE vs.command = aa.action
  AND vs.taddr = vt.addr (+)
  AND vt.xidusn = rn.usn
  AND rn.name='#f_rbs#' ??f_rbs
  and vs.username = '#DirectOraUser#' ??DirectOraUser
ORDER by
  TO_NUMBER(vs.sid) ??srt=1
  #srt#       ??!srt=1
  #desc#
[end]

[ColNames]
SID=<br>SID,S/N
USERNAME=Oracle<br>user
NAME=<br>Command
STATUS=Session<br>Status
OSUSER=OS<br>User
STAT=Transaction<br>Status
START_TIME=<br>Start Time
RBNAME=Rollback<br>Segment
USED_UBLK=Blocks<br>used
[end]
