[parameters]
service=dubna.walt.service.TableServiceSortable ??doIt
KeepLog=true
rowLink=|<a class=r href="javascript:goToRow(#srn_i#);">#srn_i#-#ern_i#</a> ??!currentPage
rowLink=|<font color=FFFF00><b>#srn_i#-#ern_i#</b></font> ??currentPage
sortCols=VIEW_NAME,TEXT_LENGTH,STATUS ??
inval=,&nbsp;&nbsp;<font color=red>Invalid: #NUM_INVALID#</font> ??!NUM_INVALID=0
tot_obj=Total \# of snapshots: #NUM_TOTAL#.&nbsp;&nbsp;(Valid: #NUM_VALID##inval#)  ??!NUM_TOTAL=0
tableCfg=this
wrapperTable=<table bgcolor=404040 cellspacing=0 cellpadding=0><tr><th bgcolor=white>#tot_obj#</td></tr><tr><td>
sp=&nbsp;


$INCLUDE table.cfg[parameters]
[end]

[preSQLs]
SELECT distinct '<option >'||owner as OWNERS FROM sys.dba_snapshots ORDER BY 1; ??!DirectOraUser
$SET_PARAMETERS f_orauser=#DirectOraUser#  ??DirectOraUser
;
$SET_PARAMETERS debug=on; ??

SELECT count(status) as NUM_TOTAL
  ,nvl(sum(decode(STATUS,'VALID',1,0)),0) as NUM_VALID
  ,nvl(sum(decode(STATUS,'VALID',0,1)),0) as NUM_INVALID
FROM dba_snapshots
WHERE owner='#f_orauser#'   ??f_orauser
[end]

[SQL]
SELECT 
  '<a href="javascript:snapshot_det('''
    ||s.NAME||''','''||s.owner||''');"><img src="#imgPath#info_small.gif" align=TEXTTOP BORDER=0 alt="Show details for this snapshot"></a>&nbsp;'
    ||s.NAME as "Name<br>"
  , owner as "Owner<br>" 
    ??!f_orauser
  , TABLE_NAME    as "Table<br>"
  ,s.master||MASTER_LINK as "Master<br>"
  ,REFRESH_METHOD as "Refresh<br>method"
  ,ERROR as "Error<br>"
  , to_char(LAST_REFRESH,'DD/MM/YY')||'&nbsp;'||to_char(LAST_REFRESH,'HH24:MI') as "Last refresh<br>"
  , to_char(CURRENT_SNAPSHOTS,'DD/MM/YY')||'&nbsp;'||to_char(CURRENT_SNAPSHOTS,'HH24:MI') as "Current<br>Snapshots"

  ,TYPE as "Type<br>"
  ,UPDATABLE as "Updatable<br>"
, l.log_table as "Log<br>table", l.log_trigger as "Log<br>trigger"
  , '<center>'||decode(STATUS,'VALID',STATUS,'<font color=red><b>'||STATUS) as "Status<br>"
FROM sys.dba_snapshots s, sys.dba_snapshot_logs l
WHERE 
  s.owner=l.log_owner(+) and s.master=l.master(+)
  and s.owner='#f_orauser#'   ??f_orauser
  and upper(s.NAME) like upper('%#f_name#%') ??f_name
ORDER BY 
  LAST_REFRESH #desc# ??srt=7
  #srt# #desc# ??!srt=7
[end]

[report]
$INCLUDE [report header]
[end]

[report header]
$SET_PARAMETERS srt=1; desc=; ??!srt|nosrt

<p><table border=1 cellpadding=8 cellspacing=0><tr><td class=light nowrap=true>
Snapshot owner: <SELECT NAME="f_orauser"><option value=""> --- Any --- #OWNERS#</SELECT> &nbsp; ??!DirectOraUser
 Snapshot name contains: <input name=f_name size=20 value='#f_name#'>
<input type=submit class=but value="Fetch" onClick="doSubmit();">
</td></tr></table><p>


<script>
var frm=document.theForm;
selectOptionByVal(frm.f_orauser, '#f_orauser#');    ??f_orauser

function snapshot_det(name, ora_user)
{ openWindow("c=snapshot_det&db=#db#&orauser=" + ora_user
    +"&name="+name, 750, 550, "SnapshotDetails");
}

function doSubmit()
{ frm.doIt.value="y";
  frm.srn.value=1;
  frm.submit();
}
</script>
[end]
