[parameters]
service=dubna.walt.service.TableServiceSortable
KeepLog=true
[end]

[report header]
$SET_PARAMETERS srt=1; ??!srt|nosrt
$SET_PARAMETERS srn=1; rpp=99999;
<br>
[end]

[SQL]
SELECT
  ip.name
  ,SUBSTR(quest_soo_pkg.translate_parameter(ip.value),1,200) value, ??
  ,(CASE
    WHEN (ip.name='control_files')
    THEN
        substr(ip.value,1,50)||'<br>'||substr(ip.value,51)
    ELSE
      ip.value
   END) as VALUE
  ,ip.value as VALUE1 ??
  ,ip.isdefault
  ,ip.issys_modifiable
  ,ip.description
  ,ip.type ??
FROM sys.v_$parameter ip
ORDER by
    #srt# #desc#, ??srt
    1
[end]
UNION
SELECT 'log_mode' as name,
  to_char(DECODE(log_mode,'ARCHIVELOG',1,0)) log_mode,
  'TRUE' as def,
  'FALSE' as modif,
  'Indicates whether the database is in ARCHIVELOG mode or not' as desc
  2 as type ??
FROM v$database

$ATTR:WIDTH=400

[ColNames]
NAME=Name
VALUE=Value
ISDEFAULT=Is&nbsp;Default
ISSYS_MODIFIABLE=Modifiable
DESCRIPTION=_________________Description_________________
TYPE=Type
[end]
