[parameters]
service=dubna.walt.service.TableServiceSortable
KeepLog=false
dd1=<a href="javascript:get_det(''
dd2='');"><img src="#imgPath#info_small.gif" align=TEXTTOP BORDER=0 alt="Show details for this object"></a>&nbsp;

rowLink=|<a class=r href="javascript:goToRow(#srn_i#);">#srn_i#-#ern_i#</a> ??!currentPage
rowLink=|<font color=FFFF00><b>#srn_i#-#ern_i#</b></font> ??currentPage

recomp=&nbsp;<input type=button class=but onClick="recomp();" value="Recompile"> ??!NUM_INVALID=0
inval=,&nbsp;&nbsp;<font color=red><b>Invalid: #NUM_INVALID#</b></font>       ??!NUM_INVALID=0
tot_obj=Total \# of objects: #NUM_TOTAL#.&nbsp;&nbsp;(Valid: #NUM_VALID##inval#)  #recomp#  ??!NUM_TOTAL=0
tableCfg=this
wrapperTable=<table bgcolor=404040 cellspacing=0 cellpadding=0><tr><th bgcolor=white>#tot_obj#</td></tr><tr><td>
$INCLUDE table.cfg[parameters]
[end]

[preSQLs]
SELECT count(status) as NUM_TOTAL
  ,nvl(sum(decode(STATUS,'VALID',1,0)),0) as NUM_VALID
  ,nvl(sum(decode(STATUS,'VALID',0,1)),0) as NUM_INVALID
$INCLUDE [criteria]
;
$SET_PARAMETERS srt=1; desc=; ??!srt|nosrt
[end]

[SQL]
select 
  OBJECT_TYPE   ??!t
  , OBJECT_NAME ??
  , decode (OBJECT_TYPE
    ,'TRIGGER','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#'
    ,'PACKAGE','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#'
    ,'FUNCTION','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#'
    ,'PROCEDURE','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#'
    ,'TABLE','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#'
    ,'SEQUENCE','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#'
    ,'SYNONYM','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#' ??
    ,'VIEW','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#'
    ,'INDEX','#dd1#'||OBJECT_NAME||''','''||OBJECT_TYPE||'#dd2#'
      , '')||OBJECT_NAME as OBJECT_NAME
 
  , to_char(CREATED, 'dd/mm/yyyy hh24:mi') as CREATED
  , LAST_DDL_TIME, TIMESTAMP ??
  , '<center>'||decode(STATUS,'VALID',STATUS,'<font color=red><b>'||STATUS) as STATUS
  , '<center>'||TEMPORARY as TEMPORARY

$INCLUDE [criteria]

ORDER by
  CREATED #desc#,      ??srt=3
  #srt# #desc#,        ??!srt=3
  1
[end]

[criteria]
FROM dba_objects 
WHERE 
  object_type like 'SNAP%' ??
  owner='#f_orauser#'   ??f_orauser
  AND object_type='#t#' ??t
  AND upper(object_name) like upper('%#f_name#%') ??f_name
  AND OBJECT_TYPE<>'PACKAGE BODY' ??
[end]

[ColNames]
OBJECT_NAME=Object name
OBJECT_TYPE=Type
CREATED=Created
STATUS=Status
TEMPORARY=Tmp.
[end]

[report header]
<script>
function get_det(object_name, object_type)
{ var c="plsql_det";
  if (object_type == 'SYNONYM') c="table_det"; ??
  if (object_type == 'TABLE') c="table_det";
  if (object_type == 'INDEX') c="table_det";
  if (object_type == 'VIEW') c="view_det";
  if (object_type == 'SEQUENCE') c="sequence_det";
  
  openWindow("c=" + c + "&db=#db#&object_owner=#f_orauser#"
    +"&object_name="+object_name+"&object_type="+object_type
    , 650, 550, "ObjectDetails");
}
</script>
[end]
