[parameters]
service=dubna.walt.service.SqlProcedureExecutor
SqlProcedure={call test2}
SqlProcedure=test1('database', 'ARS'); ??
ReportName=#object_type# details
maxLines=100
[end]

[preSQLs]
ALTER SESSION SET CURRENT_SCHEMA = #object_owner#
[end]
ALTER SESSION SET CURRENT_SCHEMA = #usr#;

$SET_PARAMETERS startLine=1; endLine=#maxLines# ??!endLine

SELECT count(*) as NUM_LINES
FROM dba_source 
WHERE owner = '#object_owner#' 
AND name = '#object_name#' 
AND type = '#object_type#'  ??!showBody
AND type = 'PACKAGE BODY'   ??showBody
;

select 
   decode(greatest(#endLine#,#NUM_LINES#),#endLine#,'yes','') as LAST_LINE 
  ,decode(greatest(#maxLines#,#NUM_LINES#),#maxLines#,'yes','') as ALL_LINES
from dual
;
$INCLUDE [plsql SQL]    ??!object_type=TRIGGER
$INCLUDE [trigger SQL]  ??object_type=TRIGGER

[end]

[plsql SQL]
SELECT line||': <br>' as LINES
,text as SRC 
FROM 
  dba_source 
WHERE owner = '#object_owner#' 
AND name = '#object_name#'
AND type = '#object_type#'  ??!showBody
AND type = 'PACKAGE BODY'   ??showBody
and line >= #startLine#     ??startLine
and line <= #endLine#
ORDER BY line
[end]


[report]
$INCLUDE headers.dat[Head]
<BODY BGCOLOR=slategray LINK="000000" VLINK="000000" ALINK="000000">

<table bgcolor=ivory cellpadding=0 cellspacing=0 width=100%><form name=theForm>
<tr><td >&nbsp;<img src="#imgPath#spotdb.gif" border=0>
<font color=000080 size=+2>#ReportName#</font>
</td><td width=25% align=center>
<input type=hidden name=c value="#c#">
<input type=hidden name=db value="#db#">
<input type=hidden name=object_name value="#object_name#">
<input type=hidden name=object_type value="#object_type#">
<input type=hidden name=object_owner value="#object_owner#">
<input type=hidden name=startLine value="#startLine#">
<input type=hidden name=endLine value="#endLine#">
<a href="javascript:exec();">Execute</a>&nbsp;&nbsp;    ??!object_type=TRIGGER
<input type=button value="  Close  " onClick="window.close();">
</td>
</tr></table>

<table border=1 bgcolor=white cellpadding=5 cellspacing=0 width=100%>
  <tr><td class=subtitle colspan=2>#object_type# "#object_name#", Owner: "#object_owner#":
  </td></tr>
<tr><td align=center>

<table border=0 cellpadding=0 cellspacing=0>

<tr><td colspan=2 bgcolor="#EEF0FF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
$INCLUDE [linesBar]    ??!object_type=TRIGGER
&nbsp;&nbsp;&nbsp;&nbsp;<input type=checkbox name="showBody"  ??object_type=PACKAGE
CHECKED ??showBody=on&object_type=PACKAGE
onClick="sBody();">Show Package Body ??object_type=PACKAGE
&nbsp;
</td></tr>

<tr><td bgcolor=ivory align=right><pre>#LINES#</pre></td>
<td bgcolor=ivory><pre>#SRC#</pre></td></tr>
</td></tr>

<tr><td colspan=2 align=center bgcolor="#EEF0FF">
$INCLUDE [linesBar]  param: cb=no; ??!ALL_LINES&!object_type=TRIGGER
&nbsp;
</td></tr></table>
</td></tr></table>
</form>

<script>
var frm=document.theForm;

function exec()
{ openWindow("c=plsql_exec&object_owner=#object_owner#&object_type=#object_type#&object_name=#object_name#"
  , 600, 600, "Exec");
}

function getPrev()
{ var endline = #endLine# - #maxLines#;
  var startline = endline - #maxLines# + 1;
  if (startline < 1) startline = 1;
  frm.endLine.value=endline;
  frm.startLine.value=startline;
  frm.submit();
}

function getNext()
{ var endline = #endLine# + #maxLines#;
  var startline = #endLine# + 1;
  frm.endLine.value=endline;
  frm.startLine.value=startline;
  frm.submit();
}

function sAll()
{ frm.startLine.value=1;
  if (frm.showAll.checked)
    frm.endLine.value=#NUM_LINES#;
  else
    frm.endLine.value='';
  frm.submit();
}


function sBody()
{ 
  if (typeof frm.showAll == "object" && frm.showAll.checked)
    frm.showAll.checked = false;
  frm.endLine.value="";
  frm.startLine.value="";
  frm.submit();
}
</script>
</body></html>
[end]

[linesBar] param: cbname=showAll;
<a href="javascript:getPrev();"> << Previous</a>&nbsp;&nbsp;&nbsp;  ??startLine&!startLine=1
Lines: #startLine#-
#endLine#   ??!LAST_LINE
#NUM_LINES# ??LAST_LINE
 of #NUM_LINES#
&nbsp;&nbsp;&nbsp;<a href="javascript:getNext();"> Next >> </a>  ??!LAST_LINE

&nbsp;&nbsp;<input type=checkbox name="#cbname#" ??!ALL_LINES&!cb=no
CHECKED ??showAll=on&!ALL_LINES&!cb=no
onClick="sAll();">Show all Lines ??!ALL_LINES&!cb=no
[end]