[parameters]
service=cern.kpi.viewdb.LoginNormal
KeepLog=true
$INCLUDE admin.cfg[parameters]
[end]


[report]
$GET_DATA [instances]
$GET_DATA [users]
$GET_DATA [acc rights]
$GET_DATA [view]
$GET_DATA [indexes]
$GET_DATA [dblink]

#alertImg# Could not create database link to FOUNDATION: <br> "#found_link#"<p> ??!DBLINK_OK
#okImg# Repository tables created</br> ??!CALL_SERVICE_ERROR
<p>
<script>
try
{ window.opener.refrSelf();
  window.close();
} catch (e) {}
</script>
[end]


[preSQLs]
[end]

[dblink]
$SET_PARAMETERS found_link=create database link viewdb_found connect to #usr# identified by #pwd# using '#foundation_connstr#';
try: drop database link viewdb_found;
try: #found_link#; ??foundation_connstr
try: select PIDCFPER as "DBLINK_OK" from foundation.cfper@viewdb_found where rownum<2;
[end]

[instances]
try: drop table instances;
create table instances (instid varchar2(64), conn_str varchar2(64)
, service varchar2(64), type number(1), public_access number(1));

insert into instances(instid, conn_str, service, type, public_access) values
('#db#', '#db#', '#db#', 0, 0);  ??db
('#db~s#', '#db~s#', '#db~s#', 0,0);  ??!db
[end]

[users]
try: drop table users;
create table users (userid  varchar2(20), loginname varchar2(24), name varchar2(64), email varchar2(64), hits number, lasthit date, pw varchar2(20));

try: drop table user_groups;
create table user_groups(groupid number, groupname varchar2(20));
insert into user_groups(groupid, groupname) values (0,'-');
insert into user_groups(groupid, groupname) values (1,'DBA');

try: drop table ora_users;
create table ora_users 
(sessid varchar2(32), loginname varchar2(24), db varchar2(64), ora_user varchar2(64), hits number, login_time date, lasthit date);
[end]

[acc rights]
try: drop table user_to_group;
create table user_to_group(userid varchar2(20), groupid number);

try: drop table inst_acc_rights;
create table inst_acc_rights (instid varchar2(64), groupid number, acc_rights varchar2(10));
[end]

[view]
try: drop view accrights;

create view accrights as
select u.userid,u.LOGINNAME,u.name
  , ug.groupid, g.GROUPNAME
  , i.instid, i.service, i.conn_str, i.type
  , a.acc_rights
from INST_ACC_RIGHTS a, USER_TO_GROUP ug, USERS u, instances i, USER_GROUPS g
where a.groupid=ug.groupid
  and u.userid=ug.userid
  and ug.groupid=g.groupid
  and i.instid=a.instid;
[end]

[indexes]
create unique index ix_instances on instances(instid);
create unique index ix_user on USERS(userid);
create unique index ix_loginname on USERS(LOGINNAME);
create unique index ix_group on user_groups(groupid);
create index ix_usr_group_grp on user_to_group(groupid);
create index ix_usr_group_usr on user_to_group(userid);
create index ix_ar_inst on INST_ACC_RIGHTS(instid);
create index ix_ar_grp on INST_ACC_RIGHTS(groupid);
[end]
