[parameters]
service=cern.kpi.spotdb.SetupRequest
subject=SpotDB: Request to setup Spotdb for #db_new#
[end]

[report]
<html><body bgcolor=gray>
<br><center>
$INCLUDE [request report] ??!done
$INCLUDE [confirm report] ??done=yes
$INCLUDE [error report]   ??done=no
$INCLUDE headers.dat[Footer_HTML]
[end]

[request report]
<form name=theForm method=get>
<input type=hidden name="c" value="setup_request">
<input type=hidden name="db" value="#db#">
<input type=hidden name="db_new" value="#db_new#">
<input type=hidden name="conn_str" value="#conn_str#">
<input type=hidden name="send" value="">

<table border=1 bgcolor=ivory cellpadding=8><tr><td>
<b><center>SpotDB has not been configured
<br>for the database '#db_new#'.</b>
<p><small> #LOGIN_ERROR# </small>
<p><b>You can send request to DBA
<br>to configure SpotDB for this database.
<p>
<input type=button value="Send Request" onClick="sendRequest()">&nbsp;&nbsp;
<input type=button value="  Cancel  " onClick="window.close();">
<p><input type=button value="Setup" onClick="setupIt();">  ??dba=userGroup
</th></tr></table></center><p>
<script>
var frm=document.theForm;
function sendRequest()
{ frm.c.value="setup_request";
  frm.send.value="yes";
  frm.submit();
}

function setupIt()
{ frm.c.value="setup";
  frm.submit();
}
window.focus();
</script>
$INCLUDE [mail body]  ??send
[end]

[confirm report]
<table border=1 bgcolor=ivory cellpadding=18>
<tr><td class=data><center><b>
Your request to configure SpotDB
<br>for the database "#db_new#"
<br>has been sent to:</b>
<br>#setupMailTo#.
</td></tr><tr><td align=center>
<input type=button value="   OK   " onClick="window.close();">
</td></tr></table>
[end]

[error report]
<table border=1 bgcolor=ivory cellpadding=18>
<tr><td class=data><center><b>
Could not send request to: #setupMailTo#.
<p>#ERROR#
</td></tr><tr><td align=center>
<input type=button value="   OK   " onClick="window.close();">
</td></tr></table>
[end]


[mail body]
  #now#, ViewDB user #userName# (HRID=#userHRID#)
  requests to setup ViewDB
  for the database "#db_new#"

  Visit page: #ServerPath##ServletPath#/spotdb?c=setup&db_new=#db_new#
[end]

