[parameters]
ReportName=Snapshot "#name#"
service=cern.kpi.viewdb.SQLStructuringService 
SqlProcedure={call DBMS_SNAPSHOT.REFRESH ('#orauser#.#name#')}
debug=off
[end]

[refresh Query]
$EXEC_PROCEDURE {call DBMS_SNAPSHOT.REFRESH ('#orauser#.#name#')}
[end]


[info SQL]
try: SELECT query as SQL_TEXT 
  ,NAME, TABLE_NAME, s.master, MASTER_LINK
  ,REFRESH_METHOD
  ,ERROR,TYPE,UPDATABLE

  ,MASTER_VIEW,MASTER_OWNER,CAN_USE_LOG

  ,FR_OPERATIONS,CR_OPERATIONS,NEXT,START_WITH,REFRESH_GROUP,UPDATE_TRIG,UPDATE_LOG
  ,MASTER_ROLLBACK_SEG,REFRESH_MODE,PREBUILT,NEXT

  , to_char(LAST_REFRESH,'DD/MM/YY')||'&nbsp;'||to_char(LAST_REFRESH,'HH24:MI') as LAST_REFRESH
  , to_char(CURRENT_SNAPSHOTS,'DD/MM/YY')||'&nbsp;'||to_char(CURRENT_SNAPSHOTS,'HH24:MI') as CURRENT_SNAPSHOTS

, l.log_table, l.log_trigger
  , decode(STATUS,'VALID',STATUS,'<font color=red><b>'||STATUS||'</b></font>') as "STATUS"
FROM sys.dba_snapshots s, sys.dba_snapshot_logs l
WHERE 
  s.owner=l.log_owner(+) and s.master=l.master(+)
  and s.owner='#orauser#'
  and s.NAME='#name#'
;  
[end]

[refresh]
$GET_DATA [refresh Query]

<table border=1 bgcolor=white cellpadding=5 cellspacing=0 width=100%>
<tr><td>
<blockquote><b>
Refreshing ERROR:<br></b><pre>#PLSQL_ERROR#</pre> ??PLSQL_ERROR
Refreshing of the snapshot #orauser#.#name# - DONE!  ??!PLSQL_ERROR
</blockquote>
</td></tr></table>

[end]

[report]
$INCLUDE headers.dat[dd header]

$INCLUDE [refresh] ??refr=Y

$GET_DATA [info SQL]

<table border=1 bgcolor=white cellpadding=5 cellspacing=0 width=100%>
<tr><td class=subtitle>Snapshot: "#name#", Owner: "#orauser#"</td></tr>
<tr><td align=center>

<table border=1 bgcolor=white cellpadding=2 cellspacing=0>
<tr><td nowrap=true align=right valign=top>
STATUS:<br>
ERROR:<br>
TABLE_NAME:<br>
MASTER:<br>
MASTER_OWNER:<br>
TYPE:<br>
UPDATABLE:<br>
REFRESH_METHOD:<br>
REFRESH_MODE:<br>
LAST_REFRESH:<br>
CURRENT_SNAPSHOTS:<br>
NEXT:<br>

</td><td nowrap=true align=left valign=top><b>

#STATUS#<br>
#ERROR#<br>
#TABLE_NAME#<br>
#MASTER##MASTER_LINK#<br>
#MASTER_OWNER#<br>
#TYPE#<br>
#UPDATABLE#<br>
#REFRESH_METHOD#<br>
#REFRESH_MODE#<br>
#LAST_REFRESH#<br>
#CURRENT_SNAPSHOTS#<br>
#NEXT#<br> <br>
<a href="javascript:refr()"><b><i>REFRESH NOW!</i></b></a><br>
<a href="#ServletPath#?c=snapshot_refresh&sname=#orauser#.#name#" target=_blank><b><i>REFRESH NOW!</i></b></a> ??

</td><td nowrap=true align=right valign=top>

CAN_USE_LOG:<br>
LOG_TABLE:<br>
LOG_TRIGGER:<br>
FR_OPERATIONS:<br>
CR_OPERATIONS:<br>
PREBUILT:<br>
MASTER_ROLLBACK_SEG:<br>
START_WITH:<br>
REFRESH_GROUP:<br>
UPDATE_TRIG:<br>
UPDATE_LOG:<br>

</td><td nowrap=true align=left valign=top><b>
#CAN_USE_LOG#<br>
#LOG_TABLE#<br>
#LOG_TRIGGER#<br>
#FR_OPERATIONS#<br>
#CR_OPERATIONS#<br>
#PREBUILT#<br>
#MASTER_ROLLBACK_SEG#<br>
#START_WITH#<br>
#REFRESH_GROUP#<br>
#UPDATE_TRIG#<br>
#UPDATE_LOG#<br>

</td></tr></table>
</td></tr>

<tr><td  class=subtitle>Query:</td></tr>
<tr><td bgcolor=ivory>
#SQL_TEXT#

</td></tr></table>
<input type=hidden name=refr>
<input type=hidden name=orauser value='#orauser#'>
<input type=hidden name=name value='#name#'>
</form>

<script>
function table_det(orauser,object_name, operation)
{ var c = "table_det";
  if (operation == "VIEW")
    c = "view_det";
  openWindow("c="+c+ "&db=#db#&object_owner="+orauser
    +"&object_name="+object_name+"&operation="+escape(operation)
    , 650, 550, "TableDetails");
}

function refr()
{
  document.theForm.refr.value="Y";
  document.theForm.submit();
} 
window.focus();
</script>
</body></html>
[end]