[parameters]

service=cern.kpi.viewdb.SQLDetailsService ??
[end]

[preSQLs]

$INCLUDE [Statistics SQL] ??hash&addr

$INCLUDE [Session SQL] ??hash&addr

[end]


[Statistics SQL]
SELECT /*+ RULE*/
  to_char(s.executions,'999G999G990') as EXECUTIONS

  ,to_char(s.buffer_gets,'999G999G990') as BUFFER_GETS
  ,to_char(s.buffer_gets*100/total.buffer_gets,'990D99') as PCT_TOTAL_GETS
  ,to_char(s.buffer_gets/executions,'999G999G999G990D99') as GETS_EXEC
  ,to_char(s.buffer_gets/decode(s.rows_processed,0,1,s.rows_processed),'9999G990D99') as GETS_PER_ROW

  ,to_char(s.disk_reads,'999G999G999G990') as DISK_READS
  ,to_char(disk_reads/executions,'999G999G999G990D99') as DISK_EXEC
  ,to_char(disk_reads/decode(s.rows_processed,0,1,s.rows_processed),'999G999G999G990D99') as DISK_PER_ROW

  ,to_char(s.rows_processed,'999G999G999G990') as ROWS_PROCESSED
  ,to_char(rows_processed/executions,'999G999G990D99') as ROWS_EXEC

  ,to_char(s.sorts,'999G999G990') as SORTS
  ,to_char(sorts/executions,'999G999G999G990D99') as SORTS_EXEC
  ,to_char(s.sorts/decode(s.rows_processed,0,1,s.rows_processed),'999G999G999G990D99') as SORTS_PER_ROW

  ,u.username
  ,optimizer_mode,optimizer_cost
  ,to_char(to_date(first_load_time,'YYYY-MM-DD/HH24:MI:SS'),'dd.mm.yy HH24:MI:SS') as FIRST_LOAD_TIME

FROM v$sql s, all_users u,
     (select sum(buffer_gets) buffer_gets from v$sql) TOTAL
WHERE   executions > 0
  AND u.user_id=s.parsing_user_id  ??!SID|!SERIAL
  AND s.hash_value=#hash#
  AND s.address='#addr#'
  AND u.username='#orauser#'
  and s.CHILD_NUMBER=0
;
[end]

[Session SQL]
SELECT /*+ RULE*/
   p.spid as spid
  ,p.username osuser1
  ,'['||p.pid||','||p.serial#||']' SER1
  ,s.username ORAUSER
  ,s.osuser OSUSER2
  , s.sid
  ,s.serial## as SERIAL
  , '<a href="javascript:sess_details('||s.sid||','||s.serial##||')">['||s.sid||','||s.serial##||']<img src="#imgPath#info_small.gif" BORDER=0 alt="Show details for this session"><a>' as SER2  ??
  ,'['||s.sid||','||s.serial#||']' SER2 ??xxx
  ,s.process
  ,lower(p.terminal) TERM1
  ,s.program PROG2
  ,lower(s.machine) as MACHINE
  ,lower(s.terminal) TERM2
FROM
  gv$session s, gv$process p, gv$sql a
  v$session s, v$process p, sys.v_$sqlareag a ??
WHERE
  a.address (+) = s.sql_address ??
  a.address = s.sql_address
  AND s.sid=#SID# AND s.serial##=#SERIAL#  ??SID&SERIAL
  AND p.ADDR = s.PADDR
  AND a.hash_value=#hash#
  AND a.address=hextoraw('#addr#')
  AND s.username='#orauser#'
  AND p.spid=#spid#   ??spid
  and a.CHILD_NUMBER=0
;
[end]


[report]

$INCLUDE [statistics]
$INCLUDE [session]  ??SPID
</TD></TR></TABLE>
</TD></TR></TABLE>
[end]


[session]
<tr><td></td></tr>
<tr><td  class=subtitle>Session information:</td></tr>
<tr><td align=center class=cont>
<table border=0 cellpadding=2>
<tr>
<td nowrap=true align=right><b>Server PID:<br>PID,S/N:<br>
<a href="javascript:sess_details('#SID#','#SERIAL#');"><img src="#imgPath#info_small.gif" BORDER=0 alt="Show details for this session" align=TOP>
SID,S/N:</a>
</td>
<td nowrap=true>#SPID#<br>#SER1#<br>[#SID#,#SERIAL#]</td>
<td rowspan=2 width=3%>&nbsp;</td>

<td align=right nowrap=true><b>Oracle User:<br>OS User:<br>Client OS user:</td>
<td nowrap=true>#ORAUSER#<br>#OSUSER1#<br>#OSUSER2#</td>
<td rowspan=2 width=3%>&nbsp;</td>

<td align=right nowrap=true><b>Program:<br>Machine:<br>Terminal 1:
<br>Terminal 2: ??
</td>
<td nowrap=true>#PROG2#<br>#MACHINE#<br>#TERM1#
<br>#TERM2# ??
</td></tr></table>

[end]

[statistics]
<tr><td></td></tr>
<tr><td class=subtitle>Execution statistics:</td></tr>
<tr><td align=center class=cont>
<table border=0>
<tr><td></td><th width=12% nowrap=true align=right>Total</th>
<th width=12% nowrap=true align=right>&nbsp;&nbsp;Per Exec</th>
<th width=12% nowrap=true align=right>&nbsp;&nbsp;Per Row</th>
<td rowspan=2 width=5%>&nbsp;</td>
<td align=right><b>Oracle user:</td><td>#USERNAME#</td>
</tr><tr>
<td nowrap=true><b>Executions:<br>Rows:<br>Buffer gets:<br>Disk reads:<br>Sorts:</td>
<td align=right>#EXECUTIONS#<br>#ROWS_PROCESSED#<br>#BUFFER_GETS#<br>#DISK_READS#<br>#SORTS#</td>
<td align=right> <br>#ROWS_EXEC#<br>#GETS_EXEC#<br>#DISK_EXEC#<br>#SORTS_EXEC#</td>
<td align=right>.<br>.<br>#GETS_PER_ROW#<br>#DISK_PER_ROW#<br> #SORTS_PER_ROW#</td>
<td align=right nowrap=true><b>First load:<br>Optimizer mode:<br>
Optimizer cost:<br>% of Total gets: </td>
<td nowrap=true>#FIRST_LOAD_TIME#<br>#OPTIMIZER_MODE#<br>
#OPTIMIZER_COST#<br>#PCT_TOTAL_GETS#%<br>
</td></tr></table>
</td></tr>
[end]


[report footer]
Can't execute Explain Plan operation.<br> ??ERROR
Error: <img src="#imgPath#alert.gif" alt="Error message"> #ERROR# ??ERROR
</td></tr></table>

<script>
function tune()
{ var s=window.location.href;
  var i = s.indexOf("?");
  if (i > 0)
    s = s.substring(0,s.indexOf("?") + 1);
  else
    s = s + "?";
  s = s + "c=sql_plan&db=#db#&orauser=#orauser#&hash=#hash#&addr=#addr#&cop=exp&dd=y";
  window.location.href=s;
}

function table_det(object_owner,object_name, operation)
{ var c = "table_det";
  if (operation == "VIEW")
    c = "view_det";
  openWindow("c="+c+ "&db=#db#&object_owner="+object_owner
    +"&object_name="+object_name+"&operation="+escape(operation)
    , 650, 550, "TableDetails");
}

</script>
</body></html>
[end]