[parameters]
service=cern.kpi.viewdb.SQLExecService
ReportName=SQL Executing
$INCLUDE table.cfg[rowLinks]
[end]


[report header]
$SET_PARAMETERS srn=1; ??!srn
$SET_PARAMETERS rpp=25; ??!rpp
<input type=hidden name=srn value="#srn#"> 
<tr><td class=cont>
<blockquote>
<input class=ro readonly name=timer size=25 >
<input type=button class=but name=b_doIt value="Execute" onClick="doIt();">
<div id="cancmsg"> Press <font color=FF0000><b>&lt;Esc></b></font> to cancel</div>   ??cop=exe&MSIE=YES

<input type=button class=but name=b_stopIt value="Cancel" onClick="stopIt_();"  ??!MSIE=YES
disabled  ??!cop=exe&!MSIE=YES
>   ??!MSIE=YES
</blockquote>
</td></tr></table>

<script>
var frm=document.theForm;
var timer=0;
var timerRunning = true;

function showtime()
{ if (timerRunning)
  { frm.timer.value = "EXECUTING " + timer + " sec.";
    setTimeout("showtime()",1000);
    timer=timer+1;
  }
}
showtime(); frm.b_doIt.disabled=true; ??cop=exe&CONNECTED

function doIt()
{ frm.cop.value="exe";
  try { frm.srn.value="1"; } catch (e) {}
  frm.b_doIt.disabled=true;
  frm.b_stopIt.disabled=false;  frm.b_stopIt.focus();  ??!MSIE=YES 
  frm.submit();
}

function stopIt_()
{ timerRunning = false;
  frm.b_stopIt.disabled=true;    ??!MSIE=YES
  try {  document.all['cancmsg'].style.visibility = 'hidden'; } catch (e) {}  ??MSIE=YES
  frm.timer.value = "Execution canceled"; 
  frm.b_doIt.disabled=false;
  frm.cop.value="";
  frm.b_doIt.focus();
  window.stop();      ??!MSIE=YES
//  return false;
}

function checkKey(ev) 
{     
if (event.keyCode == 27)  ??MSIE=YES
if (ev.which == 27)  ??!MSIE=YES
  stopIt_();
//return true;
}

document.captureEvents(Event.KEYDOWN);   ??!MSIE=YES
document.onkeydown = checkKey;
document.onstop=stopIt_;     ??MSIE=YES&cop=exe

</script>
[end]


[SQL]
#SQL_TEXT# ??CONNECTED&cop=exe
[end]

[finished]
<script>
timerRunning = false;
frm.timer.value = "SQL executed in #timer#";  ??cop=exe
frm.timer.value = "";  ??!cop=exe
frm.b_stopIt.disabled=true; ??!MSIE=YES
frm.b_doIt.disabled=false;
frm.b_doIt.focus();
</script>

<table border=0 width=100% cellpadding=0 cellspacing=0 bgcolor=whitesmoke>
<tr><td width=100%>
<blockquote><input class=ro readonly name=action_msg size=25 value="Retrieving results..."> ??cop=exe
</td></tr></table>

<table width=100% bgcolor=whitesmoke cellpadding=5><tr><td>
[end]

[report footer]
</td></tr>
<tr><td><table cellpadding=0 cellspacing=0 width=100%><tr><td bgcolor=303060>
<font color=white><i>&nbsp;&nbsp;
Rows Per Page:  ??NumTableRows
Get Top Rows:   ??!NumTableRows
<SELECT NAME="rpp"><OPTION> 10<OPTION> 25<OPTION> 100<OPTION VALUE="99999">no limit</SELECT> &nbsp; &nbsp;
Rows:</i> #rowLinks#  ??NumTableRows
</td></tr></table>
</td></tr></table>

<script>
try 
{ frm.b_doIt.disabled=false;
  frm.b_stopIt.disabled=true;   ??!MSIE=YES
  frm.b_doIt.focus();
  frm.action_msg.value = "Results obtained:"; ??cop=exe&!no_results=y
  frm.action_msg.value = "";    ??!cop=exe|no_results=y
  document.all['cancmsg'].style.visibility = 'hidden';  ??MSIE=YES
}
catch (e) {}

try{
selectOptionByVal(frm.rpp, "#rpp#");  ??rpp
} catch (e) {}
frm.hash.value="#hash#" ??hash
frm.addr.value="#addr#" ??addr

function goToRow(nr)
{ frm.srn.value=nr;
  frm.cop.value="exe";
  frm.submit(); 
}

function custom_login()
{ openWindow("c=loginCustom&db=#db#&orauser=#orauser#"
    , 450, 250, "LoginCustom");
}

custom_login(); ??!CONNECTED

function logged()
{ doIt();
}

</script>

[end]

[err msg]
<script>
timerRunning = false;
frm.timer.value = "SQL executed in #timer#";
</script>
<table width=100% bgcolor=whitesmoke>
<tr><td width=100% bgcolor=gray></td></tr><tr><td width=100%>
<blockquote>
<img src="#imgPath#alert.gif">&nbsp;Error:  #ERROR# ??ERROR
[end]

[markSession]
select sys.dbms_session.unique_session_id() as SESS_ID from dual;
SELECT 'VIEWDB-#SESS_ID#' AS VIEWDBID FROM DUAL;
[end]

[getSessID]
SELECT s.sid, s.SERIAL## as SERIAL, s.SID||':'||s.serial# as SESS_LABEL
FROM gv$sql a, gv$session s
WHERE a.address = s.sql_address
AND a.HASH_VALUE=s.SQL_HASH_VALUE
AND upper(a.sql_text) ='SELECT ''VIEWDB-#SESS_ID#'' AS VIEWDBID FROM DUAL';
[end]

[getSqlID]
SELECT s.sql_hash_value as "hash", s.sql_address as "addr"
FROM v$session s
WHERE s.SID=#SID# AND s.serial##=#SERIAL#;
[end]

