[parameters]
ReportName=SQL Details  ??!view_name
ReportName=View:<br>&nbsp;"#view_name#"  ??view_name
service=cern.kpi.viewdb.SQLStructuringService
MORE_HEADER=Database: <b>#SERVICE#</b> (#db#)<br>Schema: <SELECT NAME="orauser">#OWNERS#</SELECT> ??!DirectOraUser
MORE_HEADER=Database: <b>#host#/#instance#</b> (#db#)<br>Schema: <b>#DirectOraUser#</b> ??DirectOraUser
tabH=22
debug=off
[end]

[preSQLs]
SELECT '<option value='''||username||'''>'||username as OWNERS FROM sys.dba_users ORDER BY username  ??!OWNERS&!DirectOraUser
;
$INCLUDE [getSQL]   ??hash&addr&!SQL_TEXT
$INCLUDE [getView]  ??orauser&view_name&!SQL_TEXT

[end]

[getView]
try: SELECT text as SQL_TEXT FROM sys.dba_views
WHERE owner = '#orauser#' AND  view_name= '#view_name#';
[end]

[getSQL]
SELECT SQL_TEXT
FROM V$SQLTEXT_WITH_NEWLINES
WHERE hash_value=#hash# AND address='#addr#'
$INCLUDE [test user criteria] ??DirectOraUser
ORDER BY PIECE;
[end]

[test user criteria]
and exists (select u.username as PARSING_USER
FROM gv$sql a, all_users u
WHERE u.user_id=a.parsing_user_id
and a.CHILD_NUMBER=0
and a.hash_value=#hash# AND a.address='#addr#'
and u.username='#DirectOraUser#'
)
[end]

[tab] param: label; link;
<TD class=tab nowrap=true><IMG border=0 src="#imgPath#tab1.gif" width=4 height=#tabH#></TD>
<TD class=tab nowrap=true width=100pt align=center><A class=tab href="#link#">#label#</A></TD>
<TD nowrap=true class=tab><IMG border=0 src="#imgPath#tab2.gif" width=4 height=#tabH#></td>
[end]

[atab] param: label; link;
<TD class=atab  nowrap=true vAlign=top><IMG border=0 src="#imgPath#atab1.gif" width=5 height=#tabH#></TD>
<TD nowrap=true align=middle class=atab width=100pt align=center><A class=atab href="#link#">#label#</A></TD>
<TD nowrap=true class=atab><IMG border=0 src="#imgPath#atab2.gif" width=6 height=#tabH#></TD>
[end]


[report]
$SET_PARAMETERS atab=1; ??!atab
$INCLUDE headers.dat[dd header]
<input type=hidden name=cop value="">
<input type=hidden name=hash value="#hash#">
<input type=hidden name=addr value="#addr#">
<input type=hidden name=dd value="">
<input type=hidden name=atab value="#atab#">
<input type=hidden name=OWNERS value="#OWNERS#">
<input type=hidden name=rpp value="#rpp#">  ??NumTableRows=0|!atab=3
<input type=hidden name=srn value="1">      ??NumTableRows=0|!atab=3
<input type=hidden name=view_name value="#view_name#">
orauser& ??

<div style="position: absolute; z-index: 10; top: 0px; left: 0px; visibility: hidden;"><TEXTAREA NAME="SQL_TEXT">#SQL_TEXT#</TEXTAREA> </div> ??atab=1|atab=4

<br>
<table id=mainTable border=0 cellpadding=0 cellspacing=0 width=100%>
<TR><TD><TABLE border=0 cellPadding=0 cellSpacing=0 width=100%>
<TR >
$INCLUDE [atab] param: label=Statistics; link=javascript:selTab(1);   ??atab=1
$INCLUDE [tab] param: label=Statistics; link=javascript:selTab(1);    ??!atab=1
$INCLUDE [atab] param: label=Explain&nbspplan; link=javascript:selTab(2); ??atab=2
$INCLUDE [tab] param: label=Explain&nbspplan; link=javascript:selTab(2);  ??!atab=2
$INCLUDE [atab] param: label=Execute; link=javascript:selTab(3);      ??atab=3
$INCLUDE [tab] param: label=Execute; link=javascript:selTab(3);       ??!atab=3
$INCLUDE [atab] param: label=Connections; link=javascript:selTab(4);  ??atab=4&!DirectOraUser
$INCLUDE [tab] param: label=Connections; link=javascript:selTab(4);   ??!atab=4&!DirectOraUser
<td width=90% align=right></TD></TR><tr>
<td bgcolor=555555 colspan=  ??!atab=1
3 ??atab=2
6 ??atab=3
9 ??atab=4
></td>  ??!atab=1
<td bgcolor=whitesmoke colspan=3 align=right><IMG border=0 src="#imgPath#dot_black.gif" height=1 width=1 ></td>
<td bgcolor=555555 colspan=
13  ??atab=1
10  ??atab=2
7   ??atab=3
4   ??atab=4
></td></tr>
</TABLE>

</td></tr>
<tr></td><td class=cont><br><blockquote >
#SQL#  ??atab=1|prn
<TEXTAREA NAME="SQL_TEXT" ROWS=8 COLS=80 wrap="VIRTUAL" onkeypress="sqlChanged();">#SQL_TEXT#</TEXTAREA> ??!prn&atab=2|atab=3
<TEXTAREA NAME="SQL_TEXT" ROWS=10 COLS=85 wrap="VIRTUAL" onkeypress="sqlChanged();">#SQL_TEXT#</TEXTAREA> ??xxx!prn&atab=2|atab=3
</blockquote>
</td></tr>

<script>
var frm=document.theForm;

$INCLUDE js.dat[dropdowns] ??orauser
selectOptionByVal(frm.orauser, '#orauser#');    ??orauser

function selTab(nr)
{ frm.atab.value=nr;
  frm.submit();
}

function sqlChanged()
{ frm.hash.value="";
  frm.addr.value="";
  try { frm.refrButton.disabled=false; }
  catch (e) {}
}

function table_det(object_owner,object_name, operation)
{
  var c = "table_det";
  if (operation == "VIEW")
    c = "view_det";
  openWindow("c="+c+ "&db=#db#&object_owner="+object_owner
    +"&object_name="+object_name+"&operation="+escape(operation)
    , 650, 550, "TableDetails");
}

</script>


$CALL_SERVICE c=sql_stat  ??atab=1
$CALL_SERVICE c=sql_plan  ??atab=2
$CALL_SERVICE c=sql_exec  ??atab=3
$CALL_SERVICE c=sql_conns  ??atab=4

<input type=hidden name=SID value="#SID#">
<input type=hidden name=SERIAL value="#SERIAL#">

</form></body></html>
[end]