[parameters]
service=dubna.walt.service.TableServiceSimple ??
service=cern.kpi.viewdb.SQLExecService ??orauser

$INCLUDE table.cfg[rowLinks]
[end]

[report]
$INCLUDE [report header]
$INCLUDE [report footer]

[end]

[report header]
$SET_PARAMETERS srn=1; ??!srn
$SET_PARAMETERS rpp=25; ??!rpp
<input type=hidden name=srn value="#srn#"> 
<input type=hidden name=cop value="#cop#"> 

<table><tr><td align=center>
<b>Connect as:</b> <select name=orauser>#ORAUSERS#</select><br>
<input type="button" class=but value="Get data!" onClick="doIt();">
</td><td valign=top>
<br><b>SQL: </b>
</td><td><TEXTAREA NAME="SQL_TEXT" ROWS=3 COLS=40 wrap="VIRTUAL" >#SQL_TEXT#</TEXTAREA>
</td></tr></table>
</td></tr></table>
<center>
[end]


[SQL]
#SQL_TEXT# ??CONNECTED&cop=exe
[end]


[report footer]
</td></tr>
<tr><td><table cellpadding=0 cellspacing=0 width=100%><tr><td bgcolor=303060>
<font color=white><i>&nbsp;&nbsp;
Rows Per Page:  ??NumTableRows
Get Top Rows:   ??!NumTableRows
<SELECT NAME="rpp"><OPTION> 10<OPTION> 25<OPTION> 100<OPTION VALUE="99999">no limit</SELECT> &nbsp; &nbsp;
Rows:</i> #rowLinks#  ??NumTableRows
</td></tr></table>
</td></tr></table>

<script>

var frm=document.theForm;

function selectOptionByVal(dd,val)
{ if (val == "None" || val.length == 0) return;
if (typeof dd != "object") return;
var opt=dd.options;
if (typeof opt != "object") return;

var re = new RegExp("~" + val.replace(/\W/g,"") + "~","i");
//    alert ("***** '" + val.replace(/\W/g,"") + "' : '" + re + "'");
for (i=0; i < opt.length; i++)
{ var v = opt[i].text.replace(/\W/g,"");
if (re.test("~" + opt[i].value.replace(/\W/g,"") + "~") ||
re.test("~" + opt[i].text.replace(/\W/g,"") + "~"))
{	opt[i].selected=true;
//     alert (val + ":" + opt[i].value.replace(/\W/g,""));
return;
}
}
}

function getCookie(name)
{ var search = name+"=";
  if (document.cookie.length > 0)
  { offset = document.cookie.indexOf( search);
    if (offset != -1)
    { offset += search.length;
      end = document.cookie.indexOf(";", offset);
      if (end == -1) end = document.cookie.length;
      return unescape( document.cookie.substring( offset, end));
    }
  }
  return null;
}

try{
selectOptionByVal(frm.rpp, "#rpp#");  ??rpp
} catch (e) {}
try{
selectOptionByVal(frm.orauser, "#orauser#");  ??orauser
} catch (e) {}

document.cookie = "ViewDB_OraUser=#orauser#; path=/;"; ??orauser
var orauser=null;
 orauser=getCookie("ViewDB_OraUser"); ??!orauser
if (orauser != null && orauser != "")
{ try{
    selectOptionByVal(frm.orauser, orauser);
  } catch (e) {}
}

function goToRow(nr)
{ frm.srn.value=nr;
  frm.cop.value="exe";
  frm.submit(); 
}

function doIt()
{ frm.srn.value=1;
  frm.cop.value="exe";
  frm.submit(); 
}

function custom_login()
{ openWindow("c=loginCustom&db=#db#&orauser=#orauser#"
    , 450, 250, "LoginCustom");
}

custom_login(); ??!CONNECTED&cop=exe&orauser

function logged()
{ doIt();
}

</script>

[end]

[preSQLs]
$INCLUDE [markSession]
[end]


[markSession]
SELECT '<option value='''||username||'''>'||username as ORAUSERS FROM sys.dba_users ORDER BY username  ??!OWNERS&!DirectOraUser
;
[end]

select sys.dbms_session.unique_session_id() as SESS_ID from dual;
SELECT 'VIEWDB-#SESS_ID#' AS VIEWDBID FROM DUAL;
[end]

[getSessID]
[end]
SELECT s.sid, s.SERIAL## as SERIAL, s.SID||':'||s.serial# as SESS_LABEL
FROM gv$sql a, gv$session s
WHERE a.address = s.sql_address
AND a.HASH_VALUE=s.SQL_HASH_VALUE
AND upper(a.sql_text) ='SELECT ''VIEWDB-#SESS_ID#'' AS VIEWDBID FROM DUAL';
[end]

[getSqlID]
[end]

SELECT s.sql_hash_value as "hash", s.sql_address as "addr"
FROM v$session s
WHERE s.SID=#SID# AND s.serial##=#SERIAL#;
[end]

