[parameters]
ReportName=Top SQLs
[end]

[preSQLs]
$SET_PARAMETERS f_orauser=#DirectOraUser#; ??DirectOraUser
;
$INCLUDE [getUsersSQL] ??!DirectOraUser

select distinct '<option>'||osuser as SOSUSERS
FROM v$session where not osuser is null 
 AND username='#DirectOraUser#' ??DirectOraUser

ORDER BY 1
[end]

[getUsersSQL]
select distinct '<option>'||username as ORAUSERS
FROM v$session WHERE username is not null 
  AND username<>upper('#usr#') ??!DBA=Y
ORDER BY 1;

select distinct '<option>'||username as OSUSERS
FROM v$process WHERE username is not null 
ORDER BY 1;
[end]

[adv filters]
<tr><td valign=top nowrap=true>SPID:&nbsp; <input name="f_spid" value="#f_spid#" size=7> </td>
<td align=right>
Oracle User:</td><td><SELECT NAME="f_orauser"><option value="">__any__ #ORAUSERS#</SELECT> 
</td></tr><tr><td></td>

<td align=right>OS User:</td><td><SELECT NAME="f_osuser"><option value="">__any__ #OSUSERS#</SELECT></td> 
</tr>
[end]

[report]
$SET_PARAMETERS msi=on; mstat=on; ??!srt|nosrt=yes
$SET_PARAMETERS srn=1;  ??!srn
$SET_PARAMETERS rpp=10; ??!rpp
$INCLUDE [setDefaultSort]  ??xxx&nosrt=set|!srt
$GET_DATA [setDefaultSort]  ??nosrt=set|!srt

<table border=0 cellspacing=0 cellpadding=0>
<tr><td valign=center>
================ Filters table ==================== ??
<table border=0 cellspacing=0 cellpadding=3>

$INCLUDE [adv filters]  ??!DirectOraUser

<tr><td></td><td nowrap=true align=right>Client OS User:</td><td>
<SELECT NAME="f_sosuser"><option value="">__any__ #SOSUSERS#</SELECT>
</td></tr>

<td colspan=3 nowrap=true>SQL contains:&nbsp;<input name="f_sql" value="#f_sql#" size=40>&nbsp;&nbsp;</td>
</tr></table>

<td bgcolor=808080 width=1></td>

================ "Show" table ==================== ??
<td valign=top><table border=0 cellspacing=0 cellpadding=1 >
<tr>
<th><b>Show:</b></th><td>Sess.Info&nbsp;</td><td>&nbsp;Statistics</td>

</tr><tr>

<td align=right>Main columns:</td><td align=center><input type=checkbox name="msi"
CHECKED ??msi
onClick="changeSort();"></td><td align=center><input type=checkbox name="mstat"
CHECKED ??mstat
onClick="changeSort();"></td>

</tr><tr>

<td align=right nowrap=true>&nbsp;Extra columns:</td><td align=center>
<input type=checkbox name="esi"
CHECKED ??esi
onClick="changeSort();"></td><td align=center>
<input type=checkbox name="estat"
CHECKED ??estat
onClick="changeSort();"></td>
</tr><tr>

<td colspan=3 align=center><br>
<input class=button type=submit value="   Fetch SQLs   " onClick="makeReport();"></td>
</tr></table>

</tr></table>
</td></tr></table>
<p>

<script>
var frm=document.theForm;
selectOptionByVal(frm.f_osuser, '#f_osuser#');    ??f_osuser
selectOptionByVal(frm.f_orauser, '#f_orauser#');  ??f_orauser
selectOptionByVal(frm.f_sosuser, '#f_sosuser#');  ??f_sosuser
frm.f_sql.value=""; ??f_sql=see Custom Criteria

function changeSort()
{ frm.nosrt.value="set";
  makeReport(); ??
}
function makeReport()
{
  frm.doIt.value="y";
  frm.submit();
}

</script>
$CALL_SERVICE c=sqls_top_doit ??doIt
</td></tr>

<tr><td><table width=100%><tr><td bgcolor=303060>
<font color=white><i>&nbsp;&nbsp;
Rows Per Page:  ??NumTableRows
Get Top Rows:   ??!NumTableRows
<SELECT NAME="rpp"><OPTION> 10<OPTION> 25<OPTION> 100<OPTION VALUE="99999">no limit</SELECT> &nbsp; &nbsp;
Rows:</i> #rowLinks# | ??NumTableRows
</td></tr></table>
<script>
selectOptionByVal(frm.rpp, "#rpp#");  ??rpp
</script>

[end]


[setDefaultSort]
$SET_PARAMETERS desc=desc

$SET_PARAMETERS srt=9;  ??msi=on&mstat=on&!esi=on&!estat=on
$SET_PARAMETERS srt=4;  ??msi=on&!mstat=on&!esi=on&!estat=on
$SET_PARAMETERS srt=4;  ??!msi=on&mstat=on&!esi=on&!estat=on
$SET_PARAMETERS srt=2;  ??!msi=on&!mstat=on&!esi=on&!estat=on

$SET_PARAMETERS srt=13; ??msi=on&mstat=on&esi=on&!estat=on
$SET_PARAMETERS srt=5;  ??msi=on&!mstat=on&esi=on&!estat=on
$SET_PARAMETERS srt=7;  ??!msi=on&mstat=on&esi=on&!estat=on
$SET_PARAMETERS srt=3;  ??!msi=on&!mstat=on&esi=on&!estat=on

$SET_PARAMETERS srt=9;  ??msi=on&mstat=on&!esi=on&estat=on
$SET_PARAMETERS srt=4;  ??msi=on&!mstat=on&!esi=on&estat=on
$SET_PARAMETERS srt=4;  ??!msi=on&mstat=on&!esi=on&estat=on
$SET_PARAMETERS srt=3;  ??!msi=on&!mstat=on&!esi=on&estat=on

$SET_PARAMETERS srt=13; ??msi=on&mstat=on&esi=on&estat=on
$SET_PARAMETERS srt=5;  ??msi=on&!mstat=on&esi=on&estat=on
$SET_PARAMETERS srt=7;  ??!msi=on&mstat=on&esi=on&estat=on
$SET_PARAMETERS srt=3;  ??!msi=on&!mstat=on&esi=on&estat=on
[end]

