[parameters]
ReportName=Table "#object_name#" details
service=dubna.walt.service.TableServiceSimple
curr_index_name=xxxxx ??xxx!curr_index_name
debug=off
[end]

[preSQLs]
$INCLUDE [get table name]   ??operation=INDEX|object_type=INDEX
;
$INCLUDE [storage info SQL]
[end]

[get table name]
$SET_PARAMETERS curr_index_name=#object_name#; operation=TABLE ACCESS;     ??!operation=TABLE ACCESS

SELECT table_name as "object_name", owner
FROM sys.dba_indexes
WHERE table_type = 'TABLE'
  AND table_owner = '#object_owner#'
  AND index_name= '#object_name#'
  AND index_type != 'IOT - TOP'
ORDER BY 1
[end]


[storage info SQL]
select
  tablespace_name
  ,to_char(initial_extent/1024,'999G999G990') as INITIAL_EXTENT
  ,to_char(next_extent/1024,'999G999G990') as NEXT_EXTENT
  ,max_extents, pct_increase
  ,to_char(num_rows,'999G999G990') as NUM_ROWS
  ,avg_row_len, partitioned
  ,to_char(last_analyzed,'DD/MM/YYYY HH24:MI') LAST_ANALYZED
FROM sys.dba_all_tables
WHERE
  table_name='#object_name#'
  AND owner ='#object_owner#'
  AND nested <> 'YES'
  AND (iot_type is null or iot_type = 'IOT')
ORDER BY 1
[end]

[report header]
$INCLUDE headers.dat[dd header]
<input type=hidden name="object_name" value="#object_name#">
<input type=hidden name="object_owner" value="#object_owner#">

<table border=1 bgcolor=white cellpadding=5 cellspacing=0 width=100%>
<tr><td class=subtitle>Storage (Tablespace "#TABLESPACE_NAME#"):
</td></tr>
<tr><td bgcolor=ivory>
$CALL_SERVICE c=table_storage
</td></tr>

<tr><td class=subtitle>Indexes:<center>
</td></tr>
<tr><td align=center width=100% bgcolor=ivory>
[end]

[SQL]
SELECT
  decode(index_name,'#curr_index_name#','<b><i>','')|| ??curr_index_name
  index_name "Name"
  , ' index_name='||index_name as COLS
  , NUM_ROWS "##&nbsp;of&nbsp;Rows"
  , initcap(UNIQUENESS)||',&nbsp;'||initcap(INDEX_TYPE)  "Index type"
  , i.owner "Owner"
  , TABLESPACE_NAME "Tablespace"
  ,'<center>'||decode(i.STATUS,'VALID',i.STATUS,'<font color=red><b>'||i.STATUS||'!</b></font>') as "Index<br>status"
  ,'<center>'||decode(o.STATUS,'VALID',o.STATUS,'<font color=red><b>!!!'||o.STATUS||'!!!</b></font>') as "Object<br>status"
FROM sys.dba_indexes i, sys.dba_objects o
WHERE table_type = 'TABLE'
  AND table_owner = '#object_owner#'
  AND table_name = '#object_name#'
  AND index_type != 'IOT - TOP'
  and o.owner(+)=i.owner and o.object_type(+) ='INDEX' and o.object_name(+) = i.index_name
ORDER BY 1
[end]

[ColNames]
COLS=$CALL_SUBSERVICE  c=index_cols; new=y; tag=Columns indexed;
[end]

[report footer]
</td></tr>
<tr><td  class=subtitle>Structure:</td></tr>
<tr><td align=center width=100% bgcolor=ivory>
$CALL_SERVICE c=table_cols
</td></tr>
<tr><td  class=subtitle>Data:</td></tr>
<tr><td width=100% bgcolor=ivory align=center>

$CALL_SERVICE c=sql_exec2; ??SQL_TEXT
$CALL_SERVICE c=sql_exec2; SQL_TEXT===select * from #object_owner#.#object_name#; ??!SQL_TEXT

</form>
 
<script>
window.focus();
function showFunc(index_name,column_position)
{  openWindow("c=index_func&db=#db#&object_owner=#object_owner#"
    +"&index_name="+index_name+"&column_position="+column_position
    , 450, 350, "IndexFunctionDetails");
}
</script>
</body></html>
[end]