[parameters]

[end]

[preSQLs]
$INCLUDE [Storage SQL]   
$INCLUDE [Analize SQL] ??
[end]

[Storage SQL]
SELECT count(partition_name) as NUM_PARTITIONS,
max(partition_name) as LAST_PARTITION
FROM sys.dba_segments
WHERE owner = '#object_owner#'
AND SEGMENT_NAME = '#object_name#'
;
$INCLUDE [partitions SQL] ??LAST_PARTITION

SELECT
  to_char(initial_extent/1024,'999G999G990') INITIAL_EXTENT
  , to_char(next_extent/1024,'999G999G990') NEXT_EXTENT
  , pct_increase
  , min_extents
  , max_extents
  , TABLESPACE_NAME
  , to_char(BYTES/1024,'999G999G990')  as SIZE_KB
  ,EXTENTS
FROM sys.dba_segments
WHERE owner = '#object_owner#'
AND SEGMENT_NAME = '#object_name#'
AND partition_name='#LAST_PARTITION#' ??LAST_PARTITION
;
SELECT to_char(count(*),'999G999G990') as NUM_ROWS FROM #object_owner#.#object_name#;  ??xxxx!NUM_ROWS
[end]

[partitions SQL]
SELECT
  partition_name||', ' as PARTITIONS
FROM sys.dba_segments
WHERE owner = '#object_owner#'
AND SEGMENT_NAME = '#object_name#';
;
[end]

[Analize SQL]
SELECT
  to_char(LAST_ANALYZED,'DD/MM/YYYY') LAST_ANALYZED
  , to_char(num_rows,'999G999G990') as NUM_ROWS
  , AVG_ROW_LEN
FROM sys.dba_tables
WHERE owner = '#object_owner#'
AND table_name = '#object_name#'
[end]


[report]
$INCLUDE table_storage.cfg[partitions] ??LAST_PARTITION
<center><table border=0 cellpadding=0><tr>
<td nowrap=true>Initial extent:<br>Next extent:<br>PCT Increase:</td>
<td nowrap=true><b>#INITIAL_EXTENT# KB<br>#NEXT_EXTENT# KB<br>#PCT_INCREASE# %
</td><td width=3%></td>

<td valign=top nowrap=true>
Extents:  
<br>Max Extents:<br>
Current size:
</td><td valign=top nowrap=true><b>
#EXTENTS#
<br>#MAX_EXTENTS#<br>
#SIZE_KB# KB
</td><td width=3%></td>
<td valign=top nowrap=true>Last analyzed:<br>Number of rows:<br> Avg. row length:</td>
<td valign=top nowrap=true><b>#LAST_ANALYZED#<br>#NUM_ROWS#<br>#AVG_ROW_LEN#</td>
</tr>
</table>
[end]

[partitions]

#object_name# has #NUM_PARTITIONS# partitions: #PARTITIONS#<br>
<b>Information for partition #LAST_PARTITION#:</b>
[end]

