[parameters]
ReportName=SQL Details
service=dubna.walt.service.CommandExecutor
[end]

[commands]
/usr/local/apps/kpi/sudo/oracle_password_wrapper.sh missr ARS ??
/usr/local/apps/kpi/sudo/instance_list_wrapper.sh
[end]


[report header]
$INCLUDE headers.dat[Head]
<BODY BGCOLOR=slategray LINK="000000" VLINK="000000" ALINK="000000" >
<table bgcolor=ivory cellpadding=0 cellspacing=0 width=100%>
<form><tr><td >&nbsp;<img src="#imgPath#spotdb.gif" border=0>
<font color=000080 size=+2><b><i>SpotDB: </i> SQL Details</font>&nbsp;<img src="#imgPath#info.gif" border=0>
</td><td width=25% align=center><input type=button value="  Close  " onClick="window.close();"></td>
</tr></form></table><br>

<table border=1 bgcolor=white cellpadding=5 cellspacing=0 width=100%>
  <tr><td class=subtitle>SQL:</td></tr>
<tr><td>
#SQL#


[end]


[report footer]
</td></tr></table>

</body></html>
[end]