[comments]
descr=Общий набор CSS
[end]

[report]
body {
background-color: ##d0e9FF; ??
background-color: whitesmoke;
font-family: Verdana,Arial,Helvetica,sans-serif; 
margin:0;}

form {margin:0; padding:0;}

--------------- TOP ------------------------??
.top {background-color: ##d0e9FF;}

--------------- JQuery UI, TABS - overwrite standard CSS ------------------------??

.ui-widget {font-size:11pt;}
.ui-state-default, .ui-state-active,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
border: 1px solid ##b0b0b0; border-right: 1px solid ##808080; color: ##000000;} 

.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {FONT-SIZE:11pt;	padding:4px 10px 4px 10px; }
li.ui-tabs-active a {FONT-weight:normal; }
.ui-tabs .ui-tabs-panel { padding:0;}

.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active { background: whitesmoke;	
border: 1px solid white;	??
font-size:11pt;
font-weight: normal;	color: #212121;}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover{ border: 1px solid #999999;
	background: ##fff8e8 url(/dms/js/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	background: #dadada url(/dms/js/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; ?? 
	font-weight: normal; ??
	color: ##212121; ??
}
.ui-helper-reset {line-height: 1;}

.ui-widget input, 
.ui-widget select, 
.ui-widget textarea{
	font-family: Verdana,Arial,sans-serif;
	font-size: 9pt;
}
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 11pt;
}

.cont {background-color: whitesmoke; 
border:solid 1px ##AAAAAA; margin:0 0 0 2px; padding:5px;
border-top:solid 1px gray; border-top-right-radius: 6px;  border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;
} 

##tabs {background: none; border:none; margin:-6px 4px 0 0px;}
##ltabs {background: none; border:none; margin:0;}

------------------------------ Таблицы ----------------------------- ??
td {vertical-align:top; FONT-SIZE: 9pt;}
td.label, table.tlist td.label {text-align:right;}
.oddRow {background-color:##e9f0FF; }
.pcmd, .docrow, .filter { cursor:pointer;  color: ##000080; }

td.pager {background-color:##444490; FONT-SIZE: 9pt;}
td.pager a.page {color:##ffffff; text-decoration: none;}

table.dd_info td {border-bottom:dotted 1px gray; padding:1px 0 1px 4px; font-size:11pt;}
....................... tlist .............................. ??
table.tlist {background-color: ##ffffff; border:solid 1px gray; margin:10px 0 10px 0;}

table.tlist th, table.tlist td {FONT-SIZE: 9pt; border-right:dotted 1px ##b0b0b0; border-bottom:solid 1px ##b0b0b0; padding:3px;} 
table.tlist th {padding-left:6px; padding-right:12px; background-color:##F0F0FF; FONT-SIZE: 10pt; font-weight: normal; color: ##000080;}
table.tlist a {color:##0000a0;} 

table.tlist th.srh {cursor:pointer;} 
table.tlist tr.bg_yellow, table.tlist td.bg_yellow, table.tlist th.bg_yellow {background-color:##FFFFa0; }
.current, table.tlist tr.current, td.current {background-color:##FFFFa0; }

.small, table.tlist td.small, td.small, select.small {FONT-SIZE: 7pt;}
.big, td.big, table.tlist td.big {font-size: 11pt;}
table.tlist th.big {font-size: 12pt;}

table.tlist th.sup, th.sup {background: ##F0F8FF url(/dms/images/sortUp.gif) no-repeat right bottom ; }
table.tlist th.sdown, th.sdown {background: ##F0F8FF url(/dms/images/sortDown.gif) no-repeat right bottom ; }

table.tlist th.MANUAL {background: ##f6d654 url(/dms/images/edit_16.gif); background-repeat: no-repeat;}
.noborder, table.tlist.noborder, table.tlist td.noborder {border:none; margin:0;}
table.noborder td {border-right:none;}
td.nowrap {white-space:nowrap;}
....................... tfiltr .............................. ??
table.tfiltr {display:none; border:solid 1px gray; border-top:none; margin:0 0 0px 0; background-color:white;
border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;} 
table.tfiltr_wrapper {border:none 1px gray; box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);}

table.table_small td {border:none; padding:0px; FONT-SIZE:10pt;} 

table.tlist td.bottom_dotted, td.bottom_dotted {border-bottom:dotted 1px gray;}
td.wf_status, table.tlist td.wf_status {width:7px; height:10px; FONT-SIZE:7pt;}
============================== POP-UP DIALOG =====================?? 
.dialog_overlay {position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		height: 100%; width: 100%;
		margin: 0; padding: 0; background: ##000000;
		opacity: .4; filter: alpha(opacity=40);
    -moz-opacity: .4; z-index: 101;
		display: none;
}


.dialog {display: none; position: absolute; 
width: 60%; height_: 200px; ??
top: 30%; left: 20%; padding: 1px;
background-color: ##ffffff; ??
background-color:whitesmoke;
border: 1px solid #336699; 
border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;
z-index: 102; font-family: Verdana; font-size: 10pt;
}

.dialog_title { border-bottom: solid 2px ##336699; 
background: ##336699 url(/dms/images/head_bg.png) repeat-y right top ; 
padding: 0 0 0 8px; color: white; font-weight:bold;
cursor:default;
}
##popupCont {padding:20px;}

============================== POP-UP СПРАВОЧНИК =====================?? 
##d_sprav_window {width:650px; 
height: 600px;  ??
	position:absolute; 
	top:100px; left:300px;  
	display:none;  
	border:solid 1px gray; 
	background-color:white; z-index=999; 
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
	z-index: 107;
}

##d_spravCont {margin:15px; overflow:auto;} 

.spr_item {cursor:pointer;}

.mark {color:##E00000;}

============================== POP-UP TOOLTIP =====================?? 
##d_tooltip {position:absolute; 
	top:100px; left:300px;  ??
	display:none;  
	border:solid 1px ##a0a080; 
	background-color:##ffffb0; z-index=999; 
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	z-index: 110;
	padding:7px;
	 font-size: 8pt;
}
table.tooltip, table.tooltip td {font-size: 9pt;}
table.tooltip td {border-bottom: solid 1px ##808080;}

----------------- Формы ------------ ??
input.xp, td.xp {border: solid 1px ##000000; color: ##000080; background-color:##ffffff;}
input.xp {font-size: 9pt;}
td.xp {border: solid 1px ##a0a0a0; } 
td.xp {border: solid 1px ##a0a0a0; color: ##000080; background-color:##ffffff;} ??
.norm, select, select.norm, input.norm, textarea.norm {font-size: 9pt;}
textarea { font-family: Arial,Helvetica,sans-serif; font-size: 9pt;}
.info_input {background:##FFFFFF url(/dms/images/info.gif); background-repeat: no-repeat;
  padding: 0 4px 0 20px; border:solid 1px ##808080; cursor:pointer;}
----------------- Кнопки ------------ ??
input.butt1, button.butt1 {background-color: ##e0e0e0; color:##000080; margin-left:6px; 
  font-family: Verdana,?Arial,?sans-serif; font-size: 9pt; 
  border:outset 1px ##aaaaaa; height:22px; cursor:pointer; border-radius: 8px;}
input.bg_yellow {background-color: ##FFFFF8;}
.btn {cursor:pointer; margin:0; vertical-align:top;}

----------------- Общего использования ------------ ??
.right {text-align: right;}
.center {text-align: center;}
.hid {display:none;}
.normal_text {FONT-SIZE: 9pt;}
.error {FONT-SIZE: 10pt; color:red;}

................... Цвет background ................... ??
.gray_border, table.gray_border, td.gray_border {border:solid 1px gray;}
.bg_green, table.tlist tr.bg_green, table.tlist td.bg_green {background-color:##b0FF80; }
.bg_light_blue, table.tlist tr.bg_light_blue, table.tlist td.bg_light_blue {background-color:##c0e0FF; }
.bg_red, table.tlist tr.bg_red, table.tlist td.bg_red {background-color:##FFA060; }
.bg_gray, table.tlist tr.bg_gray, table.tlist td.bg_gray {background-color:##f0f0f0; color:##606060}
.bg_white, th.bg_white, table.tlist th.bg_white {background-color:##FFFFFF;}
.bg_yellow {background-color:##FFFFb0;}
.bg_blue {background-color:##444490;}

.sel, td.sel, table.tlist tr.sel, table.tlist td.sel, table.tlist th.sel, input.butt1.sel {background-color:##F4F4E0; }

.wt, a.wt:link {color:white;}
.pt {cursor:pointer;}
.readonly {background-color:##e0e0e0; }

.UPDATED {background-color:##ffffc0;}
.NEW {background-color:##a0ffa0;}
.DELETED {background-color:##ffc0c0;}
.OLD {background-color:##e0e0e0;}
.MANUAL {background-color: ##d0f0ff; }
.MANDATORY {color:##f00000; font-weight:bold;}

fieldset, ##tabs fieldset {border:dotted 1px ##AAAAAA; background-color_:white; color_: ##000080; }

h2 {FONT-FAMILY: Times, Helvetica, serif; font-size:22pt; display:inline;}
h3 {FONT-FAMILY: font-family: Verdana,Arial,sans-serif; font-size:12pt; display:inline;}
h4 {FONT-FAMILY: font-family: Verdana,Arial,sans-serif; font-size:10pt; display:inline;}

hr {border: 0; height: 1px;
    background: ##808080;
    background-image: linear-gradient(to right, ##c0c0c0, ##808080, ##c0c0c0);
}
[end]

https://css-tricks.com/downloads/
https://css-tricks.com/examples/hrs/ - стили <hr>

table.brothers {width: 100%; border:solid 1px ##336699; margin:0 0 10px 0;}
table.brothers td {vertical-align:top; border-top:solid 1px ##a0a0a0; padding:0 5px 0 5px;}
table.brothers th {background-color: ##ffffff;}


========================================================================
========================================================================
========================================================================
========================================================================
========================================================================
========================================================================

----------------- Кнопки ------------ ??
.bok {padding:0 5px 0 20px; background: url(/dms/images/ok_16.png) no-repeat 6px center ; }
.bdel {padding:0 5px 0 22px; background: url(/dms/images/del_16.png) no-repeat 6px center ; }
.badd {padding:0 5px 0 22px; background: url(/dms/images/add_16.gif) no-repeat 6px center ; }
.bwu {padding:0 5px 0 22px; background: url(/dms/images/task1_16.gif) no-repeat 6px center ; }
.bwbs {padding:0 5px 0 22px; background: url(/dms/images/list1_16_.gif) no-repeat 7px center;}
.bview {padding:0 5px 0 22px; background: url(/dms/images/view_16_.gif) no-repeat 7px center;}
.bedit {padding:0 5px 0 24px; background: url(/dms/images/edit_16.gif) no-repeat 7px center;}
.bcancel {padding:0 5px 0 24px; background: url(/dms/images/cancel_16.gif) no-repeat 7px center;}
.brefresh {padding:0 5px 0 22px; background: url(/dms/images/refresh_16.gif) no-repeat 7px center;}
.bprint {padding:0 5px 0 30px; background: url(/dms/images/printer.gif) no-repeat 7px center;}
button {background-color: ##e0e0e0;}
.b_nica.short {width:110px;}
.b_nica.long {width:155px;}
.b_nica.long2 {width:190px;}
.ba {background-color:##ffffff; }


--------------- UI - Datepick ------------------------??
.datepick-ctrl {background-color: ##444444;}
.datepick-month td .datepick-highlight {background-color: ##ffffff;} ??
.datepick a {font-size:14px;} 
.datepick-cmd {	font-size:10px;} ??
a.datepick-cmd {	font-size: 11px;}
.datepick-month-header select, .datepick-month-header input {
	font-size: 12px;
}


