gateway/process_7_sotrudnik.cfg


[comments]
descr=S: Прием из шлюза сотрудника
input=Command - команда, object - объект в JSON + распарзенные параметры из JSON
output=занесение / пометка удаленным / снятие пометки в таблице info_11
parents=gateway/receive.cfg
author=Куняев
[end]


[description]
<ol>
<li>Проверка наличия параметров в JSON: ТабельныйНомер, ФизЛицоКод, ФИО, ПодразделениеКод.</li>
<li>Проверка наличия записи с id=ТабельныйНомер.</li>
<li>Выделение Ф, И, О из ФИО, занесение в параметры F, I, O</li>

<li>Для команды PutObject:
<ul>
<li>Обновление существующей записи или добавление новой</li>
<li>Возврат в gateway/receive.cfg REC_ID=ТабельныйНомер</li>
</ul>
</li>

<li>Для команды DeleteObject - установка флага is_deleted=1</li>
<li>Для команды UnDeleteObject - установка флага is_deleted=0, выставление ошибки, если запись не найдена</li>
</ul>
</ol>
[end]

[parameters]
request_name=S:Прием сотрудника
LOG=ON
[end]



[report]
$LOG <hr><b>process_7_sotrudnik.cfg</b><br>
$LOG7 object=#Object#;<br> 
$SET_PARAMETERS ERR_CODE=0; ERROR=; 
$SET_PARAMETERS ERR_CODE=0; ERROR=; 
$SET_PARAMETERS ERR_CODE=3; ERROR=Отсутствует ПодразделениеКод;  ??!ПодразделениеКод
$SET_PARAMETERS ERR_CODE=3; ERROR=Отсутствует ПодразделениеКод #ERROR#;  ??!ТабельныйНомер
$INCLUDE [set defaults] ??!ERROR
$SET_PARAMETERS ResultCode=0; Result=Не штат - игнорировано;  ??NON-STAFF=Y&!ERROR
$INCLUDE [process] ??!NON-STAFF=Y&!ERROR
[end]


[set defaults]
$GET_DATA [check non-staff]
$SET_PARAMETERS Command=DeleteObject; Result=Уволен - запись удалена; ??ПричинаУвольнения
[end]

[process]
$SET_PARAMETERS ERROR=Отсутствует ПодразделениеКод; ??!ПодразделениеКод
$SET_PARAMETERS ERROR=Отсутствует ФизЛицоКод; ??!ФизЛицоКод
$SET_PARAMETERS ERROR=Отсутствует ФИО; ??!ФИО
$SET_PARAMETERS ERROR=Отсутствует ТабельныйНомер; ??!ТабельныйНомер

$GET_DATA gateway/process_7_sotrudnik.cfg[check existing record] ??!ERROR
$GET_DATA gateway/process_7_sotrudnik.cfg[getFIO] ??!ERROR
$GET_DATA gateway/process_7_sotrudnik.cfg[delete uvolen]
$INCLUDE [PutObject] ??Command=PutObject&!ERROR
$INCLUDE [DeleteObject] ??Command=DeleteObject
$INCLUDE [UnDeleteObject] ??Command=UnDeleteObject

$SET_PARAMETERS ResultCode=3; Result=#ERROR#; ??ERROR
[end]

[delete uvolen]
delete from p_persons_post where konec < now() - interval 7 day and konec is not null;
[end]


[PutObject] ****** Добавление / обновление записи
$GET_DATA gateway/process_7_sotrudnik.cfg[create record] ??!REC_EXISTS&!ERROR
$GET_DATA gateway/process_7_sotrudnik.cfg[update record] ??!ERROR
$SET_PARAMETERS ResultCode=3; Result=#ERROR#; ??ERROR
[end]


[DeleteObject]   ****** Пометка на удаление
$GET_DATA [mark deleted]  ??!NUM_CHILDREN>0
$SET_PARAMETERS ResultCode=3; Result=#ERROR#; ??ERROR
[end]


[UnDeleteObject]   ****** Снятие пометки на удаление
$SET_PARAMETERS ERROR=Ошибка: сотрудник не найден (ТабельныйНомер: #ТабельныйНомер#); ??!REC_EXISTS
$GET_DATA [unmark deleted]  ??PARENT_EXISTS
$SET_PARAMETERS ResultCode=3; Result=#ERROR#; ??ERROR
[end]

============================================================================
============================================================================
============================================================================

[check non-staff]
select case when '#ТабельныйНомер#' like 'д%' then 'Y' else '' end as "NON-STAFF"
[end]

[check existing record] ****** Поиск существующей записи
select 'Y' as REC_EXISTS, Id as REC_ID from p_persons_post 
where tabnom=#ТабельныйНомер#
[end]

[getFIO1]
select F, replace(fi, f, '') as I  
,REPLACE('#ФИО# ',FI,'') as O

from(
SELECT 
SUBSTRING_INDEX( '#ФИО# ' ,' ',1) as F
,SUBSTRING_INDEX( '#ФИО# ' ,' ',2) as FI
) z
[end]

[getFIO]
select SUBSTRING_INDEX('#ФИО# ', ' ', 1) AS F;
select replace('#ФИО# ', '#F# ','') AS IO;
select SUBSTRING_INDEX('#IO# ', ' ', 1) AS I;
select replace('#IO# ', '#I# ','') AS O;
[end]

============================== PutObject ===================================
[create record]   ****** Добавление записи
select pp.id as pp_id from p_persons pp where pp.kodfizlica = #ФизЛицоКод#;
insert into p_persons_post (
Id
, tabnom
, usl_rab
, dolzhnost_1c
, BERTH
, data_d
, TIP_DEJAT_NAME
, otdel
, otdel_id
, nachalo
, konec
, creator_id
, created
, modifier_id
, modified
, kodfizlica
, USL_RAB_NAME
)
values(
#pp_id# 
0       ??!pp_id
, #ТабельныйНомер#
, #УсловияРаботыКод#
, #ДолжностьКод#
, '#ДолжностьНаименование#'
, STR_TO_DATE('#ДолжностьДата#', '%d.%m.%Y %H:%i:%s') ??ДолжностьДата
, null 												  ??!ДолжностьДата
, '#ТипДеятельности#'
, #ПодразделениеКод#
, #ПодразделениеКод#
, STR_TO_DATE('#ДатаНачалаРаботы#', '%d.%m.%Y %H:%i:%s') ??ДатаНачалаРаботы
, null 													??!ДатаНачалаРаботы
, STR_TO_DATE('#ДатаОкончанияРаботы#', '%d.%m.%Y %H:%i:%s') ??ДатаОкончанияРаботы
, null 													    ??!ДатаОкончанияРаботы
, 0
, now()
, 0 
, now()
, #ФизЛицоКод#
, '#УсловияРаботыНаименование#'
);
[end]
 

[update record] ****** Обновление записи
select pp.id as pp_id from p_persons pp where pp.kodfizlica = #ФизЛицоКод#;
update p_persons_post set 
Id = #pp_id# ??pp_id
Id = 0 ??!pp_id
, tabnom = #ТабельныйНомер#
, usl_rab = #УсловияРаботыКод#
, dolzhnost_1c = #ДолжностьКод#
, BERTH = '#ДолжностьНаименование#'
, data_d =  STR_TO_DATE('#ДолжностьДата#', '%d.%m.%Y %H:%i:%s') ??ДолжностьДата
, data_d = null 												??!ДолжностьДата
, TIP_DEJAT_NAME = '#ТипДеятельности#'
, otdel = #ПодразделениеКод#
, otdel_id = #ПодразделениеКод#
, nachalo = STR_TO_DATE('#ДатаНачалаРаботы#', '%d.%m.%Y %H:%i:%s') ??ДатаНачалаРаботы
, nachalo = null 												   ??!ДатаНачалаРаботы
, konec = STR_TO_DATE('#ДатаОкончанияРаботы#', '%d.%m.%Y %H:%i:%s') ??ДатаОкончанияРаботы
, konec = null 														??!ДатаОкончанияРаботы
, kodfizlica = #ФизЛицоКод#
, modified = now()
, USL_RAB_NAME = '#УсловияРаботыНаименование#'
where tabnom=#ТабельныйНомер#
[end]


============================= DeleteObject ==================================
[mark deleted]  ******* Пометка на удаление
update p_persons_post set is_deleted=1, modified=now() where tabnom=#ТабельныйНомер#
[end]


============================= UnDeleteObject ==================================
[unmark deleted]  ******* Снятие пометки на удаление
update p_persons_post set is_deleted=0, modified=now() where tabnom=#ТабельныйНомер#
[end]
