[comments]
descr=A: Таб "Мониторинг" - вывод списка документов (вывод фильтров и вызов вывода самой таблицы)

input=none
output=HTML документов
parents=admin.cfg
childs=admin/monitor/docs_list_table.cfg
testURL=?c=admin/monitor/docs_list
author:Куняев
[end]

[parameters]
request_name=A:Монитор
KeepLog=false
debug=off
[end]

[report]
++++ временно - открыто всем. Потом - проверить R и RW права пользователя +++ ??
$SET_PARAMETERS RWACC=Y; RACC=Y;
<script>
window.parent.showPageTop(true);
</script>
$INCLUDE [report_]  ??RACC
[end]


[report_]
<div id="monitor_result"> 
#c# ??debug=on
<h4>Документы, находящихся в процессе согласования</h4>
<center>
<fieldset class=ba style="width:70%; white-space:nowrap;"><legend>Фильтры:</legend>
<div class=norm>Тип документов:
<select name=f_type_id class=norm onChange="doSubmit('', 'admin/monitor/docs_list_table');">
    <option value="">все</option>#DOC_TYPES#
</select>
Инициатор: <select name=f_initiator_id class=norm onChange="doSubmit('', 'admin/monitor/docs_list_table');"><option value="">все</option>#INITIATORS#</select>

Искать: <input size=10 name="f_doc_cr_name" value="#f_doc_cr_name#"> &nbsp; 

<input type="submit" class="butt1 pt" style="width:130;" value="Фильтровать" >
</div>
</fieldset>

+++++ Контейнер таблицы +++++ ??
<div id="content_table">=====</div>

</center>
</div> 

+++++ Скрипт возврата результатов в вызывавшую страницу ++++ ??
<script> 
window.parent.getResult("c_monitor", document.getElementById("monitor_result")); 
window.parent.setModule("admin/monitor/docs_list_table"); 
</script>

+++++ Вывод таблицы пользователей (первоначальный вызов) ++++ ??
$CALL_SERVICE c=admin/monitor/docs_list_table; 

[end]

[preSQLs]
select concat('<option value=', cast(id as char), '>', name, '</option>') as DOC_TYPES
from d_types where is_active = 1 order by name
;

select distinct concat('<option value=', cast(h.creator_id as char), '>', u.fio, '</option>') as INITIATORS
from d_list h
left join #table_users_full# u on u.id=h.creator_id
where h.is_active = 1 order by u.fio
;
[end]
