receive_7_sotrudnik.cfg

[parameters]
request_name=S:Прием сотрудника
LOG=ON
[end]

 
[report]
$LOG7 <hr><b>receive_7_sotrudnik.cfg</b><br>object=#Object#;<br> 
$SET_PARAMETERS ERR_CODE=0; ERROR=; 
$SET_PARAMETERS ERROR=Отсутствует ТабельныйНомер; ??!ТабельныйНомер
$SET_PARAMETERS ERROR=Отсутствует ФизЛицоКод; ??!ФизЛицоКод
$SET_PARAMETERS ERROR=Отсутствует ФИО; ??!ФИО

$INCLUDE [setDefaults]
$GET_DATA [check existing record]   ??!ERROR
$GET_DATA [check tabnom]    ??!ERROR&!REC_EXISTS
$INCLUDE [receive]  ??Command=PutObject&!ERROR
$SET_PARAMETERS REC_ID=#SrcObjectID#; ??!ERROR
[end]

[setDefaults]
$SET_PARAMETERS table=gway.СотрудникиОрганизации; TABN_EXISTS=; REC_EXISTS=;
[end]

[receive]
$GET_DATA [insert record]           ??!REC_EXISTS
$GET_DATA [update record]    
[end]

============================================================================
============================================================================
============================================================================

[check existing record]
select 'Y' as REC_EXISTS from #table# where id='#SrcObjectID#' 
[end]

[check tabnom]
select 'Y' as TABN_EXISTS from #table# where ТабельныйНомер='#ТабельныйНомер#'
;
delete from #table# where ТабельныйНомер='#ТабельныйНомер#'  ??TABN_EXISTS
[end]

[insert record]
insert into #table# (КодФизическогоЛица, ID )
values( '#ФизЛицоКод#',  '#SrcObjectID#')
[end]
 

[update record]

update #table# set 
  ТабельныйНомер='#ТабельныйНомер#'
, ФИО='#ФИО#'
, КодФизическогоЛица='#ФизЛицоКод#'
, КодУсловийРаботы='#УсловияРаботыКод#'
, УсловияРаботы='#УсловияРаботыНаименование#'
, ДатаУсловияРаботы=CONVERT(DATETIME, '#УсловияРаботыДата#',104) ??УсловияРаботыДата
, ДатаУсловияРаботы=null ??!УсловияРаботыДата
, КодИсточникаКомплектования='#ИсточникаКомплектованияКод#'
, ИсточникКомплектования='#ИсточникКомплектованияНаименование#'
, КОДДолжности='#ДолжностьКод#'
, Должность='#ДолжностьНаименование#'
, ДатаДолжности=CONVERT(DATETIME, '#ДолжностьДата#',104) ??ДолжностьДата
, ДатаДолжности=null ??!ДолжностьДата

, ТипДеятельности='#ТипДеятельности#'  

, Оклад='#Оклад#'
, ДатаОклада = CONVERT(DATETIME,'#ДатаОклада#',104)  ??ДатаОклада
, ДатаОклада = null  ??!ДатаОклада

, Разряд='#Разряд#'
, КодУсловияТруда='#УсловияТрудаКод#'
, УсловияТруда='#УсловияТрудаНаименование#'
, ДатаУсловийТруда = CONVERT(DATETIME,'#УсловияТрудаДата#',104) ??УсловияТрудаДата
, ДатаУсловийТруда = null ??!УсловияТрудаДата
, КодТарифнойСетки='#ТарифнаяСеткаКод#'
, ТарифнаяСетка='#ТарифнаяСеткаНаименование#'

, ГрафикРаботы='#ГрафикРаботы#'
, ДатаГрафика=CONVERT(DATETIME,'#ДатаГрафика#',104) ??ДатаГрафика
, ДатаГрафика=null ??!ДатаГрафика

, КодПодразделения='#ПодразделениеКод#'
, Подразделение='#ПодразделениеНаименование#'
, ДатаПодразделения=CONVERT(DATETIME,'#ПодразделениеДата#',104) ??ПодразделениеДата
, ДатаПодразделения=null ??!ПодразделениеДата
, ДатаНачалаРаботы=CONVERT(DATETIME,'#ДатаНачалаРаботы#',104) ??ДатаНачалаРаботы
, ДатаНачалаРаботы=null ??!ДатаНачалаРаботы
, ДатаОкончанияРаботы=CONVERT(DATETIME,'#ДатаОкончанияРаботы#',104) ??ДатаОкончанияРаботы
, ДатаОкончанияРаботы=null ??!ДатаОкончанияРаботы
, Пол='#Пол#' 

, ДатаРождения=CONVERT(DATETIME,'#ДатаРождения#',104) ??ДатаРождения
, ДатаРождения=null ??!ДатаРождения

, КодГражданства='#ГражданствоКод#'
, Гражданство='#ГражданствоНаименование#'
, ДатаУвольнения=CONVERT(DATETIME,'#ДатаУвольнения#',104) ??ДатаУвольнения
, ДатаУвольнения=null ??!ДатаУвольнения
, ПричинаУвольнения='#ПричинаУвольнения#'
, КодШтата='#ШтатКод#'
, Штат='#ШтатНаименование#'
, КодСтраны='#СтранаКод#'
, Страна='#СтранаНаименование#'
, ПФР='#ПФР#'
, ИНН='#ИНН#'
, СрокПолномочий=CONVERT(DATETIME,'#СрокПолномочий#', 104) ??СрокПолномочий
, СрокПолномочий=null ??!СрокПолномочий
, УслДатаОк=CONVERT(DATETIME,'#УслДатаОк#', 104) ??УслДатаОк
, УслДатаОк=null ??!УслДатаОк
, КартаСОУТ='#КартаСОУТ#'
, DATE_UPD=GETDATE()

where id='#SrcObjectID#' 
[end]
