[parameters]
title=Док.#DOC_ID#

BUH_ENABLED=Y
$INCLUDE common.dat[colors]
[end]

[report]

$SET_PARAMETERS DOC_TYPE=5; doc_type=5;  ??type=mnts&!doc_type
$SET_PARAMETERS DOC_TYPE=7; doc_type=7;  ??type=nal&!doc_type
$SET_PARAMETERS DOC_TYPE=3; doc_type=3;  ??type=ext&!doc_type
$SET_PARAMETERS noPayment=Y ??type=mnts|type=nal|type=xp
$SET_PARAMETERS DOC_DATE=01.#f_mm#.20#q_yr#  ??!DOC_DATE&type=xp&f_mm
$SET_PARAMETERS REG_MM=#f_mm#; REG_YYYY=20#q_yr#  ??type=xp&f_mm&!REG_MM&!REG_YYYY
$SET_PARAMETERS summa_rub=#summa_curr#; ??curr_code=810
$SET_PARAMETERS ACC_OK=Y; q_yr=13

$INCLUDE common.dat[head]

<style media=print>
input.but {display: none;}
input.button {display: none;} 
a.info:link {text-decoration: none;}
a.info:visited {text-decoration: none;}
a.info:hover {text-decoration: none;}
</style>

<STYLE type=text/css>
  body {margin: 0px;}
	td {vertical-align:top;font-family: Verdana; font-size: 14px;}
</STYLE>
<SCRIPT language=JavaScript src="#jsPath#docEdit.js"></SCRIPT> 
<body bgcolor=f0f8ff>

$GET_DATA doc/docEditSQL.dat[get doc script] ??DOC_ID

$SET_PARAMETERS type=mnts	??DOC_TYPE=5
DOC_TYPE:#DOC_TYPE#; type=#type#; ??

<br><center>
<form name="theForm" method="POST" enctype="multipart/form-data">
<b>№ документа:</b> <input type=text size=10 class=xpc name="DOC_ID" value="#DOC_ID#">
<input type=submit class=but value="Искать">
<input type=hidden name="c" value="#c#">
<input type=hidden name="type" value="#type#">

&nbsp;&nbsp;&nbsp;
<a 
href="#ServletPath#?c=doc/list&type=mnts&top=a" ??logged
href="#ServletPath#" ??!logged 
target=_blank>Полный список документов >></a>
<table bgcolor=gray cellSpacing=1 cellPadding=1><tr><td>
<TABLE border=0 bgcolor=whitesmoke cellSpacing=1 cellPadding=5>

$INCLUDE [block top]
$INCLUDE [block summa]

$INCLUDE [plat info]  ??!type=xp&!noPayment&PLAT_1|PAYED

$INCLUDE [block body]     ??!type=xp&!type=nal&!type=mnts
$INCLUDE [block body xp]  ??type=xp
$INCLUDE [block body NAL] ??type=nal
$INCLUDE [block body MNTS] ??type=mnts

$INCLUDE [block bottom]
$INCLUDE [registr]    ??type=xp&BUH_ENABLED=Y|PLAT_1

</TABLE></td></tr></TABLE>
<span class=small style='background-color:white; padding:4px; border:solid 1px black;'>
Документ зарегистрирован: #CREATOR#, #REG_DATE# 
, изменен: #MODIFIER#, #MODIF_DATE#     ??MODIFIER
<font color=red>Отослан: #SENT_DATE#</font>  ??SENT_DATE
</span>
</form>
$INCLUDE [script]
[end]


======= Блок от начала до "Бюдж.код" и "Сводный док" ====
[block top]
<tr><td bgcolor=white align=center><font color=red><small>
<div id="docStat">
<b><i>ОПЛАЧЕН!</i></b>  ??PLAT_1&DAT_PLAT_1
<b><i>Выписано п/п</i></b>  ??PLAT_1&!DAT_PLAT_1
сохранен: #SAVED_AT#  	 ??SAVED_AT
</div></font></td>
<td colspan=4 bgcolor=white align=left nowrap=true><b>Документ № #DOC_ID# от #REG_DATE# &nbsp; 

$SET_PARAMETERS showParent=y  
<input type=hidden name="PID" value="0">  ??!showParent=y
<br>(Родительский документ: № <a href="#ServletPath#?c=doc/docSearch&DOC_ID=#PID#">#PID#</a>)   ??PID>0
$INCLUDE [setParentReestr]??REESTR_ID
</td></tr>
<tr bgcolor=gray><td width=15%></td><td width=10%></td><td width=20%></td><td width=10%></td><td width=35%></td></tr> ??MSIE=YES

<tr><td class=l nowrap=true>Внешний №<br>Дата:</td><td style="white-space:nowrap;">#EXT_DOC_NR#<br>#DOC_DATE#</td>

<td nowrap=true align=center>
$INCLUDE [selectType]  
</td><td colspan=2>
$INCLUDE [BC_Info]
</td></tr>
$INCLUDE [vidOper] ??type=xp
<tr bgcolor=gray><td colspan=5></td></tr>
[end]

[BC_Info]
Бюджетный код: #BC#<br>
#DIV# (#LAB_CODE#),  ??LAB_CODE&!LAB_CODE=990
#DIV# (010),  ??LAB_CODE&LAB_CODE=990
Тема: #SBJ_CODE# ??SBJ_CODE
$GET_DATA [getPrikaz]
<br>приказ: #PRIKAZ_N#<br><small>#PRIKAZ_DES#</small> ??PRIKAZ_N
<br><b>Сводный документ</b> ??IS_TOTAL
[end]

[setParentReestr]
</b>#REESTR_ID#
<script>
function setParent(id)
{ frm.PID.value=id;
}
</script>
[end]


[vidOper]
<tr><td colspan=5 nowrap=true>
<fieldset style="background-color:white; padding:3; border: solid 1px black;">
<b>&nbsp; Вид операции:</b>
<input readonly type="radio" name="VIDOPER" value="r" onClick=setNazn("r")
checked ??VIDOPER=r
>Заявка &nbsp; | &nbsp;
<input readonly type="radio" name="VIDOPER" value="m" onClick=setNazn("m")
checked ??VIDOPER=m|!VIDOPER
>Материалы 
<input readonly type="radio" name="VIDOPER" value="u" onClick=setNazn("u") 
checked ??VIDOPER=u
>Услуги 
<input readonly type="radio" name="VIDOPER" value="e" onClick=setNazn("e")
checked ??VIDOPER=e
>Взаимозачет &nbsp;
<input readonly type=checkbox name="IS_KREDIT" value='y'
checked ??IS_KREDIT=y
> кредит
</fieldset>
</td></tr>
[end]

[selectType]
Тип: &nbsp;&nbsp;&nbsp; <select name=doc_type onChange="docTypeChanged();"disabled>#DOC_TYPES#</select><br>
[end]


======= Блок от "Сумма (руб)" до "Консолидир. статья" ====
[block summa]
<tr><td nowrap=true class=l>
Сумма: </td><td colspan=3 nowrap=true> 
$INCLUDE [SummaMain] ??SUMMA_CURR
</td><td nowrap=true> 
Статья бюджета: <select name=aggr onChange="setCons();"
disabled><option value=""></option>#AGGRS#</select>
</td>

</tr><tr><td class=l>
расписано:  ??IS_TOTAL
</td><td nowrap=true colspan=4>
 #SUM_CHILDREN# руб. (документов: #NUM_CHILDREN#) ??IS_TOTAL
$INCLUDE [totalDet]	??IS_TOTAL
</td></tr>
<tr bgcolor=gray><td colspan=5></td></tr>
[end]

[SummaMain]
#SUMMA_CURR#
<select name=curr_code disabled>
	<option value="810">руб</option>
	<option value="840">$</option>
	<option value="978">€</option>
	<option value="756">CHF</option>
  	<option value="826">GBP</option>  ??
  </select>
<span id=sum_curr>(
#SUMMA_RUB# руб. &nbsp;   ??!CURR_CODE=810&SUMMA_RUB
#SUMMA_USD# USD  &nbsp;   ??!CURR_CODE=840&SUMMA_USD
#SUMMA_EUR# EUR          ??!CURR_CODE=978&SUMMA_EUR
)</span>
[end]

======= Блок от "Плательщик" до "Комментарий" - общий ====
[block body]
<tr><td class=l nowrap=true>Контрагент:</td><td colspan=3>#RECEIVER#</td>
<td rowspan=3>Комментарий:<br>#COMMENTS#</tr>
$INCLUDE [inn]
<tr><td class=l nowrap=true>Назначение<br>платежа:</td><td colspan=3>#INFO#</td></tr>
<tr bgcolor=gray><td colspan=5></td></tr>
[end]

[inn]
<tr><td class=l nowrap=true>
ИНН контрагента:</td><td colspan=3>#INN_RECEIVER# 
<small>#RECEIVER_C#</small>
</td></tr>
[end]

======= Блок от "Плательщик" до "Комментарий" - Хозрасчет ====
[block body xp]
<tr><td class=l nowrap=true>
Контрагент:</td><td colspan=2>
<select name=dd_receiver onChange="receiverChanged();"><option>#XP_LIST#</select>
&nbsp;&nbsp; код: <input name=receiver_c size=6 class=ro value="#RECEIVER_C#" readonly>
</td>
<td rowspan=4 colspan=2 nowrap=true>
Комментарий:<br>#COMMENTS#</tr>
<tr><td class=l nowrap=true>
ИНН контрагента:</td><td colspan=2>#INN_RECEIVER#</td></tr>
<tr><td class=l nowrap=true>
Назначение<br>платежа:
</td><td colspan=2>#INFO#</td></tr>
<tr bgcolor=gray><td colspan=5></td></tr>
[end]

======= Блок от "Плательщик" до "Комментарий" - Наличный платеж ====
[block body NAL]
<tr><td colspan=4></td><td rowspan=4 nowrap=true>Комментарий:<br>#COMMENTS#</tr>
<tr><td class=l nowrap=true>Кому: </td><td colspan=3>#RECEIVER#</td></tr>
<tr><td class=l nowrap=true>Назначение<br>платежа: </td><td colspan=3>#INFO#</td></tr>
<tr bgcolor=gray><td colspan=5></td></tr>
[end]

======= Блок от "Плательщик" до "Комментарий" - МНТС ====
[block body MNTS]
<tr><td colspan=4></td><td rowspan=4 nowrap=true>Комментарий:<br>#COMMENTS#</tr>
<tr><td class=l nowrap=true>Командируется: </td><td colspan=3>#RECEIVER#</td></tr>
<tr><td class=l nowrap=true>Место и сроки<br> командировки:</td><td colspan=3>#INFO#</td></tr>
<tr bgcolor=gray><td colspan=5></td></tr>
[end]

================= Блок от "Подпись" до "история" ===============
[block bottom]
<tr><td class=l nowrap=true>Подпись:<br><br>
Инициатор:</td><td colspan=4>
<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr><td>#CHIEF_SGN#, #CHIEF_DATE# <span class=small>(Ответств. за бюдж.код)</span></td></tr>

<tr><td><br>#SIGNED# #APPROVAL#</td>
<td align=right nowrap=true><br>
в бухгалтерии ??DAT_BUH
<br>
<img src="#imgPath#question.gif" width=12 height=16> требует уточнения  ??IS_PROBLEM
</td><td align=right>
<br> 

<a href="javascript:showActions();">история:</a>
</td></tr><tr><td></td><td colspan=2>
<div id=actions style="text-align:left; display:none; margin-left:150;"><small>#ACTION_HISTORY#</small></div>
</td></tr></table>
</td></tr>
[end]


===============================================================

[registr]
</td></tr><tr><td bgcolor=gray colspan=5></td></tr>
<tr><td bgcolor=white> </td>
<td bgcolor=white nowrap=true colspan=4>
<b><i> ??PLAT_1
Проведен:</i></b> <input type=checkbox name=prov
checked ??PLAT_1
disabled ??!BUH_ENABLED=Y
>&nbsp;
месяц: <input size=2 class=xpc name="reg_mm" value="#REG_MM#" onChange="setDatPaltXP()">&nbsp;
год: <input size=4 class=xpc name="reg_yyyy" value="#REG_YYYY#" onChange="setDatPaltXP()">&nbsp;

#PLAT_1#

<input type=hidden name="DAT_PLAT_1" value="#DAT_PLAT_1#">
<input type=hidden name="PLAT_1" value="#PLAT_1#"> &nbsp; 
<input type=hidden name="DAT_PLAT_2" value="">
[end]


[plat info]
<tr><td bgcolor=white></td><td nowrap=true style="FONT-SIZE: 10pt; background-color: white; vertical-align: top;" colspan=4>
<b><i>платежное поручение</i></b> 
<a href="javascript:getPlat();"> № #PLAT_1# </a> от #DAT_PLAT_1# дата оплаты:  #PAYED# ??PLAT_1
<br>второе платежное поручение № #PLAT_2# от #DAT_PLAT_2#, дата оплаты:  #DAT_OPL2#  #DAT_PLAT_2#	 ??PLAT_2
<br>оплата по курсу: #RATE# ??RATE
</td></tr>
[end]


[getPrikaz]
select PRIKAZ_ID,PRIKAZ_SN
from bc_#PREV_YR#_#q_yrc#
where code='#BC#'
;
select '<b>'||NUM ||'/#PRIKAZ_SN#</b> от '||	to_char(DAT,'DD.MM.YYY') as "PRIKAZ_N", DES as "PRIKAZ_DES" from i_prikaz where id=#PRIKAZ_ID# ??PRIKAZ_ID
[end]

======================== ПОТОМКИ ========================
[totalDet]
$GET_DATA [getChildNumbers]
<br>
$EXECUTE_LOOP DOC_ID; #CHILDS#; [showChild]
[end]

[showChild]
<br><a href="#ServletPath#?c=doc/docSearch&DOC_ID=#DOC_ID#"><b>#DOC_ID#:</b></a>
$SET_PARAMETERS IS_TOTAL=;
$GET_DATA doc/docEditSQL.dat[get doc script] ??DOC_ID
$GET_DATA [getPrikaz]
$INCLUDE [BC_Det_Info]
<br>
#SUMMA_CURR#
руб.  ??CURR_CODE=810
USD   ??CURR_CODE=840
EUR          ??CURR_CODE=978
<small>(
#SUMMA_RUB# руб.   ??!CURR_CODE=810&SUMMA_RUB
#SUMMA_USD# USD   ??!CURR_CODE=840&SUMMA_USD
#SUMMA_EUR# EUR          ??!CURR_CODE=978&SUMMA_EUR
) Статья бюджета: #AGGR#</small><br>
[end]

[BC_Det_Info]
#DIV# (#LAB_CODE#),  ??LAB_CODE
Тема: #SBJ_CODE# ??SBJ_CODE
(#BC#)
$GET_DATA [getPrikaz]
<br>приказ: #PRIKAZ_N# <small>#PRIKAZ_DES#</small> ??PRIKAZ_N
<br><b>Сводный документ</b> ??IS_TOTAL
[end]

[getChildNumbers]
select ','||doc_id as "CHILDS" from docs where pid=#DOC_ID#
[end]

===============================================================================

[preSQLs]
select to_char(sysdate,'dd.mm.yy hh24:mi') as NOW from dual
;
select to_char(REG_DATE,'YY') as "q_yrc" from docs where doc_id=#DOC_ID#; ??DOC_ID
select to_char(#q_yrc#-1,'00') as "PREV_YR" from dual ??q_yrc
;

SELECT inn as "inn_receiver", name_short as "receiver" FROM i_kontragent WHERE code='#receiver_c#' ??receiver_c&!inn_receiver
;
[end]

[script]
<script>

window.focus();

frm=document.theForm;
aggr_to_cons="#AGGR_TO_CONS#";

selectOptionByVal(frm.doc_status,'#DOC_STATUS#')  ??DOC_STATUS
selectOptionByVal(frm.doc_type,'#DOC_TYPE#')   ??DOC_TYPE

selectOptionByVal(frm.cons,'#CONS#')  ??CONS
selectOptionByVal(frm.aggr,'#AGGR#')  ??AGGR
selectOptionByVal(frm.curr_code,'#CURR_CODE#') ??CURR_CODE
selectOptionByVal(frm.dd_receiver,'#RECEIVER_C#')  ??RECEIVER_C&type=xp
selectOptionByVal(frm.dd_receiver,'#f_contr#'); receiverChanged();  ??!RECEIVER_C&type=xp

showPrixod(); ??PRIX_STORE|PRIX_MOL|PRIX_NAKL#|PRIX_DAT

try { frm.cld.disabled=true; } catch (e) {} ??!IS_TOTAL

function getPlat()
{ openWindow("c=plat/plat&docno=#PLAT_1#", "plat", 800,650);
}

</script>
</center></body></HTML>
[end]

