[parameters]
debug=off
LOG=ON
$INCLUDE menu.cfg[tables] 
[end]



[BcInfoSQL]
SELECT b.CODE as BC, b.name_short
  ,replace(decode (b.prikaz_id, null,'', 'пр.'||z.num||' от '||to_char(z.dat,'DD.MM.YYYY')||', '||z.des||', ')
   ||nvl(b.DES,''),'"','`')
  as DES
   , b.des ??
   , r.NAME_SHORT as DIR
   , b.LAB_CODE, l.DIV, b.SBJ_CODE, b.DEV_CODE, b.status
  ,decode (b.prikaz_id, null,'', z.num||'/'||b.prikaz_sn) as "PRIKAZ"
	, decode(b.RAZD_NR,1,'',2,'БУ',3,'инфр',4,'ИНФР',5,'ВНЕБ.') as "RAZD"
	,	case when not b.PRIKAZ_ID is null and z.ISBUDGET=1 then 'P'
	when not b.PRIKAZ_ID is null and z.ISBUDGET=0 then 'V'
	else '' end as SRC
	, extract(year from z.dat) as PRIKAZ_YEAR
FROM 
	bc b
	left join i_lab l on l.code=b.LAB_CODE
	left join #table_tree# r on r.id = b.root_id
	left join i_prikaz z on z.id=b.prikaz_id
 , i_lab l, #table_tree# r, i_prikaz z ??
WHERE b.code=#BC#
	and l.code(+)=b.LAB_CODE	and r.id(+) = b.root_id  and b.prikaz_id=z.id(+) ??
	and ROWNUM=1
;

select tab_n||',' as RESPS from i_resp where bc=#BC#
;

select 
 '<br>&nbsp; * <a class=sm href=''javascript:pasteResponsible(`'
 ||tab_n||'`,`'||initcap(F)||'`)''>'
 ||trim(initcap(FIO))||'</a>' as RESP 
from i_persons
where tab_n IN()'#RESPS#''-1'
order by FIO
;
[end]

 '<br>&nbsp; * <a class=sm href="javascript:pasteResponsible('''
 ||tab_n||''','''||initcap(F)||''')">'


[report]
<html><body bgcolor=whitesmoke>
$SET_PARAMETERS BC=; ??BC=nu
$GET_DATA [BcInfoSQL] ??BC
$LOG +++ getBcInfo: BC="#BC#"; #DIR#, #DIV# (#LAB_CODE#), Тема: #SBJ_CODE#, #DES#, #RESP#<br>  
$LOG RESP="#RESP#"; ??
#DIR#, ??DIR
#DIV# (#LAB_CODE#),  ??LAB_CODE
Тема: #SBJ_CODE#,<br> ??SBJ_CODE
#DES# ??DES
#RESP#  ??RESP

<script>
try{ 
var txt= " "
 + "<div class='SRC_#SRC#'>" ??SRC
 + "#DIR#," ??DIR
 + " #DIV# (#LAB_CODE#),"   ??LAB_CODE
 + " Тема: #SBJ_CODE#," ??SBJ_CODE
 + "<br><b>#DES#</b>"   ??DES
 + "#RESP#"
 + "</div>"    ??SRC
;
alert ('#BC# /' + txt + ': #LAB_CODE#; DOC_YR="#DOC_YR#"'); ??
window.parent.pasteBcInfo(txt, '#LAB_CODE#'); ??BC
} catch (e) 
{ 
 alert (e);  
} 
</script>
</body></html>
[end]