[parameters]
service=dubna.walt.service.TableServiceSpecial ??ready<10
debug=off
KeepLog=false
tableCfg=this
wrapperTable=none
table_beg=none
table_end=none
wrapperTableEnd=none
ROOT_ID=0
thsnDelimiter=&nbsp;
$INCLUDE menu.cfg[tables] 
[end]

[report]
$INCLUDE [report header]
$INCLUDE [report footer]
[end]

[report header]
$PRINT ===== i_getProjectTreeSelect: id=#id#; currId=#currId#; TYP=#TYP#;  PID=#PID#; prev=#prev#; ready=#ready#;
$SET_PARAMETERS PREV_LEV=0
$INCLUDE [firstMsg]  ??ready<10
<div id="sidetree_s" style="margin-left:-10px;">
<div id="ptree" style="height:500px; overflow:auto;">
<ul id="trees">
[end]


[item]
</ul></li> ??LEV<#PREV_LEV#
</ul></li> ??LEV2<#PREV_LEV#
	<li id="lip#ID#"	
	class="open"  ??LEV=0
	>
	<input type=checkbox class=brth name="prv" id=#ID#>   ??LEV>1&TYP=WU
	<div id="np#ID#" class="cp c#LEV#">
	#TIT#</div> 
	<ul id="chp#ID#">	??NUM_CHILDREN>0
	</li> ??NUM_CHILDREN=0
$SET_PARAMETERS PREV_LEV=#LEV#
[end]


[report footer]
</ul></div>

<div id="pts_buttons" style="text-align:center;">
<input class="b_nica bok short" type=button value="Сохранить" onClick="savePrev(#id#,'#prev#');"> 
<input class="b_nica bcancel short" type=button value="Отмена" onClick="HideDialog();">
<input class="b_nica brefresh" type=button value="Обновить дерево" onClick="changePrev('#id#', '#prev#', true);">
</div>

</div></div>

$PRINT =====ZZZ i_getProjectTreeSelect-2: id=#id#; TYP=#TYP#;  NPID=#NPID#; 

<script type="text/javascript">
window.parent.setElement("popupCont", "");  ??ready<10
window.parent.getResult("popupTree", document.getElementById("sidetree_s"));  ??ready<10
window.parent.getResult("pts_buttons", document.getElementById("pts_buttons"));  ??!ready<10
window.parent.setTreeS(); 	??ready<10
window.parent.setPrevCB("#prev_ids#");
window.parent.$("##chp0").show(); 
window.parent.centerDialog(); ??!prev_ids
</script>
$CALL_SERVICE c=nica/i_expandPath;  prj_id=#prev_pids#; prev=p; ??prev_ids
$CALL_SERVICE c=nica/i_expandPath;  prj_id=#PID#; prev=p; ??!prev_ids
[end]

[firstMsg]
<div id="firstMsg" style="padding:30px; background-color:white; cursor:wait;">
<center><h3>Начальная загрузка всей структуры проекта</h3><br>
<img src="#imgPath#wait.gif" width="48" height="48" border="0"><br><br>
Извините, эта операция займет несколько секунд.<br>
В следующий раз структура проекта будет отображена быстро.</center>
</div>
<script type="text/javascript">
window.parent.setElement("popupCont", document.getElementById("firstMsg").outerHTML);
</script>
[end]


========================================================
[preSQLs]
select PID from nica_wu where id=#id#;
select ','||prev_id as "prev_ids" from nica_links where id=#id#  ??id&prev
select ','||id as "prev_ids" from nica_links where prev_id=#id#  ??id&!prev
;
select ','||pid as "prev_pids" from nica_wbs_wu where id in(0#prev_ids#)  ??prev_ids
;
select substr('#prev_ids#',2) as "prev_ids", substr('#prev_pids#',2) as "prev_pids"  from dual ??prev_ids
;
[end]

[SQL]
select ID, pid, LEV, lev+1 as LEV2, TYP, NUM_CHILDREN, code||': '||title as TIT
, to_number(replace(replace(code ,'.','') ,'X','')) as "SORT"
from nica_wbs_wu

where active>0
connect by prior id=pid
start with id=0
ORDER SIBLINGS BY SORT
ORDER SIBLINGS BY  order_in_level ??
[end]

