[parameters]
service=jinr.adb.ServiceDocSend
CmdMapR=net use R: \\admfs.jinr.ru\data\upr\ppo reg04 /USER:admfs\plo
CmdUnMapR=net use R: /delete

[end]

http://www.dubna.ru/includes/weather/temperature_24h_0.png


[preSQLs]
try: delete from data_out where doc_id=#doc_id#;

try: INSERT into data_out
(DOC_ID,EXT_DOC_NR,DOC_DATE,DOC
 ,BC,CONT_BC
 ,CHIEF_SGN, CHIEF_CODE, CHIEF_DATE
 ,APPROVAL, APPROVAL_C, APPROVAL_D

 ,RECEIVER,RECEIVER_C, INN
 ,INFO,COMMENT,SUMMA,C_CODE
 ,LAB_CODE,SBJ_CODE,DEV_CODE, DATE_MOD, TIME_MOD)
 
SELECT
DOC_ID,EXT_DOC_NR, DOC_DATE,DOC
 ,BC,CONT_BC
 ,CHIEF_SGN, CHIEF_CODE, CHIEF_DATE
 ,APPROVAL, APPROVAL_C, APPROVAL_D

 ,RECEIVER,RECEIVER_C, INN
 ,INFO,COMMENT,SUMMA,C_CODE
 ,LAB_CODE,SBJ_CODE,DEV_CODE, format(now(),'dd.mm.yy'), format(now(),'hh:MM:ss')
FROM ADB_ASU_LINK
WHERE doc_id=#doc_id#;

try: select count(doc_id) as NUM_SENT from data_out where doc_id=#doc_id#;
[end]


[mark document]
update docs set SENT=SYSDATE where doc_id=#doc_id#; ??NUM_SENT=1
$SET_PARAMETERS msg=Ошибка отсылки документа!; ERR_SEND=Y ??!NUM_SENT=1
$SET_PARAMETERS msg=Документ отослан; ??NUM_SENT=1
;
[end]

[report]
$GET_DATA [mark document]
#msg# (#NUM_SENT#)
[end]