[parameters]
service=jinr.adb.ServiceDocGet
CmdMapR=net use R: \\admfs.jinr.ru\data\upr\ppo reg04 /USER:admfs\plo
CmdUnMapR=net use R: /delete
debug=on
SqlProcedure1={call UPDATE_PAYED}
SqlProcedure2={call GET_PAYED}
SqlProcedure3={call SET_CHILDREN_PAYED}
[end]

===========================================================
===== Получение информации из 1С об оплате документов =====

====== ЧТО ДЕЛАЕМ: ========

0) коннектим диск R:

1) коннектимся к ASU-LINK.MDB - в нем прицеплены таблицы ORACLE (PPO)
  и r:\REGSTRBN.DBF ( admfs\data\upr )

2) Получаем кол-во записей (NUM_NEW_DOCS) в REGSTRBN
  и список номеров документов (NEW_IDS)
  
3) Удаляем из adb_docs_payed эти документы

4) Записываем в adb_docs_payed все из REGSTRBN

5) коннектимся к ORACLE (PPO или ADB2)

6) Запускаем в ORACLE процедуру UPDATE_PAYED (из java - ServiceDocGet)
   Эта процедура:
    - сохраняет изначальные записи из DOCS в DOCS_ARCH 
    - обновляет таблицу DOCS на основе DOCS_PAYED
    - или добавляет записи из DOCS_PAYED в DOCS, 
      если таких там по какой-то причине не было

7) Запускаем в ORACLE процедуру GET_PAYED (из java - ServiceDocGet)
   Эта процедура:
    - метит в DOCS документы, номера которых есть в выписках, 
      но которые по какой-то причине не попали в REGSTRBN

8) Запускаем в ORACLE процедуру SET_CHILDREN_PAYED (из java - ServiceDocGet)
   Эта процедура:
    - выбирает оплаченных родителей, у которых есть
      неоплаченные дети
    - проставляет номер платежки и дату детям
    

9) Чистим REGSTRBN (все удаляем), 
   если не предыдущих шагах не было ошибок

10) отключаем диск R:
===========================================================


[preSQLs]
select count(doc_id) as NUM_NEW_DOCS from data_in ;
select doc_id&', ' as NEW_IDS from data_in;
$INCLUDE [get new docs] ??NEW_IDS
[end]

[get new docs]
delete from adb_docs_payed where doc_id in (#NEW_IDS#0); ??

insert into adb_docs_payed (	
	DOC_ID,DOC_CODE,EXT_DOC_NR,DOC_DATE
	 ,BC ??
	,CHIEF_SGN,CHIEF_CODE,CHIEF_DATE
	,APPROVAL,APPROVAL_C,APPROVAL_DATE
	,RECEIVER,RECEIVER_C,INN_RECEIVER,INFO
	,SUMMA_CURR,CURR_CODE,RATE
	,PLAT_1,DAT_PLAT_1,DAT_OPL1
	,PLAT_2,DAT_PLAT_2,DAT_OPL2
)	
select 	DOC_ID,DOC_CODE,EXT_DOC_NR,iif(len(doc_date)=8,cDate(doc_DATE),null)
 ,BC ??
	,CHIEF_SGN,CHIEF_CODE,iif(len(chief_date)=8,cDate(CHIEF_DATE),null)
	,APPROVAL,APPROVAL_C,iif(len(APPROVAL_D)=8,cDate(APPROVAL_D),null)
	,RECEIVER,RECEIVER_C,INN,INFO
	,SUMMA,C_CODE,RATE
	,PLAT_1,iif(len(DAT_PLAT_1)=8,cDate(DAT_PLAT_1),null),iif(len(DAT_OPL1)=8,cDate(DAT_OPL1),null)
	,PLAT_2,iif(len(DAT_PLAT_2)=8,cDate(DAT_PLAT_2),null),iif(len(DAT_OPL2)=8,cDate(DAT_OPL2),null)
from data_in	
;
[end]

[purge data_in]
delete from data_in; 
[end]

[report]
<blockquote>
<b>Прием информации об оплаченных документах...<p></b>
Имеется #NUM_NEW_DOCS# новых записей<br>
документы №№: #NEW_IDS#
$SET_PARAMETERS GET_DATA_ERROR=#GET_DATA_ERROR#<br>#PLSQL_ERROR# ??PLSQL_ERROR
<table bgcolor=FFFFC0><tr><td>#GET_DATA_ERROR#</td></tr></table> ??GET_DATA_ERROR
[end]

[report footer]
$GET_DATA [purge data_in] ??!PLSQL_ERROR&!GET_DATA_ERROR
<form>
$SET_PARAMETERS GET_DATA_ERROR=#GET_DATA_ERROR#<br>#PLSQL_ERROR# ??PLSQL_ERROR
<table bgcolor=FFFFC0><tr><td>#GET_DATA_ERROR#</td></tr></table> ??GET_DATA_ERROR
<input class=but type="button" value="Закрыть" onClick="window.close();">
</form><hr>
<script>window.opener='_';  window.close(); </script>  ??autoclose=y
[end]
